Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

bootloader: Add inter-image dependencies in nRF53
  doc/nrf/releases/release-notes-changelog.rst
  modules/mcuboot/CMakeLists.txt
  subsys/bootloader/Kconfig
Labels: doc-required

samples: nrf9160: modem_shell: non-offloading build fix
  samples/nrf9160/modem_shell/overlay-non-offloading.conf
  samples/nrf9160/modem_shell/sample.yaml
Labels: none

zigbee: Allow for using USB logs in NCP
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/ncp/src/main.c
  subsys/zigbee/osif/zb_nrf_serial_logger.c
Labels: doc-required

samples: nrf9160: modem_shell: fix device reboot after FOTA download
  samples/nrf9160/modem_shell/src/fota/fota.c
Labels: none

applications: asset_tracker_v2: Fix issues suggested by static analysis
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec.c
  applications/asset_tracker_v2/src/modules/sensor_module.c
Labels: none

lib: nrf_modem: do not unlock mutex in `recv` if no mutex
  lib/nrf_modem_lib/nrf91_sockets.c
Labels: none

lib: nrf_modem: increase trace heap default size in sync mode
  lib/nrf_modem_lib/Kconfig.modemlib
Labels: none

lib: nrf_modem: remove dedicated and unused workqueue for heap dumps
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: none

lib: nrf_modem: select `REQUIRES_FULL_LIBC`
  lib/nrf_modem_lib/Kconfig
Labels: none

lib: nrf_modem: fix _sem_take() impl
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: none

manifest: nrf_modem v2.0.0
  applications/serial_lte_modem/src/main.c
  applications/serial_lte_modem/src/slm_at_host.c
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  doc/nrf/releases/release-notes-changelog.rst
  ext/curl/lib/url.h
  include/modem/nrf_modem_lib.h
  lib/at_host/Kconfig
  lib/nrf_modem_lib/Kconfig.modemlib
  lib/nrf_modem_lib/nrf91_sockets.c
  lib/nrf_modem_lib/nrf_modem_lib.c
  lib/nrf_modem_lib/nrf_modem_lib_trace.c
  lib/nrf_modem_lib/nrf_modem_os.c
  samples/nrf9160/at_client/src/main.c
  samples/nrf9160/aws_fota/src/main.c
  samples/nrf9160/coap_client/src/main.c
  samples/nrf9160/gnss/src/main.c
  samples/nrf9160/http_update/common/src/update.c
  samples/nrf9160/lte_ble_gateway/prj.conf
  samples/nrf9160/lte_ble_gateway/src/main.c
  samples/nrf9160/lwm2m_carrier/src/main.c
  samples/nrf9160/modem_shell/src/shell.c
  samples/nrf9160/mqtt_simple/src/main.c
  west.yml
Labels: manifest, doc-required

lib: nrf_modem: change log module to `nrf_modem` in `nrf_modem_os.c`
  lib/nrf_modem_lib/nrf_modem_lib.c
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: none

lib: nrf_modem_lib_trace: allow re-initialization
  include/modem/nrf_modem_lib_trace.h
  lib/nrf_modem_lib/nrf_modem_lib_trace.c
  lib/nrf_modem_lib/nrf_modem_lib_trace_sync.c
  lib/nrf_modem_lib/nrf_modem_os.c
  tests/lib/modem_trace/modem_trace_rtt/src/modem_trace_test.c
  tests/lib/modem_trace/modem_trace_uart/src/modem_trace_test.c
Labels: none

lib: nrf_modem: update Kconfig help text
  lib/nrf_modem_lib/Kconfig.modemlib
Labels: none

lib: nrf_modem: move Kconfig entry
  lib/nrf_modem_lib/Kconfig
  lib/nrf_modem_lib/Kconfig.modemlib
Labels: none

lib: nrf_modem: update log code
  lib/nrf_modem_lib/nrf_modem_lib.c
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: none

partition_manager: Align dependencies on size definition with inclusion
  subsys/partition_manager/CMakeLists.txt
  subsys/partition_manager/Kconfig
  subsys/partition_manager/pm.yml.file_system
Labels: none

tfm: Configure storage partitions as non-secure with TF-M enabled
  boards/arm/thingy91_nrf9160/pm_static.yml
  modules/tfm/tfm/boards/partition/flash_layout.h
  modules/tfm/tfm/boards/partition/region_defs.h
  modules/tfm/zephyr/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
  subsys/partition_manager/Kconfig.template.partition_size
  subsys/partition_manager/pm.yml.emds
  subsys/partition_manager/pm.yml.file_system
  subsys/partition_manager/pm.yml.memfault
  subsys/partition_manager/pm.yml.nvs
  subsys/partition_manager/pm.yml.pgps
  subsys/partition_manager/pm.yml.settings
  subsys/partition_manager/pm.yml.tfm
  subsys/partition_manager/pm.yml.zboss
Labels: none

samples: matter: added missing doxygen comment
  samples/matter/common/src/ota_util.h
Labels: none

samples: matter: Updated Matter version to pull bug fixes
  applications/matter_weather_station/src/app_task.cpp
  samples/matter/common/src/ota_util.cpp
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/lock/src/app_task.cpp
  samples/matter/window_covering/src/app_task.cpp
  west.yml
Labels: manifest

samples: matter: increase the nrf5_rx stack size
  doc/nrf/links.txt
  samples/matter/light_bulb/prj.conf
  samples/matter/light_bulb/prj_no_dfu.conf
  samples/matter/light_bulb/prj_release.conf
  samples/matter/light_switch/prj.conf
  samples/matter/light_switch/prj_no_dfu.conf
  samples/matter/light_switch/prj_release.conf
  samples/matter/lock/prj.conf
  samples/matter/lock/prj_no_dfu.conf
  samples/matter/lock/prj_release.conf
  samples/matter/template/prj.conf
  samples/matter/template/prj_no_dfu.conf
  samples/matter/template/prj_release.conf
  samples/matter/window_covering/prj.conf
  samples/matter/window_covering/prj_no_dfu.conf
  samples/matter/window_covering/prj_release.conf
  west.yml
Labels: manifest, doc-required

samples: matter: make sure the qspi is enabled during smp dfu
  samples/matter/common/src/dfu_over_smp.cpp
  samples/matter/common/src/ota_util.cpp
  samples/matter/common/src/ota_util.h
Labels: none

samples: matter: changed sed intervals for window covering to 500 ms.
  samples/matter/window_covering/src/chip_project_config.h
Labels: none

tfm: Kconfig: Increase crypto heap when using RSA on cc3xx
  modules/trusted-firmware-m/Kconfig
Labels: none

nvs: pull change that adds NVS cache
  west.yml
Labels: manifest

applications: Remove static analysis bugs
  applications/nrf_desktop/src/modules/ble_qos.c
  samples/edge_impulse/data_forwarder/src/main.c
Labels: none

bluetooth: rpc: Fixes after moving to zcbor
  doc/nrf/libraries/bluetooth_services/rpc.rst
  subsys/bluetooth/rpc/client/bt_rpc_conn_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gatt_client.c
  subsys/bluetooth/rpc/common/bt_rpc_common.c
  subsys/bluetooth/rpc/host/bt_rpc_gap_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gatt_host.c
  subsys/bluetooth/rpc/host/bt_rpc_internal_host.c
Labels: doc-required

cmake: add toolchain version verification
  share/ncs-package/cmake/NcsConfig.cmake
Labels: none

applications: asset_tracker_v2: Fix issues suggested by static analysis
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec.c
  applications/asset_tracker_v2/src/modules/sensor_module.c
Labels: none

applications: Remove static analysis bugs
  applications/nrf_desktop/src/modules/ble_qos.c
  samples/edge_impulse/data_forwarder/src/main.c
Labels: none

lib: nrf_modem: increase trace heap default size in sync mode
  lib/nrf_modem_lib/Kconfig.modemlib
Labels: none

lib: nrf_modem: remove dedicated and unused workqueue for heap dumps
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: none

lib: nrf_modem: update Kconfig help text
  lib/nrf_modem_lib/Kconfig.modemlib
Labels: none

lib: nrf_modem: update log code
  lib/nrf_modem_lib/nrf_modem_lib.c
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: none

lib: nrf_modem: move Kconfig entry
  lib/nrf_modem_lib/Kconfig
  lib/nrf_modem_lib/Kconfig.modemlib
Labels: none

lib: nrf_modem: select `REQUIRES_FULL_LIBC`
  lib/nrf_modem_lib/Kconfig
Labels: none

lib: nrf_modem: change log module to `nrf_modem` in `nrf_modem_os.c`
  lib/nrf_modem_lib/nrf_modem_lib.c
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: none

lib: nrf_modem: fix _sem_take() impl
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: none

lib: nrf_modem_lib_trace: allow re-initialization
  include/modem/nrf_modem_lib_trace.h
  lib/nrf_modem_lib/nrf_modem_lib_trace.c
  lib/nrf_modem_lib/nrf_modem_lib_trace_sync.c
  lib/nrf_modem_lib/nrf_modem_os.c
  tests/lib/modem_trace/modem_trace_rtt/src/modem_trace_test.c
  tests/lib/modem_trace/modem_trace_uart/src/modem_trace_test.c
Labels: none

lib: nrf_modem: do not unlock mutex in `recv` if no mutex
  lib/nrf_modem_lib/nrf91_sockets.c
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
