Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

manifest: Zephyr upmerge with OpenThread changes
  west.yml
Labels: manifest

samples: nrf9160: location: wifi overlay: tx/rx wiring changed
  samples/nrf9160/location/esp_8266_nrf9160ns.overlay
Labels: none

samples: openthread: adjust logging options to logger v2
  samples/openthread/cli/overlay-logging.conf
  samples/openthread/coap_client/overlay-logging.conf
  samples/openthread/coap_server/overlay-logging.conf
  samples/openthread/coprocessor/overlay-logging.conf
  subsys/net/openthread/Kconfig.defconfig
Labels: none

doc: adjust Thread logging info to logger v2
  doc/nrf/ug_thread_configuring.rst
Labels: doc-required

Kconfig: fix default ESB interrupt priorities
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: event_manager_proxy: Add icmsg backend configuration
  doc/nrf/releases/release-notes-changelog.rst
  samples/event_manager_proxy/CMakeLists.txt
  samples/event_manager_proxy/Kconfig
  samples/event_manager_proxy/README.rst
  samples/event_manager_proxy/aci/CMakeLists.txt
  samples/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp_icmsg.conf
  samples/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp_icmsg.overlay
  samples/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp_remote.cmake
  samples/event_manager_proxy/common_events/CMakeLists.txt
  samples/event_manager_proxy/modules/CMakeLists.txt
  samples/event_manager_proxy/prj_icmsg.conf
  samples/event_manager_proxy/remote/CMakeLists.txt
  samples/event_manager_proxy/remote/boards/nrf5340dk_nrf5340_cpunet_icmsg.overlay
  samples/event_manager_proxy/remote/prj.conf
  samples/event_manager_proxy/remote/prj_icmsg.conf
  samples/event_manager_proxy/sample.yaml
  samples/event_manager_proxy/zephyr/module.yml
Labels: doc-required

doc: matter: update docs for CHIP Tool
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_matter_configuring.rst
  doc/nrf/ug_matter_configuring_controller.rst
  doc/nrf/ug_matter_configuring_env.rst
  samples/matter/lock/README.rst
Labels: doc-required

Zigbee weather station app: fix initial values
  applications/zigbee_weather_station/src/main.c
Labels: none

samples: matter: Disabled autostart BLE+NFC advertising
  samples/matter/light_switch/README.rst
  samples/matter/light_switch/configuration/nrf21540dk_nrf52840/prj.conf
  samples/matter/light_switch/configuration/nrf21540dk_nrf52840/prj_release.conf
  samples/matter/light_switch/configuration/nrf52840dk_nrf52840/prj.conf
  samples/matter/light_switch/configuration/nrf52840dk_nrf52840/prj_no_dfu.conf
  samples/matter/light_switch/configuration/nrf52840dk_nrf52840/prj_release.conf
  samples/matter/light_switch/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  samples/matter/light_switch/configuration/nrf5340dk_nrf5340_cpuapp/prj_no_dfu.conf
  samples/matter/light_switch/configuration/nrf5340dk_nrf5340_cpuapp/prj_release.conf
Labels: doc-required

doc: matter: update mandatory config list
  doc/nrf/ug_matter_configuring_protocol.rst
Labels: doc-required

net: lib: lwm2m_client_utils: Report RSRP and RSRQ as dBm
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_connmon.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/neighbour_cell_info.c
Labels: none

samples: nrf9160: location: increase AT monitor heap size
  samples/nrf9160/location/prj.conf
Labels: none

samples: nrf9160: multicell_location: increase AT monitor heap size
  samples/nrf9160/multicell_location/prj.conf
Labels: none

doc: matter: update memory footprint doc
  doc/nrf/app_memory.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

lib: agps: remove deprecated library
  CODEOWNERS
  doc/nrf/libraries/networking/nrf_cloud_pgps.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/agps.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/agps/CMakeLists.txt
  lib/agps/Kconfig
  lib/agps/agps.c
Labels: doc-required

drivers: gps: remove deprecated driver
  applications/asset_tracker_v2/tests/gnss_module/prj.conf
  doc/nrf/drivers/gps.rst
  doc/nrf/releases/release-notes-1.6.0.rst
  doc/nrf/releases/release-notes-1.7.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  drivers/CMakeLists.txt
  drivers/Kconfig
  drivers/gps/CMakeLists.txt
  drivers/gps/Kconfig
  drivers/gps/gps_sim/CMakeLists.txt
  drivers/gps/gps_sim/Kconfig
  drivers/gps/gps_sim/gps_sim.c
  drivers/gps/nrf9160_gps/CMakeLists.txt
  drivers/gps/nrf9160_gps/Kconfig
  drivers/gps/nrf9160_gps/nrf9160_gps.c
  include/drivers/gps.h
Labels: doc-required

application: serial_lte_modem: #XCMNG for credentials
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/doc/TCPIP_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/src/slm_at_commands.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: nrf9160: lwm2m_client: Fix location assistance overlays
  samples/nrf9160/lwm2m_client/overlay-assist-agps.conf
  samples/nrf9160/lwm2m_client/overlay-assist-cell.conf
Labels: none

manifest: update Find My revision
  west.yml
Labels: manifest

CAF: sensor_manager: Rename Event Manager API
  include/caf/events/sensor_data_aggregator_event.h
  samples/caf_sensor_manager/prj.conf
  samples/caf_sensor_manager/src/main.c
  samples/caf_sensor_manager/src/modules/sensor_sim_ctrl.c
  samples/caf_sensor_manager/src/modules/workload_sim.c
  subsys/caf/events/sensor_data_aggregator_event.c
  subsys/caf/modules/sensor_data_aggregator.c
Labels: none

CAF: sensor_manager: Add sensor manager sample
  doc/nrf/releases/release-notes-changelog.rst
  samples/caf_sensor_manager/CMakeLists.txt
  samples/caf_sensor_manager/Kconfig
  samples/caf_sensor_manager/README.rst
  samples/caf_sensor_manager/app.overlay
  samples/caf_sensor_manager/configuration/common/sensor_manager_def.h
  samples/caf_sensor_manager/configuration/common/sensor_sim_ctrl.h
  samples/caf_sensor_manager/configuration/common/sensor_sim_ctrl_def.h
  samples/caf_sensor_manager/prj.conf
  samples/caf_sensor_manager/sample.yaml
  samples/caf_sensor_manager/src/main.c
  samples/caf_sensor_manager/src/modules/Kconfig
  samples/caf_sensor_manager/src/modules/sensor_sim_ctrl.c
  samples/caf_sensor_manager/src/modules/workload_sim.c
  subsys/caf/events/sensor_data_aggregator_event.c
Labels: doc-required

samples: nrf9160: MQTT Multi-Service Sample
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf_cloud.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/CMakeLists.txt
  samples/nrf9160/nrf_cloud_mqtt_multi_service/Kconfig
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/boards/thingy91_nrf9160_ns.overlay
  samples/nrf9160/nrf_cloud_mqtt_multi_service/prj.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/sample.yaml
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/application.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/application.h
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.h
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/fota_support.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/fota_support.h
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.h
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/main.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/temperature.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/temperature.h
Labels: doc-required

application: serial_lte_modem: Support multiple sockets
  applications/serial_lte_modem/doc/DFU_AT_commands.rst
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_socket.c
  applications/serial_lte_modem/src/slm_defines.h
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

manifest: update homekit revision
  west.yml
Labels: manifest

samples: openthread: Change default logging level in coprocessor
  samples/openthread/coprocessor/overlay-logging.conf
Labels: none

samples: nrf9160: MQTT Multi-Service Sample
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf_cloud.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/CMakeLists.txt
  samples/nrf9160/nrf_cloud_mqtt_multi_service/Kconfig
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/boards/thingy91_nrf9160_ns.overlay
  samples/nrf9160/nrf_cloud_mqtt_multi_service/prj.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/sample.yaml
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/application.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/application.h
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.h
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/fota_support.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/fota_support.h
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.h
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/main.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/temperature.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/temperature.h
Labels: doc-required

manifest: update Find My revision
  west.yml
Labels: manifest

manifest: update homekit revision
  west.yml
Labels: manifest

samples: openthread: Adding CI overlay for cli sample.
  samples/openthread/cli/overlay-ci.conf
  samples/openthread/cli/sample.yaml
Labels: none

bluetooth: samples: Fix double buffer releasing
  samples/bluetooth/central_uart/src/main.c
  samples/bluetooth/peripheral_uart/src/main.c
Labels: none

changelog: Update changelog with Bluetooth samples changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

bluetooth: samples: Add debug logs in the Central UART
  samples/bluetooth/central_uart/src/main.c
  samples/bluetooth/peripheral_uart/src/main.c
Labels: none

bluetooth: samples: Fix double buffer releasing
  samples/bluetooth/central_uart/src/main.c
  samples/bluetooth/peripheral_uart/src/main.c
Labels: none

bluetooth: samples: Add debug logs in the Central UART
  samples/bluetooth/central_uart/src/main.c
  samples/bluetooth/peripheral_uart/src/main.c
Labels: none

changelog: Update changelog with Bluetooth samples changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

doc: nrf: releases add ipc service entry to release notes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

application: serial_lte_modem: Support multiple sockets
  applications/serial_lte_modem/doc/DFU_AT_commands.rst
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_socket.c
  applications/serial_lte_modem/src/slm_defines.h
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

codeowners: reassigns for nRF Cloud firmware
  CODEOWNERS
Labels: none

doc: scripts: Software Maturity Report Generation
  doc/_scripts/software_maturity/requirements.txt
  doc/_scripts/software_maturity/software_maturity_features.yaml
  doc/_scripts/software_maturity/software_maturity_scanner.py
Labels: doc-required

samples: nrf9160: lwm2m_client: Rename timstamp to timestamp
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_push_button.c
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
