Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

applications: nrf5340_audio: Fix bug in bis_gateway
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
Labels: none

applications: nrf5340_audio: Use fork of sdk-zephyr
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
  west.yml
Labels: manifest

applications: nrf5340_audio: Minor fixes related to rebase
  applications/nrf5340_audio/prj.conf
  applications/nrf5340_audio/src/audio/audio_system.c
  applications/nrf5340_audio/src/main.c
Labels: none

applications: nrf5340_audio: Stop aborting encoder thread on pause (#19)
  applications/nrf5340_audio/src/audio/audio_system.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/utils/data_fifo.c
  applications/nrf5340_audio/src/utils/data_fifo.h
Labels: none

applications: nrf5340_audio: Fix bug in hw_codec_volume_adjust() (#18)
  applications/nrf5340_audio/src/modules/hw_codec.c
Labels: none

applications: nrf5340_audio: Restructure usage of configs (#21)
  applications/nrf5340_audio/Kconfig
  applications/nrf5340_audio/Kconfig.defaults
  applications/nrf5340_audio/overlay-debug.conf
  applications/nrf5340_audio/overlay-gateway.conf
  applications/nrf5340_audio/overlay-headset.conf
  applications/nrf5340_audio/overlay-release.conf
  applications/nrf5340_audio/prj.conf
  applications/nrf5340_audio/prj_release.conf
  applications/nrf5340_audio/src/audio/Kconfig
  applications/nrf5340_audio/src/audio/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/CMakeLists.txt
  applications/nrf5340_audio/src/bluetooth/Kconfig
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  applications/nrf5340_audio/src/modules/Kconfig
  applications/nrf5340_audio/src/modules/Kconfig.defaults
  applications/nrf5340_audio/src/utils/Kconfig
  applications/nrf5340_audio/src/utils/Kconfig.defaults
  applications/nrf5340_audio/tools/buildprog/buildprog.py
Labels: none

applications: nrf5340_audio: Re-introduce VCS in BAP implementation (#20)
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/ble_audio_services.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
Labels: none

applications: nrf5340_audio: Change DRFT_STATE to DRIFT_STATE (#25)
  applications/nrf5340_audio/src/audio/audio_datapath.c
Labels: none

applications: nrf5340_audio: Update controller to version 3287
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3269.hex
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3287.hex
  applications/nrf5340_audio/bin/manifest.yaml
Labels: none

applications: nrf5340_audio: Update sdu_ref for CIS I2S gateway (#17)
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
Labels: none

bluetooth: fast_pair: Depend on system workq priority in fp_keys
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_keys.c
Labels: none

doc: update documentation for NCS 1.9.2
  doc/nrf/dm_adding_code.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-1.9.2.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

manifest: update nrfxlib revision
  west.yml
Labels: manifest

manifest: update nrfxlib revision
  west.yml
Labels: manifest

applications: Asset_Tracker_v2: Use PDN events instead of CEREG notifs
  applications/asset_tracker_v2/prj.conf
  applications/asset_tracker_v2/src/modules/Kconfig.modem_module
  applications/asset_tracker_v2/src/modules/modem_module.c
Labels: none

doc: update documentation for NCS 1.9.2
  doc/nrf/dm_adding_code.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-1.9.2.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

manifest: update manifest file with 1.9.2 tags
  west.yml
Labels: manifest

version: Update VERSION to 1.9.2
  VERSION
Labels: none

manifest: update manifest file with 1.9.2 tags
  west.yml
Labels: manifest

manifest: update homekit revision
  west.yml
Labels: manifest

doc: add versions and fix conf.py
  doc/nrf/conf.py
  doc/versions.json
Labels: doc-required

modem_info: json_add_obj check for memory error
  lib/modem_info/modem_info_json.c
Labels: none

upmerge: Auto upmerge test
  west.yml
Labels: manifest

doc: add versions and fix conf.py
  doc/nrf/conf.py
  doc/versions.json
Labels: doc-required

doc: software_maturity: add entries for HomeKit
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required

applications: asset_tracker_v2: Use low power modes for ADXL362.
  applications/asset_tracker_v2/boards/thingy91_nrf9160_ns.overlay
Labels: none

doc: update docs to fix deployment
  doc/nrf/releases/release-notes-1.9.2.rst
Labels: doc-required

doc: update docs to fix deployment
  doc/nrf/releases/release-notes-1.9.2.rst
Labels: doc-required

application: serial_lte_modem: BUG-FIX DFU file size
  applications/serial_lte_modem/doc/DFU_AT_commands.rst
  applications/serial_lte_modem/src/dfu/slm_at_dfu.c
  applications/serial_lte_modem/src/slm_at_commands.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

Bluetooth: HCI events and data will now be pulled from the same queue
  subsys/bluetooth/controller/hci_driver.c
  subsys/bluetooth/controller/hci_internal.c
  subsys/bluetooth/controller/hci_internal.h
Labels: none

manifest: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest

lib: nrf_modem: trace: fix assert on apply_state for uart1 pinctrl.
  lib/nrf_modem_lib/trace_backends/uart/uart.c
  lib/nrf_modem_lib/trace_backends/uart/uart_sync.c
  tests/lib/nrf_modem_lib/trace_backends/uart/prj.conf
Labels: none

tests: lib: at_sms_cert: remove wait for network registration
  tests/lib/at_sms_cert/src/main.c
Labels: none

manifest: update homekit revision
  west.yml
Labels: manifest

manifest: Update with tags for NCS v2.0.1
  west.yml
Labels: manifest

lib: nrf_modem: trace: fix assert on apply_state for uart1 pinctrl.
  lib/nrf_modem_lib/trace_backends/uart/uart.c
  lib/nrf_modem_lib/trace_backends/uart/uart_sync.c
  tests/lib/nrf_modem_lib/trace_backends/uart/prj.conf
Labels: none

application: serial_lte_modem: BUG-FIX DFU file size
  applications/serial_lte_modem/doc/DFU_AT_commands.rst
  applications/serial_lte_modem/src/dfu/slm_at_dfu.c
  applications/serial_lte_modem/src/slm_at_commands.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

modem_info: json_add_obj check for memory error
  lib/modem_info/modem_info_json.c
Labels: none

VERSION: Update to 2.0.1
  VERSION
Labels: none

manifest: openthread upmerge up to commit `2ce3d3b`
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_prebuilt_libs.rst
  doc/nrf/ug_thread_supported_features.rst
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: manifest, doc-required
