Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

lib: multicell_location: Separate config for REST client usage
  lib/multicell_location/Kconfig
Labels: none

tests: lib: location: Add Unity tests
  tests/lib/location/CMakeLists.txt
  tests/lib/location/Kconfig
  tests/lib/location/prj.conf
  tests/lib/location/src/location_test.c
  tests/lib/location/testcase.yaml
Labels: none

lib: location: Change method_gnss_event_handler to non-static
  lib/location/method_gnss.c
Labels: none

lib: ltelc: Initialize system mode variables
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc_helpers.c
Labels: none

doc: known_issues: Add NCSDK-15724
  doc/nrf/known_issues.rst
Labels: doc-required

lib: pdn: use `SCNd8` format specifier to scan the PDN ID
  lib/pdn/pdn.c
Labels: none

applications: asset_tracker_v2: Default coredump storage to RAM
  applications/asset_tracker_v2/doc/debug_module.rst
  applications/asset_tracker_v2/overlay-memfault.conf
  doc/nrf/known_issues.rst
Labels: doc-required

zigbee: Fix typos in samples, tests and subsys
  applications/zigbee_weather_station/README.rst
  samples/zigbee/light_bulb/src/main.c
  samples/zigbee/light_switch/src/main.c
  samples/zigbee/network_coordinator/src/main.c
  samples/zigbee/shell/sample.yaml
  samples/zigbee/shell/src/main.c
  samples/zigbee/template/src/main.c
  subsys/zigbee/Kconfig
  subsys/zigbee/lib/zigbee_shell/include/zigbee_shell_ping_types.h
  subsys/zigbee/lib/zigbee_shell/include/zigbee_shell_utils.h
  subsys/zigbee/lib/zigbee_shell/include/zigbee_shell_zcl_types.h
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_bdb.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_nbr.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_ping.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_zdo.c
  subsys/zigbee/osif/zb_nrf_async_serial.c
  subsys/zigbee/osif/zb_nrf_platform.c
  subsys/zigbee/osif/zb_nrf_pwr_mgmt.c
  tests/subsys/zigbee/osif/serial/serial_basic_api/src/main.c
Labels: doc-required

bootloader: Add nrf52833dk_nrf52833 to some sample.yml and testcase.yml
  samples/bootloader/sample.yaml
  tests/subsys/bootloader/bl_crypto/testcase.yaml
  tests/subsys/bootloader/bl_validation/testcase.yaml
Labels: none

test_spec: rs: run tests on changes to nrf_rpc
  .github/test-spec.yml
Labels: none

lib: multicell_location: Location parameters from float to double
  include/net/multicell_location.h
Labels: none

CODEOWNERS: lib location test
  CODEOWNERS
Labels: none

samples: nrf9160: lte_ble_gateway: update doc
  samples/nrf9160/lte_ble_gateway/README.rst
Labels: doc-required

bluetooth: fast_pair: Propagate settings set error in fp_storage
  subsys/bluetooth/services/fast_pair/fp_storage.c
Labels: none

application: serial_lte_modem: Add GNSS sleep/wakeup URC
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

lib: pdn: use `SCNd8` format specifier to scan the PDN ID
  lib/pdn/pdn.c
Labels: none

ci: Delay jenkins pull request webhook
  .github/workflows/jenkins-trigger.yml
Labels: none

manifest: Update to nrfxlib PR 722
  west.yml
Labels: manifest

doc: known_issues: Add NCSDK-15675
  doc/nrf/known_issues.rst
Labels: doc-required

manifest: update Zephyr revision
  west.yml
Labels: manifest

doc: software_maturity: collapsible tables
  doc/nrf/conf.py
  doc/nrf/software_maturity.rst
  scripts/requirements-doc.txt
Labels: doc-required

lib: nrf_modem: updates
  include/modem/nrf_modem_lib.h
  lib/nrf_modem_lib/nrf91_sockets.c
  lib/nrf_modem_lib/nrf_modem_lib.c
Labels: none

lib: pdn: add `pdn_esm_strerror()`
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/pdn.h
  lib/pdn/CMakeLists.txt
  lib/pdn/Kconfig
  lib/pdn/esm.c
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/link/link_shell_pdn.c
  samples/nrf9160/pdn/CMakeLists.txt
  samples/nrf9160/pdn/prj.conf
  samples/nrf9160/pdn/src/main.c
Labels: doc-required

manifest: Update to nrfxlib PR 722
  west.yml
Labels: manifest

CODEOWNERS: lib location test
  CODEOWNERS
Labels: none

esb: fix CRC setup configuration
  doc/nrf/releases/release-notes-changelog.rst
  subsys/esb/esb.c
Labels: doc-required

samples: Rename testcases
  applications/serial_lte_modem/sample.yaml
Labels: none

bluetooth: fast_pair: Propagate settings set error in fp_storage
  subsys/bluetooth/services/fast_pair/fp_storage.c
Labels: none

samples: Add building of newlib_libc configuration for two samples
  samples/crypto/sha256/sample.yaml
  samples/keys/random_hw_unique_key/sample.yaml
Labels: none

manifest: Update zephyr
  west.yml
Labels: manifest

lib: pdn: add `pdn_esm_strerror()`
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/pdn.h
  lib/pdn/CMakeLists.txt
  lib/pdn/Kconfig
  lib/pdn/esm.c
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/link/link_shell_pdn.c
  samples/nrf9160/pdn/CMakeLists.txt
  samples/nrf9160/pdn/prj.conf
  samples/nrf9160/pdn/src/main.c
Labels: doc-required

manifest: update Zephyr revision
  west.yml
Labels: manifest

manifest: trusted-firmware-m compatebility changes
  west.yml
Labels: manifest

doc: Add an NFC section in the memory optimization guide.
  doc/nrf/app_memory.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

Dummy change in jenkinsfile for testing
  Jenkinsfile
Labels: none

samples: Rename testcases
  applications/serial_lte_modem/sample.yaml
Labels: none

applications: asset_tracker_v2: Enable CBOR encoding for SENML
  applications/asset_tracker_v2/overlay-lwm2m.conf
Labels: none

drivers: mpsl: clock: Add dependencies to CLOCK_CONTROL_MPSL
  drivers/mpsl/clock_control/Kconfig
Labels: none

modules: memfault: Don't request IMEI when DEVICE_INFO_CUSTOM
  modules/memfault-firmware-sdk/memfault_integration.c
Labels: none

doc: add doc building process page
  doc/nrf/doc_build_process.rst
  doc/nrf/documentation.rst
  doc/nrf/links.txt
Labels: doc-required
