Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

samples: Add building of newlib_libc configuration for two samples
  samples/crypto/sha256/sample.yaml
  samples/keys/random_hw_unique_key/sample.yaml
Labels: none

bluetooth: gatt_dm: Add additional guard in discovery_callback
  subsys/bluetooth/gatt_dm.c
Labels: none

doc: Fixes for the changelog
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

github: disable tf-m oss-history check
  .github/workflows/oss-history.yml
Labels: none

mpsl: fem: Align with MPSL FEM API changes
  subsys/mpsl/fem/mpsl_fem.c
Labels: none

github: disable tf-m oss-history check
  .github/workflows/oss-history.yml
Labels: none

esb: fix CRC setup configuration
  doc/nrf/releases/release-notes-changelog.rst
  subsys/esb/esb.c
Labels: doc-required

ncs_commands: detect west v0.13
  scripts/west_commands/ncs_commands.py
Labels: none

gitignore: ignore `.idea` CLion workspace dir
  .gitignore
Labels: none

doc: fast_pair: Allow hiding UI indication
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_fast_pair/README.rst
Labels: doc-required

added changes to main
  applications/nrf5340_audio/src/main.c
Labels: none

manifest: Update to TF-M 1.6 and MBedTLS 3.1.0
  modules/tfm/tfm/boards/CMakeLists.txt
  west.yml
Labels: manifest

tests: crypto: Update ECDH context access pattern
  tests/crypto/test_cases/test_ecdh.c
Labels: none

tfm: Increase MSP_INIT stack when writing hardware unique key in init
  modules/tfm/tfm/boards/partition/region_defs.h
Labels: none

doc: gs: add debugging section to Testing an app
  doc/nrf/gs_testing.rst
  doc/nrf/includes/build_and_run.txt
  doc/nrf/includes/build_and_run_nrf9160.txt
  doc/nrf/includes/build_and_run_ns.txt
  doc/nrf/includes/config_build_and_run.txt
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf5340.rst
  samples/bluetooth/direct_test_mode/README.rst
  samples/bluetooth/peripheral_uart/README.rst
Labels: doc-required

samples: lwm2m: Conformance tests require TLV
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-core-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-object-interop.conf
Labels: none

doc: Fixes for the changelog
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

doc: gs: add debugging section to Testing an app
  doc/nrf/gs_testing.rst
  doc/nrf/includes/build_and_run.txt
  doc/nrf/includes/build_and_run_nrf9160.txt
  doc/nrf/includes/build_and_run_ns.txt
  doc/nrf/includes/config_build_and_run.txt
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf5340.rst
  samples/bluetooth/direct_test_mode/README.rst
  samples/bluetooth/peripheral_uart/README.rst
Labels: doc-required

applications: asset_tracker_v2: Enable CBOR encoding for SENML
  applications/asset_tracker_v2/overlay-lwm2m.conf
Labels: none

doc: Add an NFC section in the memory optimization guide.
  doc/nrf/app_memory.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: lwm2m: Conformance tests require TLV
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-core-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-object-interop.conf
Labels: none

bluetooth: fast_pair: Describe discoverable advertising limitation
  doc/nrf/libraries/bluetooth_services/services/fast_pair.rst
  doc/nrf/ug_bt_fast_pair.rst
Labels: doc-required

mpsl: fem: Align with MPSL FEM API changes
  subsys/mpsl/fem/mpsl_fem.c
Labels: none

bluetooth: fast_pair: Describe discoverable advertising limitation
  doc/nrf/libraries/bluetooth_services/services/fast_pair.rst
  doc/nrf/ug_bt_fast_pair.rst
Labels: doc-required

caf: sensor_data_aggregator: fix module log config name
  subsys/caf/modules/sensor_data_aggregator.c
Labels: none

esb: fix ESB_CRC_OFF configuration
  subsys/esb/esb.c
Labels: none

tests: caf: sensor_data_aggregator: add sensor_data_aggregator unit test
  CODEOWNERS
  doc/nrf/releases/release-notes-changelog.rst
  tests/subsys/caf/sensor_data_aggregator/CMakeLists.txt
  tests/subsys/caf/sensor_data_aggregator/app.overlay
  tests/subsys/caf/sensor_data_aggregator/prj.conf
  tests/subsys/caf/sensor_data_aggregator/src/events/CMakeLists.txt
  tests/subsys/caf/sensor_data_aggregator/src/events/test_events.c
  tests/subsys/caf/sensor_data_aggregator/src/events/test_events.h
  tests/subsys/caf/sensor_data_aggregator/src/main.c
  tests/subsys/caf/sensor_data_aggregator/src/modules/CMakeLists.txt
  tests/subsys/caf/sensor_data_aggregator/src/modules/test_basic.c
  tests/subsys/caf/sensor_data_aggregator/src/modules/test_config.h
  tests/subsys/caf/sensor_data_aggregator/src/modules/test_data_receiver.c
  tests/subsys/caf/sensor_data_aggregator/testcase.yaml
Labels: doc-required

caf: sensor_data_aggregator: turn on kconfig if dts node exists
  samples/caf_sensor_manager/boards/nrf5340dk_nrf5340_cpuapp_nrf5340_singlecore.conf
  samples/caf_sensor_manager/prj.conf
  samples/caf_sensor_manager/remote/prj.conf
  subsys/caf/modules/Kconfig.sensor_data_aggregator
  tests/subsys/caf/sensor_data_aggregator/prj.conf
Labels: none

tfm: Increase MSP_INIT stack when writing hardware unique key in init
  modules/tfm/tfm/boards/partition/region_defs.h
Labels: none

manifest: Update to TF-M 1.6 and MBedTLS 3.1.0
  modules/tfm/tfm/boards/CMakeLists.txt
  west.yml
Labels: manifest

tests: crypto: Update ECDH context access pattern
  tests/crypto/test_cases/test_ecdh.c
Labels: none

tests: app_event_manager: Clean up OOM error handling
  tests/subsys/app_event_manager/CMakeLists.txt
  tests/subsys/app_event_manager/prj.conf
  tests/subsys/app_event_manager/src/events/test_events.h
  tests/subsys/app_event_manager/src/main.c
  tests/subsys/app_event_manager/src/modules/test_basic.c
  tests/subsys/app_event_manager/src/modules/test_config.h
  tests/subsys/app_event_manager/src/modules/test_data.c
  tests/subsys/app_event_manager/src/modules/test_multicontext.c
  tests/subsys/app_event_manager/src/modules/test_multicontext_config.h
  tests/subsys/app_event_manager/src/modules/test_multicontext_handler.c
  tests/subsys/app_event_manager/src/modules/test_oom.c
  tests/subsys/app_event_manager/src/modules/test_oom.h
  tests/subsys/app_event_manager/src/modules/test_subs.c
  tests/subsys/app_event_manager/src/utils/test_event_allocator.c
  tests/subsys/app_event_manager/src/utils/test_event_allocator.h
Labels: none

manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest

ncs_commands: support west v0.13
  scripts/west_commands/ncs_commands.py
Labels: none

application: serial_lte_modem: Support socket receive flags
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_socket.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

matter: pull fix for including SED intervals
  west.yml
Labels: manifest

application: serial_lte_modem: Support socket receive flags
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_socket.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

application: serial_lte_modem: Support multiple PDN in Socket
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_socket.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: Rename integration tests
  samples/bluetooth/peripheral_hids_mouse/sample.yaml
  samples/crypto/sha256/sample.yaml
  samples/matter/light_switch/sample.yaml
  samples/openthread/cli/sample.yaml
Labels: none

application: serial_lte_modem: Support multiple PDN in Socket
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_socket.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
