Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

samples: nrf9160: modem_shell: cloud: web ui: send capabilities
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/CMakeLists.txt
  samples/nrf9160/modem_shell/src/cloud/cloud_shell.c
Labels: doc-required

doc: Thread: explain variants in memory requirements tables
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_ot_memory.rst
Labels: doc-required

samples: modem_shell: Disable modem traces before disabling UART1
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/src/uart/uart.c
  samples/nrf9160/modem_shell/src/uart/uart_shell.c
Labels: doc-required

applications: nrf5340_audio: Update codeowners
  CODEOWNERS
Labels: none

applications: nrf5340_audio: Set random static address
  applications/nrf5340_audio/src/bluetooth/ble_core.c
  applications/nrf5340_audio/src/bluetooth/ble_hci_vsc.h
Labels: none

applications: nrf5340_audio: Change OpCode for LED_PIN_MAP
  applications/nrf5340_audio/src/bluetooth/ble_core.c
  applications/nrf5340_audio/src/bluetooth/ble_hci_vsc.h
Labels: none

application: serial_lte_modem: BUG-FIX SMS init
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_sms.c
Labels: none

application: serial_lte_modem: GNSS service update
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: none

samples: nrf9160: modem_shell: location: GNSS location to cloud
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/src/location/CMakeLists.txt
  samples/nrf9160/modem_shell/src/location/location_cmd_utils.c
  samples/nrf9160/modem_shell/src/location/location_cmd_utils.h
  samples/nrf9160/modem_shell/src/location/location_shell.c
Labels: doc-required

application: serial_lte_modem: BUG-FIX SMS init
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_sms.c
Labels: none

samples: modem_shell: Disable modem traces before disabling UART1
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/src/uart/uart.c
  samples/nrf9160/modem_shell/src/uart/uart_shell.c
Labels: doc-required

doc: Thread: explain variants in memory requirements tables
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_ot_memory.rst
Labels: doc-required

doc: zigbee: add FOTA info to nRF52 SoC UG
  doc/nrf/ug_nrf52.rst
Labels: doc-required

event_manager_proxy: Repeat IPC transmission on failure
  subsys/event_manager_proxy/Kconfig
  subsys/event_manager_proxy/event_manager_proxy.c
Labels: none

doc: Added VSC to bootloader sample doc
  samples/bootloader/README.rst
Labels: doc-required

mgmt: fmfu: Move to zcbor
  subsys/mgmt/fmfu/src/fmfu_mgmt.c
Labels: none

applications: nrf5340_audio: Replace BT_ISO_CONNECTED
  applications/nrf5340_audio/src/bluetooth/ble_trans.c
Labels: none

manifest: Update west.yml with upmerge changes
  west.yml
Labels: manifest

caf: power_manager: Replace CONFIG_PM_POLICY_APP
  subsys/caf/modules/Kconfig.power_manager
Labels: none

Samples: Bluetooth: Update authentication callbacks
  samples/bluetooth/central_and_peripheral_hr/src/main.c
  samples/bluetooth/central_bas/src/main.c
  samples/bluetooth/central_hids/src/main.c
  samples/bluetooth/central_nfc_pairing/src/main.c
  samples/bluetooth/central_uart/src/main.c
  samples/bluetooth/peripheral_ams_client/src/main.c
  samples/bluetooth/peripheral_ancs_client/src/main.c
  samples/bluetooth/peripheral_bms/src/main.c
  samples/bluetooth/peripheral_cts_client/src/main.c
  samples/bluetooth/peripheral_gatt_dm/src/main.c
  samples/bluetooth/peripheral_hids_keyboard/src/main.c
  samples/bluetooth/peripheral_hids_mouse/src/main.c
  samples/bluetooth/peripheral_lbs/src/main.c
  samples/bluetooth/peripheral_nfc_pairing/src/main.c
  samples/bluetooth/peripheral_rscs/src/main.c
  samples/bluetooth/peripheral_uart/src/main.c
  samples/bluetooth/shell_bt_nus/src/main.c
  samples/openthread/coap_client/src/ble_utils.c
  samples/zigbee/light_switch/src/nus_cmd.c
Labels: none

net: lib: rest_client: Rename body_start to body_frag_start
  subsys/net/lib/rest_client/src/rest_client.c
Labels: none

application: serial_lte_modem: Rename body_start
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
Labels: none

util: Replace UTIL_LISTIFY with LISTIFY
  applications/nrf5340_audio/src/bluetooth/ble_trans.c
  include/caf/led_effect.h
  subsys/caf/modules/sensor_data_aggregator.c
  subsys/dfu/dfu_target/src/dfu_target_mcuboot.c
  subsys/partition_manager/flash_map_partition_manager.c
Labels: none

event_manager: Include order change to avoid redefinition warning
  subsys/caf/modules/ble_smp.c
Labels: none

boards: arm: nrf52810dmouse_nrf52810: Switch to PINCTRL
  boards/arm/nrf52810dmouse_nrf52810/nrf52810dmouse_nrf52810-pinctrl.dtsi
  boards/arm/nrf52810dmouse_nrf52810/nrf52810dmouse_nrf52810.dts
  boards/arm/nrf52810dmouse_nrf52810/nrf52810dmouse_nrf52810_defconfig
Labels: none

boards: nrf52820dongle_nrf52820: Switch to PINCTRL
  boards/arm/nrf52820dongle_nrf52820/nrf52820dongle_nrf52820.dts
  boards/arm/nrf52820dongle_nrf52820/nrf52820dongle_nrf52820_defconfig
Labels: none

samples: Bluetooth: df: Replace BT_CTLR_LLCP_PROC_CTX_BUF_NUM
  samples/bluetooth/direction_finding_central/boards/nrf52833dk_nrf52820.conf
  samples/bluetooth/direction_finding_central/boards/nrf52833dk_nrf52833.conf
  samples/bluetooth/direction_finding_central/child_image/hci_rpmsg.conf
  samples/bluetooth/direction_finding_peripheral/boards/nrf52833dk_nrf52820.conf
  samples/bluetooth/direction_finding_peripheral/boards/nrf52833dk_nrf52833.conf
  samples/bluetooth/direction_finding_peripheral/child_image/hci_rpmsg.conf
Labels: none

samples: caf: Convert board overlays to PINCTRL
  samples/caf/boards/nrf52840dk_nrf52840.overlay
  samples/caf/boards/nrf5340dk_nrf5340_cpuapp.overlay
Labels: none

samples: bluetooth: throughput: disable hw flow control
  samples/bluetooth/throughput/dts.overlay
Labels: none

modules: Remove zcbor module configuration
  modules/Kconfig
  modules/modules.cmake
  modules/zcbor/CMakeLists.txt
  modules/zcbor/Kconfig
Labels: none

tests/subsys/zigbee: Convert dts overlays to PINCTRL
  tests/subsys/zigbee/osif/serial/serial_async_api/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/zigbee/osif/serial/serial_async_api/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/subsys/zigbee/osif/serial/serial_basic_api/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/zigbee/osif/serial/serial_basic_api/boards/nrf5340dk_nrf5340_cpuapp.overlay
Labels: none

boards: Switch nrf52dmouse_nrf52832 to PINCTRL
  boards/arm/nrf52dmouse_nrf52832/nrf52dmouse_nrf52832-pinctrl.dtsi
  boards/arm/nrf52dmouse_nrf52832/nrf52dmouse_nrf52832.dts
  boards/arm/nrf52dmouse_nrf52832/nrf52dmouse_nrf52832_defconfig
Labels: none

samples: nrf9160: lwm2m_client: swtich sample to pinctrl
  samples/nrf9160/lwm2m_client/boards/nrf9160dk_nrf9160_ns.overlay
Labels: none

samples: ipc: Fix dts configuration
  samples/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp_icmsg.overlay
  samples/event_manager_proxy/remote/boards/nrf5340dk_nrf5340_cpunet_icmsg.overlay
  samples/ipc/ipc_service/icmsg.overlay
  samples/ipc/ipc_service/remote/icmsg.overlay
Labels: none

samples: zigbee: Switch dts overlays to PINCTRL
  samples/zigbee/light_bulb/boards/nrf21540dk_nrf52840.overlay
  samples/zigbee/light_bulb/boards/nrf52833dk_nrf52833.overlay
  samples/zigbee/light_bulb/boards/nrf52840dk_nrf52840.overlay
  samples/zigbee/light_bulb/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/zigbee/ncp/boards/nrf21540dk_nrf52840.overlay
  samples/zigbee/ncp/boards/nrf52833dk_nrf52833.overlay
  samples/zigbee/ncp/boards/nrf52840dk_nrf52840.overlay
  samples/zigbee/ncp/boards/nrf5340dk_nrf5340_cpuapp.overlay
Labels: none

applications: nrf_desktop: Tune configs to save memory on constrained devs
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/prj.conf
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/prj_release.conf
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/prj_release_mcuboot.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/prj.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/prj_release.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/prj_release_mcuboot.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/child_image/mcuboot/prj_mcuboot_qspi.conf
Labels: none

boards: nrf5340_audio_dk_nrf5340: Move pin drive configuration to DT
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_cpunet_reset.c
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_common-pinctrl.dtsi
Labels: none

applications: nrf_desktop: wheel: add support for pinctrl
  applications/nrf_desktop/src/hw_interface/wheel.c
Labels: none

samples/nrf9160/http_update: Switch overlay to PINCTRL.
  samples/nrf9160/http_update/full_modem_update/boards/nrf9160dk_nrf9160_ns.overlay
Labels: none

samples: bluetooth: direct_test_mode: fix pinctrl definition
  samples/bluetooth/direct_test_mode/src/fem/nrf21540.c
Labels: none
