Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

applications: asset_tracker_v2: Improve sample request handling
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/Kconfig.app_module
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

bl_validation: postpone calculation of reset_vector
  subsys/bootloader/bl_validation/bl_validation.c
Labels: none

doc: test style fix
  doc/nrf/versions.txt.in
  scripts/requirements-doc.txt
Labels: doc-required

fix the issue that AT command Notification responses like +CNCEC_EMM which contain "_" will be filtered out
  lib/at_cmd_parser/at_utils.h
Labels: none

test_spec: crypto: add cjson
  .github/test-spec.yml
Labels: none

test_spec: crypto: add TFM
  .github/test-spec.yml
Labels: none

zigbee: Improve checks in Zigbee timer UT
  tests/subsys/zigbee/osif/timer_ktimer/src/main.c
Labels: none

zigbee: Improve checks in Zigbee timer UT
  tests/subsys/zigbee/osif/timer_ktimer/src/main.c
Labels: none

samples: matter: use [S]SED mode by default in a few samples
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/samples/samples_matter.rst
  doc/nrf/ug_matter_configuring_protocol.rst
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_switch/README.rst
  samples/matter/light_switch/overlay-low_power.conf
  samples/matter/light_switch/prj.conf
  samples/matter/light_switch/prj_no_dfu.conf
  samples/matter/light_switch/prj_release.conf
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/light_switch/src/chip_project_config.h
  samples/matter/lock/README.rst
  samples/matter/lock/overlay-low_power.conf
  samples/matter/lock/prj.conf
  samples/matter/lock/prj_no_dfu.conf
  samples/matter/lock/prj_release.conf
  samples/matter/lock/sample.yaml
  samples/matter/lock/src/app_task.cpp
  samples/matter/lock/src/chip_project_config.h
  samples/matter/template/README.rst
  samples/matter/window_covering/README.rst
  samples/matter/window_covering/overlay-low_power.conf
  samples/matter/window_covering/prj.conf
  samples/matter/window_covering/prj_no_dfu.conf
  samples/matter/window_covering/prj_release.conf
  samples/matter/window_covering/sample.yaml
  samples/matter/window_covering/src/app_task.cpp
  samples/matter/window_covering/src/chip_project_config.h
Labels: doc-required

doc: thread: add SSED description
  doc/nrf/ug_thread_commissioning.rst
  samples/matter/window_covering/README.rst
Labels: doc-required

test_spec: crypto: add cjson
  .github/test-spec.yml
Labels: none

test_spec: crypto: add TFM
  .github/test-spec.yml
Labels: none

manifest: Update sdk-nrf-802154, nrfxlib and sdk-zephyr revisions
  west.yml
Labels: manifest

samples: aws_iot: Add semaphore to prevent race
  samples/nrf9160/aws_iot/prj_qemu_x86.conf
  samples/nrf9160/aws_iot/src/main.c
Labels: none

zigbee: Enable TC Rejoin
  doc/nrf/libraries/zigbee/zigbee_app_utils.rst
  subsys/zigbee/Kconfig
  subsys/zigbee/lib/zigbee_app_utils/zigbee_app_utils.c
  subsys/zigbee/osif/zb_nrf_platform.c
Labels: doc-required

lib: at_cmd_parser: Avoid AT cmd responses like +CNCEC_EMM which contain '_' be filtered out
  lib/at_cmd_parser/at_utils.h
  tests/lib/at_cmd_parser/at_utils/src/main.c
Labels: none

openthread: samples: remove obsolete overlay-minimal.conf from RCP
  samples/openthread/coprocessor/README.rst
  samples/openthread/coprocessor/overlay-minimal.conf
Labels: doc-required

flash_patch: Add support for nRF52833
  doc/nrf/releases/release-notes-changelog.rst
  lib/flash_patch/CMakeLists.txt
  lib/flash_patch/Kconfig
  tests/drivers/flash_patch/testcase.yaml
Labels: doc-required

openthread: samples: Reorganise openthread cert overlay.
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_certification.rst
  doc/nrf/ug_thread_ot_memory.rst
  samples/openthread/cli/harness/overlay-cert.conf
Labels: doc-required

doc: lib: add flash_map_pm doc page
  doc/nrf/libraries/others/flash_map_pm.rst
  doc/nrf/releases/release-notes-changelog.rst
  scripts/partition_manager/partition_manager.rst
Labels: doc-required

samples: bluetooth: nrf_dm: Configuration alignment
  samples/bluetooth/nrf_dm/prj.conf
Labels: none

doc: caf: hotfix to BT connection state diagram
  doc/nrf/libraries/caf/images/caf_ble_state_transitions.svg
  doc/nrf/libraries/caf/images/caf_ble_state_transitions.vsdx
Labels: doc-required

doc: software_maturity_scanner.py: Add support for rules with '='
  doc/_scripts/software_maturity/software_maturity_scanner.py
Labels: doc-required

changelog: Update changelog with the nrf_dm sample changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

doc: nrf5340audio: add recover to buildprog
  applications/nrf5340_audio/README.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: matter: Aligned windowCovering example to upstream.
  samples/matter/window_covering/src/window_covering.cpp
  samples/matter/window_covering/src/window_covering.h
Labels: none

lib: modem_key_mgmt: don't read CME error if `nrf_modem_at_cmd` failed
  doc/nrf/releases/release-notes-changelog.rst
  lib/modem_key_mgmt/modem_key_mgmt.c
Labels: doc-required

docs: added note on changing version in s1 image
  doc/nrf/ug_bootloader_adding.rst
  doc/nrf/ug_fw_update.rst
Labels: doc-required

samples: secure_services: sample.yaml: Add missing extra config
  samples/nrf9160/secure_services/sample.yaml
Labels: none

applications: matter: Added Identify cluster to each endpoint.
  applications/matter_weather_station/src/app_task.cpp
  applications/matter_weather_station/src/weather-station.matter
  applications/matter_weather_station/src/weather-station.zap
  applications/matter_weather_station/src/zap-generated/endpoint_config.h
  applications/matter_weather_station/src/zap-generated/gen_config.h
Labels: none

doc: sml: fixed top_level keys in uploaded report
  doc/_scripts/software_maturity/software_maturity_scanner.py
Labels: doc-required

doc improvement: stylistic fixes
  doc/nrf/gs_installing.rst
  doc/nrf/ug_nrf9160_gs.rst
  doc/nrf/ug_thingy91_gsg.rst
Labels: doc-required

applications: asset_tracker_v2: Update documentation
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
Labels: doc-required

samples: tfm_hello_world: sample.yaml: Add two new tests
  samples/tfm/tfm_hello_world/sample.yaml
  scripts/quarantine.yaml
Labels: none

samples: lwm2m_client: Coiote decommissioning
  samples/nrf9160/lwm2m_client/scripts/provision.py
Labels: none

zigbee: Align PAN ID conflict resolution APIs
  doc/nrf/libraries/zigbee/zigbee_app_utils.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/shell/src/main.c
  subsys/zigbee/lib/zigbee_app_utils/Kconfig
  subsys/zigbee/lib/zigbee_app_utils/zigbee_app_utils.c
Labels: doc-required

west.yml: Update Zephyr to bring in fixes for arm_thread_swap_tz test
  west.yml
Labels: manifest

samples: lwm2m_client: prj.conf defaults to v1.0
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/prj.conf
Labels: doc-required

samples: nrf9160: modem_shell: command for setting reference altitude
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/src/gnss/gnss_shell.c
Labels: doc-required

dm: Split the library configuration from the submodule.
  subsys/dm/CMakeLists.txt
  subsys/dm/Kconfig
  subsys/dm/dm.c
  subsys/dm/timeslot_queue.c
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
