Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

doc: software_maturity_scanner.py: Refactor find_maturity_level()
  doc/_scripts/software_maturity/software_maturity_scanner.py
Labels: doc-required

zigbee: Increase UT stability by rounding inteval
  tests/subsys/zigbee/osif/timer_counter/src/main.c
  tests/subsys/zigbee/osif/timer_ktimer/src/main.c
Labels: none

samples: direct_test_mode: Implementation of the errata 117
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/direct_test_mode/src/dtm.c
Labels: doc-required

doc: nrf: Update known issues section for Asset Tracker v2
  doc/nrf/known_issues.rst
Labels: doc-required

doc: software_maturity: Add entries for B0, TF-M, HUK, and PSA Crypto
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required

sample: Zigbee light switch: Free buffer in case of failed request
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_switch/src/main.c
Labels: doc-required

fw_info: Make function non-static to avoid a fault
  doc/nrf/releases/release-notes-changelog.rst
  subsys/fw_info/fw_info.c
Labels: doc-required

doc: software_maturity_scanner.py: Improve resolving of maturity
  doc/_scripts/software_maturity/software_maturity_scanner.py
Labels: doc-required

doc: Fix images in LwM2M carrier library docs
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_bootstrap.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_bootstrap.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_fail_cert.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_fail_cert.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_success.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_success.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_init.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_init.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_overview.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_overview.vsdx
Labels: doc-required

test_spec: crypto: add cjson
  .github/test-spec.yml
Labels: none

samples: matter: use [S]SED mode by default in a few samples
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/samples/samples_matter.rst
  doc/nrf/ug_matter_configuring_protocol.rst
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_switch/README.rst
  samples/matter/light_switch/overlay-low_power.conf
  samples/matter/light_switch/prj.conf
  samples/matter/light_switch/prj_no_dfu.conf
  samples/matter/light_switch/prj_release.conf
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/light_switch/src/chip_project_config.h
  samples/matter/lock/README.rst
  samples/matter/lock/overlay-low_power.conf
  samples/matter/lock/prj.conf
  samples/matter/lock/prj_no_dfu.conf
  samples/matter/lock/prj_release.conf
  samples/matter/lock/sample.yaml
  samples/matter/lock/src/app_task.cpp
  samples/matter/lock/src/chip_project_config.h
  samples/matter/template/README.rst
  samples/matter/window_covering/README.rst
  samples/matter/window_covering/overlay-low_power.conf
  samples/matter/window_covering/prj.conf
  samples/matter/window_covering/prj_no_dfu.conf
  samples/matter/window_covering/prj_release.conf
  samples/matter/window_covering/sample.yaml
  samples/matter/window_covering/src/app_task.cpp
  samples/matter/window_covering/src/chip_project_config.h
Labels: doc-required

zigbee: Improve checks in Zigbee timer UT
  tests/subsys/zigbee/osif/timer_ktimer/src/main.c
Labels: none

doc: thread: add SSED description
  doc/nrf/ug_thread_commissioning.rst
  samples/matter/window_covering/README.rst
Labels: doc-required

test_spec: crypto: add TFM
  .github/test-spec.yml
Labels: none

bl_validation: postpone calculation of reset_vector
  subsys/bootloader/bl_validation/bl_validation.c
Labels: none

applications: asset_tracker_v2: Improve sample request handling
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/Kconfig.app_module
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

manifest: update homekit revision
  west.yml
Labels: manifest

zigbee: Enable TC Rejoin
  doc/nrf/libraries/zigbee/zigbee_app_utils.rst
  subsys/zigbee/Kconfig
  subsys/zigbee/lib/zigbee_app_utils/zigbee_app_utils.c
  subsys/zigbee/osif/zb_nrf_platform.c
Labels: doc-required

doc: asset_tracker_v2: update event log strings
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
Labels: doc-required

doc: add adp536x documentation
  doc/nrf/libraries/others/adp536x.rst
Labels: doc-required

doc: Doc Review
  doc/nrf/libraries/others/adp536x.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

manifest: Update sdk-nrf-802154, nrfxlib and sdk-zephyr revisions
  west.yml
Labels: manifest

bluetooth: fast_pair: Add missing const to bt_conn struct pointer
  subsys/bluetooth/services/fast_pair/fp_auth.c
  subsys/bluetooth/services/fast_pair/fp_gatt_service.c
  subsys/bluetooth/services/fast_pair/fp_keys.c
  subsys/bluetooth/services/fast_pair/include/fp_keys.h
Labels: none

gitignore: ignore `.idea` CLion workspace dir
  .gitignore
Labels: none

matter: rebase sdk-connectedhomeip
  west.yml
Labels: manifest

doc improvement: Minor style updates on Library wrapper
  doc/nrf/libraries/modem/nrf_modem_lib.rst
Labels: doc-required

manifest: update homekit revision
  west.yml
Labels: manifest

application: matter: Removed indentify on endpoint 0
  applications/matter_weather_station/src/weather-station.matter
  applications/matter_weather_station/src/weather-station.zap
  applications/matter_weather_station/src/zap-generated/endpoint_config.h
  applications/matter_weather_station/src/zap-generated/gen_config.h
Labels: none

doc: update modem firmware before application firmware for nRF9160 DK
  doc/nrf/images/programmer_addfile_nrf9160dk.png
  doc/nrf/images/programmer_com_ports.png
  doc/nrf/images/programmer_erasewrite_nrf9160dk.png
  doc/nrf/images/programmer_write_nrf9160dk.png
  doc/nrf/images/programmerapp_modemdfu.png
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf9160_gs.rst
Labels: doc-required

asset_tracker v2: add json_common tests for nrf cloud backend
  applications/asset_tracker_v2/tests/json_common/prj_native_posix.conf
  applications/asset_tracker_v2/tests/json_common/src/json_validate_nrfcloud.h
  applications/asset_tracker_v2/tests/json_common/src/main.c
  applications/asset_tracker_v2/tests/json_common/testcase.yaml
Labels: none

application: matter: Removed indentify on endpoint 0
  applications/matter_weather_station/src/weather-station.matter
  applications/matter_weather_station/src/weather-station.zap
  applications/matter_weather_station/src/zap-generated/endpoint_config.h
  applications/matter_weather_station/src/zap-generated/gen_config.h
Labels: none

scripts: Update required toolchain version to 2.0.0
  scripts/ncs-toolchain-version-minimum.txt
Labels: none

scripts: Update required toolchain version to 2.0.0
  scripts/ncs-toolchain-version-minimum.txt
Labels: none

bluetooth: fast_pair: Add hash to verify provisioning data
  scripts/nrf_provision/fast_pair/fp_provision_cli.py
  subsys/bluetooth/services/fast_pair/fp_registration_data.c
Labels: none

partition_manager: fast_pair: Increase partition size to fit hash
  subsys/partition_manager/pm.yml.bt_fast_pair
Labels: none

doc: fast_pair: Add hash to verify provisioning data
  doc/nrf/releases/release-notes-changelog.rst
  scripts/nrf_provision/fast_pair/README.rst
Labels: doc-required

samples: peripheral_hr_coded: central_hr_coded: Use valid configuration
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/central_hr_coded/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_hr_coded/prj_nrf5340dk_nrf5340_cpuapp.conf
Labels: doc-required

caf: ble_adv: Fix advertising start failure
  subsys/caf/modules/ble_adv.c
Labels: none

samples: peripheral_hr_coded: central_hr_coded: Use valid configuration
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/central_hr_coded/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_hr_coded/prj_nrf5340dk_nrf5340_cpuapp.conf
Labels: doc-required

manifest: update homekit revision
  west.yml
Labels: manifest
