Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

doc: software maturity: add Zigbee sml table
  doc/nrf/software_maturity.rst
Labels: doc-required

doc: Doc updates for the new layout
  doc/nrf/doc_structure.rst
  doc/nrf/images/doc_structure_search.PNG
  doc/nrf/images/doc_structure_search_results.PNG
Labels: doc-required

doc: openthread: update sha of nrfconnect docker
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_tools.rst
Labels: doc-required

lib: nrf_modem_os: Use IRQ_PRIO_LOWEST instead of hard-coded 6
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: none

samples: nrf9160: lwm2m_client: Update doc about hex keys
  samples/nrf9160/lwm2m_client/sample_description.rst
Labels: doc-required

samples: nrf9160: modem_shell: Add link dnsaddr command
  samples/nrf9160/modem_shell/src/link/link.c
Labels: none

boards: arm: thingy91: Rename static partitions file
  boards/arm/thingy91_nrf9160/CMakeLists.txt
  boards/arm/thingy91_nrf9160/thingy91_pm_static.yml
  boards/arm/thingy91_nrf9160/thingy91_pm_static_spm.yml
Labels: none

Add hex datamode (AT#XSENDB and AT#XRECVB) to serial_lte_modem commands
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_socket.c
Labels: none

manifest: Update sdk-zephyr SHA to fix release notes for mcumgr
  west.yml
Labels: manifest

manifest: Add nrfxlib with EITS kconfig
  west.yml
Labels: manifest

manifest: Point to the tf-m with EITS
  west.yml
Labels: manifest

modules: TF-M: Add encypted ITS Kconfig
  modules/trusted-firmware-m/Kconfig
Labels: none

doc: update theme
  doc/kconfig/conf.py
  doc/matter/conf.py
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrfx/conf.py
  doc/nrfxlib/conf.py
  doc/tfm/conf.py
  doc/zephyr/conf.py
  scripts/requirements-doc.txt
Labels: doc-required

doc: openthread: update sha of nrfconnect docker
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_tools.rst
Labels: doc-required

doc: lwm2m_carrier corrections to v0.30.0 doc
  doc/nrf/libraries/bin/lwm2m_carrier/CHANGELOG.rst
  samples/nrf9160/lwm2m_carrier/README.rst
Labels: doc-required

application: serial_lte_modem: Add modem fault handler
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/main.c
Labels: doc-required

manifest: Update sdk-zephyr SHA to fix release notes for mcumgr
  west.yml
Labels: manifest

manifest: update homekit revision
  west.yml
Labels: manifest

samples: matter: fix SED polling interval
  applications/matter_weather_station/src/chip_project_config.h
  samples/matter/light_switch/src/chip_project_config.h
  samples/matter/lock/src/chip_project_config.h
Labels: none

test-spec: Add modules/trusted-firmware-m to test-spec.yml
  .github/test-spec.yml
Labels: none

manifest: update mcuboot
  west.yml
Labels: manifest

manifest: update homekit revision
  west.yml
Labels: manifest

Bluetooth: Mesh: Gen Ponoff Srv status msg update
  subsys/bluetooth/mesh/gen_ponoff_srv.c
Labels: none

doc: update theme
  doc/kconfig/conf.py
  doc/matter/conf.py
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrfx/conf.py
  doc/nrfxlib/conf.py
  doc/tfm/conf.py
  doc/zephyr/conf.py
  scripts/requirements-doc.txt
Labels: doc-required

manifest: Update nrfxlib revision
  west.yml
Labels: manifest

matter: fixes for OTA, Window Covering and Android
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  doc/nrf/links.txt
  samples/matter/common/src/ota_util.cpp
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/lock/src/app_task.cpp
  samples/matter/template/src/app_task.cpp
  samples/matter/window_covering/src/app_task.cpp
  samples/matter/window_covering/src/window_covering.cpp
  samples/matter/window_covering/src/window_covering.h
  samples/matter/window_covering/src/zcl_callbacks.cpp
  west.yml
Labels: manifest, doc-required

Bluetooth: Mesh: Scene Srv status msg update
  subsys/bluetooth/mesh/scene_srv.c
Labels: none

application: serial_lte_modem: Add modem fault handler
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/main.c
Labels: doc-required

samples: nrf9160: modem_shell: disable iPerf3 in app FOTA overlay
  samples/nrf9160/modem_shell/overlay-app_fota.conf
Labels: none

applications: nrf_desktop: Document NCSDK-14913
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/ble_conn_params.rst
  applications/nrf_desktop/doc/ble_scan.rst
Labels: doc-required

boards: arm: thingy91_nrf9160: Use SPM instad of TF-M
  boards/arm/thingy91_nrf9160/Kconfig.defconfig
Labels: none

doc: lwm2m_carrier corrections to v0.30.0 doc
  doc/nrf/libraries/bin/lwm2m_carrier/CHANGELOG.rst
  samples/nrf9160/lwm2m_carrier/README.rst
Labels: doc-required

samples: nrf9160: modem_shell: Add link dnsaddr command
  samples/nrf9160/modem_shell/src/link/link.c
Labels: none

tfm: Fix TF-M size alignment requirement on nrf91 with mcuboot enabled
  modules/trusted-firmware-m/Kconfig
Labels: none

test-spec: Add modules/trusted-firmware-m to test-spec.yml
  .github/test-spec.yml
Labels: none

manifest: Update nrfxlib revision
  west.yml
Labels: manifest

samples: nrf9160: modem_shell: disable iPerf3 in app FOTA overlay
  samples/nrf9160/modem_shell/overlay-app_fota.conf
Labels: none

boards: arm: thingy91_nrf9160: Use SPM instad of TF-M
  boards/arm/thingy91_nrf9160/Kconfig.defconfig
Labels: none

manifest: update homekit revision
  west.yml
Labels: manifest

manifest: update homekit revision
  west.yml
Labels: manifest
