Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

fix: tests: Remove integration_platforms with empty lists
  tests/subsys/zigbee/osif/serial/serial_async_api/testcase.yaml
  tests/subsys/zigbee/osif/serial/serial_basic_api/testcase.yaml
Labels: none

samples: config: align rpmsg child image
  applications/machine_learning/CMakeLists.txt
  applications/nrf_desktop/CMakeLists.txt
  doc/nrf/ug_nrf5340.rst
  samples/Kconfig
  samples/nrf5340/multiprotocol_rpmsg/README.rst
  subsys/pcd/Kconfig
Labels: doc-required

samples: bluetooth: rpc_host: remove unnecessary config
  samples/bluetooth/rpc_host/prj.conf
Labels: none

samples: nrf53: migrate rpmsg child image configuration
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/child_image/hci_rpmsg/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/child_image/hci_rpmsg/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/child_image/hci_rpmsg/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/child_image/hci_rpmsg/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/child_image/hci_rpmsg/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/child_image/hci_rpmsg/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/child_image/hci_rpmsg/prj_rtt.conf
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/child_image/hci_rpmsg/prj.conf
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/child_image/hci_rpmsg/prj_b0.conf
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/child_image/hci_rpmsg/prj_release.conf
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/child_image/hci_rpmsg/prj_release_b0.conf
  samples/bluetooth/mesh/light/child_image/hci_rpmsg/boards/thingy53_nrf5340_cpunet.conf
  samples/bluetooth/mesh/light_ctrl/child_image/hci_rpmsg/boards/thingy53_nrf5340_cpunet.conf
  samples/bluetooth/mesh/light_switch/child_image/hci_rpmsg/boards/thingy53_nrf5340_cpunet.conf
  samples/bluetooth/mesh/sensor_server/child_image/hci_rpmsg/boards/thingy53_nrf5340_cpunet.conf
  samples/bluetooth/peripheral_lbs/child_image/hci_rpmsg/boards/thingy53_nrf5340_cpunet.conf
  samples/bluetooth/peripheral_uart/child_image/hci_rpmsg/boards/thingy53_nrf5340_cpunet.conf
Labels: none

tests: lib: sms: fix zephyr_include_directories usage
  tests/lib/sms/CMakeLists.txt
Labels: none

tree: Adjust configuration to match new logger mode
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/prj.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/prj.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/prj_mcuboot.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_b0.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_b0_wwcb.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_dongle.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_keyboard.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_mcuboot_qspi.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_3bleconn.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_4llpmconn.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_b0.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_b0.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/prj.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_shell.conf
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/prj_b0.conf
  samples/bluetooth/hci_lpuart/debug.conf
  samples/caf/prj.conf
  samples/event_manager/prj.conf
  samples/event_manager_profiler_tracer/prj.conf
  samples/nrf9160/azure_iot_hub/prj_qemu_x86.conf
  samples/nrf9160/lwm2m_client/prj.conf
  samples/nrf9160/modem_shell/prj.conf
  samples/openthread/cli/overlay-logging.conf
  samples/openthread/coap_client/prj.conf
  samples/openthread/coap_server/prj.conf
  samples/openthread/coprocessor/overlay-logging.conf
  samples/peripheral/802154_phy_test/prj.conf
  samples/zigbee/shell/prj.conf
Labels: none

tree: update pm_force_state api
  samples/nfc/system_off/src/main.c
  subsys/caf/modules/power_manager.c
Labels: none

samples: multiprotocol: rpmsg: migrate to ipc service module
  samples/nrf5340/multiprotocol_rpmsg/prj.conf
  samples/nrf5340/multiprotocol_rpmsg/src/main.c
Labels: none

nrf_802154: Change init priority for configure module
  subsys/ieee802154/nrf_802154_configurator.c
Labels: none

samples: nfc: writable_ndef_msg: Align to the new NVS API.
  samples/nfc/writable_ndef_msg/src/ndef_file_m.c
Labels: none

applications: serial_lte_modem: fix time_t log type
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
Labels: none

applications: asset_tracker_v2: fix CMake issues
  applications/asset_tracker_v2/CMakeLists.txt
Labels: none

samples: nfc: tnep_tag: Align to the new iterable API.
  subsys/nfc/tnep/tag.ld
Labels: none

lib: bin: lwm2m_carrier: update to nvs_mount
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
Labels: none

net: lib: download_client: fix LOG_INF type
  subsys/net/lib/download_client/src/download_client.c
Labels: none

tester: Bluetooth: Mesh: remove redefinition tx sdu
  tests/bluetooth/tester/src/mmdl.c
Labels: none

nrf_802154: fix: Undefined initialization levels used fixed
  subsys/ieee802154/nrf_802154_configurator.c
Labels: none

zigbee: osif: update crypto include
  subsys/zigbee/osif/zb_nrf_crypto.c
Labels: none

gazell: update crypto include
  subsys/gazell/gzp.c
Labels: none

caf: power_manager: Align to new Zephyr power management API
  subsys/caf/modules/power_manager.c
Labels: none

applications: connectivity_bridge: Update ring_buf buffer datatype
  applications/connectivity_bridge/src/modules/uart_handler.c
Labels: none

bootloader: don't use NRF_RTC_TIMER
  samples/bootloader/prj.conf
Labels: none

cmake: escape values of variables in preload
  cmake/multi_image.cmake
Labels: none

applications: machine_learning: Fix PWM mode
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/app.overlay
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/app.overlay
Labels: none

nrf_rpc: RPC opening second IPC endpoint fix
  subsys/nrf_rpc/nrf_rpc_rpmsg.c
Labels: none

samples: openthread: tidy debug options for cli sample
  samples/openthread/cli/overlay-debug.conf
Labels: none

manifest: update Find My revision
  west.yml
Labels: manifest

samples: crypto: Increased RSA sample SRAM size for nrf9160
  samples/crypto/rsa/boards/nrf9160dk_nrf9160.conf
Labels: none

samples: matter: disable RTC timer in MCUBoot
  samples/matter/light_bulb/configuration/nrf52840dk_nrf52840/child_image/mcuboot.conf
  samples/matter/light_bulb/configuration/nrf52840dk_nrf52840/child_image/mcuboot_release.conf
  samples/matter/light_bulb/configuration/nrf5340dk_nrf5340_cpuapp/child_image/mcuboot.conf
  samples/matter/light_bulb/configuration/nrf5340dk_nrf5340_cpuapp/child_image/mcuboot_release.conf
  samples/matter/lock/configuration/nrf52840dk_nrf52840/child_image/mcuboot.conf
  samples/matter/lock/configuration/nrf52840dk_nrf52840/child_image/mcuboot_release.conf
  samples/matter/lock/configuration/nrf5340dk_nrf5340_cpuapp/child_image/mcuboot.conf
  samples/matter/lock/configuration/nrf5340dk_nrf5340_cpuapp/child_image/mcuboot_release.conf
Labels: none

lib: ram_pwrdn: s/HEAP_LISTENER_DEFINE/HEAP_LISTENER_RESIZE_DEFINE
  lib/ram_pwrdn/ram_pwrdn.c
Labels: none

doc: update the kconfig landing page
  doc/kconfig/index.rst
Labels: doc-required

manifest: update homekit revision
  west.yml
Labels: manifest

caf: modules: sensor_manager: use device references
  applications/machine_learning/configuration/nrf52840dk_nrf52840/app.overlay
  applications/machine_learning/configuration/nrf52840dk_nrf52840/sensor_manager_def.h
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/app.overlay
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/sensor_manager_def.h
  applications/machine_learning/configuration/thingy52_nrf52832/sensor_manager_def.h
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/sensor_manager_def.h
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/sensor_manager_def.h
  include/caf/sensor_manager.h
  subsys/caf/modules/sensor_manager.c
Labels: none

zigbee: Extend zcl cmd to allow send groupcasts
  doc/nrf/libraries/zigbee/shell.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/cli/zigbee_cli_cmd_generic_cmd.c
Labels: doc-required

test_spec: homekit: add entires
  .github/test-spec.yml
Labels: none

bluetooth: rpc: Add missing callback handlers
  subsys/bluetooth/rpc/client/bt_rpc_gatt_client.c
Labels: none

samples: openthread: use OPENTHREAD_LOG_LEVEL_INFO
  samples/openthread/coap_client/prj.conf
  samples/openthread/coap_server/prj.conf
Labels: none

known_issues: Add known issues for the SDC's periodic sync impl
  doc/nrf/known_issues.rst
Labels: doc-required

doc: fixes to Kconfig option lists and links
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/asset_tracker_v2/doc/cloud_module.rst
  applications/asset_tracker_v2/doc/gnss_module.rst
  applications/asset_tracker_v2/doc/sensor_module.rst
Labels: doc-required

bluetooth: rpc: Fix GATT attr write and service unregister
  subsys/bluetooth/rpc/host/bt_rpc_gatt_host.c
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
