Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

doc: cmake: add comments to doc targets
  doc/CMakeLists.txt
Labels: doc-required

doc: cmake: remove -html targets
  doc/CMakeLists.txt
  doc/nrf/doc_build.rst
Labels: doc-required

doc: cmake: separate SPHINXOPTS* arguments
  doc/CMakeLists.txt
Labels: doc-required

manifest: Add reference link in nrfxlib
  west.yml
Labels: manifest

applications: nrf5340_audio: Set random static address
  applications/nrf5340_audio/src/bluetooth/ble_core.c
  applications/nrf5340_audio/src/bluetooth/ble_hci_vsc.h
Labels: none

lib: at_cmd_parser: Handle type double
  include/modem/at_params.h
  lib/at_cmd_parser/at_cmd_parser.c
  lib/at_cmd_parser/at_params.c
  tests/lib/at_cmd_parser/at_cmd_parser/src/main.c
  tests/lib/at_cmd_parser/at_params/src/main.c
Labels: none

lib: sms: fix time zone handling for received SMSs
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/sms.h
  lib/sms/sms_deliver.c
  samples/nrf9160/modem_shell/src/sms/sms.c
  tests/lib/sms/src/sms_test.c
Labels: doc-required

doc: known-issues: add known issue for clock_gettime() API
  doc/nrf/known_issues.rst
Labels: doc-required

manifest: Add reference link in nrfxlib
  west.yml
Labels: manifest

scripts: fast_pair: Add Fast Pair provisioning script
  scripts/nrf_provision/fast_pair/fp_provision_cli.py
  scripts/nrf_provision/fast_pair/requirements.txt
Labels: none

known_issues: Add issue usage-fault when interrupt uses FPU
  doc/nrf/known_issues.rst
Labels: doc-required

net: lib: lwm2m_client_utils: Fix storing of lifetime values
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
Labels: none

samples: Remote core configured in kconfig
  samples/event_manager_proxy/CMakeLists.txt
  samples/event_manager_proxy/Kconfig
  samples/event_manager_proxy/aci/CMakeLists.txt
  samples/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp_icmsg.conf
  samples/ipc/ipc_service/CMakeLists.txt
  samples/ipc/ipc_service/Kconfig
  samples/ipc/ipc_service/Kconfig.app
  samples/ipc/ipc_service/aci/CMakeLists.txt
  samples/ipc/ipc_service/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/ipc/ipc_service/boards/nrf5340dk_nrf5340_cpuapp_icmsg.conf
  samples/ipc/ipc_service/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/ipc/ipc_service/boards/nrf5340dk_nrf5340_cpuapp_ns_icmsg.conf
  samples/ipc/ipc_service/remote/CMakeLists.txt
  samples/ipc/ipc_service/remote/Kconfig
  samples/ipc/ipc_service/remote/icmsg.overlay
  samples/ipc/ipc_service/remote/overlay-cpuapp-sending.conf
  samples/ipc/ipc_service/remote/overlay-cpunet-sending.conf
  samples/ipc/ipc_service/remote/prj.conf
  samples/ipc/ipc_service/remote/prj_icmsg.conf
  samples/nrf5340/multicore/CMakeLists.txt
  samples/nrf5340/multicore/aci/CMakeLists.txt
Labels: none

samples: nrf9160: gnss: add reference position support
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/gnss/Kconfig
  samples/nrf9160/gnss/src/main.c
Labels: doc-required

samples: nrf9160: lwm2m_client: Make the ./device.py executable
  samples/nrf9160/lwm2m_client/scripts/atclient.py
  samples/nrf9160/lwm2m_client/scripts/device.py
Labels: none

lib: lte_lc: Fix compilation error when building with C++ compiler
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/lte_lc.h
Labels: doc-required

manifest: nrfxlib softdevice figure update
  west.yml
Labels: manifest

samples: Remote core configured in kconfig
  samples/event_manager_proxy/CMakeLists.txt
  samples/event_manager_proxy/Kconfig
  samples/event_manager_proxy/aci/CMakeLists.txt
  samples/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp_icmsg.conf
  samples/ipc/ipc_service/CMakeLists.txt
  samples/ipc/ipc_service/Kconfig
  samples/ipc/ipc_service/Kconfig.app
  samples/ipc/ipc_service/aci/CMakeLists.txt
  samples/ipc/ipc_service/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/ipc/ipc_service/boards/nrf5340dk_nrf5340_cpuapp_icmsg.conf
  samples/ipc/ipc_service/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/ipc/ipc_service/boards/nrf5340dk_nrf5340_cpuapp_ns_icmsg.conf
  samples/ipc/ipc_service/remote/CMakeLists.txt
  samples/ipc/ipc_service/remote/Kconfig
  samples/ipc/ipc_service/remote/icmsg.overlay
  samples/ipc/ipc_service/remote/overlay-cpuapp-sending.conf
  samples/ipc/ipc_service/remote/overlay-cpunet-sending.conf
  samples/ipc/ipc_service/remote/prj.conf
  samples/ipc/ipc_service/remote/prj_icmsg.conf
  samples/nrf5340/multicore/CMakeLists.txt
  samples/nrf5340/multicore/aci/CMakeLists.txt
Labels: none

manifest: nrfxlib softdevice figure update
  west.yml
Labels: manifest

samples: nrf9160: gnss: add reference position support
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/gnss/Kconfig
  samples/nrf9160/gnss/src/main.c
Labels: doc-required

samples: nrf9160: lwm2m_client: Make the ./device.py executable
  samples/nrf9160/lwm2m_client/scripts/atclient.py
  samples/nrf9160/lwm2m_client/scripts/device.py
Labels: none

ci: docbuild: update to Doxygen 1.9.4
  .github/workflows/docbuild.yml
  doc/nrf/doc_build.rst
Labels: doc-required

doc: cmake: allow warnings on nrfx docset
  doc/CMakeLists.txt
Labels: doc-required

ci: docbuild: don't use wget quiet mode
  .github/workflows/docbuild.yml
Labels: none

ci: docbuild: update Doxygen download URL
  .github/workflows/docbuild.yml
Labels: none

doc: cmake: allow warnings on nrfx docset
  doc/CMakeLists.txt
Labels: doc-required

ci: docbuild: don't use wget quiet mode
  .github/workflows/docbuild.yml
Labels: none

ci: docbuild: update Doxygen download URL
  .github/workflows/docbuild.yml
Labels: none

ci: docbuild: update to Doxygen 1.9.4
  .github/workflows/docbuild.yml
  doc/nrf/doc_build.rst
Labels: doc-required

manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest

doc: nrf: add software maturity level page
  doc/nrf/index.rst
  doc/nrf/software_maturity.rst
Labels: doc-required

doc: extensions: add sml-table extension
  doc/_extensions/software_maturity_table.py
  doc/nrf/conf.py
Labels: doc-required

lib: lte_lc: Fix compilation error when building with C++ compiler
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/lte_lc.h
Labels: doc-required

manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest

doc: Add a changelog entry for the software maturity page
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

doc: table-from-row scans integration_platforms
  doc/_extensions/table_from_rows.py
  doc/nrf/conf.py
  doc/nrf/includes/sample_board_rows.txt
  doc/nrf/templates/sample_README.rst
  samples/bluetooth/mesh/chat/sample_description.rst
  samples/bluetooth/mesh/sensor_client/README.rst
  samples/nrf9160/aws_fota/README.rst
  samples/nrf9160/cloud_client/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
Labels: doc-required

zigbee: Add support for ZED/SED role in Shell
  doc/nrf/libraries/zigbee/shell.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_bdb.c
Labels: doc-required

applications: nrf5340_audio: Update codeowners
  CODEOWNERS
Labels: none

doc: table-from-row scans integration_platforms
  doc/_extensions/table_from_rows.py
  doc/nrf/conf.py
  doc/nrf/includes/sample_board_rows.txt
  doc/nrf/templates/sample_README.rst
  samples/bluetooth/mesh/chat/sample_description.rst
  samples/bluetooth/mesh/sensor_client/README.rst
  samples/nrf9160/aws_fota/README.rst
  samples/nrf9160/cloud_client/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
Labels: doc-required

doc: Add a changelog entry for the software maturity page
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required
