Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

lib: nrf_modem: Remove log_strdup invocations
  lib/nrf_modem_lib/nrf_modem_lib.c
Labels: none

lib: modem_info: Remove log_strdup invocations
  lib/modem_info/modem_info.c
Labels: none

applications: nrf5340_audio: Fix BIS issue after upmerge (#28)
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
Labels: none

manifest: openthread upmerge up to commit `2ce3d3b`
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_prebuilt_libs.rst
  doc/nrf/ug_thread_supported_features.rst
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: manifest, doc-required

applications: asset_tracker_v2: Use low power modes for ADXL362.
  applications/asset_tracker_v2/boards/thingy91_nrf9160_ns.overlay
Labels: none

manifest: update homekit revision
  west.yml
Labels: manifest

samples: matter: Fixed emitting leave event at the factory reset
  samples/matter/window_covering/src/app_task.cpp
Labels: none

wifi: Add a Wi-Fi sample
  doc/nrf/glossary.rst
  doc/nrf/samples.rst
  doc/nrf/samples/samples_wifi.rst
  samples/wifi/shell/CMakeLists.txt
  samples/wifi/shell/README.rst
  samples/wifi/shell/prj.conf
  samples/wifi/shell/sample.yaml
  samples/wifi/shell/src/nrf-config-user.h
  samples/wifi/shell/src/nrf-config.h
  samples/wifi/shell/src/wifi_main.c
  samples/wifi/shell/src/wifi_shell.c
Labels: doc-required

wifi: Add documentation for nrf7002
  doc/nrf/app_boards.rst
  doc/nrf/images/nrf7002dk.jpg
  doc/nrf/includes/sample_board_rows.txt
  doc/nrf/index.rst
  doc/nrf/links.txt
  doc/nrf/ug_nrf70.rst
  doc/nrf/ug_nrf7002.rst
Labels: doc-required

wifi: Add Wi-Fi to test spec
  .github/test-spec.yml
  samples/wifi/shell/sample.yaml
Labels: none

wifi: Add sdk-hostap to the manifest
  west.yml
Labels: manifest

wifi: Add nrf7002 boards support
  boards/arm/nrf7002dk_nrf5340/CMakeLists.txt
  boards/arm/nrf7002dk_nrf5340/Kconfig
  boards/arm/nrf7002dk_nrf5340/Kconfig.board
  boards/arm/nrf7002dk_nrf5340/Kconfig.defconfig
  boards/arm/nrf7002dk_nrf5340/board.cmake
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_common-pinctrl.dtsi
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_common.dts
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_partition_conf.dts
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpunet_reset.c
  boards/arm/nrf7002dk_nrf5340/nrf5340_shared_sram_planning_conf.dts
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp-pinctrl.dtsi
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp.dts
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp.yaml
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp_defconfig
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp_ns.dts
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp_ns.yaml
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp_ns_defconfig
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpunet-pinctrl.dtsi
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpunet.dts
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpunet.yaml
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpunet_defconfig
  boards/arm/nrf7002dk_nrf5340/pre_dt_board.cmake
  boards/shields/nrf7002_ek/Kconfig.shield
  boards/shields/nrf7002_ek/nrf7002_ek.overlay
  dts/bindings/wifi/nordic,nrf7002-qspi.yaml
  dts/bindings/wifi/nordic,nrf7002-spi.yaml
  dts/bindings/wifi/nordic,nrf7002.yaml
Labels: none

wifi: Add nrf7002 boards support
  boards/arm/nrf7002dk_nrf5340/CMakeLists.txt
  boards/arm/nrf7002dk_nrf5340/Kconfig
  boards/arm/nrf7002dk_nrf5340/Kconfig.board
  boards/arm/nrf7002dk_nrf5340/Kconfig.defconfig
  boards/arm/nrf7002dk_nrf5340/board.cmake
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_common-pinctrl.dtsi
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_common.dts
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_partition_conf.dts
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpunet_reset.c
  boards/arm/nrf7002dk_nrf5340/nrf5340_shared_sram_planning_conf.dts
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp-pinctrl.dtsi
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp.dts
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp.yaml
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp_defconfig
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp_ns.dts
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp_ns.yaml
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp_ns_defconfig
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpunet-pinctrl.dtsi
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpunet.dts
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpunet.yaml
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpunet_defconfig
  boards/arm/nrf7002dk_nrf5340/pre_dt_board.cmake
  boards/shields/nrf7002_ek/Kconfig.shield
  boards/shields/nrf7002_ek/nrf7002_ek.overlay
  dts/bindings/wifi/nordic,nrf7002-qspi.yaml
  dts/bindings/wifi/nordic,nrf7002-spi.yaml
  dts/bindings/wifi/nordic,nrf7002.yaml
Labels: none

wifi: Add Wi-Fi to test spec
  .github/test-spec.yml
  samples/wifi/shell/sample.yaml
Labels: none

wifi: Add sdk-hostap to the manifest
  west.yml
Labels: manifest

wifi: Add a Wi-Fi sample
  doc/nrf/glossary.rst
  doc/nrf/samples.rst
  doc/nrf/samples/samples_wifi.rst
  samples/wifi/shell/CMakeLists.txt
  samples/wifi/shell/README.rst
  samples/wifi/shell/prj.conf
  samples/wifi/shell/sample.yaml
  samples/wifi/shell/src/nrf-config-user.h
  samples/wifi/shell/src/nrf-config.h
  samples/wifi/shell/src/wifi_main.c
  samples/wifi/shell/src/wifi_shell.c
Labels: doc-required

wifi: Add documentation for nrf7002
  doc/nrf/app_boards.rst
  doc/nrf/images/nrf7002dk.jpg
  doc/nrf/includes/sample_board_rows.txt
  doc/nrf/index.rst
  doc/nrf/links.txt
  doc/nrf/ug_nrf70.rst
  doc/nrf/ug_nrf7002.rst
Labels: doc-required

doc: add 2.0.1 to main
  doc/nrf/dm_adding_code.rst
  doc/nrf/gs_updating.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.0.1.rst
  doc/nrf/shortcuts.txt
  doc/versions.json
Labels: doc-required

manifest: update homekit revision
  west.yml
Labels: manifest

doc: add 1.9.2 to main
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-1.9.2.rst
  doc/versions.json
Labels: doc-required

doc: add 1.9.2 to main
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-1.9.2.rst
  doc/versions.json
Labels: doc-required

doc: add 2.0.1 to main
  doc/nrf/dm_adding_code.rst
  doc/nrf/gs_updating.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.0.1.rst
  doc/nrf/shortcuts.txt
  doc/versions.json
Labels: doc-required

samples: Bluetooth: df: Add missing Kconfig to enable connectionless TX
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/direction_finding_connectionless_tx/prj.conf
Labels: doc-required

manifest: update nrfxlib version
  west.yml
Labels: manifest

doc: Update Bluetooth LE Protocol.
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

applications: nrf5340_audio: Set pres delay based on QoS settings (#29)
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/audio_datapath.h
  applications/nrf5340_audio/src/audio/audio_system.c
  applications/nrf5340_audio/src/audio/audio_system.h
  applications/nrf5340_audio/src/audio/sw_codec_select.h
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
Labels: none

applications: nrf5340_audio: Fix drift compensation not locking (#26)
  applications/nrf5340_audio/src/audio/audio_datapath.c
Labels: none

manifest: update nrfxlib version
  west.yml
Labels: manifest

doc: Update Bluetooth LE Protocol.
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

bluetooth: controller: Add a new HCI vendor specific command.
  subsys/bluetooth/controller/hci_internal.c
Labels: none

wip
  west.yml
Labels: manifest

Doc: Known issues: Mesh device fails IV update
  doc/nrf/known_issues.rst
Labels: doc-required

applications: nrf5340_audio: Fix drift state name bug (#30)
  applications/nrf5340_audio/src/audio/audio_datapath.c
Labels: none

applications: nrf5340_audio: Update CIS after Zephyr upgrade (#27)
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
Labels: none

doc: Improve the structure in Thingy GSG
  doc/nrf/glossary.rst
  doc/nrf/images/nrfcloud_activating_sim.png
  doc/nrf/images/programmer_add_file.png
  doc/nrf/images/programmer_add_file1.png
  doc/nrf/images/programmer_enable_mcuboot.png
  doc/nrf/images/programmer_ext_debug_hex_write.png
  doc/nrf/images/programmer_ext_debug_update_modem.png
  doc/nrf/images/programmer_hex_write.png
  doc/nrf/images/programmer_modemdfu.png
  doc/nrf/images/programmer_select_device.png
  doc/nrf/images/programmer_select_device1.png
  doc/nrf/images/programmer_usb_update_modem.png
  doc/nrf/images/thingy91_mcuboot_dfu.png
  doc/nrf/images/thingy91_mcuboot_dfu1.png
  doc/nrf/images/thingy91_modemdfu_mcuboot.png
  doc/nrf/images/thingy91_sim_iccid_puk.svg
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf9160_gs.rst
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_thingy91_gsg.rst
Labels: doc-required

manifest: Update Zephyr revision
  west.yml
Labels: manifest

boards: nrf7002dk_nrf5340: Fix assignment of cpunet UART pins
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpunet-pinctrl.dtsi
Labels: none

boards: nrf7002dk_nrf5340: Move usbd node overlay to common cpuapp dts
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_common.dts
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp.dts
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp_ns.dts
Labels: none

boards: nrf7002dk_nrf5340: Add nrf-gpio-forwarder node
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_common.dts
Labels: none

SoftDevice Controller: Use default TX power level set by kconfigs
  doc/nrf/releases/release-notes-changelog.rst
  subsys/bluetooth/controller/hci_driver.c
  subsys/bluetooth/controller/radio_nrf5_txp.h
Labels: doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
