Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

samples: nrf9160: lwm2m_client: Remove obsolete hotfix for buttons
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_push_button.c
Labels: none

samples: nrf9160: lwm2m_client: Update state of Button 2 correctly
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_push_button.c
Labels: none

samples: event_manager_proxy: Add icmsg backend configuration
  doc/nrf/releases/release-notes-changelog.rst
  samples/event_manager_proxy/CMakeLists.txt
  samples/event_manager_proxy/Kconfig
  samples/event_manager_proxy/README.rst
  samples/event_manager_proxy/aci/CMakeLists.txt
  samples/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp_icmsg.conf
  samples/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp_icmsg.overlay
  samples/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp_remote.cmake
  samples/event_manager_proxy/common_events/CMakeLists.txt
  samples/event_manager_proxy/modules/CMakeLists.txt
  samples/event_manager_proxy/prj_icmsg.conf
  samples/event_manager_proxy/remote/CMakeLists.txt
  samples/event_manager_proxy/remote/boards/nrf5340dk_nrf5340_cpunet_icmsg.overlay
  samples/event_manager_proxy/remote/prj.conf
  samples/event_manager_proxy/remote/prj_icmsg.conf
  samples/event_manager_proxy/sample.yaml
  samples/event_manager_proxy/zephyr/module.yml
Labels: doc-required

samples: bluetooth: multiple_adv_sets: nrf5340 fix
  samples/bluetooth/multiple_adv_sets/child_image/hci_rpmsg.conf
Labels: none

lib: lte_lc: Add simple shell commands
  doc/nrf/releases/release-notes-changelog.rst
  lib/lte_link_control/CMakeLists.txt
  lib/lte_link_control/Kconfig
  lib/lte_link_control/lte_lc_shell.c
  samples/nrf9160/modem_shell/prj.conf
Labels: doc-required

doc: update nrfxlib revision for nrfxlib PR #665
  west.yml
Labels: manifest

doc: matter: update memory footprint doc
  doc/nrf/app_memory.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

doc: zigbee: add section about memory footprint
  doc/nrf/app_memory.rst
Labels: doc-required

spm: Add adaption from soc_secure functions to SPM secure services
  subsys/nonsecure/CMakeLists.txt
  subsys/nonsecure/soc_secure.c
  subsys/spm/Kconfig
Labels: none

manifest: Update zephyr
  west.yml
Labels: manifest

version: Update VERSION to 1.9.99-dev1
  VERSION
Labels: none

checkpatch: Ignore ZBOSS-specific typedefs
  scripts/checkpatch/typedefsfile
Labels: none

event_manager_proxy: Check if remote instance was added already
  include/event_manager_proxy.h
  samples/event_manager_proxy/remote/src/main.c
  samples/event_manager_proxy/src/main.c
  subsys/event_manager_proxy/event_manager_proxy.c
Labels: none

zigbee: osif: Add osif_transceiver_time_get_long()
  subsys/zigbee/osif/zb_nrf_timer_counter.c
  subsys/zigbee/osif/zb_nrf_timer_ktimer.c
  tests/subsys/zigbee/osif/timer_counter/mock/zboss_api.h
  tests/subsys/zigbee/osif/timer_counter/src/main.c
  tests/subsys/zigbee/osif/timer_counter/stubs/zb_types.h
  tests/subsys/zigbee/osif/timer_ktimer/mock/zboss_api.h
  tests/subsys/zigbee/osif/timer_ktimer/src/main.c
Labels: none

zigbee: osif: Add variant for incomplete platforms
  doc/nrf/libraries/zigbee/osif.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/ncp/prj.conf
  samples/zigbee/ncp/prj_usb.conf
  subsys/zigbee/CMakeLists.txt
  subsys/zigbee/Kconfig
  subsys/zigbee/osif/zb_nrf_crypto.c
  subsys/zigbee/osif/zb_nrf_nvram.c
  subsys/zigbee/osif/zb_nrf_nvram_none.c
  subsys/zigbee/osif/zb_nrf_pwr_mgmt.c
  subsys/zigbee/osif/zb_nrf_timer_counter.c
  subsys/zigbee/osif/zb_nrf_timer_ktimer.c
  tests/subsys/zigbee/osif/nvram/src/main.c
  tests/subsys/zigbee/osif/timer_counter/CMakeLists.txt
  tests/subsys/zigbee/osif/timer_counter/mock/zboss_api.h
  tests/subsys/zigbee/osif/timer_counter/prj.conf
  tests/subsys/zigbee/osif/timer_counter/src/main.c
  tests/subsys/zigbee/osif/timer_counter/stubs/zb_types.h
  tests/subsys/zigbee/osif/timer_counter/testcase.yaml
  tests/subsys/zigbee/osif/timer_ktimer/CMakeLists.txt
  tests/subsys/zigbee/osif/timer_ktimer/mock/zboss_api.h
  tests/subsys/zigbee/osif/timer_ktimer/prj.conf
  tests/subsys/zigbee/osif/timer_ktimer/src/main.c
  tests/subsys/zigbee/osif/timer_ktimer/stubs/zb_types.h
  tests/subsys/zigbee/osif/timer_ktimer/testcase.yaml
Labels: doc-required

checkpatch: Ignore ZBOSS-specific typedefs
  scripts/checkpatch/typedefsfile
Labels: none

samples: Fix Zigbee NCP vendor-specific sample
  samples/zigbee/ncp/src/main.c
Labels: none

doc: parameter fix in Multiprotocol support doc
  doc/nrf/ug_multiprotocol_support.rst
Labels: doc-required

net: lib: lwm2m_client_utils:lwm2m_utils: Updating bootstrap keys
  include/net/lwm2m_client_utils.h
  samples/nrf9160/lwm2m_client/overlay-avsystem-bootstrap.conf
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
Labels: none

samples: nrf9160: lwm2m_client: Don't load all settings on main.c
  samples/nrf9160/lwm2m_client/src/main.c
  subsys/net/lib/lwm2m_client_utils/fota/settings.c
Labels: none

samples: nrf9160: modem_shell: update the US server root CA used for FOTA
  samples/nrf9160/modem_shell/src/fota/cert/Baltimore-CyberTrust-Root
  samples/nrf9160/modem_shell/src/fota/fota.c
Labels: none

lib: location: add missing note to API
  include/modem/location.h
Labels: none

doc: update versions for 1.9.99-dev1 tag
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/versions.json
Labels: doc-required

applications: nrf5340_audio: Update version number
  applications/nrf5340_audio/CMakeLists.txt
Labels: none

applications: nrf5340_audio: Update version number
  applications/nrf5340_audio/CMakeLists.txt
Labels: none

doc: update versions for 1.9.99-dev1 tag
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/versions.json
Labels: doc-required

version: Update VERSION to 1.9.99-dev1
  VERSION
Labels: none

manifest: Update zephyr
  west.yml
Labels: manifest

spm: Add adaption from soc_secure functions to SPM secure services
  subsys/nonsecure/CMakeLists.txt
  subsys/nonsecure/soc_secure.c
  subsys/spm/Kconfig
Labels: none

version: Update VERSION to 1.9.99
  VERSION
Labels: none

samples: openthread: Change default logging level in coprocessor
  samples/openthread/coprocessor/overlay-logging.conf
Labels: none

doc: parameter fix in Multiprotocol support doc
  doc/nrf/ug_multiprotocol_support.rst
Labels: doc-required

manifest: Update Zephyr revision
  west.yml
Labels: manifest

applications: nrf5340_audio: Update version number
  applications/nrf5340_audio/CMakeLists.txt
Labels: none

doc: update versions after 1.9.99-dev1 tag
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

net: lib: lwm2m_client_utils:lwm2m_utils: Updating bootstrap keys
  include/net/lwm2m_client_utils.h
  samples/nrf9160/lwm2m_client/overlay-avsystem-bootstrap.conf
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
Labels: none

samples: nrf9160: lwm2m_client: Don't load all settings on main.c
  samples/nrf9160/lwm2m_client/src/main.c
  subsys/net/lib/lwm2m_client_utils/fota/settings.c
Labels: none

lib: location: add missing note to API
  include/modem/location.h
Labels: none

samples: nrf9160: modem_shell: update the US server root CA used for FOTA
  samples/nrf9160/modem_shell/src/fota/cert/Baltimore-CyberTrust-Root
  samples/nrf9160/modem_shell/src/fota/fota.c
Labels: none

version: Update VERSION to 1.9.99
  VERSION
Labels: none
