Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

doc: openthread: update SHA of recommended OT Border Router
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_tools.rst
Labels: doc-required

manifest: Update cmock
  west.yml
Labels: manifest

manifest: Use submodules for cmock and removed unity
  west.yml
Labels: manifest

upmerge: Auto upmerge test
  west.yml
Labels: manifest

net/lwm2m_client_utils: Remove log_strdup invocations
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
Labels: none

nrf_rpc: bluetooth: Remove log_strdup invocations
  subsys/nrf_rpc/nrf_rpc_ipc.c
Labels: none

net: lib: aws_jobs: Remove log_strdup invocations
  subsys/net/lib/aws_jobs/src/aws_jobs.c
Labels: none

mpsl: Remove log_strdup invocations
  subsys/mpsl/init/mpsl_init.c
Labels: none

samples: openthread: Remove log_strdup invocations
  samples/openthread/coap_client/src/ble_utils.c
  samples/openthread/coap_client/src/coap_client_utils.c
Labels: none

event_manager_proxy: Remove log_strdup invocations
  subsys/event_manager_proxy/event_manager_proxy.c
Labels: none

dfu_target: Remove log_strdup invocations
  subsys/dfu/dfu_target/src/dfu_target_modem_delta.c
Labels: none

net: lib: aws_iot: Remove log_strdup invocations
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: none

test: bluetooth: Remove log_strdup invocations
  tests/bluetooth/tester/src/mesh.c
Labels: none

applications: nrf_desktop: Remove log_strdup invocations
  applications/nrf_desktop/src/events/ble_event.c
  applications/nrf_desktop/src/events/hid_event.c
  applications/nrf_desktop/src/modules/ble_discovery.c
  applications/nrf_desktop/src/modules/ble_scan.c
Labels: none

bluetooth: Remove log_strdup invocations
  include/bluetooth/mesh/sensor.h
  subsys/bluetooth/controller/hci_driver.c
  subsys/bluetooth/mesh/scene_srv.c
  subsys/bluetooth/scan.c
Labels: none

zigbee: Remove log_strdup invocations
  subsys/zigbee/lib/zigbee_app_utils/zigbee_app_utils.c
  subsys/zigbee/lib/zigbee_logger_ep/zigbee_logger_eprxzcl.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_attr_report.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_nbr.c
Labels: none

fota_download: Remove log_strdup invocations
  subsys/net/lib/fota_download/src/fota_download.c
Labels: none

samples/zigbee: Remove log_strdup invocations
  samples/zigbee/light_switch/src/nus_cmd.c
Labels: none

net: lib: azure_iot_hub: Remove log_strdup invocations
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_dps.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_topic.c
Labels: none

lib: location: Remove log_strdup invocations
  lib/location/location_core.c
  lib/location/location_utils.c
  lib/location/method_wifi.c
  lib/location/wifi/wifi_here_rest.c
  lib/location/wifi/wifi_nrf_cloud_rest.c
Labels: none

net: lib: rest_client: Remove log_strdup invocations
  subsys/net/lib/rest_client/src/rest_client.c
Labels: none

lib: lte_link_control: Remove log_strdup invocations
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc_helpers.c
Labels: none

app: serial_lte_modem: Remove log_strdup invocations
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  applications/serial_lte_modem/src/slm_at_socket.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  applications/serial_lte_modem/src/twi/slm_at_twi.c
Labels: none

net/lib/nrf_cloud: Remove log_strdup invocations
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps_utils.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: none

applications: connectivity_bridge: Remove log_strdup invocations
  applications/connectivity_bridge/src/disk/config.c
  applications/connectivity_bridge/src/modules/ble_handler.c
  applications/connectivity_bridge/src/modules/fs_handler.c
Labels: none

samples: nrf9160: Remove log_strdup invocations
  samples/nrf9160/lte_ble_gateway/src/ble.c
  samples/nrf9160/lwm2m_client/src/main.c
  samples/nrf9160/memfault/src/main.c
  samples/nrf9160/mqtt_simple/src/main.c
  samples/nrf9160/multicell_location/src/main.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/application.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
  samples/nrf9160/nrf_cloud_rest_device_message/src/main.c
  samples/nrf9160/nrf_cloud_rest_fota/src/main.c
Labels: none

net: lib: aws_fota: Remove log_strdup invocations
  subsys/net/lib/aws_fota/src/aws_fota.c
Labels: none

nfc: Remove log_strdup invocations
  subsys/nfc/ndef/le_oob_rec_parser.c
Labels: none

applications: asset_tracker_v2: Remove log_strdup invocations
  applications/asset_tracker_v2/src/cloud/aws_iot_integration.c
  applications/asset_tracker_v2/src/cloud/azure_iot_hub_integration.c
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
  applications/asset_tracker_v2/src/events/app_module_event.c
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors_bsec.c
  applications/asset_tracker_v2/src/modules/modem_module.c
  applications/asset_tracker_v2/src/modules/modules_common.c
Labels: none

net: lib: azure_fota: Remove log_strdup invocations
  subsys/net/lib/azure_fota/azure_fota.c
Labels: none

caf: Remove log_strdup invocations
  subsys/caf/modules/ble_adv.c
  subsys/caf/modules/ble_state.c
  subsys/caf/modules/net_state_lte.c
  subsys/caf/modules/net_state_ot.c
Labels: none

lib: sms: Remove log_strdup invocations
  lib/sms/sms.c
  lib/sms/sms_deliver.c
  lib/sms/sms_submit.c
Labels: none

modules: memfault: Remove log_strdup invocations
  modules/memfault-firmware-sdk/memfault_integration.c
Labels: none

event_manager: Remove log_strdup invocations
  subsys/app_event_manager/app_event_manager.c
Labels: none

net: lib: zzhc: Remove log_strdup invocations
  subsys/net/lib/zzhc/zzhc.c
Labels: none

lib: multicell_location: Remove log_strdup invocations
  lib/multicell_location/services/here_integration.c
  lib/multicell_location/services/polte_integration.c
Labels: none

lib: ftp_client: Remove log_strdup invocations
  subsys/net/lib/ftp_client/src/ftp_client.c
Labels: none

net: lib: download_client: Remove log_strdup invocations
  subsys/net/lib/download_client/src/download_client.c
  subsys/net/lib/download_client/src/http.c
Labels: none

samples/peripheral/802154_phy_test: Remove log_strdup invocations
  samples/peripheral/802154_phy_test/src/comm_proc.c
Labels: none

applications: nrf_desktop: battery_meas: use DEVICE_DT_GET
  applications/nrf_desktop/src/hw_interface/battery_meas.c
Labels: none
