Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

tests: added tests for download client
  tests/subsys/net/lib/download_client/CMakeLists.txt
  tests/subsys/net/lib/download_client/prj.conf
  tests/subsys/net/lib/download_client/src/main.c
  tests/subsys/net/lib/download_client/src/mock/dl_coap.c
  tests/subsys/net/lib/download_client/src/mock/dl_coap.h
  tests/subsys/net/lib/download_client/src/mock/dl_http.c
  tests/subsys/net/lib/download_client/src/mock/dl_http.h
  tests/subsys/net/lib/download_client/src/mock/socket.c
  tests/subsys/net/lib/download_client/src/mock/socket.h
  tests/subsys/net/lib/download_client/testcase.yaml
Labels: none

bluetooth: controller: Preparation to support v5.3 naming convention
  subsys/bluetooth/controller/hci_internal.c
Labels: none

CODEOWNERS: Add more codeowners for LwM2M sample
  CODEOWNERS
Labels: none

applications: nrf5340_audio: Fix underrun condition
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/modules/audio_i2s.c
Labels: none

tests: clock_control: Remove unit test of mpsl clock control
  CODEOWNERS
  tests/drivers/clock_control/clock_control_mpsl/CMakeLists.txt
  tests/drivers/clock_control/clock_control_mpsl/boards/nrf9160dk_nrf9160.overlay
  tests/drivers/clock_control/clock_control_mpsl/prj.conf
  tests/drivers/clock_control/clock_control_mpsl/src/test_clock_control.c
  tests/drivers/clock_control/clock_control_mpsl/testcase.yaml
Labels: none

samples: treewide: Note provisioning requirement for REST samples
  doc/nrf/includes/nrf_cloud_rest_sample_requirements.txt
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/gnss/README.rst
  samples/nrf9160/location/README.rst
  samples/nrf9160/multicell_location/README.rst
Labels: doc-required

samples: nrf9160: nrf_cloud_rest_fota: add at host
  samples/nrf9160/nrf_cloud_rest_fota/prj.conf
  samples/nrf9160/nrf_cloud_rest_fota/src/main.c
Labels: none

samples: nrf9160: nrf_cloud_rest_device_message: add at host
  samples/nrf9160/nrf_cloud_rest_device_message/prj.conf
  samples/nrf9160/nrf_cloud_rest_device_message/src/main.c
Labels: none

samples: nrf9160: gnss: add at host
  samples/nrf9160/gnss/README.rst
  samples/nrf9160/gnss/prj.conf
Labels: doc-required

samples: nrf9160: location: add at host
  samples/nrf9160/location/README.rst
  samples/nrf9160/location/prj.conf
Labels: doc-required

doc: samples: nrf9160: add at_host to nrf_cloud_rest samples
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_rest_device_message/README.rst
  samples/nrf9160/nrf_cloud_rest_fota/README.rst
Labels: doc-required

samples: nrf9160: location: improve test pass rate
  samples/nrf9160/location/src/main.c
Labels: none

samples: nrf9160: modem_shell: add console print after UART enable
  samples/nrf9160/modem_shell/src/uart/uart_shell.c
Labels: none

net: lib: nrf_cloud: A-GPS filtered ephemeris improvement
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps.c
Labels: doc-required

samples: treewide: Note provisioning requirement for REST samples
  doc/nrf/includes/nrf_cloud_rest_sample_requirements.txt
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/gnss/README.rst
  samples/nrf9160/location/README.rst
  samples/nrf9160/multicell_location/README.rst
Labels: doc-required

CAF: sensor_manager: Add sensor manager sample for multiple cores
  doc/nrf/releases/release-notes-changelog.rst
  samples/caf_sensor_manager/CMakeLists.txt
  samples/caf_sensor_manager/Kconfig
  samples/caf_sensor_manager/README.rst
  samples/caf_sensor_manager/aci/CMakeLists.txt
  samples/caf_sensor_manager/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/caf_sensor_manager/configuration/common/event_proxy_init.c
  samples/caf_sensor_manager/configuration/common/event_proxy_init.h
  samples/caf_sensor_manager/remote/CMakeLists.txt
  samples/caf_sensor_manager/remote/Kconfig
  samples/caf_sensor_manager/remote/boards/nrf5340dk_nrf5340_cpunet.overlay
  samples/caf_sensor_manager/remote/prj.conf
  samples/caf_sensor_manager/remote/src/main.c
  samples/caf_sensor_manager/sample.yaml
  samples/caf_sensor_manager/src/modules/Kconfig
  samples/caf_sensor_manager/src/modules/workload_sim.c
  samples/caf_sensor_manager/zephyr/module.yml
Labels: doc-required

samples: nrf9160: modem_shell: Add remote control via nRF cloud
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/cloud/cloud_shell.c
  samples/nrf9160/modem_shell/src/print/print_shell.c
  samples/nrf9160/modem_shell/src/utils/mosh_print.c
Labels: doc-required

manifest: update nrfxlib
  west.yml
Labels: manifest

bluetooth: controller: Transitioning to Core v5.3 naming convention
  subsys/bluetooth/controller/hci_internal.c
Labels: none

doc: samples: nrf9160: add at_host to nrf_cloud_rest samples
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_rest_device_message/README.rst
  samples/nrf9160/nrf_cloud_rest_fota/README.rst
Labels: doc-required

samples: nrf9160: nrf_cloud_rest_fota: add at host
  samples/nrf9160/nrf_cloud_rest_fota/prj.conf
  samples/nrf9160/nrf_cloud_rest_fota/src/main.c
Labels: none

samples: nrf9160: nrf_cloud_rest_device_message: add at host
  samples/nrf9160/nrf_cloud_rest_device_message/prj.conf
  samples/nrf9160/nrf_cloud_rest_device_message/src/main.c
Labels: none

samples: nrf9160: gnss: add at host
  samples/nrf9160/gnss/README.rst
  samples/nrf9160/gnss/prj.conf
Labels: doc-required

samples: nrf9160: location: improve test pass rate
  samples/nrf9160/location/src/main.c
Labels: none

samples: nrf9160: location: add at host
  samples/nrf9160/location/README.rst
  samples/nrf9160/location/prj.conf
Labels: doc-required

zigbee: Switch Zigbee crypto to use NRF_OBERON for nRF53 platform
  applications/zigbee_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/zigbee_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_bulb/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/light_switch/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/ncp/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/ncp/boards/nrf5340dk_nrf5340_cpuapp_usb.conf
  samples/zigbee/network_coordinator/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/shell/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/template/boards/nrf5340dk_nrf5340_cpuapp.conf
  subsys/zigbee/CMakeLists.txt
  subsys/zigbee/Kconfig
  subsys/zigbee/osif/zb_nrf_crypto.c
  tests/subsys/zigbee/osif/crypto/CMakeLists.txt
  tests/subsys/zigbee/osif/crypto/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/zigbee/osif/nvram/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/zigbee/zboss_api/alarm_api/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/zigbee/zboss_api/callback_api/boards/nrf5340dk_nrf5340_cpuapp.conf
Labels: doc-required

applications: nrf5340_audio: Fix underrun condition
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/modules/audio_i2s.c
Labels: none

event_manager: event_manager_proxy: Fix bug, no correct include
  include/event_manager_proxy.h
Labels: none

CAF: sensor_data_aggregator: Update aggregator module memory usage
  dts/bindings/caf/caf,aggregator.yaml
  subsys/caf/events/sensor_data_aggregator_event.c
  subsys/caf/modules/sensor_data_aggregator.c
Labels: none

CAF: sensor_manager: Add sensor manager sample for multiple cores
  doc/nrf/releases/release-notes-changelog.rst
  samples/caf_sensor_manager/CMakeLists.txt
  samples/caf_sensor_manager/Kconfig
  samples/caf_sensor_manager/README.rst
  samples/caf_sensor_manager/aci/CMakeLists.txt
  samples/caf_sensor_manager/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/caf_sensor_manager/configuration/common/event_proxy_init.c
  samples/caf_sensor_manager/configuration/common/event_proxy_init.h
  samples/caf_sensor_manager/remote/CMakeLists.txt
  samples/caf_sensor_manager/remote/Kconfig
  samples/caf_sensor_manager/remote/boards/nrf5340dk_nrf5340_cpunet.overlay
  samples/caf_sensor_manager/remote/prj.conf
  samples/caf_sensor_manager/remote/src/main.c
  samples/caf_sensor_manager/sample.yaml
  samples/caf_sensor_manager/src/modules/Kconfig
  samples/caf_sensor_manager/src/modules/workload_sim.c
  samples/caf_sensor_manager/zephyr/module.yml
Labels: doc-required

manifest: Update nrfxlib revision
  west.yml
Labels: manifest

samples: openthread: remove minimal configuration for CLI sample
  samples/openthread/cli/overlay-minimal_multiprotocol.conf
  samples/openthread/cli/overlay-minimal_singleprotocol.conf
  samples/openthread/cli/sample.yaml
Labels: none

doc: openthread: align documentation to recent changes
  doc/nrf/app_memory.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_ot_memory.rst
  samples/openthread/cli/README.rst
Labels: doc-required

zigbee: Switch Zigbee crypto to use NRF_OBERON for nRF53 platform
  applications/zigbee_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/zigbee_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_bulb/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/light_switch/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/ncp/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/ncp/boards/nrf5340dk_nrf5340_cpuapp_usb.conf
  samples/zigbee/network_coordinator/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/shell/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/template/boards/nrf5340dk_nrf5340_cpuapp.conf
  subsys/zigbee/CMakeLists.txt
  subsys/zigbee/Kconfig
  subsys/zigbee/osif/zb_nrf_crypto.c
  tests/subsys/zigbee/osif/crypto/CMakeLists.txt
  tests/subsys/zigbee/osif/crypto/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/zigbee/osif/nvram/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/zigbee/zboss_api/alarm_api/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/zigbee/zboss_api/callback_api/boards/nrf5340dk_nrf5340_cpuapp.conf
Labels: doc-required

doc: Fixed wrong Matter upstream commit SHA in the release note
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

bluetooth: controller: Transitioning to Core v5.3 naming convention
  subsys/bluetooth/controller/hci_internal.c
Labels: none

manifest: Update nrfxlib revision
  west.yml
Labels: manifest

doc: openthread: align documentation to recent changes
  doc/nrf/app_memory.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_ot_memory.rst
  samples/openthread/cli/README.rst
Labels: doc-required

samples: openthread: remove minimal configuration for CLI sample
  samples/openthread/cli/overlay-minimal_multiprotocol.conf
  samples/openthread/cli/overlay-minimal_singleprotocol.conf
  samples/openthread/cli/sample.yaml
Labels: none

samples: nrf9160: mqtt multi service: add unit/integration tests
  .github/test-spec.yml
  samples/nrf9160/nrf_cloud_mqtt_multi_service/sample.yaml
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/application.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/tests/application/CMakeLists.txt
  samples/nrf9160/nrf_cloud_mqtt_multi_service/tests/application/Kconfig
  samples/nrf9160/nrf_cloud_mqtt_multi_service/tests/application/prj.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/tests/application/src/main.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/tests/application/src/mocks.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/tests/application/testcase.yaml
Labels: none
