Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

samples: lwm2m_client: Updated west.yml
  west.yml
Labels: manifest

samples: lwm2m: LwM2M v1.1 SenML CBOR enabled
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-core-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-object-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1.conf
Labels: doc-required

samples: lwm2m_client: enable LwM2M shell
  samples/nrf9160/lwm2m_client/prj.conf
Labels: none

samples: nrf9160: modem_shell: Use PDN ID in getaddrinfo
  samples/nrf9160/modem_shell/src/sock/sock.c
Labels: none

rpc: Attempt to move to zcbor
  subsys/bluetooth/rpc/common/serialize.c
  subsys/bluetooth/rpc/common/serialize.h
Labels: none

applications: nrf_desktop: Remove unused options from configurations
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/prj.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/prj.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_dongle.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_keyboard.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_mcuboot_qspi.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_wwcb.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_3bleconn.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_4llpmconn.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/prj.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_shell.conf
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
Labels: none

samples: lwm2m_client: enable LwM2M shell
  samples/nrf9160/lwm2m_client/prj.conf
Labels: none

samples: lwm2m_client: Updated west.yml
  west.yml
Labels: manifest

samples: lwm2m: LwM2M v1.1 SenML CBOR enabled
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-core-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-object-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1.conf
Labels: doc-required

net: lib: lwm2m_client_utils: Expose API to set signal meas object
  include/net/lwm2m_client_utils.h
  samples/nrf9160/lwm2m_client/src/main.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/neighbour_cell_info.c
Labels: none

applications: asset_tracker_v2: Add support for LwM2M
  applications/asset_tracker_v2/Kconfig
  applications/asset_tracker_v2/overlay-lwm2m.conf
  applications/asset_tracker_v2/prj.conf
  applications/asset_tracker_v2/sample.yaml
  applications/asset_tracker_v2/src/cloud/CMakeLists.txt
  applications/asset_tracker_v2/src/cloud/Kconfig.lwm2m_integration
  applications/asset_tracker_v2/src/cloud/aws_iot_integration.c
  applications/asset_tracker_v2/src/cloud/azure_iot_hub_integration.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/CMakeLists.txt
  applications/asset_tracker_v2/src/cloud/cloud_codec/Kconfig
  applications/asset_tracker_v2/src/cloud/cloud_codec/aws_iot/aws_iot_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/azure_iot_hub/azure_iot_hub_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_wrapper.h
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/config_object_descript.xml
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/configuration_object.c
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
  applications/asset_tracker_v2/src/events/cloud_module_event.c
  applications/asset_tracker_v2/src/events/cloud_module_event.h
  applications/asset_tracker_v2/src/events/data_module_event.h
  applications/asset_tracker_v2/src/events/modem_module_event.h
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/Kconfig.app_module
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  applications/asset_tracker_v2/src/modules/Kconfig.modem_module
  applications/asset_tracker_v2/src/modules/Kconfig.sensor_module
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/modem_module.c
  applications/asset_tracker_v2/src/modules/util_module.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

applications: asset_tracker_v2: Fix application tests
  applications/asset_tracker_v2/tests/debug_module/CMakeLists.txt
  applications/asset_tracker_v2/tests/gnss_module/CMakeLists.txt
  applications/asset_tracker_v2/tests/json_common/CMakeLists.txt
  applications/asset_tracker_v2/tests/ui_module/CMakeLists.txt
Labels: none

mcuboot: external_flash: Support SPI devices with partition manager
  Kconfig.nrf
  modules/mcuboot/CMakeLists.txt
  modules/mcuboot/boot/zephyr/Kconfig
  subsys/partition_manager/multithreading.conf
Labels: none

tests: mcuboot: Add nrf9160@0.14.0 to the test cases.
  tests/modules/mcuboot/external_flash/boards/nrf9160dk_nrf9160_0_14_0.overlay
  tests/modules/mcuboot/external_flash/child_image/mcuboot/prj.conf
  tests/modules/mcuboot/external_flash/testcase.yaml
Labels: none

manifest: Update Zephyr revision to bring TCP fixes
  west.yml
Labels: manifest

lib: zigbee shell: Fix incorrect index in zcl generic shell cmd
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_generic_cmd.c
Labels: doc-required

applications: Zigbee weather station: Remove incorrect buffer freeing
  applications/zigbee_weather_station/src/main.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

lib: zigbee osif: Optimize calling ZBOSS API in NCS
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/osif/zb_nrf_platform.c
Labels: doc-required

samples: bluetooth: dtm: Use Radio bindings for antennas
  samples/bluetooth/direct_test_mode/README.rst
  samples/bluetooth/direct_test_mode/boards/nrf5340dk_nrf5340_cpunet.overlay
  samples/bluetooth/direct_test_mode/src/dtm.c
  samples/bluetooth/direct_test_mode/src/dtm_hw.c
  samples/bluetooth/direct_test_mode/src/dtm_hw.h
  samples/bluetooth/direct_test_mode/src/dtm_hw_config.h
Labels: doc-required

changelog: Update changelog with the DTM changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

dfu: multi-image package format and library
  CODEOWNERS
  cmake/dfu_multi_image.cmake
  doc/nrf/libraries/dfu/dfu_multi_image.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/dfu/dfu_multi_image.h
  modules/mcuboot/CMakeLists.txt
  modules/mcuboot/Kconfig
  scripts/bootloader/dfu_multi_image_tool.py
  subsys/dfu/CMakeLists.txt
  subsys/dfu/Kconfig
  subsys/dfu/dfu_multi_image/CMakeLists.txt
  subsys/dfu/dfu_multi_image/Kconfig
  subsys/dfu/dfu_multi_image/src/dfu_multi_image.c
  tests/subsys/dfu/dfu_multi_image/CMakeLists.txt
  tests/subsys/dfu/dfu_multi_image/prj.conf
  tests/subsys/dfu/dfu_multi_image/src/main.c
  tests/subsys/dfu/dfu_multi_image/testcase.yaml
Labels: doc-required

modules: memfault: option for custom Memfault Device Info
  modules/memfault-firmware-sdk/Kconfig
  modules/memfault-firmware-sdk/memfault_integration.c
Labels: none

application: serial_lte_modem: BUG-FIX peripheral error
  applications/serial_lte_modem/src/main.c
Labels: none

samples: bluetooth: nrf_dm: update figure in the documentation.
  samples/bluetooth/nrf_dm/README.rst
  samples/bluetooth/nrf_dm/images/sync.svg
Labels: doc-required

samples: nrf9160: modem_shell: at_cmd_mode: runtime set for line endings
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/src/at/at_cmd_mode.c
  samples/nrf9160/modem_shell/src/at/at_cmd_mode.h
  samples/nrf9160/modem_shell/src/at/at_shell.c
Labels: none

samples: matter: Fixed commissioning error
  samples/matter/window_covering/src/app_task.cpp
Labels: none

samples: nrf9160: modem_shell: location: PVT json format update
  samples/nrf9160/modem_shell/src/location/location_cmd_utils.c
Labels: none

application: serial_lte_modem: BUG-FIX peripheral error
  applications/serial_lte_modem/src/main.c
Labels: none

application: serial_lte_modem: Fix HIGH static code analysis case
  applications/serial_lte_modem/src/slm_at_socket.c
Labels: none

samples: lwm2m: v1.1 w/a TLV enabled bootstrap
  samples/nrf9160/lwm2m_client/overlay-avsystem-bootstrap.conf
  samples/nrf9160/lwm2m_client/overlay-leshan-bootstrap.conf
Labels: none

samples: Change samples to sample
  samples/event_manager_proxy/sample.yaml
  samples/nrf9160/nrf_cloud_mqtt_multi_service/sample.yaml
  samples/openthread/cli/sample.yaml
Labels: none

dfu: multi-image package format and library
  CODEOWNERS
  cmake/dfu_multi_image.cmake
  doc/nrf/libraries/dfu/dfu_multi_image.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/dfu/dfu_multi_image.h
  modules/mcuboot/CMakeLists.txt
  modules/mcuboot/Kconfig
  scripts/bootloader/dfu_multi_image_tool.py
  subsys/dfu/CMakeLists.txt
  subsys/dfu/Kconfig
  subsys/dfu/dfu_multi_image/CMakeLists.txt
  subsys/dfu/dfu_multi_image/Kconfig
  subsys/dfu/dfu_multi_image/src/dfu_multi_image.c
  tests/subsys/dfu/dfu_multi_image/CMakeLists.txt
  tests/subsys/dfu/dfu_multi_image/prj.conf
  tests/subsys/dfu/dfu_multi_image/src/main.c
  tests/subsys/dfu/dfu_multi_image/testcase.yaml
Labels: doc-required

doc: event_manager_proxy: Document the library limitations
  doc/nrf/libraries/others/event_manager_proxy.rst
Labels: doc-required

bluetooth: fast_pair: Move crypto to separate directory
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_common.c
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_mbedtls.c
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_tinycrypt.c
  tests/subsys/bluetooth/fast_pair/crypto/CMakeLists.txt
Labels: none

bluetooth: fast_pair: Clean up Kconfig
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
Labels: none

bluetooth: fast_pair: Introduce run-time storage
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_keys.c
  subsys/bluetooth/services/fast_pair/fp_storage.c
  subsys/bluetooth/services/fast_pair/include/fp_storage.h
Labels: none

samples: peripheral_fast_pair: Add HIDS to Fast Pair sample
  samples/bluetooth/peripheral_fast_pair/CMakeLists.txt
  samples/bluetooth/peripheral_fast_pair/include/hids_helper.h
  samples/bluetooth/peripheral_fast_pair/prj.conf
  samples/bluetooth/peripheral_fast_pair/src/hids_helper.c
  samples/bluetooth/peripheral_fast_pair/src/main.c
Labels: none

partition_manager: Add partition for Fast Pair data
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/partition_manager/CMakeLists.txt
  subsys/partition_manager/pm.yml.bt_fast_pair
Labels: none

bluetooth: fast_pair: Align fp_ecdh_shared_secret argument order
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_mbedtls.c
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_tinycrypt.c
  subsys/bluetooth/services/fast_pair/fp_keys.c
  subsys/bluetooth/services/fast_pair/include/fp_crypto.h
  tests/subsys/bluetooth/fast_pair/crypto/src/main.c
Labels: none

samples: peripheral_fast_pair: Set number of connections and bonds
  samples/bluetooth/peripheral_fast_pair/prj.conf
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
