Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

samples: secure_services: Fix regex for test of variant number
  samples/nrf9160/secure_services/sample.yaml
Labels: none

doc: update known issues for 2.0.0 release
  doc/nrf/known_issues.rst
Labels: doc-required

doc: Add note about secure faults missed by memfault if using TF-M
  doc/nrf/libraries/others/memfault_ncs.rst
Labels: doc-required

manifest: update zephyr
  west.yml
Labels: manifest

applications: nrf5340_audio: Add metadata for ble5-ctr-rpmsg build
  applications/nrf5340_audio/bin/manifest.yaml
Labels: none

manifest: pull TF-M reset and boot fixes
  west.yml
Labels: manifest

samples: memfault: Add divison by zero instead of null deref with TF-M
  samples/nrf9160/memfault/README.rst
  samples/nrf9160/memfault/src/main.c
Labels: doc-required

tfm: Add option to control TF-M halt on panic behavior
  modules/tfm/zephyr/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
Labels: none

tfm: Add option to enable TF-M init of architecture state on boot
  modules/tfm/zephyr/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
Labels: none

tfm: Add option for allowing non-secure to reset the system
  modules/tfm/tfm/boards/CMakeLists.txt
  modules/tfm/tfm/boards/common/tfm_hal_platform.c
  modules/tfm/zephyr/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
Labels: none

samples: memfault: Add divison by zero instead of null deref with TF-M
  samples/nrf9160/memfault/README.rst
  samples/nrf9160/memfault/src/main.c
Labels: doc-required

tfm: Add option for allowing non-secure to reset the system
  modules/tfm/tfm/boards/CMakeLists.txt
  modules/tfm/tfm/boards/common/tfm_hal_platform.c
  modules/tfm/zephyr/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
Labels: none

tfm: Add option to control TF-M halt on panic behavior
  modules/tfm/zephyr/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
Labels: none

tfm: Add option to enable TF-M init of architecture state on boot
  modules/tfm/zephyr/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
Labels: none

manifest: pull TF-M reset and boot fixes
  west.yml
Labels: manifest

doc: add migration guide from NCS 1.x.x
  doc/nrf/links.txt
  doc/nrf/migration/migration_guide_1.x_to_2.x.rst
  doc/nrf/ug_tfm.rst
Labels: doc-required

doc: add release notes for NCS 2.0.0
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrf/dm_adding_code.rst
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.0.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

applications: asset_tracker_v2: Default CONFIG_RESET_ON_FATAL_ERROR to y
  applications/asset_tracker_v2/prj.conf
  applications/asset_tracker_v2/src/modules/util_module.c
Labels: none

samples: lwm2m_client: Batch create devices
  samples/nrf9160/lwm2m_client/scripts/coiote.py
Labels: none

applications: asset_tracker_v2: Default CONFIG_RESET_ON_FATAL_ERROR to y
  applications/asset_tracker_v2/prj.conf
  applications/asset_tracker_v2/src/modules/util_module.c
Labels: none

doc: add zigbee software maturity table
  doc/nrf/software_maturity.rst
Labels: doc-required

doc: software_maturity: Changed define for Matter FFS
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required

doc: software_maturity: Changed define for Matter FFS
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required

doc: update known issues for 2.0.0 release
  doc/nrf/known_issues.rst
Labels: doc-required

applications: nrf_desktop: Link doxygen API to rst
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/configuration/common/hid_report_desc.h
  applications/nrf_desktop/configuration/common/led_state.h
  applications/nrf_desktop/src/events/usb_event.h
Labels: doc-required

applications: nrf_desktop: Avoid pulling in outside led_id enums
  applications/nrf_desktop/configuration/common/led_state.h
Labels: none

tools-versions-minimum.txt: Remove SES and gnuarmemb, and add Zephyr SDK
  scripts/tools-versions-minimum.txt
Labels: none

tools-versions-minimum.txt: Remove SES and gnuarmemb, and add Zephyr SDK
  scripts/tools-versions-minimum.txt
Labels: none

doc: post 2.0.0 doc update
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

css: fix section divider in Matter
  doc/_static/css/matter.css
  doc/matter/conf.py
Labels: doc-required

doc: update_versions: Replace - with _ in names
  doc/update_versions.cmake
Labels: doc-required

doc: versions: Overall cleanup
  doc/nrf/gs_recommended_versions.rst
  doc/nrf/versions.txt.in
  scripts/tools-versions-minimum.txt
Labels: doc-required

doc: update_versions: Replace - with _ in names
  doc/update_versions.cmake
Labels: doc-required

doc: versions: Overall cleanup
  doc/nrf/gs_recommended_versions.rst
  doc/nrf/versions.txt.in
  scripts/tools-versions-minimum.txt
Labels: doc-required

doc: software_maturity: Changed define for Matter FFS
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required

doc: add zigbee software maturity table
  doc/nrf/software_maturity.rst
Labels: doc-required

css: fix section divider in Matter
  doc/_static/css/matter.css
  doc/matter/conf.py
Labels: doc-required

doc: tcm: linux support doc update
  doc/nrf/gs_assistant.rst
Labels: doc-required

doc: tcm: linux support doc update
  doc/nrf/gs_assistant.rst
Labels: doc-required

doc: add migration guide from NCS 1.x.x
  doc/nrf/links.txt
  doc/nrf/migration/migration_guide_1.x_to_2.x.rst
  doc/nrf/ug_tfm.rst
Labels: doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
