Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

net: lib: nrf_cloud_rest: set keep alive to false for jitp
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: none

samples: nrf9160: nrf_cloud_rest_fota: module-str update
  samples/nrf9160/nrf_cloud_rest_fota/Kconfig
Labels: none

zigbee: Prevent multiple calls to osif buttons init
  subsys/zigbee/osif/zb_nrf_led_button.c
Labels: none

manifest: Bump nrxlib revision
  west.yml
Labels: manifest

doc: Update release notes with changes in zboss libraries.
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

manifest: update HomeKit revision
  west.yml
Labels: manifest

fix: samples: matter: Fixed fails during reboot
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/app.overlay
  samples/matter/light_bulb/configuration/nrf5340dk_nrf5340_cpuapp/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/light_switch/configuration/nrf5340dk_nrf5340_cpuapp/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/lock/configuration/nrf5340dk_nrf5340_cpuapp/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/template/configuration/nrf5340dk_nrf5340_cpuapp/nrf5340dk_nrf5340_cpuapp.overlay
Labels: none

applications: nrf5340_audio: Disabled Zephyr HCI VS extensions
  applications/nrf5340_audio/prj.conf
Labels: none

matter: lock: user DoorLock cluster
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/lock/src/app_event.h
  samples/matter/lock/src/app_task.cpp
  samples/matter/lock/src/app_task.h
  samples/matter/lock/src/bolt_lock_manager.cpp
  samples/matter/lock/src/bolt_lock_manager.h
  samples/matter/lock/src/lock.matter
  samples/matter/lock/src/lock.zap
  samples/matter/lock/src/zap-generated/CHIPClientCallbacks.h
  samples/matter/lock/src/zap-generated/CHIPClusters.h
  samples/matter/lock/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/lock/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/lock/src/zap-generated/callback-stub.cpp
  samples/matter/lock/src/zap-generated/endpoint_config.h
  samples/matter/lock/src/zap-generated/gen_config.h
  samples/matter/lock/src/zap-generated/gen_tokens.h
  samples/matter/lock/src/zcl_callbacks.cpp
Labels: doc-required

tests: Remove _ns boards from bootloader tests (including fprotect)
  tests/drivers/fprotect/negative/testcase.yaml
  tests/drivers/fprotect/positive/testcase.yaml
  tests/subsys/bootloader/bl_crypto/testcase.yaml
  tests/subsys/bootloader/bl_storage/testcase.yaml
  tests/subsys/bootloader/bl_validation/testcase.yaml
  tests/subsys/bootloader/bl_validation_neg/testcase.yaml
Labels: none

manifest: update nrfxlib
  west.yml
Labels: manifest

zigbee: Port unit tests to nRF53 platform
  tests/subsys/zigbee/osif/crypto/CMakeLists.txt
  tests/subsys/zigbee/osif/crypto/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/zigbee/osif/crypto/testcase.yaml
  tests/subsys/zigbee/osif/nvram/boards/nrf52833dk_nrf52833.overlay
  tests/subsys/zigbee/osif/nvram/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/zigbee/osif/nvram/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/zigbee/osif/nvram/testcase.yaml
  tests/subsys/zigbee/osif/serial/serial_async_api/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/subsys/zigbee/osif/serial/serial_async_api/testcase.yaml
  tests/subsys/zigbee/osif/serial/serial_basic_api/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/subsys/zigbee/osif/serial/serial_basic_api/testcase.yaml
  tests/subsys/zigbee/osif/serial/serial_via_logger/testcase.yaml
  tests/subsys/zigbee/osif/timer_counter/testcase.yaml
  tests/subsys/zigbee/osif/timer_ktimer/testcase.yaml
  tests/subsys/zigbee/zboss_api/alarm_api/boards/nrf52833dk_nrf52833.overlay
  tests/subsys/zigbee/zboss_api/alarm_api/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/zigbee/zboss_api/alarm_api/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/zigbee/zboss_api/alarm_api/testcase.yaml
  tests/subsys/zigbee/zboss_api/callback_api/boards/nrf52833dk_nrf52833.overlay
  tests/subsys/zigbee/zboss_api/callback_api/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/zigbee/zboss_api/callback_api/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/zigbee/zboss_api/callback_api/testcase.yaml
Labels: none

applications: nrf5340_audio: Disabled Zephyr HCI VS extensions
  applications/nrf5340_audio/prj.conf
Labels: none

net: lib: nrf_cloud: update nrf cloud host name
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/Kconfig
Labels: doc-required

samples: nrf9160: MQTT Multi Service Sample: Fix PGPS
  samples/nrf9160/nrf_cloud_mqtt_multi_service/Kconfig
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/prj.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/application.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.h
Labels: doc-required

doc: Image update in AWS FOTA library
  doc/nrf/libraries/networking/aws_fota.rst
  doc/nrf/libraries/networking/images/aws_fota_dfu_sequence.png
  doc/nrf/libraries/networking/images/aws_fota_dfu_sequence.svg
  doc/nrf/libraries/networking/images/aws_fota_dfu_sequence.uml.txt
  doc/nrf/libraries/networking/images/aws_fota_dfu_sequence.vsdx
Labels: doc-required

net: lib: lwm2m_client_utils: Simultaneous assistance methods
  include/net/lwm2m_client_utils_location.h
  subsys/net/lib/lwm2m_client_utils/Kconfig
  subsys/net/lib/lwm2m_client_utils/location/location_event_handler.c
  subsys/net/lib/lwm2m_client_utils/location/location_events.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/location_assistance_obj.c
Labels: none

application: serial_lte_modem: Restore TS27.007 command V1 format
  applications/serial_lte_modem/src/slm_at_host.c
Labels: none

samples: nrf9160: modem_shell: Add remote control via nRF cloud
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/cloud/cloud_shell.c
  samples/nrf9160/modem_shell/src/print/print_shell.c
  samples/nrf9160/modem_shell/src/utils/mosh_print.c
Labels: doc-required

lib: at_cmd_parser: Handle type double
  include/modem/at_params.h
  lib/at_cmd_parser/at_cmd_parser.c
  lib/at_cmd_parser/at_params.c
  tests/lib/at_cmd_parser/at_cmd_parser/src/main.c
  tests/lib/at_cmd_parser/at_params/src/main.c
Labels: none

doc: improve user guidance
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf9160.rst
  doc/nrf/ug_nrf9160_gs.rst
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_thingy91_gsg.rst
Labels: doc-required

lib: nrf_modem: POSIX compatibility on recvfrom()
  lib/nrf_modem_lib/nrf91_sockets.c
Labels: none

CODEOWNERS: Add more codeowners for LwM2M sample
  CODEOWNERS
Labels: none

applications: nrf5340_audio: Capture audio frame receive ts earlier
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/audio_datapath.h
  applications/nrf5340_audio/src/audio/streamctrl.c
Labels: none

applications: nrf5340_audio: Change name from dsp to hw_codec
  applications/nrf5340_audio/src/drivers/cs47l63_comm.c
  applications/nrf5340_audio/src/modules/hw_codec.c
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_cpunet_reset.c
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_shared.dts
Labels: none

applications: nrf5340_audio: Change start tone freq and amplitude
  applications/nrf5340_audio/src/main.c
Labels: none

applications: nrf5340_audio: Add Kconfig choice for TX power
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/bluetooth/Kconfig
  applications/nrf5340_audio/src/bluetooth/ble_acl_common.c
  applications/nrf5340_audio/src/bluetooth/ble_acl_headset.c
  applications/nrf5340_audio/src/bluetooth/ble_acl_headset.h
  applications/nrf5340_audio/src/bluetooth/ble_hci_vsc.h
Labels: none

doc: Image update in AWS FOTA library
  doc/nrf/libraries/networking/aws_fota.rst
  doc/nrf/libraries/networking/images/aws_fota_dfu_sequence.png
  doc/nrf/libraries/networking/images/aws_fota_dfu_sequence.svg
  doc/nrf/libraries/networking/images/aws_fota_dfu_sequence.uml.txt
  doc/nrf/libraries/networking/images/aws_fota_dfu_sequence.vsdx
Labels: doc-required

net: lib: lwm2m_client_utils: Simultaneous assistance methods
  include/net/lwm2m_client_utils_location.h
  subsys/net/lib/lwm2m_client_utils/Kconfig
  subsys/net/lib/lwm2m_client_utils/location/location_event_handler.c
  subsys/net/lib/lwm2m_client_utils/location/location_events.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/location_assistance_obj.c
Labels: none

net: lib: Forward PUBACKS and PINGRESP to the application
  applications/asset_tracker_v2/src/cloud/aws_iot_integration.c
  applications/asset_tracker_v2/src/cloud/azure_iot_hub_integration.c
  applications/asset_tracker_v2/src/cloud/cloud_wrapper.h
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
  include/net/aws_iot.h
  include/net/azure_iot_hub.h
  include/net/nrf_cloud.h
  subsys/net/lib/aws_iot/src/aws_iot.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
  subsys/net/lib/nrf_cloud/include/nrf_cloud_transport.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fsm.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: none

tests: lib: Add test for QoS library
  CODEOWNERS
  lib/qos/qos.c
  tests/lib/qos/CMakeLists.txt
  tests/lib/qos/prj.conf
  tests/lib/qos/src/qos_test.c
  tests/lib/qos/src/vars_internal.h
  tests/lib/qos/testcase.yaml
Labels: none

applications: asset_tracker_v2: Implement QoS library
  applications/asset_tracker_v2/overlay-debug.conf
  applications/asset_tracker_v2/src/cloud/aws_iot_integration.c
  applications/asset_tracker_v2/src/cloud/azure_iot_hub_integration.c
  applications/asset_tracker_v2/src/cloud/cloud_wrapper.h
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
  applications/asset_tracker_v2/src/events/cloud_module_event.c
  applications/asset_tracker_v2/src/events/cloud_module_event.h
  applications/asset_tracker_v2/src/modules/Kconfig.cloud_module
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/asset_tracker_v2/src/modules/data_module.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

lib: Add Quality of Service (QoS) library
  CODEOWNERS
  doc/nrf/libraries/others/images/qos_sequence.svg
  doc/nrf/libraries/others/images/qos_sequence.vsdx
  doc/nrf/libraries/others/qos.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/qos.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/qos/CMakeLists.txt
  lib/qos/Kconfig
  lib/qos/qos.c
Labels: doc-required

lib: nrf_modem: Add experimental thread based trace processing
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_ns.dts
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/nrf_modem_lib_trace.h
  lib/nrf_modem_lib/CMakeLists.txt
  lib/nrf_modem_lib/Kconfig.modemlib
  lib/nrf_modem_lib/nrf_modem_lib_trace.c
  lib/nrf_modem_lib/nrf_modem_lib_trace_sync.c
  lib/nrf_modem_lib/nrf_modem_os.c
  tests/lib/modem_trace/modem_trace_rtt/CMakeLists.txt
  tests/lib/modem_trace/modem_trace_rtt/prj.conf
  tests/lib/modem_trace/modem_trace_rtt/src/modem_trace_test.c
  tests/lib/modem_trace/modem_trace_uart/CMakeLists.txt
  tests/lib/modem_trace/modem_trace_uart/boards/qemu_cortex_m3.overlay
  tests/lib/modem_trace/modem_trace_uart/prj.conf
  tests/lib/modem_trace/modem_trace_uart/src/modem_trace_test.c
Labels: doc-required

tests: clock_control: Remove unit test of mpsl clock control
  CODEOWNERS
  tests/drivers/clock_control/clock_control_mpsl/CMakeLists.txt
  tests/drivers/clock_control/clock_control_mpsl/boards/nrf9160dk_nrf9160.overlay
  tests/drivers/clock_control/clock_control_mpsl/prj.conf
  tests/drivers/clock_control/clock_control_mpsl/src/test_clock_control.c
  tests/drivers/clock_control/clock_control_mpsl/testcase.yaml
Labels: none

samples: Test CiA apps/samples with TF-M minimal configuration
  applications/asset_tracker_v2/prj.conf
  samples/nrf9160/aws_fota/prj.conf
  samples/nrf9160/aws_iot/prj.conf
  samples/nrf9160/azure_fota/prj.conf
  samples/nrf9160/azure_iot_hub/prj.conf
  samples/nrf9160/cloud_client/prj.conf
  samples/nrf9160/memfault/prj.conf
  samples/nrf9160/udp/prj.conf
Labels: none

doc: improve user guidance
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf9160.rst
  doc/nrf/ug_nrf9160_gs.rst
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_thingy91_gsg.rst
Labels: doc-required

samples: nrf9160: modem_shell: add console print after UART enable
  samples/nrf9160/modem_shell/src/uart/uart_shell.c
Labels: none

CAF: sensor_data_aggregator: Update aggregator module memory usage
  dts/bindings/caf/caf,aggregator.yaml
  subsys/caf/events/sensor_data_aggregator_event.c
  subsys/caf/modules/sensor_data_aggregator.c
Labels: none

event_manager: event_manager_proxy: Fix bug, no correct include
  include/event_manager_proxy.h
Labels: none
