Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

applications: serial_lte_modem: use hw-flow-control property
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/slm_description.rst
Labels: doc-required

applications: matter: adapt weather_station to the pincontrol.
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/app.overlay
  applications/matter_weather_station/src/buzzer.cpp
Labels: none

doc: nrf: libraries: caf: leds: update to pinctrl
  doc/nrf/libraries/caf/leds.rst
Labels: doc-required

boards: nrf52kbd_nrf52832: Switch to PINCTRL
  boards/arm/nrf52kbd_nrf52832/nrf52kbd_nrf52832-pinctrl.dtsi
  boards/arm/nrf52kbd_nrf52832/nrf52kbd_nrf52832.dts
  boards/arm/nrf52kbd_nrf52832/nrf52kbd_nrf52832_defconfig
Labels: none

doc: nrf: ug_radio_fem: update to pinctrl
  doc/nrf/ug_radio_fem.rst
Labels: doc-required

samples: matter: Switch dts overlays to PINCTRL
  samples/matter/light_bulb/boards/nrf21540dk_nrf52840.overlay
  samples/matter/light_bulb/boards/nrf52840dk_nrf52840.overlay
  samples/matter/light_bulb/boards/nrf5340dk_nrf5340_cpuapp.overlay
Labels: none

tfm: Fix header include path and order
  modules/tfm/tfm/boards/CMakeLists.txt
  modules/tfm/tfm/boards/board/RTE_Device.h
  modules/tfm/tfm/boards/board/nrf_board.h
Labels: none

boards: Switch thingy91_nrf9160 to PINCTRL
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_common-pinctrl.dtsi
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_common.dts
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_defconfig
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_ns_defconfig
Labels: none

doc: nrf: drivers: uart_nrf_sw_lpuart: update to pinctrl
  doc/nrf/drivers/uart_nrf_sw_lpuart.rst
Labels: doc-required

doc: cmake: update autogenerated dts bindings destination
  doc/CMakeLists.txt
Labels: doc-required

boards: Switch thingy91_nrf52840 to PINCTRL
  boards/arm/thingy91_nrf52840/thingy91_nrf52840-pinctrl.dtsi
  boards/arm/thingy91_nrf52840/thingy91_nrf52840.dts
  boards/arm/thingy91_nrf52840/thingy91_nrf52840_defconfig
Labels: none

samples/bluetooth/hci_lpuart: Switch dts overlays to PINCTRL
  samples/bluetooth/hci_lpuart/boards/thingy91_nrf52840.overlay
Labels: none

boards: Switch nrf52833dongle_nrf52833 to PINCTRL
  boards/arm/nrf52833dongle_nrf52833/nrf52833dongle_nrf52833.dts
  boards/arm/nrf52833dongle_nrf52833/nrf52833dongle_nrf52833_defconfig
Labels: none

mpsl: mpsl_fem: Remove direct SPI pin control
  subsys/mpsl/fem/mpsl_fem.c
Labels: none

tfm: Fix license on out-of-tree source files for TF-M platform
  modules/tfm/tfm/boards/board/RTE_Device.h
  modules/tfm/tfm/boards/board/nrf_board.h
  modules/tfm/tfm/boards/common/crypto_keys.c
  modules/tfm/tfm/boards/common/tfm_hal_platform.c
  modules/tfm/tfm/boards/partition/flash_layout.h
  modules/tfm/tfm/boards/partition/region_defs.h
Labels: none

doc: nrf: ug_zigbee_configuring_zboss_traces: update to pinctrl
  doc/nrf/ug_zigbee_configuring_zboss_traces.rst
Labels: doc-required

applications: nrf_desktop: wheel: add support for pinctrl
  applications/nrf_desktop/src/hw_interface/wheel.c
Labels: none

samples/nrf9160/lte_ble_gateway: Switch dts overlay to PINCTRL
  samples/nrf9160/lte_ble_gateway/boards/nrf9160dk_nrf9160_ns.overlay
  samples/nrf9160/lte_ble_gateway/boards/thingy91_nrf9160_ns.overlay
Labels: none

tfm: Fix TF-M UART pin configuration
  modules/tfm/tfm/boards/board/RTE_Device.h
  modules/tfm/zephyr/Kconfig
Labels: none

samples: bluetooth: direct_test_mode: Adjust to pinctrl
  samples/bluetooth/direct_test_mode/src/fem/nrf21540.c
Labels: none

boards: Switch nrf52833dongle_nrf52833 to PINCTRL
  boards/arm/nrf52833dongle_nrf52833/nrf52833dongle_nrf52833.dts
  boards/arm/nrf52833dongle_nrf52833/nrf52833dongle_nrf52833_defconfig
Labels: none

samples: nrf9160: modem_shell: Switch dts overlay to PINCTRL
  samples/nrf9160/modem_shell/esp_8266_nrf9160ns.overlay
Labels: none

tfm: Remove noise in comments for RTE_Device.h
  modules/tfm/tfm/boards/board/RTE_Device.h
Labels: none

manifest: Update west.yml with upmerge changes
  west.yml
Labels: manifest

Samples: Bluetooth: Update authentication callbacks
  samples/bluetooth/central_and_peripheral_hr/src/main.c
  samples/bluetooth/central_bas/src/main.c
  samples/bluetooth/central_hids/src/main.c
  samples/bluetooth/central_nfc_pairing/src/main.c
  samples/bluetooth/central_uart/src/main.c
  samples/bluetooth/peripheral_ams_client/src/main.c
  samples/bluetooth/peripheral_ancs_client/src/main.c
  samples/bluetooth/peripheral_bms/src/main.c
  samples/bluetooth/peripheral_cts_client/src/main.c
  samples/bluetooth/peripheral_gatt_dm/src/main.c
  samples/bluetooth/peripheral_hids_keyboard/src/main.c
  samples/bluetooth/peripheral_hids_mouse/src/main.c
  samples/bluetooth/peripheral_lbs/src/main.c
  samples/bluetooth/peripheral_nfc_pairing/src/main.c
  samples/bluetooth/peripheral_rscs/src/main.c
  samples/bluetooth/peripheral_uart/src/main.c
  samples/bluetooth/shell_bt_nus/src/main.c
  samples/openthread/coap_client/src/ble_utils.c
  samples/zigbee/light_switch/src/nus_cmd.c
Labels: none

doc: nrf: drivers: uart_nrf_sw_lpuart: update to pinctrl
  doc/nrf/drivers/uart_nrf_sw_lpuart.rst
Labels: doc-required

doc: nrf: ug_nrf5340: update to pinctrl
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

modules: Remove zcbor module configuration
  modules/Kconfig
  modules/modules.cmake
  modules/zcbor/CMakeLists.txt
  modules/zcbor/Kconfig
Labels: none

samples: radio_test: Switch to PINCTRL
  samples/peripheral/radio_test/boards/nrf21540dk_nrf52840.overlay
Labels: none

samples: bluetooth: mesh: light_ctrl: Switch overlays to PINCTRL
  samples/bluetooth/mesh/light_ctrl/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/mesh/light_ctrl/boards/nrf5340dk_nrf5340_cpuapp_ns.overlay
Labels: none

boards: Switch thingy91_nrf9160 to PINCTRL
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_common-pinctrl.dtsi
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_common.dts
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_defconfig
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_ns_defconfig
Labels: none

samples: ipc: Fix dts configuration
  samples/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp_icmsg.overlay
  samples/event_manager_proxy/remote/boards/nrf5340dk_nrf5340_cpunet_icmsg.overlay
  samples/ipc/ipc_service/icmsg.overlay
  samples/ipc/ipc_service/remote/icmsg.overlay
Labels: none

applications: nrf5340_audio: Adjust audio_i2s to pinctrl
  applications/nrf5340_audio/src/modules/audio_i2s.c
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_common-pinctrl.dtsi
Labels: none

boards: arm: nrf52810dmouse_nrf52810: Switch to PINCTRL
  boards/arm/nrf52810dmouse_nrf52810/nrf52810dmouse_nrf52810-pinctrl.dtsi
  boards/arm/nrf52810dmouse_nrf52810/nrf52810dmouse_nrf52810.dts
  boards/arm/nrf52810dmouse_nrf52810/nrf52810dmouse_nrf52810_defconfig
Labels: none

tfm: Update secure peripheral to use DT instead of HAS_HW_*
  modules/tfm/tfm/boards/board/tfm_peripherals_config.h
  subsys/nonsecure/Kconfig
  subsys/nonsecure/Kconfig.template.peripheral_secure
Labels: none

nfc: Central NFC Pairing sample: Switch dts overlays to PINCTRL
  samples/bluetooth/central_nfc_pairing/nrf52833dk_nrf52833.overlay
  samples/bluetooth/central_nfc_pairing/nrf52840dk_nrf52840.overlay
  samples/bluetooth/central_nfc_pairing/nrf52dk_nrf52832.overlay
  samples/bluetooth/central_nfc_pairing/nrf5340dk_nrf5340_cpuapp.overlay
Labels: none

tests: modem_trace: fix blocking mock function in modem_trace tests
  scripts/quarantine.yaml
  tests/lib/modem_trace/modem_trace_rtt/src/modem_trace_test.c
  tests/lib/modem_trace/modem_trace_uart/src/modem_trace_test.c
Labels: none

lib: nrf_modem_lib: Set trace uart pins with pinctrl
  lib/nrf_modem_lib/nrf_modem_lib_trace.c
  lib/nrf_modem_lib/nrf_modem_lib_trace_sync.c
  tests/lib/modem_trace/modem_trace_rtt/CMakeLists.txt
  tests/lib/modem_trace/modem_trace_uart/CMakeLists.txt
  tests/lib/modem_trace/modem_trace_uart/src/modem_trace_test.c
Labels: none

util: Replace UTIL_LISTIFY with LISTIFY
  applications/nrf5340_audio/src/bluetooth/ble_trans.c
  include/caf/led_effect.h
  subsys/caf/modules/sensor_data_aggregator.c
  subsys/dfu/dfu_target/src/dfu_target_mcuboot.c
  subsys/partition_manager/flash_map_partition_manager.c
Labels: none

applications: nrf5340_audio: Replace BT_ISO_CONNECTED
  applications/nrf5340_audio/src/bluetooth/ble_trans.c
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
