Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

doc: vsc: extend include for building steps
  doc/nrf/includes/vsc_build_and_run.txt
  doc/nrf/includes/vsc_build_and_run_nrf53.txt
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_thingy53.rst
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_zigbee_qsg.rst
Labels: doc-required

doc improvement: Fixing formatting in Cloud user guide
  doc/nrf/ug_nrf_cloud.rst
Labels: doc-required

doc: Update secure bootloader note for Asset Tracker v2
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
Labels: doc-required

doc improvement: fix typos on Software maturity page
  doc/nrf/software_maturity.rst
Labels: doc-required

doc: nrf5340audio: edit legal section
  applications/nrf5340_audio/README.rst
Labels: doc-required

manifest: Update nrfxlib revision
  west.yml
Labels: manifest

manifest: doc update in sdk-nrfxlib
  west.yml
Labels: manifest

softdevice_controller: production support for CTE AoA TX
  subsys/bluetooth/controller/Kconfig
Labels: none

thingy91: Adding missing documentation
  samples/bluetooth/hci_lpuart/README.rst
  samples/nrf9160/lte_ble_gateway/README.rst
Labels: doc-required

doc improvement: Fixing formatting in Cloud user guide
  doc/nrf/ug_nrf_cloud.rst
Labels: doc-required

doc improvement: fix typos on Software maturity page
  doc/nrf/software_maturity.rst
Labels: doc-required

doc: Doc updates related to the new layout
  doc/nrf/index.rst
Labels: doc-required

samples: matter: Fixed issue with reading operational status
  samples/matter/window_covering/src/zcl_callbacks.cpp
Labels: none

doc: openthread: update memory usage information
  doc/nrf/ug_thread_ot_memory.rst
Labels: doc-required

manifest: update nrfxlib
  doc/nrf/releases/release-notes-changelog.rst
  west.yml
Labels: manifest, doc-required

samples: peripheral: lpuart: Disable uart0
  samples/peripheral/lpuart/boards/nrf9160dk_nrf9160_ns.overlay
Labels: none

manifest: Updated Zephyr revision to pull NVS cache fix.
  west.yml
Labels: manifest

manifest: update homekit revision
  west.yml
Labels: manifest

doc: libraries: fix structure issues in some libs
  doc/nrf/libraries/modem/modem_jwt.rst
  doc/nrf/libraries/networking/aws_iot.rst
  doc/nrf/libraries/networking/nrf_cloud_rest.rst
  doc/nrf/libraries/others/spm.rst
  doc/nrf/libraries/others/wave_gen.rst
  samples/nrf9160/aws_fota/README.rst
Labels: doc-required

doc: library: lwm2m client utils structure
  doc/nrf/libraries/networking/lwm2m_client_utils.rst
Labels: doc-required

doc: library: DM structure change
  doc/nrf/libraries/others/dm.rst
Labels: doc-required

doc: library: download client structure
  doc/nrf/libraries/networking/download_client.rst
Labels: doc-required

doc: nrf5340audio: edit tags in docs
  applications/nrf5340_audio/README.rst
  doc/nrf/app_boards.rst
  doc/nrf/shortcuts.txt
  doc/nrf/ug_multi_image.rst
  doc/nrf/ug_nrf53.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

doc: matter: add window covering sample to table
  doc/nrf/samples/samples_matter.rst
Labels: doc-required

doc: improvements: pre-release check
  doc/nrf/libraries/modem/modem_jwt.rst
  doc/nrf/libraries/networking/aws_iot.rst
  doc/nrf/libraries/networking/lwm2m_client_utils.rst
  doc/nrf/libraries/others/dm.rst
  samples/nrf9160/aws_fota/README.rst
Labels: doc-required

samples: direct_test_mode: Fix gain setting on nrf5340
  samples/bluetooth/direct_test_mode/boards/nrf5340dk_nrf5340_cpunet.overlay
Labels: none

samples: matter: Fixed issue with reading operational status
  samples/matter/window_covering/src/zcl_callbacks.cpp
Labels: none

samples: peripheral: lpuart: Disable uart0
  samples/peripheral/lpuart/boards/nrf9160dk_nrf9160_ns.overlay
Labels: none

thingy91: Adding missing documentation
  samples/bluetooth/hci_lpuart/README.rst
  samples/nrf9160/lte_ble_gateway/README.rst
Labels: doc-required

doc: Update secure bootloader note for Asset Tracker v2
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
Labels: doc-required

manifest: update nrfxlib
  doc/nrf/releases/release-notes-changelog.rst
  west.yml
Labels: manifest, doc-required

manifest: update homekit revision
  west.yml
Labels: manifest

doc: openthread: update memory usage information
  doc/nrf/ug_thread_ot_memory.rst
Labels: doc-required

samples: direct_test_mode: Fix gain setting on nrf5340
  samples/bluetooth/direct_test_mode/boards/nrf5340dk_nrf5340_cpunet.overlay
Labels: none

doc: nrf5340audio: edit legal section
  applications/nrf5340_audio/README.rst
Labels: doc-required

samples: Use unique PID for different samples
  samples/bluetooth/central_nfc_pairing/prj.conf
  samples/bluetooth/peripheral_nfc_pairing/prj.conf
  samples/nrf5340/remote_shell/prj.conf
Labels: none

manifest: Updated Zephyr revision to pull NVS cache fix.
  west.yml
Labels: manifest

manifest: Update nrfxlib revision
  west.yml
Labels: manifest

doc: nrf5340audio: power adapter line
  applications/nrf5340_audio/README.rst
Labels: doc-required

doc: update tfm instructions for samples that supports thingy:91
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/serial_lte_modem/doc/slm_description.rst
  doc/nrf/includes/tfm_spm_thingy91.txt
  doc/nrf/includes/thingy91_build_and_run.txt
  samples/nrf9160/aws_iot/README.rst
  samples/nrf9160/memfault/README.rst
  samples/nrf9160/multicell_location/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
  samples/nrf9160/udp/README.rst
Labels: doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
