Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

samples: direct_test_mode: Allow to use limited pinout.
  samples/bluetooth/direct_test_mode/src/fem/Kconfig
  samples/bluetooth/direct_test_mode/src/fem/nrf21540.c
Labels: none

samples: direct_test_mode: After upmerge fix
  samples/bluetooth/direct_test_mode/src/fem/Kconfig
Labels: none

changelog: Update changelog with the DTM FEM changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

manifest: Update sdk-zephyr SHA
  west.yml
Labels: manifest

mpsl: Make mpsl_init more future proof
  subsys/mpsl/init/mpsl_init.c
Labels: none

dfu_target: Initialize target on new image nr
  subsys/dfu/dfu_target/src/dfu_target.c
Labels: none

EMDS: Implement emergency data storage
  CODEOWNERS
  doc/nrf/libraries/others/emds.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/emds/emds.h
  subsys/CMakeLists.txt
  subsys/Kconfig
  subsys/emds/CMakeLists.txt
  subsys/emds/Kconfig
  subsys/emds/emds.c
  subsys/emds/emds_flash.c
  subsys/emds/emds_flash.h
  subsys/emds/emds_types.ld
  subsys/partition_manager/CMakeLists.txt
  subsys/partition_manager/Kconfig
  subsys/partition_manager/pm.yml.emds
  tests/subsys/emds/emds_api/CMakeLists.txt
  tests/subsys/emds/emds_api/prj.conf
  tests/subsys/emds/emds_api/src/main.c
  tests/subsys/emds/emds_api/testcase.yaml
  tests/subsys/emds/emds_flash/CMakeLists.txt
  tests/subsys/emds/emds_flash/prj.conf
  tests/subsys/emds/emds_flash/src/main.c
  tests/subsys/emds/emds_flash/testcase.yaml
Labels: doc-required

CODEOWNERS: event manager proxy test
  CODEOWNERS
Labels: none

doc: Unit test documentation for nRF9160 Asset Tracker v2
  applications/asset_tracker_v2/README.rst
  applications/asset_tracker_v2/doc/unit_test.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

ci: mergify update
  .github/mergify.yml
Labels: none

application: serial_lte_modem: Handle FOTA image under WWW root
  applications/serial_lte_modem/doc/DFU_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_fota.c
Labels: doc-required

application: serial_lte_modem: Doc update
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  applications/serial_lte_modem/prj.conf
Labels: doc-required

samples: Change bulb PWM signal frequency
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_bulb/src/main.c
  subsys/zigbee/osif/zb_nrf_led_button.c
Labels: doc-required

mpsl: Make mpsl_init more future proof
  subsys/mpsl/init/mpsl_init.c
Labels: none

samples: alexa_gadgets: Remove alexa gadgets sample
  doc/nrf/libraries/bluetooth_services/services/gadgets.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-1.4.0.rst
  doc/nrf/releases/release-notes-1.5.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/services/gadgets.h
  include/bluetooth/services/gadgets_profile.h
  samples/bluetooth/alexa_gadget/CMakeLists.txt
  samples/bluetooth/alexa_gadget/README.rst
  samples/bluetooth/alexa_gadget/boards/nrf52dk_nrf52810.conf
  samples/bluetooth/alexa_gadget/prj.conf
  samples/bluetooth/alexa_gadget/sample.yaml
  samples/bluetooth/alexa_gadget/src/main.c
  subsys/bluetooth/services/CMakeLists.txt
  subsys/bluetooth/services/Kconfig
  subsys/bluetooth/services/alexa_gadgets/CMakeLists.txt
  subsys/bluetooth/services/alexa_gadgets/Kconfig.gadgets
  subsys/bluetooth/services/alexa_gadgets/gadgets.c
  subsys/bluetooth/services/alexa_gadgets/gadgets_profile.c
  subsys/bluetooth/services/alexa_gadgets/proto/custom_event.options
  subsys/bluetooth/services/alexa_gadgets/proto/custom_event.proto
  west.yml
Labels: manifest, doc-required

doc: Unit test documentation for nRF9160 Asset Tracker v2
  applications/asset_tracker_v2/README.rst
  applications/asset_tracker_v2/doc/unit_test.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

doc: vsc: update modifying application page
  doc/nrf/gs_modifying.rst
  doc/nrf/gs_programming.rst
  doc/nrf/gs_testing.rst
  doc/nrf/links.txt
Labels: doc-required

doc: Add a note about VSC migration guide in NCS docs
  doc/nrf/gs_installing.rst
  doc/nrf/gs_programming.rst
  doc/nrf/links.txt
Labels: doc-required

samples: Change bulb PWM signal frequency
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_bulb/src/main.c
  subsys/zigbee/osif/zb_nrf_led_button.c
Labels: doc-required

dfu_target: Initialize target on new image nr
  subsys/dfu/dfu_target/src/dfu_target.c
Labels: none

samples: matter: Enabled extended discovery for all samples
  applications/matter_weather_station/src/chip_project_config.h
  samples/matter/light_bulb/src/chip_project_config.h
  samples/matter/light_switch/src/chip_project_config.h
  samples/matter/lock/src/chip_project_config.h
  samples/matter/template/src/chip_project_config.h
Labels: none

samples: nrf9160: modem_shell: Add link dnsaddr command
  samples/nrf9160/modem_shell/src/link/link.c
  samples/nrf9160/modem_shell/src/link/link.h
  samples/nrf9160/modem_shell/src/link/link_settings.c
  samples/nrf9160/modem_shell/src/link/link_settings.h
  samples/nrf9160/modem_shell/src/link/link_shell.c
  samples/nrf9160/modem_shell/src/utils/net_utils.c
  samples/nrf9160/modem_shell/src/utils/net_utils.h
Labels: none

zigbee: Power up RAM before entering MCUboot
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_zigbee_configuring_libraries.rst
  samples/zigbee/light_switch/src/main.c
  subsys/zigbee/osif/zb_nrf_platform.c
Labels: doc-required

ram_pwrdn: Add API for powering up RAM
  doc/nrf/libraries/others/ram_pwrdn.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/ram_pwrdn.h
  lib/ram_pwrdn/ram_pwrdn.c
Labels: doc-required

application: serial_lte_modem: Doc update
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  applications/serial_lte_modem/prj.conf
Labels: doc-required

ram_pwrdn: Add API for powering up RAM
  doc/nrf/libraries/others/ram_pwrdn.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/ram_pwrdn.h
  lib/ram_pwrdn/ram_pwrdn.c
Labels: doc-required

zigbee: Power up RAM before entering MCUboot
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_zigbee_configuring_libraries.rst
  samples/zigbee/light_switch/src/main.c
  subsys/zigbee/osif/zb_nrf_platform.c
Labels: doc-required

samples: matter: Enabled extended discovery for all samples
  applications/matter_weather_station/src/chip_project_config.h
  samples/matter/light_bulb/src/chip_project_config.h
  samples/matter/light_switch/src/chip_project_config.h
  samples/matter/lock/src/chip_project_config.h
  samples/matter/template/src/chip_project_config.h
Labels: none

lib: at_host: allow custom commands prefix
  include/modem/at_host.h
  lib/at_host/Kconfig
  lib/at_host/at_host.c
Labels: none

bluetooth: rpc: Add new BLE functions and data fields
  doc/nrf/libraries/bluetooth_services/rpc.rst
  subsys/bluetooth/rpc/client/bt_rpc_conn_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gap_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gatt_client.c
  subsys/bluetooth/rpc/common/bt_rpc_common.c
  subsys/bluetooth/rpc/common/bt_rpc_common.h
  subsys/bluetooth/rpc/host/bt_rpc_conn_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gap_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gatt_host.c
Labels: doc-required

samples: bluetooth: Update configuration for nRF RPC
  samples/bluetooth/peripheral_hids_mouse/child_image/rpc_host.conf
  samples/bluetooth/rpc_host/prj.conf
Labels: none

samples: matter: Fixed bug with hardfault on C3 char read.
  samples/matter/light_bulb/prj.conf
  samples/matter/light_bulb/prj_no_dfu.conf
  samples/matter/light_bulb/prj_release.conf
  samples/matter/light_switch/prj.conf
  samples/matter/light_switch/prj_no_dfu.conf
  samples/matter/light_switch/prj_release.conf
  samples/matter/lock/prj.conf
  samples/matter/lock/prj_no_dfu.conf
  samples/matter/lock/prj_release.conf
  samples/matter/template/prj.conf
  samples/matter/template/prj_no_dfu.conf
  samples/matter/template/prj_release.conf
  samples/matter/window_covering/prj.conf
  samples/matter/window_covering/prj_no_dfu.conf
  samples/matter/window_covering/prj_release.conf
Labels: none

doc: gs: add sections to updating tools
  doc/nrf/gs_installing.rst
  doc/nrf/gs_modifying.rst
  doc/nrf/gs_updating.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: nrf9160: modem_shell: Add link dnsaddr command
  samples/nrf9160/modem_shell/src/link/link.c
  samples/nrf9160/modem_shell/src/link/link.h
  samples/nrf9160/modem_shell/src/link/link_settings.c
  samples/nrf9160/modem_shell/src/link/link_settings.h
  samples/nrf9160/modem_shell/src/link/link_shell.c
  samples/nrf9160/modem_shell/src/utils/net_utils.c
  samples/nrf9160/modem_shell/src/utils/net_utils.h
Labels: none

doc: gs: add sections to updating tools
  doc/nrf/gs_installing.rst
  doc/nrf/gs_modifying.rst
  doc/nrf/gs_updating.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

zigbee: Configure frequency of FOTA image queries
  doc/nrf/libraries/zigbee/zigbee_fota.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_fota/Kconfig
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
Labels: doc-required

dm: Alignment to version 0.7.0 of nrf_dm library
  subsys/dm/Kconfig
  subsys/dm/dm.c
Labels: none

samples: bluetooth: nrf_dm: Update sample.yaml file
  samples/bluetooth/nrf_dm/sample.yaml
Labels: none

manifest: Update nrfxlib version
  west.yml
Labels: manifest

doc: small legal doc fix
  applications/nrf5340_audio/README.rst
Labels: doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
