Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

tools: split ruby into linux-extra.txt
  scripts/tools-versions-linux-extra.txt
  scripts/tools-versions-linux.txt
Labels: none

tools: bump west from 0.12 -> 0.13.1
  scripts/requirements-fixed.txt
  scripts/tools-versions-darwin.txt
  scripts/tools-versions-linux.txt
  scripts/tools-versions-win10.txt
Labels: none

manifest: Update sdk-zephyr to fix mcumgr upstream issue
  west.yml
Labels: manifest

samples: openthread: remove data length check for ble data
  doc/nrf/releases/release-notes-changelog.rst
  samples/openthread/coap_client/README.rst
  samples/openthread/coap_client/src/coap_client.c
Labels: doc-required

zigbee: Handle error while entering identify mode
  applications/zigbee_weather_station/src/main.c
  samples/zigbee/light_bulb/src/main.c
  samples/zigbee/light_switch/src/main.c
  samples/zigbee/network_coordinator/src/main.c
  samples/zigbee/shell/src/main.c
  samples/zigbee/template/src/main.c
Labels: none

zigbee: Configure frequency of FOTA image queries
  doc/nrf/libraries/zigbee/zigbee_fota.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_fota/Kconfig
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
Labels: doc-required

samples: matter: Fixed bug with hardfault on C3 char read.
  samples/matter/light_bulb/prj.conf
  samples/matter/light_bulb/prj_no_dfu.conf
  samples/matter/light_bulb/prj_release.conf
  samples/matter/light_switch/prj.conf
  samples/matter/light_switch/prj_no_dfu.conf
  samples/matter/light_switch/prj_release.conf
  samples/matter/lock/prj.conf
  samples/matter/lock/prj_no_dfu.conf
  samples/matter/lock/prj_release.conf
  samples/matter/template/prj.conf
  samples/matter/template/prj_no_dfu.conf
  samples/matter/template/prj_release.conf
  samples/matter/window_covering/prj.conf
  samples/matter/window_covering/prj_no_dfu.conf
  samples/matter/window_covering/prj_release.conf
Labels: none

lib: edge_impulse: Add profiling information
  doc/nrf/libraries/others/ei_wrapper.rst
  doc/nrf/releases/release-notes-changelog.rst
  lib/edge_impulse/Kconfig
  lib/edge_impulse/ei_wrapper.cpp
Labels: doc-required

doc: removed ses references
  doc/nrf/gs_assistant.rst
  doc/nrf/gs_updating.rst
  doc/nrf/images/gs-assistant_tm_dropdown.png
  doc/nrf/releases/release-notes-1.8.0.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

doc: lib: add boost CPU lib docs
  doc/nrf/libraries/others/boost_cpu.rst
Labels: doc-required

doc: small legal doc fix
  applications/nrf5340_audio/README.rst
Labels: doc-required

manifest: Update nrfxlib version
  west.yml
Labels: manifest

samples: bluetooth: nrf_dm: Update sample.yaml file
  samples/bluetooth/nrf_dm/sample.yaml
Labels: none

dm: Alignment to version 0.7.0 of nrf_dm library
  subsys/dm/Kconfig
  subsys/dm/dm.c
Labels: none

manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest

samples: bluetooth: Add test cases with serialization
  samples/bluetooth/peripheral_hids_mouse/sample.yaml
  samples/bluetooth/peripheral_uart/sample.yaml
Labels: none

bluetooth: rpc: Improve string handling
  subsys/bluetooth/rpc/common/serialize.c
  subsys/bluetooth/rpc/common/serialize.h
Labels: none

bluetooth: rpc: Fix defined but not used variables.
  subsys/bluetooth/rpc/host/bt_rpc_conn_host.c
Labels: none

manifest: Update sdk-zephyr with flash map fix
  west.yml
Labels: manifest

manifest: Update sdk-zephyr SHA
  west.yml
Labels: manifest

doc: release: Update SHA in documentation
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest

net: lib: fota_download: Allow retry on socket timeout
  subsys/net/lib/fota_download/src/fota_download.c
Labels: none

samples: nrf9160: modem_shell: Use PDN ID in getaddrinfo
  samples/nrf9160/modem_shell/src/sock/sock.c
Labels: none

application: serial_lte_modem: Fix HIGH static code analysis case
  applications/serial_lte_modem/src/slm_at_socket.c
Labels: none

manifest: Update NFC library revision
  west.yml
Labels: manifest

doc: Add a note about VSC migration guide in NCS docs
  doc/nrf/gs_installing.rst
  doc/nrf/gs_programming.rst
  doc/nrf/links.txt
Labels: doc-required

samples: bluetooth: nrf_dm: documentation improvement
  samples/bluetooth/nrf_dm/README.rst
Labels: doc-required

samples: caf_sensor_manager: sensor manager sample add single core conf
  samples/caf_sensor_manager/boards/nrf5340dk_nrf5340_cpuapp_nrf5340_singlecore.conf
  samples/caf_sensor_manager/prj.conf
  samples/caf_sensor_manager/remote/prj.conf
  samples/caf_sensor_manager/sample.yaml
Labels: none

samples: openthread: remove data length check for ble data
  doc/nrf/releases/release-notes-changelog.rst
  samples/openthread/coap_client/README.rst
  samples/openthread/coap_client/src/coap_client.c
Labels: doc-required

doc: Add documentation about Pin control
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_app_dev.rst
  doc/nrf/ug_pinctrl.rst
Labels: doc-required

doc: openthread: remove reference to non-existing file
  doc/nrf/ug_thread_configuring.rst
Labels: doc-required

zigbee: Handle error while entering identify mode
  applications/zigbee_weather_station/src/main.c
  samples/zigbee/light_bulb/src/main.c
  samples/zigbee/light_switch/src/main.c
  samples/zigbee/network_coordinator/src/main.c
  samples/zigbee/shell/src/main.c
  samples/zigbee/template/src/main.c
Labels: none

tools: split ruby into linux-extra.txt
  scripts/tools-versions-linux-extra.txt
  scripts/tools-versions-linux.txt
Labels: none

tools: bump west from 0.12 -> 0.13.1
  scripts/requirements-fixed.txt
  scripts/tools-versions-darwin.txt
  scripts/tools-versions-linux.txt
  scripts/tools-versions-win10.txt
Labels: none

manifest: Zephyr update with OpenThread changes
  west.yml
Labels: manifest

bluetooth: rpc: Update term used for BLE RPC calls
  subsys/bluetooth/rpc/client/bt_rpc_gap_client.c
  subsys/bluetooth/rpc/common/bt_rpc_common.h
  subsys/bluetooth/rpc/host/bt_rpc_gap_host.c
Labels: none

cmake: Propagate the NCS Zephyr SDK install dir
  share/ncs-package/cmake/NcsConfig.cmake
Labels: none

manifest: Update NFC library revision
  west.yml
Labels: manifest

crypto: psa_tls sample: fix kconfig cert description
  samples/crypto/psa_tls/Kconfig
Labels: none
