Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

applications: nrf5340_audio: Add option to skip PLC
  applications/nrf5340_audio/src/audio/Kconfig
  applications/nrf5340_audio/src/audio/sw_codec_select.c
Labels: none

samples: direct_test_mode: Fix active delay calculation
  samples/bluetooth/direct_test_mode/src/fem/nrf21540.c
Labels: none

doc: Thingy:91 replace Segger instructions with VS Code
  doc/nrf/ug_thingy91.rst
Labels: doc-required

manifest: update HomeKit revision
  west.yml
Labels: manifest

applications: asset_tracker_v2: Add documentation for LwM2M integration
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/asset_tracker_v2/doc/cloud_module.rst
  applications/asset_tracker_v2/doc/cloud_wrapper.rst
  applications/asset_tracker_v2/src/cloud/cloud_wrapper.h
  doc/nrf/images/asset_tracker_v2_cloud_module_hierarchy.svg
  doc/nrf/images/asset_tracker_v2_cloud_module_hierarchy.vsdx
  doc/nrf/images/coiote_device_mgmt_server_ui.png
  doc/nrf/links.txt
Labels: doc-required

bluetooth: controller: Remove leftover white_list reference
  subsys/bluetooth/controller/hci_internal.c
Labels: none

applications: machine_learning: Add ext memory initialization module
  applications/machine_learning/src/modules/CMakeLists.txt
  applications/machine_learning/src/modules/Kconfig
  applications/machine_learning/src/modules/Kconfig.ext_mem
  applications/machine_learning/src/modules/ext_mem.c
Labels: none

applications: machine_learning: Add module for boosting CPU frequency
  applications/machine_learning/src/modules/CMakeLists.txt
  applications/machine_learning/src/modules/Kconfig
  applications/machine_learning/src/modules/Kconfig.cpu_boost
  applications/machine_learning/src/modules/cpu_boost.c
Labels: none

doc: minor doc fixes in changelog and templates
  doc/nrf/includes/build_and_run_nrf9160.txt
  doc/nrf/libraries/dfu/dfu_multi_image.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/templates/sample_README.rst
Labels: doc-required

scripts: sbom: Add "west ncs-sbom" tool.
  CODEOWNERS
  doc/nrf/introduction.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/scripts.rst
  scripts/requirements-west-ncs-sbom.txt
  scripts/west-commands.yml
  scripts/west_commands/sbom/README.rst
  scripts/west_commands/sbom/__main__.py
  scripts/west_commands/sbom/args.py
  scripts/west_commands/sbom/cache_database_detector.py
  scripts/west_commands/sbom/common.py
  scripts/west_commands/sbom/data/license-texts.yaml
  scripts/west_commands/sbom/data/spdx-licenses.yaml
  scripts/west_commands/sbom/data_structure.py
  scripts/west_commands/sbom/external_file_detector.py
  scripts/west_commands/sbom/file_input.py
  scripts/west_commands/sbom/full_text_detector.py
  scripts/west_commands/sbom/helpers/update_spdx_licenses.py
  scripts/west_commands/sbom/input_build.py
  scripts/west_commands/sbom/input_post_process.py
  scripts/west_commands/sbom/license_utils.py
  scripts/west_commands/sbom/main.py
  scripts/west_commands/sbom/ncs_sbom_command.py
  scripts/west_commands/sbom/output_pre_process.py
  scripts/west_commands/sbom/output_template.py
  scripts/west_commands/sbom/scancode_toolkit_detector.py
  scripts/west_commands/sbom/spdx_tag_detector.py
  scripts/west_commands/sbom/templates/cache.database.jinja
  scripts/west_commands/sbom/templates/raport.spdx.jinja
  scripts/west_commands/sbom/templates/report.html.jinja
  west.yml
Labels: manifest, doc-required

samples: nrf9160: add ciphersuites sample
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/ciphersuites/CMakeLists.txt
  samples/nrf9160/ciphersuites/Kconfig
  samples/nrf9160/ciphersuites/README.rst
  samples/nrf9160/ciphersuites/boards/nrf9160dk_nrf9160_ns.overlay
  samples/nrf9160/ciphersuites/cert/DigiCertGlobalRootCA.pem
  samples/nrf9160/ciphersuites/child_image/mcuboot.conf
  samples/nrf9160/ciphersuites/prj.conf
  samples/nrf9160/ciphersuites/sample.yaml
  samples/nrf9160/ciphersuites/src/main.c
Labels: doc-required

zigbee: Fix order of function
  subsys/zigbee/osif/zb_nrf_platform.c
Labels: none

lib: nrf_modem: Fix modem traces after calling nrf_modem_lib_trace_stop
  lib/nrf_modem_lib/nrf_modem_lib_trace.c
  lib/nrf_modem_lib/nrf_modem_lib_trace_sync.c
  tests/lib/modem_trace/modem_trace_rtt/src/modem_trace_test.c
  tests/lib/modem_trace/modem_trace_uart/src/modem_trace_test.c
Labels: none

samples: bluetooth: nrf_dm: update figure in the documentation.
  samples/bluetooth/nrf_dm/README.rst
  samples/bluetooth/nrf_dm/images/sync.svg
Labels: doc-required

applications: asset_tracker_v2: Grant/deny send based on energy estimate
  applications/asset_tracker_v2/doc/data_module.rst
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  applications/asset_tracker_v2/src/modules/data_module.c
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

applications: machine_learning: Add custom linker script for xip
  applications/machine_learning/CMakeLists.txt
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/linker_xip.ld
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/xip.conf
Labels: none

samples: nrf9160: add ciphersuites sample
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/ciphersuites/CMakeLists.txt
  samples/nrf9160/ciphersuites/Kconfig
  samples/nrf9160/ciphersuites/README.rst
  samples/nrf9160/ciphersuites/boards/nrf9160dk_nrf9160_ns.overlay
  samples/nrf9160/ciphersuites/cert/DigiCertGlobalRootCA.pem
  samples/nrf9160/ciphersuites/child_image/mcuboot.conf
  samples/nrf9160/ciphersuites/prj.conf
  samples/nrf9160/ciphersuites/sample.yaml
  samples/nrf9160/ciphersuites/src/main.c
Labels: doc-required

application: serial_lte_modem: Support READ command for GNSS service
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: doc-required

bluetooth: controller: Remove leftover white_list reference
  subsys/bluetooth/controller/hci_internal.c
Labels: none

zigbee: Fix order of function
  subsys/zigbee/osif/zb_nrf_platform.c
Labels: none

scripts: sbom: Add "west ncs-sbom" tool.
  CODEOWNERS
  doc/nrf/introduction.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/scripts.rst
  scripts/requirements-west-ncs-sbom.txt
  scripts/west-commands.yml
  scripts/west_commands/sbom/README.rst
  scripts/west_commands/sbom/__main__.py
  scripts/west_commands/sbom/args.py
  scripts/west_commands/sbom/cache_database_detector.py
  scripts/west_commands/sbom/common.py
  scripts/west_commands/sbom/data/license-texts.yaml
  scripts/west_commands/sbom/data/spdx-licenses.yaml
  scripts/west_commands/sbom/data_structure.py
  scripts/west_commands/sbom/external_file_detector.py
  scripts/west_commands/sbom/file_input.py
  scripts/west_commands/sbom/full_text_detector.py
  scripts/west_commands/sbom/helpers/update_spdx_licenses.py
  scripts/west_commands/sbom/input_build.py
  scripts/west_commands/sbom/input_post_process.py
  scripts/west_commands/sbom/license_utils.py
  scripts/west_commands/sbom/main.py
  scripts/west_commands/sbom/ncs_sbom_command.py
  scripts/west_commands/sbom/output_pre_process.py
  scripts/west_commands/sbom/output_template.py
  scripts/west_commands/sbom/scancode_toolkit_detector.py
  scripts/west_commands/sbom/spdx_tag_detector.py
  scripts/west_commands/sbom/templates/cache.database.jinja
  scripts/west_commands/sbom/templates/raport.spdx.jinja
  scripts/west_commands/sbom/templates/report.html.jinja
  west.yml
Labels: manifest, doc-required

known_issues: Add NCSDK-13858
  doc/nrf/known_issues.rst
Labels: doc-required

doc: Add VSC instructions to the nRF5340 user guide
  doc/nrf/images/ug_thingy53_vscode_appwindow.png
  doc/nrf/images/ug_thingy53_vscode_genconfig1.png
  doc/nrf/images/ug_thingy53_vscode_genconfig2.png
  doc/nrf/images/ug_thingy53_vscode_welcome.png
  doc/nrf/includes/vsc_build_and_run_nrf53.txt
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_thingy53.rst
Labels: doc-required

doc: libraries: caf: Align with changes in nRF PWM drivers and bindings
  doc/nrf/libraries/caf/leds.rst
Labels: doc-required

samples: Align with recent changes in nRF PWM drivers and bindings
  samples/caf/boards/nrf52840dk_nrf52840.overlay
  samples/caf/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/light_bulb/boards/nrf21540dk_nrf52840.overlay
  samples/matter/light_bulb/boards/nrf52840dk_nrf52840.overlay
  samples/matter/light_bulb/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/window_covering/boards/nrf21540dk_nrf52840.overlay
  samples/matter/window_covering/boards/nrf52840dk_nrf52840.overlay
  samples/matter/window_covering/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/nrf9160/lwm2m_client/boards/thingy91_nrf9160_ns.overlay
  samples/zigbee/light_bulb/boards/nrf21540dk_nrf52840.overlay
  samples/zigbee/light_bulb/boards/nrf52833dk_nrf52833.overlay
  samples/zigbee/light_bulb/boards/nrf52840dk_nrf52840.overlay
  samples/zigbee/light_bulb/boards/nrf5340dk_nrf5340_cpuapp.overlay
Labels: none

applications: Align overlays with changes in PWM drivers and bindings
  applications/machine_learning/configuration/nrf52840dk_nrf52840/app.overlay
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/app.overlay
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/app.overlay
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/app.overlay
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/app.overlay
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/app.overlay
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/app.overlay
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/app.overlay
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/app.overlay
Labels: none

samples/nrf9160/lwm2m_client: Use pwm_dt_spec, update buzzer DT node
  samples/nrf9160/lwm2m_client/boards/thingy91_nrf9160_ns.overlay
  samples/nrf9160/lwm2m_client/dts/bindings/pwm-buzzer.yaml
  samples/nrf9160/lwm2m_client/src/ui/ui_buzzer.c
  samples/nrf9160/lwm2m_client/src/ui/ui_led.c
Labels: none

manifest: Update Zephyr and Find My revisions
  west.yml
Labels: manifest

boards: Align with recent changes in nRF PWM drivers and bindings
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_common.dts
Labels: none

applications: matter_weather_station: Update DT buzzer, use pwm_dt_spec
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/app.overlay
  applications/matter_weather_station/src/buzzer.cpp
Labels: none

samples: bluetooth: Use pwm_dt_spec
  samples/bluetooth/mesh/light_ctrl/src/lc_pwm_led.c
  samples/bluetooth/nrf_dm/src/pwm_led.c
Labels: none

samples: matter: Align with recent changes in PWM API
  samples/matter/common/src/pwm_device.cpp
  samples/matter/common/src/pwm_device.h
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_bulb/src/lighting_manager.cpp
  samples/matter/light_bulb/src/lighting_manager.h
  samples/matter/window_covering/src/app_config.h
  samples/matter/window_covering/src/window_covering.cpp
Labels: none

lib: st25r3911b: Update to not use deprecated spi_cs_control fields
  lib/st25r3911b/st25r3911b_spi.c
Labels: none

zigbee: osif: zb_nrf_led_button: Use pwm_dt_spec
  subsys/zigbee/osif/zb_nrf_led_button.c
Labels: none

samples: zigbee: Use pwm_dt_spec
  samples/zigbee/light_bulb/src/main.c
Labels: none

manifest: update sdk-zephyr
  west.yml
Labels: manifest

samples: psa_tls: Enable PSA crypto initialization when used
  samples/crypto/psa_tls/src/main.c
Labels: none

samples: psa_tls: Updates to crypto configurations
  samples/crypto/psa_tls/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/psa_tls/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/psa_tls/overlays/cc3xx-legacy.conf
  samples/crypto/psa_tls/overlays/cc3xx-oberon-psa.conf
  samples/crypto/psa_tls/overlays/cc3xx-psa.conf
  samples/crypto/psa_tls/overlays/oberon-legacy.conf
  samples/crypto/psa_tls/overlays/oberon-psa.conf
  samples/crypto/psa_tls/prj.conf
  samples/crypto/psa_tls/sample.yaml
  tests/crypto/overlay-oberon.conf
Labels: none

manifest: Update to PRS: nrfxlib:682 Mbed TLS:3 and TF-M:46 CHIP:61
  west.yml
Labels: manifest

doc: Add filter for nrfxlib PSA drivers
  doc/nrfxlib/nrfxlib.doxyfile.in
Labels: doc-required
