Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

lib: modem_antenna: add debugging on nrf_modem_at_printf
  lib/modem_antenna/modem_antenna.c
Labels: none

partition_manager: Calling yamllint on all Yaml input files
  scripts/partition_manager.py
  scripts/requirements-extra.txt
  subsys/partition_manager/pm.yml.libmodem
Labels: none

net: lib: lwm2m_client_utils: API for applying update
  include/net/lwm2m_client_utils.h
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
Labels: none

crypto: psa_tls sample: fix kconfig cert description
  samples/crypto/psa_tls/Kconfig
Labels: none

tests: turn on build_only in sensor manager sample
  samples/caf_sensor_manager/sample.yaml
Labels: none

CODEOWNERS: event manager proxy test
  CODEOWNERS
Labels: none

bluetooth: services: fast_pair: remove redundant references in storage
  subsys/bluetooth/services/fast_pair/fp_storage.c
Labels: none

bluetooth: services: fast_pair: add new storage api for finding a key
  subsys/bluetooth/services/fast_pair/fp_keys.c
  subsys/bluetooth/services/fast_pair/fp_storage.c
  subsys/bluetooth/services/fast_pair/include/fp_storage.h
Labels: none

doc: improve Thread configuration instructions
  doc/nrf/releases/release-notes-1.4.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread.rst
  doc/nrf/ug_thread_configuring.rst
  doc/nrf/ug_thread_prebuilt_libs.rst
  doc/nrf/ug_thread_supported_features.rst
Labels: doc-required

doc: RTT update
  samples/nrf9160/fmfu_smp_svr/README.rst
Labels: doc-required

net: lib: nrf_cloud: fix duplicate disconnect events
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fsm.c
Labels: doc-required

applications: serial_lte_modem: add logging for nrf cloud events
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: none

manifest: update nrf_dm
  west.yml
Labels: manifest

zigbee: Increase UT stability by rounding inteval
  tests/subsys/zigbee/osif/timer_counter/src/main.c
  tests/subsys/zigbee/osif/timer_ktimer/src/main.c
Labels: none

caf: ble_state: Optional security request
  subsys/caf/modules/Kconfig.ble_state
  subsys/caf/modules/ble_state.c
Labels: none

applications: nrf_desktop: Start discovery right after connected
  applications/nrf_desktop/src/modules/ble_discovery.c
Labels: none

caf: ble_state: Optional security request doc update
  applications/nrf_desktop/doc/ble_discovery.rst
  applications/nrf_desktop/doc/ble_scan.rst
  doc/nrf/libraries/caf/ble_state.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

zigbee: Align PAN ID conflict resolution APIs
  doc/nrf/libraries/zigbee/zigbee_app_utils.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/shell/src/main.c
  subsys/zigbee/lib/zigbee_app_utils/Kconfig
  subsys/zigbee/lib/zigbee_app_utils/zigbee_app_utils.c
Labels: doc-required

samples: ipc: rework ipc sample
  samples/ipc/ipc_service/CMakeLists.txt
  samples/ipc/ipc_service/Kconfig.app
  samples/ipc/ipc_service/README.rst
  samples/ipc/ipc_service/prj.conf
  samples/ipc/ipc_service/prj_icmsg.conf
  samples/ipc/ipc_service/remote/prj.conf
  samples/ipc/ipc_service/remote/prj_icmsg.conf
  samples/ipc/ipc_service/src/main.c
Labels: doc-required

samples: secure_services: Fix regex for test of variant number
  samples/nrf9160/secure_services/sample.yaml
Labels: none

manifest: update nrf_dm
  west.yml
Labels: manifest

lib: modem_key_mgmt: don't read CME error if `nrf_modem_at_cmd` failed
  doc/nrf/releases/release-notes-changelog.rst
  lib/modem_key_mgmt/modem_key_mgmt.c
Labels: doc-required

bluetooth: services: fast_pair: add new storage api for finding a key
  subsys/bluetooth/services/fast_pair/fp_keys.c
  subsys/bluetooth/services/fast_pair/fp_storage.c
  subsys/bluetooth/services/fast_pair/include/fp_storage.h
Labels: none

bluetooth: services: fast_pair: remove redundant references in storage
  subsys/bluetooth/services/fast_pair/fp_storage.c
Labels: none

samples: ipc: rework ipc sample
  samples/ipc/ipc_service/CMakeLists.txt
  samples/ipc/ipc_service/Kconfig.app
  samples/ipc/ipc_service/README.rst
  samples/ipc/ipc_service/prj.conf
  samples/ipc/ipc_service/prj_icmsg.conf
  samples/ipc/ipc_service/remote/prj.conf
  samples/ipc/ipc_service/remote/prj_icmsg.conf
  samples/ipc/ipc_service/src/main.c
Labels: doc-required

applications: nrf_desktop: Avoid pulling in outside led_id enums
  applications/nrf_desktop/configuration/common/led_state.h
Labels: none

applications: nrf_desktop: Link doxygen API to rst
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/configuration/common/hid_report_desc.h
  applications/nrf_desktop/configuration/common/led_state.h
  applications/nrf_desktop/src/events/usb_event.h
Labels: doc-required

caf: ble_state: Optional security request
  subsys/caf/modules/Kconfig.ble_state
  subsys/caf/modules/ble_state.c
Labels: none

applications: nrf_desktop: Start discovery right after connected
  applications/nrf_desktop/src/modules/ble_discovery.c
Labels: none

caf: ble_state: Optional security request doc update
  applications/nrf_desktop/doc/ble_discovery.rst
  applications/nrf_desktop/doc/ble_scan.rst
  doc/nrf/libraries/caf/ble_state.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

flash_patch: Add support for nRF52833
  doc/nrf/releases/release-notes-changelog.rst
  lib/flash_patch/CMakeLists.txt
  lib/flash_patch/Kconfig
  tests/drivers/flash_patch/testcase.yaml
Labels: doc-required

dm: add support for high accuracy distance
  include/bluetooth/services/ddfs.h
  include/dm.h
  subsys/dm/Kconfig
  subsys/dm/dm.c
Labels: none

samples: add high_precision estimate
  samples/bluetooth/nrf_dm/src/peer.c
  samples/bluetooth/nrf_dm/src/service.c
Labels: none

doc: Update release note changelog
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: bluetooth: peripheral_proximity
  include/bluetooth/services/ias.h
  include/bluetooth/services/lls.h
  samples/bluetooth/peripheral_proximity/CMakeLists.txt
  samples/bluetooth/peripheral_proximity/Kconfig
  samples/bluetooth/peripheral_proximity/README.rst
  samples/bluetooth/peripheral_proximity/boards/pm_static_thingy53_nrf5340_cpuapp.yml
  samples/bluetooth/peripheral_proximity/boards/thingy53.c
  samples/bluetooth/peripheral_proximity/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_proximity/boards/thingy53_nrf5340_cpuapp.overlay
  samples/bluetooth/peripheral_proximity/child_image/hci_rpmsg/boards/thingy53_nrf5340_cpunet.conf
  samples/bluetooth/peripheral_proximity/prj.conf
  samples/bluetooth/peripheral_proximity/prj_minimal.conf
  samples/bluetooth/peripheral_proximity/sample.yaml
  samples/bluetooth/peripheral_proximity/src/main.c
  subsys/bluetooth/services/CMakeLists.txt
  subsys/bluetooth/services/Kconfig
  subsys/bluetooth/services/Kconfig.ias
  subsys/bluetooth/services/Kconfig.lls
  subsys/bluetooth/services/ias.c
  subsys/bluetooth/services/lls.c
Labels: doc-required

openthread: samples: Reorganise openthread cert overlay.
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_certification.rst
  doc/nrf/ug_thread_ot_memory.rst
  samples/openthread/cli/harness/overlay-cert.conf
Labels: doc-required

dm: Split the library configuration from the submodule.
  subsys/dm/CMakeLists.txt
  subsys/dm/Kconfig
  subsys/dm/dm.c
  subsys/dm/timeslot_queue.c
Labels: none

changelog: Update changelog with the nrf_dm sample changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: bluetooth: nrf_dm: Configuration alignment
  samples/bluetooth/nrf_dm/prj.conf
Labels: none

samples: nrf9160: modem_shell: LTE connected to LED#3
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/src/link/link.c
Labels: doc-required
