Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

samples: nrf9160: nrf_cloud_mqtt_multi_service_sample: send PVT data
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/application.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.h
Labels: doc-required

applications: serial_lte_modem: remove use of nrf_cloud_rest
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: none

applications: serial_lte_modem: remove use of nrf_cloud_rest
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: none

samples: nrf9160: nrf_cloud_mqtt_multi_service_sample: send PVT data
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/application.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.h
Labels: doc-required

applications: asset_tracker_v2: use nrf_cloud's PVT encoding
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
Labels: none

net: lib: nrf_cloud: add PVT encoding support
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  include/net/nrf_cloud_rest.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_codec.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_cell_pos.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: doc-required

manifest: update Find My revision
  west.yml
Labels: manifest

manifest: update mpsl document
  west.yml
Labels: manifest

manifest: update mpsl document
  west.yml
Labels: manifest

kconfig: mpsl: Mark 1-wire coex as supported for production
  subsys/mpsl/cx/Kconfig
Labels: none

samples: nrf5340: remote_shell: use ncs,remote-shell-uart
  samples/nrf5340/remote_shell/Kconfig
  samples/nrf5340/remote_shell/boards/nrf5340dk_nrf5340_cpuapp_uart.overlay
  samples/nrf5340/remote_shell/prj_uart.conf
  samples/nrf5340/remote_shell/sample.yaml
  samples/nrf5340/remote_shell/src/main.c
Labels: none

lib: st23r3911b: use gpio-dt-spec
  lib/st25r3911b/st25r3911b_common.c
  lib/st25r3911b/st25r3911b_interrupt.c
  samples/bluetooth/central_nfc_pairing/nrf52833dk_nrf52833.overlay
  samples/bluetooth/central_nfc_pairing/nrf52840dk_nrf52840.overlay
  samples/bluetooth/central_nfc_pairing/nrf52dk_nrf52832.overlay
  samples/bluetooth/central_nfc_pairing/nrf5340dk_nrf5340_cpuapp.overlay
  samples/nfc/tag_reader/nrf52833dk_nrf52833.overlay
  samples/nfc/tag_reader/nrf52840dk_nrf52840.overlay
  samples/nfc/tag_reader/nrf52dk_nrf52832.overlay
  samples/nfc/tag_reader/nrf5340dk_nrf5340_cpuapp.overlay
  samples/nfc/tnep_poller/nrf52833dk_nrf52833.overlay
  samples/nfc/tnep_poller/nrf52840dk_nrf52840.overlay
  samples/nfc/tnep_poller/nrf52dk_nrf52832.overlay
  samples/nfc/tnep_poller/nrf5340dk_nrf5340_cpuapp.overlay
Labels: none

kconfig: rename template
  modules/mcuboot/boot/zephyr/Kconfig
  modules/memfault-firmware-sdk/Kconfig
  subsys/partition_manager/Kconfig
  subsys/partition_manager/Kconfig.template.partition_config
Labels: none

partition_manager: add option to place partition in ext flash
  CODEOWNERS
  doc/nrf/releases/release-notes-changelog.rst
  subsys/partition_manager/Kconfig
  subsys/partition_manager/Kconfig.template.partition_region
  subsys/partition_manager/pm.yml.file_system
  subsys/partition_manager/pm.yml.nvs
  subsys/partition_manager/pm.yml.settings
  tests/subsys/partition_manager/region/CMakeLists.txt
  tests/subsys/partition_manager/region/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/partition_manager/region/prj.conf
  tests/subsys/partition_manager/region/src/main.c
  tests/subsys/partition_manager/region/testcase.yaml
Labels: doc-required

net: lib: lwm2m_client_utils: set update result on fota start correctly
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
Labels: doc-required

net: lib: download_client: fixed error for coap retransmission
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/download_client/src/download_client.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
Labels: doc-required

net: lib: lwm2m_client_utils: set result update on cancel
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
Labels: none

manifest: Update sdk-zephyr revision
  west.yml
Labels: manifest

lib: st23r3911b: use gpio-dt-spec
  lib/st25r3911b/st25r3911b_common.c
  lib/st25r3911b/st25r3911b_interrupt.c
  samples/bluetooth/central_nfc_pairing/nrf52833dk_nrf52833.overlay
  samples/bluetooth/central_nfc_pairing/nrf52840dk_nrf52840.overlay
  samples/bluetooth/central_nfc_pairing/nrf52dk_nrf52832.overlay
  samples/bluetooth/central_nfc_pairing/nrf5340dk_nrf5340_cpuapp.overlay
  samples/nfc/tag_reader/nrf52833dk_nrf52833.overlay
  samples/nfc/tag_reader/nrf52840dk_nrf52840.overlay
  samples/nfc/tag_reader/nrf52dk_nrf52832.overlay
  samples/nfc/tag_reader/nrf5340dk_nrf5340_cpuapp.overlay
  samples/nfc/tnep_poller/nrf52833dk_nrf52833.overlay
  samples/nfc/tnep_poller/nrf52840dk_nrf52840.overlay
  samples/nfc/tnep_poller/nrf52dk_nrf52832.overlay
  samples/nfc/tnep_poller/nrf5340dk_nrf5340_cpuapp.overlay
Labels: none

lib: adp536x: require device to initialize
  boards/arm/thingy91_nrf9160/adp5360_init.c
  include/adp536x.h
  lib/adp536x/adp536x.c
Labels: none

drivers: serial: nrf_sw_lpuart: remove data/config accessors
  drivers/serial/uart_nrf_sw_lpuart.c
Labels: none

applications: nrf5340_audio: Add missing configs for BIS
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/audio_datapath.h
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
Labels: none

caf: ble_adv: Fix filter accept list issues
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/prj.conf
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/prj_release.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_keyboard.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_mcuboot_qspi.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_release.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_wwcb.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_release.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/prj.conf
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/prj_release.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_release.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_shell.conf
  applications/nrf_desktop/doc/ble_adv.rst
  doc/nrf/libraries/caf/ble_adv.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/caf/modules/Kconfig.ble_adv
  subsys/caf/modules/ble_adv.c
Labels: doc-required

applications: nrf5340_audio: Add missing configs for BIS
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/audio_datapath.h
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
Labels: none

zigbee: introduce ncs,zigbee-uart
  doc/nrf/libraries/zigbee/osif.rst
  subsys/zigbee/Kconfig
  subsys/zigbee/osif/zb_nrf_async_serial.c
  subsys/zigbee/osif/zb_nrf_serial.c
Labels: doc-required

tests: zigbee: osif: serial: use ncs,zigbee-uart
  tests/subsys/zigbee/osif/serial/serial_async_api/CMakeLists.txt
  tests/subsys/zigbee/osif/serial/serial_async_api/boards/nrf52833dk_nrf52833.overlay
  tests/subsys/zigbee/osif/serial/serial_async_api/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/zigbee/osif/serial/serial_async_api/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/subsys/zigbee/osif/serial/serial_basic_api/CMakeLists.txt
  tests/subsys/zigbee/osif/serial/serial_basic_api/boards/nrf52833dk_nrf52833.overlay
  tests/subsys/zigbee/osif/serial/serial_basic_api/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/zigbee/osif/serial/serial_basic_api/boards/nrf5340dk_nrf5340_cpuapp.overlay
Labels: none

zigbee: introduce ncs,zboss-trace-uart
  doc/nrf/libraries/zigbee/osif.rst
  doc/nrf/ug_zigbee_configuring.rst
  doc/nrf/ug_zigbee_configuring_zboss_traces.rst
  subsys/zigbee/Kconfig
  subsys/zigbee/osif/zb_nrf_serial.c
  subsys/zigbee/osif/zb_nrf_serial_logger.c
Labels: doc-required

samples: zigbee: ncp: use second CDC-ACM for nrf52840dongle
  samples/zigbee/ncp/boards/nrf52840dongle_nrf52840_usb.overlay
Labels: none

samples: zigbee: ncp: use ncs,zigbee-uart
  samples/zigbee/ncp/README.rst
  samples/zigbee/ncp/boards/nrf21540dk_nrf52840.overlay
  samples/zigbee/ncp/boards/nrf21540dk_nrf52840_usb.overlay
  samples/zigbee/ncp/boards/nrf52833dk_nrf52833.overlay
  samples/zigbee/ncp/boards/nrf52833dk_nrf52833_usb.overlay
  samples/zigbee/ncp/boards/nrf52840dk_nrf52840.overlay
  samples/zigbee/ncp/boards/nrf52840dk_nrf52840_usb.overlay
  samples/zigbee/ncp/boards/nrf52840dongle_nrf52840_usb.overlay
  samples/zigbee/ncp/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/zigbee/ncp/boards/nrf5340dk_nrf5340_cpuapp_usb.overlay
  samples/zigbee/ncp/prj_usb.conf
  samples/zigbee/ncp/sample.yaml
  samples/zigbee/ncp/src/main.c
Labels: doc-required

zigbee: osif: obtain timer device using DEVICE_DT_GET
  subsys/zigbee/osif/zb_nrf_timer_counter.c
Labels: none

samples: zigbee: ncp: enable uart1 for nrf5340dk
  samples/zigbee/ncp/boards/nrf5340dk_nrf5340_cpuapp_usb.overlay
Labels: none

samples: zigbee: ncp: use ncs,zboss-trace-uart
  samples/zigbee/ncp/README.rst
  samples/zigbee/ncp/boards/nrf21540dk_nrf52840_usb.overlay
  samples/zigbee/ncp/boards/nrf52833dk_nrf52833_usb.overlay
  samples/zigbee/ncp/boards/nrf52840dk_nrf52840_usb.overlay
  samples/zigbee/ncp/boards/nrf52840dongle_nrf52840_usb.overlay
  samples/zigbee/ncp/boards/nrf5340dk_nrf5340_cpuapp_usb.overlay
  samples/zigbee/ncp/prj_usb.conf
Labels: doc-required

manifest: Update sdk-zephyr revision
  west.yml
Labels: manifest

manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest

nfc: Remove log_strdup invocations
  subsys/nfc/ndef/le_oob_rec_parser.c
Labels: none

caf: Remove log_strdup invocations
  subsys/caf/modules/ble_adv.c
  subsys/caf/modules/ble_state.c
  subsys/caf/modules/net_state_lte.c
  subsys/caf/modules/net_state_ot.c
Labels: none

applications: asset_tracker_v2: Remove log_strdup invocations
  applications/asset_tracker_v2/src/cloud/aws_iot_integration.c
  applications/asset_tracker_v2/src/cloud/azure_iot_hub_integration.c
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
  applications/asset_tracker_v2/src/events/app_module_event.c
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors_bsec.c
  applications/asset_tracker_v2/src/modules/modem_module.c
  applications/asset_tracker_v2/src/modules/modules_common.c
Labels: none

net/lib/nrf_cloud: Remove log_strdup invocations
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps_utils.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: none

net: lib: azure_fota: Remove log_strdup invocations
  subsys/net/lib/azure_fota/azure_fota.c
Labels: none

nrf_rpc: bluetooth: Remove log_strdup invocations
  subsys/nrf_rpc/nrf_rpc_ipc.c
Labels: none
