Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

samples: matter: fix DFU over SMP on nRF53
  samples/matter/common/src/dfu_over_smp.cpp
  samples/matter/common/src/dfu_over_smp.h
Labels: none

manifest: Update MCUboot revision
  west.yml
Labels: manifest

lib: nrf_modem: enable traces using AT command if `_TRACE_ENABLED`
  boards/arm/thingy91_nrf9160/CMakeLists.txt
  boards/arm/thingy91_nrf9160/board_nonsecure.c
  lib/lte_link_control/lte_lc_modem_hooks.c
  lib/nrf_modem_lib/Kconfig.modemlib
  lib/nrf_modem_lib/nrf_modem_lib.c
Labels: none

samples/keys/hw_unique_key: Disable TF-M minimal configuration
  samples/keys/hw_unique_key/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/keys/hw_unique_key/boards/nrf9160dk_nrf9160_ns.conf
Labels: none

applications: nrf_desktop: Reduce connection interval on USB suspend
  applications/nrf_desktop/src/modules/Kconfig.ble
  applications/nrf_desktop/src/modules/ble_conn_params.c
  applications/nrf_desktop/src/modules/ble_scan.c
Labels: none

boards: arm: thingy91: Rename static partitions file
  boards/arm/thingy91_nrf9160/CMakeLists.txt
  boards/arm/thingy91_nrf9160/thingy91_pm_static.yml
  boards/arm/thingy91_nrf9160/thingy91_pm_static_spm.yml
Labels: none

nrf_security: Build integration builds on all PRs
  samples/bluetooth/peripheral_hids_mouse/sample.yaml
  samples/crypto/sha256/sample.yaml
  samples/matter/light_switch/sample.yaml
  samples/openthread/cli/sample.yaml
Labels: none

doc: nrf: dm_adding_code: remove title link
  doc/nrf/dm_adding_code.rst
Labels: doc-required

doc: improve zephyr/tfm grid styling
  doc/_static/css/tfm.css
  doc/_static/css/zephyr.css
Labels: doc-required

doc: remove trailing : from TOC title
  doc/matter/index.rst
  doc/mcuboot/wrapper.rst
  doc/nrf/index.rst
Labels: doc-required

doc: update sphinx-ncs-theme
  scripts/requirements-doc.txt
Labels: none

doc: always display all docsets in the list
  doc/_utils/utils.py
  doc/kconfig/conf.py
  doc/matter/conf.py
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrfx/conf.py
  doc/nrfxlib/conf.py
  doc/tfm/conf.py
  doc/zephyr/conf.py
Labels: doc-required

doc: remove no longer needed theme customizations
  doc/_static/css/common.css
  doc/_static/css/kconfig.css
  doc/_static/css/matter.css
  doc/_static/css/mcuboot.css
  doc/_static/css/nrf.css
  doc/_static/css/nrfx.css
  doc/_static/css/nrfxlib.css
  doc/_static/css/tfm.css
  doc/_static/css/zephyr.css
  doc/kconfig/conf.py
  doc/matter/conf.py
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrfx/conf.py
  doc/nrfxlib/conf.py
  doc/zephyr/conf.py
Labels: doc-required

lib: nrf_modem_os: Use IRQ_PRIO_LOWEST instead of hard-coded 6
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: none

doc: extensions: sml error -> warning
  doc/_extensions/software_maturity_table.py
  doc/nrf/software_maturity.rst
Labels: doc-required

zigbee: Describe FOTA limitations on nRF5340
  doc/nrf/libraries/zigbee/zigbee_fota.rst
Labels: doc-required

applications: nrf_desktop: Reduce connection interval on USB suspend
  applications/nrf_desktop/src/modules/Kconfig.ble
  applications/nrf_desktop/src/modules/ble_conn_params.c
  applications/nrf_desktop/src/modules/ble_scan.c
Labels: none

manifest: Update MCUboot revision
  west.yml
Labels: manifest

applications: asset_tracker_v2: Fix memfault handling
  applications/asset_tracker_v2/src/events/cloud_module_event.c
  applications/asset_tracker_v2/src/events/cloud_module_event.h
  applications/asset_tracker_v2/src/events/data_module_event.h
  applications/asset_tracker_v2/src/events/debug_module_event.h
  applications/asset_tracker_v2/src/modules/Kconfig.debug_module
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/debug_module.c
  applications/asset_tracker_v2/tests/debug_module/CMakeLists.txt
  applications/asset_tracker_v2/tests/debug_module/src/debug_module_test.c
Labels: none

lib: nrf_modem: enable traces using AT command if `_TRACE_ENABLED`
  boards/arm/thingy91_nrf9160/CMakeLists.txt
  boards/arm/thingy91_nrf9160/board_nonsecure.c
  lib/lte_link_control/lte_lc_modem_hooks.c
  lib/nrf_modem_lib/Kconfig.modemlib
  lib/nrf_modem_lib/nrf_modem_lib.c
Labels: none

doc: Doc updates for the new layout
  doc/nrf/doc_structure.rst
  doc/nrf/images/doc_structure_search.PNG
  doc/nrf/images/doc_structure_search_results.PNG
Labels: doc-required

lib: location: cellular/wifi methods: fix to all mode
  lib/location/method_cellular.c
  lib/location/method_wifi.c
Labels: none

samples/keys/hw_unique_key: Disable TF-M minimal configuration
  samples/keys/hw_unique_key/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/keys/hw_unique_key/boards/nrf9160dk_nrf9160_ns.conf
Labels: none

nrf_security: Build integration builds on all PRs
  samples/bluetooth/peripheral_hids_mouse/sample.yaml
  samples/crypto/sha256/sample.yaml
  samples/matter/light_switch/sample.yaml
  samples/openthread/cli/sample.yaml
Labels: none

nrf_security: Add integration regression builds
  samples/bluetooth/peripheral_hids_mouse/sample.yaml
  samples/crypto/sha256/sample.yaml
  samples/matter/light_switch/sample.yaml
  samples/openthread/cli/sample.yaml
Labels: none

manifest: Point to the tf-m with EITS
  west.yml
Labels: manifest

manifest: Add nrfxlib with EITS kconfig
  west.yml
Labels: manifest

doc: software_maturity: Add entries for Zigbee
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required

tfm: Fix TF-M size alignment requirement on nrf91 with mcuboot enabled
  modules/trusted-firmware-m/Kconfig
Labels: none

samples: matter: fix SED polling interval
  applications/matter_weather_station/src/chip_project_config.h
  samples/matter/light_switch/src/chip_project_config.h
  samples/matter/lock/src/chip_project_config.h
Labels: none

doc: peripheral_uart: add info about async_adapter
  samples/bluetooth/peripheral_uart/README.rst
Labels: doc-required

hw_unique_key: Fix memset call for zeroing key bytes
  doc/nrf/releases/release-notes-changelog.rst
  lib/hw_unique_key/hw_unique_key.c
Labels: doc-required

net: lib: azure_iot_hub: remove support for cloud api
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/azure_iot_hub/CMakeLists.txt
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_cloud_api.c
Labels: doc-required

applications: serial_lte_modem: remove cloud api usage
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

net: lib: aws_iot: remove support for cloud api
  doc/nrf/libraries/networking/aws_iot.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: doc-required

net: lib: nrf_cloud: remove support for cloud api
  doc/nrf/libraries/networking/cloud.rst
  doc/nrf/libraries/networking/nrf_cloud.rst
  doc/nrf/releases/release-notes-1.4.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf_cloud.rst
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: doc-required

samples: nrf9160: cloud_client: remove sample
  doc/nrf/releases/release-notes-1.2.0.rst
  doc/nrf/releases/release-notes-1.3.0.rst
  doc/nrf/releases/release-notes-1.5.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/cloud_client/CMakeLists.txt
  samples/nrf9160/cloud_client/Kconfig
  samples/nrf9160/cloud_client/README.rst
  samples/nrf9160/cloud_client/prj.conf
  samples/nrf9160/cloud_client/sample.yaml
  samples/nrf9160/cloud_client/src/main.c
Labels: doc-required

net: lib: cloud: remove cloud api
  doc/nrf/libraries/networking/cloud.rst
  doc/nrf/releases/release-notes-1.1.0.rst
  doc/nrf/releases/release-notes-1.2.0.rst
  doc/nrf/releases/release-notes-1.7.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/net/cloud.h
  subsys/net/lib/CMakeLists.txt
  subsys/net/lib/Kconfig
  subsys/net/lib/cloud/CMakeLists.txt
  subsys/net/lib/cloud/Kconfig
  subsys/net/lib/cloud/cloud.c
  subsys/net/lib/cloud/custom-sections.ld
Labels: doc-required

manifest: update homekit revision
  west.yml
Labels: manifest

manifest: Update nrfxlib version
  west.yml
Labels: manifest
