Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

manifest: nrf_modem v2.0.0
  applications/serial_lte_modem/src/main.c
  applications/serial_lte_modem/src/slm_at_host.c
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  doc/nrf/releases/release-notes-changelog.rst
  ext/curl/lib/url.h
  include/modem/nrf_modem_lib.h
  lib/at_host/Kconfig
  lib/nrf_modem_lib/Kconfig.modemlib
  lib/nrf_modem_lib/nrf91_sockets.c
  lib/nrf_modem_lib/nrf_modem_lib.c
  lib/nrf_modem_lib/nrf_modem_lib_trace.c
  lib/nrf_modem_lib/nrf_modem_os.c
  samples/nrf9160/at_client/src/main.c
  samples/nrf9160/aws_fota/src/main.c
  samples/nrf9160/coap_client/src/main.c
  samples/nrf9160/gnss/src/main.c
  samples/nrf9160/http_update/common/src/update.c
  samples/nrf9160/lte_ble_gateway/prj.conf
  samples/nrf9160/lte_ble_gateway/src/main.c
  samples/nrf9160/lwm2m_carrier/src/main.c
  samples/nrf9160/modem_shell/src/shell.c
  samples/nrf9160/mqtt_simple/src/main.c
  west.yml
Labels: manifest, doc-required

manifest: Update nrfxlib revision
  west.yml
Labels: manifest

nvs: pull change that adds NVS cache
  west.yml
Labels: manifest

manifest: Update zephyr
  west.yml
Labels: manifest

bl_validation: Fix pointer arithmetic
  doc/nrf/releases/release-notes-changelog.rst
  subsys/bootloader/bl_validation/bl_validation.c
  tests/subsys/bootloader/bl_validation/prj.conf
  tests/subsys/bootloader/bl_validation/src/main.c
Labels: doc-required

doc: Remove GNU Arm Embedded Toolchain from NCS documentation
  doc/nrf/glossary.rst
  doc/nrf/gs_installing.rst
  doc/nrf/gs_modifying.rst
  doc/nrf/gs_recommended_versions.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-1.0.0.rst
  doc/nrf/releases/release-notes-1.1.0.rst
  doc/nrf/releases/release-notes-1.2.0.rst
  doc/nrf/releases/release-notes-1.2.1.rst
  doc/nrf/releases/release-notes-1.8.0.rst
  doc/nrf/shortcuts.txt
Labels: doc-required

manifest: Update nrfxlib revision
  west.yml
Labels: manifest

doc: matter: update mentions of Matter controller
  applications/matter_weather_station/README.rst
  doc/matter/conf.py
  doc/matter/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/ug_matter_configuring.rst
  doc/nrf/ug_matter_configuring_controller.rst
  doc/nrf/ug_matter_configuring_env.rst
  doc/nrf/ug_matter_creating_accessory.rst
  doc/nrf/ug_thread_tools.rst
  samples/matter/template/README.rst
Labels: doc-required

doc: matter: remove mentions of Project CHIP
  doc/nrf/gs_installing.rst
  doc/nrf/ug_matter.rst
  doc/nrf/ug_matter_architecture.rst
  doc/nrf/ug_matter_configuring.rst
  doc/nrf/ug_matter_configuring_controller.rst
  doc/nrf/ug_matter_configuring_env.rst
  doc/nrf/ug_matter_configuring_protocol.rst
  doc/nrf/ug_matter_creating_accessory.rst
  samples/matter/light_bulb/README.rst
  samples/matter/light_switch/README.rst
  samples/matter/lock/README.rst
  samples/matter/template/README.rst
  samples/matter/window_covering/README.rst
Labels: doc-required

zigbee: Fix incorrect FOTA upgrade schedule calls
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
Labels: none

dfu: dfu_target: Fix settings handler
  doc/nrf/releases/release-notes-changelog.rst
  subsys/dfu/dfu_target/src/dfu_target_stream.c
Labels: doc-required

manifest: Update nrfxlib revision
  west.yml
Labels: manifest

doc/nrf/libraries/dfu: update dfu_target description
  doc/nrf/libraries/dfu/dfu_target.rst
Labels: doc-required

Revert "samples: Disable TF-M when NRF_CLOUD_PGPS is enabled"
  applications/asset_tracker_v2/overlay-pgps.conf
  applications/serial_lte_modem/prj.conf
  samples/nrf9160/gnss/overlay-pgps.conf
  samples/nrf9160/location/overlay-pgps.conf
  samples/nrf9160/modem_shell/overlay-pgps.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/prj.conf
Labels: none

applications: nrf_desktop: Document nRF21540EK support
  applications/nrf_desktop/README.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: nrf9160: modem_shell: use SPM instead of TF-M
  samples/nrf9160/modem_shell/prj.conf
Labels: none

ADXL362: use SENSOR_TRIG_INSTANT_MOTION trigger
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors.c
Labels: none

samples: nrf9160: modem_shell: check if UART1 is configured
  samples/nrf9160/modem_shell/src/uart/uart.c
Labels: none

zigbee: Fix incorrect FOTA upgrade schedule calls
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
Labels: none

doc: Remove GNU Arm Embedded Toolchain from NCS documentation
  doc/nrf/glossary.rst
  doc/nrf/gs_installing.rst
  doc/nrf/gs_modifying.rst
  doc/nrf/gs_recommended_versions.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-1.0.0.rst
  doc/nrf/releases/release-notes-1.1.0.rst
  doc/nrf/releases/release-notes-1.2.0.rst
  doc/nrf/releases/release-notes-1.2.1.rst
  doc/nrf/releases/release-notes-1.8.0.rst
  doc/nrf/shortcuts.txt
Labels: doc-required

doc/nrf/libraries/dfu: update dfu_target description
  doc/nrf/libraries/dfu/dfu_target.rst
Labels: doc-required

dfu: dfu_target: Fix settings handler
  doc/nrf/releases/release-notes-changelog.rst
  subsys/dfu/dfu_target/src/dfu_target_stream.c
Labels: doc-required

doc: move Thingy:53 getting started guide
  doc/nrf/glossary.rst
  doc/nrf/images/programmer_select_device1.png
  doc/nrf/images/programmer_thingy53_mcuboot_dfu.png
  doc/nrf/images/thingy53_antenna_connections.svg
  doc/nrf/images/thingy53_antenna_connections.vsdx
  doc/nrf/images/thingy53_application_info.png
  doc/nrf/images/thingy53_nrf5340_dk.svg
  doc/nrf/images/thingy53_progress_wheel.png
  doc/nrf/images/thingy53_sample_list.png
  doc/nrf/images/thingy53_sw1_sw2.svg
  doc/nrf/images/thingy53_sw1_usb.svg
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/nrf/ug_nrf53.rst
  doc/nrf/ug_thingy53.rst
  doc/nrf/ug_thingy53_gs.rst
Labels: doc-required

application: serial_lte_modem: BUG-FIX close all peer sockets
  applications/serial_lte_modem/src/slm_at_socket.c
Labels: none

doc: Update Zigbee memory requirements tables
  doc/nrf/ug_zigbee_memory.rst
Labels: doc-required

caf: Fix sensor_aggregator event logging bug
  subsys/caf/events/sensor_data_aggregator_event.c
Labels: none

doc: xip: add section to nRF5340DK UG
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

doc: zigbee: update VSC screenshots in ZQSG
  doc/nrf/images/zigbee_qsg_vsc_create_application_section.png
  doc/nrf/images/zigbee_qsg_vsc_flash.png
  doc/nrf/images/zigbee_qsg_vsc_generate_config_section.png
  doc/nrf/images/zigbee_qsg_vsc_generating_config_prompt_full.png
  doc/nrf/images/zigbee_qsg_vsc_welcome_section.png
  doc/nrf/ug_zigbee_qsg.rst
Labels: doc-required

doc: matter: remove mentions of Project CHIP
  doc/nrf/gs_installing.rst
  doc/nrf/ug_matter.rst
  doc/nrf/ug_matter_architecture.rst
  doc/nrf/ug_matter_configuring.rst
  doc/nrf/ug_matter_configuring_controller.rst
  doc/nrf/ug_matter_configuring_env.rst
  doc/nrf/ug_matter_configuring_protocol.rst
  doc/nrf/ug_matter_creating_accessory.rst
  samples/matter/light_bulb/README.rst
  samples/matter/light_switch/README.rst
  samples/matter/lock/README.rst
  samples/matter/template/README.rst
  samples/matter/window_covering/README.rst
Labels: doc-required

doc: matter: update mentions of Matter controller
  applications/matter_weather_station/README.rst
  doc/matter/conf.py
  doc/matter/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/ug_matter_configuring.rst
  doc/nrf/ug_matter_configuring_controller.rst
  doc/nrf/ug_matter_configuring_env.rst
  doc/nrf/ug_matter_creating_accessory.rst
  doc/nrf/ug_thread_tools.rst
  samples/matter/template/README.rst
Labels: doc-required

doc: move Thingy:53 getting started guide
  doc/nrf/glossary.rst
  doc/nrf/images/programmer_select_device1.png
  doc/nrf/images/programmer_thingy53_mcuboot_dfu.png
  doc/nrf/images/thingy53_antenna_connections.svg
  doc/nrf/images/thingy53_antenna_connections.vsdx
  doc/nrf/images/thingy53_application_info.png
  doc/nrf/images/thingy53_nrf5340_dk.svg
  doc/nrf/images/thingy53_progress_wheel.png
  doc/nrf/images/thingy53_sample_list.png
  doc/nrf/images/thingy53_sw1_sw2.svg
  doc/nrf/images/thingy53_sw1_usb.svg
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/nrf/ug_nrf53.rst
  doc/nrf/ug_thingy53.rst
  doc/nrf/ug_thingy53_gs.rst
Labels: doc-required

samples: nrf9160: modem_shell: use SPM instead of TF-M
  samples/nrf9160/modem_shell/prj.conf
Labels: none

Revert "samples: Disable TF-M when NRF_CLOUD_PGPS is enabled"
  applications/asset_tracker_v2/overlay-pgps.conf
  applications/serial_lte_modem/prj.conf
  samples/nrf9160/gnss/overlay-pgps.conf
  samples/nrf9160/location/overlay-pgps.conf
  samples/nrf9160/modem_shell/overlay-pgps.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/prj.conf
Labels: none

manifest: Update revision of nrfxlib repository
  doc/nrf/releases/release-notes-changelog.rst
  west.yml
Labels: manifest, doc-required

lib: nrf_modem_lib: let `_timedwait()` return `-ESHUTDOWN`
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: none

samples: nrf9160: modem_shell: non-offloading build fix
  samples/nrf9160/modem_shell/overlay-non-offloading.conf
  samples/nrf9160/modem_shell/sample.yaml
Labels: none

bl_validation: Fix pointer arithmetic
  doc/nrf/releases/release-notes-changelog.rst
  subsys/bootloader/bl_validation/bl_validation.c
  tests/subsys/bootloader/bl_validation/prj.conf
  tests/subsys/bootloader/bl_validation/src/main.c
Labels: doc-required

lib: nrf_cloud: return if no valid A-GPS error code found
  include/net/nrf_cloud.h
  include/net/nrf_cloud_agps.h
  samples/nrf9160/modem_shell/src/cloud/cloud_mqtt_shell.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
Labels: none

doc: tfm: Document TF-M as the default secure firmware
  doc/nrf/links.txt
  doc/nrf/ug_tfm.rst
Labels: doc-required

doc: tfm: Add limitations for TF-M 1.5.0
  doc/nrf/ug_tfm.rst
Labels: doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
