Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required, CI-dfu-test, CI-all-test, CI-tfm-test

boards: thingy91_nrf9160: Switch to sda-gpios, scl-gpios DT properties
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_common.dts
Labels: none

applications: nrf_desktop: Reduce RAM usage on dmouse
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/app_ZDebug.conf
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/app_ZRelease.conf
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/app_ZDebug.conf
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/app_ZRelease.conf
Labels: none

application/conectivity_bridge: Add dir and file type variable init.
  applications/connectivity_bridge/src/disk/config.c
  applications/connectivity_bridge/src/events/fs_event.c
  applications/connectivity_bridge/src/modules/fs_handler.c
Labels: none

doc: Update Zephyr version and latest commit SHA
  doc/nrf/releases/release-notes-latest.rst
  doc/versions.json
Labels: doc-required

doc: nrf: Update references to documentation of west basics
  doc/nrf/dm_adding_code.rst
  doc/nrf/dm_code_base.rst
  doc/nrf/gs_installing.rst
Labels: doc-required

applications: connectivity_bridge: Remove misused PM_POLICY_APP option
  applications/connectivity_bridge/prj.conf
  applications/connectivity_bridge/src/modules/uart_handler.c
Labels: none

applications: serial_lte_modem: fix infinite loop with no exit
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
Labels: doc-required

applications: serial_lte_modem: integrate HTTPC to SLM data mode
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/slm_at_commands.c
Labels: doc-required

lib: lte_lc: Add API and event to get current LTE mode
  include/modem/lte_lc.h
  lib/lte_link_control/lte_lc.c
Labels: none

lib: lte_lc: Fix LTE preference handling
  lib/lte_link_control/lte_lc.c
Labels: none

samples: nrf9160: cloud_client: Print when LTE mode changes
  include/modem/lte_lc.h
  samples/nrf9160/cloud_client/src/main.c
Labels: none

samples: central_uart: Add MTU exchange
  samples/bluetooth/central_uart/src/main.c
Labels: none

applications: asset_tracker_v2: Distribute device config on change.
  applications/asset_tracker_v2/src/modules/data_module.c
Labels: none

manifest: nrf_modem: release 1.0.2
  west.yml
Labels: manifest, CI-all-test

doc: nrf: Replace links to no longer existing options with just text
  doc/nrf/known_issues.rst
  doc/nrf/releases/release-notes-1.5.0.rst
Labels: doc-required

samples: zigbee: light_bulb: Convert to use DEVICE_DT_GET()
  samples/zigbee/light_bulb/src/main.c
Labels: none

boards: thingy91_nrf9160: Switch to sda-gpios, scl-gpios DT properties
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_common.dts
Labels: none

samples: connectedhomeip: Remove the use of deprecated PWM/DT macros
  samples/connectedhomeip/light_bulb/src/chip_project_config.h
  samples/connectedhomeip/light_bulb/src/lighting_manager.cpp
  samples/connectedhomeip/light_bulb/src/lighting_manager.h
Labels: none

treewide: Remove references to the BT_ATT_TX_MAX Kconfig option
  applications/connectivity_bridge/prj.conf
  doc/nrf/app_memory.rst
  samples/bluetooth/peripheral_lbs/prj_minimal.conf
  samples/bluetooth/peripheral_uart/prj_minimal.conf
  samples/bluetooth/throughput/prj.conf
  samples/bluetooth/throughput/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/bluetooth/throughput/prj_nrf5340pdk_nrf5340_cpuapp.conf
  samples/openthread/cli/overlay-minimal_multiprotocol.conf
Labels: doc-required

applications: nrf_desktop: Reduce memory usage for QSPI config
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/mcuboot_ZDebugMCUBootQSPI.conf
Labels: none

treewide: Remove support for nRF5340 PDK
  lib/fprotect/fprotect_spu.c
  modules/tfm/Kconfig
  modules/tfm/boards/board/RTE_Device.h
  modules/tfm/boards/nrf5340_cpuapp_eng_a/CMakeLists.txt
  modules/tfm/boards/nrf5340_cpuapp_eng_a/config.cmake
  modules/tfm/boards/nrf5340_cpuapp_eng_a/preload.cmake
  subsys/spm/spm_internal.h
  tests/CMakeLists.txt
Labels: CI-tfm-test

bluetooth: mesh: Update a check whether a delayed work item is pending
  subsys/bluetooth/mesh/gen_loc_srv.c
Labels: none

applications: nrf_desktop: Reduce RAM usage on dmouse
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/app_ZDebug.conf
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/app_ZRelease.conf
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/app_ZDebug.conf
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/app_ZRelease.conf
Labels: none

boards: nrf52840gmouse_nrf52840: Switch to sda-gpios, scl-gpios
  boards/arm/nrf52840gmouse_nrf52840/nrf52840gmouse_nrf52840.dts
Labels: none

zigbee: Change crypto_ecb driver init priority in zigbee samples
  samples/zigbee/light_bulb/prj.conf
  samples/zigbee/light_switch/prj.conf
  samples/zigbee/ncp/prj.conf
  samples/zigbee/ncp/prj_usb.conf
  samples/zigbee/network_coordinator/prj.conf
Labels: none

applications: asset_tracker_v2: Add missing inclusion of <sys/printk.h>
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_helpers.c
Labels: none

doc: nrf: Update references to documentation of west basics
  doc/nrf/dm_adding_code.rst
  doc/nrf/dm_code_base.rst
  doc/nrf/gs_installing.rst
Labels: doc-required

manifest: Update for regular upmerge 05.03.2021
  west.yml
Labels: manifest, CI-all-test

treewide: Update assignments to LOG_IMMEDIATE and LOG_MINIMAL options
  applications/asset_tracker/prj.conf
  applications/asset_tracker/prj_qemu_x86.conf
  applications/asset_tracker/prj_thingy91_nrf9160ns.conf
  applications/asset_tracker_v2/prj.conf
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/app_ZDebug.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/mcuboot_ZDebugMCUBoot.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/mcuboot_ZDebugMCUBootQSPI.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/mcuboot_ZDebugMCUBootSMP.conf
  samples/bluetooth/llpm/boards/nrf52840dongle_nrf52840.conf
  samples/connectedhomeip/light_bulb/prj.conf
  samples/connectedhomeip/light_switch/prj.conf
  samples/connectedhomeip/lock/prj.conf
  samples/nrf9160/azure_fota/prj.conf
  samples/openthread/cli/harness/overlay-cert-thread_1_2.conf
  samples/openthread/cli/harness/overlay-cert.conf
  samples/openthread/coprocessor/prj.conf
  subsys/bootloader/image/log_minimal.conf
  tests/crypto/prj.conf
Labels: CI-dfu-test

doc: Update Zephyr version and latest commit SHA
  doc/nrf/releases/release-notes-latest.rst
  doc/versions.json
Labels: doc-required

driver: Made entropy_cc3xx available in pre-kernel
  drivers/entropy/entropy_cc310.c
  drivers/hw_cc310/Kconfig
  drivers/hw_cc310/hw_cc310.c
Labels: none

cmake: multi image: using BOARD and REVISION arguments for zephyr_file()
  cmake/extensions.cmake
  cmake/multi_image.cmake
Labels: none

application/conectivity_bridge: Add dir and file type variable init.
  applications/connectivity_bridge/src/disk/config.c
  applications/connectivity_bridge/src/events/fs_event.c
  applications/connectivity_bridge/src/modules/fs_handler.c
Labels: none

samples: bluetooth: mesh: light_ctrl: Convert to use DEVICE_DT_GET()
  samples/bluetooth/mesh/light_ctrl/src/lc_pwm_led.c
Labels: none

treewide: Align with recent changes in Zephyr device power management
  applications/asset_tracker/src/ui/buzzer.c
  applications/asset_tracker/src/ui/led_pwm.c
  applications/asset_tracker/src/ui/nmos.c
  applications/asset_tracker_v2/src/led/led_pwm.c
  applications/connectivity_bridge/prj.conf
  applications/connectivity_bridge/src/modules/CMakeLists.txt
  applications/connectivity_bridge/src/modules/Kconfig
  applications/connectivity_bridge/src/modules/uart_handler.c
  applications/nrf_desktop/doc/power_manager.rst
  applications/nrf_desktop/src/hw_interface/leds.c
  applications/nrf_desktop/src/modules/Kconfig.power_manager
  applications/nrf_desktop/src/modules/power_manager.c
  applications/serial_lte_modem/prj.conf
  doc/nrf/nrf.doxyfile.in
  doc/nrfxlib/nrfxlib.doxyfile.in
  samples/nfc/system_off/prj.conf
  samples/nfc/system_off/src/main.c
  samples/nrf9160/lwm2m_client/src/ui/buzzer.c
  samples/nrf9160/lwm2m_client/src/ui/led_pwm.c
  samples/openthread/coap_client/overlay-mtd.conf
  samples/openthread/coap_client/src/coap_client.c
Labels: doc-required

applications: connectivity_bridge: Remove misused PM_POLICY_APP option
  applications/connectivity_bridge/prj.conf
  applications/connectivity_bridge/src/modules/uart_handler.c
Labels: none

samples: central_uart: Add MTU exchange
  samples/bluetooth/central_uart/src/main.c
Labels: none

manifest: nrf_modem: release 1.0.2
  west.yml
Labels: manifest, CI-all-test

bluetooth: services: add ANCS client
  doc/nrf/links.txt
  include/bluetooth/services/ancs_client.h
  include/bluetooth/services/ancs_client.rst
  subsys/bluetooth/services/CMakeLists.txt
  subsys/bluetooth/services/Kconfig
  subsys/bluetooth/services/Kconfig.ancs_client
  subsys/bluetooth/services/ancs_app_attr_get.c
  subsys/bluetooth/services/ancs_app_attr_get.h
  subsys/bluetooth/services/ancs_attr_parser.c
  subsys/bluetooth/services/ancs_attr_parser.h
  subsys/bluetooth/services/ancs_client.c
  subsys/bluetooth/services/ancs_client_internal.h
Labels: doc-required

samples: bluetooth: add peripheral_ancs_client sample
  samples/bluetooth/peripheral_ancs_client/ANCS_central.ncs
  samples/bluetooth/peripheral_ancs_client/CMakeLists.txt
  samples/bluetooth/peripheral_ancs_client/README.rst
  samples/bluetooth/peripheral_ancs_client/prj.conf
  samples/bluetooth/peripheral_ancs_client/sample.yaml
  samples/bluetooth/peripheral_ancs_client/src/main.c
Labels: doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in master, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"CI-dfu-test":
  - "include/bl*"
  - "include/fprotect.h"
  - "include/fw_info.*"
  - "include/dfu/**/*"
  - "include/net/**/*"
  - "modules/mcuboot/**/*"
  - "samples/nrf9160/*fota/**/*"
  - "samples/nrf9160/fmfu_smp_svr/**/*"
  - "samples/nrf9160/http_update/**/*"
  - "samples/bootloader/**/*"
  - "scripts/bootloader/**/*"
  - "subsys/bootloader/**/*"
  - "subsys/fw_info/**/*"
  - "subsys/mgmt/**/*"
  - "subsys/net/lib/*fota*/**/*"
  - "subsys/net/lib/download_client/**/*"
  - "tests/subsys/bootloader/**/*"
  - "tests/subsys/dfu/**/*"
  - "tests/subsys/fw_info/**/*"
  - "tests/subsys/net/**/*"

"CI-all-test":
  - "west.yml"
  - "**/*partition_manager*/**/*"
  - "**/*partition_manager*"

"CI-tfm-test":
  - "modules/tfm/**/*"
  - "samples/tfm/**/*"
