Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

manifest: update HomeKit revision
  west.yml
Labels: manifest

doc: fix nRF9160 DK download link
  doc/nrf/links.txt
  doc/nrf/ug_nrf9160.rst
Labels: doc-required

doc: thread: Update samples to match template
  doc/nrf/releases/release-notes-changelog.rst
  samples/openthread/cli/README.rst
  samples/openthread/coap_client/README.rst
  samples/openthread/coap_server/README.rst
  samples/openthread/coprocessor/README.rst
Labels: doc-required

CAF: sensor_manager: Add sensor event aggregator
  dts/bindings/caf/caf,aggregator.yaml
  include/caf/events/sensor_data_aggregator_event.h
  subsys/caf/events/CMakeLists.txt
  subsys/caf/events/sensor_data_aggregator_event.c
  subsys/caf/modules/CMakeLists.txt
  subsys/caf/modules/Kconfig
  subsys/caf/modules/Kconfig.sensor_data_aggregator
  subsys/caf/modules/sensor_data_aggregator.c
Labels: none

manifest: Cherry-pick new ipc service backend
  subsys/nrf_rpc/Kconfig
  west.yml
Labels: manifest

CAF: sensor_manager: Add sensor event aggregator doc
  doc/nrf/libraries/caf/caf_overview.rst
  doc/nrf/libraries/caf/sensor_data_aggregator.rst
  doc/nrf/releases/release-notes-changelog.rst
  dts/bindings/vendor-prefixes.txt
  subsys/caf/modules/sensor_data_aggregator.c
Labels: doc-required

samples: nrf_rpc: entropy_nrf53: use DEVICE_DT_GET
  samples/nrf_rpc/entropy_nrf53/cpunet/src/entropy_ser.c
Labels: none

doc: Fix config option linking
  doc/nrf/app_power_opt.rst
  doc/nrf/libraries/bluetooth_services/rpc.rst
  doc/nrf/libraries/tfm/tfm_ioctl_api.rst
  samples/peripheral/802154_phy_test/README.rst
Labels: doc-required

samples: edge_impulse: data_forwarder: use DEVICE_DT_GET
  samples/edge_impulse/data_forwarder/src/main.c
Labels: none

Zigbee weather station app: fix measurement ranges
  applications/zigbee_weather_station/src/main.c
  applications/zigbee_weather_station/src/sensor.h
  applications/zigbee_weather_station/src/weather_station.c
  applications/zigbee_weather_station/src/weather_station.h
Labels: none

openthread: increase OPENTHREAD_CSL_RECEIVE_TIME_AHEAD
  subsys/net/openthread/Kconfig.defconfig
Labels: none

doc: improve DevAcademy banner
  doc/nrf/images/DevAcademy.svg
  doc/nrf/index.rst
Labels: doc-required

Zigbee shell sample: Remove button factory reset
  samples/zigbee/shell/README.rst
  samples/zigbee/shell/src/main.c
Labels: doc-required

samples: matter: Fixed configuration bugs
  samples/matter/light_bulb/CMakeLists.txt
  samples/matter/light_bulb/configuration/nrf52840dk_nrf52840/pm_static_dfu.yml
  samples/matter/light_bulb/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_bulb/src/lighting_manager.cpp
  samples/matter/light_bulb/src/main.cpp
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/light_switch/src/light_switch.cpp
  samples/matter/light_switch/src/main.cpp
  samples/matter/lock/CMakeLists.txt
  samples/matter/lock/configuration/nrf52840dk_nrf52840/pm_static_dfu.yml
  samples/matter/lock/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/lock/src/app_task.cpp
  samples/matter/lock/src/bolt_lock_manager.cpp
  samples/matter/lock/src/main.cpp
  samples/matter/template/src/app_task.cpp
  samples/matter/template/src/main.cpp
Labels: none

samples: zigbee: ncp: use gpio_dt_spec for rst0
  samples/zigbee/ncp/src/main.c
Labels: none

treewide: Disable CONFIG_USB_DEVICE_REMOTE_WAKEUP if not supported
  applications/connectivity_bridge/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/zigbee_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  samples/bluetooth/llpm/boards/nrf52840dongle_nrf52840.conf
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/sensor_server/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/sensor_server/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_uart/prj_cdc.conf
  samples/openthread/cli/overlay-usb.conf
  samples/openthread/coprocessor/overlay-usb.conf
  samples/zigbee/ncp/prj_usb.conf
  tests/modules/mcuboot/external_flash/child_image/mcuboot/boards/thingy53_nrf5340_cpuapp.conf
Labels: none

samples: peripheral: 802154_phy_test: use DEVICE_DT_GET/gpio_dt_spec
  samples/peripheral/802154_phy_test/src/periph_proc.c
Labels: none

samples: bluetooth: direct_test_mode: use gpio_dt_spec
  samples/bluetooth/direct_test_mode/src/fem/nrf21540.c
Labels: none

samples: nrf9160: lwm2m_client: use pwm-leds
  samples/nrf9160/lwm2m_client/src/ui/ui_led.c
Labels: none

samples: bluetooth: central_uart: use DEVICE_DT_GET
  samples/bluetooth/central_uart/src/main.c
Labels: none

samples: nrf9160: modem_shell: use DEVICE_DT_GET
  samples/nrf9160/modem_shell/src/uart/uart.c
  samples/nrf9160/modem_shell/src/uart/uart_shell.c
Labels: none

samples: nrf9160: lwm2m_client: refactor using DEVICE_DT_GET
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_common.dts
  samples/nrf9160/lwm2m_client/README.rst
  samples/nrf9160/lwm2m_client/boards/nrf9160dk_nrf9160_ns.conf
  samples/nrf9160/lwm2m_client/boards/nrf9160dk_nrf9160_ns.overlay
  samples/nrf9160/lwm2m_client/boards/thingy91_nrf9160_ns.conf
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_accelerometer.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_gas_res_sensor.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_humid_sensor.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_light_sensor.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_press_sensor.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_temp_sensor.c
  samples/nrf9160/lwm2m_client/src/sensors/Kconfig.accelerometer
  samples/nrf9160/lwm2m_client/src/sensors/Kconfig.env_sensor
  samples/nrf9160/lwm2m_client/src/sensors/Kconfig.light_sensor
  samples/nrf9160/lwm2m_client/src/sensors/accelerometer.c
  samples/nrf9160/lwm2m_client/src/sensors/env_sensor.c
  samples/nrf9160/lwm2m_client/src/sensors/light_sensor.c
  samples/nrf9160/lwm2m_client/src/ui/Kconfig
Labels: doc-required

boards: arm: thingy91_nrf9160: define PWM LEDs
  applications/asset_tracker_v2/boards/thingy91_nrf9160_ns.overlay
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_common.dts
Labels: none

samples: sensor: bh1749: use DEVICE_DT_GET_ONE
  samples/sensor/bh1749/src/main.c
Labels: none

samples: nrf9160: lwm2m_client: use gpio_dt_spec
  samples/nrf9160/lwm2m_client/src/ui/ui_led.c
Labels: none

samples: nrf9160: lwm2m_client: ui: use gpio_dt_spec for sense LEDs
  samples/nrf9160/lwm2m_client/src/ui/ui_sense_led.c
Labels: none

samples: nrf9160: lwm2m_client: create binding buzzer
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_common.dts
  samples/nrf9160/lwm2m_client/boards/thingy91_nrf9160_ns.overlay
  samples/nrf9160/lwm2m_client/dts/bindings/pwm-buzzer.yaml
  samples/nrf9160/lwm2m_client/src/ui/Kconfig
  samples/nrf9160/lwm2m_client/src/ui/ui_buzzer.c
Labels: none

samples: esb: prx: use gpio_dt_spec
  samples/esb/prx/src/main.c
Labels: none

samples: bluetooth: mesh: sensor_server: use nodelabel and check status
  samples/bluetooth/mesh/sensor_server/boards/thingy53_nrf5340_cpuapp.overlay
  samples/bluetooth/mesh/sensor_server/boards/thingy53_nrf5340_cpuapp_ns.overlay
  samples/bluetooth/mesh/sensor_server/src/model_handler.c
Labels: none

samples: bluetooth: direct_test_mode: use spi_dt_spec
  samples/bluetooth/direct_test_mode/src/fem/nrf21540.c
Labels: none

samples: bluetooth: peripheral_uart: use DT chosen for NUS device
  samples/bluetooth/peripheral_uart/Kconfig
  samples/bluetooth/peripheral_uart/boards/nrf21540dk_nrf52840.overlay
  samples/bluetooth/peripheral_uart/boards/nrf51dk_nrf51422.overlay
  samples/bluetooth/peripheral_uart/boards/nrf52833dk_nrf52820.overlay
  samples/bluetooth/peripheral_uart/boards/nrf52840dk_nrf52811.overlay
  samples/bluetooth/peripheral_uart/boards/nrf52840dk_nrf52840.overlay
  samples/bluetooth/peripheral_uart/boards/nrf52dk_nrf52810.overlay
  samples/bluetooth/peripheral_uart/boards/nrf52dk_nrf52832.overlay
  samples/bluetooth/peripheral_uart/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/peripheral_uart/boards/nrf5340dk_nrf5340_cpuapp_ns.overlay
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp.overlay
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp_ns.overlay
  samples/bluetooth/peripheral_uart/prj_cdc.conf
  samples/bluetooth/peripheral_uart/src/main.c
  samples/bluetooth/peripheral_uart/usb.overlay
Labels: none

samples: bluetooth: direct_test_mode: use DEVICE_DT_GET
  samples/bluetooth/direct_test_mode/src/main.c
Labels: none

samples: bluetooth: mesh: sensor_server: use DEVICE_DT_GET
  samples/bluetooth/mesh/sensor_server/src/model_handler.c
Labels: none

samples: esb: ptx: use gpio_dt_spec
  samples/esb/ptx/src/main.c
Labels: none

doc: nRF9160 Cloud client sample: fixed Kconfig link
  samples/nrf9160/cloud_client/README.rst
Labels: doc-required

doc: nRF9160 Azure IoT hub sample: added the configuration section
  samples/nrf9160/azure_iot_hub/README.rst
Labels: doc-required

doc: nRF9160 HTTP full modem update sample: added Configuration
  samples/nrf9160/http_update/full_modem_update/README.rst
Labels: doc-required

manifest: update sdk-zephyr revision
  west.yml
Labels: manifest

samples: psa_tls: Add integration platform to sample.yaml
  samples/crypto/psa_tls/sample.yaml
Labels: none

test_spec: mesh: add entry
  .github/test-spec.yml
Labels: none
