Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

zigbee: shell: Use ZB_ERROR_CHECK() for cancelling timeout alarms
  subsys/zigbee/cli/zigbee_cli_cmd_attr.c
  subsys/zigbee/cli/zigbee_cli_cmd_attr_report.c
  subsys/zigbee/cli/zigbee_cli_cmd_generic_cmd.c
  subsys/zigbee/cli/zigbee_cli_cmd_ping.c
  subsys/zigbee/cli/zigbee_cli_cmd_zcl_groups.c
  subsys/zigbee/cli/zigbee_cli_cmd_zdo.c
Labels: none

ci: manifest: Use NCS token to run manifest action
  .github/workflows/manifest.yml
Labels: none

manifest: update Find My revision
  west.yml
Labels: manifest

samples: bluetooth: Increase stack size for nRF RPC in hids_mouse.
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_hids_mouse/prj.conf
Labels: doc-required

net: lib: lwm2m_client_utils: Fix storing of bootstrap settings
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
Labels: none

lib: nrf_modem: remove `CONFI_NRF91_SOCKET_SEND_SPLIT_LARGE_BLOCKS`
  lib/nrf_modem_lib/Kconfig.modemlib
  lib/nrf_modem_lib/nrf91_sockets.c
Labels: none

applications: nrf5340_audio: Added API to set ADV-EXT PRI channel TX pwr
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/bluetooth/ble_acl_common.c
  applications/nrf5340_audio/src/bluetooth/ble_hci_vsc.c
  applications/nrf5340_audio/src/bluetooth/ble_hci_vsc.h
Labels: none

lib: zigbee_shell: Restructure Zigbee shell to an independent library
  doc/nrf/libraries/zigbee/shell.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_zigbee_configuring_libraries.rst
  include/zigbee/zigbee_shell.h
  samples/zigbee/shell/README.rst
  subsys/zigbee/CMakeLists.txt
  subsys/zigbee/Kconfig
  subsys/zigbee/cli/zigbee_cli.c
  subsys/zigbee/cli/zigbee_cli.h
  subsys/zigbee/lib/CMakeLists.txt
  subsys/zigbee/lib/Kconfig
  subsys/zigbee/lib/zigbee_shell/CMakeLists.txt
  subsys/zigbee/lib/zigbee_shell/Kconfig
  subsys/zigbee/lib/zigbee_shell/include/zigbee_shell_cmd_zcl.h
  subsys/zigbee/lib/zigbee_shell/include/zigbee_shell_ctx_mgr.h
  subsys/zigbee/lib/zigbee_shell/include/zigbee_shell_ping_types.h
  subsys/zigbee/lib/zigbee_shell/include/zigbee_shell_utils.h
  subsys/zigbee/lib/zigbee_shell/include/zigbee_shell_zcl_types.h
  subsys/zigbee/lib/zigbee_shell/include/zigbee_shell_zdo_types.h
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_attr.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_attr_report.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_bdb.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_generic_cmd.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_nbr.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_nvram.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_ping.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_zcl.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_zcl_groups.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_zdo.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_zscheduler.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_ctx_mgr.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_utils.c
  subsys/zigbee/osif/zb_nrf_platform.c
Labels: doc-required

lib: nrf_modem: remove `CONFIG_NRF91_SOCKET_BLOCK_LIMIT`
  lib/nrf_modem_lib/Kconfig.modemlib
Labels: none

samples: nrf9160: lwm2m_client: Rename environment variables
  samples/nrf9160/lwm2m_client/provisioning.rst
  samples/nrf9160/lwm2m_client/scripts/coiote.py
Labels: doc-required

lib: location: add support for GNSS obstructed visibility detection
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/location.h
  lib/location/Kconfig
  lib/location/location.c
  lib/location/method_gnss.c
  samples/nrf9160/modem_shell/src/location/location_shell.c
Labels: doc-required

ipc_service: Add ipc service sample that tests throughput
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/samples/samples_other.rst
  samples/ipc/ipc_service/CMakeLists.txt
  samples/ipc/ipc_service/Kconfig
  samples/ipc/ipc_service/Kconfig.app
  samples/ipc/ipc_service/README.rst
  samples/ipc/ipc_service/aci/CMakeLists.txt
  samples/ipc/ipc_service/cpunet/CMakeLists.txt
  samples/ipc/ipc_service/cpunet/Kconfig
  samples/ipc/ipc_service/cpunet/icmsg.overlay
  samples/ipc/ipc_service/cpunet/overlay-cpuapp-sending.conf
  samples/ipc/ipc_service/cpunet/overlay-cpunet-sending.conf
  samples/ipc/ipc_service/cpunet/prj.conf
  samples/ipc/ipc_service/cpunet/prj_icmsg.conf
  samples/ipc/ipc_service/icmsg.overlay
  samples/ipc/ipc_service/overlay-cpuapp-sending.conf
  samples/ipc/ipc_service/overlay-cpunet-sending.conf
  samples/ipc/ipc_service/prj.conf
  samples/ipc/ipc_service/prj_icmsg.conf
  samples/ipc/ipc_service/sample.yaml
  samples/ipc/ipc_service/src/main.c
  samples/ipc/ipc_service/zephyr/module.yml
Labels: doc-required

applications: asset_tracker_v2: Increase GNSS event thread stack size
  applications/asset_tracker_v2/src/modules/gnss_module.c
Labels: none

applications: asset_tracker_v2: adding asset_tracker_v2 to test_spec
  .github/test-spec.yml
Labels: none

sample: Add name "sample" in the some samples modules
  samples/matter/light_bulb/sample.yaml
  samples/matter/light_switch/sample.yaml
  samples/matter/lock/sample.yaml
  samples/matter/template/sample.yaml
  samples/zigbee/light_bulb/sample.yaml
  samples/zigbee/light_switch/sample.yaml
  samples/zigbee/ncp/sample.yaml
  samples/zigbee/network_coordinator/sample.yaml
  samples/zigbee/shell/sample.yaml
  samples/zigbee/template/sample.yaml
Labels: none

net: lib: lwm2m_client_utils: Add location assistance object
  include/net/lwm2m_client_utils.h
  subsys/net/lib/lwm2m_client_utils/CMakeLists.txt
  subsys/net/lib/lwm2m_client_utils/Kconfig
  subsys/net/lib/lwm2m_client_utils/lwm2m/location_assistance_obj.c
Labels: none

lib: zigbee_shell: Change zc role to form new network after factory reset
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_bdb.c
Labels: doc-required

manifest: update nrfxlib
  west.yml
Labels: manifest

doc: Clarify the instructions for updating Thread pre-built libraries
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_configuring.rst
Labels: doc-required

net: lib: lwm2m_client_utils: Location assistance events
  include/net/lwm2m_client_utils_location.h
  subsys/net/lib/lwm2m_client_utils/CMakeLists.txt
  subsys/net/lib/lwm2m_client_utils/Kconfig
  subsys/net/lib/lwm2m_client_utils/location/location_event_handler.c
  subsys/net/lib/lwm2m_client_utils/location/location_events.c
Labels: none

doc: Add more information about search in Kconfig page
  doc/kconfig/index.rst
  doc/kconfig/regex.rst
Labels: doc-required

samples: Add label and triggers for lwm2m client
  .github/test-spec.yml
Labels: none

lib: zigbee_shell: Allow bdb factory_reset only after ZBOSS is started
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_bdb.c
Labels: doc-required

net: lib: lwm2m_client_utils: Usage according to 1.1 specification
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_connmon.c
Labels: none

Bluetooth: coex: add support for setting role priorities and scan modes
  doc/nrf/ug_bt_coex.rst
  samples/bluetooth/radio_coex_3wire/src/main.c
  subsys/bluetooth/controller/hci_internal.c
Labels: doc-required

nfc: ndef: msg_parser: Prevent from Usage Fault caused by unaligned access.
  include/nfc/ndef/msg_parser.h
  subsys/nfc/ndef/msg_parser.c
Labels: none

samples: nrf9160: lwm2m_client: Readme for location assistance
  doc/nrf/releases/release-notes-changelog.rst
  include/net/lwm2m_client_utils_location.h
  samples/nrf9160/lwm2m_client/README.rst
  samples/nrf9160/lwm2m_client/location_assistance.rst
Labels: doc-required

nfc: ndef: msg_parser: Update name of the macro for size calculation.
  doc/nrf/libraries/nfc/ndef/msg_parser.rst
  include/nfc/ndef/msg_parser.h
  samples/bluetooth/central_nfc_pairing/src/nfc_poller.c
  samples/nfc/tag_reader/src/main.c
  samples/nfc/tnep_poller/src/main.c
  subsys/nfc/tnep/ch/common.c
  subsys/nfc/tnep/ch/tag.c
  subsys/nfc/tnep/poller.c
  subsys/nfc/tnep/tag.c
Labels: doc-required

samples: nfc: tag_reader: Skip NDEF print when parsing fails.
  samples/nfc/tag_reader/src/main.c
Labels: none

doc: changelog: Added entries for changes in NFC libraries and sample.
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: nrf9160: lwm2m_client: Clarify documentation
  doc/nrf/libraries/networking/lwm2m_client_utils.rst
  samples/nrf9160/lwm2m_client/location_assistance.rst
Labels: doc-required

samples: nrf9160: lwm2m_client: Add A-GPS data handling
  samples/nrf9160/lwm2m_client/src/sensors/gnss_module.c
Labels: none

doc: Update known issues for HFCLK staying active
  doc/nrf/known_issues.rst
Labels: doc-required

nfc: ndef: msg_parser: Fixed a function declaration.
  include/nfc/ndef/msg_parser.h
  subsys/nfc/ndef/msg_parser.c
  subsys/nfc/ndef/msg_parser_local.c
  subsys/nfc/ndef/msg_parser_local.h
Labels: none

samples: nrf9160: lwm2m_client: Overlays for Location assist
  samples/nrf9160/lwm2m_client/location_assistance.rst
  samples/nrf9160/lwm2m_client/overlay-assist-agps.conf
  samples/nrf9160/lwm2m_client/overlay-assist-cell.conf
Labels: doc-required

samples: nrf9160: lwm2m_client: Use location assistance object
  samples/nrf9160/lwm2m_client/overlay-avsystem-agps.conf
  samples/nrf9160/lwm2m_client/src/main.c
Labels: none

samples: nrf9160: lwm2m_client: Fix build with Cell location
  samples/nrf9160/lwm2m_client/src/main.c
Labels: none

application: serial_lte_modem: BUG-FIX add MQTT Pub QoS1 handling
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
Labels: none

samples: openthread: restore log level NOTE
  samples/openthread/coap_client/prj.conf
  samples/openthread/coap_server/prj.conf
Labels: none

samples: nrf9160: modem_shell: add support for MFW v1.3.2 GNSS features
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/src/gnss/gnss.c
  samples/nrf9160/modem_shell/src/gnss/gnss.h
  samples/nrf9160/modem_shell/src/gnss/gnss_shell.c
Labels: doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
