Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

bluetooth: rpc: Fix cmake warnings about ble drivers
  subsys/bluetooth/rpc/Kconfig
Labels: none

samples: bluetooth: Add test cases with serialization
  samples/bluetooth/peripheral_hids_mouse/sample.yaml
  samples/bluetooth/peripheral_uart/sample.yaml
Labels: none

bluetooth/rpc: Convert serializer to zcbor
  subsys/bluetooth/rpc/common/serialize.c
  subsys/bluetooth/rpc/common/serialize.h
Labels: none

samples: bluetooth: Update configuration for nRF RPC
  samples/bluetooth/peripheral_hids_mouse/child_image/rpc_host.conf
  samples/bluetooth/rpc_host/prj.conf
Labels: none

manifest: Update sdk-nrfxlib revision
  west.yml
Labels: manifest

bluetooth: rpc: Add new BLE functions and data fields
  doc/nrf/libraries/bluetooth_services/rpc.rst
  subsys/bluetooth/rpc/client/bt_rpc_conn_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gap_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gatt_client.c
  subsys/bluetooth/rpc/common/bt_rpc_common.c
  subsys/bluetooth/rpc/common/bt_rpc_common.h
  subsys/bluetooth/rpc/host/bt_rpc_conn_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gap_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gatt_host.c
Labels: doc-required

samples/nrf_rpc: Convert from TinyCBOR to zcbor
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf_rpc/entropy_nrf53/README.rst
  samples/nrf_rpc/entropy_nrf53/cpuapp/prj.conf
  samples/nrf_rpc/entropy_nrf53/cpuapp/src/entropy_ser.c
  samples/nrf_rpc/entropy_nrf53/cpunet/prj.conf
  samples/nrf_rpc/entropy_nrf53/cpunet/src/entropy_ser.c
Labels: doc-required

bluetooth: rpc: Improve string handling
  subsys/bluetooth/rpc/client/bt_rpc_gap_client.c
  subsys/bluetooth/rpc/common/serialize.c
  subsys/bluetooth/rpc/common/serialize.h
  subsys/bluetooth/rpc/host/bt_rpc_gap_host.c
Labels: none

bluetooth: rpc: Fix defined but not used variables.
  subsys/bluetooth/rpc/host/bt_rpc_conn_host.c
Labels: none

samples: nrf9160: modem_shell: Thingy config fixed
  samples/nrf9160/modem_shell/boards/thingy91_nrf9160_ns.conf
Labels: none

zigbee: Fix setting intervals between image query
  doc/nrf/libraries/zigbee/zigbee_fota.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_fota/Kconfig
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
Labels: doc-required

applications: caf: Remove static analysis bugs
  applications/machine_learning/src/modules/ei_data_forwarder_uart.c
  applications/nrf_desktop/src/events/config_event.h
  applications/nrf_desktop/src/hw_interface/battery_charger.c
  applications/nrf_desktop/src/hw_interface/motion_sensor.c
  applications/nrf_desktop/src/hw_interface/selector_hw.c
  applications/nrf_desktop/src/modules/ble_bond.c
  applications/nrf_desktop/src/modules/ble_latency.c
  applications/nrf_desktop/src/modules/ble_qos.c
  applications/nrf_desktop/src/modules/dfu.c
  applications/nrf_desktop/src/modules/hid_forward.c
  applications/nrf_desktop/src/modules/info.c
  applications/nrf_desktop/src/modules/usb_state.c
  samples/edge_impulse/data_forwarder/src/main.c
  subsys/caf/events/power_manager_event.c
  subsys/caf/modules/ble_adv.c
  subsys/caf/modules/leds.c
  subsys/caf/modules/power_manager.c
  subsys/caf/modules/sensor_manager.c
  subsys/event_manager_proxy/event_manager_proxy.c
  tests/subsys/app_event_manager/src/modules/test_multicontext.c
  tests/subsys/app_event_manager/src/modules/test_subs.c
Labels: none

samples: nrf9160: https_client: Update config file for native TLS
  samples/nrf9160/https_client/overlay-tfm_mbedtls.conf
Labels: none

doc: removed ses references
  doc/nrf/gs_assistant.rst
  doc/nrf/gs_updating.rst
  doc/nrf/images/gs-assistant_tm_dropdown.png
  doc/nrf/releases/release-notes-1.8.0.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

doc: Align platforms in rst and yaml
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/sample.yaml
  samples/bluetooth/mesh/light/sample.yaml
  samples/bluetooth/mesh/light_ctrl/sample.yaml
  samples/bluetooth/mesh/light_switch/sample.yaml
  samples/bluetooth/mesh/silvair_enocean/sample.yaml
Labels: none

lib: pdn: fix legacy PCO mode
  lib/pdn/pdn.c
Labels: none

manifest: Update for detecting license of binary files
  west.yml
Labels: manifest

samples: matter: Updated Matter version to pull bug fixes
  applications/matter_weather_station/src/app_task.cpp
  samples/matter/common/src/ota_util.cpp
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/lock/src/app_task.cpp
  samples/matter/window_covering/src/app_task.cpp
  west.yml
Labels: manifest

samples: matter: make sure the qspi is enabled during smp dfu
  samples/matter/common/src/dfu_over_smp.cpp
  samples/matter/common/src/ota_util.cpp
  samples/matter/common/src/ota_util.h
Labels: none

samples: matter: added missing doxygen comment
  samples/matter/common/src/ota_util.h
Labels: none

tfm: Allow log output to be enabled in minimal configuration
  modules/tfm/zephyr/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
Labels: none

doc: RTT update
  samples/nrf9160/fmfu_smp_svr/README.rst
Labels: doc-required

Bluetooth: tests: Add platform_allow to fast_pair testcase
  tests/subsys/bluetooth/fast_pair/crypto/testcase.yaml
Labels: none

samples: matter: changed sed intervals for window covering to 500 ms.
  samples/matter/window_covering/src/chip_project_config.h
Labels: none

boards: nrf5340dk_audio_dk_nrf5340_ns: Enable PINCTRL by default
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_ns_defconfig
Labels: none

samples: nrf9160: modem_shell: location: skyhook support removed
  samples/nrf9160/modem_shell/overlay-esp-wifi.conf
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/location/location_shell.c
Labels: none

lib: location: Skyhook service support removed
  doc/nrf/libraries/modem/location.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/location.h
  lib/location/Kconfig
  lib/location/location_core.c
  lib/location/method_cellular.c
  lib/location/method_wifi.c
  lib/location/wifi/CMakeLists.txt
  lib/location/wifi/wifi_service.c
  lib/location/wifi/wifi_skyhook_rest.c
  lib/location/wifi/wifi_skyhook_rest.h
Labels: doc-required

samples: nrf9160: multicell_location: skyhook support removed
  samples/nrf9160/multicell_location/README.rst
  samples/nrf9160/multicell_location/prj.conf
  samples/nrf9160/multicell_location/src/main.c
Labels: doc-required

lib: multicell_location: Skyhook service support removed
  doc/nrf/libraries/networking/multicell_location.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  include/net/multicell_location.h
  lib/multicell_location/Kconfig
  lib/multicell_location/multicell_location.c
  lib/multicell_location/services/CMakeLists.txt
  lib/multicell_location/services/location_service.c
  lib/multicell_location/services/skyhook_integration.c
  lib/multicell_location/services/skyhook_integration.h
Labels: doc-required

samples: peripheral: radio_test: Fix for calculation of total payload size
  samples/peripheral/radio_test/README.rst
  samples/peripheral/radio_test/src/radio_cmd.c
  samples/peripheral/radio_test/src/radio_test.c
Labels: doc-required

doc: changelog: Added entries for changes in Radio Test sample.
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

net: lib: lwm2m_client_utils: API for applying update
  include/net/lwm2m_client_utils.h
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
Labels: none

samples: bluetooth: Update configuration for nRF RPC
  samples/bluetooth/peripheral_hids_mouse/child_image/rpc_host.conf
  samples/bluetooth/rpc_host/prj.conf
Labels: none

bluetooth: rpc: Improve string handling
  subsys/bluetooth/rpc/client/bt_rpc_gap_client.c
  subsys/bluetooth/rpc/common/serialize.c
  subsys/bluetooth/rpc/common/serialize.h
  subsys/bluetooth/rpc/host/bt_rpc_gap_host.c
Labels: none

samples: bluetooth: Add test cases with serialization
  samples/bluetooth/peripheral_hids_mouse/sample.yaml
  samples/bluetooth/peripheral_uart/sample.yaml
Labels: none

bluetooth: rpc: Add new BLE functions and data fields
  doc/nrf/libraries/bluetooth_services/rpc.rst
  subsys/bluetooth/rpc/client/bt_rpc_conn_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gap_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gatt_client.c
  subsys/bluetooth/rpc/common/bt_rpc_common.c
  subsys/bluetooth/rpc/common/bt_rpc_common.h
  subsys/bluetooth/rpc/host/bt_rpc_conn_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gap_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gatt_host.c
Labels: doc-required

bluetooth: rpc: Fix cmake warnings about ble drivers
  subsys/bluetooth/rpc/Kconfig
Labels: none

bluetooth/rpc: Replace TinyCBOR with zcbor
  doc/nrf/releases/release-notes-changelog.rst
  subsys/bluetooth/rpc/client/bt_rpc_conn_client.c
  subsys/bluetooth/rpc/client/bt_rpc_crypto_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gap_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gatt_client.c
  subsys/bluetooth/rpc/client/bt_rpc_internal_client.c
  subsys/bluetooth/rpc/common/bt_rpc_common.h
  subsys/bluetooth/rpc/common/bt_rpc_gatt_common.h
  subsys/bluetooth/rpc/host/bt_rpc_conn_host.c
  subsys/bluetooth/rpc/host/bt_rpc_crypto_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gap_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gatt_host.c
  subsys/bluetooth/rpc/host/bt_rpc_internal_host.c
  subsys/nrf_rpc/Kconfig
Labels: doc-required

samples/nrf_rpc: Convert from TinyCBOR to zcbor
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf_rpc/entropy_nrf53/README.rst
  samples/nrf_rpc/entropy_nrf53/cpuapp/prj.conf
  samples/nrf_rpc/entropy_nrf53/cpuapp/src/entropy_ser.c
  samples/nrf_rpc/entropy_nrf53/cpunet/prj.conf
  samples/nrf_rpc/entropy_nrf53/cpunet/src/entropy_ser.c
Labels: doc-required

manifest: Update sdk-nrfxlib revision
  west.yml
Labels: manifest
