Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

samples: nrf9160: https_client: add TLS cipher
  samples/nrf9160/https_client/README.rst
  samples/nrf9160/https_client/src/main.c
Labels: doc-required

lib: sms: fix time zone handling for received SMSs
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/sms.h
  lib/sms/sms_deliver.c
  samples/nrf9160/modem_shell/src/sms/sms.c
  tests/lib/sms/src/sms_test.c
Labels: doc-required

foo
  applications/asset_tracker_v2/prj.conf
  samples/nrf9160/azure_iot_hub/prj.conf
  samples/nrf9160/cloud_client/prj.conf
  samples/nrf9160/memfault/prj.conf
  samples/nrf9160/udp/prj.conf
Labels: none

applications: asset_tracker_v2: Increase mcuboot partition size
  applications/asset_tracker_v2/child_image/mcuboot.conf
Labels: none

net: lib: fota_download: Fix TF-M compile error
  subsys/net/lib/fota_download/src/fota_download.c
Labels: none

lib: nrf_modem: don't enforce socket priority over native TLS
  lib/nrf_modem_lib/nrf91_sockets.c
Labels: none

samples: nrf9160: gnss: update factory almanac
  samples/nrf9160/gnss/src/factory_almanac.h
Labels: none

doc: known-issues: add known issue for clock_gettime() API
  doc/nrf/known_issues.rst
Labels: doc-required

ci: Initial mergify setup
  .github/mergify.yml
  CODEOWNERS
Labels: none

applications: nrf5340_audio: Update PCFT controller to 3251
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3247.hex
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3251.hex
Labels: none

doc: nrf: add software maturity level page
  doc/nrf/index.rst
  doc/nrf/software_maturity.rst
Labels: doc-required

doc: extensions: add sml-table extension
  doc/_extensions/software_maturity_table.py
  doc/nrf/conf.py
Labels: doc-required

manifest: nrf_modem figure update
  west.yml
Labels: manifest

lib: location: option to run all methods sequentially
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/location.h
  lib/location/location.c
  lib/location/location_core.c
Labels: doc-required

samples: nrf9160: modem_shell: location: mode option
  samples/nrf9160/modem_shell/src/location/location_shell.c
Labels: none

manifest: update HomeKit revision
  west.yml
Labels: manifest

doc: Fixed wrong Matter upstream commit SHA in the release note
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: nrf5340: netboot: Add missing steps to testing section
  samples/nrf5340/netboot/README.rst
Labels: doc-required

applications: nrf5340_audio: Update PCFT controller to 3251
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3247.hex
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3251.hex
Labels: none

lib: location: option to run all methods sequentially
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/location.h
  lib/location/location.c
  lib/location/location_core.c
Labels: doc-required

samples: nrf9160: modem_shell: location: mode option
  samples/nrf9160/modem_shell/src/location/location_shell.c
Labels: none

samples: nrf9160: gnss: update factory almanac
  samples/nrf9160/gnss/src/factory_almanac.h
Labels: none

manifest: update HomeKit revision
  west.yml
Labels: manifest

scripts: quarantine: skip lib.modem_trace
  scripts/quarantine.yaml
Labels: none

applications: nrf5340_audio: Change OpCode for LED_PIN_MAP
  applications/nrf5340_audio/src/bluetooth/ble_core.c
  applications/nrf5340_audio/src/bluetooth/ble_hci_vsc.h
Labels: none

scripts: quarantine: skip lib.modem_trace
  scripts/quarantine.yaml
Labels: none

manifest: nrf_rpc figure update
  west.yml
Labels: manifest

samples: Add identify mode in Zigbee light switch
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_switch/src/main.c
Labels: doc-required

zigbee: Add device declaration for each sample
  applications/zigbee_weather_station/src/main.c
  applications/zigbee_weather_station/src/weather_station.h
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_bulb/CMakeLists.txt
  samples/zigbee/light_bulb/include/zb_dimmable_light.h
  samples/zigbee/light_bulb/src/main.c
  samples/zigbee/light_switch/include/zb_dimmer_switch.h
  samples/zigbee/light_switch/src/main.c
  samples/zigbee/network_coordinator/CMakeLists.txt
  samples/zigbee/network_coordinator/include/zb_range_extender.h
  samples/zigbee/network_coordinator/src/main.c
  samples/zigbee/shell/CMakeLists.txt
  samples/zigbee/shell/include/zb_range_extender.h
  samples/zigbee/shell/src/main.c
  samples/zigbee/template/CMakeLists.txt
  samples/zigbee/template/include/zb_range_extender.h
  samples/zigbee/template/src/main.c
Labels: doc-required

west: Update nrfxlib revision
  doc/nrf/releases/release-notes-changelog.rst
  west.yml
Labels: manifest, doc-required

zigbee: Enable ZCL8 compatibility mode
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_app_utils/zigbee_app_utils.c
Labels: doc-required

samples: Return Not Implemented ZCL status
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_bulb/src/main.c
  samples/zigbee/light_switch/src/main.c
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
Labels: doc-required

zigbee: Add device declaration for each sample
  applications/zigbee_weather_station/src/main.c
  applications/zigbee_weather_station/src/weather_station.h
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_bulb/CMakeLists.txt
  samples/zigbee/light_bulb/include/zb_dimmable_light.h
  samples/zigbee/light_bulb/src/main.c
  samples/zigbee/light_switch/include/zb_dimmer_switch.h
  samples/zigbee/light_switch/src/main.c
  samples/zigbee/network_coordinator/CMakeLists.txt
  samples/zigbee/network_coordinator/include/zb_range_extender.h
  samples/zigbee/network_coordinator/src/main.c
  samples/zigbee/shell/CMakeLists.txt
  samples/zigbee/shell/include/zb_range_extender.h
  samples/zigbee/shell/src/main.c
  samples/zigbee/template/CMakeLists.txt
  samples/zigbee/template/include/zb_range_extender.h
  samples/zigbee/template/src/main.c
Labels: doc-required

west: Update nrfxlib revision
  doc/nrf/releases/release-notes-changelog.rst
  west.yml
Labels: manifest, doc-required

samples: Add identify mode in Zigbee light switch
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_switch/src/main.c
Labels: doc-required

samples: Return Not Implemented ZCL status
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_bulb/src/main.c
  samples/zigbee/light_switch/src/main.c
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
Labels: doc-required

zigbee: Enable ZCL8 compatibility mode
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_app_utils/zigbee_app_utils.c
Labels: doc-required

net: lib: lwm2m_client_utils: Fix storing of lifetime values
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
Labels: none

lib: nrf_modem: don't enforce socket priority over native TLS
  lib/nrf_modem_lib/nrf91_sockets.c
Labels: none

doc: cmake: remove CMake < 3.17 specific code
  doc/CMakeLists.txt
Labels: doc-required
