Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

caf: ble_adv: Fix advertising start failure
  subsys/caf/modules/ble_adv.c
Labels: none

doc: move note about NCP discontinued higher
  doc/nrf/ug_thread_architectures.rst
Labels: doc-required

doc: move note about NCP discontinued higher
  doc/nrf/ug_thread_architectures.rst
Labels: doc-required

doc: matter: add Thread SSED info to window cover
  doc/nrf/images/thread_sed_ssed_comparison.svg
  doc/nrf/images/thread_sed_ssed_comparison.vsdx
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_commissioning.rst
  samples/matter/window_covering/README.rst
Labels: doc-required

doc: matter: add Thread SSED info to window cover
  doc/nrf/images/thread_sed_ssed_comparison.svg
  doc/nrf/images/thread_sed_ssed_comparison.vsdx
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_commissioning.rst
  samples/matter/window_covering/README.rst
Labels: doc-required

lib: at_host: logging uart output option
  lib/at_host/at_host.c
Labels: none

net: lib: fota_download: copy hostname for download restart
  subsys/net/lib/fota_download/src/fota_download.c
Labels: none

ci: Add owners of requirements files
  CODEOWNERS
Labels: none

doc: gsg: Document environment variables for the Zephyr SDK
  doc/nrf/gs_installing.rst
Labels: doc-required

doc: security: add missing ToC
  doc/nrf/security_chapter.rst
Labels: doc-required

samples: Changes name of testcase
  samples/nrf9160/ciphersuites/sample.yaml
Labels: none

doc: security: add missing ToC
  doc/nrf/security_chapter.rst
Labels: doc-required

changelog: Update changelog with nRF RPC changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

bluetooth: rpc: Align with nRF RPC multi-instance transport
  subsys/bluetooth/rpc/client/bt_rpc_conn_client.c
  subsys/bluetooth/rpc/client/bt_rpc_crypto_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gap_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gatt_client.c
  subsys/bluetooth/rpc/client/bt_rpc_internal_client.c
  subsys/bluetooth/rpc/common/bt_rpc_common.c
  subsys/bluetooth/rpc/common/serialize.c
  subsys/bluetooth/rpc/common/serialize.h
  subsys/bluetooth/rpc/host/bt_rpc_conn_host.c
  subsys/bluetooth/rpc/host/bt_rpc_crypto_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gap_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gatt_host.c
  subsys/bluetooth/rpc/host/bt_rpc_internal_host.c
Labels: none

nrf_rpc: Add doc for nRF RPC IPC Service transport
  doc/nrf/libraries/nrf_rpc/index.rst
  doc/nrf/libraries/nrf_rpc/nrf_rpc_ipc.rst
Labels: doc-required

nrf_rpc: Align nRF RPC IPC transport
  include/nrf_rpc/nrf_rpc_ipc.h
  subsys/nrf_rpc/CMakeLists.txt
  subsys/nrf_rpc/Kconfig
  subsys/nrf_rpc/include/nrf_rpc_os.h
  subsys/nrf_rpc/include/nrf_rpc_rpmsg.h
  subsys/nrf_rpc/nrf_rpc_ipc.c
  subsys/nrf_rpc/nrf_rpc_os.c
  subsys/nrf_rpc/nrf_rpc_rpmsg.c
Labels: none

samples: nrf_rpc: Update the Entropy sample
  samples/nrf_rpc/entropy_nrf53/cpuapp/src/entropy_ser.c
  samples/nrf_rpc/entropy_nrf53/cpunet/src/entropy_ser.c
Labels: none

manifest: Update nrfxlib version
  west.yml
Labels: manifest

codeowners: change owner of .github directory
  CODEOWNERS
Labels: none

codeowners: change owner of .github directory
  CODEOWNERS
Labels: none

samples: crypto: Add missing crypto tags
  samples/crypto/aes_cbc/sample.yaml
  samples/crypto/aes_ccm/sample.yaml
  samples/crypto/aes_ctr/sample.yaml
  samples/crypto/aes_gcm/sample.yaml
  samples/crypto/chachapoly/sample.yaml
  samples/crypto/ecdh/sample.yaml
  samples/crypto/ecdsa/sample.yaml
  samples/crypto/hkdf/sample.yaml
  samples/crypto/hmac/sample.yaml
  samples/crypto/persistent_key_usage/sample.yaml
  samples/crypto/psa_tls/sample.yaml
  samples/crypto/rng/sample.yaml
  samples/crypto/rsa/sample.yaml
  samples/crypto/sha256/sample.yaml
Labels: none

changelog: Update changelog with nRF RPC changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

nrf_rpc: Align nRF RPC IPC transport
  include/nrf_rpc/nrf_rpc_ipc.h
  subsys/nrf_rpc/CMakeLists.txt
  subsys/nrf_rpc/Kconfig
  subsys/nrf_rpc/include/nrf_rpc_os.h
  subsys/nrf_rpc/include/nrf_rpc_rpmsg.h
  subsys/nrf_rpc/nrf_rpc_ipc.c
  subsys/nrf_rpc/nrf_rpc_os.c
  subsys/nrf_rpc/nrf_rpc_rpmsg.c
Labels: none

samples: nrf_rpc: Update the Entropy sample
  samples/nrf_rpc/entropy_nrf53/cpuapp/src/entropy_ser.c
  samples/nrf_rpc/entropy_nrf53/cpunet/src/entropy_ser.c
Labels: none

manifest: Update nrfxlib version
  west.yml
Labels: manifest

bluetooth: rpc: Align with nRF RPC multi-instance transport
  subsys/bluetooth/rpc/client/bt_rpc_conn_client.c
  subsys/bluetooth/rpc/client/bt_rpc_crypto_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gap_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gatt_client.c
  subsys/bluetooth/rpc/client/bt_rpc_internal_client.c
  subsys/bluetooth/rpc/common/bt_rpc_common.c
  subsys/bluetooth/rpc/common/serialize.c
  subsys/bluetooth/rpc/common/serialize.h
  subsys/bluetooth/rpc/host/bt_rpc_conn_host.c
  subsys/bluetooth/rpc/host/bt_rpc_crypto_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gap_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gatt_host.c
  subsys/bluetooth/rpc/host/bt_rpc_internal_host.c
Labels: none

nrf_rpc: Add doc for nRF RPC IPC Service transport
  doc/nrf/libraries/nrf_rpc/index.rst
  doc/nrf/libraries/nrf_rpc/nrf_rpc_ipc.rst
Labels: doc-required

manifest: update Find My revision
  west.yml
Labels: manifest

lib: at_cmd_parser: avoid filtering responses with '_'
  doc/nrf/releases/release-notes-changelog.rst
  lib/at_cmd_parser/at_utils.h
  tests/lib/at_cmd_parser/at_utils/src/main.c
Labels: doc-required

doc: fix missing ref tag in Thingy53 documentation
  doc/nrf/ug_thingy53.rst
Labels: doc-required

ci: Add owners of requirements files
  CODEOWNERS
Labels: none

lib: at_cmd_parser: avoid filtering responses with '_'
  doc/nrf/releases/release-notes-changelog.rst
  lib/at_cmd_parser/at_utils.h
  tests/lib/at_cmd_parser/at_utils/src/main.c
Labels: doc-required

manifest: update Find My revision
  west.yml
Labels: manifest

samples: peripheral: 802154_phy_test: Fix antenna diversity commands
  samples/peripheral/802154_phy_test/src/ctrl/ptt_zb_perf_dut_mode.c
Labels: none

doc: update theme
  doc/nrf/versions.txt.in
  scripts/requirements-doc.txt
Labels: doc-required

doc: update modem firmware before application firmware for nRF9160 DK
  doc/nrf/images/programmer_addfile_nrf9160dk.png
  doc/nrf/images/programmer_com_ports.png
  doc/nrf/images/programmer_erasewrite_nrf9160dk.png
  doc/nrf/images/programmer_write_nrf9160dk.png
  doc/nrf/images/programmerapp_modemdfu.png
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf9160_gs.rst
Labels: doc-required

doc: fix missing ref tag in Thingy53 documentation
  doc/nrf/ug_thingy53.rst
Labels: doc-required

samples: nrf9160: gnss: fix expected errno for SUPL recv() timeout
  samples/nrf9160/gnss/src/assistance_supl.c
Labels: none

samples: nrf9160: modem_shell: fix expected errno for SUPL recv() timeout
  samples/nrf9160/modem_shell/src/gnss/gnss.c
  samples/nrf9160/modem_shell/src/gnss/gnss_supl_support.c
Labels: none

doc: remove banners from the welcome & GSG pages
  doc/nrf/getting_started.rst
  doc/nrf/index.rst
Labels: doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
