Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

bl_validation: Fix pointer arithmetic
  subsys/bootloader/bl_validation/bl_validation.c
Labels: none

samples: Add blinky sample for upgrading APP+NET
  samples/CMakeLists.txt
  samples/Kconfig
  samples/blinky_mcuboot/CMakeLists.txt
  samples/blinky_mcuboot/Kconfig
  samples/blinky_mcuboot/prj.conf
  samples/blinky_mcuboot/src/main.c
Labels: none

scripts: nrf_profiler: Remove version limitation
  scripts/nrf_profiler/requirements.txt
Labels: none

scripts: nrf_profiler: Fix TypeError issue
  doc/nrf/releases/release-notes-changelog.rst
  scripts/nrf_profiler/plot_nordic.py
  scripts/nrf_profiler/requirements.txt
Labels: doc-required

net: lib: lwm2m_client_utils: adds modem mode...
  doc/nrf/releases/release-notes-changelog.rst
  include/net/lwm2m_client_utils.h
  samples/nrf9160/lwm2m_client/src/main.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
Labels: doc-required

samples: bluetooth: central_smp_client: Port to ZCBOR
  samples/bluetooth/central_smp_client/README.rst
  samples/bluetooth/central_smp_client/prj.conf
  samples/bluetooth/central_smp_client/src/main.c
Labels: doc-required

changelog: Update changelog with Central SMP Client sample
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

manifest: update homekit revision
  west.yml
Labels: manifest

manifest: Update nrfxlib revision
  west.yml
Labels: manifest

samples: peripheral_fast_pair: Introduce logger
  samples/bluetooth/peripheral_fast_pair/src/bt_adv_helper.c
  samples/bluetooth/peripheral_fast_pair/src/bt_tx_power_adv.c
  samples/bluetooth/peripheral_fast_pair/src/hids_helper.c
  samples/bluetooth/peripheral_fast_pair/src/main.c
Labels: none

bluetooth: fast_pair: Add "zephyr/" prefix to included headers
  include/bluetooth/services/fast_pair.h
  samples/bluetooth/peripheral_fast_pair/include/bt_adv_helper.h
  samples/bluetooth/peripheral_fast_pair/include/bt_tx_power_adv.h
  samples/bluetooth/peripheral_fast_pair/src/bt_adv_helper.c
  samples/bluetooth/peripheral_fast_pair/src/bt_tx_power_adv.c
  samples/bluetooth/peripheral_fast_pair/src/hids_helper.c
  samples/bluetooth/peripheral_fast_pair/src/main.c
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_common.c
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_mbedtls.c
  subsys/bluetooth/services/fast_pair/fp_advertising.c
  subsys/bluetooth/services/fast_pair/fp_auth.c
  subsys/bluetooth/services/fast_pair/fp_gatt_service.c
  subsys/bluetooth/services/fast_pair/fp_keys.c
  subsys/bluetooth/services/fast_pair/fp_registration_data.c
  subsys/bluetooth/services/fast_pair/fp_storage.c
Labels: none

lib: modem_attest_token: replace tinycbor with zcbor
  doc/nrf/releases/release-notes-changelog.rst
  lib/modem_attest_token/Kconfig
  lib/modem_attest_token/modem_attest_token.c
Labels: doc-required

samples: peripheral_fast_pair: Add support for nRF53
  samples/bluetooth/peripheral_fast_pair/child_image/hci_rpmsg.conf
Labels: none

manifest: update homekit revision
  west.yml
Labels: manifest

manifest: Update nrfxlib revision
  west.yml
Labels: manifest

samples: peripheral_fast_pair: Introduce logger
  samples/bluetooth/peripheral_fast_pair/src/bt_adv_helper.c
  samples/bluetooth/peripheral_fast_pair/src/bt_tx_power_adv.c
  samples/bluetooth/peripheral_fast_pair/src/hids_helper.c
  samples/bluetooth/peripheral_fast_pair/src/main.c
Labels: none

modules: memfault: option for custom Memfault Device Info
  modules/memfault-firmware-sdk/Kconfig
  modules/memfault-firmware-sdk/memfault_integration.c
Labels: none

mpsl: fem: nRF21540 run-time PA gain control by MODE pin switching
  subsys/mpsl/fem/Kconfig
  subsys/mpsl/fem/mpsl_fem.c
Labels: none

bluetooth: fast_pair: Add "zephyr/" prefix to included headers
  include/bluetooth/services/fast_pair.h
  samples/bluetooth/peripheral_fast_pair/include/bt_adv_helper.h
  samples/bluetooth/peripheral_fast_pair/include/bt_tx_power_adv.h
  samples/bluetooth/peripheral_fast_pair/src/bt_adv_helper.c
  samples/bluetooth/peripheral_fast_pair/src/bt_tx_power_adv.c
  samples/bluetooth/peripheral_fast_pair/src/hids_helper.c
  samples/bluetooth/peripheral_fast_pair/src/main.c
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_common.c
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_mbedtls.c
  subsys/bluetooth/services/fast_pair/fp_advertising.c
  subsys/bluetooth/services/fast_pair/fp_auth.c
  subsys/bluetooth/services/fast_pair/fp_gatt_service.c
  subsys/bluetooth/services/fast_pair/fp_keys.c
  subsys/bluetooth/services/fast_pair/fp_registration_data.c
  subsys/bluetooth/services/fast_pair/fp_storage.c
Labels: none

doc: nrf: nRF21540 MODE pin support
  doc/nrf/ug_radio_fem.rst
Labels: doc-required

bluetooth: fast_pair: Integrate provisioning script to the build system
  samples/bluetooth/peripheral_fast_pair/sample.yaml
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
Labels: none

softdevice_controller: Kconfig: add adv cx cfg
  subsys/bluetooth/controller/Kconfig
Labels: none

softdevice_controller: pass cx behavior to sdc
  subsys/bluetooth/controller/hci_driver.c
Labels: none

bluetooth: controller: Use Core v5.3 naming convention
  subsys/bluetooth/controller/hci_internal.c
Labels: none

doc: ug_pinctrl: Prefix `drive-mode` with `nordic,`
  doc/nrf/ug_pinctrl.rst
Labels: doc-required

boards: nrf5340_audio_dk_nrf5340: Prefix `drive-mode` with `nordic,`
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_common-pinctrl.dtsi
Labels: none

manifest: Update Zephyr revision
  west.yml
Labels: manifest

mpsl: fem: nRF21540 run-time PA gain control by MODE pin switching
  subsys/mpsl/fem/Kconfig
  subsys/mpsl/fem/mpsl_fem.c
Labels: none

doc: nrf: nRF21540 MODE pin support
  doc/nrf/ug_radio_fem.rst
Labels: doc-required

bluetooth: fast_pair: Align prefixes
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_common.c
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_mbedtls.c
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_tinycrypt.c
  subsys/bluetooth/services/fast_pair/fp_advertising.c
  subsys/bluetooth/services/fast_pair/fp_gatt_service.c
  subsys/bluetooth/services/fast_pair/fp_keys.c
  subsys/bluetooth/services/fast_pair/fp_registration_data.c
  subsys/bluetooth/services/fast_pair/fp_storage.c
  subsys/bluetooth/services/fast_pair/include/fp_crypto.h
  subsys/bluetooth/services/fast_pair/include/fp_keys.h
  subsys/bluetooth/services/fast_pair/include/fp_registration_data.h
  subsys/bluetooth/services/fast_pair/include/fp_storage.h
  tests/subsys/bluetooth/fast_pair/crypto/src/main.c
Labels: none

applications: nrf5340_audio: Add option to skip PLC
  applications/nrf5340_audio/src/audio/Kconfig
  applications/nrf5340_audio/src/audio/sw_codec_select.c
Labels: none

samples: nrf9160: modem_shell: link: fixing re-entering of normal mode
  samples/nrf9160/modem_shell/src/link/link.c
Labels: none

softdevice_controller: Kconfig: add adv cx cfg
  subsys/bluetooth/controller/Kconfig
Labels: none

softdevice_controller: pass cx behavior to sdc
  subsys/bluetooth/controller/hci_driver.c
Labels: none

bluetooth: controller: Use Core v5.3 naming convention
  subsys/bluetooth/controller/hci_internal.c
Labels: none

applications: asset_tracker_v2: Fix application tests
  applications/asset_tracker_v2/tests/debug_module/CMakeLists.txt
  applications/asset_tracker_v2/tests/gnss_module/CMakeLists.txt
  applications/asset_tracker_v2/tests/json_common/CMakeLists.txt
  applications/asset_tracker_v2/tests/ui_module/CMakeLists.txt
Labels: none

net: lib: lwm2m_client_utils: Expose API to set signal meas object
  include/net/lwm2m_client_utils.h
  samples/nrf9160/lwm2m_client/src/main.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/neighbour_cell_info.c
Labels: none

applications: asset_tracker_v2: Add support for LwM2M
  applications/asset_tracker_v2/Kconfig
  applications/asset_tracker_v2/overlay-lwm2m.conf
  applications/asset_tracker_v2/prj.conf
  applications/asset_tracker_v2/sample.yaml
  applications/asset_tracker_v2/src/cloud/CMakeLists.txt
  applications/asset_tracker_v2/src/cloud/Kconfig.lwm2m_integration
  applications/asset_tracker_v2/src/cloud/aws_iot_integration.c
  applications/asset_tracker_v2/src/cloud/azure_iot_hub_integration.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/CMakeLists.txt
  applications/asset_tracker_v2/src/cloud/cloud_codec/Kconfig
  applications/asset_tracker_v2/src/cloud/cloud_codec/aws_iot/aws_iot_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/azure_iot_hub/azure_iot_hub_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_wrapper.h
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/config_object_descript.xml
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/configuration_object.c
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
  applications/asset_tracker_v2/src/events/cloud_module_event.c
  applications/asset_tracker_v2/src/events/cloud_module_event.h
  applications/asset_tracker_v2/src/events/data_module_event.h
  applications/asset_tracker_v2/src/events/modem_module_event.h
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/Kconfig.app_module
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  applications/asset_tracker_v2/src/modules/Kconfig.modem_module
  applications/asset_tracker_v2/src/modules/Kconfig.sensor_module
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/modem_module.c
  applications/asset_tracker_v2/src/modules/util_module.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

bluetooth: fast_pair: Integrate provisioning script to the build system
  samples/bluetooth/peripheral_fast_pair/sample.yaml
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
Labels: none

applications: nrf_desktop: Remove unused options from configurations
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/prj.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/prj.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_dongle.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_keyboard.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_mcuboot_qspi.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_wwcb.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_3bleconn.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_4llpmconn.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/prj.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_shell.conf
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
Labels: none
