Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

samples: nrf9160: modem_fault
  samples/nrf9160/modem_fault/CMakeLists.txt
  samples/nrf9160/modem_fault/README.rst
  samples/nrf9160/modem_fault/prj.conf
  samples/nrf9160/modem_fault/sample.yaml
  samples/nrf9160/modem_fault/src/main.c
Labels: doc-required

manifest: Update zephyr
  west.yml
Labels: manifest

samples: matter: Fixed starting BLE advertising for SMP
  samples/matter/common/src/dfu_over_smp.cpp
Labels: none

doc: Update Zigbee memory requirements tables
  doc/nrf/ug_zigbee_memory.rst
Labels: doc-required

caf: Fix sensor_aggregator event logging bug
  subsys/caf/events/sensor_data_aggregator_event.c
Labels: none

manifest: Update revision of nrfxlib repository
  doc/nrf/releases/release-notes-changelog.rst
  west.yml
Labels: manifest, doc-required

doc: nRF Cloud user guide improvements
  doc/nrf/ug_nrf_cloud.rst
Labels: doc-required

west.yml: Update Zephyr revision to fix SMP issue
  west.yml
Labels: manifest

lib: nrf_modem_lib: let `_timedwait()` return `-ESHUTDOWN`
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: none

samples: matter: Fixed starting BLE advertising for SMP
  samples/matter/common/src/dfu_over_smp.cpp
Labels: none

application: serial_lte_modem: BUG-FIX close all peer sockets
  applications/serial_lte_modem/src/slm_at_socket.c
Labels: none

doc: tfm: Document TF-M as the default secure firmware
  doc/nrf/links.txt
  doc/nrf/ug_tfm.rst
Labels: doc-required

doc: tfm: Add limitations for TF-M 1.5.0
  doc/nrf/ug_tfm.rst
Labels: doc-required

applications: nrf_desktop: Document nRF21540EK support
  applications/nrf_desktop/README.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

doc: vsc: rework adding application instructions
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_zigbee_qsg.rst
Labels: doc-required

samples: matter: fix DFU over SMP on nRF53
  samples/matter/common/src/dfu_over_smp.cpp
  samples/matter/common/src/dfu_over_smp.h
Labels: none

applications: asset_tracker_v2: Fix BSEC ABI settings
  applications/asset_tracker_v2/src/ext_sensors/CMakeLists.txt
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors_bsec.c
Labels: none

manifest: update Find My revision
  west.yml
Labels: manifest

boards: arm: thingy91: Fix ADP5360 configuration when TF-M is used
  boards/arm/thingy91_nrf9160/CMakeLists.txt
  boards/arm/thingy91_nrf9160/Kconfig
  boards/arm/thingy91_nrf9160/adp5360_init.c
Labels: none

bluetooth: rpc: Fixes after moving to zcbor
  doc/nrf/libraries/bluetooth_services/rpc.rst
  subsys/bluetooth/rpc/client/bt_rpc_conn_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gatt_client.c
  subsys/bluetooth/rpc/common/bt_rpc_common.c
  subsys/bluetooth/rpc/host/bt_rpc_gap_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gatt_host.c
  subsys/bluetooth/rpc/host/bt_rpc_internal_host.c
Labels: doc-required

applications: asset_tracker_v2: Fix memfault handling
  applications/asset_tracker_v2/src/events/cloud_module_event.c
  applications/asset_tracker_v2/src/events/cloud_module_event.h
  applications/asset_tracker_v2/src/events/data_module_event.h
  applications/asset_tracker_v2/src/events/debug_module_event.h
  applications/asset_tracker_v2/src/modules/Kconfig.debug_module
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/debug_module.c
  applications/asset_tracker_v2/tests/debug_module/CMakeLists.txt
  applications/asset_tracker_v2/tests/debug_module/src/debug_module_test.c
Labels: none

modules: TF-M: Add encypted ITS Kconfig
  modules/trusted-firmware-m/Kconfig
Labels: none

doc: software_maturity: Add entries for Zigbee
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required

doc: peripheral_uart: add info about async_adapter
  samples/bluetooth/peripheral_uart/README.rst
Labels: doc-required

hw_unique_key: Fix memset call for zeroing key bytes
  doc/nrf/releases/release-notes-changelog.rst
  lib/hw_unique_key/hw_unique_key.c
Labels: doc-required

lib: location: cellular/wifi methods: fix to all mode
  lib/location/method_cellular.c
  lib/location/method_wifi.c
Labels: none

applications: asset_tracker_v2: Fix BSEC ABI settings
  applications/asset_tracker_v2/src/ext_sensors/CMakeLists.txt
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors_bsec.c
Labels: none

boards: arm: thingy91: Fix ADP5360 configuration when TF-M is used
  boards/arm/thingy91_nrf9160/CMakeLists.txt
  boards/arm/thingy91_nrf9160/Kconfig
  boards/arm/thingy91_nrf9160/adp5360_init.c
Labels: none

west.yml: Update Zephyr revision to fix SMP issue
  west.yml
Labels: manifest

manifest: update Find My revision
  west.yml
Labels: manifest

zigbee: Describe FOTA limitations on nRF5340
  doc/nrf/libraries/zigbee/zigbee_fota.rst
Labels: doc-required

nrf_security: Add integration regression builds
  samples/bluetooth/peripheral_hids_mouse/sample.yaml
  samples/crypto/sha256/sample.yaml
  samples/matter/light_switch/sample.yaml
  samples/openthread/cli/sample.yaml
Labels: none

doc: vsc: rework adding application instructions
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_zigbee_qsg.rst
Labels: doc-required

doc: always display all docsets in the list
  doc/_utils/utils.py
  doc/kconfig/conf.py
  doc/matter/conf.py
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrfx/conf.py
  doc/nrfxlib/conf.py
  doc/tfm/conf.py
  doc/zephyr/conf.py
Labels: doc-required

doc: update sphinx-ncs-theme
  scripts/requirements-doc.txt
Labels: none

doc: improve zephyr/tfm grid styling
  doc/_static/css/tfm.css
  doc/_static/css/zephyr.css
Labels: doc-required

doc: remove no longer needed theme customizations
  doc/_static/css/common.css
  doc/_static/css/kconfig.css
  doc/_static/css/matter.css
  doc/_static/css/mcuboot.css
  doc/_static/css/nrf.css
  doc/_static/css/nrfx.css
  doc/_static/css/nrfxlib.css
  doc/_static/css/tfm.css
  doc/_static/css/zephyr.css
  doc/kconfig/conf.py
  doc/matter/conf.py
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrfx/conf.py
  doc/nrfxlib/conf.py
  doc/zephyr/conf.py
Labels: doc-required

doc: remove trailing : from TOC title
  doc/matter/index.rst
  doc/mcuboot/wrapper.rst
  doc/nrf/index.rst
Labels: doc-required

doc: nrf: dm_adding_code: remove title link
  doc/nrf/dm_adding_code.rst
Labels: doc-required

lib: nrf_modem_lib: let `_timedwait()` return `-ESHUTDOWN`
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
