Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required, CI-dfu-test, CI-all-test, CI-tfm-test

b0: Add support for HUK loading for nRF52840
  samples/bootloader/src/main.c
Labels: CI-dfu-test

crypto: Add library to load the HUK in nRF52840
  CODEOWNERS
  include/hw_unique_key.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/hw_unique_key/CMakeLists.txt
  lib/hw_unique_key/Kconfig
  lib/hw_unique_key/hw_unique_key.c
  lib/hw_unique_key/pm.yml.huk_nrf52840
Labels: none

bootloader: Enlarge b0 partition size for nrf52840
  subsys/bootloader/Kconfig
Labels: CI-dfu-test

tests: fprotect: Add tests for read/write protection
  tests/drivers/fprotect/negative/CMakeLists.txt
  tests/drivers/fprotect/negative/dummy_huk.hex
  tests/drivers/fprotect/negative/overlay-b0.conf
  tests/drivers/fprotect/negative/src/main.c
  tests/drivers/fprotect/negative/testcase.yaml
Labels: none

fprotect: Add support for no access protection for nrf52840
  include/fprotect.h
  lib/fprotect/Kconfig
  lib/fprotect/fprotect_acl.c
Labels: CI-dfu-test

netboot: Fix stand alone build and add sample.yaml
  samples/nrf5340/netboot/sample.yaml
  subsys/bootloader/include/dummy_values/pm_config.h
Labels: CI-dfu-test

net: fota_download: Add API to cancel downloading
  doc/nrf/releases/release-notes-latest.rst
  include/net/fota_download.h
  subsys/net/lib/aws_fota/src/aws_fota.c
  subsys/net/lib/fota_download/src/fota_download.c
Labels: doc-required, CI-dfu-test

spm: add minimal configuration
  samples/spm/prj_minimal.conf
  subsys/spm/Kconfig
Labels: none

spm: enable asserts
  samples/spm/prj.conf
Labels: none

spm: set default SPM region size to 64kB
  subsys/spm/Kconfig
Labels: none

lib: at_cmd_parser: Bug-fix CLAC response parsing
  lib/at_cmd_parser/at_cmd_parser.c
  lib/at_cmd_parser/at_utils.h
Labels: none

tests: fprotect: Add tests for read/write protection
  tests/drivers/fprotect/negative/CMakeLists.txt
  tests/drivers/fprotect/negative/dummy_huk.hex
  tests/drivers/fprotect/negative/overlay-b0.conf
  tests/drivers/fprotect/negative/src/main.c
  tests/drivers/fprotect/negative/testcase.yaml
Labels: none

crypto: Add library to load the HUK in nRF52840
  CODEOWNERS
  include/hw_unique_key.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/hw_unique_key/CMakeLists.txt
  lib/hw_unique_key/Kconfig
  lib/hw_unique_key/hw_unique_key.c
  lib/hw_unique_key/pm.yml.huk_nrf52840
Labels: none

bootloader: Enlarge b0 partition size for nrf52840
  subsys/bootloader/Kconfig
Labels: CI-dfu-test

fprotect: Add support for no access protection for nrf52840
  include/fprotect.h
  lib/fprotect/Kconfig
  lib/fprotect/fprotect_acl.c
Labels: CI-dfu-test

b0: Add support for HUK loading for nRF52840
  samples/bootloader/src/main.c
Labels: CI-dfu-test

lib: at_cmd_parser: Bug-fix CLAC response parsing
  lib/at_cmd_parser/at_cmd_parser.c
  lib/at_cmd_parser/at_utils.h
Labels: none

lib: lte_lc: Fix typo in Kconfig
  lib/lte_link_control/Kconfig
  lib/lte_link_control/lte_lc.c
Labels: none

doc: NCSDK8489 9160 userguide fota samples upd
  doc/nrf/links.txt
  doc/nrf/ug_nrf9160.rst
Labels: doc-required

lib: lte_lc: Fix typo in Kconfig
  lib/lte_link_control/Kconfig
  lib/lte_link_control/lte_lc.c
Labels: none

net: fota_download: Add API to cancel downloading
  doc/nrf/releases/release-notes-latest.rst
  include/net/fota_download.h
  subsys/net/lib/aws_fota/src/aws_fota.c
  subsys/net/lib/fota_download/src/fota_download.c
Labels: doc-required, CI-dfu-test

applications: asset_tracker_v2: Distribute device config on change.
  applications/asset_tracker_v2/src/modules/data_module.c
Labels: none

doc: NCSDK8489 9160 userguide fota samples upd
  doc/nrf/links.txt
  doc/nrf/ug_nrf9160.rst
Labels: doc-required

mpsl: Allow application to specify MPSL assert handler.
  doc/nrf/libraries/lib_mpsl.rst
  include/mpsl/mpsl_assert.h
  include/mpsl/mpsl_assert.rst
  subsys/mpsl/Kconfig
  subsys/mpsl/mpsl_init.c
Labels: doc-required

netboot: Fix stand alone build and add sample.yaml
  samples/nrf5340/netboot/sample.yaml
  subsys/bootloader/include/dummy_values/pm_config.h
Labels: CI-dfu-test

doc: use sphinx-ncs-theme
  doc/kconfig/conf.py
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrfxlib/conf.py
  doc/static/css/common.css
  doc/static/css/kconfig.css
  doc/static/css/mcuboot.css
  doc/static/css/nrf.css
  doc/static/css/nrfxlib.css
  doc/static/css/zephyr.css
  doc/static/js/ncs.js
  doc/themes/kconfig/searchbox.html
  doc/themes/kconfig/theme.conf
  doc/themes/kconfig/versions.html
  doc/themes/mcuboot/searchbox.html
  doc/themes/mcuboot/theme.conf
  doc/themes/mcuboot/versions.html
  doc/themes/nrf/footer.html
  doc/themes/nrf/searchbox.html
  doc/themes/nrf/theme.conf
  doc/themes/nrf/versions.html
  doc/themes/nrfxlib/footer.html
  doc/themes/nrfxlib/searchbox.html
  doc/themes/nrfxlib/theme.conf
  doc/themes/nrfxlib/versions.html
  doc/themes/zephyr/searchbox.html
  doc/themes/zephyr/theme.conf
  doc/themes/zephyr/versions.html
  doc/zephyr/conf.py
  scripts/requirements-doc.txt
Labels: doc-required

codeowners: delete doc/themes
  CODEOWNERS
Labels: none

doc: add common utilities
  CODEOWNERS
  doc/utils/utils.py
Labels: doc-required

doc: mcuboot: drop support for old recommonmark
  doc/mcuboot/conf.py
Labels: doc-required

doc: mcuboot: remove unneeded plugins
  doc/mcuboot/conf.py
Labels: doc-required

doc: kconfig: simplify configuration
  doc/kconfig/conf.py
Labels: doc-required

doc: mcuboot: simplify configuration
  doc/mcuboot/conf.py
Labels: doc-required

doc: nrfxlib: remove unneeded breathe attributes
  doc/nrfxlib/conf.py
Labels: doc-required

doc: nrfxlib: simplify configuration
  doc/nrfxlib/conf.py
Labels: doc-required

doc: nrfxlib: remove unneeded extensions
  doc/nrfxlib/conf.py
Labels: doc-required

doc: nrf: use pygments devicetree lexer
  doc/nrf/conf.py
  doc/nrf/drivers/uart_nrf_sw_lpuart.rst
  scripts/requirements-doc.txt
Labels: doc-required

doc: nrf: simplify configuration
  doc/nrf/conf.py
Labels: doc-required

doc: nrf: remove unneeded breathe attributes
  doc/nrf/conf.py
Labels: doc-required

net: lib: aws_iot: Fix null pointer issue
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: none

manifest: Update sdk-nrfxlib
  west.yml
Labels: manifest, CI-all-test

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in master, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"CI-dfu-test":
  - "include/bl*"
  - "include/fprotect.h"
  - "include/fw_info.*"
  - "include/dfu/**/*"
  - "include/net/**/*"
  - "modules/mcuboot/**/*"
  - "samples/nrf9160/*fota/**/*"
  - "samples/nrf9160/fmfu_smp_svr/**/*"
  - "samples/nrf9160/http_update/**/*"
  - "samples/bootloader/**/*"
  - "scripts/bootloader/**/*"
  - "subsys/bootloader/**/*"
  - "subsys/fw_info/**/*"
  - "subsys/mgmt/**/*"
  - "subsys/net/lib/*fota*/**/*"
  - "subsys/net/lib/download_client/**/*"
  - "tests/subsys/bootloader/**/*"
  - "tests/subsys/dfu/**/*"
  - "tests/subsys/fw_info/**/*"
  - "tests/subsys/net/**/*"

"CI-all-test":
  - "west.yml"
  - "**/*partition_manager*/**/*"
  - "**/*partition_manager*"

"CI-tfm-test":
  - "modules/tfm/**/*"
  - "samples/tfm/**/*"
