Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

bluetooth: fast_pair: Add GATT Service
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_gatt_service.c
Labels: none

samples: peripheral_fast_pair: Update preferred conn params
  samples/bluetooth/peripheral_fast_pair/prj.conf
Labels: none

tests: bluetooth: fast_pair: Add MbedTLS crypto tests
  tests/subsys/bluetooth/fast_pair/crypto/CMakeLists.txt
  tests/subsys/bluetooth/fast_pair/crypto/Kconfig
  tests/subsys/bluetooth/fast_pair/crypto/prj_tinycrypt.conf
  tests/subsys/bluetooth/fast_pair/crypto/testcase.yaml
Labels: none

bluetooth: fast_pair: Add MbedTLS crypto
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_crypto_mbedtls.c
Labels: none

bluetooth: fast_pair: Introduce discoverable advertising
  include/bluetooth/services/fast_pair.h
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_advertising.c
  subsys/bluetooth/services/fast_pair/include/fp_common.h
Labels: none

bluetooth: fast_pair: Introduce Kconfig options
  subsys/bluetooth/services/CMakeLists.txt
  subsys/bluetooth/services/Kconfig
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
Labels: none

bluetooth: fast_pair: Set RPA timeout to 1 hour
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
Labels: none

bluetooth: fast_pair: Add not discoverable advertising with keys
  include/bluetooth/services/fast_pair.h
  subsys/bluetooth/services/fast_pair/fp_advertising.c
Labels: none

bluetooth: fast_pair: Enable DIS
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
Labels: none

CODEOWNERS: Add codeowners for Fast Pair
  CODEOWNERS
Labels: none

samples: bluetooth: Add Fast Pair sample
  doc/nrf/links.txt
  samples/bluetooth/peripheral_fast_pair/CMakeLists.txt
  samples/bluetooth/peripheral_fast_pair/README.rst
  samples/bluetooth/peripheral_fast_pair/include/bt_adv_helper.h
  samples/bluetooth/peripheral_fast_pair/include/bt_tx_power_adv.h
  samples/bluetooth/peripheral_fast_pair/prj.conf
  samples/bluetooth/peripheral_fast_pair/sample.yaml
  samples/bluetooth/peripheral_fast_pair/src/bt_adv_helper.c
  samples/bluetooth/peripheral_fast_pair/src/bt_tx_power_adv.c
  samples/bluetooth/peripheral_fast_pair/src/main.c
Labels: doc-required

bluetooth: fast_pair: Add crypto API
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_crypto_tinycrypt.c
  subsys/bluetooth/services/fast_pair/include/fp_crypto.h
Labels: none

samples: peripheral_fast_pair: Comply with HID over GATT profile
  samples/bluetooth/peripheral_fast_pair/prj.conf
  samples/bluetooth/peripheral_fast_pair/src/bt_adv_helper.c
Labels: none

bluetooth: fast_pair: Introduce non-discoverable advertising
  subsys/bluetooth/services/fast_pair/fp_advertising.c
Labels: none

bluetooth: fast_pair: Add API to set pairing mode
  include/bluetooth/services/fast_pair.h
  samples/bluetooth/peripheral_fast_pair/src/bt_adv_helper.c
  subsys/bluetooth/services/fast_pair/fp_keys.c
Labels: none

bluetooth: fast_pair: Add procedure using Account Keys
  subsys/bluetooth/services/fast_pair/fp_keys.c
Labels: none

tests: bluetooth: fast_pair: Add crypto test
  tests/subsys/bluetooth/fast_pair/crypto/CMakeLists.txt
  tests/subsys/bluetooth/fast_pair/crypto/prj.conf
  tests/subsys/bluetooth/fast_pair/crypto/src/main.c
  tests/subsys/bluetooth/fast_pair/crypto/testcase.yaml
Labels: none

bluetooth: fast_pair: Implement Procedure
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_auth.c
  subsys/bluetooth/services/fast_pair/fp_gatt_service.c
  subsys/bluetooth/services/fast_pair/fp_keys.c
  subsys/bluetooth/services/fast_pair/include/fp_auth.h
  subsys/bluetooth/services/fast_pair/include/fp_keys.h
Labels: none

tests: bluetooth: fast_pair: Add crypto test
  tests/subsys/bluetooth/fast_pair/crypto/CMakeLists.txt
  tests/subsys/bluetooth/fast_pair/crypto/src/main.c
Labels: none

samples: peripheral_fast_pair: Add RPA rotation
  samples/bluetooth/peripheral_fast_pair/prj.conf
  samples/bluetooth/peripheral_fast_pair/src/bt_adv_helper.c
Labels: none

bluetooth: fast_pair: Increase MTU
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_gatt_service.c
Labels: none

bluetooth: fast_pair: Add registration data
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/fp_registration_data.c
  subsys/bluetooth/services/fast_pair/include/fp_registration_data.h
Labels: none

bluetooth: fast_pair: Add crypto API
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/fp_crypto_common.c
  subsys/bluetooth/services/fast_pair/include/fp_crypto.h
Labels: none

bluetooth: fast_pair: Mark Fast Pair support as experimental
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
Labels: none

samples: peripheral_fast_pair: Control Fast Pair discoverability
  samples/bluetooth/peripheral_fast_pair/include/bt_adv_helper.h
  samples/bluetooth/peripheral_fast_pair/src/bt_adv_helper.c
  samples/bluetooth/peripheral_fast_pair/src/main.c
Labels: none

bluetooth: fast_pair: Add definition of ECDH public key
  subsys/bluetooth/services/fast_pair/include/fp_crypto.h
Labels: none

net: lib: fota_download: Allow retry on socket timeout
  subsys/net/lib/fota_download/src/fota_download.c
Labels: none

doc: openthread: remove reference to non-existing file
  doc/nrf/ug_thread_configuring.rst
Labels: doc-required

samples: matter: Fixed commissioning error
  samples/matter/window_covering/src/app_task.cpp
Labels: none

samples: lwm2m: v1.1 w/a TLV enabled bootstrap
  samples/nrf9160/lwm2m_client/overlay-avsystem-bootstrap.conf
  samples/nrf9160/lwm2m_client/overlay-leshan-bootstrap.conf
Labels: none

boards: nrf5340_audio_dk_nrf5340: Prefix `drive-mode` with `nordic,`
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_common-pinctrl.dtsi
Labels: none

doc: ug_pinctrl: Prefix `drive-mode` with `nordic,`
  doc/nrf/ug_pinctrl.rst
Labels: doc-required

manifest: Update Zephyr revision
  west.yml
Labels: manifest

samples: nrf9160: modem_shell: new cloud_rest commands
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/CMakeLists.txt
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/overlay-cloud_mqtt.conf
  samples/nrf9160/modem_shell/sample.yaml
  samples/nrf9160/modem_shell/src/cloud/CMakeLists.txt
  samples/nrf9160/modem_shell/src/cloud/cloud_mqtt_shell.c
  samples/nrf9160/modem_shell/src/cloud/cloud_rest_shell.c
  samples/nrf9160/modem_shell/src/print/print_shell.c
  samples/nrf9160/modem_shell/src/utils/mosh_print.c
Labels: doc-required

samples: nrf9160: modem_shell: link status: device id added
  samples/nrf9160/modem_shell/src/link/link_api.c
Labels: none

zigbee: Align Zigbee OTA image generation
  modules/mcuboot/CMakeLists.txt
  scripts/bootloader/zb_add_ota_header.py
Labels: none

zigbee: Use non-wildcard FOTA image type
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_fota/Kconfig
Labels: doc-required

zigbee: Use multi image API in FOTA library
  doc/nrf/libraries/zigbee/zigbee_fota.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_zigbee_configuring_libraries.rst
  include/zigbee/zigbee_fota.h
  samples/zigbee/light_switch/README.rst
  samples/zigbee/light_switch/boards/nrf21540dk_nrf52840.conf
  samples/zigbee/light_switch/boards/nrf21540dk_nrf52840_fota.conf
  samples/zigbee/light_switch/boards/nrf52833dk_nrf52833.conf
  samples/zigbee/light_switch/boards/nrf52840dk_nrf52840.conf
  samples/zigbee/light_switch/boards/nrf52840dk_nrf52840_fota.conf
  samples/zigbee/light_switch/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/light_switch/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/zigbee/light_switch/boards/nrf5340dk_nrf5340_cpuapp_fota.conf
  samples/zigbee/light_switch/child_image/mcuboot/boards/nrf5340dk_nrf5340_cpuapp_fota.conf
  samples/zigbee/light_switch/child_image/mcuboot/boards/nrf5340dk_nrf5340_cpuapp_fota.overlay
  samples/zigbee/light_switch/child_image/multiprotocol_rpmsg/boards/nrf5340dk_nrf5340_cpunet_fota.conf
  samples/zigbee/light_switch/overlay-fota.conf
  samples/zigbee/light_switch/overlay-multiprotocol_ble.conf
  samples/zigbee/light_switch/prj.conf
  samples/zigbee/light_switch/prj_fota.conf
  samples/zigbee/light_switch/sample.yaml
  subsys/zigbee/lib/zigbee_fota/CMakeLists.txt
  subsys/zigbee/lib/zigbee_fota/Kconfig
  subsys/zigbee/lib/zigbee_fota/src/dfu_multi_target.c
  subsys/zigbee/lib/zigbee_fota/src/dfu_multi_target.h
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
  subsys/zigbee/lib/zigbee_fota/src/zigbee_ota.h
Labels: doc-required

samples: peripheral_fast_pair: Add support for nRF53
  samples/bluetooth/peripheral_fast_pair/child_image/hci_rpmsg.conf
Labels: none

bootloader: Add inter-image dependencies in nRF53
  modules/mcuboot/CMakeLists.txt
Labels: none
