Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

samples: nrf9160: modem_shell: bluetooth shell command support
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/bt.overlay
  samples/nrf9160/modem_shell/overlay-bt.conf
  samples/nrf9160/modem_shell/sample.yaml
Labels: doc-required

samples: nrf9160: modem_shell: bluetooth shell command support
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/bt.overlay
  samples/nrf9160/modem_shell/overlay-bt.conf
  samples/nrf9160/modem_shell/sample.yaml
Labels: doc-required

samples: nrf9160: modem_shell: LTE connected to LED#3
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/src/link/link.c
Labels: doc-required

doc: improve Thread configuration instructions
  doc/nrf/releases/release-notes-1.4.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread.rst
  doc/nrf/ug_thread_configuring.rst
  doc/nrf/ug_thread_prebuilt_libs.rst
  doc/nrf/ug_thread_supported_features.rst
Labels: doc-required

samples: nrf9160: modem_shell: Second socket periodic to fail
  samples/nrf9160/modem_shell/src/sock/sock.c
Labels: none

applications: nrf_desktop: Add Fast Pair support
  applications/nrf_desktop/configuration/common/ble_adv_def.h
  applications/nrf_desktop/src/modules/Kconfig.ble
Labels: none

bluetooth: fast_pair: Add API to get number of Account Keys
  include/bluetooth/services/fast_pair.h
  subsys/bluetooth/services/fast_pair/fp_storage.c
Labels: none

applications: nrf_desktop: Introduce Fast Pair configurations
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/child_image/b0/prj_fast_pair.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/pm_static_fast_pair.yml
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_fast_pair.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/child_image/b0/prj_fast_pair.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/pm_static_fast_pair.yml
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_fast_pair.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_fast_pair.conf
Labels: none

caf: ble_adv: Simplify using Swift Pair
  applications/machine_learning/configuration/common/ble_adv_def.h
  applications/nrf_desktop/configuration/common/ble_adv_def.h
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/prj.conf
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/prj_release.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_keyboard.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_mcuboot_qspi.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_release.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_wwcb.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_release.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/prj.conf
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/prj_release.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_release.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_shell.conf
  applications/nrf_desktop/src/modules/Kconfig.ble
  include/caf/ble_adv.h
  subsys/caf/modules/Kconfig.ble_adv
  subsys/caf/modules/ble_adv.c
Labels: none

manifest: update homekit revision
  west.yml
Labels: manifest

samples: nrf9160: modem_shell: Second socket periodic to fail
  samples/nrf9160/modem_shell/src/sock/sock.c
Labels: none

manifest: update homekit revision
  west.yml
Labels: manifest

doc: lib: add flash_map_pm doc page
  doc/nrf/libraries/others/flash_map_pm.rst
  doc/nrf/releases/release-notes-changelog.rst
  scripts/partition_manager/partition_manager.rst
Labels: doc-required

doc: lib: add flash_map_pm doc page
  doc/nrf/libraries/others/flash_map_pm.rst
  doc/nrf/releases/release-notes-changelog.rst
  scripts/partition_manager/partition_manager.rst
Labels: doc-required

matter: rebase sdk-connectedhomeip
  west.yml
Labels: manifest

openthread: samples: Reorganise openthread cert overlay.
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_certification.rst
  doc/nrf/ug_thread_ot_memory.rst
  samples/openthread/cli/harness/overlay-cert.conf
Labels: doc-required

openthread: samples: remove obsolete overlay-minimal.conf from RCP
  samples/openthread/coprocessor/README.rst
  samples/openthread/coprocessor/overlay-minimal.conf
Labels: doc-required

flash_patch: Add support for nRF52833
  doc/nrf/releases/release-notes-changelog.rst
  lib/flash_patch/CMakeLists.txt
  lib/flash_patch/Kconfig
  tests/drivers/flash_patch/testcase.yaml
Labels: doc-required

dm: Split the library configuration from the submodule.
  subsys/dm/CMakeLists.txt
  subsys/dm/Kconfig
  subsys/dm/dm.c
  subsys/dm/timeslot_queue.c
Labels: none

changelog: Update changelog with the nrf_dm sample changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: bluetooth: nrf_dm: Configuration alignment
  samples/bluetooth/nrf_dm/prj.conf
Labels: none

samples: direct_test_mode: Implementation of the errata 117
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/direct_test_mode/src/dtm.c
Labels: doc-required

samples: lwm2m_client: Coiote decommissioning
  samples/nrf9160/lwm2m_client/scripts/provision.py
Labels: none

doc improvement: stylistic fixes
  doc/nrf/gs_installing.rst
  doc/nrf/ug_nrf9160_gs.rst
  doc/nrf/ug_thingy91_gsg.rst
Labels: doc-required

samples: lwm2m_client: Coiote decommissioning
  samples/nrf9160/lwm2m_client/scripts/provision.py
Labels: none

fw_info: Make function non-static to avoid a fault
  doc/nrf/releases/release-notes-changelog.rst
  subsys/fw_info/fw_info.c
Labels: doc-required

samples: secure_services: sample.yaml: Add missing extra config
  samples/nrf9160/secure_services/sample.yaml
Labels: none

doc: Fix images in LwM2M carrier library docs
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_bootstrap.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_bootstrap.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_fail_cert.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_fail_cert.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_success.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_success.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_init.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_init.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_overview.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_overview.vsdx
Labels: doc-required

doc: fast_pair: Add hash to verify provisioning data
  doc/nrf/releases/release-notes-changelog.rst
  scripts/nrf_provision/fast_pair/README.rst
Labels: doc-required

bluetooth: fast_pair: Add hash to verify provisioning data
  scripts/nrf_provision/fast_pair/fp_provision_cli.py
  subsys/bluetooth/services/fast_pair/fp_registration_data.c
Labels: none

partition_manager: fast_pair: Increase partition size to fit hash
  subsys/partition_manager/pm.yml.bt_fast_pair
Labels: none

lib: modem_key_mgmt: don't read CME error if `nrf_modem_at_cmd` failed
  doc/nrf/releases/release-notes-changelog.rst
  lib/modem_key_mgmt/modem_key_mgmt.c
Labels: doc-required

doc improvement: stylistic fixes
  doc/nrf/gs_installing.rst
  doc/nrf/ug_nrf9160_gs.rst
  doc/nrf/ug_thingy91_gsg.rst
Labels: doc-required

doc: software_maturity_scanner.py: Improve resolving of maturity
  doc/_scripts/software_maturity/software_maturity_scanner.py
Labels: doc-required

samples: tfm_hello_world: sample.yaml: Add two new tests
  samples/tfm/tfm_hello_world/sample.yaml
  scripts/quarantine.yaml
Labels: none

doc: software_maturity_scanner.py: Add support for rules with '='
  doc/_scripts/software_maturity/software_maturity_scanner.py
Labels: doc-required

doc: software_maturity: Add entries for B0, TF-M, HUK, and PSA Crypto
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required

doc: software_maturity_scanner.py: Refactor find_maturity_level()
  doc/_scripts/software_maturity/software_maturity_scanner.py
Labels: doc-required

bluetooth: fast_pair: Add missing const to bt_conn struct pointer
  subsys/bluetooth/services/fast_pair/fp_auth.c
  subsys/bluetooth/services/fast_pair/fp_gatt_service.c
  subsys/bluetooth/services/fast_pair/fp_keys.c
  subsys/bluetooth/services/fast_pair/include/fp_keys.h
Labels: none

ci: I want to test something 3
  dummy-file
Labels: none
