Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required, CI-dfu-test, CI-all-test, CI-tfm-test

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in master, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"CI-dfu-test":
  - "include/bl*"
  - "include/fprotect.h"
  - "include/fw_info.*"
  - "include/dfu/**/*"
  - "include/net/**/*"
  - "modules/mcuboot/**/*"
  - "samples/nrf9160/*fota/**/*"
  - "samples/nrf9160/fmfu_smp_svr/**/*"
  - "samples/nrf9160/http_update/**/*"
  - "samples/bootloader/**/*"
  - "scripts/bootloader/**/*"
  - "subsys/bootloader/**/*"
  - "subsys/fw_info/**/*"
  - "subsys/mgmt/**/*"
  - "subsys/net/lib/*fota*/**/*"
  - "subsys/net/lib/download_client/**/*"
  - "tests/subsys/bootloader/**/*"
  - "tests/subsys/dfu/**/*"
  - "tests/subsys/fw_info/**/*"
  - "tests/subsys/net/**/*"

"CI-all-test":
  - "west.yml"
  - "**/*partition_manager*/**/*"
  - "**/*partition_manager*"

"CI-tfm-test":
  - "modules/tfm/**/*"
  - "samples/tfm/**/*"

scripts: requirements: update sphinx_ncs_theme
  scripts/requirements-doc.txt
Labels: none

doc: zephyr: extend static content
  doc/zephyr/conf.py
Labels: doc-required

ext: cJSON: Update cJSON library to version v1.7.14
  ext/cjson/cJSON.c
  ext/cjson/cJSON.h
Labels: none

ext: cjson: Add secure enhancements to CJSON
  ext/cjson/cJSON.c
Labels: none

ext: cjson: Be less greedy with heap when reallocating
  ext/cjson/cJSON.c
Labels: none

drivers: entropy_cc310: Initialize at PRE_KERNEL_1
  drivers/entropy/entropy_cc310.c
  drivers/hw_cc310/hw_cc310.c
Labels: none

caf: Add documentation of Bluetooth LE state module
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/ble_scan.rst
  applications/nrf_desktop/doc/ble_state.rst
  applications/nrf_desktop/doc/dev_descr.rst
  include/caf/ble_state.rst
Labels: doc-required

lib: edge_impulse: Add "waiting for data" state
  include/ei_wrapper.h
  lib/edge_impulse/ei_wrapper.cpp
Labels: none

cmake: multi image: escaping semicolon for shared vars
  cmake/multi_image.cmake
Labels: none

doc: usability improvements to the Welcome page
  doc/nrf/index.rst
Labels: doc-required

doc: usability improvements to the Welcome page
  doc/nrf/index.rst
Labels: doc-required

doc: css: hide scrollbar on Zephyr grid titles
  doc/static/css/zephyr.css
Labels: doc-required

doc: zephyr: extend static content
  doc/zephyr/conf.py
Labels: doc-required

scripts: requirements: update sphinx_ncs_theme
  scripts/requirements-doc.txt
Labels: none

softdevice_controller: Update library selection
  doc/nrf/known_issues.rst
  west.yml
Labels: manifest, doc-required, CI-all-test

bluetooth: mesh: CTL Temperature binding fix
  subsys/bluetooth/mesh/light_ctl_internal.h
  subsys/bluetooth/mesh/model_utils.h
Labels: none

manifest: update homekit
  west.yml
Labels: manifest, CI-all-test

actions: Update manifest action to 1.1.0
  .github/workflows/manifest.yml
Labels: none

scripts: requirements: update sphinx_ncs_theme
  scripts/requirements-doc.txt
Labels: none

applications: asset_tracker_v2: Disable/enable ADXL362 trigger on events
  applications/asset_tracker_v2/src/events/app_module_event.c
  applications/asset_tracker_v2/src/events/app_module_event.h
  applications/asset_tracker_v2/src/ext_sensors/Kconfig
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors.c
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors.h
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/sensor_module.c
Labels: none

softdevice_controller: Update library selection
  doc/nrf/known_issues.rst
  west.yml
Labels: manifest, doc-required, CI-all-test
