Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

bluetooth: rpc: Fix defined but not used variables.
  subsys/bluetooth/rpc/host/bt_rpc_conn_host.c
Labels: none

bluetooth/rpc: Convert serializer to zcbor
  subsys/bluetooth/rpc/common/serialize.c
  subsys/bluetooth/rpc/common/serialize.h
Labels: none

manifest: Fix nrfxlib revision
  west.yml
Labels: manifest

applications: asset_tracker_v2: Change to deferred logging
  applications/asset_tracker_v2/overlay-debug.conf
  applications/asset_tracker_v2/prj.conf
Labels: none

samples: nrf_rpc: Fix entropy get result decoding
  samples/nrf_rpc/entropy_nrf53/cpuapp/src/entropy_ser.c
Labels: none

manifest: Fix nrfxlib revision
  west.yml
Labels: manifest

doc: linux west installation update
  doc/nrf/gs_installing.rst
Labels: doc-required

mergify: Check for do not merge flags
  .github/mergify.yml
Labels: none

applications: revert workaround for Thingy53 Matter weather station
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg_release.conf
Labels: none

manifest: update homekit revision
  west.yml
Labels: manifest

cmake: add toolchain version verification
  share/ncs-package/cmake/NcsConfig.cmake
Labels: none

bluetooth: controller: Increase range of periodic sync buffer size
  subsys/bluetooth/controller/Kconfig
Labels: none

bootloader: Add inter-image dependencies in nRF53
  doc/nrf/releases/release-notes-changelog.rst
  modules/mcuboot/CMakeLists.txt
  subsys/bootloader/Kconfig
Labels: doc-required

zigbee: Enforce eual versions of upgrade images
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_switch/boards/nrf5340dk_nrf5340_cpuapp_fota.conf
Labels: doc-required

tfm: Add API documentation for platform secure services
  include/tfm/tfm_ioctl_api.h
Labels: none

samples: nrf_rpc: Fix entropy get result decoding
  samples/nrf_rpc/entropy_nrf53/cpuapp/src/entropy_ser.c
Labels: none

zigbee: Allow for using USB logs in NCP
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/ncp/src/main.c
  subsys/zigbee/osif/zb_nrf_serial_logger.c
Labels: doc-required

tfm: Allow log output to be enabled in minimal configuration
  modules/tfm/zephyr/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
Labels: none

Bluetooth: tests: Add platform_allow to fast_pair testcase
  tests/subsys/bluetooth/fast_pair/crypto/testcase.yaml
Labels: none

applications: asset_tracker_v2: Change to deferred logging
  applications/asset_tracker_v2/overlay-debug.conf
  applications/asset_tracker_v2/prj.conf
Labels: none

manifest: update homekit revision
  west.yml
Labels: manifest

applications: revert workaround for Thingy53 Matter weather station
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg_release.conf
Labels: none

application: serial_lte_modem: Support AGPS filter by elevation
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: none

bluetooth: controller: Increase range of periodic sync buffer size
  subsys/bluetooth/controller/Kconfig
Labels: none

boards: nrf5340dk_audio_dk_nrf5340_ns: Enable PINCTRL by default
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_ns_defconfig
Labels: none

tfm: Add API documentation for platform secure services
  include/tfm/tfm_ioctl_api.h
Labels: none

lib: pdn: fix legacy PCO mode
  lib/pdn/pdn.c
Labels: none

doc: add software maturity table
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/software_maturity.rst
Labels: doc-required

crypto: Disable TF-M minimal configuration for crypto samples
  samples/crypto/aes_cbc/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/aes_cbc/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/aes_ccm/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/aes_ccm/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/aes_ctr/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/aes_ctr/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/aes_gcm/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/aes_gcm/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/chachapoly/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/chachapoly/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/ecdh/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/ecdh/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/ecdsa/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/ecdsa/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/hkdf/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/hkdf/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/hmac/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/hmac/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/persistent_key_usage/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/persistent_key_usage/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/rng/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/rng/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/rsa/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/rsa/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/sha256/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/sha256/boards/nrf9160dk_nrf9160_ns.conf
Labels: none

partition_manager: Align dependencies on size definition with inclusion
  subsys/partition_manager/CMakeLists.txt
  subsys/partition_manager/Kconfig
  subsys/partition_manager/pm.yml.file_system
Labels: none

tfm: Configure storage partitions as non-secure with TF-M enabled
  boards/arm/thingy91_nrf9160/pm_static.yml
  modules/tfm/tfm/boards/partition/flash_layout.h
  modules/tfm/tfm/boards/partition/region_defs.h
  modules/tfm/zephyr/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
  subsys/partition_manager/Kconfig.template.partition_size
  subsys/partition_manager/pm.yml.emds
  subsys/partition_manager/pm.yml.file_system
  subsys/partition_manager/pm.yml.memfault
  subsys/partition_manager/pm.yml.nvs
  subsys/partition_manager/pm.yml.pgps
  subsys/partition_manager/pm.yml.settings
  subsys/partition_manager/pm.yml.tfm
  subsys/partition_manager/pm.yml.zboss
Labels: none

samples: nrf9160: modem_shell: fix device reboot after FOTA download
  samples/nrf9160/modem_shell/src/fota/fota.c
Labels: none

doc: xip: add section to nRF5340DK UG
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

manifest: Update sdk-zephyr revision
  west.yml
Labels: manifest

doc: zigbee: update VSC screenshots in ZQSG
  doc/nrf/images/zigbee_qsg_vsc_create_application_section.png
  doc/nrf/images/zigbee_qsg_vsc_flash.png
  doc/nrf/images/zigbee_qsg_vsc_generate_config_section.png
  doc/nrf/images/zigbee_qsg_vsc_generating_config_prompt_full.png
  doc/nrf/images/zigbee_qsg_vsc_welcome_section.png
  doc/nrf/ug_zigbee_qsg.rst
Labels: doc-required

lib: nrf_cloud: return if no valid A-GPS error code found
  include/net/nrf_cloud.h
  include/net/nrf_cloud_agps.h
  samples/nrf9160/modem_shell/src/cloud/cloud_mqtt_shell.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
Labels: none

samples: nrf9160: modem_shell: check if UART1 is configured
  samples/nrf9160/modem_shell/src/uart/uart.c
Labels: none

tfm: Kconfig: Increase crypto heap when using RSA on cc3xx
  modules/trusted-firmware-m/Kconfig
Labels: none

samples: matter: increase the nrf5_rx stack size
  doc/nrf/links.txt
  samples/matter/light_bulb/prj.conf
  samples/matter/light_bulb/prj_no_dfu.conf
  samples/matter/light_bulb/prj_release.conf
  samples/matter/light_switch/prj.conf
  samples/matter/light_switch/prj_no_dfu.conf
  samples/matter/light_switch/prj_release.conf
  samples/matter/lock/prj.conf
  samples/matter/lock/prj_no_dfu.conf
  samples/matter/lock/prj_release.conf
  samples/matter/template/prj.conf
  samples/matter/template/prj_no_dfu.conf
  samples/matter/template/prj_release.conf
  samples/matter/window_covering/prj.conf
  samples/matter/window_covering/prj_no_dfu.conf
  samples/matter/window_covering/prj_release.conf
  west.yml
Labels: manifest, doc-required

zigbee: Enforce eual versions of upgrade images
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_switch/boards/nrf5340dk_nrf5340_cpuapp_fota.conf
Labels: doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
