Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

doc: Improve the structure in Thingy GSG
  doc/nrf/glossary.rst
  doc/nrf/images/nrfcloud_activating_sim.png
  doc/nrf/images/programmer_add_file.png
  doc/nrf/images/programmer_add_file1.png
  doc/nrf/images/programmer_enable_mcuboot.png
  doc/nrf/images/programmer_ext_debug_hex_write.png
  doc/nrf/images/programmer_ext_debug_update_modem.png
  doc/nrf/images/programmer_hex_write.png
  doc/nrf/images/programmer_modemdfu.png
  doc/nrf/images/programmer_select_device.png
  doc/nrf/images/programmer_select_device1.png
  doc/nrf/images/programmer_usb_update_modem.png
  doc/nrf/images/thingy91_mcuboot_dfu.png
  doc/nrf/images/thingy91_mcuboot_dfu1.png
  doc/nrf/images/thingy91_modemdfu_mcuboot.png
  doc/nrf/images/thingy91_sim_iccid_puk.svg
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf9160_gs.rst
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_thingy91_gsg.rst
Labels: doc-required

bluetooth: controller: Add a new HCI vendor specific command.
  subsys/bluetooth/controller/hci_internal.c
Labels: none

samples: Bluetooth: throughput: Update sample to use inclusive naming
  samples/bluetooth/throughput/README.rst
  samples/bluetooth/throughput/src/main.c
Labels: doc-required

samples: Bluetooth: llpm: Update sample to use inclusive naming
  samples/bluetooth/llpm/README.rst
  samples/bluetooth/llpm/src/main.c
Labels: doc-required

Bluetooth: Mesh: invalidate inactive scheduler register
  subsys/bluetooth/mesh/scheduler_srv.c
Labels: none

matter: optimize QSPI NOR flash usage during DFU over SMP
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/common/src/dfu_over_smp.cpp
  samples/matter/common/src/dfu_over_smp.h
Labels: doc-required

dfu: pcd: Configure network core to non-secure when done
  subsys/pcd/src/pcd.c
Labels: none

doc: fixes to tool name formatting and spelling
  doc/nrf/ug_fw_update.rst
  doc/nrf/ug_multi_image.rst
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_zigbee_configuring_zboss_traces.rst
Labels: doc-required

matter: optimize QSPI NOR flash usage during DFU over SMP
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/common/src/dfu_over_smp.cpp
  samples/matter/common/src/dfu_over_smp.h
Labels: doc-required

doc: fixes to tool name formatting and spelling
  doc/nrf/ug_fw_update.rst
  doc/nrf/ug_multi_image.rst
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_zigbee_configuring_zboss_traces.rst
Labels: doc-required

doc: nrf5340audio: update figures
  doc/nrf/images/octave_application_structure.svg
  doc/nrf/images/octave_application_structure.vsdx
  doc/nrf/images/octave_application_structure_gateway.svg
  doc/nrf/images/octave_application_structure_gateway.vsdx
  doc/nrf/images/octave_application_structure_generic.svg
  doc/nrf/images/octave_application_structure_generic.vsdx
  doc/nrf/images/octave_application_sync_module_states.svg
  doc/nrf/images/octave_application_sync_module_states.vsdx
Labels: doc-required

manifest: Update Zephyr revision
  west.yml
Labels: manifest

doc: move nRF70 user guide to proper location
  doc/nrf/index.rst
  doc/nrf/ug_nrf7002.rst
Labels: doc-required

doc: move nRF70 user guide to proper location
  doc/nrf/index.rst
  doc/nrf/ug_nrf7002.rst
Labels: doc-required

hostap: pull changes to support IPv6-only build
  west.yml
Labels: manifest

samples: Bluetooth: df: Forward GPIO pins from app to network core
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/direction_finding_central/README.rst
  samples/bluetooth/direction_finding_central/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/direction_finding_central/child_image/hci_rpmsg/boards/nrf5340dk_nrf5340_cpunet.overlay
  samples/bluetooth/direction_finding_connectionless_rx/README.rst
  samples/bluetooth/direction_finding_connectionless_rx/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/direction_finding_connectionless_rx/child_image/hci_rpmsg/boards/nrf5340dk_nrf5340_cpunet.overlay
  samples/bluetooth/direction_finding_connectionless_tx/README.rst
  samples/bluetooth/direction_finding_connectionless_tx/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/direction_finding_connectionless_tx/child_image/hci_rpmsg/boards/nrf5340dk_nrf5340_cpunet.overlay
  samples/bluetooth/direction_finding_peripheral/README.rst
  samples/bluetooth/direction_finding_peripheral/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/direction_finding_peripheral/child_image/hci_rpmsg/boards/nrf5340dk_nrf5340_cpunet.overlay
Labels: doc-required

samples: Bluetooth: df: Add missing Kconfig to enable connectionless TX
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/direction_finding_connectionless_tx/prj.conf
Labels: doc-required

boards: nrf7002dk_nrf5340: Move usbd node overlay to common cpuapp dts
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_common.dts
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp.dts
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp_ns.dts
Labels: none

boards: nrf7002dk_nrf5340: Add nrf-gpio-forwarder node
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_common.dts
Labels: none

boards: nrf7002dk_nrf5340: Fix assignment of cpunet UART pins
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpunet-pinctrl.dtsi
Labels: none

bluetooth: SDC: Only fetch events when there's no data left to fetch
  subsys/bluetooth/controller/hci_driver.c
Labels: none

applications: connectivity_bridge: uart rx timeout and assert fix
  applications/connectivity_bridge/src/disk/config.c
  applications/connectivity_bridge/src/modules/uart_handler.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

scripts: add modemlib typedef for compliance
  scripts/checkpatch/typedefsfile
Labels: none

samples: bluetooth: throughput: Fix throughput calculation
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/throughput/src/main.c
Labels: doc-required

samples: bluetooth: throughput: Fix throughput calculation
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/throughput/src/main.c
Labels: doc-required

manifest: update homekit revision
  west.yml
Labels: manifest

nrf_802154: add ACK timeout to build configuration
  modules/nrfxlib/nrf_802154/CMakeLists.txt
  subsys/ieee802154/Kconfig
Labels: none

applications: connectivity_bridge: uart rx timeout and assert fix
  applications/connectivity_bridge/src/disk/config.c
  applications/connectivity_bridge/src/modules/uart_handler.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

upmerge: Auto upmerge test
  west.yml
Labels: manifest

app: serial_lte_modem: Remove log_strdup invocations
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  applications/serial_lte_modem/src/slm_at_socket.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  applications/serial_lte_modem/src/twi/slm_at_twi.c
Labels: none

applications: nrf_desktop: Remove log_strdup invocations
  applications/nrf_desktop/src/events/ble_event.c
  applications/nrf_desktop/src/events/hid_event.c
  applications/nrf_desktop/src/modules/ble_discovery.c
  applications/nrf_desktop/src/modules/ble_scan.c
Labels: none

lib: multicell_location: Remove log_strdup invocations
  lib/multicell_location/services/here_integration.c
  lib/multicell_location/services/polte_integration.c
Labels: none

net/lwm2m_client_utils: Remove log_strdup invocations
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
Labels: none

lib: sms: Remove log_strdup invocations
  lib/sms/sms.c
  lib/sms/sms_deliver.c
  lib/sms/sms_submit.c
Labels: none

lib: lte_link_control: Remove log_strdup invocations
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc_helpers.c
Labels: none

zigbee: Remove log_strdup invocations
  subsys/zigbee/lib/zigbee_app_utils/zigbee_app_utils.c
  subsys/zigbee/lib/zigbee_logger_ep/zigbee_logger_eprxzcl.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_attr_report.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_nbr.c
Labels: none

applications: asset_tracker_v2: Remove log_strdup invocations
  applications/asset_tracker_v2/src/cloud/aws_iot_integration.c
  applications/asset_tracker_v2/src/cloud/azure_iot_hub_integration.c
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
  applications/asset_tracker_v2/src/events/app_module_event.c
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors_bsec.c
  applications/asset_tracker_v2/src/modules/modem_module.c
  applications/asset_tracker_v2/src/modules/modules_common.c
Labels: none

net/lib/nrf_cloud: Remove log_strdup invocations
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps_utils.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: none

lib: location: Remove log_strdup invocations
  lib/location/location_core.c
  lib/location/location_utils.c
  lib/location/method_wifi.c
  lib/location/wifi/wifi_here_rest.c
  lib/location/wifi/wifi_nrf_cloud_rest.c
Labels: none

net: lib: azure_iot_hub: Remove log_strdup invocations
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_dps.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_topic.c
Labels: none
