Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

samples: peripheral: lpuart: Tweak sample configuration
  samples/peripheral/lpuart/boards/nrf21540dk_nrf52840.conf
  samples/peripheral/lpuart/boards/nrf21540dk_nrf52840.overlay
  samples/peripheral/lpuart/boards/nrf52833dk_nrf52833.conf
  samples/peripheral/lpuart/boards/nrf52833dk_nrf52833.overlay
  samples/peripheral/lpuart/boards/nrf52840dk_nrf52840.conf
  samples/peripheral/lpuart/boards/nrf52840dk_nrf52840.overlay
  samples/peripheral/lpuart/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/peripheral/lpuart/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/peripheral/lpuart/boards/nrf9160dk_nrf9160_ns.conf
  samples/peripheral/lpuart/debug.conf
  samples/peripheral/lpuart/debug.overlay
  samples/peripheral/lpuart/prj.conf
  samples/peripheral/lpuart/sample.yaml
Labels: none

samples: bluetooth: hci_uart: Remove workaround for lpuart
  samples/bluetooth/hci_lpuart/prj.conf
Labels: none

drivers: serial: lpuart: Rework to use nrfx_gpiote
  drivers/serial/uart_nrf_sw_lpuart.c
Labels: none

tests: drivers: Add test for lpuart
  tests/drivers/lpuart/CMakeLists.txt
  tests/drivers/lpuart/Kconfig
  tests/drivers/lpuart/README
  tests/drivers/lpuart/boards/nrf9160dk_nrf52840.conf
  tests/drivers/lpuart/boards/nrf9160dk_nrf52840.overlay
  tests/drivers/lpuart/boards/nrf9160dk_nrf52840_0_14_0.overlay
  tests/drivers/lpuart/boards/nrf9160dk_nrf9160.conf
  tests/drivers/lpuart/boards/nrf9160dk_nrf9160.overlay
  tests/drivers/lpuart/boards/nrf9160dk_nrf9160_0_14_0.overlay
  tests/drivers/lpuart/boards/nrf9160dk_nrf9160_loopback.overlay
  tests/drivers/lpuart/dbg.conf
  tests/drivers/lpuart/prj.conf
  tests/drivers/lpuart/src/main.c
  tests/drivers/lpuart/testcase.yaml
Labels: none

CODEOWNERS: Add low power UART code owner
  CODEOWNERS
Labels: none

samples: nrf9160: lte_ble_gateway: Remove workaround for lpuart
  samples/nrf9160/lte_ble_gateway/prj.conf
Labels: none

applications: nrf5340_audio: change SDMMC_OVER_SPI to SPI_SDHC
  applications/nrf5340_audio/prj.conf
  applications/nrf5340_audio/src/modules/sd_card.c
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_common.dts
Labels: none

samples: bluetooth: Enable BT privacy in peripheral HIDS Mouse.
  samples/bluetooth/peripheral_hids_mouse/Kconfig
  samples/bluetooth/peripheral_hids_mouse/child_image/rpc_host.conf
Labels: none

doc: bluetooth: Add a note about configuration when using Zephyr LL.
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_ble_controller.rst
Labels: doc-required

manifest: update zephyr
  CODEOWNERS
  west.yml
Labels: manifest

sample: lwm2m_carrier: Add shell
  samples/nrf9160/lwm2m_carrier/prj.conf
Labels: none

samples: nrf9160: lte_ble_gateway: Remove workaround for lpuart
  samples/nrf9160/lte_ble_gateway/prj.conf
Labels: none

drivers: serial: lpuart: Rework to use nrfx_gpiote
  drivers/serial/uart_nrf_sw_lpuart.c
Labels: none

CODEOWNERS: Add low power UART code owner
  CODEOWNERS
Labels: none

tests: drivers: Add test for lpuart
  tests/drivers/lpuart/CMakeLists.txt
  tests/drivers/lpuart/Kconfig
  tests/drivers/lpuart/README
  tests/drivers/lpuart/boards/nrf9160dk_nrf52840.conf
  tests/drivers/lpuart/boards/nrf9160dk_nrf52840.overlay
  tests/drivers/lpuart/boards/nrf9160dk_nrf52840_0_14_0.overlay
  tests/drivers/lpuart/boards/nrf9160dk_nrf9160.conf
  tests/drivers/lpuart/boards/nrf9160dk_nrf9160.overlay
  tests/drivers/lpuart/boards/nrf9160dk_nrf9160_0_14_0.overlay
  tests/drivers/lpuart/boards/nrf9160dk_nrf9160_loopback.overlay
  tests/drivers/lpuart/dbg.conf
  tests/drivers/lpuart/prj.conf
  tests/drivers/lpuart/src/main.c
  tests/drivers/lpuart/testcase.yaml
Labels: none

samples: peripheral: lpuart: Tweak sample configuration
  samples/peripheral/lpuart/boards/nrf21540dk_nrf52840.conf
  samples/peripheral/lpuart/boards/nrf21540dk_nrf52840.overlay
  samples/peripheral/lpuart/boards/nrf52833dk_nrf52833.conf
  samples/peripheral/lpuart/boards/nrf52833dk_nrf52833.overlay
  samples/peripheral/lpuart/boards/nrf52840dk_nrf52840.conf
  samples/peripheral/lpuart/boards/nrf52840dk_nrf52840.overlay
  samples/peripheral/lpuart/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/peripheral/lpuart/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/peripheral/lpuart/boards/nrf9160dk_nrf9160_ns.conf
  samples/peripheral/lpuart/debug.conf
  samples/peripheral/lpuart/debug.overlay
  samples/peripheral/lpuart/prj.conf
  samples/peripheral/lpuart/sample.yaml
Labels: none

samples: bluetooth: hci_uart: Remove workaround for lpuart
  samples/bluetooth/hci_lpuart/prj.conf
Labels: none

manifest: update zephyr
  CODEOWNERS
  west.yml
Labels: manifest

applications: nrf5340_audio: Update controller to version 3287
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3269.hex
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3287.hex
  applications/nrf5340_audio/bin/manifest.yaml
  applications/nrf5340_audio/src/audio/audio_datapath.c
Labels: none

applications: nrf5340_audio: Add bonding
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  applications/nrf5340_audio/src/main.c
  west.yml
Labels: manifest

doc: release: Update changelog
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3287.hex
  applications/nrf5340_audio/prj.conf
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  doc/nrf/releases/release-notes-changelog.rst
  west.yml
Labels: manifest, doc-required

applications: asset_tracker_v2: Decouple nrf cloud codec from json common
  applications/asset_tracker_v2/src/cloud/cloud_codec/CMakeLists.txt
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/json_protocol_names_nrf_cloud.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
Labels: none

samples: nrf9160: lwm2m_client: Generate timestamp for location
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_location.c
Labels: doc-required

kconfig: mpsl: Mark 1-wire coex as supported for production
  subsys/mpsl/cx/Kconfig
Labels: none

applications: nrf5340_audio: Add bonding
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  applications/nrf5340_audio/src/main.c
  west.yml
Labels: manifest

applications: nrf5340_audio: Update controller to version 3287
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3269.hex
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3287.hex
  applications/nrf5340_audio/bin/manifest.yaml
  applications/nrf5340_audio/src/audio/audio_datapath.c
Labels: none

doc: release: Update changelog
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3287.hex
  applications/nrf5340_audio/prj.conf
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  doc/nrf/releases/release-notes-changelog.rst
  west.yml
Labels: manifest, doc-required

doc: nrf5340audio: update figures
  doc/nrf/images/octave_application_structure.svg
  doc/nrf/images/octave_application_structure.vsdx
  doc/nrf/images/octave_application_structure_gateway.svg
  doc/nrf/images/octave_application_structure_gateway.vsdx
  doc/nrf/images/octave_application_structure_generic.svg
  doc/nrf/images/octave_application_structure_generic.vsdx
  doc/nrf/images/octave_application_sync_module_states.svg
  doc/nrf/images/octave_application_sync_module_states.vsdx
Labels: doc-required

applications: asset_tracker_v2: Decouple nrf cloud codec from json common
  applications/asset_tracker_v2/src/cloud/cloud_codec/CMakeLists.txt
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/json_protocol_names_nrf_cloud.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
Labels: none

Doc: Known issues: Mesh device fails IV update
  doc/nrf/known_issues.rst
Labels: doc-required

doc: nrf5340_audio: Change documentation to fit BAP implementation
  applications/nrf5340_audio/README.rst
  doc/nrf/links.txt
Labels: doc-required

applications: asset_tracker_v2: don't abort config on invalid entry
  applications/asset_tracker_v2/src/modules/data_module.c
Labels: none

doc: nrf5340_audio: Change documentation to fit BAP implementation
  applications/nrf5340_audio/README.rst
  doc/nrf/links.txt
Labels: doc-required

Implement sample assignments, add time client
  samples/bluetooth/mesh/Time_Client/CMakeLists.txt
  samples/bluetooth/mesh/Time_Client/Set_Time.py
  samples/bluetooth/mesh/Time_Client/include/model_handler.h
  samples/bluetooth/mesh/Time_Client/prj.conf
  samples/bluetooth/mesh/Time_Client/sample.yaml
  samples/bluetooth/mesh/Time_Client/src/main.c
  samples/bluetooth/mesh/Time_Client/src/model_handler.c
  samples/bluetooth/mesh/gen_onoff_playground/CMakeLists.txt
  samples/bluetooth/mesh/gen_onoff_playground/include/model_handler.h
  samples/bluetooth/mesh/gen_onoff_playground/prj.conf
  samples/bluetooth/mesh/gen_onoff_playground/sample.yaml
  samples/bluetooth/mesh/gen_onoff_playground/src/main.c
  samples/bluetooth/mesh/gen_onoff_playground/src/model_handler.c
  samples/bluetooth/mesh/light/src/main.c
  samples/bluetooth/mesh/light/src/model_handler.c
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_ctrl/prj.conf
  samples/bluetooth/mesh/light_ctrl/src/model_handler.c
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_switch/src/model_handler.c
  samples/bluetooth/mesh/printy_timey_blinkey/src/main.c
Labels: none

Add debug lib for nrf52dk
  include/nrf52_dbg_pins.h
  lib/dk_buttons_and_leds/CMakeLists.txt
  lib/dk_buttons_and_leds/Kconfig
  lib/dk_buttons_and_leds/nrf52_dbg_pins.c
Labels: none

tree: Remove CI checks on nrf51 boards
  samples/bluetooth/central_bas/sample.yaml
  samples/bluetooth/central_hids/sample.yaml
  samples/bluetooth/central_smp_client/sample.yaml
  samples/bluetooth/central_uart/sample.yaml
  samples/bluetooth/enocean/sample.yaml
  samples/bluetooth/peripheral_gatt_dm/sample.yaml
  samples/bluetooth/peripheral_hids_mouse/sample.yaml
  samples/bluetooth/peripheral_lbs/sample.yaml
  samples/bluetooth/peripheral_uart/sample.yaml
  samples/bluetooth/shell_bt_nus/sample.yaml
  samples/bootloader/sample.yaml
  samples/esb/prx/sample.yaml
  samples/esb/ptx/sample.yaml
  tests/drivers/fprotect/negative/testcase.yaml
  tests/drivers/fprotect/positive/testcase.yaml
  tests/drivers/nrfx_integration_test/testcase.yaml
  tests/modules/mcuboot/direct_xip/testcase.yaml
  tests/subsys/app_event_manager/testcase.yaml
  tests/subsys/bluetooth/fast_pair/crypto/testcase.yaml
  tests/subsys/bluetooth/fast_pair/storage/testcase.yaml
  tests/subsys/bootloader/bl_crypto/testcase.yaml
  tests/subsys/bootloader/bl_validation/testcase.yaml
  tests/subsys/caf/sensor_data_aggregator/testcase.yaml
  tests/subsys/dfu/dfu_target/mcuboot/testcase.yaml
  tests/subsys/dfu/dfu_target_mcuboot/testcase.yaml
  tests/subsys/fw_info/testcase.yaml
  tests/subsys/nrf_profiler/testcase.yaml
Labels: none

manifest: update Find My revision
  west.yml
Labels: manifest

dts: Add missing IPC entry for BLE HCI RPMsg
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_common.dts
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpunet.dts
Labels: none

net: lib: nrf_cloud: add PVT encoding support
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  include/net/nrf_cloud_rest.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_codec.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_cell_pos.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: doc-required

applications: asset_tracker_v2: use nrf_cloud's PVT encoding
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
Labels: none
