Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

applications: nrf_desktop: motion_sensor: use DEVICE_DT_GET_ONE
  applications/nrf_desktop/configuration/common/motion_sensor.h
  applications/nrf_desktop/src/hw_interface/motion_sensor.c
Labels: none

manifest: openthread update with MTD DUA fix
  doc/nrf/releases/release-notes-changelog.rst
  west.yml
Labels: manifest, doc-required

doc: add doc building process page
  doc/nrf/doc_build_process.rst
  doc/nrf/documentation.rst
  doc/nrf/links.txt
Labels: doc-required

sample: Zigbee shell: Add support for nRF52 Dongle and USB transport
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/shell/CMakeLists.txt
  samples/zigbee/shell/README.rst
  samples/zigbee/shell/app_usb.overlay
  samples/zigbee/shell/boards/nrf5340dk_nrf5340_cpuapp_usb.conf
  samples/zigbee/shell/pm_static_nrf52840dongle_nrf52840_usb.yml
  samples/zigbee/shell/prj_usb.conf
  samples/zigbee/shell/sample.yaml
  samples/zigbee/shell/src/main.c
Labels: doc-required

doc: Update Zigbee memory requirements tables
  doc/nrf/ug_zigbee_memory.rst
Labels: doc-required

Bluetooth: Mesh: Added emds support to mesh models
  doc/nrf/libraries/bluetooth_services/mesh/gen_plvl_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_hue_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_sat_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_temp_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_xyl_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/lightness_srv.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/mesh/gen_plvl_srv.h
  include/bluetooth/mesh/light_hue_srv.h
  include/bluetooth/mesh/light_sat_srv.h
  include/bluetooth/mesh/light_temp_srv.h
  include/bluetooth/mesh/light_xyl_srv.h
  include/bluetooth/mesh/lightness_srv.h
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/light_hsl_srv.c
  subsys/bluetooth/mesh/light_hue_srv.c
  subsys/bluetooth/mesh/light_sat_srv.c
  subsys/bluetooth/mesh/light_temp_srv.c
  subsys/bluetooth/mesh/light_xyl_srv.c
  subsys/bluetooth/mesh/lightness_internal.h
  subsys/bluetooth/mesh/lightness_srv.c
  subsys/bluetooth/mesh/model_utils.h
  tests/subsys/bluetooth/mesh/models/src/main.c
  tests/subsys/bluetooth/mesh/models/testcase.yaml
Labels: doc-required

applications: nrf_desktop: use DEVICE_DT_GET for qdec
  applications/nrf_desktop/src/hw_interface/wheel.c
Labels: none

application: serial_lte_modem: BUG-FIX GNSS sleep/wakeup event
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

ci: Delay jenkins pull request webhook
  .github/workflows/jenkins-trigger.yml
Labels: none

Revert "ci: Delay jenkins pull request webhook"
  .github/workflows/jenkins-trigger.yml
Labels: none

Revert "ci: Delay jenkins pull request webhook"
  .github/workflows/jenkins-trigger.yml
Labels: none

manifest: update homekit revision
  west.yml
Labels: manifest

bluetooth: fast_pair: Make key generation failure counter global
  subsys/bluetooth/services/fast_pair/fp_keys.c
Labels: none

bluetooth: fast_pair: Build fp_crypto as a separate library
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_crypto/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/fp_crypto/Kconfig.fp_crypto
  subsys/bluetooth/services/fast_pair/fp_crypto/fp_crypto_common.c
  subsys/bluetooth/services/fast_pair/fp_crypto/fp_crypto_mbedtls.c
  subsys/bluetooth/services/fast_pair/fp_crypto/fp_crypto_tinycrypt.c
  subsys/bluetooth/services/fast_pair/fp_crypto/include/fp_crypto.h
  subsys/bluetooth/services/fast_pair/include/common/fp_common.h
  tests/subsys/bluetooth/fast_pair/crypto/CMakeLists.txt
  tests/subsys/bluetooth/fast_pair/crypto/Kconfig
Labels: none

bluetooth: fast_pair: Build fp_storage as a separate library
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_storage/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/fp_storage/Kconfig.fp_storage
  subsys/bluetooth/services/fast_pair/fp_storage/fp_storage.c
  subsys/bluetooth/services/fast_pair/fp_storage/include/fp_storage.h
  subsys/bluetooth/services/fast_pair/fp_storage/include_priv/fp_storage_priv.h
  tests/subsys/bluetooth/fast_pair/storage/CMakeLists.txt
  tests/subsys/bluetooth/fast_pair/storage/Kconfig
  tests/subsys/bluetooth/fast_pair/storage/prj.conf
Labels: none

manifest: openthread update with MTD DUA fix
  doc/nrf/releases/release-notes-changelog.rst
  west.yml
Labels: manifest, doc-required

manifest: update homekit revision
  west.yml
Labels: manifest

samples: app_event_manager: Test configuration with shell
  samples/app_event_manager/sample.yaml
Labels: none

KRKNWK-14615: Fix coverity issue in PHY Test Tool
  samples/peripheral/802154_phy_test/src/ctrl/ptt_zb_perf_cmd_mode_uart.c
Labels: none

samples: peripheral_fast_pair: Limit discoverable adv session
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_fast_pair/README.rst
  samples/bluetooth/peripheral_fast_pair/prj.conf
  samples/bluetooth/peripheral_fast_pair/src/main.c
Labels: doc-required

manifest: update nrfxlib revision
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_ot_memory.rst
  west.yml
Labels: manifest, doc-required

caf: leds: Add polychromatic LED glitches to known issues
  doc/nrf/known_issues.rst
  doc/nrf/libraries/caf/leds.rst
Labels: doc-required

application: serial_lte_modem: Support GNSS data delete
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  applications/serial_lte_modem/src/slm_at_commands.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

application: serial_lte_modem: Support GNSS data delete
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  applications/serial_lte_modem/src/slm_at_commands.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

bluetooth: fast_pair: Build fp_storage as a separate library
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_storage/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/fp_storage/Kconfig.fp_storage
  subsys/bluetooth/services/fast_pair/fp_storage/fp_storage.c
  subsys/bluetooth/services/fast_pair/fp_storage/include/fp_storage.h
  subsys/bluetooth/services/fast_pair/fp_storage/include_priv/fp_storage_priv.h
  tests/subsys/bluetooth/fast_pair/storage/CMakeLists.txt
  tests/subsys/bluetooth/fast_pair/storage/Kconfig
  tests/subsys/bluetooth/fast_pair/storage/prj.conf
Labels: none

bluetooth: fast_pair: Build fp_crypto as a separate library
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_crypto/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/fp_crypto/Kconfig.fp_crypto
  subsys/bluetooth/services/fast_pair/fp_crypto/fp_crypto_common.c
  subsys/bluetooth/services/fast_pair/fp_crypto/fp_crypto_mbedtls.c
  subsys/bluetooth/services/fast_pair/fp_crypto/fp_crypto_tinycrypt.c
  subsys/bluetooth/services/fast_pair/fp_crypto/include/fp_crypto.h
  subsys/bluetooth/services/fast_pair/include/common/fp_common.h
  tests/subsys/bluetooth/fast_pair/crypto/CMakeLists.txt
  tests/subsys/bluetooth/fast_pair/crypto/Kconfig
Labels: none

applications: machine_learning: Cleanup event API references
  applications/machine_learning/README.rst
  applications/machine_learning/src/events/ei_data_forwarder_event.h
  applications/machine_learning/src/events/ml_app_mode_event.h
  applications/machine_learning/src/events/ml_result_event.h
  applications/machine_learning/src/events/sensor_sim_event.h
Labels: doc-required

doc: SLM small doc fix
  applications/serial_lte_modem/doc/DFU_AT_commands.rst
  applications/serial_lte_modem/doc/FOTA_AT_commands.rst
  applications/serial_lte_modem/doc/GPIO_AT_commands.rst
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/doc/MQTT_AT_commands.rst
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
Labels: doc-required

applications: asset_tracker_v2: LwM2M codec cleanup
  applications/asset_tracker_v2/overlay-lwm2m.conf
  applications/asset_tracker_v2/src/cloud/cloud_codec/Kconfig
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec.c
Labels: none

samples: app_event_manager: Test configuration with shell
  samples/app_event_manager/sample.yaml
Labels: none

caf: leds: Add polychromatic LED glitches to known issues
  doc/nrf/known_issues.rst
  doc/nrf/libraries/caf/leds.rst
Labels: doc-required

samples: peripheral_fast_pair: Limit discoverable adv session
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_fast_pair/README.rst
  samples/bluetooth/peripheral_fast_pair/prj.conf
  samples/bluetooth/peripheral_fast_pair/src/main.c
Labels: doc-required

manifest: update nrfxlib revision
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_ot_memory.rst
  west.yml
Labels: manifest, doc-required

doc: SLM small doc fix
  applications/serial_lte_modem/doc/DFU_AT_commands.rst
  applications/serial_lte_modem/doc/FOTA_AT_commands.rst
  applications/serial_lte_modem/doc/GPIO_AT_commands.rst
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/doc/MQTT_AT_commands.rst
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
Labels: doc-required

applications: asset_tracker_v2: Wait before reconnecting to cloud
  applications/asset_tracker_v2/src/modules/cloud_module.c
Labels: none

doc: vsc: update naming conventions in docs
  doc/nrf/gs_updating.rst
  doc/nrf/includes/vsc_build_and_run.txt
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_nrf9160.rst
  doc/nrf/ug_thingy53.rst
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_zigbee_qsg.rst
  samples/bootloader/README.rst
Labels: doc-required

manifest: zephyr, mcuboot, upmerge 20220622
  west.yml
Labels: manifest

net: lwm2m_client_utils: Replaced and fix deprecated API usage
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_accelerometer.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_buzzer.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_device.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_gas_res_sensor.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_humid_sensor.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_light_control.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_light_sensor.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_onoff_switch.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_portfolio_object.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_press_sensor.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_push_button.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_temp_sensor.c
  samples/nrf9160/lwm2m_client/src/modules/sensor_module.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_connmon.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
Labels: none

doc: documented latest upmerge SHA and revision
  doc/nrf/releases/release-notes-changelog.rst
  doc/versions.json
Labels: doc-required

lib: pdn: remove use of C99 format specifiers
  lib/pdn/pdn.c
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
