Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

applications: nrf5340_audio: Update build script
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/tools/buildprog/buildprog.py
  applications/nrf5340_audio/tools/buildprog/nrf5340_audio_dk_devices.py
  applications/nrf5340_audio/tools/buildprog/program.py
Labels: doc-required

nrf_802154: Move HP timer platform to sdk-nrf
  modules/nrfxlib/nrf_802154/CMakeLists.txt
  modules/nrfxlib/nrf_802154/sl/platform/nrf_802154_hp_timer.c
  west.yml
Labels: manifest

matter: pull fix for including SED intervals
  west.yml
Labels: manifest

applications: matter: fix log and shell synchronization
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
Labels: none

nrf_modem_lib: trace_backends: fix log module
  lib/nrf_modem_lib/trace_backends/rtt/rtt.c
  lib/nrf_modem_lib/trace_backends/uart/uart.c
  lib/nrf_modem_lib/trace_backends/uart/uart_sync.c
Labels: none

applications: asset_tracker_v2: Tweak transmission buffers
  applications/asset_tracker_v2/overlay-lwm2m.conf
Labels: none

nrf_802154: Move HP timer platform to sdk-nrf
  modules/nrfxlib/nrf_802154/CMakeLists.txt
  modules/nrfxlib/nrf_802154/sl/platform/nrf_802154_hp_timer.c
  west.yml
Labels: manifest

nrf_rpc: Add protocol versioning
  west.yml
Labels: manifest

lib: nrf_modem: add include guard to nrf_modem_lib.h
  include/modem/nrf_modem_lib.h
Labels: none

samples: Bluetooth: throughput: Update sample to use inclusive naming
  samples/bluetooth/throughput/README.rst
  samples/bluetooth/throughput/src/main.c
Labels: doc-required

samples: Bluetooth: llpm: Update sample to use inclusive naming
  samples/bluetooth/llpm/README.rst
  samples/bluetooth/llpm/src/main.c
Labels: doc-required

include: modem: align guards, doxygen groups and extern C declarations
  include/modem/at_cmd_parser.h
  include/modem/at_monitor.h
  include/modem/at_params.h
  include/modem/location.h
  include/modem/lte_lc.h
  include/modem/modem_attest_token.h
  include/modem/modem_jwt.h
  include/modem/modem_key_mgmt.h
  include/modem/nrf_modem_lib.h
  include/modem/nrf_modem_lib_trace.h
  include/modem/pdn.h
  include/modem/sms.h
  include/modem/trace_backend.h
Labels: none

manifest: update Find My revision
  west.yml
Labels: manifest

lib: location: Add LTE system mode sanity check
  doc/nrf/releases/release-notes-changelog.rst
  lib/location/location_utils.c
  lib/location/location_utils.h
  lib/location/method_gnss.c
Labels: doc-required

nrf_rpc: Add protocol versioning
  west.yml
Labels: manifest

manifest: update Find My revision
  west.yml
Labels: manifest

bluetooth: fast_pair: Introduce Account Key structure
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_common.c
  subsys/bluetooth/services/fast_pair/fp_advertising.c
  subsys/bluetooth/services/fast_pair/fp_gatt_service.c
  subsys/bluetooth/services/fast_pair/fp_keys.c
  subsys/bluetooth/services/fast_pair/fp_storage.c
  subsys/bluetooth/services/fast_pair/include/fp_common.h
  subsys/bluetooth/services/fast_pair/include/fp_crypto.h
  subsys/bluetooth/services/fast_pair/include/fp_keys.h
  subsys/bluetooth/services/fast_pair/include/fp_storage.h
  tests/subsys/bluetooth/fast_pair/crypto/src/main.c
  tests/subsys/bluetooth/fast_pair/storage/src/main.c
Labels: none

samples: Change duplitate name of testcase
  samples/nrf5340/remote_shell/sample.yaml
Labels: none

applications: matter: fix log and shell synchronization
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
Labels: none

samples: matter: Fixed open commissioning window condition
  applications/matter_weather_station/src/app_task.cpp
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/lock/src/app_task.cpp
Labels: none

manifest: update Find My revision
  west.yml
Labels: manifest

samples: Rename integration tests
  samples/bluetooth/peripheral_hids_mouse/sample.yaml
  samples/crypto/sha256/sample.yaml
  samples/matter/light_switch/sample.yaml
  samples/openthread/cli/sample.yaml
Labels: none

doc: updates on the sample templates
  doc/nrf/includes/build_and_run_nrf9160.txt
  doc/nrf/includes/tfm_spm_thingy91.txt
  doc/nrf/includes/thingy91_build_and_run.txt
  doc/nrf/known_issues.rst
  doc/nrf/templates/sample_README.rst
  samples/spm/README.rst
Labels: doc-required

doc: fix file name reference in Thingy53 GSG
  doc/nrf/images/programmer_thingy53_mcuboot_dfu.png
  doc/nrf/ug_thingy53_gs.rst
Labels: doc-required

ATv2 cloud codec refactor: impl cloud buffers using code generation
  applications/asset_tracker_v2/src/cloud/cloud_codec/.gitignore
  applications/asset_tracker_v2/src/cloud/cloud_codec/CMakeLists.txt
  applications/asset_tracker_v2/src/cloud/cloud_codec/aws_iot/aws_iot_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/azure_iot_hub/azure_iot_hub_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_buffer_types.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec_ringbuffer.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/generator.py
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/tests/json_common/CMakeLists.txt
  applications/asset_tracker_v2/tests/ui_module/CMakeLists.txt
Labels: none

samples: matter: Fixed open commissioning window condition
  applications/matter_weather_station/src/app_task.cpp
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/lock/src/app_task.cpp
Labels: none

manifest: update Find My revision
  west.yml
Labels: manifest

doc: fix file name reference in Thingy53 GSG
  doc/nrf/images/programmer_thingy53_mcuboot_dfu.png
  doc/nrf/ug_thingy53_gs.rst
Labels: doc-required

include: modem: align guards, doxygen groups and extern C declarations
  include/modem/at_cmd_parser.h
  include/modem/at_monitor.h
  include/modem/at_params.h
  include/modem/location.h
  include/modem/lte_lc.h
  include/modem/modem_attest_token.h
  include/modem/modem_jwt.h
  include/modem/modem_key_mgmt.h
  include/modem/nrf_modem_lib.h
  include/modem/nrf_modem_lib_trace.h
  include/modem/pdn.h
  include/modem/sms.h
  include/modem/trace_backend.h
Labels: none

lib: nrf_modem: add include guard to nrf_modem_lib.h
  include/modem/nrf_modem_lib.h
Labels: none

bluetooth: fast_pair: Introduce Account Key structure
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_common.c
  subsys/bluetooth/services/fast_pair/fp_advertising.c
  subsys/bluetooth/services/fast_pair/fp_gatt_service.c
  subsys/bluetooth/services/fast_pair/fp_keys.c
  subsys/bluetooth/services/fast_pair/fp_storage.c
  subsys/bluetooth/services/fast_pair/include/fp_common.h
  subsys/bluetooth/services/fast_pair/include/fp_crypto.h
  subsys/bluetooth/services/fast_pair/include/fp_keys.h
  subsys/bluetooth/services/fast_pair/include/fp_storage.h
  tests/subsys/bluetooth/fast_pair/crypto/src/main.c
  tests/subsys/bluetooth/fast_pair/storage/src/main.c
Labels: none

tests: caf: sensor_data_aggregator: add sensor_data_aggregator unit test
  CODEOWNERS
  doc/nrf/releases/release-notes-changelog.rst
  tests/subsys/caf/sensor_data_aggregator/CMakeLists.txt
  tests/subsys/caf/sensor_data_aggregator/app.overlay
  tests/subsys/caf/sensor_data_aggregator/prj.conf
  tests/subsys/caf/sensor_data_aggregator/src/events/CMakeLists.txt
  tests/subsys/caf/sensor_data_aggregator/src/events/test_events.c
  tests/subsys/caf/sensor_data_aggregator/src/events/test_events.h
  tests/subsys/caf/sensor_data_aggregator/src/main.c
  tests/subsys/caf/sensor_data_aggregator/src/modules/CMakeLists.txt
  tests/subsys/caf/sensor_data_aggregator/src/modules/test_basic.c
  tests/subsys/caf/sensor_data_aggregator/src/modules/test_config.h
  tests/subsys/caf/sensor_data_aggregator/src/modules/test_data_receiver.c
  tests/subsys/caf/sensor_data_aggregator/testcase.yaml
Labels: doc-required

caf: sensor_data_aggregator: fix module log config name
  subsys/caf/modules/sensor_data_aggregator.c
Labels: none

caf: sensor_data_aggregator: turn on kconfig if dts node exists
  samples/caf_sensor_manager/boards/nrf5340dk_nrf5340_cpuapp_nrf5340_singlecore.conf
  samples/caf_sensor_manager/prj.conf
  samples/caf_sensor_manager/remote/prj.conf
  subsys/caf/modules/Kconfig.sensor_data_aggregator
  tests/subsys/caf/sensor_data_aggregator/prj.conf
Labels: none

ATv2: set neighbor_cells to valid pointer
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/modem_module.c
Labels: none

ATv2: add more docs to cloud_codec.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec.h
Labels: none

Bluetooth: Mesh: Automatic decommission of EnOcean switch
  doc/nrf/libraries/bluetooth_services/mesh/vnd/silvair_enocean_srv.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/enocean.h
  samples/bluetooth/enocean/src/main.c
  subsys/bluetooth/enocean.c
  subsys/bluetooth/mesh/vnd/Kconfig
  subsys/bluetooth/mesh/vnd/silvair_enocean_srv.c
  tests/subsys/bluetooth/mesh/silvair_enocean_model/src/main.c
Labels: doc-required

mpsl: fem: fix Simple GPIO for nRF53 SoCs
  doc/nrf/releases/release-notes-changelog.rst
  subsys/mpsl/fem/Kconfig
Labels: doc-required

net: lib: rest_client: support for fetching only header
  subsys/net/lib/rest_client/src/rest_client.c
Labels: none

mpsl: fem: fix Simple GPIO for nRF53 SoCs
  doc/nrf/releases/release-notes-changelog.rst
  subsys/mpsl/fem/Kconfig
Labels: doc-required
