Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

applications: nrf_desktop: ble_qos: remove USB_CDC_ACM_DEVICE_NAME
  applications/nrf_desktop/doc/ble_qos.rst
  applications/nrf_desktop/src/modules/ble_qos.c
Labels: doc-required

applications: nrf_desktop: wheel: use DEVICE_DT_GET
  applications/nrf_desktop/src/hw_interface/wheel.c
Labels: none

applications: nrf_desktop: board: use DEVICE_DT_GET
  applications/nrf_desktop/configuration/common/port_state.h
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/port_state_def.h
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/port_state_def.h
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/port_state_def.h
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/port_state_def.h
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/port_state_def.h
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/port_state_def.h
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/port_state_def.h
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/port_state_def.h
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/port_state_def.h
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/port_state_def.h
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/port_state_def.h
  applications/nrf_desktop/src/hw_interface/board.c
Labels: none

applications: nrf_desktop: watchdog: use DEVICE_DT_GET
  applications/nrf_desktop/src/modules/watchdog.c
Labels: none

doc: tfm: upgrade configuration for 1.6.0
  doc/tfm/conf.py
Labels: doc-required

bluetooth: remove now unused config
  doc/nrf/app_memory.rst
  samples/bluetooth/peripheral_lbs/prj_minimal.conf
  samples/bluetooth/peripheral_uart/prj_minimal.conf
  subsys/bluetooth/controller/Kconfig
Labels: doc-required

manifest: Point to nrfxlib with ecdh legacy off
  west.yml
Labels: manifest

doc: crypto: Known issue for curve 25519
  doc/nrf/known_issues.rst
Labels: doc-required

doc: update documentation for NCS 2.0.2
  doc/nrf/conf.py
  doc/nrf/dm_adding_code.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.0.2.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

doc: update documentation for NCS 2.0.2
  doc/nrf/conf.py
  doc/nrf/dm_adding_code.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.0.2.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

doc: crypto: Known issue for curve 25519
  doc/nrf/known_issues.rst
Labels: doc-required

manifest: Point to nrfxlib with ecdh legacy off
  west.yml
Labels: manifest

applications: nrf5340_audio: Add dual CIS link feature (#34)
  applications/nrf5340_audio/Kconfig.defaults
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/sw_codec_select.h
  applications/nrf5340_audio/src/bluetooth/Kconfig
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  applications/nrf5340_audio/src/utils/pcm_stream_channel_modifier.c
  applications/nrf5340_audio/src/utils/pcm_stream_channel_modifier.h
Labels: none

doc: add NCS 2.0.2 doc updates to main
  doc/nrf/dm_adding_code.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.0.2.rst
  doc/nrf/shortcuts.txt
  doc/versions.json
Labels: doc-required

drivers: net: eth_rtt: allocate device from Devicetree
  doc/nrf/drivers/eth_rtt.rst
  drivers/net/Kconfig
  drivers/net/eth_rtt.c
  dts/bindings/net/segger,eth-rtt.yaml
  samples/crypto/psa_tls/app.overlay
Labels: doc-required

Bluetooth: Mesh: invalidate inactive scheduler register
  subsys/bluetooth/mesh/scheduler_srv.c
Labels: none

drivers: wifi: Update UMAC firmware patch with multicast fix
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: none

drivers: wifi: Add copyright and brief
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: none

samples: bluetooth: direct_test_mode: use DEVICE_DT_GET
  samples/bluetooth/direct_test_mode/src/fem/nrf21540.c
Labels: none

applications: asset_tracker_v2: distinguish acc act/inact events
  applications/asset_tracker_v2/doc/sensor_module.rst
  applications/asset_tracker_v2/src/events/app_module_event.c
  applications/asset_tracker_v2/src/events/app_module_event.h
  applications/asset_tracker_v2/src/events/sensor_module_event.c
  applications/asset_tracker_v2/src/events/sensor_module_event.h
  applications/asset_tracker_v2/src/ext_sensors/Kconfig
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors.c
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors.h
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/sensor_module.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

manifest: Update with tags for NCS v2.0.2
  west.yml
Labels: manifest

VERSION: Update to 2.0.2
  VERSION
Labels: none

drivers: wifi: Update UMAC firmware patch with multicast fix
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: none

drivers: wifi: Add copyright and brief
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: none

bluetooth: controller: Use central and peripheral specific enablers
  subsys/bluetooth/controller/hci_driver.c
Labels: none

applications: asset_tracker_v2: distinguish acc act/inact events
  applications/asset_tracker_v2/doc/sensor_module.rst
  applications/asset_tracker_v2/src/events/app_module_event.c
  applications/asset_tracker_v2/src/events/app_module_event.h
  applications/asset_tracker_v2/src/events/sensor_module_event.c
  applications/asset_tracker_v2/src/events/sensor_module_event.h
  applications/asset_tracker_v2/src/ext_sensors/Kconfig
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors.c
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors.h
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/sensor_module.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

VERSION: Update to 2.0.2
  VERSION
Labels: none

manifest: Update with tags for NCS v2.0.2
  west.yml
Labels: manifest

lib: nrf_modem: Remove log_strdup invocations
  lib/nrf_modem_lib/nrf_modem_lib.c
Labels: none

lib: at_monitor: Remove log_strdup invocations
  lib/at_monitor/at_monitor.c
Labels: none

samples: bluetooth: Remove log_strdup invocations
  samples/bluetooth/central_uart/src/main.c
  samples/bluetooth/peripheral_fast_pair/src/main.c
  samples/bluetooth/peripheral_uart/src/main.c
  samples/bluetooth/shell_bt_nus/src/main.c
Labels: none

partition_manager: Remove usage of fa_dev_name
  cmake/partition_manager.cmake
  scripts/partition_manager_output.py
  subsys/partition_manager/flash_map_partition_manager.c
Labels: none

partition_manager: Fix mergehex.py path
  cmake/partition_manager.cmake
Labels: none

lib: modem_info: Remove log_strdup invocations
  lib/modem_info/modem_info.c
Labels: none

mcuboot: nrf53_hooks: Replace device_get_binding
  modules/mcuboot/hooks/nrf53_hooks.c
Labels: none

boards: arm: thingy91_nrf9160: Change pwmleds frequency
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_common.dts
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

doc: add NCS 2.0.2 doc updates to main
  doc/nrf/dm_adding_code.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.0.2.rst
  doc/nrf/shortcuts.txt
  doc/versions.json
Labels: doc-required

applications: nrf5340_audio: Add DFU support
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/child_image/b0n.conf
  applications/nrf5340_audio/child_image/hci_rpmsg.conf
  applications/nrf5340_audio/overlay-dfu.conf
  applications/nrf5340_audio/overlay-dfu_external_flash.conf
  applications/nrf5340_audio/overlay-dfu_external_flash.overlay
  applications/nrf5340_audio/overlay-mcuboot.conf
  applications/nrf5340_audio/overlay-mcuboot_external_flash.conf
  applications/nrf5340_audio/pm_dfu_external_flash.yml
  applications/nrf5340_audio/pm_dfu_external_flash_2MB.yml
  applications/nrf5340_audio/shifted_bin/ble5-ctr-rpmsg_shifted.hex
  applications/nrf5340_audio/shifted_bin/ble5-ctr-rpmsg_shifted_min.hex
  applications/nrf5340_audio/shifted_bin/manifest.yaml
  applications/nrf5340_audio/src/main.c
  applications/nrf5340_audio/tools/buildprog/buildprog.py
  applications/nrf5340_audio/tools/buildprog/fw_info_data.py
  applications/nrf5340_audio/tools/buildprog/pcft_sign.py
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

net: lib: lwm2m_client_utils: fixed state handling on writing uri
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
Labels: none

manifest: Update memfault to 0.31.5
  west.yml
Labels: manifest
