Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

codeowners: change codeowner for mesh
  CODEOWNERS
Labels: none

zigbee: osif: zb_nrf_led_button: Use pwm_dt_spec
  subsys/zigbee/osif/zb_nrf_led_button.c
Labels: none

doc: libraries: caf: Align with changes in nRF PWM drivers and bindings
  doc/nrf/libraries/caf/leds.rst
Labels: doc-required

boards: Align with recent changes in nRF PWM drivers and bindings
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_common.dts
Labels: none

applications: Align overlays with changes in PWM drivers and bindings
  applications/machine_learning/configuration/nrf52840dk_nrf52840/app.overlay
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/app.overlay
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/app.overlay
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/app.overlay
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/app.overlay
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/app.overlay
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/app.overlay
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/app.overlay
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/app.overlay
Labels: none

samples: zigbee: Use pwm_dt_spec
  samples/zigbee/light_bulb/src/main.c
Labels: none

samples: matter: Align with recent changes in PWM API
  samples/matter/common/src/pwm_device.cpp
  samples/matter/common/src/pwm_device.h
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_bulb/src/lighting_manager.cpp
  samples/matter/light_bulb/src/lighting_manager.h
  samples/matter/window_covering/src/app_config.h
  samples/matter/window_covering/src/window_covering.cpp
Labels: none

manifest: Update Zephyr and Find My revisions
  west.yml
Labels: manifest

samples: bluetooth: Use pwm_dt_spec
  samples/bluetooth/mesh/light_ctrl/src/lc_pwm_led.c
  samples/bluetooth/nrf_dm/src/pwm_led.c
Labels: none

applications: matter_weather_station: Update DT buzzer, use pwm_dt_spec
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/app.overlay
  applications/matter_weather_station/src/buzzer.cpp
Labels: none

lib: st25r3911b: Update to not use deprecated spi_cs_control fields
  lib/st25r3911b/st25r3911b_spi.c
Labels: none

samples/nrf9160/lwm2m_client: Use pwm_dt_spec, update buzzer DT node
  samples/nrf9160/lwm2m_client/boards/thingy91_nrf9160_ns.overlay
  samples/nrf9160/lwm2m_client/dts/bindings/pwm-buzzer.yaml
  samples/nrf9160/lwm2m_client/src/ui/ui_buzzer.c
  samples/nrf9160/lwm2m_client/src/ui/ui_led.c
Labels: none

samples: Align with recent changes in nRF PWM drivers and bindings
  samples/caf/boards/nrf52840dk_nrf52840.overlay
  samples/caf/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/light_bulb/boards/nrf21540dk_nrf52840.overlay
  samples/matter/light_bulb/boards/nrf52840dk_nrf52840.overlay
  samples/matter/light_bulb/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/window_covering/boards/nrf21540dk_nrf52840.overlay
  samples/matter/window_covering/boards/nrf52840dk_nrf52840.overlay
  samples/matter/window_covering/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/nrf9160/lwm2m_client/boards/thingy91_nrf9160_ns.overlay
  samples/zigbee/light_bulb/boards/nrf21540dk_nrf52840.overlay
  samples/zigbee/light_bulb/boards/nrf52833dk_nrf52833.overlay
  samples/zigbee/light_bulb/boards/nrf52840dk_nrf52840.overlay
  samples/zigbee/light_bulb/boards/nrf5340dk_nrf5340_cpuapp.overlay
Labels: none

manifest: Update to PRS: nrfxlib:682 Mbed TLS:3 and TF-M:46 CHIP:61
  west.yml
Labels: manifest

doc: Add filter for nrfxlib PSA drivers
  doc/nrfxlib/nrfxlib.doxyfile.in
Labels: doc-required

samples: psa_tls: Enable PSA crypto initialization when used
  samples/crypto/psa_tls/src/main.c
Labels: none

samples: psa_tls: Updates to crypto configurations
  samples/crypto/psa_tls/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/psa_tls/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/psa_tls/overlays/cc3xx-legacy.conf
  samples/crypto/psa_tls/overlays/cc3xx-oberon-psa.conf
  samples/crypto/psa_tls/overlays/cc3xx-psa.conf
  samples/crypto/psa_tls/overlays/oberon-legacy.conf
  samples/crypto/psa_tls/overlays/oberon-psa.conf
  samples/crypto/psa_tls/prj.conf
  samples/crypto/psa_tls/sample.yaml
  tests/crypto/overlay-oberon.conf
Labels: none

samples: secure_services: Use sleep_time_s in call to k_sleep
  samples/nrf9160/secure_services/src/main.c
Labels: none

samples: Enable SPM explicitly in SPM tests
  samples/nrf9160/secure_services/prj.conf
Labels: none

tfm: Add platform services for firmware info functions
  include/tfm/tfm_ioctl_api.h
  modules/tfm/tfm/boards/CMakeLists.txt
  modules/tfm/tfm/boards/src/tfm_ioctl_ns_api.c
  modules/tfm/tfm/boards/src/tfm_platform_system.c
  subsys/fw_info/CMakeLists.txt
Labels: none

samples: bootloader: Add TF-M to s0 image span
  samples/bootloader/pm.yml
  scripts/partition_manager/partition_manager.rst
Labels: doc-required

samples: tfm_hello_world: Remove non-existent configuration
  samples/tfm/tfm_hello_world/child_image/mcuboot.conf
Labels: none

tests: Enable SPM explicitly in SPM tests
  tests/subsys/spm/secure_services/prj.conf
  tests/subsys/spm/thread_swap/prj.conf
Labels: none

samples: tfm_hello_world: Add firmware info service and bootloader conf
  samples/tfm/tfm_hello_world/sample.yaml
  samples/tfm/tfm_hello_world/src/main.c
Labels: none

boards: Refactor comment on default enabling of TF-M
  boards/arm/nrf5340_audio_dk_nrf5340/Kconfig.defconfig
Labels: none

boards: Enable TF-M by default for thingy91
  boards/arm/thingy91_nrf9160/CMakeLists.txt
  boards/arm/thingy91_nrf9160/Kconfig.defconfig
  boards/arm/thingy91_nrf9160/pm_static_spm.yml
Labels: none

fota_download: Add support for TF-M service to read s0 active status
  subsys/net/lib/fota_download/Kconfig
  subsys/net/lib/fota_download/src/fota_download.c
Labels: none

tfm: Fix flash region and layout for TF-M firmware upgrade
  modules/tfm/tfm/boards/CMakeLists.txt
  modules/tfm/tfm/boards/partition/flash_layout.h
  modules/tfm/tfm/boards/partition/region_defs.h
  modules/tfm/zephyr/CMakeLists.txt
  subsys/partition_manager/pm.yml.tfm
Labels: none

fw_info: Extract fw_info struct definition to its own header
  include/fw_info.h
  include/fw_info_bare.h
Labels: none

nrf_modem_lib: Disable TF-M logging when using modem trace
  lib/nrf_modem_lib/Kconfig.modemlib
Labels: none

tfm: Add configuration for crypto partition heap size
  modules/Kconfig
  modules/mbedtls/Kconfig
  modules/tfm/zephyr/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
Labels: none

bluetooth: fast_pair: Use tinycrypt in fast pair when TF-M is enabled
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  tests/subsys/bluetooth/fast_pair/crypto/testcase.yaml
Labels: none

tfm: Set CRYPTO_HW_ACCELERATOR=True
  modules/tfm/zephyr/CMakeLists.txt
Labels: none

manifest: Pull sdk-zephyr for default enabling of TF-M
  west.yml
Labels: manifest

samples: Disable TF-M when NRF_CLOUD_PGPS is enabled
  applications/asset_tracker_v2/overlay-pgps.conf
  applications/serial_lte_modem/prj.conf
  samples/nrf9160/gnss/overlay-pgps.conf
  samples/nrf9160/location/overlay-pgps.conf
  samples/nrf9160/modem_shell/overlay-pgps.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/prj.conf
Labels: none

tfm: Revert "tfm: mcuboot: Configure MCUBoot to use 32kb of flash"
  modules/mcuboot/tfm.conf
Labels: none

tests: fota_download: Add support for testing with TF-M enabled
  tests/subsys/net/lib/fota_download/CMakeLists.txt
  tests/subsys/net/lib/fota_download/prj.conf
  tests/subsys/net/lib/fota_download/src/main.c
Labels: none

tfm: Kconfig: Don't configure UART1 as secure with TF-M log disabled
  modules/trusted-firmware-m/Kconfig
Labels: none

tfm: Enable TF-M in minimal configuration by default
  doc/nrf/ug_tfm.rst
  modules/tfm/zephyr/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
  samples/crypto/psa_tls/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/psa_tls/boards/nrf9160dk_nrf9160_ns.conf
  samples/tfm/tfm_hello_world/prj.conf
  samples/tfm/tfm_secure_peripheral/prj.conf
  subsys/net/openthread/Kconfig
Labels: doc-required

tfm: Fix UART1 configuration using UART0 in text
  modules/tfm/zephyr/Kconfig
Labels: none
