Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

doc: Align platforms in rst and yaml
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/sample.yaml
  samples/bluetooth/mesh/light/sample.yaml
  samples/bluetooth/mesh/light_ctrl/sample.yaml
  samples/bluetooth/mesh/light_switch/sample.yaml
  samples/bluetooth/mesh/silvair_enocean/sample.yaml
Labels: none

application: serial_lte_modem: BUG-FIX null terminator
  applications/serial_lte_modem/src/slm_at_host.c
Labels: none

doc: Improve nRF Cloud device security docs
  doc/nrf/ext_comps.rst
  doc/nrf/glossary.rst
  doc/nrf/index.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf_cloud.rst
Labels: doc-required

VERSION: Update to 2.0.0-rc1
  VERSION
Labels: none

applications: Fixed FEM issue for Thingy53 Matter weather station.
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg_release.conf
Labels: none

openthread: Fix setting the correct TF-M build profile
  subsys/net/openthread/Kconfig
Labels: none

application: serial_lte_modem: Support AGPS filter by elevation
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: none

doc: Change warnings to notes
  applications/asset_tracker_v2/src/watchdog/watchdog_app.h
  include/bl_crypto.h
  include/bluetooth/mesh/scheduler_srv.h
  include/bluetooth/services/hids.h
  include/caf/events/power_event.h
  include/caf/events/sensor_event.h
  include/date_time.h
  include/mpsl/mpsl_work.h
  include/net/aws_iot.h
  include/net/azure_iot_hub.h
  include/net/nrf_cloud.h
  include/net/nrf_cloud_pgps.h
  include/nrf_profiler.h
  subsys/emds/emds_flash.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_fota.h
  tests/crypto/src/common_test.h
Labels: none

samples: nrf9160: multicell_location: skyhook support removed
  samples/nrf9160/multicell_location/README.rst
  samples/nrf9160/multicell_location/prj.conf
  samples/nrf9160/multicell_location/src/main.c
Labels: doc-required

samples: nrf9160: modem_shell: location: skyhook support removed
  samples/nrf9160/modem_shell/overlay-esp-wifi.conf
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/location/location_shell.c
Labels: none

lib: location: Skyhook service support removed
  doc/nrf/libraries/modem/location.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/location.h
  lib/location/Kconfig
  lib/location/location_core.c
  lib/location/method_cellular.c
  lib/location/method_wifi.c
  lib/location/wifi/CMakeLists.txt
  lib/location/wifi/wifi_service.c
  lib/location/wifi/wifi_skyhook_rest.c
  lib/location/wifi/wifi_skyhook_rest.h
Labels: doc-required

lib: multicell_location: Skyhook service support removed
  doc/nrf/libraries/networking/multicell_location.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  include/net/multicell_location.h
  lib/multicell_location/Kconfig
  lib/multicell_location/multicell_location.c
  lib/multicell_location/services/CMakeLists.txt
  lib/multicell_location/services/location_service.c
  lib/multicell_location/services/skyhook_integration.c
  lib/multicell_location/services/skyhook_integration.h
Labels: doc-required

applications: Fixed FEM issue for Thingy53 Matter weather station.
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg_release.conf
Labels: none

zigbee: Fix setting intervals between image query
  doc/nrf/libraries/zigbee/zigbee_fota.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_fota/Kconfig
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
Labels: doc-required

applications: caf: Remove static analysis bugs
  applications/machine_learning/src/modules/ei_data_forwarder_uart.c
  applications/nrf_desktop/src/events/config_event.h
  applications/nrf_desktop/src/hw_interface/battery_charger.c
  applications/nrf_desktop/src/hw_interface/motion_sensor.c
  applications/nrf_desktop/src/hw_interface/selector_hw.c
  applications/nrf_desktop/src/modules/ble_bond.c
  applications/nrf_desktop/src/modules/ble_latency.c
  applications/nrf_desktop/src/modules/ble_qos.c
  applications/nrf_desktop/src/modules/dfu.c
  applications/nrf_desktop/src/modules/hid_forward.c
  applications/nrf_desktop/src/modules/info.c
  applications/nrf_desktop/src/modules/usb_state.c
  samples/edge_impulse/data_forwarder/src/main.c
  subsys/caf/events/power_manager_event.c
  subsys/caf/modules/ble_adv.c
  subsys/caf/modules/leds.c
  subsys/caf/modules/power_manager.c
  subsys/caf/modules/sensor_manager.c
  subsys/event_manager_proxy/event_manager_proxy.c
  tests/subsys/app_event_manager/src/modules/test_multicontext.c
  tests/subsys/app_event_manager/src/modules/test_subs.c
Labels: none

crypto: Disable TF-M minimal configuration for crypto samples
  samples/crypto/aes_cbc/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/aes_cbc/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/aes_ccm/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/aes_ccm/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/aes_ctr/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/aes_ctr/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/aes_gcm/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/aes_gcm/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/chachapoly/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/chachapoly/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/ecdh/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/ecdh/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/ecdsa/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/ecdsa/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/hkdf/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/hkdf/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/hmac/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/hmac/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/persistent_key_usage/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/persistent_key_usage/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/rng/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/rng/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/rsa/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/rsa/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/sha256/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/sha256/boards/nrf9160dk_nrf9160_ns.conf
Labels: none

samples: nrf9160: https_client: Update config file for native TLS
  samples/nrf9160/https_client/overlay-tfm_mbedtls.conf
Labels: none

samples: matter: Fixed an issue with pwm overflow
  samples/matter/common/src/pwm_device.cpp
  samples/matter/light_bulb/src/lighting_manager.cpp
Labels: none

manifest: Update manifest with fix for linking crypto
  west.yml
Labels: manifest

doc: changelog: Added entries for changes in Radio Test sample.
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: peripheral: radio_test: Fix for calculation of total payload size
  samples/peripheral/radio_test/README.rst
  samples/peripheral/radio_test/src/radio_cmd.c
  samples/peripheral/radio_test/src/radio_test.c
Labels: doc-required

applications: asset_tracker_v2: Set SPM as secure firmware
  applications/asset_tracker_v2/prj.conf
  samples/nrf9160/gnss/overlay-pgps.conf
Labels: none

openthread: Fix setting the correct TF-M build profile
  subsys/net/openthread/Kconfig
Labels: none

samples: matter: Fixed an issue with pwm overflow
  samples/matter/common/src/pwm_device.cpp
  samples/matter/light_bulb/src/lighting_manager.cpp
Labels: none

manifest: Update manifest with fix for linking crypto
  west.yml
Labels: manifest

doc: Introduce Fast Pair documentation
  doc/nrf/ext_comps.rst
  doc/nrf/images/bt_fast_pair_discoverable_notification.png
  doc/nrf/images/bt_fast_pair_not_discoverable_notification.png
  doc/nrf/libraries/bluetooth_services/services/fast_pair.rst
  doc/nrf/links.txt
  doc/nrf/scripts.rst
  doc/nrf/ug_bt_fast_pair.rst
  include/bluetooth/services/fast_pair.h
  samples/bluetooth/peripheral_fast_pair/README.rst
  scripts/nrf_provision/fast_pair/README.rst
Labels: doc-required

samples: nrf9160: modem_shell: Thingy config fixed
  samples/nrf9160/modem_shell/boards/thingy91_nrf9160_ns.conf
Labels: none

west.yml: snapshot OSS repositories before rebase
  west.yml
Labels: manifest

west.yml: rebase OSS trees
  west.yml
Labels: manifest

west.yml: rebase OSS trees
  west.yml
Labels: manifest

west.yml: snapshot OSS repositories before rebase
  west.yml
Labels: manifest

manifest: Update tags for NCS v2.0.0-rc1
  west.yml
Labels: manifest

doc: Change warnings to notes
  applications/asset_tracker_v2/src/watchdog/watchdog_app.h
  include/bl_crypto.h
  include/bluetooth/mesh/scheduler_srv.h
  include/bluetooth/services/hids.h
  include/caf/events/power_event.h
  include/caf/events/sensor_event.h
  include/date_time.h
  include/mpsl/mpsl_work.h
  include/net/aws_iot.h
  include/net/azure_iot_hub.h
  include/net/nrf_cloud.h
  include/net/nrf_cloud_pgps.h
  include/nrf_profiler.h
  subsys/emds/emds_flash.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_fota.h
  tests/crypto/src/common_test.h
Labels: none

manifest: Update tags for NCS v2.0.0-rc1
  west.yml
Labels: manifest

VERSION: Update to 2.0.0-rc1
  VERSION
Labels: none

samples: nrf9160: https_client: get TFM Mbed TLS overlay to build
  samples/nrf9160/https_client/overlay-tfm_mbedtls.conf
Labels: none

doc: Introduce Fast Pair documentation
  doc/nrf/ext_comps.rst
  doc/nrf/images/bt_fast_pair_discoverable_notification.png
  doc/nrf/images/bt_fast_pair_not_discoverable_notification.png
  doc/nrf/libraries/bluetooth_services/services/fast_pair.rst
  doc/nrf/links.txt
  doc/nrf/scripts.rst
  doc/nrf/ug_bt_fast_pair.rst
  include/bluetooth/services/fast_pair.h
  samples/bluetooth/peripheral_fast_pair/README.rst
  scripts/nrf_provision/fast_pair/README.rst
Labels: doc-required

doc: nRF Cloud user guide improvements
  doc/nrf/ug_nrf_cloud.rst
Labels: doc-required

doc: add software maturity table
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/software_maturity.rst
Labels: doc-required

bluetooth/rpc: Replace TinyCBOR with zcbor
  doc/nrf/releases/release-notes-changelog.rst
  subsys/bluetooth/rpc/client/bt_rpc_conn_client.c
  subsys/bluetooth/rpc/client/bt_rpc_crypto_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gap_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gatt_client.c
  subsys/bluetooth/rpc/client/bt_rpc_internal_client.c
  subsys/bluetooth/rpc/common/bt_rpc_common.h
  subsys/bluetooth/rpc/common/bt_rpc_gatt_common.h
  subsys/bluetooth/rpc/host/bt_rpc_conn_host.c
  subsys/bluetooth/rpc/host/bt_rpc_crypto_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gap_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gatt_host.c
  subsys/bluetooth/rpc/host/bt_rpc_internal_host.c
  subsys/nrf_rpc/Kconfig
Labels: doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
