Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

lib: pdn: Handle network deactivated bearer
  lib/pdn/pdn.c
Labels: none

changelog: Add entry about the GATT DM changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

tfm: crypto_key: Fix incorrect length of private key
  modules/tfm/tfm/boards/common/crypto_keys.c
Labels: none

manifest: zephyr update with TF-M fix
  west.yml
Labels: manifest

bluetooth: gatt_dm: Discover many instances of the same service
  include/bluetooth/gatt_dm.h
  subsys/bluetooth/gatt_dm.c
Labels: none

samples: nrf9160: http_update: full_modem_update: use DEVICE_DT_GET_ONE
  samples/nrf9160/http_update/full_modem_update/src/main.c
Labels: none

samples: bluetooth: peripheral_uart: Add DT chosen for NUS for nRF52833
  samples/bluetooth/peripheral_uart/boards/nrf52833dk_nrf52833.overlay
  samples/bluetooth/peripheral_uart/sample.yaml
Labels: none

samples: nrf9160: http_update: common: use gpio_dt_spec
  samples/nrf9160/http_update/common/src/update.c
Labels: none

doc nRF 9160 Azure FOTA sample: added the configuration section
  doc/nrf/shortcuts.txt
  samples/nrf9160/azure_fota/README.rst
Labels: doc-required

tests: gatt_dm: Test discovering many services instances
  include/bluetooth/gatt_dm.h
  tests/subsys/bluetooth/gatt_dm/src/main.c
Labels: none

samples: nrf9160: http_update: full_modem_update: use gpio_dt_spec
  samples/nrf9160/http_update/full_modem_update/src/main.c
Labels: none

samples: nrf9160: http_update: common: use __fallthrough
  samples/nrf9160/http_update/common/src/update.c
Labels: none

css: Make kconfig search more prominent
  doc/_static/css/kconfig.css
Labels: doc-required

net: lib: nrf_cloud: reorder pgps data processing
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps.c
Labels: none

doc: nRF 9160 AWS IoT sample: added Configuration section
  samples/nrf9160/aws_iot/README.rst
Labels: doc-required

doc: nRF9160 CoAP Client sample: added Configuration section
  samples/nrf9160/coap_client/README.rst
Labels: doc-required

lib: lte_lc: use `NRF_MODEM_LIB_ON_SHUTDOWN` macro
  lib/lte_link_control/CMakeLists.txt
  lib/lte_link_control/lte_lc_modem_hooks.c
  lib/nrf_modem_lib/nrf_modem_lib.c
Labels: none

lib: lte_lc: use `NRF_MODEM_LIB_ON_INIT` macro
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc_modem_hooks.c
Labels: none

lib: nrf_modem: add ON_INIT and ON_SHUTDOWN macros
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/nrf_modem_lib.h
  lib/nrf_modem_lib/CMakeLists.txt
  lib/nrf_modem_lib/nrf_modem_lib.c
  lib/nrf_modem_lib/nrf_modem_lib.ld
Labels: doc-required

net: lib: nrf_cloud: use cell pos type from cloud response
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: doc-required

samples: matter: Fixed sending light switch off command
  samples/matter/light_switch/src/binding_handler.cpp
Labels: none

include: lte_lc: include missing `stdint.h` header
  include/modem/lte_lc.h
Labels: none

net: lib: nrf_cloud: handle error codes for loc svc responses
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  include/net/nrf_cloud_agps.h
  include/net/nrf_cloud_cell_pos.h
  include/net/nrf_cloud_pgps.h
  include/net/nrf_cloud_rest.h
  lib/multicell_location/services/nrf_cloud_integration.c
  samples/nrf9160/modem_shell/src/cloud/cloud_shell.c
  subsys/net/lib/nrf_cloud/include/nrf_cloud_codec.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_cell_pos.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fsm.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: doc-required

lib: nrf_modem_lib: deprecate `nrf_modem_lib_shutdown_wait()`
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/nrf_modem_lib.h
Labels: doc-required

lib: lte_lc: add `LTE_LC_ON_CFUN` macro
  doc/nrf/libraries/modem/lte_lc.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/lte_lc.h
  lib/lte_link_control/CMakeLists.txt
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc.ld
Labels: doc-required

samples: nrf9160: add modem_callbacks sample
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_callbacks/CMakeLists.txt
  samples/nrf9160/modem_callbacks/README.rst
  samples/nrf9160/modem_callbacks/prj.conf
  samples/nrf9160/modem_callbacks/sample.yaml
  samples/nrf9160/modem_callbacks/src/main.c
Labels: doc-required

manifest: add test spec
  west.yml
Labels: manifest

samples: nrf9160: modem_shell: iperf3 usage over Zephyr TCP/IP stack
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/CMakeLists.txt
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/overlay-non-offloading.conf
  samples/nrf9160/modem_shell/src/drivers/CMakeLists.txt
  samples/nrf9160/modem_shell/src/drivers/nrf91_non_offloaded_dev.c
  samples/nrf9160/modem_shell/src/link/link_shell_pdn.c
  samples/nrf9160/modem_shell/src/link/link_shell_pdn.h
Labels: doc-required

event_manager: Fix leftovers in Kconfig file
  subsys/app_event_manager/Kconfig
Labels: none

lib: date_time: Modify periodic time updates
  lib/date_time/date_time_core.c
Labels: none

doc: fix images with new name
  doc/nrf/images/asset_tracker_v2_module_hierarchy.svg
  doc/nrf/images/asset_tracker_v2_module_hierarchy.vsdx
  doc/nrf/images/caf_sample_structure.svg
  doc/nrf/images/caf_sample_structure.vsdx
  doc/nrf/images/ml_app_architecture.svg
  doc/nrf/images/ml_app_architecture.vsdx
  doc/nrf/images/nrf_desktop_arch.svg
  doc/nrf/images/nrf_desktop_arch.vsdx
  doc/nrf/images/nrf_desktop_arch_dmouse.svg
  doc/nrf/images/nrf_desktop_arch_dmouse.vsdx
  doc/nrf/images/nrf_desktop_arch_dongle.svg
  doc/nrf/images/nrf_desktop_arch_dongle.vsdx
  doc/nrf/images/nrf_desktop_arch_gmouse.svg
  doc/nrf/images/nrf_desktop_arch_gmouse.vsdx
  doc/nrf/images/nrf_desktop_arch_kbd.svg
  doc/nrf/images/nrf_desktop_arch_kbd.vsdx
  doc/nrf/libraries/caf/images/caf_overview.svg
  doc/nrf/libraries/caf/images/caf_overview.vsdx
  doc/nrf/libraries/others/images/em_overview.svg
  doc/nrf/libraries/others/images/em_overview.vsdx
Labels: doc-required

samples: peripheral: lpuart: remove init delay
  samples/peripheral/lpuart/src/main.c
Labels: none

modules: Update from cddl-gen 0.3.0 to zcbor 0.4.0
  CODEOWNERS
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  modules/Kconfig
  modules/cddl-gen/CMakeLists.txt
  modules/cddl-gen/Kconfig
  modules/modules.cmake
  modules/zcbor/CMakeLists.txt
  modules/zcbor/Kconfig
  samples/nrf9160/http_update/full_modem_update/prj.conf
  samples/nrf9160/lwm2m_client/boards/nrf9160dk_nrf9160_ns.conf
  scripts/requirements-build.txt
  scripts/requirements-extra.txt
  scripts/requirements-fixed.txt
  subsys/dfu/fmfu_fdev/Kconfig
  subsys/dfu/fmfu_fdev/cddl/CMakeLists.txt
  subsys/dfu/fmfu_fdev/include/modem_update_decode.h
  subsys/dfu/fmfu_fdev/include/modem_update_types.h
  subsys/dfu/fmfu_fdev/src/fmfu_fdev.c
  subsys/dfu/fmfu_fdev/src/modem_update_decode.c
  tests/modules/lib/cddl-gen/raw_encode/src/main.c
  tests/modules/lib/zcbor/cddl/test.cddl
  tests/modules/lib/zcbor/decode/CMakeLists.txt
  tests/modules/lib/zcbor/decode/prj.conf
  tests/modules/lib/zcbor/decode/src/main.c
  tests/modules/lib/zcbor/decode/testcase.yaml
  tests/modules/lib/zcbor/encode/CMakeLists.txt
  tests/modules/lib/zcbor/encode/prj.conf
  tests/modules/lib/zcbor/encode/src/main.c
  tests/modules/lib/zcbor/encode/testcase.yaml
  tests/modules/lib/zcbor/raw_encode/CMakeLists.txt
  tests/modules/lib/zcbor/raw_encode/prj.conf
  tests/modules/lib/zcbor/raw_encode/src/main.c
  tests/modules/lib/zcbor/raw_encode/testcase.yaml
  west.yml
Labels: manifest, doc-required

samples: peripheral: lpuart: use DEVICE_DT_GET
  samples/peripheral/lpuart/src/main.c
Labels: none

Revert "github: workflows: quick fix for west version"
  .github/workflows/oss-history.yml
Labels: none

requirements-extra: don't fix pygit2, zcbor versions
  scripts/requirements-extra.txt
  scripts/requirements-fixed.txt
Labels: none

Bluetooth: Mesh: Time model fixes
  subsys/bluetooth/mesh/time_srv.c
Labels: none

boards: arm: Added nRF5340 Audio DK
  boards/arm/nrf5340_audio_dk_nrf5340/CMakeLists.txt
  boards/arm/nrf5340_audio_dk_nrf5340/Kconfig
  boards/arm/nrf5340_audio_dk_nrf5340/Kconfig.board
  boards/arm/nrf5340_audio_dk_nrf5340/Kconfig.defconfig
  boards/arm/nrf5340_audio_dk_nrf5340/board.cmake
  boards/arm/nrf5340_audio_dk_nrf5340/board.h
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_cpunet_reset.c
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp.dts
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp.yaml
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_common.dts
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_defconfig
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_ns.dts
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_ns.yaml
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_ns_defconfig
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_partition_conf.dts
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpunet.dts
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpunet.yaml
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpunet_defconfig
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_shared.dts
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_shared_sram_planning_conf.dts
  boards/arm/nrf5340_audio_dk_nrf5340/pre_dt_board.cmake
Labels: none

ncs_commands: support west v0.13
  scripts/west_commands/ncs_commands.py
Labels: none

ncs_commands: detect west v0.13
  scripts/west_commands/ncs_commands.py
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
