Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

samples: lwm2m_client: Session lifetime update
  samples/nrf9160/lwm2m_client/src/main.c
Labels: none

manifest: update Zephyr revision
  west.yml
Labels: manifest

sample: lwm2m_client: Project config and overlay update
  samples/nrf9160/lwm2m_client/Kconfig
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-core-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-object-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1.conf
  samples/nrf9160/lwm2m_client/overlay-queue.conf
  samples/nrf9160/lwm2m_client/prj.conf
  samples/nrf9160/lwm2m_client/src/main.c
Labels: none

sample: lwm2m_client: Project config and overlay update
  samples/nrf9160/lwm2m_client/Kconfig
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-core-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-object-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1.conf
  samples/nrf9160/lwm2m_client/overlay-queue.conf
  samples/nrf9160/lwm2m_client/prj.conf
  samples/nrf9160/lwm2m_client/src/main.c
Labels: none

manifest: update Zephyr revision
  west.yml
Labels: manifest

samples: lwm2m_client: Session lifetime update
  samples/nrf9160/lwm2m_client/src/main.c
Labels: none

scripts: add quarantine_windows.yaml file
  scripts/quarantine_windows.yaml
Labels: none

application: serial_lte_modem: Handle FOTA image under WWW root
  applications/serial_lte_modem/doc/DFU_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_fota.c
Labels: doc-required

samples: matter: Changed settings partition size from 32k to 16k.
  samples/matter/light_bulb/configuration/nrf52840dk_nrf52840/pm_static_dfu.yml
  samples/matter/light_bulb/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/light_switch/configuration/nrf52840dk_nrf52840/pm_static_dfu.yml
  samples/matter/light_switch/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/lock/configuration/nrf52840dk_nrf52840/pm_static_dfu.yml
  samples/matter/lock/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/template/configuration/nrf52840dk_nrf52840/pm_static_dfu.yml
  samples/matter/template/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
Labels: none

lib: zigbee zcl scenes: Allow storing empty scenes
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_scenes/zigbee_zcl_scenes.c
Labels: doc-required

manifest: update Zephyr revision
  west.yml
Labels: manifest

zigbee: Remove HA logic implementation from Light Bulb sample
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_bulb/src/main.c
Labels: doc-required

EMDS: Implement emergency data storage
  CODEOWNERS
  doc/nrf/libraries/others/emds.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/emds/emds.h
  subsys/CMakeLists.txt
  subsys/Kconfig
  subsys/emds/CMakeLists.txt
  subsys/emds/Kconfig
  subsys/emds/emds.c
  subsys/emds/emds_flash.c
  subsys/emds/emds_flash.h
  subsys/emds/emds_types.ld
  subsys/partition_manager/CMakeLists.txt
  subsys/partition_manager/Kconfig
  subsys/partition_manager/pm.yml.emds
  tests/subsys/emds/emds_api/CMakeLists.txt
  tests/subsys/emds/emds_api/prj.conf
  tests/subsys/emds/emds_api/src/main.c
  tests/subsys/emds/emds_api/testcase.yaml
  tests/subsys/emds/emds_flash/CMakeLists.txt
  tests/subsys/emds/emds_flash/prj.conf
  tests/subsys/emds/emds_flash/src/main.c
  tests/subsys/emds/emds_flash/testcase.yaml
Labels: doc-required

doc: zigbee: update ncp host and zboss versions
  doc/nrf/links.txt
  doc/nrf/shortcuts.txt
Labels: doc-required

tests: event_manager_proxy: Test implementation
  tests/subsys/event_manager_proxy/CMakeLists.txt
  tests/subsys/event_manager_proxy/Kconfig
  tests/subsys/event_manager_proxy/aci/CMakeLists.txt
  tests/subsys/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp_icmsg.conf
  tests/subsys/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp_icmsg.overlay
  tests/subsys/event_manager_proxy/common_config/CMakeLists.txt
  tests/subsys/event_manager_proxy/common_config/test_config.h
  tests/subsys/event_manager_proxy/common_events/CMakeLists.txt
  tests/subsys/event_manager_proxy/common_events/Kconfig
  tests/subsys/event_manager_proxy/common_events/data_events.c
  tests/subsys/event_manager_proxy/common_events/data_events.h
  tests/subsys/event_manager_proxy/common_events/simple_events.c
  tests/subsys/event_manager_proxy/common_events/simple_events.h
  tests/subsys/event_manager_proxy/common_events/test_events.c
  tests/subsys/event_manager_proxy/common_events/test_events.h
  tests/subsys/event_manager_proxy/modules/CMakeLists.txt
  tests/subsys/event_manager_proxy/modules/common_utils.c
  tests/subsys/event_manager_proxy/modules/common_utils.h
  tests/subsys/event_manager_proxy/modules/test_utils.c
  tests/subsys/event_manager_proxy/modules/test_utils.h
  tests/subsys/event_manager_proxy/prj.conf
  tests/subsys/event_manager_proxy/prj_icmsg.conf
  tests/subsys/event_manager_proxy/remote/CMakeLists.txt
  tests/subsys/event_manager_proxy/remote/Kconfig
  tests/subsys/event_manager_proxy/remote/boards/nrf5340dk_nrf5340_cpunet_icmsg.overlay
  tests/subsys/event_manager_proxy/remote/main.c
  tests/subsys/event_manager_proxy/remote/prj.conf
  tests/subsys/event_manager_proxy/remote/prj_icmsg.conf
  tests/subsys/event_manager_proxy/src/data.c
  tests/subsys/event_manager_proxy/src/data.h
  tests/subsys/event_manager_proxy/src/main.c
  tests/subsys/event_manager_proxy/src/simple.c
  tests/subsys/event_manager_proxy/src/simple.h
  tests/subsys/event_manager_proxy/testcase.yaml
  tests/subsys/event_manager_proxy/zephyr/module.yml
Labels: none

changelog: Update changelog with the DTM FEM changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: direct_test_mode: Allow to use limited pinout.
  samples/bluetooth/direct_test_mode/src/fem/Kconfig
  samples/bluetooth/direct_test_mode/src/fem/nrf21540.c
Labels: none

samples: direct_test_mode: After upmerge fix
  samples/bluetooth/direct_test_mode/src/fem/Kconfig
Labels: none

samples: bluetooth: nrf_dm: documentation improvement
  samples/bluetooth/nrf_dm/README.rst
Labels: doc-required

manifest: update Zephyr revision
  west.yml
Labels: manifest

manifest: update deps for direct xip mode of mcuboot
  west.yml
Labels: manifest

mcuboot: add support for building direct xip variants
  modules/mcuboot/CMakeLists.txt
  modules/mcuboot/Kconfig
  tests/modules/mcuboot/direct_xip/CMakeLists.txt
  tests/modules/mcuboot/direct_xip/child_image/mcuboot.conf
  tests/modules/mcuboot/direct_xip/prj.conf
  tests/modules/mcuboot/direct_xip/src/main.c
  tests/modules/mcuboot/direct_xip/testcase.yaml
Labels: none

doc: app: booatloaders: add xip update method for mcuboot
  doc/nrf/app_bootloaders.rst
Labels: doc-required

doc: mcuboot: ncs: add a section about xip configuration
  doc/mcuboot/readme-ncs.rst
Labels: doc-required

mcuboot: add early return for variant images
  modules/mcuboot/CMakeLists.txt
Labels: none

mcuboot: make START_ADDRESS_OFFSET optional
  modules/mcuboot/CMakeLists.txt
Labels: none

codeowners: mcuboot direct_xip test assignment
  CODEOWNERS
Labels: none

samples: alexa_gadgets: Remove alexa gadgets sample
  doc/nrf/libraries/bluetooth_services/services/gadgets.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-1.4.0.rst
  doc/nrf/releases/release-notes-1.5.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/services/gadgets.h
  include/bluetooth/services/gadgets_profile.h
  samples/bluetooth/alexa_gadget/CMakeLists.txt
  samples/bluetooth/alexa_gadget/README.rst
  samples/bluetooth/alexa_gadget/boards/nrf52dk_nrf52810.conf
  samples/bluetooth/alexa_gadget/prj.conf
  samples/bluetooth/alexa_gadget/sample.yaml
  samples/bluetooth/alexa_gadget/src/main.c
  subsys/bluetooth/services/CMakeLists.txt
  subsys/bluetooth/services/Kconfig
  subsys/bluetooth/services/alexa_gadgets/CMakeLists.txt
  subsys/bluetooth/services/alexa_gadgets/Kconfig.gadgets
  subsys/bluetooth/services/alexa_gadgets/gadgets.c
  subsys/bluetooth/services/alexa_gadgets/gadgets_profile.c
  subsys/bluetooth/services/alexa_gadgets/proto/custom_event.options
  subsys/bluetooth/services/alexa_gadgets/proto/custom_event.proto
  west.yml
Labels: manifest, doc-required

doc: Add documentation about Pin control
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_app_dev.rst
  doc/nrf/ug_pinctrl.rst
Labels: doc-required

doc: vsc: update modifying application page
  doc/nrf/gs_modifying.rst
  doc/nrf/gs_programming.rst
  doc/nrf/gs_testing.rst
  doc/nrf/links.txt
Labels: doc-required

doc: release: Update SHA in documentation
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

manifest: update deps for direct xip mode of mcuboot
  west.yml
Labels: manifest

doc: mcuboot: ncs: add a section about xip configuration
  doc/mcuboot/readme-ncs.rst
Labels: doc-required

codeowners: mcuboot direct_xip test assignment
  CODEOWNERS
Labels: none

mcuboot: add early return for variant images
  modules/mcuboot/CMakeLists.txt
Labels: none

doc: app: booatloaders: add xip update method for mcuboot
  doc/nrf/app_bootloaders.rst
Labels: doc-required

mcuboot: add support for building direct xip variants
  modules/mcuboot/CMakeLists.txt
  modules/mcuboot/Kconfig
  tests/modules/mcuboot/direct_xip/CMakeLists.txt
  tests/modules/mcuboot/direct_xip/child_image/mcuboot.conf
  tests/modules/mcuboot/direct_xip/prj.conf
  tests/modules/mcuboot/direct_xip/src/main.c
  tests/modules/mcuboot/direct_xip/testcase.yaml
Labels: none

mcuboot: make START_ADDRESS_OFFSET optional
  modules/mcuboot/CMakeLists.txt
Labels: none

tests: Configurable multicore default settings
  tests/CMakeLists.txt
  tests/Kconfig
Labels: none

tests: event_manager_proxy: Test implementation
  tests/subsys/event_manager_proxy/CMakeLists.txt
  tests/subsys/event_manager_proxy/Kconfig
  tests/subsys/event_manager_proxy/aci/CMakeLists.txt
  tests/subsys/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp_icmsg.conf
  tests/subsys/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp_icmsg.overlay
  tests/subsys/event_manager_proxy/common_config/CMakeLists.txt
  tests/subsys/event_manager_proxy/common_config/test_config.h
  tests/subsys/event_manager_proxy/common_events/CMakeLists.txt
  tests/subsys/event_manager_proxy/common_events/Kconfig
  tests/subsys/event_manager_proxy/common_events/data_events.c
  tests/subsys/event_manager_proxy/common_events/data_events.h
  tests/subsys/event_manager_proxy/common_events/simple_events.c
  tests/subsys/event_manager_proxy/common_events/simple_events.h
  tests/subsys/event_manager_proxy/common_events/test_events.c
  tests/subsys/event_manager_proxy/common_events/test_events.h
  tests/subsys/event_manager_proxy/modules/CMakeLists.txt
  tests/subsys/event_manager_proxy/modules/common_utils.c
  tests/subsys/event_manager_proxy/modules/common_utils.h
  tests/subsys/event_manager_proxy/modules/test_utils.c
  tests/subsys/event_manager_proxy/modules/test_utils.h
  tests/subsys/event_manager_proxy/prj.conf
  tests/subsys/event_manager_proxy/prj_icmsg.conf
  tests/subsys/event_manager_proxy/remote/CMakeLists.txt
  tests/subsys/event_manager_proxy/remote/Kconfig
  tests/subsys/event_manager_proxy/remote/boards/nrf5340dk_nrf5340_cpunet_icmsg.overlay
  tests/subsys/event_manager_proxy/remote/main.c
  tests/subsys/event_manager_proxy/remote/prj.conf
  tests/subsys/event_manager_proxy/remote/prj_icmsg.conf
  tests/subsys/event_manager_proxy/src/data.c
  tests/subsys/event_manager_proxy/src/data.h
  tests/subsys/event_manager_proxy/src/main.c
  tests/subsys/event_manager_proxy/src/simple.c
  tests/subsys/event_manager_proxy/src/simple.h
  tests/subsys/event_manager_proxy/testcase.yaml
  tests/subsys/event_manager_proxy/zephyr/module.yml
Labels: none
