Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

bluetooth: fast_pair: Add crypto API
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_crypto_tinycrypt.c
  subsys/bluetooth/services/fast_pair/include/fp_crypto.h
Labels: none

bluetooth: fast_pair: Introduce Kconfig options
  subsys/bluetooth/services/CMakeLists.txt
  subsys/bluetooth/services/Kconfig
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
Labels: none

partition_manager: Add partition for Fast Pair data
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/partition_manager/CMakeLists.txt
  subsys/partition_manager/pm.yml.bt_fast_pair
Labels: none

bluetooth: fast_pair: Add registration data
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/fp_registration_data.c
  subsys/bluetooth/services/fast_pair/include/fp_registration_data.h
Labels: none

tests: bluetooth: fast_pair: Add crypto test
  tests/subsys/bluetooth/fast_pair/crypto/CMakeLists.txt
  tests/subsys/bluetooth/fast_pair/crypto/prj.conf
  tests/subsys/bluetooth/fast_pair/crypto/src/main.c
  tests/subsys/bluetooth/fast_pair/crypto/testcase.yaml
Labels: none

bluetooth: fast_pair: Add MbedTLS crypto
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_crypto_mbedtls.c
Labels: none

bluetooth: fast_pair: Add definition of ECDH public key
  subsys/bluetooth/services/fast_pair/include/fp_crypto.h
Labels: none

bluetooth: fast_pair: Enable DIS
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
Labels: none

bluetooth: fast_pair: Increase MTU
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_gatt_service.c
Labels: none

samples: peripheral_fast_pair: Control Fast Pair discoverability
  samples/bluetooth/peripheral_fast_pair/include/bt_adv_helper.h
  samples/bluetooth/peripheral_fast_pair/src/bt_adv_helper.c
  samples/bluetooth/peripheral_fast_pair/src/main.c
Labels: none

bluetooth: fast_pair: Align fp_ecdh_shared_secret argument order
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_mbedtls.c
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_tinycrypt.c
  subsys/bluetooth/services/fast_pair/fp_keys.c
  subsys/bluetooth/services/fast_pair/include/fp_crypto.h
  tests/subsys/bluetooth/fast_pair/crypto/src/main.c
Labels: none

samples: peripheral_fast_pair: Set number of connections and bonds
  samples/bluetooth/peripheral_fast_pair/prj.conf
Labels: none

bluetooth: fast_pair: Introduce discoverable advertising
  include/bluetooth/services/fast_pair.h
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_advertising.c
  subsys/bluetooth/services/fast_pair/include/fp_common.h
Labels: none

tests: bluetooth: fast_pair: Add crypto test
  tests/subsys/bluetooth/fast_pair/crypto/CMakeLists.txt
  tests/subsys/bluetooth/fast_pair/crypto/src/main.c
Labels: none

bluetooth: fast_pair: Introduce non-discoverable advertising
  subsys/bluetooth/services/fast_pair/fp_advertising.c
Labels: none

bluetooth: fast_pair: Clean up Kconfig
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
Labels: none

bluetooth: fast_pair: Add crypto API
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/fp_crypto_common.c
  subsys/bluetooth/services/fast_pair/include/fp_crypto.h
Labels: none

bluetooth: fast_pair: Set RPA timeout to 1 hour
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
Labels: none

bluetooth: fast_pair: Add GATT Service
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_gatt_service.c
Labels: none

bluetooth: fast_pair: Implement Procedure
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_auth.c
  subsys/bluetooth/services/fast_pair/fp_gatt_service.c
  subsys/bluetooth/services/fast_pair/fp_keys.c
  subsys/bluetooth/services/fast_pair/include/fp_auth.h
  subsys/bluetooth/services/fast_pair/include/fp_keys.h
Labels: none

bluetooth: fast_pair: Move crypto to separate directory
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_common.c
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_mbedtls.c
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_tinycrypt.c
  tests/subsys/bluetooth/fast_pair/crypto/CMakeLists.txt
Labels: none

samples: bluetooth: Add Fast Pair sample
  doc/nrf/links.txt
  samples/bluetooth/peripheral_fast_pair/CMakeLists.txt
  samples/bluetooth/peripheral_fast_pair/README.rst
  samples/bluetooth/peripheral_fast_pair/include/bt_adv_helper.h
  samples/bluetooth/peripheral_fast_pair/include/bt_tx_power_adv.h
  samples/bluetooth/peripheral_fast_pair/prj.conf
  samples/bluetooth/peripheral_fast_pair/sample.yaml
  samples/bluetooth/peripheral_fast_pair/src/bt_adv_helper.c
  samples/bluetooth/peripheral_fast_pair/src/bt_tx_power_adv.c
  samples/bluetooth/peripheral_fast_pair/src/main.c
Labels: doc-required

tests: bluetooth: fast_pair: Add MbedTLS crypto tests
  tests/subsys/bluetooth/fast_pair/crypto/CMakeLists.txt
  tests/subsys/bluetooth/fast_pair/crypto/Kconfig
  tests/subsys/bluetooth/fast_pair/crypto/prj_tinycrypt.conf
  tests/subsys/bluetooth/fast_pair/crypto/testcase.yaml
Labels: none

samples: peripheral_fast_pair: Add HIDS to Fast Pair sample
  samples/bluetooth/peripheral_fast_pair/CMakeLists.txt
  samples/bluetooth/peripheral_fast_pair/include/hids_helper.h
  samples/bluetooth/peripheral_fast_pair/prj.conf
  samples/bluetooth/peripheral_fast_pair/src/hids_helper.c
  samples/bluetooth/peripheral_fast_pair/src/main.c
Labels: none

CODEOWNERS: Add codeowners for Fast Pair
  CODEOWNERS
Labels: none

bluetooth: fast_pair: Add procedure using Account Keys
  subsys/bluetooth/services/fast_pair/fp_keys.c
Labels: none

samples: peripheral_fast_pair: Add RPA rotation
  samples/bluetooth/peripheral_fast_pair/prj.conf
  samples/bluetooth/peripheral_fast_pair/src/bt_adv_helper.c
Labels: none

bluetooth: fast_pair: Introduce run-time storage
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_keys.c
  subsys/bluetooth/services/fast_pair/fp_storage.c
  subsys/bluetooth/services/fast_pair/include/fp_storage.h
Labels: none

bluetooth: fast_pair: Add not discoverable advertising with keys
  include/bluetooth/services/fast_pair.h
  subsys/bluetooth/services/fast_pair/fp_advertising.c
Labels: none

samples: peripheral_fast_pair: Update preferred conn params
  samples/bluetooth/peripheral_fast_pair/prj.conf
Labels: none

bluetooth: fast_pair: Mark Fast Pair support as experimental
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
Labels: none

bluetooth: fast_pair: Add API to set pairing mode
  include/bluetooth/services/fast_pair.h
  samples/bluetooth/peripheral_fast_pair/src/bt_adv_helper.c
  subsys/bluetooth/services/fast_pair/fp_keys.c
Labels: none

samples: peripheral_fast_pair: Comply with HID over GATT profile
  samples/bluetooth/peripheral_fast_pair/prj.conf
  samples/bluetooth/peripheral_fast_pair/src/bt_adv_helper.c
Labels: none

samples: nrf9160: modem_shell: location: PVT json format update
  samples/nrf9160/modem_shell/src/location/location_cmd_utils.c
Labels: none

applications: Zigbee weather station: Remove incorrect buffer freeing
  applications/zigbee_weather_station/src/main.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

lib: zigbee osif: Optimize calling ZBOSS API in NCS
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/osif/zb_nrf_platform.c
Labels: doc-required

lib: zigbee shell: Fix incorrect index in zcl generic shell cmd
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_generic_cmd.c
Labels: doc-required

samples: Change samples to sample
  samples/event_manager_proxy/sample.yaml
  samples/nrf9160/nrf_cloud_mqtt_multi_service/sample.yaml
  samples/openthread/cli/sample.yaml
Labels: none

manifest: Zephyr update with OpenThread changes
  west.yml
Labels: manifest

cmake: Propagate the NCS Zephyr SDK install dir
  share/ncs-package/cmake/NcsConfig.cmake
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
