Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

net: lib: download_client: Remove log_strdup invocations
  subsys/net/lib/download_client/src/download_client.c
  subsys/net/lib/download_client/src/http.c
Labels: none

zigbee: Remove log_strdup invocations
  subsys/zigbee/lib/zigbee_app_utils/zigbee_app_utils.c
  subsys/zigbee/lib/zigbee_logger_ep/zigbee_logger_eprxzcl.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_attr_report.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_nbr.c
Labels: none

upmerge: Auto upmerge test
  west.yml
Labels: manifest

app: serial_lte_modem: Remove log_strdup invocations
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  applications/serial_lte_modem/src/slm_at_socket.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  applications/serial_lte_modem/src/twi/slm_at_twi.c
Labels: none

bluetooth: Remove log_strdup invocations
  include/bluetooth/mesh/sensor.h
  subsys/bluetooth/controller/hci_driver.c
  subsys/bluetooth/mesh/scene_srv.c
  subsys/bluetooth/scan.c
Labels: none

fota_download: Remove log_strdup invocations
  subsys/net/lib/fota_download/src/fota_download.c
Labels: none

net: lib: aws_iot: Remove log_strdup invocations
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: none

samples: bluetooth: Remove log_strdup invocations
  samples/bluetooth/central_uart/src/main.c
  samples/bluetooth/peripheral_fast_pair/src/main.c
  samples/bluetooth/peripheral_uart/src/main.c
  samples/bluetooth/shell_bt_nus/src/main.c
Labels: none

net: lib: aws_jobs: Remove log_strdup invocations
  subsys/net/lib/aws_jobs/src/aws_jobs.c
Labels: none

applications: asset_tracker_v2: don't abort config on invalid entry
  applications/asset_tracker_v2/src/modules/data_module.c
Labels: none

lib: modem_info: Remove log_strdup invocations
  lib/modem_info/modem_info.c
Labels: none

manifest: openthread upmerge up to commit `2ce3d3b`
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_configuring.rst
  doc/nrf/ug_thread_supported_features.rst
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: manifest, doc-required

applications: asset_tracker_v2: Use GNSS PVT format for nRF Cloud builds
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/json_protocol_names_nrf_cloud.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
  applications/asset_tracker_v2/src/modules/Kconfig.gnss_module
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

manifest: openthread upmerge up to commit `2ce3d3b`
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_configuring.rst
  doc/nrf/ug_thread_supported_features.rst
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: manifest, doc-required

doc: nrf5340audio: update legal section
  applications/nrf5340_audio/README.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

doc: nrf5340audio: update legal section
  applications/nrf5340_audio/README.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

ATv2: add more docs to cloud_codec.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec.h
Labels: none

manifest: Update hostap version
  west.yml
Labels: manifest

applications: nrf5340_audio: Run clang-format on all application files (#35)
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/sw_codec_select.c
  applications/nrf5340_audio/src/modules/audio_i2s.c
  applications/nrf5340_audio/src/modules/led.c
Labels: none

cmake: multi_image: fix child image dtc overlay file not working
  cmake/multi_image.cmake
Labels: none

kconfig: mcuboot: change the dependency of NRF53_MULTI_IMAGE_UPDATE
  modules/mcuboot/boot/zephyr/Kconfig
Labels: none

manifest: update nrfxlib version
  west.yml
Labels: manifest

doc: remove markdown pinned version
  scripts/requirements-doc.txt
Labels: none

doc: remove markdown pinned version
  scripts/requirements-doc.txt
Labels: none

doc: remove markdown pinned version
  scripts/requirements-doc.txt
Labels: none

samples: Bluetooth: df: Forward GPIO pins from app to network core
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/direction_finding_central/README.rst
  samples/bluetooth/direction_finding_central/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/direction_finding_central/child_image/hci_rpmsg/boards/nrf5340dk_nrf5340_cpunet.overlay
  samples/bluetooth/direction_finding_connectionless_rx/README.rst
  samples/bluetooth/direction_finding_connectionless_rx/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/direction_finding_connectionless_rx/child_image/hci_rpmsg/boards/nrf5340dk_nrf5340_cpunet.overlay
  samples/bluetooth/direction_finding_connectionless_tx/README.rst
  samples/bluetooth/direction_finding_connectionless_tx/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/direction_finding_connectionless_tx/child_image/hci_rpmsg/boards/nrf5340dk_nrf5340_cpunet.overlay
  samples/bluetooth/direction_finding_peripheral/README.rst
  samples/bluetooth/direction_finding_peripheral/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/direction_finding_peripheral/child_image/hci_rpmsg/boards/nrf5340dk_nrf5340_cpunet.overlay
Labels: doc-required

manifest: update nrfxlib version
  west.yml
Labels: manifest

bluetooth: Prepare the SDC hci driver to call sdc_hci_get()
  subsys/bluetooth/controller/hci_driver.c
  subsys/bluetooth/controller/hci_internal.c
  subsys/bluetooth/controller/hci_internal.h
Labels: none

applications: serial_lte_modem: gpio: use DEVICE_DT_GET
  applications/serial_lte_modem/src/gpio/slm_at_gpio.c
  applications/serial_lte_modem/src/main.c
Labels: none

applications: serial_lte_modem: twi: use DEVICE_DT_GET
  applications/serial_lte_modem/src/twi/slm_at_twi.c
Labels: none

manifest: Update hostap version
  west.yml
Labels: manifest

doc: remove markdown pinned version
  scripts/requirements-doc.txt
Labels: none

manifest: openthread: update openthread generated libs on commit 2ce3d3b
  doc/nrf/ug_thread_ot_memory.rst
  samples/openthread/cli/overlay-debug.conf
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: manifest, doc-required

manifest: Use submodules for cmock and removed unity
  west.yml
Labels: manifest

manifest: Update cmock
  west.yml
Labels: manifest

matter: fix weather station after OpenThread update
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg_release.conf
Labels: none

applications: nrf5340_audio: Implement stereo BIS (#24)
  applications/nrf5340_audio/src/audio/audio_system.c
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
Labels: none

applications: serial_lte_modem: gpio: use DEVICE_DT_GET
  applications/serial_lte_modem/src/gpio/slm_at_gpio.c
  applications/serial_lte_modem/src/main.c
Labels: none

applications: serial_lte_modem: twi: use DEVICE_DT_GET
  applications/serial_lte_modem/src/twi/slm_at_twi.c
Labels: none

matter: fix weather station after OpenThread update
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg_release.conf
Labels: none
