Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

doc: add release notes for NCS 2.0.0
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrf/dm_adding_code.rst
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.0.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
  west.yml
Labels: manifest, doc-required

doc: add migration guide from NCS 1.x.x
  doc/nrf/links.txt
  doc/nrf/migration/migration_guide_1.x_to_2.x.rst
  doc/nrf/ug_tfm.rst
Labels: doc-required

doc: add release notes for NCS 2.0.0
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrf/dm_adding_code.rst
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.0.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
  west.yml
Labels: manifest, doc-required

net: lib: nrf_cloud: add modem fota validation function
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota_common.c
Labels: doc-required

applications: asset_tracker_v2: validate nrf cloud modem fota
  applications/asset_tracker_v2/src/main.c
Labels: none

spm: Allow UICR to be read in non-secure applications
  subsys/spm/Kconfig
  subsys/spm/secure_services.c
Labels: none

docs: added note on changing version in s1 image
  doc/nrf/ug_bootloader_adding.rst
  doc/nrf/ug_fw_update.rst
Labels: doc-required

manifest: Update with tags for NCS v2.0.0
  west.yml
Labels: manifest

VERSION: Update to 2.0.0
  VERSION
Labels: none

doc: software_maturity: Add entries for B0, TF-M, HUK, and PSA Crypto
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required

doc: software_maturity_scanner.py: Refactor find_maturity_level()
  doc/_scripts/software_maturity/software_maturity_scanner.py
Labels: doc-required

doc: software_maturity_scanner.py: Improve resolving of maturity
  doc/_scripts/software_maturity/software_maturity_scanner.py
Labels: doc-required

doc: software_maturity_scanner.py: Add support for rules with '='
  doc/_scripts/software_maturity/software_maturity_scanner.py
Labels: doc-required

VERSION: Update to 2.0.0
  VERSION
Labels: none

manifest: Update with tags for NCS v2.0.0
  west.yml
Labels: manifest

VERSION: Update to 2.0.99
  VERSION
Labels: none

doc: post 2.0.0 release doc update
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

samples: tfm_hello_world: sample.yaml: Add two new tests
  samples/tfm/tfm_hello_world/sample.yaml
  scripts/quarantine.yaml
Labels: none

ci: use forked branches of CI/Verification repositories
  Jenkinsfile
  test-manifests/99-default-test-nrf.yml
Labels: none

doc: vsc: fix shortcuts
  doc/nrf/getting_started.rst
  doc/nrf/gs_assistant.rst
  doc/nrf/gs_installing.rst
  doc/nrf/gs_modifying.rst
  doc/nrf/gs_programming.rst
  doc/nrf/gs_testing.rst
  doc/nrf/gs_updating.rst
  doc/nrf/includes/vsc_build_and_run.txt
  doc/nrf/shortcuts.txt
  doc/nrf/templates/sample_README.rst
  doc/nrf/ug_bt_fast_pair.rst
  doc/nrf/ug_edge_impulse.rst
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_radio_fem.rst
  doc/nrf/ug_thingy53.rst
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_thread_certification.rst
  doc/nrf/ug_thread_configuring.rst
  doc/nrf/ug_zigbee_qsg.rst
Labels: doc-required

samples: mpsl: timeslot: Fail compilation if no offload IRQ is defined
  samples/mpsl/timeslot/src/main.c
Labels: none

VERSION: Update to 2.0.99
  VERSION
Labels: none

ci: use forked branches of CI/Verification repositories
  Jenkinsfile
  test-manifests/99-default-test-nrf.yml
Labels: none

doc: post 2.0.0 release doc update
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

doc: Remove fixed known issue
  doc/nrf/known_issues.rst
Labels: doc-required

Bluetooth: Mesh: Fix issues reported by Coverity
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/src/lb_service_handler.c
  samples/bluetooth/mesh/chat/src/chat_cli.c
  samples/bluetooth/mesh/light_ctrl/src/lc_pwm_led.c
  samples/bluetooth/mesh/silvair_enocean/src/main.c
  subsys/bluetooth/mesh/gen_prop_cli.c
  subsys/bluetooth/mesh/gen_prop_srv.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/scheduler_srv.c
  subsys/bluetooth/mesh/sensor.c
  subsys/bluetooth/mesh/sensor_cli.c
  subsys/bluetooth/mesh/sensor_srv.c
  subsys/bluetooth/mesh/time_srv.c
  subsys/bluetooth/mesh/time_util.c
Labels: none

applications: nrf5340_audio: Improve how audio sync timers are inited
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3251.hex
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3269.hex
  applications/nrf5340_audio/bin/manifest.yaml
  applications/nrf5340_audio/src/audio/audio_sync_timer.c
  applications/nrf5340_audio/src/audio/audio_sync_timer.h
  applications/nrf5340_audio/src/main.c
Labels: none

doc: Remove fixed known issue
  doc/nrf/known_issues.rst
Labels: doc-required

samples: mpsl: timeslot: Fail compilation if no offload IRQ is defined
  samples/mpsl/timeslot/src/main.c
Labels: none

Bluetooth: Mesh: Gen Ponoff Srv status msg update
  subsys/bluetooth/mesh/gen_ponoff_srv.c
Labels: none

Bluetooth: Mesh: Scene Srv status msg update
  subsys/bluetooth/mesh/scene_srv.c
Labels: none

lib: nrf_modem: improve docs for callback macros
  doc/nrf/libraries/modem/nrf_modem_lib.rst
Labels: doc-required

doc: vsc: fix shortcuts
  doc/nrf/getting_started.rst
  doc/nrf/gs_assistant.rst
  doc/nrf/gs_installing.rst
  doc/nrf/gs_modifying.rst
  doc/nrf/gs_programming.rst
  doc/nrf/gs_testing.rst
  doc/nrf/gs_updating.rst
  doc/nrf/includes/vsc_build_and_run.txt
  doc/nrf/shortcuts.txt
  doc/nrf/templates/sample_README.rst
  doc/nrf/ug_bt_fast_pair.rst
  doc/nrf/ug_edge_impulse.rst
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_radio_fem.rst
  doc/nrf/ug_thingy53.rst
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_thread_certification.rst
  doc/nrf/ug_thread_configuring.rst
  doc/nrf/ug_zigbee_qsg.rst
Labels: doc-required

Bluetooth: Mesh: Fix issues reported by Coverity
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/src/lb_service_handler.c
  samples/bluetooth/mesh/chat/src/chat_cli.c
  samples/bluetooth/mesh/light_ctrl/src/lc_pwm_led.c
  samples/bluetooth/mesh/silvair_enocean/src/main.c
  subsys/bluetooth/mesh/gen_prop_cli.c
  subsys/bluetooth/mesh/gen_prop_srv.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/scheduler_srv.c
  subsys/bluetooth/mesh/sensor.c
  subsys/bluetooth/mesh/sensor_cli.c
  subsys/bluetooth/mesh/sensor_srv.c
  subsys/bluetooth/mesh/time_srv.c
  subsys/bluetooth/mesh/time_util.c
Labels: none

net: lib: fota_download: Add hostname buffer
  subsys/net/lib/fota_download/src/fota_download.c
Labels: none

net: lib: fota_download: Remove doubling of file buffer
  subsys/net/lib/fota_download/src/fota_download.c
Labels: none

net: lib: nrf_cloud: fix duplicate disconnect events
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fsm.c
Labels: doc-required

applications: serial_lte_modem: add logging for nrf cloud events
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: none

applications: nrf5340_audio: Improve how audio sync timers are inited
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3251.hex
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3269.hex
  applications/nrf5340_audio/bin/manifest.yaml
  applications/nrf5340_audio/src/audio/audio_sync_timer.c
  applications/nrf5340_audio/src/audio/audio_sync_timer.h
  applications/nrf5340_audio/src/main.c
Labels: none

tests: lib: at_sms_cert: Add debug information
  tests/lib/at_sms_cert/src/main.c
Labels: none
