Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

samples: nrf9160: modem_shell: at cmd mode: pipelining
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/src/at/at_cmd.c
  samples/nrf9160/modem_shell/src/at/at_cmd.h
  samples/nrf9160/modem_shell/src/at/at_cmd_mode.c
  samples/nrf9160/modem_shell/src/ping/icmp_ping.c
Labels: doc-required

samples: nrf9160: modem_shell: link&sock&ppp: using mosh workq
  samples/nrf9160/modem_shell/src/link/link.c
  samples/nrf9160/modem_shell/src/ppp/ppp_ctrl.c
  samples/nrf9160/modem_shell/src/sock/sock.c
Labels: none

zigbee: shell: Add command to log active neighbors
  doc/nrf/libraries/zigbee/shell.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/CMakeLists.txt
  subsys/zigbee/Kconfig
  subsys/zigbee/cli/zigbee_cli_cmd_nbr.c
Labels: doc-required

samples: nrf9160: modem_shell: config: system workq stack decreased
  samples/nrf9160/modem_shell/prj.conf
Labels: none

samples: nrf9160: modem_shell: at cmd mode
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/CMakeLists.txt
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/src/at/CMakeLists.txt
  samples/nrf9160/modem_shell/src/at/at_cmd.c
  samples/nrf9160/modem_shell/src/at/at_cmd.h
  samples/nrf9160/modem_shell/src/at/at_cmd_mode.c
  samples/nrf9160/modem_shell/src/at/at_cmd_mode.h
  samples/nrf9160/modem_shell/src/at/at_cmd_mode_sett.c
  samples/nrf9160/modem_shell/src/at/at_cmd_mode_sett.h
  samples/nrf9160/modem_shell/src/at/at_cmd_ping.c
  samples/nrf9160/modem_shell/src/at/at_cmd_ping.h
  samples/nrf9160/modem_shell/src/at/at_shell.c
  samples/nrf9160/modem_shell/src/main.c
  samples/nrf9160/modem_shell/src/ping/icmp_ping.c
  samples/nrf9160/modem_shell/src/ping/icmp_ping.h
  samples/nrf9160/modem_shell/src/ping/icmp_ping_shell.c
  samples/nrf9160/modem_shell/src/shell.c
  samples/nrf9160/modem_shell/src/utils/mosh_print.c
Labels: doc-required

doc: location lib: formatting fixes
  doc/nrf/libraries/modem/location.rst
Labels: doc-required

samples: 802154_phy_test: `lgetcca` command mode conversion fix
  samples/peripheral/802154_phy_test/src/rf_proc.c
Labels: none

doc: multicell location lib: remove an unnecsssary Kconfig reference
  doc/nrf/libraries/networking/multicell_location.rst
Labels: doc-required

lib: location: wifi and cellular: systime to location_datetime
  doc/nrf/releases/release-notes-changelog.rst
  lib/location/location_utils.c
  lib/location/location_utils.h
  lib/location/method_cellular.c
  lib/location/method_wifi.c
Labels: doc-required

ci: github/workflows/manifest.yml: fix trailing comma
  .github/workflows/manifest.yml
Labels: none

boards: Add missing RAM/Flash sizes in several boards
  boards/arm/nrf52840gmouse_nrf52840/nrf52840gmouse_nrf52840.yaml
  boards/arm/nrf52kbd_nrf52832/nrf52kbd_nrf52832.yaml
  boards/arm/thingy91_nrf52840/thingy91_nrf52840.yaml
Labels: none

openthread: fix minimal CSL receive window for dongle boards
  subsys/net/openthread/Kconfig.defconfig
Labels: none

samples: nrf9160: download: fix deprecated mbedtls_256 function names
  samples/nrf9160/download/sample.yaml
  samples/nrf9160/download/src/main.c
Labels: none

samples: nrf9160: download: update urls and certificate
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/download/Kconfig
  samples/nrf9160/download/README.rst
  samples/nrf9160/download/cert/file-example.pem
Labels: doc-required

net: lib: nrf_cloud: REST lib error handling minor improvements
  doc/nrf/libraries/networking/nrf_cloud_rest.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud_rest.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: doc-required

Bluetooth: Mesh: Add sensor client to mesh shell
  doc/nrf/libraries/bluetooth_services/mesh/sensor_cli.rst
  subsys/bluetooth/mesh/shell/CMakeLists.txt
  subsys/bluetooth/mesh/shell/Kconfig
  subsys/bluetooth/mesh/shell/shell_ctrl_cli.c
  subsys/bluetooth/mesh/shell/shell_sensor_cli.c
  subsys/bluetooth/mesh/shell/shell_utils.c
  subsys/bluetooth/mesh/shell/shell_utils.h
Labels: doc-required

zigbee: samples: Stylistic changes based on review
  samples/zigbee/light_bulb/src/main.c
  samples/zigbee/network_coordinator/src/main.c
  samples/zigbee/shell/src/main.c
  samples/zigbee/template/src/main.c
Labels: none

net: lib: aws_iot: clarify use of topic type
  doc/nrf/releases/release-notes-changelog.rst
  include/net/aws_iot.h
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: doc-required

openthread: extending main stack for openthread samples
  subsys/net/openthread/Kconfig.defconfig
Labels: none

zigbee: samples: Identify only when in a network
  samples/zigbee/light_bulb/src/main.c
  samples/zigbee/network_coordinator/src/main.c
  samples/zigbee/shell/src/main.c
  samples/zigbee/template/src/main.c
Labels: none

manifest: update HomeKit revision
  west.yml
Labels: manifest

samples: nrf9160: lwm2m_client: rework application reconnection logic
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/src/main.c
Labels: doc-required

samples: nrf9160: lwm2m_client: Document the state transitions
  doc/nrf/images/lwm2m_client_state_diagram.svg
  doc/nrf/images/lwm2m_client_state_diagram.vsdx
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/README.rst
Labels: doc-required

caf: Allow linker to use correct memory for module_ids
  subsys/caf/events/module_id_list.ld
Labels: none

manifest: update homekit revision
  west.yml
Labels: manifest

doc: matter: expand creating accessory guide
  doc/nrf/images/matter_create_accessory_add_onoff_cluster.png
  doc/nrf/images/matter_create_accessory_create_new_endpoint.png
  doc/nrf/images/matter_template_sample.svg
  doc/nrf/images/matter_template_sample.vsdx
  doc/nrf/ug_matter_creating_accessory.rst
Labels: doc-required

docs: bluetooth: mesh: Add documentation for models shell commands
  doc/nrf/libraries/bluetooth_services/mesh/gen_battery_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_dtt.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_dtt_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_loc_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_lvl_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_onoff_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_plvl_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_plvl_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_ponoff_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_prop_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_ctl_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_ctrl_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_hsl_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_xyl_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/lightness_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/scene_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/scheduler_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/time_cli.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/bluetooth/mesh/shell/shell_ctrl_cli.c
  subsys/bluetooth/mesh/shell/shell_hsl_cli.c
  subsys/bluetooth/mesh/shell/shell_scheduler_cli.c
  subsys/bluetooth/mesh/shell/shell_time_cli.c
Labels: doc-required

samples: Updating notes for central_smp_client readme
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/central_smp_client/README.rst
Labels: doc-required

doc: matter: update outdated architecture graph
  doc/nrf/images/matter_IP_pyramid.png
  doc/nrf/images/matter_architecture.svg
  doc/nrf/images/matter_architecture.vsdx
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_matter_architecture.rst
Labels: doc-required

manifest: update homekit revision
  west.yml
Labels: manifest

zigbee: Initialize a variable
  subsys/zigbee/osif/zb_nrf_serial_logger.c
Labels: none

samples: esb: Support nRF52833 DK
  samples/esb/README.rst
  samples/esb/prx/sample.yaml
  samples/esb/ptx/sample.yaml
Labels: doc-required

manifest: Update nrfxlib revision
  west.yml
Labels: manifest

Bluetooth: Mesh: fix voltage sensor units
  subsys/bluetooth/mesh/sensor_types.c
  tests/subsys/bluetooth/mesh/sensor_subsys/src/main.c
Labels: none

samples: nrf9160: lte_ble_gateway: use new GNSS interface and logging
  samples/nrf9160/lte_ble_gateway/Kconfig
  samples/nrf9160/lte_ble_gateway/README.rst
  samples/nrf9160/lte_ble_gateway/prj.conf
  samples/nrf9160/lte_ble_gateway/src/aggregator.h
  samples/nrf9160/lte_ble_gateway/src/alarm.c
  samples/nrf9160/lte_ble_gateway/src/ble.c
  samples/nrf9160/lte_ble_gateway/src/main.c
Labels: doc-required

doc: cloud REST FOTA sample: fixes to Kconfig option linking
  samples/nrf9160/nrf_cloud_rest_fota/README.rst
Labels: doc-required

esb: Fix compilation for nRF52833
  include/esb.h
Labels: none

softdevice_controller: Call sdc_support_scan or sdc_support_master
  subsys/bluetooth/controller/hci_driver.c
Labels: none

doc: Add ESB nRF52833 changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: direct_test_mode: Add test case for nRF5340 with nrf21540
  samples/bluetooth/direct_test_mode/sample.yaml
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
