Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

matter: lock: user DoorLock cluster
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/lock/src/app_event.h
  samples/matter/lock/src/app_task.cpp
  samples/matter/lock/src/app_task.h
  samples/matter/lock/src/bolt_lock_manager.cpp
  samples/matter/lock/src/bolt_lock_manager.h
  samples/matter/lock/src/lock.matter
  samples/matter/lock/src/lock.zap
  samples/matter/lock/src/zap-generated/CHIPClientCallbacks.h
  samples/matter/lock/src/zap-generated/CHIPClusters.h
  samples/matter/lock/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/lock/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/lock/src/zap-generated/callback-stub.cpp
  samples/matter/lock/src/zap-generated/endpoint_config.h
  samples/matter/lock/src/zap-generated/gen_config.h
  samples/matter/lock/src/zap-generated/gen_tokens.h
  samples/matter/lock/src/zcl_callbacks.cpp
Labels: doc-required

applications: asset_tracker_v2: remove nrf cloud limitations from rst
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
Labels: doc-required

doc: nrf: add new samples to nrf cloud user guide
  doc/nrf/ug_nrf_cloud.rst
Labels: doc-required

manifest: update HomeKit revision
  west.yml
Labels: manifest

doc: update working with nRF5340 DK: Application core
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

doc: Thread: Move co-processor communication details to its own document
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_architectures.rst
  doc/nrf/ug_thread_communication.rst
  doc/nrf/ug_thread_overview.rst
Labels: doc-required

applications: nrf5340_audio: Change name from dsp to hw_codec
  applications/nrf5340_audio/src/drivers/cs47l63_comm.c
  applications/nrf5340_audio/src/modules/hw_codec.c
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_cpunet_reset.c
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_shared.dts
Labels: none

doc: Thread: Move co-processor communication details to its own document
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_architectures.rst
  doc/nrf/ug_thread_communication.rst
  doc/nrf/ug_thread_overview.rst
Labels: doc-required

applications: nrf5340_audio: Capture audio frame receive ts earlier
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/audio_datapath.h
  applications/nrf5340_audio/src/audio/streamctrl.c
Labels: none

manifest: Zephyr upmerge with ipc_service changes
  west.yml
Labels: manifest

doc: add Zigbee commissioning page
  doc/nrf/images/zigbee_commissioning.vsdx
  doc/nrf/images/zigbee_commissioning_fb.svg
  doc/nrf/images/zigbee_commissioning_formation.svg
  doc/nrf/images/zigbee_commissioning_overview.svg
  doc/nrf/images/zigbee_commissioning_steering.svg
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_zigbee.rst
  doc/nrf/ug_zigbee_commissioning.rst
Labels: doc-required

samples: nrf5340: netboot: Add missing steps to testing section
  samples/nrf5340/netboot/README.rst
Labels: doc-required

samples: Bluetooth: df: Enable TX of mutliple CTEs in a per adv event
  samples/bluetooth/direction_finding_connectionless_tx/boards/nrf52833dk_nrf52820.conf
  samples/bluetooth/direction_finding_connectionless_tx/boards/nrf52833dk_nrf52833.conf
  samples/bluetooth/direction_finding_connectionless_tx/child_image/hci_rpmsg.conf
  samples/bluetooth/direction_finding_connectionless_tx/prj.conf
  samples/bluetooth/direction_finding_connectionless_tx/src/main.c
Labels: none

samples: bluetooth: peripheral_uart: Clean up DT overlays.
  samples/bluetooth/peripheral_uart/app.overlay
  samples/bluetooth/peripheral_uart/boards/nrf51dk_nrf51422.overlay
  samples/bluetooth/peripheral_uart/boards/nrf52833dk_nrf52820.overlay
  samples/bluetooth/peripheral_uart/boards/nrf52833dk_nrf52833.overlay
  samples/bluetooth/peripheral_uart/boards/nrf52840dk_nrf52811.overlay
  samples/bluetooth/peripheral_uart/boards/nrf52840dk_nrf52840.overlay
  samples/bluetooth/peripheral_uart/boards/nrf52dk_nrf52810.overlay
  samples/bluetooth/peripheral_uart/boards/nrf52dk_nrf52832.overlay
  samples/bluetooth/peripheral_uart/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/peripheral_uart/boards/nrf5340dk_nrf5340_cpuapp_ns.overlay
Labels: none

doc: update working with nRF5340 DK: Application core
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

doc: add Zigbee commissioning page
  doc/nrf/images/zigbee_commissioning.vsdx
  doc/nrf/images/zigbee_commissioning_fb.svg
  doc/nrf/images/zigbee_commissioning_formation.svg
  doc/nrf/images/zigbee_commissioning_overview.svg
  doc/nrf/images/zigbee_commissioning_steering.svg
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_zigbee.rst
  doc/nrf/ug_zigbee_commissioning.rst
Labels: doc-required

event_manager_proxy: Check if remote instance was added already
  include/event_manager_proxy.h
  samples/event_manager_proxy/remote/src/main.c
  samples/event_manager_proxy/src/main.c
  subsys/event_manager_proxy/event_manager_proxy.c
Labels: none

doc: Add the issue on mpsl timeslot sample
  doc/nrf/known_issues.rst
Labels: doc-required

net: lib: fota_download: add native TLS support
  doc/nrf/libraries/networking/fota_download.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/fota_download/Kconfig
  subsys/net/lib/fota_download/src/fota_download.c
Labels: doc-required

net: lib: download_client: add native TLS support
  doc/nrf/releases/release-notes-changelog.rst
  include/net/download_client.h
  subsys/net/lib/download_client/src/download_client.c
Labels: doc-required

tests: Remove _ns boards from bootloader tests (including fprotect)
  tests/drivers/fprotect/negative/testcase.yaml
  tests/drivers/fprotect/positive/testcase.yaml
  tests/subsys/bootloader/bl_crypto/testcase.yaml
  tests/subsys/bootloader/bl_storage/testcase.yaml
  tests/subsys/bootloader/bl_validation/testcase.yaml
  tests/subsys/bootloader/bl_validation_neg/testcase.yaml
Labels: none

applications: asset_tracker_v2: integrate with P-GPS partition
  applications/asset_tracker_v2/boards/thingy91_nrf9160_ns.conf
  applications/asset_tracker_v2/prj.conf
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/asset_tracker_v2/src/modules/data_module.c
Labels: none

applications: serial_lte_modem: integrate with P-GPS partition
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: none

net: lib: nrf_cloud: Add optional P-GPS data partition
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_pgps
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps.c
  subsys/partition_manager/CMakeLists.txt
  subsys/partition_manager/pm.yml.pgps
Labels: none

samples: nrf9160: gnss: integrate with P-GPS partition
  samples/nrf9160/gnss/overlay-pgps.conf
  samples/nrf9160/gnss/src/assistance.c
Labels: none

lib: location: support combining A-GPS and P-GPS
  lib/location/method_gnss.c
  samples/nrf9160/location/overlay-pgps.conf
Labels: none

doc: nrf_cloud_pgps: Add P-GPS partition documentation
  doc/nrf/glossary.rst
  doc/nrf/known_issues.rst
  doc/nrf/libraries/networking/nrf_cloud_pgps.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: nrf9160: modem_shell: integrate with P-GPS partition
  samples/nrf9160/modem_shell/overlay-pgps.conf
  samples/nrf9160/modem_shell/src/gnss/gnss.c
Labels: none

samples: Bluetooth: df: Enable TX of mutliple CTEs in a per adv event
  samples/bluetooth/direction_finding_connectionless_tx/boards/nrf52833dk_nrf52820.conf
  samples/bluetooth/direction_finding_connectionless_tx/boards/nrf52833dk_nrf52833.conf
  samples/bluetooth/direction_finding_connectionless_tx/child_image/hci_rpmsg.conf
  samples/bluetooth/direction_finding_connectionless_tx/prj.conf
  samples/bluetooth/direction_finding_connectionless_tx/src/main.c
Labels: none

manifest: update homekit revision
  west.yml
Labels: manifest

update sock opts
  lib/nrf_modem_lib/nrf91_sockets.c
Labels: none

remove macros from nrf_modem_limits.h
  applications/serial_lte_modem/src/slm_at_host.c
  ext/curl/lib/url.h
  lib/at_host/Kconfig
Labels: none

nrf_modem_lib: nrf_modem_os: add dedicated trace heap
  lib/nrf_modem_lib/Kconfig.modemlib
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: none

manifest: update manifest to add custom built nrf_modem
  west.yml
Labels: manifest

manifest: update nrfxlib
  west.yml
Labels: manifest

net: lib: nrf_cloud: handle null neighbor cell data
  include/net/nrf_cloud.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
Labels: none

samples: nrf9160: nrf_cloud_rest_fota: module-str update
  samples/nrf9160/nrf_cloud_rest_fota/Kconfig
Labels: none

net: lib: nrf_cloud_rest: set keep alive to false for jitp
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: none

samples: nrf9160: add nrf_cloud_rest_cell_pos sample
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf_cloud.rst
  samples/nrf9160/nrf_cloud_rest_cell_pos/CMakeLists.txt
  samples/nrf9160/nrf_cloud_rest_cell_pos/Kconfig
  samples/nrf9160/nrf_cloud_rest_cell_pos/README.rst
  samples/nrf9160/nrf_cloud_rest_cell_pos/include/buttons_def.h
  samples/nrf9160/nrf_cloud_rest_cell_pos/prj.conf
  samples/nrf9160/nrf_cloud_rest_cell_pos/sample.yaml
  samples/nrf9160/nrf_cloud_rest_cell_pos/src/main.c
Labels: doc-required

bluetooth: controller: Update SDC public API with inclusive naming
  subsys/bluetooth/controller/hci_driver.c
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
