Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

manifest: Update nrfxlib
  subsys/bluetooth/controller/Kconfig
  west.yml
Labels: manifest

softdevice_controller: Define build type choice for SDC
  subsys/bluetooth/controller/Kconfig
Labels: none

samples: nrf9160: modem_shell: add command for deleting GNSS TCXO offset
  samples/nrf9160/modem_shell/src/gnss/gnss.c
  samples/nrf9160/modem_shell/src/gnss/gnss.h
  samples/nrf9160/modem_shell/src/gnss/gnss_shell.c
Labels: none

lib: nrf_modem: Move trace processing to a thread
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_ns.dts
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/nrf_modem_lib_trace.h
  lib/nrf_modem_lib/Kconfig.modemlib
  lib/nrf_modem_lib/nrf_modem_lib_trace.c
  lib/nrf_modem_lib/nrf_modem_os.c
  tests/lib/modem_trace/modem_trace_rtt/CMakeLists.txt
  tests/lib/modem_trace/modem_trace_rtt/prj.conf
  tests/lib/modem_trace/modem_trace_rtt/src/modem_trace_test.c
  tests/lib/modem_trace/modem_trace_uart/CMakeLists.txt
  tests/lib/modem_trace/modem_trace_uart/boards/qemu_cortex_m3.overlay
  tests/lib/modem_trace/modem_trace_uart/prj.conf
  tests/lib/modem_trace/modem_trace_uart/src/modem_trace_test.c
Labels: doc-required

doc: Added SR with WiFi Coex documentations
  doc/nrf/images/coex_generic_3pin_pta.png
  doc/nrf/ug_app_dev.rst
  doc/nrf/ug_radio_coex.rst
Labels: doc-required

samples: matter: Disabled not used logs and shell modules
  samples/matter/light_bulb/configuration/nrf21540dk_nrf52840/prj.conf
  samples/matter/light_bulb/configuration/nrf21540dk_nrf52840/prj_release.conf
  samples/matter/light_bulb/configuration/nrf52840dk_nrf52840/prj.conf
  samples/matter/light_bulb/configuration/nrf52840dk_nrf52840/prj_no_dfu.conf
  samples/matter/light_bulb/configuration/nrf52840dk_nrf52840/prj_release.conf
  samples/matter/light_bulb/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  samples/matter/light_bulb/configuration/nrf5340dk_nrf5340_cpuapp/prj_no_dfu.conf
  samples/matter/light_bulb/configuration/nrf5340dk_nrf5340_cpuapp/prj_release.conf
  samples/matter/light_switch/configuration/nrf21540dk_nrf52840/prj.conf
  samples/matter/light_switch/configuration/nrf21540dk_nrf52840/prj_release.conf
  samples/matter/light_switch/configuration/nrf52840dk_nrf52840/prj.conf
  samples/matter/light_switch/configuration/nrf52840dk_nrf52840/prj_release.conf
  samples/matter/light_switch/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  samples/matter/light_switch/configuration/nrf5340dk_nrf5340_cpuapp/prj_release.conf
  samples/matter/lock/configuration/nrf21540dk_nrf52840/prj.conf
  samples/matter/lock/configuration/nrf21540dk_nrf52840/prj_release.conf
  samples/matter/lock/configuration/nrf52840dk_nrf52840/prj.conf
  samples/matter/lock/configuration/nrf52840dk_nrf52840/prj_no_dfu.conf
  samples/matter/lock/configuration/nrf52840dk_nrf52840/prj_release.conf
  samples/matter/lock/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  samples/matter/lock/configuration/nrf5340dk_nrf5340_cpuapp/prj_no_dfu.conf
  samples/matter/lock/configuration/nrf5340dk_nrf5340_cpuapp/prj_release.conf
  samples/matter/template/configuration/nrf21540dk_nrf52840/prj.conf
  samples/matter/template/configuration/nrf21540dk_nrf52840/prj_release.conf
  samples/matter/template/configuration/nrf52840dk_nrf52840/prj.conf
  samples/matter/template/configuration/nrf52840dk_nrf52840/prj_release.conf
  samples/matter/template/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  samples/matter/template/configuration/nrf5340dk_nrf5340_cpuapp/prj_release.conf
Labels: none

net: lib: zzhc: add fixed DNS support
  subsys/net/lib/zzhc/zzhc.c
Labels: none

lib: sms: add handling for SMS client unregistration
  doc/nrf/releases/release-notes-changelog.rst
  lib/sms/sms.c
Labels: doc-required

doc: serial_lte_modem: Update path to application
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/doc/slm_extending.rst
Labels: doc-required

doc: fixes to application configuration options in nRF desktop
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/bas.rst
  applications/nrf_desktop/doc/battery_charger.rst
  applications/nrf_desktop/doc/battery_meas.rst
  applications/nrf_desktop/doc/ble_bond.rst
  applications/nrf_desktop/doc/ble_discovery.rst
  applications/nrf_desktop/doc/ble_latency.rst
  applications/nrf_desktop/doc/ble_passkey.rst
  applications/nrf_desktop/doc/ble_qos.rst
  applications/nrf_desktop/doc/ble_scan.rst
  applications/nrf_desktop/doc/buttons.rst
  applications/nrf_desktop/doc/buttons_sim.rst
  applications/nrf_desktop/doc/config_channel.rst
  applications/nrf_desktop/doc/constlat.rst
  applications/nrf_desktop/doc/cpu_meas.rst
  applications/nrf_desktop/doc/dfu.rst
  applications/nrf_desktop/doc/failsafe.rst
  applications/nrf_desktop/doc/fn_keys.rst
  applications/nrf_desktop/doc/hfclk_lock.rst
  applications/nrf_desktop/doc/hid_forward.rst
  applications/nrf_desktop/doc/hid_state.rst
  applications/nrf_desktop/doc/hid_state_pm.rst
  applications/nrf_desktop/doc/hids.rst
  applications/nrf_desktop/doc/info.rst
  applications/nrf_desktop/doc/led_stream.rst
  applications/nrf_desktop/doc/motion.rst
  applications/nrf_desktop/doc/passkey.rst
  applications/nrf_desktop/doc/profiler_sync.rst
  applications/nrf_desktop/doc/qos.rst
  applications/nrf_desktop/doc/selector.rst
  applications/nrf_desktop/doc/usb_state.rst
  applications/nrf_desktop/doc/usb_state_pm.rst
  applications/nrf_desktop/doc/watchdog.rst
  applications/nrf_desktop/doc/wheel.rst
  doc/nrf/libraries/caf/net_state.rst
  doc/nrf/libraries/caf/settings_loader.rst
Labels: doc-required

doc: nRF9160 GNSS sample: change warning to caution
  samples/nrf9160/aws_fota/README.rst
Labels: doc-required

test_spec: esb: add entries
  .github/test-spec.yml
Labels: none

tests/../dfu_target/mcuboot: tests for dfu_target_schedule_update
  tests/subsys/dfu/dfu_target/mcuboot/src/main.c
Labels: none

tfm: Increase default TF-M flash size with debug build type
  modules/trusted-firmware-m/Kconfig
Labels: none

samples: tfm_hello_world: Make sample compile for all configurations
  samples/tfm/tfm_hello_world/sample.yaml
  samples/tfm/tfm_hello_world/src/main.c
Labels: none

shell: Add the IPC service shell backend
  include/shell/shell_ipc.h
  subsys/CMakeLists.txt
  subsys/shell/CMakeLists.txt
  subsys/shell/Kconfig
  subsys/shell/shell_ipc.c
Labels: none

samples: remote_shell: Add Remote Shell sample
  samples/CMakeLists.txt
  samples/Kconfig
  samples/nrf5340/remote_shell/CMakeLists.txt
  samples/nrf5340/remote_shell/Kconfig
  samples/nrf5340/remote_shell/README.rst
  samples/nrf5340/remote_shell/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/nrf5340/remote_shell/prj.conf
  samples/nrf5340/remote_shell/prj_uart.conf
  samples/nrf5340/remote_shell/sample.yaml
  samples/nrf5340/remote_shell/src/main.c
  samples/nrf5340/remote_shell/src/shell_ipc_host.c
  samples/nrf5340/remote_shell/src/shell_ipc_host.h
Labels: doc-required

tfm: Add workaround for Crypto dependency on Internal Trusted Storage
  modules/tfm/tfm/boards/CMakeLists.txt
  modules/tfm/zephyr/CMakeLists.txt
Labels: none

samples: openthread: coap_client: use DEVICE_DT_GET
  samples/openthread/coap_client/src/coap_client.c
Labels: none

crypto: Reducing TF-M Minimal config size
  modules/tfm/tfm/boards/common/tfm_hal_platform.c
Labels: none

lib: nrf_modem: Revert "lib: nrf_modem: Move trace processing to thread"
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_ns.dts
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/nrf_modem_lib_trace.h
  lib/nrf_modem_lib/Kconfig.modemlib
  lib/nrf_modem_lib/nrf_modem_lib_trace.c
  lib/nrf_modem_lib/nrf_modem_os.c
  tests/lib/modem_trace/modem_trace_rtt/CMakeLists.txt
  tests/lib/modem_trace/modem_trace_rtt/prj.conf
  tests/lib/modem_trace/modem_trace_rtt/src/modem_trace_test.c
  tests/lib/modem_trace/modem_trace_uart/CMakeLists.txt
  tests/lib/modem_trace/modem_trace_uart/boards/qemu_cortex_m3.overlay
  tests/lib/modem_trace/modem_trace_uart/prj.conf
  tests/lib/modem_trace/modem_trace_uart/src/modem_trace_test.c
Labels: doc-required

application: serial_lte_modem: BUG-FIX #DATACTRL Read error
  applications/serial_lte_modem/src/slm_at_host.c
Labels: none

tfm: rework TF-M minimal configuration
  Kconfig.nrf
  modules/tfm/tfm/boards/CMakeLists.txt
  modules/tfm/tfm/boards/common/dummy_otp.c
  modules/tfm/tfm/boards/common/dummy_provisioning.c
  modules/tfm/tfm/boards/common/dummy_uart_stdout.c
  modules/tfm/zephyr/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
  modules/trusted-firmware-m/Kconfig.mbedtls_minimal.defconfig
  modules/trusted-firmware-m/Kconfig.tfm_minimal.defconfig
  west.yml
Labels: manifest

doc: avoid repetition in the sample doc template
  doc/nrf/templates/sample_README.rst
Labels: doc-required

doc: Add doc for the IPC Service shell backend
  doc/nrf/libraries/shell/shell_ipc.rst
Labels: doc-required

samples: radio_test: Add remote shell support
  samples/nrf5340/remote_shell/CMakeLists.txt
  samples/nrf5340/remote_shell/Kconfig
  samples/peripheral/radio_test/README.rst
  samples/peripheral/radio_test/boards/nrf5340dk_nrf5340_cpunet.overlay
  samples/peripheral/radio_test/prj_ipc_shell.conf
Labels: doc-required

doc: nRF9160 GNSS sample doc: added descriptions for Kconfig options
  samples/nrf9160/gnss/README.rst
Labels: doc-required

samples: debug: ppi_trace: use DEVICE_DT_GET
  samples/debug/ppi_trace/src/main.c
Labels: none

doc: zigbee: update known issue KRKNWK-11602
  doc/nrf/known_issues.rst
Labels: doc-required

applications: asset_tracker_v2: Fix nRF Cloud cell positioning
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
  applications/asset_tracker_v2/src/modules/Kconfig.cloud_module
Labels: none

manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest

applications: asset_tracker_v2: Fix unit test failures on native_posix
  applications/asset_tracker_v2/tests/debug_module/src/debug_module_test.c
  applications/asset_tracker_v2/tests/gnss_module/src/gnss_module_test.c
Labels: none

doc: zigbee: add weather app to thingy 53 ug
  doc/nrf/ug_thingy53.rst
Labels: doc-required

changelog: Update changelog with IPC shell backend
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: nrf5340: netboot: use DEVICE_DT_GET
  samples/nrf5340/netboot/src/main.c
Labels: none

doc: adding link to nRF21540
  doc/nrf/includes/sample_board_rows.txt
Labels: doc-required

doc: remake coex_generic_3pin_pta to match guidelines
  doc/nrf/images/coex_generic_3pin_pta.png
  doc/nrf/images/coex_generic_3pin_pta.svg
  doc/nrf/images/coex_generic_3pin_pta.vsdx
  doc/nrf/ug_radio_coex.rst
Labels: doc-required

lib: sms: remove delay before SMS client re-registration
  lib/sms/sms.c
Labels: none

license: Replace old license reference
  lib/fprotect/sys_init_fprotect.c
  samples/nrf9160/lwm2m_carrier/src/carrier_certs.c
  samples/nrf9160/lwm2m_carrier/src/carrier_certs.h
  samples/nrf9160/modem_shell/src/gnss/gnss.c
Labels: none

doc: Add links to DevAcademy
  doc/nrf/getting_started.rst
  doc/nrf/images/DevAcademy.svg
  doc/nrf/images/DevAcademy_primary.svg
  doc/nrf/images/ncs_get_started_banner.png
  doc/nrf/index.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
