Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

samples: nrf9160: modem_shell: new cloud_rest commands
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/CMakeLists.txt
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/overlay-cloud_mqtt.conf
  samples/nrf9160/modem_shell/sample.yaml
  samples/nrf9160/modem_shell/src/cloud/CMakeLists.txt
  samples/nrf9160/modem_shell/src/cloud/cloud_mqtt_shell.c
  samples/nrf9160/modem_shell/src/cloud/cloud_rest_shell.c
  samples/nrf9160/modem_shell/src/print/print_shell.c
  samples/nrf9160/modem_shell/src/utils/mosh_print.c
Labels: doc-required

samples: nrf9160: modem_shell: at_cmd_mode: runtime set for line endings
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/src/at/at_cmd_mode.c
  samples/nrf9160/modem_shell/src/at/at_cmd_mode.h
  samples/nrf9160/modem_shell/src/at/at_shell.c
Labels: none

samples: nrf9160: modem_shell: link status: device id added
  samples/nrf9160/modem_shell/src/link/link_api.c
Labels: none

applications: asset_tracker_v2: Add documentation for LwM2M integration
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/asset_tracker_v2/doc/cloud_module.rst
  applications/asset_tracker_v2/doc/cloud_wrapper.rst
  applications/asset_tracker_v2/src/cloud/cloud_wrapper.h
  doc/nrf/images/asset_tracker_v2_cloud_module_hierarchy.svg
  doc/nrf/images/asset_tracker_v2_cloud_module_hierarchy.vsdx
  doc/nrf/images/coiote_device_mgmt_server_ui.png
  doc/nrf/links.txt
Labels: doc-required

changelog: Update changelog with Central SMP Client sample
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: bluetooth: central_smp_client: Port to ZCBOR
  samples/bluetooth/central_smp_client/README.rst
  samples/bluetooth/central_smp_client/prj.conf
  samples/bluetooth/central_smp_client/src/main.c
Labels: doc-required

manifest: update HomeKit revision
  west.yml
Labels: manifest

lib: nrf_modem: Fix modem traces after calling nrf_modem_lib_trace_stop
  lib/nrf_modem_lib/nrf_modem_lib_trace.c
  lib/nrf_modem_lib/nrf_modem_lib_trace_sync.c
  tests/lib/modem_trace/modem_trace_rtt/src/modem_trace_test.c
  tests/lib/modem_trace/modem_trace_uart/src/modem_trace_test.c
Labels: none

manifest: update Zephyr revision
  west.yml
Labels: manifest

zigbee: Require all OTA images to start update
  subsys/zigbee/lib/zigbee_fota/src/dfu_multi_target.c
Labels: none

zigbee: Align Zigbee OTA image generation
  modules/mcuboot/CMakeLists.txt
  scripts/bootloader/zb_add_ota_header.py
Labels: none

zigbee: Use multi image API in FOTA library
  doc/nrf/libraries/zigbee/zigbee_fota.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_zigbee_configuring_libraries.rst
  include/zigbee/zigbee_fota.h
  samples/zigbee/light_switch/README.rst
  samples/zigbee/light_switch/boards/nrf21540dk_nrf52840.conf
  samples/zigbee/light_switch/boards/nrf21540dk_nrf52840_fota.conf
  samples/zigbee/light_switch/boards/nrf52833dk_nrf52833.conf
  samples/zigbee/light_switch/boards/nrf52840dk_nrf52840.conf
  samples/zigbee/light_switch/boards/nrf52840dk_nrf52840_fota.conf
  samples/zigbee/light_switch/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/light_switch/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/zigbee/light_switch/boards/nrf5340dk_nrf5340_cpuapp_fota.conf
  samples/zigbee/light_switch/child_image/mcuboot/boards/nrf5340dk_nrf5340_cpuapp_fota.conf
  samples/zigbee/light_switch/child_image/mcuboot/boards/nrf5340dk_nrf5340_cpuapp_fota.overlay
  samples/zigbee/light_switch/child_image/multiprotocol_rpmsg/boards/nrf5340dk_nrf5340_cpunet_fota.conf
  samples/zigbee/light_switch/overlay-fota.conf
  samples/zigbee/light_switch/overlay-multiprotocol_ble.conf
  samples/zigbee/light_switch/prj.conf
  samples/zigbee/light_switch/prj_fota.conf
  samples/zigbee/light_switch/sample.yaml
  subsys/zigbee/lib/zigbee_fota/CMakeLists.txt
  subsys/zigbee/lib/zigbee_fota/Kconfig
  subsys/zigbee/lib/zigbee_fota/src/dfu_multi_target.c
  subsys/zigbee/lib/zigbee_fota/src/dfu_multi_target.h
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
  subsys/zigbee/lib/zigbee_fota/src/zigbee_ota.h
Labels: doc-required

zigbee: Use non-wildcard FOTA image type
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_fota/Kconfig
Labels: doc-required

manifest: update zephyr
  west.yml
Labels: manifest

zigbee: Use non-wildcard FOTA image type
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_fota/Kconfig
Labels: doc-required

zigbee: Require all OTA images to start update
  subsys/zigbee/lib/zigbee_fota/src/dfu_multi_target.c
Labels: none

samples: direct_test_mode: Fix active delay calculation
  samples/bluetooth/direct_test_mode/src/fem/nrf21540.c
Labels: none

zigbee: Use multi image API in FOTA library
  doc/nrf/libraries/zigbee/zigbee_fota.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_zigbee_configuring_libraries.rst
  include/zigbee/zigbee_fota.h
  samples/zigbee/light_switch/README.rst
  samples/zigbee/light_switch/boards/nrf21540dk_nrf52840.conf
  samples/zigbee/light_switch/boards/nrf21540dk_nrf52840_fota.conf
  samples/zigbee/light_switch/boards/nrf52833dk_nrf52833.conf
  samples/zigbee/light_switch/boards/nrf52840dk_nrf52840.conf
  samples/zigbee/light_switch/boards/nrf52840dk_nrf52840_fota.conf
  samples/zigbee/light_switch/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/light_switch/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/zigbee/light_switch/boards/nrf5340dk_nrf5340_cpuapp_fota.conf
  samples/zigbee/light_switch/child_image/mcuboot/boards/nrf5340dk_nrf5340_cpuapp_fota.conf
  samples/zigbee/light_switch/child_image/mcuboot/boards/nrf5340dk_nrf5340_cpuapp_fota.overlay
  samples/zigbee/light_switch/child_image/multiprotocol_rpmsg/boards/nrf5340dk_nrf5340_cpunet_fota.conf
  samples/zigbee/light_switch/overlay-fota.conf
  samples/zigbee/light_switch/overlay-multiprotocol_ble.conf
  samples/zigbee/light_switch/prj.conf
  samples/zigbee/light_switch/prj_fota.conf
  samples/zigbee/light_switch/sample.yaml
  subsys/zigbee/lib/zigbee_fota/CMakeLists.txt
  subsys/zigbee/lib/zigbee_fota/Kconfig
  subsys/zigbee/lib/zigbee_fota/src/dfu_multi_target.c
  subsys/zigbee/lib/zigbee_fota/src/dfu_multi_target.h
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
  subsys/zigbee/lib/zigbee_fota/src/zigbee_ota.h
Labels: doc-required

zigbee: Align Zigbee OTA image generation
  modules/mcuboot/CMakeLists.txt
  scripts/bootloader/zb_add_ota_header.py
Labels: none

bluetooth: fast_pair: Align prefixes
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_common.c
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_mbedtls.c
  subsys/bluetooth/services/fast_pair/crypto/fp_crypto_tinycrypt.c
  subsys/bluetooth/services/fast_pair/fp_advertising.c
  subsys/bluetooth/services/fast_pair/fp_gatt_service.c
  subsys/bluetooth/services/fast_pair/fp_keys.c
  subsys/bluetooth/services/fast_pair/fp_registration_data.c
  subsys/bluetooth/services/fast_pair/fp_storage.c
  subsys/bluetooth/services/fast_pair/include/fp_crypto.h
  subsys/bluetooth/services/fast_pair/include/fp_keys.h
  subsys/bluetooth/services/fast_pair/include/fp_registration_data.h
  subsys/bluetooth/services/fast_pair/include/fp_storage.h
  tests/subsys/bluetooth/fast_pair/crypto/src/main.c
Labels: none

codeowners: change codeowner for mesh
  CODEOWNERS
Labels: none

manifest: update zephyr version
  west.yml
Labels: manifest

doc: Thingy:91 replace Segger instructions with VS Code
  doc/nrf/ug_thingy91.rst
Labels: doc-required

Fix typo in default config
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpunet_defconfig
Labels: none

ci(Mergify): configuration update
  .github/mergify.yml
Labels: none

application: serial_lte_modem: Support READ command for GNSS service
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: doc-required

samples: nrf9160: modem_shell: link: fixing re-entering of normal mode
  samples/nrf9160/modem_shell/src/link/link.c
Labels: none

lib: modem_attest_token: replace tinycbor with zcbor
  doc/nrf/releases/release-notes-changelog.rst
  lib/modem_attest_token/Kconfig
  lib/modem_attest_token/modem_attest_token.c
Labels: doc-required

lib: edge_impulse: Add profiling information
  doc/nrf/libraries/others/ei_wrapper.rst
  doc/nrf/releases/release-notes-changelog.rst
  lib/edge_impulse/Kconfig
  lib/edge_impulse/ei_wrapper.cpp
Labels: doc-required

net: lib: lwm2m_client_utils: adds modem mode...
  doc/nrf/releases/release-notes-changelog.rst
  include/net/lwm2m_client_utils.h
  samples/nrf9160/lwm2m_client/src/main.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
Labels: doc-required

doc: zigbee: add fota section for 5340
  doc/nrf/libraries/zigbee/index.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf52.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

scripts: nrf_profiler: Remove version limitation
  scripts/nrf_profiler/requirements.txt
Labels: none

scripts: nrf_profiler: Fix TypeError issue
  doc/nrf/releases/release-notes-changelog.rst
  scripts/nrf_profiler/plot_nordic.py
  scripts/nrf_profiler/requirements.txt
Labels: doc-required

applications: asset_tracker_v2: Add missing argument
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
Labels: none

doc: event_manager_proxy: Document the library limitations
  doc/nrf/libraries/others/event_manager_proxy.rst
Labels: doc-required

tests: add platform_allow to tests without it
  samples/caf_sensor_manager/sample.yaml
  tests/subsys/event_manager_proxy/testcase.yaml
Labels: none

doc: zigbee: add fota section for 5340
  doc/nrf/libraries/zigbee/index.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf52.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

applications: asset_tracker_v2: Add missing argument
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
Labels: none

doc: minor doc fixes in changelog and templates
  doc/nrf/includes/build_and_run_nrf9160.txt
  doc/nrf/libraries/dfu/dfu_multi_image.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/templates/sample_README.rst
Labels: doc-required

applications: asset_tracker_v2: Grant/deny send based on energy estimate
  applications/asset_tracker_v2/doc/data_module.rst
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  applications/asset_tracker_v2/src/modules/data_module.c
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required
