Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required, CI-dfu-test, CI-all-test, CI-tfm-test

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in master, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"CI-dfu-test":
  - "include/bl*"
  - "include/fprotect.h"
  - "include/fw_info.*"
  - "include/dfu/**/*"
  - "include/net/**/*"
  - "modules/mcuboot/**/*"
  - "samples/nrf9160/*fota/**/*"
  - "samples/nrf9160/fmfu_smp_svr/**/*"
  - "samples/nrf9160/http_update/**/*"
  - "samples/bootloader/**/*"
  - "scripts/bootloader/**/*"
  - "subsys/bootloader/**/*"
  - "subsys/fw_info/**/*"
  - "subsys/mgmt/**/*"
  - "subsys/net/lib/*fota*/**/*"
  - "subsys/net/lib/download_client/**/*"
  - "tests/subsys/bootloader/**/*"
  - "tests/subsys/dfu/**/*"
  - "tests/subsys/fw_info/**/*"
  - "tests/subsys/net/**/*"

"CI-all-test":
  - "west.yml"
  - "**/*partition_manager*/**/*"
  - "**/*partition_manager*"

"CI-tfm-test":
  - "modules/tfm/**/*"
  - "samples/tfm/**/*"

net: lib: aws_iot: Do not disconnect upon AWS FOTA error.
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: none

samples: bluetooth: direct_test_mode: Add valid serial port connection doc
  doc/nrf/images/minicom_serial_port.png
  doc/nrf/images/minicom_setup_window.png
  doc/nrf/images/minicom_terminal_cfg.png
  doc/nrf/images/real_term_serial_port.png
  doc/nrf/images/realterm.png
  doc/nrf/images/realterm_commands.png
  doc/nrf/images/realterm_hex_display.png
  samples/bluetooth/direct_test_mode/README.rst
Labels: doc-required

known_issues: Add issue NCSDK-8321 with the shell_bt_nus sample
  doc/nrf/known_issues.rst
Labels: doc-required

Bluetooth: Mesh: Remove invalid todo comment in light ctrl srv
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: none

Bluetooth: Mesh: Use int for all error returns
  include/bluetooth/mesh/gen_battery_srv.h
  include/bluetooth/mesh/gen_loc_srv.h
  include/bluetooth/mesh/gen_onoff_srv.h
  subsys/bluetooth/mesh/gen_battery_srv.c
  subsys/bluetooth/mesh/gen_loc_srv.c
  subsys/bluetooth/mesh/gen_onoff_srv.c
Labels: none

Bluetooth: Mesh: Fix formatting of opcode handlers
  subsys/bluetooth/mesh/gen_battery_cli.c
  subsys/bluetooth/mesh/gen_loc_cli.c
  subsys/bluetooth/mesh/gen_loc_srv.c
  subsys/bluetooth/mesh/gen_lvl_srv.c
  subsys/bluetooth/mesh/gen_onoff_cli.c
  subsys/bluetooth/mesh/gen_onoff_srv.c
  subsys/bluetooth/mesh/gen_plvl_cli.c
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/gen_ponoff_cli.c
  subsys/bluetooth/mesh/gen_ponoff_srv.c
  subsys/bluetooth/mesh/gen_prop_cli.c
  subsys/bluetooth/mesh/gen_prop_srv.c
  subsys/bluetooth/mesh/light_ctl_cli.c
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_ctrl_cli.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/light_temp_srv.c
  subsys/bluetooth/mesh/light_xyl_cli.c
  subsys/bluetooth/mesh/light_xyl_srv.c
  subsys/bluetooth/mesh/lightness_cli.c
  subsys/bluetooth/mesh/lightness_srv.c
  subsys/bluetooth/mesh/scheduler_srv.c
  subsys/bluetooth/mesh/sensor_cli.c
  subsys/bluetooth/mesh/sensor_srv.c
  subsys/bluetooth/mesh/time_cli.c
  subsys/bluetooth/mesh/time_srv.c
Labels: none

Bluetooth: Mesh: Generic POnOff breaks power-up behavior of other models.
  include/bluetooth/mesh/gen_ponoff_srv.h
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/gen_ponoff_internal.h
  subsys/bluetooth/mesh/gen_ponoff_srv.c
  subsys/bluetooth/mesh/lightness_srv.c
Labels: none

ext: cjson: add more CS versions of cJSON_Add functions
  ext/cjson/cJSON.c
  ext/cjson/cJSON.h
Labels: none

doc: Add section for Bluetooth LE in changelog
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

applications: serial_lte_modem: fix infinite loop with no exit
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
Labels: doc-required

applications: serial_lte_modem: integrate HTTPC to SLM data mode
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/slm_at_commands.c
Labels: doc-required

spm: set default SPM region size to 64kB
  subsys/spm/Kconfig
Labels: none

spm: add minimal configuration
  samples/spm/prj_minimal.conf
  subsys/spm/Kconfig
Labels: none

spm: enable asserts
  samples/spm/prj.conf
Labels: none

ci: run doc build on release branches
  .github/workflows/docbuild.yml
Labels: none

ci: run doc build on release branches
  .github/workflows/docbuild.yml
Labels: none

net: lib: aws_iot: Do not disconnect upon AWS FOTA error.
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: none

Bluetooth: Mesh: Generic POnOff breaks power-up behavior of other models.
  include/bluetooth/mesh/gen_ponoff_srv.h
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/gen_ponoff_internal.h
  subsys/bluetooth/mesh/gen_ponoff_srv.c
  subsys/bluetooth/mesh/lightness_srv.c
Labels: none

ci: run doc build on release branches
  .github/workflows/docbuild.yml
Labels: none

manifest: Update SoftDevice Controller
  west.yml
Labels: manifest, CI-all-test

doc: Add section for Bluetooth LE in changelog
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

doc: Update known_issues for SoftDevice controller
  doc/nrf/known_issues.rst
Labels: doc-required

doc: zigbee: changes for NCS v1.5.1
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

samples: nrf9160: cloud_client: Print when LTE mode changes
  include/modem/lte_lc.h
  samples/nrf9160/cloud_client/src/main.c
Labels: none

applications: nrf_desktop: Reduce memory usage for QSPI config
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/mcuboot_ZDebugMCUBootQSPI.conf
Labels: none

driver: Made entropy_cc3xx available in pre-kernel
  drivers/entropy/entropy_cc310.c
  drivers/hw_cc310/Kconfig
  drivers/hw_cc310/hw_cc310.c
Labels: none

samples: connectedhomeip: Remove the use of deprecated PWM/DT macros
  samples/connectedhomeip/light_bulb/src/chip_project_config.h
  samples/connectedhomeip/light_bulb/src/lighting_manager.cpp
  samples/connectedhomeip/light_bulb/src/lighting_manager.h
Labels: none

treewide: Remove references to the BT_ATT_TX_MAX Kconfig option
  applications/connectivity_bridge/prj.conf
  doc/nrf/app_memory.rst
  samples/bluetooth/peripheral_lbs/prj_minimal.conf
  samples/bluetooth/peripheral_uart/prj_minimal.conf
  samples/bluetooth/throughput/prj.conf
  samples/bluetooth/throughput/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/bluetooth/throughput/prj_nrf5340pdk_nrf5340_cpuapp.conf
  samples/openthread/cli/overlay-minimal_multiprotocol.conf
Labels: doc-required

boards: nrf52840gmouse_nrf52840: Switch to sda-gpios, scl-gpios
  boards/arm/nrf52840gmouse_nrf52840/nrf52840gmouse_nrf52840.dts
Labels: none

applications: asset_tracker_v2: Add missing inclusion of <sys/printk.h>
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_helpers.c
Labels: none

zigbee: Change crypto_ecb driver init priority in zigbee samples
  samples/zigbee/light_bulb/prj.conf
  samples/zigbee/light_switch/prj.conf
  samples/zigbee/ncp/prj.conf
  samples/zigbee/ncp/prj_usb.conf
  samples/zigbee/network_coordinator/prj.conf
Labels: none

doc: nrf: Replace links to no longer existing options with just text
  doc/nrf/known_issues.rst
  doc/nrf/releases/release-notes-1.5.0.rst
Labels: doc-required

cmake: multi image: using BOARD and REVISION arguments for zephyr_file()
  cmake/extensions.cmake
  cmake/multi_image.cmake
Labels: none

treewide: Remove support for nRF5340 PDK
  lib/fprotect/fprotect_spu.c
  modules/tfm/Kconfig
  modules/tfm/boards/board/RTE_Device.h
  modules/tfm/boards/nrf5340_cpuapp_eng_a/CMakeLists.txt
  modules/tfm/boards/nrf5340_cpuapp_eng_a/config.cmake
  modules/tfm/boards/nrf5340_cpuapp_eng_a/preload.cmake
  subsys/spm/spm_internal.h
  tests/CMakeLists.txt
Labels: CI-tfm-test

bluetooth: mesh: Update a check whether a delayed work item is pending
  subsys/bluetooth/mesh/gen_loc_srv.c
Labels: none

manifest: Update for regular upmerge 05.03.2021
  west.yml
Labels: manifest, CI-all-test

samples: bluetooth: mesh: light_ctrl: Convert to use DEVICE_DT_GET()
  samples/bluetooth/mesh/light_ctrl/src/lc_pwm_led.c
Labels: none

treewide: Align with recent changes in Zephyr device power management
  applications/asset_tracker/src/ui/buzzer.c
  applications/asset_tracker/src/ui/led_pwm.c
  applications/asset_tracker/src/ui/nmos.c
  applications/asset_tracker_v2/src/led/led_pwm.c
  applications/connectivity_bridge/prj.conf
  applications/connectivity_bridge/src/modules/CMakeLists.txt
  applications/connectivity_bridge/src/modules/Kconfig
  applications/connectivity_bridge/src/modules/uart_handler.c
  applications/nrf_desktop/doc/power_manager.rst
  applications/nrf_desktop/src/hw_interface/leds.c
  applications/nrf_desktop/src/modules/Kconfig.power_manager
  applications/nrf_desktop/src/modules/power_manager.c
  applications/serial_lte_modem/prj.conf
  doc/nrf/nrf.doxyfile.in
  doc/nrfxlib/nrfxlib.doxyfile.in
  samples/nfc/system_off/prj.conf
  samples/nfc/system_off/src/main.c
  samples/nrf9160/lwm2m_client/src/ui/buzzer.c
  samples/nrf9160/lwm2m_client/src/ui/led_pwm.c
  samples/openthread/coap_client/overlay-mtd.conf
  samples/openthread/coap_client/src/coap_client.c
Labels: doc-required

treewide: Update assignments to LOG_IMMEDIATE and LOG_MINIMAL options
  applications/asset_tracker/prj.conf
  applications/asset_tracker/prj_qemu_x86.conf
  applications/asset_tracker/prj_thingy91_nrf9160ns.conf
  applications/asset_tracker_v2/prj.conf
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/app_ZDebug.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/mcuboot_ZDebugMCUBoot.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/mcuboot_ZDebugMCUBootQSPI.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/mcuboot_ZDebugMCUBootSMP.conf
  samples/bluetooth/llpm/boards/nrf52840dongle_nrf52840.conf
  samples/connectedhomeip/light_bulb/prj.conf
  samples/connectedhomeip/light_switch/prj.conf
  samples/connectedhomeip/lock/prj.conf
  samples/nrf9160/azure_fota/prj.conf
  samples/openthread/cli/harness/overlay-cert-thread_1_2.conf
  samples/openthread/cli/harness/overlay-cert.conf
  samples/openthread/coprocessor/prj.conf
  subsys/bootloader/image/log_minimal.conf
  tests/crypto/prj.conf
Labels: CI-dfu-test

samples: zigbee: light_bulb: Convert to use DEVICE_DT_GET()
  samples/zigbee/light_bulb/src/main.c
Labels: none
