Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

net: lib: nrf_cloud: handle new REST error code 40499
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: doc-required

tests: fast_pair: Introduce storage unit tests
  doc/nrf/releases/release-notes-changelog.rst
  tests/subsys/bluetooth/fast_pair/storage/CMakeLists.txt
  tests/subsys/bluetooth/fast_pair/storage/Kconfig
  tests/subsys/bluetooth/fast_pair/storage/include/storage_mock.h
  tests/subsys/bluetooth/fast_pair/storage/prj.conf
  tests/subsys/bluetooth/fast_pair/storage/src/main.c
  tests/subsys/bluetooth/fast_pair/storage/src/settings_mock.c
  tests/subsys/bluetooth/fast_pair/storage/testcase.yaml
Labels: doc-required

bluetooth: fast_pair: Add API to clear data loaded to RAM
  subsys/bluetooth/services/fast_pair/fp_storage.c
  subsys/bluetooth/services/fast_pair/include/fp_storage.h
Labels: none

cmake: Escape literal '"' chars in image_preload variables
  cmake/multi_image.cmake
Labels: none

net: lib: nrf_cloud: handle new REST error code 40499
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: doc-required

application: asset_tracker_v2: validate nrf cloud modem fota job
  applications/asset_tracker_v2/src/main.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

net: lib: nrf_cloud: add fota validation function
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota_common.c
Labels: doc-required

application: serial_lte_modem: BUG-FIX enter data mode
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/doc/MQTT_AT_commands.rst
  applications/serial_lte_modem/doc/slm_data_mode.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  applications/serial_lte_modem/src/ftp_c/slm_at_ftp.c
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_host.h
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

application: serial_lte_modem: BUG-FIX enter data mode
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/doc/MQTT_AT_commands.rst
  applications/serial_lte_modem/doc/slm_data_mode.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  applications/serial_lte_modem/src/ftp_c/slm_at_ftp.c
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_host.h
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

applications: asset_tracker_v2: Fix issues suggested by static analysis
  applications/asset_tracker_v2/src/cloud/aws_iot_integration.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/modem_module.c
  applications/asset_tracker_v2/src/modules/sensor_module.c
Labels: none

DO NOT MERGE: Use fork with pending driver changes
  west.yml
Labels: manifest

refactor: accelerometer callback setup
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors.c
Labels: none

ext-sensors: use new SENSOR_TRIG_INSTANT_MOTION accelerometer trigger
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors.c
Labels: none

doc: ug_edge_impulse: Add explanation regarding API key
  doc/nrf/ug_edge_impulse.rst
Labels: doc-required

manifest: update nrfxlib revision
  west.yml
Labels: manifest

doc: software_maturity: Update rst to point to new entries in the yaml
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/software_maturity.rst
Labels: doc-required

ext-sensors/sensor: distinguish between activity/inactivity events
  applications/asset_tracker_v2/src/events/sensor_module_event.c
  applications/asset_tracker_v2/src/events/sensor_module_event.h
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors.c
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors.h
  applications/asset_tracker_v2/src/modules/sensor_module.c
Labels: none

application: serial_lte_modem: Add GNSS sleep/wakeup URC
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

data/cloud: add support for activity data encoding
  applications/asset_tracker_v2/src/cloud/cloud_codec/azure_iot_hub/azure_iot_hub_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/json_protocol_names_nrf_cloud.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
  applications/asset_tracker_v2/src/modules/data_module.c
Labels: none

asset_tracker_v2: Add additional sample after inactivity
  applications/asset_tracker_v2/src/cloud/cloud_codec/aws_iot/json_protocol_names_aws_iot.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/azure_iot_hub/json_protocol_names_azure_iot_hub.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_common.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/json_protocol_names_nrf_cloud.h
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  applications/asset_tracker_v2/src/modules/data_module.c
Labels: none

ext-sensors/sensor: record inactivity time
  applications/asset_tracker_v2/src/modules/sensor_module.c
Labels: none

main: use activity event instead of data_ready event
  applications/asset_tracker_v2/src/main.c
Labels: none

cloud/data: add cloud buffer for activity data
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec_ringbuffer.c
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  applications/asset_tracker_v2/src/modules/data_module.c
Labels: none

sensor: do not disable acc callback after activity event
  applications/asset_tracker_v2/src/modules/sensor_module.c
Labels: none

zigbee: Fix typos in samples, tests and subsys
  applications/zigbee_weather_station/README.rst
  samples/zigbee/light_bulb/src/main.c
  samples/zigbee/light_switch/src/main.c
  samples/zigbee/network_coordinator/src/main.c
  samples/zigbee/shell/sample.yaml
  samples/zigbee/shell/src/main.c
  samples/zigbee/template/src/main.c
  subsys/zigbee/Kconfig
  subsys/zigbee/lib/zigbee_shell/include/zigbee_shell_ping_types.h
  subsys/zigbee/lib/zigbee_shell/include/zigbee_shell_utils.h
  subsys/zigbee/lib/zigbee_shell/include/zigbee_shell_zcl_types.h
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_bdb.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_nbr.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_ping.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_zdo.c
  subsys/zigbee/osif/zb_nrf_async_serial.c
  subsys/zigbee/osif/zb_nrf_platform.c
  subsys/zigbee/osif/zb_nrf_pwr_mgmt.c
  tests/subsys/zigbee/osif/serial/serial_basic_api/src/main.c
Labels: doc-required

samples: Change duplitate name of testcase
  samples/nrf5340/remote_shell/sample.yaml
Labels: none

applications: asset_tracker_v2: Default coredump storage to RAM
  applications/asset_tracker_v2/doc/debug_module.rst
  applications/asset_tracker_v2/overlay-memfault.conf
  doc/nrf/known_issues.rst
Labels: doc-required

lib: ltelc: Initialize system mode variables
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc_helpers.c
Labels: none

lib: multicell_location: Separate config for REST client usage
  lib/multicell_location/Kconfig
Labels: none

drivers: mpsl: clock: Add dependencies to CLOCK_CONTROL_MPSL
  drivers/mpsl/clock_control/Kconfig
Labels: none

tests: lib: location: Add Unity tests
  tests/lib/location/CMakeLists.txt
  tests/lib/location/Kconfig
  tests/lib/location/prj.conf
  tests/lib/location/src/location_test.c
  tests/lib/location/testcase.yaml
Labels: none

lib: at_monitor: let `at_monitor_pause` and `_resume` be functions
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/libraries/modem/at_monitor.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/at_monitor.h
  lib/at_shell/at_shell.c
  lib/modem_info/modem_info.c
  lib/pdn/pdn.c
  lib/sms/sms.c
  samples/nrf9160/at_monitor/src/main.c
  samples/nrf9160/modem_shell/src/at/at_cmd_mode.c
  samples/nrf9160/modem_shell/src/at/at_shell.c
  subsys/net/lib/zzhc/zzhc.c
Labels: doc-required

lib: at_monitor: let monitors be static
  include/modem/at_monitor.h
Labels: none

lib: at_monitor: trim notification in logs
  lib/at_monitor/at_monitor.c
Labels: none

lib: at_monitor: use only one linker section
  include/modem/at_monitor.h
  lib/at_monitor/at_monitor.c
  lib/at_monitor/at_monitor.ld
Labels: none

lib: multicell_location: Location parameters from float to double
  include/net/multicell_location.h
Labels: none

samples: nrf9160: lte_ble_gateway: ignore agps failure on cloud data rx
  samples/nrf9160/lte_ble_gateway/src/main.c
Labels: none

doc: known_issues: Add NCSDK-15724
  doc/nrf/known_issues.rst
Labels: doc-required

doc: ug_edge_impulse: Add explanation regarding API key
  doc/nrf/ug_edge_impulse.rst
Labels: doc-required

manifest: update nrfxlib revision
  west.yml
Labels: manifest

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
