Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

samples: direct_test_mode: Implementation of the errata 117
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/direct_test_mode/src/dtm.c
Labels: doc-required

samples: secure_services: sample.yaml: Add missing extra config
  samples/nrf9160/secure_services/sample.yaml
Labels: none

fw_info: Make function non-static to avoid a fault
  doc/nrf/releases/release-notes-changelog.rst
  subsys/fw_info/fw_info.c
Labels: doc-required

doc: Fix images in LwM2M carrier library docs
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_bootstrap.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_bootstrap.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_fail_cert.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_fail_cert.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_success.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_success.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_init.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_init.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_overview.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_overview.vsdx
Labels: doc-required

zigbee: Increase UT stability by rounding inteval
  tests/subsys/zigbee/osif/timer_counter/src/main.c
  tests/subsys/zigbee/osif/timer_ktimer/src/main.c
Labels: none

zigbee: Align PAN ID conflict resolution APIs
  doc/nrf/libraries/zigbee/zigbee_app_utils.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/shell/src/main.c
  subsys/zigbee/lib/zigbee_app_utils/Kconfig
  subsys/zigbee/lib/zigbee_app_utils/zigbee_app_utils.c
Labels: doc-required

scripts: Update required toolchain version to 2.0.0
  scripts/ncs-toolchain-version-minimum.txt
Labels: none

samples: lwm2m_client: prj.conf defaults to v1.0
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/prj.conf
Labels: doc-required

doc: sml: fixed top_level keys in uploaded report
  doc/_scripts/software_maturity/software_maturity_scanner.py
Labels: doc-required

samples: matter: Aligned windowCovering example to upstream.
  samples/matter/window_covering/src/window_covering.cpp
  samples/matter/window_covering/src/window_covering.h
Labels: none

doc: nrf: Update known issues section for Asset Tracker v2
  doc/nrf/known_issues.rst
Labels: doc-required

doc: sml: fixed top_level keys in uploaded report
  doc/_scripts/software_maturity/software_maturity_scanner.py
Labels: doc-required

doc: add adp536x documentation
  doc/nrf/libraries/others/adp536x.rst
Labels: doc-required

west.yml: Update Zephyr to bring in fixes for arm_thread_swap_tz test
  west.yml
Labels: manifest

samples: nrf9160: modem_shell: command for setting reference altitude
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/src/gnss/gnss_shell.c
Labels: doc-required

doc: Doc Review
  doc/nrf/libraries/others/adp536x.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: nrf9160: gnss: fix expected errno for SUPL recv() timeout
  samples/nrf9160/gnss/src/assistance_supl.c
Labels: none

samples: nrf9160: modem_shell: fix expected errno for SUPL recv() timeout
  samples/nrf9160/modem_shell/src/gnss/gnss.c
  samples/nrf9160/modem_shell/src/gnss/gnss_supl_support.c
Labels: none

bl_validation: postpone calculation of reset_vector
  subsys/bootloader/bl_validation/bl_validation.c
Labels: none

samples: nrf9160: modem_shell: command for setting reference altitude
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/src/gnss/gnss_shell.c
Labels: doc-required

west.yml: Update Zephyr to bring in fixes for arm_thread_swap_tz test
  west.yml
Labels: manifest

samples: matter: Aligned windowCovering example to upstream.
  samples/matter/window_covering/src/window_covering.cpp
  samples/matter/window_covering/src/window_covering.h
Labels: none

applications: asset_tracker_v2: Update documentation
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
Labels: doc-required

sample: Zigbee light switch: Free buffer in case of failed request
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_switch/src/main.c
Labels: doc-required

samples: matter: use [S]SED mode by default in a few samples
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/samples/samples_matter.rst
  doc/nrf/ug_matter_configuring_protocol.rst
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_switch/README.rst
  samples/matter/light_switch/overlay-low_power.conf
  samples/matter/light_switch/prj.conf
  samples/matter/light_switch/prj_no_dfu.conf
  samples/matter/light_switch/prj_release.conf
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/light_switch/src/chip_project_config.h
  samples/matter/lock/README.rst
  samples/matter/lock/overlay-low_power.conf
  samples/matter/lock/prj.conf
  samples/matter/lock/prj_no_dfu.conf
  samples/matter/lock/prj_release.conf
  samples/matter/lock/sample.yaml
  samples/matter/lock/src/app_task.cpp
  samples/matter/lock/src/chip_project_config.h
  samples/matter/template/README.rst
  samples/matter/window_covering/README.rst
  samples/matter/window_covering/overlay-low_power.conf
  samples/matter/window_covering/prj.conf
  samples/matter/window_covering/prj_no_dfu.conf
  samples/matter/window_covering/prj_release.conf
  samples/matter/window_covering/sample.yaml
  samples/matter/window_covering/src/app_task.cpp
  samples/matter/window_covering/src/chip_project_config.h
Labels: doc-required

doc: thread: add SSED description
  doc/nrf/ug_thread_commissioning.rst
  samples/matter/window_covering/README.rst
Labels: doc-required

applications: matter: Added Identify cluster to each endpoint.
  applications/matter_weather_station/src/app_task.cpp
  applications/matter_weather_station/src/weather-station.matter
  applications/matter_weather_station/src/weather-station.zap
  applications/matter_weather_station/src/zap-generated/endpoint_config.h
  applications/matter_weather_station/src/zap-generated/gen_config.h
Labels: none

doc: caf: hotfix to BT connection state diagram
  doc/nrf/libraries/caf/images/caf_ble_state_transitions.svg
  doc/nrf/libraries/caf/images/caf_ble_state_transitions.vsdx
Labels: doc-required

docs: added note on changing version in s1 image
  doc/nrf/ug_bootloader_adding.rst
  doc/nrf/ug_fw_update.rst
Labels: doc-required

samples: lwm2m_client: prj.conf defaults to v1.0
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/prj.conf
Labels: doc-required

doc: nrf: Update known issues section for Asset Tracker v2
  doc/nrf/known_issues.rst
Labels: doc-required

sample: Zigbee light switch: Free buffer in case of failed request
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_switch/src/main.c
Labels: doc-required

doc: nrf5340audio: add recover to buildprog
  applications/nrf5340_audio/README.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

applications: asset_tracker_v2: Update documentation
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
Labels: doc-required

applications: asset_tracker_v2: Improve sample request handling
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/Kconfig.app_module
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

manifest: Pull nrfxlib for FPU flags and oberon PSA rename fix
  west.yml
Labels: manifest

samples: secure_services: Enable SPM secure services sample for nrf5340
  .github/test-spec.yml
  samples/secure_services/CMakeLists.txt
  samples/secure_services/README.rst
  samples/secure_services/b0_mcuboot_overlay.conf
  samples/secure_services/bootloaders_overlay.conf
  samples/secure_services/prj.conf
  samples/secure_services/sample.yaml
  samples/secure_services/src/main.c
Labels: doc-required

doc: nrf5340audio: add recover to buildprog
  applications/nrf5340_audio/README.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

doc: caf: hotfix to BT connection state diagram
  doc/nrf/libraries/caf/images/caf_ble_state_transitions.svg
  doc/nrf/libraries/caf/images/caf_ble_state_transitions.vsdx
Labels: doc-required

applications: matter: Added Identify cluster to each endpoint.
  applications/matter_weather_station/src/app_task.cpp
  applications/matter_weather_station/src/weather-station.matter
  applications/matter_weather_station/src/weather-station.zap
  applications/matter_weather_station/src/zap-generated/endpoint_config.h
  applications/matter_weather_station/src/zap-generated/gen_config.h
Labels: none
