Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required, ble mesh

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst"]

"ble mesh":
  - "subsys/bluetooth/mesh/*"
  - "include/bluetooth/mesh/*"
  - "samples/bluetooth/mesh/*"
  - "doc/nrf/libraries/bluetooth_services/mesh/*"
  - "doc/nrf/ug_bt_mesh*"

manifest: NCS 2.5.1-rc1
  west.yml
Labels: manifest

version: Update VERSION to 2.5.1-rc1
  VERSION
Labels: none

doc: config_and_build: gather concepts on one page
  doc/nrf/config_and_build/config_and_build_system.rst
  doc/nrf/config_and_build/modifying.rst
  doc/nrf/config_and_build/multi_image.rst
  doc/nrf/device_guides/working_with_nrf/nrf53/nrf5340.rst
  doc/nrf/device_guides/working_with_nrf/nrf91/nrf9160.rst
  doc/nrf/documentation/glossary.rst
  doc/nrf/installation/recommended_versions.rst
  doc/nrf/protocols/matter/getting_started/transmission_power.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

samples: Add option to disable DF in DTM
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/direct_test_mode/README.rst
  samples/bluetooth/direct_test_mode/no-dfe.overlay
Labels: doc-required

doc: Change securely generating credentials link
  doc/nrf/external_comp/nrf_cloud.rst
  doc/nrf/includes/nrf_cloud_rest_sample_requirements.txt
  doc/nrf/links.txt
Labels: doc-required

version: Update VERSION to 2.5.1-rc1
  VERSION
Labels: none

manifest: NCS 2.5.1-rc1
  west.yml
Labels: manifest

doc: PCD library: link fix
  doc/nrf/libraries/dfu/pcd.rst
Labels: doc-required

Bluetooth: Mesh: Rewrite sensor API to use raw values
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/bluetooth/mesh/sensor.h
  include/bluetooth/mesh/sensor_cli.h
  include/bluetooth/mesh/sensor_srv.h
  subsys/bluetooth/mesh/Kconfig.sensor
  subsys/bluetooth/mesh/sensor.c
  subsys/bluetooth/mesh/sensor.h
  subsys/bluetooth/mesh/sensor_cli.c
  subsys/bluetooth/mesh/sensor_srv.c
  subsys/bluetooth/mesh/sensor_types.c
  tests/subsys/bluetooth/mesh/light_ctrl/CMakeLists.txt
  tests/subsys/bluetooth/mesh/sensor_subsys/CMakeLists.txt
Labels: doc-required, ble mesh

samples: cellular: Skip WiFi APs with local MAC
  applications/asset_tracker_v2/overlay-nrf7002ek-wifi-scan-only.conf
  samples/cellular/location/overlay-nrf7002ek-wifi-scan-only.conf
  samples/cellular/modem_shell/overlay-nrf7002ek-wifi-scan-only.conf
  samples/cellular/nrf_cloud_multi_service/overlay-nrf7002ek-wifi-scan-only.conf
  samples/cellular/nrf_cloud_multi_service/overlay_nrf7002ek_wifi_no_lte.conf
Labels: none

sysbuild: Minimise network core Kconfigs and image selection
  sysbuild/CMakeLists.txt
  sysbuild/Kconfig.netcore
  sysbuild/netcore.cmake
Labels: none

scripts: memory-threshold-lists: Add codeowners to the monitored tests
  scripts/memory-threshold-list.yaml
Labels: none

manifest: sdk-hostap: Pull WPA supplicant interval event fixes
  west.yml
Labels: manifest
