Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

lib: multicell_location: Remove log_strdup invocations
  lib/multicell_location/services/here_integration.c
  lib/multicell_location/services/polte_integration.c
Labels: none

fota_download: Remove log_strdup invocations
  subsys/net/lib/fota_download/src/fota_download.c
Labels: none

net: lib: zzhc: Remove log_strdup invocations
  subsys/net/lib/zzhc/zzhc.c
Labels: none

test: bluetooth: Remove log_strdup invocations
  tests/bluetooth/tester/src/mesh.c
Labels: none

net: lib: aws_jobs: Remove log_strdup invocations
  subsys/net/lib/aws_jobs/src/aws_jobs.c
Labels: none

app: serial_lte_modem: Remove log_strdup invocations
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  applications/serial_lte_modem/src/slm_at_socket.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  applications/serial_lte_modem/src/twi/slm_at_twi.c
Labels: none

net: lib: rest_client: Remove log_strdup invocations
  subsys/net/lib/rest_client/src/rest_client.c
Labels: none

net/lwm2m_client_utils: Remove log_strdup invocations
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
Labels: none

lib: sms: Remove log_strdup invocations
  lib/sms/sms.c
  lib/sms/sms_deliver.c
  lib/sms/sms_submit.c
Labels: none

bluetooth: Remove log_strdup invocations
  include/bluetooth/mesh/sensor.h
  subsys/bluetooth/controller/hci_driver.c
  subsys/bluetooth/mesh/scene_srv.c
  subsys/bluetooth/scan.c
Labels: none

mpsl: Remove log_strdup invocations
  subsys/mpsl/init/mpsl_init.c
Labels: none

upmerge: Auto upmerge test
  west.yml
Labels: manifest

lib: location: Remove log_strdup invocations
  lib/location/location_core.c
  lib/location/location_utils.c
  lib/location/method_wifi.c
  lib/location/wifi/wifi_here_rest.c
  lib/location/wifi/wifi_nrf_cloud_rest.c
Labels: none

net: lib: aws_fota: Remove log_strdup invocations
  subsys/net/lib/aws_fota/src/aws_fota.c
Labels: none

net: lib: azure_iot_hub: Remove log_strdup invocations
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_dps.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_topic.c
Labels: none

net: lib: aws_iot: Remove log_strdup invocations
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: none

lib: ftp_client: Remove log_strdup invocations
  subsys/net/lib/ftp_client/src/ftp_client.c
Labels: none

zigbee: Remove log_strdup invocations
  subsys/zigbee/lib/zigbee_app_utils/zigbee_app_utils.c
  subsys/zigbee/lib/zigbee_logger_ep/zigbee_logger_eprxzcl.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_attr_report.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_nbr.c
Labels: none

applications: connectivity_bridge: Remove log_strdup invocations
  applications/connectivity_bridge/src/disk/config.c
  applications/connectivity_bridge/src/modules/ble_handler.c
  applications/connectivity_bridge/src/modules/fs_handler.c
Labels: none

applications: nrf_desktop: Remove log_strdup invocations
  applications/nrf_desktop/src/events/ble_event.c
  applications/nrf_desktop/src/events/hid_event.c
  applications/nrf_desktop/src/modules/ble_discovery.c
  applications/nrf_desktop/src/modules/ble_scan.c
Labels: none

net: lib: download_client: Remove log_strdup invocations
  subsys/net/lib/download_client/src/download_client.c
  subsys/net/lib/download_client/src/http.c
Labels: none

lib: lte_link_control: Remove log_strdup invocations
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc_helpers.c
Labels: none

lib: modem_info: Remove log_strdup invocations
  lib/modem_info/modem_info.c
Labels: none

samples: bluetooth: Remove log_strdup invocations
  samples/bluetooth/central_uart/src/main.c
  samples/bluetooth/peripheral_fast_pair/src/main.c
  samples/bluetooth/peripheral_uart/src/main.c
  samples/bluetooth/shell_bt_nus/src/main.c
Labels: none

samples: nrf9160: Remove log_strdup invocations
  samples/nrf9160/lte_ble_gateway/src/ble.c
  samples/nrf9160/lwm2m_client/src/main.c
  samples/nrf9160/memfault/src/main.c
  samples/nrf9160/mqtt_simple/src/main.c
  samples/nrf9160/multicell_location/src/main.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/application.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
  samples/nrf9160/nrf_cloud_rest_device_message/src/main.c
  samples/nrf9160/nrf_cloud_rest_fota/src/main.c
Labels: none

event_manager: Remove log_strdup invocations
  subsys/app_event_manager/app_event_manager.c
Labels: none

modules: memfault: Remove log_strdup invocations
  modules/memfault-firmware-sdk/memfault_integration.c
Labels: none

samples: openthread: Remove log_strdup invocations
  samples/openthread/coap_client/src/ble_utils.c
  samples/openthread/coap_client/src/coap_client_utils.c
Labels: none

lib: nrf_modem: Remove log_strdup invocations
  lib/nrf_modem_lib/nrf_modem_lib.c
Labels: none

event_manager_proxy: Remove log_strdup invocations
  subsys/event_manager_proxy/event_manager_proxy.c
Labels: none

samples/peripheral/802154_phy_test: Remove log_strdup invocations
  samples/peripheral/802154_phy_test/src/comm_proc.c
Labels: none

lib: at_monitor: Remove log_strdup invocations
  lib/at_monitor/at_monitor.c
Labels: none

partition_manager: Fix mergehex.py path
  cmake/partition_manager.cmake
Labels: none

dfu_target: Remove log_strdup invocations
  subsys/dfu/dfu_target/src/dfu_target_modem_delta.c
Labels: none

samples/zigbee: Remove log_strdup invocations
  samples/zigbee/light_switch/src/nus_cmd.c
Labels: none

Doc: Added some 'documentation'
  .gitignore
  doc/docs/bye.png
  doc/docs/index.md
  doc/mkdocs.yml
  doc/requirements.txt
Labels: doc-required
