Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

codeowners: remove figure codeowner
  CODEOWNERS
Labels: none

partition_manager: Fix non-secure and secure storage alignment
  subsys/partition_manager/pm.yml.file_system
  subsys/partition_manager/pm.yml.memfault
  subsys/partition_manager/pm.yml.nvs
  subsys/partition_manager/pm.yml.settings
  subsys/partition_manager/pm.yml.tfm
Labels: none

requirements-fixed: fix comment
  scripts/requirements-fixed.txt
Labels: none

github: workflows: quick fix for west version
  .github/workflows/oss-history.yml
Labels: none

samples: matter: added dfu support for the template app
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/template/CMakeLists.txt
  samples/matter/template/README.rst
  samples/matter/template/configuration/nrf52840dk_nrf52840/child_image/mcuboot.conf
  samples/matter/template/configuration/nrf52840dk_nrf52840/child_image/mcuboot_release.conf
  samples/matter/template/configuration/nrf52840dk_nrf52840/nrf52840dk_nrf52840.overlay
  samples/matter/template/configuration/nrf52840dk_nrf52840/pm_static_dfu.yml
  samples/matter/template/configuration/nrf52840dk_nrf52840/prj_no_dfu.conf
  samples/matter/template/configuration/nrf52840dk_nrf52840/prj_release.conf
  samples/matter/template/configuration/nrf5340dk_nrf5340_cpuapp/child_image/mcuboot.conf
  samples/matter/template/configuration/nrf5340dk_nrf5340_cpuapp/child_image/mcuboot_release.conf
  samples/matter/template/configuration/nrf5340dk_nrf5340_cpuapp/child_image/multiprotocol_rpmsg_no_dfu.conf
  samples/matter/template/configuration/nrf5340dk_nrf5340_cpuapp/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/template/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/template/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  samples/matter/template/configuration/nrf5340dk_nrf5340_cpuapp/prj_no_dfu.conf
  samples/matter/template/configuration/nrf5340dk_nrf5340_cpuapp/prj_release.conf
  samples/matter/template/sample.yaml
  samples/matter/template/src/app_task.cpp
  samples/matter/template/src/template.zap
  samples/matter/template/src/zap-generated/CHIPClientCallbacks.h
  samples/matter/template/src/zap-generated/CHIPClusters.h
  samples/matter/template/src/zap-generated/Clusters.matter
  samples/matter/template/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/template/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/template/src/zap-generated/callback-stub.cpp
  samples/matter/template/src/zap-generated/endpoint_config.h
  samples/matter/template/src/zap-generated/gen_config.h
Labels: doc-required

tests: nrf5340_audio: Added Audio related tests
  tests/nrf5340_audio/contin_array/CMakeLists.txt
  tests/nrf5340_audio/contin_array/main.c
  tests/nrf5340_audio/contin_array/prj.conf
  tests/nrf5340_audio/contin_array/testcase.yaml
  tests/nrf5340_audio/data_fifo/CMakeLists.txt
  tests/nrf5340_audio/data_fifo/main.c
  tests/nrf5340_audio/data_fifo/prj.conf
  tests/nrf5340_audio/data_fifo/testcase.yaml
  tests/nrf5340_audio/macros/CMakeLists.txt
  tests/nrf5340_audio/macros/main.c
  tests/nrf5340_audio/macros/prj.conf
  tests/nrf5340_audio/macros/testcase.yaml
  tests/nrf5340_audio/max14690/CMakeLists.txt
  tests/nrf5340_audio/max14690/main.c
  tests/nrf5340_audio/max14690/mock/drivers/i2c.h
  tests/nrf5340_audio/max14690/prj.conf
  tests/nrf5340_audio/max14690/testcase.yaml
  tests/nrf5340_audio/pcm_mix/CMakeLists.txt
  tests/nrf5340_audio/pcm_mix/main.c
  tests/nrf5340_audio/pcm_mix/prj.conf
  tests/nrf5340_audio/pcm_mix/testcase.yaml
  tests/nrf5340_audio/pcm_stream_channel_modifier/CMakeLists.txt
  tests/nrf5340_audio/pcm_stream_channel_modifier/main.c
  tests/nrf5340_audio/pcm_stream_channel_modifier/prj.conf
  tests/nrf5340_audio/pcm_stream_channel_modifier/testcase.yaml
  tests/nrf5340_audio/sw_codec_lc3/CMakeLists.txt
  tests/nrf5340_audio/sw_codec_lc3/main.c
  tests/nrf5340_audio/sw_codec_lc3/prj.conf
  tests/nrf5340_audio/sw_codec_lc3/readme.txt
  tests/nrf5340_audio/sw_codec_lc3/testcase.yaml
  tests/nrf5340_audio/tone/CMakeLists.txt
  tests/nrf5340_audio/tone/main.c
  tests/nrf5340_audio/tone/prj.conf
  tests/nrf5340_audio/tone/testcase.yaml
Labels: none

doc: nrf5340audio: Added doc for nRF5340 Audio
  doc/nrf/app_boards.rst
  doc/nrf/applications.rst
  doc/nrf/glossary.rst
  doc/nrf/images/nRF5340_audio_dk_back.svg
  doc/nrf/images/nRF5340_audio_dk_back_case.svg
  doc/nrf/images/nRF5340_audio_dk_battery_warning.png
  doc/nrf/images/nRF5340_audio_dk_front.svg
  doc/nrf/images/nRF5340_audio_dk_front_case.svg
  doc/nrf/images/octave_application_structure.svg
  doc/nrf/images/octave_application_structure.vsdx
  doc/nrf/images/octave_application_structure_gateway.svg
  doc/nrf/images/octave_application_structure_gateway.vsdx
  doc/nrf/images/octave_application_structure_generic.svg
  doc/nrf/images/octave_application_structure_generic.vsdx
  doc/nrf/images/octave_application_structure_sync_module.svg
  doc/nrf/images/octave_application_structure_sync_module.vsdx
  doc/nrf/images/octave_application_sync_module_states.svg
  doc/nrf/images/octave_application_sync_module_states.vsdx
  doc/nrf/images/octave_application_topologies.svg
  doc/nrf/images/octave_application_topologies.vsdx
  doc/nrf/links.txt
  doc/nrf/shortcuts.txt
  doc/nrf/ug_multi_image.rst
  doc/nrf/ug_nrf53.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

net: lib: let Azure IoT Hub be a `menuconfig`
  subsys/net/lib/azure_iot_hub/Kconfig
Labels: none

net: lib: let AWS IoT library be a `menuconfig`
  subsys/net/lib/aws_iot/Kconfig
Labels: none

test_spec: applications: caf: add entries
  .github/test-spec.yml
Labels: none

samples: nrf9160: LwM2M client modem FOTA
  samples/nrf9160/lwm2m_client/src/main.c
Labels: none

application: serial_lte_modem: Support cloud-to-nrf52 DFU
  applications/serial_lte_modem/CMakeLists.txt
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/AT_commands_intro.rst
  applications/serial_lte_modem/doc/DFU_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/dfu/CMakeLists.txt
  applications/serial_lte_modem/src/dfu/Kconfig
  applications/serial_lte_modem/src/dfu/dfu_host.c
  applications/serial_lte_modem/src/dfu/dfu_host.h
  applications/serial_lte_modem/src/dfu/dfu_host_legacy.c
  applications/serial_lte_modem/src/dfu/dfu_target_nrf52.c
  applications/serial_lte_modem/src/dfu/dfu_target_nrf52.h
  applications/serial_lte_modem/src/dfu/slip.c
  applications/serial_lte_modem/src/dfu/slip.h
  applications/serial_lte_modem/src/dfu/slm_at_dfu.c
  applications/serial_lte_modem/src/dfu/slm_at_dfu.h
  applications/serial_lte_modem/src/main.c
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_fota.c
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_defines.h
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

net: lib: let nRF Cloud MQTT library be a `menuconfig`
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_mqtt
Labels: none

samples: nrf5340: Add sample showing how to build multicore app
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf5340/multicore/CMakeLists.txt
  samples/nrf5340/multicore/Kconfig
  samples/nrf5340/multicore/README.rst
  samples/nrf5340/multicore/aci/CMakeLists.txt
  samples/nrf5340/multicore/cpunet/CMakeLists.txt
  samples/nrf5340/multicore/cpunet/prj.conf
  samples/nrf5340/multicore/prj.conf
  samples/nrf5340/multicore/sample.yaml
  samples/nrf5340/multicore/src/main.c
  samples/nrf5340/multicore/zephyr/module.yml
Labels: doc-required

samples: nrf9160: modem_shell: ppp: restarting when carrier OFF
  samples/nrf9160/modem_shell/overlay-ppp.conf
  samples/nrf9160/modem_shell/src/ppp/ppp_ctrl.c
Labels: none

event_manager_proxy: Implementation of Event Manager Proxy
  CODEOWNERS
  doc/nrf/libraries/others/event_manager_proxy.rst
  include/event_manager_proxy.h
  subsys/CMakeLists.txt
  subsys/Kconfig
  subsys/event_manager_proxy/CMakeLists.txt
  subsys/event_manager_proxy/Kconfig
  subsys/event_manager_proxy/em_proxy.ld
  subsys/event_manager_proxy/event_manager_proxy.c
Labels: doc-required

dfu: dfu_target: remove redundant `menu` entry
  subsys/dfu/dfu_target/Kconfig
Labels: none

samples: event_manager_proxy: Event manager proxy sample
  CODEOWNERS
  doc/nrf/libraries/others/event_manager_proxy.rst
  samples/app_event_manager/README.rst
  samples/event_manager_proxy/CMakeLists.txt
  samples/event_manager_proxy/Kconfig
  samples/event_manager_proxy/README.rst
  samples/event_manager_proxy/common_events/CMakeLists.txt
  samples/event_manager_proxy/common_events/Kconfig
  samples/event_manager_proxy/common_events/ack_event.c
  samples/event_manager_proxy/common_events/ack_event.h
  samples/event_manager_proxy/common_events/config_event.c
  samples/event_manager_proxy/common_events/config_event.h
  samples/event_manager_proxy/common_events/control_event.c
  samples/event_manager_proxy/common_events/control_event.h
  samples/event_manager_proxy/common_events/measurement_event.c
  samples/event_manager_proxy/common_events/measurement_event.h
  samples/event_manager_proxy/modules/CMakeLists.txt
  samples/event_manager_proxy/modules/Kconfig
  samples/event_manager_proxy/modules/controller.c
  samples/event_manager_proxy/modules/sensor_simulated.c
  samples/event_manager_proxy/modules/stats.c
  samples/event_manager_proxy/prj.conf
  samples/event_manager_proxy/remote/CMakeLists.txt
  samples/event_manager_proxy/remote/Kconfig
  samples/event_manager_proxy/remote/prj.conf
  samples/event_manager_proxy/remote/src/main.c
  samples/event_manager_proxy/sample.yaml
  samples/event_manager_proxy/src/main.c
Labels: doc-required

lib: at_host: let AT Host library be a `menuconfig`
  lib/at_host/Kconfig
Labels: none

lib: modem_key_mgmt: let library Kconfig entry be a simple `config`
  lib/modem_key_mgmt/Kconfig
Labels: none

samples: tfm: Add sample for secure peripheral in TF-M secure partition
  doc/nrf/links.txt
  samples/tfm/tfm_secure_peripheral/CMakeLists.txt
  samples/tfm/tfm_secure_peripheral/README.rst
  samples/tfm/tfm_secure_peripheral/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/tfm/tfm_secure_peripheral/boards/nrf5340dk_nrf5340_cpuapp_ns.overlay
  samples/tfm/tfm_secure_peripheral/boards/nrf9160dk_nrf9160.conf
  samples/tfm/tfm_secure_peripheral/boards/nrf9160dk_nrf9160_ns.overlay
  samples/tfm/tfm_secure_peripheral/prj.conf
  samples/tfm/tfm_secure_peripheral/sample.yaml
  samples/tfm/tfm_secure_peripheral/secure_peripheral_partition/CMakeLists.txt
  samples/tfm/tfm_secure_peripheral/secure_peripheral_partition/secure_peripheral_partition.c
  samples/tfm/tfm_secure_peripheral/secure_peripheral_partition/tfm_manifest_list.yaml.in
  samples/tfm/tfm_secure_peripheral/secure_peripheral_partition/tfm_secure_peripheral_partition.yaml
  samples/tfm/tfm_secure_peripheral/secure_peripheral_partition/util.c
  samples/tfm/tfm_secure_peripheral/secure_peripheral_partition/util.h
  samples/tfm/tfm_secure_peripheral/src/main.c
  samples/tfm/tfm_secure_peripheral/src/secure_peripheral_partition.c
  samples/tfm/tfm_secure_peripheral/src/secure_peripheral_partition.h
Labels: doc-required

tfm: Use peripheral secure mapping to configure TF-M peripherals
  modules/tfm/tfm/boards/board/tfm_peripherals_config.h
  modules/tfm/zephyr/Kconfig
Labels: none

net: lib: group `nrf_cloud` Kconfig entries into a `menu`
  subsys/net/lib/nrf_cloud/Kconfig
Labels: none

spm: Make peripheral secure mapping configuration independent from SPM
  applications/serial_lte_modem/child_image/spm.conf
  samples/nrf9160/lte_ble_gateway/child_image/spm.conf
  subsys/Kconfig
  subsys/nonsecure/Kconfig
  subsys/nonsecure/Kconfig.template.peripheral_secure
  subsys/spm/Kconfig
  subsys/spm/spm.c
Labels: none

lib: nrf_modem: add FW version and UUID log
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  doc/nrf/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/Kconfig
  lib/nrf_modem_lib/nrf_modem_lib.c
Labels: doc-required

manifest: Add TF-M with secure peripherals fixes
  west.yml
Labels: manifest

zigbee: shell: Commands fixes and cleanups
  subsys/zigbee/cli/zigbee_cli_cmd_attr.c
  subsys/zigbee/cli/zigbee_cli_cmd_attr_report.c
  subsys/zigbee/cli/zigbee_cli_cmd_ping.c
Labels: none

zigbee: shell: Add Kconfig option CONFIG_ZIGBEE_SHELL_ZCL_CMD_TIMEOUT
  doc/nrf/libraries/zigbee/shell.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/Kconfig
  subsys/zigbee/cli/zigbee_cli_cmd_attr.c
  subsys/zigbee/cli/zigbee_cli_cmd_attr_report.c
  subsys/zigbee/cli/zigbee_cli_cmd_generic_cmd.c
  subsys/zigbee/cli/zigbee_cli_cmd_ping.c
  subsys/zigbee/cli/zigbee_cli_cmd_zcl_groups.c
  subsys/zigbee/cli/zigbee_cli_ping_types.h
Labels: doc-required

zigbee: shell: Refactor ctx mgr structures
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/cli/zigbee_cli_cmd_attr.c
  subsys/zigbee/cli/zigbee_cli_cmd_attr_report.c
  subsys/zigbee/cli/zigbee_cli_cmd_generic_cmd.c
  subsys/zigbee/cli/zigbee_cli_cmd_ping.c
  subsys/zigbee/cli/zigbee_cli_cmd_zcl.h
  subsys/zigbee/cli/zigbee_cli_cmd_zcl_groups.c
  subsys/zigbee/cli/zigbee_cli_cmd_zdo.c
  subsys/zigbee/cli/zigbee_cli_ctx_mgr.h
  subsys/zigbee/cli/zigbee_cli_ping_types.h
  subsys/zigbee/cli/zigbee_cli_zcl_types.h
Labels: doc-required

tfm: fix missing type for TFM_SECURE_UART1
  modules/tfm/zephyr/Kconfig
Labels: none

doc: zigbee: add link to factory reset
  doc/nrf/libraries/zigbee/zigbee_app_utils.rst
  doc/nrf/links.txt
  samples/zigbee/light_bulb/README.rst
  samples/zigbee/light_switch/README.rst
  samples/zigbee/network_coordinator/README.rst
  samples/zigbee/template/README.rst
Labels: doc-required

zigbee: shell: Introduce commom functions
  subsys/zigbee/cli/zigbee_cli_cmd_attr.c
  subsys/zigbee/cli/zigbee_cli_cmd_attr_report.c
  subsys/zigbee/cli/zigbee_cli_cmd_generic_cmd.c
  subsys/zigbee/cli/zigbee_cli_cmd_zcl_groups.c
  subsys/zigbee/cli/zigbee_cli_ctx_mgr.c
  subsys/zigbee/cli/zigbee_cli_ctx_mgr.h
  subsys/zigbee/cli/zigbee_cli_utils.c
  subsys/zigbee/cli/zigbee_cli_utils.h
Labels: none

sample: zigbee shell: Simplify Logger configuration
  samples/zigbee/shell/prj.conf
Labels: none

samples: matter: Added emitting events on factory reset
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/lock/src/app_task.cpp
  samples/matter/template/src/app_task.cpp
Labels: none

applications: nrf5340_audio: Test-spec for audio tests
  .github/test-spec.yml
Labels: none

doc: Figure and document updates
  doc/nrf/images/lwm2m_client_production.png
  doc/nrf/images/lwm2m_client_production.svg
  doc/nrf/images/lwm2m_client_production.vsdx
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/provisioning.rst
Labels: doc-required

gh: workflows: Add the upstream Zephyr DNM workflow
  .github/workflows/dnm.yml
Labels: none

samples: nrf9160: lwm2m_client: Add information regarding provisioning
  doc/nrf/images/lwm2m_client_production.png
  doc/nrf/images/lwm2m_client_state_diagram.svg
  doc/nrf/images/lwm2m_client_state_diagram.vsdx
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/README.rst
  samples/nrf9160/lwm2m_client/provisioning.rst
  samples/nrf9160/lwm2m_client/sample_description.rst
  samples/nrf9160/lwm2m_client/scripts/atclient.py
  samples/nrf9160/lwm2m_client/scripts/coiote.py
  samples/nrf9160/lwm2m_client/scripts/device.py
  samples/nrf9160/lwm2m_client/scripts/provision.py
Labels: doc-required

samples: nrf9160: modem_shell: wifi overlay: tx/rx wiring changed
  samples/nrf9160/modem_shell/esp_8266_nrf9160ns.overlay
Labels: none

samples: nrf9160: lwm2m_client: Add overlay for LwM2M 1.1
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1.conf
Labels: none
