Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

samples: peripheral: 802154_phy_test: Fix antenna diversity commands
  samples/peripheral/802154_phy_test/src/ctrl/ptt_zb_perf_dut_mode.c
Labels: none

drivers: sensor: bh1749: fix error in bitmask definitions
  drivers/sensor/bh1749/bh1749.h
Labels: none

doc: known_issues: Add NCSDK-15675
  doc/nrf/known_issues.rst
Labels: doc-required

zigbee: Use deferred logger in Shell samples
  samples/zigbee/light_bulb/sample.yaml
  samples/zigbee/light_switch/sample.yaml
Labels: none

manifest: update homekit revision
  west.yml
Labels: manifest

doc: remove banners from the welcome & GSG pages
  doc/nrf/getting_started.rst
  doc/nrf/index.rst
Labels: doc-required

drivers: sensor: bh1749: fix error in bitmask definitions
  drivers/sensor/bh1749/bh1749.h
Labels: none

doc improvement: Minor style updates on Library wrapper
  doc/nrf/libraries/modem/nrf_modem_lib.rst
Labels: doc-required

zigbee: Fix dependencies in shell debug cmds
  samples/zigbee/light_bulb/sample.yaml
  samples/zigbee/light_switch/sample.yaml
  subsys/zigbee/lib/zigbee_logger_ep/Kconfig
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_utils.c
Labels: none

manifest: update homekit revision
  west.yml
Labels: manifest

zigbee: Use deferred logger in Shell samples
  samples/zigbee/light_bulb/sample.yaml
  samples/zigbee/light_switch/sample.yaml
Labels: none

zigbee: Fix dependencies in shell debug cmds
  samples/zigbee/light_bulb/sample.yaml
  samples/zigbee/light_switch/sample.yaml
  subsys/zigbee/lib/zigbee_logger_ep/Kconfig
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_utils.c
Labels: none

applications: asset_tracker_v2: Handle modem functional mode requests
  applications/asset_tracker_v2/src/cloud/Kconfig.lwm2m_integration
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec.c
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
  applications/asset_tracker_v2/src/events/cloud_module_event.h
  applications/asset_tracker_v2/src/modules/modem_module.c
Labels: none

samples: aws_iot: Add semaphore to prevent race
  samples/nrf9160/aws_iot/prj_qemu_x86.conf
  samples/nrf9160/aws_iot/src/main.c
Labels: none

nrf_rpc: Add default heap size for IPC Service transport
  subsys/nrf_rpc/Kconfig
Labels: none

drivers: Remove flash_nop_device
  CODEOWNERS
  drivers/CMakeLists.txt
  drivers/Kconfig
  drivers/flash/CMakeLists.txt
  drivers/flash/Kconfig
  drivers/flash/flash_nop_device/CMakeLists.txt
  drivers/flash/flash_nop_device/Kconfig
  drivers/flash/flash_nop_device/flash_nop_device.c
  tests/drivers/flash_nop_device/CMakeLists.txt
  tests/drivers/flash_nop_device/boards/native_posix_ev_0x00.overlay
  tests/drivers/flash_nop_device/prj.conf
  tests/drivers/flash_nop_device/src/main.c
  tests/drivers/flash_nop_device/testcase.yaml
Labels: none

manifest: Update manifest
  west.yml
Labels: manifest

doc: Remove information of required use of FLASH_NOP_DEVICE
  doc/nrf/ug_thingy53.rst
Labels: doc-required

drivers: Remove flash_nop_device
  CODEOWNERS
  drivers/CMakeLists.txt
  drivers/Kconfig
  drivers/flash/CMakeLists.txt
  drivers/flash/Kconfig
  drivers/flash/flash_nop_device/CMakeLists.txt
  drivers/flash/flash_nop_device/Kconfig
  drivers/flash/flash_nop_device/flash_nop_device.c
  tests/drivers/flash_nop_device/CMakeLists.txt
  tests/drivers/flash_nop_device/boards/native_posix_ev_0x00.overlay
  tests/drivers/flash_nop_device/prj.conf
  tests/drivers/flash_nop_device/src/main.c
  tests/drivers/flash_nop_device/testcase.yaml
Labels: none

manifest: Update manifest
  west.yml
Labels: manifest

doc: Remove information of required use of FLASH_NOP_DEVICE
  doc/nrf/ug_thingy53.rst
Labels: doc-required

Revert "doc: Remove information of required use of FLASH_NOP_DEVICE"
  doc/nrf/ug_thingy53.rst
Labels: doc-required

Revert "drivers: Remove flash_nop_device"
  CODEOWNERS
  drivers/CMakeLists.txt
  drivers/Kconfig
  drivers/flash/CMakeLists.txt
  drivers/flash/Kconfig
  drivers/flash/flash_nop_device/CMakeLists.txt
  drivers/flash/flash_nop_device/Kconfig
  drivers/flash/flash_nop_device/flash_nop_device.c
  tests/drivers/flash_nop_device/CMakeLists.txt
  tests/drivers/flash_nop_device/boards/native_posix_ev_0x00.overlay
  tests/drivers/flash_nop_device/prj.conf
  tests/drivers/flash_nop_device/src/main.c
  tests/drivers/flash_nop_device/testcase.yaml
Labels: none

Revert "manifest: Update manifest"
  west.yml
Labels: manifest

Revert "manifest: Update manifest"
  west.yml
Labels: manifest

Revert "drivers: Remove flash_nop_device"
  CODEOWNERS
  drivers/CMakeLists.txt
  drivers/Kconfig
  drivers/flash/CMakeLists.txt
  drivers/flash/Kconfig
  drivers/flash/flash_nop_device/CMakeLists.txt
  drivers/flash/flash_nop_device/Kconfig
  drivers/flash/flash_nop_device/flash_nop_device.c
  tests/drivers/flash_nop_device/CMakeLists.txt
  tests/drivers/flash_nop_device/boards/native_posix_ev_0x00.overlay
  tests/drivers/flash_nop_device/prj.conf
  tests/drivers/flash_nop_device/src/main.c
  tests/drivers/flash_nop_device/testcase.yaml
Labels: none

Revert "doc: Remove information of required use of FLASH_NOP_DEVICE"
  doc/nrf/ug_thingy53.rst
Labels: doc-required

ci: Disable mergify on draft PRs
  .github/mergify.yml
Labels: none

lib: pdn: remove `pdn_init()` and `PDN_SYS_INIT`
  doc/nrf/libraries/modem/pdn.rst
  include/modem/pdn.h
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  lib/pdn/Kconfig
  lib/pdn/pdn.c
  samples/nrf9160/modem_shell/src/link/link_shell_pdn.c
  samples/nrf9160/pdn/src/main.c
Labels: doc-required

lib: pdn: automatically subscribe to `+CGEREP=1` and `+CNEC=16`
  doc/nrf/libraries/modem/pdn.rst
  doc/nrf/releases/release-notes-changelog.rst
  lib/pdn/pdn.c
  samples/nrf9160/modem_shell/src/link/link_shell_pdn.c
  samples/nrf9160/pdn/README.rst
  samples/nrf9160/pdn/src/main.c
Labels: doc-required

doc: fix Thingy:53 link to Edge Impulse
  doc/nrf/links.txt
  doc/nrf/ug_thingy53_gs.rst
Labels: doc-required

mergify: Check for do not merge flags
  .github/mergify.yml
Labels: none

samples: thingy:53 config improvements
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_rtt.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/sensor_server/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/sensor_server/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp_ns.conf
Labels: none

samples: nrf9160: gnss: remove unused option from documentation
  samples/nrf9160/gnss/README.rst
Labels: doc-required

samples: nrf9160: location: remove unused option from documentation
  samples/nrf9160/location/README.rst
Labels: doc-required

lib: location: Change method_gnss_event_handler to non-static
  lib/location/method_gnss.c
Labels: none

applications: asset_tracker_v2: Fix LwM2M GNSS float conversion
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

doc: gsg: Document environment variables for the Zephyr SDK
  doc/nrf/gs_installing.rst
Labels: doc-required

lib: pdn: remove `pdn_init()` and `PDN_SYS_INIT`
  doc/nrf/libraries/modem/pdn.rst
  include/modem/pdn.h
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  lib/pdn/Kconfig
  lib/pdn/pdn.c
  samples/nrf9160/modem_shell/src/link/link_shell_pdn.c
  samples/nrf9160/pdn/src/main.c
Labels: doc-required

lib: pdn: automatically subscribe to `+CGEREP=1` and `+CNEC=16`
  doc/nrf/libraries/modem/pdn.rst
  doc/nrf/releases/release-notes-changelog.rst
  lib/pdn/pdn.c
  samples/nrf9160/modem_shell/src/link/link_shell_pdn.c
  samples/nrf9160/pdn/README.rst
  samples/nrf9160/pdn/src/main.c
Labels: doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
