Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

applications: machine_learning: Cleanup event API references
  applications/machine_learning/README.rst
  applications/machine_learning/src/events/ei_data_forwarder_event.h
  applications/machine_learning/src/events/ml_app_mode_event.h
  applications/machine_learning/src/events/ml_result_event.h
  applications/machine_learning/src/events/sensor_sim_event.h
Labels: doc-required

treewide: Fix location library timeout parameters
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.c
  tests/lib/location/src/location_test.c
Labels: none

samples: nrf9160: MMSS: Connection process minor improvements
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
Labels: doc-required

net: lib: nrf_cloud: Improve uninit documentation
  include/net/nrf_cloud.h
Labels: none

samples: nrf9160: MMSS: Miscellaneous minor improvements
  samples/nrf9160/nrf_cloud_mqtt_multi_service/prj.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
Labels: none

mpsl: fem: allow for seamless addition of new Front End Modules
  subsys/mpsl/fem/CMakeLists.txt
  subsys/mpsl/fem/Kconfig
  subsys/mpsl/fem/common/include/mpsl_fem_utils.h
  subsys/mpsl/fem/common/mpsl_fem_utils.c
  subsys/mpsl/fem/mpsl_fem_host.c
  subsys/mpsl/fem/nrf21540_gpio/mpsl_fem_nrf21540_gpio.c
  subsys/mpsl/fem/simple_gpio/mpsl_fem_simple_gpio.c
Labels: none

bluetooth: fast_pair: Move fp_storage definitions to internal header
  subsys/bluetooth/services/fast_pair/fp_storage.c
  subsys/bluetooth/services/fast_pair/include/fp_storage_priv.h
Labels: none

tests: fast_pair: Separate key generation in storage unit test
  tests/subsys/bluetooth/fast_pair/storage/CMakeLists.txt
  tests/subsys/bluetooth/fast_pair/storage/include/common_utils.h
  tests/subsys/bluetooth/fast_pair/storage/src/common_utils.c
  tests/subsys/bluetooth/fast_pair/storage/src/main.c
Labels: none

tests: fast_pair: Add corrupted data test suite
  tests/subsys/bluetooth/fast_pair/storage/CMakeLists.txt
  tests/subsys/bluetooth/fast_pair/storage/include/test_corrupted_data.h
  tests/subsys/bluetooth/fast_pair/storage/src/main.c
  tests/subsys/bluetooth/fast_pair/storage/src/test_corrupted_data.c
Labels: none

applications: nrf5340_audio: Remove verify.cmake
  applications/nrf5340_audio/CMakeLists.txt
  applications/nrf5340_audio/verification/verify.cmake
Labels: none

manifest: Update nrfxlib
  west.yml
Labels: manifest

manifest: update homekit revision
  west.yml
Labels: manifest

manifest: Update nrfxlib
  west.yml
Labels: manifest

Bluetooth: Mesh: Model shell arg alignment
  subsys/bluetooth/mesh/shell/shell_bat_cli.c
  subsys/bluetooth/mesh/shell/shell_ctl_cli.c
  subsys/bluetooth/mesh/shell/shell_ctrl_cli.c
  subsys/bluetooth/mesh/shell/shell_dtt_cli.c
  subsys/bluetooth/mesh/shell/shell_hsl_cli.c
  subsys/bluetooth/mesh/shell/shell_lightness_cli.c
  subsys/bluetooth/mesh/shell/shell_loc_cli.c
  subsys/bluetooth/mesh/shell/shell_lvl_cli.c
  subsys/bluetooth/mesh/shell/shell_onoff_cli.c
  subsys/bluetooth/mesh/shell/shell_plvl_cli.c
  subsys/bluetooth/mesh/shell/shell_ponoff_cli.c
  subsys/bluetooth/mesh/shell/shell_prop_cli.c
  subsys/bluetooth/mesh/shell/shell_scene_cli.c
  subsys/bluetooth/mesh/shell/shell_scheduler_cli.c
  subsys/bluetooth/mesh/shell/shell_sensor_cli.c
  subsys/bluetooth/mesh/shell/shell_time_cli.c
  subsys/bluetooth/mesh/shell/shell_utils.c
  subsys/bluetooth/mesh/shell/shell_utils.h
  subsys/bluetooth/mesh/shell/shell_xyl_cli.c
Labels: none

manifest: update homekit revision
  west.yml
Labels: manifest

CODEOWNERS: Add nRF Desktop maintainers to motion sensors
  CODEOWNERS
Labels: none

applications: asset_tracker_v2: Tweak transmission buffers
  applications/asset_tracker_v2/overlay-lwm2m.conf
Labels: none

west.yml: Update zcbor to v. 0.5.1
  doc/nrf/releases/release-notes-changelog.rst
  scripts/requirements-build.txt
  scripts/requirements-extra.txt
  scripts/requirements-fixed.txt
  subsys/dfu/fmfu_fdev/include/modem_update_decode.h
  subsys/dfu/fmfu_fdev/include/modem_update_types.h
  subsys/dfu/fmfu_fdev/src/modem_update_decode.c
  tests/modules/lib/zcbor/cddl/test.cddl
  tests/modules/lib/zcbor/decode/src/main.c
  tests/modules/lib/zcbor/encode/src/main.c
  west.yml
Labels: manifest, doc-required

matter: prepare Weather Station for SVE
  applications/matter_weather_station/src/weather-station.matter
  applications/matter_weather_station/src/weather-station.zap
  applications/matter_weather_station/src/zap-generated/CHIPClientCallbacks.h
  applications/matter_weather_station/src/zap-generated/CHIPClusters.h
  applications/matter_weather_station/src/zap-generated/IMClusterCommandHandler.cpp
  applications/matter_weather_station/src/zap-generated/PluginApplicationCallbacks.h
  applications/matter_weather_station/src/zap-generated/access.h
  applications/matter_weather_station/src/zap-generated/callback-stub.cpp
  applications/matter_weather_station/src/zap-generated/endpoint_config.h
  applications/matter_weather_station/src/zap-generated/gen_config.h
  applications/matter_weather_station/src/zap-generated/gen_tokens.h
Labels: none

net: lwm2m_client_utils: Replaced and fix deprecated API usage
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_accelerometer.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_buzzer.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_device.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_gas_res_sensor.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_humid_sensor.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_light_control.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_light_sensor.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_onoff_switch.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_portfolio_object.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_press_sensor.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_push_button.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_temp_sensor.c
  samples/nrf9160/lwm2m_client/src/modules/sensor_module.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_connmon.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
Labels: none

lib: nrf_modem_os: Use IRQ_PRIO_LOWEST instead of hard-coded 6
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: none

applications: nrf5340_audio: Fix typo
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpunet_defconfig
Labels: none

applications: nrf5340_audio: Remove verify.cmake
  applications/nrf5340_audio/CMakeLists.txt
  applications/nrf5340_audio/verification/verify.cmake
Labels: none

samples: nrf9160: lte_ble_gateway: add description of LED behaviour
  samples/nrf9160/lte_ble_gateway/README.rst
Labels: doc-required

manifest: update homekit revision
  west.yml
Labels: manifest

applications: nrf_desktop: Decrease RGB LED PWM period
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/app.overlay
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/app.overlay
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/app.overlay
Labels: none

samples: nrf9160: MMSS: Connection process minor improvements
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
Labels: doc-required

samples: nrf9160: MMSS: Miscellaneous minor improvements
  samples/nrf9160/nrf_cloud_mqtt_multi_service/prj.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
Labels: none

net: lib: nrf_cloud: Improve uninit documentation
  include/net/nrf_cloud.h
Labels: none

matter: prepare Weather Station for SVE
  applications/matter_weather_station/src/weather-station.matter
  applications/matter_weather_station/src/weather-station.zap
  applications/matter_weather_station/src/zap-generated/CHIPClientCallbacks.h
  applications/matter_weather_station/src/zap-generated/CHIPClusters.h
  applications/matter_weather_station/src/zap-generated/IMClusterCommandHandler.cpp
  applications/matter_weather_station/src/zap-generated/PluginApplicationCallbacks.h
  applications/matter_weather_station/src/zap-generated/access.h
  applications/matter_weather_station/src/zap-generated/callback-stub.cpp
  applications/matter_weather_station/src/zap-generated/endpoint_config.h
  applications/matter_weather_station/src/zap-generated/gen_config.h
  applications/matter_weather_station/src/zap-generated/gen_tokens.h
Labels: none

applications: matter_weather_station: use DEVICE_DT_GET_ONE
  applications/matter_weather_station/src/app_task.cpp
Labels: none

osif: zigbee: corrected energy scan formula
  subsys/zigbee/osif/zb_nrf_transceiver.c
Labels: none

applications: serial_lte_modem: BUG-FIX SLM_UART_HWFC_RUNTIME not enable
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/src/slm_at_host.c
Labels: none

CODEOWNERS: Add nRF Desktop maintainers to motion sensors
  CODEOWNERS
Labels: none

application: serial_lte_modem: Signify location info
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

application: machine_learning: change pwm_period to avoid visual glitches
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/app.overlay
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/app.overlay
Labels: none

manifest: update homekit revision
  west.yml
Labels: manifest

lib: pdn: rename `pdn_default_callback_set` to `pdn_default_ctx_cb_reg`
  doc/nrf/libraries/modem/pdn.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/pdn.h
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  lib/pdn/pdn.c
  samples/nrf9160/modem_shell/src/link/link_shell_pdn.c
  samples/nrf9160/pdn/src/main.c
Labels: doc-required

lib: pdn: multiple callbacks for default PDP context
  applications/asset_tracker_v2/overlay-carrier.conf
  doc/nrf/libraries/modem/pdn.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/pdn.h
  lib/pdn/Kconfig
  lib/pdn/pdn.c
  samples/nrf9160/lwm2m_carrier/prj.conf
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/link/link.c
Labels: doc-required

applications: matter_weather_station: use DEVICE_DT_GET_ONE
  applications/matter_weather_station/src/app_task.cpp
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
