Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

doc: updates on the sample templates
  doc/nrf/includes/build_and_run_nrf9160.txt
  doc/nrf/includes/tfm_spm_thingy91.txt
  doc/nrf/includes/thingy91_build_and_run.txt
  doc/nrf/known_issues.rst
  doc/nrf/templates/sample_README.rst
  samples/spm/README.rst
Labels: doc-required

nrf_modem_lib: trace_backends: fix log module
  lib/nrf_modem_lib/trace_backends/rtt/rtt.c
  lib/nrf_modem_lib/trace_backends/uart/uart.c
  lib/nrf_modem_lib/trace_backends/uart/uart_sync.c
Labels: none

caf: sensor_manager: do not compile parts of code without pm
  doc/nrf/releases/release-notes-changelog.rst
  subsys/caf/modules/sensor_manager.c
Labels: doc-required

caf: sensor_manager: remove float usage in sensor_manager
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/sensor_manager_def.h
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/sensor_manager_def.h
  applications/machine_learning/src/modules/ml_runner.c
  applications/machine_learning/src/util/ei_data_forwarder.c
  applications/machine_learning/src/util/ei_data_forwarder.h
  doc/nrf/libraries/caf/sensor_manager.rst
  include/caf/events/sensor_event.h
  include/caf/sensor_manager.h
  samples/caf_sensor_manager/app.overlay
  samples/caf_sensor_manager/prj.conf
  samples/caf_sensor_manager/remote/boards/nrf5340dk_nrf5340_cpunet.overlay
  subsys/caf/modules/sensor_manager.c
Labels: doc-required

doc: software_maturity: collapsible tables
  doc/nrf/conf.py
  doc/nrf/software_maturity.rst
  scripts/requirements-doc.txt
Labels: doc-required

caf: sensor_manager: remove float usage in sensor_manager
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/sensor_manager_def.h
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/sensor_manager_def.h
  applications/machine_learning/src/modules/ml_runner.c
  applications/machine_learning/src/util/ei_data_forwarder.c
  applications/machine_learning/src/util/ei_data_forwarder.h
  doc/nrf/libraries/caf/sensor_manager.rst
  include/caf/events/sensor_event.h
  include/caf/sensor_manager.h
  samples/caf_sensor_manager/app.overlay
  samples/caf_sensor_manager/prj.conf
  samples/caf_sensor_manager/remote/boards/nrf5340dk_nrf5340_cpunet.overlay
  subsys/caf/modules/sensor_manager.c
Labels: doc-required

caf: sensor_manager: do not compile parts of code without pm
  doc/nrf/releases/release-notes-changelog.rst
  subsys/caf/modules/sensor_manager.c
Labels: doc-required

tests: app_event_manager: Clean up OOM error handling
  tests/subsys/app_event_manager/CMakeLists.txt
  tests/subsys/app_event_manager/prj.conf
  tests/subsys/app_event_manager/src/events/test_events.h
  tests/subsys/app_event_manager/src/main.c
  tests/subsys/app_event_manager/src/modules/test_basic.c
  tests/subsys/app_event_manager/src/modules/test_config.h
  tests/subsys/app_event_manager/src/modules/test_data.c
  tests/subsys/app_event_manager/src/modules/test_multicontext.c
  tests/subsys/app_event_manager/src/modules/test_multicontext_config.h
  tests/subsys/app_event_manager/src/modules/test_multicontext_handler.c
  tests/subsys/app_event_manager/src/modules/test_oom.c
  tests/subsys/app_event_manager/src/modules/test_oom.h
  tests/subsys/app_event_manager/src/modules/test_subs.c
  tests/subsys/app_event_manager/src/utils/test_event_allocator.c
  tests/subsys/app_event_manager/src/utils/test_event_allocator.h
Labels: none

bluetooth: mesh: align sensor/column reporting
  doc/nrf/libraries/bluetooth_services/mesh/sensor.rst
  include/bluetooth/mesh/sensor.h
  include/bluetooth/mesh/sensor_cli.h
  include/bluetooth/mesh/sensor_types.h
  samples/bluetooth/mesh/sensor_server/src/model_handler.c
  subsys/bluetooth/mesh/sensor.c
  subsys/bluetooth/mesh/sensor.h
  subsys/bluetooth/mesh/sensor_cli.c
  subsys/bluetooth/mesh/sensor_srv.c
  subsys/bluetooth/mesh/sensor_types.c
Labels: doc-required

manifest: Updated sdk-connectedhomeip version to pull nvs cache fix.
  west.yml
Labels: manifest

samples: nrf9160: modem_shell: rest: option to print headers
  samples/nrf9160/modem_shell/src/rest/rest_shell.c
Labels: none

net: lib: rest_client: reason-phrase str included in response ctx
  include/net/rest_client.h
  subsys/net/lib/rest_client/src/rest_client.c
Labels: none

samples: nrf9160: modem_shell: rest: http status printing
  samples/nrf9160/modem_shell/src/rest/rest_shell.c
Labels: none

Bluetooth: Mesh: Automatic decommission of EnOcean switch
  doc/nrf/libraries/bluetooth_services/mesh/vnd/silvair_enocean_srv.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/enocean.h
  samples/bluetooth/enocean/src/main.c
  subsys/bluetooth/enocean.c
  subsys/bluetooth/mesh/vnd/Kconfig
  subsys/bluetooth/mesh/vnd/silvair_enocean_srv.c
  tests/subsys/bluetooth/mesh/silvair_enocean_model/src/main.c
Labels: doc-required

doc: Update software maturity doc
  doc/nrf/app_build_system.rst
  doc/nrf/software_maturity.rst
Labels: doc-required

samples: nrf9160: lte_ble_gateway: ignore agps failure on cloud data rx
  samples/nrf9160/lte_ble_gateway/src/main.c
Labels: none

samples: nrf9160: lte_ble_gateway: update doc
  samples/nrf9160/lte_ble_gateway/README.rst
Labels: doc-required

doc: linux west installation update
  doc/nrf/gs_installing.rst
Labels: doc-required

bluetooth: fast_pair: Allow hiding UI indication
  include/bluetooth/services/fast_pair.h
  subsys/bluetooth/services/fast_pair/fp_advertising.c
Labels: none

samples: peripheral_fast_pair: Allow toggling show/hide UI indication
  samples/bluetooth/peripheral_fast_pair/include/bt_adv_helper.h
  samples/bluetooth/peripheral_fast_pair/src/bt_adv_helper.c
  samples/bluetooth/peripheral_fast_pair/src/main.c
Labels: none

manifest: Updated sdk-connectedhomeip version to pull nvs cache fix.
  west.yml
Labels: manifest

samples: nrf9160: MMSS: Use lib_modem_antenna
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/Kconfig
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.c
Labels: doc-required

application: serial_lte_modem: Adjust GPIO behaviors
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/src/main.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

net: lib: rest_client: reason-phrase str included in response ctx
  include/net/rest_client.h
  subsys/net/lib/rest_client/src/rest_client.c
Labels: none

samples: nrf9160: modem_shell: rest: option to print headers
  samples/nrf9160/modem_shell/src/rest/rest_shell.c
Labels: none

net: lib: rest_client: support for fetching only header
  subsys/net/lib/rest_client/src/rest_client.c
Labels: none

samples: nrf9160: modem_shell: rest: http status printing
  samples/nrf9160/modem_shell/src/rest/rest_shell.c
Labels: none

samples: nrf9160: modem_shell: th: smaller stack/buffer sizes
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/src/th/th_ctrl.c
Labels: none

samples: nrf9160: modem_shell: global at_resp_buf and mutex
  samples/nrf9160/modem_shell/src/at/at_shell.c
  samples/nrf9160/modem_shell/src/link/link.c
  samples/nrf9160/modem_shell/src/link/link_api.c
  samples/nrf9160/modem_shell/src/main.c
  samples/nrf9160/modem_shell/src/mosh_defines.h
Labels: none

samples: nrf9160: modem_shell: stack sizes decreased
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/prj.conf
Labels: none

samples: nrf9160: modem_shell: ping: possible mem leak fixed
  samples/nrf9160/modem_shell/src/ping/icmp_ping.c
Labels: none

samples: nrf9160: modem_shell: ping: possible mem leak fixed
  samples/nrf9160/modem_shell/src/ping/icmp_ping.c
Labels: none

samples: nrf9160: modem_shell: th: smaller stack/buffer sizes
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/src/th/th_ctrl.c
Labels: none

samples: nrf9160: modem_shell: stack sizes decreased
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/prj.conf
Labels: none

samples: nrf9160: modem_shell: global at_resp_buf and mutex
  samples/nrf9160/modem_shell/src/at/at_shell.c
  samples/nrf9160/modem_shell/src/link/link.c
  samples/nrf9160/modem_shell/src/link/link_api.c
  samples/nrf9160/modem_shell/src/main.c
  samples/nrf9160/modem_shell/src/mosh_defines.h
Labels: none

bluetooth: fast_pair: Allow hiding UI indication
  include/bluetooth/services/fast_pair.h
  subsys/bluetooth/services/fast_pair/fp_advertising.c
Labels: none

samples: peripheral_fast_pair: Allow toggling show/hide UI indication
  samples/bluetooth/peripheral_fast_pair/include/bt_adv_helper.h
  samples/bluetooth/peripheral_fast_pair/src/bt_adv_helper.c
  samples/bluetooth/peripheral_fast_pair/src/main.c
Labels: none

doc: fast_pair: Allow hiding UI indication
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_fast_pair/README.rst
Labels: doc-required

application: serial_lte_modem: Adjust GPIO behaviors
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/src/main.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

doc: Update software maturity doc
  doc/nrf/app_build_system.rst
  doc/nrf/software_maturity.rst
Labels: doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
