Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

samples: radio_test: Add test case for nRF5340 with nrf21540
  samples/peripheral/radio_test/sample.yaml
Labels: none

subsys/dfu_target: support for multiple mcuboot's image collection
  include/dfu/dfu_target.h
  include/dfu/dfu_target_full_modem.h
  include/dfu/dfu_target_mcuboot.h
  include/dfu/dfu_target_modem_delta.h
  subsys/dfu/dfu_target/src/dfu_target.c
  subsys/dfu/dfu_target/src/dfu_target_full_modem.c
  subsys/dfu/dfu_target/src/dfu_target_mcuboot.c
  subsys/dfu/dfu_target/src/dfu_target_modem_delta.c
  subsys/net/lib/fota_download/src/fota_download.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
  tests/subsys/dfu/dfu_target/mcuboot/src/main.c
  tests/subsys/net/lib/fota_download/src/main.c
Labels: none

subsys/dfu_target: added API for schedule the updated
  include/dfu/dfu_target.h
  include/dfu/dfu_target_full_modem.h
  include/dfu/dfu_target_mcuboot.h
  include/dfu/dfu_target_modem_delta.h
  subsys/dfu/dfu_target/src/dfu_target.c
  subsys/dfu/dfu_target/src/dfu_target_full_modem.c
  subsys/dfu/dfu_target/src/dfu_target_mcuboot.c
  subsys/dfu/dfu_target/src/dfu_target_modem_delta.c
  subsys/net/lib/fota_download/src/fota_download.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
  tests/subsys/dfu/dfu_target/mcuboot/src/main.c
  tests/subsys/net/lib/fota_download/src/main.c
  west.yml
Labels: manifest

drivers: sensor: sensor_sim: re-use SENSOR_LOG_LEVEL
  drivers/sensor/sensor_sim/Kconfig
  drivers/sensor/sensor_sim/sensor_sim.c
Labels: none

drivers: sensor: sensor_sim: allow wave configuration via DT
  drivers/sensor/sensor_sim/sensor_sim.c
  dts/bindings/sensor/nordic,sensor-sim.yaml
Labels: none

drivers: sensor: sensor_sim: make accelerometer instance specific
  applications/machine_learning/src/modules/sensor_sim_ctrl.c
  drivers/sensor/sensor_sim/sensor_sim.c
  include/drivers/sensor_sim.h
Labels: none

drivers: sensor: sensor_sim: improve include list
  drivers/sensor/sensor_sim/sensor_sim.c
Labels: none

drivers: sensor: sensor_sim: move temp/humidity/pressure to DT
  doc/nrf/drivers/sensor_sim.rst
  drivers/sensor/sensor_sim/Kconfig
  drivers/sensor/sensor_sim/sensor_sim.c
  dts/bindings/sensor/nordic,sensor-sim.yaml
Labels: doc-required

drivers: sensor: sensor_sim: remove private header
  drivers/sensor/sensor_sim/CMakeLists.txt
  drivers/sensor/sensor_sim/sensor_sim.c
  drivers/sensor/sensor_sim/sensor_sim_priv.h
Labels: none

drivers: sensor: sensor_sim: refactor trigger code
  doc/nrf/drivers/sensor_sim.rst
  drivers/sensor/sensor_sim/Kconfig
  drivers/sensor/sensor_sim/sensor_sim.c
  dts/bindings/sensor/nordic,sensor-sim.yaml
Labels: doc-required

drivers: sensor: sensor_sim: allow configuring toggle amplitude in DT
  drivers/sensor/sensor_sim/sensor_sim.c
  dts/bindings/sensor/nordic,sensor-sim.yaml
Labels: none

drivers: sensor: sensor_sim: move acceleration signal config to DT
  applications/machine_learning/configuration/nrf52840dk_nrf52840/app.overlay
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj_nus.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj_release.conf
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/app.overlay
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  applications/machine_learning/src/modules/Kconfig.sensor_sim_ctrl
  doc/nrf/drivers/sensor_sim.rst
  drivers/sensor/sensor_sim/Kconfig
  drivers/sensor/sensor_sim/sensor_sim.c
  dts/bindings/sensor/nordic,sensor-sim.yaml
  samples/edge_impulse/data_forwarder/app.overlay
  samples/edge_impulse/data_forwarder/prj.conf
  samples/nrf9160/lwm2m_client/boards/nrf9160dk_nrf9160_ns.conf
  samples/nrf9160/lwm2m_client/boards/nrf9160dk_nrf9160_ns.overlay
Labels: doc-required

drivers: sensor: sensor_sim: make toggle signal multi-instance
  drivers/sensor/sensor_sim/sensor_sim.c
Labels: none

drivers: sensor: sensor_sim: remove unused attr_set
  drivers/sensor/sensor_sim/sensor_sim.c
Labels: none

drivers: sensor: sensor_sim: s/drv_data/data
  drivers/sensor/sensor_sim/sensor_sim.c
Labels: none

samples: Bluetooth: df: Add info about max ant sw pattern len Kconfig
  samples/bluetooth/direction_finding_central/README.rst
  samples/bluetooth/direction_finding_connectionless_rx/README.rst
  samples/bluetooth/direction_finding_connectionless_tx/README.rst
  samples/bluetooth/direction_finding_peripheral/README.rst
Labels: doc-required

drivers: sensor: sensor_sim: move init to the bottom
  drivers/sensor/sensor_sim/sensor_sim.c
Labels: none

drivers: sensor: sensor_sim: fix thread function prototype
  drivers/sensor/sensor_sim/sensor_sim.c
Labels: none

samples: nrf9160: modem_shell: th: ping support
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/src/ping/CMakeLists.txt
  samples/nrf9160/modem_shell/src/ping/icmp_ping.c
  samples/nrf9160/modem_shell/src/ping/icmp_ping.h
  samples/nrf9160/modem_shell/src/ping/icmp_ping_print.c
  samples/nrf9160/modem_shell/src/ping/icmp_ping_print.h
  samples/nrf9160/modem_shell/src/ping/icmp_ping_shell.c
  samples/nrf9160/modem_shell/src/ping/icmp_ping_shell.h
  samples/nrf9160/modem_shell/src/th/th_ctrl.c
  samples/nrf9160/modem_shell/src/th/th_shell.c
  samples/nrf9160/modem_shell/src/utils/mosh_print.c
  samples/nrf9160/modem_shell/src/utils/mosh_print.h
Labels: doc-required

manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest

samples: Bluetooth: df: README.rst correct eval of total IQ samples
  samples/bluetooth/direction_finding_central/README.rst
  samples/bluetooth/direction_finding_connectionless_rx/README.rst
Labels: doc-required

samples: nrf9160: modem_shell: thingy: more FLASH needed
  samples/nrf9160/modem_shell/boards/thingy91_nrf9160_ns.conf
Labels: none

samples: nrf9160: modem_shell: readme updated for ppp usage
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/overlay-ppp.conf
Labels: doc-required

drivers: sensor: sensor_sim: use sensor_value_from_double
  drivers/sensor/sensor_sim/sensor_sim.c
Labels: none

gazell: Support zero-latency interrupts
  subsys/gazell/Kconfig
  subsys/gazell/gzll_glue.c
Labels: none

kconfig: remove references to non-existing DK_LIBRARY_INVERT_LEDS
  applications/zigbee_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/zigbee_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  samples/nrf9160/nrf_cloud_rest_device_message/prj.conf
Labels: none

manifest: update Zephyr
  west.yml
Labels: manifest

scripts: west_commands: ncs_commands: block hal_rpi_pico
  scripts/west_commands/ncs_commands.py
Labels: none

manifest: update to memfault 0.29.1
  west.yml
Labels: manifest

manifest: update mcuboot
  west.yml
Labels: manifest

doc: update DK Button and LEDs
  doc/nrf/libraries/others/dk_buttons_and_leds.rst
Labels: doc-required

samples: nrf9160: add nRF Cloud REST Device Message sample
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_rest_device_message/CMakeLists.txt
  samples/nrf9160/nrf_cloud_rest_device_message/Kconfig
  samples/nrf9160/nrf_cloud_rest_device_message/README.rst
  samples/nrf9160/nrf_cloud_rest_device_message/prj.conf
  samples/nrf9160/nrf_cloud_rest_device_message/sample.yaml
  samples/nrf9160/nrf_cloud_rest_device_message/src/main.c
Labels: doc-required

manifest: update openthread
  west.yml
Labels: manifest

manifest: update nrfxlib
  west.yml
Labels: manifest

treewide: re-work DK buttons and leds library
  applications/asset_tracker_v2/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  lib/dk_buttons_and_leds/Kconfig
  lib/dk_buttons_and_leds/dk_buttons_and_leds.c
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/sensor_server/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/sensor_server/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/nrf9160/azure_iot_hub/prj.conf
  samples/nrf9160/http_update/application_update/prj.conf
  samples/nrf9160/http_update/full_modem_update/prj.conf
  samples/nrf9160/http_update/modem_delta_update/prj.conf
  samples/nrf9160/lte_ble_gateway/prj.conf
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/nrf_cloud_rest_fota/prj.conf
Labels: none

doc: use new kconfig extension
  CODEOWNERS
  doc/CMakeLists.txt
  doc/_static/css/kconfig.css
  doc/kconfig/conf.py
  doc/kconfig/index.rst
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrf/releases/release-notes-1.3.0.rst
  doc/nrfxlib/conf.py
  doc/zephyr/conf.py
Labels: doc-required

nrf_rpc: transport: use ipc service
  samples/nrf_rpc/entropy_nrf53/cpuapp/prj.conf
  samples/nrf_rpc/entropy_nrf53/cpunet/prj.conf
  subsys/nrf_rpc/Kconfig
  subsys/nrf_rpc/nrf_rpc_rpmsg.c
Labels: none

doc: cmake: update package usage with components
  doc/CMakeLists.txt
Labels: doc-required

partition_manager: config: align with the new ipc transport for nrf53
  subsys/partition_manager/CMakeLists.txt
  subsys/partition_manager/Kconfig
Labels: none

treewide: s/ZTEST_STACKSIZE/ZTEST_STACK_SIZE
  Kconfig.nrf
  applications/asset_tracker_v2/tests/json_common/prj.conf
  tests/crypto/prj.conf
  tests/drivers/fprotect/negative/prj.conf
  tests/drivers/fprotect/positive/prj.conf
  tests/subsys/bootloader/bl_crypto/prj.conf
  tests/subsys/bootloader/bl_validation/prj.conf
  tests/subsys/net/lib/aws_fota/aws_fota_json/prj.conf
  tests/subsys/net/lib/aws_fota/aws_fota_json/prj_native_posix.conf
  tests/subsys/net/lib/aws_jobs/prj.conf
  tests/subsys/pcd/prj.conf
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
