Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

samples: nrf9160: lwm2m_client: swtich sample to pinctrl
  samples/nrf9160/lwm2m_client/boards/nrf9160dk_nrf9160_ns.overlay
Labels: none

samples: hw_unique_key: Add CONFIG_REBOOT to prj.conf
  samples/keys/hw_unique_key/prj.conf
Labels: none

net: lib: rest_client: Rename body_start to body_frag_start
  subsys/net/lib/rest_client/src/rest_client.c
Labels: none

application: serial_lte_modem: Rename body_start
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
Labels: none

samples/bluetooth/hci_lpuart: Switch dts overlays to PINCTRL
  samples/bluetooth/hci_lpuart/boards/thingy91_nrf52840.overlay
Labels: none

samples/nfc: Switch dts overlays to PINCTRL
  samples/nfc/tag_reader/nrf52833dk_nrf52833.overlay
  samples/nfc/tag_reader/nrf52840dk_nrf52840.overlay
  samples/nfc/tag_reader/nrf52dk_nrf52832.overlay
  samples/nfc/tag_reader/nrf5340dk_nrf5340_cpuapp.overlay
  samples/nfc/tnep_poller/nrf52833dk_nrf52833.overlay
  samples/nfc/tnep_poller/nrf52840dk_nrf52840.overlay
  samples/nfc/tnep_poller/nrf52dk_nrf52832.overlay
  samples/nfc/tnep_poller/nrf5340dk_nrf5340_cpuapp.overlay
Labels: none

samples: matter: Switch dts overlays to PINCTRL
  samples/matter/light_bulb/boards/nrf21540dk_nrf52840.overlay
  samples/matter/light_bulb/boards/nrf52840dk_nrf52840.overlay
  samples/matter/light_bulb/boards/nrf5340dk_nrf5340_cpuapp.overlay
Labels: none

boards: arm: Switch nrf5340_audio_dk_nrf5340 to PINCTRL
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_common-pinctrl.dtsi
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_common.dts
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_defconfig
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpunet-pinctrl.dtsi
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpunet.dts
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpunet_defconfig
Labels: none

applications: serial_lte_modem: use hw-flow-control property
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/slm_description.rst
Labels: doc-required

doc: nrf: ug_radio_fem: update to pinctrl
  doc/nrf/ug_radio_fem.rst
Labels: doc-required

samples: bluetooth: hci_lpuart: port overlays to pinctrl
  samples/bluetooth/hci_lpuart/boards/nrf9160dk_nrf52840.overlay
Labels: none

applications: nrf_desktop: Tune configs to save memory on constrained devs
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/prj.conf
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/prj_release.conf
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/prj_release_mcuboot.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/prj.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/prj_release.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/prj_release_mcuboot.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/child_image/mcuboot/prj_mcuboot_qspi.conf
Labels: none

boards: nrf52: Suppress DTC warnings about duplicate unit-address
  boards/arm/nrf52810dmouse_nrf52810/pre_dt_board.cmake
  boards/arm/nrf52820dongle_nrf52820/pre_dt_board.cmake
  boards/arm/nrf52833dongle_nrf52833/pre_dt_board.cmake
  boards/arm/nrf52840gmouse_nrf52840/pre_dt_board.cmake
  boards/arm/nrf52dmouse_nrf52832/pre_dt_board.cmake
  boards/arm/nrf52kbd_nrf52832/pre_dt_board.cmake
Labels: none

tests/subsys/zigbee: Convert dts overlays to PINCTRL
  tests/subsys/zigbee/osif/serial/serial_async_api/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/zigbee/osif/serial/serial_async_api/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/subsys/zigbee/osif/serial/serial_basic_api/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/zigbee/osif/serial/serial_basic_api/boards/nrf5340dk_nrf5340_cpuapp.overlay
Labels: none

doc: nrf: fix Zephyr include paths
  doc/nrf/gs_installing.rst
  doc/nrf/gs_modifying.rst
  doc/nrf/templates/cheat_sheet.rst
Labels: doc-required

application: serial_lte_modem: Socket service receive URC
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  applications/serial_lte_modem/src/slm_at_socket.c
Labels: doc-required

samples: nrf9160: gnss: update reference position support
  samples/nrf9160/gnss/Kconfig
  samples/nrf9160/gnss/src/main.c
Labels: none

samples: nrf9160: gnss: fix printing of floats when FPU is disabled
  samples/nrf9160/gnss/src/main.c
Labels: none

doc: openthread: update "Configuring a radio co-processor" section
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_tools.rst
Labels: doc-required

doc: cmake: remove CMake < 3.17 specific code
  doc/CMakeLists.txt
Labels: doc-required

doc: cmake: add comments to doc targets
  doc/CMakeLists.txt
Labels: doc-required

doc: cmake: separate SPHINXOPTS* arguments
  doc/CMakeLists.txt
Labels: doc-required

doc: cmake: remove -html targets
  doc/CMakeLists.txt
  doc/nrf/doc_build.rst
Labels: doc-required

doc: pulling doxygen version automatically from config file
  .github/workflows/docbuild.yml
  scripts/tools-versions-linux.txt
Labels: none

applications: update LOG2_MODE into LOG_MODE
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj_nus.conf
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy52_nrf52832/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_rtt.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  samples/nrf9160/azure_iot_hub/prj.conf
Labels: none

doc: adjust titles and styles for new theme
  doc/_static/css/common.css
  doc/_static/css/matter.css
  doc/_static/css/mcuboot.css
  doc/_static/css/nrf.css
  doc/_static/css/nrfx.css
  doc/_static/css/nrfxlib.css
  doc/_static/css/tfm.css
  doc/_static/css/zephyr.css
  doc/kconfig/conf.py
  doc/matter/conf.py
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrfx/conf.py
  doc/nrfxlib/conf.py
  doc/tfm/conf.py
  doc/zephyr/conf.py
Labels: doc-required

[DNM] doc: update sphinx-ncs-theme
  doc/nrf/versions.txt.in
  scripts/requirements-doc.txt
Labels: doc-required

manifest: update Find My revision
  west.yml
Labels: manifest

Revert modecnf0
  west.yml
Labels: manifest

doc: requirements: require Jinja2 > 3
  scripts/requirements-doc.txt
Labels: none

doc: nrf: add a section with fota sample to nRF52 Series user guide
  doc/nrf/ug_nrf52.rst
Labels: doc-required

event_manager_proxy: Repeat IPC transmission on failure
  subsys/event_manager_proxy/Kconfig
  subsys/event_manager_proxy/event_manager_proxy.c
Labels: none

ci: Initial mergify setup
  .github/mergify.yml
  CODEOWNERS
Labels: none

manifest: update nrfxlib
  west.yml
Labels: manifest

manifest: update Find My revision
  west.yml
Labels: manifest

doc: openthread: update "Configuring a radio co-processor" section
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_tools.rst
Labels: doc-required

applications: update LOG2_MODE into LOG_MODE
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj_nus.conf
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy52_nrf52832/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_rtt.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  samples/nrf9160/azure_iot_hub/prj.conf
Labels: none

lib: zigbee zcl scenes: Allow storing empty scenes
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_scenes/zigbee_zcl_scenes.c
Labels: doc-required

applications: asset_tracker_v2: Fix possible buffer overflow
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

doc: matter: add info about FOTA in SoCs UGs
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf52.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
