Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

applications: nrf_desktop: use DEVICE_DT_GET for qdec
  applications/nrf_desktop/src/hw_interface/wheel.c
Labels: none

application: serial_lte_modem: Signify location info
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

applications: nrf_desktop: motion_sensor: use DEVICE_DT_GET_ONE
  applications/nrf_desktop/configuration/common/motion_sensor.h
  applications/nrf_desktop/src/hw_interface/motion_sensor.c
Labels: none

bootloader: tests: Fix matching regex for new Twister version
  tests/subsys/bootloader/bl_validation_neg/testcase.yaml
Labels: none

lib: pdn: multiple callbacks for default PDP context
  applications/asset_tracker_v2/overlay-carrier.conf
  doc/nrf/libraries/modem/pdn.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/pdn.h
  lib/pdn/Kconfig
  lib/pdn/pdn.c
  samples/nrf9160/lwm2m_carrier/prj.conf
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/link/link.c
Labels: doc-required

lib: pdn: rename `pdn_default_callback_set` to `pdn_default_ctx_cb_reg`
  doc/nrf/libraries/modem/pdn.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/pdn.h
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  lib/pdn/pdn.c
  samples/nrf9160/modem_shell/src/link/link_shell_pdn.c
  samples/nrf9160/pdn/src/main.c
Labels: doc-required

manifest: update homekit revision
  west.yml
Labels: manifest

kconfig: rename template
  modules/mcuboot/boot/zephyr/Kconfig
  modules/memfault-firmware-sdk/Kconfig
  subsys/partition_manager/Kconfig
  subsys/partition_manager/Kconfig.template.partition_config
Labels: none

samples: bluetooth: peripheral_lbs: Fix build issue
  samples/bluetooth/peripheral_lbs/src/main.c
Labels: none

partition_manager: add option to place partition in ext flash
  CODEOWNERS
  doc/nrf/releases/release-notes-changelog.rst
  subsys/partition_manager/Kconfig
  subsys/partition_manager/Kconfig.template.partition_region
  subsys/partition_manager/pm.yml.file_system
  subsys/partition_manager/pm.yml.nvs
  subsys/partition_manager/pm.yml.settings
  tests/subsys/partition_manager/region/CMakeLists.txt
  tests/subsys/partition_manager/region/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/partition_manager/region/prj.conf
  tests/subsys/partition_manager/region/src/main.c
  tests/subsys/partition_manager/region/testcase.yaml
Labels: doc-required

samples: bluetooth: peripheral_lbs: Expand sample.yaml
  samples/bluetooth/peripheral_lbs/sample.yaml
Labels: none

Bluetooth: Mesh: Added emds support to mesh models
  doc/nrf/libraries/bluetooth_services/mesh/gen_plvl_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_hue_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_sat_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_temp_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_xyl_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/lightness_srv.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/mesh/gen_plvl_srv.h
  include/bluetooth/mesh/light_hue_srv.h
  include/bluetooth/mesh/light_sat_srv.h
  include/bluetooth/mesh/light_temp_srv.h
  include/bluetooth/mesh/light_xyl_srv.h
  include/bluetooth/mesh/lightness_srv.h
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/light_hsl_srv.c
  subsys/bluetooth/mesh/light_hue_srv.c
  subsys/bluetooth/mesh/light_sat_srv.c
  subsys/bluetooth/mesh/light_temp_srv.c
  subsys/bluetooth/mesh/light_xyl_srv.c
  subsys/bluetooth/mesh/lightness_internal.h
  subsys/bluetooth/mesh/lightness_srv.c
  subsys/bluetooth/mesh/model_utils.h
  tests/subsys/bluetooth/mesh/models/src/main.c
  tests/subsys/bluetooth/mesh/models/testcase.yaml
Labels: doc-required

doc: nrf9160: at_host: Fix capitalisation
  doc/nrf/gs_programming.rst
Labels: doc-required

manifest: update homekit revision
  west.yml
Labels: manifest

doc: Update figures for CAF libraries
  doc/nrf/libraries/caf/images/caf_ble_state_transitions.svg
  doc/nrf/libraries/caf/images/caf_ble_state_transitions.vsdx
  doc/nrf/libraries/caf/images/caf_buttons_states.svg
  doc/nrf/libraries/caf/images/caf_buttons_states.vsdx
  doc/nrf/libraries/caf/images/caf_power_manager_states.svg
  doc/nrf/libraries/caf/images/caf_power_manager_states.vsdx
  doc/nrf/libraries/caf/images/caf_sensor_states.svg
  doc/nrf/libraries/caf/images/caf_sensor_states.vsdx
Labels: doc-required

applications: nrf5340_audio: use gpio-dt-spec
  applications/nrf5340_audio/src/modules/led.c
Labels: none

doc: software_maturity: add entries for HomeKit
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required

ci: Delay jenkins pull request webhook
  .github/workflows/jenkins-trigger.yml
Labels: none

doc: Update figures for CAF libraries
  doc/nrf/libraries/caf/images/caf_ble_state_transitions.svg
  doc/nrf/libraries/caf/images/caf_ble_state_transitions.vsdx
  doc/nrf/libraries/caf/images/caf_buttons_states.svg
  doc/nrf/libraries/caf/images/caf_buttons_states.vsdx
  doc/nrf/libraries/caf/images/caf_power_manager_states.svg
  doc/nrf/libraries/caf/images/caf_power_manager_states.vsdx
  doc/nrf/libraries/caf/images/caf_sensor_states.svg
  doc/nrf/libraries/caf/images/caf_sensor_states.vsdx
Labels: doc-required

samples: bluetooth: peripheral_lbs: Fix build issue
  samples/bluetooth/peripheral_lbs/src/main.c
Labels: none

samples: bluetooth: peripheral_lbs: Expand sample.yaml
  samples/bluetooth/peripheral_lbs/sample.yaml
Labels: none

mpsl: fem: Add support for nRF21540 GPIO + SPI (Experimental)
  doc/nrf/ug_radio_fem.rst
  subsys/mpsl/fem/CMakeLists.txt
  subsys/mpsl/fem/Kconfig
  subsys/mpsl/fem/common/include/mpsl_fem_utils.h
  subsys/mpsl/fem/common/mpsl_fem_utils.c
  subsys/mpsl/fem/nrf21540_gpio_spi/mpsl_fem_nrf21540_gpio_spi.c
Labels: doc-required

doc: nrf9160: at_host: Fix capitalisation
  doc/nrf/gs_programming.rst
Labels: doc-required

application: machine_learning: change pwm_period to avoid visual glitches
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/app.overlay
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/app.overlay
Labels: none

applications: asset_tracker_v2: Disable sensor objects for DK
  applications/asset_tracker_v2/overlay-lwm2m.conf
  applications/asset_tracker_v2/src/cloud/cloud_codec/Kconfig
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec.c
Labels: none

wifi: Add nrf7002 boards support
  boards/arm/nrf7002dk_nrf5340/CMakeLists.txt
  boards/arm/nrf7002dk_nrf5340/Kconfig
  boards/arm/nrf7002dk_nrf5340/Kconfig.board
  boards/arm/nrf7002dk_nrf5340/Kconfig.defconfig
  boards/arm/nrf7002dk_nrf5340/board.cmake
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_common.dts
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_partition_conf.dts
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpunet_reset.c
  boards/arm/nrf7002dk_nrf5340/nrf5340_shared_sram_planning_conf.dts
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp.dts
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp.yaml
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp_defconfig
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp_ns.dts
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp_ns.yaml
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp_ns_defconfig
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpunet.dts
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpunet.yaml
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpunet_defconfig
  boards/arm/nrf7002dk_nrf5340/pre_dt_board.cmake
  boards/shields/nrf7002_ek/Kconfig.shield
  boards/shields/nrf7002_ek/nrf7002_ek.overlay
  dts/bindings/wifi/nordic,nrf7002-qspi.yaml
  dts/bindings/wifi/nordic,nrf7002-spi.yaml
  dts/bindings/wifi/nordic,nrf7002.yaml
Labels: none

wifi: Add sdk-hostap to the manifest
  west.yml
Labels: manifest

applications: nrf5340_audio: use gpio-dt-spec
  applications/nrf5340_audio/src/modules/led.c
Labels: none

doc: known_issues: Add NCSDK-16060
  doc/nrf/known_issues.rst
Labels: doc-required

wifi: Add documentation for nrf7002
  doc/nrf/app_boards.rst
  doc/nrf/images/nrf7002dk.jpg
  doc/nrf/includes/sample_board_rows.txt
  doc/nrf/index.rst
  doc/nrf/links.txt
  doc/nrf/ug_nrf70.rst
  doc/nrf/ug_nrf7002.rst
Labels: doc-required

wifi: Fix the DTS file with latest sdk-nrf
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_common.dts
Labels: none

wifi: Add a Wi-Fi sample
  samples/wifi/shell/CMakeLists.txt
  samples/wifi/shell/README.rst
  samples/wifi/shell/prj.conf
  samples/wifi/shell/src/main.c
  samples/wifi/shell/src/nrf-config-user.h
  samples/wifi/shell/src/nrf-config.h
  samples/wifi/shell/src/supp_shell.c
Labels: doc-required

lib: lte_lc: fix lte_lc_nw_reg_status_get
  lib/lte_link_control/lte_lc.c
Labels: none

application: serial_lte_modem: BUG-FIX GNSS sleep/wakeup event
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

applications: nrf_desktop: Decrease RGB LED PWM period
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/app.overlay
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/app.overlay
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/app.overlay
Labels: none

samples: matter: Added setting power for Thread devices that use FEM
  samples/matter/common/src/thread_util.cpp
  samples/matter/common/src/thread_util.h
  samples/matter/light_bulb/Kconfig
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_switch/Kconfig
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/lock/Kconfig
  samples/matter/lock/src/app_task.cpp
  samples/matter/template/Kconfig
  samples/matter/template/src/app_task.cpp
  samples/matter/window_covering/Kconfig
  samples/matter/window_covering/src/app_task.cpp
Labels: none

doc: known_issues: Add NCSDK-16060
  doc/nrf/known_issues.rst
Labels: doc-required

homekit: manifest update
  west.yml
Labels: manifest

samples: matter: Added setting power for Thread devices that use FEM
  samples/matter/common/src/thread_util.cpp
  samples/matter/common/src/thread_util.h
  samples/matter/light_bulb/Kconfig
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_switch/Kconfig
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/lock/Kconfig
  samples/matter/lock/src/app_task.cpp
  samples/matter/template/Kconfig
  samples/matter/template/src/app_task.cpp
  samples/matter/window_covering/Kconfig
  samples/matter/window_covering/src/app_task.cpp
Labels: none

mpsl: fem: Add support for nRF21540 GPIO + SPI (Experimental)
  doc/nrf/ug_radio_fem.rst
  subsys/mpsl/fem/CMakeLists.txt
  subsys/mpsl/fem/Kconfig
  subsys/mpsl/fem/common/include/mpsl_fem_utils.h
  subsys/mpsl/fem/common/mpsl_fem_utils.c
  subsys/mpsl/fem/nrf21540_gpio_spi/mpsl_fem_nrf21540_gpio_spi.c
Labels: doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
