Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

kconfig: define NET_SOCKETS_OFFLOAD_TLS for memfault-sdk
  Kconfig.nrf
Labels: none

boards: nrf5340_audio_dk_nrf5340: removing SDMMC_OVER_SPI in defconfig
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_defconfig
Labels: none

applications: nrf5340_audio: adjusted to use BT_ISO_PERIPHERAL
  applications/nrf5340_audio/prj.conf
Labels: none

doc: documented latest upmerge SHA and revision
  doc/nrf/releases/release-notes-changelog.rst
  doc/versions.json
Labels: doc-required

app: serial_lte_modem: remove NET_SOCKETS_OFFLOAD_TLS=n from Kconfig
  applications/serial_lte_modem/overlay-native_tls.conf
Labels: none

manifest: zephyr, mcuboot, upmerge 20220622
  west.yml
Labels: manifest

lib: nrf_modem: upmerge 20220622
  lib/nrf_modem_lib/nrf91_sockets.c
Labels: none

boards: nrf5340_audio_dk_nrf5340: use chosen to abstract ipc instance
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_common.dts
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpunet.dts
Labels: none

doc: update docs and versions for NCS 2.0.1
  doc/nrf/conf.py
  doc/nrf/dm_adding_code.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.0.1.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

bluetooth: fast_pair: Make key generation failure counter global
  subsys/bluetooth/services/fast_pair/fp_keys.c
Labels: none

doc: vsc: update naming conventions in docs
  doc/nrf/gs_updating.rst
  doc/nrf/includes/vsc_build_and_run.txt
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_nrf9160.rst
  doc/nrf/ug_thingy53.rst
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_zigbee_qsg.rst
  samples/bootloader/README.rst
Labels: doc-required

applications: asset_tracker_v2: Wait before reconnecting to cloud
  applications/asset_tracker_v2/src/modules/cloud_module.c
Labels: none

applications: asset_tracker_v2: LwM2M codec cleanup
  applications/asset_tracker_v2/overlay-lwm2m.conf
  applications/asset_tracker_v2/src/cloud/cloud_codec/Kconfig
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec.c
Labels: none

bluetooth: fast_pair: Depend on system workq priority in fp_keys
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_keys.c
Labels: none

applications: Asset_Tracker_v2: Use PDN events instead of CEREG notifs
  applications/asset_tracker_v2/prj.conf
  applications/asset_tracker_v2/src/modules/Kconfig.modem_module
  applications/asset_tracker_v2/src/modules/modem_module.c
Labels: none

samples: nrf9160: nrf_cloud_mqtt_multi_service: add full modem FOTA
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/overlay_full_modem_fota.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/fota_support.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/fota_support.h
Labels: doc-required

net: lib: nrf_cloud: set flash device before fota init
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota_common.c
Labels: doc-required

samples: nrf9160: nrf_cloud_rest_fota: use DEVICE_DT_GET_ONE
  samples/nrf9160/nrf_cloud_rest_fota/src/main.c
Labels: none

samples: nrf9160: nrf_cloud_mqtt_multi_service: use new fota function
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/fota_support.h
Labels: none

net: lib: nrf_cloud: add function nrf_cloud_fota_is_type_enabled
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota.c
Labels: doc-required

doc: add link to updating repo to rel notes
  doc/nrf/gs_updating.rst
  doc/nrf/releases/release-notes-2.0.1.rst
Labels: doc-required

nfc: samples: Modify platform.c to work with new NFC library
  doc/nrf/releases/release-notes-changelog.rst
  samples/nfc/writable_ndef_msg/src/main.c
  subsys/nfc/lib/CMakeLists.txt
  subsys/nfc/lib/Kconfig
  subsys/nfc/lib/platform.c
  subsys/nfc/lib/platform_internal.h
  subsys/nfc/lib/platform_internal_irq.c
  subsys/nfc/lib/platform_internal_thread.c
Labels: doc-required

doc: add link to updating repo to rel notes
  doc/nrf/gs_updating.rst
  doc/nrf/releases/release-notes-2.0.1.rst
Labels: doc-required

applications: nrf5340_audio: Added new files for BAP
  applications/nrf5340_audio/src/bluetooth/bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/bis_gateway.h
  applications/nrf5340_audio/src/bluetooth/bis_headset.c
  applications/nrf5340_audio/src/bluetooth/bis_headset.h
  applications/nrf5340_audio/src/bluetooth/cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/cis_gateway.h
  applications/nrf5340_audio/src/bluetooth/cis_headset.c
  applications/nrf5340_audio/src/bluetooth/cis_headset.h
Labels: none

applications: nrf5340_audio: Removed files replaced by BAP
  applications/nrf5340_audio/src/audio/CMakeLists.txt
  applications/nrf5340_audio/src/audio/audio_codec.c
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/audio/streamctrl.h
  applications/nrf5340_audio/src/bluetooth/CMakeLists.txt
  applications/nrf5340_audio/src/bluetooth/ble_acl_common.c
  applications/nrf5340_audio/src/bluetooth/ble_acl_common.h
  applications/nrf5340_audio/src/bluetooth/ble_acl_gateway.c
  applications/nrf5340_audio/src/bluetooth/ble_acl_gateway.h
  applications/nrf5340_audio/src/bluetooth/ble_acl_headset.c
  applications/nrf5340_audio/src/bluetooth/ble_acl_headset.h
  applications/nrf5340_audio/src/bluetooth/ble_audio_services.c
  applications/nrf5340_audio/src/bluetooth/ble_trans.c
  applications/nrf5340_audio/src/bluetooth/ble_trans.h
  applications/nrf5340_audio/src/events/ctrl_events.h
  applications/nrf5340_audio/src/main.c
Labels: none

applications: nrf5340_audio: Added the le_audio.h file
  applications/nrf5340_audio/src/audio/CMakeLists.txt
  applications/nrf5340_audio/src/audio/streamcontrol.c
  applications/nrf5340_audio/src/audio/streamcontrol.h
  applications/nrf5340_audio/src/bluetooth/bis_gateway.h
  applications/nrf5340_audio/src/bluetooth/bis_headset.h
  applications/nrf5340_audio/src/bluetooth/cis_gateway.h
  applications/nrf5340_audio/src/bluetooth/cis_headset.h
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  applications/nrf5340_audio/src/events/ctrl_events.h
  applications/nrf5340_audio/src/main.c
  applications/nrf5340_audio/src/modules/button_handler.h
Labels: none

applications: nrf5340_audio: Refactor streamctrl
  applications/nrf5340_audio/src/audio/CMakeLists.txt
  applications/nrf5340_audio/src/audio/Kconfig
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/audio_system.c
  applications/nrf5340_audio/src/audio/audio_system.h
  applications/nrf5340_audio/src/audio/streamcontrol.c
  applications/nrf5340_audio/src/audio/streamcontrol.h
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/audio/streamctrl.h
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/main.c
Labels: none

applications: nrf5340_audio: Implement BIS using BAP (#2)
  applications/nrf5340_audio/overlay-gateway.conf
  applications/nrf5340_audio/overlay-headset.conf
  applications/nrf5340_audio/prj.conf
  applications/nrf5340_audio/src/audio/CMakeLists.txt
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/audio_system.c
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/bluetooth/CMakeLists.txt
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
Labels: none

applications: nrf5340_audio: Remove 2 not needed configs from prj.conf
  applications/nrf5340_audio/prj.conf
Labels: none

applications: nrf5340_audio: Function for sending LE Audio events (#14)
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  applications/nrf5340_audio/src/events/ctrl_events.c
  applications/nrf5340_audio/src/events/ctrl_events.h
Labels: none

applications: nrf5340_audio: Get timestamp for gateway for drift-comp (#10)
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
Labels: none

applications: nrf5340_audio: CIS codec setting print and send event (#12)
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
Labels: none

west.yml: Change to zephyr branch name in stead of hash (#8)
  west.yml
Labels: manifest

applications: nrf5340_audio: Use LOG_ERR for return codes in callbacks (#13)
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
Labels: none

Applications: nrf5340_audio: Get config from base_recv
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
Labels: none

applications: nrf5340_audio: CIS single link with BAP API (#6)
  applications/nrf5340_audio/overlay-gateway.conf
  applications/nrf5340_audio/overlay-headset.conf
  applications/nrf5340_audio/prj.conf
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
Labels: none

applications: nrf5340_audio: Set PACS available contexts properly (#16)
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
Labels: none

applications: nrf5340_audio: Implement atomic variable on gateways (#15)
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
Labels: none

applications: nrf5340_audio: Implement reset functionality for BIS (#4)
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
Labels: none

applications: nrf5340_audio: Impliement missing le_audio functions (BIS) (#9)
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
Labels: none
