Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

net: lib: azure_iot_hub: remove support for cloud api
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/azure_iot_hub/CMakeLists.txt
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_cloud_api.c
Labels: doc-required

applications: serial_lte_modem: remove cloud api usage
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

net: lib: aws_iot: remove support for cloud api
  doc/nrf/libraries/networking/aws_iot.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: doc-required

samples: nrf9160: cloud_client: remove sample
  doc/nrf/releases/release-notes-1.2.0.rst
  doc/nrf/releases/release-notes-1.3.0.rst
  doc/nrf/releases/release-notes-1.5.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/cloud_client/CMakeLists.txt
  samples/nrf9160/cloud_client/Kconfig
  samples/nrf9160/cloud_client/README.rst
  samples/nrf9160/cloud_client/prj.conf
  samples/nrf9160/cloud_client/sample.yaml
  samples/nrf9160/cloud_client/src/main.c
Labels: doc-required

net: lib: cloud: remove cloud api
  doc/nrf/libraries/networking/cloud.rst
  doc/nrf/releases/release-notes-1.1.0.rst
  doc/nrf/releases/release-notes-1.2.0.rst
  doc/nrf/releases/release-notes-1.7.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/net/cloud.h
  subsys/net/lib/CMakeLists.txt
  subsys/net/lib/Kconfig
  subsys/net/lib/cloud/CMakeLists.txt
  subsys/net/lib/cloud/Kconfig
  subsys/net/lib/cloud/cloud.c
  subsys/net/lib/cloud/custom-sections.ld
Labels: doc-required

net: lib: nrf_cloud: remove support for cloud api
  doc/nrf/libraries/networking/cloud.rst
  doc/nrf/libraries/networking/nrf_cloud.rst
  doc/nrf/releases/release-notes-1.4.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf_cloud.rst
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: doc-required

doc: added tables for Audio DK
  applications/nrf5340_audio/README.rst
Labels: doc-required

tests: turn on build_only in sensor manager sample
  samples/caf_sensor_manager/sample.yaml
Labels: none

doc: Add security doc chapter
  doc/nrf/index.rst
  doc/nrf/links.txt
  doc/nrf/security_chapter.rst
Labels: doc-required

doc: vsc: extend include for building steps
  doc/nrf/includes/vsc_build_and_run.txt
  doc/nrf/includes/vsc_build_and_run_nrf53.txt
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_thingy53.rst
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_zigbee_qsg.rst
Labels: doc-required

doc: added tables for Audio DK
  applications/nrf5340_audio/README.rst
Labels: doc-required

matter: fixes for OTA, Window Covering and Android
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  doc/nrf/links.txt
  samples/matter/common/src/ota_util.cpp
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/lock/src/app_task.cpp
  samples/matter/template/src/app_task.cpp
  samples/matter/window_covering/src/app_task.cpp
  samples/matter/window_covering/src/window_covering.cpp
  samples/matter/window_covering/src/window_covering.h
  samples/matter/window_covering/src/zcl_callbacks.cpp
  west.yml
Labels: manifest, doc-required

applications: nrf_desktop: Document NCSDK-14913
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/ble_conn_params.rst
  applications/nrf_desktop/doc/ble_scan.rst
Labels: doc-required

manifest: nrf_modem: version 2.0.1
  west.yml
Labels: manifest

manifest: update homekit revision
  west.yml
Labels: manifest

doc: Add security doc chapter
  doc/nrf/index.rst
  doc/nrf/links.txt
  doc/nrf/security_chapter.rst
Labels: doc-required

manifest: nrf_modem: version 2.0.1
  west.yml
Labels: manifest

manifest: nrf_modem: version 2.0.1+b1
  west.yml
Labels: manifest

VERSION: Update to 2.0.0-rc2
  VERSION
Labels: none

manifest: Update with tags for NCS v2.0.0-rc2
  west.yml
Labels: manifest

manifest: Update with tags for NCS v2.0.0-rc2
  west.yml
Labels: manifest

VERSION: Update to 2.0.0-rc2
  VERSION
Labels: none

openthread: samples: remove obsolete overlay-minimal.conf from RCP
  samples/openthread/coprocessor/README.rst
  samples/openthread/coprocessor/overlay-minimal.conf
Labels: doc-required

doc: manifest: homekit release notes
  west.yml
Labels: manifest

manifest: update homekit revision
  west.yml
Labels: manifest

samples: Changes name of testcase
  samples/nrf9160/ciphersuites/sample.yaml
Labels: none

manifest: Update sdk-zephyr SHA to bring smp_sample fix
  west.yml
Labels: manifest

softdevice_controller: production support for CTE AoA TX
  subsys/bluetooth/controller/Kconfig
Labels: none

doc: Doc updates related to the new layout
  doc/nrf/index.rst
Labels: doc-required

doc improvement: Improve software maturity table
  doc/nrf/software_maturity.rst
Labels: doc-required

samples: Use unique PID for different samples
  samples/bluetooth/central_nfc_pairing/prj.conf
  samples/bluetooth/peripheral_nfc_pairing/prj.conf
  samples/nrf5340/remote_shell/prj.conf
Labels: none

doc improvement: Improve software maturity table
  doc/nrf/software_maturity.rst
Labels: doc-required

doc: library: DM structure change
  doc/nrf/libraries/others/dm.rst
Labels: doc-required

doc: libraries: fix structure issues in some libs
  doc/nrf/libraries/modem/modem_jwt.rst
  doc/nrf/libraries/networking/aws_iot.rst
  doc/nrf/libraries/networking/nrf_cloud_rest.rst
  doc/nrf/libraries/others/spm.rst
  doc/nrf/libraries/others/wave_gen.rst
  samples/nrf9160/aws_fota/README.rst
Labels: doc-required

doc: library: download client structure
  doc/nrf/libraries/networking/download_client.rst
Labels: doc-required

doc: improvements: pre-release check
  doc/nrf/libraries/modem/modem_jwt.rst
  doc/nrf/libraries/networking/aws_iot.rst
  doc/nrf/libraries/networking/lwm2m_client_utils.rst
  doc/nrf/libraries/others/dm.rst
  doc/nrf/ug_nrf_cloud.rst
  samples/nrf9160/aws_fota/README.rst
Labels: doc-required

doc: library: lwm2m client utils structure
  doc/nrf/libraries/networking/lwm2m_client_utils.rst
Labels: doc-required

doc: matter: add window covering sample to table
  doc/nrf/samples/samples_matter.rst
Labels: doc-required

doc: nrf5340audio: edit tags in docs
  applications/nrf5340_audio/README.rst
  doc/nrf/app_boards.rst
  doc/nrf/shortcuts.txt
  doc/nrf/ug_multi_image.rst
  doc/nrf/ug_nrf53.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

manifest: doc update in sdk-nrfxlib
  west.yml
Labels: manifest

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
