Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

bluetooth: Prepare the SDC hci driver to call sdc_hci_get()
  subsys/bluetooth/controller/hci_driver.c
  subsys/bluetooth/controller/hci_internal.c
  subsys/bluetooth/controller/hci_internal.h
Labels: none

manifest: openthread: update openthread generated libs on commit 2ce3d3b
  doc/nrf/ug_thread_ot_memory.rst
  samples/openthread/cli/overlay-debug.conf
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: manifest, doc-required

applications: matter_weather_station: store divider settings
  applications/matter_weather_station/src/battery.cpp
Labels: none

manifest: update zephyr
  west.yml
Labels: manifest

applications: matter_weather_station: use gpio-dt-spec for power gpio
  applications/matter_weather_station/src/battery.cpp
Labels: none

applications: matter_weather_station: use gpio-dt-spec for charge gpio
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/app.overlay
  applications/matter_weather_station/src/battery.cpp
Labels: none

applications: matter_weather_station: battery: use adc-dt-spec
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/app.overlay
  applications/matter_weather_station/src/battery.cpp
Labels: none

manifest: update Zephyr revision
  west.yml
Labels: manifest

applications: nrf_desktop: drop board module
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/configuration/common/port_state.h
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/port_state_def.h
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/port_state_def.h
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/port_state_def.h
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/port_state_def.h
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/port_state_def.h
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/port_state_def.h
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/port_state_def.h
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/port_state_def.h
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/port_state_def.h
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/port_state_def.h
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/port_state_def.h
  applications/nrf_desktop/doc/board.rst
  applications/nrf_desktop/src/hw_interface/board.c
Labels: doc-required

gazell: remove unused definition
  subsys/gazell/gzp.c
Labels: none

applications: matter_weather_station: battery: use adc-dt-spec
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/app.overlay
  applications/matter_weather_station/src/battery.cpp
Labels: none

manifest: update zephyr
  west.yml
Labels: manifest

applications: matter_weather_station: use gpio-dt-spec for charge gpio
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/app.overlay
  applications/matter_weather_station/src/battery.cpp
Labels: none

applications: matter_weather_station: use gpio-dt-spec for power gpio
  applications/matter_weather_station/src/battery.cpp
Labels: none

applications: matter_weather_station: store divider settings
  applications/matter_weather_station/src/battery.cpp
Labels: none

application: serial_lte_modem: Add GNSS and A-GPS debug
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: none

mcuboot: nrf53_hooks: Update network core from hook
  modules/mcuboot/hooks/nrf53_hooks.c
Labels: none

manifest: update homekit revision
  west.yml
Labels: manifest

applications: nrf5340_audio: Add back if TRANSPORT_CIS (#38)
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
Labels: none

application: serial_lte_modem: Add GNSS and A-GPS debug
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: none

doc: nrf5340audio: add limitation and known issue
  applications/nrf5340_audio/README.rst
  doc/nrf/known_issues.rst
Labels: doc-required

samples: nrf9160: modem_shell: delete deprecated cts-pull-up
  samples/nrf9160/modem_shell/ppp.overlay
Labels: none

samples: nrf9160: modem_shell: use zephyr,ppp-uart
  samples/nrf9160/modem_shell/overlay-ppp.conf
  samples/nrf9160/modem_shell/ppp.overlay
  samples/nrf9160/modem_shell/src/ppp/ppp_ctrl.c
  samples/nrf9160/modem_shell/src/ppp/ppp_settings.c
Labels: none

manifest: update Zephyr
  west.yml
Labels: manifest

applications: serial_lte_modem: at_host: use DEVICE_DT_GET
  applications/serial_lte_modem/src/slm_at_host.c
Labels: none

doc: tfm: upgrade configuration for 1.6.0
  doc/tfm/conf.py
Labels: doc-required

doc: document transition to default Thread 1.3
  doc/nrf/links.txt
  doc/nrf/ug_thread_configuring.rst
  doc/nrf/ug_thread_supported_features.rst
Labels: doc-required

applications: serial_lte_modem: at_host: use DEVICE_DT_GET
  applications/serial_lte_modem/src/slm_at_host.c
Labels: none

doc: openthread: update SHA of recommended OT Border Router
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_tools.rst
Labels: doc-required

doc: nrf5340audio: add limitation and known issue
  applications/nrf5340_audio/README.rst
  doc/nrf/known_issues.rst
Labels: doc-required

samples: bluetooth: direct_test_mode: use DEVICE_DT_GET
  samples/bluetooth/direct_test_mode/src/fem/nrf21540.c
Labels: none

gazell: remove unused definition
  subsys/gazell/gzp.c
Labels: none

applications: nrf_desktop: ble_qos: remove USB_CDC_ACM_DEVICE_NAME
  applications/nrf_desktop/doc/ble_qos.rst
  applications/nrf_desktop/src/modules/ble_qos.c
Labels: doc-required

applications: nrf_desktop: wheel: use DEVICE_DT_GET
  applications/nrf_desktop/src/hw_interface/wheel.c
Labels: none

applications: nrf_desktop: watchdog: use DEVICE_DT_GET
  applications/nrf_desktop/src/modules/watchdog.c
Labels: none

applications: nrf_desktop: board: use DEVICE_DT_GET
  applications/nrf_desktop/configuration/common/port_state.h
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/port_state_def.h
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/port_state_def.h
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/port_state_def.h
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/port_state_def.h
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/port_state_def.h
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/port_state_def.h
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/port_state_def.h
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/port_state_def.h
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/port_state_def.h
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/port_state_def.h
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/port_state_def.h
  applications/nrf_desktop/src/hw_interface/board.c
Labels: none

lib: adp536x: require device to initialize
  boards/arm/thingy91_nrf9160/adp5360_init.c
  include/adp536x.h
  lib/adp536x/adp536x.c
Labels: none

applications: nrf_desktop: battery_meas: use DEVICE_DT_GET
  applications/nrf_desktop/src/hw_interface/battery_meas.c
Labels: none

samples: nrf5340: remote_shell: use ncs,remote-shell-uart
  samples/nrf5340/remote_shell/Kconfig
  samples/nrf5340/remote_shell/boards/nrf5340dk_nrf5340_cpuapp_uart.overlay
  samples/nrf5340/remote_shell/prj_uart.conf
  samples/nrf5340/remote_shell/sample.yaml
  samples/nrf5340/remote_shell/src/main.c
Labels: none

doc: document transition to default Thread 1.3
  doc/nrf/links.txt
  doc/nrf/ug_thread_configuring.rst
  doc/nrf/ug_thread_supported_features.rst
Labels: doc-required
