Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

samples: nrf9160: lte_ble_gateway: add description of LED behaviour
  samples/nrf9160/lte_ble_gateway/README.rst
Labels: doc-required

doc: update nRF9160 user guide with VSC and command line instructions
  doc/nrf/includes/cmd_build_and_run.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf9160.rst
  doc/nrf/ug_thingy91.rst
Labels: doc-required

tfm: Fix Kconfig Pin Description
  modules/tfm/zephyr/Kconfig
Labels: none

samples: matter: Lowered window covering active interval to 200 ms.
  samples/matter/window_covering/src/chip_project_config.h
Labels: none

applications: nrf5340_audio: Fix typo
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpunet_defconfig
Labels: none

doc: update nRF9160 user guide with VSC and command line instructions
  doc/nrf/includes/cmd_build_and_run.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf9160.rst
  doc/nrf/ug_thingy91.rst
Labels: doc-required

application: serial_lte_modem: Change modem Sleep cmd
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_commands.c
Labels: doc-required

application: serial_lte_modem: Change modem Sleep cmd
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_commands.c
Labels: doc-required

applications: nrf_desktop: Stop and block scanning in power down mode
  applications/nrf_desktop/doc/ble_scan.rst
  applications/nrf_desktop/src/modules/Kconfig.ble
  applications/nrf_desktop/src/modules/ble_scan.c
Labels: doc-required

samples: nrf9160: MMSS: Use lib_modem_antenna
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/Kconfig
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.c
Labels: doc-required

lib: location: Change timeouts from uint16_t to int32_t
  include/modem/location.h
  lib/location/location.c
  lib/location/location_core.c
  lib/location/location_core.h
  lib/location/method_cellular.c
  lib/location/method_wifi.c
  lib/location/wifi/wifi_service.h
Labels: none

net: lib: nrf_cloud: Take REST timeout into use
  include/net/nrf_cloud_rest.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: none

samples: nrf9160: multicell_location: Params structure API change
  samples/nrf9160/multicell_location/src/main.c
Labels: none

lib: multicell_location: Input parameters to structure.
  doc/nrf/releases/release-notes-changelog.rst
  include/net/multicell_location.h
  lib/multicell_location/multicell_location.c
  lib/multicell_location/services/here_integration.c
  lib/multicell_location/services/here_integration.h
  lib/multicell_location/services/location_service.c
  lib/multicell_location/services/location_service.h
  lib/multicell_location/services/nrf_cloud_integration.c
  lib/multicell_location/services/nrf_cloud_integration.h
  lib/multicell_location/services/polte_integration.c
  lib/multicell_location/services/polte_integration.h
Labels: doc-required

net: lib: rest_client: Improving timeout handling
  include/net/rest_client.h
  subsys/net/lib/rest_client/Kconfig
  subsys/net/lib/rest_client/src/rest_client.c
Labels: none

samples: nrf9160: location: Update timeouts to ms
  samples/nrf9160/location/src/main.c
Labels: none

doc: fix the naming in help texts
  subsys/bluetooth/controller/Kconfig
Labels: none

doc: Known issue for Zephyr SDK 0.14.2 with TF-M
  doc/nrf/known_issues.rst
Labels: doc-required

samples: nrf9160: modem_shell: Accept zero timeout for REST
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/src/location/location_shell.c
  samples/nrf9160/modem_shell/src/rest/rest_shell.c
Labels: doc-required

samples: nrf9160: modem_shell: stored commands are run after a startup
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/CMakeLists.txt
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/src/link/link_shell_pdn.c
  samples/nrf9160/modem_shell/src/main.c
  samples/nrf9160/modem_shell/src/startup_cmd/CMakeLists.txt
  samples/nrf9160/modem_shell/src/startup_cmd/startup_cmd_ctrl.c
  samples/nrf9160/modem_shell/src/startup_cmd/startup_cmd_ctrl.h
  samples/nrf9160/modem_shell/src/startup_cmd/startup_cmd_settings.c
  samples/nrf9160/modem_shell/src/startup_cmd/startup_cmd_settings.h
  samples/nrf9160/modem_shell/src/startup_cmd/startup_cmd_shell.c
Labels: doc-required

applications: nrf_desktop: Stop and block scanning in power down mode
  applications/nrf_desktop/doc/ble_scan.rst
  applications/nrf_desktop/src/modules/Kconfig.ble
  applications/nrf_desktop/src/modules/ble_scan.c
Labels: doc-required

doc: Known issue for Zephyr SDK 0.14.2 with TF-M
  doc/nrf/known_issues.rst
Labels: doc-required

net: lib: nrf_cloud: Take REST timeout into use
  include/net/nrf_cloud_rest.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: none

samples: nrf9160: multicell_location: Params structure API change
  samples/nrf9160/multicell_location/src/main.c
Labels: none

samples: nrf9160: modem_shell: Accept zero timeout for REST
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/src/location/location_shell.c
  samples/nrf9160/modem_shell/src/rest/rest_shell.c
Labels: doc-required

lib: multicell_location: Input parameters to structure.
  doc/nrf/releases/release-notes-changelog.rst
  include/net/multicell_location.h
  lib/multicell_location/multicell_location.c
  lib/multicell_location/services/here_integration.c
  lib/multicell_location/services/here_integration.h
  lib/multicell_location/services/location_service.c
  lib/multicell_location/services/location_service.h
  lib/multicell_location/services/nrf_cloud_integration.c
  lib/multicell_location/services/nrf_cloud_integration.h
  lib/multicell_location/services/polte_integration.c
  lib/multicell_location/services/polte_integration.h
Labels: doc-required

lib: location: Change timeouts from uint16_t to int32_t
  include/modem/location.h
  lib/location/location.c
  lib/location/location_core.c
  lib/location/location_core.h
  lib/location/method_cellular.c
  lib/location/method_wifi.c
  lib/location/wifi/wifi_service.h
Labels: none

samples: nrf9160: location: Update timeouts to ms
  samples/nrf9160/location/src/main.c
Labels: none

net: lib: rest_client: Improving timeout handling
  include/net/rest_client.h
  subsys/net/lib/rest_client/Kconfig
  subsys/net/lib/rest_client/src/rest_client.c
Labels: none

samples: nrf9160: modem_shell: stored commands are run after a startup
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/CMakeLists.txt
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/src/link/link_shell_pdn.c
  samples/nrf9160/modem_shell/src/main.c
  samples/nrf9160/modem_shell/src/startup_cmd/CMakeLists.txt
  samples/nrf9160/modem_shell/src/startup_cmd/startup_cmd_ctrl.c
  samples/nrf9160/modem_shell/src/startup_cmd/startup_cmd_ctrl.h
  samples/nrf9160/modem_shell/src/startup_cmd/startup_cmd_settings.c
  samples/nrf9160/modem_shell/src/startup_cmd/startup_cmd_settings.h
  samples/nrf9160/modem_shell/src/startup_cmd/startup_cmd_shell.c
Labels: doc-required

lib: multicell_location: Fix timeout for MQTT requests
  lib/multicell_location/services/nrf_cloud_integration.c
Labels: none

lib: multicell_location: Fix timeout for MQTT requests
  lib/multicell_location/services/nrf_cloud_integration.c
Labels: none

net: lib: nrf_cloud: add full modem fota support
  doc/nrf/libraries/networking/nrf_cloud.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_fota
  subsys/net/lib/nrf_cloud/include/nrf_cloud_codec.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_fota.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_transport.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota_common.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: doc-required

samples: nrf9160: nrf_cloud_rest_fota: add full modem fota
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_rest_fota/README.rst
  samples/nrf9160/nrf_cloud_rest_fota/overlay_full_modem_fota.conf
  samples/nrf9160/nrf_cloud_rest_fota/src/main.c
Labels: doc-required

manifest: zephyr, mcuboot, upmerge 20220622
  scripts/west_commands/ncs_commands.py
  west.yml
Labels: manifest

net: lib: nrf_cloud: add full modem fota support
  doc/nrf/libraries/networking/nrf_cloud.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_fota
  subsys/net/lib/nrf_cloud/include/nrf_cloud_codec.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_fota.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_transport.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota_common.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: doc-required

samples: nrf9160: nrf_cloud_rest_fota: add full modem fota
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_rest_fota/README.rst
  samples/nrf9160/nrf_cloud_rest_fota/overlay_full_modem_fota.conf
  samples/nrf9160/nrf_cloud_rest_fota/src/main.c
Labels: doc-required

west.yml: Update zcbor to v. 0.5.1
  doc/nrf/releases/release-notes-changelog.rst
  scripts/requirements-build.txt
  scripts/requirements-extra.txt
  scripts/requirements-fixed.txt
  subsys/dfu/fmfu_fdev/include/modem_update_decode.h
  subsys/dfu/fmfu_fdev/include/modem_update_types.h
  subsys/dfu/fmfu_fdev/src/modem_update_decode.c
  tests/modules/lib/zcbor/cddl/test.cddl
  tests/modules/lib/zcbor/decode/src/main.c
  tests/modules/lib/zcbor/encode/src/main.c
  west.yml
Labels: manifest, doc-required

applications: nrf_desktop: Update event propagation arrays
  applications/nrf_desktop/doc/event_propagation.rst
  applications/nrf_desktop/doc/event_rel_modules.rst
Labels: doc-required

esb: fix ESB_CRC_OFF configuration
  subsys/esb/esb.c
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
