Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

tfm: Remove OTP NV counters partition in minimal configuration
  modules/trusted-firmware-m/Kconfig
  subsys/partition_manager/pm.yml.tfm
Labels: none

samples: nrf9160: Set SPM as default for LWM2M and GNSS samples
  samples/nrf9160/gnss/prj.conf
  samples/nrf9160/lwm2m_carrier/prj.conf
  samples/nrf9160/lwm2m_client/prj.conf
Labels: none

boards: thingy53: Use SPM instead of TF-M
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_rtt.conf
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/sensor_server/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp_ns.conf
Labels: none

tfm: Add configuration for crypto partition heap size
  modules/Kconfig
  modules/mbedtls/Kconfig
  modules/tfm/zephyr/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
Labels: none

tfm: Remove OTP NV counters partition in minimal configuration
  modules/trusted-firmware-m/Kconfig
  subsys/partition_manager/pm.yml.tfm
Labels: none

samples: Enable SPM explicitly in SPM tests
  samples/nrf9160/secure_services/prj.conf
Labels: none

boards: Enable TF-M by default for thingy91
  boards/arm/thingy91_nrf9160/CMakeLists.txt
  boards/arm/thingy91_nrf9160/Kconfig.defconfig
  boards/arm/thingy91_nrf9160/pm_static_spm.yml
Labels: none

boards: thingy53: Use SPM instead of TF-M
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_rtt.conf
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/sensor_server/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp_ns.conf
Labels: none

fw_info: Extract fw_info struct definition to its own header
  include/fw_info.h
  include/fw_info_bare.h
Labels: none

tfm: Set CRYPTO_HW_ACCELERATOR=True
  modules/tfm/zephyr/CMakeLists.txt
Labels: none

tests: fota_download: Add support for testing with TF-M enabled
  tests/subsys/net/lib/fota_download/CMakeLists.txt
  tests/subsys/net/lib/fota_download/prj.conf
  tests/subsys/net/lib/fota_download/src/main.c
Labels: none

tfm: Revert "tfm: mcuboot: Configure MCUBoot to use 32kb of flash"
  modules/mcuboot/tfm.conf
Labels: none

samples: Disable TF-M when NRF_CLOUD_PGPS is enabled
  applications/asset_tracker_v2/overlay-pgps.conf
  applications/serial_lte_modem/prj.conf
  samples/nrf9160/gnss/overlay-pgps.conf
  samples/nrf9160/location/overlay-pgps.conf
  samples/nrf9160/modem_shell/overlay-pgps.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/prj.conf
Labels: none

tests: Enable SPM explicitly in SPM tests
  tests/subsys/spm/secure_services/prj.conf
  tests/subsys/spm/thread_swap/prj.conf
Labels: none

samples: nrf9160: Set SPM as default for LWM2M and GNSS samples
  samples/nrf9160/gnss/prj.conf
  samples/nrf9160/lwm2m_carrier/prj.conf
  samples/nrf9160/lwm2m_client/prj.conf
Labels: none

manifest: Pull sdk-zephyr for default enabling of TF-M
  west.yml
Labels: manifest

samples: secure_services: Use sleep_time_s in call to k_sleep
  samples/nrf9160/secure_services/src/main.c
Labels: none

bluetooth: fast_pair: Use tinycrypt in fast pair when TF-M is enabled
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  tests/subsys/bluetooth/fast_pair/crypto/testcase.yaml
Labels: none

tfm: Add platform services for firmware info functions
  include/tfm/tfm_ioctl_api.h
  modules/tfm/tfm/boards/CMakeLists.txt
  modules/tfm/tfm/boards/src/tfm_ioctl_ns_api.c
  modules/tfm/tfm/boards/src/tfm_platform_system.c
  subsys/fw_info/CMakeLists.txt
Labels: none

samples: bootloader: Add TF-M to s0 image span
  samples/bootloader/pm.yml
  scripts/partition_manager/partition_manager.rst
Labels: doc-required

boards: Refactor comment on default enabling of TF-M
  boards/arm/nrf5340_audio_dk_nrf5340/Kconfig.defconfig
Labels: none

nrf_modem_lib: Disable TF-M logging when using modem trace
  lib/nrf_modem_lib/Kconfig.modemlib
Labels: none

samples: tfm_hello_world: Remove non-existent configuration
  samples/tfm/tfm_hello_world/child_image/mcuboot.conf
Labels: none

tfm: Fix flash region and layout for TF-M firmware upgrade
  modules/tfm/tfm/boards/CMakeLists.txt
  modules/tfm/tfm/boards/partition/flash_layout.h
  modules/tfm/tfm/boards/partition/region_defs.h
  modules/tfm/zephyr/CMakeLists.txt
  subsys/partition_manager/pm.yml.tfm
Labels: none

tfm: Kconfig: Don't configure UART1 as secure with TF-M log disabled
  modules/trusted-firmware-m/Kconfig
Labels: none

fota_download: Add support for TF-M service to read s0 active status
  subsys/net/lib/fota_download/Kconfig
  subsys/net/lib/fota_download/src/fota_download.c
Labels: none

tfm: Fix UART1 configuration using UART0 in text
  modules/tfm/zephyr/Kconfig
Labels: none

tfm: Enable TF-M in minimal configuration by default
  doc/nrf/ug_tfm.rst
  modules/tfm/zephyr/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
  samples/crypto/psa_tls/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/psa_tls/boards/nrf9160dk_nrf9160_ns.conf
  samples/tfm/tfm_hello_world/prj.conf
  samples/tfm/tfm_secure_peripheral/prj.conf
  subsys/net/openthread/Kconfig
Labels: doc-required

samples: tfm_hello_world: Add firmware info service and bootloader conf
  samples/tfm/tfm_hello_world/sample.yaml
  samples/tfm/tfm_hello_world/src/main.c
Labels: none

manifest: Update Zephyr revision
  west.yml
Labels: manifest

samples: nrf9160: https_client: get TFM Mbed TLS overlay to build
  samples/nrf9160/https_client/overlay-tfm_mbedtls.conf
Labels: none

doc: Improve nRF Cloud device security docs
  doc/nrf/ext_comps.rst
  doc/nrf/glossary.rst
  doc/nrf/index.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf_cloud.rst
Labels: doc-required

application: serial_lte_modem: BUG-FIX null terminator
  applications/serial_lte_modem/src/slm_at_host.c
Labels: none

openthread: samples: Adding overlays for CI and multiprotocol.
  samples/openthread/cli/README.rst
  samples/openthread/cli/overlay-ci.conf
  samples/openthread/cli/overlay-multiprotocol.conf
  samples/openthread/cli/sample.yaml
Labels: doc-required

known_issues: Add NCSDK-13858
  doc/nrf/known_issues.rst
Labels: doc-required

doc: Add VSC instructions to the nRF5340 user guide
  doc/nrf/images/ug_thingy53_vscode_appwindow.png
  doc/nrf/images/ug_thingy53_vscode_genconfig1.png
  doc/nrf/images/ug_thingy53_vscode_genconfig2.png
  doc/nrf/images/ug_thingy53_vscode_welcome.png
  doc/nrf/includes/vsc_build_and_run_nrf53.txt
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_thingy53.rst
Labels: doc-required

tests: add platform_allow to tests without it
  samples/caf_sensor_manager/sample.yaml
  tests/subsys/event_manager_proxy/testcase.yaml
Labels: none

openthread: samples: Adding overlays for CI and multiprotocol.
  samples/openthread/cli/README.rst
  samples/openthread/cli/overlay-ci.conf
  samples/openthread/cli/overlay-multiprotocol.conf
  samples/openthread/cli/sample.yaml
Labels: doc-required

manifest: Update Zephyr revision
  west.yml
Labels: manifest

samples: nrf9160: lwm2m_client: Update doc about hex keys
  samples/nrf9160/lwm2m_client/sample_description.rst
Labels: doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
