Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

applications: nrf5340_audio: Set SDU size based on bitrate (#31)
  applications/nrf5340_audio/src/audio/Kconfig
  applications/nrf5340_audio/src/audio/audio_system.c
  applications/nrf5340_audio/src/audio/sw_codec_select.h
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
Labels: none

changelog: Update changelog with the nfc sample changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

nfc: Add annotation about debug messages
  doc/nrf/shortcuts.txt
  samples/nfc/record_launch_app/README.rst
  samples/nfc/record_text/README.rst
  samples/nfc/system_off/README.rst
  samples/nfc/tag_reader/README.rst
  samples/nfc/tnep_poller/README.rst
  samples/nfc/tnep_tag/README.rst
  samples/nfc/writable_ndef_msg/README.rst
Labels: doc-required

samples: bluetooth: nrf_dm: Added support for nRF53
  samples/bluetooth/nrf_dm/CMakeLists.txt
  samples/bluetooth/nrf_dm/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/bluetooth/nrf_dm/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/nrf_dm/child_image/hci_rpmsg.conf
  samples/bluetooth/nrf_dm/child_image/hci_rpmsg/boards/nrf5340dk_nrf5340_cpunet.overlay
  samples/bluetooth/nrf_dm/sample.yaml
Labels: none

dm: Added support for nRF53
  subsys/dm/CMakeLists.txt
  subsys/dm/Kconfig
  subsys/dm/dm.c
  subsys/dm/rpc/CMakeLists.txt
  subsys/dm/rpc/Kconfig
  subsys/dm/rpc/client/CMakeLists.txt
  subsys/dm/rpc/client/dm_rpc_client.c
  subsys/dm/rpc/common/CMakeLists.txt
  subsys/dm/rpc/common/dm_rpc_common.c
  subsys/dm/rpc/common/dm_rpc_common.h
  subsys/dm/rpc/common/serialize.c
  subsys/dm/rpc/common/serialize.h
  subsys/dm/rpc/host/CMakeLists.txt
  subsys/dm/rpc/host/dm_rpc_host.c
  subsys/dm/rpc/host/dm_rpc_host.h
Labels: none

changelog: Update changelog with the nrf_dm sample changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

applications: nrf5340_audio: Update CIS gateway for fitting with Zephyr (#32)
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  west.yml
Labels: manifest

doc: known_issues: Add new issues in bluetooth samples.
  doc/nrf/known_issues.rst
Labels: doc-required

manifest: update nrfxlib version
  west.yml
Labels: manifest

applications: nrf5340_audio: Fixed the name of CIS gateway preset (#33)
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
Labels: none

samples/zigbee: Remove log_strdup invocations
  samples/zigbee/light_switch/src/nus_cmd.c
Labels: none

net: lib: zzhc: Remove log_strdup invocations
  subsys/net/lib/zzhc/zzhc.c
Labels: none

dfu_target: Remove log_strdup invocations
  subsys/dfu/dfu_target/src/dfu_target_modem_delta.c
Labels: none

lib: location: Remove log_strdup invocations
  lib/location/location_core.c
  lib/location/location_utils.c
  lib/location/method_wifi.c
  lib/location/wifi/wifi_here_rest.c
  lib/location/wifi/wifi_nrf_cloud_rest.c
Labels: none

lib: nrf_modem: Remove log_strdup invocations
  lib/nrf_modem_lib/nrf_modem_lib.c
Labels: none

lib: lte_link_control: Remove log_strdup invocations
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc_helpers.c
Labels: none

net: lib: aws_fota: Remove log_strdup invocations
  subsys/net/lib/aws_fota/src/aws_fota.c
Labels: none

lib: multicell_location: Remove log_strdup invocations
  lib/multicell_location/services/here_integration.c
  lib/multicell_location/services/polte_integration.c
Labels: none

nrf_rpc: bluetooth: Remove log_strdup invocations
  subsys/nrf_rpc/nrf_rpc_ipc.c
Labels: none

mpsl: Remove log_strdup invocations
  subsys/mpsl/init/mpsl_init.c
Labels: none

applications: connectivity_bridge: Remove log_strdup invocations
  applications/connectivity_bridge/src/disk/config.c
  applications/connectivity_bridge/src/modules/ble_handler.c
  applications/connectivity_bridge/src/modules/fs_handler.c
Labels: none

net: lib: azure_fota: Remove log_strdup invocations
  subsys/net/lib/azure_fota/azure_fota.c
Labels: none

lib: ftp_client: Remove log_strdup invocations
  subsys/net/lib/ftp_client/src/ftp_client.c
Labels: none

applications: asset_tracker_v2: Remove log_strdup invocations
  applications/asset_tracker_v2/src/cloud/aws_iot_integration.c
  applications/asset_tracker_v2/src/cloud/azure_iot_hub_integration.c
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
  applications/asset_tracker_v2/src/events/app_module_event.c
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors_bsec.c
  applications/asset_tracker_v2/src/modules/modem_module.c
  applications/asset_tracker_v2/src/modules/modules_common.c
Labels: none

lib: at_monitor: Remove log_strdup invocations
  lib/at_monitor/at_monitor.c
Labels: none

samples: openthread: Remove log_strdup invocations
  samples/openthread/coap_client/src/ble_utils.c
  samples/openthread/coap_client/src/coap_client_utils.c
Labels: none

test: bluetooth: Remove log_strdup invocations
  tests/bluetooth/tester/src/mesh.c
Labels: none

samples: nrf9160: Remove log_strdup invocations
  samples/nrf9160/lte_ble_gateway/src/ble.c
  samples/nrf9160/lwm2m_client/src/main.c
  samples/nrf9160/memfault/src/main.c
  samples/nrf9160/mqtt_simple/src/main.c
  samples/nrf9160/multicell_location/src/main.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/application.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
  samples/nrf9160/nrf_cloud_rest_device_message/src/main.c
  samples/nrf9160/nrf_cloud_rest_fota/src/main.c
Labels: none

caf: Remove log_strdup invocations
  subsys/caf/modules/ble_adv.c
  subsys/caf/modules/ble_state.c
  subsys/caf/modules/net_state_lte.c
  subsys/caf/modules/net_state_ot.c
Labels: none

net/lwm2m_client_utils: Remove log_strdup invocations
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
Labels: none

net: lib: azure_iot_hub: Remove log_strdup invocations
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_dps.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_topic.c
Labels: none

nfc: Remove log_strdup invocations
  subsys/nfc/ndef/le_oob_rec_parser.c
Labels: none

samples/peripheral/802154_phy_test: Remove log_strdup invocations
  samples/peripheral/802154_phy_test/src/comm_proc.c
Labels: none

lib: sms: Remove log_strdup invocations
  lib/sms/sms.c
  lib/sms/sms_deliver.c
  lib/sms/sms_submit.c
Labels: none

modules: memfault: Remove log_strdup invocations
  modules/memfault-firmware-sdk/memfault_integration.c
Labels: none

applications: nrf_desktop: Remove log_strdup invocations
  applications/nrf_desktop/src/events/ble_event.c
  applications/nrf_desktop/src/events/hid_event.c
  applications/nrf_desktop/src/modules/ble_discovery.c
  applications/nrf_desktop/src/modules/ble_scan.c
Labels: none

net/lib/nrf_cloud: Remove log_strdup invocations
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps_utils.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: none

event_manager_proxy: Remove log_strdup invocations
  subsys/event_manager_proxy/event_manager_proxy.c
Labels: none

net: lib: rest_client: Remove log_strdup invocations
  subsys/net/lib/rest_client/src/rest_client.c
Labels: none

event_manager: Remove log_strdup invocations
  subsys/app_event_manager/app_event_manager.c
Labels: none
