Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

mpsl: Production support for 1-wire coex
  subsys/mpsl/cx/Kconfig
Labels: none

ci: Github checks api test
  subsys/zigbee/Kconfig
Labels: none

applications: nrf5340_audio: Get location from PACS (#41)
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  west.yml
Labels: manifest

samples: nrf9160: MMSS: Add LED indication
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/CMakeLists.txt
  samples/nrf9160/nrf_cloud_mqtt_multi_service/Kconfig
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/prj.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/application.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/application.h
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.h
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/led_control.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/led_control.h
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/main.c
Labels: doc-required

applications: nrf5340_audio: change SDMMC_OVER_SPI to SPI_SDHC
  applications/nrf5340_audio/prj.conf
  applications/nrf5340_audio/src/modules/sd_card.c
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_common.dts
Labels: none

applications: nrf5340_audio: Add bonding (#37)
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  applications/nrf5340_audio/src/main.c
Labels: none

samples: nrf9160: modem_shell: use zephyr,ppp-uart
  samples/nrf9160/modem_shell/overlay-ppp.conf
  samples/nrf9160/modem_shell/ppp.overlay
  samples/nrf9160/modem_shell/src/ppp/ppp_ctrl.c
  samples/nrf9160/modem_shell/src/ppp/ppp_settings.c
Labels: none

manifest: update Zephyr
  west.yml
Labels: manifest

samples: nrf9160: modem_shell: delete deprecated cts-pull-up
  samples/nrf9160/modem_shell/ppp.overlay
Labels: none

manifest: Update Zephyr
  west.yml
Labels: manifest

manifest: update nrfxlib revision
  west.yml
Labels: manifest

drivers: net: eth_rtt: allocate device from Devicetree
  doc/nrf/drivers/eth_rtt.rst
  drivers/net/Kconfig
  drivers/net/eth_rtt.c
  dts/bindings/net/segger,eth-rtt.yaml
  samples/crypto/psa_tls/app.overlay
Labels: doc-required

manifest: update hostap
  west.yml
Labels: manifest

drivers: wifi: nrf700x: align wifi_nrf_wpa_supp_dev_init signature
  drivers/wifi/nrf700x/zephyr/inc/zephyr_wpa_supp_if.h
  drivers/wifi/nrf700x/zephyr/src/zephyr_wpa_supp_if.c
Labels: none

manifest: Update memfault to 0.31.5
  west.yml
Labels: manifest

manifest: update nrfxlib revision
  west.yml
Labels: manifest

manifest: Update Zephyr
  west.yml
Labels: manifest

manifest: update homekit revision
  west.yml
Labels: manifest

manifest: openthread: update openthread generated libs on commit 2ce3d3b
  doc/nrf/ug_thread_ot_memory.rst
  samples/openthread/cli/overlay-debug.conf
  subsys/net/openthread/Kconfig.defconfig
Labels: doc-required

manifest: openthread upmerge up to commit 2ce3d3b
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  west.yml
Labels: manifest, doc-required

doc: document transition to default Thread 1.3
  doc/nrf/links.txt
  doc/nrf/ug_thread_configuring.rst
  doc/nrf/ug_thread_supported_features.rst
Labels: doc-required

matter: fix weather station after OpenThread update
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg_release.conf
Labels: none

doc: openthread: update SHA of recommended OT Border Router
  doc/nrf/ug_thread_tools.rst
Labels: doc-required

manifest: Update Zephyr revision
  west.yml
Labels: manifest

doc: bluetooth: Add a note about configuration when using Zephyr LL.
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_ble_controller.rst
Labels: doc-required

samples: bluetooth: Enable BT privacy in peripheral HIDS Mouse.
  samples/bluetooth/peripheral_hids_mouse/Kconfig
  samples/bluetooth/peripheral_hids_mouse/child_image/rpc_host.conf
Labels: none

bluetooth: controller: Use central and peripheral specific enablers
  subsys/bluetooth/controller/hci_driver.c
Labels: none

doc: document transition to default Thread 1.3
  doc/nrf/links.txt
  doc/nrf/ug_thread_configuring.rst
  doc/nrf/ug_thread_supported_features.rst
Labels: doc-required

manifest: openthread upmerge up to commit 2ce3d3b
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  west.yml
Labels: manifest, doc-required

manifest: openthread: update openthread generated libs on commit 2ce3d3b
  doc/nrf/ug_thread_ot_memory.rst
  samples/openthread/cli/overlay-debug.conf
  subsys/net/openthread/Kconfig.defconfig
Labels: doc-required

matter: fix weather station after OpenThread update
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg_release.conf
Labels: none

doc: openthread: update SHA of recommended OT Border Router
  doc/nrf/ug_thread_tools.rst
Labels: doc-required

manifest: Update Zephyr revision
  west.yml
Labels: manifest

manifest: update homekit revision
  west.yml
Labels: manifest

upmerge: Auto upmerge test
  west.yml
Labels: manifest

applications: connectivity_bridge: Remove log_strdup invocations
  applications/connectivity_bridge/src/disk/config.c
  applications/connectivity_bridge/src/modules/ble_handler.c
  applications/connectivity_bridge/src/modules/fs_handler.c
Labels: none

zigbee: Remove log_strdup invocations
  subsys/zigbee/lib/zigbee_app_utils/zigbee_app_utils.c
  subsys/zigbee/lib/zigbee_logger_ep/zigbee_logger_eprxzcl.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_attr_report.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_nbr.c
Labels: none

net: lib: aws_iot: Remove log_strdup invocations
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: none

net: lib: aws_jobs: Remove log_strdup invocations
  subsys/net/lib/aws_jobs/src/aws_jobs.c
Labels: none

lib: lte_link_control: Remove log_strdup invocations
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc_helpers.c
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
