Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required, CI-dfu-test, CI-all-test, CI-tfm-test

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in master, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"CI-dfu-test":
  - "include/bl*"
  - "include/fprotect.h"
  - "include/fw_info.*"
  - "include/dfu/**/*"
  - "include/net/**/*"
  - "modules/mcuboot/**/*"
  - "samples/nrf9160/*fota/**/*"
  - "samples/nrf9160/fmfu_smp_svr/**/*"
  - "samples/nrf9160/http_update/**/*"
  - "samples/bootloader/**/*"
  - "scripts/bootloader/**/*"
  - "subsys/bootloader/**/*"
  - "subsys/fw_info/**/*"
  - "subsys/mgmt/**/*"
  - "subsys/net/lib/*fota*/**/*"
  - "subsys/net/lib/download_client/**/*"
  - "tests/subsys/bootloader/**/*"
  - "tests/subsys/dfu/**/*"
  - "tests/subsys/fw_info/**/*"
  - "tests/subsys/net/**/*"

"CI-all-test":
  - "west.yml"
  - "**/*partition_manager*/**/*"
  - "**/*partition_manager*"

"CI-tfm-test":
  - "modules/tfm/**/*"
  - "samples/tfm/**/*"

doc: zephyr: simplify configuration
  doc/zephyr/conf.py
Labels: doc-required

requirements: update to west 0.10.1
  scripts/requirements-base.txt
Labels: none

doc: static: remove favicon
  doc/static/images/favicon.ico
Labels: doc-required

applications: asset_tracker_v2: Disable/enable ADXL362 trigger on events
  applications/asset_tracker_v2/src/events/app_module_event.c
  applications/asset_tracker_v2/src/events/app_module_event.h
  applications/asset_tracker_v2/src/ext_sensors/Kconfig
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors.c
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors.h
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/sensor_module.c
Labels: none

samples: bluetooth: add peripheral_ancs_client sample
  samples/bluetooth/peripheral_ancs_client/ANCS_central.ncs
  samples/bluetooth/peripheral_ancs_client/CMakeLists.txt
  samples/bluetooth/peripheral_ancs_client/README.rst
  samples/bluetooth/peripheral_ancs_client/prj.conf
  samples/bluetooth/peripheral_ancs_client/sample.yaml
  samples/bluetooth/peripheral_ancs_client/src/main.c
Labels: doc-required

bluetooth: services: add ANCS client
  doc/nrf/links.txt
  include/bluetooth/services/ancs_client.h
  include/bluetooth/services/ancs_client.rst
  subsys/bluetooth/services/CMakeLists.txt
  subsys/bluetooth/services/Kconfig
  subsys/bluetooth/services/Kconfig.ancs_client
  subsys/bluetooth/services/ancs_app_attr_get.c
  subsys/bluetooth/services/ancs_app_attr_get.h
  subsys/bluetooth/services/ancs_attr_parser.c
  subsys/bluetooth/services/ancs_attr_parser.h
  subsys/bluetooth/services/ancs_client.c
  subsys/bluetooth/services/ancs_client_internal.h
Labels: doc-required

caf: Add documentation of Bluetooth LE state module
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/ble_scan.rst
  applications/nrf_desktop/doc/ble_state.rst
  applications/nrf_desktop/doc/dev_descr.rst
  include/caf/ble_state.rst
Labels: doc-required

mpsl: Allow application to specify MPSL assert handler.
  doc/nrf/libraries/lib_mpsl.rst
  include/mpsl/mpsl_assert.h
  include/mpsl/mpsl_assert.rst
  subsys/mpsl/Kconfig
  subsys/mpsl/mpsl_init.c
Labels: doc-required

net: lib: aws_iot: Fix null pointer issue
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: none

manifest: Update sdk-nrfxlib
  west.yml
Labels: manifest, CI-all-test

partition manager: cmake: remove flash target dependency
  cmake/partition_manager.cmake
Labels: CI-all-test

bluetooth: mesh: CTL Temperature binding fix
  subsys/bluetooth/mesh/light_ctl_internal.h
  subsys/bluetooth/mesh/model_utils.h
Labels: none

doc: static: remove favicon
  doc/static/images/favicon.ico
Labels: doc-required

doc: mcuboot: simplify configuration
  doc/mcuboot/conf.py
Labels: doc-required

doc: zephyr: simplify configuration
  doc/zephyr/conf.py
Labels: doc-required

doc: nrfxlib: remove unneeded extensions
  doc/nrfxlib/conf.py
Labels: doc-required

requirements: update to west 0.10.1
  scripts/requirements-base.txt
Labels: none

doc: add common utilities
  CODEOWNERS
  doc/utils/utils.py
Labels: doc-required

doc: nrfxlib: remove unneeded breathe attributes
  doc/nrfxlib/conf.py
Labels: doc-required

codeowners: delete doc/themes
  CODEOWNERS
Labels: none

doc: nrf: use pygments devicetree lexer
  doc/nrf/conf.py
  doc/nrf/drivers/uart_nrf_sw_lpuart.rst
  scripts/requirements-doc.txt
Labels: doc-required

doc: mcuboot: remove unneeded plugins
  doc/mcuboot/conf.py
Labels: doc-required

doc: nrfxlib: simplify configuration
  doc/nrfxlib/conf.py
Labels: doc-required

doc: nrf: remove unneeded breathe attributes
  doc/nrf/conf.py
Labels: doc-required

doc: nrf: simplify configuration
  doc/nrf/conf.py
Labels: doc-required

doc: mcuboot: drop support for old recommonmark
  doc/mcuboot/conf.py
Labels: doc-required

doc: use sphinx-ncs-theme
  doc/kconfig/conf.py
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrfxlib/conf.py
  doc/static/css/common.css
  doc/static/css/kconfig.css
  doc/static/css/mcuboot.css
  doc/static/css/nrf.css
  doc/static/css/nrfxlib.css
  doc/static/css/zephyr.css
  doc/static/js/ncs.js
  doc/themes/kconfig/searchbox.html
  doc/themes/kconfig/theme.conf
  doc/themes/kconfig/versions.html
  doc/themes/mcuboot/searchbox.html
  doc/themes/mcuboot/theme.conf
  doc/themes/mcuboot/versions.html
  doc/themes/nrf/footer.html
  doc/themes/nrf/searchbox.html
  doc/themes/nrf/theme.conf
  doc/themes/nrf/versions.html
  doc/themes/nrfxlib/footer.html
  doc/themes/nrfxlib/searchbox.html
  doc/themes/nrfxlib/theme.conf
  doc/themes/nrfxlib/versions.html
  doc/themes/zephyr/searchbox.html
  doc/themes/zephyr/theme.conf
  doc/themes/zephyr/versions.html
  doc/zephyr/conf.py
  scripts/requirements-doc.txt
Labels: doc-required

doc: kconfig: simplify configuration
  doc/kconfig/conf.py
Labels: doc-required

partition manager: cmake: remove flash target dependency
  cmake/partition_manager.cmake
Labels: CI-all-test

lib: edge_impulse: Add "waiting for data" state
  include/ei_wrapper.h
  lib/edge_impulse/ei_wrapper.cpp
Labels: none

tests: bl_validation: Fix ff_key tests
  tests/subsys/bootloader/bl_validation_ff_key/Kconfig
  tests/subsys/bootloader/bl_validation_ff_key/testcase.yaml
Labels: CI-dfu-test

bootloader: Add the --no-verify-hashes option to provision.py
  scripts/bootloader/provision.py
  subsys/bootloader/Kconfig
  subsys/bootloader/image/CMakeLists.txt
Labels: CI-dfu-test

drivers: hw_cc310: demote menuconfig w/o children
  drivers/hw_cc310/Kconfig
Labels: none

actions: manifest: Run only on modified manifest file
  .github/workflows/manifest.yml
Labels: none

manifest: action: Pin to v1.0.0
  .github/workflows/manifest.yml
Labels: none

manifest: action: Pin to v1.0.0
  .github/workflows/manifest.yml
Labels: none

actions: manifest: Run only on modified manifest file
  .github/workflows/manifest.yml
Labels: none

drivers: hw_cc310: demote menuconfig w/o children
  drivers/hw_cc310/Kconfig
Labels: none

application: asset_tracker_v2: Add function to filter duplicate messages
  applications/asset_tracker_v2/src/cloud/cloud_codec/aws_iot_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_protocol_names.h
  applications/asset_tracker_v2/src/modules/cloud_module.c
Labels: none

doc: css: hide scrollbar on Zephyr grid titles
  doc/static/css/zephyr.css
Labels: doc-required
