Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

manifest: Update nrfxlib revision
  west.yml
Labels: manifest

Fix in gatt_dm.c for memory leak in case of error. Reproduce-able in case of ENOTCONN.
  subsys/bluetooth/gatt_dm.c
Labels: none

doc: update tfm instructions for samples that supports thingy:91
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/serial_lte_modem/doc/slm_description.rst
  doc/nrf/includes/tfm_spm_thingy91.txt
  doc/nrf/includes/thingy91_build_and_run.txt
  samples/nrf9160/aws_iot/README.rst
  samples/nrf9160/memfault/README.rst
  samples/nrf9160/multicell_location/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
  samples/nrf9160/udp/README.rst
Labels: doc-required

scripts/tools-versions-*.txt: Update to current versions
  scripts/tools-versions-darwin.txt
  scripts/tools-versions-linux.txt
  scripts/tools-versions-win10.txt
Labels: none

applications: nrf5340_audio: Add metadata for ble5-ctr-rpmsg build
  applications/nrf5340_audio/bin/manifest.yaml
Labels: none

manifest: Update nrfxlib revision to get doc updates
  west.yml
Labels: manifest

doc: Add reference to MPSL library documentation
  doc/nrf/libraries/mpsl/index.rst
Labels: doc-required

doc: nrf5340audio: power adapter line
  applications/nrf5340_audio/README.rst
Labels: doc-required

manifest: update find my manifest
  west.yml
Labels: manifest

cmake: moving mcuboot image sign warning to the proper block
  modules/mcuboot/CMakeLists.txt
Labels: none

doc: remove references in versions.txt.in
  doc/nrf/gs_recommended_versions.rst
  doc/nrf/versions.txt.in
Labels: doc-required

applications: asset_tracker_v2: Centralize check of nrf_modem_init ret
  applications/asset_tracker_v2/prj.conf
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
  applications/asset_tracker_v2/src/main.c
Labels: none

manifest: update find my manifest
  west.yml
Labels: manifest

applications: asset_tracker_v2: Reset QoS timer upon LTE disconnection
  applications/asset_tracker_v2/src/modules/cloud_module.c
Labels: none

doc: remove references in versions.txt.in
  doc/nrf/gs_recommended_versions.rst
  doc/nrf/versions.txt.in
Labels: doc-required

scripts/tools-versions-*.txt: Update to current versions
  scripts/tools-versions-darwin.txt
  scripts/tools-versions-linux.txt
  scripts/tools-versions-win10.txt
Labels: none

Manifest: Update nrfxlib docs
  west.yml
Labels: manifest

tests: lib: sms: restrict platforms to native_posix
  tests/lib/sms/testcase.yaml
Labels: none

doc: minor fix in pincontrol ug
  doc/nrf/ug_pinctrl.rst
Labels: doc-required

manifest: Update Zephyr revision
  west.yml
Labels: manifest

samples: bluetooth: peripheral_ancs_client: handling empty service
  samples/bluetooth/peripheral_ancs_client/src/main.c
Labels: none

changelog: Update changelog with the ANCS Client sample changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

lib: modem_antenna: add debugging on nrf_modem_at_printf
  lib/modem_antenna/modem_antenna.c
Labels: none

tests: lib: at_sms_cert: Add debug information
  tests/lib/at_sms_cert/src/main.c
Labels: none

tests: lib: sms: restrict platforms to native_posix
  tests/lib/sms/testcase.yaml
Labels: none

applications: asset_tracker_v2: Reset QoS timer upon LTE disconnection
  applications/asset_tracker_v2/src/modules/cloud_module.c
Labels: none

lib: nrf_modem: improve docs for callback macros
  doc/nrf/libraries/modem/nrf_modem_lib.rst
Labels: doc-required

ci: Add Zephyr LWM2M test spec
  .github/test-spec.yml
Labels: none

applications: asset_tracker_v2: Centralize check of nrf_modem_init ret
  applications/asset_tracker_v2/prj.conf
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
  applications/asset_tracker_v2/src/main.c
Labels: none

doc: Replace SPM with TFM in the dependencies for nRF9160 samples
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  doc/nrf/images/nrf9160_ug_overview.svg
  doc/nrf/images/nrf9160_ug_overview.vsdx
  doc/nrf/ug_nrf91_features.rst
  samples/nrf9160/at_client/README.rst
  samples/nrf9160/at_monitor/README.rst
  samples/nrf9160/aws_fota/README.rst
  samples/nrf9160/azure_fota/README.rst
  samples/nrf9160/azure_iot_hub/README.rst
  samples/nrf9160/ciphersuites/README.rst
  samples/nrf9160/coap_client/README.rst
  samples/nrf9160/download/README.rst
  samples/nrf9160/fmfu_smp_svr/README.rst
  samples/nrf9160/gnss/README.rst
  samples/nrf9160/http_update/application_update/README.rst
  samples/nrf9160/http_update/full_modem_update/README.rst
  samples/nrf9160/http_update/modem_delta_update/README.rst
  samples/nrf9160/https_client/README.rst
  samples/nrf9160/location/README.rst
  samples/nrf9160/lte_ble_gateway/README.rst
  samples/nrf9160/lwm2m_client/sample_description.rst
  samples/nrf9160/modem_callbacks/README.rst
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/mqtt_simple/README.rst
  samples/nrf9160/pdn/README.rst
  samples/nrf9160/secure_services/README.rst
Labels: doc-required

manifest: Update Zephyr revision
  west.yml
Labels: manifest

doc: minor fix in pincontrol ug
  doc/nrf/ug_pinctrl.rst
Labels: doc-required

samples: bluetooth: peripheral_ancs_client: handling empty service
  samples/bluetooth/peripheral_ancs_client/src/main.c
Labels: none

changelog: Update changelog with the ANCS Client sample changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

doc: Add note about secure faults missed by memfault if using TF-M
  doc/nrf/libraries/others/memfault_ncs.rst
Labels: doc-required

doc: fix minor doc formatting issues
  doc/nrf/gs_programming.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

doc: Replace SPM with TFM in the dependencies for nRF9160 samples
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  doc/nrf/images/nrf9160_ug_overview.svg
  doc/nrf/images/nrf9160_ug_overview.vsdx
  doc/nrf/ug_nrf91_features.rst
  samples/nrf9160/at_client/README.rst
  samples/nrf9160/at_monitor/README.rst
  samples/nrf9160/aws_fota/README.rst
  samples/nrf9160/azure_fota/README.rst
  samples/nrf9160/azure_iot_hub/README.rst
  samples/nrf9160/ciphersuites/README.rst
  samples/nrf9160/coap_client/README.rst
  samples/nrf9160/download/README.rst
  samples/nrf9160/fmfu_smp_svr/README.rst
  samples/nrf9160/gnss/README.rst
  samples/nrf9160/http_update/application_update/README.rst
  samples/nrf9160/http_update/full_modem_update/README.rst
  samples/nrf9160/http_update/modem_delta_update/README.rst
  samples/nrf9160/https_client/README.rst
  samples/nrf9160/location/README.rst
  samples/nrf9160/lte_ble_gateway/README.rst
  samples/nrf9160/lwm2m_client/sample_description.rst
  samples/nrf9160/modem_callbacks/README.rst
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/mqtt_simple/README.rst
  samples/nrf9160/pdn/README.rst
  samples/nrf9160/secure_services/README.rst
Labels: doc-required

doc: fix minor doc formatting issues
  doc/nrf/gs_programming.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

doc: add migration guide from NCS 1.x.x
  doc/nrf/links.txt
  doc/nrf/migration/migration_guide_1.x_to_2.x.rst
  doc/nrf/release_notes.rst
  doc/nrf/ug_tfm.rst
Labels: doc-required

manifest: update zephyr
  west.yml
Labels: manifest

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
