Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

doc: update versions after 1.9.99-dev1 tag
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

applications: nrf5340_audio: Update version number
  applications/nrf5340_audio/CMakeLists.txt
Labels: none

ci: docbuild: extend version regex
  .github/workflows/docbuild.yml
Labels: none

ci: docbuild: extend version regex
  .github/workflows/docbuild.yml
Labels: none

lib: pdn: return error on pdn_ctx_configure if apn is too large
  lib/pdn/pdn.c
Labels: none

samples: use modem_antenna library for configuring GNSS LNA
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/asset_tracker_v2/doc/gnss_module.rst
  applications/asset_tracker_v2/src/modules/Kconfig.gnss_module
  applications/asset_tracker_v2/src/modules/gnss_module.c
  applications/asset_tracker_v2/tests/gnss_module/CMakeLists.txt
  applications/asset_tracker_v2/tests/gnss_module/src/gnss_module_test.c
  samples/nrf9160/gnss/Kconfig
  samples/nrf9160/gnss/README.rst
  samples/nrf9160/gnss/prj.conf
  samples/nrf9160/gnss/src/main.c
  samples/nrf9160/location/Kconfig
  samples/nrf9160/location/README.rst
  samples/nrf9160/location/prj.conf
  samples/nrf9160/location/src/main.c
  samples/nrf9160/lte_ble_gateway/Kconfig
  samples/nrf9160/lte_ble_gateway/README.rst
  samples/nrf9160/lte_ble_gateway/prj.conf
  samples/nrf9160/lte_ble_gateway/src/main.c
  samples/nrf9160/lwm2m_client/sample_description.rst
  samples/nrf9160/lwm2m_client/src/main.c
  samples/nrf9160/lwm2m_client/src/sensors/Kconfig.gnss
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/gnss/gnss.c
  samples/nrf9160/modem_shell/src/gnss/gnss.h
  samples/nrf9160/modem_shell/src/main.c
Labels: doc-required

lib: modem_antenna: add new library for setting antenna configuration
  CODEOWNERS
  boards/arm/thingy91_nrf9160/board_nonsecure.c
  doc/nrf/libraries/modem/modem_antenna.rst
  doc/nrf/releases/release-notes-changelog.rst
  lib/CMakeLists.txt
  lib/Kconfig
  lib/lte_link_control/lte_lc_modem_hooks.c
  lib/modem_antenna/CMakeLists.txt
  lib/modem_antenna/Kconfig
  lib/modem_antenna/modem_antenna.c
Labels: doc-required

fix: tests: Prevent hanging tests waiting for nonexistent device
  tests/subsys/zigbee/osif/serial/serial_async_api/testcase.yaml
  tests/subsys/zigbee/osif/serial/serial_basic_api/testcase.yaml
Labels: none

lib: modem_antenna: add new library for setting antenna configuration
  CODEOWNERS
  boards/arm/thingy91_nrf9160/board_nonsecure.c
  doc/nrf/libraries/modem/modem_antenna.rst
  doc/nrf/releases/release-notes-changelog.rst
  lib/CMakeLists.txt
  lib/Kconfig
  lib/lte_link_control/lte_lc_modem_hooks.c
  lib/modem_antenna/CMakeLists.txt
  lib/modem_antenna/Kconfig
  lib/modem_antenna/modem_antenna.c
Labels: doc-required

samples: use modem_antenna library for configuring GNSS LNA
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/asset_tracker_v2/doc/gnss_module.rst
  applications/asset_tracker_v2/src/modules/Kconfig.gnss_module
  applications/asset_tracker_v2/src/modules/gnss_module.c
  applications/asset_tracker_v2/tests/gnss_module/CMakeLists.txt
  applications/asset_tracker_v2/tests/gnss_module/src/gnss_module_test.c
  samples/nrf9160/gnss/Kconfig
  samples/nrf9160/gnss/README.rst
  samples/nrf9160/gnss/prj.conf
  samples/nrf9160/gnss/src/main.c
  samples/nrf9160/location/Kconfig
  samples/nrf9160/location/README.rst
  samples/nrf9160/location/prj.conf
  samples/nrf9160/location/src/main.c
  samples/nrf9160/lte_ble_gateway/Kconfig
  samples/nrf9160/lte_ble_gateway/README.rst
  samples/nrf9160/lte_ble_gateway/prj.conf
  samples/nrf9160/lte_ble_gateway/src/main.c
  samples/nrf9160/lwm2m_client/sample_description.rst
  samples/nrf9160/lwm2m_client/src/main.c
  samples/nrf9160/lwm2m_client/src/sensors/Kconfig.gnss
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/gnss/gnss.c
  samples/nrf9160/modem_shell/src/gnss/gnss.h
  samples/nrf9160/modem_shell/src/main.c
Labels: doc-required

bluetooth: rpc: Added functions for internal use
  subsys/bluetooth/rpc/Kconfig
  subsys/bluetooth/rpc/client/CMakeLists.txt
  subsys/bluetooth/rpc/client/bt_rpc_internal_client.c
  subsys/bluetooth/rpc/common/bt_rpc_common.c
  subsys/bluetooth/rpc/common/bt_rpc_common.h
  subsys/bluetooth/rpc/host/CMakeLists.txt
  subsys/bluetooth/rpc/host/bt_rpc_internal_host.c
Labels: none

fix: tests: Prevent hanging tests waiting for nonexistent device
  tests/subsys/zigbee/osif/serial/serial_async_api/testcase.yaml
  tests/subsys/zigbee/osif/serial/serial_basic_api/testcase.yaml
Labels: none

manifest: Update Zephyr revision
  west.yml
Labels: manifest

lib: pdn: return error on pdn_ctx_configure if apn is too large
  lib/pdn/pdn.c
Labels: none

net: lib: download_client: some cleanup of usage of download struct
  include/net/download_client.h
  subsys/net/lib/download_client/src/download_client.c
Labels: none

net: lib: download_client: implement CoAP backoff mechanism
  include/net/download_client.h
  subsys/net/lib/download_client/Kconfig
  subsys/net/lib/download_client/src/coap.c
  subsys/net/lib/download_client/src/download_client.c
Labels: none

net: lib: download_client: set socket timeout dynamically
  subsys/net/lib/download_client/src/coap.c
  subsys/net/lib/download_client/src/download_client.c
  subsys/net/lib/download_client/src/http.c
Labels: none

samples: bluetooth: peripheral_uart: Clean up DT overlays.
  samples/bluetooth/peripheral_uart/app.overlay
  samples/bluetooth/peripheral_uart/boards/nrf51dk_nrf51422.overlay
  samples/bluetooth/peripheral_uart/boards/nrf52833dk_nrf52820.overlay
  samples/bluetooth/peripheral_uart/boards/nrf52833dk_nrf52833.overlay
  samples/bluetooth/peripheral_uart/boards/nrf52840dk_nrf52811.overlay
  samples/bluetooth/peripheral_uart/boards/nrf52840dk_nrf52840.overlay
  samples/bluetooth/peripheral_uart/boards/nrf52dk_nrf52810.overlay
  samples/bluetooth/peripheral_uart/boards/nrf52dk_nrf52832.overlay
  samples/bluetooth/peripheral_uart/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/peripheral_uart/boards/nrf5340dk_nrf5340_cpuapp_ns.overlay
Labels: none

net: lib: azure_iot_hub: add native TLS support
  doc/nrf/libraries/networking/azure_iot_hub.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/azure_iot_hub/Kconfig
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
Labels: doc-required

doc: remove reference to legacy overlay file
  doc/nrf/ug_thread_tools.rst
Labels: doc-required

testing the CI-lwm2m label
  west.yml
Labels: manifest

net: lib: azure_iot_hub: add native TLS support
  doc/nrf/libraries/networking/azure_iot_hub.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/azure_iot_hub/Kconfig
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
Labels: doc-required

ci: matter: verify building with FFS feature enabled
  samples/matter/light_bulb/sample.yaml
Labels: none

manifest: update HomeKit revision
  west.yml
Labels: manifest

applications: asset_tracker_v2: Fix possible buffer overflow
  applications/asset_tracker_v2/src/events/app_module_event.c
Labels: none

Bluetooth: Host: Fix unable cleanup conn
  west.yml
Labels: manifest

doc: remove reference to legacy overlay file
  doc/nrf/ug_thread_tools.rst
Labels: doc-required

samples: mpsl: timeslot: fix timeslot sample
  samples/mpsl/timeslot/prj.conf
  samples/mpsl/timeslot/src/main.c
Labels: none

ci: matter: verify building with FFS feature enabled
  samples/matter/light_bulb/sample.yaml
Labels: none

doc: nrf: add new samples to nrf cloud user guide
  doc/nrf/ug_nrf_cloud.rst
Labels: doc-required

applications: asset_tracker_v2: remove nrf cloud limitations from rst
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
Labels: doc-required

net: lib: nrf_cloud: Add optional P-GPS data partition
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_pgps
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps.c
  subsys/partition_manager/CMakeLists.txt
  subsys/partition_manager/pm.yml.pgps
Labels: none

lib: location: support combining A-GPS and P-GPS
  lib/location/method_gnss.c
  samples/nrf9160/location/overlay-pgps.conf
Labels: none

applications: asset_tracker_v2: integrate with P-GPS partition
  applications/asset_tracker_v2/boards/thingy91_nrf9160_ns.conf
  applications/asset_tracker_v2/prj.conf
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/asset_tracker_v2/src/modules/data_module.c
Labels: none

samples: nrf9160: gnss: integrate with P-GPS partition
  samples/nrf9160/gnss/overlay-pgps.conf
  samples/nrf9160/gnss/src/assistance.c
Labels: none

applications: serial_lte_modem: integrate with P-GPS partition
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: none

samples: nrf9160: modem_shell: integrate with P-GPS partition
  samples/nrf9160/modem_shell/overlay-pgps.conf
  samples/nrf9160/modem_shell/src/gnss/gnss.c
Labels: none

doc: nrf_cloud_pgps: Add P-GPS partition documentation
  doc/nrf/glossary.rst
  doc/nrf/known_issues.rst
  doc/nrf/libraries/networking/nrf_cloud_pgps.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

manifest: update nrfxlib
  west.yml
Labels: manifest

applications: nrf5340_audio: Add Kconfig choice for TX power
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/bluetooth/Kconfig
  applications/nrf5340_audio/src/bluetooth/ble_acl_common.c
  applications/nrf5340_audio/src/bluetooth/ble_acl_headset.c
  applications/nrf5340_audio/src/bluetooth/ble_acl_headset.h
  applications/nrf5340_audio/src/bluetooth/ble_hci_vsc.h
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
