Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

lib: boost_cpu: introduction of library for clock frequency boosting
  include/boost_cpu.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/boost_cpu/CMakeLists.txt
  lib/boost_cpu/Kconfig
  lib/boost_cpu/boost_cpu.c
Labels: none

doc: matter: add info about FOTA in SoCs UGs
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf52.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

scripts: fast_pair: Add Fast Pair provisioning script
  scripts/nrf_provision/fast_pair/fp_provision_cli.py
  scripts/nrf_provision/fast_pair/requirements.txt
Labels: none

doc: nrf: add a section with fota sample to nRF52 Series user guide
  doc/nrf/ug_nrf52.rst
Labels: doc-required

doc: Added VSC to bootloader sample doc
  samples/bootloader/README.rst
Labels: doc-required

samples: nrf9160: modem_shell: cloud: web ui: send capabilities
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/CMakeLists.txt
  samples/nrf9160/modem_shell/src/cloud/cloud_shell.c
Labels: doc-required

samples: nrf9160: modem_shell: location: GNSS location to cloud
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/src/location/CMakeLists.txt
  samples/nrf9160/modem_shell/src/location/location_cmd_utils.c
  samples/nrf9160/modem_shell/src/location/location_cmd_utils.h
  samples/nrf9160/modem_shell/src/location/location_shell.c
Labels: doc-required

samples: nrf9160: gnss: fix printing of floats when FPU is disabled
  samples/nrf9160/gnss/src/main.c
Labels: none

samples: nrf9160: gnss: update reference position support
  samples/nrf9160/gnss/Kconfig
  samples/nrf9160/gnss/src/main.c
Labels: none

tests: added tests for download client
  tests/subsys/net/lib/download_client/CMakeLists.txt
  tests/subsys/net/lib/download_client/prj.conf
  tests/subsys/net/lib/download_client/src/main.c
  tests/subsys/net/lib/download_client/src/mock/dl_coap.c
  tests/subsys/net/lib/download_client/src/mock/dl_coap.h
  tests/subsys/net/lib/download_client/src/mock/dl_http.c
  tests/subsys/net/lib/download_client/src/mock/dl_http.h
  tests/subsys/net/lib/download_client/src/mock/socket.c
  tests/subsys/net/lib/download_client/src/mock/socket.h
  tests/subsys/net/lib/download_client/testcase.yaml
Labels: none

net: lib: nrf_cloud: rest: function to update device status
  include/net/nrf_cloud_rest.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: none

samples: openthread: increase ble advertising interval
  doc/nrf/releases/release-notes-changelog.rst
  samples/openthread/cli/src/ble.c
Labels: doc-required

samples: matter: Changed settings partition size from 32k to 16k.
  samples/matter/light_bulb/configuration/nrf52840dk_nrf52840/pm_static_dfu.yml
  samples/matter/light_bulb/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/light_switch/configuration/nrf52840dk_nrf52840/pm_static_dfu.yml
  samples/matter/light_switch/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/lock/configuration/nrf52840dk_nrf52840/pm_static_dfu.yml
  samples/matter/lock/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/template/configuration/nrf52840dk_nrf52840/pm_static_dfu.yml
  samples/matter/template/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
Labels: none

manifest: update Zephyr and Homekit revision
  west.yml
Labels: manifest

manifest: update Zephyr revision
  west.yml
Labels: manifest

tests: zigbee: serial_via_logger: mock include needs <zephyr/...>
  tests/subsys/zigbee/osif/serial/serial_via_logger/mock/zephyr/logging/log.h
Labels: none

samples: openthread: increase ble advertising interval
  doc/nrf/releases/release-notes-changelog.rst
  samples/openthread/cli/src/ble.c
Labels: doc-required

doc: zigbee: update ncp host and zboss versions
  doc/nrf/links.txt
  doc/nrf/shortcuts.txt
Labels: doc-required

application: serial_lte_modem: GNSS service update
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: none

net: lib: nrf_cloud: rest: function to update device status
  include/net/nrf_cloud_rest.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: none

doc: pulling doxygen version automatically from config file
  .github/workflows/docbuild.yml
  scripts/tools-versions-linux.txt
Labels: none

application: serial_lte_modem: Socket service receive URC
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  applications/serial_lte_modem/src/slm_at_socket.c
Labels: doc-required

scripts: add quarantine_windows.yaml file
  scripts/quarantine_windows.yaml
Labels: none

known_issues: Add issue usage-fault when interrupt uses FPU
  doc/nrf/known_issues.rst
Labels: doc-required

tests: Configurable multicore default settings
  tests/CMakeLists.txt
  tests/Kconfig
Labels: none

bluetooth: rpc: Update term used for BLE RPC calls
  subsys/bluetooth/rpc/client/bt_rpc_gap_client.c
  subsys/bluetooth/rpc/common/bt_rpc_common.h
  subsys/bluetooth/rpc/host/bt_rpc_gap_host.c
Labels: none

doc: remove vs code screenshots
  doc/nrf/images/ug_thingy53_vscode_appwindow.png
  doc/nrf/images/ug_thingy53_vscode_genconfig1.png
  doc/nrf/images/ug_thingy53_vscode_genconfig2.png
  doc/nrf/images/ug_thingy53_vscode_welcome.png
  doc/nrf/images/zigbee_qsg_vsc_create_application_section.png
  doc/nrf/images/zigbee_qsg_vsc_flash.png
  doc/nrf/images/zigbee_qsg_vsc_generate_config_section.png
  doc/nrf/images/zigbee_qsg_vsc_generating_config_prompt_full.png
  doc/nrf/images/zigbee_qsg_vsc_welcome_section.png
  doc/nrf/ug_thingy53.rst
  doc/nrf/ug_zigbee_qsg.rst
Labels: doc-required

samples: bluetooth: dtm: Use Radio bindings for antennas
  samples/bluetooth/direct_test_mode/README.rst
  samples/bluetooth/direct_test_mode/boards/nrf5340dk_nrf5340_cpunet.overlay
  samples/bluetooth/direct_test_mode/src/dtm.c
  samples/bluetooth/direct_test_mode/src/dtm_hw.c
  samples/bluetooth/direct_test_mode/src/dtm_hw.h
  samples/bluetooth/direct_test_mode/src/dtm_hw_config.h
Labels: doc-required

changelog: Update changelog with the DTM changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

tests: zigbee: serial_via_logger: mock include needs <zephyr/...>
  tests/subsys/zigbee/osif/serial/serial_via_logger/mock/zephyr/logging/log.h
Labels: none

samples: caf_sensor_manager: sensor manager sample add single core conf
  samples/caf_sensor_manager/boards/nrf5340dk_nrf5340_cpuapp_nrf5340_singlecore.conf
  samples/caf_sensor_manager/prj.conf
  samples/caf_sensor_manager/remote/prj.conf
  samples/caf_sensor_manager/sample.yaml
Labels: none

manifest: update Zephyr and Homekit revision
  west.yml
Labels: manifest

partition_manager: Configuration for littlefs storage in external flash
  subsys/partition_manager/Kconfig
  subsys/partition_manager/pm.yml.file_system
Labels: none

workflows: WIP. Add action to auto-update manifest file
  .github/workflows/manifest_updater.yml
Labels: none

tests: nrf5340_audio: max14690: fix i2c header mock location
  tests/nrf5340_audio/max14690/mock/zephyr/drivers/i2c.h
Labels: none

tests: nrf5340_audio: max14690: fix i2c header mock location
  tests/nrf5340_audio/max14690/mock/zephyr/drivers/i2c.h
Labels: none

ci: mergify update
  .github/mergify.yml
Labels: none

zigbee: Fix license SPDX tag
  subsys/zigbee/osif/zb_nrf_nvram_none.c
Labels: none

zigbee: Remove HA logic implementation from Light Bulb sample
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_bulb/src/main.c
Labels: doc-required

zigbee: Fix license SPDX tag
  subsys/zigbee/osif/zb_nrf_nvram_none.c
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
