Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

lib: at_monitor: trim notification in logs
  lib/at_monitor/at_monitor.c
Labels: none

test_spec: rs: run tests on changes to nrf_rpc
  .github/test-spec.yml
Labels: none

samples: peripheral_uart: Fix initialization error on Thingy:53
  samples/bluetooth/peripheral_uart/src/main.c
Labels: none

samples: nrf9160: gnss: remove unused option from documentation
  samples/nrf9160/gnss/README.rst
Labels: doc-required

samples: nrf9160: location: remove unused option from documentation
  samples/nrf9160/location/README.rst
Labels: doc-required

applications: asset_tracker_v2: Fix LwM2M GNSS float conversion
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

doc: fix Thingy:53 link to Edge Impulse
  doc/nrf/links.txt
  doc/nrf/ug_thingy53_gs.rst
Labels: doc-required

applications: asset_tracker_v2: Handle modem functional mode requests
  applications/asset_tracker_v2/src/cloud/Kconfig.lwm2m_integration
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec.c
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
  applications/asset_tracker_v2/src/events/cloud_module_event.h
  applications/asset_tracker_v2/src/modules/modem_module.c
Labels: none

nrf_rpc: Add default heap size for IPC Service transport
  subsys/nrf_rpc/Kconfig
Labels: none

ATv2 cloud codec ringbuffer: use macro
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec_ringbuffer.c
Labels: none

applications: nrf5340_audio: Update build script
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/tools/buildprog/buildprog.py
  applications/nrf5340_audio/tools/buildprog/nrf5340_audio_dk_devices.py
  applications/nrf5340_audio/tools/buildprog/program.py
Labels: doc-required

doc: Typo fix
  doc/nrf/ug_bootloader_adding.rst
Labels: doc-required

doc: Typo fix
  doc/nrf/ug_bootloader_adding.rst
Labels: doc-required

tests: fast_pair: Introduce storage unit tests
  doc/nrf/releases/release-notes-changelog.rst
  tests/subsys/bluetooth/fast_pair/storage/CMakeLists.txt
  tests/subsys/bluetooth/fast_pair/storage/Kconfig
  tests/subsys/bluetooth/fast_pair/storage/include/storage_mock.h
  tests/subsys/bluetooth/fast_pair/storage/prj.conf
  tests/subsys/bluetooth/fast_pair/storage/src/main.c
  tests/subsys/bluetooth/fast_pair/storage/src/settings_mock.c
  tests/subsys/bluetooth/fast_pair/storage/testcase.yaml
Labels: doc-required

bluetooth: fast_pair: Add API to clear data loaded to RAM
  subsys/bluetooth/services/fast_pair/fp_storage.c
  subsys/bluetooth/services/fast_pair/include/fp_storage.h
Labels: none

doc: multi-image: add build file table
  doc/nrf/app_build_system.rst
  doc/nrf/gs_programming.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_multi_image.rst
  doc/nrf/ug_thingy53.rst
Labels: doc-required

doc: matter: add mention of ZAP tool to tools
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_matter_creating_accessory.rst
  doc/nrf/ug_matter_tools.rst
Labels: doc-required

lib: at_monitor: use only one linker section
  include/modem/at_monitor.h
  lib/at_monitor/at_monitor.c
  lib/at_monitor/at_monitor.ld
Labels: none

lib: at_monitor: let monitors be static
  include/modem/at_monitor.h
Labels: none

lib: at_monitor: let `at_monitor_pause` and `_resume` be functions
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/libraries/modem/at_monitor.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/at_monitor.h
  lib/at_shell/at_shell.c
  lib/modem_info/modem_info.c
  lib/pdn/pdn.c
  lib/sms/sms.c
  samples/nrf9160/at_monitor/src/main.c
  samples/nrf9160/modem_shell/src/at/at_cmd_mode.c
  samples/nrf9160/modem_shell/src/at/at_shell.c
  subsys/net/lib/zzhc/zzhc.c
Labels: doc-required

samples: peripheral_uart: Fix initialization error on Thingy:53
  samples/bluetooth/peripheral_uart/src/main.c
Labels: none

doc: matter: add mention of ZAP tool to tools
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_matter_creating_accessory.rst
  doc/nrf/ug_matter_tools.rst
Labels: doc-required

manifest: update sdk-nrfxlib and sdk-zephyr revisions
  west.yml
Labels: manifest

doc: Add flash patch library documentation
  doc/nrf/libraries/others/flash_patch.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

doc: software_maturity: Update rst to point to new entries in the yaml
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/software_maturity.rst
Labels: doc-required

doc: multi-image: add build file table
  doc/nrf/app_build_system.rst
  doc/nrf/gs_programming.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_multi_image.rst
  doc/nrf/ug_thingy53.rst
Labels: doc-required

applications: asset_tracker_v2: Fix issues suggested by static analysis
  applications/asset_tracker_v2/src/cloud/aws_iot_integration.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/modem_module.c
  applications/asset_tracker_v2/src/modules/sensor_module.c
Labels: none

doc: Add flash patch library documentation
  doc/nrf/libraries/others/flash_patch.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

bootloader: Add nrf52833dk_nrf52833 to some sample.yml and testcase.yml
  samples/bootloader/sample.yaml
  tests/subsys/bootloader/bl_crypto/testcase.yaml
  tests/subsys/bootloader/bl_validation/testcase.yaml
Labels: none

manifest: update sdk-nrfxlib and sdk-zephyr revisions
  west.yml
Labels: manifest

samples: lwm2m_client: single max CoAP msg size
  samples/nrf9160/lwm2m_client/overlay-assist-agps.conf
  samples/nrf9160/lwm2m_client/overlay-assist-cell.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-core-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-object-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1.conf
  samples/nrf9160/lwm2m_client/prj.conf
Labels: none

samples: lwm2m_client: more SenML CBOR records
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1.conf
Labels: none

samples: lwm2m...: LwM2M v1.1 doesn't require TLV
  samples/nrf9160/lwm2m_client/overlay-avsystem-bootstrap.conf
  samples/nrf9160/lwm2m_client/overlay-leshan-bootstrap.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-core-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-object-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1.conf
Labels: none

changelog: Updated with the lwm2m sample changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: lwm2m...: LwM2M v1.1 doesn't require TLV
  samples/nrf9160/lwm2m_client/overlay-avsystem-bootstrap.conf
  samples/nrf9160/lwm2m_client/overlay-leshan-bootstrap.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-core-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-object-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1.conf
Labels: none

changelog: Updated with the lwm2m sample changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

samples: lwm2m_client: single max CoAP msg size
  samples/nrf9160/lwm2m_client/overlay-assist-agps.conf
  samples/nrf9160/lwm2m_client/overlay-assist-cell.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-core-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-object-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1.conf
  samples/nrf9160/lwm2m_client/prj.conf
Labels: none

samples: lwm2m_client: more SenML CBOR records
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1.conf
Labels: none

net: lib: nrf_cloud: add fota validation function
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota_common.c
Labels: doc-required

application: asset_tracker_v2: validate nrf cloud modem fota job
  applications/asset_tracker_v2/src/main.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]
