Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

samples: nrf9160: MQTT Multi Service Sample: Fix PGPS
  samples/nrf9160/nrf_cloud_mqtt_multi_service/Kconfig
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/prj.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/application.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.h
Labels: doc-required

softdevice_controller: Support Connectionless AoA Transmitter
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_internal.c
Labels: none

net: lib: nrf_cloud: update nrf cloud host name
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/Kconfig
Labels: doc-required

samples: azure_fota
  samples/nrf9160/azure_fota/prj.conf
Labels: none

samples: nrf9160: modem_shell: increase shell RX buffer size
  samples/nrf9160/modem_shell/prj.conf
Labels: none

applications: nrf5340_audio: Change start tone freq and amplitude
  applications/nrf5340_audio/src/main.c
Labels: none

bluetooth: controller: Add peripheral initiated feature exch support
  subsys/bluetooth/controller/hci_internal.c
Labels: none

applications: machine_learning: Increase power down timeout
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_rtt.conf
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

doc: known_issues: Update NCSDK-14117
  doc/nrf/known_issues.rst
Labels: doc-required

net: lib: Forward PUBACKS and PINGRESP to the application
  applications/asset_tracker_v2/src/cloud/aws_iot_integration.c
  applications/asset_tracker_v2/src/cloud/azure_iot_hub_integration.c
  applications/asset_tracker_v2/src/cloud/cloud_wrapper.h
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
  include/net/aws_iot.h
  include/net/azure_iot_hub.h
  include/net/nrf_cloud.h
  subsys/net/lib/aws_iot/src/aws_iot.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
  subsys/net/lib/nrf_cloud/include/nrf_cloud_transport.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fsm.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: none

net: lib: fota_download: add native TLS support
  doc/nrf/libraries/networking/fota_download.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/fota_download/Kconfig
  subsys/net/lib/fota_download/src/fota_download.c
Labels: doc-required

net: lib: download_client: add native TLS support
  doc/nrf/releases/release-notes-changelog.rst
  include/net/download_client.h
  subsys/net/lib/download_client/src/download_client.c
Labels: doc-required

manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest

applications: machine_learning: Increase power down timeout
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_rtt.conf
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

softdevice_controller: Support Connectionless AoA Transmitter
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_internal.c
Labels: none

bluetooth: controller: Update SDC public API with inclusive naming
  subsys/bluetooth/controller/hci_driver.c
Labels: none

bluetoth: controller: Enable periodic adv adi support
  subsys/bluetooth/controller/hci_internal.c
Labels: none

applications: asset_tracker_v2: Implement QoS library
  applications/asset_tracker_v2/overlay-debug.conf
  applications/asset_tracker_v2/src/cloud/aws_iot_integration.c
  applications/asset_tracker_v2/src/cloud/azure_iot_hub_integration.c
  applications/asset_tracker_v2/src/cloud/cloud_wrapper.h
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
  applications/asset_tracker_v2/src/events/cloud_module_event.c
  applications/asset_tracker_v2/src/events/cloud_module_event.h
  applications/asset_tracker_v2/src/modules/Kconfig.cloud_module
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/asset_tracker_v2/src/modules/data_module.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

lib: Add Quality of Service (QoS) library
  CODEOWNERS
  doc/nrf/libraries/others/images/qos_sequence.svg
  doc/nrf/libraries/others/images/qos_sequence.vsdx
  doc/nrf/libraries/others/qos.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/qos.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/qos/CMakeLists.txt
  lib/qos/Kconfig
  lib/qos/qos.c
Labels: doc-required

tests: lib: Add test for QoS library
  CODEOWNERS
  lib/qos/qos.c
  tests/lib/qos/CMakeLists.txt
  tests/lib/qos/prj.conf
  tests/lib/qos/src/qos_test.c
  tests/lib/qos/src/vars_internal.h
  tests/lib/qos/testcase.yaml
Labels: none

lib: nrf_modem: Add experimental thread based trace processing
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_ns.dts
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/nrf_modem_lib_trace.h
  lib/nrf_modem_lib/CMakeLists.txt
  lib/nrf_modem_lib/Kconfig.modemlib
  lib/nrf_modem_lib/nrf_modem_lib_trace.c
  lib/nrf_modem_lib/nrf_modem_lib_trace_sync.c
  lib/nrf_modem_lib/nrf_modem_os.c
  tests/lib/modem_trace/modem_trace_rtt/CMakeLists.txt
  tests/lib/modem_trace/modem_trace_rtt/prj.conf
  tests/lib/modem_trace/modem_trace_rtt/src/modem_trace_test.c
  tests/lib/modem_trace/modem_trace_uart/CMakeLists.txt
  tests/lib/modem_trace/modem_trace_uart/boards/qemu_cortex_m3.overlay
  tests/lib/modem_trace/modem_trace_uart/prj.conf
  tests/lib/modem_trace/modem_trace_uart/src/modem_trace_test.c
Labels: doc-required

doc: known_issues: Update NCSDK-14117
  doc/nrf/known_issues.rst
Labels: doc-required

samples: azure_fota
  samples/nrf9160/azure_fota/prj.conf
Labels: none

samples: nrf9160: modem_shell: increase shell RX buffer size
  samples/nrf9160/modem_shell/prj.conf
Labels: none

manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest

samples: Update test labels for lwm2m client sample
  .github/test-spec.yml
Labels: none

doc: Update release notes with changes in zboss libraries.
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

zigbee: Prevent multiple calls to osif buttons init
  subsys/zigbee/osif/zb_nrf_led_button.c
Labels: none

zigbee: Port unit tests to nRF53 platform
  tests/subsys/zigbee/osif/crypto/CMakeLists.txt
  tests/subsys/zigbee/osif/crypto/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/zigbee/osif/crypto/testcase.yaml
  tests/subsys/zigbee/osif/nvram/boards/nrf52833dk_nrf52833.overlay
  tests/subsys/zigbee/osif/nvram/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/zigbee/osif/nvram/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/zigbee/osif/nvram/testcase.yaml
  tests/subsys/zigbee/osif/serial/serial_async_api/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/subsys/zigbee/osif/serial/serial_async_api/testcase.yaml
  tests/subsys/zigbee/osif/serial/serial_basic_api/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/subsys/zigbee/osif/serial/serial_basic_api/testcase.yaml
  tests/subsys/zigbee/osif/serial/serial_via_logger/testcase.yaml
  tests/subsys/zigbee/osif/timer_counter/testcase.yaml
  tests/subsys/zigbee/osif/timer_ktimer/testcase.yaml
  tests/subsys/zigbee/zboss_api/alarm_api/boards/nrf52833dk_nrf52833.overlay
  tests/subsys/zigbee/zboss_api/alarm_api/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/zigbee/zboss_api/alarm_api/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/zigbee/zboss_api/alarm_api/testcase.yaml
  tests/subsys/zigbee/zboss_api/callback_api/boards/nrf52833dk_nrf52833.overlay
  tests/subsys/zigbee/zboss_api/callback_api/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/zigbee/zboss_api/callback_api/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/zigbee/zboss_api/callback_api/testcase.yaml
Labels: none

samples: mpsl: timeslot: fix timeslot sample
  samples/mpsl/timeslot/prj.conf
  samples/mpsl/timeslot/src/main.c
Labels: none

doc: Add the issue on mpsl timeslot sample
  doc/nrf/known_issues.rst
Labels: doc-required

manifest: Bump nrxlib revision
  west.yml
Labels: manifest

bluetoth: controller: Enable periodic adv adi support
  subsys/bluetooth/controller/hci_internal.c
Labels: none

bluetooth: controller: Add peripheral initiated feature exch support
  subsys/bluetooth/controller/hci_internal.c
Labels: none

manifest: update HomeKit revision
  west.yml
Labels: manifest

net: lib: nrf_cloud: A-GPS filtered ephemeris improvement
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps.c
Labels: doc-required

application: serial_lte_modem: Restore TS27.007 command V1 format
  applications/serial_lte_modem/src/slm_at_host.c
Labels: none

fix: samples: matter: Fixed fails during reboot
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/app.overlay
  samples/matter/light_bulb/configuration/nrf5340dk_nrf5340_cpuapp/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/light_switch/configuration/nrf5340dk_nrf5340_cpuapp/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/lock/configuration/nrf5340dk_nrf5340_cpuapp/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/template/configuration/nrf5340dk_nrf5340_cpuapp/nrf5340dk_nrf5340_cpuapp.overlay
Labels: none

net: lib: nrf_cloud: handle null neighbor cell data
  include/net/nrf_cloud.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
Labels: none

samples: nrf9160: add nrf_cloud_rest_cell_pos sample
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf_cloud.rst
  samples/nrf9160/nrf_cloud_rest_cell_pos/CMakeLists.txt
  samples/nrf9160/nrf_cloud_rest_cell_pos/Kconfig
  samples/nrf9160/nrf_cloud_rest_cell_pos/README.rst
  samples/nrf9160/nrf_cloud_rest_cell_pos/include/buttons_def.h
  samples/nrf9160/nrf_cloud_rest_cell_pos/prj.conf
  samples/nrf9160/nrf_cloud_rest_cell_pos/sample.yaml
  samples/nrf9160/nrf_cloud_rest_cell_pos/src/main.c
Labels: doc-required
