Repository nrfconnect/sdk-nrf, changes with the labels that .github/labeler.yml gives for each.
All labels: manifest, doc-required

.github/labeler.yml:

# https://github.com/actions/labeler/blob/main/README.md

# When extending this, remember that in the PR, the labeler will run against
# the labeler.yml in main, more info:
# https://github.com/actions/labeler/issues/12
# This means your changes won't be tested. To test your branch, make a second
# branch with dummy changes, and open a PR on your own fork, against the
# first branch.

"manifest":
  - "west.yml"

"doc-required":
  - "doc/**/*"
  - "**/*.rst"

"changelog-entry-required":
  - all: ["!doc/nrf/releases/release-notes-changelog.rst"]

applications: machine_learning: use sensor_sim DT node label
  applications/machine_learning/src/modules/sensor_sim_ctrl.c
Labels: none

bluetooth: rpc: Mark BLE over the RPC as an experimental
  subsys/bluetooth/rpc/Kconfig
Labels: none

changelog: Update changelog with BLE RPC changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

applications: asset_tracker_v2: Add support for modem domain events
  applications/asset_tracker_v2/src/modules/modem_module.c
Labels: none

samples: Bluetooth: df: Add build_only to DF sample.yaml
  samples/bluetooth/direction_finding_central/sample.yaml
  samples/bluetooth/direction_finding_connectionless_rx/sample.yaml
  samples/bluetooth/direction_finding_connectionless_tx/sample.yaml
  samples/bluetooth/direction_finding_peripheral/sample.yaml
Labels: none

manifest: update homekit revision
  west.yml
Labels: manifest

zigbee: Add Groups shell commands
  doc/nrf/libraries/zigbee/shell.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/CMakeLists.txt
  subsys/zigbee/cli/zigbee_cli_cmd_zcl.c
  subsys/zigbee/cli/zigbee_cli_cmd_zcl.h
  subsys/zigbee/cli/zigbee_cli_cmd_zcl_groups.c
  subsys/zigbee/cli/zigbee_cli_ctx_mgr.h
  subsys/zigbee/cli/zigbee_cli_utils.c
  subsys/zigbee/cli/zigbee_cli_zcl_types.h
Labels: doc-required

applications: asset_tracker_v2: Add support for QEMU x86
  applications/asset_tracker_v2/CMakeLists.txt
  applications/asset_tracker_v2/overlay-aws.conf
  applications/asset_tracker_v2/overlay-azure.conf
  applications/asset_tracker_v2/prj_qemu_x86.conf
  applications/asset_tracker_v2/sample.yaml
  applications/asset_tracker_v2/src/cloud-certs/ca-cert.pem
  applications/asset_tracker_v2/src/cloud-certs/client-cert.pem
  applications/asset_tracker_v2/src/cloud-certs/private-key.pem
  applications/asset_tracker_v2/src/cloud/Kconfig.azure_fota_patch
  applications/asset_tracker_v2/src/cloud/azure_iot_hub_integration.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/Kconfig
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
  applications/asset_tracker_v2/src/events/debug_module_event.c
  applications/asset_tracker_v2/src/events/debug_module_event.h
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/Kconfig.cloud_module
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/asset_tracker_v2/src/modules/debug_module.c
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/aws_fota/Kconfig
  subsys/net/lib/aws_iot/src/aws_iot.c
  subsys/net/lib/azure_fota/Kconfig
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_client_id
Labels: doc-required

doc: update LwM2M bin lib structure and content
  doc/nrf/libraries/bin/lwm2m_carrier/API_documentation.rst
  doc/nrf/libraries/bin/lwm2m_carrier/app_integration.rst
  doc/nrf/libraries/bin/lwm2m_carrier/index.rst
Labels: doc-required

samples: nrf9160: mqtt_simple: Fix QEMU x86 builds with TLS enabled
  samples/nrf9160/mqtt_simple/src/main.c
Labels: none

zigbee: Allow to bind and unbind groups
  doc/nrf/libraries/zigbee/shell.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/cli/zigbee_cli_cmd_zdo.c
Labels: doc-required

openthread: samples: extend sys workqueue stack size
  samples/openthread/coap_client/overlay-mtd.conf
Labels: none

net: lib: Add dedicated Kconfigs for run-time certificate provisioning
  samples/nrf9160/aws_iot/CMakeLists.txt
  samples/nrf9160/aws_iot/certs/ca-cert.pem
  samples/nrf9160/aws_iot/certs/client-cert.pem
  samples/nrf9160/aws_iot/certs/private-key.pem
  samples/nrf9160/aws_iot/src/certificates.h
  samples/nrf9160/azure_iot_hub/CMakeLists.txt
  samples/nrf9160/azure_iot_hub/certs/.gitignore
  samples/nrf9160/azure_iot_hub/certs/ca-cert.pem
  samples/nrf9160/azure_iot_hub/certs/certificates.h
  samples/nrf9160/azure_iot_hub/certs/client-cert.pem
  samples/nrf9160/azure_iot_hub/certs/private-key.pem
  subsys/net/lib/aws_iot/Kconfig
  subsys/net/lib/aws_iot/include/aws-certs.h
  subsys/net/lib/aws_iot/src/aws_iot.c
  subsys/net/lib/azure_iot_hub/Kconfig
  subsys/net/lib/azure_iot_hub/include/azure-certs.h
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
  subsys/net/lib/nrf_cloud/CMakeLists.txt
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_mqtt
  subsys/net/lib/nrf_cloud/include/nrf_cloud-certs.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_sanity.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: none

applications: asset_tracker_v2: Support run-time setting of client ID
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
Labels: none

doc: Remove highlights section from changelog
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

doc: dk_buttons_and_leds: add Config section
  doc/nrf/libraries/others/dk_buttons_and_leds.rst
Labels: doc-required

bluetooth: controller: Increase size of ECDH thread stack
  subsys/bluetooth/controller/Kconfig
Labels: none

applications: Zigbee weather station: improvements
  .github/test-spec.yml
  applications/zigbee_weather_station/Kconfig
  applications/zigbee_weather_station/README.rst
  applications/zigbee_weather_station/configuration/thingy53_nrf5340_cpuapp/app.overlay
  applications/zigbee_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/zigbee_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  applications/zigbee_weather_station/sample.yaml
  applications/zigbee_weather_station/src/main.c
  applications/zigbee_weather_station/src/sensor.c
  applications/zigbee_weather_station/src/sensor.h
  applications/zigbee_weather_station/src/weather_station.c
  applications/zigbee_weather_station/src/weather_station.h
Labels: doc-required

doc: zigbee: change of weather station options doc
  applications/zigbee_weather_station/README.rst
Labels: doc-required

lib: location: support external transport method for P-GPS data
  doc/nrf/libraries/modem/location.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/location.h
  lib/location/Kconfig
  lib/location/location.c
  lib/location/location_core.c
  lib/location/location_core.h
  lib/location/method_gnss.c
  samples/nrf9160/location/src/main.c
  samples/nrf9160/modem_shell/src/location/location_shell.c
Labels: doc-required

samples: Change duplicated names of the test cases
  samples/bluetooth/central_and_peripheral_hr/sample.yaml
  samples/bluetooth/nrf_dm/sample.yaml
  samples/crypto/aes_ctr/sample.yaml
  samples/crypto/persistent_key_usage/sample.yaml
  tests/subsys/zigbee/osif/crypto/testcase.yaml
  tests/subsys/zigbee/osif/serial/serial_via_logger/testcase.yaml
Labels: none

doc: update homekit known issues
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
Labels: doc-required

net: lib: lwm2m_client_utils: Remove obsolete file
  subsys/net/lib/lwm2m_client_utils/CMakeLists.txt
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_location.c
Labels: none

bluetooth: controller: Update reservation of used resources
  subsys/bluetooth/controller/bt_ctlr_used_resources.h
  subsys/bluetooth/controller/hci_driver.c
  west.yml
Labels: manifest

doc: template: update lib template
  doc/nrf/templates/library_template_README.rst
Labels: doc-required

samples: nrf9160: lwm2m_client: Replace GPS with GNSS interface
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/Kconfig
  samples/nrf9160/lwm2m_client/README.rst
  samples/nrf9160/lwm2m_client/prj.conf
  samples/nrf9160/lwm2m_client/src/events/CMakeLists.txt
  samples/nrf9160/lwm2m_client/src/events/gnss_pvt_event.c
  samples/nrf9160/lwm2m_client/src/events/gps_pvt_event.c
  samples/nrf9160/lwm2m_client/src/events/include/gnss_pvt_event.h
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_location.c
  samples/nrf9160/lwm2m_client/src/main.c
  samples/nrf9160/lwm2m_client/src/sensors/CMakeLists.txt
  samples/nrf9160/lwm2m_client/src/sensors/Kconfig.gnss
  samples/nrf9160/lwm2m_client/src/sensors/Kconfig.gps
  samples/nrf9160/lwm2m_client/src/sensors/gnss_module.c
  samples/nrf9160/lwm2m_client/src/sensors/gps_module.c
  samples/nrf9160/lwm2m_client/src/sensors/include/gnss_module.h
Labels: doc-required

drivers: entropy: Rename cc310 to cc3xx
  drivers/entropy/CMakeLists.txt
  drivers/entropy/entropy_cc3xx.c
Labels: none

samples: lwm2m_client: Portfolio Object support
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/src/lwm2m/CMakeLists.txt
  samples/nrf9160/lwm2m_client/src/lwm2m/include/lwm2m_client_app.h
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_portfolio_object.c
  samples/nrf9160/lwm2m_client/src/main.c
Labels: doc-required

doc: Add Known Issue for Asset Tracker v2
  doc/nrf/known_issues.rst
Labels: doc-required

samples: nrf9160: lwm2m_client: Increase LwM2M stack size
  samples/nrf9160/lwm2m_client/prj.conf
Labels: none

drivers: entropy: Use correct return value in cc3xx entropy driver
  drivers/entropy/entropy_cc3xx.c
Labels: none

doc: add direct link to VSC build instructions
  doc/nrf/gs_programming.rst
Labels: doc-required

application: serial_lte_modem: HTTPS client enhancement
  applications/serial_lte_modem/overlay-native_tls.conf
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
Labels: none

drivers: entropy: Fix indentation and style in cc3xx
  drivers/entropy/entropy_cc3xx.c
Labels: none

applications: asset_tracker_v2: Prefix IMEI with "nrf-"
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
  applications/asset_tracker_v2/src/modules/Kconfig.cloud_module
Labels: none

zigbee: Wait for app_update in DFU scripts
  modules/mcuboot/CMakeLists.txt
Labels: none

applications: matter_weather_station: fix stack overflow
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
Labels: none

lib: multicell_location: Fix errant MODEM_JWT requirement
  doc/nrf/releases/release-notes-changelog.rst
  lib/multicell_location/Kconfig
  lib/multicell_location/services/nrf_cloud_integration.c
Labels: doc-required

manifest: Update zephyr revision
  west.yml
Labels: manifest

modules: cJSON: enable float printf support
  doc/nrf/releases/release-notes-changelog.rst
  ext/iperf3/Kconfig
  modules/cjson/Kconfig
  samples/matter/light_switch/configuration/nrf21540dk_nrf52840/prj.conf
  samples/matter/lock/configuration/nrf21540dk_nrf52840/prj.conf
  samples/matter/template/configuration/nrf21540dk_nrf52840/prj.conf
  samples/nrf9160/aws_fota/prj.conf
  samples/nrf9160/azure_iot_hub/prj.conf
  tests/subsys/net/lib/aws_fota/aws_fota_json/prj.conf
Labels: doc-required
