Repository nrfconnect/sdk-nrf, pull requests merged in 2019-11, with the labels that each got.

#1379 manifest: update fw-nrfconnect-zephyr
  west.yml
Labels: DNM

#1351 bootloader: bl_crypto_client: Fixup for firmware info ABI renaming
  subsys/bootloader/Kconfig
  subsys/bootloader/bl_crypto_client/bl_crypto_client.c
  subsys/net/lib/fota_download/src/fota_download.c
  tests/subsys/net/lib/fota_download/src/main.c
  west.yml
Labels: backport v1.1-branch

#1383 samples: nrf9160: aws_fota: Add human readable IP print out
  samples/nrf9160/aws_fota/src/main.c
Labels: backport v1.1-branch, enhancement

#1357 fw_info: rename to avoid duplicate kconfig name
  subsys/fw_info/Kconfig
  subsys/fw_info/fw_info.c
Labels: backport v1.1-branch

#1358 bootloader: force multi image mcuboot when b0 enabled
  subsys/bootloader/image/CMakeLists.txt
  subsys/bootloader/image/multi_image_mcuboot.conf
Labels: backport v1.1-branch

#1404 manifest: Adding nrf_cc310_mbedcrypto v0.9.1
  west.yml
Labels: backport v1.1-branch

#1375 entropy: cc310 driver depends on !BT_LLL_VENDOR_NORDIC
  drivers/entropy/Kconfig
Labels: backport v1.1-branch

#1421 samples: nrf9160: aws_fota: Fix device shadow topic out of memory
  samples/nrf9160/aws_fota/src/main.c
Labels: backport v1.1-branch, bug

#1420 samples: nrf9160: gps: Add COEX0 configuration
  samples/nrf9160/gps/src/main.c
Labels: backport v1.1-branch

#1395 samples: nrf9160: AWS FOTA mitigate log_strdup alloc failed errors
  samples/nrf9160/aws_fota/prj.conf
Labels: backport v1.1-branch, bug

#1282 doc: Add bootloader sample documentation
  doc/nrf/ug_bootloader.rst
  samples/bootloader/README.rst
Labels: backport v1.1-branch

#1400 Fix HIDs example crashes
  samples/bluetooth/central_hids/prj.conf
Labels: backport v1.1-branch

#1345 doc: Adding documentation for AT Client sample
  doc/nrf/links.txt
  samples/nrf9160/at_client/README.rst
Labels: backport v1.1-branch

#1435 bluetooth: controller: Auto-setup master/slave role count
  applications/nrf_desktop/configuration/nrf52840_pca10059/app_ZDebug.conf
  applications/nrf_desktop/configuration/nrf52840_pca10059/app_ZDebugMCUBoot.conf
  applications/nrf_desktop/configuration/nrf52840_pca10059/app_ZDebugWithShell.conf
  applications/nrf_desktop/configuration/nrf52840_pca10059/app_ZRelease.conf
  applications/nrf_desktop/configuration/nrf52840_pca10059/app_ZReleaseMCUBoot.conf
  applications/nrf_desktop/configuration/nrf52840_pca20041/app_ZDebug.conf
  applications/nrf_desktop/configuration/nrf52840_pca20041/app_ZDebugMCUBoot.conf
  applications/nrf_desktop/configuration/nrf52840_pca20041/app_ZDebugWithShell.conf
  applications/nrf_desktop/configuration/nrf52840_pca20041/app_ZRelease.conf
  applications/nrf_desktop/configuration/nrf52840_pca20041/app_ZReleaseMCUBoot.conf
  applications/nrf_desktop/configuration/nrf52_pca20037/app_ZDebug.conf
  applications/nrf_desktop/configuration/nrf52_pca20037/app_ZDebugMCUBoot.conf
  applications/nrf_desktop/configuration/nrf52_pca20037/app_ZDebugWithShell.conf
  applications/nrf_desktop/configuration/nrf52_pca20037/app_ZRelease.conf
  applications/nrf_desktop/configuration/nrf52_pca20037/app_ZReleaseMCUBoot.conf
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_driver.c
Labels: backport v1.1-branch

#1349 nrf_cc310: Added description for cc310 drivers
  doc/CMakeLists.txt
  doc/nrf/drivers.rst
  doc/nrf/drivers/entropy_cc310.rst
  doc/nrf/drivers/hw_cc310.rst
Labels: backport v1.1-branch

#1320 doc: finalize documentation style guide
  doc/nrf/doc_styleguide.rst
  doc/nrf/links.txt
Labels: backport v1.1-branch

#1361 NCSDK-3416: fix gs assistant installation information
  doc/nrf/getting_started.rst
  doc/nrf/gs_assistant.rst
  doc/nrf/gs_installing.rst
  doc/nrf/images/gs-assistant_UI.gif
  doc/nrf/images/gs-assistant_installation.PNG
  doc/nrf/images/gs-assistant_log.PNG
  doc/nrf/images/gs-assistant_variables.PNG
  doc/nrf/links.txt
  doc/nrf/shortcuts.txt
Labels: backport v1.1-branch

#1409 manifest: update zephyr to include zephyr_library_app_memory
  west.yml
Labels: backport v1.1-branch

#1380 doc: move ses installation instructions
  doc/nrf/gs_ins_linux.rst
  doc/nrf/gs_ins_mac.rst
  doc/nrf/gs_ins_windows.rst
  doc/nrf/gs_programming.rst
  doc/nrf/images/ses_license.PNG
  doc/nrf/images/ses_notset.png
Labels: backport v1.1-branch

#1450 dfu: depend on IMG_ERASE_PROGRESSIVELY
  applications/asset_tracker/prj.conf
  applications/asset_tracker/prj_nrf9160_pca20035ns.conf
  samples/nrf9160/aws_fota/prj.conf
  samples/nrf9160/http_application_update/prj.conf
  subsys/dfu/Kconfig
  tests/subsys/dfu/dfu_target/mcuboot/prj.conf
Labels: backport v1.1-branch, bug

#1455 drivers: lte_lc: Add missing stdbool include
  include/lte_lc.h
Labels: backport v1.1-branch, bug

#1461 Updated the header file location in fprotect.rst
  include/drivers/fprotect.rst
Labels: backport v1.1-branch

#1448 lib: lwm2m_carrier: update to version 0.8.0
  CODEOWNERS
  doc/nrf/libraries.rst
  lib/CMakeLists.txt
  lib/Kconfig
  lib/bin/CMakeLists.txt
  lib/bin/Kconfig
  lib/bin/lwm2m_carrier/CHANGELOG.rst
  lib/bin/lwm2m_carrier/CMakeLists.txt
  lib/bin/lwm2m_carrier/Kconfig
  lib/bin/lwm2m_carrier/include/lwm2m_carrier.h
  lib/bin/lwm2m_carrier/include/lwm2m_os.h
  lib/bin/lwm2m_carrier/lib/cortex-m33/hard-float/liblwm2m_carrier.a
  lib/bin/lwm2m_carrier/lwm2m_carrier.rst
  lib/bin/lwm2m_carrier/os/lwm2m_carrier.c
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  lib/lwm2m_carrier/include/lwm2m_carrier.h
  lib/lwm2m_carrier/include/lwm2m_os.h
  lib/lwm2m_carrier/lib/cortex-m33/hard-float/liblwm2m_carrier.a
  lib/lwm2m_carrier/lwm2m_carrier.rst
  lib/lwm2m_carrier/os/lwm2m_os.c
  samples/nrf9160/lwm2m_carrier/src/main.c
Labels: DNM, backport v1.1-branch

#1412 doc: samples: Change from firmware nRF Cloud to AWS S3 Bucket
  doc/nrf/includes/aws_s3_bucket.txt
  include/net/aws_fota.rst
  samples/nrf9160/aws_fota/README.rst
  samples/nrf9160/http_application_update/README.rst
Labels: backport v1.1-branch, documentation

#1474 applications: asset_tracker: Increase default MQTT keep-alive
  applications/asset_tracker/Kconfig
  applications/asset_tracker/src/main.c
Labels: backport v1.1-branch, bug

#1484 samples: bluetooth: central_uart: Fix crash in system workqueue
  samples/bluetooth/central_uart/prj.conf
Labels: backport v1.1-branch, bug

#1489 drivers: gps_sim: Increase default stack size
  drivers/gps_sim/Kconfig
Labels: backport v1.1-branch

#1502 applications: asset_tracker: env_sensors: Change BSEC config
  applications/asset_tracker/src/env_sensors/bsec.c
Labels: backport v1.1-branch, bug

#1433 drivers: nrf9160_gps: Check if GPS operation is blocked
  drivers/nrf9160_gps/nrf9160_gps.c
Labels: backport v1.1-branch

#1487 applications: asset_tracker: send GPS data regardless of Switch 2
  applications/asset_tracker/src/main.c
Labels: backport v1.1-branch

#1504 subsys: dfu_target: Fix re-initialization of modem socket
  subsys/dfu/src/dfu_target.c
Labels: backport v1.1-branch, bug

#1505 drivers: lte_lc: Ignore non-CEREG notifications when connnecting
  drivers/lte_link_control/lte_lc.c
Labels: backport v1.1-branch

#1490 doc: lwm2m lib doc review
  doc/nrf/libraries.rst
  lib/bin/lwm2m_carrier/doc/CHANGELOG.rst
  lib/bin/lwm2m_carrier/lwm2m_carrier.rst
Labels: backport v1.1-branch

#1343 applications: asset_tracker: update README
  applications/asset_tracker/README.rst
Labels: backport v1.1-branch

#1475 doc: add outdated note to nRF9160 user guide
  doc/nrf/samples.rst
  doc/nrf/ug_nrf9160.rst
Labels: backport v1.1-branch

#1533 manifest: update manifest for nRF5340 BLE split stack architecture
  west.yml
Labels: DNM

#1579 doc: ug: Fix west repo diagram figure
  doc/nrf/images/ncs-west-repos.png
Labels: doc-required
