Repository nrfconnect/sdk-nrf, pull requests merged in 2019-10, with the labels that each got.

#1266 subsys: spm: Bugfix for wrong define for secure services
  subsys/spm/spm.c
Labels: bug

#1101 spm: add NRF_DPPIC
  subsys/spm/Kconfig
  subsys/spm/spm.c
Labels: enhancement

#1364 lib: modem_info: Fix param count check
  lib/modem_info/modem_info.c
Labels: backport v1.1-branch, bug

#1354 lib: bsdlib: imply socket offloading instead of selecting it
  lib/bsdlib/Kconfig
Labels: backport v1.1-branch

#1374 applications: asset_tracker: Enable flash support
  applications/asset_tracker/prj.conf
Labels: backport v1.1-branch, bug
