Repository nrfconnect/sdk-nrf, pull requests merged in 2020-09, with the labels that each got.

#2702 samples: ncp: Added Spinel logging backend as default.
  samples/openthread/ncp/README.rst
  samples/openthread/ncp/overlay-logging.conf
  samples/openthread/ncp/prj.conf
Labels: doc-required

#2805 doc: lib: lwm2m_carrier: documentation update
  lib/bin/lwm2m_carrier/lwm2m_carrier.rst
  samples/nrf9160/lwm2m_carrier/README.rst
Labels: doc-required

#2802 manifest: nrfxlib: NCS 1.3.1, Update to HCI conformant controller
  west.yml
Labels: manifest

#2837 applications: nrf_desktop: Update event propagation arrays
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/cpu_meas.rst
  applications/nrf_desktop/doc/event_propagation.rst
  applications/nrf_desktop/doc/event_rel_modules.rst
  applications/nrf_desktop/doc/profiler_sync.rst
  applications/nrf_desktop/doc/qos.rst
  applications/nrf_desktop/doc/smp.rst
Labels: doc-required

#2834 applications: nrf_desktop: QoS module documentation
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/ble_qos.rst
  applications/nrf_desktop/doc/qos.rst
Labels: doc-required

#2845 doc: thread: add diag module info to cli sample
  samples/openthread/cli/README.rst
Labels: doc-required

#2886 openthread: manifest: Adjust config option name
  subsys/net/openthread/Kconfig
  west.yml
Labels: manifest

#2812 Bluetooth: Controller Updated HCI VS API naming
  applications/nrf_desktop/src/modules/ble_conn_params.c
  applications/nrf_desktop/src/modules/ble_qos.c
  applications/nrf_desktop/src/modules/ble_state.c
  samples/bluetooth/llpm/src/main.c
  subsys/bluetooth/controller/hci_driver.c
  west.yml
Labels: manifest

#2810 lib: bin: lwm2m_carrier: update to version 0.9.1
  lib/bin/lwm2m_carrier/doc/CHANGELOG.rst
  lib/bin/lwm2m_carrier/lib/cortex-m33/hard-float/liblwm2m_carrier.a
  lib/bin/lwm2m_carrier/lwm2m_carrier.rst
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
Labels: doc-required

#2776 samples: nrf9160: mqtt_simple: Add extended TLS support
  doc/nrf/links.txt
  samples/nrf9160/mqtt_simple/CMakeLists.txt
  samples/nrf9160/mqtt_simple/Kconfig
  samples/nrf9160/mqtt_simple/README.rst
  samples/nrf9160/mqtt_simple/overlay-qemu-x86-tls.conf
  samples/nrf9160/mqtt_simple/overlay-tls.conf
  samples/nrf9160/mqtt_simple/prj.conf
  samples/nrf9160/mqtt_simple/prj_qemu_x86.conf
  samples/nrf9160/mqtt_simple/src/certificates.h
  samples/nrf9160/mqtt_simple/src/main.c
Labels: doc-required

#2766 samples: openthread: Add multiprotocol extension of CoAP Client
  samples/openthread/coap_client/CMakeLists.txt
  samples/openthread/coap_client/README.rst
  samples/openthread/coap_client/overlay-multiprotocol_ble.conf
  samples/openthread/coap_client/src/ble_utils.c
  samples/openthread/coap_client/src/ble_utils.h
  samples/openthread/coap_client/src/coap_client.c
Labels: doc-required, manifest

#2857 manifest: SoftDevice Controller feature update
  west.yml
Labels: manifest

#2795 docs: services: scanning module review
  include/bluetooth/scan.rst
Labels: doc-required

#2757 manifest: Update to nrflixb PR 240
  west.yml
Labels: manifest

#2806 doc: docreview of ETH over RTT
  doc/nrf/drivers/eth_rtt.rst
  doc/nrf/links.txt
  drivers/net/rtt_README.rst
Labels: doc-required

#2911 manifest: nrfxlib: SoftDevice Controller exposes APIs for commands
  west.yml
Labels: manifest

#2872 doc: fix link to Updating the nRF9160 DK cellular modem
  doc/nrf/links.txt
Labels: doc-required

#2838 docs: updated JIRA NCSDK-6229_Bandlock_update
  doc/nrf/ug_nrf9160.rst
Labels: doc-required

#2893 samples: zigbee: Extend light switch example with support for NUS.
  doc/nrf/images/nrftoolbox_dynamic_zigbee_uart_1.png
  doc/nrf/images/nrftoolbox_dynamic_zigbee_uart_2.png
  doc/nrf/images/nrftoolbox_dynamic_zigbee_uart_3.png
  samples/zigbee/light_switch/CMakeLists.txt
  samples/zigbee/light_switch/Kconfig
  samples/zigbee/light_switch/README.rst
  samples/zigbee/light_switch/include/nus_cmd.h
  samples/zigbee/light_switch/include/zb_mem_config_custom.h
  samples/zigbee/light_switch/overlay-multiprotocol_ble.conf
  samples/zigbee/light_switch/src/main.c
  samples/zigbee/light_switch/src/nus_cmd.c
  subsys/zigbee/osif/zb_nrf_crypto.c
Labels: doc-required, manifest

#2917 west.yml: Update manifest file with v1.3.1 tags
  west.yml
Labels: manifest

#2923 doc : Update documentation after NCS 1.3.1
  README.rst
  doc/nrf/index.rst
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-1.3.1.rst
  doc/versions.json
Labels: doc-required

#2913 manifest: Update Zephyr revision to include timer fix
  west.yml
Labels: manifest

#2924 manifest: zephyr: update to fix OpenThread raw link issue
  west.yml
Labels: bug, manifest

#2894 doc: Added documentation about logging possibilities in NCS.
  doc/nrf/gs_testing.rst
  doc/nrf/links.txt
  doc/nrf/ug_logging.rst
  doc/nrf/ug_thread_configuring.rst
  doc/nrf/ug_zigbee_configuring.rst
  doc/nrf/user_guides.rst
Labels: doc-required

#2915 doc: add AT host documentation
  doc/nrf/libraries/lib_at_host.rst
  lib/at_host/Kconfig
Labels: doc-required

#2932 doc: thread: add border router tool docs
  doc/nrf/links.txt
  doc/nrf/ug_thread_tools.rst
Labels: doc-required

#2952 doc: Fix AT Host library documentation
  doc/nrf/lib/at_host/lib_at_host.rst
  doc/nrf/libraries/lib_at_host.rst
  doc/nrf/libraries/lib_modem.rst
Labels: doc-required

#2929 applications: nrf_desktop: Update BLE documentation
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/bas.rst
  applications/nrf_desktop/doc/ble_adv.rst
  applications/nrf_desktop/doc/ble_bond.rst
  applications/nrf_desktop/doc/ble_conn_params.rst
  applications/nrf_desktop/doc/ble_discovery.rst
  applications/nrf_desktop/doc/ble_latency.rst
  applications/nrf_desktop/doc/ble_qos.rst
  applications/nrf_desktop/doc/ble_scan.rst
  applications/nrf_desktop/doc/ble_state.rst
  applications/nrf_desktop/doc/dev_descr.rst
  applications/nrf_desktop/doc/hid_forward.rst
  applications/nrf_desktop/doc/qos.rst
Labels: doc-required

#2882 applications: nrf_desktop: Config channel doc update
  applications/nrf_desktop/doc/config_channel.rst
  applications/nrf_desktop/doc/dev_descr.rst
  applications/nrf_desktop/doc/hid_forward.rst
  applications/nrf_desktop/doc/hids.rst
  applications/nrf_desktop/doc/info.rst
  scripts/hid_configurator/README.rst
Labels: doc-required

#2938 manifest: Update Zephyr revision to include timer fix
  west.yml
Labels: manifest

#2617 samples: add Coded PHY peripheral and central
  samples/bluetooth/central_hr_coded/CMakeLists.txt
  samples/bluetooth/central_hr_coded/README.rst
  samples/bluetooth/central_hr_coded/prj.conf
  samples/bluetooth/central_hr_coded/sample.yaml
  samples/bluetooth/central_hr_coded/src/main.c
  samples/bluetooth/peripheral_hr_coded/CMakeLists.txt
  samples/bluetooth/peripheral_hr_coded/README.rst
  samples/bluetooth/peripheral_hr_coded/prj.conf
  samples/bluetooth/peripheral_hr_coded/sample.yaml
  samples/bluetooth/peripheral_hr_coded/src/main.c
Labels: doc-required

#2951 applications: nrf_desktop: Update led_stream doc
  applications/nrf_desktop/doc/led_stream.rst
Labels: doc-required

#2953 applications: nrf_desktop: Config channel motion
  applications/nrf_desktop/doc/motion.rst
Labels: doc-required

#2959 applications: nrf_desktop: Update config channel doc
  applications/nrf_desktop/doc/config_channel.rst
  scripts/hid_configurator/README.rst
Labels: doc-required

#2655 openthread: samples: cli: Enable the sample to substitute OT libs
  doc/nrf/ug_thread_configuring.rst
  samples/openthread/cli/README.rst
  west.yml
Labels: DNM, doc-required, manifest

#2942 samples: openthread: add Thread 1.2 extension for CLI sample
  doc/nrf/ug_thread_configuring.rst
  doc/nrf/ug_thread_overview.rst
  samples/openthread/cli/README.rst
  samples/openthread/cli/overlay-thread_1_2.conf
Labels: doc-required

#2813 doc: changelogg update for mcuboot upmerges.
  doc/mcuboot/conf.py
  doc/nrf/releases/release-notes-latest.rst
  doc/versions.json
Labels: doc-required, upmerge

#2828 zephyr related changelog update
  doc/nrf/releases/release-notes-latest.rst
  doc/versions.json
Labels: doc-required, upmerge

#2480 doc: tools: created minimum required and recommended tools
  CODEOWNERS
  doc/CMakeLists.txt
  doc/nrf/conf.py
  doc/nrf/getting_started.rst
  doc/nrf/gs_recommended_versions.rst
  doc/nrf/versions.txt.in
  scripts/tools-versions-darwin.txt
  scripts/tools-versions-linux.txt
  scripts/tools-versions-minimum.txt
  scripts/tools-versions-win10.txt
Labels: doc-required

#2971 applications: nrf_desktop: Update usb_state documentation
  applications/nrf_desktop/doc/usb_state.rst
Labels: doc-required

#2954 applications: nrf_desktop: Add LLPM connection event length note
  applications/nrf_desktop/README.rst
Labels: doc-required

#2988 lib: at_cmd: Added if(state) conditional in at_cmd_write()
  lib/at_cmd/at_cmd.c
Labels: bug

#2979 samples: openthread: reduce RAM usage
  doc/nrf/ug_thread_configuring.rst
  samples/openthread/common/overlay-ot-defaults.conf
Labels: doc-required

#2946 manifest: nrfxlib: Updated version of ZBOSS stack
  west.yml
Labels: manifest

#2941 doc: lib: lwm2m_carrier: documentation update
  lib/bin/lwm2m_carrier/doc/CHANGELOG.rst
  lib/bin/lwm2m_carrier/lwm2m_carrier.rst
Labels: doc-required

#2950 manifest: nrfxlib: Update MPSL and Softdevice Controller.
  west.yml
Labels: manifest

#2978 samples: openthread: Fixed bugs in coap_client sample
  samples/openthread/coap_client/src/coap_client.c
  samples/openthread/coap_client/src/coap_client_utils.c
Labels: bug

#2991 Bluetooth: Mesh: Light Ctrl sample doc fixes
  samples/bluetooth/mesh/light_ctrl/README.rst
  samples/bluetooth/mesh/light_ctrl/sample.yaml
Labels: doc-required

#2816 Bluetooth: Mesh: Light CTL models
  include/bluetooth/mesh/light_ctl.h
  include/bluetooth/mesh/light_ctl.rst
  include/bluetooth/mesh/light_ctl_cli.h
  include/bluetooth/mesh/light_ctl_cli.rst
  include/bluetooth/mesh/light_ctl_srv.h
  include/bluetooth/mesh/light_ctl_srv.rst
  include/bluetooth/mesh/light_temp_srv.h
  include/bluetooth/mesh/light_temp_srv.rst
  include/bluetooth/mesh/models.h
  include/bluetooth/mesh/models.rst
  subsys/bluetooth/mesh/CMakeLists.txt
  subsys/bluetooth/mesh/Kconfig.models
  subsys/bluetooth/mesh/light_ctl_cli.c
  subsys/bluetooth/mesh/light_ctl_internal.h
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_temp_srv.c
Labels: doc-required

#3000 samples: openthread: fix systemworkqueue stack size issue
  samples/openthread/coap_client/prj.conf
  samples/openthread/common/overlay-ot-defaults.conf
Labels: bug
