Repository nrfconnect/sdk-nrf, pull requests merged in 2020-10, with the labels that each got.

#3001 manifest: zboss doc updates
  west.yml
Labels: manifest

#2961 net: lib: nrf_cloud: make MQTT client ID prefix configurable
  samples/nrf9160/aws_fota/Kconfig
  samples/nrf9160/aws_fota/src/main.c
  subsys/net/lib/nrf_cloud/Kconfig
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: enhancement

#2945 tests: crypto: Enable testing on smaller devices
  tests/crypto/Kconfig
  tests/crypto/overlay-small-devices/overlay-small-aes.conf
  tests/crypto/overlay-small-devices/overlay-small-ecc.conf
  tests/crypto/overlay-small-devices/overlay-small-hash.conf
  tests/crypto/overlay-small-devices/overlay-small.conf
  tests/crypto/prj.conf
  tests/crypto/src/common_test.h
  tests/crypto/src/main.c
  tests/crypto/test_cases/CMakeLists.txt
  tests/crypto/test_cases/test_sha_256.c
  tests/crypto/test_cases/test_sha_512.c
  tests/crypto/test_cases/test_vectors_aead_ccm.c
  tests/crypto/test_cases/test_vectors_aead_gcm.c
  tests/crypto/test_cases/test_vectors_aes_cbc.c
  tests/crypto/test_cases/test_vectors_aes_ecb.c
  tests/crypto/test_cases/test_vectors_ecdh.c
  tests/crypto/test_cases/test_vectors_sha_256.c
  tests/crypto/test_cases/test_vectors_sha_512.c
  tests/crypto/testcase.yaml
  west.yml
Labels: manifest

#2989 samples: openthread: fix reset in certification harness THCI file
  samples/openthread/cli/harness/nrf52840-ncs.py
Labels: bug

#2983 manifest: Enable NRF5 entropy backend for softdevice entropy driver
  west.yml
Labels: DNM, manifest

#3011 doc: Add note about external antenna performance for nRF9160
  applications/asset_tracker/README.rst
  samples/nrf9160/nrf_cloud_agps/README.rst
Labels: doc-required

#2851 Ncsdk 3653 shell bt nus update
  doc/nrf/includes/boardname_tables/sample_boardnames.txt
  doc/nrf/links.txt
  include/shell/shell_bt_nus.rst
  samples/bluetooth/shell_bt_nus/README.rst
Labels: doc-required

#2492 subsys: bluetooth: services: adding Alexa Gadgets service sample
  doc/nrf/links.txt
  include/bluetooth/services/gadgets.h
  include/bluetooth/services/gadgets.rst
  samples/bluetooth/alexa_gadget/CMakeLists.txt
  samples/bluetooth/alexa_gadget/Kconfig
  samples/bluetooth/alexa_gadget/README.rst
  samples/bluetooth/alexa_gadget/boards/nrf52dk_nrf52810.conf
  samples/bluetooth/alexa_gadget/prj.conf
  samples/bluetooth/alexa_gadget/sample.yaml
  samples/bluetooth/alexa_gadget/src/gadgets/CMakeLists.txt
  samples/bluetooth/alexa_gadget/src/gadgets/Kconfig
  samples/bluetooth/alexa_gadget/src/gadgets/gadgets_profile.c
  samples/bluetooth/alexa_gadget/src/gadgets/gadgets_profile.h
  samples/bluetooth/alexa_gadget/src/gadgets/proto/custom_event.options
  samples/bluetooth/alexa_gadget/src/gadgets/proto/custom_event.proto
  samples/bluetooth/alexa_gadget/src/main.c
  subsys/bluetooth/services/CMakeLists.txt
  subsys/bluetooth/services/Kconfig
  subsys/bluetooth/services/Kconfig.gadgets
  subsys/bluetooth/services/gadgets.c
  west.yml
Labels: doc-required, manifest

#3005 applications: nrf_desktop: Update dfu documentation
  applications/nrf_desktop/doc/dfu.rst
Labels: doc-required

#3008 applications: nrf_desktop: Update flash memory layout docs
  applications/nrf_desktop/README.rst
Labels: doc-required

#2992 Bluetooth: Mesh: DK Prov: Clarify UUID usage
  include/bluetooth/mesh/dk_prov.rst
Labels: doc-required

#3025 manifest: pull nrf52833 rng fix
  west.yml
Labels: manifest

#3035 manifest: update softdevice controller and mpsl
  subsys/bluetooth/controller/hci_driver.c
  west.yml
Labels: manifest

#3040 samples: openthread: fix CoAP client MTD variant description
  samples/openthread/coap_client/README.rst
Labels: doc-required

#2994 samples: nrf9160: agps: Rename sample and update docs
  doc/nrf/releases/release-notes-1.3.0.rst
  include/net/nrf_cloud_agps.rst
  samples/nrf9160/agps/CMakeLists.txt
  samples/nrf9160/agps/Kconfig
  samples/nrf9160/agps/README.rst
  samples/nrf9160/agps/prj.conf
  samples/nrf9160/agps/sample.yaml
  samples/nrf9160/agps/src/main.c
Labels: doc-required

#3044 samples: openthread: improve logging docs and use them for cert
  doc/nrf/ug_logging.rst
  doc/nrf/ug_thread_certification.rst
  doc/nrf/ug_thread_configuring.rst
  samples/openthread/cli/harness/overlay-cert.conf
Labels: doc-required

#2921 doc: multi_image: improve add_child_image and multi_image_rst
  cmake/multi_image.cmake
  doc/nrf/ug_multi_image.rst
Labels: doc-required

#3039 samples: lpuart: Add two more supported board configurations.
  samples/peripheral/lpuart/README.rst
  samples/peripheral/lpuart/boards/nrf52833dk_nrf52833.conf
  samples/peripheral/lpuart/boards/nrf52833dk_nrf52833.overlay
  samples/peripheral/lpuart/boards/nrf5340pdk_nrf5340_cpuapp.conf
  samples/peripheral/lpuart/boards/nrf5340pdk_nrf5340_cpuapp.overlay
  samples/peripheral/lpuart/sample.yaml
Labels: doc-required

#3017 samples: nrf9160: nrf_cloud_agps: document CLOUD_EVT_DISCONNECTED event
  doc/nrf/links.txt
  samples/nrf9160/agps/README.rst
Labels: doc-required

#3059 manifest: zephyr: update manifest with Zephyr post-upmerge changes
  west.yml
Labels: manifest

#3041 doc: better differentiation between heading levels
  doc/static/css/common.css
Labels: doc-required

#2080 partition_manager: enable RAM partitioning
  cmake/partition_manager.cmake
  samples/spm/pm.yml
  scripts/partition_manager.py
  scripts/partition_manager/partition_manager.rst
  scripts/partition_manager_output.py
  subsys/partition_manager/CMakeLists.txt
  subsys/partition_manager/Kconfig
  subsys/partition_manager/Kconfig.template.partition_size
  subsys/partition_manager/pm.yml.bsdlib
  subsys/spm/Kconfig
  subsys/spm/spm.c
  west.yml
Labels: doc-required, manifest

#3069 manifest: nrfxlib: Update ZBOSS
  west.yml
Labels: manifest

#2784 docs: add rst file for zigbee shell reference
  doc/nrf/libraries/lib_zigbee.rst
  doc/nrf/libraries/zigbee/lib_zigbee_shell.rst
  doc/nrf/links.txt
  doc/nrf/ug_zigbee_configuring.rst
Labels: doc-required

#3083 samples: openthread: use default shell stack size from Zephyr
  samples/openthread/common/overlay-ot-defaults.conf
  west.yml
Labels: manifest

#3019 applications: nrf_desktop: Update supported boards in doc
  applications/nrf_desktop/README.rst
Labels: doc-required

#3018 applications: nrf_desktop: Update heap documentation
  applications/nrf_desktop/README.rst
Labels: doc-required

#3075 manifest: update mcuboot
  doc/nrf/ug_bootloader.rst
  west.yml
Labels: doc-required, manifest

#3080 manifest: pull new nrf_security with const dev added
  west.yml
Labels: manifest

#3068 doc: openthread: describe commissioning usage for NCP sample
  doc/nrf/links.txt
  doc/nrf/ug_thread_commissioning.rst
  doc/nrf/ug_thread_tools.rst
  samples/openthread/ncp/README.rst
  samples/openthread/ncp/overlay-logging.conf
  samples/openthread/ncp/prj.conf
Labels: doc-required

#3055 manifest: update nrfxlib
  lib/bsdlib/bsd_os.c
  west.yml
Labels: manifest

#3010 applications: nrf_desktop: Update bootloader docs
  applications/nrf_desktop/README.rst
Labels: doc-required

#3046 Bluetooth: Mesh: Scene models
  include/bluetooth/mesh/gen_lvl_srv.h
  include/bluetooth/mesh/gen_onoff_srv.h
  include/bluetooth/mesh/light_ctl_srv.h
  include/bluetooth/mesh/light_ctrl_srv.h
  include/bluetooth/mesh/models.h
  include/bluetooth/mesh/models.rst
  include/bluetooth/mesh/scene.h
  include/bluetooth/mesh/scene.rst
  include/bluetooth/mesh/scene_cli.h
  include/bluetooth/mesh/scene_cli.rst
  include/bluetooth/mesh/scene_srv.h
  include/bluetooth/mesh/scene_srv.rst
  subsys/bluetooth/mesh/CMakeLists.txt
  subsys/bluetooth/mesh/Kconfig.models
  subsys/bluetooth/mesh/gen_lvl_srv.c
  subsys/bluetooth/mesh/gen_onoff_srv.c
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/light_temp_srv.c
  subsys/bluetooth/mesh/lightness_srv.c
  subsys/bluetooth/mesh/scene_cli.c
  subsys/bluetooth/mesh/scene_srv.c
Labels: doc-required

#3058 samples: openthread: enable MPSL by default
  doc/nrf/ug_thread_configuring.rst
  samples/openthread/coap_client/overlay-multiprotocol_ble.conf
  samples/openthread/common/overlay-ot-defaults.conf
Labels: doc-required

#3090 doc: slm: add subpages headings
  applications/serial_lte_modem/README.rst
  applications/serial_lte_modem/doc/AT_commands_intro.rst
Labels: doc-required

#3024 applications: nrf_desktop: Update HID forward doc
  applications/nrf_desktop/doc/hid_forward.rst
Labels: doc-required

#3012 zigbee: Add page describing Zigbee platform design
  doc/nrf/images/zigbee_platform_design_multi.svg
  doc/nrf/images/zigbee_platform_design_multi.vsdx
  doc/nrf/images/zigbee_platform_design_ncp.svg
  doc/nrf/images/zigbee_platform_design_ncp.vsdx
  doc/nrf/images/zigbee_platform_design_soc.svg
  doc/nrf/images/zigbee_platform_design_soc.vsdx
  doc/nrf/links.txt
  doc/nrf/ug_zigbee.rst
  doc/nrf/ug_zigbee_architectures.rst
Labels: doc-required

#3091 doc: Add note about overlay-fota.conf in zigbee light switch sample
  samples/zigbee/light_switch/README.rst
Labels: doc-required

#3086 doc: Update few samples and applications with table-from-rows
  applications/asset_tracker/README.rst
  applications/connectivity_bridge/README.rst
  applications/nrf_desktop/README.rst
  samples/nrf9160/azure_fota/README.rst
  samples/nrf9160/azure_iot_hub/README.rst
  samples/zigbee/light_switch/README.rst
  tests/crypto/README.rst
Labels: doc-required

#3006 manifest: nrf_security doc rework
  doc/nrf/releases/release-notes-1.1.0.rst
  doc/nrf/releases/release-notes-1.3.0.rst
  doc/nrf/ug_thread_configuring.rst
  west.yml
Labels: doc-required, manifest

#3087 manifest: Update sdk-zephyr introducing 802.15.4 radio driver bugfixes
  west.yml
Labels: manifest

#3094 mcuboot: fixed swap-move, bootstrapping and fast overwrite mode
  doc/nrf/releases/release-notes-latest.rst
  west.yml
Labels: doc-required, manifest

#3096 applications: nrf_desktop: Update ble_scan doc
  applications/nrf_desktop/doc/ble_scan.rst
Labels: doc-required

#3099 zigbee: Add support for delayed packet sending
  subsys/zigbee/osif/zb_nrf_transceiver.c
  west.yml
Labels: manifest

#3098 applications: asset_tracker: fix issue with motion trigger of GPS
  applications/asset_tracker/src/gps_controller/gps_controller.c
  applications/asset_tracker/src/main.c
Labels: bug

#3081 manifest: pull new description for thread libraries
  west.yml
Labels: manifest

#3103 boards: arm: thingy91_nrf9160: Clean up RAM definitions
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_common.dts
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_partition_conf.dts
Labels: bug

#3095 doc: openthread: Add page showing OT samples memory requirements.
  doc/nrf/ug_thread_ot_memory.rst
  doc/nrf/ug_thread_overview.rst
Labels: doc-required

#3105 partition_manager: reserve ram block for ICP
  subsys/partition_manager/CMakeLists.txt
  subsys/partition_manager/Kconfig
  subsys/partition_manager/pm.yml.bt_rpmsg_nrf53
Labels: bug

#3109 manifest: Point to the 1.4.0 rc1 tags
  west.yml
Labels: manifest

#3102 doc: fix small style sheet issues [DOC ONLY]
  doc/static/css/common.css
Labels: doc-required

#3107 doc: thread: update license footer for ot pages
  doc/nrf/links.txt
  doc/nrf/shortcuts.txt
  doc/nrf/ug_thread.rst
  doc/nrf/ug_thread_architectures.rst
  doc/nrf/ug_thread_commissioning.rst
  samples/openthread/ncp/README.rst
Labels: doc-required

#3120 tests: nrfx_integration_test: Fix test case configurations
  tests/drivers/nrfx_integration_test/Kconfig
  tests/drivers/nrfx_integration_test/prj.conf
  tests/drivers/nrfx_integration_test/testcase.yaml
Labels: bug

#3100 doc: updated SES import dialog description to 5.10c updates [DOC ONLY]
  doc/nrf/gs_installing.rst
  doc/nrf/gs_modifying.rst
  doc/nrf/gs_programming.rst
  doc/nrf/images/ses_config.png
  doc/nrf/images/ses_thingy_configuration.png
  doc/nrf/ug_thingy91.rst
Labels: doc-required

#3115 Asset tracker + carrier library fixes
  boards/arm/thingy91_nrf9160/board_nonsecure.c
Labels: bug

#3119 samples: Fix 802.15.4 radio config in radio_test
  samples/peripheral/radio_test/src/radio_test.c
Labels: bug

#3122 manifest: Add nrfxlib PR fixing CMAC issues
  west.yml
Labels: bug, manifest

#3110 [DOC ONLY] docs: style guide fixes
  applications/asset_tracker/README.rst
  applications/nrf_desktop/README.rst
  doc/mcuboot/readme-ncs.rst
  doc/nrf/doc_build.rst
  doc/nrf/gs_modifying.rst
  doc/nrf/gs_testing.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-latest.rst
  doc/nrf/ug_dev_model.rst
  doc/nrf/ug_esb.rst
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_thread_commissioning.rst
  include/bluetooth/enocean.rst
  include/bluetooth/services/nus.rst
  include/dk_buttons_and_leds.rst
  include/net/aws_iot.rst
  include/profiler.rst
  include/secure_services.rst
  include/shell/shell_bt_nus.rst
  include/supl_os_client.rst
  samples/bluetooth/central_bas/README.rst
  samples/bluetooth/central_hids/README.rst
  samples/bluetooth/llpm/README.rst
  samples/bluetooth/mesh/light/README.rst
  samples/bluetooth/mesh/light_ctrl/README.rst
  samples/bluetooth/mesh/light_switch/README.rst
  samples/bluetooth/mesh/sensor_server/README.rst
  samples/bluetooth/peripheral_hids_keyboard/README.rst
  samples/bluetooth/peripheral_hids_mouse/README.rst
  samples/bluetooth/peripheral_lbs/README.rst
  samples/bootloader/README.rst
  samples/debug/ppi_trace/README.rst
  samples/mpsl/timeslot/README.rst
  samples/nrf5340/netboot/README.rst
  samples/nrf9160/aws_fota/README.rst
  samples/nrf9160/aws_iot/README.rst
  samples/nrf9160/azure_fota/README.rst
  samples/nrf9160/azure_iot_hub/README.rst
  samples/nrf9160/cloud_client/README.rst
  samples/nrf9160/http_application_update/README.rst
  samples/nrf_rpc/entropy_nrf53/README.rst
  samples/openthread/coap_client/README.rst
  samples/zigbee/light_switch/README.rst
  scripts/partition_manager/partition_manager.rst
  scripts/shell/ble_console/README.rst
Labels: doc-required

#3125 doc: Add direct advertising problems to known issues
  doc/nrf/known_issues.rst
Labels: doc-required

#3121 drivers: gps: nrf9160_gps: emit started event
  drivers/gps/nrf9160_gps/nrf9160_gps.c
Labels: bug

#3149 drivers: bt_ll_softdevice: Allow config MPU to be disabled
  drivers/bt_ll_softdevice/flash/Kconfig
Labels: bug

#3136 applications: nrf_desktop: HLK tests description
  applications/nrf_desktop/README.rst
  doc/nrf/links.txt
Labels: doc-required

#3124 dtm: Fix upper bits set
  samples/bluetooth/direct_test_mode/src/dtm.c
  samples/bluetooth/direct_test_mode/src/dtm.h
Labels: bug

#3123 lib/fatal_error: Disabled by default for testing
  lib/fatal_error/Kconfig
Labels: bug

#3134 Bluetooth: Kconfig: Add connection count rules for SD controller
  subsys/bluetooth/Kconfig
Labels: bug

#3051 lib: bin: lwm2m_carrier: update to version 0.10.0
  applications/asset_tracker/lwm2m_carrier_overlay.conf
  applications/asset_tracker/src/main.c
  lib/bin/lwm2m_carrier/Kconfig
  lib/bin/lwm2m_carrier/doc/CHANGELOG.rst
  lib/bin/lwm2m_carrier/doc/app_integration.rst
  lib/bin/lwm2m_carrier/doc/certification.rst
  lib/bin/lwm2m_carrier/doc/msc.rst
  lib/bin/lwm2m_carrier/doc/requirements.rst
  lib/bin/lwm2m_carrier/include/lwm2m_carrier.h
  lib/bin/lwm2m_carrier/include/lwm2m_os.h
  lib/bin/lwm2m_carrier/lib/cortex-m33/hard-float/liblwm2m_carrier.a
  lib/bin/lwm2m_carrier/lwm2m_carrier.rst
  lib/bin/lwm2m_carrier/os/lwm2m_carrier.c
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  samples/nrf9160/lwm2m_carrier/prj.conf
  samples/nrf9160/lwm2m_carrier/src/main.c
Labels: doc-required, manifest

#3169 manifest: sdk-zephyr: Update manifest to sdk-zephyr.
  west.yml
Labels: manifest

#3131 applications: nrf_desktop: Document settings incompatibility
  applications/nrf_desktop/README.rst
Labels: doc-required

#3060 net: lib: aws_fota: Report failure if fota_download does not start
  subsys/net/lib/aws_fota/src/aws_fota.c
Labels: bug

#3135 cmake: don't flash zephyr.hex and merged.hex for domain
  cmake/multi_image.cmake
Labels: bug

#3146 doc: bootloader: Change it from DTS to partition manager
  doc/nrf/ug_bootloader.rst
Labels: bug, doc-required

#3153 manifest: update MCUBoot for fix serial recovery
  west.yml
Labels: bug, manifest

#3154 doc: Revert "doc: conf.py now using VERSION file for release info"
  doc/nrf/conf.py
Labels: doc-required

#3162 Bluetooth: Mesh: CTL model: fixup
  include/bluetooth/mesh/light_temp_srv.h
  subsys/bluetooth/mesh/light_ctl_srv.c
Labels: bug

#3164 doc: Add NCP from library case to the known issues
  doc/nrf/known_issues.rst
Labels: doc-required

#3170 samples: event_manager: Improve documentation
  samples/event_manager/README.rst
Labels: doc-required

#3174 doc: thread: zigbee: fixes on sample pages
  doc/nrf/links.txt
  doc/nrf/ug_logging.rst
  doc/nrf/ug_thread_architectures.rst
  doc/nrf/ug_thread_vendor_hooks.rst
  samples/openthread/cli/README.rst
  samples/openthread/coap_client/README.rst
  samples/openthread/coap_server/README.rst
  samples/openthread/ncp/README.rst
  samples/zigbee/light_bulb/README.rst
  samples/zigbee/light_switch/README.rst
  samples/zigbee/network_coordinator/README.rst
Labels: doc-required

#3145 doc: update known issues for 140 release
  doc/nrf/known_issues.rst
Labels: doc-required

#3139 manifest: pull zephyr with increased Thread buffers
  doc/nrf/ug_thread_ot_memory.rst
  west.yml
Labels: bug, doc-required, manifest

#3175 doc: slm tcp xsocket set command fix
  applications/serial_lte_modem/doc/TCPIP_AT_commands.rst
Labels: doc-required

#3177 samples: profiler: Update doc
  samples/profiler/README.rst
Labels: doc-required

#3168 sample: aws_fota: re-introduce overwritten changes to buffer sizes
  samples/nrf9160/aws_fota/src/main.c
Labels: bug

#3186 Bluetooth: Mesh: Update sample config for nRF53
  samples/bluetooth/mesh/light/README.rst
  samples/bluetooth/mesh/light/prj.conf
  samples/bluetooth/mesh/light_switch/README.rst
  samples/bluetooth/mesh/light_switch/prj.conf
Labels: bug

#3199 samples: nrf9160: Use correct length for custom topic
  samples/nrf9160/aws_iot/src/main.c
Labels: bug

#3193 Bluetooth: Mesh: Generic level scene set transaction
  subsys/bluetooth/mesh/gen_lvl_srv.c
Labels: bug

#3187 nfc_paring: Increase main stack size
  samples/bluetooth/central_nfc_pairing/prj.conf
  samples/bluetooth/peripheral_nfc_pairing/prj.conf
Labels: bug

#3191 samples: openthread: enable BT for the Certification overlay
  doc/nrf/ug_thread_certification.rst
  samples/openthread/cli/CMakeLists.txt
  samples/openthread/cli/README.rst
  samples/openthread/cli/harness/overlay-cert.conf
  samples/openthread/cli/src/ble.c
  samples/openthread/cli/src/ble.h
  samples/openthread/cli/src/main.c
  samples/openthread/coap_client/src/coap_client.c
  samples/openthread/common/overlay-ot-defaults.conf
Labels: bug, doc-required

#3185 manifest: nrfxlib: update MPSL to include latest RAAL_REM fixes
  west.yml
Labels: manifest

#3183 kconfig: Default MAIN_STACK_SIZE=2048 for ZTEST in nrf
  Kconfig.nrf
Labels: bug

#3203 Bluetooth: Mesh: Decode Time status before use
  subsys/bluetooth/mesh/time_srv.c
Labels: bug

#3204 doc: Add USB known issues
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#3210 samples: nrf9160: agps: add mfw 1.1.x not supported to doc
  samples/nrf9160/agps/README.rst
Labels: CI-doc-build, doc-required

#3207 doc: doc fix for NCS-6785
  samples/bluetooth/peripheral_bms/README.rst
Labels: CI-doc-build, doc-required

#3200 softdevice_controller: Fix handling all supported HCI commands
  subsys/bluetooth/controller/hci_internal.c
Labels: bug

#3195 doc: zigbee: Add memory usage page
  doc/nrf/ug_thread_supported_features.rst
  doc/nrf/ug_zigbee_memory.rst
  doc/nrf/ug_zigbee_overview.rst
  doc/nrf/ug_zigbee_supported_features.rst
Labels: CI-doc-build, doc-required

#3208 doc: known issues: add partition overlap issue
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#3192 bluetooth: services: alexa_gadget: Fix service UUID
  subsys/bluetooth/services/gadgets.c
Labels: bug

#3197 net: lib: download_client: Add option to enable partial request in HTTP
  doc/nrf/known_issues.rst
  subsys/dfu/Kconfig
  subsys/net/lib/download_client/Kconfig
  subsys/net/lib/download_client/src/download_client.c
  subsys/net/lib/download_client/src/http.c
Labels: bug, doc-required

#3225 doc: samples: remove nRF51 from requirements
  samples/bluetooth/central_bas/README.rst
  samples/bluetooth/central_dfu_smp/README.rst
  samples/bluetooth/central_hids/README.rst
  samples/bluetooth/enocean/README.rst
  samples/bluetooth/peripheral_gatt_dm/README.rst
  samples/bluetooth/peripheral_hids_keyboard/README.rst
  samples/bluetooth/peripheral_hids_mouse/README.rst
  samples/bluetooth/peripheral_lbs/README.rst
  samples/bluetooth/throughput/README.rst
  samples/event_manager/README.rst
Labels: CI-doc-build, doc-required

#3221 doc: add known issue about smp_svr
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#3219 partition_manager: fix bug where static config would fail for SRAM
  scripts/partition_manager.py
Labels: bug

#3201 manifest: pull zephyr for bluetooth shell fix and nrfxlib for MPSL fix
  west.yml
Labels: DNM, manifest

#3222 cmake: Toolchain v1.4.0
  share/ncs-package/cmake/NcsConfig.cmake
Labels: bug

#3212 applications: asset_tracker: Add MCUboot config for setting RSA
  applications/asset_tracker/CMakeLists.txt
  applications/asset_tracker/mcuboot_overlay-rsa.conf
Labels: bug

#3214 applications: connectivity_bridge: Add MCUboot config for setting RSA
  applications/connectivity_bridge/CMakeLists.txt
  applications/connectivity_bridge/mcuboot_overlay-rsa.conf
Labels: bug, doc-required

#3227 doc: known_issue: add issue with mcuboot build strategy
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#3229 applications: add MCUboot overlays
  applications/asset_tracker/README.rst
  applications/connectivity_bridge/README.rst
Labels: CI-doc-build, doc-required

#3205 zigbee: Update ZBOSS version v3_3_0_5+10_06_2020
  west.yml
Labels: bug, manifest

#3231 manifest: sdk-zephyr: Update manifest to sdk-zephyr.
  west.yml
Labels: DNM, manifest

#3234 applications: asset_tracker: bsec: recover when state is outdated
  applications/asset_tracker/src/env_sensors/bsec.c
  applications/asset_tracker/src/main.c
Labels: bug

#3252 samples: openthread: update licensing headers
  samples/openthread/cli/boards/nrf52833dk_nrf52833.overlay
  samples/openthread/cli/boards/nrf52840dk_nrf52840.overlay
  samples/openthread/cli/harness/nrf52840-ncs.py
  samples/openthread/cli/harness/overlay-cert.conf
  samples/openthread/cli/src/ble.h
  samples/openthread/cli/src/main.c
  samples/openthread/coap_client/boards/nrf52833dk_nrf52833.overlay
  samples/openthread/coap_client/boards/nrf52840dk_nrf52840.overlay
  samples/openthread/coap_client/overlay-mtd.conf
  samples/openthread/coap_client/src/ble_utils.c
  samples/openthread/coap_client/src/ble_utils.h
  samples/openthread/coap_client/src/coap_client.c
  samples/openthread/coap_client/src/coap_client_utils.c
  samples/openthread/coap_client/src/coap_client_utils.h
  samples/openthread/coap_server/CMakeLists.txt
  samples/openthread/coap_server/boards/nrf52833dk_nrf52833.overlay
  samples/openthread/coap_server/boards/nrf52840dk_nrf52840.overlay
  samples/openthread/coap_server/interface/coap_server_client_interface.h
  samples/openthread/coap_server/src/coap_server.c
  samples/openthread/coap_server/src/ot_coap_utils.c
  samples/openthread/coap_server/src/ot_coap_utils.h
  samples/openthread/ncp/CMakeLists.txt
  samples/openthread/ncp/boards/nrf52833dk_nrf52833.overlay
  samples/openthread/ncp/boards/nrf52840dk_nrf52840.overlay
  samples/openthread/ncp/overlay-vendor_hook.conf
  west.yml
Labels: manifest

#3127 docs: add 140 release notes
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-1.4.0.rst
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, DNM, doc-required

#3278 west.yml: Update manifest file with v1.4.0 tags
  west.yml
Labels: manifest

#3240 Update doc version after 140 release
  applications/nrf_desktop/README.rst
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-latest.rst
  doc/nrfxlib/conf.py
Labels: CI-doc-build, doc-required, manifest
