Repository nrfconnect/sdk-nrf, pull requests merged in 2020-06, with the labels that each got.

#2365 zigbee: samples: Remove broken include from CMakeList.txt
  samples/zigbee/light_bulb/CMakeLists.txt
  samples/zigbee/light_switch/CMakeLists.txt
  samples/zigbee/network_coordinator/CMakeLists.txt
  tests/subsys/zigbee/osif/nvram/CMakeLists.txt
  tests/subsys/zigbee/osif/timer/CMakeLists.txt
Labels: bug

#2363 lib: at_host: Expand stack size with optimizations
  lib/at_host/at_host.c
Labels: bug

#2373 zigbee: samples: Link to BLE stack in Zigbee examples
  samples/zigbee/light_bulb/prj.conf
  samples/zigbee/light_switch/prj.conf
  samples/zigbee/network_coordinator/prj.conf
Labels: bug

#2347 doc: Updated nRF53 User Guide for NCS 1.3.0
  doc/nrf/links.txt
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

#2194 Documentation: lwm2m carrier library documentation
  doc/nrf/links.txt
  lib/bin/lwm2m_carrier/lwm2m_carrier.rst
  samples/nrf9160/lwm2m_carrier/README.rst
Labels: doc-required

#2370 openthread: samples: Fix broken CMakeList.txt
  samples/openthread/cli/CMakeLists.txt
  samples/openthread/coap_client/CMakeLists.txt
  samples/openthread/coap_server/CMakeLists.txt
Labels: bug

#2330 lib: bin: lwm2m_carrier: update to version 0.9.0
  lib/bin/lwm2m_carrier/Kconfig
  lib/bin/lwm2m_carrier/doc/CHANGELOG.rst
  lib/bin/lwm2m_carrier/include/lwm2m_carrier.h
  lib/bin/lwm2m_carrier/include/lwm2m_os.h
  lib/bin/lwm2m_carrier/lib/cortex-m33/hard-float/liblwm2m_carrier.a
  lib/bin/lwm2m_carrier/lwm2m_carrier.rst
  lib/bin/lwm2m_carrier/os/lwm2m_carrier.c
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  samples/nrf9160/lwm2m_carrier/src/main.c
Labels: doc-required

#2387 subsys: event_manager: Update documentation
  include/event_manager.rst
Labels: doc-required

#2383 applications: nrf_desktop: Hint how to change irq priority
  applications/nrf_desktop/README.rst
Labels: doc-required

#2380 samples: profiler: Update documentation
  samples/profiler/README.rst
Labels: doc-required

#2384 west.yml: rewrite OSS project histories for NCS v1.3 [NCSDK-5554]
  west.yml
Labels: DNM

#2392 samples: cloud_client: Add testing description to documentation
  samples/nrf9160/cloud_client/README.rst
Labels: doc-required

#2350 nrf9160: aws_fota: Fix going online only if it has gone offline
  samples/nrf9160/aws_fota/src/main.c
Labels: bug

#2325 doc: bootloader: Add documentation for external flash
  doc/nrf/shortcuts.txt
  doc/nrf/ug_bootloader.rst
  scripts/partition_manager/partition_manager.rst
Labels: doc-required

#2411 samples: nrf9160: mqtt_simple: Set MQTT transport to secure with TLS
  samples/nrf9160/mqtt_simple/src/main.c
Labels: bug

#2414 samples: nrf9160: nrf_cloud_agps: Enable PSM before connecting to network
  samples/nrf9160/nrf_cloud_agps/src/main.c
Labels: bug

#2399 manifest: mcuboot - fix nrf53 board name
  west.yml
Labels: DNM

#2389 hal_nordic: Fix undefined reference to z_bt_ctlr_used_nrf_ppi_channels
  applications/connectivity_bridge/src/modules/uart_handler.c
  west.yml
Labels: bug

#2393 samples: nrf9160: Cloud Client README correction
  samples/nrf9160/cloud_client/README.rst
Labels: doc-required

#2417 net: fota_download: emit error when dfu_target fails initializing
  include/dfu/dfu_target.h
  subsys/dfu/src/dfu_target.c
  subsys/net/lib/fota_download/src/fota_download.c
Labels: bug

#2433 doc: update gnu arm embedded toolchain version
  doc/nrf/gs_installing.rst
Labels: doc-required

#2421 doc: update doc to reflect support for multi core builds
  doc/nrf/ug_multi_image.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

#2437 Switch ncs to use radio 1.6
  CODEOWNERS
  doc/nrf/images/nrftoolbox_dynamic_zigbee_uart_1.png
  doc/nrf/images/nrftoolbox_dynamic_zigbee_uart_2.png
  doc/nrf/images/nrftoolbox_dynamic_zigbee_uart_3.png
  doc/nrf/ug_thread.rst
  doc/nrf/ug_zigbee.rst
  drivers/CMakeLists.txt
  drivers/Kconfig
  drivers/ieee802154/CMakeLists.txt
  drivers/ieee802154/Kconfig
  drivers/ieee802154/ieee802154_nrf5_cfg.c
  drivers/nrf_802154_sl/CMakeLists.txt
  drivers/nrf_802154_sl/Kconfig
  drivers/nrf_802154_sl/src/platform/clock/nrf_802154_clock_zephyr.c
  drivers/nrf_802154_sl/src/platform/gpiote/nrf_802154_gpiote_crit_sect.c
  drivers/nrf_802154_sl/src/platform/gpiote/nrf_802154_gpiote_zephyr.c
  drivers/nrf_802154_sl/src/platform/hp_timer/nrf_802154_hp_timer.c
  drivers/nrf_802154_sl/src/platform/irq/nrf_802154_irq_zephyr.c
  drivers/nrf_802154_sl/src/platform/lp_timer/nrf_802154_lp_timer.c
  samples/openthread/cli/README.rst
  samples/openthread/cli/overlay-ant_div.conf
  samples/openthread/cli/overlay-pa_lna.conf
  samples/openthread/cli/overlay-wifi_coex.conf
  samples/openthread/cli/prj.conf
  samples/openthread/coap_client/CMakeLists.txt
  samples/openthread/coap_client/README.rst
  samples/openthread/coap_client/overlay-multiprotocol_ble.conf
  samples/openthread/coap_client/prj.conf
  samples/openthread/coap_client/src/ble_utils.c
  samples/openthread/coap_client/src/ble_utils.h
  samples/openthread/coap_client/src/coap_client.c
  samples/openthread/coap_server/prj.conf
  samples/zigbee/light_bulb/prj.conf
  samples/zigbee/light_switch/CMakeLists.txt
  samples/zigbee/light_switch/Kconfig
  samples/zigbee/light_switch/README.rst
  samples/zigbee/light_switch/include/nus_cmd.h
  samples/zigbee/light_switch/include/zb_mem_config_custom.h
  samples/zigbee/light_switch/overlay-mpsl-ble.conf
  samples/zigbee/light_switch/prj.conf
  samples/zigbee/light_switch/src/main.c
  samples/zigbee/light_switch/src/nus_cmd.c
  samples/zigbee/network_coordinator/README.rst
  samples/zigbee/network_coordinator/overlay-ant_div.conf
  samples/zigbee/network_coordinator/overlay-pa_lna.conf
  samples/zigbee/network_coordinator/overlay-wifi_coex.conf
  samples/zigbee/network_coordinator/prj.conf
  subsys/zigbee/osif/zb_nrf_crypto.c
  west.yml
Labels: doc-required

#2464 cmake: multi image: pass on the NCS_TOOLCHAIN_VERSION to subimages
  cmake/multi_image.cmake
Labels: bug

#2281 lib: bin: lwm2m_carrier: update to version 0.8.2
  lib/bin/lwm2m_carrier/doc/CHANGELOG.rst
  lib/bin/lwm2m_carrier/include/lwm2m_carrier.h
  lib/bin/lwm2m_carrier/lib/cortex-m33/hard-float/liblwm2m_carrier.a
  lib/bin/lwm2m_carrier/lwm2m_carrier.rst
  samples/nrf9160/lwm2m_carrier/src/main.c
Labels: doc-required

#2483 nrf9160: http_application_update: Change download file target
  samples/nrf9160/http_application_update/prj.conf
Labels: bug

#2507 doc: add release notes for v1.2.1
  doc/nrf/index.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/release-notes-1.2.1.rst
Labels: DNM

#2502 doc: gs_testing: add rtt section
  CODEOWNERS
  doc/nrf/gs_testing.rst
  doc/nrf/images/rtt_viewer_configuration.png
Labels: doc-required
