Repository nrfconnect/sdk-nrf, pull requests merged in 2020-12, with the labels that each got.

#3386 doc: Add documentation for power optimization user guide
  doc/nrf/app_power_opt.rst
  doc/nrf/images/app_power_opp_cdrx_normal.png
  doc/nrf/images/app_power_opt_blink_serial_off.png
  doc/nrf/images/app_power_opt_blinky_serial_on.png
  doc/nrf/images/app_power_opt_drx_long.png
  doc/nrf/images/app_power_opt_opp_default_20byte_10min.png
  doc/nrf/images/app_power_opt_opp_default_40_byte_20min.png
  doc/nrf/images/app_power_opt_opp_tuned_with_measurements.png
  doc/nrf/images/app_power_opt_ppk_10sec_active_timer.png
  doc/nrf/images/app_power_opt_ppk_120_byte.png
  doc/nrf/images/app_power_opt_ppk_40_byte.png
  doc/nrf/images/app_power_opt_ppk_cdrx_duration_40ms.png
  doc/nrf/images/app_power_opt_ppk_cdrx_interval.png
  doc/nrf/images/app_power_opt_ppk_inactivity_timer.png
  doc/nrf/images/app_power_opt_ppk_psm.png
  doc/nrf/links.txt
  doc/nrf/ug_app_dev.rst
Labels: CI-doc-build, doc-required

#3440 doc: fixed shortcuts.txt
  doc/nrf/shortcuts.txt
Labels: CI-doc-build, doc-required

#3443 doc: cmake: Make GEN_DEVICETREE_REST_ZEPHYR_DOCSET a white space string
  doc/CMakeLists.txt
Labels: CI-doc-build, doc-required

#3451 doc: KRKNWK_8133 CSMA-CA issues and nrf53
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#3409 doc: Add TF-M documentation
  doc/nrf/links.txt
  doc/nrf/samples.rst
  doc/nrf/ug_app_dev.rst
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_nrf9160.rst
  doc/nrf/ug_tfm.rst
  samples/spm/README.rst
  samples/tfm/tfm_hello_world/README.rst
Labels: CI-doc-build, doc-required

#3419 doc: update links.txt
  applications/asset_tracker/README.rst
  applications/serial_lte_modem/doc/slm_description.rst
  doc/nrf/dm_code_base.rst
  doc/nrf/links.txt
  doc/nrf/nrfxlib.rst
  doc/nrf/releases/release-notes-1.4.0.rst
  doc/nrf/templates/sample_README.rst
  doc/nrf/ug_ble_controller.rst
  doc/nrf/ug_nrf52.rst
  samples/bluetooth/llpm/README.rst
  samples/mpsl/timeslot/README.rst
  samples/nrf9160/azure_fota/README.rst
  samples/nrf9160/azure_iot_hub/README.rst
  samples/nrf9160/lwm2m_client/README.rst
  samples/nrf9160/mqtt_simple/README.rst
  samples/zigbee/light_bulb/README.rst
  samples/zigbee/light_switch/README.rst
  samples/zigbee/network_coordinator/README.rst
Labels: CI-doc-build, doc-required

#3455 samples: openthread: Update HWFC description
  doc/nrf/shortcuts.txt
  samples/openthread/coap_client/README.rst
  samples/openthread/coap_server/README.rst
Labels: CI-doc-build, doc-required

#3417 doc: Updated release-notes-latest.rst for dev1 tag (crypto additions)
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3439 doc: improved description of how to program network sample using SES-NE
  doc/nrf/images/ses_nrf5340_appcore_set_active.png
  doc/nrf/images/ses_nrf5340_netcore_add_project.png
  doc/nrf/images/ses_nrf5340_netcore_conf.png
  doc/nrf/images/ses_nrf5340_netcore_download.png
  doc/nrf/images/ses_nrf5340_netcore_files.png
  doc/nrf/images/ses_nrf5340_netcore_flash_active.png
  doc/nrf/images/ses_nrf5340_netcore_new_project.png
  doc/nrf/images/ses_nrf5340_netcore_project_settings.png
  doc/nrf/images/ses_nrf5340_netcore_project_template.png
  doc/nrf/images/ses_nrf5340_netcore_set_active.png
  doc/nrf/ug_nrf5340.rst
Labels: CI-doc-build, doc-required

#3438 doc: updating documentation for AT#XHTTPCCON
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
Labels: CI-doc-build, doc-required

#3453 doc: add kernel changes from last upmerge
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3469 zigbee: Update release notes
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3402 doc: Add known issue with MPSL and external full/low swing lfclk src
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#3475 doc: release-notes-latest: Add changes in drivers from last upmerge
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3468 doc: Add Thread and Zigbee to the nRF53 user guide
  doc/nrf/ug_nrf5340.rst
Labels: CI-doc-build, doc-required

#3478 doc: release notes for 1.4.99 dev-tag: zephyr boards' section
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3464 doc: known_issues: update USB known issues for 1.4.99
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#3461 doc: release-notes-latest: Summarize networking changes from the upmerge
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3467 doc: release-notes: Summarize Bluetooth Mesh changes
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3477 doc: release notes for 1.4.99 dev-tag: zephyr architectures' section
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3488 manifest: update sdk-zephyr SHA
  west.yml
Labels: manifest, manifest-zephyr

#3491 pm: use 'merged_domains.hex' as 'hex_file' property in runner
  cmake/multi_image.cmake
  cmake/partition_manager.cmake
  west.yml
Labels: manifest, manifest-zephyr

#3465 doc: release-notes-latest: Summarize mcuboot changes from the upmerge
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3487 doc: release-notes: Summarize Bluetooth Host and Controller changes
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3486 doc: release-notes-latest: Summarize other changes from the upmerge
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3498 version: updating to v1.4.99
  VERSION
Labels: CI-doc-build

#3485 Ncsdk 7098 update doc after v1499 dev1
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-latest.rst
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: CI-doc-build, doc-required

#3323 partition_manager: Fix removing of empty spans
  scripts/partition_manager.py
Labels: bug

#3384 Bluetooth: Mesh: Don't reschedule LC srv transition timer
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: CI-ble-test, bug

#3395 Bluetooth: Mesh: Remove -ENOTSUP for unsupported pub
  include/bluetooth/mesh/gen_battery_cli.h
  include/bluetooth/mesh/gen_battery_srv.h
  include/bluetooth/mesh/gen_dtt_cli.h
  include/bluetooth/mesh/gen_dtt_srv.h
  include/bluetooth/mesh/gen_loc_cli.h
  include/bluetooth/mesh/gen_loc_srv.h
  include/bluetooth/mesh/gen_lvl_cli.h
  include/bluetooth/mesh/gen_lvl_srv.h
  include/bluetooth/mesh/gen_onoff_cli.h
  include/bluetooth/mesh/gen_onoff_srv.h
  include/bluetooth/mesh/gen_plvl_cli.h
  include/bluetooth/mesh/gen_plvl_srv.h
  include/bluetooth/mesh/gen_ponoff_cli.h
  include/bluetooth/mesh/gen_ponoff_srv.h
  include/bluetooth/mesh/gen_prop_cli.h
  include/bluetooth/mesh/gen_prop_srv.h
  include/bluetooth/mesh/light_ctl_cli.h
  include/bluetooth/mesh/light_ctl_srv.h
  include/bluetooth/mesh/light_ctrl_srv.h
  include/bluetooth/mesh/light_temp_srv.h
  include/bluetooth/mesh/lightness_cli.h
  include/bluetooth/mesh/lightness_srv.h
  include/bluetooth/mesh/time_cli.h
  include/bluetooth/mesh/time_srv.h
Labels: bug

#3340 Bluetooth: Mesh: Fix opcode lists for Sensors
  subsys/bluetooth/mesh/sensor_cli.c
  subsys/bluetooth/mesh/sensor_srv.c
Labels: CI-trusted-author, bug, external

#3456 Bluetooth: Mesh: Fix overflow on lvl_delta
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/light_temp_srv.c
  subsys/bluetooth/mesh/lightness_srv.c
Labels: bug

#3445 net: lib: azure_iot_hub: Improve internal connection state handling
  include/net/azure_iot_hub.h
  samples/nrf9160/azure_fota/src/main.c
  samples/nrf9160/azure_iot_hub/src/main.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_cloud_api.c
Labels: bug

#3400 samples: nrf9160: Increase MQTT keepalive timeout
  samples/nrf9160/aws_iot/README.rst
  samples/nrf9160/aws_iot/prj.conf
  samples/nrf9160/azure_iot_hub/README.rst
  samples/nrf9160/azure_iot_hub/prj.conf
  samples/nrf9160/cloud_client/README.rst
  samples/nrf9160/cloud_client/prj.conf
Labels: doc-required

#3457 Bluetooth: Mesh: Use clamp macro in mesh models
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/lightness_srv.c
Labels: enhancement

#3426 Bluetooth: Mesh: Fix Scene client function name typo
  subsys/bluetooth/mesh/scene_cli.c
Labels: CI-ble-test, bug

#3502 Bluetooth: Mesh: Add Scene prohibited value validation
  subsys/bluetooth/mesh/scene_srv.c
Labels: CI-trusted-author, external

#3474 Bluetooth: Mesh: Fix off by one error in tai_to_ts month calculation
  subsys/bluetooth/mesh/time_util.c
Labels: CI-ble-test, bug

#3454 Bluetooth: controller: Use BT_CTLR_DATA_LENGTH to enable support for...
  subsys/bluetooth/controller/hci_driver.c
Labels: CI-ble-test

#3424 Bluetooth: Mesh: Fix Light CTL Temperature
  include/bluetooth/mesh/light_ctl.h
  include/bluetooth/mesh/light_temp_srv.h
  subsys/bluetooth/mesh/light_ctl_internal.h
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_temp_srv.c
Labels: CI-ble-test, CI-trusted-author, external

#3182 event_manager: Describe events with dynamic size in doc
  include/event_manager.rst
Labels: doc-required

#3514 Bluetooth: Mesh: Follow up conflicting changes in Light CTL range
  subsys/bluetooth/mesh/light_ctl_cli.c
Labels: CI-ble-test, bug

#3506 spm: sample: Disable CONFIG_ASSERT to reduce image bloat
  samples/spm/prj.conf
Labels: CI-dfu-test, bug

#3473 Bluetooth: Mesh: Add all missing extension calls
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/lightness_srv.c
  subsys/bluetooth/mesh/scene_srv.c
Labels: CI-ble-test, bug

#3505 west.yml: Update sdk-zephyr to the latest version
  west.yml
Labels: manifest, manifest-zephyr

#3341 doc: bootloader: updated readme structure
  doc/nrf/ug_bootloader.rst
  include/fw_info.h
  samples/bootloader/README.rst
Labels: doc-required

#3501 doc: known_issues: add Thread known issue with UART in NCP sample
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
Labels: CI-doc-build, doc-required

#3507 manifest: Added default pin for serial recovery mode for nRF5340DK
  west.yml
Labels: manifest, manifest-mcuboot

#3511 west.yml: Update manifest for sdk-zephyr
  west.yml
Labels: manifest, manifest-zephyr

#3515 manifest: GNSS doc update
  west.yml
Labels: CI-doc-build, manifest, manifest-nrfxlib

#3431 net: lib: download_client: Add support for TCP receive timeout
  doc/nrf/releases/release-notes-latest.rst
  include/net/download_client.h
  subsys/net/lib/download_client/Kconfig
  subsys/net/lib/download_client/src/download_client.c
Labels: doc-required

#3347 manifest: update for no spm request read when no secure services
  west.yml
Labels: manifest, manifest-zephyr

#3517 doc: Add note to power optimization user guide
  doc/nrf/app_power_opt.rst
Labels: CI-doc-build, doc-required

#3530 samples: nrf9160: coap_client: Update default server URL
  samples/nrf9160/coap_client/Kconfig
  samples/nrf9160/coap_client/README.rst
Labels: doc-required

#3520 mcuboot: fill gaps in generated bins with 0xff instead of 0
  cmake/mcuboot.cmake
Labels: CI-ble-test, CI-desktop-test, CI-dfu-test, CI-thingy91-test, CI-thread-test, CI-zigbee-test

#3522 doc: update wpantund installation instructions
  doc/nrf/ug_thread_tools.rst
Labels: CI-doc-build, doc-required

#3528 doc: reorganize links.txt
  doc/nrf/links.txt
Labels: CI-doc-build, doc-required

#3537 doc: rename Alexa Gadgets sample
  samples/bluetooth/alexa_gadget/README.rst
Labels: CI-doc-build, doc-required

#3548 west.yml: pull in mdb runner fix
  west.yml
Labels: manifest, manifest-zephyr

#2896 mpsl: subsys: Add support for nrf21540_gpio and sky66112-11
  doc/nrf/links.txt
  doc/nrf/ug_app_dev.rst
  doc/nrf/ug_radio_fem.rst
  dts/bindings/radio_fem/generic-fem-two-ctrl-pins.yaml
  dts/bindings/radio_fem/skyworks,sky66112-11.yaml
  subsys/mpsl/CMakeLists.txt
  subsys/mpsl/Kconfig
  subsys/mpsl/Kconfig.fem
  subsys/mpsl/mpsl_fem.c
  subsys/mpsl/mpsl_fem_internal.h
  subsys/mpsl/mpsl_init.c
Labels: doc-required

#3492 manifest: Allow initiating LFCLK but do not wait for readiness
  subsys/mpsl/mpsl_init.c
  west.yml
Labels: CI-ble-test, CI-desktop-test, manifest

#3376 doc: update documentation for 1.4.1
  README.rst
  doc/nrf/conf.py
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-1.4.1.rst
  doc/nrf/shortcuts.txt
  doc/nrf/ug_dev_model.rst
  doc/versions.json
Labels: CI-doc-build, doc-required

#3550 west.yml: Update sdk-zephyr w/ hal_nordic
  west.yml
Labels: manifest, manifest-zephyr

#3551 manifest: Update tags for 1.4.1
  west.yml
Labels: manifest

#3408 manifest: update nrfxlib for MPSL and SoftDevice controller
  samples/mpsl/timeslot/src/main.c
  subsys/mpsl/mpsl_init.c
  west.yml
Labels: CI-ble-test, CI-desktop-test, manifest, manifest-nrfxlib

#3555 ci: update sh to 1.14.1 and arrow 0.17.0 in requirements-ci.txt
  scripts/requirements-ci.txt
Labels: CI-doc-build

#3547 doc: remove unsupported data types
  applications/serial_lte_modem/doc/MQTT_AT_commands.rst
Labels: CI-doc-build, doc-required

#3525 doc: warnings to notes
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/battery_charger.rst
  applications/nrf_desktop/doc/ble_state.rst
  applications/nrf_desktop/doc/dfu.rst
  applications/nrf_desktop/doc/hid_state.rst
  applications/nrf_desktop/doc/selector.rst
  doc/nrf/libraries/zigbee/lib_zigbee_shell.rst
  doc/nrf/libraries/zigbee/lib_zigbee_signal_handler.rst
  doc/nrf/ug_thread_architectures.rst
Labels: CI-doc-build, doc-required

#3436 net: lib: download_client: add option for setting TLS_HOSTNAME sockopt
  doc/nrf/releases/release-notes-latest.rst
  include/net/download_client.h
  subsys/net/lib/download_client/src/download_client.c
Labels: doc-required

#3562 partition_manager: Remove one_of from pm.yml.pcd configuration
  subsys/partition_manager/pm.yml.pcd
Labels: CI requested, CI-dfu-test, bug

#3534 Bluetooth: Mesh: Sensor type IDs doc cleaning up
  include/bluetooth/mesh/sensor_types.rst
Labels: doc-required

#3561 samples: nrf9160: gps: simplify flag check; use k_msleep
  samples/nrf9160/gps/src/main.c
Labels: CI-trusted-author, external

#3113 Port zigbee cli zcl ping command [KRKNWK-7706]
  doc/nrf/libraries/zigbee/lib_zigbee_shell.rst
  doc/nrf/releases/release-notes-latest.rst
  subsys/zigbee/CMakeLists.txt
  subsys/zigbee/cli/zigbee_cli.c
  subsys/zigbee/cli/zigbee_cli_cmd_bdb.c
  subsys/zigbee/cli/zigbee_cli_cmd_ping.c
  subsys/zigbee/cli/zigbee_cli_cmd_zcl.c
  subsys/zigbee/cli/zigbee_cli_cmd_zcl.h
  subsys/zigbee/cli/zigbee_cli_ctx_mgr.h
  subsys/zigbee/cli/zigbee_cli_ping_types.h
  subsys/zigbee/cli/zigbee_cli_utils.c
  subsys/zigbee/cli/zigbee_cli_utils.h
Labels: doc-required

#3519 applications: serial_lte_modem: add IP filtering for TCP/TLS server
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/TCPIP_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#3540 samples: Bluetooth: throughput: Use valid disconnect reason
  samples/bluetooth/throughput/src/main.c
Labels: CI-ble-test

#3536 doc: nRF53 UG: Add text about recovery
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

#3574 doc: fix include path to silence content warn
  samples/nrf9160/agps/README.rst
Labels: doc-required

#3527 Bluetooth: Mesh: Disable light control on all lightness changes
  subsys/bluetooth/mesh/lightness_srv.c
Labels: CI-ble-test, bug

#3297 doc: build documentation on GH actions
  .github/workflows/docbuild.yml
Labels: CI-doc-build, doc-required

#3557 west.yml: Update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib
