Repository nrfconnect/sdk-nrf, pull requests merged in 2020-08, with the labels that each got.

#2279 Pm subsys doc
  scripts/partition_manager/partition_manager.rst
Labels: doc-required

#2663 doc: upmerge: Add a section for other zephyr updates
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#2513 Bluetooth: Mesh: Sensor Server and Client sample
  include/bluetooth/mesh/sensor.h
  include/bluetooth/mesh/sensor_cli.h
  samples/bluetooth/mesh/sensor_client/CMakeLists.txt
  samples/bluetooth/mesh/sensor_client/README.rst
  samples/bluetooth/mesh/sensor_client/include/model_handler.h
  samples/bluetooth/mesh/sensor_client/prj.conf
  samples/bluetooth/mesh/sensor_client/sample.yaml
  samples/bluetooth/mesh/sensor_client/src/main.c
  samples/bluetooth/mesh/sensor_client/src/model_handler.c
  samples/bluetooth/mesh/sensor_server/CMakeLists.txt
  samples/bluetooth/mesh/sensor_server/README.rst
  samples/bluetooth/mesh/sensor_server/include/model_handler.h
  samples/bluetooth/mesh/sensor_server/prj.conf
  samples/bluetooth/mesh/sensor_server/sample.yaml
  samples/bluetooth/mesh/sensor_server/src/main.c
  samples/bluetooth/mesh/sensor_server/src/model_handler.c
  subsys/bluetooth/mesh/sensor.c
  subsys/bluetooth/mesh/sensor_cli.c
  subsys/bluetooth/mesh/sensor_srv.c
Labels: doc-required

#2658 doc: release-notes-latest: List changes in drivers from last upmerge
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#2690 doc: release-notes-latest: ARM and Boards' changes from the upmerge
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#2653 openthread: zigbee: lib: Extract ram power down function for common use
  CODEOWNERS
  include/ram_pwrdn.h
  include/ram_pwrdn.rst
  lib/CMakeLists.txt
  lib/Kconfig
  lib/ram_pwrdn/CMakeLists.txt
  lib/ram_pwrdn/Kconfig
  lib/ram_pwrdn/ram_pwrdn.c
  samples/openthread/coap_client/overlay-mtd.conf
  samples/openthread/coap_client/src/coap_client.c
  samples/zigbee/light_switch/prj.conf
  samples/zigbee/light_switch/src/main.c
  subsys/zigbee/common/zigbee_helpers.c
  subsys/zigbee/common/zigbee_helpers.h
Labels: doc-required

#2666 doc: release-notes: add zephyr commit 'git log' lines
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#2667 doc: release-notes-latest: added NCS specific extensions to Zephyr
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#2674 docs: add documentation on PM_SINGLE_IMAGE config
  scripts/partition_manager/partition_manager.rst
  subsys/partition_manager/Kconfig
Labels: doc-required

#2501 lib: adp536x: Fix return value of init function
  lib/adp536x/adp536x.c
Labels: bug

#2561 Doc: lib: lwm2m_carrier: OSAL documentation update
  lib/bin/lwm2m_carrier/lwm2m_carrier.rst
Labels: doc-required

#2558 Doc. Update module dependencies.
  applications/asset_tracker/README.rst
  samples/nrf9160/lwm2m_carrier/README.rst
Labels: doc-required

#2482 samples: bluetooth: adding direct_test_mode sample
  doc/nrf/images/bt_dtm.vsdx
  doc/nrf/images/bt_dtm_dut.svg
  doc/nrf/images/bt_dtm_engine.svg
  doc/nrf/includes/boardname_tables/sample_boardnames.txt
  doc/nrf/links.txt
  samples/bluetooth/direct_test_mode/CMakeLists.txt
  samples/bluetooth/direct_test_mode/README.rst
  samples/bluetooth/direct_test_mode/nrf5340pdk_nrf5340_cpunet.overlay
  samples/bluetooth/direct_test_mode/prj.conf
  samples/bluetooth/direct_test_mode/sample.yaml
  samples/bluetooth/direct_test_mode/src/dtm.c
  samples/bluetooth/direct_test_mode/src/dtm.h
  samples/bluetooth/direct_test_mode/src/dtm_hw.c
  samples/bluetooth/direct_test_mode/src/dtm_hw.h
  samples/bluetooth/direct_test_mode/src/main.c
Labels: doc-required

#2179 nrf_rpc: Remote Procedure Calls for nRF SoCs
  CODEOWNERS
  doc/nrf/includes/boardname_tables/sample_boardnames.txt
  doc/nrf/links.txt
  doc/nrf/samples.rst
  doc/nrf/ug_nrf5340.rst
  samples/nrf_rpc/entropy_nrf53/README.rst
  samples/nrf_rpc/entropy_nrf53/common_ids.h
  samples/nrf_rpc/entropy_nrf53/cpuapp/CMakeLists.txt
  samples/nrf_rpc/entropy_nrf53/cpuapp/prj.conf
  samples/nrf_rpc/entropy_nrf53/cpuapp/sample.yaml
  samples/nrf_rpc/entropy_nrf53/cpuapp/src/entropy_ser.c
  samples/nrf_rpc/entropy_nrf53/cpuapp/src/entropy_ser.h
  samples/nrf_rpc/entropy_nrf53/cpuapp/src/main.c
  samples/nrf_rpc/entropy_nrf53/cpunet/CMakeLists.txt
  samples/nrf_rpc/entropy_nrf53/cpunet/prj.conf
  samples/nrf_rpc/entropy_nrf53/cpunet/sample.yaml
  samples/nrf_rpc/entropy_nrf53/cpunet/src/entropy_ser.c
  samples/nrf_rpc/entropy_nrf53/cpunet/src/main.c
  subsys/CMakeLists.txt
  subsys/Kconfig
  subsys/nrf_rpc/CMakeLists.txt
  subsys/nrf_rpc/Kconfig
  subsys/nrf_rpc/include/nrf_rpc_log.h
  subsys/nrf_rpc/include/nrf_rpc_os.h
  subsys/nrf_rpc/include/nrf_rpc_rpmsg.h
  subsys/nrf_rpc/include/rp_ll.h
  subsys/nrf_rpc/nrf_rpc_os.c
  subsys/nrf_rpc/nrf_rpc_rpmsg.c
  subsys/nrf_rpc/rp_ll.c
Labels: DNM, doc-required
