Repository nrfconnect/sdk-nrf, pull requests merged in 2020-05, with the labels that each got.

#2198 scripts: hid_configurator: Requirements cleanup
  scripts/hid_configurator/configurator_cli.py
  scripts/hid_configurator/requirements.txt
  scripts/hid_configurator/requirements_gui.txt
  scripts/hid_configurator/requirements_music_led_stream.txt
Labels: backport backport-tmp

#2140 scripts: hid_configurator: Documentation cleanup
  scripts/hid_configurator/README.rst
Labels: doc-required

#2213 doc: move build type section from nRF Desktop
  applications/nrf_desktop/README.rst
  doc/nrf/gs_modifying.rst
  doc/nrf/ug_app_dev.rst
Labels: doc-required

#2192 ci: update pip requirements.txt
  scripts/requirements-ci.sh
  scripts/requirements-ci.txt
  scripts/requirements.txt
Labels: backport backport-tmp

#2254 applications: nrf_desktop: Update board names
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/hids.rst
  applications/nrf_desktop/doc/passkey.rst
  applications/nrf_desktop/doc/settings_loader.rst
Labels: doc-required

#2274 cmake: partition_manager: move pm patches from zephyr to nrf
  subsys/partition_manager/CMakeLists.txt
  subsys/partition_manager/Kconfig
  subsys/partition_manager/pm.yml.file_system
  subsys/partition_manager/pm.yml.settings
  west.yml
Labels: DNM

#2231 boards: Rename pca20035 to Thingy91
  applications/asset_tracker/Kconfig
  applications/asset_tracker/configuration/thingy91_nrf9160ns/pm_static.yml
  applications/asset_tracker/prj_thingy91_nrf9160ns.conf
  applications/asset_tracker/sample.yaml
  applications/asset_tracker/src/ui/Kconfig
  applications/connectivity_bridge/prj.conf
  applications/connectivity_bridge/sample.yaml
  applications/connectivity_bridge/src/main.c
  boards/arm/thingy91_nrf52840/Kconfig
  boards/arm/thingy91_nrf52840/Kconfig.board
  boards/arm/thingy91_nrf52840/Kconfig.defconfig
  boards/arm/thingy91_nrf52840/board.cmake
  boards/arm/thingy91_nrf52840/thingy91_nrf52840.dts
  boards/arm/thingy91_nrf52840/thingy91_nrf52840.yaml
  boards/arm/thingy91_nrf52840/thingy91_nrf52840_defconfig
  boards/arm/thingy91_nrf9160/CMakeLists.txt
  boards/arm/thingy91_nrf9160/Kconfig
  boards/arm/thingy91_nrf9160/Kconfig.board
  boards/arm/thingy91_nrf9160/Kconfig.defconfig
  boards/arm/thingy91_nrf9160/board.cmake
  boards/arm/thingy91_nrf9160/board_nonsecure.c
  boards/arm/thingy91_nrf9160/board_secure.c
  boards/arm/thingy91_nrf9160/thingy91_nrf9160.dts
  boards/arm/thingy91_nrf9160/thingy91_nrf9160.yaml
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_common.dts
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_defconfig
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_partition_conf.dts
  boards/arm/thingy91_nrf9160/thingy91_nrf9160ns.dts
  boards/arm/thingy91_nrf9160/thingy91_nrf9160ns.yaml
  boards/arm/thingy91_nrf9160/thingy91_nrf9160ns_defconfig
  boards/deprecated.cmake
  cmake/boilerplate.cmake
  doc/nrf/images/ses_thingy_configuration.png
  doc/nrf/ug_thingy91.rst
  lib/lte_link_control/lte_lc.c
  samples/nrf9160/cloud_client/sample.yaml
  samples/nrf9160/lwm2m_client/src/ui/Kconfig
  samples/nrf9160/nrf_cloud_agps/sample.yaml
  samples/sensor/bh1749/README.rst
  samples/sensor/bh1749/sample.yaml
  samples/usb/usb_uart_bridge/prj.conf
  samples/usb/usb_uart_bridge/sample.yaml
  samples/usb/usb_uart_bridge/src/main.c
  west.yml
Labels: doc-required

#2285 manifest: Point to the new repository locations
  Jenkinsfile
  west.yml
Labels: DNM

#2275 net: lib: add a FTP client library
  doc/nrf/links.txt
  include/net/ftp_client.h
  include/net/ftp_client.rst
  subsys/net/lib/CMakeLists.txt
  subsys/net/lib/Kconfig
  subsys/net/lib/ftp_client/CMakeLists.txt
  subsys/net/lib/ftp_client/Kconfig
  subsys/net/lib/ftp_client/src/ftp_client.c
  subsys/net/lib/ftp_client/src/ftp_commands.h
Labels: doc-required

#2226 zigbee: Add light switch sample
  doc/nrf/ug_zigbee.rst
  samples/zigbee/light_bulb/README.rst
  samples/zigbee/light_switch/CMakeLists.txt
  samples/zigbee/light_switch/README.rst
  samples/zigbee/light_switch/app.overlay
  samples/zigbee/light_switch/include/zb_mem_config_custom.h
  samples/zigbee/light_switch/prj.conf
  samples/zigbee/light_switch/sample.yaml
  samples/zigbee/light_switch/src/main.c
  samples/zigbee/network_coordinator/README.rst
  subsys/zigbee/common/zigbee_helpers.c
Labels: doc-required

#2282 doc: Remove note stating that BLE is not for production
  doc/nrf/libraries/lib_bluetooth_services.rst
  doc/nrf/samples.rst
  doc/nrf/shortcuts.txt
Labels: doc-required

#2311 Bluetooth: Mesh: User guide
  doc/nrf/links.txt
  doc/nrf/ug_bt_mesh.rst
  doc/nrf/user_guides.rst
Labels: doc-required

#2331 applications: nrf_desktop: Update schematics
  doc/nrf/images/nrf_desktop_arch.svg
  doc/nrf/images/nrf_desktop_arch_dmouse.svg
  doc/nrf/images/nrf_desktop_arch_dongle.svg
  doc/nrf/images/nrf_desktop_arch_gmouse.svg
  doc/nrf/images/nrf_desktop_arch_kbd.svg
Labels: doc-required

#2224 doc: Document dev tags
  doc/nrf/gs_installing.rst
  doc/nrf/ug_dev_model.rst
Labels: doc-required

#2299 samples: openthread: Add support for additional features
  samples/openthread/cli/README.rst
  samples/openthread/cli/overlay-ant_div.conf
  samples/openthread/cli/overlay-pa_lna.conf
  samples/openthread/cli/overlay-wifi_coex.conf
Labels: doc-required

#2270 Bluetooth: Mesh: Light Switch button description
  samples/bluetooth/mesh/light_switch/README.rst
Labels: doc-required

#2349 samples: nrf9160: aws_fota: Trim newline characters from client ID
  samples/nrf9160/aws_fota/src/main.c
Labels: bug

#2353 applications: asset_tracker: bsec: Update to new timeout API
  applications/asset_tracker/src/env_sensors/bsec.c
Labels: bug

#2344 net: lib: nrf_cloud: Only send disconnect event once
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
Labels: bug

#2215 samples: zigbee: Add overlay to enable 802154 FEM & WiFi Coex
  samples/zigbee/network_coordinator/README.rst
  samples/zigbee/network_coordinator/overlay-ant_div.conf
  samples/zigbee/network_coordinator/overlay-pa_lna.conf
  samples/zigbee/network_coordinator/overlay-wifi_coex.conf
Labels: doc-required

#2346 application: asset_tracker: Send A-GPS request with small delay
  applications/asset_tracker/src/main.c
Labels: bug

#1941 Samples: nRF5340: Empty firmware for application core
  CODEOWNERS
  doc/nrf/samples.rst
  doc/nrf/ug_nrf5340.rst
  samples/nrf5340/empty_app_core/CMakeLists.txt
  samples/nrf5340/empty_app_core/README.rst
  samples/nrf5340/empty_app_core/prj.conf
  samples/nrf5340/empty_app_core/sample.yaml
  samples/nrf5340/empty_app_core/src/main.c
  samples/peripheral/radio_test/README.rst
Labels: doc-required
