Repository nrfconnect/sdk-nrf, pull requests merged in 2020-01, with the labels that each got.

#1463 Replace nrf_inbuilt_key with new source library
  CODEOWNERS
  doc/nrf/links.txt
  include/modem_key_mgmt.h
  include/modem_key_mgmt.rst
  include/net/download_client.rst
  lib/CMakeLists.txt
  lib/Kconfig
  lib/bin/lwm2m_carrier/Kconfig
  lib/bin/lwm2m_carrier/doc/CHANGELOG.rst
  lib/bin/lwm2m_carrier/include/lwm2m_carrier.h
  lib/bin/lwm2m_carrier/include/lwm2m_os.h
  lib/bin/lwm2m_carrier/lib/cortex-m33/hard-float/liblwm2m_carrier.a
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  lib/modem_key_mgmt/CMakeLists.txt
  lib/modem_key_mgmt/Kconfig
  lib/modem_key_mgmt/modem_key_mgmt.c
  samples/nrf9160/aws_fota/Kconfig
  samples/nrf9160/aws_fota/src/main.c
  samples/nrf9160/lwm2m_carrier/prj.conf
  samples/nrf9160/lwm2m_carrier/src/main.c
  samples/nrf9160/lwm2m_client/prj.conf
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_security.c
  samples/nrf9160/lwm2m_client/src/main.c
  subsys/net/lib/nrf_cloud/Kconfig
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
  west.yml
Labels: doc-required

#1391 subsys: net: lib: Add AWS IoT library
  include/net/aws_iot.h
  include/net/aws_iot.rst
  include/net/cloud.h
  samples/nrf9160/aws_fota/README.rst
  subsys/net/lib/CMakeLists.txt
  subsys/net/lib/Kconfig
  subsys/net/lib/aws_iot/CMakeLists.txt
  subsys/net/lib/aws_iot/Kconfig
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: doc-required

#1707 net: download_client: allow dynamic fragment size based on protocol
  include/net/download_client.h
  include/net/download_client.rst
  subsys/net/lib/download_client/Kconfig
  subsys/net/lib/download_client/src/download_client.c
Labels: doc-required

#1626 net: lib: aws_fota: Allow resumption of IN_PROGRESS jobs
  subsys/net/lib/aws_fota/include/aws_fota_json.h
  subsys/net/lib/aws_fota/src/aws_fota.c
  subsys/net/lib/aws_fota/src/aws_fota_json.c
  tests/subsys/net/lib/aws_fota/aws_fota_json/src/main.c
Labels: enhancement

#1747 net: lib: fota_download: Fix invalid error message being printed
  subsys/net/lib/fota_download/src/fota_download.c
Labels: bug

#1708 doc: partition_manager: use "the" consistently
  scripts/partition_manager/partition_manager.rst
Labels: doc-required

#1743 doc: nrf: add section about logging to nRF5340 UG
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

#1757 applications: nrf_desktop: Update info about thread and memory
  applications/nrf_desktop/README.rst
Labels: doc-required

#1399 bootloader: provision: Implement invalidation of public keys
  samples/bootloader/README.rst
  samples/bootloader/pm.yml
  samples/bootloader/prj.conf
  samples/bootloader/src/main.c
  scripts/bootloader/provision.py
  subsys/bootloader/Kconfig
  subsys/bootloader/bl_validation/bl_validation.c
  subsys/bootloader/image/CMakeLists.txt
  subsys/bootloader/include/provision.h
  subsys/bootloader/provision/provision_flash.c
Labels: doc-required

#1758 net: lib: fota_download: Fix when last fragment write fails
  subsys/net/lib/fota_download/src/fota_download.c
Labels: bug

#1488 samples: nrf9160: add https_client sample
  doc/nrf/links.txt
  samples/nrf9160/https_client/CMakeLists.txt
  samples/nrf9160/https_client/README.rst
  samples/nrf9160/https_client/cert/GlobalSign-Root-CA-R2
  samples/nrf9160/https_client/prj.conf
  samples/nrf9160/https_client/sample.yaml
  samples/nrf9160/https_client/src/main.c
Labels: doc-required

#1770 partition_manager: allow 'one-of' dict instead of partition name
  scripts/partition_manager.py
  scripts/partition_manager/partition_manager.rst
Labels: doc-required

#1633 lib: sms: Add new SMS module
  CODEOWNERS
  include/sms.h
  include/sms.rst
  lib/CMakeLists.txt
  lib/Kconfig
  lib/sms/CMakeLists.txt
  lib/sms/Kconfig
  lib/sms/sms.c
Labels: doc-required

#1781 samples: NFC: Add wake up from system off by NFC
  doc/nrf/links.txt
  samples/nfc/system_off/CMakeLists.txt
  samples/nfc/system_off/README.rst
  samples/nfc/system_off/prj.conf
  samples/nfc/system_off/sample.yaml
  samples/nfc/system_off/src/main.c
Labels: doc-required
