Repository nrfconnect/sdk-nrf, pull requests merged in 2020-11, with the labels that each got.

#3262 Fix typo for Doxygen description of rsp parameter
  include/bluetooth/mesh/gen_onoff_cli.h
  include/bluetooth/mesh/gen_plvl_cli.h
  include/bluetooth/mesh/light_ctl_cli.h
  include/bluetooth/mesh/lightness_cli.h
Labels: CI-trusted-author

#3228 doc: known issues: Add simultaneous LE SC pairing issue
  doc/nrf/known_issues.rst
Labels: doc-required

#3289 manifest: SoftDevice Controller with configurable ext. scanning
  subsys/bluetooth/controller/hci_driver.c
  west.yml
Labels: manifest

#3226 doc: Add user guide for memory footprint optimization.
  doc/nrf/ug_app_dev.rst
Labels: CI-doc-build, doc-required

#3271 doc: add known-issues to nrf build
  .known-issues/doc/duplicate.conf
  CODEOWNERS
  doc/CMakeLists.txt
Labels: doc-required

#3266 doc: add information about doxygen subgroups to style guide
  doc/nrf/doc_styleguide.rst
Labels: CI-doc-build, doc-required

#3286 doc: fix stylesheet for Zephyr start page
  doc/static/css/common.css
Labels: CI-doc-build, doc-required

#3298 manifest: update nrfxlib for nrf security updates
  west.yml
Labels: bug, manifest

#3275 Zigbee: Update list of Known Issues
  doc/nrf/known_issues.rst
Labels: doc-required

#3309 doc: rework wiki links
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3272 scripts: splits requirements.txt into groups
  doc/CMakeLists.txt
  scripts/requirements-base.txt
  scripts/requirements-build.txt
  scripts/requirements-doc.txt
  scripts/requirements.txt
Labels: doc-required

#3319 manifest: nrfxlib with updated SoftDevice Controller
  subsys/bluetooth/controller/hci_driver.c
  west.yml
Labels: manifest

#3318 doc: Update Requirements section in NFC samples
  samples/nfc/record_text/README.rst
  samples/nfc/tag_reader/README.rst
  samples/nfc/tnep_poller/README.rst
  samples/nfc/tnep_tag/README.rst
  samples/nfc/writable_ndef_msg/README.rst
Labels: doc-required

#3285 application: serial_lte_modem: SLM restructuring
  applications/serial_lte_modem/CMakeLists.txt
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/sample.yaml
  applications/serial_lte_modem/src/ftp_c/CMakeLists.txt
  applications/serial_lte_modem/src/ftp_c/Kconfig
  applications/serial_lte_modem/src/ftp_c/slm_at_ftp.c
  applications/serial_lte_modem/src/ftp_c/slm_at_ftp.h
  applications/serial_lte_modem/src/gps/CMakeLists.txt
  applications/serial_lte_modem/src/gps/Kconfig
  applications/serial_lte_modem/src/gps/slm_at_gps.c
  applications/serial_lte_modem/src/gps/slm_at_gps.h
  applications/serial_lte_modem/src/http_c/CMakeLists.txt
  applications/serial_lte_modem/src/http_c/Kconfig
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/http_c/slm_at_httpc.h
  applications/serial_lte_modem/src/mqtt_c/CMakeLists.txt
  applications/serial_lte_modem/src/mqtt_c/Kconfig
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.h
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.h
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.h
  applications/serial_lte_modem/src/tcpip_proxy/CMakeLists.txt
  applications/serial_lte_modem/src/tcpip_proxy/Kconfig
Labels: doc-required

#3317 Bluetooth: Mesh: Check DTT max value in dtt_cli
  include/bluetooth/mesh/model_types.h
  subsys/bluetooth/mesh/gen_dtt_cli.c
Labels: bug

#3273 Bluetooth: Mesh: Fix time client model
  include/bluetooth/mesh/time_cli.h
  subsys/bluetooth/mesh/time_cli.c
Labels: CI-trusted-author, external

#3336 Bluetooth: Mesh: Tests: Use new time client init macro
  tests/subsys/bluetooth/mesh/models/src/main.c
Labels: bug

#3242 known_issue: add known issue about project out of date
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#3254 doc: add OpenThread known issues for 1.4.0
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#3269 doc: Add known issue on SES-NE
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#3280 doc: known issues: Add LL control procedure busy issue
  doc/nrf/known_issues.rst
Labels: doc-required

#3326 doc: updates to known issues page
  doc/nrf/includes/filter.js
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#3116 lib: bsdlib: Translate MSG_WAITALL flag
  lib/bsdlib/nrf91_sockets.c
  west.yml
Labels: manifest

#3330 manifest: update softdevice controller and mpsl
  doc/nrf/known_issues.rst
  west.yml
Labels: doc-required, manifest

#3299 samples: openthread: FLASH/RAM optimization
  doc/nrf/ug_app_dev.rst
  doc/nrf/ug_thread_configuring.rst
  doc/nrf/ug_thread_ot_memory.rst
  samples/openthread/cli/README.rst
  samples/openthread/cli/harness/overlay-cert.conf
  samples/openthread/cli/overlay-minimal_multiprotocol.conf
  samples/openthread/cli/overlay-minimal_singleprotocol.conf
  samples/openthread/cli/src/ble.c
  samples/openthread/coap_client/overlay-mtd.conf
  samples/openthread/coap_client/overlay-multiprotocol_ble.conf
  samples/openthread/coap_client/prj.conf
  samples/openthread/common/overlay-ot-defaults.conf
Labels: doc-required

#3292 doc: restructure user guides section
  doc/nrf/app_boards.rst
  doc/nrf/app_build_system.rst
  doc/nrf/app_memory.rst
  doc/nrf/dm_adding_code.rst
  doc/nrf/dm_code_base.rst
  doc/nrf/dm_glossary.rst
  doc/nrf/dm_managing_code.rst
  doc/nrf/gs_installing.rst
  doc/nrf/gs_modifying.rst
  doc/nrf/gs_programming.rst
  doc/nrf/index.rst
  doc/nrf/protocols.rst
  doc/nrf/releases/release-notes-1.1.0.rst
  doc/nrf/releases/release-notes-1.3.0.rst
  doc/nrf/ug_app_dev.rst
  doc/nrf/ug_bt_mesh.rst
  doc/nrf/ug_dev_model.rst
  doc/nrf/ug_multiprotocol_support.rst
  doc/nrf/ug_nfc.rst
  doc/nrf/ug_nrf52.rst
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_nrf91.rst
  doc/nrf/ug_nrf9160.rst
  doc/nrf/ug_thread.rst
  doc/nrf/ug_zigbee.rst
  doc/nrf/user_guides.rst
  samples/openthread/cli/README.rst
Labels: CI-doc-build, doc-required

#3324 doc: add support for development release pages
  doc/static/js/ncs.js
Labels: doc-required

#3337 bootloader: clear timer interrupts before booting next image
  doc/nrf/releases/release-notes-latest.rst
  subsys/bootloader/bl_boot/bl_boot.c
Labels: doc-required

#3259 doc: known issues: Add bluetooth known issues for 1.4.0
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#3255 known_issue: add known issue about child image overlay
  doc/nrf/known_issues.rst
Labels: doc-required

#3346 manifest: ZBOSS link fix
  west.yml
Labels: manifest

#3295 samples: ASSERT to not include all info
  samples/Kconfig
Labels: RFC

#3355 lib: bin: lwm2m_carrier: update to version 0.10.1
  lib/bin/lwm2m_carrier/doc/CHANGELOG.rst
  lib/bin/lwm2m_carrier/lib/cortex-m33/hard-float/liblwm2m_carrier.a
Labels: doc-required

#3342 doc: Update Requirements section in samples
  samples/debug/ppi_trace/README.rst
  samples/event_manager/README.rst
  samples/nrf5340/empty_app_core/README.rst
  samples/nrf9160/lte_ble_gateway/README.rst
  samples/nrf9160/lwm2m_carrier/README.rst
  samples/nrf9160/secure_services/README.rst
  samples/peripheral/lpuart/README.rst
Labels: doc-required

#3358 net: lib: azure_iot_hub: Fix parsing of direct method request ID
  include/net/azure_iot_hub.h
  samples/nrf9160/azure_fota/src/main.c
  samples/nrf9160/azure_iot_hub/src/main.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
Labels: bug

#3352 samples: nrf9160: aws_iot: Add static keyword
  samples/nrf9160/aws_iot/src/main.c
Labels: bug

#3362 doc: release_notes_latest fix
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3343 doc: Update Requirements section in Bluetooth samples
  doc/nrf/includes/sample_board_rows.txt
  samples/bluetooth/alexa_gadget/README.rst
  samples/bluetooth/central_bas/README.rst
  samples/bluetooth/central_dfu_smp/README.rst
  samples/bluetooth/central_hids/README.rst
  samples/bluetooth/central_hr_coded/README.rst
  samples/bluetooth/central_nfc_pairing/README.rst
  samples/bluetooth/central_uart/README.rst
  samples/bluetooth/direct_test_mode/README.rst
  samples/bluetooth/enocean/README.rst
  samples/bluetooth/llpm/README.rst
  samples/bluetooth/mesh/light/README.rst
  samples/bluetooth/mesh/light_switch/README.rst
  samples/bluetooth/peripheral_bms/README.rst
  samples/bluetooth/peripheral_gatt_dm/README.rst
  samples/bluetooth/peripheral_hids_keyboard/README.rst
  samples/bluetooth/peripheral_hids_mouse/README.rst
  samples/bluetooth/peripheral_lbs/README.rst
  samples/bluetooth/peripheral_nfc_pairing/README.rst
  samples/bluetooth/peripheral_uart/README.rst
  samples/bluetooth/shell_bt_nus/README.rst
  samples/bluetooth/throughput/README.rst
Labels: doc-required

#3371 net: lib: aws_iot: Add last will topic and message.
  samples/nrf9160/aws_iot/prj.conf
  subsys/net/lib/aws_iot/Kconfig
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: enhancement

#3238 samples: nrf9160: download: add sha256 hash check
  samples/nrf9160/download/Kconfig
  samples/nrf9160/download/README.rst
  samples/nrf9160/download/src/main.c
Labels: doc-required

#3338 bsdlib: manifest update for bsdlib gps doc update
  west.yml
Labels: CI-doc-build, manifest

#3414 doc: known issues: remove lines
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#3367 netboot: remove sample.yaml as stand alone build is not supported
  doc/nrf/known_issues.rst
  samples/nrf5340/netboot/sample.yaml
Labels: doc-required

#3348 doc: zigbee: add links to ncp host package
  doc/nrf/images/zigbee_platform_design_ncp.svg
  doc/nrf/images/zigbee_platform_design_ncp.vsdx
  doc/nrf/links.txt
  doc/nrf/shortcuts.txt
  doc/nrf/ug_zigbee_architectures.rst
  doc/nrf/ug_zigbee_tools.rst
Labels: CI-doc-build, doc-required

#3351 doc: add a deprecation note for nRF5340 PDK
  doc/nrf/links.txt
  doc/nrf/ug_nrf5340.rst
Labels: CI-doc-build, doc-required

#3418 doc: Update release-notes-latest.rst with Thread additions
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3413 doc: changed nRF5340 PDK to nRF5340 DK
  doc/nrf/ug_multi_image.rst
  doc/nrf/ug_nrf5340.rst
  samples/bluetooth/throughput/README.rst
  samples/mpsl/timeslot/README.rst
  samples/nrf5340/netboot/README.rst
  samples/nrf_rpc/entropy_nrf53/README.rst
Labels: CI-doc-build, doc-required
