Repository nrfconnect/sdk-nrf, pull requests merged in 2020-03, with the labels that each got.

#1861 lib: Add date_time library
  CODEOWNERS
  include/date_time.h
  include/date_time.rst
  lib/CMakeLists.txt
  lib/Kconfig
  lib/date_time/CMakeLists.txt
  lib/date_time/Kconfig
  lib/date_time/date_time.c
Labels: doc-required

#1980 manifest: Fix for devices which are not using fprotect in MCUBoot
  west.yml
Labels: bug

#1983 manifest: Update MPSL + BLE controller
  west.yml
Labels: DNM

#1971 sample: nrf9160: serial_lte_modem TCP/IP enhancement
  samples/nrf9160/serial_lte_modem/Kconfig
  samples/nrf9160/serial_lte_modem/README.rst
  samples/nrf9160/serial_lte_modem/src/slm_at_host.c
  samples/nrf9160/serial_lte_modem/src/slm_at_host.h
  samples/nrf9160/serial_lte_modem/src/slm_at_tcpip.c
Labels: doc-required

#1968 doc: add a Working with nRF52 user guide
  doc/nrf/links.txt
  doc/nrf/samples.rst
  doc/nrf/ug_esb.rst
  doc/nrf/ug_nrf52.rst
  doc/nrf/user_guides.rst
Labels: doc-required

#1991 net: lib: aws_fota: Fix debug print on not properly null terminated buff
  subsys/net/lib/aws_fota/src/aws_fota.c
Labels: bug

#2012 applications: nrf_desktop: Add Device Description documentation
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/dev_descr.rst
Labels: doc-required

#2013 applications: nrf_desktop: Add partition configuration doc
  applications/nrf_desktop/README.rst
Labels: doc-required

#2028 Bluetooth: gatt_dm: Fix discovery for services with no characteristics
  subsys/bluetooth/gatt_dm.c
Labels: bug

#2014 applications: nrf_desktop: Add passkey documentation
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/buttons_sim.rst
  applications/nrf_desktop/doc/passkey.rst
Labels: doc-required

#1924 Bluetooth: Mesh: Sensor models
  include/bluetooth/mesh.rst
  include/bluetooth/mesh/models.h
  include/bluetooth/mesh/models.rst
  include/bluetooth/mesh/properties.h
  include/bluetooth/mesh/sensor.h
  include/bluetooth/mesh/sensor.rst
  include/bluetooth/mesh/sensor_cli.h
  include/bluetooth/mesh/sensor_models.rst
  include/bluetooth/mesh/sensor_srv.h
  include/bluetooth/mesh/sensor_types.h
  include/bluetooth/mesh/sensor_types.rst
  subsys/bluetooth/mesh/CMakeLists.txt
  subsys/bluetooth/mesh/Kconfig.models
  subsys/bluetooth/mesh/Kconfig.sensor
  subsys/bluetooth/mesh/sensor.c
  subsys/bluetooth/mesh/sensor.h
  subsys/bluetooth/mesh/sensor_cli.c
  subsys/bluetooth/mesh/sensor_srv.c
  subsys/bluetooth/mesh/sensor_types.c
  subsys/bluetooth/mesh/sensor_types.ld
Labels: doc-required

#2020 applications: nrf_desktop: Add ble_state documentation
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/ble_adv.rst
  applications/nrf_desktop/doc/ble_discovery.rst
  applications/nrf_desktop/doc/ble_latency.rst
  applications/nrf_desktop/doc/ble_scan.rst
  applications/nrf_desktop/doc/ble_state.rst
  applications/nrf_desktop/doc/hid_forward.rst
  applications/nrf_desktop/doc/power_manager.rst
Labels: doc-required

#2044 applications: nrf_desktop: Add BLE latency documentation
  applications/nrf_desktop/doc/ble_latency.rst
Labels: doc-required

#2047 applications: nrf_desktop: Add settings loader documentation
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/settings_loader.rst
Labels: doc-required

#1942 Use manifest imports
  doc/nrf/ug_dev_model.rst
  scripts/requirements.txt
  scripts/west_commands/ncs_commands.py
  west.yml
Labels: doc-required

#2051 applications: nrf_desktop: Add info module documentation
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/info.rst
Labels: doc-required

#2054 applications: nrf_desktop: Update config channel doc
  applications/nrf_desktop/doc/config_channel.rst
Labels: doc-required
