Repository nrfconnect/sdk-nrf, pull requests merged in 2021-04, with the labels that each got.

#4256 caf: ble_state: Broadcast initial connection parameters
  subsys/caf/modules/ble_state.c
Labels: CI-desktop-test

#4252 manifest: Update SoftDevice Controller and MPSL
  west.yml
Labels: CI-ble-test, manifest, manifest-nrfxlib

#4195 zigbee: Fix API mismatch in zb_secur_ic_add
  subsys/zigbee/cli/zigbee_cli_cmd_bdb.c
Labels: CI-zigbee-test

#4240 manifest: update nrfxlib
  west.yml
Labels: manifest, manifest-nrfxlib

#4177 doc: align installing manually guide sections
  doc/nrf/gs_assistant.rst
  doc/nrf/gs_installing.rst
Labels: CI-doc-build, doc-required

#4259 doc: caf: add ble_state diagram
  doc/nrf/images/caf_ble_state_transitions.svg
  doc/nrf/images/caf_ble_state_transitions.vsdx
  doc/nrf/images/caf_buttons_states.svg
  doc/nrf/images/caf_buttons_states.vsdx
  include/caf/ble_state.rst
Labels: CI-doc-build, doc-required

#4142 applications: serial_lte_modem: Add URC for FOTA
  applications/serial_lte_modem/CMakeLists.txt
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/main.c
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_fota.c
  applications/serial_lte_modem/src/slm_at_fota.h
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_settings.c
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#4204 doc: zigbee: changes for NCS v1.5.1
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, DNM, doc-required

#4255 connectedhomeip: update Project CHIP revision
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-latest.rst
  samples/connectedhomeip/light_bulb/CMakeLists.txt
  samples/connectedhomeip/light_bulb/boards/nrf52840dk_nrf52840.overlay
  samples/connectedhomeip/light_bulb/prj.conf
  samples/connectedhomeip/light_bulb/src/app_task.cpp
  samples/connectedhomeip/light_bulb/src/chip_project_config.h
  samples/connectedhomeip/light_bulb/src/gen/CHIPClientCallbacks.cpp
  samples/connectedhomeip/light_bulb/src/gen/CHIPClientCallbacks.h
  samples/connectedhomeip/light_bulb/src/gen/CHIPClustersObjc.h
  samples/connectedhomeip/light_bulb/src/gen/CHIPClustersObjc.mm
  samples/connectedhomeip/light_bulb/src/gen/IMClusterCommandHandler.cpp
  samples/connectedhomeip/light_bulb/src/gen/af-gen-event.h
  samples/connectedhomeip/light_bulb/src/gen/af-structs.h
  samples/connectedhomeip/light_bulb/src/gen/attribute-id.h
  samples/connectedhomeip/light_bulb/src/gen/attribute-size.h
  samples/connectedhomeip/light_bulb/src/gen/attribute-type.h
  samples/connectedhomeip/light_bulb/src/gen/call-command-handler.cpp
  samples/connectedhomeip/light_bulb/src/gen/callback-stub.cpp
  samples/connectedhomeip/light_bulb/src/gen/callback.h
  samples/connectedhomeip/light_bulb/src/gen/client-command-macro.h
  samples/connectedhomeip/light_bulb/src/gen/cluster-id.h
  samples/connectedhomeip/light_bulb/src/gen/command-id.h
  samples/connectedhomeip/light_bulb/src/gen/endpoint_config.h
  samples/connectedhomeip/light_bulb/src/gen/enums.h
  samples/connectedhomeip/light_bulb/src/gen/gen_config.h
  samples/connectedhomeip/light_bulb/src/gen/print-cluster.h
  samples/connectedhomeip/light_bulb/src/main.cpp
  samples/connectedhomeip/light_switch/prj.conf
  samples/connectedhomeip/light_switch/src/light_switch.cpp
  samples/connectedhomeip/lock/CMakeLists.txt
  samples/connectedhomeip/lock/prj.conf
  samples/connectedhomeip/lock/src/app_task.cpp
  samples/connectedhomeip/lock/src/chip_project_config.h
  samples/connectedhomeip/lock/src/gen/CHIPClientCallbacks.cpp
  samples/connectedhomeip/lock/src/gen/CHIPClientCallbacks.h
  samples/connectedhomeip/lock/src/gen/CHIPClustersObjc.h
  samples/connectedhomeip/lock/src/gen/CHIPClustersObjc.mm
  samples/connectedhomeip/lock/src/gen/IMClusterCommandHandler.cpp
  samples/connectedhomeip/lock/src/gen/af-gen-event.h
  samples/connectedhomeip/lock/src/gen/af-structs.h
  samples/connectedhomeip/lock/src/gen/attribute-id.h
  samples/connectedhomeip/lock/src/gen/attribute-size.h
  samples/connectedhomeip/lock/src/gen/attribute-type.h
  samples/connectedhomeip/lock/src/gen/call-command-handler.cpp
  samples/connectedhomeip/lock/src/gen/callback-stub.cpp
  samples/connectedhomeip/lock/src/gen/callback.h
  samples/connectedhomeip/lock/src/gen/client-command-macro.h
  samples/connectedhomeip/lock/src/gen/cluster-id.h
  samples/connectedhomeip/lock/src/gen/command-id.h
  samples/connectedhomeip/lock/src/gen/endpoint_config.h
  samples/connectedhomeip/lock/src/gen/enums.h
  samples/connectedhomeip/lock/src/gen/gen_config.h
  samples/connectedhomeip/lock/src/gen/print-cluster.h
  samples/connectedhomeip/lock/src/main.cpp
  west.yml
Labels: CI-chip-test, doc-required, manifest, manifest-connectedhomeip

#4261 applications: asset_tracker_v2: Fix opcode handling in lib json_common.
  applications/asset_tracker_v2/src/cloud/cloud_codec/aws_iot_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_common.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_common.h
Labels: bug

#4260 connectedhomeip: change pigweed location
  west.yml
Labels: manifest, manifest-connectedhomeip

#4241 Known Issues: Add known bluetooth issues
  doc/nrf/known_issues.rst
Labels: doc-required

#4267 applications: asset_tracker_v2: Use correct Kconfig option name.
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
Labels: bug

#4263 [v1.5-branch]: manifest: Update zephyr revision
  west.yml
Labels: CI-ble-test, manifest, manifest-zephyr

#4277 mpsl: Fix FEM compilation warning
  subsys/mpsl/mpsl_fem.c
Labels: CI-ble-test

#4276 doc: chip: update GN installation steps
  doc/nrf/gs_installing.rst
Labels: CI-doc-build, doc-required

#4281 zigbee: Set USB transport for NCP built on nRF52 dongle [KRKNWK-9100]
  samples/zigbee/ncp/CMakeLists.txt
  samples/zigbee/ncp/README.rst
Labels: doc-required

#4293 doc: connectedhomeip: release notes update for 1.5.1
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#4264 manifest: Update hal nordic repo
  west.yml
Labels: manifest, manifest-hal_nordic

#4287 tests: disable null pointer detection for tests
  tests/drivers/fprotect/positive/prj.conf
  tests/subsys/bootloader/bl_crypto/prj.conf
  tests/subsys/bootloader/bl_validation/prj.conf
  tests/subsys/bootloader/bl_validation_neg/prj.conf
Labels: CI-dfu-test

#4294 tests: bump size of provision to ensure page alignment of s1
  tests/subsys/bootloader/bl_validation_neg/child_image/b0.conf
  tests/subsys/fw_info/child_image/b0.conf
Labels: CI-dfu-test

#4280 samples: bluetooth: Add information to documentation.
  samples/bluetooth/central_hr_coded/README.rst
  samples/bluetooth/peripheral_hr_coded/README.rst
Labels: doc-required

#4248 net: lib: nrf_cloud: Add FOTA documentation
  applications/asset_tracker/README.rst
  doc/nrf/links.txt
  include/net/nrf_cloud.rst
Labels: CI-dfu-test, doc-required

#4279 doc: expanding toolchain manager installation info
  doc/nrf/gs_assistant.rst
  doc/nrf/gs_programming.rst
  doc/nrf/images/gs-assistant_tm.png
  doc/nrf/images/gs-assistant_tm_dropdown.png
  doc/nrf/images/gs-assistant_tm_installed.png
Labels: CI-doc-build, doc-required

#4308 tests: zigbee: Fix path to ZBOSS include dir
  tests/subsys/zigbee/osif/crypto/CMakeLists.txt
  tests/subsys/zigbee/osif/serial/serial_async_api/CMakeLists.txt
  tests/subsys/zigbee/osif/serial/serial_basic_api/CMakeLists.txt
  tests/subsys/zigbee/osif/serial/serial_via_logger/CMakeLists.txt
  tests/subsys/zigbee/osif/timer/CMakeLists.txt
Labels: CI-zigbee-test

#4317 net: lib: aws_fota: Reset fota_state variable upon download failure
  subsys/net/lib/aws_fota/src/aws_fota.c
Labels: CI-dfu-test, bug

#4316 doc: zigbee: update links to NCP Host
  doc/nrf/links.txt
  doc/nrf/ug_zigbee_architectures.rst
  doc/nrf/ug_zigbee_tools.rst
  samples/zigbee/ncp/README.rst
Labels: CI-doc-build, doc-required

#4304 doc: Update doc for 1.5.1
  README.rst
  doc/nrf/conf.py
  doc/nrf/dm_adding_code.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-1.5.1.rst
  doc/nrf/releases/release-notes-latest.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

#4265 doc: Update known issues for 1.5.1
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
Labels: doc-required

#4246 applications: asset_tracker: Add shutdown reason to shutdown requests.
  applications/asset_tracker_v2/README.rst
  applications/asset_tracker_v2/src/events/util_module_event.h
  applications/asset_tracker_v2/src/led/led.h
  applications/asset_tracker_v2/src/led/led_pwm.c
  applications/asset_tracker_v2/src/modules/ui_module.c
  applications/asset_tracker_v2/src/modules/util_module.c
Labels: doc-required

#4242 manifest: Update sdk-zephyr revision
  west.yml
Labels: CI-all-test, manifest, manifest-zephyr

#4274 applications: serial_lte_modem Remove TCP inactivity timer
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
Labels: doc-required

#4295 samples: zigbee: Add scenes to light bulb sample
  samples/zigbee/light_bulb/CMakeLists.txt
  samples/zigbee/light_bulb/prj.conf
  samples/zigbee/light_bulb/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/light_bulb/src/main.c
  samples/zigbee/light_bulb/src/zcl_scenes.c
  samples/zigbee/light_bulb/src/zcl_scenes.h
Labels: CI-zigbee-test

#4319 doc: Mesh UG main page update
  doc/nrf/ug_bt_mesh.rst
  doc/nrf/ug_bt_mesh_overview.rst
  doc/nrf/ug_bt_mesh_supported_features.rst
Labels: CI-doc-build, doc-required

#4307 doc: gs: add tool examples for PATH
  doc/nrf/gs_installing.rst
Labels: CI-doc-build, doc-required

#4309 doc: Add 1.5.1 to master
  README.rst
  doc/nrf/dm_adding_code.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-1.5.1.rst
  doc/nrf/shortcuts.txt
  doc/versions.json
Labels: doc-required

#4289 manifest: update sdk-zephyr
  west.yml
Labels: CI-ble-test, manifest, manifest-zephyr

#4342 doc: add zigbee ecosystem compatibility guide
  doc/nrf/ug_zigbee.rst
  doc/nrf/ug_zigbee_other_ecosystems.rst
Labels: CI-doc-build, doc-required

#4080 lib: at_cmd_parser: Unsigned int and unsigned short support
  doc/nrf/releases/release-notes-latest.rst
  include/modem/at_cmd_parser.rst
  include/modem/at_params.h
  lib/at_cmd_parser/at_cmd_parser.c
  lib/at_cmd_parser/at_params.c
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  lib/modem_info/modem_info.c
  lib/modem_info/modem_info_params.c
  tests/lib/at_cmd_parser/at_cmd_parser/src/main.c
  tests/lib/at_cmd_parser/at_params/src/main.c
  tests/lib/at_cmd_parser/at_utils/src/main.c
Labels: doc-required

#4358 net: openthread: increase `ot_radio_workq` stack size for nRF53
  subsys/net/openthread/Kconfig
Labels: CI-thread-test

#4288 crypto: tests: Fixed unsafe hex2bin calls in crypto test
  tests/crypto/src/common_test.c
  tests/crypto/src/common_test.h
  tests/crypto/test_cases/test_aead.c
  tests/crypto/test_cases/test_aes_cbc.c
  tests/crypto/test_cases/test_aes_cbc_mac.c
  tests/crypto/test_cases/test_aes_ctr.c
  tests/crypto/test_cases/test_aes_ecb.c
  tests/crypto/test_cases/test_aes_ecb_mac.c
  tests/crypto/test_cases/test_ecdh.c
  tests/crypto/test_cases/test_ecdsa.c
  tests/crypto/test_cases/test_ecjpake.c
  tests/crypto/test_cases/test_hkdf.c
  tests/crypto/test_cases/test_hmac.c
  tests/crypto/test_cases/test_sha_256.c
  tests/crypto/test_cases/test_sha_512.c
  tests/crypto/testcase.yaml
Labels: CI-crypto-test

#4357 lib: at_cmd: init guard
  lib/at_cmd/at_cmd.c
Labels: CI-thingy91-test

#4236 doc: thread: documentation fixes
  doc/nrf/links.txt
  doc/nrf/ug_logging.rst
  doc/nrf/ug_thread.rst
  doc/nrf/ug_thread_architectures.rst
  doc/nrf/ug_thread_certification.rst
  doc/nrf/ug_thread_commissioning.rst
  doc/nrf/ug_thread_configuring.rst
  doc/nrf/ug_thread_ot_integration.rst
  doc/nrf/ug_thread_ot_memory.rst
  doc/nrf/ug_thread_overview.rst
  doc/nrf/ug_thread_supported_features.rst
  doc/nrf/ug_thread_tools.rst
  doc/nrf/ug_thread_vendor_hooks.rst
  samples/openthread/cli/README.rst
  samples/openthread/coap_client/README.rst
  samples/openthread/coprocessor/README.rst
Labels: CI-doc-build, doc-required

#4243 doc: release-notes-latest: Summarize networking changes from Zephyr
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required, doc-upmerge

#4350 manifest: sync HomeKit master with v1.5.1
  west.yml
Labels: CI-homekit-test, manifest, manifest-homekit

#4325 manifest: update sdk-zephyr
  west.yml
Labels: CI-ble-test, manifest, manifest-zephyr

#4380 doc: thread: clean up tools section
  doc/nrf/links.txt
  doc/nrf/ug_thread_tools.rst
Labels: doc-required

#4364 doc: release-notes-latest: changes in FS and stream_flash from upmerge 20210305
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required, doc-upmerge

#4339 net: lib: nrf_cloud: Add device/client id details
  include/net/nrf_cloud.rst
Labels: CI-dfu-test, CI-doc-build, doc-required

#4393 doc: ensure consistency in links.txt
  doc/nrf/links.txt
Labels: CI-doc-build, doc-required

#4347 known_issue: Document ECC stack overflow issue
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#4362 Bluetooth: Mesh: scheduler setup server pointer has been removed
  include/bluetooth/mesh/scheduler_srv.h
  subsys/bluetooth/mesh/scheduler_srv.c
Labels: CI-ble-test, bug

#4400 doc: Fix link in Asset Tracker v2 documentation
  applications/asset_tracker_v2/README.rst
  doc/nrf/links.txt
Labels: doc-required

#4369 net: lib: azure_fota: Fix version string comparison
  subsys/net/lib/azure_fota/azure_fota.c
Labels: CI-boot-dfu-test

#4394 Bluetooth: Mesh: Add a note about min and max hue values
  include/bluetooth/mesh/light_hue_srv.rst
Labels: CI-doc-build, doc-required

#4338 doc: gs: add updating page
  doc/nrf/dm_managing_code.rst
  doc/nrf/getting_started.rst
  doc/nrf/gs_installing.rst
  doc/nrf/gs_recommended_versions.rst
  doc/nrf/gs_updating.rst
Labels: CI-doc-build, doc-required

#4373 Bluetooth: Mesh: Add persistence for schedule register
  include/bluetooth/mesh/scheduler_srv.rst
  subsys/bluetooth/mesh/scheduler_srv.c
Labels: CI-mesh-test, doc-required

#4410 lib: pelion: Disable mbedtls prompt off
  lib/pelion/Kconfig
Labels: CI-thread-test

#4411 labeler.yml: Exclude mesh from CI-ble-test and CI-homekit-test rules
  .github/labeler.yml
Labels: CI-disable

#4337 doc: GSA does not support building with west
  doc/nrf/gs_assistant.rst
Labels: doc-required

#4353 doc: release-notes-latest: Add changes in drivers from upmerge 20210305
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required, doc-upmerge

#4406 lib: pdn: PDN connection authentication fix
  lib/pdn/Kconfig
  lib/pdn/pdn.c
Labels: CI-ble-test, CI-homekit-test, CI-thread-test

#4390 Zigbee: Add integration platforms to Zigbee samples
  samples/zigbee/light_bulb/sample.yaml
  samples/zigbee/light_switch/sample.yaml
  samples/zigbee/ncp/sample.yaml
  samples/zigbee/network_coordinator/sample.yaml
Labels: CI-zigbee-test

#4149 doc: fmfu_smp_svr fixing variable for DTC overlay
  samples/nrf9160/fmfu_smp_svr/README.rst
Labels: CI-doc-build, doc-required

#4379 net: openthread: increase openthread stack sizes
  doc/nrf/ug_thread_configuring.rst
  samples/openthread/cli/harness/overlay-cert.conf
  samples/openthread/cli/overlay-minimal_multiprotocol.conf
  samples/openthread/coap_client/overlay-multiprotocol_ble.conf
  samples/openthread/common/overlay-ot-defaults.conf
  subsys/net/lib/coap_utils/coap_utils.c
  subsys/net/openthread/Kconfig
Labels: CI-ble-test, CI-chip-test, CI-homekit-test, CI-thread-test, doc-required

#4374 cmake: fix bug when creating s1 variant
  cmake/s1.cmake
Labels: CI-ble-test, CI-boot-dfu-test, CI-crypto-test, CI-desktop-test, CI-homekit-test, CI-tfm-test

#4417 labeler: Remove all exclusion lines
  .github/labeler.yml
Labels: CI-disable

#4375 caf: sensor trigger
  include/caf/sensor_sampler.h
  subsys/caf/modules/sensor_sampler.c
Labels: CI-ble-test, CI-desktop-test

#4413 subsys: event_manager: Remove DESKTOP_ prefix from Event manager
  applications/asset_tracker_v2/overlay-low-power.conf
  applications/asset_tracker_v2/prj.conf
  applications/nrf_desktop/doc/profiler_sync.rst
  applications/nrf_desktop/src/modules/Kconfig.profiler_sync
  include/profiler.rst
  subsys/event_manager/Kconfig
  subsys/event_manager/event_manager.c
  subsys/event_manager/event_manager_priv.h
Labels: CI-desktop-test, doc-required
