Repository nrfconnect/sdk-nrf, pull requests merged in 2021-05, with the labels that each got.

#4399 doc: release-notes-latest: summarize zephyr kernel changes
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-ble-test, CI-doc-build, CI-homekit-test, doc-required, doc-upmerge

#4382 doc: Netboot 5340 doc update
  samples/nrf5340/netboot/README.rst
  subsys/pcd/Kconfig
Labels: CI-boot-dfu-test, doc-required

#3698 lib: sms: dec, enc and send
  CODEOWNERS
  include/modem/sms.h
  include/modem/sms.rst
  lib/sms/CMakeLists.txt
  lib/sms/Kconfig
  lib/sms/parser.c
  lib/sms/parser.h
  lib/sms/sms.c
  lib/sms/sms_at.c
  lib/sms/sms_at.h
  lib/sms/sms_deliver.c
  lib/sms/sms_deliver.h
  lib/sms/sms_internal.h
  lib/sms/sms_submit.c
  lib/sms/sms_submit.h
  lib/sms/string_conversion.c
  lib/sms/string_conversion.h
  samples/nrf9160/sms/CMakeLists.txt
  samples/nrf9160/sms/Kconfig
  samples/nrf9160/sms/README.rst
  samples/nrf9160/sms/prj.conf
  samples/nrf9160/sms/sample.yaml
  samples/nrf9160/sms/src/main.c
  tests/lib/sms/CMakeLists.txt
  tests/lib/sms/Kconfig
  tests/lib/sms/prj.conf
  tests/lib/sms/sample.yaml
  tests/lib/sms/src/sms_test.c
  tests/lib/sms/testcase.yaml
Labels: CI-ble-test, CI-homekit-test, CI-thread-test, doc-required, manifest, manifest-cmock, manifest-mcuboot, manifest-nrfxlib, manifest-unity, manifest-zephyr

#4425 applications: nrf_desktop: Reduce FLASH usage on nrf52820 dongle
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/app_ZDebug.conf
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/app_ZRelease.conf
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/app_ZReleaseMCUBoot.conf
Labels: CI-desktop-test

#4033 docs: TECHDOC1891 glossary fix
  doc/nrf/dm_code_base.rst
  doc/nrf/dm_glossary.rst
  doc/nrf/dm_managing_code.rst
  doc/nrf/glossary.rst
  doc/nrf/index.rst
  doc/nrf/links.txt
  doc/nrf/ug_dev_model.rst
Labels: doc-required

#4385 doc: Expand light switch sample overview doc
  samples/bluetooth/mesh/light_switch/README.rst
Labels: CI-doc-build, doc-required

#4318 lib: lte_link_control: Add support for %CONEVAL AT command
  doc/nrf/releases/release-notes-latest.rst
  include/modem/lte_lc.h
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc_helpers.c
  lib/lte_link_control/lte_lc_helpers.h
  tests/lib/lte_lc/src/main.c
Labels: doc-required

#4434 doc: glossary: DT/west updates
  doc/nrf/glossary.rst
Labels: CI-disable, doc-required

#4391 manifest: update HomeKit revision
  west.yml
Labels: CI-homekit-test, DNM, manifest, manifest-homekit

#4427 manifest: Follow up for upmerge
  west.yml
Labels: CI-all-test, manifest, manifest-zephyr

#4438 Bluetooth: Mesh: Convert k_work usage
  include/bluetooth/mesh/light_ctrl_srv.h
  include/bluetooth/mesh/scheduler_srv.h
  samples/bluetooth/mesh/chat/src/model_handler.c
  samples/bluetooth/mesh/light/src/model_handler.c
  samples/bluetooth/mesh/light_ctrl/src/model_handler.c
  samples/bluetooth/mesh/light_switch/src/model_handler.c
  samples/bluetooth/mesh/sensor_client/README.rst
  samples/bluetooth/mesh/sensor_client/src/model_handler.c
  samples/bluetooth/mesh/sensor_server/src/model_handler.c
  subsys/bluetooth/mesh/dk_prov.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/scheduler_srv.c
  tests/bluetooth/tester/src/model_handler.c
Labels: CI-ble-test, CI-homekit-test, CI-mesh-test, doc-required

#4429 caf: leds: Add LED GPIO support
  subsys/caf/modules/Kconfig.leds
  subsys/caf/modules/leds.c
Labels: CI-desktop-test

#3689 samples: bluetooth: Interrupt driven DTM sample
  samples/bluetooth/direct_test_mode/Kconfig
  samples/bluetooth/direct_test_mode/src/dtm.c
  samples/bluetooth/direct_test_mode/src/dtm.h
  samples/bluetooth/direct_test_mode/src/main.c
Labels: CI-ble-test

#4452 samples: tfm_hello_world: Add integration_platforms to sample.yaml
  samples/tfm/tfm_hello_world/sample.yaml
Labels: CI-tfm-test

#4458 lib: lte_link_control: Do not return error on unsupported AT notifs
  lib/lte_link_control/lte_lc.c
Labels: bug

#4407 samples: Rename at_client -> at_host
  doc/nrf/conf.py
  doc/nrf/gs_programming.rst
  doc/nrf/includes/boardname_tables/sample_boardnames.txt
  doc/nrf/releases/release-notes-1.1.0.rst
  doc/nrf/releases/release-notes-1.2.0.rst
  doc/nrf/releases/release-notes-latest.rst
  include/net/aws_iot.rst
  include/net/azure_iot_hub.rst
  samples/nrf9160/at_host/CMakeLists.txt
  samples/nrf9160/at_host/README.rst
  samples/nrf9160/at_host/prj.conf
  samples/nrf9160/at_host/sample.yaml
  samples/nrf9160/at_host/src/main.c
  samples/nrf9160/aws_fota/README.rst
Labels: CI-boot-dfu-test, doc-required

#4424 doc: known_issues: Add issue NCSDK-7234 to known_issues.rst
  doc/nrf/known_issues.rst
Labels: doc-required

#4447 Bluetooth: Mesh: splitting between active and define states for scheduled register
  include/bluetooth/mesh/scheduler_srv.h
  subsys/bluetooth/mesh/scheduler_srv.c
Labels: CI-mesh-test

#4475 samples: openthread: Add integration_platforms to sample.yaml
  samples/openthread/cli/sample.yaml
  samples/openthread/coap_client/sample.yaml
  samples/openthread/coap_server/sample.yaml
  samples/openthread/coprocessor/sample.yaml
Labels: CI-thread-test

#4456 Bluetooth: Mesh: Add integration_platforms to sample.yaml
  samples/bluetooth/mesh/chat/sample.yaml
  samples/bluetooth/mesh/light/sample.yaml
  samples/bluetooth/mesh/light_ctrl/sample.yaml
  samples/bluetooth/mesh/light_switch/sample.yaml
  samples/bluetooth/mesh/sensor_client/sample.yaml
  samples/bluetooth/mesh/sensor_server/sample.yaml
  tests/subsys/bluetooth/mesh/models/testcase.yaml
Labels: CI-ble-test, CI-mesh-test

#4462 net: lib: ftp_client: Convert to a new k_work API
  subsys/net/lib/ftp_client/src/ftp_client.c
Labels: CI-chip-test

#4461 lib: at_host: Convert to a new k_work API
  lib/at_host/at_host.c
Labels: CI-thread-test

#4404 manifest: add Find My to NCS
  west.yml
Labels: CI-all-test, manifest, manifest-find-my

#4455 bluetooth: mesh: disable ctrl on set msgs from ext. models
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_hsl_srv.c
  subsys/bluetooth/mesh/light_xyl_srv.c
  subsys/bluetooth/mesh/lightness_internal.h
  subsys/bluetooth/mesh/lightness_srv.c
Labels: CI-mesh-test

#4483 labeler: Remove invalid Thread entries
  .github/labeler.yml
Labels: CI-disable

#4368 manifest: Update the IEEE 802.15.4 subsystem
  west.yml
Labels: CI-all-test, manifest, manifest-nrf-802154, manifest-nrfxlib, manifest-zephyr

#4476 doc: applications: SLM adding links to AT manual
  applications/serial_lte_modem/README.rst
  applications/serial_lte_modem/doc/AT_commands_intro.rst
  applications/serial_lte_modem/doc/slm_description.rst
Labels: CI-doc-build, doc-required

#4464 net: lib: fota_download: Convert to a new k_work API
  subsys/net/lib/fota_download/src/fota_download.c
Labels: CI-boot-dfu-test, CI-chip-test

#4469 manifest: Thingy53 board files
  west.yml
Labels: CI-all-test, manifest, manifest-zephyr

#4383 lib: modem_jwt: add JWT support for new modem fw
  CODEOWNERS
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-latest.rst
  include/modem/modem_jwt.h
  include/modem/modem_jwt.rst
  lib/CMakeLists.txt
  lib/Kconfig
  lib/modem_jwt/CMakeLists.txt
  lib/modem_jwt/Kconfig
  lib/modem_jwt/modem_jwt.c
Labels: doc-required

#4440 manifest: update nrfxlib revision for MD5 support in nrf_security
  west.yml
Labels: CI-all-test, manifest, manifest-nrfxlib

#4500 doc: release-notes-latest: Add changes in drivers from upmerge 20210421
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required, doc-upmerge

#4448 samples: connectedhomeip: add integration_platforms to sample.yaml
  samples/connectedhomeip/light_bulb/sample.yaml
  samples/connectedhomeip/light_switch/sample.yaml
  samples/connectedhomeip/lock/sample.yaml
Labels: CI-chip-test

#4467 samples: nrf9160: Add integration_platforms to sample.yaml
  samples/nrf9160/agps/sample.yaml
  samples/nrf9160/at_host/sample.yaml
  samples/nrf9160/aws_fota/sample.yaml
  samples/nrf9160/aws_iot/sample.yaml
  samples/nrf9160/azure_fota/sample.yaml
  samples/nrf9160/cloud_client/sample.yaml
  samples/nrf9160/coap_client/sample.yaml
  samples/nrf9160/download/sample.yaml
  samples/nrf9160/fmfu_smp_svr/sample.yaml
  samples/nrf9160/gps/sample.yaml
  samples/nrf9160/https_client/sample.yaml
  samples/nrf9160/lte_ble_gateway/sample.yaml
  samples/nrf9160/lwm2m_carrier/sample.yaml
  samples/nrf9160/lwm2m_client/sample.yaml
  samples/nrf9160/mqtt_simple/sample.yaml
  samples/nrf9160/pdn/sample.yaml
  samples/nrf9160/secure_services/sample.yaml
  samples/nrf9160/sms/sample.yaml
  samples/nrf9160/udp/sample.yaml
Labels: CI-boot-dfu-test, CI-thingy91-test

#4508 samples: bootloader: spm: add integration platforms
  samples/bootloader/sample.yaml
  samples/nrf5340/netboot/sample.yaml
  samples/spm/sample.yaml
Labels: CI-boot-dfu-test

#4478 manifest: Update revision of the homekit project
  west.yml
Labels: CI-homekit-test, manifest, manifest-homekit

#4503 doc: release notes: add release notes for ARM arch and Boards
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required, doc-upmerge

#4522 doc: update link to nRF Sniffer for 802.15.4
  doc/nrf/links.txt
  doc/nrf/ug_thread_tools.rst
  doc/nrf/ug_zigbee_tools.rst
  include/zigbee/zigbee_logger_eprxzcl.rst
  samples/openthread/cli/README.rst
Labels: CI-doc-build, CI-thread-test, CI-zigbee-test, doc-required

#4533 doc: zigbee: update links
  doc/nrf/shortcuts.txt
  doc/nrf/ug_zigbee.rst
  doc/nrf/ug_zigbee_configuring_libraries.rst
  doc/nrf/ug_zigbee_supported_features.rst
Labels: CI-doc-build, doc-required

#4495 caf: sensor_sampler: Add sensor state event.
  include/caf/events/sensor_event.h
  subsys/caf/events/Kconfig
  subsys/caf/events/sensor_event.c
  subsys/caf/modules/sensor_sampler.c
Labels: CI-desktop-test

#4235 known_issues: Add some more known issues
  doc/nrf/known_issues.rst
Labels: doc-required

#4343 Ncsdk 8654 caf doc add overview page
  doc/nrf/images/caf_overview.svg
  doc/nrf/images/caf_overview.vsdx
  doc/nrf/libraries/lib_caf.rst
  include/caf/caf_overview.rst
  include/caf/events/ble_common_event.h
  include/caf/events/button_event.h
  include/caf/events/click_event.h
  include/caf/events/led_event.h
  include/caf/events/power_event.h
  include/caf/events/sensor_event.h
  subsys/caf/events/click_event.c
Labels: CI-desktop-test, CI-doc-build, doc-required

#4542 doc: nrf: doxygen: add EVENT_TYPE_DECLARE
  doc/nrf/nrf.doxyfile.in
Labels: doc-required

#4454 applications: asset_tracker: Convert ot new k_work API
  applications/asset_tracker/src/env_sensors/bsec.c
  applications/asset_tracker/src/env_sensors/env_sensors.c
  applications/asset_tracker/src/gps_controller/gps_controller.c
  applications/asset_tracker/src/light_sensor/light_sensor.c
  applications/asset_tracker/src/main.c
  applications/asset_tracker/src/motion/motion.c
  applications/asset_tracker/src/ui/led_pwm.c
  applications/asset_tracker/src/ui/ui.c
  applications/asset_tracker/src/watchdog/watchdog.c
  applications/asset_tracker_v2/src/led/led.c
  applications/asset_tracker_v2/src/led/led_pwm.c
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/ui_module.c
  applications/asset_tracker_v2/src/modules/util_module.c
  applications/asset_tracker_v2/src/watchdog/watchdog.c
Labels: CI-thingy91-test

#4538 caf: sensor_sampler: Fix build and initialization
  include/caf/events/sensor_event.h
  subsys/caf/modules/sensor_sampler.c
Labels: CI-desktop-test

#4492 drivers: net: eth_rtt: Convert to use the new k_work API
  drivers/net/eth_rtt.c
Labels: CI-chip-test, CI-crypto-test

#4540 manifest: update Find My revision
  west.yml
Labels: CI-all-test, manifest, manifest-find-my

#4545 doc: chip: update name to matter
  doc/nrf/gs_installing.rst
  doc/nrf/images/chip_nrfconnect_overview_simplified_ncs.vsdx
  doc/nrf/images/matter_IP_pyramid.png
  doc/nrf/images/matter_configuration_overview.jpg
  doc/nrf/images/matter_nrfconnect_overview_simplified_ncs.svg
  doc/nrf/images/matter_nrfconnect_overview_simplified_ncs.vsdx
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/protocols.rst
  doc/nrf/releases/release-notes-latest.rst
  doc/nrf/samples.rst
  doc/nrf/shortcuts.txt
  doc/nrf/ug_chip.rst
  doc/nrf/ug_matter.rst
  doc/nrf/ug_nrf52.rst
  doc/nrf/ug_nrf5340.rst
  samples/connectedhomeip/light_bulb/README.rst
  samples/connectedhomeip/light_switch/README.rst
  samples/connectedhomeip/lock/README.rst
Labels: CI-chip-test, CI-doc-build, doc-required

#4481 applications: nrf_desktop: Update sample.yaml
  applications/nrf_desktop/sample.yaml
Labels: CI-desktop-test

#4541 gitignore: ignore common Python venv paths
  .gitignore
Labels: CI-disable

#4554 doc: extensions: external_content: use Sphinx encoding
  doc/_extensions/external_content.py
Labels: CI-disable, doc-required

#4558 partition manager: added all input files as dependencies for merging
  cmake/partition_manager.cmake
Labels: CI-all-test, CI-boot-dfu-test, CI-crypto-test, CI-desktop-test, CI-tfm-test, backport v1.5-branch

#4524 mpsl: Make signaling semaphore binary
  subsys/mpsl/mpsl_init.c
Labels: CI-ble-test, CI-chip-test, CI-homekit-test, CI-rs-test, CI-thread-test, CI-zigbee-test

#4502 application: serial_lte_modem: Support datamode in MQTT Publish
  applications/serial_lte_modem/doc/MQTT_AT_commands.rst
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  applications/serial_lte_modem/src/slm_at_host.c
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#4514 doc: release-notes: Add bluetooth release notes for upmerges
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required, doc-upmerge

#4548 partition manager: remove re-definition of BUILD_WITH_TFM
  subsys/partition_manager/Kconfig
Labels: CI-all-test, CI-boot-dfu-test, CI-chip-test, CI-crypto-test, CI-desktop-test, CI-homekit-test, CI-tfm-test, enhancement

#4517 download_client: Don't parse header past end of accumulated buffer
  subsys/net/lib/download_client/src/http.c
Labels: CI-trusted-author, external

#4539 caf: modules: Switch to new workqueue API
  subsys/caf/modules/ble_adv.c
  subsys/caf/modules/buttons.c
  subsys/caf/modules/click_detector.c
  subsys/caf/modules/leds.c
Labels: CI-desktop-test

#4544 manifest: update homekit revisioin
  west.yml
Labels: CI-homekit-test, manifest, manifest-homekit

#4568 Bluetooth: Mesh: Remove configuration data publication in Light LC
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: CI-mesh-test

#4484 drivers: sensor: Convert to use the new k_work API
  drivers/sensor/bh1749/bh1749.c
  drivers/sensor/paw3212/paw3212.c
  drivers/sensor/pmw3360/pmw3360.c
Labels: CI-desktop-test

#4477 samples: Bluetooth: df: Add integration_platforms to sample.yaml
  samples/bluetooth/direction_finding_connectionless_tx/sample.yaml
Labels: CI-ble-test

#4567 doc: extensions: external_content: handle deleted content
  doc/_extensions/external_content.py
  doc/nrf/conf.py
Labels: CI-disable, doc-required

#4488 zigbee: Fix static analysis issues
  subsys/zigbee/lib/zigbee_app_utils/zigbee_app_utils.c
  subsys/zigbee/osif/zb_nrf_nvram.c
  subsys/zigbee/osif/zb_nrf_platform.c
  subsys/zigbee/osif/zb_nrf_serial.c
  subsys/zigbee/osif/zb_nrf_timer.c
Labels: CI-zigbee-test

#4590 Revert "samples: Bluetooth: df: Add integration_platforms to sample.y…
  samples/bluetooth/direction_finding_connectionless_tx/sample.yaml
Labels: CI-ble-test

#4588 doc: extensions: external_content: diff before copying
  doc/_extensions/external_content.py
Labels: CI-disable, doc-required

#4520 applications: nrf_desktop: Switch to new workqueue API
  applications/nrf_desktop/src/hw_interface/battery_charger.c
  applications/nrf_desktop/src/hw_interface/battery_meas.c
  applications/nrf_desktop/src/hw_interface/buttons_sim.c
  applications/nrf_desktop/src/hw_interface/leds.c
  applications/nrf_desktop/src/hw_interface/selector_hw.c
  applications/nrf_desktop/src/hw_interface/wheel.c
  applications/nrf_desktop/src/modules/ble_bond.c
  applications/nrf_desktop/src/modules/ble_conn_params.c
  applications/nrf_desktop/src/modules/ble_latency.c
  applications/nrf_desktop/src/modules/ble_scan.c
  applications/nrf_desktop/src/modules/cpu_meas.c
  applications/nrf_desktop/src/modules/dfu.c
  applications/nrf_desktop/src/modules/hid_forward.c
  applications/nrf_desktop/src/modules/hids.c
  applications/nrf_desktop/src/modules/power_manager.c
  applications/nrf_desktop/src/modules/profiler_sync.c
  applications/nrf_desktop/src/modules/watchdog.c
  applications/nrf_desktop/src/util/config_channel_transport.c
  applications/nrf_desktop/src/util/config_channel_transport.h
Labels: CI-desktop-test

#4521 doc: Add link to nRF Connect Trace Collector
  doc/nrf/links.txt
  doc/nrf/ug_thingy91.rst
Labels: CI-doc-build, doc-required

#4574 fota_download: mcuboot_buf must be word aligned
  subsys/dfu/dfu_target/src/dfu_target_mcuboot.c
  subsys/net/lib/fota_download/src/fota_download.c
Labels: CI-boot-dfu-test, CI-trusted-author, external

#4547 caf: sensor_sampler: Add module documentation
  doc/nrf/images/caf_sensor_states.svg
  doc/nrf/images/caf_sensor_states.vsdx
  include/caf/sensor_sampler.rst
Labels: CI-desktop-test, doc-required

#4604 zigbee: Align Zigbee FOTA buffer address to 4 bytes
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
Labels: CI-zigbee-test

#4506 manifest: Update revision of the homekit project
  west.yml
Labels: CI-all-test, manifest, manifest-homekit

#4599 applications: nrf_desktop: Fix Kconfig option in settings_loader
  applications/nrf_desktop/src/modules/settings_loader.c
Labels: CI-desktop-test

#4600 applications: nrf_desktop: Fix watchdog initialization
  applications/nrf_desktop/src/modules/watchdog.c
Labels: CI-desktop-test

#4589 applications: serial_lte_modem: Add CONFIG_SLM_CUSTOMIZED flag
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/src/slm_at_commands.c
Labels: doc-required

#4152 applications: serial_lte_mode: add TWI AT command
  applications/serial_lte_modem/CMakeLists.txt
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/AT_commands_intro.rst
  applications/serial_lte_modem/doc/TWI_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/nrf9160dk_nrf9160ns.overlay
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/twi/CMakeLists.txt
  applications/serial_lte_modem/src/twi/Kconfig
  applications/serial_lte_modem/src/twi/slm_at_twi.c
  applications/serial_lte_modem/src/twi/slm_at_twi.h
Labels: doc-required

#4566 manifest: update Find My revision
  west.yml
Labels: CI-all-test, manifest, manifest-find-my

#4584 Bluetooth: Mesh: Test sensor subsystem
  subsys/bluetooth/mesh/sensor_types.c
  tests/subsys/bluetooth/mesh/sensor_subsys/CMakeLists.txt
  tests/subsys/bluetooth/mesh/sensor_subsys/prj.conf
  tests/subsys/bluetooth/mesh/sensor_subsys/sensor_types.ld
  tests/subsys/bluetooth/mesh/sensor_subsys/src/main.c
  tests/subsys/bluetooth/mesh/sensor_subsys/testcase.yaml
Labels: CI-mesh-test

#4612 doc: unifying GUI element sequences
  applications/asset_tracker/README.rst
  doc/nrf/doc_styleguide.rst
  doc/nrf/gs_installing.rst
  doc/nrf/gs_modifying.rst
  doc/nrf/gs_programming.rst
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_thingy91.rst
  include/net/aws_iot.rst
  samples/bluetooth/central_bas/README.rst
  samples/bluetooth/peripheral_ancs_client/README.rst
  samples/bluetooth/peripheral_cts_client/README.rst
  samples/bootloader/README.rst
  samples/debug/ppi_trace/README.rst
  samples/nrf9160/aws_fota/README.rst
  samples/nrf9160/http_update/application_update/README.rst
  scripts/shell/ble_console/README.rst
Labels: CI-ble-test, CI-boot-dfu-test, CI-doc-build, CI-thingy91-test, doc-required

#4582 doc: zigbee: add links to ZBOSS API
  doc/nrf/links.txt
  doc/nrf/ug_zigbee_configuring.rst
  doc/nrf/ug_zigbee_supported_features.rst
  samples/zigbee/light_bulb/README.rst
  samples/zigbee/light_switch/README.rst
  samples/zigbee/ncp/README.rst
  samples/zigbee/network_coordinator/README.rst
Labels: CI-doc-build, CI-zigbee-test, doc-required

#4631 doc: cmake: fix incorrect usage of DEPENDS
  doc/CMakeLists.txt
Labels: CI-disable, doc-required

#4622 Bluetooth: Mesh: Occupancy sensors test
  subsys/bluetooth/mesh/sensor_types.c
  tests/subsys/bluetooth/mesh/sensor_subsys/src/main.c
Labels: CI-mesh-test

#4549 Bluetooth: Mesh: Use correct define to enable settings in Sensor
  subsys/bluetooth/mesh/sensor_srv.c
Labels: CI-mesh-test

#4636 Bluetooth: Tester: MMDL: Fix coverity issues
  tests/bluetooth/tester/src/mmdl.c
Labels: bug

#4630 applications: nrf_desktop: Remove unused b0 keys
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/b0_private.pem
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/b0_private.pem
Labels: CI-desktop-test

#4640 doc: treewide: Convert all references to the old k_work API in docs
  applications/nrf_desktop/doc/battery_charger.rst
  applications/nrf_desktop/doc/battery_meas.rst
  applications/nrf_desktop/doc/ble_latency.rst
  applications/nrf_desktop/doc/buttons_sim.rst
  applications/nrf_desktop/doc/dfu.rst
  applications/nrf_desktop/doc/selector.rst
  applications/nrf_desktop/doc/watchdog.rst
  include/caf/click_detector.rst
  include/caf/leds.rst
  tests/subsys/spm/thread_swap/src/main.c
Labels: CI-disable, doc-required

#4629 Bluetooth: Mesh: Use instant transition time for the Light LC regulator
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: CI-mesh-test, enhancement

#4471 doc: nrf: Update known issues that B0 and MCUBoot is broken
  doc/nrf/known_issues.rst
Labels: doc-required

#4620 samples: Bluetooth: df: Align documentation with current template
  samples/bluetooth/direction_finding_connectionless_tx/README.rst
  samples/bluetooth/direction_finding_connectionless_tx/src/main.c
Labels: CI-ble-test, doc-required

#4624 manifest: SDC supports multiple advertising sets
  west.yml
Labels: CI-ble-test, CI-desktop-test, manifest, manifest-nrfxlib

#4616 samples: connectedhomeip: fix hangs on sys_rand32_get()
  samples/matter/light_bulb/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/matter/light_switch/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/matter/lock/boards/nrf5340dk_nrf5340_cpuapp.conf
Labels: CI-chip-test, CI-matter-test

#4576 doc: thread: extend documentation about Thread Border Router
  doc/nrf/links.txt
  doc/nrf/ug_thread_tools.rst
Labels: CI-disable, doc-required

#4660 doc: fix path to entropy_cc310 implementation
  doc/nrf/drivers/entropy_cc310.rst
Labels: CI-doc-build, doc-required

#4668 caf: ble_state: Do not check HCI response on error
  subsys/caf/modules/ble_state.c
Labels: CI-desktop-test

#4656 caf: events: Add documentation for hardware-related events
  include/caf/events/button_event.h
  include/caf/events/click_event.h
  include/caf/events/led_event.h
Labels: CI-desktop-test

#4651 tests: lib: date_time: Use delta for conversion test
  tests/lib/date_time/src/main.c
Labels: bug

#4648 lib: date_time: Fix coverity issue and update library error handling.
  include/date_time.h
  lib/date_time/date_time.c
  tests/lib/date_time/src/main.c
Labels: bug

#4654 caf: leds: Add GPIO LED documentation
  include/caf/leds.rst
Labels: CI-desktop-test, CI-doc-build, doc-required
