Repository nrfconnect/sdk-nrf, pull requests merged in 2021-06, with the labels that each got.

#4560 west.yml: Update nrfxlib revision
  modules/nrfxlib/nrf_802154/CMakeLists.txt
  west.yml
Labels: CI-all-test, CI-chip-test, CI-homekit-test, CI-matter-test, CI-rs-test, CI-tfm-test, manifest, manifest-nrf-802154, manifest-nrfxlib

#4692 doc: versions: update Zephyr version
  doc/versions.json
Labels: CI-doc-build, doc-required

#4680 samples: http_update: application: Remove buffer
  samples/nrf9160/http_update/application_update/src/main.c
Labels: CI-boot-dfu-test

#3607 docs: bootloader: Add a user guide
  doc/nrf/app_bootloaders.rst
  doc/nrf/images/b0_flash_layout.svg
  doc/nrf/images/b0_mcuboot_flash_layout.svg
  doc/nrf/images/bootloader_memory_layout_onestage.png
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-1.3.0.rst
  doc/nrf/shortcuts.txt
  doc/nrf/ug_app_dev.rst
  doc/nrf/ug_bootloader.rst
  doc/nrf/ug_bootloader_adding.rst
  doc/nrf/ug_bootloader_config.rst
  doc/nrf/ug_bootloader_external_flash.rst
  doc/nrf/ug_bootloader_testing.rst
  doc/nrf/ug_fw_update.rst
  doc/nrf/ug_multi_image.rst
  samples/bootloader/README.rst
  scripts/partition_manager/partition_manager.rst
Labels: CI-all-test, CI-boot-dfu-test, doc-required

#4618 manifest: Update reference to Pelion client repository
  west.yml
Labels: CI-all-test, manifest, manifest-mbed-cloud-client, manifest-mbed-cloud-client-zephyr

#4505 doc/release-note: flash API & MCUboot notes
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required, doc-upmerge

#4519 applications: machine_learning: Add documentation
  applications/machine_learning/README.rst
  doc/nrf/images/ml_app_architecture.svg
  doc/nrf/images/ml_app_architecture.vsdx
  doc/nrf/includes/sample_board_rows.txt
  doc/nrf/ug_edge_impulse.rst
Labels: CI-doc-build, doc-required

#4690 doc: Small fix to known issues page
  doc/nrf/known_issues.rst
Labels: doc-required

#4684 manifest: update sdk-zephyr revision to bring in the TF-M PS sample
  west.yml
Labels: CI-tfm-test, manifest, manifest-zephyr

#4659 net: lib: nrf_cloud: ensure MQTT payload is NULL-terminated
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: CI-matter-test, CI-thingy91-test

#4528 lib: nrfmodem: Add new socket options to the offloading layer
  lib/nrf_modem_lib/nrf91_sockets.c
Labels: manifest-zephyr

#4704 doc: Small table fix ug_fw_update
  doc/nrf/ug_fw_update.rst
Labels: doc-required

#4706 manifest: update reference for sdk-zephyr: adding NCS path for mbedcrypto in TF-M
  west.yml
Labels: CI-tfm-test, manifest, manifest-zephyr

#4716 manifest: update TF-M module for ChachaPoly
  west.yml
Labels: CI-tfm-test, manifest, manifest-trusted-firmware-m

#4652 tfm: Set default AEAD alg for nRF9160 and nRF5340
  modules/tfm/tfm/boards/nrf5340_cpuapp/config.cmake
  modules/tfm/tfm/boards/nrf9160/config.cmake
Labels: CI-chip-test, CI-matter-test, CI-tfm-test

#4601 doc: Mesh samples template adjustment
  samples/bluetooth/mesh/chat/README.rst
  samples/bluetooth/mesh/light/README.rst
  samples/bluetooth/mesh/light_ctrl/README.rst
  samples/bluetooth/mesh/light_switch/README.rst
  samples/bluetooth/mesh/sensor_client/README.rst
  samples/bluetooth/mesh/sensor_server/README.rst
Labels: CI-ble-test, CI-doc-build, doc-required

#4696 samples: matter: Added initial support for Thread 1.2 features.
  samples/matter/light_bulb/prj.conf
  samples/matter/light_switch/prj.conf
  samples/matter/lock/prj.conf
Labels: CI-matter-test

#4687 applications: asset_tracker_v2: Do not reboot on sensor init failure.
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors.c
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors.h
  applications/asset_tracker_v2/src/modules/sensor_module.c
Labels: bug

#4720 lib: zigbee_shell: Use correct LOG_LEVEL
  subsys/zigbee/cli/zigbee_cli_cmd_zdo.c
Labels: CI-zigbee-test

#4641 manifest: include TFM crypto module kconfig
  west.yml
Labels: CI-tfm-test, manifest, manifest-zephyr

#4634 Bluetooth: Mesh: Add Light LC Server resume timer
  include/bluetooth/mesh/light_ctrl_srv.rst
  samples/bluetooth/mesh/light_ctrl/prj.conf
  subsys/bluetooth/mesh/Kconfig.models
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: CI-mesh-test, doc-required

#4728 Bluetooth: Mesh: Fix provisioning capabilities in dk_prov
  subsys/bluetooth/mesh/dk_prov.c
Labels: CI-mesh-test, bug

#4673 Bluetooth: Mesh: Check Light LC Server Property Set message length
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: CI-mesh-test, bug

#4725 Bluetooth: Mesh: Pull k_work_delayable from k_work using API
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/scheduler_srv.c
Labels: CI-mesh-test, bug

#4419 doc: pelion: add Pelion client readme
  applications/pelion_client/README.rst
  doc/nrf/images/pelion_client_architecture.svg
  doc/nrf/images/pelion_client_architecture.vsdx
  doc/nrf/images/pelion_client_memory.svg
  doc/nrf/images/pelion_client_memory.vsdx
  doc/nrf/images/pelion_client_states.svg
  doc/nrf/images/pelion_client_states.vsdx
  doc/nrf/images/pelion_device_directory.png
  doc/nrf/images/pelion_device_resources.png
  doc/nrf/links.txt
Labels: CI-doc-build, doc-required

#4712 manifest: Add sdk-openthread fork to the projects list.
  samples/openthread/common/overlay-ot-defaults.conf
  west.yml
Labels: CI-homekit-test, CI-matter-test, CI-thread-test, manifest, manifest-matter, manifest-openthread

#4460 samples: spm: Avoid using feature that allocates PPI channel
  samples/spm/prj.conf
Labels: DNM, manifest-zephyr

#4693 applications: nrf_desktop: dfu: Cleanup
  applications/nrf_desktop/src/modules/dfu.c
Labels: CI-desktop-test

#4691 application: nrf_desktop: ble_bond: Fix bt id access
  applications/nrf_desktop/src/modules/ble_bond.c
Labels: CI-desktop-test

#4727 Bluetooth: Mesh: Rename argument in function prototype
  include/bluetooth/mesh/light_xyl_srv.h
Labels: CI-mesh-test, bug

#4688 manifest: cherry pick ieee802154 changes for zephyr
  west.yml
Labels: CI-all-test, manifest, manifest-zephyr

#4598 Bluetooth: Mesh: Timer for model data storage.
  include/bluetooth/mesh/gen_plvl_srv.h
  include/bluetooth/mesh/gen_plvl_srv.rst
  include/bluetooth/mesh/gen_ponoff_srv.h
  include/bluetooth/mesh/gen_ponoff_srv.rst
  include/bluetooth/mesh/gen_prop_srv.h
  include/bluetooth/mesh/gen_prop_srv.rst
  include/bluetooth/mesh/light_ctrl_srv.rst
  include/bluetooth/mesh/light_hue_srv.h
  include/bluetooth/mesh/light_hue_srv.rst
  include/bluetooth/mesh/light_sat_srv.h
  include/bluetooth/mesh/light_sat_srv.rst
  include/bluetooth/mesh/light_temp_srv.h
  include/bluetooth/mesh/light_xyl_srv.h
  include/bluetooth/mesh/light_xyl_srv.rst
  include/bluetooth/mesh/lightness_srv.h
  include/bluetooth/mesh/lightness_srv.rst
  include/bluetooth/mesh/sensor_srv.h
  include/bluetooth/mesh/sensor_srv.rst
  subsys/bluetooth/mesh/Kconfig.models
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/gen_ponoff_srv.c
  subsys/bluetooth/mesh/gen_prop_srv.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/light_hue_srv.c
  subsys/bluetooth/mesh/light_sat_srv.c
  subsys/bluetooth/mesh/light_temp_srv.c
  subsys/bluetooth/mesh/light_xyl_srv.c
  subsys/bluetooth/mesh/lightness_srv.c
  subsys/bluetooth/mesh/sensor_srv.c
Labels: CI-mesh-test, doc-required

#4731 applications: asset_tracker_v2: Set CONFIG_FPU to allow printing floats.
  applications/asset_tracker_v2/prj.conf
Labels: bug

#4523 Bluetooth: Mesh: Permit transition time = NULL
  include/bluetooth/mesh/gen_lvl.h
  include/bluetooth/mesh/gen_onoff.h
  include/bluetooth/mesh/gen_plvl.h
  include/bluetooth/mesh/light_ctl.h
  include/bluetooth/mesh/light_hsl.h
  include/bluetooth/mesh/light_xyl.h
  include/bluetooth/mesh/light_xyl_srv.h
  include/bluetooth/mesh/lightness.h
  include/bluetooth/mesh/model_types.h
  samples/bluetooth/mesh/light/src/model_handler.c
  samples/bluetooth/mesh/light_ctrl/src/model_handler.c
  subsys/bluetooth/mesh/gen_lvl_srv.c
  subsys/bluetooth/mesh/gen_onoff_srv.c
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/gen_ponoff_srv.c
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/light_hsl_srv.c
  subsys/bluetooth/mesh/light_sat_srv.c
  subsys/bluetooth/mesh/light_temp_srv.c
  subsys/bluetooth/mesh/light_xyl_srv.c
  subsys/bluetooth/mesh/lightness_srv.c
  subsys/bluetooth/mesh/model_utils.h
  subsys/bluetooth/mesh/scene_srv.c
  subsys/bluetooth/mesh/scheduler_srv.c
  subsys/bluetooth/mesh/sensor_cli.c
Labels: CI-mesh-test

#4639 doc: Add the issue on wrong flash page erase time
  doc/nrf/known_issues.rst
Labels: doc-required

#4664 Bluetooth: Mesh: Add Silvair EnOcean Proxy Server model and sample
  doc/nrf/links.txt
  include/bluetooth/mesh/models.rst
  include/bluetooth/mesh/vnd/silvair_enocean_srv.h
  include/bluetooth/mesh/vnd/silvair_enocean_srv.rst
  samples/bluetooth/mesh/silvair_enocean/CMakeLists.txt
  samples/bluetooth/mesh/silvair_enocean/README.rst
  samples/bluetooth/mesh/silvair_enocean/include/model_handler.h
  samples/bluetooth/mesh/silvair_enocean/prj.conf
  samples/bluetooth/mesh/silvair_enocean/sample.yaml
  samples/bluetooth/mesh/silvair_enocean/src/main.c
  samples/bluetooth/mesh/silvair_enocean/src/model_handler.c
  subsys/bluetooth/mesh/CMakeLists.txt
  subsys/bluetooth/mesh/Kconfig.models
  subsys/bluetooth/mesh/vnd/CMakeLists.txt
  subsys/bluetooth/mesh/vnd/Kconfig
  subsys/bluetooth/mesh/vnd/silvair_enocean_srv.c
  tests/subsys/bluetooth/mesh/silvair_enocean_model/CMakeLists.txt
  tests/subsys/bluetooth/mesh/silvair_enocean_model/prj.conf
  tests/subsys/bluetooth/mesh/silvair_enocean_model/src/main.c
  tests/subsys/bluetooth/mesh/silvair_enocean_model/testcase.yaml
Labels: CI-mesh-test, doc-required

#4738 manifest: update tf-m to get veneer placement rearrangement
  west.yml
Labels: CI-tfm-test, manifest, manifest-trusted-firmware-m

#4724 west.yml: remove tensorflow from zephyr allowlist
  scripts/west_commands/ncs_commands.py
  west.yml
Labels: CI-all-test, manifest

#4581 doc: Update the path to mcuboot overlay file
  applications/asset_tracker/README.rst
  applications/connectivity_bridge/README.rst
Labels: CI-doc-build

#4699 samples: edge_impulse: wrapper: Use pretrained model
  samples/edge_impulse/wrapper/README.rst
  samples/edge_impulse/wrapper/prj.conf
  samples/edge_impulse/wrapper/sample.yaml
  samples/edge_impulse/wrapper/src/include/input_data.h
Labels: doc-required

#4485 samples: Bluetooth: Add Direction Finding connectionless Rx sample
  CODEOWNERS
  samples/bluetooth/direction_finding_connectionless_rx/CMakeLists.txt
  samples/bluetooth/direction_finding_connectionless_rx/README.rst
  samples/bluetooth/direction_finding_connectionless_rx/boards/nrf52833dk_nrf52833.overlay
  samples/bluetooth/direction_finding_connectionless_rx/overlay-aod.conf
  samples/bluetooth/direction_finding_connectionless_rx/prj.conf
  samples/bluetooth/direction_finding_connectionless_rx/sample.yaml
  samples/bluetooth/direction_finding_connectionless_rx/src/main.c
Labels: CI-ble-test, doc-required

#4681 caf: events: Add documentation for power events
  include/caf/events/power_event.h
Labels: CI-desktop-test

#4697 caf: events: Add documentation for sensor events
  include/caf/events/sensor_event.h
  subsys/caf/events/sensor_event.c
Labels: CI-desktop-test

#4723 caf: events: Add documentation for BLE common events
  include/caf/events/ble_common_event.h
Labels: CI-desktop-test

#4650 doc: include installation instructions from Zephyr
  doc/nrf/gs_installing.rst
Labels: CI-doc-build, doc-required

#4713 manifest: update homekit revision
  west.yml
Labels: CI-homekit-test, manifest, manifest-homekit

#4741 applications: nrf_desktop: Remove unused leds.c file
  applications/nrf_desktop/src/hw_interface/leds.c
Labels: CI-desktop-test

#4606 tests: dfu_target: fix warning
  tests/subsys/dfu/dfu_target/mcuboot/src/main.c
Labels: CI-boot-dfu-test

#4423 nrf_rpc: Modify the nRF RPC transport to use the RPMsg Service
  samples/nrf_rpc/entropy_nrf53/cpuapp/prj.conf
  samples/nrf_rpc/entropy_nrf53/cpunet/prj.conf
  subsys/nrf_rpc/CMakeLists.txt
  subsys/nrf_rpc/Kconfig
  subsys/nrf_rpc/include/nrf_rpc_rpmsg.h
  subsys/nrf_rpc/include/rp_ll.h
  subsys/nrf_rpc/nrf_rpc_rpmsg.c
  subsys/nrf_rpc/rp_ll.c
Labels: CI-chip-test, CI-matter-test

#4409 [cJSON] Migrate to sdk-cjson
  CODEOWNERS
  ext/CMakeLists.txt
  ext/Kconfig
  ext/cjson/CMakeLists.txt
  ext/cjson/cJSON.c
  ext/cjson/cJSON.h
  modules/cjson/CMakeLists.txt
  modules/cjson/Kconfig
  modules/cjson/include/cJSON_os.h
  modules/cjson/os/cJSON_os.c
  modules/modules.cmake
  west.yml
Labels: manifest, manifest-cjson

#4737 doc: open NCS abbreviations
  doc/nrf/app_bootloaders.rst
  doc/nrf/app_power_opt.rst
  doc/nrf/dm_adding_code.rst
  doc/nrf/dm_managing_code.rst
  doc/nrf/gs_assistant.rst
  doc/nrf/gs_programming.rst
Labels: CI-doc-build, doc-required

#4743 Bluetooth: Mesh: Move to mesh ack msg API
  include/bluetooth/mesh/gen_battery_cli.h
  include/bluetooth/mesh/gen_dtt_cli.h
  include/bluetooth/mesh/gen_loc_cli.h
  include/bluetooth/mesh/gen_lvl_cli.h
  include/bluetooth/mesh/gen_onoff_cli.h
  include/bluetooth/mesh/gen_plvl_cli.h
  include/bluetooth/mesh/gen_ponoff_cli.h
  include/bluetooth/mesh/gen_prop_cli.h
  include/bluetooth/mesh/light_ctl_cli.h
  include/bluetooth/mesh/light_ctrl_cli.h
  include/bluetooth/mesh/light_hsl_cli.h
  include/bluetooth/mesh/light_xyl_cli.h
  include/bluetooth/mesh/lightness_cli.h
  include/bluetooth/mesh/model_types.h
  include/bluetooth/mesh/scene_cli.h
  include/bluetooth/mesh/scheduler_cli.h
  include/bluetooth/mesh/sensor_cli.h
  include/bluetooth/mesh/time_cli.h
  include/bluetooth/mesh/time_srv.h
  subsys/bluetooth/mesh/gen_battery_cli.c
  subsys/bluetooth/mesh/gen_dtt_cli.c
  subsys/bluetooth/mesh/gen_loc_cli.c
  subsys/bluetooth/mesh/gen_lvl_cli.c
  subsys/bluetooth/mesh/gen_onoff_cli.c
  subsys/bluetooth/mesh/gen_plvl_cli.c
  subsys/bluetooth/mesh/gen_ponoff_cli.c
  subsys/bluetooth/mesh/gen_prop_cli.c
  subsys/bluetooth/mesh/light_ctl_cli.c
  subsys/bluetooth/mesh/light_ctrl_cli.c
  subsys/bluetooth/mesh/light_hsl_cli.c
  subsys/bluetooth/mesh/light_xyl_cli.c
  subsys/bluetooth/mesh/lightness_cli.c
  subsys/bluetooth/mesh/model_utils.c
  subsys/bluetooth/mesh/model_utils.h
  subsys/bluetooth/mesh/scene_cli.c
  subsys/bluetooth/mesh/scheduler_cli.c
  subsys/bluetooth/mesh/sensor_cli.c
  subsys/bluetooth/mesh/time_cli.c
Labels: CI-mesh-test

#4744 matter: merge upstream commits up to June 4th
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-latest.rst
  samples/matter/.clang-format
  samples/matter/light_bulb/CMakeLists.txt
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_bulb/src/gen/CHIPClusters.cpp
  samples/matter/light_bulb/src/gen/IMClusterCommandHandler.cpp
  samples/matter/light_bulb/src/gen/af-structs.h
  samples/matter/light_bulb/src/gen/att-storage.h
  samples/matter/light_bulb/src/gen/attribute-id.h
  samples/matter/light_bulb/src/gen/attribute-size.cpp
  samples/matter/light_bulb/src/gen/attribute-size.h
  samples/matter/light_bulb/src/gen/attribute-type.h
  samples/matter/light_bulb/src/gen/call-command-handler.cpp
  samples/matter/light_bulb/src/gen/call-command-handler.h
  samples/matter/light_bulb/src/gen/callback-stub.cpp
  samples/matter/light_bulb/src/gen/callback.h
  samples/matter/light_bulb/src/gen/chip-zcl-zpro-codec-api.h
  samples/matter/light_bulb/src/gen/client-command-macro.h
  samples/matter/light_bulb/src/gen/cluster-id.h
  samples/matter/light_bulb/src/gen/command-id.h
  samples/matter/light_bulb/src/gen/encoder.cpp
  samples/matter/light_bulb/src/gen/endpoint_config.h
  samples/matter/light_bulb/src/gen/enums.h
  samples/matter/light_bulb/src/gen/gen_config.h
  samples/matter/light_bulb/src/gen/print-cluster.h
  samples/matter/light_bulb/src/light_bulb_publish_service.cpp
  samples/matter/light_bulb/src/zcl_callbacks.cpp
  samples/matter/light_switch/CMakeLists.txt
  samples/matter/light_switch/prj.conf
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/light_switch/src/light_switch.cpp
  samples/matter/light_switch/src/light_switch.h
  samples/matter/lock/CMakeLists.txt
  samples/matter/lock/src/app_task.cpp
  samples/matter/lock/src/gen/CHIPClusters.cpp
  samples/matter/lock/src/gen/IMClusterCommandHandler.cpp
  samples/matter/lock/src/gen/af-structs.h
  samples/matter/lock/src/gen/att-storage.h
  samples/matter/lock/src/gen/attribute-id.h
  samples/matter/lock/src/gen/attribute-size.cpp
  samples/matter/lock/src/gen/attribute-size.h
  samples/matter/lock/src/gen/attribute-type.h
  samples/matter/lock/src/gen/call-command-handler.cpp
  samples/matter/lock/src/gen/call-command-handler.h
  samples/matter/lock/src/gen/callback-stub.cpp
  samples/matter/lock/src/gen/callback.h
  samples/matter/lock/src/gen/chip-zcl-zpro-codec-api.h
  samples/matter/lock/src/gen/client-command-macro.h
  samples/matter/lock/src/gen/cluster-id.h
  samples/matter/lock/src/gen/command-id.h
  samples/matter/lock/src/gen/encoder.cpp
  samples/matter/lock/src/gen/endpoint_config.h
  samples/matter/lock/src/gen/enums.h
  samples/matter/lock/src/gen/gen_config.h
  samples/matter/lock/src/gen/print-cluster.h
  samples/matter/lock/src/zcl_callbacks.cpp
  west.yml
Labels: CI-matter-test, doc-required, manifest, manifest-matter

#4663 manifest: update homekit revision
  west.yml
Labels: CI-homekit-test, manifest, manifest-homekit

#4734 manifest: cherry pick flash page erase time change for zephyr
  west.yml
Labels: CI-all-test, manifest, manifest-zephyr

#4735 doc: matter: improvements to docs
  doc/nrf/releases/release-notes-latest.rst
  doc/nrf/ug_matter.rst
  doc/nrf/ug_matter_architecture.rst
  doc/nrf/ug_matter_configuring.rst
  samples/matter/light_bulb/README.rst
  samples/matter/light_switch/README.rst
  samples/matter/lock/README.rst
Labels: CI-doc-build, CI-matter-test, doc-required

#4655 Bluetooth: Mesh: Move scene entries to flash
  include/bluetooth/mesh/gen_lvl_srv.h
  include/bluetooth/mesh/gen_onoff_srv.h
  include/bluetooth/mesh/gen_plvl_srv.h
  include/bluetooth/mesh/gen_ponoff_srv.h
  include/bluetooth/mesh/light_ctl_srv.h
  include/bluetooth/mesh/light_ctrl_srv.h
  include/bluetooth/mesh/light_hsl_srv.h
  include/bluetooth/mesh/light_temp_srv.h
  include/bluetooth/mesh/light_xyl_srv.h
  include/bluetooth/mesh/lightness_srv.h
  include/bluetooth/mesh/scene_srv.h
  include/bluetooth/mesh/scene_srv.rst
  subsys/bluetooth/mesh/CMakeLists.txt
  subsys/bluetooth/mesh/gen_lvl_srv.c
  subsys/bluetooth/mesh/gen_onoff_srv.c
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/gen_ponoff_srv.c
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/light_hsl_srv.c
  subsys/bluetooth/mesh/light_hue_srv.c
  subsys/bluetooth/mesh/light_sat_srv.c
  subsys/bluetooth/mesh/light_temp_srv.c
  subsys/bluetooth/mesh/light_xyl_srv.c
  subsys/bluetooth/mesh/lightness_srv.c
  subsys/bluetooth/mesh/scene_srv.c
  subsys/bluetooth/mesh/scene_types.ld
Labels: CI-mesh-test, doc-required

#4756 samples: matter: Added support for DFU in lock and light bulb.
  doc/nrf/links.txt
  samples/matter/common/config/overlay-dfu_support.conf
  samples/matter/light_bulb/README.rst
  samples/matter/light_bulb/child_image/mcuboot.conf
  samples/matter/light_bulb/configuration/nrf52840dk_nrf52840/pm_static.yml
  samples/matter/light_bulb/prj.conf
  samples/matter/light_bulb/src/app_event.h
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_bulb/src/app_task.h
  samples/matter/lock/README.rst
  samples/matter/lock/child_image/mcuboot.conf
  samples/matter/lock/configuration/nrf52840dk_nrf52840/pm_static.yml
  samples/matter/lock/prj.conf
  samples/matter/lock/src/app_event.h
  samples/matter/lock/src/app_task.cpp
  samples/matter/lock/src/app_task.h
Labels: CI-matter-test, doc-required

#4765 manifest: update from pull/<pr-no>/head to SHAs
  west.yml
Labels: CI-disable, manifest, manifest-find-my, manifest-homekit, manifest-matter, manifest-nrfxlib, manifest-zephyr

#4430 samples: nrf9160: gps: update GPS sample to use the new GNSS API
  include/supl_os_client.h
  lib/supl/os/supl_os_client.c
  samples/nrf9160/gps/README.rst
  samples/nrf9160/gps/prj.conf
  samples/nrf9160/gps/src/main.c
Labels: doc-required

#4610 applications: serial_lte_modem: Add SMS support
  applications/serial_lte_modem/CMakeLists.txt
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/AT_commands_intro.rst
  applications/serial_lte_modem/doc/SMS_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_sms.c
  applications/serial_lte_modem/src/slm_at_sms.h
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#4746 doc: release notes: update for latest upmerge
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#4482 net: lib: aws_fota: Improve state handling and fault tolerance
  doc/nrf/images/aws_fota_dfu_sequence.svg
  doc/nrf/images/aws_fota_dfu_sequence.uml.txt
  subsys/net/lib/aws_fota/Kconfig
  subsys/net/lib/aws_fota/src/aws_fota.c
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: CI-boot-dfu-test, CI-matter-test, bug, doc-required

#4679 caf: applications: Move nrf_desktop SMP module to CAF
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/app_ZDebugMCUBootSMP.conf
  applications/nrf_desktop/doc/ble_latency.rst
  applications/nrf_desktop/doc/dfu.rst
  applications/nrf_desktop/doc/event_propagation.rst
  applications/nrf_desktop/doc/event_rel_modules.rst
  applications/nrf_desktop/doc/smp.rst
  applications/nrf_desktop/src/events/Kconfig
  applications/nrf_desktop/src/events/ble_event.c
  applications/nrf_desktop/src/events/ble_event.h
  applications/nrf_desktop/src/modules/CMakeLists.txt
  applications/nrf_desktop/src/modules/Kconfig
  applications/nrf_desktop/src/modules/Kconfig.smp
  applications/nrf_desktop/src/modules/ble_latency.c
  applications/nrf_desktop/src/modules/dfu.c
  applications/nrf_desktop/src/util/CMakeLists.txt
  applications/nrf_desktop/src/util/dfu_lock.c
  applications/nrf_desktop/src/util/dfu_lock.h
  include/caf/ble_smp.rst
  include/caf/events/ble_smp_event.h
  subsys/caf/CMakeLists.txt
  subsys/caf/events/CMakeLists.txt
  subsys/caf/events/Kconfig
  subsys/caf/events/ble_smp_event.c
  subsys/caf/modules/CMakeLists.txt
  subsys/caf/modules/Kconfig
  subsys/caf/modules/Kconfig.ble_smp
  subsys/caf/modules/ble_smp.c
Labels: CI-desktop-test, doc-required

#4770 net: lib: icalendar_parser: fix out of bound vulnerability
  subsys/net/lib/icalendar_parser/src/icalendar_parser.c
Labels: CI-matter-test

#4781 modules: tfm: use TFM NS binary in regression testing
  modules/tfm/zephyr/CMakeLists.txt
Labels: CI-matter-test, CI-tfm-test, bug

#4780 applications: asset_tracker_v2: disable AT host in low power mode
  applications/asset_tracker_v2/overlay-low-power.conf
Labels: bug

#4742 manifest: tf-m: update to enable non-static key labels
  west.yml
Labels: CI-tfm-test, manifest, manifest-trusted-firmware-m

#4750 samples: openthread: Added DFU support overlay to CoAP client.
  doc/nrf/links.txt
  samples/openthread/coap_client/README.rst
  samples/openthread/coap_client/overlay-dfu_support.conf
  samples/openthread/coap_client/sample.yaml
  samples/openthread/coap_client/src/ble_utils.c
  samples/openthread/coap_client/src/coap_client.c
Labels: CI-thread-test, doc-required

#4489 docs: state that 4MB ext flash is requiref for FOTA FMFU
  doc/nrf/shortcuts.txt
  doc/nrf/ug_nrf9160.rst
  include/dfu/dfu_target.rst
  samples/nrf9160/http_update/full_modem_update/README.rst
Labels: doc-required

#4761 doc: apps: build types consistency
  applications/machine_learning/README.rst
  applications/pelion_client/README.rst
  doc/nrf/gs_modifying.rst
Labels: CI-doc-build, doc-required

#4759 include: modem: lte_lc: Update documentation for link controller
  include/modem/lte_lc.h
  include/modem/lte_lc.rst
Labels: doc-required

#4389 manifest: mcuboot: Manifest update for multi image fix in MCUBoot
  west.yml
Labels: CI-all-test, CI-dfu-test, manifest, manifest-mcuboot

#4784 Bluetooth: Mesh: Fix magnetic flux density 2d declaration
  subsys/bluetooth/mesh/sensor_types.c
Labels: CI-mesh-test, bug

#4751 zigbee:ncp: Implement osif bootloader functions
  doc/nrf/links.txt
  samples/zigbee/ncp/README.rst
  samples/zigbee/ncp/src/main.c
Labels: CI-zigbee-test, doc-required, manifest-nrfxlib

#4789 applications: pelion_client: Remove leftover from documentation
  applications/pelion_client/README.rst
Labels: bug, doc-required

#4779 doc: Crypto samples doc
  doc/nrf/includes/tfm.txt
  doc/nrf/samples.rst
  samples/crypto/aes_cbc/README.rst
  samples/crypto/aes_ccm/README.rst
  samples/crypto/aes_ctr/README.rst
  samples/crypto/aes_gcm/README.rst
  samples/crypto/chachapoly/README.rst
  samples/crypto/ecdh/README.rst
  samples/crypto/ecdsa/README.rst
  samples/crypto/hkdf/README.rst
  samples/crypto/hmac/README.rst
  samples/crypto/persistent_key_usage/README.rst
  samples/crypto/rng/README.rst
  samples/crypto/rsa/README.rst
  samples/crypto/sha256/README.rst
Labels: CI-crypto-test, CI-doc-build, doc-required

#4790 manifest: update zephyr before 1.6.0-RC1
  west.yml
Labels: manifest, manifest-zephyr

#4575 lib: bin: lwm2m_carrier: update to version 0.20.0
  applications/asset_tracker/CMakeLists.txt
  applications/asset_tracker/lwm2m_carrier_overlay.conf
  applications/asset_tracker/src/carrier_certs/CMakeLists.txt
  applications/asset_tracker/src/carrier_certs/DSTRootCA-X3.pem
  applications/asset_tracker/src/carrier_certs/DigiCertGlobalRootCA.pem
  applications/asset_tracker/src/carrier_certs/DigiCertGlobalRootG2.pem
  applications/asset_tracker/src/carrier_certs/carrier_certs.c
  applications/asset_tracker/src/carrier_certs/carrier_certs.h
  applications/asset_tracker/src/main.c
  lib/bin/lwm2m_carrier/Kconfig
  lib/bin/lwm2m_carrier/doc/CHANGELOG.rst
  lib/bin/lwm2m_carrier/doc/app_integration.rst
  lib/bin/lwm2m_carrier/doc/msc.rst
  lib/bin/lwm2m_carrier/doc/requirements.rst
  lib/bin/lwm2m_carrier/include/lwm2m_carrier.h
  lib/bin/lwm2m_carrier/include/lwm2m_os.h
  lib/bin/lwm2m_carrier/lib/cortex-m33/hard-float/liblwm2m_carrier.a
  lib/bin/lwm2m_carrier/lwm2m_carrier.rst
  lib/bin/lwm2m_carrier/os/lwm2m_carrier.c
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  samples/nrf9160/lwm2m_carrier/CMakeLists.txt
  samples/nrf9160/lwm2m_carrier/certs/DSTRootCA-X3.pem
  samples/nrf9160/lwm2m_carrier/certs/DigiCertGlobalRootCA.pem
  samples/nrf9160/lwm2m_carrier/certs/DigiCertGlobalRootG2.pem
  samples/nrf9160/lwm2m_carrier/prj.conf
  samples/nrf9160/lwm2m_carrier/src/carrier_certs.c
  samples/nrf9160/lwm2m_carrier/src/carrier_certs.h
  samples/nrf9160/lwm2m_carrier/src/main.c
Labels: CI-thingy91-test, doc-required

#4792 Bluetooth: Mesh: Fix Scene Server srv_elem_end
  subsys/bluetooth/mesh/scene_srv.c
Labels: CI-mesh-test, bug

#4775 applications: asset_tracker_v2: Make CI build for all cloud solutions
  applications/asset_tracker_v2/sample.yaml
Labels: bug

#4799 Ncs 1.6 rebase
  west.yml
Labels: manifest, manifest-mcuboot, manifest-openthread, manifest-trusted-firmware-m, manifest-zephyr

#4748 doc: Add pelion user guide
  applications/pelion_client/README.rst
  doc/nrf/ug_app_dev.rst
  doc/nrf/ug_pelion.rst
Labels: CI-doc-build, doc-required

#4736 doc: ei: doc improvements
  doc/nrf/ug_edge_impulse.rst
Labels: CI-doc-build, doc-required

#4802 lib: dk_buttons_and_leds: Fix a typo in buttons masks
  include/dk_buttons_and_leds.h
Labels: bug

#4783 Bluetooth: Mesh: Store hue and sat scene data.
  include/bluetooth/mesh/scene_srv.rst
  subsys/bluetooth/mesh/light_hsl_srv.c
  subsys/bluetooth/mesh/light_hue_srv.c
  subsys/bluetooth/mesh/light_sat_srv.c
Labels: CI-ble-test, CI-homekit-test, CI-mesh-test, bug, doc-required

#4796 tfm: Initialize nrf_cc3xx_platform when TF-M boots
  modules/tfm/tfm/boards/common/boot_hal.c
  modules/tfm/tfm/boards/common/plat_init.c
Labels: CI-matter-test, CI-tfm-test, bug

#4772 doc: zigbee: update docs for zboss 3.6.0.0
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-latest.rst
  doc/nrf/shortcuts.txt
  doc/nrf/ug_zigbee_memory.rst
Labels: CI-doc-build, doc-required

#4755 manifest: update homekit revision
  west.yml
Labels: CI-doc-build, manifest, manifest-homekit

#4809 doc: Move memfault library documentation close to header file
  doc/nrf/libraries/lib_others.rst
  include/memfault_ncs.rst
  samples/nrf9160/memfault/README.rst
Labels: doc-required

#4814 doc: Minor doc fix in multicell sample
  samples/nrf9160/multicell_location/README.rst
Labels: CI-doc-build, doc-required

#4812 Bluetooth: Mesh: Fix Light XYL Server start procedure
  subsys/bluetooth/mesh/light_xyl_srv.c
Labels: CI-mesh-test, bug

#4813 applications: pelion_client: Fix pelion tracing
  applications/pelion_client/src/modules/pelion_trace.c
Labels: bug

#4833 lib: agps: Replace deprecated typedef to avoid build warning
  lib/agps/agps.c
Labels: bug

#4811 Bluetooth: Mesh: Fix MMDL API
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_hsl_cli.c
  subsys/bluetooth/mesh/light_xyl_srv.c
Labels: CI-mesh-test, bug

#4803 manifest: update sdk-zephyr
  west.yml
Labels: CI-homekit-test, CI-matter-test, CI-thread-test, bug, manifest, manifest-zephyr

#4832 applications: asset_tracker_v2: Notify warning upon event
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
Labels: bug

#4810 doc: Documentation improvement for P-GPS library
  include/net/nrf_cloud_pgps.rst
Labels: CI-doc-build, doc-required

#4849 samples: nrf9160: modem_shell: replace deprecated typedef
  samples/nrf9160/modem_shell/src/gnss/gnss_socket.c
Labels: bug

#4847 include: date_time: Use correct function name in documentation
  include/date_time.rst
Labels: doc-required

#4825 kconfig: enable 'INIT_ARCH_HW_AT_BOOT' when booted by MCUboot
  modules/Kconfig.mcuboot
Labels: bug

#4852 samples: nrf9160: https_client: change host
  samples/nrf9160/https_client/README.rst
  samples/nrf9160/https_client/cert/DigiCertGlobalRootCA.pem
  samples/nrf9160/https_client/cert/GlobalSign-Root-CA-R2
  samples/nrf9160/https_client/src/main.c
Labels: doc-required

#4835 lib: bin: doc: Update LwM2M carrier library to v0.20.1
  lib/bin/lwm2m_carrier/doc/CHANGELOG.rst
  lib/bin/lwm2m_carrier/lib/cortex-m33/hard-float/liblwm2m_carrier.a
Labels: doc-required

#4854 Samples: bluetooth: Remove support for nrf5340
  samples/bluetooth/llpm/README.rst
  samples/bluetooth/llpm/sample.yaml
Labels: CI-ble-test, bug, doc-required

#4845 net: lib: nrf_cloud: Increase internal payload buffer size
  subsys/net/lib/nrf_cloud/Kconfig
Labels: CI-thingy91-test, bug

#4844 modules: tfm: disable unsupported crypto regression tests
  modules/tfm/tfm/boards/nrf5340_cpuapp/config.cmake
  modules/tfm/tfm/boards/nrf9160/config.cmake
Labels: CI-matter-test, CI-tfm-test, bug

#4870 doc: Update doc building instructions
  doc/nrf/doc_build.rst
  doc/nrf/index.rst
Labels: CI-doc-build, doc-required

#4875 doc: nrf: releases: Added missing release note entries
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#4838 applications: asset_tracker_v2: remove app-version token
  applications/asset_tracker_v2/README.rst
Labels: doc-required

#4831 doc: zigbee: minor edits
  doc/nrf/links.txt
  doc/nrf/shortcuts.txt
  doc/nrf/ug_zigbee_architectures.rst
  doc/nrf/ug_zigbee_configuring.rst
  doc/nrf/ug_zigbee_configuring_libraries.rst
  doc/nrf/ug_zigbee_supported_features.rst
  doc/nrf/ug_zigbee_tools.rst
  include/zigbee/zigbee_app_utils.rst
  include/zigbee/zigbee_logger_eprxzcl.rst
Labels: CI-doc-build, CI-zigbee-test, doc-required

#4843 dk_buttons_and_leds: fix off-by-one
  lib/dk_buttons_and_leds/dk_buttons_and_leds.c
Labels: bug

#4700 manifest: Point to mcuboot PR for signature validation
  west.yml
Labels: CI-boot-dfu-test, CI-dfu-test, bug, manifest, manifest-mcuboot

#4830 matter: bring fixes for Android CHIPTool
  doc/nrf/links.txt
  doc/nrf/ug_matter_configuring.rst
  west.yml
Labels: CI-all-test, doc-required, manifest, manifest-matter

#4874 manifest: update nrfxlib and sdk-zephyr with combined manifest updates
  west.yml
Labels: CI-disable, bug, manifest, manifest-nrfxlib, manifest-zephyr

#4827 manifest: update Find My revision
  west.yml
Labels: CI-find-my-test, bug, manifest, manifest-find-my

#4885 manifest: update sdk-zephyr
  west.yml
Labels: CI-ble-test, manifest, manifest-zephyr

#4890 net: lib: nrf_cloud: Add missing break statement
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota.c
Labels: CI-thingy91-test, bug

#4895 lib: agps: Close SUPL socket if `supl_session()` fails
  lib/agps/agps.c
Labels: bug

#4888 Zigbee: Update RAM and flash memory requirements
  doc/nrf/ug_zigbee_memory.rst
Labels: CI-doc-build, doc-required

#4883 doc: Thingy:91 user-guide: Add information on MCUboot signing
  doc/nrf/ug_thingy91.rst
Labels: CI-doc-build, doc-required

#4842 doc: Checking doc for release
  doc/nrf/glossary.rst
  doc/nrf/links.txt
  doc/nrf/ug_thread_tools.rst
  doc/nrf/ug_zigbee_supported_features.rst
Labels: doc-required

#4897 Revert "samples: nrf9160: Rename at_client -> at_host"
  doc/nrf/conf.py
  doc/nrf/gs_programming.rst
  doc/nrf/includes/boardname_tables/sample_boardnames.txt
  doc/nrf/releases/release-notes-1.1.0.rst
  doc/nrf/releases/release-notes-1.2.0.rst
  doc/nrf/releases/release-notes-latest.rst
  include/net/aws_iot.rst
  include/net/azure_iot_hub.rst
  samples/nrf9160/at_client/CMakeLists.txt
  samples/nrf9160/at_client/README.rst
  samples/nrf9160/at_client/prj.conf
  samples/nrf9160/at_client/sample.yaml
  samples/nrf9160/at_client/src/main.c
  samples/nrf9160/aws_fota/README.rst
Labels: CI-boot-dfu-test, CI-disable, doc-required, support-required

#4834 Bluetooth: Mesh: Fix sensor client sample publication
  samples/bluetooth/mesh/sensor_client/src/model_handler.c
Labels: CI-mesh-test, bug

#4859 Fix TFM Regression test failures
  modules/tfm/tfm/boards/common/crypto_keys.c
Labels: CI-matter-test, CI-tfm-test, bug

#4824 samples: tfm: add rng to tfm_hello_world sample
  modules/trusted-firmware-m/Kconfig.tfm_minimal.defconfig
  samples/tfm/tfm_hello_world/README.rst
  samples/tfm/tfm_hello_world/sample.yaml
  samples/tfm/tfm_hello_world/src/main.c
  west.yml
Labels: CI-all-test, CI-tfm-test, bug, doc-required, manifest, manifest-trusted-firmware-m, manifest-zephyr

#4892 spm: Fix function call for FP register storing
  subsys/nonsecure/secure_services_ns.c
Labels: CI-boot-dfu-test

#4903 applications: pelion_client: Fix MCUBoot flash overflow
  applications/pelion_client/configuration/nrf52840dk_nrf52840/mcuboot_ZDebug.conf
Labels: bug

#4805 net: fota_download: Add state variable to check if it is downloading
  subsys/net/lib/fota_download/src/fota_download.c
  tests/subsys/net/lib/fota_download/src/main.c
Labels: CI-boot-dfu-test, CI-matter-test, bug

#4873 manifest: Batch nrfxlib update
  west.yml
Labels: CI-crypto-test, CI-rs-test, CI-thread-test, bug, manifest, manifest-nrfxlib

#4877 modules: tfm: Enable GCM TF-M tests
  modules/tfm/tfm/boards/nrf9160/config.cmake
Labels: CI-matter-test, CI-tfm-test, bug

#4899 manifest: Update matter fork revision to fix Windows command length limitation.
  west.yml
Labels: CI-matter-test, bug, manifest, manifest-matter

#4909 lib: modem_attest_token: create lower-case v4 formatted UUID strings
  include/modem/modem_attest_token.h
  lib/modem_attest_token/modem_attest_token.c
Labels: bug

#4851 manifest: Update revision of the homekit project
  west.yml
Labels: CI-homekit-test, manifest, manifest-homekit

#4919 doc: apps: fix images
  doc/nrf/images/em_overview.svg
  doc/nrf/images/em_overview.vsdx
  doc/nrf/images/pelion_client_architecture.svg
  doc/nrf/images/pelion_client_architecture.vsdx
Labels: CI-doc-build, doc-required

#4902 doc: zigbee: add NCP Host links and versions
  doc/nrf/links.txt
  doc/nrf/shortcuts.txt
  doc/nrf/ug_zigbee.rst
  doc/nrf/ug_zigbee_architectures.rst
  doc/nrf/ug_zigbee_tools.rst
  samples/zigbee/light_bulb/README.rst
  samples/zigbee/light_switch/README.rst
  samples/zigbee/ncp/README.rst
  samples/zigbee/network_coordinator/README.rst
Labels: CI-doc-build, CI-zigbee-test, doc-required

#4726 caf: events: Add documentation for module state event
  doc/nrf/nrf.doxyfile.in
  include/caf/caf_overview.rst
  include/caf/events/module_state_event.h
  subsys/caf/events/module_state_event.c
Labels: CI-desktop-test, doc-required

#4884 samples: dtm: Fix workaround for nrf52840
  samples/bluetooth/direct_test_mode/src/dtm.c
Labels: CI-ble-test, bug

#4922 manifest: update homekit revision
  west.yml
Labels: CI-doc-build, CI-homekit-test, manifest, manifest-find-my

#4921 doc: Update overview diagram
  doc/nrf/images/nrf9160_ug_overview.svg
  doc/nrf/images/nrf9160_ug_overview.vsdx
Labels: doc-required

#4918 Bluetooth: Mesh: Fix publishing composite state on scene recall
  include/bluetooth/mesh/scene_srv.h
  include/bluetooth/mesh/scene_srv.rst
  subsys/bluetooth/mesh/gen_lvl_srv.c
  subsys/bluetooth/mesh/gen_onoff_srv.c
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/gen_ponoff_srv.c
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/light_hsl_srv.c
  subsys/bluetooth/mesh/light_hue_srv.c
  subsys/bluetooth/mesh/light_sat_srv.c
  subsys/bluetooth/mesh/light_temp_srv.c
  subsys/bluetooth/mesh/light_xyl_srv.c
  subsys/bluetooth/mesh/lightness_internal.h
  subsys/bluetooth/mesh/lightness_srv.c
  subsys/bluetooth/mesh/scene_srv.c
Labels: CI-mesh-test, bug, doc-required

#4932 Homekit sync doc 160
  west.yml
Labels: CI-all-test, Hotfix, manifest, manifest-find-my, manifest-homekit

#4916 samples: Fix bug in hkdf crypto sample
  samples/crypto/hkdf/src/main.c
Labels: CI-crypto-test, bug

#4906 doc: known_issues: Add section about FMFU and newest J-Link
  doc/nrf/known_issues.rst
Labels: CI-disable, doc-required

#4927 zigbee: Allow for external SW resets in NCP
  subsys/zigbee/osif/zb_nrf_platform.c
Labels: CI-zigbee-test

#4910 fprotect: Fix bug when multiple boot stages are present (ACL only)
  include/fprotect.h
  lib/fprotect/fprotect_acl.c
  tests/drivers/fprotect/negative/CMakeLists.txt
  tests/drivers/fprotect/negative/dummy_huk.hex
  tests/drivers/fprotect/negative/overlay-b0.conf
  tests/drivers/fprotect/negative/prj.conf
  tests/drivers/fprotect/negative/src/main.c
Labels: CI-boot-dfu-test

#4933 net: lib: azure_iot_hub: Fix too small property bag buffer
  subsys/net/lib/azure_iot_hub/Kconfig
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_dps.c
Labels: bug

#4915 manifest: update Find My revision
  west.yml
Labels: CI-find-my-test, bug, manifest, manifest-find-my

#4931 tfm: crypto: Change the HUK used for key derivation through TFM
  modules/tfm/tfm/boards/common/crypto_keys.c
Labels: CI-matter-test, CI-tfm-test

#4936 net: fota_download: Remove bug which was merged
  subsys/net/lib/fota_download/src/fota_download.c
Labels: CI-boot-dfu-test, CI-matter-test

#4867 doc: doc updates to TF-M user guide
  doc/nrf/ug_tfm.rst
Labels: CI-disable, doc-required
