Repository nrfconnect/sdk-nrf, pull requests merged in 2021-07, with the labels that each got.

#5038 doc: zzhc: fix to TECHDOC-1991
  doc/nrf/lib/zzhc/zzhc.rst
Labels: CI-disable, doc-required

#5023 samples: bluetooth: rename sample central_dfu_smp to central_smp_client
  samples/bluetooth/central_smp_client/CMakeLists.txt
  samples/bluetooth/central_smp_client/README.rst
  samples/bluetooth/central_smp_client/prj.conf
  samples/bluetooth/central_smp_client/sample.yaml
  samples/bluetooth/central_smp_client/src/main.c
Labels: CI-ble-test, doc-required, support-required

#5041 doc: zigbee: clarify zigbee def handler docs
  doc/nrf/links.txt
  include/zigbee/zigbee_app_utils.rst
  include/zigbee/zigbee_logger_eprxzcl.rst
Labels: CI-disable, CI-zigbee-test, doc-required

#5030 Bluetooth: Mesh: add dev op temp sensor tests
  tests/subsys/bluetooth/mesh/sensor_subsys/src/main.c
Labels: CI-mesh-test

#5016 samples: dtm: Fix logger configuration cmake warnings.
  samples/bluetooth/direct_test_mode/prj.conf
Labels: CI-ble-test

#4837 net: lib: download_client: improve logging on unexpected HTTP response
  subsys/net/lib/download_client/src/http.c
Labels: external

#5031 Bluetooth: Mesh: Power supply output sensors test
  subsys/bluetooth/mesh/sensor_types.c
  tests/subsys/bluetooth/mesh/sensor_subsys/src/main.c
Labels: CI-mesh-test

#3805 manifest: Pull in minimal MCUboot update
  west.yml
Labels: CI-all-test, manifest, manifest-mcuboot

#5053 softdevice_controller: Configure supported features before memory
  subsys/bluetooth/controller/hci_driver.c
Labels: CI-ble-test, CI-homekit-test

#4816 doc: rewrite Working with nRF53 user guide
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_nrf9160.rst
Labels: CI-disable, doc-required

#5051 doc: zzhc: additional edits
  doc/nrf/lib/zzhc/zzhc.rst
Labels: CI-disable, doc-required

#4944 applications: serial_lte_modem: Send hexadecimal data by data mode
  applications/serial_lte_modem/README.rst
  applications/serial_lte_modem/doc/FTP_AT_commands.rst
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/doc/ICMP_AT_commands.rst
  applications/serial_lte_modem/doc/MQTT_AT_commands.rst
  applications/serial_lte_modem/doc/TCPIP_AT_commands.rst
  applications/serial_lte_modem/doc/slm_data_mode.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  applications/serial_lte_modem/src/ftp_c/slm_at_ftp.c
  applications/serial_lte_modem/src/gps/slm_at_gps.c
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  applications/serial_lte_modem/src/slm_at_cmng.c
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_fota.c
  applications/serial_lte_modem/src/slm_at_host.h
  applications/serial_lte_modem/src/slm_at_icmp.c
  applications/serial_lte_modem/src/slm_at_sms.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_tcpip.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  applications/serial_lte_modem/src/slm_util.c
  applications/serial_lte_modem/src/slm_util.h
  applications/serial_lte_modem/src/twi/slm_at_twi.c
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#5011 doc: add a figure, and description updates for the mesh model callbacks
  doc/nrf/images/bt_mesh_model_callbacks.svg
  doc/nrf/images/bt_mesh_model_callbacks.vsdx
  doc/nrf/ug_bt_mesh_vendor_model_dev_overview.rst
Labels: CI-disable, doc-required

#5049 doc: update three figures with brand-compliant designs
  doc/nrf/images/bt_mesh_device_lifecycle.svg
  doc/nrf/images/bt_mesh_device_lifecycle.vsdx
  doc/nrf/images/ieee802154_nrf53_multiprot_design.svg
  doc/nrf/images/ieee802154_nrf53_multiprot_design.vsdx
  doc/nrf/images/ieee802154_nrf53_singleprot_design.svg
  doc/nrf/images/ieee802154_nrf53_singleprot_design.vsdx
Labels: CI-disable, doc-required

#5018 doc: doc fixes related to NCSDK-9787
  doc/nrf/known_issues.rst
  lib/bin/lwm2m_carrier/doc/certification.rst
  samples/bootloader/README.rst
  west.yml
Labels: CI-disable, doc-required, manifest, manifest-nrfxlib

#4490 doc: adding support for radiodriver APIdocs
  doc/nrfxlib/nrfxlib.doxyfile.in
Labels: doc-required

#5045 manifest: update nrf_modem docs
  west.yml
Labels: CI-all-test, manifest, manifest-nrfxlib

#5025 lib: Adding RTT as nrf modem trace medium
  lib/nrf_modem_lib/Kconfig
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: CI-trusted-author, external

#5056 doc: add crosslinks to Board Porting Guide
  applications/nrf_desktop/README.rst
  doc/nrf/app_boards.rst
  doc/nrf/app_build_system.rst
Labels: CI-disable, doc-required

#4730 doc: initial support for TF-M docset
  .github/workflows/docbuild.yml
  doc/CMakeLists.txt
  doc/_static/css/common.css
  doc/_static/css/tfm.css
  doc/_utils/utils.py
  doc/nrf/doc_build.rst
  doc/tfm/conf.py
  doc/versions.json
  scripts/requirements-doc.txt
Labels: CI-disable, doc-required

#5061 doc: add nrfx to intersphinx
  doc/nrf/conf.py
Labels: CI-disable, doc-required

#5039 partition manager: configure MBR partition for nRF5280 dongle
  subsys/partition_manager/CMakeLists.txt
  subsys/partition_manager/pm.yml.nrf5_mbr
Labels: CI-all-test, CI-boot-dfu-test, CI-crypto-test, CI-desktop-test, CI-homekit-test, CI-matter-test, CI-tfm-test

#5076 doc: add TF-M version
  doc/versions.json
Labels: CI-disable, doc-required

#5083 doc: versions: remove wrong entry from 1.6.0 release
  doc/versions.json
Labels: CI-disable, Hotfix, doc-required

#5062 applications: asset_tracker_v2: Fix memory leak in `json_helpers`
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_helpers.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_helpers.h
Labels: bug

#5010 Homekit sync bugfix v161
  west.yml
Labels: CI-all-test, manifest, manifest-homekit

#5055 applications: asset_tracker_v2: Request and send neighbor cell data
  applications/asset_tracker_v2/README.rst
  applications/asset_tracker_v2/src/cloud/aws_iot_integration.c
  applications/asset_tracker_v2/src/cloud/azure_iot_hub_integration.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/aws_iot_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/azure_iot_hub_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_common.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_common.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_protocol_names.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_wrapper.h
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
  applications/asset_tracker_v2/src/events/app_module_event.c
  applications/asset_tracker_v2/src/events/app_module_event.h
  applications/asset_tracker_v2/src/events/data_module_event.c
  applications/asset_tracker_v2/src/events/data_module_event.h
  applications/asset_tracker_v2/src/events/modem_module_event.c
  applications/asset_tracker_v2/src/events/modem_module_event.h
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/Kconfig.app_module
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/modem_module.c
  applications/asset_tracker_v2/tests/json_common/src/json_validate.h
  applications/asset_tracker_v2/tests/json_common/src/main.c
Labels: doc-required

#5058 doc: release notes: add release notes for Central SMP Client sample
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required, support-required

#5084 ci: doc: potential fix for doc publish
  .github/workflows/docbuild.yml
  .github/workflows/docpublish.yml
Labels: CI-disable, Hotfix

#5077 manifest: Update revision of the homekit project
  west.yml
Labels: CI-homekit-test, manifest, manifest-homekit

#5080 doc: update ses version
  scripts/tools-versions-darwin.txt
  scripts/tools-versions-linux.txt
  scripts/tools-versions-minimum.txt
  scripts/tools-versions-win10.txt
Labels: doc-required

#5089 doc: add information about NCS_CACHE_ENABLE
  doc/nrf/doc_build.rst
Labels: CI-disable, doc-required

#5065 applications: asset_tracker_v2: Add new "nod" run-time configuration
  applications/asset_tracker_v2/README.rst
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_common.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_protocol_names.h
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/Kconfig.app_module
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/tests/json_common/src/json_validate.h
  applications/asset_tracker_v2/tests/json_common/src/main.c
Labels: doc-required

#5071 manifest: update OpenThread version
  doc/nrf/links.txt
  doc/nrf/ug_thread_configuring.rst
  samples/openthread/cli/harness/overlay-cert-thread_1_2.conf
  samples/openthread/cli/overlay-thread_1_2.conf
  samples/openthread/coap_client/prj.conf
  samples/openthread/coap_client/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/openthread/coap_server/prj.conf
  samples/openthread/coap_server/prj_nrf5340dk_nrf5340_cpuapp.conf
  west.yml
Labels: CI-all-test, CI-thread-test, doc-required, manifest, manifest-homekit, manifest-matter, manifest-openthread, manifest-zephyr

#5093 subsys: caf: Fix invalid indent
  subsys/caf/modules/Kconfig.buttons
Labels: CI-desktop-test

#5059 doc: splitting up samples and applications
  doc/nrf/applications.rst
  doc/nrf/conf.py
  doc/nrf/examples.rst
  doc/nrf/index.rst
  doc/nrf/samples.rst
  doc/nrf/samples/samples_bl.rst
  doc/nrf/samples/samples_crypto.rst
  doc/nrf/samples/samples_edge.rst
  doc/nrf/samples/samples_matter.rst
  doc/nrf/samples/samples_nfc.rst
  doc/nrf/samples/samples_nrf5340.rst
  doc/nrf/samples/samples_nrf9160.rst
  doc/nrf/samples/samples_other.rst
  doc/nrf/samples/samples_thread.rst
  doc/nrf/samples/samples_zigbee.rst
  doc/nrf/tests.rst
Labels: CI-disable, doc-required

#4457 samples: multiprotocol_rpmsg: Add build test to sample.yaml
  samples/nrf5340/multiprotocol_rpmsg/sample.yaml
Labels: CI-rs-test

#5060 doc: zigbee: add error handler library page
  doc/nrf/nrf.doxyfile.in
  include/zigbee/zigbee_error_handler.h
  include/zigbee/zigbee_error_handler.rst
Labels: CI-zigbee-test, doc-required

#5092 doc: zigbee: fix memory value format
  doc/nrf/ug_zigbee_memory.rst
Labels: CI-disable, doc-required

#5036 applications: serial_lte_modem: Enhance FOTA function
  applications/serial_lte_modem/doc/AT_commands_intro.rst
  applications/serial_lte_modem/doc/FOTA_AT_commands.rst
  applications/serial_lte_modem/src/main.c
  applications/serial_lte_modem/src/slm_at_fota.c
  applications/serial_lte_modem/src/slm_at_fota.h
  applications/serial_lte_modem/src/slm_settings.c
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#5102 samples: Add integration_platforms in crypto samples
  samples/crypto/aes_cbc/sample.yaml
  samples/crypto/aes_ccm/sample.yaml
  samples/crypto/aes_ctr/sample.yaml
  samples/crypto/aes_gcm/sample.yaml
  samples/crypto/chachapoly/sample.yaml
  samples/crypto/ecdh/sample.yaml
  samples/crypto/ecdsa/sample.yaml
  samples/crypto/hkdf/sample.yaml
  samples/crypto/hmac/sample.yaml
  samples/crypto/persistent_key_usage/sample.yaml
  samples/crypto/rng/sample.yaml
  samples/crypto/rsa/sample.yaml
  samples/crypto/sha256/sample.yaml
Labels: CI-crypto-test

#5094 applications: nrf_desktop: Add GPIO leds to nrf52820dongle
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/app_ZDebug.conf
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/app_ZRelease.conf
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/app_ZReleaseMCUBoot.conf
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/dts.overlay
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/led_state_def.h
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/port_state_def.h
Labels: CI-desktop-test

#5104 doc: link fix to Modem key management
  doc/nrf/links.txt
Labels: CI-disable, doc-required

#5081 samples: matter: Added weather station sample
  doc/nrf/includes/sample_board_rows.txt
  samples/matter/light_bulb/README.rst
  samples/matter/lock/README.rst
  samples/matter/weather_station/CMakeLists.txt
  samples/matter/weather_station/README.rst
  samples/matter/weather_station/prj.conf
  samples/matter/weather_station/sample.yaml
  samples/matter/weather_station/src/app_event.h
  samples/matter/weather_station/src/app_task.cpp
  samples/matter/weather_station/src/app_task.h
  samples/matter/weather_station/src/chip_project_config.h
  samples/matter/weather_station/src/gen/CHIPClientCallbacks.cpp
  samples/matter/weather_station/src/gen/CHIPClientCallbacks.h
  samples/matter/weather_station/src/gen/CHIPClusters.cpp
  samples/matter/weather_station/src/gen/CHIPClusters.h
  samples/matter/weather_station/src/gen/IMClusterCommandHandler.cpp
  samples/matter/weather_station/src/gen/af-gen-event.h
  samples/matter/weather_station/src/gen/attribute-size.cpp
  samples/matter/weather_station/src/gen/callback-stub.cpp
  samples/matter/weather_station/src/gen/callback.h
  samples/matter/weather_station/src/gen/chip-zcl-zpro-codec-api.h
  samples/matter/weather_station/src/gen/encoder.cpp
  samples/matter/weather_station/src/gen/endpoint_config.h
  samples/matter/weather_station/src/gen/gen_config.h
  samples/matter/weather_station/src/gen/gen_tokens.h
  samples/matter/weather_station/src/main.cpp
  samples/matter/weather_station/thingy53_nrf5340_cpuapp.overlay
  samples/matter/weather_station/weather-station.zap
Labels: CI-matter-test, doc-required

#5085 net: lib: download_client: fix expected HTTP status
  subsys/net/lib/download_client/src/http.c
Labels: CI-boot-dfu-test, CI-matter-test

#5112 applications: serial_lte_modem: Datamode enter and exit
  applications/serial_lte_modem/doc/slm_data_mode.rst
  applications/serial_lte_modem/src/ftp_c/slm_at_ftp.c
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_host.h
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
Labels: doc-required

#5057 Bluetooth: Mesh: Check invalid event combinations.
  subsys/bluetooth/mesh/light_ctrl_srv.c
  tests/subsys/bluetooth/mesh/light_ctrl/CMakeLists.txt
  tests/subsys/bluetooth/mesh/light_ctrl/prj.conf
  tests/subsys/bluetooth/mesh/light_ctrl/src/main.c
  tests/subsys/bluetooth/mesh/light_ctrl/testcase.yaml
Labels: CI-mesh-test

#5109 Bluetooth: Mesh: clarification the time spreading between time servers
  include/bluetooth/mesh/time_srv.rst
Labels: CI-disable, doc-required

#5129 doc: adding Memfault registration links
  doc/nrf/links.txt
  include/memfault_ncs.rst
  samples/nrf9160/memfault/README.rst
Labels: CI-disable, doc-required

#5121 Bluetooth: Mesh: make qemu_cortex_m3 main ble mesh ut platform
  tests/subsys/bluetooth/mesh/light_ctrl/testcase.yaml
  tests/subsys/bluetooth/mesh/sensor_subsys/testcase.yaml
  tests/subsys/bluetooth/mesh/silvair_enocean_model/testcase.yaml
Labels: CI-mesh-test

#5118 net: openthread: Remove overlaying for default CC3XX_LOCK_VARIANT
  subsys/net/openthread/Kconfig
Labels: CI-matter-test, CI-thread-test

#5032 doc: improvements to building doc
  doc/nrf/doc_build.rst
  doc/nrf/documentation.rst
  doc/nrf/gs_assistant.rst
  doc/nrf/gs_installing.rst
  doc/nrf/gs_programming.rst
  doc/nrf/images/ses_license.PNG
  doc/nrf/index.rst
  doc/nrf/introduction.rst
  doc/nrf/links.txt
Labels: CI-disable, doc-required

#5100 Range Requests: Download Client Requesting Extra Byte
  subsys/net/lib/download_client/src/http.c
Labels: CI-boot-dfu-test, CI-matter-test, CI-trusted-author, external

#4901 actions: labeler: Ignore changes to Bluetooth Mesh in ble and homekit
  .github/labeler.yml
Labels: CI-disable

#5126 hid_configurator: Drop GUI
  scripts/hid_configurator/gui/gui.kv
  scripts/hid_configurator/gui/gui.py
  scripts/hid_configurator/gui/gui_backend.py
  scripts/hid_configurator/requirements_gui.txt
Labels: CI-desktop-test

#5144 samples: peripheral_uart: Reduce Thingy:53 mcuboot flash usage
  samples/bluetooth/peripheral_uart/child_image/mcuboot/boards/thingy53_nrf5340_cpuapp.conf
Labels: CI-ble-test

#5067 applications: serial_lte_modem: Rework of socket service
  applications/serial_lte_modem/CMakeLists.txt
  applications/serial_lte_modem/doc/AT_commands_intro.rst
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/doc/TCPIP_AT_commands.rst
  applications/serial_lte_modem/src/ftp_c/slm_at_ftp.c
  applications/serial_lte_modem/src/gps/slm_at_gps.c
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/main.c
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  applications/serial_lte_modem/src/slm_at_cmng.c
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_fota.c
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_host.h
  applications/serial_lte_modem/src/slm_at_icmp.c
  applications/serial_lte_modem/src/slm_at_sms.c
  applications/serial_lte_modem/src/slm_at_socket.c
  applications/serial_lte_modem/src/slm_at_socket.h
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_tcpip.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  applications/serial_lte_modem/src/slm_defines.h
  applications/serial_lte_modem/src/slm_util.c
  applications/serial_lte_modem/src/slm_util.h
  applications/serial_lte_modem/src/twi/slm_at_twi.c
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#5108 manifest: Update revision of the homekit project
  west.yml
Labels: CI-homekit-test, manifest, manifest-homekit, no-changelog

#5123 samples: matter: Enhanced weather station functionality.
  doc/nrf/releases/release-notes-latest.rst
  doc/nrf/shortcuts.txt
  samples/matter/light_bulb/README.rst
  samples/matter/weather_station/CMakeLists.txt
  samples/matter/weather_station/README.rst
  samples/matter/weather_station/prj_debug.conf
  samples/matter/weather_station/prj_release.conf
  samples/matter/weather_station/src/app_task.cpp
  samples/matter/weather_station/src/app_task.h
  samples/matter/weather_station/src/chip_project_config.h
  samples/matter/weather_station/src/gen/endpoint_config.h
  samples/matter/weather_station/src/weather-station.zap
Labels: CI-matter-test, doc-required

#5136 applications: serial_lte_modem: Doc correct extending page
  applications/serial_lte_modem/doc/slm_extending.rst
Labels: doc-required, no-changelog

#5139 samples: matter: Add Matter Template sample
  samples/matter/light_bulb/README.rst
  samples/matter/light_switch/README.rst
  samples/matter/lock/README.rst
  samples/matter/template/CMakeLists.txt
  samples/matter/template/README.rst
  samples/matter/template/boards/nrf52840dk_nrf52840.conf
  samples/matter/template/boards/nrf52840dk_nrf52840.overlay
  samples/matter/template/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/matter/template/prj.conf
  samples/matter/template/sample.yaml
  samples/matter/template/src/app_event.h
  samples/matter/template/src/app_task.cpp
  samples/matter/template/src/app_task.h
  samples/matter/template/src/chip_project_config.h
  samples/matter/template/src/gen/CHIPClientCallbacks.cpp
  samples/matter/template/src/gen/CHIPClientCallbacks.h
  samples/matter/template/src/gen/CHIPClusters.cpp
  samples/matter/template/src/gen/CHIPClusters.h
  samples/matter/template/src/gen/IMClusterCommandHandler.cpp
  samples/matter/template/src/gen/af-gen-event.h
  samples/matter/template/src/gen/attribute-size.cpp
  samples/matter/template/src/gen/callback-stub.cpp
  samples/matter/template/src/gen/callback.h
  samples/matter/template/src/gen/chip-zcl-zpro-codec-api.h
  samples/matter/template/src/gen/encoder.cpp
  samples/matter/template/src/gen/endpoint_config.h
  samples/matter/template/src/gen/gen_config.h
  samples/matter/template/src/gen/gen_tokens.h
  samples/matter/template/src/main.cpp
  samples/matter/template/src/template.zap
Labels: CI-matter-test, CI-trusted-author, doc-required, external

#5075 applications: asset_tracker_v2: Use CAF Leds module for controlling leds
  applications/asset_tracker_v2/CMakeLists.txt
  applications/asset_tracker_v2/Kconfig
  applications/asset_tracker_v2/README.rst
  applications/asset_tracker_v2/boards/nrf9160dk_nrf9160ns.conf
  applications/asset_tracker_v2/boards/nrf9160dk_nrf9160ns.overlay
  applications/asset_tracker_v2/boards/nrf9160dk_nrf9160ns/led_state_def.h
  applications/asset_tracker_v2/boards/thingy91_nrf9160ns.conf
  applications/asset_tracker_v2/boards/thingy91_nrf9160ns.overlay
  applications/asset_tracker_v2/boards/thingy91_nrf9160ns/led_state_def.h
  applications/asset_tracker_v2/prj.conf
  applications/asset_tracker_v2/src/events/CMakeLists.txt
  applications/asset_tracker_v2/src/events/led_state_event.c
  applications/asset_tracker_v2/src/events/led_state_event.h
  applications/asset_tracker_v2/src/led/CMakeLists.txt
  applications/asset_tracker_v2/src/led/Kconfig
  applications/asset_tracker_v2/src/led/led.c
  applications/asset_tracker_v2/src/led/led.h
  applications/asset_tracker_v2/src/led/led_effect.h
  applications/asset_tracker_v2/src/led/led_pwm.c
  applications/asset_tracker_v2/src/led/led_pwm.h
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/CMakeLists.txt
  applications/asset_tracker_v2/src/modules/Kconfig.led_module
  applications/asset_tracker_v2/src/modules/Kconfig.ui_module
  applications/asset_tracker_v2/src/modules/led_module.c
  applications/asset_tracker_v2/src/modules/ui_module.c
  applications/asset_tracker_v2/thingy91_nrf9160ns.overlay
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required, no-changelog

#5131 doc: nrfx: fix Doxygen warnings
  doc/nrfx/nrfx.doxyfile.in
Labels: CI-disable, doc-required

#5145 zigbee: Move scenes extension to a separate library
  include/zigbee/zigbee_zcl_scenes.h
  samples/zigbee/light_bulb/CMakeLists.txt
  samples/zigbee/light_bulb/prj.conf
  samples/zigbee/light_bulb/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/light_bulb/src/main.c
  subsys/zigbee/lib/CMakeLists.txt
  subsys/zigbee/lib/Kconfig
  subsys/zigbee/lib/zigbee_scenes/CMakeLists.txt
  subsys/zigbee/lib/zigbee_scenes/Kconfig
  subsys/zigbee/lib/zigbee_scenes/zigbee_zcl_scenes.c
Labels: CI-zigbee-test, no-changelog

#5130 samples: zigbee: moved target_sources_ifdef() outside NORDIC SDK tags
  samples/zigbee/light_switch/CMakeLists.txt
Labels: CI-zigbee-test, bug

#5122 manifest: Update Softdevice Controller
  west.yml
Labels: CI-all-test, CI-trusted-author, manifest, manifest-nrfxlib

#5141 manifest: update homekit revision
  west.yml
Labels: CI-homekit-test, manifest, manifest-homekit

#5147 applications: machine_learning: Track NUS subscriptions
  applications/machine_learning/src/modules/ei_data_forwarder_bt_nus.c
Labels: no-changelog

#5110 manifest: update homekit revision
  west.yml
Labels: CI-homekit-test, manifest, manifest-homekit

#5074 doc: updating style guide
  doc/nrf/doc_styleguide.rst
  doc/nrf/templates/cheat_sheet.rst
Labels: CI-disable, doc-required, no-changelog

#5103 doc: Add new glossary terms
  doc/nrf/glossary.rst
Labels: doc-required, no-changelog

#5153 zigbee: Remove ZB_ERROR_BASE_NUM define
  include/zigbee/zigbee_error_handler.h
Labels: CI-zigbee-test, no-changelog

#5120 doc: improve images for opening Toolchain Manager
  doc/nrf/images/gs-assistant_tm.png
  doc/nrf/images/gs-assistant_tm_dropdown.png
  doc/nrf/images/gs-assistant_tm_installed.png
Labels: CI-disable, doc-required

#5162 doc: Add note that DTS partitions are ignored when using PM
  scripts/partition_manager/partition_manager.rst
Labels: CI-all-test, CI-disable, doc-required, no-changelog

#5137 application: serial_lte_modem: Limit size for LOG_HEXDUMP_DBG
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_host.h
Labels: no-changelog

#5148 manifest: MPSL with public Coexistence API
  west.yml
Labels: CI-all-test, manifest, manifest-nrfxlib, no-changelog

#5185 doc: add a note about configuration to the multicell location sample
  samples/nrf9160/multicell_location/README.rst
Labels: CI-disable, doc-required, no-changelog

#5171 doc: matter: Added guide on creating a Matter accessory
  doc/nrf/images/matter_create_accessory_add_onoff_cluster.png
  doc/nrf/images/matter_create_accessory_add_temperature_measurement.png
  doc/nrf/images/matter_create_accessory_create_new_endpoint.png
  doc/nrf/images/matter_create_accessory_enable_onoff_commands.png
  doc/nrf/images/matter_create_accessory_zcl_configurator.png
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-latest.rst
  doc/nrf/ug_matter.rst
  doc/nrf/ug_matter_creating_accessory.rst
  samples/matter/template/README.rst
Labels: doc-required, no-changelog

#5082 bluetooth: gatt_dm: Handle invalid characteristic discovery.
  subsys/bluetooth/gatt_dm.c
Labels: CI-ble-test, CI-desktop-test, CI-homekit-test, no-changelog

#5174 applications: nrf_desktop: Fix typo in nRF52840 DK configuration
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/app_ZDebug.conf
Labels: CI-desktop-test, no-changelog

#5179 Manifest: update homekit manifest
  west.yml
Labels: CI-homekit-test, manifest, manifest-homekit

#5194 doc: add missing word in doc_build sentence
  doc/nrf/doc_build.rst
Labels: CI-disable, doc-required, no-changelog

#5199 ci: docpublish: specify run id when downloading artifacts
  .github/workflows/docpublish.yml
Labels: CI-disable, no-changelog

#5167 doc: Use the term application instead of sample
  doc/nrf/gs_modifying.rst
  doc/nrf/gs_programming.rst
  doc/nrf/gs_testing.rst
  doc/nrf/shortcuts.txt
Labels: CI-disable, doc-required, no-changelog, support-required

#5190 application: serial_lte_modem: Add AT response for #XSLEEP
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  applications/serial_lte_modem/src/main.c
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_host.c
Labels: doc-required, no-changelog

#5196 samples: matter: clean NFC code
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_bulb/src/app_task.h
  samples/matter/lock/src/app_task.cpp
  samples/matter/lock/src/app_task.h
Labels: CI-matter-test, no-changelog

#5192 doc: improve details around tagging CMakeLists.txt
  doc/nrf/gs_modifying.rst
Labels: CI-disable, doc-required, no-changelog, support-required

#5177 zigbee: Remove address shift in flash for MBR
  samples/zigbee/ncp/configuration/nrf52840dongle_nrf52840/pm_static.yml
Labels: CI-zigbee-test, no-changelog

#5205 applications: nrf_desktop: Explicit check report id
  applications/nrf_desktop/src/modules/hid_forward.c
Labels: CI-desktop-test, no-changelog

#5197 samples: peripheral_uart: Build sample for Thingy53
  samples/bluetooth/peripheral_lbs/sample.yaml
Labels: CI-ble-test, no-changelog

#5202 manifest: update homekit revision
  west.yml
Labels: CI-homekit-test, manifest, manifest-homekit, no-changelog

#5204 application: serial_lte_modem: Extend RX buffer size for datamode
  applications/serial_lte_modem/doc/slm_data_mode.rst
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_host.h
  applications/serial_lte_modem/src/slm_at_socket.c
Labels: doc-required, no-changelog
