Repository nrfconnect/sdk-nrf, pull requests merged in 2021-11, with the labels that each got.

#5792 manifest: nrfxlib with softfp fix
  west.yml
Labels: manifest, CI-ble-test, CI-crypto-test, manifest-nrfxlib, CI-libmodem-test, CI-nfc-test, CI-apps-test, changelog-entry-required

#5925 net: lib: nrf_cloud: fix P-GPS error handling
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_pgps
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps_utils.c
Labels: doc-required, CI-thingy91-test

#5870 doc: separate HEX files for building with nrfjprog in nRF53 user guide
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required, CI-disable

#5845 doc: update SES programming instructions
  doc/nrf/gs_programming.rst
  doc/nrf/gs_updating.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required, CI-disable

#5890 Bluetooth: Mesh: Fix Light LC Server value representation
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: bug, CI-mesh-test, changelog-entry-required

#5420 samples: updating overlays of openthread samples
  Kconfig.nrf
  samples/openthread/cli/CMakeLists.txt
  samples/openthread/cli/prj.conf
  samples/openthread/cli/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/openthread/coap_client/CMakeLists.txt
  samples/openthread/coap_client/prj.conf
  samples/openthread/coap_client/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/openthread/coap_server/CMakeLists.txt
  samples/openthread/coap_server/prj.conf
  samples/openthread/coap_server/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/openthread/common/overlay-ot-defaults.conf
  samples/openthread/coprocessor/CMakeLists.txt
  samples/openthread/coprocessor/prj.conf
  subsys/net/openthread/Kconfig.defconfig
Labels: CI-thread-test, CI-matter-test

#5960 samples: nrf9160: modem_shell: simple REST client
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/CMakeLists.txt
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/rest/CMakeLists.txt
  samples/nrf9160/modem_shell/src/rest/rest_shell.c
  samples/nrf9160/modem_shell/src/rest/rest_shell.h
  samples/nrf9160/modem_shell/src/shell.c
Labels: doc-required, CI-libmodem-test

#5952 doc: Add note about endpoint logger log configuring in Zigbee shell sample
  samples/zigbee/shell/README.rst
Labels: doc-required, CI-zigbee-test

#5970 doc: Link to limitations documentation for Softdevice Controller
  doc/nrf/known_issues.rst
Labels: doc-required

#5980 Bluetooth: Mesh: Set correct remaining time in light sample
  samples/bluetooth/mesh/light/src/model_handler.c
Labels: changelog-entry-required

#5975 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#5969 Bluetooth: Mesh: Added nRF21540 support to samples
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/README.rst
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/sample.yaml
  samples/bluetooth/mesh/chat/README.rst
  samples/bluetooth/mesh/chat/sample.yaml
  samples/bluetooth/mesh/light/README.rst
  samples/bluetooth/mesh/light/sample.yaml
  samples/bluetooth/mesh/light_ctrl/README.rst
  samples/bluetooth/mesh/light_ctrl/sample.yaml
  samples/bluetooth/mesh/light_switch/README.rst
  samples/bluetooth/mesh/light_switch/sample.yaml
  samples/bluetooth/mesh/sensor_client/README.rst
  samples/bluetooth/mesh/sensor_client/sample.yaml
  samples/bluetooth/mesh/sensor_server/README.rst
  samples/bluetooth/mesh/sensor_server/sample.yaml
  samples/bluetooth/mesh/silvair_enocean/README.rst
  samples/bluetooth/mesh/silvair_enocean/sample.yaml
Labels: doc-required

#5664 bluetooth: services: throughput: Fix null dereference on use before init
  subsys/bluetooth/services/throughput.c
Labels: external, CI-desktop-test, CI-ble-test, CI-zigbee-test, CI-homekit-test, CI-find-my-test, changelog-entry-required

#5982 Labeler: Move homekit and find-my entries outside any-scope
  .github/labeler.yml
Labels: changelog-entry-required

#5971 doc: Remove extra colon in nRF Cloud REST API
  include/net/nrf_cloud_rest.h
Labels: CI-boot-dfu-test

#5902 profiler: Fix silently dropping profiler events
  doc/nrf/releases/release-notes-changelog.rst
  include/profiler.h
  scripts/profiler/model_creator.py
  subsys/event_manager/event_manager.c
  subsys/profiler/Kconfig
  subsys/profiler/profiler_nordic.c
  tests/subsys/profiler/prj.conf
Labels: doc-required, CI-desktop-test

#5052 samples: use kconfig to include child images on other core on nrf53
  doc/nrf/releases/release-notes-changelog.rst
  samples/CMakeLists.txt
  samples/Kconfig
  samples/zigbee/ncp/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/ncp/boards/nrf5340dk_nrf5340_cpuapp_usb.conf
  subsys/partition_manager/Kconfig
  subsys/partition_manager/Kconfig.template.build_strategy_domain
Labels: doc-required, CI-desktop-test, CI-crypto-test, CI-zigbee-test, CI-boot-dfu-test, CI-all-test, CI-tfm-test, CI-rs-test, CI-matter-test

#5716 samples: openthread: support nrf5340dk_nrf5340_cpuapp_ns target
  samples/openthread/cli/README.rst
  samples/openthread/cli/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/openthread/cli/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/openthread/cli/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/openthread/cli/sample.yaml
  samples/openthread/coap_client/README.rst
  samples/openthread/coap_client/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/openthread/coap_client/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/openthread/coap_client/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/openthread/coap_client/sample.yaml
  samples/openthread/coap_server/README.rst
  samples/openthread/coap_server/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/openthread/coap_server/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/openthread/coap_server/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/openthread/coap_server/sample.yaml
Labels: doc-required, CI-thread-test, manifest-trusted-firmware-m

#5954 lib: lte_link_control: Move cell ID check under roaming/home reg status
  lib/lte_link_control/lte_lc.c
Labels: CI-libmodem-test, CI-lwm2m-test

#5793 doc: Replace note on non-upgradable bootloaders
  doc/nrf/ug_nrf52.rst
Labels: doc-required, changelog-entry-required

#5830 lib: lte_lc: Add support for period search configuration
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/lte_lc.h
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc_helpers.c
  lib/lte_link_control/lte_lc_helpers.h
  tests/lib/lte_lc/src/main.c
Labels: doc-required, CI-boot-dfu-test, CI-libmodem-test, CI-lwm2m-test

#5907 nfc: Add Launch App support
  doc/nrf/libraries/nfc/ndef/index.rst
  doc/nrf/libraries/nfc/ndef/launchapp.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/nfc/ndef/launchapp_msg.h
  include/nfc/ndef/launchapp_rec.h
  samples/nfc/record_launch_app/CMakeLists.txt
  samples/nfc/record_launch_app/README.rst
  samples/nfc/record_launch_app/prj.conf
  samples/nfc/record_launch_app/sample.yaml
  samples/nfc/record_launch_app/src/main.c
  subsys/nfc/ndef/CMakeLists.txt
  subsys/nfc/ndef/Kconfig
  subsys/nfc/ndef/launchapp_msg.c
  subsys/nfc/ndef/launchapp_rec.c
Labels: doc-required, CI-nfc-test, CI-matter-test

#5989 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#5995 samples: nrf9160: lwm2m_client: Fix build command in Readme
  samples/nrf9160/lwm2m_client/README.rst
Labels: doc-required

#6000 doc: Unifying terminology in HID configurator script document
  scripts/hid_configurator/README.rst
Labels: doc-required, CI-disable

#5979 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test

#5999 lib: lte_link_control: Fix NCELLMEAS at command
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc_helpers.c
  lib/lte_link_control/lte_lc_helpers.h
Labels: CI-boot-dfu-test, CI-libmodem-test, changelog-entry-required, CI-lwm2m-test

#5972 applications: nrf_desktop: Force power down immediately
  applications/nrf_desktop/doc/usb_state_pm.rst
  applications/nrf_desktop/src/modules/usb_state_pm.c
Labels: doc-required, CI-desktop-test

#5998 lib: lte_link_control: Update conversion specifier when passing in enums
  lib/lte_link_control/lte_lc.c
Labels: CI-boot-dfu-test, CI-libmodem-test, CI-lwm2m-test

#5976 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test, manifest-nrf-802154, changelog-entry-required

#6005 scripts: hid_configurator: Inform about BlueZ issues
  doc/nrf/known_issues.rst
  scripts/hid_configurator/README.rst
Labels: doc-required, CI-desktop-test

#6011 doc: adjust Google Analytics id
  doc/_static/js/ga-tracker.js
  doc/_utils/utils.py
Labels: CI-disable

#5984 doc: added known issue for increased current
  doc/nrf/known_issues.rst
Labels: doc-required, CI-disable

#5981 doc: zigbee: fix minor issues
  doc/nrf/libraries/zigbee/shell.rst
  doc/nrf/links.txt
  doc/nrf/ug_zigbee_adding_clusters.rst
  doc/nrf/ug_zigbee_memory.rst
  samples/zigbee/light_bulb/README.rst
  samples/zigbee/light_switch/README.rst
  samples/zigbee/ncp/README.rst
Labels: doc-required, CI-disable

#6023 zigbee: Refactor Zigbee shell zdo cmds to print 4 char for short addr
  subsys/zigbee/cli/zigbee_cli_cmd_zdo.c
Labels: CI-zigbee-test

#6019 caf: Fix coverity issue
  include/caf/events/module_state_event.h
Labels: CI-desktop-test

#6026 doc: update HERE Positioning URL in link.txt
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#5983 net: lib: download_client: remove APN support
  applications/serial_lte_modem/doc/FOTA_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_fota.c
  doc/nrf/releases/release-notes-changelog.rst
  include/net/download_client.h
  include/net/fota_download.h
  samples/nrf9160/http_update/application_update/src/main.c
  samples/nrf9160/http_update/full_modem_update/src/main.c
  samples/nrf9160/http_update/modem_delta_update/src/main.c
  samples/nrf9160/modem_shell/src/fota/fota.c
  subsys/net/lib/aws_fota/src/aws_fota.c
  subsys/net/lib/azure_fota/azure_fota.c
  subsys/net/lib/download_client/src/download_client.c
  subsys/net/lib/download_client/src/shell.c
  subsys/net/lib/fota_download/src/fota_download.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
  subsys/net/lib/nrf_cloud/include/nrf_cloud_pgps_utils.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps_utils.c
  tests/subsys/net/lib/fota_download/src/main.c
Labels: doc-required, CI-thingy91-test, CI-boot-dfu-test, CI-libmodem-test, CI-matter-test

#5959 Bluetooth: Mesh: Fix schedule resume on ctrl disable
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: CI-trusted-author, external, CI-mesh-test, changelog-entry-required

#5931 Relocate sdc variant selection
  doc/nrf/ug_multiprotocol_support.rst
  doc/nrf/ug_thread_ot_memory.rst
  samples/CMakeLists.txt
  samples/bluetooth/llpm/prj.conf
  samples/openthread/cli/harness/overlay-cert-thread_1_2.conf
  samples/openthread/cli/harness/overlay-cert.conf
  samples/openthread/cli/overlay-minimal_multiprotocol.conf
  samples/openthread/coap_client/overlay-multiprotocol_ble.conf
  samples/zigbee/light_switch/overlay-multiprotocol_ble.conf
  subsys/bluetooth/CMakeLists.txt
  subsys/bluetooth/Kconfig
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/bt_ll_softdevice_hci_rpmsg.conf
  tests/drivers/clock_control/clock_control_mpsl/prj.conf
  west.yml
Labels: doc-required, manifest, CI-desktop-test, CI-ble-test, CI-zigbee-test, CI-thread-test, manifest-nrfxlib, CI-all-test, CI-homekit-test, CI-rs-test, CI-find-my-test, changelog-entry-required

#6030 doc: add more details on external flash
  doc/nrf/ug_bootloader_external_flash.rst
  scripts/partition_manager/partition_manager.rst
Labels: doc-required, CI-all-test

#5977 Bluetooth: Mesh: Cleaner light representation conversion
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/light_hsl.c
  subsys/bluetooth/mesh/light_hsl_internal.h
  subsys/bluetooth/mesh/light_hsl_srv.c
  subsys/bluetooth/mesh/light_xyl_srv.c
  subsys/bluetooth/mesh/lightness_cli.c
  subsys/bluetooth/mesh/lightness_internal.h
  subsys/bluetooth/mesh/lightness_srv.c
  tests/bluetooth/tester/src/mmdl.c
Labels: CI-mesh-test, changelog-entry-required

#6031 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test, changelog-entry-required

#6044 net: lib: aws_iot: Cleanup error logging
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: bug

#5862 lib: pdn: Align retvals and correct error handling
  doc/nrf/releases/release-notes-changelog.rst
  lib/pdn/pdn.c
Labels: doc-required

#5986 net: lib: nrf_cloud: add callback option for cell pos response
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud_cell_pos.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_fsm.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_cell_pos.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fsm.c
Labels: doc-required, CI-thingy91-test

#5974 nrf_cloud_jwt_generate exp time handling
  include/net/nrf_cloud.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_jwt.c
Labels: CI-thingy91-test

#6039 doc: Updating image in the Thingy:91 user guide
  doc/nrf/gs_programming.rst
Labels: doc-required, CI-disable

#5913 doc: zigbee QSG demo
  doc/nrf/gs_assistant.rst
  doc/nrf/images/zigbee_qsg_topology.svg
  doc/nrf/images/zigbee_qsg_topology.vsdx
  doc/nrf/images/zigbee_qsg_vsc_create_application_section.png
  doc/nrf/images/zigbee_qsg_vsc_flash.png
  doc/nrf/images/zigbee_qsg_vsc_generate_config_section.png
  doc/nrf/images/zigbee_qsg_vsc_generating_config_prompt_full.png
  doc/nrf/images/zigbee_qsg_vsc_welcome_section.png
  doc/nrf/images/zigbee_topology_types.svg
  doc/nrf/images/zigbee_topology_types.vsdx
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_zigbee.rst
  doc/nrf/ug_zigbee_qsg.rst
  samples/zigbee/light_bulb/README.rst
  samples/zigbee/light_switch/README.rst
  samples/zigbee/network_coordinator/README.rst
Labels: doc-required, CI-disable, CI-zigbee-test

#5772 west.yml: Update mcuboot revision
  west.yml
Labels: manifest, CI-boot-dfu-test, manifest-mcuboot, changelog-entry-required

#6016 doc: spm: Drop support for not using PM with SPM
  doc/nrf/libraries/others/spm.rst
Labels: doc-required

#6017 doc: Remove latin from nrf connect sdk docs
  applications/asset_tracker/README.rst
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/connectivity_bridge/README.rst
  applications/machine_learning/README.rst
  applications/nrf_desktop/doc/ble_qos.rst
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  doc/nrf/dm_code_base.rst
  doc/nrf/dm_managing_code.rst
  doc/nrf/glossary.rst
  doc/nrf/gs_testing.rst
  doc/nrf/known_issues.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_sat_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/scene_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/time_srv.rst
  doc/nrf/libraries/caf/leds.rst
  doc/nrf/libraries/networking/download_client.rst
  doc/nrf/libraries/networking/nrf_cloud.rst
  doc/nrf/libraries/others/bl_crypto.rst
  doc/nrf/libraries/others/bl_validation.rst
  doc/nrf/libraries/others/hw_unique_key.rst
  doc/nrf/libraries/others/profiler.rst
  doc/nrf/libraries/others/supl_os_client.rst
  doc/nrf/libraries/zigbee/shell.rst
  doc/nrf/ug_bt_mesh_vendor_model_dev_overview.rst
  doc/nrf/ug_fw_update.rst
  doc/nrf/ug_multiprotocol_support.rst
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_nrf91_features.rst
  doc/nrf/ug_radio_fem.rst
  doc/nrf/ug_tfm.rst
  doc/nrf/ug_thingy53.rst
  doc/nrf/ug_thread_commissioning.rst
  samples/bluetooth/alexa_gadget/README.rst
  samples/nrf9160/agps/README.rst
  samples/nrf9160/at_client/README.rst
  samples/nrf9160/aws_fota/README.rst
  samples/nrf9160/cloud_client/README.rst
  samples/nrf9160/download/README.rst
  samples/nrf9160/lte_ble_gateway/README.rst
  samples/nrf9160/lwm2m_carrier/README.rst
  samples/nrf9160/udp/README.rst
  samples/openthread/cli/README.rst
  samples/spm/README.rst
  scripts/partition_manager/partition_manager.rst
Labels: doc-required

#6071 net: lib: nrf_cloud: Fix flagging for cellular positioning callback
  subsys/net/lib/nrf_cloud/include/nrf_cloud_fsm.h
Labels: CI-thingy91-test, CI-matter-test

#6061 lib: lte_link_control: Fix usage of `nrf_modem_at_scanf`
  include/modem/lte_lc.h
  lib/lte_link_control/lte_lc.c
Labels: CI-boot-dfu-test, CI-libmodem-test, CI-lwm2m-test

#6015 samples: bluetooth: dtm: replace busy wait with sleep
  samples/bluetooth/direct_test_mode/prj.conf
  samples/bluetooth/direct_test_mode/src/dtm.c
  samples/bluetooth/direct_test_mode/src/dtm.h
  samples/bluetooth/direct_test_mode/src/main.c
Labels: CI-ble-test

#6073 samples: openthread: Enabling zephyr GPIO command in openthread cli sample
  samples/openthread/cli/prj.conf
Labels: CI-thread-test

#5990 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#6077 doc: library template fix
  doc/nrf/templates/library_template_README.rst
Labels: doc-required, CI-disable

#6013 lib: edge_impulse: Expand ei_wrapper API
  applications/machine_learning/src/modules/ml_runner.c
  doc/nrf/libraries/others/ei_wrapper.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_edge_impulse.rst
  include/ei_wrapper.h
  lib/edge_impulse/ei_wrapper.cpp
  samples/edge_impulse/wrapper/README.rst
  samples/edge_impulse/wrapper/src/main.c
  tests/lib/edge_impulse/src/edge_impulse_zip/edge-impulse-sdk/ei_run_classifier_mock.cpp
  tests/lib/edge_impulse/src/edge_impulse_zip/ei_test_params.h
  tests/lib/edge_impulse/src/main.cpp
Labels: doc-required

#6049 lib: agps: deprecate the A-GPS library
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/agps.h
Labels: doc-required

#6060 manifest: update sdk-zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, CI-all-test, changelog-entry-required

#6056 lib: lte_link_control: fix lte_lc_psm_get() when not camped on a cell
  lib/lte_link_control/lte_lc.c
Labels: CI-boot-dfu-test, CI-libmodem-test, CI-lwm2m-test

#6067 samples: dtm: Fix UART baudrate for nRF5340
  samples/bluetooth/direct_test_mode/boards/nrf5340dk_nrf5340_cpunet.overlay
Labels: CI-ble-test

#6048 samples: nrf9160: agps: remove sample
  doc/nrf/libraries/networking/nrf_cloud_pgps.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf91_features.rst
  doc/nrf/ug_nrf_cloud.rst
  samples/nrf9160/agps/CMakeLists.txt
  samples/nrf9160/agps/Kconfig
  samples/nrf9160/agps/README.rst
  samples/nrf9160/agps/overlay-agps-pgps.conf
  samples/nrf9160/agps/overlay-pgps.conf
  samples/nrf9160/agps/prj.conf
  samples/nrf9160/agps/sample.yaml
  samples/nrf9160/agps/src/main.c
  samples/nrf9160/gnss/README.rst
Labels: doc-required, CI-libmodem-test

#6090 samples: nrf9160: sms: Increase main stack size
  samples/nrf9160/sms/prj.conf
Labels: CI-libmodem-test

#6074 doc: zigbee: update zboss links
  doc/nrf/links.txt
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable

#6085 changelog: Update changelog with Bluetooth RPC changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#6101 doc: requirements: Reject markdown >=3.3.5
  scripts/requirements-doc.txt
Labels: bug, CI-disable, Hotfix, changelog-entry-required

#6076 lib: supl: update SUPL client and SUPL client OS integration docs
  doc/nrf/libraries/others/images/supl_msc.svg
  doc/nrf/libraries/others/supl_os_client.rst
Labels: doc-required

#6102 doc: correct the COM port print text in BT Central UART sample
  samples/bluetooth/central_uart/README.rst
Labels: doc-required, CI-disable, CI-ble-test

#6106 applications: nrf_desktop: Reduce FLASH usage on nrf52833dongle
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/child_image/mcuboot/prj_release_mcuboot.conf
Labels: CI-desktop-test, changelog-entry-required

#6100 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#6088 applications: nrf_desktop: Fix finding next report state
  applications/nrf_desktop/src/modules/hid_state.c
Labels: CI-desktop-test

#6087 applications: nrf_desktop: Fix timeout work initialization
  applications/nrf_desktop/src/modules/ble_bond.c
Labels: CI-desktop-test

#5985 applications: nrf_desktop: Update documentation of config channel
  applications/nrf_desktop/doc/config_channel.rst
  doc/nrf/releases/release-notes-changelog.rst
  scripts/hid_configurator/README.rst
Labels: doc-required, CI-desktop-test

#5850 Add integration platforms
  samples/bluetooth/mesh/silvair_enocean/sample.yaml
  samples/bluetooth/peripheral_rscs/sample.yaml
  samples/debug/ppi_trace/sample.yaml
  tests/bluetooth/tester/testcase.yaml
  tests/crypto/testcase.yaml
  tests/drivers/clock_control/clock_control_mpsl/testcase.yaml
  tests/drivers/flash_patch/testcase.yaml
  tests/drivers/fprotect/negative/testcase.yaml
  tests/drivers/fprotect/positive/testcase.yaml
  tests/drivers/nrfx_integration_test/testcase.yaml
  tests/lib/at_cmd_parser/at_cmd_parser/testcase.yaml
  tests/lib/at_cmd_parser/at_params/testcase.yaml
  tests/lib/at_cmd_parser/at_utils/testcase.yaml
  tests/lib/hw_unique_key/testcase.yaml
  tests/lib/hw_unique_key_tfm/testcase.yaml
  tests/lib/modem_jwt/testcase.yaml
  tests/lib/sms/sample.yaml
  tests/lib/sms/testcase.yaml
  tests/modules/lib/cddl-gen/testcase.yaml
  tests/subsys/bluetooth/gatt_dm/testcase.yaml
  tests/subsys/bootloader/bl_storage/testcase.yaml
  tests/subsys/debug/cpu_load/testcase.yaml
  tests/subsys/dfu/dfu_target_stream/testcase.yaml
  tests/subsys/net/lib/fota_download/testcase.yaml
  tests/subsys/spm/secure_services/testcase.yaml
  tests/subsys/spm/thread_swap/testcase.yaml
  tests/unity/example_test/sample.yaml
  tests/unity/example_test/testcase.yaml
Labels: CI-ble-test, CI-crypto-test, CI-boot-dfu-test, CI-tfm-test, changelog-entry-required

#6079 applications: nrf_desktop: Fix USB HID report handling
  applications/nrf_desktop/src/modules/usb_state.c
Labels: CI-desktop-test, changelog-entry-required

#6086 samples: nrf9160: modem_shell: Add 'location' command
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/CMakeLists.txt
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/esp_8266_nrf9160ns.overlay
  samples/nrf9160/modem_shell/overlay-esp-wifi.conf
  samples/nrf9160/modem_shell/overlay-ppp.conf
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/sample.yaml
  samples/nrf9160/modem_shell/src/location/CMakeLists.txt
  samples/nrf9160/modem_shell/src/location/location_shell.c
  samples/nrf9160/modem_shell/src/location/location_shell.h
  samples/nrf9160/modem_shell/src/main.c
  samples/nrf9160/modem_shell/src/shell.c
Labels: doc-required, CI-libmodem-test

#6024 applications: nrf_desktop: Fix finding next report state
  doc/nrf/known_issues.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#6113 tests: subsys: bluetooth: gatt_dm: native_posix support
  tests/subsys/bluetooth/gatt_dm/prj.conf
  tests/subsys/bluetooth/gatt_dm/testcase.yaml
Labels: changelog-entry-required

#6096 samples: nrf9160: modem_shell: add support for nRF Cloud A-GPS and P-GPS
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/overlay-pgps.conf
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/sample.yaml
  samples/nrf9160/modem_shell/src/gnss/gnss.h
  samples/nrf9160/modem_shell/src/gnss/gnss_gps_driver.c
  samples/nrf9160/modem_shell/src/gnss/gnss_interface.c
  samples/nrf9160/modem_shell/src/gnss/gnss_shell.c
Labels: doc-required, CI-libmodem-test

#6111 samples: bluetooth: mesh: light_ctrl: 53 support
  samples/bluetooth/mesh/light_ctrl/CMakeLists.txt
  samples/bluetooth/mesh/light_ctrl/README.rst
  samples/bluetooth/mesh/light_ctrl/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/mesh/light_ctrl/boards/nrf5340dk_nrf5340_cpuapp_ns.overlay
  samples/bluetooth/mesh/light_ctrl/boards/pm_static_thingy53_nrf5340_cpuapp.yml
  samples/bluetooth/mesh/light_ctrl/boards/pm_static_thingy53_nrf5340_cpuapp_ns.yml
  samples/bluetooth/mesh/light_ctrl/boards/thingy53.c
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp.overlay
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp_ns.overlay
  samples/bluetooth/mesh/light_ctrl/child_image/hci_rpmsg/boards/thingy53_nrf5340_cpunet.conf
  samples/bluetooth/mesh/light_ctrl/sample.yaml
  samples/bluetooth/mesh/light_ctrl/src/model_handler.c
Labels: doc-required, CI-mesh-test, changelog-entry-required

#6022 applications: nrf_desktop: Inform that config channel is disabled
  applications/nrf_desktop/doc/config_channel.rst
  applications/nrf_desktop/src/modules/usb_state.c
  applications/nrf_desktop/src/util/config_channel_transport.c
  applications/nrf_desktop/src/util/config_channel_transport.h
  doc/nrf/releases/release-notes-changelog.rst
  scripts/hid_configurator/NrfHidDevice.py
Labels: doc-required, CI-desktop-test

#6118 samples: nrf9160: gnss: add new features
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/gnss/Kconfig
  samples/nrf9160/gnss/README.rst
  samples/nrf9160/gnss/src/main.c
Labels: doc-required, CI-libmodem-test

#6091 samples: openthread: enable PSA crypto API in non-secure builds
  doc/nrf/releases/release-notes-changelog.rst
  samples/openthread/cli/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/openthread/coap_client/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/openthread/coap_server/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
Labels: doc-required, CI-thread-test

#6122 applications: pelion_client: Fix extflash config on nrf91dk 0.14.0
  applications/pelion_client/configuration/nrf9160dk_nrf9160_ns/boards/nrf9160dk_nrf9160_ns_0_14_0.overlay
Labels: changelog-entry-required

#6097 manifest: updating Zephyr for the PPP update
  west.yml
Labels: manifest, manifest-zephyr, CI-all-test, changelog-entry-required

#6123 samples: bluetooth: mesh: sensor_srv: Thingy53
  samples/bluetooth/mesh/sensor_server/CMakeLists.txt
  samples/bluetooth/mesh/sensor_server/README.rst
  samples/bluetooth/mesh/sensor_server/boards/pm_static_thingy53_nrf5340_cpuapp.yml
  samples/bluetooth/mesh/sensor_server/boards/pm_static_thingy53_nrf5340_cpuapp_ns.yml
  samples/bluetooth/mesh/sensor_server/boards/thingy53.c
  samples/bluetooth/mesh/sensor_server/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/sensor_server/boards/thingy53_nrf5340_cpuapp.overlay
  samples/bluetooth/mesh/sensor_server/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/sensor_server/boards/thingy53_nrf5340_cpuapp_ns.overlay
  samples/bluetooth/mesh/sensor_server/child_image/hci_rpmsg/boards/thingy53_nrf5340_cpunet.conf
  samples/bluetooth/mesh/sensor_server/sample.yaml
  samples/bluetooth/mesh/sensor_server/src/model_handler.c
Labels: doc-required, changelog-entry-required

#6027 doc: matter: add configuring guide
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/samples/samples_matter.rst
  doc/nrf/ug_matter.rst
  doc/nrf/ug_matter_configuring_env.rst
  doc/nrf/ug_matter_configuring_protocol.rst
Labels: doc-required, CI-disable

#6108 doc: MCUboot Wrapper update
  CODEOWNERS
  doc/mcuboot/index-ncs.rst
  doc/mcuboot/readme-ncs.rst
  doc/mcuboot/unused_files.rst
  doc/mcuboot/wrapper.rst
Labels: doc-required, CI-disable

#6146 doc: Fixed small doc mistakes
  doc/nrf/known_issues.rst
  doc/nrf/libraries/bluetooth_services/mesh/model_types.rst
  doc/nrf/libraries/caf/sensor_sampler.rst
  doc/nrf/libraries/zigbee/zigbee_app_utils.rst
  doc/nrf/links.txt
  doc/nrf/templates/library_template_README.rst
  samples/nrf9160/https_client/README.rst
  scripts/partition_manager/partition_manager.rst
Labels: doc-required, CI-disable

#6066 manifest: Updated sdk-connectedhomeip version
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  applications/matter_weather_station/src/chip_project_config.h
  applications/matter_weather_station/src/main.cpp
  applications/matter_weather_station/src/weather-station.zap
  applications/matter_weather_station/src/zap-generated/IMClusterCommandHandler.cpp
  applications/matter_weather_station/src/zap-generated/PluginApplicationCallbacks.h
  applications/matter_weather_station/src/zap-generated/attribute-size.cpp
  applications/matter_weather_station/src/zap-generated/callback-stub.cpp
  applications/matter_weather_station/src/zap-generated/endpoint_config.h
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_matter_tools.rst
  samples/matter/common/src/thread_util.cpp
  samples/matter/light_bulb/src/light_bulb.zap
  samples/matter/light_bulb/src/light_bulb_publish_service.cpp
  samples/matter/light_bulb/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/light_bulb/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/light_bulb/src/zap-generated/attribute-size.cpp
  samples/matter/light_bulb/src/zap-generated/callback-stub.cpp
  samples/matter/light_bulb/src/zap-generated/endpoint_config.h
  samples/matter/light_bulb/src/zcl_callbacks.cpp
  samples/matter/light_switch/src/light_switch.cpp
  samples/matter/light_switch/src/light_switch.h
  samples/matter/lock/overlay-low_power.conf
  samples/matter/lock/src/chip_project_config.h
  samples/matter/lock/src/lock.zap
  samples/matter/lock/src/main.cpp
  samples/matter/lock/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/lock/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/lock/src/zap-generated/attribute-size.cpp
  samples/matter/lock/src/zap-generated/callback-stub.cpp
  samples/matter/lock/src/zap-generated/endpoint_config.h
  samples/matter/lock/src/zcl_callbacks.cpp
  samples/matter/template/src/template.zap
  samples/matter/template/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/template/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/template/src/zap-generated/attribute-size.cpp
  samples/matter/template/src/zap-generated/callback-stub.cpp
  samples/matter/template/src/zap-generated/endpoint_config.h
  west.yml
Labels: doc-required, manifest, manifest-matter, CI-matter-test

#6083 net: lib: nrf_cloud: replace deprecated at_cmd_write function
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/src/nrf_cloud_client_id.c
Labels: doc-required, CI-thingy91-test

#6150 applications: asset_tracker: env_sensor: add missing timestamps
  applications/asset_tracker/src/env_sensors/bsec.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-thingy91-test

#6140 samples: nrf9160: modem_shell: always set gnss command event handler
  samples/nrf9160/modem_shell/src/gnss/gnss_interface.c
Labels: CI-libmodem-test

#6098 modules: memfault: Add LTE metrics for PSM configuration
  doc/nrf/releases/release-notes-changelog.rst
  modules/memfault/config/memfault_metrics_heartbeat_extra.def
  modules/memfault/memfault_ncs_metrics.c
Labels: doc-required

#5753 Sensor sampler pm
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/sensor_sampler_def.h
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/sensor_sampler_def.h
  doc/nrf/libraries/caf/sensor_sampler.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/caf/sensor_sampler.h
  subsys/caf/modules/Kconfig.sensor_sampler
  subsys/caf/modules/sensor_sampler.c
Labels: doc-required, CI-desktop-test

#6063 applications: asset_tracker_v2: Send neighbor cell measurements to Azure
  applications/asset_tracker_v2/src/cloud/azure_iot_hub_integration.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/azure_iot_hub/azure_iot_hub_codec.c
  applications/asset_tracker_v2/src/modules/Kconfig.app_module
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#6142 samples: bluetooth: dtm: isolate anomaly timer code for nrf52840 soc
  samples/bluetooth/direct_test_mode/Kconfig
  samples/bluetooth/direct_test_mode/boards/nrf21540dk_nrf52840.conf
  samples/bluetooth/direct_test_mode/boards/nrf52840dk_nrf52840.conf
  samples/bluetooth/direct_test_mode/src/dtm.c
Labels: CI-ble-test

#6147 matter_weather_station: add identify & power source clusters
  applications/matter_weather_station/CMakeLists.txt
  applications/matter_weather_station/Kconfig
  applications/matter_weather_station/README.rst
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/app.overlay
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  applications/matter_weather_station/src/app_event.h
  applications/matter_weather_station/src/app_task.cpp
  applications/matter_weather_station/src/app_task.h
  applications/matter_weather_station/src/battery.cpp
  applications/matter_weather_station/src/battery.h
  applications/matter_weather_station/src/buzzer.cpp
  applications/matter_weather_station/src/buzzer.h
  applications/matter_weather_station/src/weather-station.zap
  applications/matter_weather_station/src/zap-generated/IMClusterCommandHandler.cpp
  applications/matter_weather_station/src/zap-generated/PluginApplicationCallbacks.h
  applications/matter_weather_station/src/zap-generated/attribute-size.cpp
  applications/matter_weather_station/src/zap-generated/callback-stub.cpp
  applications/matter_weather_station/src/zap-generated/endpoint_config.h
  applications/matter_weather_station/src/zap-generated/gen_config.h
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-matter-test

#6037 kconfig: mcuboot: improve handling of MCUBoot sample Kconfig
  Kconfig.nrf
  doc/nrf/releases/release-notes-changelog.rst
  modules/Kconfig
  modules/Kconfig.mcuboot
  modules/mcuboot/Kconfig
  modules/mcuboot/boot/zephyr/Kconfig
  west.yml
Labels: doc-required, manifest, CI-boot-dfu-test, manifest-mcuboot, CI-homekit-test, CI-matter-test, CI-find-my-test

#6006 doc: zigbee: sample variant overview
  doc/nrf/libraries/zigbee/index.rst
  doc/nrf/samples/samples_zigbee.rst
  doc/nrf/ug_zigbee_configuring.rst
  samples/zigbee/light_bulb/README.rst
  samples/zigbee/light_switch/README.rst
  samples/zigbee/network_coordinator/README.rst
  samples/zigbee/template/README.rst
Labels: doc-required, CI-disable, CI-zigbee-test

#6072 west.yml: Update nrfxlib and zephyr to include TF-M variable changes
  west.yml
Labels: manifest, manifest-zephyr, manifest-nrfxlib, CI-all-test, changelog-entry-required

#5789 applications: serial_lte_modem: UART at command improvement
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_host.c
Labels: doc-required

#6167 doc: update NCP host version in docs
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
Labels: doc-required

#6168 multicell_location: fix compilation issues
  samples/nrf9160/multicell_location/prj.conf
Labels: CI-iot-samples-test

#6092 event_manager: Add memory related weak func
  applications/asset_tracker_v2/tests/debug_module/src/debug_module_test.c
  applications/asset_tracker_v2/tests/gps_module/src/gps_module_test.c
  doc/nrf/releases/release-notes-changelog.rst
  include/event_manager.h
  subsys/event_manager/event_manager.c
  subsys/event_manager/event_manager_priv.h
Labels: doc-required, CI-desktop-test, CI-find-my-test

#6158 Bluetooth: Mesh: start LC resume timer in some cases of power up sequence
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: CI-mesh-test

#6164 Bluetooth: Mesh: initialize sched_time to fix Coverity warning
  subsys/bluetooth/mesh/scheduler_srv.c
Labels: CI-mesh-test

#6171 Bluetooth: Mesh: check property counter on property server
  subsys/bluetooth/mesh/gen_prop_srv.c
Labels: CI-mesh-test

#6151 manifest: Update Memfault SDK version to 0.27.3
  west.yml
Labels: manifest, manifest-memfault-firmware-sdk

#6143 Ncsdk 12028 sensor sampler rename
  applications/machine_learning/README.rst
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj_nus.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj_release.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/sensor_manager_def.h
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/sensor_manager_def.h
  applications/machine_learning/configuration/thingy52_nrf52832/prj.conf
  applications/machine_learning/configuration/thingy52_nrf52832/prj_release.conf
  applications/machine_learning/configuration/thingy52_nrf52832/sensor_manager_def.h
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/sensor_manager_def.h
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/sensor_manager_def.h
  doc/nrf/images/ml_app_architecture.svg
  doc/nrf/images/ml_app_architecture.vsdx
  doc/nrf/libraries/caf/sensor_manager.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/caf/sensor_manager.h
  subsys/caf/modules/CMakeLists.txt
  subsys/caf/modules/Kconfig
  subsys/caf/modules/Kconfig.sensor_manager
  subsys/caf/modules/Kconfig.sensor_sampler
  subsys/caf/modules/sensor_manager.c
Labels: doc-required, CI-desktop-test

#6162 net: lib: azure_iot_hub: Add API to reset DPS information
  doc/nrf/releases/release-notes-changelog.rst
  include/net/azure_iot_hub.h
  subsys/net/lib/azure_iot_hub/include/azure_iot_hub_dps.h
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_dps.c
Labels: doc-required, CI-boot-dfu-test, CI-matter-test

#5987 event manager: doc: Add doc for EM profiler
  doc/nrf/images/event_manager_profiling_sample.png
  doc/nrf/libraries/others/event_manager.rst
  doc/nrf/libraries/others/event_manager_profiler.rst
  doc/nrf/libraries/others/profiler.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/event_manager_profiler.h
  samples/profiler/README.rst
Labels: doc-required

#6174 nrf9160: http_update: Update prj.conf with new modem version
  samples/nrf9160/http_update/full_modem_update/prj.conf
  samples/nrf9160/http_update/modem_delta_update/prj.conf
Labels: CI-boot-dfu-test, CI-iot-samples-test

#6042 samples: bootloader: Remove unnecessary alignment for s1_image
  samples/bootloader/pm.yml
Labels: CI-boot-dfu-test

#6188 Bluetooth: Mesh: make sensor value an array
  tests/bluetooth/tester/src/mmdl.c
Labels: changelog-entry-required

#6173 Bluetooth: Mesh: fix move_set int32 overflow
  subsys/bluetooth/mesh/light_temp_srv.c
Labels: bug, CI-mesh-test, changelog-entry-required

#6029 manifest: update Homekit manifest
  doc/nrf/releases/release-notes-changelog.rst
  west.yml
Labels: doc-required, manifest, manifest-homekit, CI-homekit-test

#6189 samples: nrf9160: modem_shell: add comment about SUPL server license
  samples/nrf9160/modem_shell/src/gnss/gnss_supl_support.c
Labels: CI-iot-samples-test

#6137 partition manager: let sram_nonsecure span rpmsg_nrf53_sram partition
  subsys/partition_manager/pm.yml.bt_rpmsg_nrf53
Labels: CI-desktop-test, CI-crypto-test, CI-boot-dfu-test, CI-tfm-test, CI-homekit-test, CI-matter-test, CI-find-my-test

#6193 samples: zigbee: Change application log level
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_zigbee_configuring.rst
  samples/zigbee/light_bulb/src/main.c
  samples/zigbee/light_switch/src/main.c
  samples/zigbee/ncp/src/main.c
  samples/zigbee/network_coordinator/src/main.c
  samples/zigbee/shell/src/main.c
  samples/zigbee/template/src/main.c
Labels: doc-required, CI-zigbee-test

#6178 doc: nrf: libraries: networking: cleanup cloud unlink section
  doc/nrf/libraries/networking/nrf_cloud.rst
Labels: doc-required, changelog-entry-required

#6176 net: lib: nrf_cloud: add missing state checks to MQTT based APIs
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud_agps.h
  include/net/nrf_cloud_cell_pos.h
  include/net/nrf_cloud_pgps.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_cell_pos.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps.c
Labels: doc-required, CI-thingy91-test

#6152 net: lib: nrf_cloud: always add ephemerides and almanac to agps req
  applications/asset_tracker/src/main.c
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps.c
Labels: doc-required, CI-thingy91-test

#6068 Update openthread
  doc/nrf/ug_thread_tools.rst
Labels: bug, doc-required

#6197 samples: 802154_phy_test: Fix Coverity issues
  samples/peripheral/802154_phy_test/src/uart_proc.c
Labels: bug

#6185 manifest: Updated sdk-connectedhomeip revision to pull bug fix.
  doc/nrf/links.txt
  west.yml
Labels: doc-required, manifest, manifest-matter, CI-matter-test

#6135 doc: typo fix in Gazell Link Layer user guide
  doc/nrf/ug_gzll.rst
Labels: doc-required

#6204 doc: openthread: Thread tools
  doc/nrf/ug_thread_tools.rst
Labels: bug, doc-required, changelog-entry-required

#6200 tools: SES version updated to 5.68
  scripts/tools-versions-darwin.txt
  scripts/tools-versions-linux.txt
  scripts/tools-versions-minimum.txt
  scripts/tools-versions-win10.txt
Labels: changelog-entry-required

#6155 doc: Remove introduction heading line in Gazell user guides
  doc/nrf/ug_gzll.rst
  doc/nrf/ug_gzp.rst
Labels: doc-required

#6003 doc: Fix Subsection title in Working with nRF53 series
  doc/nrf/shortcuts.txt
  doc/nrf/ug_nrf5340.rst
Labels: doc-required, CI-disable

#6207 samples: openthread: cert: update THCI to the latest vestion
  samples/openthread/cli/harness/nRF_Connect_SDK.py
Labels: bug

#6191 caf: sensor_manager: Correct initialization behaviour
  doc/nrf/releases/release-notes-changelog.rst
  subsys/caf/modules/sensor_manager.c
Labels: bug, doc-required, CI-desktop-test

#6199 Bluetooth: controller: Enable periodic sync support
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_driver.c
  subsys/bluetooth/controller/hci_internal.c
Labels: CI-ble-test, CI-zigbee-test, CI-homekit-test, CI-find-my-test, changelog-entry-required

#6214 doc improvement: Add Gazell to changelog
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#6213 doc improvement: fix known issue indent
  doc/nrf/known_issues.rst
Labels: doc-required, CI-disable

#6206 applications: nrf_desktop: Allow to erase peers on startup
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/click_detector_def.h
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_b0.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_mcuboot_qspi.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_release.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_release_b0.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_shell.conf
  applications/nrf_desktop/src/hw_interface/motion_buttons.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-desktop-test

#5896 nrf_desktop: hid_forward: Fix hid output reports handling
  applications/nrf_desktop/src/modules/hid_forward.c
Labels: bug, CI-desktop-test

#6209 lib: at_monitor: Fix missing log_strdup on LOG_DBG
  lib/at_monitor/at_monitor.c
Labels: CI-iot-samples-test, CI-iot-libraries-test

#6220 samples: nrf9160: azure_iot_hub: Switch to using LOG2
  samples/nrf9160/azure_iot_hub/prj.conf
Labels: bug

#6093 doc: add known issue REM does not stop the HF Clock
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#6202 partition_manager: remove handling of legacy kconfig option
  cmake/partition_manager.cmake
Labels: CI-desktop-test, CI-crypto-test, CI-boot-dfu-test, CI-all-test, CI-tfm-test

#6210 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#6222 doc: Update Zigbee memory requirements section for NCS release
  doc/nrf/ug_zigbee_memory.rst
Labels: doc-required, CI-disable, changelog-entry-required

#6218 VERSION: 1.8.0-rc1
  VERSION
Labels: CI-disable, changelog-entry-required

#6228 Manifest/v1.8.0-rc1 tagging
  west.yml
Labels: manifest, CI-boot-dfu-test, manifest-zephyr, manifest-nrfxlib, manifest-mcuboot, CI-all-test, manifest-trusted-firmware-m, CI-tfm-test, manifest-homekit, manifest-nrf-802154, CI-homekit-test, manifest-find-my, manifest-cjson, manifest-matter, CI-matter-test, CI-find-my-test, changelog-entry-required

#6236 doc: revert known issue for 1.8.0
  doc/nrf/known_issues.rst
Labels: doc-required, CI-disable

#6133 doc: Update documentation for the third VCOM of the nRF53 DK
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_tfm.rst
Labels: doc-required
