Repository nrfconnect/sdk-nrf, pull requests merged in 2021-01, with the labels that each got.

#3509 docs: partition_manager: Clarify one_of with span values
  scripts/partition_manager/partition_manager.rst
Labels: doc-required

#3552 lib: edge_impulse: Add NCS wrapper
  include/ei_ncs.h
  lib/edge_impulse/CMakeLists.txt
  lib/edge_impulse/Kconfig
  lib/edge_impulse/ei_ncs.cpp
Labels: DNM

#3526 Bluetooth: Mesh: Fix Light Controller cooldown timer
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: CI-ble-test, bug

#3458 Bluetooth: Mesh: Light HSL models
  include/bluetooth/mesh/light_hsl.h
  include/bluetooth/mesh/light_hsl.rst
  include/bluetooth/mesh/light_hsl_cli.h
  include/bluetooth/mesh/light_hsl_cli.rst
  include/bluetooth/mesh/light_hsl_srv.h
  include/bluetooth/mesh/light_hsl_srv.rst
  include/bluetooth/mesh/light_hue_srv.h
  include/bluetooth/mesh/light_hue_srv.rst
  include/bluetooth/mesh/light_sat_srv.h
  include/bluetooth/mesh/light_sat_srv.rst
  include/bluetooth/mesh/lightness_srv.rst
  include/bluetooth/mesh/model_types.h
  include/bluetooth/mesh/models.h
  include/bluetooth/mesh/models.rst
  subsys/bluetooth/mesh/CMakeLists.txt
  subsys/bluetooth/mesh/Kconfig.models
  subsys/bluetooth/mesh/light_hsl.c
  subsys/bluetooth/mesh/light_hsl_cli.c
  subsys/bluetooth/mesh/light_hsl_internal.h
  subsys/bluetooth/mesh/light_hsl_srv.c
  subsys/bluetooth/mesh/light_hue_srv.c
  subsys/bluetooth/mesh/light_sat_srv.c
  subsys/bluetooth/mesh/lightness_internal.h
  subsys/bluetooth/mesh/lightness_srv.c
  tests/subsys/bluetooth/mesh/models/prj.conf
  tests/subsys/bluetooth/mesh/models/src/main.c
Labels: doc-required

#3549 Bluetooth: Mesh: Add page with reserved ids
  doc/nrf/links.txt
  doc/nrf/ug_bt_mesh.rst
  doc/nrf/ug_bt_mesh_reserved_ids.rst
Labels: doc-required

#3578 doc: hci_lpuart: Update building and running section
  samples/bluetooth/hci_lpuart/README.rst
Labels: doc-required

#3595 doc: make spellings consistent
  doc/nrf/app_build_system.rst
  doc/nrf/drivers/uart_nrf_sw_lpuart.rst
  doc/nrf/known_issues.rst
  doc/nrf/ug_multi_image.rst
  doc/nrf/ug_radio_fem.rst
  include/spm.rst
Labels: CI-doc-build, doc-required

#3596 doc: fix typo in XRECVFROM command
  applications/serial_lte_modem/doc/TCPIP_AT_commands.rst
Labels: CI-doc-build, doc-required

#3570 doc: fix doc versions
  doc/versions.json
Labels: CI-doc-build, doc-required

#3599 doc: fix links to user guides
  doc/nrf/links.txt
Labels: CI-doc-build, doc-required

#3577 doc: sample_board_rows.txt fixing nrf9160dk_nrf52840 entry
  doc/nrf/includes/sample_board_rows.txt
Labels: CI-doc-build, doc-required

#3581 samples: openthread: disable autostart for CLI sample
  doc/nrf/includes/thread_enable_network.txt
  samples/openthread/cli/README.rst
  samples/openthread/cli/harness/overlay-cert.conf
  samples/openthread/coap_client/prj.conf
  samples/openthread/coap_client/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/openthread/coap_server/prj.conf
  samples/openthread/coap_server/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/openthread/common/overlay-ot-defaults.conf
Labels: doc-required

#3582 doc: fix requirements section
  applications/serial_lte_modem/doc/slm_description.rst
Labels: CI-doc-build, doc-required

#3584 applications: serial_lte_modem Unsolicited result code (URC) format
  applications/serial_lte_modem/doc/GPS_AT_commands.rst
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/doc/ICMP_AT_commands.rst
  applications/serial_lte_modem/doc/MQTT_AT_commands.rst
  applications/serial_lte_modem/doc/TCPIP_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/src/gps/slm_at_gps.c
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  applications/serial_lte_modem/src/slm_at_fota.c
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_icmp.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_tcpip.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
Labels: doc-required

#2723 samples: bluetooth: central: restore numeric comparison pairing
  samples/bluetooth/central_hids/README.rst
  samples/bluetooth/central_hids/prj.conf
  samples/bluetooth/central_hids/src/main.c
  samples/bluetooth/peripheral_hids_keyboard/README.rst
  samples/bluetooth/peripheral_hids_keyboard/prj.conf
  samples/bluetooth/peripheral_hids_mouse/README.rst
  samples/bluetooth/peripheral_hids_mouse/prj.conf
Labels: doc-required

#3618 mpsl: switch from EGU to SWI in nRF53
  subsys/mpsl/mpsl_init.c
Labels: CI-ble-test

#3583 samples: openthread: add FEM support to samples
  samples/openthread/cli/README.rst
  samples/openthread/coap_client/README.rst
  samples/openthread/coap_server/README.rst
  samples/openthread/common/dts-nrf21540-fem.overlay
  samples/openthread/ncp/README.rst
Labels: doc-required

#3567 manifest: Update for nrfxlib pr 355
  west.yml
Labels: manifest, manifest-mbedtls-nrf, manifest-nrfxlib

#3538 lib: bin: lwm2m_carrier: update to version 0.10.2
  lib/bin/lwm2m_carrier/doc/CHANGELOG.rst
  lib/bin/lwm2m_carrier/lib/cortex-m33/hard-float/liblwm2m_carrier.a
Labels: doc-required

#3377 doc: usability improvement to introduction page
  doc/nrf/images/ncs-toolchain.svg
  doc/nrf/images/ncs-toolchain.vsdx
  doc/nrf/introduction.rst
  doc/nrf/links.txt
  doc/nrf/mcuboot.rst
  doc/nrf/nrfxlib.rst
  doc/nrf/ug_multi_image.rst
  doc/nrf/zephyr.rst
Labels: CI-doc-build, doc-required

#3637 doc: update documentation for 1.4.2
  README.rst
  doc/nrf/conf.py
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-1.4.2.rst
  doc/nrf/shortcuts.txt
  doc/nrf/ug_dev_model.rst
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: CI-doc-build, doc-required

#3597 doc: cleaning up the language in Power optimization doc
  doc/nrf/app_power_opt.rst
Labels: doc-required

#3644 net: lib: azure_iot_hub: Fix user_name generation
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
Labels: CI-trusted-author, external

#3580 cmake: correct signature key file handling for multi image builds
  Kconfig.nrf
  cmake/mcuboot.cmake
  modules/Kconfig.mcuboot
Labels: bug

#3241 cmake: fix dependency for zip generation which caused rerun
  cmake/fw_zip.cmake
Labels: CI-ble-test, CI-desktop-test, CI-dfu-test, CI-thingy91-test, CI-thread-test, CI-zigbee-test

#3612 samples: Remove USB to UART bridge
  CODEOWNERS
  applications/connectivity_bridge/README.rst
  doc/nrf/releases/release-notes-1.1.0.rst
  doc/nrf/releases/release-notes-1.3.0.rst
  doc/nrf/samples.rst
  doc/nrf/ug_thingy91.rst
  samples/usb/usb_uart_bridge/CMakeLists.txt
  samples/usb/usb_uart_bridge/README.rst
  samples/usb/usb_uart_bridge/app.overlay
  samples/usb/usb_uart_bridge/prj.conf
  samples/usb/usb_uart_bridge/sample.yaml
  samples/usb/usb_uart_bridge/src/main.c
Labels: doc-required

#3643 samples: openthread: update FEM overlay GPIOs
  samples/openthread/cli/README.rst
  samples/openthread/common/dts-nrf21540-fem.overlay
Labels: doc-required

#3159 Bluetooth: Mesh: Add user guide to implement vendor model
  doc/nrf/links.txt
  doc/nrf/ug_bt_mesh.rst
  doc/nrf/ug_bt_mesh_reserved_ids.rst
  doc/nrf/ug_bt_mesh_vendor_model.rst
  doc/nrf/ug_bt_mesh_vendor_model_chat_sample_walk_through.rst
  doc/nrf/ug_bt_mesh_vendor_model_dev_overview.rst
  samples/bluetooth/mesh/chat/CMakeLists.txt
  samples/bluetooth/mesh/chat/Kconfig
  samples/bluetooth/mesh/chat/README.rst
  samples/bluetooth/mesh/chat/chat_cli.rst
  samples/bluetooth/mesh/chat/include/chat_cli.h
  samples/bluetooth/mesh/chat/include/model_handler.h
  samples/bluetooth/mesh/chat/prj.conf
  samples/bluetooth/mesh/chat/sample.yaml
  samples/bluetooth/mesh/chat/src/chat_cli.c
  samples/bluetooth/mesh/chat/src/main.c
  samples/bluetooth/mesh/chat/src/model_handler.c
Labels: doc-required

#3646 Bluetooth: Mesh: Fix a documentation typo
  include/bluetooth/mesh/sensor_cli.h
Labels: CI-doc-build, CI-trusted-author, external

#3657 openthread: Increase radio workqueue stack size for multicore devices
  subsys/net/openthread/Kconfig
  west.yml
Labels: manifest, manifest-zephyr

#3532 bluetooth: Disable BT_DRIVER_QUIRK_NO_AUTO_DLE by default
  drivers/Kconfig
  drivers/bluetooth/Kconfig
  drivers/bluetooth/hci/Kconfig
Labels: CI-ble-test, RFC, doc-required

#3472 net: lib: Allign upstream changes to mqtt_keepalive_time_left()
  applications/asset_tracker/src/main.c
  include/net/azure_iot_hub.h
  include/net/cloud.h
  subsys/net/lib/aws_iot/src/aws_iot.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
  subsys/net/lib/nrf_cloud/include/nrf_cloud_transport.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fsm.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: manifest

#3661 samples: openthread: clarify that FEM is not supported for nRF53
  doc/nrf/ug_radio_fem.rst
  samples/openthread/cli/README.rst
Labels: CI-doc-build, doc-required

#3645 applications: serial_lte_modem: Save RAM usage in SLM
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/ftp_c/slm_at_ftp.c
  applications/serial_lte_modem/src/gps/slm_at_gps.c
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/main.c
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  applications/serial_lte_modem/src/slm_at_fota.c
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_icmp.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_tcpip.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  applications/serial_lte_modem/src/slm_util.c
  applications/serial_lte_modem/src/slm_util.h
Labels: doc-required

#3659 Bluetooth: Update softdevice controller & MPSL
  west.yml
Labels: manifest, manifest-nrfxlib

#3663 zigbee: Add an additional zboss osif api implementation
  subsys/zigbee/osif/zb_nrf_platform.c
  west.yml
Labels: manifest, manifest-nrfxlib

#3668 doc: typo fix in the build doc instructions
  doc/nrf/doc_build.rst
Labels: CI-doc-build, doc-required

#3666 doc: add information about west flash --erase
  doc/nrf/gs_programming.rst
Labels: CI-doc-build, doc-required

#3568 doc: add information about release notes on master
  doc/nrf/release_notes.rst
Labels: CI-doc-build, doc-required

#3662 docs: update lists of available solutions for nRF53
  doc/nrf/ug_nrf5340.rst
Labels: CI-doc-build, doc-required

#3564 samples: throughput stable transfer speed
  samples/bluetooth/throughput/CMakeLists.txt
  samples/bluetooth/throughput/dts.overlay
Labels: doc-required

#3669 doc: zigbee: update sample structure
  doc/nrf/releases/release-notes-latest.rst
  samples/zigbee/light_bulb/README.rst
  samples/zigbee/light_switch/README.rst
  samples/zigbee/network_coordinator/README.rst
Labels: CI-doc-build, doc-required

#3683 Bluetooth: Mesh: Remove redundant model_extend call in LC server
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: CI-ble-test, bug

#3671 manifest: new nrfxlib with HK requirements for OpenThread
  west.yml
Labels: manifest, manifest-nrfxlib

#3674 doc: renaming nRF Cloud to nRF Connect for Cloud
  applications/asset_tracker/README.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-0.3.0.rst
  doc/nrf/releases/release-notes-0.4.0.rst
  doc/nrf/releases/release-notes-1.0.0.rst
  doc/nrf/releases/release-notes-1.1.0.rst
  doc/nrf/releases/release-notes-1.2.0.rst
  doc/nrf/releases/release-notes-1.3.0.rst
  doc/nrf/releases/release-notes-1.4.0.rst
  doc/nrf/releases/release-notes-latest.rst
  doc/nrf/ug_thingy91.rst
  include/net/nrf_cloud.rst
  include/net/nrf_cloud_agps.rst
  samples/nrf9160/agps/README.rst
  samples/nrf9160/at_client/README.rst
  samples/nrf9160/aws_fota/README.rst
  samples/nrf9160/cloud_client/README.rst
  samples/nrf9160/http_update/application_update/README.rst
  samples/nrf9160/lte_ble_gateway/README.rst
Labels: doc-required

#3694 ci: Explicitly select junitparser==1.6.3 in compliance check
  .github/workflows/compliance.yml
Labels: CI-disable, bug

#3623 Bluetooth: Mesh: Remove light temp extension in CTL
  subsys/bluetooth/mesh/light_ctl_srv.c
Labels: CI-ble-test, bug

#3614 cmake: boot: Always set public key file target
  doc/nrf/releases/release-notes-latest.rst
  subsys/bootloader/cmake/sign.cmake
Labels: doc-required

#3650 doc: entropy_cc310 docupdate
  doc/nrf/drivers/entropy_cc310.rst
Labels: doc-required

#3693 manifest: update west.yml to select downstream sdk-trusted-firmware-m
  west.yml
Labels: manifest

#3695 doc: known issues: Add issue link loss when LTK request is masked
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#3706 zigbee: Align zb_get_reset_source API
  subsys/zigbee/osif/zb_nrf_platform.c
  west.yml
Labels: CI-zigbee-test, manifest, manifest-nrfxlib

#3684 applications: serial_lte_modem: add CONFIG for external XTAL usage
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/main.c
Labels: doc-required

#3692 net: lib: nrf_cloud: Add API to send preencoded data to nrf nrf_cloud
  doc/nrf/releases/release-notes-latest.rst
  include/net/nrf_cloud.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
Labels: doc-required

#3680 doc: slm: move SLM testing scenarios to a separate page
  applications/serial_lte_modem/README.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/doc/slm_testing.rst
Labels: CI-doc-build, doc-required

#3721 doc: update Bluetooth Host naming
  doc/nrf/releases/release-notes-1.2.0.rst
  doc/nrf/ug_ble_controller.rst
  doc/nrf/ug_bt_mesh_concepts.rst
Labels: CI-doc-build, doc-required

#3720 doc: update year in doc footer
  doc/kconfig/conf.py
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrfxlib/conf.py
  doc/zephyr/conf.py
Labels: doc-required

#3608 doc: add installing section for Connected Home over IP dependencies
  doc/nrf/gs_installing.rst
  doc/nrf/links.txt
Labels: doc-required

#3543 lib: bin: lwm2m_carrier: update to version 0.10.2
  lib/bin/lwm2m_carrier/doc/CHANGELOG.rst
  lib/bin/lwm2m_carrier/lib/cortex-m33/hard-float/liblwm2m_carrier.a
Labels: doc-required

#3339 net: openthread: Use atomic lock variant for CC310
  subsys/net/openthread/Kconfig
  west.yml
Labels: manifest, manifest-nrfxlib

#3731 zigbee: Change zigbee test macros [KRKNWK-8643]
  subsys/zigbee/lib/zigbee_app_utils/CMakeLists.txt
  subsys/zigbee/osif/zb_nrf_platform.c
Labels: CI-zigbee-test

#3734 applications: serial_lte_modem: Remove space in URC message
  applications/serial_lte_modem/doc/GPS_AT_commands.rst
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/doc/MQTT_AT_commands.rst
  applications/serial_lte_modem/doc/TCPIP_AT_commands.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  applications/serial_lte_modem/src/gps/slm_at_gps.c
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  applications/serial_lte_modem/src/slm_at_cmng.c
  applications/serial_lte_modem/src/slm_at_fota.c
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_tcpip.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
Labels: doc-required

#3745 samples: openthread: provide certification overlay file for nRF53
  doc/nrf/ug_thread_certification.rst
  samples/openthread/cli/harness/overlay-cert-nrf53.conf
Labels: doc-required

#3688 samples: zigbee: add FEM support
  doc/nrf/includes/sample_fem_support.txt
  doc/nrf/shortcuts.txt
  doc/nrf/ug_radio_fem.rst
  samples/openthread/cli/README.rst
  samples/openthread/coap_client/README.rst
  samples/openthread/coap_server/README.rst
  samples/openthread/ncp/README.rst
  samples/zigbee/common/dts-nrf21540-fem.overlay
  samples/zigbee/light_bulb/README.rst
  samples/zigbee/light_bulb/boards/nrf21540dk_nrf52840.overlay
  samples/zigbee/light_switch/README.rst
  samples/zigbee/light_switch/boards/nrf21540dk_nrf52840.overlay
  samples/zigbee/network_coordinator/README.rst
  samples/zigbee/network_coordinator/boards/nrf21540dk_nrf52840.overlay
Labels: doc-required

#3685 Bluetooth: Mesh: Ensure light ctrl srv disengages on manual changes
  include/bluetooth/mesh/lightness_srv.h
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/lightness_internal.h
  subsys/bluetooth/mesh/lightness_srv.c
Labels: CI-ble-test, bug

#3730 manifest: nrfxlib with updated OT libraries
  west.yml
Labels: manifest, manifest-nrfxlib

#3735 doc: zigbee: Remove redundant configuration step
  doc/nrf/ug_zigbee_configuring.rst
Labels: CI-doc-build, doc-required

#3726 lib: at_cmd_parser: support negative numbers
  doc/nrf/releases/release-notes-latest.rst
  include/modem/at_params.h
  lib/at_cmd_parser/at_cmd_parser.c
  lib/at_cmd_parser/at_params.c
Labels: doc-required

#3714 Bluetooth: Mesh: Move publication init inside model_init
  include/bluetooth/mesh/gen_battery_cli.h
  include/bluetooth/mesh/gen_battery_srv.h
  include/bluetooth/mesh/gen_dtt_cli.h
  include/bluetooth/mesh/gen_dtt_srv.h
  include/bluetooth/mesh/gen_loc_cli.h
  include/bluetooth/mesh/gen_loc_srv.h
  include/bluetooth/mesh/gen_lvl_cli.h
  include/bluetooth/mesh/gen_lvl_srv.h
  include/bluetooth/mesh/gen_onoff_cli.h
  include/bluetooth/mesh/gen_onoff_srv.h
  include/bluetooth/mesh/gen_plvl_cli.h
  include/bluetooth/mesh/gen_plvl_srv.h
  include/bluetooth/mesh/gen_ponoff_cli.h
  include/bluetooth/mesh/gen_ponoff_srv.h
  include/bluetooth/mesh/gen_prop.h
  include/bluetooth/mesh/gen_prop_cli.h
  include/bluetooth/mesh/gen_prop_srv.h
  include/bluetooth/mesh/light_ctl_cli.h
  include/bluetooth/mesh/light_ctl_srv.h
  include/bluetooth/mesh/light_ctrl.h
  include/bluetooth/mesh/light_ctrl_cli.h
  include/bluetooth/mesh/light_ctrl_srv.h
  include/bluetooth/mesh/light_xyl_srv.h
  include/bluetooth/mesh/lightness_cli.h
  include/bluetooth/mesh/lightness_srv.h
  include/bluetooth/mesh/sensor.h
  include/bluetooth/mesh/sensor_cli.h
  include/bluetooth/mesh/sensor_srv.h
  subsys/bluetooth/mesh/gen_battery_cli.c
  subsys/bluetooth/mesh/gen_battery_srv.c
  subsys/bluetooth/mesh/gen_dtt_cli.c
  subsys/bluetooth/mesh/gen_dtt_srv.c
  subsys/bluetooth/mesh/gen_loc_cli.c
  subsys/bluetooth/mesh/gen_loc_srv.c
  subsys/bluetooth/mesh/gen_lvl_cli.c
  subsys/bluetooth/mesh/gen_lvl_srv.c
  subsys/bluetooth/mesh/gen_onoff_cli.c
  subsys/bluetooth/mesh/gen_onoff_srv.c
  subsys/bluetooth/mesh/gen_plvl_cli.c
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/gen_ponoff_cli.c
  subsys/bluetooth/mesh/gen_ponoff_srv.c
  subsys/bluetooth/mesh/gen_prop_cli.c
  subsys/bluetooth/mesh/gen_prop_srv.c
  subsys/bluetooth/mesh/light_ctl_cli.c
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_ctrl_cli.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/light_xyl_srv.c
  subsys/bluetooth/mesh/lightness_cli.c
  subsys/bluetooth/mesh/lightness_srv.c
  subsys/bluetooth/mesh/sensor_cli.c
  subsys/bluetooth/mesh/sensor_srv.c
Labels: CI-ble-test

#3696 doc: add information about setting the VDD voltage
  applications/serial_lte_modem/doc/slm_description.rst
  doc/nrf/links.txt
Labels: CI-doc-build, doc-required

#3764 doc: slm: fix description of XMQTTCON
  applications/serial_lte_modem/doc/MQTT_AT_commands.rst
Labels: CI-doc-build, doc-required

#3749 manifest: SoftDevice controller supporting Zephyr Read Tx Power
  subsys/bluetooth/controller/hci_internal.c
  west.yml
Labels: manifest, manifest-nrfxlib

#3647 doc: networking release notes from the upmerge
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3736 openthread: Use HW mutex lock for CC312 backend in nrf_security
  subsys/net/openthread/Kconfig
  west.yml
Labels: manifest, manifest-nrfxlib

#3754 doc: provisioning and config info in mesh samples
  doc/nrf/includes/mesh_device_provisioning.txt
  doc/nrf/ug_bt_mesh.rst
  doc/nrf/ug_bt_mesh_model_config_app.rst
  samples/bluetooth/mesh/chat/README.rst
  samples/bluetooth/mesh/light/README.rst
  samples/bluetooth/mesh/light_ctrl/README.rst
  samples/bluetooth/mesh/light_switch/README.rst
  samples/bluetooth/mesh/sensor_client/README.rst
  samples/bluetooth/mesh/sensor_server/README.rst
Labels: doc-required

#3741 lib: date_time: Add support for IPv6
  lib/date_time/Kconfig
  lib/date_time/date_time.c
Labels: CI-trusted-author, external
