Repository nrfconnect/sdk-nrf, pull requests merged in 2021-02, with the labels that each got.

#3774 net: lib: download_client: max filename size is too small
  subsys/net/lib/download_client/Kconfig
Labels: CI-trusted-author, external

#3781 manifest: Add nrfxlib PR #390
  west.yml
Labels: manifest, manifest-nrfxlib

#3789 manifest: synchronize trusted-firmware-m module with Zephyr
  west.yml
Labels: manifest, manifest-trusted-firmware-m

#3779 Bluetooth: Mesh: Changing initial lightness range min to allowed value
  subsys/bluetooth/mesh/lightness_srv.c
Labels: CI-ble-test, bug

#3794 manifest: zephyr rebase
  west.yml
Labels: manifest, manifest-zephyr

#3782 manifest: update sdk-zephyr for west group feature
  west.yml
Labels: manifest, manifest-mcuboot, manifest-zephyr

#3778 manifest: Update nrfxlib to PR #389
  west.yml
Labels: manifest, manifest-nrfxlib

#3786 lib: bin: lwm2m_carrier: Add oper_id check to lwm2m_os_sec_psk_delete()
  doc/nrf/known_issues.rst
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
Labels: doc-required

#3613 tests: unity: Enable compilation on platforms without setjmp
  tests/unity/CMakeLists.txt
  tests/unity/unity_cfg.yaml
  tests/unity/unity_config.h
  west.yml
Labels: manifest, manifest-cmock, manifest-unity

#3747 MPSL: update manifest
  west.yml
Labels: manifest, manifest-nrfxlib

#3744 release-note: record on MCUboot shell
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#3682 Upmerge 14.12.2020 Release Notes Update
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#3759 samples: openthread: fix vendor hooks symbol name
  samples/openthread/ncp/README.rst
  samples/openthread/ncp/overlay-vendor_hook.conf
Labels: doc-required

#3434 samples: alexa_gadget: Add ci_build tag
  samples/bluetooth/alexa_gadget/sample.yaml
Labels: CI-ble-test

#3796 Kernel docs for ncs 1.5
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3800 samples: bluetooth: Fix extended advertising configuration
  samples/bluetooth/central_hr_coded/child_image/hci_rpmsg.conf
  samples/bluetooth/peripheral_hr_coded/child_image/hci_rpmsg.conf
Labels: CI-ble-test

#3691 Bluetooth: Mesh: Added check of transition data and success of allrea…
  include/bluetooth/mesh/model_types.h
  include/bluetooth/mesh/scene_cli.h
  include/bluetooth/mesh/scene_srv.h
  subsys/bluetooth/mesh/model_utils.h
  subsys/bluetooth/mesh/scene_cli.c
  subsys/bluetooth/mesh/scene_srv.c
Labels: CI-ble-test, bug

#3813 manifest: update zephyr with pairing procedure improvement
  west.yml
Labels: CI-ble-test, manifest, manifest-zephyr

#3719 samples: add multiprotocol BLE and 802.15.4 RPMSG sample
  CODEOWNERS
  samples/CMakeLists.txt
  samples/nrf5340/multiprotocol_rpmsg/CMakeLists.txt
  samples/nrf5340/multiprotocol_rpmsg/README.rst
  samples/nrf5340/multiprotocol_rpmsg/prj.conf
  samples/nrf5340/multiprotocol_rpmsg/sample.yaml
  samples/nrf5340/multiprotocol_rpmsg/src/main.c
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib, manifest-zephyr

#3811 manifest: update sdk-zephyr for remove unnecessary parenteses
  samples/connectedhomeip/lock/CMakeLists.txt
  west.yml
Labels: CI-thread-test, manifest, manifest-zephyr

#3818 doc: fix manifest in dm_adding_code.rst
  doc/nrf/dm_adding_code.rst
Labels: CI-doc-build, doc-required

#3825 samples: zigbee: Remove setting unnecesary option
  samples/zigbee/light_bulb/prj.conf
  samples/zigbee/light_bulb/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/light_switch/prj.conf
  samples/zigbee/light_switch/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/network_coordinator/prj.conf
  samples/zigbee/network_coordinator/prj_nrf5340dk_nrf5340_cpuapp.conf
Labels: CI-zigbee-test

#3773 samples: peripheral_hr_coded: Remove useless default_conn
  samples/bluetooth/peripheral_hr_coded/src/main.c
Labels: CI-ble-test

#3810 manifest: sdk-nrfxlib update to fix issue in get_mbedtls_dir() function
  west.yml
Labels: manifest, manifest-nrfxlib

#3795 doc: updating app_memory for peripheral_uart
  doc/nrf/app_memory.rst
Labels: doc-required

#3817 doc: release-notes-latest: update ff720cd9b343 synchronization sha
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#3832 west: Update bootloader/mcuboot revision
  west.yml
Labels: manifest, manifest-mcuboot

#3815 doc: Update Thread CLI sample with setting basic parameters
  doc/nrf/includes/thread_configure_network.txt
  samples/openthread/cli/README.rst
Labels: doc-required

#3801 doc: Add nRF53 to Thread architecture user guide
  doc/nrf/images/thread_platform_design_nRF53.odg
  doc/nrf/images/thread_platform_design_nRF53.svg
  doc/nrf/images/thread_platform_design_nRF53_multi.odg
  doc/nrf/images/thread_platform_design_nRF53_multi.svg
  doc/nrf/ug_thread_architectures.rst
Labels: CI-doc-build, doc-required

#3681 samples: openthread: update harness THCI file
  .checkpatch.conf
  doc/nrf/ug_thread_certification.rst
  samples/openthread/cli/harness/nRF52840.jpg
  samples/openthread/cli/harness/nRF_Connect_SDK.jpg
  samples/openthread/cli/harness/nRF_Connect_SDK.py
Labels: CI-doc-build, doc-required

#3791 doc: upmerge: Document "other" category upstream commits
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#3788 manifest: update sdk-zephyr for Zephyr module duplicate removal
  west.yml
Labels: manifest, manifest-zephyr

#3823 doc: release-notes-latest: Add changes in drivers from upmerge 20201214
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3845 partition_manager: Cleanup missed references to b0_provision
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/pm_static_ZDebugB0.yml
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/pm_static_ZReleaseB0.yml
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/pm_static_ZDebugB0.yml
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/pm_static_ZReleaseB0.yml
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/pm_static_ZDebugB0.yml
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/pm_static_ZReleaseB0.yml
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/pm_static_ZDebugB0.yml
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/pm_static_ZReleaseB0.yml
  doc/nrf/releases/release-notes-latest.rst
  scripts/partition_manager/partition_manager.rst
Labels: CI-desktop-test, doc-required

#3837 net: lib: nrf_cloud: Let control and data messages share ID counter
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: bug

#3852 mainifest: sdk-mcuboot update
  west.yml
Labels: manifest, manifest-mcuboot

#3854 samples: openthread: no need for separated nRF53 cert file
  doc/nrf/ug_thread_certification.rst
  samples/openthread/cli/harness/overlay-cert-nrf53.conf
Labels: CI-thread-test, doc-required

#3848 zigbee: Fix static analysis issues
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
  tests/subsys/zigbee/zboss_api/callback_api/src/main.c
Labels: CI-zigbee-test

#3838 samples: openthread: Add missing masterkey configuration for nRF5340
  samples/openthread/coap_client/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/openthread/coap_server/prj_nrf5340dk_nrf5340_cpuapp.conf
Labels: CI-thread-test

#3783 Initial support for HomeKit in NCS
  west.yml
Labels: DNM, manifest

#3784 softdevice_controller: Fix event length on command disallowed
  subsys/bluetooth/controller/hci_internal.c
Labels: CI-ble-test

#3821 manifest: Use new softdevice controller
  west.yml
Labels: manifest, manifest-nrfxlib

#3819 lib: lte_link_control: Support manufacturer default eDRX/PSM values
  doc/nrf/releases/release-notes-latest.rst
  include/modem/lte_lc.h
  lib/lte_link_control/lte_lc.c
Labels: doc-required

#3820 manifest: Update Zephyr revision to include ADXL362 fix
  west.yml
Labels: manifest, manifest-zephyr

#3868 zigbee: Make writing data of length 0 into nvram valid
  subsys/zigbee/osif/zb_nrf_nvram.c
Labels: CI-zigbee-test

#3862 Throughput documentation correction
  samples/bluetooth/throughput/README.rst
Labels: doc-required

#3753 Bluetooth: Mesh: Scheduler model implementation
  include/bluetooth/mesh/models.h
  include/bluetooth/mesh/scheduler.h
  include/bluetooth/mesh/scheduler_cli.h
  include/bluetooth/mesh/scheduler_srv.h
  subsys/bluetooth/mesh/CMakeLists.txt
  subsys/bluetooth/mesh/Kconfig.models
  subsys/bluetooth/mesh/scheduler_cli.c
  subsys/bluetooth/mesh/scheduler_internal.h
  subsys/bluetooth/mesh/scheduler_srv.c
  subsys/bluetooth/mesh/time_srv.c
  subsys/bluetooth/mesh/time_util.c
  subsys/bluetooth/mesh/time_util.h
  tests/subsys/bluetooth/mesh/models/prj.conf
  tests/subsys/bluetooth/mesh/models/src/main.c
  tests/subsys/bluetooth/mesh/models/testcase.yaml
Labels: CI-ble-test

#3839 Bluetooth: Add sdk-zephyr release notes for recent upmerges
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3873 lib: edge_impulse: Rename ei_ncs to ei_wrapper
  CODEOWNERS
  doc/nrf/samples.rst
  doc/nrf/ug_edge_impulse.rst
  include/ei_wrapper.h
  include/ei_wrapper.rst
  lib/edge_impulse/CMakeLists.txt
  lib/edge_impulse/Kconfig
  lib/edge_impulse/ei_wrapper.cpp
  samples/ei_wrapper/CMakeLists.txt
  samples/ei_wrapper/README.rst
  samples/ei_wrapper/prj.conf
  samples/ei_wrapper/sample.yaml
  samples/ei_wrapper/src/include/input_data.h
  samples/ei_wrapper/src/main.c
Labels: doc-required

#3866 doc: release-notes-lates: Summarize networking changes from Zephyr
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3802 spm: added support for nRF5340 peripherals in non-secure applications
  doc/nrf/releases/release-notes-latest.rst
  subsys/spm/Kconfig
  subsys/spm/spm.c
Labels: doc-required, enhancement

#3856 doc: move versions.txt generation to own file
  CODEOWNERS
  doc/CMakeLists.txt
  doc/update_versions.cmake
Labels: doc-required

#3877 samples: connectedhomeip: include CHIP as an NCS module
  samples/connectedhomeip/light_bulb/CMakeLists.txt
  samples/connectedhomeip/light_switch/CMakeLists.txt
  samples/connectedhomeip/lock/CMakeLists.txt
  west.yml
Labels: doc-required, manifest, manifest-connectedhomeip

#3867 release-notes: notes for MCUboot, flash, MCUmgr, DFU
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#3872 samples: openthread: Use entropy from CC310 in Thread samples
  samples/openthread/cli/boards/nrf21540dk_nrf52840.overlay
  samples/openthread/cli/boards/nrf52840dk_nrf52840.overlay
  samples/openthread/cli/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/openthread/coap_client/boards/nrf21540dk_nrf52840.overlay
  samples/openthread/coap_client/boards/nrf52840dk_nrf52840.overlay
  samples/openthread/coap_client/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/openthread/coap_server/boards/nrf21540dk_nrf52840.overlay
  samples/openthread/coap_server/boards/nrf52840dk_nrf52840.overlay
  samples/openthread/coap_server/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/openthread/ncp/boards/nrf21540dk_nrf52840.overlay
  samples/openthread/ncp/boards/nrf52840dk_nrf52840.overlay
Labels: CI-thread-test

#3860 doc: nRF53 UG: IEEE 802.15.4 design in multi-core SoC
  doc/nrf/images/ieee802154_nrf53_multiprot_design.svg
  doc/nrf/images/ieee802154_nrf53_singleprot_design.svg
  doc/nrf/releases/release-notes-latest.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

#3833 doc: mcuboot: updating the MCUboot in nRF Connect SDK description
  doc/mcuboot/readme-ncs.rst
Labels: CI-doc-build, doc-required

#3616 application: serial_lte_modem Handle TCP/UDP datamode requirements
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/doc/TCPIP_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.h
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.h
  doc/nrf/releases/release-notes-latest.rst
Labels: DNM, doc-required

#3886 applications: asset_tracker: Fix SPM config
  applications/asset_tracker/child_image/spm/prj.conf
Labels: bug

#3792 manifest: nrf_modem: version 1.0.0
  include/modem/nrf_modem_lib.h
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  lib/nrf_modem_lib/CMakeLists.txt
  lib/nrf_modem_lib/Kconfig
  lib/nrf_modem_lib/nrf91_sockets.c
  lib/nrf_modem_lib/nrf_modem_lib.c
  lib/nrf_modem_lib/nrf_modem_os.c
  lib/nrf_modem_lib/shmem_sanity.c
  samples/nrf9160/aws_fota/src/main.c
  samples/nrf9160/aws_iot/src/main.c
  samples/nrf9160/azure_fota/src/main.c
  samples/nrf9160/download/src/main.c
  samples/nrf9160/http_update/application_update/src/main.c
  samples/nrf9160/http_update/modem_delta_update/src/main.c
  samples/nrf9160/https_client/src/main.c
  subsys/partition_manager/Kconfig
  subsys/partition_manager/Kconfig.template.partition_size
  subsys/partition_manager/pm.yml.libmodem
  west.yml
Labels: manifest, manifest-nrfxlib

#3846 net: lib: azure_fota: Add job ID handling to avoid repeated update
  samples/nrf9160/azure_fota/README.rst
  subsys/net/lib/azure_fota/Kconfig
  subsys/net/lib/azure_fota/azure_fota.c
Labels: bug, doc-required

#3890 doc: logging: add info about default setting
  doc/nrf/ug_logging.rst
Labels: CI-doc-build, doc-required

#3865 doc: nRF53 UG: update information about child image configuration.
  doc/nrf/ug_nrf5340.rst
Labels: CI-doc-build, doc-required

#3880 doc: known_issues: No RSSI temperature adjustment in 802.15.4
  doc/nrf/known_issues.rst
Labels: doc-required

#3892 doc: docreview for PR 3860
  doc/nrf/releases/release-notes-latest.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

#3891 nrf: doc: release notes for TF-M and for Zephyr "architectures" area
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#3864 doc: TF-M updates for NCS 1.5
  doc/nrf/includes/build_and_run_nrf9160.txt
  doc/nrf/includes/spm.txt
  doc/nrf/links.txt
  doc/nrf/ug_multi_image.rst
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_nrf9160.rst
  doc/nrf/ug_tfm.rst
  include/spm.rst
  samples/tfm/tfm_hello_world/README.rst
Labels: CI-doc-build, doc-required

#3884 manifest: move homekit elsewhere
  west.yml
Labels: CI-all-test, manifest

#3893 doc: relnotes: Document "other" section for Zephyr upmerge
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3901 doc: chip: add configuration overview
  doc/nrf/images/CHIP_configuration_overview.jpg
  doc/nrf/images/chip_nrfconnect_overview_simplified.svg
  doc/nrf/images/chip_nrfconnect_overview_simplified_ncs.svg
  doc/nrf/links.txt
  doc/nrf/ug_chip.rst
  samples/connectedhomeip/light_bulb/README.rst
  samples/connectedhomeip/lock/README.rst
Labels: CI-doc-build, doc-required

#3914 doc: zigbee: update NCP host description
  doc/nrf/shortcuts.txt
Labels: doc-required

#3925 applications: asset_tracker_v2: Fix static code analysis issues
  applications/asset_tracker_v2/src/cloud/aws_iot_integration.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/aws_iot_codec.c
  applications/asset_tracker_v2/src/modules/data_module.c
Labels: bug

#3899 doc: release-notes-latest: Add changes in drivers from the last upmerge
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3932 applications: nrf_desktop: Memory optimizations for nrf52810
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/app_ZDebug.conf
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/app_ZRelease.conf
Labels: CI-desktop-test, bug

#3913 applications: asset_tracker_v2: subscribe to rejected get requests
  applications/asset_tracker_v2/prj.conf
Labels: bug

#3922 applications: serial_lte_modem: BUG-FIX unsupported FTP command
  applications/serial_lte_modem/doc/FTP_AT_commands.rst
  applications/serial_lte_modem/src/ftp_c/slm_at_ftp.c
Labels: bug, doc-required

#3917 doc: change wording of tf-m limitation
  doc/nrf/ug_tfm.rst
Labels: CI-doc-build, doc-required

#3926 zigbee: Update ZBOSS libraries to v3.5.0.0+1.0.0
  west.yml
Labels: CI-zigbee-test, manifest, manifest-nrfxlib

#3923 applications: SLM: Static Analysis Fix uninitialized scalar variable
  applications/serial_lte_modem/src/ftp_c/slm_at_ftp.c
  applications/serial_lte_modem/src/slm_at_host.c
Labels: bug

#3915 doc: format fix to Bluetooth throughput sample doc
  samples/bluetooth/throughput/README.rst
Labels: CI-doc-build, doc-required

#3939 samples: connectedhomeip: increase the limit for polled kernel objects and fix other issues
  doc/nrf/links.txt
  samples/connectedhomeip/light_bulb/prj.conf
  samples/connectedhomeip/lock/prj.conf
  west.yml
Labels: CI-chip-test, doc-required, manifest, manifest-connectedhomeip

#3943 applications: asset_tracker_v2: Add note about work-in-progress
  applications/asset_tracker_v2/README.rst
Labels: CI-doc-build, doc-required

#3889 samples: ncp: Fix and cleanup sample CMakeLists
  samples/zigbee/ncp/CMakeLists.txt
  samples/zigbee/ncp/README.rst
  samples/zigbee/ncp/boards/nrf21540dk_nrf52840_usb.conf
  samples/zigbee/ncp/boards/nrf52833dk_nrf52833_usb.conf
  samples/zigbee/ncp/boards/nrf52840dk_nrf52840_usb.conf
  samples/zigbee/ncp/child_image/mcuboot_usb.conf
  samples/zigbee/ncp/configuration/nrf52833dk_nrf52833/mcuboot.conf
  samples/zigbee/ncp/configuration/nrf52840dk_nrf52840/mcuboot.conf
  samples/zigbee/ncp/prj_usb.conf
  samples/zigbee/ncp/sample.yaml
  samples/zigbee/ncp/usb.overlay
Labels: CI-zigbee-test, bug, doc-required

#3942 doc: Updating crypto changelog items for nRF
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3916 doc: thread: Update pre-build OpenThread libraries and memory requirements
  doc/nrf/ug_thread_ot_memory.rst
  west.yml
Labels: bug, doc-required, manifest, manifest-nrfxlib

#3944 west.yml: Update unity version
  west.yml
Labels: manifest, manifest-unity

#3952 applications: asset_tracker_v2: combine cloud provider section
  applications/asset_tracker_v2/README.rst
  doc/nrf/links.txt
Labels: CI-doc-build, doc-required

#3946 manifest: update for PR 410 nrfxlib
  west.yml
Labels: manifest, manifest-nrfxlib

#3874 tfm: Adapt to new signing algorithm
  modules/tfm/CMakeLists.txt
  west.yml
Labels: CI-tfm-test, manifest, manifest-trusted-firmware-m, manifest-zephyr

#3951 manifest: update for PR 414
  west.yml
Labels: manifest, manifest-nrfxlib

#3961 dfu_target_stream: fix bug with storing progress
  subsys/dfu/dfu_target/src/dfu_target_stream.c
Labels: bug

#3959 net: lib: aws_iot: Include check for MQTT_CLEAN_SESSION flag
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: bug

#3964 doc: zigbee: update configuration info
  doc/nrf/links.txt
  doc/nrf/ug_zigbee_configuring.rst
  include/zigbee/zigbee_fota.rst
Labels: CI-doc-build, doc-required

#3960 manifest: update sdk-connectedhomeip for Android fix
  doc/nrf/links.txt
  west.yml
Labels: doc-required, manifest, manifest-connectedhomeip

#3945 dfu_target_mcuboot: ensure that pointer to file is in RAM
  subsys/dfu/dfu_target/src/dfu_target_mcuboot.c
  subsys/net/lib/fota_download/src/fota_download.c
  tests/subsys/dfu/dfu_target_mcuboot/src/main.c
  tests/subsys/dfu/dfu_target_mcuboot/testcase.yaml
Labels: bug

#3936 drivers: serial: lpuart: Fix handling of unstable transmitter
  drivers/serial/uart_nrf_sw_lpuart.c
Labels: bug

#3957 Bluetooth: Mesh: Fixing errors in Mesh Sample Documation
  samples/bluetooth/mesh/chat/README.rst
  samples/bluetooth/mesh/light_ctrl/README.rst
Labels: CI-doc-build, bug, doc-required

#3963 doc: Doc fixes for asset tracker v2
  applications/asset_tracker_v2/README.rst
Labels: CI-doc-build, doc-required

#3949 doc: update for NCSDK_8256
  include/net/fota_download.rst
Labels: doc-required

#3870 doc: update release with HomeKit info
  doc/nrf/releases/release-notes-latest.rst
Labels: CI-doc-build, doc-required

#3910 mcuboot: kconfig: add option for signature key file
  modules/Kconfig.mcuboot
Labels: bug

#3954 net: lib: aws_fota: Fix issues with reciving multiple notify-next
  subsys/net/lib/aws_fota/Kconfig
  subsys/net/lib/aws_fota/src/aws_fota.c
Labels: bug

#3975 samples: cloud_client: add missing configurations
  samples/nrf9160/cloud_client/prj.conf
Labels: bug

#3981 doc: chip: update CHIP naming
  doc/nrf/gs_installing.rst
  doc/nrf/images/chip_nrfconnect_overview_simplified_ncs.svg
  doc/nrf/images/chip_nrfconnect_overview_simplified_ncs.vsdx
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-latest.rst
  doc/nrf/samples.rst
  doc/nrf/ug_chip.rst
  doc/nrf/ug_nrf52.rst
  samples/connectedhomeip/light_bulb/README.rst
  samples/connectedhomeip/light_switch/README.rst
  samples/connectedhomeip/lock/README.rst
Labels: CI-doc-build, doc-required

#3982 samples: cloud_client: Use length when printing data
  samples/nrf9160/cloud_client/src/main.c
Labels: bug

#3976 net: lib: azure_fota: Fix issues with reporting of 'error' status
  subsys/net/lib/azure_fota/azure_fota.c
Labels: bug

#3947 west.yml: Bring in sample.yml fixes in sdk-zephyr
  west.yml
Labels: manifest, manifest-zephyr

#3978 manifest: nrf5340ns DTS fix in sdk-zephyr
  west.yml
Labels: CI-all-test, bug, manifest, manifest-zephyr

#3905 doc: known_issues: Update known issues for Bluetooth
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#3940 manifest: samples: boards: nrf: ieee802154: Optimize power on nRF53
  samples/nrf5340/multiprotocol_rpmsg/README.rst
  samples/nrf5340/multiprotocol_rpmsg/prj.conf
  west.yml
Labels: CI-thread-test, bug, doc-required, manifest, manifest-zephyr

#3987 cmake: Prevent use of UART1 when building with TF-M
  samples/CMakeLists.txt
Labels: CI-tfm-test

#3991 sample: secure_services: read spm fw info instead of app
  samples/nrf9160/secure_services/src/main.c
Labels: bug

#3993 Bluetooth: Mesh: Correcting model name in Light Sample
  samples/bluetooth/mesh/light/README.rst
Labels: CI-doc-build, doc-required

#3994 net: lib: aws_fota: Clear MQTT buffer when message is dropped
  subsys/net/lib/aws_fota/src/aws_fota.c
Labels: bug

#3971 west.yml: update sdk-zephyr to fix Windows build
  west.yml
Labels: manifest, manifest-zephyr

#3997 lib: edge_impulse: Add missing dependency
  lib/edge_impulse/CMakeLists.txt
Labels: bug

#3970 manifest: nrf_modem: release 1.0.1
  lib/nrf_modem_lib/nrf91_sockets.c
  west.yml
Labels: manifest, manifest-nrfxlib

#3771 doc: Update known issues for 150 release
  doc/nrf/known_issues.rst
Labels: CI-doc-build, DNM, doc-required

#4002 toolchain: make toolchain 1.5.0 minimum supported
  share/ncs-package/cmake/NcsConfig.cmake
Labels: bug

#4005 samples: nrf9160: lwm2m_client: Clarify APP_LWM2M_SERVER config docs
  doc/nrf/links.txt
  samples/nrf9160/lwm2m_client/README.rst
Labels: CI-doc-build, doc-required

#4001 applications: serial_lte_modem: FOTA mistake in PRs
  applications/serial_lte_modem/src/slm_at_fota.c
Labels: bug

#4011 applications: asset_tracker_v2: Purge message queues if enqueue fails.
  applications/asset_tracker_v2/src/modules/modules_common.c
  applications/asset_tracker_v2/src/modules/modules_common.h
Labels: bug

#4013 applications: asset_tracker_v2: Check nrf_modem_lib_init return code
  applications/asset_tracker_v2/src/main.c
Labels: bug

#4012 applications: asset_tracker_v2: Use correct module count when rebooting
  applications/asset_tracker_v2/src/modules/util_module.c
Labels: bug

#4016 doc: chip: add GN required note
  doc/nrf/shortcuts.txt
  doc/nrf/ug_chip.rst
  samples/connectedhomeip/light_bulb/README.rst
  samples/connectedhomeip/light_switch/README.rst
  samples/connectedhomeip/lock/README.rst
Labels: CI-doc-build, doc-required

#4014 manifest: update zephyr to get the zero timeout schedulling fix
  west.yml
Labels: manifest, manifest-zephyr

#4009 Zigbee: Add known issue in Zigbee Shell
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#3989 doc: known_issues: Add HID configurator issue on Linux
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#4010 doc: Updating known crypto issues for nRF Connect SDK v1.5.0
  doc/nrf/known_issues.rst
Labels: doc-required

#4008 doc: added NCS-8372 to known SES-NE issues
  doc/nrf/known_issues.rst
Labels: doc-required

#4025 ci: compliance: use py-versions from requirements-fixed.txt
  .github/workflows/compliance.yml
Labels: DNM, doc-required, manifest, manifest-nrfxlib

#4024 zigbee: Add a known issue regarding Scenes commands
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#3824 doc: update versions for 1.5.0 release
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrf/dm_adding_code.rst
  doc/nrf/links.txt
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib

#4034 manifest: Update manifest file with v1.5.0 tags
  west.yml
Labels: manifest, manifest-connectedhomeip, manifest-mcuboot, manifest-nrfxlib, manifest-trusted-firmware-m, manifest-zephyr

#4006 NCSDK-6973 Post-release doc update
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-latest.rst
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

#4017 west.yml: switch to 'allowlist'
  scripts/west_commands/ncs_commands.py
  west.yml
Labels: manifest

#4039 doc: link fix to nRF9160 user guide
  doc/nrf/ug_nrf9160.rst
Labels: CI-doc-build, doc-required

#4027 manifest: Update nrfxlib rev
  west.yml
Labels: manifest, manifest-nrfxlib

#4047 Manifest: update sdk-zephyr rev
  west.yml
Labels: manifest, manifest-zephyr

#4049 west.yml: update sdk-zephyr to add connectionless Direction Finding
  west.yml
Labels: CI-ble-test, manifest, manifest-zephyr
