Repository nrfconnect/sdk-nrf, pull requests merged in 2021-12, with the labels that each got.

#6261 doc improvement: fix broken links in sdk-nrf
  doc/nrf/links.txt
  samples/bluetooth/mesh/sensor_server/README.rst
Labels: doc-required, CI-disable

#5874 drivers: flash_nop_device: set target platform as native_posix
  drivers/flash/flash_nop_device/flash_nop_device.c
  tests/drivers/flash_nop_device/boards/native_posix_ev_0x00.overlay
  tests/drivers/flash_nop_device/src/main.c
  tests/drivers/flash_nop_device/testcase.yaml
Labels: external, changelog-entry-required

#6277 manifest: nrf_modem: version 1.4.1
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test, changelog-entry-required

#6280 doc: tfm: add missing sphinx tabs extension
  doc/tfm/conf.py
Labels: doc-required, changelog-entry-required

#6278 manifest: Update to nrfxlib PR 599
  doc/CMakeLists.txt
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib, changelog-entry-required

#6276 Bluetooth: Mesh: Avoid types promotion in Sensor server
  subsys/bluetooth/mesh/sensor_srv.c
Labels: CI-mesh-test

#6275 samples: openthread: Add missing conversion to the THCI file
  samples/openthread/cli/harness/nRF_Connect_SDK.py
Labels: bug, CI-thread-test

#6256 samples: nrf9160: Fix pdn sample
  samples/nrf9160/pdn/prj.conf
Labels: bug

#5807 samples: peripheral: lpuart: Reduce power consumption for nrf9160dk
  samples/peripheral/lpuart/README.rst
  samples/peripheral/lpuart/boards/nrf9160dk_nrf9160_ns.conf
  samples/peripheral/lpuart/boards/nrf9160dk_nrf9160_ns.overlay
  samples/peripheral/lpuart/child_image/spm/prj.conf
  samples/peripheral/lpuart/sample.yaml
Labels: doc-required

#6284 applications: nrf_desktop: Fix find_next_report_state in hid_state
  applications/nrf_desktop/src/modules/hid_state.c
Labels: bug, CI-desktop-test

#6231 doc improvement: use acronym GNSS instead of GPS where appropriate
  applications/asset_tracker/README.rst
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/asset_tracker_v2/doc/debug_module.rst
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  doc/nrf/libraries/modem/lte_lc.rst
  doc/nrf/libraries/modem/modem_info.rst
  doc/nrf/libraries/networking/nrf_cloud.rst
  doc/nrf/libraries/networking/nrf_cloud_agps.rst
  doc/nrf/libraries/networking/nrf_cloud_pgps.rst
  doc/nrf/libraries/others/date_time.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf91_features.rst
  doc/nrf/ug_thingy91.rst
  samples/nrf9160/lte_ble_gateway/README.rst
  samples/nrf9160/lwm2m_client/README.rst
Labels: doc-required

#6254 doc: openthread: align with upstream changes
  doc/nrf/includes/thread_configure_network.txt
Labels: bug, doc-required

#6289 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test

#6267 boards: arm: thingy91_nrf9160: Guard calls to nrf_modem_at_printf
  boards/arm/thingy91_nrf9160/board_nonsecure.c
Labels: bug, CI-thingy91-test

#6229 doc: update nrfxlib revision for mpsl figures update
  west.yml
Labels: manifest, CI-disable, manifest-nrfxlib, CI-all-test

#5531 samples: dtm: Fix compilation error for AoA/AoD capable SoCs
  samples/bluetooth/direct_test_mode/src/dtm_hw_config.h
Labels: CI-ble-test, changelog-entry-required

#6279 doc: Update AWS IoT docs
  doc/nrf/libraries/networking/aws_iot.rst
Labels: doc-required, CI-disable, changelog-entry-required

#6296 doc: openthread: State there are no libraries for cpuapp_ns
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#6274 nrf9160: samples: aws_fota: Reboot after modem DFU
  samples/nrf9160/aws_fota/src/main.c
Labels: bug, CI-boot-dfu-test

#6292 Bluetooth: Mesh: Fix light representation in periodic publication
  subsys/bluetooth/mesh/lightness_srv.c
Labels: bug, CI-mesh-test

#6297 applications: nrf_desktop: Restrict power modes during DFU
  applications/nrf_desktop/src/modules/dfu.c
Labels: bug, CI-desktop-test, changelog-entry-required

#6306 Bluetooth: Mesh: Change rem_time type to uint32_t
  samples/bluetooth/mesh/light_ctrl/src/model_handler.c
Labels: CI-mesh-test

#6305 manifest: pull fixes for Matter testing tools
  doc/nrf/links.txt
  west.yml
Labels: doc-required, manifest, manifest-matter, CI-matter-test

#6181 samples: nrf9160: at_monitor: Replace sscanf with strncmp and atoi
  samples/nrf9160/at_monitor/src/main.c
Labels: bug

#6310 samples: matter: lock: enable GPIO1 for nRF21540DK
  samples/matter/lock/boards/nrf21540dk_nrf52840.overlay
Labels: bug, CI-matter-test

#6291 zigbee: Workaround for KRKNWK-12301
  subsys/zigbee/osif/zb_nrf_transceiver.c
Labels: bug, CI-zigbee-test, changelog-entry-required

#6205 manifest: Pull in Bluetooth Mesh feature freeze patches
  west.yml
Labels: DNM, manifest, manifest-zephyr, CI-mesh-test, changelog-entry-required

#6311 doc: samples: add msc to EM Profiler Tracer doc
  doc/nrf/templates/cheat_sheet.rst
  samples/event_manager_profiler_tracer/README.rst
Labels: doc-required, CI-disable

#6312 manifest: Pull in Bluetooth Mesh feature freeze patches
  west.yml
Labels: manifest, CI-disable, manifest-zephyr

#6313 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: bug, manifest, manifest-zephyr, manifest-nrfxlib, CI-all-test, manifest-nrf-802154, changelog-entry-required

#6323 doc: requirements: force mistune < 2.0
  scripts/requirements-doc.txt
Labels: CI-disable, changelog-entry-required

#6321 Bluetooth: Mesh: Add undefined value for delta trigger format
  subsys/bluetooth/mesh/sensor_types.c
Labels: bug, CI-mesh-test

#6334 lib: bin: lwm2m_carrier: Document lwm2m_carrier_run exit
  lib/bin/lwm2m_carrier/include/lwm2m_carrier.h
Labels: CI-disable

#6327 samples: openthread: add dongle to the supported list
  samples/openthread/coprocessor/README.rst
Labels: doc-required

#6326 application: asset_tracker_v2: Increase thread stack sizes
  applications/asset_tracker_v2/src/modules/Kconfig.debug_module
  applications/asset_tracker_v2/src/modules/Kconfig.sensor_module
Labels: bug

#6337 manifest: update homekit revision
  west.yml
Labels: bug, manifest, manifest-homekit, CI-homekit-test, changelog-entry-required

#6290 manifest: mucboot update
  west.yml
Labels: bug, manifest, CI-boot-dfu-test, manifest-mcuboot, CI-dfu-test, changelog-entry-required

#6348 lib: pdn: Fix pdn_init() condition
  lib/pdn/Kconfig
Labels: changelog-entry-required, CI-iot-libraries-test

#6347 applications: asset_tracker_v2: Disconnect upon an association request
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
Labels: bug, changelog-entry-required

#6342 scripts: profiler: Pin version of pynrfjprog
  scripts/profiler/requirements.txt
Labels: bug

#6335 application: asset_tracker_v2: Enable doreply flag in cell pos request
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
Labels: bug

#6332 doc: relocate FOTA build file docs
  doc/nrf/app_build_system.rst
  doc/nrf/libraries/networking/nrf_cloud.rst
Labels: doc-required

#6295 samples: openthread: mark TF-M support as experimental
  subsys/net/openthread/Kconfig
Labels: CI-thread-test, CI-matter-test, changelog-entry-required

#6230 doc improvement: Fix an API reference in GZLL user guide
  doc/nrf/ug_gzll.rst
Labels: doc-required

#6341 doc improvement: Various doc fixes
  applications/machine_learning/README.rst
  doc/nrf/ug_bt_mesh_vendor_model_dev_overview.rst
  doc/nrf/ug_gzll.rst
  samples/bluetooth/direct_test_mode/README.rst
Labels: doc-required, CI-disable

#6330 samples: central_and_peripheral_hr: Fix typo in folder name
  samples/bluetooth/central_and_peripheral_hr/CMakeLists.txt
  samples/bluetooth/central_and_peripheral_hr/README.rst
  samples/bluetooth/central_and_peripheral_hr/hr_service.ncs
  samples/bluetooth/central_and_peripheral_hr/hrs_adv_setup.ncs
  samples/bluetooth/central_and_peripheral_hr/prj.conf
  samples/bluetooth/central_and_peripheral_hr/sample.yaml
  samples/bluetooth/central_and_peripheral_hr/src/main.c
Labels: doc-required, CI-disable, CI-ble-test, changelog-entry-required

#6251 applications: asset_tracker_v2: update links to nRF Asset Tracker docs
  doc/nrf/links.txt
Labels: doc-required, CI-disable, changelog-entry-required

#6336 doc: Bluetooth: Mesh: Release notes for v1.8.0
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#6331 caf: power_manager: Clear RESETREAS
  subsys/caf/modules/power_manager.c
  west.yml
Labels: manifest, CI-desktop-test, CI-boot-dfu-test, manifest-mcuboot, changelog-entry-required

#6302 lib: multicell_location: handle NULL position result from cloud
  lib/multicell_location/services/nrf_cloud_integration.c
Labels: bug, changelog-entry-required, CI-iot-samples-test

#6329 doc: caf: Add description of power management in sensor manager
  doc/nrf/libraries/caf/images/caf_sensor_states.svg
  doc/nrf/libraries/caf/images/caf_sensor_states.vsdx
  doc/nrf/libraries/caf/sensor_manager.rst
Labels: doc-required

#6338 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test, changelog-entry-required

#6349 manifest: update homekit revision
  west.yml
Labels: manifest, CI-disable, manifest-homekit, CI-homekit-test, changelog-entry-required

#6358 doc: ug_nrf5340: fix P24 description
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_tfm.rst
Labels: doc-required, CI-disable

#6307 doc: matter: rewrite matter dev environement docs
  applications/matter_weather_station/README.rst
  doc/nrf/ug_matter.rst
  doc/nrf/ug_matter_configuring.rst
  doc/nrf/ug_matter_configuring_controller.rst
  doc/nrf/ug_matter_configuring_env.rst
  doc/nrf/ug_matter_configuring_protocol.rst
  doc/nrf/ug_matter_tools.rst
  samples/matter/lock/README.rst
Labels: doc-required, CI-disable, CI-matter-test, changelog-entry-required

#6366 requirements-fixed.txt: bump babel to 2.9.1
  scripts/requirements-fixed.txt
Labels: dependencies, CI-disable

#6361 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test, changelog-entry-required

#6345 doc improvement: fix style and typos in sdk-nrf
  applications/matter_weather_station/README.rst
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/battery_charger.rst
  applications/nrf_desktop/doc/ble_bond.rst
  applications/nrf_desktop/doc/ble_discovery.rst
  applications/nrf_desktop/doc/ble_latency.rst
  applications/nrf_desktop/doc/board.rst
  applications/nrf_desktop/doc/config_channel.rst
  applications/nrf_desktop/doc/cpu_meas.rst
  applications/nrf_desktop/doc/dev_descr.rst
  applications/nrf_desktop/doc/dfu.rst
  applications/nrf_desktop/doc/hfclk_lock.rst
  applications/nrf_desktop/doc/hid_forward.rst
  applications/nrf_desktop/doc/hid_state.rst
  applications/nrf_desktop/doc/hids.rst
  applications/nrf_desktop/doc/led_state.rst
  applications/nrf_desktop/doc/led_stream.rst
  applications/nrf_desktop/doc/leds.rst
  applications/nrf_desktop/doc/motion.rst
  applications/nrf_desktop/doc/passkey.rst
  applications/nrf_desktop/doc/qos.rst
  applications/nrf_desktop/doc/selector.rst
  applications/nrf_desktop/doc/settings_loader.rst
  applications/nrf_desktop/doc/usb_state.rst
  applications/pelion_client/README.rst
  doc/nrf/links.txt
  doc/nrf/ug_matter_configuring_protocol.rst
  doc/nrf/ug_matter_creating_accessory.rst
  doc/nrf/ug_thread_certification.rst
  doc/nrf/ug_thread_commissioning.rst
  doc/nrf/ug_zigbee_adding_clusters.rst
  doc/nrf/ug_zigbee_configuring.rst
  doc/nrf/ug_zigbee_configuring_libraries.rst
  doc/nrf/ug_zigbee_other_ecosystems.rst
  doc/nrf/ug_zigbee_supported_features.rst
Labels: doc-required, CI-desktop-test, CI-matter-test

#6257 manifest: Update zephyr
  west.yml
Labels: bug, manifest, manifest-zephyr, CI-all-test, changelog-entry-required

#6351 manifest: nrf_modem: v1.0.1 1
  west.yml
Labels: manifest, manifest-nrfxlib

#6034 bluetooth: services: nus: Add nus-client context upon msg reception.
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/services/nus_client.h
  samples/bluetooth/central_uart/src/main.c
  subsys/bluetooth/services/nus_client.c
Labels: doc-required, CI-trusted-author, external, CI-desktop-test, CI-ble-test, CI-zigbee-test, CI-homekit-test, CI-find-my-test

#6369 doc: partition manager static configuration
  doc/nrf/ug_multi_image.rst
  scripts/partition_manager/partition_manager.rst
Labels: doc-required, CI-disable

#6372 samples: nrf9160: https_client: change host
  samples/nrf9160/https_client/README.rst
  samples/nrf9160/https_client/cert/DigiCertGlobalRootCA.pem
  samples/nrf9160/https_client/cert/GlobalSign-Root-CA-R2
  samples/nrf9160/https_client/src/main.c
Labels: doc-required

#6378 manifest: update homekit revision
  west.yml
Labels: manifest, CI-disable, manifest-homekit, CI-homekit-test

#6374 doc: gs_modifying: small fixes
  doc/nrf/gs_modifying.rst
Labels: doc-required

#6381 doc: event_manager: misc fixes
  doc/nrf/libraries/others/event_manager.rst
Labels: doc-required

#6237 doc: update known issues for 1.8.0 release
  doc/nrf/gs_installing.rst
  doc/nrf/gs_programming.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable

#6385 doc: update versions in doc after 1.8.0 release
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required, CI-disable

#6396 VERSION: bump to 1.8.99
  VERSION
Labels: CI-disable

#6301 Bluetooth: Controller: Fix Periodic adv sync count for mem pool
  subsys/bluetooth/controller/hci_driver.c
Labels: CI-ble-test, CI-zigbee-test, CI-homekit-test, CI-find-my-test, changelog-entry-required

#6401 manifest: Update manifest file with v1.5.2 tag
  west.yml
Labels: manifest, manifest-nrfxlib

#5950 nfct: Drop support for compiling without NFCT defines present
  subsys/nfc/lib/platform.c
Labels: CI-nfc-test, CI-matter-test, CI-find-my-test, changelog-entry-required

#6400 doc: add 1.5.2 to master
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-1.5.2.rst
  doc/versions.json
Labels: doc-required, CI-disable

#6132 applications: serial_lte_modem: Add overlay for target Thingy:91
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/boards/nrf9160dk_nrf9160_ns.conf
  applications/serial_lte_modem/boards/nrf9160dk_nrf9160_ns.overlay
  applications/serial_lte_modem/boards/thingy91_nrf9160_ns.conf
  applications/serial_lte_modem/boards/thingy91_nrf9160_ns.overlay
  applications/serial_lte_modem/doc/TWI_AT_commands.rst
  applications/serial_lte_modem/doc/images/teraterm.svg
  applications/serial_lte_modem/doc/images/termite.svg
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/sample.yaml
  doc/nrf/links.txt
Labels: doc-required

#6409 doc: Update path syntax in 1.5.2 release notes
  doc/nrf/releases/release-notes-1.5.2.rst
Labels: doc-required

#6410 doc: Update path syntax in 1.5.2 release notes
  doc/nrf/releases/release-notes-1.5.2.rst
Labels: doc-required, CI-disable

#6239 tests: dfu_target_mcuboot: enable native posix
  tests/subsys/dfu/dfu_target_mcuboot/CMakeLists.txt
  tests/subsys/dfu/dfu_target_mcuboot/include/pm_config.h
  tests/subsys/dfu/dfu_target_mcuboot/include/stub_nrfx/nrfx.h
  tests/subsys/dfu/dfu_target_mcuboot/src/main.c
  tests/subsys/dfu/dfu_target_mcuboot/testcase.yaml
Labels: CI-boot-dfu-test

#6324 kconfig: mcuboot: fix 16kB minimal builds
  modules/mcuboot/boot/zephyr/Kconfig
Labels: CI-boot-dfu-test, CI-homekit-test, CI-matter-test, CI-find-my-test

#6389 doc: add Device Manager as FOTA update option
  doc/nrf/links.txt
  doc/nrf/ug_nrf52.rst
Labels: doc-required, CI-disable

#6223 lib: nrf_cloud: make NRF_CLOUD_CELL_POS depend on NRF_CLOUD_MQTT
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_cell_pos
  subsys/net/lib/nrf_cloud/src/nrf_cloud_cell_pos.c
Labels: CI-thingy91-test, CI-matter-test

#6386 lib: at_cmd_parser: ignore response result
  doc/nrf/releases/release-notes-changelog.rst
  lib/at_cmd_parser/at_cmd_parser.c
  tests/lib/at_cmd_parser/at_cmd_parser/src/main.c
Labels: doc-required, CI-iot-samples-test

#6390 doc: pdn: minor updates
  doc/nrf/libraries/modem/pdn.rst
  include/modem/pdn.h
Labels: doc-required, CI-iot-libraries-test

#6379 doc improvement: fix style in sdk-nrf
  applications/nrf_desktop/doc/battery_charger.rst
Labels: doc-required, CI-desktop-test

#6355 doc: nrf9160: add note on control signal that enables ext flash
  samples/nrf9160/http_update/full_modem_update/README.rst
Labels: doc-required, CI-disable

#6315 applications: asset_tracker_v2: Add documentation for the cloud module
  applications/asset_tracker_v2/README.rst
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/asset_tracker_v2/doc/cloud_module.rst
  applications/asset_tracker_v2/doc/cloud_wrapper.rst
  applications/asset_tracker_v2/doc/debug_module.rst
  applications/asset_tracker_v2/src/cloud/cloud_wrapper.h
  applications/asset_tracker_v2/src/events/app_module_event.h
  applications/asset_tracker_v2/src/events/cloud_module_event.h
  applications/asset_tracker_v2/src/events/debug_module_event.h
  applications/asset_tracker_v2/src/modules/Kconfig.cloud_module
  doc/nrf/images/asset_tracker_v2_cloud_module_hierarchy.svg
  doc/nrf/images/asset_tracker_v2_cloud_module_hierarchy.vsdx
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#6403 samples: matter: Added config to inform about experimental support
  doc/nrf/releases/release-notes-changelog.rst
  subsys/Kconfig
  subsys/matter/Kconfig
Labels: doc-required

#6416 ci: use v1.8-branch fork of CI
  Jenkinsfile
Labels: changelog-entry-required

#6417 Bluetooth: Mesh: Correct Sensor Cadence Status min length
  include/bluetooth/mesh/sensor.h
Labels: CI-mesh-test

#6399 Bluetooth: Mesh: Make BT_MESH_MODEL_USER_DATA macro public
  include/bluetooth/mesh/model_types.h
Labels: CI-mesh-test

#6244 lib: Verification for nRF Cloud REST and MQTT configurations
  lib/location/method_gnss.c
  lib/multicell_location/Kconfig
  lib/multicell_location/services/nrf_cloud_integration.c
  samples/nrf9160/modem_shell/src/gnss/gnss_interface.c
  subsys/net/lib/nrf_cloud/CMakeLists.txt
  subsys/net/lib/nrf_cloud/Kconfig
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_pgps
  subsys/net/lib/nrf_cloud/src/nrf_cloud_jwt.c
Labels: CI-thingy91-test, CI-matter-test, changelog-entry-required, CI-iot-samples-test

#6422 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test, changelog-entry-required

#6161 caf: click_detector: configurable click intervals
  subsys/caf/modules/Kconfig.click_detector
  subsys/caf/modules/click_detector.c
Labels: external, CI-desktop-test

#6413 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test, manifest-homekit, manifest-nrf-802154, manifest-find-my, manifest-matter

#6190 samples: nrf9160: modem_shell: add MQTT connection to nRF cloud
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/CMakeLists.txt
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/overlay-cloud_mqtt.conf
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/sample.yaml
  samples/nrf9160/modem_shell/src/cloud/CMakeLists.txt
  samples/nrf9160/modem_shell/src/cloud/cloud_shell.c
  samples/nrf9160/modem_shell/src/gnss/gnss_shell.h
  samples/nrf9160/modem_shell/src/shell.c
Labels: doc-required, CI-iot-samples-test

#6433 samples: matter: Disabled BT central for multiprotocol builds
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg_release.conf
  samples/matter/light_bulb/child_image/multiprotocol_rpmsg.conf
  samples/matter/lock/child_image/multiprotocol_rpmsg.conf
  samples/matter/template/child_image/multiprotocol_rpmsg.conf
Labels: CI-matter-test

#5930 doc: update central_smp_client testing doc
  samples/bluetooth/central_smp_client/README.rst
Labels: doc-required, CI-ble-test, changelog-entry-required

#6427 caf: Prevent linker from dropping modules from module_id_list
  subsys/caf/events/CMakeLists.txt
  subsys/caf/events/module_id_list.ld
Labels: bug, CI-desktop-test

#6425 manifest: update nrfxlib
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test, changelog-entry-required

#6352 bootloader: Fixed typo in Kconfig
  subsys/bootloader/Kconfig
Labels: CI-boot-dfu-test, CI-tfm-test, CI-homekit-test, CI-matter-test, CI-find-my-test

#6426 caf: Rework returned address of module_id_get and MODULE_ID
  applications/machine_learning/src/events/ml_result_event.c
  doc/nrf/releases/release-notes-changelog.rst
  include/caf/events/module_state_event.h
  subsys/caf/events/module_state_event.c
  subsys/caf/events/power_manager_event.c
Labels: bug, doc-required, CI-desktop-test

#6343 nrf_desktop: dfu: Config channel should distinguish bootloader type
  applications/nrf_desktop/doc/dfu.rst
  applications/nrf_desktop/src/modules/dfu.c
  doc/nrf/releases/release-notes-changelog.rst
  scripts/hid_configurator/NrfHidDevice.py
  scripts/hid_configurator/README.rst
  scripts/hid_configurator/configurator_cli.py
  scripts/hid_configurator/modules/dfu.py
Labels: doc-required, CI-desktop-test

#6353 samples: nrf9160: gnss: add support for minimal assistance
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/gnss/CMakeLists.txt
  samples/nrf9160/gnss/Kconfig
  samples/nrf9160/gnss/README.rst
  samples/nrf9160/gnss/scripts/factory_almanac_to_string.py
  samples/nrf9160/gnss/src/assistance.c
  samples/nrf9160/gnss/src/assistance_minimal.c
  samples/nrf9160/gnss/src/factory_almanac.h
  samples/nrf9160/gnss/src/main.c
  samples/nrf9160/gnss/src/mcc_location_table.c
  samples/nrf9160/gnss/src/mcc_location_table.h
Labels: doc-required

#6059 doc: nrf: configuring thread: typo
  doc/nrf/ug_thread_configuring.rst
Labels: doc-required

#6406 doc: Glossary Update
  doc/nrf/glossary.rst
Labels: doc-required, changelog-entry-required

#6446 doc impovement: clarify Thread Harness link
  doc/nrf/ug_thread_certification.rst
Labels: doc-required, CI-disable

#6443 manifest: mcuboot update
  west.yml
Labels: bug, manifest, CI-boot-dfu-test, manifest-mcuboot

#6441 samples: bluetooth: align BLE samples with new features
  samples/bluetooth/alexa_gadget/src/main.c
  samples/bluetooth/central_and_peripheral_hr/src/main.c
  samples/bluetooth/central_bas/src/main.c
  samples/bluetooth/central_hids/src/main.c
  samples/bluetooth/central_hr_coded/src/main.c
  samples/bluetooth/central_nfc_pairing/src/main.c
  samples/bluetooth/central_smp_client/src/main.c
  samples/bluetooth/central_uart/src/main.c
  samples/bluetooth/llpm/src/main.c
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/src/lb_service_handler.c
  samples/bluetooth/peripheral_ancs_client/src/main.c
  samples/bluetooth/peripheral_bms/src/main.c
  samples/bluetooth/peripheral_cts_client/src/main.c
  samples/bluetooth/peripheral_gatt_dm/src/main.c
  samples/bluetooth/peripheral_hids_keyboard/src/main.c
  samples/bluetooth/peripheral_hids_mouse/src/main.c
  samples/bluetooth/peripheral_hr_coded/src/main.c
  samples/bluetooth/peripheral_lbs/src/main.c
  samples/bluetooth/peripheral_nfc_pairing/src/main.c
  samples/bluetooth/peripheral_rscs/src/main.c
  samples/bluetooth/peripheral_uart/src/main.c
  samples/bluetooth/shell_bt_nus/src/main.c
  samples/bluetooth/throughput/src/main.c
Labels: CI-ble-test, CI-nfc-test, changelog-entry-required

#6434 doc: RSC service total distance correction and units
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/services/rscs.h
  samples/bluetooth/peripheral_rscs/README.rst
Labels: doc-required, CI-desktop-test, CI-ble-test, CI-zigbee-test, CI-homekit-test, CI-find-my-test

#5785 thingy91: Adding support for BT over HCI on Thingy:91
  boards/arm/thingy91_nrf9160/CMakeLists.txt
  boards/arm/thingy91_nrf9160/dts/bindings/nordic,thingy91-nrf52840-reset.yaml
  boards/arm/thingy91_nrf9160/nrf52840_reset.c
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_common.dts
  samples/bluetooth/hci_lpuart/boards/thingy91_nrf52840.conf
  samples/bluetooth/hci_lpuart/boards/thingy91_nrf52840.overlay
  samples/bluetooth/hci_lpuart/prj.conf
  samples/nrf9160/lte_ble_gateway/boards/thingy91_nrf9160_ns.conf
  samples/nrf9160/lte_ble_gateway/boards/thingy91_nrf9160_ns.overlay
  samples/nrf9160/lte_ble_gateway/child_image/spm.conf
  samples/nrf9160/lte_ble_gateway/prj.conf
Labels: CI-ble-test, CI-libmodem-test, changelog-entry-required

#6435 doc: optimizing subpage levels in App development section
  doc/nrf/app_opt.rst
  doc/nrf/ext_comps.rst
  doc/nrf/protocols.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_app_dev.rst
Labels: doc-required, CI-disable

#6437 Asset Tracker v2: Add documentation for the sensor module
  applications/asset_tracker_v2/README.rst
  applications/asset_tracker_v2/doc/sensor_module.rst
  applications/asset_tracker_v2/src/events/sensor_module_event.h
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#6444 applications: asset_tracker_v2: Add documentation for the UI module
  applications/asset_tracker_v2/README.rst
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/asset_tracker_v2/doc/ui_module.rst
  applications/asset_tracker_v2/src/events/ui_module_event.h
Labels: doc-required, CI-disable

#6467 applications: asset_tracker: Fix regression in ui_module_event
  applications/asset_tracker_v2/src/events/ui_module_event.h
Labels: bug, CI-apps-test, Hotfix
