Repository nrfconnect/sdk-nrf, pull requests merged in 2021-03, with the labels that each got.

#3977 Bluetooth: Mesh: Changed default values of temperature and range to be in a valid range.
  include/bluetooth/mesh/light_temp_srv.h
  subsys/bluetooth/mesh/light_temp_srv.c
Labels: CI-ble-test

#4048 caf: Rename directories to shorter version.
  CODEOWNERS
  doc/nrf/libraries/caf/buttons.rst
  doc/nrf/libraries/lib_caf.rst
  subsys/CMakeLists.txt
  subsys/Kconfig
  subsys/caf/CMakeLists.txt
  subsys/caf/Kconfig
  subsys/caf/events/CMakeLists.txt
  subsys/caf/events/Kconfig
  subsys/caf/events/button_event.c
  subsys/caf/events/button_event.h
  subsys/caf/events/module_state_event.c
  subsys/caf/events/module_state_event.h
  subsys/caf/events/power_event.c
  subsys/caf/events/power_event.h
  subsys/caf/include/gpio_pins.h
  subsys/caf/include/key_id.h
  subsys/caf/modules/CMakeLists.txt
  subsys/caf/modules/Kconfig
  subsys/caf/modules/Kconfig.buttons
  subsys/caf/modules/buttons.c
Labels: doc-required

#4050 openthread: remove libs selection from Harness overlay
  doc/nrf/ug_thread_certification.rst
  samples/openthread/cli/harness/overlay-cert.conf
Labels: CI-thread-test, doc-required

#4059 Fix minor CAF doc issues.
  doc/nrf/libraries/caf/buttons.rst
Labels: doc-required

#4035 doc: known_issues: Add new NCS 1.5 Thread known issues
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#3990 manifest: Update softdevice controller and mpsl
  west.yml
Labels: CI-ble-test, manifest, manifest-nrfxlib

#4042 Bluetooth: Mesh: Align Occupancy On event handling with model spec
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: CI-ble-test, bug

#3969 Bluetooth: Mesh: Updated setting in prj.conf for samples.
  samples/bluetooth/mesh/chat/prj.conf
  samples/bluetooth/mesh/light/prj.conf
  samples/bluetooth/mesh/light_ctrl/prj.conf
  samples/bluetooth/mesh/light_switch/prj.conf
  samples/bluetooth/mesh/sensor_client/prj.conf
  samples/bluetooth/mesh/sensor_server/prj.conf
Labels: CI-ble-test, bug

#4007 zigbee: Fix API mismatch in zb_secur_ic_add
  subsys/zigbee/cli/zigbee_cli_cmd_bdb.c
Labels: CI-zigbee-test

#3878 zigbee: Add ZBOSS alarm unit test
  tests/subsys/zigbee/zboss_api/alarm_api/CMakeLists.txt
  tests/subsys/zigbee/zboss_api/alarm_api/app.overlay
  tests/subsys/zigbee/zboss_api/alarm_api/prj.conf
  tests/subsys/zigbee/zboss_api/alarm_api/src/main.c
  tests/subsys/zigbee/zboss_api/alarm_api/testcase.yaml
Labels: CI-zigbee-test

#4068 applications: asset_tracker: Add missing break statement
  applications/asset_tracker/src/main.c
Labels: bug

#4058 zigbee: Simplify ZBOSS target in nrfxlib
  west.yml
Labels: manifest, manifest-nrfxlib

#4031 partition_manager: Add flash_map_partition_manager.c
  subsys/partition_manager/CMakeLists.txt
  subsys/partition_manager/Kconfig
  subsys/partition_manager/flash_map_partition_manager.c
  west.yml
Labels: manifest, manifest-zephyr

#4064 Bluetooth: Mesh: Make public the acknowledged message timeout configuration
  subsys/bluetooth/mesh/Kconfig.models
  subsys/bluetooth/mesh/model_utils.c
Labels: CI-ble-test

#4028 Bluetooth: Mesh: Improve debug logging in Light Lightness
  subsys/bluetooth/mesh/lightness_srv.c
Labels: CI-ble-test

#4067 Bluetooth: Mesh: Simplify scheduler design by removing unnecessary extension
  include/bluetooth/mesh/scheduler_srv.rst
  subsys/bluetooth/mesh/Kconfig.models
  subsys/bluetooth/mesh/scheduler_srv.c
Labels: CI-ble-test, doc-required

#3985 Bluetooth: Mesh: Remove lightness model extension from init handler
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: CI-ble-test, bug

#4081 samples: edge_impulse: Move EI samples to common folder
  CODEOWNERS
  doc/nrf/samples.rst
  samples/edge_impulse/data_forwarder/CMakeLists.txt
  samples/edge_impulse/data_forwarder/README.rst
  samples/edge_impulse/data_forwarder/prj.conf
  samples/edge_impulse/data_forwarder/sample.yaml
  samples/edge_impulse/data_forwarder/src/main.c
  samples/edge_impulse/wrapper/CMakeLists.txt
  samples/edge_impulse/wrapper/README.rst
  samples/edge_impulse/wrapper/prj.conf
  samples/edge_impulse/wrapper/sample.yaml
  samples/edge_impulse/wrapper/src/include/input_data.h
  samples/edge_impulse/wrapper/src/main.c
Labels: doc-required

#4069 applications: serial_lte_modem: fix invalid port range
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/doc/MQTT_AT_commands.rst
  applications/serial_lte_modem/doc/TCPIP_AT_commands.rst
  applications/serial_lte_modem/src/ftp_c/slm_at_ftp.c
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_tcpip.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  applications/serial_lte_modem/src/slm_util.c
  applications/serial_lte_modem/src/slm_util.h
Labels: doc-required

#4044 samples: Bluetooth: Add Direction Finding connectionless Tx sample
  CODEOWNERS
  samples/bluetooth/direction_finding_connectionless_tx/CMakeLists.txt
  samples/bluetooth/direction_finding_connectionless_tx/README.rst
  samples/bluetooth/direction_finding_connectionless_tx/boards/nrf52833dk_nrf52833.overlay
  samples/bluetooth/direction_finding_connectionless_tx/overlay-aoa.conf
  samples/bluetooth/direction_finding_connectionless_tx/prj.conf
  samples/bluetooth/direction_finding_connectionless_tx/sample.yaml
  samples/bluetooth/direction_finding_connectionless_tx/src/main.c
Labels: doc-required

#3407 drivers: Remove SDC flash driver
  drivers/bt_ll_softdevice/CMakeLists.txt
  drivers/bt_ll_softdevice/Kconfig
  drivers/bt_ll_softdevice/flash/CMakeLists.txt
  drivers/bt_ll_softdevice/flash/Kconfig
  drivers/bt_ll_softdevice/flash/flash_ll_softdevice.c
Labels: CI-ble-test, CI-desktop-test

#4085 caf: Move key_id.h file to new include directory
  applications/nrf_desktop/configuration/common/passkey_buttons.h
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/hid_keymap_def.h
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/buttons_sim_def.h
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/hid_keymap_def.h
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/hid_keymap_def.h
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/hid_keymap_def.h
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/fn_keys_def.h
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/hid_keymap_def.h
  applications/nrf_desktop/src/modules/fn_keys.c
  include/caf/key_id.h
  subsys/caf/CMakeLists.txt
  subsys/caf/modules/buttons.c
Labels: CI-desktop-test

#4003 applications: serial_lte_modem: Add #XSLEEP=2 (power off UART)
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/main.c
  applications/serial_lte_modem/src/slm_at_host.c
Labels: doc-required

#4074 lib/subsys: enable offloading posix appl compilation without NET_SOCKETS_POSIX_NAMES
  lib/at_cmd/at_cmd.c
  lib/nrf_modem_lib/Kconfig
  lib/nrf_modem_lib/nrf91_sockets.c
  subsys/dfu/dfu_target/src/dfu_target_modem_delta.c
  subsys/net/lib/download_client/src/download_client.c
  subsys/net/lib/zzhc/zzhc.c
  west.yml
Labels: manifest, manifest-zephyr

#4082 net: fota_download: Add API to get fota image type
  doc/nrf/releases/release-notes-latest.rst
  include/net/fota_download.h
  subsys/net/lib/fota_download/src/fota_download.c
Labels: doc-required

#4086 cmake: multi image: propagating BOARD_REVISION to child image build
  cmake/multi_image.cmake
Labels: bug

#4098 doc: slm: fix XUDPCLI data reception format
  applications/serial_lte_modem/doc/TCPIP_AT_commands.rst
  applications/serial_lte_modem/doc/slm_testing.rst
Labels: CI-doc-build, doc-required

#4057 manifest: Nrfxlib update with entropy driver fix
  west.yml
Labels: CI-all-test, manifest, manifest-nrfxlib

#4076 doc: general fixes to BLE samples
  doc/nrf/gs_programming.rst
  samples/bluetooth/peripheral_hids_keyboard/README.rst
  samples/bluetooth/peripheral_uart/README.rst
Labels: CI-doc-build, doc-required

#4071 Softdevice_controller: remove RNG from the SoftDevice Controller
  CODEOWNERS
  drivers/CMakeLists.txt
  drivers/Kconfig
  drivers/bt_ll_softdevice/CMakeLists.txt
  drivers/bt_ll_softdevice/Kconfig
  drivers/bt_ll_softdevice/entropy/CMakeLists.txt
  drivers/bt_ll_softdevice/entropy/Kconfig
  drivers/bt_ll_softdevice/entropy/entropy_ll_softdevice.c
  subsys/bluetooth/controller/hci_driver.c
  west.yml
Labels: CI-ble-test, CI-crypto-test, manifest, manifest-nrfxlib

#4070 applications: asset_tracker_v2: Fix data types passed between modules.
  applications/asset_tracker_v2/Kconfig
  applications/asset_tracker_v2/prj.conf
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec.h
  applications/asset_tracker_v2/src/events/modem_module_event.h
  applications/asset_tracker_v2/src/modules/Kconfig.cloud_module
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  applications/asset_tracker_v2/src/modules/Kconfig.modem_module
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/modem_module.c
Labels: bug

#4041 applications: asset_tracker_v2: cloud_codec: Add JSON common API.
  applications/asset_tracker_v2/src/cloud/cloud_codec/CMakeLists.txt
  applications/asset_tracker_v2/src/cloud/cloud_codec/aws_iot_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_common.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_common.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_helpers.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_helpers.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_protocol_names.h
  applications/asset_tracker_v2/src/modules/data_module.c
Labels: doc-required

#4094 caf: Fix PM events dependency
  include/caf/buttons.rst
  subsys/caf/Kconfig
  subsys/caf/modules/Kconfig.buttons
  subsys/caf/modules/buttons.c
Labels: doc-required

#4112 samples: openthread: Add minimal configuration for RCP
  samples/openthread/coprocessor/README.rst
  samples/openthread/coprocessor/overlay-minimal_rcp.conf
  samples/openthread/coprocessor/sample.yaml
Labels: doc-required

#4120 applications: asset_tracker_v2: Include missing GPS network mode value.
  applications/asset_tracker_v2/src/modules/data_module.c
Labels: bug

#4118 doc: chip: update architecture diagram
  doc/nrf/images/chip_nrfconnect_overview_simplified_ncs.svg
  doc/nrf/images/chip_nrfconnect_overview_simplified_ncs.vsdx
Labels: CI-doc-build, doc-required

#4105 doc: zigbee: update architecture figures
  doc/nrf/images/zigbee_platform_design_multi.svg
  doc/nrf/images/zigbee_platform_design_multi.vsdx
  doc/nrf/images/zigbee_platform_design_nRF53.svg
  doc/nrf/images/zigbee_platform_design_nRF53.vsdx
  doc/nrf/images/zigbee_platform_design_nRF5340_multi.svg
  doc/nrf/images/zigbee_platform_design_nRF5340_multi.vsdx
  doc/nrf/images/zigbee_platform_design_ncp.svg
  doc/nrf/images/zigbee_platform_design_ncp.vsdx
  doc/nrf/images/zigbee_platform_design_soc.svg
  doc/nrf/images/zigbee_platform_design_soc.vsdx
  doc/nrf/ug_zigbee_architectures.rst
Labels: CI-doc-build, doc-required

#4128 net: lib: fota_download: Add missing log_strdup
  subsys/net/lib/fota_download/src/fota_download.c
Labels: CI-dfu-test, CI-thingy91-test

#4095 applications: asset_tracker_v2: rename cloud components
  applications/asset_tracker_v2/README.rst
  doc/nrf/links.txt
Labels: doc-required

#4133 samples: bluetooth: Fix peripheral_lbs device name
  samples/bluetooth/peripheral_lbs/README.rst
  samples/bluetooth/peripheral_lbs/prj.conf
  samples/bluetooth/peripheral_lbs/prj_minimal.conf
Labels: doc-required

#4136 doc: typo fix in PCD library doc
  include/dfu/pcd.rst
Labels: CI-doc-build, doc-required

#4153 applications: serial_lte_modem: Enable all optional services
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/sample.yaml
  applications/serial_lte_modem/src/ftp_c/Kconfig
  applications/serial_lte_modem/src/gps/Kconfig
  applications/serial_lte_modem/src/http_c/Kconfig
  applications/serial_lte_modem/src/mqtt_c/Kconfig
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#4157 doc: Fix commands for Thread tools
  doc/nrf/ug_thread_tools.rst
Labels: CI-doc-build, doc-required

#4151 doc: style: terminology update
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/ble_bond.rst
  applications/nrf_desktop/doc/ble_conn_params.rst
  applications/nrf_desktop/doc/ble_latency.rst
  applications/nrf_desktop/doc/power_manager.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  doc/nrf/known_issues.rst
  doc/nrf/ug_thingy91.rst
  include/supl_os_client.rst
  samples/bluetooth/peripheral_nfc_pairing/README.rst
  samples/nrf9160/coap_client/README.rst
Labels: CI-doc-build, doc-required

#4155 doc: expand note about programming DKs
  doc/nrf/gs_programming.rst
Labels: CI-doc-build, doc-required

#4165 doc: slm: fix typo
  applications/serial_lte_modem/doc/MQTT_AT_commands.rst
  applications/serial_lte_modem/doc/TCPIP_AT_commands.rst
Labels: CI-doc-build, doc-required

#4154 doc: Add SW10
  doc/nrf/gs_programming.rst
  samples/bluetooth/hci_lpuart/README.rst
  samples/nrf9160/lte_ble_gateway/README.rst
Labels: CI-doc-build, doc-required

#4159 applications: serial_lte_modem: Improve SLM AT host
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/src/slm_at_host.c
Labels: doc-required

#4137 Bluetooth: Mesh: Fixed delete scene pages.
  subsys/bluetooth/mesh/scene_srv.c
Labels: CI-ble-test, bug

#4143 applications: serial_lte_modem: handle HTTP chunked response
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  doc/nrf/releases/release-notes-latest.rst
Labels: doc-required

#3980 Samples: bluetooth: Add support for nRF52840 dongle
  samples/bluetooth/llpm/README.rst
  samples/bluetooth/llpm/boards/nrf52840dongle_nrf52840.conf
  samples/bluetooth/llpm/sample.yaml
  samples/bluetooth/llpm/src/main.c
Labels: CI-ble-test, doc-required

#3998 Bluetooth: Mesh: Fix CTL state transition time reporting
  subsys/bluetooth/mesh/light_ctl_srv.c
Labels: CI-ble-test, bug

#4132 doc: applications: Buttons doc update.
  applications/nrf_desktop/doc/buttons.rst
  applications/nrf_desktop/doc/event_propagation.rst
  include/caf/buttons.rst
Labels: doc-required

#4164 Samples: mpsl: Add TIMER0 example usage
  samples/mpsl/timeslot/README.rst
  samples/mpsl/timeslot/src/main.c
Labels: doc-required, external

#4029 Bluetooth: Mesh: Follow sec 6.5.2.11 of MeshMDLv1.0.1 for Light Off evt
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: CI-ble-test, bug

#4148 doc: Update known_issues for SoftDevice controller
  doc/nrf/known_issues.rst
Labels: CI-doc-build, doc-required

#4101 doc: Mesh profile page update
  doc/nrf/links.txt
  doc/nrf/ug_bt_mesh_overview.rst
  include/bluetooth/mesh.rst
Labels: doc-required

#4183 Bluetooth: Mesh: set NVS as the settings backend for all mesh samples
  samples/bluetooth/mesh/chat/prj.conf
  samples/bluetooth/mesh/light/prj.conf
  samples/bluetooth/mesh/light_ctrl/prj.conf
  samples/bluetooth/mesh/light_switch/prj.conf
  samples/bluetooth/mesh/sensor_client/prj.conf
  samples/bluetooth/mesh/sensor_server/prj.conf
Labels: CI-ble-test

#4176 Bluetooth: controller: Supporting Zephyr Read Key Hierarchy Roots
  subsys/bluetooth/controller/hci_internal.c
  west.yml
Labels: CI-ble-test, manifest, manifest-nrfxlib

#4189 manifest: Point to the latest homekit SHA
  west.yml
Labels: manifest, manifest-homekit

#4040 DTM serial port connection documentation
  doc/nrf/images/minicom_serial_port.png
  doc/nrf/images/minicom_setup_window.png
  doc/nrf/images/minicom_terminal_cfg.png
  doc/nrf/images/real_term_serial_port.png
  doc/nrf/images/realterm.png
  doc/nrf/images/realterm_commands.png
  doc/nrf/images/realterm_hex_display.png
  samples/bluetooth/direct_test_mode/README.rst
Labels: doc-required

#4037 known_issues: Add issue NCSDK-8321 with the shell_bt_nus sample
  doc/nrf/known_issues.rst
Labels: doc-required

#4184 ci: run doc build on release branches
  .github/workflows/docbuild.yml
Labels: backport v1.5-branch

#4201 net: lib: aws_iot: Do not disconnect upon AWS FOTA error.
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: bug

#4170 Bluetooth: Mesh: Generic POnOff breaks power-up behavior of other models.
  include/bluetooth/mesh/gen_ponoff_srv.h
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/gen_ponoff_internal.h
  subsys/bluetooth/mesh/gen_ponoff_srv.c
  subsys/bluetooth/mesh/lightness_srv.c
Labels: CI-ble-test, bug

#4166 manifest: nrf_modem: release 1.0.2
  west.yml
Labels: manifest, manifest-nrfxlib

#4171 net: fota_download: Add API to cancel downloading
  doc/nrf/releases/release-notes-latest.rst
  include/net/fota_download.h
  subsys/net/lib/aws_fota/src/aws_fota.c
  subsys/net/lib/fota_download/src/fota_download.c
Labels: doc-required

#4208 applications: asset_tracker_v2: Distribute device config on change.
  applications/asset_tracker_v2/src/modules/data_module.c
Labels: bug

#4108 doc: NCSDK8489 9160 userguide fota samples upd
  doc/nrf/links.txt
  doc/nrf/ug_nrf9160.rst
Labels: doc-required

#4193 mpsl: Allow application to specify MPSL assert handler.
  doc/nrf/libraries/lib_mpsl.rst
  include/mpsl/mpsl_assert.h
  include/mpsl/mpsl_assert.rst
  subsys/mpsl/Kconfig
  subsys/mpsl/mpsl_init.c
Labels: CI-ble-test, doc-required

#4210 manifest: Update sdk-nrfxlib
  west.yml
Labels: CI-zigbee-test, manifest, manifest-nrfxlib

#4188 cmake: multi image: escaping semicolon for shared vars
  cmake/multi_image.cmake
Labels: bug

#4021 doc: usability improvements to the Welcome page
  doc/nrf/index.rst
Labels: CI-doc-build, doc-required

#4191 bluetooth: mesh: CTL Temperature binding fix
  subsys/bluetooth/mesh/light_ctl_internal.h
  subsys/bluetooth/mesh/model_utils.h
Labels: CI-ble-test, bug

#4212 softdevice_controller: Update library selection
  doc/nrf/known_issues.rst
  west.yml
Labels: CI-ble-test, doc-required, manifest, manifest-nrfxlib

#4226 homekit - fix undefined reference compilation error
  west.yml
Labels: manifest, manifest-homekit

#4213 manifest: Update sdk-nrfxlib
  west.yml
Labels: CI-zigbee-test, manifest, manifest-nrfxlib

#4249 doc: nrf: nRF52833 DK PCA number fix
  doc/nrf/includes/boardname_tables/sample_boardnames.txt
  doc/nrf/includes/sample_board_rows.txt
  doc/nrf/ug_thread_architectures.rst
Labels: doc-required
