Repository nrfconnect/sdk-nrf, pull requests merged in 2021-10, with the labels that each got.

#5752 lib: agps: Add missing `log_strdup()`
  lib/agps/agps.c
Labels: bug

#5712 net: lib: nrf_cloud: remove GPS driver dependency
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  include/net/nrf_cloud_agps.h
  include/net/nrf_cloud_pgps.h
  lib/agps/agps.c
  samples/nrf9160/agps/src/main.c
  subsys/net/lib/nrf_cloud/include/nrf_cloud_codec.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps.c
Labels: CI-thingy91-test, CI-boot-dfu-test, CI-libmodem-test, CI-matter-test, changelog-entry-required

#5756 samples: nrf9160: modem_shell: link: unsuccessful reactivations removed from PDN lst
  samples/nrf9160/modem_shell/src/link/link.c
  samples/nrf9160/modem_shell/src/link/link_shell_pdn.c
  samples/nrf9160/modem_shell/src/link/link_shell_pdn.h
Labels: CI-libmodem-test

#5754 bluetooth: softdevice_controller: Scan buffer macros to use count
  subsys/bluetooth/controller/hci_driver.c
Labels: CI-ble-test, CI-zigbee-test, CI-homekit-test, CI-find-my-test

#5757 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test

#4973 spm: Fix size calculation of NSC region
  doc/nrf/known_issues.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/spm/spm_internal.h
Labels: doc-required, CI-boot-dfu-test

#5767 samples: nrf9160: https_client: Fix native TLS configuration
  samples/nrf9160/https_client/overlay-tfm_mbedtls.conf
Labels: CI-libmodem-test

#5762 lib: nrf_modem: fix tracing
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: CI-libmodem-test, CI-lwm2m-test

#5739 doc: Add known issue texts for BT_CTLR_TX_PWR and discarded Ext. Adv. Reports
  doc/nrf/known_issues.rst
Labels: doc-required

#5717 maniifest: Pull fixes in ZBOSS addons docs
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test, changelog-entry-required

#5743 doc: Update known issues for Softdevice Controller
  doc/nrf/known_issues.rst
Labels: doc-required, CI-trusted-author, CI-disable

#5680 Bluetooth: Mesh: Fix unblocking calls in sensor client api
  include/bluetooth/mesh/sensor_cli.h
  subsys/bluetooth/mesh/sensor_cli.c
Labels: CI-mesh-test

#5777 doc: requirements: update NCS Sphinx theme
  scripts/requirements-doc.txt
Labels: CI-disable, changelog-entry-required

#5765 caf: leds: Fix error log when power state of LED driver is set
  subsys/caf/modules/leds.c
Labels: CI-desktop-test

#5769 net: lib: nrf_cloud: switch REST AGPS to GNSS interface
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud_rest.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: doc-required, CI-thingy91-test

#5255 modules: tfm: avoid sourcing 'Kconfig.tfm' twice
  modules/trusted-firmware-m/Kconfig
Labels: CI-tfm-test

#5740 Add non-secure configuration for Thingy53 samples
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/app_ZDebug.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/app_ZDebugRTT.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/app_ZRelease.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/buttons_def.h
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/click_detector_def.h
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/dts.overlay
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/hci_rpmsg_ZDebug.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/hci_rpmsg_ZDebugRTT.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/hci_rpmsg_ZRelease.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/led_state_def.h
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/pm_static_ZDebug.yml
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/pm_static_ZDebugRTT.yml
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/pm_static_ZRelease.yml
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/sensor_sampler_def.h
  applications/machine_learning/sample.yaml
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/mesh/light/CMakeLists.txt
  samples/bluetooth/mesh/light/README.rst
  samples/bluetooth/mesh/light/boards/pm_static_thingy53_nrf5340_cpuapp_ns.yml
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp_ns.overlay
  samples/bluetooth/mesh/light/sample.yaml
  samples/bluetooth/mesh/light_switch/CMakeLists.txt
  samples/bluetooth/mesh/light_switch/README.rst
  samples/bluetooth/mesh/light_switch/boards/pm_static_thingy53_nrf5340_cpuapp_ns.yml
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp_ns.overlay
  samples/bluetooth/mesh/light_switch/sample.yaml
  samples/bluetooth/peripheral_lbs/CMakeLists.txt
  samples/bluetooth/peripheral_lbs/README.rst
  samples/bluetooth/peripheral_lbs/boards/pm_static_thingy53_nrf5340_cpuapp_ns.yml
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp_ns.overlay
  samples/bluetooth/peripheral_lbs/sample.yaml
  samples/bluetooth/peripheral_uart/CMakeLists.txt
  samples/bluetooth/peripheral_uart/README.rst
  samples/bluetooth/peripheral_uart/boards/pm_static_thingy53_nrf5340_cpuapp_ns.yml
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp_ns.overlay
  samples/bluetooth/peripheral_uart/sample.yaml
Labels: doc-required, CI-ble-test

#5693 event manager: Make structs word aligned for x86
  subsys/event_manager/event_manager_priv.h
Labels: CI-desktop-test, changelog-entry-required

#5719 lib: lte_link_control: multiple registered LTE event handlers and better testability
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/lte_lc.h
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc_helpers.c
  lib/lte_link_control/lte_lc_helpers.h
Labels: doc-required

#5758 tests: Add integration_platforms to ..yaml for applications and tests
  applications/asset_tracker/sample.yaml
  applications/asset_tracker_v2/sample.yaml
  applications/asset_tracker_v2/tests/debug_module/testcase.yaml
  applications/asset_tracker_v2/tests/gps_module/testcase.yaml
  applications/asset_tracker_v2/tests/json_common/testcase.yaml
  applications/connectivity_bridge/sample.yaml
  tests/lib/date_time/testcase.yaml
  tests/lib/lte_lc/testcase.yaml
  tests/subsys/net/lib/aws_fota/aws_fota_json/testcase.yaml
  tests/subsys/net/lib/aws_jobs/testcase.yaml
  tests/subsys/net/lib/azure_iot_hub/testcase.yaml
Labels: CI-thingy91-test, CI-boot-dfu-test

#5794 samples: nrf9160: aws_iot: Update `README` to reference root `Kconfig`
  samples/nrf9160/aws_iot/README.rst
Labels: doc-required, CI-libmodem-test

#5788 application: serial_lte_modem: BUG-FIX native TLS server stop crash
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
Labels: changelog-entry-required

#5578 applications: serial_lte_modem: add GPIO AT command
  applications/serial_lte_modem/CMakeLists.txt
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/AT_commands_intro.rst
  applications/serial_lte_modem/doc/GPIO_AT_commands.rst
  applications/serial_lte_modem/src/gpio/CMakeLists.txt
  applications/serial_lte_modem/src/gpio/Kconfig
  applications/serial_lte_modem/src/gpio/slm_at_gpio.c
  applications/serial_lte_modem/src/gpio/slm_at_gpio.h
  applications/serial_lte_modem/src/slm_at_commands.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#5550 doc: Bluetooth state power manager documentation
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/ble_state_pm.rst
  doc/nrf/libraries/caf/ble_state_pm.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-desktop-test

#5810 requirements: Fix pygit2 version
  scripts/requirements-extra.txt
Labels: CI-disable

#5806 cmake: use CACHE STRING FORCE for add_overlay function
  cmake/extensions.cmake
Labels: CI-desktop-test, CI-crypto-test, CI-boot-dfu-test, CI-tfm-test, changelog-entry-required

#5813 doc: explain licenses in ncs
  doc/nrf/introduction.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#5817 manifest: update Homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#5823 samples: nrf9160: modem_shell: Fix RAI doc example
  samples/nrf9160/modem_shell/README.rst
Labels: doc-required, CI-libmodem-test

#5801 Bluetooth: Mesh: Add BLE and Mesh combo sample
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/CMakeLists.txt
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/README.rst
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/include/lb_service_handler.h
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/include/model_handler.h
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/prj.conf
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/sample.yaml
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/src/lb_service_handler.c
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/src/main.c
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/src/model_handler.c
Labels: doc-required

#4459 tests: fix issue compiling pcd test
  subsys/partition_manager/CMakeLists.txt
  tests/subsys/pcd/prj.conf
  tests/subsys/pcd/src/main.c
Labels: CI-desktop-test, CI-crypto-test, CI-boot-dfu-test, CI-all-test, CI-tfm-test, CI-matter-test

#5784 doc: Update known issues for Softdevice Controller
  doc/nrf/known_issues.rst
Labels: doc-required

#5825 applications: nrf_desktop: nachine_learning: Remove workaround in USB state handling
  applications/machine_learning/src/modules/usb_state.c
  applications/nrf_desktop/src/modules/usb_state.c
Labels: CI-desktop-test

#5726 doc: add new terms to glossary
  doc/nrf/glossary.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#4303 partition_manager: don't append pm report target to rom_report target
  CMakeLists.txt
  cmake/partition_manager.cmake
  cmake/reports.cmake
  doc/nrf/releases/release-notes-changelog.rst
  scripts/partition_manager/partition_manager.rst
  scripts/partition_manager_report.py
Labels: doc-required, CI-desktop-test, CI-crypto-test, CI-boot-dfu-test, CI-all-test, CI-tfm-test

#5832 lib: lte_lc: Add neighbor cell measurement search type parameter
  applications/asset_tracker/src/main.c
  applications/asset_tracker_v2/src/modules/modem_module.c
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/lte_lc.h
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc_helpers.h
  samples/nrf9160/modem_shell/src/link/link.c
  samples/nrf9160/multicell_location/src/main.c
Labels: doc-required, CI-thingy91-test, CI-boot-dfu-test, CI-libmodem-test, CI-lwm2m-test

#5760 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#5773 doc: added library doc template
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/templates/library_template_README.rst
Labels: doc-required

#5783 event manager: Increase number of supported events
  applications/asset_tracker_v2/tests/debug_module/prj.conf
  applications/asset_tracker_v2/tests/gps_module/prj.conf
  doc/nrf/libraries/others/event_manager.rst
  doc/nrf/libraries/others/profiler.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/profiler.h
  subsys/event_manager/Kconfig
  subsys/event_manager/event_manager.c
  subsys/event_manager/event_manager_priv.h
  subsys/event_manager/event_manager_shell.c
  subsys/profiler/Kconfig
  subsys/profiler/profiler_common_shell.c
  subsys/profiler/profiler_nordic.c
  tests/subsys/profiler/prj.conf
Labels: doc-required, CI-desktop-test

#5879 lib: multicell_location: Add Polte location service support
  doc/nrf/libraries/networking/multicell_location.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  lib/multicell_location/Kconfig
  lib/multicell_location/services/CMakeLists.txt
  lib/multicell_location/services/polte_integration.c
  samples/nrf9160/multicell_location/prj.conf
Labels: doc-required, CI-libmodem-test

#5833 doc: reorganize changelog sections
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable
