Repository nrfconnect/sdk-nrf, pull requests merged in 2021-09, with the labels that each got.

#5448 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test, changelog-entry-required

#5431 doc: matter: update links to docset
  applications/matter_weather_station/README.rst
  doc/CMakeLists.txt
  doc/nrf/conf.py
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_matter_architecture.rst
  doc/nrf/ug_matter_configuring.rst
  doc/nrf/ug_matter_tools.rst
  samples/matter/light_bulb/README.rst
  samples/matter/lock/README.rst
Labels: doc-required, CI-matter-test

#5473 CODEOWNERS: Add many reviewers for labeler.yml and manifest.yml
  CODEOWNERS
Labels: CI-disable

#5387 doc: nrf91 series doc restructure
  applications/asset_tracker_v2/README.rst
  doc/nrf/links.txt
  doc/nrf/ug_nrf91.rst
  doc/nrf/ug_nrf9160.rst
  doc/nrf/ug_nrf91_features.rst
  doc/nrf/ug_thingy91.rst
Labels: doc-required, CI-disable, changelog-entry-required

#5488 matter: bring in various fixes from the upstream and fix CI
  doc/nrf/links.txt
  west.yml
Labels: doc-required, manifest, manifest-matter, CI-matter-test, changelog-entry-required

#5261 subsys: esb: improve interrupt handling
  subsys/esb/esb.c
Labels: changelog-entry-required

#5406 manifest: Update Softdevice Controller & MPSL revision
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test, changelog-entry-required

#5371 doc: add support for nRF21540 FEM to Profiler sample doc
  samples/profiler/README.rst
  samples/profiler/sample.yaml
Labels: doc-required, CI-disable

#5368 doc: add support for nRF21540 FEM to Event Manager sample doc
  samples/event_manager/README.rst
  samples/event_manager/sample.yaml
Labels: doc-required, CI-disable

#5374 doc: add support for nRF21540 FEM to PPI Trace sample doc
  samples/debug/ppi_trace/README.rst
  samples/debug/ppi_trace/boards/nrf21540dk_nrf52840.conf
  samples/debug/ppi_trace/sample.yaml
Labels: doc-required, CI-disable, changelog-entry-required

#5412 doc: nrf: changelog: Add info about nRF21540 support in BLE.
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#5462 doc: zigbee: update ncp host for release
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
Labels: doc-required, changelog-entry-required

#5308 samples: nrf9160: modem_shell: improve GNSS LNA configuration
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/gnss/gnss.h
  samples/nrf9160/modem_shell/src/gnss/gnss_common.c
  samples/nrf9160/modem_shell/src/gnss/gnss_shell.c
  samples/nrf9160/modem_shell/src/main.c
Labels: doc-required, changelog-entry-required

#5378 doc: crypto: Update boards and overlays in crypto tests
  tests/crypto/README.rst
Labels: doc-required, CI-crypto-test, changelog-entry-required

#5426 drivers: gps: deprecate the GPS driver
  doc/nrf/drivers/gps.rst
  doc/nrf/releases/release-notes-changelog.rst
  drivers/gps/nrf9160_gps/Kconfig
  include/drivers/gps.h
Labels: doc-required, changelog-entry-required

#5491 doc: deprecating Asset Tracker v1 in docs
  applications/asset_tracker/README.rst
  doc/nrf/libraries/networking/nrf_cloud_pgps.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable, CI-thingy91-test, changelog-entry-required

#5459 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test, changelog-entry-required

#5438 caf: net_state: Add documentation
  doc/nrf/libraries/caf/net_state.rst
Labels: doc-required, changelog-entry-required

#5399 doc: Add nRF21540 DK to the Working with nRF52 user guide
  doc/nrf/ug_nrf52.rst
Labels: doc-required, CI-disable, changelog-entry-required

#5366 doc: add support for nRF21540 FEM to nRF Secure Immutable Bootloader sample doc
  samples/bootloader/README.rst
  samples/bootloader/sample.yaml
Labels: doc-required, CI-disable, CI-boot-dfu-test, changelog-entry-required

#5390 doc: add support for nRF21540 FEM to Low power UART sample doc
  samples/peripheral/lpuart/README.rst
  samples/peripheral/lpuart/boards/nrf21540dk_nrf52840.conf
  samples/peripheral/lpuart/boards/nrf21540dk_nrf52840.overlay
  samples/peripheral/lpuart/sample.yaml
Labels: doc-required, CI-disable, changelog-entry-required

#5472 mpsl: Make APP core FEM support independent from MPSL presence
  subsys/CMakeLists.txt
  subsys/mpsl/fem/CMakeLists.txt
  subsys/mpsl/fem/Kconfig
Labels: bug, CI-zigbee-test, CI-thread-test, CI-rs-test, CI-matter-test, changelog-entry-required

#5461 samples: matter: Removed using relative paths in CMakeLists.txt
  applications/matter_weather_station/CMakeLists.txt
  samples/matter/common/config/overlay-dfu_support.conf
  samples/matter/light_bulb/CMakeLists.txt
  samples/matter/light_bulb/boards/nrf21540dk_nrf52840_dfu.conf
  samples/matter/light_bulb/boards/nrf52840dk_nrf52840_dfu.conf
  samples/matter/light_bulb/boards/nrf5340dk_nrf5340_cpuapp_dfu.conf
  samples/matter/light_bulb/child_image/mcuboot_dfu.conf
  samples/matter/light_bulb/prj_dfu.conf
  samples/matter/light_switch/CMakeLists.txt
  samples/matter/lock/CMakeLists.txt
  samples/matter/lock/README.rst
  samples/matter/lock/boards/nrf21540dk_nrf52840_dfu.conf
  samples/matter/lock/boards/nrf52840dk_nrf52840_dfu.conf
  samples/matter/lock/boards/nrf5340dk_nrf5340_cpuapp_dfu.conf
  samples/matter/lock/child_image/mcuboot_dfu.conf
  samples/matter/lock/prj_dfu.conf
  samples/matter/template/CMakeLists.txt
Labels: doc-required, CI-matter-test, changelog-entry-required

#5367 doc: add support for nRF21540 FEM to ESB sample doc
  samples/esb/README.rst
Labels: CI-disable

#5506 applications: machine_learning: Add Thingy:53 config with RTT log
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/app_ZDebugRTT.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/pm_static_ZDebugRTT.yml
Labels: changelog-entry-required

#5504 tests: Update platform in the various `testcase.yaml`
  applications/asset_tracker_v2/tests/json_common/testcase.yaml
  tests/lib/date_time/prj.conf
  tests/lib/date_time/testcase.yaml
  tests/lib/lte_lc/testcase.yaml
  tests/subsys/net/lib/aws_fota/aws_fota_json/testcase.yaml
  tests/subsys/net/lib/aws_jobs/testcase.yaml
  tests/subsys/net/lib/azure_iot_hub/testcase.yaml
Labels: bug, CI-all-test

#5435 net: nrf_cloud_pgps: Fix subsequent REST downloads
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps.c
Labels: CI-thingy91-test, CI-matter-test

#5460 west: update homekit manifest
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test, changelog-entry-required

#5470 samples: Remove common folder from crypto samples
  samples/crypto/aes_cbc/CMakeLists.txt
  samples/crypto/aes_cbc/src/main.c
  samples/crypto/aes_ccm/CMakeLists.txt
  samples/crypto/aes_ccm/src/main.c
  samples/crypto/aes_ctr/CMakeLists.txt
  samples/crypto/aes_ctr/src/main.c
  samples/crypto/aes_gcm/CMakeLists.txt
  samples/crypto/aes_gcm/src/main.c
  samples/crypto/chachapoly/CMakeLists.txt
  samples/crypto/chachapoly/src/main.c
  samples/crypto/crypto_common/crypto_common.h
  samples/crypto/ecdh/CMakeLists.txt
  samples/crypto/ecdh/src/main.c
  samples/crypto/ecdsa/CMakeLists.txt
  samples/crypto/ecdsa/src/main.c
  samples/crypto/hkdf/CMakeLists.txt
  samples/crypto/hkdf/src/main.c
  samples/crypto/hmac/CMakeLists.txt
  samples/crypto/hmac/src/main.c
  samples/crypto/persistent_key_usage/CMakeLists.txt
  samples/crypto/persistent_key_usage/src/main.c
  samples/crypto/rng/CMakeLists.txt
  samples/crypto/rng/src/main.c
  samples/crypto/rsa/CMakeLists.txt
  samples/crypto/rsa/src/main.c
  samples/crypto/sha256/CMakeLists.txt
  samples/crypto/sha256/src/main.c
Labels: CI-crypto-test, changelog-entry-required

#5443 [doc] update Thread Bourder Router documentation
  doc/nrf/ug_thread_tools.rst
Labels: doc-required, changelog-entry-required

#5502 samples: Bluetooth: marked nRF21540 DK as supported in the UART samples.
  samples/bluetooth/central_uart/README.rst
  samples/bluetooth/central_uart/sample.yaml
  samples/bluetooth/peripheral_uart/README.rst
  samples/bluetooth/peripheral_uart/sample.yaml
Labels: doc-required, CI-ble-test, changelog-entry-required

#5510 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test, changelog-entry-required

#5469 manifest: mcuboot update
  west.yml
Labels: manifest, CI-boot-dfu-test, manifest-mcuboot, changelog-entry-required

#5433 doc: Update release notes changelog
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#5496 doc: Add a note about reprovisioning certificates
  doc/nrf/libraries/networking/multicell_location.rst
  doc/nrf/links.txt
  samples/nrf9160/multicell_location/README.rst
Labels: doc-required, CI-disable

#5501 doc: openthread: add CSL feature information
  doc/nrf/ug_thread_supported_features.rst
Labels: doc-required, changelog-entry-required

#5480 manifest: TF-M PR with disabled ChachaPoly
  west.yml
Labels: manifest, manifest-trusted-firmware-m, changelog-entry-required

#5437 net: lib: nrf_cloud: improve cell_pos optional param handling
  include/modem/lte_lc.h
  include/net/nrf_cloud_cell_pos.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
Labels: CI-thingy91-test, changelog-entry-required

#5514 net: lib: nrf_cloud_rest: remove unnecessary close_connection call
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: CI-thingy91-test, CI-matter-test, changelog-entry-required

#5417 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test, changelog-entry-required

#5419 application: serial_lte_modem: Support MCELL in GNSS service
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/gnss/Kconfig
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  applications/serial_lte_modem/src/slm_util.c
  applications/serial_lte_modem/src/slm_util.h
Labels: doc-required, changelog-entry-required

#5495 labeler: add ieee802154 subsys to 802154-based protocols
  .github/labeler.yml
Labels: changelog-entry-required

#5490 doc: fix broken sdk-nrf links for NCS 1.7.0
  doc/nrf/links.txt
  samples/bluetooth/direct_test_mode/README.rst
  tests/crypto/README.rst
Labels: doc-required, CI-disable, CI-ble-test, CI-crypto-test

#5313 manifest:nrfxlib can now build with TF-M and FPU
  west.yml
Labels: bug, manifest, manifest-nrfxlib, CI-tfm-test, changelog-entry-required

#5317 zigbee: add ncp custom command for changing led states
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/ncp/README.rst
  samples/zigbee/ncp/src/main.c
Labels: doc-required, CI-zigbee-test

#5517 application: serial_lte_modem: Doc GNSS service configs
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
Labels: doc-required, changelog-entry-required

#5458 doc: Update Thread 1.2 supportted features with DUA overview.
  doc/nrf/ug_thread_supported_features.rst
Labels: doc-required

#5485 Bluetooth: Mesh: Light xyL Server composition data docs
  doc/nrf/libraries/bluetooth_services/mesh/light_ctl_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_ctrl_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_hsl_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_xyl_srv.rst
Labels: doc-required, changelog-entry-required

#5429 doc: release_notes: update for v1.7.0 - protocols.
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#5500 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test, manifest-nrf-802154, changelog-entry-required

#5526 net: lib: nrf_cloud: convert RSRQ to dB
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
Labels: CI-thingy91-test, changelog-entry-required

#5521 samples: matter: synchronize log messages
  samples/matter/light_bulb/prj.conf
  samples/matter/light_bulb/prj_dfu.conf
  samples/matter/light_switch/prj.conf
  samples/matter/lock/prj.conf
  samples/matter/lock/prj_dfu.conf
  samples/matter/template/prj.conf
Labels: CI-matter-test, changelog-entry-required

#5525 applications: nrf_desktop: Disable unused UART on nrf52820 dongle
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/mcuboot_ZReleaseMCUBoot.conf
Labels: bug, CI-desktop-test

#5513 labeler: add extra file that need to trigger ble test, once they are …
  .github/labeler.yml
Labels: changelog-entry-required

#5533 applications: matter: fix temperature in weather station
  applications/matter_weather_station/src/app_task.cpp
Labels: bug

#5508 thingy53: Speed up DFU over BLE
  applications/machine_learning/CMakeLists.txt
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/app_ZDebug.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/app_ZDebugRTT.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/app_ZRelease.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/hci_rpmsg_ZDebug.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/hci_rpmsg_ZDebugRTT.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/hci_rpmsg_ZRelease.conf
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light/child_image/hci_rpmsg/boards/thingy53_nrf5340_cpunet.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_switch/child_image/hci_rpmsg/boards/thingy53_nrf5340_cpunet.conf
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_lbs/child_image/hci_rpmsg/boards/thingy53_nrf5340_cpunet.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_uart/child_image/hci_rpmsg/boards/thingy53_nrf5340_cpunet.conf
Labels: CI-ble-test, manifest-zephyr, changelog-entry-required

#5382 applications: asset_tracker_v2: Use correct macro when encoding GPS data
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_common.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_protocol_names.h
Labels: bug

#5524 lib: bin: lwm2m_carrier: lwm2m_os_storage_delete() should ignore certain IDs
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
Labels: CI-thingy91-test

#5529 doc: openthread: Thread tools
  doc/nrf/ug_thread_tools.rst
Labels: bug, doc-required, changelog-entry-required

#5542 matter: android CHIPTool usability fixes
  doc/nrf/links.txt
  west.yml
Labels: bug, doc-required, manifest, manifest-matter, CI-matter-test

#5544 kconfig: suppress warning by supporting legacy ext flash config
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/app_ZDebug.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/app_ZDebugRTT.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/app_ZRelease.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_ZDebug.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_ZRelease.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/app_ZDebugMCUBootQSPI.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/mcuboot_ZDebugMCUBootQSPI.conf
  applications/pelion_client/configuration/nrf52840dk_nrf52840/app_ZDebug.conf
  applications/pelion_client/configuration/nrf52840dk_nrf52840/app_ZRelease.conf
  applications/pelion_client/configuration/nrf52840dk_nrf52840/mcuboot_ZDebug.conf
  applications/pelion_client/configuration/nrf52840dk_nrf52840/mcuboot_ZRelease.conf
  applications/pelion_client/configuration/nrf5340dk_nrf5340_cpuapp/app_ZDebug.conf
  applications/pelion_client/configuration/nrf5340dk_nrf5340_cpuapp/app_ZRelease.conf
  applications/pelion_client/configuration/nrf5340dk_nrf5340_cpuapp/mcuboot_ZDebug.conf
  applications/pelion_client/configuration/nrf5340dk_nrf5340_cpuapp/mcuboot_ZRelease.conf
  applications/pelion_client/configuration/nrf5340dk_nrf5340_cpuapp_ns/app_ZDebug.conf
  applications/pelion_client/configuration/nrf5340dk_nrf5340_cpuapp_ns/app_ZRelease.conf
  applications/pelion_client/configuration/nrf5340dk_nrf5340_cpuapp_ns/mcuboot_ZDebug.conf
  applications/pelion_client/configuration/nrf5340dk_nrf5340_cpuapp_ns/mcuboot_ZRelease.conf
  applications/pelion_client/configuration/nrf9160dk_nrf9160_ns@1.0.0/app_ZDebug.conf
  applications/pelion_client/configuration/nrf9160dk_nrf9160_ns@1.0.0/app_ZRelease.conf
  applications/pelion_client/configuration/nrf9160dk_nrf9160_ns@1.0.0/mcuboot_ZDebug.conf
  applications/pelion_client/configuration/nrf9160dk_nrf9160_ns@1.0.0/mcuboot_ZRelease.conf
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp.conf
  samples/matter/light_bulb/child_image/mcuboot_dfu.conf
  samples/matter/light_bulb/prj_dfu.conf
  samples/matter/lock/child_image/mcuboot_dfu.conf
  samples/matter/lock/prj_dfu.conf
Labels: CI-desktop-test, CI-ble-test, CI-matter-test

#5537 samples: peripheral: 802154_phy_test: Fix problem with temperature update
  samples/peripheral/802154_phy_test/README.rst
  samples/peripheral/802154_phy_test/include/rf_proc.h
  samples/peripheral/802154_phy_test/prj.conf
  samples/peripheral/802154_phy_test/src/main.c
Labels: bug, doc-required

#5540 manifest: update nrfxlib to include nRF Security fix for SES-NE
  west.yml
Labels: bug, manifest, manifest-nrfxlib, CI-all-test

#5535 west.yml: Update zephyr to bring support for multi-image update
  west.yml
Labels: manifest, manifest-zephyr, manifest-mcumgr, CI-all-test, changelog-entry-required

#5553 doc improvement: restructure Asset Tracker v2 doc
  applications/asset_tracker_v2/README.rst
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
Labels: doc-required, CI-disable

#5556 doc improvement: Minor edits to the A-GPS docs
  doc/nrf/libraries/networking/nrf_cloud_agps.rst
  samples/nrf9160/agps/README.rst
Labels: doc-required, CI-disable, CI-libmodem-test

#5560 doc improvement: Fixes to the UDP sample doc
  samples/nrf9160/udp/README.rst
Labels: doc-required, CI-disable

#5563 doc improvement: Fix "Toolchain manager" capitalization
  doc/nrf/gs_assistant.rst
  doc/nrf/gs_programming.rst
  doc/nrf/gs_recommended_versions.rst
  doc/nrf/gs_updating.rst
Labels: doc-required, CI-disable

#5555 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#5156 Bluetooth: Mesh: Use updated Model Extension API
  doc/nrf/libraries/bluetooth_services/mesh/scene_srv.rst
  include/bluetooth/mesh/gen_plvl_srv.h
  include/bluetooth/mesh/gen_ponoff_srv.h
  include/bluetooth/mesh/light_ctl_srv.h
  include/bluetooth/mesh/light_hsl_srv.h
  include/bluetooth/mesh/light_xyl_srv.h
  include/bluetooth/mesh/lightness_srv.h
  include/bluetooth/mesh/scheduler_srv.h
  include/bluetooth/mesh/time_srv.h
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/gen_ponoff_srv.c
  subsys/bluetooth/mesh/gen_prop_srv.c
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/light_hsl_srv.c
  subsys/bluetooth/mesh/light_hue_srv.c
  subsys/bluetooth/mesh/light_sat_srv.c
  subsys/bluetooth/mesh/light_temp_srv.c
  subsys/bluetooth/mesh/light_xyl_srv.c
  subsys/bluetooth/mesh/lightness_srv.c
  subsys/bluetooth/mesh/scene_srv.c
  subsys/bluetooth/mesh/scheduler_srv.c
  subsys/bluetooth/mesh/time_srv.c
  tests/bluetooth/tester/src/model_handler.c
Labels: doc-required, CI-trusted-author, CI-mesh-test

#5568 west.yml: tagged revisions for v1.7.0-rc2
  west.yml
Labels: manifest, CI-boot-dfu-test, manifest-zephyr, manifest-nrfxlib, manifest-mcuboot, CI-all-test, manifest-trusted-firmware-m, CI-tfm-test, manifest-homekit, manifest-nrf-802154, CI-homekit-test, manifest-find-my, manifest-matter, CI-matter-test, CI-find-my-test, changelog-entry-required

#5551 net: lib: nrf_cloud: do FOTA init first to complete pending updates
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: bug, doc-required, CI-thingy91-test

#5516 doc improvement: misc doc edits for 1.7.0
  doc/nrf/app_power_opt.rst
  doc/nrf/doc_build.rst
  doc/nrf/doc_styleguide.rst
  doc/nrf/getting_started.rst
  doc/nrf/gs_assistant.rst
  doc/nrf/gs_installing.rst
  doc/nrf/gs_programming.rst
  doc/nrf/gs_testing.rst
  doc/nrf/ug_bootloader_adding.rst
  doc/nrf/ug_bootloader_external_flash.rst
  doc/nrf/ug_radio_fem.rst
  doc/nrf/ug_thread_supported_features.rst
  doc/nrf/ug_thread_tools.rst
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/mqtt_simple/README.rst
  samples/nrf9160/udp/README.rst
  samples/spm/README.rst
Labels: doc-required

#5565 doc improvement: add gifs for version and docset selectors
  doc/nrf/doc_build.rst
  doc/nrf/images/switcher_docset_snipped.gif
  doc/nrf/images/switcher_version_snipped.gif
  doc/nrf/introduction.rst
Labels: doc-required, CI-disable

#5545 doc improvement: Update Zigbee memory requirements page
  doc/nrf/ug_zigbee_memory.rst
Labels: doc-required

#5549 net: lib: nrf_cloud: check proper gps parameter
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: bug, CI-thingy91-test

#5562 manifest: Pull in Bluetooth Mesh bugfixes
  west.yml
Labels: bug, manifest, manifest-zephyr, CI-all-test, changelog-entry-required

#5558 manifest: update sdk-zephyr to include docs on CMake 3.20.0 install
  west.yml
Labels: manifest, manifest-zephyr

#5522 doc improvement: Add link to Pelion development tools
  applications/pelion_client/README.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_pelion.rst
Labels: doc-required

#5503 doc improvement: Adding in GPS doc for nrf9160
  doc/nrf/links.txt
  doc/nrf/ug_nrf91_features.rst
  west.yml
Labels: doc-required, manifest, CI-disable, manifest-nrfxlib, CI-all-test

#5577 doc: Minor fixes in linux getting started instructions
  doc/nrf/gs_installing.rst
  doc/nrf/gs_recommended_versions.rst
Labels: doc-required, CI-disable

#5564 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test

#5573 applications: asset_tracker_v2: Send Memfault data on `MODEM_EVT_LTE_CONNECTED`
  applications/asset_tracker_v2/src/modules/debug_module.c
Labels: bug

#5511 doc: Update pages to mention the VSC extension
  doc/nrf/getting_started.rst
  doc/nrf/gs_assistant.rst
  doc/nrf/gs_installing.rst
  doc/nrf/gs_modifying.rst
  doc/nrf/gs_programming.rst
  doc/nrf/gs_testing.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable

#5586 doc: Update TCS IDE button screenshot
  doc/nrf/images/gs-assistant_tm_dropdown.png
Labels: doc-required, CI-disable

#5582 doc: Update Memfault sample readme
  doc/nrf/libraries/others/memfault_ncs.rst
  doc/nrf/links.txt
  samples/nrf9160/memfault/README.rst
Labels: doc-required, CI-disable

#5518 doc: add Working with Thingy:53 section
  doc/nrf/images/ses_thingy53_configuration.png
  doc/nrf/images/ug_thingy53_vscode_appwindow.png
  doc/nrf/images/ug_thingy53_vscode_genconfig1.png
  doc/nrf/images/ug_thingy53_vscode_genconfig2.png
  doc/nrf/images/ug_thingy53_vscode_welcome.png
  doc/nrf/index.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf53.rst
  doc/nrf/ug_thingy53.rst
Labels: doc-required, CI-disable

#5567 cmake: bump minimal NCS Toolchain version to 1.7.0
  share/ncs-package/cmake/NcsConfig.cmake
Labels: changelog-entry-required

#5589 samples: nrf9160: lwm2m_client: adapt README to new Leshan web UI
  doc/nrf/links.txt
  samples/nrf9160/lwm2m_client/README.rst
Labels: doc-required, CI-disable

#5532 applications: machine_learning: Add Thingy:53 to documentation
  applications/machine_learning/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#5593 net: nrf_cloud_agps: Fix potential deadlock
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps.c
Labels: bug

#5592 doc: manifest: homekit doc improvements for 1.7.0
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#5588 matter: fix Android CHIPTool service resolution
  west.yml
Labels: bug, manifest, manifest-matter, CI-matter-test

#5583 lib: lte_lc: Initialize and document event payload
  include/modem/lte_lc.h
  lib/lte_link_control/lte_lc.c
Labels: bug

#5587 zigbee: Fix zb_reset() for nRF5340
  subsys/zigbee/osif/zb_nrf_platform.c
Labels: bug, CI-zigbee-test

#5541 partition_manager: Fix flash map offset
  subsys/partition_manager/flash_map_partition_manager.c
Labels: CI-desktop-test, CI-crypto-test, CI-boot-dfu-test, CI-all-test, CI-tfm-test, CI-matter-test

#5603 samples: peripheral_uart: Use USB CDC ACM 1 on Thingy:53
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp.conf
Labels: CI-ble-test, changelog-entry-required

#5311 Update mpsl codeowner
  CODEOWNERS
Labels: manifest-nrfxlib, changelog-entry-required

#5559 samples: Fix samples with missing integration_platforms
  samples/bluetooth/alexa_gadget/sample.yaml
  samples/bluetooth/enocean/sample.yaml
  samples/bluetooth/hci_lpuart/sample.yaml
  samples/bluetooth/llpm/sample.yaml
  samples/crypto/psa_tls/sample.yaml
  samples/esb/prx/sample.yaml
  samples/esb/ptx/sample.yaml
  samples/mpsl/timeslot/sample.yaml
  samples/nfc/record_text/sample.yaml
  samples/nfc/system_off/sample.yaml
  samples/nfc/tag_reader/sample.yaml
  samples/nfc/tnep_poller/sample.yaml
  samples/nfc/tnep_tag/sample.yaml
  samples/nfc/writable_ndef_msg/sample.yaml
  samples/nrf5340/empty_app_core/sample.yaml
  samples/nrf9160/memfault/sample.yaml
  samples/nrf_rpc/entropy_nrf53/cpuapp/sample.yaml
  samples/nrf_rpc/entropy_nrf53/cpunet/sample.yaml
  samples/peripheral/lpuart/sample.yaml
  samples/peripheral/radio_test/sample.yaml
  samples/sensor/bh1749/sample.yaml
Labels: CI-ble-test, CI-crypto-test, CI-libmodem-test, CI-nfc-test, CI-rpc-test, changelog-entry-required

#5607 net: lib: azure_iot_hub: Increase default topic element max size
  subsys/net/lib/azure_iot_hub/Kconfig
  tests/subsys/net/lib/azure_iot_hub/CMakeLists.txt
  tests/subsys/net/lib/azure_iot_hub/src/main.c
Labels: bug

#5595 mcuboot: hooks: Add version number 0.0.0+0 to ram flash image header
  modules/mcuboot/hooks/nrf53_hooks.c
Labels: CI-boot-dfu-test, CI-matter-test

#5591 samples:llpm: Stop advertising and scanning before printing debug logs
  samples/bluetooth/llpm/src/main.c
Labels: CI-ble-test, changelog-entry-required

#5611 scripts: bump pillow from 8.1.2 to 8.3.2
  scripts/requirements-fixed.txt
Labels: CI-disable

#5547 applications: caf: Add limit to sensor events
  applications/machine_learning/configuration/nrf52840dk_nrf52840/sensor_sampler_def.h
  applications/machine_learning/configuration/thingy52_nrf52832/sensor_sampler_def.h
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/sensor_sampler_def.h
  doc/nrf/libraries/caf/sensor_sampler.rst
  include/caf/sensor_sampler.h
  subsys/caf/modules/sensor_sampler.c
Labels: doc-required, CI-desktop-test, changelog-entry-required

#5609 net: lib: nrf_cloud: set response pointer only once
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: bug, CI-thingy91-test

#5616 doc: tfm: use custom version string
  doc/tfm/conf.py
Labels: doc-required, CI-disable, changelog-entry-required

#5618 net: lib: nrf_cloud: improve comments, timeout and buffer size handling
  include/net/nrf_cloud_rest.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: CI-thingy91-test

#5602 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test, changelog-entry-required

#5619 net: openthread: increase ot_radio_workq stack size
  subsys/net/openthread/Kconfig
Labels: bug, CI-thread-test

#5605 samples: peripheral: lpuart: Fix pin conflicts for nrf21540 DK
  samples/peripheral/lpuart/README.rst
  samples/peripheral/lpuart/boards/nrf21540dk_nrf52840.overlay
Labels: doc-required

#5615 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#5624 samples: openthread: CoAP client asserts at start on nrf21540dk
  samples/openthread/coap_client/boards/nrf21540dk_nrf52840.overlay
Labels: bug, CI-thread-test

#5623 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test

#5608 CODEOWNERS: Remove joerchan from codeowners entries
  CODEOWNERS
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test

#5302 doc: zigbee guide for adding ZCL clusters
  doc/nrf/libraries/zigbee/shell.rst
  doc/nrf/links.txt
  doc/nrf/ug_zigbee.rst
  doc/nrf/ug_zigbee_adding_clusters.rst
Labels: doc-required, CI-disable

#5621 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test

#5614 Bluetooth: Mesh: Use literal Scene recall transition time in response
  include/bluetooth/mesh/scene.h
  include/bluetooth/mesh/scene_cli.h
  include/bluetooth/mesh/scene_srv.h
  subsys/bluetooth/mesh/scene_srv.c
Labels: bug, CI-mesh-test

#5636 Bluetooth: Mesh: Fix Light HSL Lightness OnPowerUp behavior
  subsys/bluetooth/mesh/light_hsl_srv.c
Labels: bug, CI-mesh-test

#5622 doc: nrf_802154: radio driver API doxygen fixes
  doc/nrfxlib/nrfxlib.doxyfile.in
Labels: bug, doc-required

#5644 asset_tracker_v2: adopting board config fragment to new board name
  applications/asset_tracker_v2/tests/debug_module/boards/nrf9160dk_nrf9160_ns.conf
Labels: bug

#5640 modules: nrfxlib: nrf_802154: Increase IRQ priorities
  modules/nrfxlib/nrf_802154/CMakeLists.txt
Labels: bug, CI-zigbee-test, CI-tfm-test, CI-rs-test, CI-matter-test

#5629 tests: net: fota_download: Change invalid configuration
  tests/subsys/net/lib/fota_download/boards/nrf9160dk_nrf9160_ns.conf
Labels: bug, CI-boot-dfu-test, changelog-entry-required

#5645 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test, manifest-nrf-802154, changelog-entry-required

#5625 thingy53: Add cpuappns to platform_exclude
  applications/machine_learning/sample.yaml
  applications/matter_weather_station/sample.yaml
  samples/bluetooth/mesh/light/sample.yaml
  samples/bluetooth/mesh/light_switch/sample.yaml
  samples/bluetooth/peripheral_lbs/sample.yaml
  samples/bluetooth/peripheral_uart/sample.yaml
Labels: CI-ble-test

#5585 Bluetooth: Mesh: Remaining time should not include Delay time
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: bug, CI-mesh-test

#5653 treewide: finish 'ns' -> '_ns' rename
  applications/machine_learning/sample.yaml
  applications/matter_weather_station/sample.yaml
  samples/bluetooth/mesh/light/sample.yaml
  samples/bluetooth/mesh/light_switch/sample.yaml
  samples/bluetooth/peripheral_lbs/sample.yaml
  samples/bluetooth/peripheral_uart/sample.yaml
  west.yml
Labels: DNM, manifest, CI-ble-test, manifest-zephyr, CI-all-test, changelog-entry-required

#5659 manifest: Update sdk-zephyr revision to a SHA
  west.yml
Labels: manifest, manifest-zephyr, CI-all-test, Hotfix, changelog-entry-required

#5661 lib: bin: lwm2m_carrier: increased max filename size for FOTA
  applications/asset_tracker_v2/overlay-carrier.conf
  samples/nrf9160/lwm2m_carrier/prj.conf
Labels: CI-libmodem-test

#5660 cmake: partition manager: re-adding lost dependency to domain_hex_files
  cmake/partition_manager.cmake
Labels: bug, CI-desktop-test, CI-crypto-test

#5648 lib: nrf_modem_lib: enable library when compiling for nrf9160
  applications/asset_tracker_v2/tests/gps_module/prj.conf
  doc/nrf/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/Kconfig
  samples/crypto/psa_tls/prj.conf
Labels: doc-required, CI-crypto-test, CI-libmodem-test

#5657 Bluetooth: Mesh: Add runtime state for resume delay
  include/bluetooth/mesh/light_ctrl_srv.h
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: CI-mesh-test

#5668 boards: Fix CS pin for nrf21540 EK shield
  boards/shields/nrf21540_ek/nrf21540_ek.overlay
Labels: bug

#5475 doc improvement: update current known issues for 1.7.0 release
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#5534 doc: add release notes for 1.7.0
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-1.7.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_tfm.rst
Labels: doc-required, CI-disable

#5678 NCS v1.7.0
  VERSION
  west.yml
Labels: manifest, CI-boot-dfu-test, manifest-zephyr, manifest-nrfxlib, manifest-mcuboot, CI-all-test, manifest-trusted-firmware-m, CI-tfm-test, manifest-homekit, manifest-nrf-802154, CI-homekit-test, manifest-find-my, manifest-matter, CI-matter-test, CI-find-my-test

#5674 samples: nrf9160: modem_shell: Fix crash after getaddrinfo
  samples/nrf9160/modem_shell/src/sock/sock.c
Labels: CI-libmodem-test

#5599 dfu_target_mcuboot: fix cpp compatibility
  include/dfu/dfu_target_mcuboot.h
Labels: CI-boot-dfu-test

#5670 samples: nrf9160: http_update: Add sample.yaml
  samples/nrf9160/http_update/application_update/sample.yaml
  samples/nrf9160/http_update/full_modem_update/sample.yaml
  samples/nrf9160/http_update/modem_delta_update/sample.yaml
Labels: CI-boot-dfu-test, CI-libmodem-test

#5400 bluetooth: softdevice_controller: Use adv and scan buffer configs
  subsys/bluetooth/controller/hci_driver.c
Labels: CI-ble-test, CI-zigbee-test, CI-homekit-test, CI-find-my-test

#5584 applications: nrf_desktop: Forward empty HID boot reports on peripheral disconnection
  applications/nrf_desktop/src/modules/hid_forward.c
Labels: CI-desktop-test

#5612 application: serial_lte_modem: Adapt to new AT command interface
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/README.rst
  applications/serial_lte_modem/doc/CHANGELOG.rst
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/src/ftp_c/slm_at_ftp.c
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  applications/serial_lte_modem/src/slm_at_cmng.c
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_fota.c
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_host.h
  applications/serial_lte_modem/src/slm_at_icmp.c
  applications/serial_lte_modem/src/slm_at_sms.c
  applications/serial_lte_modem/src/slm_at_socket.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  applications/serial_lte_modem/src/slm_defines.h
  applications/serial_lte_modem/src/slm_util.c
  applications/serial_lte_modem/src/slm_util.h
  applications/serial_lte_modem/src/twi/slm_at_twi.c
Labels: doc-required

#5340 application: serial_lte_modem: Adapt new libmodem DFU API
  applications/serial_lte_modem/doc/FOTA_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_fota.c
Labels: doc-required

#5643 lib: agps: remove GNSS socket support
  applications/asset_tracker/src/main.c
  applications/asset_tracker_v2/src/modules/data_module.c
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/agps.h
  lib/agps/agps.c
  samples/nrf9160/agps/src/main.c
Labels: doc-required, CI-thingy91-test, CI-libmodem-test

#5647 samples: nrf9160: modem_shell: remove GNSS socket support
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/gnss/CMakeLists.txt
  samples/nrf9160/modem_shell/src/gnss/gnss_socket.c
Labels: CI-libmodem-test

#5682 profiler: Fix Kconfig option names
  include/profiler.h
  subsys/profiler/Kconfig
  subsys/profiler/profiler_common_shell.c
  subsys/profiler/profiler_nordic.c
  tests/subsys/profiler/prj.conf
Labels: CI-desktop-test

#5675 lib: nrf_modem_lib: update offloading of getaddrinfo errors
  lib/nrf_modem_lib/nrf91_sockets.c
Labels: CI-libmodem-test

#5685 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#5646 net: lib: nrf_cloud: remove GNSS socket support
  applications/asset_tracker/src/main.c
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud_agps.h
  include/net/nrf_cloud_pgps.h
  lib/agps/agps.c
  samples/nrf9160/agps/src/main.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps_utils.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps.c
Labels: doc-required, CI-thingy91-test, CI-boot-dfu-test, CI-libmodem-test, CI-matter-test

#5613 doc: Add documentation for special configurations
  applications/machine_learning/README.rst
  applications/machine_learning/configuration/nrf52840dk_nrf52840/app_ZDebugNUS.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/app_ZDebugRTT.conf
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/app_ZDebugMCUBootQSPI.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/app_ZDebugMCUBootSMP.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/app_ZDebug_dongle.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/app_ZDebug_keyboard.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/app_ZDebug3BLEconn.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/app_ZDebug4LLPMconn.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/app_ZRelease4LLPMconn.conf
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-desktop-test

#5655 Update invalid cell id handling for LTE_LC_EVT_NEIGHBOR_CELL_MEAS
  applications/asset_tracker_v2/src/modules/modem_module.c
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/lte_lc.h
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc_helpers.c
  lib/multicell_location/multicell_location.c
  lib/multicell_location/services/here_integration.c
  lib/multicell_location/services/skyhook_integration.c
  samples/nrf9160/modem_shell/src/link/link.c
  samples/nrf9160/multicell_location/src/main.c
  tests/lib/lte_lc/CMakeLists.txt
  tests/lib/lte_lc/src/main.c
Labels: doc-required, CI-libmodem-test
