Repository nrfconnect/sdk-nrf, pull requests merged in 2021-08, with the labels that each got.

#5079 samples: nrf9160: gps: introduce GPS_SAMPLE_AT_{MAGPIO,COEX0} options
  samples/nrf9160/gps/Kconfig
  samples/nrf9160/gps/src/main.c
Labels: CI-trusted-author, external

#5214 bluetooth: light_switch: Fix stack overflow for nRF5340dk
  samples/bluetooth/mesh/light_switch/boards/nrf5340dk_nrf5340_cpuapp.conf
Labels: no-changelog

#5160 net: lib: coap_utils: argument "addr" in coap_init() had no effect
  subsys/net/lib/coap_utils/coap_utils.c
Labels: CI-matter-test, CI-thread-test, CI-trusted-author, external, no-changelog

#5157 doc: JIRA 8949 add link to how to add cmake opt
  samples/bluetooth/peripheral_lbs/README.rst
  samples/bluetooth/peripheral_uart/README.rst
  samples/bluetooth/rpc_host/README.rst
  samples/matter/lock/README.rst
  samples/matter/weather_station/README.rst
  samples/nrf5340/multiprotocol_rpmsg/README.rst
  samples/nrf9160/mqtt_simple/README.rst
  samples/zigbee/ncp/README.rst
Labels: CI-ble-test, CI-matter-test, CI-rs-test, CI-zigbee-test, doc-required, no-changelog

#5208 Bluetooth: Mesh: Reinitialize PI Regulator config on reset
  include/bluetooth/mesh/light_ctrl.h
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: CI-mesh-test, no-changelog

#5220 manifest: update homekit revision
  west.yml
Labels: CI-homekit-test, manifest, manifest-homekit, no-changelog

#5200 Bluetooth: Mesh: Update test according to errata E17135
  tests/subsys/bluetooth/mesh/sensor_subsys/src/main.c
Labels: CI-mesh-test, no-changelog

#5114 applications: asset_tracker_v2: pass length to config decode function
  applications/asset_tracker_v2/src/cloud/cloud_codec/aws_iot_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/azure_iot_hub_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud_codec.c
  applications/asset_tracker_v2/src/modules/cloud_module.c
Labels: CI-trusted-author, external

#5210 dts: Add ant-sel-gpios property for SKY66112-11
  dts/bindings/radio_fem/skyworks,sky66112-11.yaml
Labels: CI-rs-test, no-changelog

#5101 west: Update pelion manifest
  doc/nrf/releases/release-notes-latest.rst
  west.yml
Labels: CI-all-test, doc-required, manifest, manifest-mbed-cloud-client, no-changelog

#5225 samples: nrf9160: modem_shell: Thingy config due to flash shortage
  samples/nrf9160/modem_shell/boards/thingy91_nrf9160ns.conf
Labels: no-changelog

#5219 application: serial_lte_modem: Add IPv6 support to HTTP client
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/doc/TCPIP_AT_commands.rst
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
Labels: doc-required, no-changelog

#5203 application: serial_lte_modem: Handle external XTAL
  applications/serial_lte_modem/src/main.c
Labels: no-changelog

#5229 samples: nrf9160: modem_shell: Print BRANCH_NAME
  samples/nrf9160/modem_shell/src/main.c
Labels: no-changelog

#5037 labeler: add configuration for Find My label
  .github/labeler.yml
Labels: no-changelog

#5235 ext: iperf3: started of using CJSON_LIB
  ext/iperf3/CMakeLists.txt
  ext/iperf3/Kconfig
  ext/iperf3/iperf.h
  ext/iperf3/iperf_api.c
  ext/iperf3/iperf_udp.c
  ext/iperf3/iperf_util.c
  ext/iperf3/iperf_util.h
  samples/nrf9160/modem_shell/prj.conf
Labels: no-changelog

#5232 mpsl: Add nrf21540_gpio support to softdevice controller
  subsys/mpsl/Kconfig.fem
  subsys/mpsl/mpsl_fem.c
Labels: CI-matter-test, CI-rs-test, CI-thread-test, CI-zigbee-test, no-changelog

#5090 boards: Enable stack protection only when available
  boards/arm/nrf52810dmouse_nrf52810/Kconfig.defconfig
  boards/arm/nrf52810dmouse_nrf52810/nrf52810dmouse_nrf52810_defconfig
  boards/arm/nrf52820dongle_nrf52820/Kconfig.defconfig
  boards/arm/nrf52820dongle_nrf52820/nrf52820dongle_nrf52820_defconfig
  boards/arm/nrf52833dongle_nrf52833/Kconfig.defconfig
  boards/arm/nrf52833dongle_nrf52833/nrf52833dongle_nrf52833_defconfig
  boards/arm/nrf52840gmouse_nrf52840/Kconfig.defconfig
  boards/arm/nrf52840gmouse_nrf52840/nrf52840gmouse_nrf52840_defconfig
  boards/arm/nrf52dmouse_nrf52832/Kconfig.defconfig
  boards/arm/nrf52dmouse_nrf52832/nrf52dmouse_nrf52832_defconfig
  boards/arm/nrf52kbd_nrf52832/Kconfig.defconfig
  boards/arm/nrf52kbd_nrf52832/nrf52kbd_nrf52832_defconfig
  boards/arm/thingy91_nrf52840/Kconfig.defconfig
  boards/arm/thingy91_nrf52840/thingy91_nrf52840_defconfig
  boards/arm/thingy91_nrf9160/Kconfig.defconfig
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_defconfig
  boards/arm/thingy91_nrf9160/thingy91_nrf9160ns_defconfig
Labels: CI-desktop-test

#5226 docs: applications: add missing packages to documentation
  scripts/hid_configurator/README.rst
Labels: CI-desktop-test, doc-required, no-changelog

#5176 application nrf_desktop: Wrong button state
  applications/nrf_desktop/src/modules/hid_state.c
Labels: CI-desktop-test, no-changelog

#5228 application: serial_lte_modem: Add IPv6 support to MQTT client
  applications/serial_lte_modem/doc/MQTT_AT_commands.rst
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  applications/serial_lte_modem/src/slm_defines.h
Labels: doc-required, no-changelog

#5239 samples: nrf9160: modem_shell: ppp autostart/stop
  samples/nrf9160/modem_shell/src/link/link_shell_pdn.c
  samples/nrf9160/modem_shell/src/ppp/ppp_ctrl.c
  samples/nrf9160/modem_shell/src/ppp/ppp_ctrl.h
Labels: no-changelog

#5238 samples: nrf9160: modem_shell: Enable Rel14 features
  samples/nrf9160/modem_shell/src/link/link.c
Labels: no-changelog

#5236 samples: nrf9160: modem_shell: add support for new GNSS interface
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/gnss/CMakeLists.txt
  samples/nrf9160/modem_shell/src/gnss/gnss.h
  samples/nrf9160/modem_shell/src/gnss/gnss_gps_driver.c
  samples/nrf9160/modem_shell/src/gnss/gnss_interface.c
  samples/nrf9160/modem_shell/src/gnss/gnss_shell.c
  samples/nrf9160/modem_shell/src/gnss/gnss_socket.c
Labels: no-changelog

#5240 samples: nrf9160: modem_shell: refactor SUPL support implementation
  samples/nrf9160/modem_shell/src/gnss/gnss_supl_support.c
Labels: no-changelog

#5244 samples: nrf9160: mosh: disable UARTs during sleep
  samples/nrf9160/modem_shell/CMakeLists.txt
  samples/nrf9160/modem_shell/src/link/link.c
  samples/nrf9160/modem_shell/src/shell.c
  samples/nrf9160/modem_shell/src/uart/CMakeLists.txt
  samples/nrf9160/modem_shell/src/uart/uart.c
  samples/nrf9160/modem_shell/src/uart/uart.h
  samples/nrf9160/modem_shell/src/uart/uart_shell.c
  samples/nrf9160/modem_shell/src/uart/uart_shell.h
Labels: no-changelog

#5230 samples: bluetooth: Fix Thingy53 samples startup delay
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp.conf
Labels: CI-ble-test, no-changelog

#5245 lib: date_time: Use correct variable type for `last_date_time_update`
  lib/date_time/date_time.c
Labels: bug, CI-thingy91-test, no-changelog

#5246 samples: nrf9160: mosh: toggle uart power state when pressing button 2
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/main.c
  samples/nrf9160/modem_shell/src/uart/uart.c
  samples/nrf9160/modem_shell/src/uart/uart_shell.c
  samples/nrf9160/modem_shell/src/uart/uart_shell.h
Labels: no-changelog

#5227 manifest: Update ble-controller/MPSL revision
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test, no-changelog

#5256 applications: nrf_desktop: Remove MBR from partition layout
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/b0_ZDebugB0.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/b0_ZReleaseB0.conf
Labels: CI-desktop-test, no-changelog

#5143 Bluetooth: Mesh: LC Regulator: Set lightness without side effects
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/lightness_internal.h
  subsys/bluetooth/mesh/lightness_srv.c
Labels: CI-mesh-test, CI-find-my-test, no-changelog

#5234 nrf_802154: Add subsys for nRF 802.15.4 Radio Driver
  CODEOWNERS
  subsys/CMakeLists.txt
  subsys/Kconfig
  subsys/ieee802154/CMakeLists.txt
  subsys/ieee802154/Kconfig
  subsys/ieee802154/nrf_802154_configurator.c
Labels: no-changelog

#5178 samples: bluetooth: add integration platforms to sample.yaml
  samples/bluetooth/central_bas/sample.yaml
  samples/bluetooth/central_hids/sample.yaml
  samples/bluetooth/central_hr_coded/sample.yaml
  samples/bluetooth/central_nfc_pairing/sample.yaml
  samples/bluetooth/central_smp_client/sample.yaml
  samples/bluetooth/central_uart/sample.yaml
  samples/bluetooth/direct_test_mode/sample.yaml
  samples/bluetooth/peripheral_ancs_client/sample.yaml
  samples/bluetooth/peripheral_bms/sample.yaml
  samples/bluetooth/peripheral_cts_client/sample.yaml
  samples/bluetooth/peripheral_gatt_dm/sample.yaml
  samples/bluetooth/peripheral_hids_keyboard/sample.yaml
  samples/bluetooth/peripheral_hids_mouse/sample.yaml
  samples/bluetooth/peripheral_hr_coded/sample.yaml
  samples/bluetooth/peripheral_lbs/sample.yaml
  samples/bluetooth/peripheral_nfc_pairing/sample.yaml
  samples/bluetooth/peripheral_uart/sample.yaml
  samples/bluetooth/rpc_host/sample.yaml
  samples/bluetooth/shell_bt_nus/sample.yaml
  samples/bluetooth/throughput/sample.yaml
Labels: CI-ble-test, CI-nfc-test, no-changelog

#5260 application: serial_lte_modem: Bug-fix memory leak
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_util.c
Labels: no-changelog

#5248 doc: Update list of known issues of Thread.
  doc/nrf/known_issues.rst
Labels: doc-required, no-changelog

#5272 drivers: gps: remove unused function prototype
  include/drivers/gps.h
Labels: no-changelog

#5187 samples: Bluetooth: df_rx: Add info about CTE TX/RX configuration
  samples/bluetooth/direction_finding_connectionless_rx/README.rst
Labels: doc-required, CI-ble-test, no-changelog

#5254 samples: nrf9160: modem_shell: iperf3 threading possibility
  ext/iperf3/iperf.h
  ext/iperf3/iperf_api.c
  ext/iperf3/iperf_api.h
  ext/iperf3/iperf_client_api.c
  ext/iperf3/iperf_error.c
  ext/iperf3/iperf_main.c
  ext/iperf3/iperf_server_api.c
  ext/iperf3/iperf_tcp.c
  ext/iperf3/iperf_udp.c
  samples/nrf9160/modem_shell/CMakeLists.txt
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/overlay-ppp.conf
  samples/nrf9160/modem_shell/src/main.c
  samples/nrf9160/modem_shell/src/shell.c
  samples/nrf9160/modem_shell/src/th/CMakeLists.txt
  samples/nrf9160/modem_shell/src/th/th_ctrl.c
  samples/nrf9160/modem_shell/src/th/th_ctrl.h
  samples/nrf9160/modem_shell/src/th/th_shell.c
  samples/nrf9160/modem_shell/src/utils/str_utils.c
  samples/nrf9160/modem_shell/src/utils/str_utils.h
Labels: no-changelog

#5277 nrf_802154: Allow to use subsys without IEEE802154_NRF5
  subsys/ieee802154/CMakeLists.txt
  subsys/ieee802154/Kconfig
  subsys/ieee802154/nrf_802154_configurator.c
Labels: no-changelog

#5258 net: lib: nrf_cloud: Remove sensor attach function and event
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
  doc/nrf/releases/release-notes-latest.rst
  include/net/nrf_cloud.h
  include/net/nrf_cloud.rst
  samples/nrf9160/lte_ble_gateway/src/main.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
Labels: doc-required, CI-thingy91-test, no-changelog

#5284 nrf_802154: Disambiguate configurator enablement in Kconfig
  subsys/ieee802154/Kconfig
Labels: no-changelog

#5159 Ncsdk 9896 caf net
  applications/pelion_client/configuration/nrf52840dk_nrf52840/app_ZDebug.conf
  applications/pelion_client/configuration/nrf52840dk_nrf52840/app_ZRelease.conf
  applications/pelion_client/configuration/nrf52840dk_nrf52840/led_state_def.h
  applications/pelion_client/configuration/nrf5340dk_nrf5340_cpuapp/app_ZDebug.conf
  applications/pelion_client/configuration/nrf5340dk_nrf5340_cpuapp/app_ZRelease.conf
  applications/pelion_client/configuration/nrf5340dk_nrf5340_cpuapp/led_state_def.h
  applications/pelion_client/configuration/nrf5340dk_nrf5340_cpuappns/app_ZDebug.conf
  applications/pelion_client/configuration/nrf5340dk_nrf5340_cpuappns/app_ZRelease.conf
  applications/pelion_client/configuration/nrf5340dk_nrf5340_cpuappns/led_state_def.h
  applications/pelion_client/configuration/nrf9160dk_nrf9160ns/app_ZDebug.conf
  applications/pelion_client/configuration/nrf9160dk_nrf9160ns/app_ZRelease.conf
  applications/pelion_client/configuration/nrf9160dk_nrf9160ns/led_state_def.h
  applications/pelion_client/configuration/nrf9160dk_nrf9160ns@1.0.0/app_ZDebug.conf
  applications/pelion_client/configuration/nrf9160dk_nrf9160ns@1.0.0/app_ZRelease.conf
  applications/pelion_client/configuration/nrf9160dk_nrf9160ns@1.0.0/led_state_def.h
  applications/pelion_client/src/events/CMakeLists.txt
  applications/pelion_client/src/events/Kconfig
  applications/pelion_client/src/modules/CMakeLists.txt
  applications/pelion_client/src/modules/Kconfig
  applications/pelion_client/src/modules/led_state.c
  applications/pelion_client/src/modules/oma_digital_input.cpp
  applications/pelion_client/src/modules/oma_stopwatch.cpp
  applications/pelion_client/src/modules/pelion.cpp
  applications/pelion_client/src/modules/pelion_fcc.cpp
  include/caf/events/factory_reset_event.h
  include/caf/events/net_state_event.h
  subsys/caf/events/CMakeLists.txt
  subsys/caf/events/Kconfig
  subsys/caf/events/Kconfig.factory_reset_event
  subsys/caf/events/factory_reset_event.c
  subsys/caf/events/net_state_event.c
  subsys/caf/modules/CMakeLists.txt
  subsys/caf/modules/Kconfig
  subsys/caf/modules/Kconfig.factory_reset_request
  subsys/caf/modules/Kconfig.net_state
  subsys/caf/modules/factory_reset_request.c
  subsys/caf/modules/net_state_lte.c
  subsys/caf/modules/net_state_ot.c
Labels: CI-desktop-test, no-changelog

#5288 samples: thingy53: Remove 2nd instance of CDC_ACM
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp.conf
Labels: CI-ble-test, no-changelog

#5195 mpsl: Generic radio coexistence implementation according to Thread Recommendations
  include/mpsl/mpsl_cx_config_thread.h
  subsys/mpsl/CMakeLists.txt
  subsys/mpsl/Kconfig
  subsys/mpsl/Kconfig.cx
  subsys/mpsl/cx/thread/mpsl_cx_thread.c
  subsys/mpsl/mpsl_cx.c
  subsys/mpsl/mpsl_cx_internal.h
  subsys/mpsl/mpsl_init.c
Labels: CI-zigbee-test, CI-thread-test, CI-rs-test, CI-matter-test, no-changelog

#5257 actions: labeler: Exclude Bluetooth Mesh from CI-find-my-test
  .github/labeler.yml
Labels: no-changelog

#5271 doc: zigbee: expand default signal handler docs
  doc/nrf/images/zigbee_signal_handler_10_rejoin.svg
  doc/nrf/images/zigbee_signal_handler_10_rejoin.vsdx
  doc/nrf/images/zigbee_signal_handler_10_rejoin_stop.svg
  doc/nrf/images/zigbee_signal_handler_10_rejoin_stop.vsdx
  doc/nrf/images/zigbee_signal_handler_10_rejoin_user_input.svg
  doc/nrf/images/zigbee_signal_handler_10_rejoin_user_input.vsdx
  doc/nrf/images/zigbee_signal_handler_overview.svg
  doc/nrf/images/zigbee_signal_handler_overview.vsdx
  include/zigbee/zigbee_app_utils.rst
Labels: doc-required, CI-disable, CI-zigbee-test, no-changelog

#5273 net: lib: nrf_cloud: add GNSS API support for nRFCloud A-GPS and P-GPS
  subsys/net/lib/nrf_cloud/Kconfig
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps.c
Labels: CI-thingy91-test, CI-matter-test, no-changelog

#5212 samples: peripheral: Introduce IEEE 802.15.4 PHY Test Tool to NCS
  CODEOWNERS
  samples/peripheral/802154_phy_test/CMakeLists.txt
  samples/peripheral/802154_phy_test/Kconfig
  samples/peripheral/802154_phy_test/README.rst
  samples/peripheral/802154_phy_test/include/comm_proc.h
  samples/peripheral/802154_phy_test/include/internal/ctrl/ptt_ctrl.h
  samples/peripheral/802154_phy_test/include/internal/ctrl/ptt_events.h
  samples/peripheral/802154_phy_test/include/internal/ctrl/ptt_timers.h
  samples/peripheral/802154_phy_test/include/internal/ctrl/ptt_trace.h
  samples/peripheral/802154_phy_test/include/internal/ctrl/ptt_uart.h
  samples/peripheral/802154_phy_test/include/internal/ptt_errors.h
  samples/peripheral/802154_phy_test/include/internal/ptt_proto.h
  samples/peripheral/802154_phy_test/include/internal/ptt_utils.h
  samples/peripheral/802154_phy_test/include/internal/rf/ptt_rf.h
  samples/peripheral/802154_phy_test/include/periph_proc.h
  samples/peripheral/802154_phy_test/include/ptt.h
  samples/peripheral/802154_phy_test/include/ptt_config.h
  samples/peripheral/802154_phy_test/include/ptt_rf_api.h
  samples/peripheral/802154_phy_test/include/ptt_types.h
  samples/peripheral/802154_phy_test/include/ptt_uart_api.h
  samples/peripheral/802154_phy_test/include/rf_proc.h
  samples/peripheral/802154_phy_test/include/timer_proc.h
  samples/peripheral/802154_phy_test/include/uart_proc.h
  samples/peripheral/802154_phy_test/prj.conf
  samples/peripheral/802154_phy_test/sample.yaml
  samples/peripheral/802154_phy_test/src/comm_proc.c
  samples/peripheral/802154_phy_test/src/ctrl/ptt_ctrl.c
  samples/peripheral/802154_phy_test/src/ctrl/ptt_ctrl_internal.h
  samples/peripheral/802154_phy_test/src/ctrl/ptt_events.c
  samples/peripheral/802154_phy_test/src/ctrl/ptt_events_internal.h
  samples/peripheral/802154_phy_test/src/ctrl/ptt_mode_manager.c
  samples/peripheral/802154_phy_test/src/ctrl/ptt_modes.h
  samples/peripheral/802154_phy_test/src/ctrl/ptt_parser.c
  samples/peripheral/802154_phy_test/src/ctrl/ptt_parser_internal.h
  samples/peripheral/802154_phy_test/src/ctrl/ptt_proto.c
  samples/peripheral/802154_phy_test/src/ctrl/ptt_rf_proc.c
  samples/peripheral/802154_phy_test/src/ctrl/ptt_timers.c
  samples/peripheral/802154_phy_test/src/ctrl/ptt_timers_internal.h
  samples/peripheral/802154_phy_test/src/ctrl/ptt_uart_proc.c
  samples/peripheral/802154_phy_test/src/ctrl/ptt_zb_perf_cmd_mode.c
  samples/peripheral/802154_phy_test/src/ctrl/ptt_zb_perf_cmd_mode.h
  samples/peripheral/802154_phy_test/src/ctrl/ptt_zb_perf_cmd_mode_ota.c
  samples/peripheral/802154_phy_test/src/ctrl/ptt_zb_perf_cmd_mode_response.c
  samples/peripheral/802154_phy_test/src/ctrl/ptt_zb_perf_cmd_mode_uart.c
  samples/peripheral/802154_phy_test/src/ctrl/ptt_zb_perf_dut_mode.c
  samples/peripheral/802154_phy_test/src/ctrl/ptt_zb_perf_dut_mode.h
  samples/peripheral/802154_phy_test/src/main.c
  samples/peripheral/802154_phy_test/src/periph_proc.c
  samples/peripheral/802154_phy_test/src/ptt_conf.c
  samples/peripheral/802154_phy_test/src/rf/ptt_rf.c
  samples/peripheral/802154_phy_test/src/rf/ptt_rf_internal.h
  samples/peripheral/802154_phy_test/src/rf_proc.c
  samples/peripheral/802154_phy_test/src/timer_proc.c
  samples/peripheral/802154_phy_test/src/uart_proc.c
Labels: doc-required, no-changelog

#5213 Bluetooth: Mesh: Refactor Light XYL and HSL Server models
  include/bluetooth/mesh/light_hsl_srv.h
  include/bluetooth/mesh/light_hsl_srv.rst
  include/bluetooth/mesh/light_xyl_srv.h
  subsys/bluetooth/mesh/light_hsl_srv.c
  subsys/bluetooth/mesh/light_xyl_srv.c
  tests/bluetooth/tester/src/model_handler.c
Labels: doc-required, CI-mesh-test, CI-find-my-test, no-changelog

#5276 doc: improve instructions for building on cmd line
  doc/nrf/gs_assistant.rst
  doc/nrf/gs_programming.rst
Labels: doc-required, CI-disable, no-changelog

#5303 manifest: update homekit manifest
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test, no-changelog

#5286 samples: matter: Fixed BLE advertising when not in pairing mode.
  doc/nrf/releases/release-notes-latest.rst
  samples/matter/common/src/dfu_over_smp.cpp
  samples/matter/common/src/dfu_over_smp.h
  samples/matter/light_bulb/CMakeLists.txt
  samples/matter/light_bulb/README.rst
  samples/matter/light_bulb/prj.conf
  samples/matter/light_bulb/src/app_event.h
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_bulb/src/app_task.h
  samples/matter/lock/CMakeLists.txt
  samples/matter/lock/prj.conf
  samples/matter/lock/src/app_event.h
  samples/matter/lock/src/app_task.cpp
  samples/matter/lock/src/app_task.h
  samples/matter/template/prj.conf
  samples/matter/weather_station/CMakeLists.txt
  samples/matter/weather_station/prj_debug.conf
  samples/matter/weather_station/prj_release.conf
  samples/matter/weather_station/src/app_event.h
  samples/matter/weather_station/src/app_task.cpp
  samples/matter/weather_station/src/app_task.h
  west.yml
Labels: doc-required, manifest, manifest-matter, CI-matter-test, no-changelog

#5301 caf: Fix typo in net_state module
  subsys/caf/events/net_state_event.c
Labels: CI-desktop-test, no-changelog

#5305 gps_sim: Fix validation of timeout configuration
  drivers/gps/gps_sim/gps_sim.c
Labels: CI-thingy91-test, no-changelog

#5306 net: lib: nrf_cloud: fix A-GPS data processing with GNSS API
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps.c
Labels: bug, CI-thingy91-test, CI-matter-test, no-changelog

#5307 lib: agps: fix debug log output
  lib/agps/agps.c
Labels: no-changelog

#5314 thingy53: Update USB PID and device name
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp.conf
Labels: CI-ble-test, no-changelog

#5161 doc: fixing typo from nrf5840 to nrf52840
  doc/nrf/ug_bootloader_adding.rst
  doc/nrf/ug_bootloader_config.rst
  doc/nrf/ug_matter_configuring.rst
Labels: doc-required, no-changelog

#5165 workflows: contribs: Allow external contributions
  .github/workflows/contribs.yml
Labels: no-changelog

#5173 samples: central_hids: Fix wrong protocol mode log
  samples/bluetooth/central_hids/src/main.c
Labels: CI-ble-test, no-changelog

#5221 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test, no-changelog

#5319 test: lib: dfu_target fix B1 upgrade url
  tests/subsys/dfu/dfu_target_mcuboot/src/main.c
Labels: CI-boot-dfu-test, no-changelog

#5316 samples: matter: Optimized fetching data from device sensors
  samples/matter/weather_station/src/app_task.cpp
  samples/matter/weather_station/src/app_task.h
Labels: CI-matter-test

#5312 manifest: Updated sdk-connectedhomeip version
  doc/nrf/links.txt
  west.yml
Labels: doc-required, manifest, manifest-matter, CI-matter-test

#5322 nfc: ndef: enable encoding of long uri messages
  include/nfc/ndef/uri_msg.h
  include/nfc/ndef/uri_rec.h
  subsys/nfc/ndef/uri_msg.c
Labels: CI-nfc-test, CI-matter-test

#5324 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#5315 doc: matter: samples: advertising time
  samples/matter/light_bulb/README.rst
  samples/matter/lock/README.rst
Labels: doc-required, CI-disable

#5329 Bluetooth: Tester: Fix Scheduler Action set
  tests/bluetooth/tester/src/bttester.h
  tests/bluetooth/tester/src/mmdl.c
Labels: no-changelog

#5320 scripts: get_pulls_in_range: add copyright/license
  scripts/get_pulls_in_range.py
Labels: CI-disable, no-changelog

#5330 doc: add Matter tools page
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-latest.rst
  doc/nrf/ug_matter.rst
  doc/nrf/ug_matter_configuring.rst
  doc/nrf/ug_matter_tools.rst
  doc/nrf/ug_thread_tools.rst
Labels: doc-required, CI-disable

#5337 lib: date_time: Check LTE registration status before performing NTP
  lib/date_time/date_time.c
Labels: CI-thingy91-test

#5338 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test

#5334 cmake: adding missing file extension, .c to zephyr_sources filename
  subsys/nfc/t4t/CMakeLists.txt
Labels: CI-nfc-test, CI-matter-test

#5296 application: serial_lte_modem: Add secondary PDN support to #XPING
  applications/serial_lte_modem/doc/ICMP_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_icmp.c
  applications/serial_lte_modem/src/slm_at_socket.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  applications/serial_lte_modem/src/slm_util.c
  applications/serial_lte_modem/src/slm_util.h
Labels: doc-required

#5295 application: serial_lte_modem: Datamode error handling
  applications/serial_lte_modem/doc/slm_data_mode.rst
  applications/serial_lte_modem/src/ftp_c/slm_at_ftp.c
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_host.h
  applications/serial_lte_modem/src/slm_at_socket.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
Labels: doc-required

#5278 zigbee: samples: Add application template sample
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/template/CMakeLists.txt
  samples/zigbee/template/README.rst
  samples/zigbee/template/boards/nrf21540dk_nrf52840.overlay
  samples/zigbee/template/boards/nrf52833dk_nrf52833.overlay
  samples/zigbee/template/boards/nrf52840dk_nrf52840.overlay
  samples/zigbee/template/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/template/prj.conf
  samples/zigbee/template/sample.yaml
  samples/zigbee/template/src/main.c
Labels: doc-required, CI-zigbee-test

#5343 zigbee: Reduce ZBOSS timer unit conversion errors
  subsys/zigbee/osif/zb_nrf_pwr_mgmt.c
Labels: CI-zigbee-test

#5265 matter: Moved weather station from samples to applications
  .checkpatch.conf
  CODEOWNERS
  applications/matter_weather_station/CMakeLists.txt
  applications/matter_weather_station/README.rst
  applications/matter_weather_station/child_image/multiprotocol_rpmsg_ZDebug.conf
  applications/matter_weather_station/child_image/multiprotocol_rpmsg_ZRelease.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/mcuboot_ZDebug.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/mcuboot_ZRelease.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/pm_static.yml
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_ZDebug.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_ZRelease.conf
  applications/matter_weather_station/sample.yaml
  applications/matter_weather_station/src/app_event.h
  applications/matter_weather_station/src/app_task.cpp
  applications/matter_weather_station/src/app_task.h
  applications/matter_weather_station/src/chip_project_config.h
  applications/matter_weather_station/src/gen/CHIPClientCallbacks.cpp
  applications/matter_weather_station/src/gen/CHIPClientCallbacks.h
  applications/matter_weather_station/src/gen/CHIPClusters.cpp
  applications/matter_weather_station/src/gen/CHIPClusters.h
  applications/matter_weather_station/src/gen/IMClusterCommandHandler.cpp
  applications/matter_weather_station/src/gen/af-gen-event.h
  applications/matter_weather_station/src/gen/attribute-size.cpp
  applications/matter_weather_station/src/gen/callback-stub.cpp
  applications/matter_weather_station/src/gen/callback.h
  applications/matter_weather_station/src/gen/chip-zcl-zpro-codec-api.h
  applications/matter_weather_station/src/gen/encoder.cpp
  applications/matter_weather_station/src/gen/endpoint_config.h
  applications/matter_weather_station/src/gen/gen_config.h
  applications/matter_weather_station/src/gen/gen_tokens.h
  applications/matter_weather_station/src/main.cpp
  applications/matter_weather_station/src/weather-station.zap
  applications/matter_weather_station/thingy53_nrf5340_cpuapp.overlay
  doc/nrf/images/chiptool_relative_humidity.gif
  doc/nrf/images/chiptool_sensor_cluster.gif
  doc/nrf/images/chiptool_temperature_read.gif
  doc/nrf/images/chiptool_temperature_watch.gif
  doc/nrf/nrf.doxyfile.in
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/samples/samples_matter.rst
  doc/nrf/ug_matter.rst
  samples/matter/weather_station/README.rst
Labels: doc-required, CI-matter-test, changelog-entry-required

#5348 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test, Hotfix, changelog-entry-required

#5346 doc: gs: gnuarmemb path fix
  doc/nrf/gs_installing.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#5287 Add unit test for gps_module
  applications/asset_tracker_v2/tests/gps_module/CMakeLists.txt
  applications/asset_tracker_v2/tests/gps_module/Kconfig
  applications/asset_tracker_v2/tests/gps_module/boards/nrf9160dk_nrf9160_ns.conf
  applications/asset_tracker_v2/tests/gps_module/boards/qemu_cortex_m3.conf
  applications/asset_tracker_v2/tests/gps_module/prj.conf
  applications/asset_tracker_v2/tests/gps_module/src/gps_module_test.c
  applications/asset_tracker_v2/tests/gps_module/testcase.yaml
Labels: changelog-entry-required

#5361 west.yml: update zephyr sha
  west.yml
Labels: manifest, CI-disable, manifest-zephyr

#5356 applications: nrf_desktop: increase DFU timeout
  applications/nrf_desktop/src/modules/dfu.c
Labels: CI-desktop-test, changelog-entry-required

#5350 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test, changelog-entry-required

#5216 Profiler: Unit test
  CODEOWNERS
  tests/subsys/profiler/CMakeLists.txt
  tests/subsys/profiler/README.txt
  tests/subsys/profiler/prj.conf
  tests/subsys/profiler/src/main.c
  tests/subsys/profiler/testcase.yaml
Labels: changelog-entry-required

#5294 samples: matter: add support for nRF21540
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/light_bulb/CMakeLists.txt
  samples/matter/light_bulb/README.rst
  samples/matter/light_bulb/boards/nrf21540dk_nrf52840.conf
  samples/matter/light_bulb/boards/nrf21540dk_nrf52840.overlay
  samples/matter/light_bulb/sample.yaml
  samples/matter/light_switch/README.rst
  samples/matter/light_switch/boards/nrf21540dk_nrf52840.conf
  samples/matter/light_switch/boards/nrf21540dk_nrf52840.overlay
  samples/matter/light_switch/sample.yaml
  samples/matter/lock/CMakeLists.txt
  samples/matter/lock/README.rst
  samples/matter/lock/boards/nrf21540dk_nrf52840.conf
  samples/matter/lock/boards/nrf21540dk_nrf52840.overlay
  samples/matter/lock/sample.yaml
  samples/matter/template/README.rst
  samples/matter/template/boards/nrf21540dk_nrf52840.conf
  samples/matter/template/boards/nrf21540dk_nrf52840.overlay
  samples/matter/template/sample.yaml
Labels: doc-required, CI-matter-test

#4806 Direction finding connectionless locator sample app: add support for the nRF52820
  samples/bluetooth/direction_finding_connectionless_rx/README.rst
  samples/bluetooth/direction_finding_connectionless_rx/boards/nrf52833dk_nrf52820.conf
  samples/bluetooth/direction_finding_connectionless_rx/boards/nrf52833dk_nrf52820.overlay
Labels: doc-required, CI-ble-test, changelog-entry-required

#5360 doc: Update release-notes-changelog.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#5241 tests: Fix tfm hw_unique_key test
  tests/lib/hw_unique_key_tfm/write_kmu.py
Labels: bug, CI-tfm-test

#5034 crypto: Fix RSA for secure only and TF-M builds
  samples/crypto/rsa/prj.conf
  samples/crypto/rsa/src/main.c
Labels: bug, CI-crypto-test, manifest-zephyr, manifest-nrfxlib, CI-chip-test, changelog-entry-required

#5385 doc: add support for nRF21540 FEM to PHY Test Tool sample doc
  samples/peripheral/802154_phy_test/README.rst
Labels: doc-required, CI-disable

#5243 manifest: Nrfxlib with SHA1 as opt in with TFM
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test, changelog-entry-required

#5379 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, changelog-entry-required

#5373 samples: matter: Aligned handling BLE advertising to the upstream
  applications/matter_weather_station/src/app_task.cpp
  doc/nrf/links.txt
  samples/matter/common/src/dfu_over_smp.cpp
  samples/matter/common/src/dfu_over_smp.h
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/lock/src/app_task.cpp
  west.yml
Labels: doc-required, manifest, manifest-matter, CI-matter-test

#5279 zigbee: Refactor logging ZBOSS traces
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_zigbee_configuring.rst
  samples/zigbee/ncp/README.rst
  samples/zigbee/ncp/src/main.c
  subsys/zigbee/CMakeLists.txt
  subsys/zigbee/Kconfig
  subsys/zigbee/osif/zb_nrf_async_serial.c
  subsys/zigbee/osif/zb_nrf_logger.c
  subsys/zigbee/osif/zb_nrf_serial.c
  subsys/zigbee/osif/zb_nrf_serial_logger.c
  tests/subsys/zigbee/osif/serial/serial_async_api/src/main.c
  tests/subsys/zigbee/osif/serial/serial_basic_api/CMakeLists.txt
  tests/subsys/zigbee/osif/serial/serial_basic_api/src/main.c
  tests/subsys/zigbee/osif/serial/serial_via_logger/CMakeLists.txt
  tests/subsys/zigbee/osif/serial/serial_via_logger/mock/log_mock.h
  tests/subsys/zigbee/osif/serial/serial_via_logger/prj.conf
Labels: doc-required, CI-zigbee-test, changelog-entry-required

#5332 lib: dfu: Revert MCUBOOT FOTA image delimiter change
  applications/serial_lte_modem/src/slm_at_fota.c
  subsys/dfu/dfu_target/src/dfu_target_mcuboot.c
  tests/subsys/dfu/dfu_target_mcuboot/src/main.c
Labels: CI-zigbee-test, CI-boot-dfu-test

#5398 unit_test: gps_module: Add setup and tearDown functions
  applications/asset_tracker_v2/tests/gps_module/src/gps_module_test.c
Labels: changelog-entry-required

#5300 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test, changelog-entry-required

#5423 doc: release-note-changelog: 802.15.4-related changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#5413 doc: Bluetooth: Mesh: Release notes and known issues for v1.7.0.
  doc/nrf/known_issues.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, changelog-entry-required

#5408 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test, changelog-entry-required

#5430 doc: add Thread link metrics feature information
  doc/nrf/ug_thread_supported_features.rst
Labels: doc-required, changelog-entry-required

#5388 doc: add Thread release notes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#5422 manifest: update nrf-802154 component
  west.yml
Labels: manifest, CI-zigbee-test, CI-thread-test, manifest-nrfxlib, manifest-nrf-802154, CI-homekit-test, CI-rs-test, CI-matter-test, changelog-entry-required

#5454 doc: changelog: remove obsolete sections
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#5441 samples: matter: adjust Bluetooth LE parameters after MPSL update
  applications/matter_weather_station/child_image/multiprotocol_rpmsg_ZDebug.conf
  applications/matter_weather_station/child_image/multiprotocol_rpmsg_ZRelease.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_ZDebug.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_ZRelease.conf
  doc/nrf/links.txt
  samples/matter/common/config/overlay-dfu_nrf53_extension.conf
  samples/matter/common/config/overlay-dfu_support.conf
  samples/matter/light_bulb/CMakeLists.txt
  samples/matter/light_bulb/boards/nrf52840dk_nrf52840.conf
  samples/matter/light_bulb/child_image/multiprotocol_rpmsg.conf
  samples/matter/light_bulb/prj.conf
  samples/matter/lock/CMakeLists.txt
  samples/matter/lock/boards/nrf52840dk_nrf52840.conf
  samples/matter/lock/child_image/multiprotocol_rpmsg.conf
  samples/matter/lock/prj.conf
  samples/matter/template/prj.conf
  west.yml
Labels: doc-required, manifest, manifest-matter, CI-matter-test, changelog-entry-required

#5415 Bluetooth: Mesh: Fixed setting of last light level
  include/bluetooth/mesh/lightness_srv.h
  subsys/bluetooth/mesh/lightness_srv.c
Labels: bug, CI-mesh-test, changelog-entry-required

#5450 labeler: Extend dependency list for CI-zigbee-test
  .github/labeler.yml
Labels: changelog-entry-required

#5344 applications: asset_tracker_v2: update to use GNSS API
  applications/asset_tracker_v2/overlay-debug.conf
  applications/asset_tracker_v2/prj.conf
  applications/asset_tracker_v2/src/events/gps_module_event.h
  applications/asset_tracker_v2/src/modules/Kconfig.gps_module
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/gps_module.c
  applications/asset_tracker_v2/src/modules/ui_module.c
  applications/asset_tracker_v2/tests/gps_module/CMakeLists.txt
  applications/asset_tracker_v2/tests/gps_module/src/gps_module_test.c
Labels: changelog-entry-required

#4682 Bluetooth: Mesh: Run mesh with SoftDevice Controller
  doc/nrf/ug_ble_controller.rst
  samples/bluetooth/mesh/chat/prj.conf
  samples/bluetooth/mesh/light/prj.conf
  samples/bluetooth/mesh/light_ctrl/prj.conf
  samples/bluetooth/mesh/light_switch/prj.conf
  samples/bluetooth/mesh/sensor_client/prj.conf
  samples/bluetooth/mesh/sensor_server/prj.conf
  tests/subsys/bluetooth/mesh/models/prj.conf
Labels: doc-required, CI-mesh-test, changelog-entry-required

#5424 tree-wide: Fix logger configuration on Thingy:53 USB CDC ACM
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/app_ZDebug.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_ZDebug.conf
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp.conf
Labels: CI-ble-test, changelog-entry-required

#5359 manifest: mcuboot upgrade
  west.yml
Labels: manifest, CI-boot-dfu-test, manifest-mcuboot, changelog-entry-required

#5471 doc: versions: fix JSON format error
  doc/versions.json
Labels: doc-required, CI-disable, changelog-entry-required

#5474 doc: known issues: revert added tag
  doc/nrf/known_issues.rst
Labels: doc-required, CI-disable

#5404 thingy53: samples and applications: Use default MCUboot config
  applications/machine_learning/CMakeLists.txt
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/mcuboot_ZDebug.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/mcuboot_ZRelease.conf
  applications/matter_weather_station/CMakeLists.txt
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/mcuboot_ZDebug.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/mcuboot_ZRelease.conf
  samples/bluetooth/mesh/light/child_image/mcuboot/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_switch/child_image/mcuboot/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_lbs/child_image/mcuboot/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_uart/child_image/mcuboot/boards/thingy53_nrf5340_cpuapp.conf
Labels: CI-ble-test, manifest-mcuboot, changelog-entry-required
