Repository nrfconnect/sdk-nrf, pull requests merged in 2022-06, with the labels that each got.

#7852 applications: asset_tracker_v2: Default CONFIG_RESET_ON_FATAL_ERROR to y
  applications/asset_tracker_v2/prj.conf
  applications/asset_tracker_v2/src/modules/util_module.c
Labels: bug

#7708 doc: update known issues for 2.0.0 release
  doc/nrf/known_issues.rst
Labels: doc-required, CI-disable

#7874 VERSION: Update to 2.0.99
  VERSION
Labels: CI-disable

#7875 ci: use forked branches of CI/Verification repositories
  Jenkinsfile
  test-manifests/99-default-test-nrf.yml
Labels: changelog-entry-required

#7872 doc: post 2.0.0 release doc update
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

#7761 Bluetooth: Mesh: Gen Ponoff Srv status msg update
  subsys/bluetooth/mesh/gen_ponoff_srv.c
Labels: changelog-entry-required

#7789 Bluetooth: Mesh: Scene Srv status msg update
  subsys/bluetooth/mesh/scene_srv.c
Labels: changelog-entry-required

#7868 Bluetooth: Mesh: Fix issues reported by Coverity
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/src/lb_service_handler.c
  samples/bluetooth/mesh/chat/src/chat_cli.c
  samples/bluetooth/mesh/light_ctrl/src/lc_pwm_led.c
  samples/bluetooth/mesh/silvair_enocean/src/main.c
  subsys/bluetooth/mesh/gen_prop_cli.c
  subsys/bluetooth/mesh/gen_prop_srv.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/scheduler_srv.c
  subsys/bluetooth/mesh/sensor.c
  subsys/bluetooth/mesh/sensor_cli.c
  subsys/bluetooth/mesh/sensor_srv.c
  subsys/bluetooth/mesh/time_srv.c
  subsys/bluetooth/mesh/time_util.c
Labels: changelog-entry-required

#7693 net: lib: lwm2m_client_utils: API for applying update
  include/net/lwm2m_client_utils.h
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
Labels: changelog-entry-required

#7586 CODEOWNERS: event manager proxy test
  CODEOWNERS
Labels: changelog-entry-required

#7694 doc: RTT update
  samples/nrf9160/fmfu_smp_svr/README.rst
Labels: doc-required, changelog-entry-required

#7879 manifest: update nrf_dm
  west.yml
Labels: manifest, manifest-nrfxlib

#7882 samples: ipc: rework ipc sample
  samples/ipc/ipc_service/CMakeLists.txt
  samples/ipc/ipc_service/Kconfig.app
  samples/ipc/ipc_service/README.rst
  samples/ipc/ipc_service/prj.conf
  samples/ipc/ipc_service/prj_icmsg.conf
  samples/ipc/ipc_service/remote/prj.conf
  samples/ipc/ipc_service/remote/prj_icmsg.conf
  samples/ipc/ipc_service/src/main.c
Labels: doc-required

#7899 samples: nrf9160: modem_shell: Second socket periodic to fail
  samples/nrf9160/modem_shell/src/sock/sock.c
Labels: changelog-entry-required

#7898 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#7679 openthread: samples: Reorganise openthread cert overlay
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_certification.rst
  doc/nrf/ug_thread_ot_memory.rst
  samples/openthread/cli/harness/overlay-cert.conf
Labels: doc-required

#7799 openthread: samples: Remove overlay-minimal.conf from RCP sample.
  samples/openthread/coprocessor/README.rst
  samples/openthread/coprocessor/overlay-minimal.conf
Labels: doc-required, changelog-entry-required

#7796 flash_patch: Add support for nRF52833
  doc/nrf/releases/release-notes-changelog.rst
  lib/flash_patch/CMakeLists.txt
  lib/flash_patch/Kconfig
  tests/drivers/flash_patch/testcase.yaml
Labels: doc-required

#7903 samples: lwm2m_client: Coiote decommissioning
  samples/nrf9160/lwm2m_client/scripts/provision.py
Labels: changelog-entry-required

#7884 lib: modem_key_mgmt: don't read CME error if `nrf_modem_at_cmd` failed
  doc/nrf/releases/release-notes-changelog.rst
  lib/modem_key_mgmt/modem_key_mgmt.c
Labels: doc-required

#7871 doc improvement: stylistic fixes
  doc/nrf/gs_installing.rst
  doc/nrf/ug_nrf9160_gs.rst
  doc/nrf/ug_thingy91_gsg.rst
Labels: doc-required, CI-disable, changelog-entry-required

#7583 samples: direct_test_mode: Implementation of the errata 117
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/direct_test_mode/src/dtm.c
Labels: doc-required

#7894 doc: Fix images in LwM2M carrier library docs
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_bootstrap.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_bootstrap.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_fail_cert.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_fail_cert.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_success.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_success.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_init.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_init.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_overview.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_overview.vsdx
Labels: doc-required, changelog-entry-required

#7888 zigbee: Increase UT stability by rounding inteval
  tests/subsys/zigbee/osif/timer_counter/src/main.c
  tests/subsys/zigbee/osif/timer_ktimer/src/main.c
Labels: changelog-entry-required

#7890 zigbee: Align PAN ID conflict resolution APIs
  doc/nrf/libraries/zigbee/zigbee_app_utils.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/shell/src/main.c
  subsys/zigbee/lib/zigbee_app_utils/Kconfig
  subsys/zigbee/lib/zigbee_app_utils/zigbee_app_utils.c
Labels: doc-required

#7917 doc: sml: fixed top_level keys in uploaded report
  doc/_scripts/software_maturity/software_maturity_scanner.py
Labels: doc-required, changelog-entry-required

#7906 samples: nrf9160: modem_shell: command for setting reference altitude
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/src/gnss/gnss_shell.c
Labels: doc-required

#7847 west.yml: Update Zephyr to bring in fixes for arm_thread_swap_tz test
  west.yml
Labels: manifest, manifest-zephyr

#7827 docs: added note on changing version in s1 image
  doc/nrf/ug_bootloader_adding.rst
  doc/nrf/ug_fw_update.rst
Labels: doc-required

#7878 doc: nrf: Update known issues section for Asset Tracker v2
  doc/nrf/known_issues.rst
Labels: doc-required, CI-disable

#7891 sample: Zigbee light switch: Free buffer in case of failed request [KRKNWK-14229]
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_switch/src/main.c
Labels: doc-required

#7924 doc: nrf5340audio: add recover to buildprog
  applications/nrf5340_audio/README.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#7916 applications: asset_tracker_v2: Improve sample request handling
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/Kconfig.app_module
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#7934 zigbee: Improve checks in Zigbee timer UT
  tests/subsys/zigbee/osif/timer_ktimer/src/main.c
Labels: changelog-entry-required

#7213 test_spec: crypto: add cjson, tfm
  .github/test-spec.yml
Labels: changelog-entry-required

#7607 doc: add adp536x documentation
  doc/nrf/libraries/others/adp536x.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#7883 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-zephyr, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#7902 matter: rebase sdk-connectedhomeip
  west.yml
Labels: manifest, manifest-matter

#7919 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#7914 scripts: Update required toolchain version to 2.0.0
  scripts/ncs-toolchain-version-minimum.txt
Labels: backport v2.0-branch

#7952 doc: move note about NCP discontinued higher
  doc/nrf/ug_thread_architectures.rst
Labels: doc-required

#7947 doc: matter: add Thread SSED info to window cover
  doc/nrf/images/thread_sed_ssed_comparison.svg
  doc/nrf/images/thread_sed_ssed_comparison.vsdx
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_commissioning.rst
  samples/matter/window_covering/README.rst
Labels: doc-required, CI-disable

#7803 samples: Changes name of testcase
  samples/nrf9160/ciphersuites/sample.yaml
Labels: changelog-entry-required

#7963 doc: security: add missing ToC
  doc/nrf/security_chapter.rst
Labels: doc-required, CI-disable

#7741 codeowners: change owner of .github directory
  CODEOWNERS
Labels: CI-disable, changelog-entry-required

#7940 lib: at_cmd_parser: fix at cmd parser underline filterout
  doc/nrf/releases/release-notes-changelog.rst
  lib/at_cmd_parser/at_utils.h
  tests/lib/at_cmd_parser/at_utils/src/main.c
Labels: doc-required

#7954 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#7893 doc: update modem firmware before application firmware for nRF9160 DK
  doc/nrf/images/programmer_addfile_nrf9160dk.png
  doc/nrf/images/programmer_com_ports.png
  doc/nrf/images/programmer_erasewrite_nrf9160dk.png
  doc/nrf/images/programmer_write_nrf9160dk.png
  doc/nrf/images/programmerapp_modemdfu.png
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf9160_gs.rst
Labels: doc-required

#7956 doc: fix missing ref tag in Thingy53 documentation
  doc/nrf/ug_thingy53.rst
Labels: doc-required, changelog-entry-required

#7971 samples: peripheral: 802154_phy_test: Fix antenna diversity commands
  samples/peripheral/802154_phy_test/src/ctrl/ptt_zb_perf_dut_mode.c
Labels: changelog-entry-required

#7962 doc: remove banners from the welcome & GSG pages
  doc/nrf/getting_started.rst
  doc/nrf/index.rst
Labels: doc-required, CI-disable

#7941 doc improvement: Minor style updates on Library wrapper
  doc/nrf/libraries/modem/nrf_modem_lib.rst
Labels: doc-required, changelog-entry-required

#7964 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#7937 samples: aws_iot: Add semaphore to prevent race
  samples/nrf9160/aws_iot/prj_qemu_x86.conf
  samples/nrf9160/aws_iot/src/main.c
Labels: bug

#7909 doc: gsg: Document environment variables for the Zephyr SDK
  doc/nrf/gs_installing.rst
Labels: doc-required, changelog-entry-required

#7985 applications: asset_tracker_v2: Fix LwM2M GNSS float conversion
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#7993 doc: fix Thingy:53 link to Edge Impulse
  doc/nrf/links.txt
  doc/nrf/ug_thingy53_gs.rst
Labels: doc-required

#7950 applications: asset_tracker_v2: Handle modem functional mode requests
  applications/asset_tracker_v2/src/cloud/Kconfig.lwm2m_integration
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec.c
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
  applications/asset_tracker_v2/src/events/cloud_module_event.h
  applications/asset_tracker_v2/src/modules/modem_module.c
Labels: changelog-entry-required

#7992 doc: Typo fix
  doc/nrf/ug_bootloader_adding.rst
Labels: doc-required, CI-disable

#7846 doc: multi-image: add build file table
  doc/nrf/app_build_system.rst
  doc/nrf/gs_programming.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_multi_image.rst
  doc/nrf/ug_thingy53.rst
Labels: doc-required, CI-disable

#7905 doc: Add flash patch library documentation
  doc/nrf/libraries/others/flash_patch.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#7965 manifest: update sdk-nrfxlib and sdk-zephyr revisions
  west.yml
Labels: manifest, manifest-zephyr, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#7951 application: serial_lte_modem: BUG-FIX enter data mode
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/doc/MQTT_AT_commands.rst
  applications/serial_lte_modem/doc/slm_data_mode.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  applications/serial_lte_modem/src/ftp_c/slm_at_ftp.c
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_host.h
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#7953 applications: asset_tracker_v2: Fix issues suggested by static analysis
  applications/asset_tracker_v2/src/cloud/aws_iot_integration.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/modem_module.c
  applications/asset_tracker_v2/src/modules/sensor_module.c
Labels: changelog-entry-required

#7915 doc: software_maturity: Update rst to point to new entries in the yaml
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/software_maturity.rst
Labels: doc-required

#8004 doc: ug_edge_impulse: Add explanation regarding API key
  doc/nrf/ug_edge_impulse.rst
Labels: doc-required

#8005 doc: known_issues: Add NCSDK-15724
  doc/nrf/known_issues.rst
Labels: doc-required

#8011 zigbee: Use Cryptocell as entropy source in samples and unit tests. [KRKNWK-11467]
  applications/zigbee_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/zigbee_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_bulb/boards/nrf21540dk_nrf52840.overlay
  samples/zigbee/light_bulb/boards/nrf52833dk_nrf52833.overlay
  samples/zigbee/light_bulb/boards/nrf52840dk_nrf52840.overlay
  samples/zigbee/light_bulb/prj.conf
  samples/zigbee/light_bulb/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/light_switch/boards/nrf21540dk_nrf52840.conf
  samples/zigbee/light_switch/boards/nrf21540dk_nrf52840.overlay
  samples/zigbee/light_switch/boards/nrf21540dk_nrf52840_fota.conf
  samples/zigbee/light_switch/boards/nrf52833dk_nrf52833.conf
  samples/zigbee/light_switch/boards/nrf52833dk_nrf52833.overlay
  samples/zigbee/light_switch/boards/nrf52840dk_nrf52840.conf
  samples/zigbee/light_switch/boards/nrf52840dk_nrf52840.overlay
  samples/zigbee/light_switch/boards/nrf52840dk_nrf52840_fota.conf
  samples/zigbee/ncp/boards/nrf21540dk_nrf52840.conf
  samples/zigbee/ncp/boards/nrf21540dk_nrf52840.overlay
  samples/zigbee/ncp/boards/nrf21540dk_nrf52840_usb.conf
  samples/zigbee/ncp/boards/nrf52833dk_nrf52833.conf
  samples/zigbee/ncp/boards/nrf52833dk_nrf52833.overlay
  samples/zigbee/ncp/boards/nrf52833dk_nrf52833_usb.conf
  samples/zigbee/ncp/boards/nrf52840dk_nrf52840.conf
  samples/zigbee/ncp/boards/nrf52840dk_nrf52840.overlay
  samples/zigbee/ncp/boards/nrf52840dk_nrf52840_usb.conf
  samples/zigbee/ncp/boards/nrf52840dongle_nrf52840.overlay
  samples/zigbee/ncp/boards/nrf52840dongle_nrf52840_usb.conf
  samples/zigbee/ncp/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/ncp/boards/nrf5340dk_nrf5340_cpuapp_usb.conf
  samples/zigbee/network_coordinator/boards/nrf21540dk_nrf52840.overlay
  samples/zigbee/network_coordinator/boards/nrf52833dk_nrf52833.overlay
  samples/zigbee/network_coordinator/boards/nrf52840dk_nrf52840.overlay
  samples/zigbee/network_coordinator/prj.conf
  samples/zigbee/network_coordinator/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/shell/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/template/boards/nrf21540dk_nrf52840.overlay
  samples/zigbee/template/boards/nrf52833dk_nrf52833.overlay
  samples/zigbee/template/boards/nrf52840dk_nrf52840.overlay
  samples/zigbee/template/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/template/prj.conf
  tests/subsys/zigbee/osif/crypto/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/zigbee/osif/crypto/prj.conf
  tests/subsys/zigbee/osif/nvram/boards/nrf52833dk_nrf52833.overlay
  tests/subsys/zigbee/osif/nvram/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/zigbee/osif/nvram/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/zigbee/osif/nvram/prj.conf
  tests/subsys/zigbee/zboss_api/alarm_api/boards/nrf52833dk_nrf52833.overlay
  tests/subsys/zigbee/zboss_api/alarm_api/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/zigbee/zboss_api/alarm_api/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/zigbee/zboss_api/alarm_api/prj.conf
  tests/subsys/zigbee/zboss_api/callback_api/boards/nrf52833dk_nrf52833.overlay
  tests/subsys/zigbee/zboss_api/callback_api/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/zigbee/zboss_api/callback_api/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/subsys/zigbee/zboss_api/callback_api/prj.conf
Labels: doc-required

#8003 applications: asset_tracker_v2: Default coredump storage to RAM
  applications/asset_tracker_v2/doc/debug_module.rst
  applications/asset_tracker_v2/overlay-memfault.conf
  doc/nrf/known_issues.rst
Labels: doc-required

#8012 zigbee: Fix typos in samples, tests and subsys
  applications/zigbee_weather_station/README.rst
  samples/zigbee/light_bulb/src/main.c
  samples/zigbee/light_switch/src/main.c
  samples/zigbee/network_coordinator/src/main.c
  samples/zigbee/shell/sample.yaml
  samples/zigbee/shell/src/main.c
  samples/zigbee/template/src/main.c
  subsys/zigbee/Kconfig
  subsys/zigbee/lib/zigbee_shell/include/zigbee_shell_ping_types.h
  subsys/zigbee/lib/zigbee_shell/include/zigbee_shell_utils.h
  subsys/zigbee/lib/zigbee_shell/include/zigbee_shell_zcl_types.h
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_bdb.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_nbr.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_ping.c
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_zdo.c
  subsys/zigbee/osif/zb_nrf_async_serial.c
  subsys/zigbee/osif/zb_nrf_platform.c
  subsys/zigbee/osif/zb_nrf_pwr_mgmt.c
  tests/subsys/zigbee/osif/serial/serial_basic_api/src/main.c
Labels: doc-required, changelog-entry-required

#7998 test_spec: rs: run tests on changes to nrf_rpc
  .github/test-spec.yml
Labels: changelog-entry-required

#7918 samples: nrf9160: modem_shell: More precision for position printing
  include/net/multicell_location.h
Labels: changelog-entry-required

#7980 application: serial_lte_modem: Add GNSS sleep/wakeup URC
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8016 lib: pdn: use portable format specifier to scan the PDN ID
  lib/pdn/pdn.c
Labels: changelog-entry-required

#7975 doc: known_issues: Add NCSDK-15675
  doc/nrf/known_issues.rst
Labels: doc-required

#7573 manifest: Update to nrfxlib PR 722
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#8019 CODEOWNERS: lib location test
  CODEOWNERS
Labels: changelog-entry-required

#8021 lib: pdn: add `pdn_esm_strerror()`
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/pdn.h
  lib/pdn/CMakeLists.txt
  lib/pdn/Kconfig
  lib/pdn/esm.c
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/link/link_shell_pdn.c
  samples/nrf9160/pdn/CMakeLists.txt
  samples/nrf9160/pdn/prj.conf
  samples/nrf9160/pdn/src/main.c
Labels: doc-required

#8013 manifest: update Zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#8024 samples: Rename testcases
  applications/serial_lte_modem/sample.yaml
Labels: changelog-entry-required

#7462 drivers: mpsl: clock: Add dependencies to CLOCK_CONTROL_MPSL
  drivers/mpsl/clock_control/Kconfig
Labels: changelog-entry-required

#8030 samples: Add building of newlib_libc configuration for two samples
  samples/crypto/sha256/sample.yaml
  samples/keys/random_hw_unique_key/sample.yaml
Labels: changelog-entry-required

#7936 .github: disable tf-m oss-history check
  .github/workflows/oss-history.yml
Labels: changelog-entry-required

#7431 esb: fix CRC setup configuration
  doc/nrf/releases/release-notes-changelog.rst
  subsys/esb/esb.c
Labels: doc-required, CI-trusted-author, external

#7931 doc: Fixes for the changelog
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#7973 doc: gs: add debugging section to Testing an app
  doc/nrf/gs_testing.rst
  doc/nrf/includes/build_and_run.txt
  doc/nrf/includes/build_and_run_nrf9160.txt
  doc/nrf/includes/build_and_run_ns.txt
  doc/nrf/includes/config_build_and_run.txt
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf5340.rst
  samples/bluetooth/direct_test_mode/README.rst
  samples/bluetooth/peripheral_uart/README.rst
Labels: doc-required, CI-disable

#8036 applications: asset_tracker_v2: Enable CBOR encoding for SENML
  applications/asset_tracker_v2/overlay-lwm2m.conf
Labels: changelog-entry-required

#7969 doc: Add an NFC section in the memory optimization guide.
  doc/nrf/app_memory.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8046 samples: lwm2m: Conformance tests require TLV
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-core-interop.conf
  samples/nrf9160/lwm2m_client/overlay-lwm2m-1.1-object-interop.conf
Labels: changelog-entry-required

#8028 mpsl: fem: Align with MPSL FEM API changes
  subsys/mpsl/fem/mpsl_fem.c
Labels: changelog-entry-required

#8038 bluetooth: fast_pair: Describe discoverable advertising limitation
  doc/nrf/libraries/bluetooth_services/services/fast_pair.rst
  doc/nrf/ug_bt_fast_pair.rst
Labels: doc-required

#7897 application: serial_lte_modem: Support socket receive flags
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_socket.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8043 application: serial_lte_modem: Support multiple PDN in Socket
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_socket.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#7542 applications: nrf5340_audio: Update build script
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/tools/buildprog/buildprog.py
  applications/nrf5340_audio/tools/buildprog/nrf5340_audio_dk_devices.py
  applications/nrf5340_audio/tools/buildprog/program.py
Labels: doc-required, changelog-entry-required

#8044 matter: pull fix for including SED intervals
  west.yml
Labels: manifest, manifest-matter

#8032 nrf_802154: Move HP timer platform to sdk-nrf
  modules/nrfxlib/nrf_802154/CMakeLists.txt
  modules/nrfxlib/nrf_802154/sl/platform/nrf_802154_hp_timer.c
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154

#8053 nrf_rpc: Add protocol versioning
  west.yml
Labels: manifest, manifest-nrfxlib

#8000 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#7804 samples: Change duplicated name of testcase
  samples/nrf5340/remote_shell/sample.yaml
Labels: changelog-entry-required

#8054 samples: Rename integration tests
  samples/bluetooth/peripheral_hids_mouse/sample.yaml
  samples/crypto/sha256/sample.yaml
  samples/matter/light_switch/sample.yaml
  samples/openthread/cli/sample.yaml
Labels: changelog-entry-required

#8062 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#8066 doc: fix file name reference in Thingy:53 GSG
  doc/nrf/images/programmer_thingy53_mcuboot_dfu.png
  doc/nrf/ug_thingy53_gs.rst
Labels: doc-required, CI-disable

#8057 nrf_modem_lib: trace_backends: fix log module
  lib/nrf_modem_lib/trace_backends/rtt/rtt.c
  lib/nrf_modem_lib/trace_backends/uart/uart.c
  lib/nrf_modem_lib/trace_backends/uart/uart_sync.c
Labels: Hotfix

#8027 doc: software_maturity: collapsible tables
  doc/nrf/conf.py
  doc/nrf/software_maturity.rst
  scripts/requirements-doc.txt
Labels: doc-required, changelog-entry-required

#7968 Bluetooth: Mesh: Automatic decommission of EnOcean switch
  doc/nrf/libraries/bluetooth_services/mesh/vnd/silvair_enocean_srv.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/enocean.h
  samples/bluetooth/enocean/src/main.c
  subsys/bluetooth/enocean.c
  subsys/bluetooth/mesh/vnd/Kconfig
  subsys/bluetooth/mesh/vnd/silvair_enocean_srv.c
  tests/subsys/bluetooth/mesh/silvair_enocean_model/src/main.c
Labels: doc-required

#7712 doc: linux west installation update
  doc/nrf/gs_installing.rst
Labels: doc-required, changelog-entry-required

#7929 doc: fast_pair: Allow hiding UI indication
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_fast_pair/README.rst
Labels: doc-required

#7839 application: serial_lte_modem: Adjust GPIO behaviors
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/src/main.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#7986 doc: update nRF9160 user guide with VSC and command line instructions
  doc/nrf/includes/cmd_build_and_run.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf9160.rst
  doc/nrf/ug_thingy91.rst
Labels: doc-required

#8042 application: serial_lte_modem: Change modem Sleep command
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_commands.c
Labels: doc-required, changelog-entry-required

#7991 samples: nrf9160: MMSS: Use lib_modem_antenna
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/Kconfig
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.c
Labels: doc-required

#8006 applications: nrf_desktop: Stop and block scanning in power down mode
  applications/nrf_desktop/doc/ble_scan.rst
  applications/nrf_desktop/src/modules/Kconfig.ble
  applications/nrf_desktop/src/modules/ble_scan.c
Labels: doc-required, changelog-entry-required

#8067 doc: Known issue for Zephyr SDK 0.14.2 with TF-M
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#8077 samples: nrf9160: modem_shell: stored commands could be set to be run after a startup
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/CMakeLists.txt
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/src/link/link_shell_pdn.c
  samples/nrf9160/modem_shell/src/main.c
  samples/nrf9160/modem_shell/src/startup_cmd/CMakeLists.txt
  samples/nrf9160/modem_shell/src/startup_cmd/startup_cmd_ctrl.c
  samples/nrf9160/modem_shell/src/startup_cmd/startup_cmd_ctrl.h
  samples/nrf9160/modem_shell/src/startup_cmd/startup_cmd_settings.c
  samples/nrf9160/modem_shell/src/startup_cmd/startup_cmd_settings.h
  samples/nrf9160/modem_shell/src/startup_cmd/startup_cmd_shell.c
Labels: doc-required
