Repository nrfconnect/sdk-nrf, pull requests merged in 2022-08, with the labels that each got.

#8267 applications: nrf5340_audio: change SDMMC_OVER_SPI to SPI_SDHC
  applications/nrf5340_audio/prj.conf
  applications/nrf5340_audio/src/modules/sd_card.c
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_common.dts
Labels: changelog-entry-required

#8263 manifest: update zephyr
  CODEOWNERS
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#8147 applications: asset_tracker_v2: Decouple nRF Cloud from the JSON common API
  applications/asset_tracker_v2/src/cloud/cloud_codec/CMakeLists.txt
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/json_protocol_names_nrf_cloud.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
Labels: changelog-entry-required

#8193 Doc: Known issues: Mesh device fails IV update
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#8224 applications: asset_tracker_v2: don't abort config on invalid entry
  applications/asset_tracker_v2/src/modules/data_module.c
Labels: changelog-entry-required

#8151 doc: nrf5340_audio: Change documentation to fit BAP implementation
  applications/nrf5340_audio/README.rst
  doc/nrf/links.txt
Labels: doc-required, changelog-entry-required

#8294 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#8258 lib: st23r3911b: use gpio-dt-spec
  lib/st25r3911b/st25r3911b_common.c
  lib/st25r3911b/st25r3911b_interrupt.c
  samples/bluetooth/central_nfc_pairing/nrf52833dk_nrf52833.overlay
  samples/bluetooth/central_nfc_pairing/nrf52840dk_nrf52840.overlay
  samples/bluetooth/central_nfc_pairing/nrf52dk_nrf52832.overlay
  samples/bluetooth/central_nfc_pairing/nrf5340dk_nrf5340_cpuapp.overlay
  samples/nfc/tag_reader/nrf52833dk_nrf52833.overlay
  samples/nfc/tag_reader/nrf52840dk_nrf52840.overlay
  samples/nfc/tag_reader/nrf52dk_nrf52832.overlay
  samples/nfc/tag_reader/nrf5340dk_nrf5340_cpuapp.overlay
  samples/nfc/tnep_poller/nrf52833dk_nrf52833.overlay
  samples/nfc/tnep_poller/nrf52840dk_nrf52840.overlay
  samples/nfc/tnep_poller/nrf52dk_nrf52832.overlay
  samples/nfc/tnep_poller/nrf5340dk_nrf5340_cpuapp.overlay
Labels: changelog-entry-required

#8293 manifest: Update sdk-zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#8299 caf: ble_adv: Fix filter accept list issues
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/prj.conf
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/prj_release.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_keyboard.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_mcuboot_qspi.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_release.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_wwcb.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_release.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/prj.conf
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/prj_release.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_release.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_shell.conf
  applications/nrf_desktop/doc/ble_adv.rst
  doc/nrf/libraries/caf/ble_adv.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/caf/modules/Kconfig.ble_adv
  subsys/caf/modules/ble_adv.c
Labels: doc-required

#8311 application: serial_lte_modem: BUG-FIX gnss JSON encoding
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: changelog-entry-required

#8312 ci: Fix Software maturity dependencies
  doc/_scripts/software_maturity/requirements.txt
Labels: doc-required, changelog-entry-required

#7676 bluetooth: mesh: align sensor/column reporting
  doc/nrf/libraries/bluetooth_services/mesh/sensor.rst
  include/bluetooth/mesh/sensor.h
  include/bluetooth/mesh/sensor_cli.h
  include/bluetooth/mesh/sensor_types.h
  samples/bluetooth/mesh/sensor_server/src/model_handler.c
  subsys/bluetooth/mesh/sensor.c
  subsys/bluetooth/mesh/sensor.h
  subsys/bluetooth/mesh/sensor_cli.c
  subsys/bluetooth/mesh/sensor_srv.c
  subsys/bluetooth/mesh/sensor_types.c
Labels: doc-required, changelog-entry-required

#8313 samples: nrf9160: lwm2m_client: Allow build without FW update
  samples/nrf9160/lwm2m_client/src/main.c
Labels: changelog-entry-required

#8316 applications: nrf5340_audio: Clean up audio_channel enum
  applications/nrf5340_audio/src/audio/sw_codec_select.c
  applications/nrf5340_audio/src/audio/sw_codec_select.h
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  applications/nrf5340_audio/src/main.c
  applications/nrf5340_audio/src/utils/channel_assignment.c
  applications/nrf5340_audio/src/utils/channel_assignment.h
  applications/nrf5340_audio/src/utils/fw_info_app.c.in
  applications/nrf5340_audio/src/utils/pcm_stream_channel_modifier.c
  applications/nrf5340_audio/src/utils/pcm_stream_channel_modifier.h
Labels: changelog-entry-required

#8296 tree: Remove CI checks on nrf51 boards
  samples/bluetooth/central_bas/sample.yaml
  samples/bluetooth/central_hids/sample.yaml
  samples/bluetooth/central_smp_client/sample.yaml
  samples/bluetooth/central_uart/sample.yaml
  samples/bluetooth/enocean/sample.yaml
  samples/bluetooth/peripheral_gatt_dm/sample.yaml
  samples/bluetooth/peripheral_hids_mouse/sample.yaml
  samples/bluetooth/peripheral_lbs/sample.yaml
  samples/bluetooth/peripheral_uart/sample.yaml
  samples/bluetooth/shell_bt_nus/sample.yaml
  samples/bootloader/sample.yaml
  samples/esb/prx/sample.yaml
  samples/esb/ptx/sample.yaml
  tests/drivers/fprotect/negative/testcase.yaml
  tests/drivers/fprotect/positive/testcase.yaml
  tests/drivers/nrfx_integration_test/testcase.yaml
  tests/modules/mcuboot/direct_xip/testcase.yaml
  tests/subsys/app_event_manager/testcase.yaml
  tests/subsys/bluetooth/fast_pair/crypto/testcase.yaml
  tests/subsys/bluetooth/fast_pair/storage/testcase.yaml
  tests/subsys/bootloader/bl_crypto/testcase.yaml
  tests/subsys/bootloader/bl_validation/testcase.yaml
  tests/subsys/caf/sensor_data_aggregator/testcase.yaml
  tests/subsys/dfu/dfu_target/mcuboot/testcase.yaml
  tests/subsys/dfu/dfu_target_mcuboot/testcase.yaml
  tests/subsys/fw_info/testcase.yaml
  tests/subsys/nrf_profiler/testcase.yaml
Labels: DNM, changelog-entry-required

#8314 manifest: update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#8221 doc: add HomeKit software maturity table
  doc/nrf/software_maturity.rst
Labels: doc-required

#8162 manifest: Add mbedtls with CID fix
  west.yml
Labels: manifest, manifest-mbedtls-nrf, changelog-entry-required

#8298 manifest: nrfxlib update with openthread changes
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#8320 samples: zigbee: Cleanup NCP sample
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/ncp/boards/nrf21540dk_nrf52840_usb.overlay
  samples/zigbee/ncp/boards/nrf52833dk_nrf52833_usb.overlay
  samples/zigbee/ncp/boards/nrf52840dk_nrf52840_usb.overlay
  samples/zigbee/ncp/boards/nrf5340dk_nrf5340_cpuapp_usb.overlay
  samples/zigbee/ncp/prj_usb.conf
Labels: doc-required

#8234 samples: nrf9160: lwm2m_client: Generate timestamp for location
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_location.c
Labels: doc-required

#8326 samples: lwm2m_client: Updated Cell and AGPS location overlays
  samples/nrf9160/lwm2m_client/overlay-assist-agps.conf
  samples/nrf9160/lwm2m_client/overlay-assist-cell.conf
Labels: changelog-entry-required

#8209 manifest: nrf_modem: v2.1.0
  applications/serial_lte_modem/prj.conf
  doc/nrf/known_issues.rst
  doc/nrf/libraries/bin/lwm2m_carrier/CHANGELOG.rst
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  doc/nrf/releases/release-notes-changelog.rst
  ext/curl/tool/tool_getparam.c
  ext/curl/tool/tool_help.c
  ext/curl/tool/tool_main.c
  ext/curl/tool/tool_operate.c
  ext/iperf3/iperf.h
  ext/iperf3/iperf_api.c
  ext/iperf3/iperf_locale.c
  include/modem/nrf_modem_lib.h
  include/modem/nrf_modem_lib_trace.h
  include/modem/trace_backend.h
  lib/at_sms_cert/at_sms_cert.c
  lib/bin/lwm2m_carrier/include/lwm2m_os.h
  lib/bin/lwm2m_carrier/lib/cortex-m33/hard-float/liblwm2m_carrier.a
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  lib/nrf_modem_lib/CMakeLists.txt
  lib/nrf_modem_lib/Kconfig.modemlib
  lib/nrf_modem_lib/fault.c
  lib/nrf_modem_lib/nrf91_sockets.c
  lib/nrf_modem_lib/nrf_modem_lib.c
  lib/nrf_modem_lib/nrf_modem_lib_trace.c
  lib/nrf_modem_lib/nrf_modem_lib_trace_sync.c
  lib/nrf_modem_lib/nrf_modem_os.c
  lib/nrf_modem_lib/trace_backends/Kconfig
  lib/nrf_modem_lib/trace_backends/rtt/rtt.c
  lib/nrf_modem_lib/trace_backends/uart/CMakeLists.txt
  lib/nrf_modem_lib/trace_backends/uart/Kconfig
  lib/nrf_modem_lib/trace_backends/uart/uart.c
  lib/nrf_modem_lib/trace_backends/uart/uart_sync.c
  samples/nrf9160/coap_client/prj.conf
  samples/nrf9160/lte_ble_gateway/prj.conf
  samples/nrf9160/modem_shell/overlay-bt.conf
  samples/nrf9160/modem_shell/overlay-ppp.conf
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_trace_backend/CMakeLists.txt
  samples/nrf9160/modem_trace_backend/Kconfig.trace_print_stats
  samples/nrf9160/modem_trace_backend/prj.conf
  samples/nrf9160/modem_trace_backend/src/trace_print_stats.c
  tests/lib/nrf_modem_lib/nrf_modem_lib_trace/CMakeLists.txt
  tests/lib/nrf_modem_lib/nrf_modem_lib_trace/Kconfig
  tests/lib/nrf_modem_lib/nrf_modem_lib_trace/prj.conf
  tests/lib/nrf_modem_lib/nrf_modem_lib_trace/src/main.c
  tests/lib/nrf_modem_lib/trace_backends/rtt/prj.conf
  tests/lib/nrf_modem_lib/trace_backends/rtt/src/main.c
  tests/lib/nrf_modem_lib/trace_backends/uart/prj.conf
  tests/lib/nrf_modem_lib/trace_backends/uart/src/main.c
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib

#8336 tests: Fix nrf91 name
  tests/subsys/nrf_profiler/testcase.yaml
Labels: changelog-entry-required

#8118 SoftDevice Controller: Use default TX power level set by kconfigs
  doc/nrf/releases/release-notes-changelog.rst
  subsys/bluetooth/controller/hci_driver.c
  subsys/bluetooth/controller/radio_nrf5_txp.h
Labels: doc-required

#7892 tfm: Add configuration for reset of nRF peripherals on boot
  doc/nrf/includes/tfm_spm_thingy91.txt
  modules/tfm/zephyr/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
  west.yml
Labels: doc-required, manifest, manifest-trusted-firmware-m, changelog-entry-required

#8332 manifest: Update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib

#7877 doc: asset_tracker_v2: update event log strings
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
Labels: doc-required, changelog-entry-required

#8342 samples: matter: remove test mode
  doc/nrf/shortcuts.txt
  samples/matter/common/src/thread_util.cpp
  samples/matter/common/src/thread_util.h
  samples/matter/light_bulb/README.rst
  samples/matter/light_bulb/prj.conf
  samples/matter/light_bulb/prj_no_dfu.conf
  samples/matter/light_bulb/prj_release.conf
  samples/matter/light_bulb/src/app_event.h
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_bulb/src/app_task.h
  samples/matter/lock/README.rst
  samples/matter/lock/prj.conf
  samples/matter/lock/prj_no_dfu.conf
  samples/matter/lock/prj_release.conf
  samples/matter/lock/src/app_event.h
  samples/matter/lock/src/app_task.cpp
  samples/matter/lock/src/app_task.h
  samples/matter/template/prj.conf
  samples/matter/template/prj_no_dfu.conf
  samples/matter/template/prj_release.conf
Labels: doc-required

#8251 samples: nrf9160: MMSS: Add LED indication
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/CMakeLists.txt
  samples/nrf9160/nrf_cloud_mqtt_multi_service/Kconfig
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/prj.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/application.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/application.h
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.h
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/led_control.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/led_control.h
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/main.c
Labels: doc-required

#8353 manifest: nrf_modem v2.1.1
  west.yml
Labels: manifest, manifest-nrfxlib

#8368 doc: scripts: merge Kconfig search database
  doc/_scripts/merge_search_indexes.py
Labels: doc-required, changelog-entry-required

#8343 doc: Minor document fixes
  applications/nrf_desktop/doc/battery_charger.rst
  doc/nrf/libraries/modem/pdn.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_zigbee_commissioning.rst
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib

#8303 applications: nrf5340_audio: Add DFU support to BAP
  applications/nrf5340_audio/CMakeLists.txt
  applications/nrf5340_audio/Kconfig
  applications/nrf5340_audio/Kconfig.defaults
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/child_image/hci_rpmsg.conf
  applications/nrf5340_audio/dfu/bin/ble5-ctr-rpmsg_shifted.hex
  applications/nrf5340_audio/dfu/bin/ble5-ctr-rpmsg_shifted_min.hex
  applications/nrf5340_audio/dfu/bin/manifest.yaml
  applications/nrf5340_audio/dfu/conf/Kconfig.dfu
  applications/nrf5340_audio/dfu/conf/b0n.conf
  applications/nrf5340_audio/dfu/conf/overlay-dfu_external_flash.overlay
  applications/nrf5340_audio/dfu/conf/overlay-mcuboot.conf
  applications/nrf5340_audio/dfu/conf/overlay-mcuboot_external_flash.conf
  applications/nrf5340_audio/dfu/conf/pm_dfu_external_flash.yml
  applications/nrf5340_audio/dfu/conf/pm_dfu_external_flash_2MB.yml
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/main.c
  applications/nrf5340_audio/tools/buildprog/buildprog.py
  applications/nrf5340_audio/tools/buildprog/fw_info_data.py
  applications/nrf5340_audio/tools/buildprog/pcft_sign.py
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required

#8370 lib: nrf_cloud: Clean up POSIX socket includes
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: changelog-entry-required

#8372 doc: update google analytics code
  doc/_static/js/ga-tracker.js
  doc/_utils/utils.py
Labels: doc-required, CI-disable, changelog-entry-required

#8373 doc: apply correct screenshot
  doc/nrf/ug_nrf9160.rst
Labels: doc-required

#8355 treewide: Clean up RSRP and RSRQ conversions
  applications/asset_tracker_v2/src/modules/modem_module.c
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/modem_info.h
  lib/modem_info/modem_info.c
  lib/multicell_location/services/here_integration.c
  lib/multicell_location/services/polte_integration.c
  samples/nrf9160/at_monitor/src/main.c
  samples/nrf9160/modem_shell/src/link/link.c
  samples/nrf9160/modem_shell/src/link/link_api.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_connmon.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/neighbour_cell_info.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
Labels: doc-required

#8331 Bluetooth: Mesh: Added usage of EMDS for RPL data.
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/mesh/light_ctrl/README.rst
  samples/bluetooth/mesh/light_ctrl/overlay-emds.conf
  samples/bluetooth/mesh/light_ctrl/sample.yaml
  samples/bluetooth/mesh/light_ctrl/src/main.c
  samples/bluetooth/mesh/light_ctrl/src/model_handler.c
  subsys/bluetooth/mesh/CMakeLists.txt
  subsys/bluetooth/mesh/Kconfig
  subsys/bluetooth/mesh/Kconfig.rpl
  subsys/bluetooth/mesh/rpl.c
Labels: doc-required

#8361 subsys: event_manager_proxy: Enforce 4 bytes for enum
  subsys/event_manager_proxy/event_manager_proxy.c
Labels: changelog-entry-required

#8279 doc: more fixes to tool name formatting
  doc/nrf/doc_build_process.rst
  samples/nrf5340/netboot/README.rst
  scripts/west_commands/sbom/README.rst
Labels: doc-required, CI-disable

#8381 hostap: pull code size optimization
  samples/wifi/shell/prj.conf
  west.yml
Labels: manifest, manifest-sdk-hostap

#7161 cmake: moving mcuboot image sign warning to the proper block
  modules/mcuboot/CMakeLists.txt
Labels: CI-trusted-author, external

#8379 samples: nrf9160: modem_shell: location: using nrf cloud lib for gnss fix data encoding
  samples/nrf9160/modem_shell/src/location/location_cmd_utils.c
  samples/nrf9160/modem_shell/src/location/location_cmd_utils.h
  samples/nrf9160/modem_shell/src/location/location_shell.c
Labels: changelog-entry-required

#8349 applications: nrf5340_audio: Reduce print level for sdu_ref
  applications/nrf5340_audio/src/audio/audio_datapath.c
Labels: changelog-entry-required

#8340 samples: radio_test: Align with pinctrl
  doc/nrf/known_issues.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/peripheral/radio_test/boards/nrf5340dk_nrf5340_cpunet.overlay
Labels: doc-required

#8383 doc: fix links to NFC specifications
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#8391 lib: nrf_modem: nrf91_sockets: hotfix and cleanup
  lib/nrf_modem_lib/nrf91_sockets.c
Labels: Hotfix, changelog-entry-required

#8396 doc: extend Thread CLI sample with SRP information
  doc/nrf/releases/release-notes-changelog.rst
  samples/openthread/cli/README.rst
Labels: doc-required, CI-disable

#8362 applications: nrf5340_audio: Implement play/pause for BIS
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3287.hex
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3296.hex
  applications/nrf5340_audio/bin/manifest.yaml
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
Labels: changelog-entry-required

#8366 applications: nrf5340_audio: Remove unnecessary logging
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/bluetooth/Kconfig
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
Labels: changelog-entry-required

#8385 applications: asset_tracker_v2: Disable LwM2M bootstrap option
  applications/asset_tracker_v2/doc/cloud_module.rst
  applications/asset_tracker_v2/overlay-lwm2m.conf
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8378 manifest: update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#8318 doc: Add a note to the SIM activation instructions
  doc/nrf/images/nrfcloud_add_lte_device.png
  doc/nrf/ug_nrf9160_gs.rst
  doc/nrf/ug_thingy91_gsg.rst
Labels: doc-required

#8377 applications: nrf5340_audio: Add button check to enter DFU
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/dfu/conf/Kconfig.dfu
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  applications/nrf5340_audio/src/main.c
  applications/nrf5340_audio/src/modules/CMakeLists.txt
  applications/nrf5340_audio/src/modules/dfu_entry.c
  applications/nrf5340_audio/src/modules/dfu_entry.h
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8389 samples: matter: Added support for WiFi in lock sample
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/samples/samples_matter.rst
  samples/matter/common/src/board_util.h
  samples/matter/light_bulb/README.rst
  samples/matter/light_switch/README.rst
  samples/matter/lock/CMakeLists.txt
  samples/matter/lock/Kconfig
  samples/matter/lock/README.rst
  samples/matter/lock/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/lock/prj.conf
  samples/matter/lock/prj_no_dfu.conf
  samples/matter/lock/prj_release.conf
  samples/matter/lock/sample.yaml
  samples/matter/lock/src/app_event.h
  samples/matter/lock/src/app_task.cpp
  samples/matter/lock/src/app_task.h
  samples/matter/template/README.rst
  samples/matter/window_covering/README.rst
  west.yml
Labels: doc-required, manifest, manifest-matter

#8399 bluetooth: controller: increase RX stack size when SMP is enabled
  doc/nrf/known_issues.rst
  subsys/bluetooth/controller/Kconfig
Labels: doc-required, changelog-entry-required

#7866 samples: caf_sensor_manager: Align configuration options
  samples/caf_sensor_manager/Kconfig
  samples/caf_sensor_manager/aci/CMakeLists.txt
  samples/caf_sensor_manager/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/caf_sensor_manager/boards/nrf5340dk_nrf5340_cpuapp_nrf5340_singlecore.conf
Labels: changelog-entry-required

#7837 ci: Add Zephyr LWM2M test spec
  .github/test-spec.yml
Labels: changelog-entry-required

#8346 bluetooth: nus: Add option for NUS authentication
  subsys/bluetooth/services/Kconfig.nus
  subsys/bluetooth/services/nus.c
Labels: CI-trusted-author, external

#8344 applications: nrf5340_audio: Bugfix Buildprog
  applications/nrf5340_audio/tools/buildprog/program.py
Labels: changelog-entry-required

#8403 samples: nrf9160: modem_shell: add MQTT support for A-GPS and P-GPS
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/overlay-cloud_mqtt.conf
  samples/nrf9160/modem_shell/overlay-pgps.conf
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/sample.yaml
  samples/nrf9160/modem_shell/src/cloud/cloud_mqtt_shell.c
  samples/nrf9160/modem_shell/src/gnss/gnss.c
Labels: doc-required

#8260 lib: at_host: use ncs,at-host-uart
  doc/nrf/libraries/modem/at_host.rst
  lib/at_host/Kconfig
  lib/at_host/at_host.c
Labels: doc-required, changelog-entry-required

#6989 dfu: pcd: Configure network core to non-secure when done
  subsys/pcd/src/pcd.c
Labels: bug

#8392 samples: bluetooth: hr_coded: Redesign samples
  samples/bluetooth/central_hr_coded/CMakeLists.txt
  samples/bluetooth/central_hr_coded/prj.conf
  samples/bluetooth/central_hr_coded/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/bluetooth/central_hr_coded/src/main.c
  samples/bluetooth/peripheral_hr_coded/CMakeLists.txt
  samples/bluetooth/peripheral_hr_coded/README.rst
  samples/bluetooth/peripheral_hr_coded/prj.conf
  samples/bluetooth/peripheral_hr_coded/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_hr_coded/src/main.c
Labels: doc-required

#8400 Bluetooth: Mesh: Model: Fix last temp storage
  include/bluetooth/mesh/light_temp_srv.h
  subsys/bluetooth/mesh/light_temp_srv.c
Labels: changelog-entry-required

#8269 boards: arm: thingy91_nrf9160: Change pwmleds frequency
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_common.dts
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8411 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154

#8419 matter: pull SoftwareUpdateComleted boot reason fix
  doc/nrf/links.txt
  west.yml
Labels: doc-required, manifest, manifest-matter, changelog-entry-required

#8452 samples: nrf9160: modem_shell: uart: updates due to recent modem tracing changes
  samples/nrf9160/modem_shell/src/uart/uart_shell.c
Labels: changelog-entry-required

#8433 samples: nrf9160: modem_shell: fix print cloud functionality
  samples/nrf9160/modem_shell/src/utils/mosh_print.c
Labels: changelog-entry-required

#8432 samples: nrf9160: modem_shell: Auto enable modem sleep notifications
  samples/nrf9160/modem_shell/src/link/link.c
  samples/nrf9160/modem_shell/src/link/link_shell.c
  samples/nrf9160/modem_shell/src/uart/uart_shell.c
Labels: changelog-entry-required

#8434 samples: nrf9160: modem_shell: inject A-GPS data from command line
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/gnss/gnss_shell.c
Labels: changelog-entry-required

#8371 doc improvement: formatting of UI elements
  applications/machine_learning/README.rst
  applications/matter_weather_station/README.rst
  doc/nrf/app_power_opt.rst
  doc/nrf/doc_structure.rst
  doc/nrf/doc_styleguide.rst
  doc/nrf/gs_assistant.rst
  doc/nrf/gs_modifying.rst
  doc/nrf/gs_testing.rst
  doc/nrf/gs_updating.rst
  doc/nrf/known_issues.rst
  doc/nrf/libraries/networking/aws_iot.rst
  doc/nrf/libraries/networking/azure_iot_hub.rst
  doc/nrf/libraries/shell/shell_bt_nus.rst
  doc/nrf/ug_bt_fast_pair.rst
  doc/nrf/ug_bt_mesh_model_config_app.rst
  doc/nrf/ug_edge_impulse.rst
  doc/nrf/ug_nrf9160.rst
  doc/nrf/ug_nrf9160_gs.rst
  doc/nrf/ug_radio_fem.rst
  doc/nrf/ug_thingy53_gs.rst
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_thingy91_gsg.rst
  doc/nrf/ug_thread_certification.rst
  doc/nrf/ug_zigbee_configuring_zboss_traces.rst
  doc/nrf/ug_zigbee_qsg.rst
  samples/bluetooth/central_and_peripheral_hr/README.rst
  samples/bluetooth/central_bas/README.rst
  samples/bluetooth/central_hids/README.rst
  samples/bluetooth/direct_test_mode/README.rst
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/README.rst
  samples/bluetooth/mesh/chat/sample_description.rst
  samples/bluetooth/mesh/light/README.rst
  samples/bluetooth/mesh/light_ctrl/README.rst
  samples/bluetooth/mesh/light_switch/README.rst
  samples/bluetooth/mesh/sensor_client/README.rst
  samples/bluetooth/mesh/sensor_server/README.rst
  samples/bluetooth/mesh/silvair_enocean/README.rst
  samples/bluetooth/peripheral_ams_client/README.rst
  samples/bluetooth/peripheral_ancs_client/README.rst
  samples/bluetooth/peripheral_bms/README.rst
  samples/bluetooth/peripheral_cts_client/README.rst
  samples/bluetooth/peripheral_fast_pair/README.rst
  samples/bluetooth/peripheral_hids_keyboard/README.rst
  samples/bluetooth/peripheral_hids_mouse/README.rst
  samples/bluetooth/peripheral_lbs/README.rst
  samples/bluetooth/peripheral_rscs/README.rst
  samples/edge_impulse/data_forwarder/README.rst
  samples/edge_impulse/wrapper/README.rst
  samples/nrf9160/aws_fota/README.rst
  samples/nrf9160/azure_fota/README.rst
  samples/nrf9160/azure_iot_hub/README.rst
  samples/nrf9160/http_update/application_update/README.rst
  samples/nrf9160/lte_ble_gateway/README.rst
  samples/nrf9160/lwm2m_client/sample_description.rst
  samples/nrf9160/modem_shell/README.rst
  samples/zigbee/light_switch/README.rst
  scripts/shell/ble_console/README.rst
Labels: doc-required, CI-disable

#8447 applications: nrf_desktop: Inform about Swift Pair in doc
  applications/nrf_desktop/README.rst
  doc/nrf/links.txt
Labels: doc-required

#8462 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#8426 samples: matter: Added support for Wi-Fi in light-switch sample
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/samples/samples_matter.rst
  samples/matter/light_switch/CMakeLists.txt
  samples/matter/light_switch/Kconfig
  samples/matter/light_switch/README.rst
  samples/matter/light_switch/boards/nrf21540dk_nrf52840.overlay
  samples/matter/light_switch/boards/nrf52840dk_nrf52840.overlay
  samples/matter/light_switch/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/light_switch/prj.conf
  samples/matter/light_switch/prj_no_dfu.conf
  samples/matter/light_switch/prj_release.conf
  samples/matter/light_switch/sample.yaml
  samples/matter/light_switch/src/app_config.h
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/light_switch/src/light_switch.matter
  samples/matter/light_switch/src/light_switch.zap
  samples/matter/light_switch/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/light_switch/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/light_switch/src/zap-generated/af-gen-event.h
  samples/matter/light_switch/src/zap-generated/callback-stub.cpp
  samples/matter/light_switch/src/zap-generated/endpoint_config.h
  samples/matter/light_switch/src/zap-generated/gen_config.h
  samples/matter/lock/src/lock.matter
  samples/matter/lock/src/lock.zap
  samples/matter/lock/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/lock/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/lock/src/zap-generated/callback-stub.cpp
  samples/matter/lock/src/zap-generated/endpoint_config.h
  samples/matter/lock/src/zap-generated/gen_config.h
Labels: doc-required

#8429 net: lib: nrf_cloud: fix nrf_cloud_client_id_get for MQTT and REST
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/src/nrf_cloud_client_id.c
Labels: doc-required

#8460 applications: nrf5340_audio: Fix PACS sampling rate and location issue
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
Labels: changelog-entry-required

#8440 Bluetooth: Mesh: Invalidate scene when state changed by state machine
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: changelog-entry-required

#8423 tfm: Fix spelling mistake in kconfig help text for TFM_BOARD
  modules/tfm/zephyr/Kconfig
Labels: changelog-entry-required

#8402 applications: nrf5340_audio: Fix wrong description in README and Kconfig
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/src/bluetooth/Kconfig
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
Labels: doc-required, changelog-entry-required

#8199 lte_lc: Implement support for AT%REDMOB
  include/modem/lte_lc.h
  lib/lte_link_control/lte_lc.c
  samples/nrf9160/modem_shell/src/link/link.h
  samples/nrf9160/modem_shell/src/link/link_shell.c
  samples/nrf9160/modem_shell/src/link/link_shell_print.c
  samples/nrf9160/modem_shell/src/link/link_shell_print.h
Labels: changelog-entry-required

#8220 net: lib: azure_iot_hub: Rework and integrate Azure SDK for C
  applications/asset_tracker_v2/overlay-azure.conf
  applications/asset_tracker_v2/prj_qemu_x86.conf
  applications/asset_tracker_v2/src/cloud/azure_iot_hub_integration.c
  doc/nrf/libraries/networking/azure_iot_hub.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  include/net/azure_iot_hub.h
  include/net/azure_iot_hub_dps.h
  modules/azure-sdk-for-c/CMakeLists.txt
  modules/azure-sdk-for-c/Kconfig
  modules/modules.cmake
  samples/nrf9160/azure_fota/README.rst
  samples/nrf9160/azure_fota/src/main.c
  samples/nrf9160/azure_iot_hub/README.rst
  samples/nrf9160/azure_iot_hub/overlay-dps.conf
  samples/nrf9160/azure_iot_hub/prj.conf
  samples/nrf9160/azure_iot_hub/sample.yaml
  samples/nrf9160/azure_iot_hub/src/main.c
  subsys/net/lib/azure_fota/azure_fota.c
  subsys/net/lib/azure_iot_hub/CMakeLists.txt
  subsys/net/lib/azure_iot_hub/Kconfig
  subsys/net/lib/azure_iot_hub/include/azure_iot_hub_dps.h
  subsys/net/lib/azure_iot_hub/include/azure_iot_hub_dps_private.h
  subsys/net/lib/azure_iot_hub/include/azure_iot_hub_mqtt.h
  subsys/net/lib/azure_iot_hub/include/azure_iot_hub_topic.h
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_dps.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_mqtt.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_topic.c
  tests/subsys/net/lib/azure_iot_hub/CMakeLists.txt
  tests/subsys/net/lib/azure_iot_hub/dps/CMakeLists.txt
  tests/subsys/net/lib/azure_iot_hub/dps/boards/qemu_cortex_m3.conf
  tests/subsys/net/lib/azure_iot_hub/dps/prj.conf
  tests/subsys/net/lib/azure_iot_hub/dps/src/azure_iot_hub_dps_test.c
  tests/subsys/net/lib/azure_iot_hub/dps/testcase.yaml
  tests/subsys/net/lib/azure_iot_hub/iot_hub/CMakeLists.txt
  tests/subsys/net/lib/azure_iot_hub/iot_hub/boards/qemu_cortex_m3.conf
  tests/subsys/net/lib/azure_iot_hub/iot_hub/prj.conf
  tests/subsys/net/lib/azure_iot_hub/iot_hub/src/azure_iot_hub_test.c
  tests/subsys/net/lib/azure_iot_hub/iot_hub/testcase.yaml
  tests/subsys/net/lib/azure_iot_hub/mqtt/CMakeLists.txt
  tests/subsys/net/lib/azure_iot_hub/mqtt/boards/qemu_cortex_m3.conf
  tests/subsys/net/lib/azure_iot_hub/mqtt/prj.conf
  tests/subsys/net/lib/azure_iot_hub/mqtt/src/azure_iot_hub_mqtt_test.c
  tests/subsys/net/lib/azure_iot_hub/mqtt/testcase.yaml
  tests/subsys/net/lib/azure_iot_hub/prj.conf
  tests/subsys/net/lib/azure_iot_hub/src/main.c
  tests/subsys/net/lib/azure_iot_hub/testcase.yaml
  west.yml
Labels: doc-required, manifest, manifest-azure-sdk-for-c

#8291 docs: wifi: Update release notes
  doc/nrf/releases/release-notes-changelog.rst
  samples/wifi/shell/README.rst
Labels: doc-required

#8283 Fix bugs found while writing tests for the lte link controller
  lib/lte_link_control/lte_lc.c
Labels: changelog-entry-required

#8448 applications: nrf5340_audio: Remove specific project version
  applications/nrf5340_audio/CMakeLists.txt
  applications/nrf5340_audio/src/utils/fw_info_app.c.in
Labels: changelog-entry-required

#8486 Upgrade junitparser==2.8.0 to fix compliance workflow
  scripts/requirements-fixed.txt
Labels: Hotfix, changelog-entry-required

#8441 samples: matter: Added support for Matter over Wi-Fi in template
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/samples/samples_matter.rst
  samples/matter/template/CMakeLists.txt
  samples/matter/template/Kconfig
  samples/matter/template/README.rst
  samples/matter/template/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/template/prj.conf
  samples/matter/template/prj_no_dfu.conf
  samples/matter/template/prj_release.conf
  samples/matter/template/sample.yaml
  samples/matter/template/src/app_task.cpp
  samples/matter/template/src/template.matter
  samples/matter/template/src/template.zap
  samples/matter/template/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/template/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/template/src/zap-generated/callback-stub.cpp
  samples/matter/template/src/zap-generated/endpoint_config.h
  samples/matter/template/src/zap-generated/gen_config.h
Labels: doc-required

#8133 modules/mcuboot: added CMake for nrf53 hooks inclusion
  modules/CMakeLists.txt
  modules/mcuboot/boot/zephyr/Kconfig
  modules/mcuboot/hooks/CMakeLists.txt
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#8494 applications: asset_tracker_v2: Add more build configurations for lwm2m
  applications/asset_tracker_v2/sample.yaml
Labels: changelog-entry-required

#8491 doc: Update Zigbee memory requirements tables
  doc/nrf/ug_zigbee_memory.rst
Labels: doc-required, changelog-entry-required

#8414 lib: nrf_modem: keep CONFIG_NRF_MODEM_LIB_TRACE_ENABLED as deprecated
  doc/nrf/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/Kconfig.modemlib
Labels: doc-required

#8443 bluetooth: bt_le_adv_prov: Introduce documentation
  doc/nrf/libraries/bluetooth_services/bt_le_adv_prov.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/bt_le_adv_prov.h
Labels: doc-required

#8446 Audio DFU ADV name based on role
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/dfu/conf/Kconfig.dfu
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/modules/dfu_entry.c
  applications/nrf5340_audio/src/utils/channel_assignment.h
  applications/nrf5340_audio/src/utils/fw_info_app.c.in
  applications/nrf5340_audio/tools/buildprog/buildprog.py
  applications/nrf5340_audio/tools/buildprog/pcft_sign.py
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8479 doc improvement: adding new terms to the glossary
  doc/nrf/glossary.rst
Labels: doc-required, CI-disable

#8475 manifest: Update Zephyr revision
  west.yml
Labels: manifest, manifest-zephyr

#8508 doc: Minor fix
  doc/nrf/ug_fw_update.rst
Labels: doc-required, CI-disable

#8504 applications: asset_tracker_v2: Suspend lwm2m socket on RX window close
  applications/asset_tracker_v2/overlay-lwm2m.conf
Labels: changelog-entry-required

#8413 samples: nrf9160: modem_shell: Document improvements
  doc/nrf/links.txt
  samples/nrf9160/modem_shell/README.rst
Labels: doc-required, changelog-entry-required

#8517 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#8505 applications: asset_tracker_v2: Remove disclaimer
  applications/asset_tracker_v2/doc/cloud_wrapper.rst
Labels: doc-required, changelog-entry-required

#8466 bluetooth: fast_pair: Use per-connection authentication cbs
  doc/nrf/libraries/bluetooth_services/services/fast_pair.rst
  subsys/bluetooth/services/fast_pair/fp_auth.c
Labels: doc-required

#8497 net: lib: azure_iot_hub: Use correct type when receiving the device twin
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
Labels: changelog-entry-required

#8388 applications: nrf5340_audio: Implement play/pause for CIS
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#8509 applications: asset_tracker_v2: Remove deprecated Kconfig option
  applications/asset_tracker_v2/src/modules/Kconfig.modem_module
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8404 applications: asset_tracker_v2: tests: Add test for lwm2m integration
  applications/asset_tracker_v2/tests/lwm2m_integration/CMakeLists.txt
  applications/asset_tracker_v2/tests/lwm2m_integration/Kconfig
  applications/asset_tracker_v2/tests/lwm2m_integration/prj.conf
  applications/asset_tracker_v2/tests/lwm2m_integration/src/lwm2m_integration_test.c
  applications/asset_tracker_v2/tests/lwm2m_integration/testcase.yaml
Labels: changelog-entry-required

#8502 doc: mcuboot: Clean up terminology for the 'direct-xip' mode.
  doc/mcuboot/readme-ncs.rst
  doc/nrf/app_bootloaders.rst
Labels: doc-required, changelog-entry-required

#8524 doc: kconfig: fix memfault extended Kconfig path
  doc/kconfig/conf.py
Labels: doc-required, changelog-entry-required

#8500 doc improvement: link and term fixes
  applications/asset_tracker_v2/doc/cloud_wrapper.rst
  samples/nrf9160/nrf_cloud_rest_cell_pos/README.rst
  samples/nrf9160/nrf_cloud_rest_device_message/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#8531 samples: peripheral_fast_pair: Reduce image size
  samples/bluetooth/peripheral_fast_pair/README.rst
Labels: doc-required

#8457 caf: ble_adv: Update advertising data configuration documentation
  applications/machine_learning/README.rst
  applications/nrf_desktop/doc/ble_adv.rst
  doc/nrf/libraries/caf/ble_adv.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8519 doc: nrf5340audio: rephrase codec select section
  applications/nrf5340_audio/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#8484 samples: matter: use common configuration for hci_rpmsg image
  doc/nrf/ug_matter_gs_kconfig.rst
  samples/matter/light_switch/CMakeLists.txt
  samples/matter/light_switch/child_image/hci_rpmsg/prj.conf
  samples/matter/light_switch/child_image/hci_rpmsg/prj_no_dfu.conf
  samples/matter/light_switch/child_image/hci_rpmsg/prj_release.conf
  samples/matter/lock/CMakeLists.txt
  samples/matter/lock/child_image/hci_rpmsg/prj.conf
  samples/matter/lock/child_image/hci_rpmsg/prj_no_dfu.conf
  samples/matter/lock/child_image/hci_rpmsg/prj_release.conf
  samples/matter/template/CMakeLists.txt
  samples/matter/template/child_image/hci_rpmsg/prj.conf
  samples/matter/template/child_image/hci_rpmsg/prj_no_dfu.conf
  samples/matter/template/child_image/hci_rpmsg/prj_release.conf
  west.yml
Labels: doc-required, manifest, manifest-matter

#8472 applications: nrf5340_audio: Improve the compaitability for Android
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
Labels: changelog-entry-required

#8435 samples: nrf9160: modem_shell: Use Zephyr subcommands for link
  samples/nrf9160/modem_shell/src/link/link_shell.c
  samples/nrf9160/modem_shell/src/link/link_shell.h
  samples/nrf9160/modem_shell/src/shell.c
Labels: changelog-entry-required

#8489 samples: nrf9160: memfault: log updates
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/memfault/README.rst
  samples/nrf9160/memfault/prj.conf
Labels: doc-required

#8527 doc: modem_lib: add how to use the uart trace backend on a custom board
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8467 samples: matter: Added support for DFU over Wi-Fi on nRF7002 DK.
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_common-pinctrl.dtsi
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_common.dts
  samples/matter/light_switch/boards/nrf7002dk_nrf5340_cpuapp.overlay
  samples/matter/light_switch/child_image/mcuboot/prj.conf
  samples/matter/light_switch/child_image/mcuboot/prj_release.conf
  samples/matter/light_switch/configuration/nrf7002dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/light_switch/sample.yaml
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/lock/boards/nrf7002dk_nrf5340_cpuapp.overlay
  samples/matter/lock/child_image/mcuboot/prj.conf
  samples/matter/lock/child_image/mcuboot/prj_release.conf
  samples/matter/lock/configuration/nrf7002dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/lock/sample.yaml
  samples/matter/lock/src/app_task.cpp
  samples/matter/template/boards/nrf7002dk_nrf5340_cpuapp.overlay
  samples/matter/template/child_image/mcuboot/prj.conf
  samples/matter/template/child_image/mcuboot/prj_release.conf
  samples/matter/template/configuration/nrf7002dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/template/sample.yaml
  samples/matter/template/src/app_task.cpp
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#8551 doc: sml: added symbol negation
  doc/_scripts/software_maturity/software_maturity_scanner.py
Labels: doc-required, changelog-entry-required

#8523 applications: nrf5340_audio: Update the log level for VCS
  applications/nrf5340_audio/src/bluetooth/ble_audio_services.c
  applications/nrf5340_audio/src/bluetooth/ble_audio_services.h
Labels: changelog-entry-required

#8477 samples: Fix lpuart configuration
  drivers/serial/Kconfig
  samples/peripheral/lpuart/prj.conf
  tests/drivers/lpuart/prj.conf
Labels: changelog-entry-required

#8397 manifest: update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#8526 applications: nrf5340_audio: Update doc regarding bonding
  applications/nrf5340_audio/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#8548 samples: Change samples to sample
  samples/peripheral/lpuart/sample.yaml
Labels: changelog-entry-required

#8555 doc: Add link that documents how `Azure SDK for C` is integrated in NCS
  doc/nrf/libraries/networking/azure_iot_hub.rst
  doc/nrf/links.txt
Labels: CI-disable

#8468 Bluetooth: rpc: fix linker error
  subsys/bluetooth/rpc/host/bt_rpc_gatt_host.c
Labels: bug, changelog-entry-required

#8408 samples: Bluetooth: llpm: Fixing llpm sample on nrf53
  samples/bluetooth/llpm/src/main.c
Labels: changelog-entry-required

#8358 lib: at_shell: fix format of at cmd sent
  lib/at_shell/at_shell.c
Labels: changelog-entry-required

#8547 quarantine_windows: add lwm2m tests
  scripts/quarantine_windows.yaml
Labels: changelog-entry-required

#7824 samples: lwm2m_client Added batch device create from a CSV file.
  samples/nrf9160/lwm2m_client/scripts/coiote.py
Labels: changelog-entry-required

#8535 applications: asset_tracker_v2: Make `DATA_DEVICE_MODE` a choice
  applications/asset_tracker_v2/doc/data_module.rst
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  applications/asset_tracker_v2/src/modules/data_module.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8553 boards: arm: thingy91_nrf9160: Use TF-M as default
  boards/arm/thingy91_nrf9160/Kconfig.defconfig
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8490 manifest: update memfault to 0.33.0
  west.yml
Labels: manifest, manifest-memfault-firmware-sdk

#8545 manifest: updated sdk-connectedhomeip version.
  samples/matter/light_switch/README.rst
Labels: doc-required, manifest-matter, changelog-entry-required

#8541 application: serial_lte_modem: Miscellaneous minor updates
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/main.c
  applications/serial_lte_modem/src/slm_at_socket.c
Labels: doc-required, changelog-entry-required

#8465 lib: nrf_modem: update diagnostic code
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/nrf_modem_lib.h
  lib/nrf_modem_lib/CMakeLists.txt
  lib/nrf_modem_lib/Kconfig.modemlib
  lib/nrf_modem_lib/diag.c
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: doc-required

#8384 doc: add a section about modem traces in the nRF91 user guide
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf91_features.rst
Labels: doc-required

#8300 samples: lwm2m_client: enable TF-M
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/prj.conf
Labels: doc-required

#8137 doc: Add a supported OS section to the Getting Started
  doc/nrf/gs_recommended_versions.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8558 applications: nrf5340_audio: seq_num = 0 on connect in BIS GW
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
Labels: changelog-entry-required

#8561 manifest: Update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#8563 doc: changelog: update doc section for 2.1.0
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#8518 applications: nrf5340_audio: Add DFU testing to doc
  applications/nrf5340_audio/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#8047 samples: Enable FPU in TF-M samples for nRF9160_ns
  samples/crypto/psa_tls/boards/nrf9160dk_nrf9160_ns.conf
  samples/tfm/tfm_hello_world/boards/nrf9160dk_nrf9160_ns.conf
  samples/tfm/tfm_secure_peripheral/boards/nrf9160dk_nrf9160_ns.conf
Labels: changelog-entry-required

#8569 applications: nrf5340_audio: Choose which broadcaster to sync to
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
Labels: changelog-entry-required

#8482 doc: software_maturity: add entries for HomeKit
  doc/_scripts/software_maturity/software_maturity_features.yaml
  west.yml
Labels: manifest, manifest-homekit

#8585 applications: asset_tracker_v2: fix accel attribute setting
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors.c
Labels: Hotfix

#8534 doc: updates on the Senser stub driver
  doc/nrf/drivers/sensor_stub.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/caf_sensor_manager/README.rst
Labels: doc-required
