Repository nrfconnect/sdk-nrf, pull requests merged in 2022-01, with the labels that each got.

#6454 doc: peripheral_hids_keyboard,mouse encryption notice
  doc/nrf/libraries/bluetooth_services/services/hids.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_hids_keyboard/README.rst
  samples/bluetooth/peripheral_hids_mouse/README.rst
Labels: doc-required, CI-disable, CI-ble-test, CI-nfc-test

#6246 softdevice_controller: Fix double negative bug
  subsys/bluetooth/controller/hci_driver.c
Labels: CI-ble-test, CI-zigbee-test, CI-homekit-test, CI-find-my-test

#6243 doc: modem: documents LTE fallback mode
  doc/nrf/libraries/modem/lte_lc.rst
Labels: doc-required, changelog-entry-required

#6025 applications: asset_tracket_v2: Correct config for tests
  applications/asset_tracker_v2/tests/debug_module/boards/nrf9160dk_nrf9160_ns.conf
  applications/asset_tracker_v2/tests/debug_module/boards/qemu_cortex_m3.conf
  applications/asset_tracker_v2/tests/debug_module/prj.conf
  applications/asset_tracker_v2/tests/gps_module/boards/nrf9160dk_nrf9160_ns.conf
  applications/asset_tracker_v2/tests/gps_module/boards/qemu_cortex_m3.conf
  applications/asset_tracker_v2/tests/gps_module/prj.conf
Labels: changelog-entry-required

#5863 samples: nrf9160: aws_fota: shutdown modem when finished
  samples/nrf9160/aws_fota/src/main.c
Labels: CI-boot-dfu-test, CI-libmodem-test

#5992 samples: nrf9160: lte_ble_gateway: Remove busy-wait loop
  samples/nrf9160/lte_ble_gateway/prj.conf
  samples/nrf9160/lte_ble_gateway/src/alarm.c
  samples/nrf9160/lte_ble_gateway/src/alarm.h
  samples/nrf9160/lte_ble_gateway/src/main.c
Labels: CI-libmodem-test, changelog-entry-required

#6468 debug: cpu_load: Fix warning
  subsys/debug/cpu_load/cpu_load.c
Labels: bug

#6269 fprotect: add sys init to protect image
  doc/nrf/releases/release-notes-changelog.rst
  lib/fprotect/CMakeLists.txt
  lib/fprotect/Kconfig
  lib/fprotect/sys_init_fprotect.c
  tests/drivers/fprotect/app/CMakeLists.txt
  tests/drivers/fprotect/app/prj.conf
  tests/drivers/fprotect/app/src/main.c
  tests/drivers/fprotect/app/testcase.yaml
Labels: doc-required

#5906 net: lib: azure_iot_hub: remove ? from sent property bags
  applications/asset_tracker_v2/overlay-azure.conf
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_topic.c
  tests/subsys/net/lib/azure_iot_hub/CMakeLists.txt
  tests/subsys/net/lib/azure_iot_hub/src/main.c
Labels: CI-apps-test

#6453 lib: date_time: refactor NTP server usage
  doc/nrf/libraries/others/date_time.rst
  doc/nrf/releases/release-notes-changelog.rst
  lib/date_time/Kconfig
  lib/date_time/date_time_core.c
  lib/date_time/date_time_ntp.c
Labels: doc-required, CI-thingy91-test

#6283 applications: nrf_desktop: Add option for erasing dongle bond
  applications/nrf_desktop/doc/ble_bond.rst
  applications/nrf_desktop/src/modules/Kconfig.ble
  applications/nrf_desktop/src/modules/ble_bond.c
  doc/nrf/images/nrf_desktop_ble_bond.svg
  doc/nrf/images/nrf_desktop_ble_bond.vsdx
  doc/nrf/images/nrf_desktop_ble_bond_dongle.svg
  doc/nrf/images/nrf_desktop_ble_bond_dongle.vsdx
  doc/nrf/images/nrf_desktop_ble_bond_standby.svg
  doc/nrf/images/nrf_desktop_ble_bond_standby.vsdx
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-desktop-test

#6452 event_manager: Add event sections in the linker script
  applications/asset_tracker_v2/tests/debug_module/src/debug_module_test.c
  applications/asset_tracker_v2/tests/gps_module/src/gps_module_test.c
  doc/nrf/libraries/others/event_manager.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/event_manager.h
  subsys/event_manager/Kconfig
  subsys/event_manager/em.ld
  subsys/event_manager/event_manager.c
  subsys/event_manager/event_manager_priv.h
  subsys/event_manager/event_manager_shell.c
Labels: doc-required, CI-desktop-test, CI-find-my-test

#6472 applications: nrf_desktop: dfu: Config chan backward compatibility
  doc/nrf/releases/release-notes-changelog.rst
  scripts/hid_configurator/NrfHidDevice.py
  scripts/hid_configurator/configurator_cli.py
  scripts/hid_configurator/modules/dfu.py
Labels: CI-desktop-test

#6474 samples: openthread: Bring back messages in zephyr asserts.
  samples/openthread/cli/prj.conf
  samples/openthread/coap_client/prj.conf
  samples/openthread/coap_server/prj.conf
  samples/openthread/coprocessor/prj.conf
Labels: CI-thread-test, changelog-entry-required

#6476 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#6456 zigbee: osif: Fix RSSI to ED formula
  subsys/zigbee/osif/zb_nrf_transceiver.c
Labels: CI-zigbee-test

#6459 manifest: update sdk-zephyr
  west.yml
Labels: manifest, CI-desktop-test, CI-ble-test, manifest-zephyr, CI-homekit-test, CI-mesh-test, CI-apps-test, CI-matter-test, changelog-entry-required, CI-lwm2m-test

#6451 doc: caf: Add description of what KEY_ID is
  applications/nrf_desktop/doc/buttons.rst
  doc/nrf/libraries/caf/buttons.rst
Labels: doc-required, CI-desktop-test

#6450 samples:nrf_cloud_rest_fota: Remove use of at_cmd and at_notif library
  samples/nrf9160/nrf_cloud_rest_fota/src/main.c
Labels: CI-boot-dfu-test

#6478 scripts: unity: Fix whitespace not handled correctly
  doc/nrf/releases/release-notes-changelog.rst
  scripts/unity/func_name_list.py
  scripts/unity/header_prepare.py
Labels: doc-required

#6470 samples: nrf9160: nrf_cloud_rest_fota: Shutdown modem on reboot
  samples/nrf9160/nrf_cloud_rest_fota/src/main.c
Labels: CI-boot-dfu-test

#6469 samples: nrf9160: fmfu_smp_svr: Remove use of deprecated at_cmd library
  samples/nrf9160/fmfu_smp_svr/src/main.c
Labels: CI-boot-dfu-test

#6483 lib: datetime: Remove initial_time_valid variable
  lib/date_time/date_time_core.c
  tests/lib/date_time/src/main.c
Labels: CI-thingy91-test, changelog-entry-required

#6418 samples: nrf9160: full_modem_update: Remove usage of at_cmd lib
  samples/nrf9160/http_update/full_modem_update/src/main.c
Labels: CI-boot-dfu-test, CI-iot-samples-test

#3850 samples: application_update: Add application downgrade.
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/http_update/application_update/Kconfig
  samples/nrf9160/http_update/application_update/README.rst
  samples/nrf9160/http_update/application_update/prj.conf
  samples/nrf9160/http_update/application_update/src/main.c
Labels: doc-required, CI-boot-dfu-test, CI-iot-samples-test

#6462 doc: added mention about experimental Kconfig option enabled by default
  doc/nrf/app_build_system.rst
Labels: doc-required, CI-disable

#6460 Bugfix/slm httpc
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
Labels: changelog-entry-required

#6429 samples: nrf9160: http_update: graceful shutdown of modem fw
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/http_update/application_update/src/main.c
  samples/nrf9160/http_update/common/include/update.h
  samples/nrf9160/http_update/common/src/update.c
  samples/nrf9160/http_update/full_modem_update/src/main.c
  samples/nrf9160/http_update/modem_delta_update/src/main.c
Labels: doc-required, CI-boot-dfu-test, CI-iot-samples-test

#6393 net: lib: download_client: remove impossible case
  subsys/net/lib/download_client/src/download_client.c
Labels: CI-boot-dfu-test, CI-matter-test, CI-iot-samples-test

#6187 caf: led_effect: Expand the blink effect with second off period param…
  applications/machine_learning/configuration/thingy52_nrf52832/led_state_def.h
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/led_state_def.h
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/led_state_def.h
  doc/nrf/releases/release-notes-changelog.rst
  include/caf/led_effect.h
Labels: doc-required, CI-desktop-test

#6055 subsys: dfu_target: use new modem delta dfu interface
  doc/nrf/libraries/dfu/dfu_target.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/dfu/dfu_target/src/dfu_target_modem_delta.c
Labels: doc-required, CI-zigbee-test, CI-boot-dfu-test, CI-find-my-test

#6455 labeler: Add AWS Iot and Azure Iot Hub
  .github/labeler.yml
Labels: changelog-entry-required

#6498 gitlint: Stop ignoring merge, revert, fixup and squash commits
  .gitlint
Labels: changelog-entry-required

#6491 doc: correcting -DCONFIG_OVERLAY to -DOVERLAY_CONFIG
  doc/nrf/libraries/bluetooth_services/rpc.rst
  samples/bluetooth/rpc_host/README.rst
Labels: doc-required, CI-disable, CI-ble-test

#6148 applications: asset_tracker_v2: Update `roam` and `dev` objects
  applications/asset_tracker_v2/Kconfig
  applications/asset_tracker_v2/src/cloud/cloud_codec/aws_iot/json_protocol_names_aws_iot.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/azure_iot_hub/json_protocol_names_azure_iot_hub.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_common.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/json_protocol_names_nrf_cloud.h
  applications/asset_tracker_v2/src/events/modem_module_event.h
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/modem_module.c
  applications/asset_tracker_v2/tests/json_common/src/json_validate.h
  applications/asset_tracker_v2/tests/json_common/src/main.c
Labels: CI-thingy91-test

#6496 applications: asset_tracker_v2: use GPS_MODULE in Kconfig.app_module
  applications/asset_tracker_v2/src/modules/Kconfig.app_module
Labels: CI-apps-test

#6489 applications: asset_tracker_v2: Add support for atmospheric pressure
  applications/asset_tracker_v2/boards/thingy91_nrf9160_ns.overlay
  applications/asset_tracker_v2/doc/sensor_module.rst
  applications/asset_tracker_v2/src/cloud/cloud_codec/aws_iot/json_protocol_names_aws_iot.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/azure_iot_hub/json_protocol_names_azure_iot_hub.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_common.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/json_protocol_names_nrf_cloud.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
  applications/asset_tracker_v2/src/events/sensor_module_event.h
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors.c
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors.h
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/sensor_module.c
  applications/asset_tracker_v2/tests/json_common/src/json_validate.h
  applications/asset_tracker_v2/tests/json_common/src/main.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#6502 mpsl: cx: allow seamless adding of cx implementations
  subsys/mpsl/cx/CMakeLists.txt
  subsys/mpsl/cx/bluetooth/mpsl_cx_1w_bluetooth.c
  subsys/mpsl/cx/bluetooth/mpsl_cx_3w_bluetooth.c
  subsys/mpsl/cx/mpsl_cx.c
  subsys/mpsl/cx/thread/mpsl_cx_thread.c
Labels: CI-ble-test, CI-zigbee-test, CI-thread-test, CI-homekit-test, CI-rs-test, CI-matter-test, changelog-entry-required

#6509 samples: nrf9160: modem_shell: sample.yaml fix
  samples/nrf9160/modem_shell/sample.yaml
Labels: CI-iot-samples-test

#6465 lib: at_host: use nrf_modem_at APIs
  lib/at_host/Kconfig
  lib/at_host/at_host.c
Labels: CI-iot-samples-test

#6508 openthread: samples: Add debug overlay to openthread sample
  samples/openthread/cli/README.rst
  samples/openthread/cli/overlay-debug.conf
  samples/openthread/cli/overlay-rtt.conf
Labels: doc-required, CI-thread-test, changelog-entry-required

#6499 lib: nrf_modem_lib: Increase modem trace max UARTE transfer size
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: CI-lwm2m-test, CI-iot-samples-test

#6503 caf: ble_adv: Fix misspelling in direct advertising
  subsys/caf/modules/ble_adv.c
Labels: CI-desktop-test

#6487 net: lib: lwm2m_client_utils: fixed installing fw once it was aborted
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
Labels: CI-trusted-author, external, CI-matter-test

#6493 Bluetooth: Mesh: Check Property ID is not 0
  subsys/bluetooth/mesh/gen_prop_srv.c
Labels: CI-mesh-test

#6501 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test

#6507 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#6522 applications: asset_tracker_v2: Send memfault data on batch updates
  applications/asset_tracker_v2/src/modules/debug_module.c
Labels: CI-thingy91-test

#6523 Bluetooth: Controller: Define periodic sync buffer count KConfig
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_driver.c
Labels: CI-ble-test, CI-zigbee-test, CI-homekit-test, CI-find-my-test

#6516 samples: Bluetooth: df: Fix to early per sync create timeout
  samples/bluetooth/direction_finding_connectionless_rx/src/main.c
Labels: CI-ble-test

#6519 doc: add VSC instructions for Thread Test Harness integration
  doc/nrf/ug_thread_certification.rst
Labels: doc-required, CI-disable

#6475 manifest: update nrfxlib
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test, changelog-entry-required

#6466 CI-lib PRD changes
  CODEOWNERS
  ci/labeler.yaml
  test-manifests/99-default-test-nrf.yml
  west-test.yml
  west.yml
Labels: manifest, changelog-entry-required

#6546 tests: twister: quarantine: Add quarantine.yaml file
  CODEOWNERS
  scripts/quarantine.yaml
Labels: changelog-entry-required

#6532 doc: update guide on creating Matter accessory
  doc/nrf/ug_matter_creating_accessory.rst
Labels: doc-required, changelog-entry-required

#6494 net: lib: nrf_cloud: update nrf_cloud_rest to use rest_client
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud_rest.h
  lib/location/method_gnss.c
  lib/multicell_location/services/nrf_cloud_integration.c
  samples/nrf9160/gnss/src/assistance.c
  samples/nrf9160/modem_shell/src/gnss/gnss_interface.c
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_rest
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: doc-required, CI-thingy91-test

#6530 openthread: samples: Remove old THCI file.
  doc/nrf/ug_thread_certification.rst
  samples/openthread/cli/harness/nRF_Connect_SDK.py
Labels: doc-required, CI-thread-test, changelog-entry-required

#6515 samples: Bluetooth: df: Fix stack overflow issue
  samples/bluetooth/direction_finding_connectionless_rx/src/main.c
Labels: CI-ble-test, changelog-entry-required

#6531 net: lib: zzhc: use nrf_modem_at APIs
  subsys/net/lib/zzhc/Kconfig
  subsys/net/lib/zzhc/zzhc.c
  subsys/net/lib/zzhc/zzhc_internal.h
  subsys/net/lib/zzhc/zzhc_port.c
Labels: CI-matter-test, changelog-entry-required

#6539 net: lib: nrf_cloud: Remove dependency from `NRF_CLOUD_PGPS`
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_pgps
Labels: CI-thingy91-test, CI-matter-test

#6529 samples: Added grant deny status log in 1wire coex sample
  samples/bluetooth/radio_coex_1wire/src/main.c
Labels: CI-trusted-author, CI-ble-test

#6240 net: lib: download_client: Disable hostname verification on IP addr
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/fota_download/src/fota_download.c
  tests/subsys/net/lib/fota_download/src/main.c
Labels: doc-required, CI-boot-dfu-test, CI-matter-test

#6551 Bluetooth: Controller: HCI event buffer enough for discardable events
  subsys/bluetooth/controller/hci_driver.c
Labels: CI-ble-test, CI-zigbee-test, CI-homekit-test, CI-find-my-test, changelog-entry-required

#6540 zigbee: Change "zboss" to uppercase
  subsys/zigbee/Kconfig
  subsys/zigbee/cli/zigbee_cli_cmd_bdb.c
  subsys/zigbee/osif/zb_nrf_platform.c
Labels: CI-zigbee-test

#6552 Updated mpsl cx cmake file for bug fix
  subsys/mpsl/cx/CMakeLists.txt
Labels: CI-ble-test, CI-zigbee-test, CI-thread-test, CI-homekit-test, CI-rs-test, CI-matter-test

#6571 Bluetooth: Mesh: Add sample proxy device name cfg
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/prj.conf
  samples/bluetooth/mesh/light/prj.conf
  samples/bluetooth/mesh/light_ctrl/prj.conf
  samples/bluetooth/mesh/light_switch/prj.conf
  samples/bluetooth/mesh/sensor_client/prj.conf
  samples/bluetooth/mesh/sensor_server/prj.conf
  samples/bluetooth/mesh/silvair_enocean/prj.conf
Labels: changelog-entry-required

#6576 mpsl: cx: initialize GPIO pin information
  subsys/mpsl/cx/thread/mpsl_cx_thread.c
Labels: CI-ble-test, CI-zigbee-test, CI-thread-test, CI-homekit-test, CI-rs-test, CI-matter-test

#6565 applications: nrf_desktop: Add link to nordicsemi page
  applications/nrf_desktop/README.rst
  doc/nrf/links.txt
Labels: doc-required, CI-desktop-test

#6542 manifest: samples: remove openthread 1.2 overlay from sample and doc
  applications/pelion_client/configuration/nrf52840dk_nrf52840/prj.conf
  doc/nrf/releases/release-notes-1.4.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_configuring.rst
  doc/nrf/ug_thread_supported_features.rst
  doc/nrf/ug_thread_tools.rst
  samples/matter/light_bulb/boards/nrf21540dk_nrf52840.conf
  samples/matter/light_bulb/boards/nrf52840dk_nrf52840.conf
  samples/matter/light_bulb/boards/nrf52840dk_nrf52840_single_image_dfu.conf
  samples/matter/light_switch/boards/nrf21540dk_nrf52840.conf
  samples/matter/light_switch/boards/nrf52840dk_nrf52840.conf
  samples/matter/lock/boards/nrf21540dk_nrf52840.conf
  samples/matter/lock/boards/nrf52840dk_nrf52840.conf
  samples/matter/lock/boards/nrf52840dk_nrf52840_single_image_dfu.conf
  samples/matter/template/boards/nrf21540dk_nrf52840.conf
  samples/matter/template/boards/nrf52840dk_nrf52840.conf
  samples/openthread/cli/README.rst
  samples/openthread/cli/harness/overlay-cert-thread_1_2.conf
  samples/openthread/cli/overlay-thread_1_2.conf
  samples/openthread/cli/sample.yaml
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: doc-required, manifest, CI-thread-test, manifest-nrfxlib, CI-all-test, CI-matter-test

#6573 samples: nrf9160: modem_shell: remove GPS driver support
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/gnss/CMakeLists.txt
  samples/nrf9160/modem_shell/src/gnss/gnss.c
  samples/nrf9160/modem_shell/src/gnss/gnss.h
  samples/nrf9160/modem_shell/src/gnss/gnss_common.c
  samples/nrf9160/modem_shell/src/gnss/gnss_gps_driver.c
  samples/nrf9160/modem_shell/src/link/link_api.c
  samples/nrf9160/modem_shell/src/sms/sms.c
  samples/nrf9160/modem_shell/src/sock/sock.c
Labels: doc-required, CI-iot-samples-test

#6518 applications: serial_lte_modem: fix UART AT command
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_host.c
Labels: doc-required

#6558 caf: ble_adv: Use module-specific option for BLE bond support
  subsys/caf/modules/Kconfig.ble_adv
  subsys/caf/modules/ble_adv.c
Labels: CI-desktop-test

#6420 zigbee: Increase log_strdup() buffers nbr for Zigbee shell sample
  samples/zigbee/shell/prj.conf
Labels: CI-zigbee-test, changelog-entry-required

#6564 manifest: update HomeKit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#6572 applications: machine_learning: Rename ml_state to ml_app_mode
  applications/machine_learning/README.rst
  applications/machine_learning/configuration/nrf52840dk_nrf52840/click_detector_def.h
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj_nus.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj_release.conf
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/click_detector_def.h
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy52_nrf52832/click_detector_def.h
  applications/machine_learning/configuration/thingy52_nrf52832/prj.conf
  applications/machine_learning/configuration/thingy52_nrf52832/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/click_detector_def.h
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/click_detector_def.h
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_rtt.conf
  applications/machine_learning/src/events/CMakeLists.txt
  applications/machine_learning/src/events/Kconfig
  applications/machine_learning/src/events/ml_app_mode_event.c
  applications/machine_learning/src/events/ml_app_mode_event.h
  applications/machine_learning/src/events/ml_state_event.c
  applications/machine_learning/src/events/ml_state_event.h
  applications/machine_learning/src/modules/CMakeLists.txt
  applications/machine_learning/src/modules/Kconfig
  applications/machine_learning/src/modules/Kconfig.led_state
  applications/machine_learning/src/modules/Kconfig.ml_app_mode
  applications/machine_learning/src/modules/ei_data_forwarder_bt_nus.c
  applications/machine_learning/src/modules/ei_data_forwarder_uart.c
  applications/machine_learning/src/modules/led_state.c
  applications/machine_learning/src/modules/ml_app_mode.c
  applications/machine_learning/src/modules/ml_runner.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#6586 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#6553 caf: sensor_manager: Fix wake up event handling
  subsys/caf/modules/sensor_manager.c
Labels: CI-desktop-test

#6567 applications: nrf_desktop: Move Fn key ID related macros
  applications/nrf_desktop/configuration/common/fn_key_id.h
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/hid_keymap_def.h
  applications/nrf_desktop/doc/hid_state.rst
  applications/nrf_desktop/src/modules/fn_keys.c
  doc/nrf/releases/release-notes-changelog.rst
  include/caf/key_id.h
Labels: doc-required, CI-desktop-test

#6578 applications: machine_learning: Add App specific event descr option
  applications/machine_learning/Kconfig
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj_nus.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj_release.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/sensor_manager_def.h
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/sensor_manager_def.h
  applications/machine_learning/configuration/thingy52_nrf52832/prj.conf
  applications/machine_learning/configuration/thingy52_nrf52832/prj_release.conf
  applications/machine_learning/configuration/thingy52_nrf52832/sensor_manager_def.h
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/sensor_manager_def.h
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/sensor_manager_def.h
  applications/machine_learning/src/Kconfig.ml_app
  applications/machine_learning/src/modules/Kconfig.ei_data_forwarder
  applications/machine_learning/src/modules/Kconfig.ml_runner
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#6588 Bluetooth: Controller: Define mem size for periodic adv list
  subsys/bluetooth/controller/hci_driver.c
Labels: CI-ble-test, CI-zigbee-test, CI-homekit-test, CI-find-my-test, changelog-entry-required

#6596 zigbee: osif: Fix checks in NVRAM write routines
  subsys/zigbee/osif/zb_nrf_nvram.c
Labels: CI-zigbee-test, changelog-entry-required

#6562 applications: nrf_desktop: Use app-specific option to enable BLE bond
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/prj.conf
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/prj_release.conf
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/prj.conf
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/prj_release.conf
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/prj_release_mcuboot.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/prj.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/prj_release.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/prj.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/prj_mcuboot.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/prj_release.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/prj_release_mcuboot.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_b0.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_dongle.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_keyboard.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_mcuboot_qspi.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_release.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_release_b0.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_3bleconn.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_4llpmconn.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_b0.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_release.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_release_4llpmconn.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_release_b0.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_b0.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_release.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_release_b0.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/prj.conf
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/prj_release.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_b0.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_release.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_release_b0.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_shell.conf
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/prj_b0.conf
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/prj_release.conf
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/prj_release_b0.conf
  applications/nrf_desktop/doc/ble_bond.rst
  applications/nrf_desktop/src/modules/CMakeLists.txt
  applications/nrf_desktop/src/modules/Kconfig.ble
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-desktop-test

#6592 samples: nrf9160: gnss: add TTFF test mode
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/gnss/Kconfig
  samples/nrf9160/gnss/README.rst
  samples/nrf9160/gnss/src/main.c
Labels: doc-required

#6545 lib: nrf_modem: Clear the address structure on recvfrom
  doc/nrf/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/nrf91_sockets.c
Labels: doc-required, CI-lwm2m-test, CI-iot-samples-test

#6585 lib: at_monitor: remove AT_MONITOR_SYS_INIT
  doc/nrf/libraries/modem/at_monitor.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/at_monitor.h
  lib/at_monitor/Kconfig
  lib/at_monitor/at_monitor.c
  lib/at_shell/at_shell.c
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  lib/date_time/date_time_core.c
  lib/lte_link_control/lte_lc.c
  samples/nrf9160/modem_shell/src/main.c
Labels: doc-required, CI-thingy91-test, CI-boot-dfu-test, CI-lwm2m-test, CI-iot-samples-test, CI-iot-libraries-test

#6598 openthread: Change default openthread security settings for CHIP.
  subsys/net/openthread/Kconfig.defconfig
Labels: CI-thread-test, CI-matter-test

#6597 caf: sensor_manager: Add known issue (NULL dereferencing on wakeup)
  doc/nrf/known_issues.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#6536 event_manager: Add subscribe first to event
  doc/nrf/libraries/others/event_manager.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/event_manager.h
  tests/subsys/event_manager/src/modules/test_subs.c
Labels: doc-required, CI-desktop-test, CI-find-my-test

#6547 Fix function definition regex bug
  scripts/unity/func_name_list.py
  scripts/unity/header_prepare.py
  tests/unity/example_test/src/example_test.c
  tests/unity/example_test/src/foo/foo.c
  tests/unity/example_test/src/foo/foo.h
  tests/unity/example_test/src/foo/foo_internal.h
  tests/unity/example_test/src/uut/uut.c
  tests/unity/wrap_test/CMakeLists.txt
  tests/unity/wrap_test/prj.conf
  tests/unity/wrap_test/src/call/call.c
  tests/unity/wrap_test/src/call/call.h
  tests/unity/wrap_test/src/test_code/.clang-format
  tests/unity/wrap_test/src/test_code/test_code.c
  tests/unity/wrap_test/src/test_code/test_code.h
  tests/unity/wrap_test/src/wrap_test.c
  tests/unity/wrap_test/testcase.yaml
Labels: changelog-entry-required

#6575 mpsl: cx: add generic_3pin cx implementation
  subsys/mpsl/cx/CMakeLists.txt
  subsys/mpsl/cx/Kconfig
  subsys/mpsl/cx/generic_3pin/mpsl_cx_generic_3pin.c
Labels: CI-ble-test, CI-zigbee-test, CI-thread-test, CI-homekit-test, CI-rs-test, CI-matter-test

#6603 Bluetooth: Enocean: Check net buf size adv_recv
  subsys/bluetooth/enocean.c
Labels: CI-desktop-test, CI-ble-test, CI-zigbee-test, CI-homekit-test, CI-find-my-test, changelog-entry-required

#6582 doc: samples: central_and_peripheral_hr: Clarify documentation.
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/central_and_peripheral_hr/README.rst
Labels: doc-required, CI-ble-test

#6607 net: lib: azure_iot_hub: Add warning about risk of reconnections
  doc/nrf/known_issues.rst
  doc/nrf/libraries/networking/azure_iot_hub.rst
Labels: doc-required, CI-disable

#6615 doc: Add known issue for extended scanning
  doc/nrf/known_issues.rst
Labels: doc-required

#6614 samples: nrf9160: gnss: update factory almanac
  samples/nrf9160/gnss/src/factory_almanac.h
  samples/nrf9160/gnss/src/main.c
Labels: CI-iot-samples-test

#6606 manifest: update HomeKit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#6471 modem_trace: Create new module for modem traces
  CODEOWNERS
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/nrf_modem_lib_trace.h
  lib/lte_link_control/lte_lc.c
  lib/nrf_modem_lib/CMakeLists.txt
  lib/nrf_modem_lib/Kconfig
  lib/nrf_modem_lib/Kconfig.modemlib
  lib/nrf_modem_lib/nrf_modem_lib_trace.c
  lib/nrf_modem_lib/nrf_modem_os.c
  tests/lib/modem_trace/modem_trace_rtt/CMakeLists.txt
  tests/lib/modem_trace/modem_trace_rtt/Kconfig
  tests/lib/modem_trace/modem_trace_rtt/prj.conf
  tests/lib/modem_trace/modem_trace_rtt/src/modem_trace_test.c
  tests/lib/modem_trace/modem_trace_rtt/testcase.yaml
  tests/lib/modem_trace/modem_trace_uart/CMakeLists.txt
  tests/lib/modem_trace/modem_trace_uart/Kconfig
  tests/lib/modem_trace/modem_trace_uart/boards/qemu_cortex_m3.overlay
  tests/lib/modem_trace/modem_trace_uart/prj.conf
  tests/lib/modem_trace/modem_trace_uart/src/modem_trace_test.c
  tests/lib/modem_trace/modem_trace_uart/testcase.yaml
Labels: doc-required, CI-boot-dfu-test, CI-lwm2m-test, CI-iot-samples-test, CI-iot-libraries-test

#6495 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test

#6541 lib: lte_link_control: Split ANY at_monitor
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc_helpers.c
Labels: CI-boot-dfu-test, CI-lwm2m-test, CI-iot-samples-test, CI-iot-libraries-test

#6550 west.yml: update nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test, manifest-nrf-802154, changelog-entry-required

#6587 doc: Change used mfw version to 1.3.0/1
  samples/nrf9160/http_update/full_modem_update/README.rst
Labels: doc-required, CI-boot-dfu-test, changelog-entry-required, CI-iot-samples-test

#6630 doc: updating the copyright in conf.py files
  doc/kconfig/conf.py
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrfxlib/conf.py
Labels: doc-required

#6631 zigbee: osif: Fix checks in NVRAM read routines
  subsys/zigbee/osif/zb_nrf_nvram.c
Labels: CI-zigbee-test

#6626 bluetooth: hids: Fix uninitialized size value
  subsys/bluetooth/services/hids.c
Labels: CI-desktop-test, CI-ble-test, CI-zigbee-test, CI-homekit-test, CI-find-my-test

#6431 Zigbee Light Switch: Reset light bulb short addr after leave
  samples/zigbee/light_switch/src/main.c
Labels: CI-zigbee-test

#6635 manifest: update HomeKit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#6645 samples: psa_tls: Fix CONFIG_MBEDTLS_HEAP_SIZE
  samples/crypto/psa_tls/prj.conf
Labels: CI-crypto-test

#6640 samples: nrf9160: coap_client: Fix minor bugs
  samples/nrf9160/coap_client/src/main.c
Labels: CI-iot-samples-test

#6636 samples: nrf9160: modem_shell: ppp: updates
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/overlay-ppp.conf
  samples/nrf9160/modem_shell/ppp.overlay
  samples/nrf9160/modem_shell/src/ppp/ppp_ctrl.c
  samples/nrf9160/modem_shell/src/ppp/ppp_ctrl.h
  samples/nrf9160/modem_shell/src/ppp/ppp_mdm_data_rcv.c
  samples/nrf9160/modem_shell/src/ppp/ppp_mdm_data_snd.c
  samples/nrf9160/modem_shell/src/ppp/ppp_settings.c
  samples/nrf9160/modem_shell/src/ppp/ppp_shell.c
Labels: doc-required, manifest-zephyr, CI-iot-samples-test

#6652 lib: ram_pwrdn: power up/down RAM sections on heap resize
  doc/nrf/releases/release-notes-changelog.rst
  lib/ram_pwrdn/Kconfig
  lib/ram_pwrdn/ram_pwrdn.c
  tests/lib/ram_pwrdn/prj.conf
  tests/lib/ram_pwrdn/src/main.c
Labels: doc-required

#6526 doc: Updated index-ncs.rst
  doc/mcuboot/index-ncs.rst
Labels: doc-required

#6644 manifest: update sdk-zephyr revision
  west.yml
Labels: manifest, manifest-zephyr

#6622 Fix naming of Skyhook timing advance field
  lib/multicell_location/services/skyhook_integration.c
Labels: CI-trusted-author, external, CI-iot-samples-test

#6643 manifest: Updating nrfxlib
  west.yml
Labels: manifest, manifest-nrfxlib

#6062 doc: Update the License Activation part of Segger Installation
  doc/nrf/gs_installing.rst
  doc/nrf/gs_programming.rst
  doc/nrf/images/ses_GNU_notset.png
  doc/nrf/images/ses_license_build.png
Labels: doc-required, CI-disable

#6668 applications: nrf_desktop: Remove leftover configuration from nrf52833dk_nrf52820
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/child_image/mcuboot/prj_release_mcuboot.conf
Labels: CI-desktop-test

#6654 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test, Hotfix

#6663 samples: matter: fix coverity warning
  samples/matter/common/src/dfu_over_smp.cpp
Labels: CI-matter-test

#6613 doc: update figures on nRF Desktop and ML
  doc/nrf/images/ml_app_architecture.svg
  doc/nrf/images/ml_app_architecture.vsdx
  doc/nrf/images/nrf_desktop_arch.svg
  doc/nrf/images/nrf_desktop_arch.vsdx
Labels: doc-required

#6234 manifest: meta-pr for thingy52 fmn application
  west.yml
Labels: manifest, manifest-zephyr, manifest-find-my, CI-find-my-test

#6314 lib: sms: Use new AT API
  doc/nrf/libraries/modem/sms.rst
  lib/at_monitor/at_monitor.c
  lib/sms/CMakeLists.txt
  lib/sms/Kconfig
  lib/sms/sms.c
  lib/sms/sms_at.c
  lib/sms/sms_at.h
  lib/sms/sms_deliver.c
  lib/sms/sms_internal.h
  lib/sms/sms_submit.c
  samples/nrf9160/sms/prj.conf
  tests/lib/sms/CMakeLists.txt
  tests/lib/sms/Kconfig
  tests/lib/sms/src/sms_test.c
Labels: doc-required, CI-iot-samples-test, CI-iot-libraries-test

#6673 samples: matter: Enabled Thread 1.2 for nRF5340 by default
  samples/matter/light_bulb/boards/nrf21540dk_nrf52840.conf
  samples/matter/light_bulb/boards/nrf52840dk_nrf52840.conf
  samples/matter/light_bulb/boards/nrf52840dk_nrf52840_single_image_dfu.conf
  samples/matter/light_bulb/prj.conf
  samples/matter/light_bulb/prj_multi_image_dfu.conf
  samples/matter/light_bulb/prj_single_image_dfu.conf
  samples/matter/light_switch/boards/nrf21540dk_nrf52840.conf
  samples/matter/light_switch/boards/nrf52840dk_nrf52840.conf
  samples/matter/light_switch/prj.conf
  samples/matter/lock/boards/nrf21540dk_nrf52840.conf
  samples/matter/lock/boards/nrf52840dk_nrf52840.conf
  samples/matter/lock/boards/nrf52840dk_nrf52840_single_image_dfu.conf
  samples/matter/lock/prj.conf
  samples/matter/lock/prj_multi_image_dfu.conf
  samples/matter/lock/prj_single_image_dfu.conf
  samples/matter/template/boards/nrf21540dk_nrf52840.conf
  samples/matter/template/boards/nrf52840dk_nrf52840.conf
  samples/matter/template/prj.conf
Labels: CI-matter-test, changelog-entry-required

#6662 samples: nrf9160: modem_shell: wifi overlay: more SRAM needed
  samples/nrf9160/modem_shell/overlay-esp-wifi.conf
Labels: CI-iot-samples-test

#6646 manifest: Zephyr update with new OpenThread
  west.yml
Labels: manifest, manifest-zephyr, CI-all-test

#6363 samples: nrf9160: modem_shell: port to nrf_modem_at APIs
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/modem_shell/src/at/at_shell.c
  samples/nrf9160/modem_shell/src/main.c
Labels: doc-required, CI-iot-samples-test

#6690 doc: ug_thingy53: Mention missing supported mesh samples
  doc/nrf/ug_thingy53.rst
Labels: doc-required

#6689 doc: known_issues: Add known issue related to NCSDK-13459
  doc/nrf/known_issues.rst
Labels: doc-required

#6590 lib: nrf_modem: only lock ctx mutex if socket context was not released
  lib/nrf_modem_lib/nrf91_sockets.c
Labels: changelog-entry-required, CI-lwm2m-test, CI-iot-samples-test

#6561 doc: Thingy user guide update
  doc/nrf/glossary.rst
  doc/nrf/gs_programming.rst
  doc/nrf/images/gs-assistant_installation.PNG
  doc/nrf/images/gs-assistant_tm.png
  doc/nrf/images/gs-assistant_tm_dropdown.png
  doc/nrf/images/nrfcloud_activating_sim.png
  doc/nrf/images/nrfcloud_add_lte_device.png
  doc/nrf/images/nrfcloud_add_lte_device1.png
  doc/nrf/images/nrfcloud_plus_sign_callout.png
  doc/nrf/images/programmer_add_file.png
  doc/nrf/images/programmer_add_file1.png
  doc/nrf/images/programmer_com_ports.png
  doc/nrf/images/programmer_enable_mcuboot.png
  doc/nrf/images/programmer_ext_debug_hex_write.png
  doc/nrf/images/programmer_ext_debug_update_modem.png
  doc/nrf/images/programmer_hex_write.png
  doc/nrf/images/programmer_modemdfu.png
  doc/nrf/images/programmer_select_device.png
  doc/nrf/images/programmer_select_device1.png
  doc/nrf/images/programmer_thingy91_connect_dk_swd_vddio.svg
  doc/nrf/images/programmer_usb_update_modem.png
  doc/nrf/images/ses_config.png
  doc/nrf/images/ses_thingy_configuration.png
  doc/nrf/images/thingy91_insert_sim.svg
  doc/nrf/images/thingy91_mcuboot_dfu.png
  doc/nrf/images/thingy91_mcuboot_dfu1.png
  doc/nrf/images/thingy91_modemdfu_mcuboot.png
  doc/nrf/images/thingy91_pin_imei.svg
  doc/nrf/images/thingy91_pwr_switch.svg
  doc/nrf/images/thingy91_sim_iccid_puk.svg
  doc/nrf/images/thingy91_sw1_sw3.svg
  doc/nrf/images/thingy91_sw1_sw4.svg
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf91.rst
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_thingy91_gsg.rst
Labels: doc-required, support-required

#6580 docs: update ug_bootloader_adding
  doc/nrf/ug_bootloader_adding.rst
Labels: doc-required

#6701 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#6700 samples: openthread: Fix typo in integration list
  samples/openthread/cli/sample.yaml
Labels: CI-thread-test, changelog-entry-required

#6633 lib: fota_download: fixed fota update fail after link timeout
  doc/nrf/releases/release-notes-changelog.rst
  subsys/dfu/dfu_target/src/dfu_target_mcuboot.c
Labels: doc-required, CI-zigbee-test, CI-find-my-test

#6655 bluetooth: hci_driver: ext adv reports are not discardable.
  subsys/bluetooth/controller/hci_driver.c
Labels: CI-ble-test, CI-zigbee-test, CI-homekit-test, CI-find-my-test, changelog-entry-required

#6484 allow simultaneous usage of littlefs and NVS or FCB
  include/flash_map_pm.h
Labels: manifest-zephyr, changelog-entry-required

#6686 manifest: update zephyr
  west.yml
Labels: manifest, manifest-zephyr, manifest-nrfxlib, CI-all-test
