Repository nrfconnect/sdk-nrf, pull requests merged in 2022-03, with the labels that each got.

#7007 samples: crypto: Add psa_tls .yaml configs
  samples/crypto/psa_tls/overlays/cc3xx-legacy.conf
  samples/crypto/psa_tls/overlays/cc3xx.conf
  samples/crypto/psa_tls/overlays/client.conf
  samples/crypto/psa_tls/overlays/ecdsa.conf
  samples/crypto/psa_tls/overlays/oberon-legacy.conf
  samples/crypto/psa_tls/overlays/rsa.conf
  samples/crypto/psa_tls/overlays/server.conf
  samples/crypto/psa_tls/sample.yaml
Labels: CI-crypto-test

#7008 doc: reorder applications alphabetically
  doc/nrf/applications.rst
Labels: doc-required, CI-disable

#7004 samples: nrf9160: modem_shell: link ncellmeas: interval option
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/src/link/link.c
  samples/nrf9160/modem_shell/src/link/link.h
  samples/nrf9160/modem_shell/src/link/link_shell.c
Labels: doc-required, CI-iot-samples-test, CI-modemshell-test

#6994 samples: openthread: remove unsupported dfu overlay.
  samples/openthread/coap_client/README.rst
  samples/openthread/coap_client/overlay-dfu_support.conf
  samples/openthread/coap_client/sample.yaml
  samples/openthread/coap_client/src/ble_utils.c
  samples/openthread/coap_client/src/coap_client.c
Labels: doc-required, CI-thread-test

#7000 lib: at_monitor: enable setting logging level at compilation time
  lib/at_monitor/at_monitor.c
Labels: CI-iot-samples-test, CI-iot-libraries-test, CI-modemshell-test, CI-positioning-test

#7005 manifest: Update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test, changelog-entry-required

#7027 samples: nrf9160: lwm2m_client: Fix boostrap documentation
  samples/nrf9160/lwm2m_client/README.rst
Labels: doc-required, changelog-entry-required

#7020 application: serial_lte_modem: Rename secure_bootloader overlay
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/overlay-secure_bootloader.conf
Labels: doc-required

#7035 applications: asset_tracker_v2: Increase stack for gnss event thread
  applications/asset_tracker_v2/src/modules/gnss_module.c
Labels: CI-thingy91-test

#7046 manifest: update manifest file with 1.9.1 tags
  west.yml
Labels: CI-disable

#7014 Bluetooth: Mesh: Update print args shell cli mdl
  subsys/bluetooth/mesh/shell/shell_ctl_cli.c
  subsys/bluetooth/mesh/shell/shell_ctrl_cli.c
  subsys/bluetooth/mesh/shell/shell_hsl_cli.c
  subsys/bluetooth/mesh/shell/shell_lightness_cli.c
  subsys/bluetooth/mesh/shell/shell_loc_cli.c
  subsys/bluetooth/mesh/shell/shell_lvl_cli.c
  subsys/bluetooth/mesh/shell/shell_onoff_cli.c
  subsys/bluetooth/mesh/shell/shell_plvl_cli.c
  subsys/bluetooth/mesh/shell/shell_prop_cli.c
  subsys/bluetooth/mesh/shell/shell_xyl_cli.c
Labels: CI-mesh-test

#6995 doc: update some sample docs to use VT100/ANSI supported serial terminal.
  doc/nrf/shortcuts.txt
  samples/bluetooth/mesh/chat/sample_description.rst
  samples/bluetooth/throughput/README.rst
  samples/matter/light_bulb/README.rst
  samples/matter/light_switch/README.rst
  samples/matter/lock/README.rst
  samples/matter/template/README.rst
  samples/nrf9160/download/README.rst
  samples/nrf9160/memfault/README.rst
  samples/nrf9160/modem_shell/README.rst
  samples/openthread/cli/README.rst
  samples/openthread/coap_client/README.rst
  samples/openthread/coap_server/README.rst
  samples/peripheral/radio_test/README.rst
Labels: doc-required, CI-ble-test, CI-thread-test, CI-matter-test, CI-iot-samples-test

#6727 doc: nrf: Point to the org instead of GitHub
  doc/nrf/dm_code_base.rst
Labels: doc-required

#7029 openthread: remove support for NCP and related tools
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-1.4.0.rst
  doc/nrf/releases/release-notes-1.5.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_logging.rst
  doc/nrf/ug_thread.rst
  doc/nrf/ug_thread_architectures.rst
  doc/nrf/ug_thread_commissioning.rst
  doc/nrf/ug_thread_configuring.rst
  doc/nrf/ug_thread_tools.rst
  doc/nrf/ug_thread_vendor_hooks.rst
  samples/openthread/cli/README.rst
  samples/openthread/coprocessor/README.rst
  samples/openthread/coprocessor/overlay-minimal.conf
  samples/openthread/coprocessor/overlay-rcp.conf
  samples/openthread/coprocessor/prj.conf
  samples/openthread/coprocessor/sample.yaml
Labels: doc-required, CI-thread-test

#6996 doc: add 1.9.1 to main
  doc/nrf/dm_adding_code.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-1.9.0.rst
  doc/nrf/releases/release-notes-1.9.1.rst
  doc/nrf/shortcuts.txt
  doc/versions.json
Labels: DNM, doc-required, CI-disable, changelog-entry-required

#7048 doc: matter: Added information about Amazon FFS support
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_matter_configuring_protocol.rst
Labels: doc-required

#7051 samples: matter: Enable FPU and adjust stack sizes
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  doc/nrf/links.txt
  samples/matter/light_bulb/prj.conf
  samples/matter/light_bulb/prj_multi_image_matter_dfu.conf
  samples/matter/light_bulb/prj_multi_image_smp_dfu.conf
  samples/matter/light_bulb/prj_single_image_matter_dfu.conf
  samples/matter/light_bulb/prj_single_image_smp_dfu.conf
  samples/matter/light_switch/prj.conf
  samples/matter/lock/prj.conf
  samples/matter/lock/prj_multi_image_matter_dfu.conf
  samples/matter/lock/prj_multi_image_smp_dfu.conf
  samples/matter/lock/prj_single_image_matter_dfu.conf
  samples/matter/lock/prj_single_image_smp_dfu.conf
  samples/matter/template/prj.conf
  west.yml
Labels: doc-required, manifest, manifest-matter, CI-matter-test

#7059 doc improvement: fix link to nRF9160 DK downloads
  doc/nrf/links.txt
  doc/nrf/ug_nrf9160.rst
  doc/nrf/ug_nrf9160_gs.rst
Labels: doc-required, CI-disable

#7062 samples: matter: Enabled using Thread library configs
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  samples/matter/light_bulb/prj.conf
  samples/matter/light_bulb/prj_multi_image_matter_dfu.conf
  samples/matter/light_bulb/prj_multi_image_smp_dfu.conf
  samples/matter/light_bulb/prj_single_image_matter_dfu.conf
  samples/matter/light_bulb/prj_single_image_smp_dfu.conf
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_switch/prj.conf
  samples/matter/lock/prj.conf
  samples/matter/lock/prj_multi_image_matter_dfu.conf
  samples/matter/lock/prj_multi_image_smp_dfu.conf
  samples/matter/lock/prj_single_image_matter_dfu.conf
  samples/matter/lock/prj_single_image_smp_dfu.conf
  samples/matter/lock/src/app_task.cpp
  samples/matter/template/prj.conf
  samples/matter/template/src/app_task.cpp
Labels: CI-matter-test, changelog-entry-required

#7065 openthread: apply CSL uncertainty to the transmitter
  subsys/net/openthread/Kconfig.defconfig
Labels: CI-thread-test, CI-matter-test

#6997 net: lib: skip duplicate packets
  subsys/net/lib/download_client/src/coap.c
  subsys/net/lib/download_client/src/download_client.c
Labels: CI-trusted-author, external, CI-boot-dfu-test, CI-matter-test, CI-iot-samples-test, CI-modemshell-test

#7036 doc: option to add board revision when Building on the command line
  doc/nrf/gs_programming.rst
Labels: doc-required, changelog-entry-required

#6482 doc improvement: Gazell restructure
  doc/nrf/libraries/gazell/gzp.rst
  doc/nrf/protocols.rst
  doc/nrf/releases/release-notes-1.8.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_gz.rst
  doc/nrf/ug_gzll.rst
  doc/nrf/ug_gzp.rst
  doc/nrf/ug_nrf52.rst
  samples/gazell/gzll_ack_payload/README.rst
  samples/gazell/gzll_ack_payload_device/CMakeLists.txt
  samples/gazell/gzll_ack_payload_device/Kconfig
  samples/gazell/gzll_ack_payload_device/README.rst
  samples/gazell/gzll_ack_payload_device/prj.conf
  samples/gazell/gzll_ack_payload_device/sample.yaml
  samples/gazell/gzll_ack_payload_device/src/main.c
  samples/gazell/gzll_ack_payload_host/CMakeLists.txt
  samples/gazell/gzll_ack_payload_host/Kconfig
  samples/gazell/gzll_ack_payload_host/README.rst
  samples/gazell/gzll_ack_payload_host/prj.conf
  samples/gazell/gzll_ack_payload_host/sample.yaml
  samples/gazell/gzll_ack_payload_host/src/main.c
  samples/gazell/gzp_dynamic_pairing/README.rst
  samples/gazell/gzp_dynamic_pairing_device/CMakeLists.txt
  samples/gazell/gzp_dynamic_pairing_device/README.rst
  samples/gazell/gzp_dynamic_pairing_device/prj.conf
  samples/gazell/gzp_dynamic_pairing_device/sample.yaml
  samples/gazell/gzp_dynamic_pairing_device/src/main.c
  samples/gazell/gzp_dynamic_pairing_host/CMakeLists.txt
  samples/gazell/gzp_dynamic_pairing_host/README.rst
  samples/gazell/gzp_dynamic_pairing_host/prj.conf
  samples/gazell/gzp_dynamic_pairing_host/sample.yaml
  samples/gazell/gzp_dynamic_pairing_host/src/main.c
Labels: doc-required, CI-disable, CI-gazell-test

#7070 doc improvement: nRF53 description
  doc/nrf/ug_nrf53.rst
Labels: doc-required

#7068 samples: nrf9160: at_monitor: add cereg status codes
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/at_monitor/src/main.c
Labels: doc-required

#7074 doc: Gazell RF front-end module cleanup
  doc/nrf/ug_gzll.rst
Labels: doc-required

#7049 manifest: nrfxlib: zboss doc update
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test

#7037 manifest: update HomeKit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#7019 application: serial_lte_modem: HTTP Request enhancement
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#7040 application: serial_lte_modem: Enhance #XSLEEP handling
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/boards/nrf9160dk_nrf9160_ns.conf
  applications/serial_lte_modem/boards/nrf9160dk_nrf9160_ns.overlay
  applications/serial_lte_modem/boards/thingy91_nrf9160_ns.conf
  applications/serial_lte_modem/doc/AT_commands_intro.rst
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/src/main.c
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_host.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#7060 application: serial_lte_modem: Adjust MQTT buffers size
  applications/serial_lte_modem/doc/MQTT_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/src/mqtt_c/Kconfig
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#7081 doc: Update known issue for setting and getting Tx power for SDC
  doc/nrf/known_issues.rst
Labels: doc-required

#7075 zigbee: shell: Fix parsing zcl cmd payload that starts with 0x
  subsys/zigbee/cli/zigbee_cli_cmd_generic_cmd.c
Labels: CI-zigbee-test

#7080 samples: modem_shell: Use direct register access to disable uart1
  samples/nrf9160/modem_shell/boards/nrf9160dk_nrf9160_ns.overlay
  samples/nrf9160/modem_shell/src/uart/uart.c
  samples/nrf9160/modem_shell/src/uart/uart_shell.c
Labels: CI-iot-samples-test, CI-modemshell-test

#6798 subsys: event_manager: Add functionality to get the event size
  CODEOWNERS
  doc/nrf/releases/release-notes-changelog.rst
  include/event_manager.h
  subsys/event_manager/Kconfig
  subsys/event_manager/event_manager_priv.h
  tests/subsys/event_manager/overlay-event_size.conf
  tests/subsys/event_manager/src/events/CMakeLists.txt
  tests/subsys/event_manager/src/events/sized_events.c
  tests/subsys/event_manager/src/events/sized_events.h
  tests/subsys/event_manager/src/main.c
  tests/subsys/event_manager/testcase.yaml
Labels: doc-required, CI-desktop-test, CI-find-my-test

#7082 manifest: Update SoftDevice Controller revision
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test, changelog-entry-required

#7086 Bluetooth: Mesh: restart resume timer only if LC srv is used before
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: CI-mesh-test, changelog-entry-required

#7076 nrfxlib: nrf_802154: Use correct target to add compile defs
  modules/nrfxlib/nrf_802154/CMakeLists.txt
Labels: CI-zigbee-test, CI-thread-test, CI-tfm-test, CI-homekit-test, CI-rs-test, CI-matter-test

#7092 samples: Increase main stack size for peripheral_hids_mouse
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_hids_mouse/prj.conf
Labels: doc-required, CI-ble-test

#6976 samples: nrf9160: https_client: Make sure recv_buf is NULL terminated
  samples/nrf9160/https_client/src/main.c
Labels: CI-iot-samples-test

#7105 samples: openthread: shrink settings partition for nrf52833
  samples/openthread/cli/boards/nrf52833dk_nrf52833.overlay
Labels: CI-thread-test, CI-matter-test

#7100 net: lib: nrf_cloud: s/device_get_binding/DEVICE_DT_GET
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps.c
Labels: CI-thingy91-test, CI-matter-test, changelog-entry-required, CI-modemshell-test, CI-positioning-test

#7098 gazell: s/device_get_binding/DEVICE_DT_GET*
  subsys/gazell/gzll_glue.c
  subsys/gazell/gzp.c
Labels: changelog-entry-required, CI-gazell-test

#7099 net: lib: lwm2m_client_utils: s/device_get_binding/DEVICE_DT_GET_ONE
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
Labels: CI-matter-test, changelog-entry-required

#7052 Krknwk 5104 implement factory reset logic
  applications/zigbee_weather_station/README.rst
  applications/zigbee_weather_station/src/main.c
  doc/nrf/libraries/zigbee/zigbee_app_utils.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/zigbee/zigbee_app_utils.h
  samples/zigbee/light_bulb/README.rst
  samples/zigbee/light_bulb/src/main.c
  samples/zigbee/light_switch/README.rst
  samples/zigbee/light_switch/src/main.c
  samples/zigbee/network_coordinator/README.rst
  samples/zigbee/network_coordinator/src/main.c
  samples/zigbee/shell/README.rst
  samples/zigbee/shell/src/main.c
  samples/zigbee/template/README.rst
  samples/zigbee/template/src/main.c
  subsys/zigbee/lib/zigbee_app_utils/Kconfig
  subsys/zigbee/lib/zigbee_app_utils/zigbee_app_utils.c
Labels: doc-required, CI-zigbee-test

#7107 applications: nrf_desktop: hw_interface: allow GPIO device to be NULL
  applications/nrf_desktop/src/hw_interface/selector_hw.c
Labels: CI-desktop-test, changelog-entry-required

#6841 bluetooth: mesh: add model context to sensor callbacks
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/mesh/sensor.h
  samples/bluetooth/mesh/sensor_server/src/model_handler.c
  subsys/bluetooth/mesh/sensor.c
  subsys/bluetooth/mesh/sensor.h
  subsys/bluetooth/mesh/sensor_srv.c
  tests/bluetooth/tester/src/model_handler.c
Labels: doc-required, CI-mesh-test

#7126 doc: location lib: formatting fixes
  doc/nrf/libraries/modem/location.rst
Labels: doc-required, CI-disable

#6961 zigbee: shell: Add command to log active neighbors
  doc/nrf/libraries/zigbee/shell.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/CMakeLists.txt
  subsys/zigbee/Kconfig
  subsys/zigbee/cli/zigbee_cli_cmd_nbr.c
Labels: doc-required, CI-zigbee-test

#7139 ci: github/workflows/manifest.yml: fix trailing comma
  .github/workflows/manifest.yml
Labels: CI-disable, changelog-entry-required

#7097 lib: location: wifi and cellular: systime to location_datetime
  doc/nrf/releases/release-notes-changelog.rst
  lib/location/location_utils.c
  lib/location/location_utils.h
  lib/location/method_cellular.c
  lib/location/method_wifi.c
Labels: doc-required, CI-modemshell-test, CI-positioning-test

#7124 Bluetooth: Mesh: Add sensor client to mesh shell
  doc/nrf/libraries/bluetooth_services/mesh/sensor_cli.rst
  subsys/bluetooth/mesh/shell/CMakeLists.txt
  subsys/bluetooth/mesh/shell/Kconfig
  subsys/bluetooth/mesh/shell/shell_ctrl_cli.c
  subsys/bluetooth/mesh/shell/shell_sensor_cli.c
  subsys/bluetooth/mesh/shell/shell_utils.c
  subsys/bluetooth/mesh/shell/shell_utils.h
Labels: doc-required, changelog-entry-required

#6967 net: lib: nrf_cloud: REST lib error handling minor improvements
  doc/nrf/libraries/networking/nrf_cloud_rest.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud_rest.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: doc-required, CI-thingy91-test, CI-boot-dfu-test, CI-modemshell-test, CI-positioning-test

#7120 manifest: update HomeKit revision
  west.yml
Labels: manifest, manifest-homekit, changelog-entry-required

#7026 Rework nrf91 LwM2M reconnection and boostrap logic
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/src/main.c
Labels: doc-required

#7150 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#7121 doc: matter: update outdated architecture graph
  doc/nrf/images/matter_IP_pyramid.png
  doc/nrf/images/matter_architecture.svg
  doc/nrf/images/matter_architecture.vsdx
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_matter_architecture.rst
Labels: doc-required, CI-disable

#6964 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#7125 samples: nrf9160: lwm2m_client: Document the state transitions
  doc/nrf/images/lwm2m_client_state_diagram.svg
  doc/nrf/images/lwm2m_client_state_diagram.vsdx
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/README.rst
Labels: doc-required

#7009 doc: matter: expand creating accessory guide
  doc/nrf/images/matter_create_accessory_add_onoff_cluster.png
  doc/nrf/images/matter_create_accessory_create_new_endpoint.png
  doc/nrf/images/matter_template_sample.svg
  doc/nrf/images/matter_template_sample.vsdx
  doc/nrf/ug_matter_creating_accessory.rst
Labels: doc-required, CI-disable

#7106 samples: Updating notes for central_smp_client readme
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/central_smp_client/README.rst
Labels: doc-required, CI-disable, CI-ble-test

#7111 docs: bluetooth: mesh: Add documentation for models shell commands
  doc/nrf/libraries/bluetooth_services/mesh/gen_battery_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_dtt.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_dtt_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_loc_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_lvl_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_onoff_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_plvl_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_plvl_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_ponoff_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_prop_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_ctl_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_ctrl_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_hsl_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_xyl_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/lightness_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/scene_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/scheduler_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/time_cli.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/bluetooth/mesh/shell/shell_ctrl_cli.c
  subsys/bluetooth/mesh/shell/shell_hsl_cli.c
  subsys/bluetooth/mesh/shell/shell_scheduler_cli.c
  subsys/bluetooth/mesh/shell/shell_time_cli.c
Labels: doc-required

#7141 samples: nrf9160: lte_ble_gateway: use new GNSS interface
  samples/nrf9160/lte_ble_gateway/Kconfig
  samples/nrf9160/lte_ble_gateway/README.rst
  samples/nrf9160/lte_ble_gateway/prj.conf
  samples/nrf9160/lte_ble_gateway/src/aggregator.h
  samples/nrf9160/lte_ble_gateway/src/alarm.c
  samples/nrf9160/lte_ble_gateway/src/ble.c
  samples/nrf9160/lte_ble_gateway/src/main.c
Labels: doc-required

#7156 doc: cloud REST FOTA sample: fixes to Kconfig option linking
  samples/nrf9160/nrf_cloud_rest_fota/README.rst
Labels: doc-required

#7145 Bluetooth: Mesh: fix voltage sensor units
  subsys/bluetooth/mesh/sensor_types.c
  tests/subsys/bluetooth/mesh/sensor_subsys/src/main.c
Labels: CI-mesh-test, changelog-entry-required

#6180 subsys/dfu_target: support for multiple mcuboot's image collection
  include/dfu/dfu_target.h
  include/dfu/dfu_target_full_modem.h
  include/dfu/dfu_target_mcuboot.h
  include/dfu/dfu_target_modem_delta.h
  subsys/dfu/dfu_target/src/dfu_target.c
  subsys/dfu/dfu_target/src/dfu_target_full_modem.c
  subsys/dfu/dfu_target/src/dfu_target_mcuboot.c
  subsys/dfu/dfu_target/src/dfu_target_modem_delta.c
  subsys/net/lib/fota_download/src/fota_download.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
  tests/subsys/dfu/dfu_target/mcuboot/src/main.c
  tests/subsys/net/lib/fota_download/src/main.c
  west.yml
Labels: manifest, manifest-find-my, manifest-matter, changelog-entry-required

#6445 Gazell zero-latency interrupt support
  subsys/gazell/Kconfig
  subsys/gazell/gzll_glue.c
Labels: Stale, changelog-entry-required, CI-gazell-test

#6680 [backport v1.8] lib: nrf_modem: Clear the address structure on recvfrom
  doc/nrf/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/nrf91_sockets.c
Labels: doc-required, CI-lwm2m-test, CI-iot-samples-test

#6681 [backport v1.7] lib: nrf_modem: Clear the address structure on recvfrom
  doc/nrf/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/nrf91_sockets.c
Labels: doc-required, CI-libmodem-test

#7171 kconfig: remove references to non-existing DK_LIBRARY_INVERT_LEDS
  applications/zigbee_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/zigbee_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  samples/nrf9160/nrf_cloud_rest_device_message/prj.conf
Labels: Hotfix

#7178 known_issues: Add known issues for the SDC's periodic sync impl
  doc/nrf/known_issues.rst
Labels: doc-required

#7067 bluetooth: rpc: Mark BLE over the RPC as an experimental
  subsys/bluetooth/rpc/Kconfig
Labels: changelog-entry-required

#7085 samples: Bluetooth: df: Add build_only to DF sample.yaml
  samples/bluetooth/direction_finding_central/sample.yaml
  samples/bluetooth/direction_finding_connectionless_rx/sample.yaml
  samples/bluetooth/direction_finding_connectionless_tx/sample.yaml
  samples/bluetooth/direction_finding_peripheral/sample.yaml
Labels: DNM, changelog-entry-required

#7182 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#7179 openthread: samples: extend sys workqueue stack size
  samples/openthread/coap_client/overlay-mtd.conf
Labels: changelog-entry-required

#7158 doc: Remove highlights section from changelog
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#7172 doc: update LwM2M bin lib structure and content
  doc/nrf/libraries/bin/lwm2m_carrier/API_documentation.rst
  doc/nrf/libraries/bin/lwm2m_carrier/app_integration.rst
  doc/nrf/libraries/bin/lwm2m_carrier/index.rst
Labels: doc-required

#7159 samples: Change duplicated names of the test cases
  samples/bluetooth/central_and_peripheral_hr/sample.yaml
  samples/bluetooth/nrf_dm/sample.yaml
  samples/crypto/aes_ctr/sample.yaml
  samples/crypto/persistent_key_usage/sample.yaml
  tests/subsys/zigbee/osif/crypto/testcase.yaml
  tests/subsys/zigbee/osif/serial/serial_via_logger/testcase.yaml
Labels: DNM, changelog-entry-required

#7115 bluetooth: controller: Update reservation of used resources
  subsys/bluetooth/controller/bt_ctlr_used_resources.h
  subsys/bluetooth/controller/hci_driver.c
  west.yml
Labels: manifest, manifest-zephyr

#7138 lib: location: support external transport method for P-GPS data
  doc/nrf/libraries/modem/location.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/location.h
  lib/location/Kconfig
  lib/location/location.c
  lib/location/location_core.c
  lib/location/location_core.h
  lib/location/method_gnss.c
  samples/nrf9160/location/src/main.c
  samples/nrf9160/modem_shell/src/location/location_shell.c
Labels: doc-required

#7116 Krknwk 13152 review comments for the zigbee weather stationn application
  .github/test-spec.yml
  applications/zigbee_weather_station/Kconfig
  applications/zigbee_weather_station/README.rst
  applications/zigbee_weather_station/configuration/thingy53_nrf5340_cpuapp/app.overlay
  applications/zigbee_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/zigbee_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  applications/zigbee_weather_station/sample.yaml
  applications/zigbee_weather_station/src/main.c
  applications/zigbee_weather_station/src/sensor.c
  applications/zigbee_weather_station/src/sensor.h
  applications/zigbee_weather_station/src/weather_station.c
  applications/zigbee_weather_station/src/weather_station.h
Labels: doc-required

#7185 application: serial_lte_modem: HTTPS client enhancement
  applications/serial_lte_modem/overlay-native_tls.conf
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
Labels: changelog-entry-required

#7173 zigbee: Wait for app_update in DFU scripts
  modules/mcuboot/CMakeLists.txt
Labels: changelog-entry-required

#7176 manifest: Update zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#7181 samples: lwm2m_client: Portfolio Object support
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/src/lwm2m/CMakeLists.txt
  samples/nrf9160/lwm2m_client/src/lwm2m/include/lwm2m_client_app.h
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_portfolio_object.c
  samples/nrf9160/lwm2m_client/src/main.c
Labels: doc-required, CI-trusted-author

#7192 applications: asset_tracker_v2: Prefix IMEI with "nrf-"
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
  applications/asset_tracker_v2/src/modules/Kconfig.cloud_module
Labels: CI-thingy91-test

#7183 doc: Add Known Issue for Asset Tracker v2
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#7196 doc: add direct link to VSC build instructions
  doc/nrf/gs_programming.rst
Labels: doc-required, changelog-entry-required

#7174 lib: multicell_location: Fix errant MODEM_JWT requirement
  doc/nrf/releases/release-notes-changelog.rst
  lib/multicell_location/Kconfig
  lib/multicell_location/services/nrf_cloud_integration.c
Labels: doc-required

#7119 modules: cJSON: enable float printf support
  doc/nrf/releases/release-notes-changelog.rst
  ext/iperf3/Kconfig
  modules/cjson/Kconfig
  samples/matter/light_switch/configuration/nrf21540dk_nrf52840/prj.conf
  samples/matter/lock/configuration/nrf21540dk_nrf52840/prj.conf
  samples/matter/template/configuration/nrf21540dk_nrf52840/prj.conf
  samples/nrf9160/aws_fota/prj.conf
  samples/nrf9160/azure_iot_hub/prj.conf
  tests/subsys/net/lib/aws_fota/aws_fota_json/prj.conf
Labels: bug, doc-required

#7187 Allow setting MPSL and SDC build type
  subsys/bluetooth/controller/Kconfig
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#6930 lib: nrf_modem: Move trace processing to a thread
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_ns.dts
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/nrf_modem_lib_trace.h
  lib/nrf_modem_lib/Kconfig.modemlib
  lib/nrf_modem_lib/nrf_modem_lib_trace.c
  lib/nrf_modem_lib/nrf_modem_os.c
  tests/lib/modem_trace/modem_trace_rtt/CMakeLists.txt
  tests/lib/modem_trace/modem_trace_rtt/prj.conf
  tests/lib/modem_trace/modem_trace_rtt/src/modem_trace_test.c
  tests/lib/modem_trace/modem_trace_uart/CMakeLists.txt
  tests/lib/modem_trace/modem_trace_uart/boards/qemu_cortex_m3.overlay
  tests/lib/modem_trace/modem_trace_uart/prj.conf
  tests/lib/modem_trace/modem_trace_uart/src/modem_trace_test.c
Labels: doc-required, manifest-nrfxlib, CI-lwm2m-test, CI-iot-samples-test, CI-modemshell-test

#7208 test_spec: esb: add entries
  .github/test-spec.yml
Labels: changelog-entry-required

#7044 doc: Added SR with WiFi Coex documentations
  doc/nrf/images/coex_generic_3pin_pta.png
  doc/nrf/ug_app_dev.rst
  doc/nrf/ug_radio_coex.rst
Labels: doc-required, changelog-entry-required

#7207 doc: serial_lte_modem: Update path to application
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/doc/slm_extending.rst
Labels: doc-required, changelog-entry-required

#7206 lib: sms: add handling for SMS client unregistration
  doc/nrf/releases/release-notes-changelog.rst
  lib/sms/sms.c
Labels: doc-required

#6566 net: lib: zzhc: add fixed DNS support
  subsys/net/lib/zzhc/zzhc.c
Labels: CI-matter-test, changelog-entry-required

#7215 doc: nRF9160 AWS FOTA: change warning to caution
  samples/nrf9160/aws_fota/README.rst
Labels: doc-required

#7166 doc: fixes to application configuration options in nRF desktop
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/bas.rst
  applications/nrf_desktop/doc/battery_charger.rst
  applications/nrf_desktop/doc/battery_meas.rst
  applications/nrf_desktop/doc/ble_bond.rst
  applications/nrf_desktop/doc/ble_discovery.rst
  applications/nrf_desktop/doc/ble_latency.rst
  applications/nrf_desktop/doc/ble_passkey.rst
  applications/nrf_desktop/doc/ble_qos.rst
  applications/nrf_desktop/doc/ble_scan.rst
  applications/nrf_desktop/doc/buttons.rst
  applications/nrf_desktop/doc/buttons_sim.rst
  applications/nrf_desktop/doc/config_channel.rst
  applications/nrf_desktop/doc/constlat.rst
  applications/nrf_desktop/doc/cpu_meas.rst
  applications/nrf_desktop/doc/dfu.rst
  applications/nrf_desktop/doc/failsafe.rst
  applications/nrf_desktop/doc/fn_keys.rst
  applications/nrf_desktop/doc/hfclk_lock.rst
  applications/nrf_desktop/doc/hid_forward.rst
  applications/nrf_desktop/doc/hid_state.rst
  applications/nrf_desktop/doc/hid_state_pm.rst
  applications/nrf_desktop/doc/hids.rst
  applications/nrf_desktop/doc/info.rst
  applications/nrf_desktop/doc/led_stream.rst
  applications/nrf_desktop/doc/motion.rst
  applications/nrf_desktop/doc/passkey.rst
  applications/nrf_desktop/doc/profiler_sync.rst
  applications/nrf_desktop/doc/qos.rst
  applications/nrf_desktop/doc/selector.rst
  applications/nrf_desktop/doc/usb_state.rst
  applications/nrf_desktop/doc/usb_state_pm.rst
  applications/nrf_desktop/doc/watchdog.rst
  applications/nrf_desktop/doc/wheel.rst
  doc/nrf/libraries/caf/net_state.rst
  doc/nrf/libraries/caf/settings_loader.rst
Labels: doc-required, changelog-entry-required

#7165 tests/../dfu_target/mcuboot: tests for dfu_target_schedule_update
  tests/subsys/dfu/dfu_target/mcuboot/src/main.c
Labels: changelog-entry-required

#7228 samples: nrf5340: netboot: use DEVICE_DT_GET
  samples/nrf5340/netboot/src/main.c
Labels: changelog-entry-required

#7241 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#7225 samples: debug: ppi_trace: use DEVICE_DT_GET
  samples/debug/ppi_trace/src/main.c
Labels: changelog-entry-required

#7253 doc: avoid repetition in the sample doc template
  doc/nrf/templates/sample_README.rst
Labels: doc-required
