Repository nrfconnect/sdk-nrf, pull requests merged in 2022-09, with the labels that each got.

#8580 samples: nrf9160: modem_shell: Decrease size of non-offloading overlay
  samples/nrf9160/modem_shell/overlay-non-offloading.conf
  samples/nrf9160/modem_shell/sample.yaml
  samples/nrf9160/modem_shell/src/link/link_api.c
Labels: changelog-entry-required

#8573 doc: update docs that TFM is supported by thingy:91
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/serial_lte_modem/doc/slm_description.rst
  doc/nrf/images/nrf9160_ug_overview.svg
  doc/nrf/images/nrf9160_ug_overview.vsdx
  doc/nrf/includes/tfm_spm_thingy91.txt
  doc/nrf/includes/thingy91_build_and_run.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf91_features.rst
  samples/nrf9160/aws_iot/README.rst
  samples/nrf9160/memfault/README.rst
  samples/nrf9160/multicell_location/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
  samples/nrf9160/udp/README.rst
Labels: doc-required

#8529 doc: Bluetooth: Zephyr Controller supports Advertising Extensions
  doc/nrf/ug_ble_controller.rst
Labels: doc-required, changelog-entry-required

#8590 doc: update figure of Asset tracker passive state
  doc/nrf/images/asset_tracker_v2_passive_state.svg
  doc/nrf/images/asset_tracker_v2_passive_state.vsdx
Labels: doc-required

#8600 applications: nrf5340_audio: Update NET controller
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3303.hex
  applications/nrf5340_audio/bin/manifest.yaml
Labels: changelog-entry-required

#8568 doc: align installing manually steps with Zephyr
  doc/nrf/gs_installing.rst
Labels: doc-required, CI-disable

#8525 doc: app_dev: expand list of output files
  doc/nrf/app_build_system.rst
  doc/nrf/ug_thingy91.rst
Labels: doc-required, CI-disable

#8582 applications: nrf5340_audio: Check if all BIS streams are streaming
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
Labels: bug, changelog-entry-required

#8589 applications: nrf5340_audio: Add DFU to adapting for end prod doc
  applications/nrf5340_audio/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#8601 applications: nrf5340_audio: Update DFU NET controller
  applications/nrf5340_audio/dfu/bin/ble5-ctr-rpmsg_shifted.hex
  applications/nrf5340_audio/dfu/bin/ble5-ctr-rpmsg_shifted_min.hex
  applications/nrf5340_audio/dfu/bin/manifest.yaml
Labels: bug

#8594 doc: Add bt_mesh_sensor_ch_str_real to release notes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8581 bluetooth: adv_prov: Align to naming convention
  CODEOWNERS
  applications/machine_learning/src/util/Kconfig
  applications/machine_learning/src/util/bt_le_adv_prov_uuid128.c
  applications/nrf_desktop/src/util/Kconfig
  applications/nrf_desktop/src/util/bt_le_adv_prov_uuid16.c
  doc/nrf/libraries/bluetooth_services/adv_prov.rst
  doc/nrf/libraries/caf/ble_adv.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/adv_prov.h
  subsys/bluetooth/CMakeLists.txt
  subsys/bluetooth/Kconfig
  subsys/bluetooth/adv_prov/CMakeLists.txt
  subsys/bluetooth/adv_prov/Kconfig
  subsys/bluetooth/adv_prov/core.c
  subsys/bluetooth/adv_prov/core.ld
  subsys/bluetooth/adv_prov/providers/CMakeLists.txt
  subsys/bluetooth/adv_prov/providers/Kconfig
  subsys/bluetooth/adv_prov/providers/Kconfig.device_name
  subsys/bluetooth/adv_prov/providers/Kconfig.flags
  subsys/bluetooth/adv_prov/providers/Kconfig.gap_appearance
  subsys/bluetooth/adv_prov/providers/Kconfig.swift_pair
  subsys/bluetooth/adv_prov/providers/Kconfig.tx_power
  subsys/bluetooth/adv_prov/providers/device_name.c
  subsys/bluetooth/adv_prov/providers/flags.c
  subsys/bluetooth/adv_prov/providers/gap_appearance.c
  subsys/bluetooth/adv_prov/providers/swift_pair.c
  subsys/bluetooth/adv_prov/providers/tx_power.c
  subsys/bluetooth/bt_le_adv_prov/providers/CMakeLists.txt
  subsys/caf/modules/Kconfig.ble_adv
  subsys/caf/modules/ble_adv.c
Labels: doc-required

#8595 samples: wifi: Enable Zperf by default
  samples/wifi/shell/prj.conf
Labels: changelog-entry-required

#8406 drivers/mpsl/flash_synch: Use higher priority quicker
  drivers/mpsl/flash_sync/flash_sync_mpsl.c
Labels: changelog-entry-required

#7873 tests: event_manager_proxy: Configure OpenAMP to work on preemptive p…
  tests/subsys/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/subsys/event_manager_proxy/remote/boards/nrf5340dk_nrf5340_cpunet.overlay
Labels: changelog-entry-required

#8307 lib: modem_info: modem_info_params_get(): improve error handling
  lib/modem_info/Kconfig
  lib/modem_info/modem_info_params.c
Labels: changelog-entry-required

#8550 caf: ble_adv: Add wake up on connection in grace period
  doc/nrf/releases/release-notes-changelog.rst
  subsys/caf/modules/ble_adv.c
Labels: doc-required

#8602 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#8599 application: serial_lte_modem: Update doc
  applications/serial_lte_modem/doc/slm_testing.rst
Labels: doc-required

#8217 applications: asset_tracker_v2: add neighbor scan KConfig option
  applications/asset_tracker_v2/doc/modem_module.rst
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/Kconfig.modem_module
  applications/asset_tracker_v2/src/modules/modem_module.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8575 manifest: Updated sdk-connectedhomeip to the new revision
  applications/matter_weather_station/src/weather-station.matter
  applications/matter_weather_station/src/weather-station.zap
  applications/matter_weather_station/src/zap-generated/CHIPClientCallbacks.h
  applications/matter_weather_station/src/zap-generated/CHIPClusters.h
  applications/matter_weather_station/src/zap-generated/IMClusterCommandHandler.cpp
  applications/matter_weather_station/src/zap-generated/PluginApplicationCallbacks.h
  applications/matter_weather_station/src/zap-generated/callback-stub.cpp
  applications/matter_weather_station/src/zap-generated/endpoint_config.h
  applications/matter_weather_station/src/zap-generated/gen_tokens.h
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/light_bulb/src/light_bulb.matter
  samples/matter/light_bulb/src/light_bulb.zap
  samples/matter/light_bulb/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/light_bulb/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/light_bulb/src/zap-generated/access.h
  samples/matter/light_bulb/src/zap-generated/callback-stub.cpp
  samples/matter/light_bulb/src/zap-generated/endpoint_config.h
  samples/matter/light_bulb/src/zap-generated/gen_config.h
  samples/matter/light_switch/README.rst
  samples/matter/light_switch/src/binding_handler.cpp
  samples/matter/light_switch/src/binding_handler.h
  samples/matter/light_switch/src/light_switch.matter
  samples/matter/light_switch/src/light_switch.zap
  samples/matter/light_switch/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/light_switch/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/light_switch/src/zap-generated/callback-stub.cpp
  samples/matter/light_switch/src/zap-generated/endpoint_config.h
  samples/matter/light_switch/src/zap-generated/gen_config.h
  samples/matter/lock/src/lock.matter
  samples/matter/lock/src/lock.zap
  samples/matter/lock/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/lock/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/lock/src/zap-generated/access.h
  samples/matter/lock/src/zap-generated/callback-stub.cpp
  samples/matter/lock/src/zap-generated/endpoint_config.h
  samples/matter/lock/src/zap-generated/gen_config.h
  samples/matter/template/src/template.matter
  samples/matter/template/src/template.zap
  samples/matter/template/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/template/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/template/src/zap-generated/callback-stub.cpp
  samples/matter/template/src/zap-generated/endpoint_config.h
  samples/matter/template/src/zap-generated/gen_config.h
  samples/matter/window_covering/src/window-app.matter
  samples/matter/window_covering/src/window-app.zap
  samples/matter/window_covering/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/window_covering/src/zap-generated/access.h
  samples/matter/window_covering/src/zap-generated/callback-stub.cpp
  samples/matter/window_covering/src/zap-generated/endpoint_config.h
  samples/matter/window_covering/src/zap-generated/gen_config.h
  west.yml
Labels: doc-required, manifest, manifest-matter

#7404 osif: zigbee: corrected energy scan formula
  subsys/zigbee/osif/zb_nrf_transceiver.c
Labels: changelog-entry-required

#8556 manifest: zephyr: Pull restart DHCP APIs
  west.yml
Labels: manifest, manifest-zephyr, manifest-sdk-hostap

#8570 lib: location: Remove PoLTE support
  doc/nrf/libraries/modem/location.rst
  doc/nrf/libraries/networking/multicell_location.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/location.h
  include/net/multicell_location.h
  lib/location/location_core.c
  lib/location/method_cellular.c
  lib/multicell_location/Kconfig
  lib/multicell_location/multicell_location.c
  lib/multicell_location/services/CMakeLists.txt
  lib/multicell_location/services/location_service.c
  lib/multicell_location/services/polte_integration.c
  lib/multicell_location/services/polte_integration.h
  samples/nrf9160/modem_shell/prj.conf
  samples/nrf9160/modem_shell/src/location/location_shell.c
  samples/nrf9160/multicell_location/README.rst
  samples/nrf9160/multicell_location/prj.conf
  samples/nrf9160/multicell_location/src/main.c
Labels: doc-required

#8603 manifest: tfm: Apply hotfix for FOTA download
  west.yml
Labels: bug, manifest, manifest-trusted-firmware-m

#8552 spm: Mark SPM as deprecated
  doc/nrf/releases/release-notes-changelog.rst
  include/secure_services.h
  include/spm.h
  samples/nrf9160/secure_services/CMakeLists.txt
  samples/spm/CMakeLists.txt
  samples/spm/README.rst
  subsys/spm/Kconfig
  tests/subsys/spm/secure_services/CMakeLists.txt
  tests/subsys/spm/thread_swap/CMakeLists.txt
Labels: doc-required

#8549 net: lib: lwm2m_client_utils: Cell measurements only in idle
  include/net/lwm2m_client_utils.h
  samples/nrf9160/lwm2m_client/overlay-assist-cell.conf
  samples/nrf9160/lwm2m_client/src/main.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/neighbour_cell_info.c
Labels: changelog-entry-required

#8572 samples: nrf9160: Remove AWS FOTA sample
  doc/nrf/includes/cert-flashing.txt
  doc/nrf/known_issues.rst
  doc/nrf/libraries/networking/aws_fota.rst
  doc/nrf/libraries/networking/aws_iot.rst
  doc/nrf/libraries/networking/azure_iot_hub.rst
  doc/nrf/releases/release-notes-1.0.0.rst
  doc/nrf/releases/release-notes-1.1.0.rst
  doc/nrf/releases/release-notes-1.6.0.rst
  doc/nrf/releases/release-notes-1.9.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf91_features.rst
  samples/nrf9160/aws_fota/CMakeLists.txt
  samples/nrf9160/aws_fota/Kconfig
  samples/nrf9160/aws_fota/README.rst
  samples/nrf9160/aws_fota/prj.conf
  samples/nrf9160/aws_fota/sample.yaml
  samples/nrf9160/aws_fota/src/main.c
  samples/nrf9160/aws_iot/README.rst
Labels: doc-required

#8579 manifest: nrf_modem: v2.1.2
  west.yml
Labels: manifest, manifest-nrfxlib

#8583 doc: Updating samples converted to use TF-M
  applications/machine_learning/README.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/app_event_manager/README.rst
  samples/app_event_manager_profiler_tracer/README.rst
  samples/bluetooth/central_and_peripheral_hr/README.rst
  samples/bluetooth/central_bas/README.rst
  samples/bluetooth/central_hids/README.rst
  samples/bluetooth/central_smp_client/README.rst
  samples/bluetooth/central_uart/README.rst
  samples/bluetooth/mesh/light/README.rst
  samples/bluetooth/mesh/light_ctrl/README.rst
  samples/bluetooth/mesh/light_switch/README.rst
  samples/bluetooth/mesh/sensor_server/README.rst
  samples/bluetooth/mesh/silvair_enocean/README.rst
  samples/bluetooth/multiple_adv_sets/README.rst
  samples/bluetooth/peripheral_ams_client/README.rst
  samples/bluetooth/peripheral_ancs_client/README.rst
  samples/bluetooth/peripheral_cts_client/README.rst
  samples/bluetooth/peripheral_fast_pair/README.rst
  samples/bluetooth/peripheral_gatt_dm/README.rst
  samples/bluetooth/peripheral_hids_keyboard/README.rst
  samples/bluetooth/peripheral_hids_mouse/README.rst
  samples/bluetooth/peripheral_lbs/README.rst
  samples/bluetooth/peripheral_mds/README.rst
  samples/bluetooth/peripheral_nfc_pairing/README.rst
  samples/bluetooth/peripheral_rscs/README.rst
  samples/bluetooth/peripheral_uart/README.rst
  samples/bluetooth/shell_bt_nus/README.rst
  samples/bluetooth/throughput/README.rst
  samples/edge_impulse/data_forwarder/README.rst
  samples/edge_impulse/wrapper/README.rst
  samples/nfc/record_launch_app/README.rst
  samples/nfc/record_text/README.rst
  samples/nfc/system_off/README.rst
  samples/nfc/tnep_tag/README.rst
  samples/nfc/writable_ndef_msg/README.rst
  samples/nrf9160/gnss/README.rst
  samples/nrf9160/http_update/application_update/README.rst
  samples/nrf9160/lwm2m_carrier/README.rst
  samples/nrf9160/lwm2m_client/sample_description.rst
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/nrf_cloud_rest_cell_pos/README.rst
  samples/nrf9160/nrf_cloud_rest_device_message/README.rst
  samples/nrf9160/nrf_cloud_rest_fota/README.rst
  samples/nrf9160/sms/README.rst
  samples/nrf_profiler/README.rst
  samples/openthread/cli/README.rst
  samples/openthread/coap_client/README.rst
  samples/openthread/coap_server/README.rst
  samples/peripheral/lpuart/README.rst
Labels: doc-required, CI-disable

#8593 bluetooth: samples: Add Peripheral Power Profiling sample
  doc/nrf/images/power_profiling_meas.png
  doc/nrf/images/power_profiling_meas_adv.png
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_power_profiling/CMakeLists.txt
  samples/bluetooth/peripheral_power_profiling/Kconfig
  samples/bluetooth/peripheral_power_profiling/README.rst
  samples/bluetooth/peripheral_power_profiling/child_image/hci_rpmsg.conf
  samples/bluetooth/peripheral_power_profiling/prj.conf
  samples/bluetooth/peripheral_power_profiling/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_power_profiling/sample.yaml
  samples/bluetooth/peripheral_power_profiling/src/main.c
  samples/bluetooth/peripheral_power_profiling/src/pwr_service.c
  samples/bluetooth/peripheral_power_profiling/src/pwr_service.h
Labels: doc-required

#8528 doc: MCUboot documentation update
  doc/mcuboot/conf.py
  doc/mcuboot/index-ncs.rst
  doc/mcuboot/links.txt
  doc/mcuboot/readme-ncs.rst
  doc/mcuboot/shortcuts.txt
  doc/mcuboot/unused_files.rst
  doc/mcuboot/wrapper.rst
Labels: doc-required

#8418 nrf_cloud: unittest: create a test case for nrf_cloud library
  CODEOWNERS
  doc/nrf/releases/release-notes-changelog.rst
  tests/subsys/net/lib/nrf_cloud/CMakeLists.txt
  tests/subsys/net/lib/nrf_cloud/prj.conf
  tests/subsys/net/lib/nrf_cloud/src/main.c
  tests/subsys/net/lib/nrf_cloud/testcase.yaml
Labels: doc-required

#8592 samples: matter: reduce MCUBoot partition size
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/light_bulb/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/light_switch/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/lock/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/template/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/window_covering/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
Labels: doc-required

#8543 doc: Add an Gazell section in the memory optimization guide.
  doc/nrf/app_memory.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8612 doc: updates related to spm deprecation
  doc/nrf/app_power_opt.rst
  doc/nrf/known_issues.rst
  doc/nrf/templates/sample_README.rst
  doc/nrf/ug_multi_image.rst
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_nrf91_features.rst
  doc/nrf/ug_tfm.rst
  samples/spm/README.rst
Labels: doc-required, changelog-entry-required

#8578 samples: bluetooth: nrf_dm: Align the condition for printing messages
  samples/bluetooth/nrf_dm/src/service.c
Labels: changelog-entry-required

#8611 doc improvement : update figure of led states
  doc/nrf/images/nrf_cloud_led_states.svg
  doc/nrf/images/nrf_cloud_led_states.vsdx
Labels: doc-required, changelog-entry-required

#8619 samples: matter: Bug fixes after Matter upmerge
  samples/matter/light_switch/README.rst
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/lock/src/app_task.cpp
  samples/matter/lock/src/lock.matter
  samples/matter/lock/src/lock.zap
  samples/matter/lock/src/zap-generated/endpoint_config.h
  samples/matter/lock/src/zcl_callbacks.cpp
  samples/matter/template/src/app_task.cpp
Labels: bug, doc-required, changelog-entry-required

#8623 samples: lwm2m_client: Don't refer to undefined global variable
  samples/nrf9160/lwm2m_client/scripts/coiote.py
Labels: changelog-entry-required

#8624 applications: nrf5340_audio: Removed QDID in doc
  applications/nrf5340_audio/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#8345 dfu: mcuboot: Rename and move dfu_ctx_mcuboot_set_b1_file
  doc/nrf/releases/release-notes-changelog.rst
  include/dfu/dfu_target_mcuboot.h
  subsys/dfu/dfu_target/src/dfu_target_mcuboot.c
  subsys/net/lib/fota_download/CMakeLists.txt
  subsys/net/lib/fota_download/include/fota_download_util.h
  subsys/net/lib/fota_download/src/fota_download.c
  subsys/net/lib/fota_download/src/fota_download_util.c
  tests/subsys/dfu/dfu_target_mcuboot/CMakeLists.txt
  tests/subsys/dfu/dfu_target_mcuboot/boards/native_posix.overlay
  tests/subsys/dfu/dfu_target_mcuboot/include/pm_config.h
  tests/subsys/dfu/dfu_target_mcuboot/include/stub_nrfx/nrfx.h
  tests/subsys/dfu/dfu_target_mcuboot/prj.conf
  tests/subsys/dfu/dfu_target_mcuboot/src/main.c
  tests/subsys/dfu/dfu_target_mcuboot/testcase.yaml
  tests/subsys/net/lib/fota_download/CMakeLists.txt
  tests/subsys/net/lib/fota_download/prj.conf
  tests/subsys/net/lib/fota_download/src/test_fota_download.c
  tests/subsys/net/lib/fota_download/src/test_fota_download_common.h
  tests/subsys/net/lib/fota_download/src/test_parse_dual_resource_locator.c
Labels: doc-required

#8604 lib: lte_lc: update CEREG scanf format
  doc/nrf/releases/release-notes-changelog.rst
  lib/lte_link_control/lte_lc.c
Labels: bug, doc-required

#8625 applications: asset_tracker_v2: Don't write to security object 0 after bootstrap
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
Labels: bug

#8640 doc improvement: BT MDS sample: fixing the interrupt in a list
  doc/nrf/includes/hci_rpmsg_overlay.txt
  samples/bluetooth/peripheral_mds/README.rst
Labels: doc-required, CI-disable

#8635 doc improvement: minor updates on AWS libraries
  doc/nrf/libraries/networking/aws_fota.rst
  doc/nrf/libraries/networking/aws_iot.rst
Labels: doc-required, changelog-entry-required

#8634 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#8615 matter: pull change to disable Wi-Fi low-power mode by default
  doc/nrf/links.txt
  west.yml
Labels: bug, doc-required, manifest, manifest-matter, changelog-entry-required

#8628 docs: fix CMake arg passing to west build
  applications/nrf5340_audio/README.rst
Labels: doc-required

#8415 lib: modem_key_mgmt: Handle nrf_sec_tag_t as unsigned
  lib/modem_key_mgmt/modem_key_mgmt.c
Labels: changelog-entry-required

#8620 doc: Fill out the missing information about FEMs
  doc/nrf/ug_radio_fem.rst
Labels: doc-required, changelog-entry-required

#8647 doc: doc fixes related to spm deprecation
  doc/nrf/libraries/others/spm.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8651 applications: connectivity_bridge: Increase default transport buffer …
  applications/connectivity_bridge/src/modules/Kconfig
Labels: bugfix

#8649 lib: bin: lwm2m_carrier: place library storage in non-secure region
  lib/bin/lwm2m_carrier/pm.yml.lwm2m_carrier
Labels: changelog-entry-required

#8622 manifest: Update sdk-zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#8637 asset_tracker_v2: bump linked release version of nRF Asset Tracker
  doc/nrf/links.txt
Labels: doc-required, changelog-entry-required

#8639 doc improvement: Update on the supported operating systems table
  doc/nrf/gs_recommended_versions.rst
Labels: doc-required, changelog-entry-required

#8653 doc: matter: improvements to protocol section docs
  doc/matter/index.rst
  doc/nrf/images/matter_components.vsdx
  doc/nrf/ug_matter_device_attestation.rst
  doc/nrf/ug_matter_device_certification.rst
  doc/nrf/ug_matter_device_dcl.rst
  doc/nrf/ug_matter_gs_testing_thread_one_otbr.rst
  doc/nrf/ug_matter_gs_testing_thread_separate_otbr_android.rst
  doc/nrf/ug_matter_gs_testing_thread_separate_otbr_linux_macos.rst
  doc/nrf/ug_matter_gs_testing_wifi_mobile.rst
  doc/nrf/ug_matter_gs_testing_wifi_pc.rst
  doc/nrf/ug_matter_hw_requirements.rst
  doc/nrf/ug_matter_intro_device.rst
  doc/nrf/ug_matter_intro_gs.rst
  doc/nrf/ug_matter_overview_architecture_integration.rst
Labels: doc-required, CI-disable, changelog-entry-required

#8659 Find My: add release notes for v2.1.0
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#8663 bluetooth: fast_pair: Documentation improvements
  doc/nrf/libraries/bluetooth_services/services/fast_pair.rst
Labels: doc-required

#8664 Bluetooth: Mesh: lower SensorCli sample tx seg max
  samples/bluetooth/mesh/sensor_client/prj.conf
Labels: changelog-entry-required

#8666 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#8669 applications: asset_tracker_v2: limit activity events
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
Labels: bugfix

#8668 doc improvement: Update on the supported OS table
  doc/nrf/gs_recommended_versions.rst
Labels: doc-required, changelog-entry-required

#8141 doc/nrf/ug_nrf5340: Documentation on net-core serial recovery
  doc/nrf/ug_nrf5340.rst
Labels: doc-required, changelog-entry-required

#8678 doc improvement: minor updates in nRF7002 DK user guide
  doc/nrf/ug_nrf70.rst
  doc/nrf/ug_nrf7002.rst
Labels: doc-required, CI-disable

#8674 lib: modem_info: modem_info_params_get: enable device info w/o networ…
  lib/modem_info/modem_info_params.c
Labels: bugfix

#8685 Azure failing testing
  applications/asset_tracker_v2/overlay-azure.conf
  applications/asset_tracker_v2/src/cloud/azure_iot_hub_integration.c
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
Labels: bugfix

#8690 application: serial_lte_modem: BUG-FIX MCUBOOT recovery
  applications/serial_lte_modem/child_image/mcuboot.conf
Labels: changelog-entry-required

#8380 lib: nrf_modem: deprecate init ret function
  applications/asset_tracker_v2/src/main.c
  applications/serial_lte_modem/src/main.c
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/nrf_modem_lib.h
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  samples/nrf9160/aws_iot/src/main.c
  samples/nrf9160/azure_fota/src/main.c
  samples/nrf9160/http_update/modem_delta_update/src/main.c
  samples/nrf9160/modem_shell/src/main.c
  samples/nrf9160/nrf_cloud_rest_device_message/src/main.c
  samples/nrf9160/nrf_cloud_rest_fota/src/main.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota_common.c
Labels: doc-required

#8683 asset_tracker_v2: Fix atv2 offline after a carrier_lib FOTA failure
  applications/asset_tracker_v2/src/modules/modem_module.c
Labels: changelog-entry-required

#8694 Revert "ci: update py-pkgs in requirements-fixed.txt"
  scripts/requirements-fixed.txt
Labels: changelog-entry-required

#8687 Wi-Fi: manifest: hostap: Pull Coverity fixes
  west.yml
Labels: manifest, changelog-entry-required, manifest-sdk-hostap

#8691 manifest: update matter sdk version to pull network iterator bugfix
  west.yml
Labels: bug, manifest, manifest-matter, changelog-entry-required

#8700 samples: azure_fota: enable DPS as advertised in docs
  samples/nrf9160/azure_fota/README.rst
  samples/nrf9160/azure_fota/src/main.c
Labels: doc-required, bugfix

#8708 doc: Update Zigbee entries in SW maturity level table [KRKNWK-14567]
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required, changelog-entry-required

#8684 asset_tracker_v2: Workaround for multiple non-secure partitions
  applications/asset_tracker_v2/overlay-carrier.conf
  boards/arm/thingy91_nrf9160/CMakeLists.txt
  boards/arm/thingy91_nrf9160/thingy91_pm_static_lwm2m_carrier.yml
  samples/nrf9160/lwm2m_carrier/prj.conf
Labels: bug

#8707 application: serial_lte_modem: BUG-FIX native-tls
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/overlay-native_tls.conf
Labels: doc-required, changelog-entry-required, bugfix

#8715 doc: fix Thread features maturity
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required, CI-disable, bugfix

#8716 samples: matter: fix the crash during CASE session resumption
  samples/matter/light_switch/src/binding_handler.cpp
  samples/matter/light_switch/src/binding_handler.h
Labels: bugfix

#7900 boards/arm: Add MCUbootr's button and led aliases
  boards/arm/nrf52820dongle_nrf52820/nrf52820dongle_nrf52820.dts
  boards/arm/nrf52833dongle_nrf52833/nrf52833dongle_nrf52833.dts
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_shared.dts
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_common.dts
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_common.dts
Labels: changelog-entry-required, bugfix

#8718 manifest: update zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required, bugfix

#8722 samples: peripheral: lpuart: Fix increased current draw on nRF5340 DK
  samples/peripheral/lpuart/boards/nrf5340dk_nrf5340_cpuapp.overlay
Labels: bug

#8719 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#8675 tests: drivers: lpuart: Trigger rng generator initialization
  tests/drivers/lpuart/src/main.c
Labels: changelog-entry-required

#8577 manifest: Update zephyr with spsc_pbuf fixes
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#8736 caf: ble_smp: Limit number of allocated events
  doc/nrf/libraries/caf/ble_smp.rst
  subsys/caf/modules/ble_smp.c
Labels: doc-required

#8743 asset_tracker_v2: Increase memfault event storage buffer size
  applications/asset_tracker_v2/overlay-memfault.conf
  doc/nrf/releases/release-notes-changelog.rst
Labels: bug, doc-required

#8644 applications: nrf5340_audio: Don't set static addr when using privacy
  applications/nrf5340_audio/src/bluetooth/ble_core.c
Labels: changelog-entry-required, bugfix

#8741 doc: Fix typo in board name
  doc/nrf/ug_thingy53.rst
Labels: doc-required

#8692 dm: Improve API documentation
  include/dm.h
Labels: changelog-entry-required

#8642 samples: nrf9160: lwm2m_client: Use buttons for location assist
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/location_assistance.rst
  samples/nrf9160/lwm2m_client/src/main.c
Labels: doc-required

#8665 mcuboot: tfm: Enable option required by TF-M
  modules/mcuboot/tfm.conf
Labels: changelog-entry-required

#8754 ci: use forked branches of CI/Verification repositories
  Jenkinsfile
  test-manifests/99-default-test-nrf.yml
Labels: changelog-entry-required

#8770 net: lib: lwm2m_client_utils: Move `CONFIG_APP_MCUBOOT_FLASH_BUF_SZ`
  applications/asset_tracker_v2/src/cloud/Kconfig.lwm2m_integration
  samples/nrf9160/lwm2m_client/Kconfig
  subsys/net/lib/lwm2m_client_utils/Kconfig
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
Labels: changelog-entry-required

#8760 net: lib: lwm2m_client_utils: Group location assistance configs
  subsys/net/lib/lwm2m_client_utils/Kconfig
Labels: changelog-entry-required

#8752 doc: known_issues: Add entry for i2c_nrfx_twim not building w/o PINCTRL
  doc/nrf/known_issues.rst
Labels: doc-required

#8670 samples: Automate provisioning
  samples/nrf9160/lwm2m_client/scripts/coiote.py
  samples/nrf9160/lwm2m_client/scripts/device.py
  samples/nrf9160/lwm2m_client/scripts/provision.py
Labels: changelog-entry-required

#8264 bluetooth: remove now unused config
  doc/nrf/app_memory.rst
  samples/bluetooth/peripheral_lbs/prj_minimal.conf
  samples/bluetooth/peripheral_uart/prj_minimal.conf
  subsys/bluetooth/controller/Kconfig
Labels: doc-required, changelog-entry-required

#8289 samples: peripheral_gatt_dm: Fix pairing unref
  samples/bluetooth/peripheral_gatt_dm/src/main.c
Labels: external, changelog-entry-required

#8304 lib: modem_info: move cJSON encoding to lib nrf_cloud_codec
  doc/nrf/libraries/modem/modem_info.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/modem_info.h
  lib/modem_info/CMakeLists.txt
  lib/modem_info/Kconfig
  lib/modem_info/modem_info.c
  lib/modem_info/modem_info_json.c
  samples/nrf9160/nrf_cloud_rest_cell_pos/prj.conf
  samples/nrf9160/nrf_cloud_rest_fota/prj.conf
  subsys/net/lib/nrf_cloud/include/nrf_cloud_codec.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
Labels: doc-required

#8757 applications: nrf5340_audio: Print cleanup
  applications/nrf5340_audio/prj.conf
  applications/nrf5340_audio/src/audio/Kconfig
  applications/nrf5340_audio/src/modules/Kconfig
  applications/nrf5340_audio/src/utils/fw_info_app.c.in
Labels: changelog-entry-required

#8725 doc: Add details about the board version in the LTE BLE Gateway sample
  doc/nrf/known_issues.rst
  samples/nrf9160/lte_ble_gateway/README.rst
Labels: doc-required

#8364 manifest: Cleanup manifest whitelist
  west.yml
Labels: manifest, changelog-entry-required

#8613 mpsl: subsys: Support direct dynamic interrupts
  doc/nrf/libraries/mpsl/mpsl_lib.rst
  include/mpsl/mpsl_lib.h
  subsys/mpsl/init/Kconfig
  subsys/mpsl/init/mpsl_init.c
Labels: doc-required, changelog-entry-required

#8470 partition_manager: Update documentation
  scripts/partition_manager/partition_manager.rst
Labels: doc-required, changelog-entry-required

#8724 doc: update on the library template
  doc/nrf/templates/library_template_README.rst
Labels: doc-required, changelog-entry-required

#8727 doc: Moved glossary menu entry
  doc/nrf/index.rst
Labels: doc-required

#8735 Bluetooth: services: hrs: fix rr_interval_present evaluation statement
  subsys/bluetooth/services/hrs_client.c
Labels: bug, changelog-entry-required

#8746 doc improvement: Add links to Connectivity bridge documentation
  doc/nrf/libraries/bluetooth_services/services/nus.rst
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_thingy91_gsg.rst
Labels: doc-required, CI-disable

#8759 doc: matter: improvements to Adding clusters page
  doc/nrf/ug_matter_gs_adding_clusters.rst
  doc/nrf/ug_matter_gs_tools.rst
Labels: doc-required, changelog-entry-required

#8788 doc: updating nRF Cloud links
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#8733 lib: identity_key: Use CC3XX platform helper func
  lib/identity_key/identity_key.c
Labels: changelog-entry-required

#8787 manifest: openthread: Update openthread bacf8d6.
  west.yml
Labels: manifest, manifest-openthread

#8729 manifest: Bring sdk-mbedtls repo with entropy fix
  west.yml
Labels: manifest, manifest-mbedtls-nrf, changelog-entry-required

#8774 manifest: hostap: Pull bus fault fix
  west.yml
Labels: manifest, changelog-entry-required, manifest-sdk-hostap

#8750 mpsl: cx: Matched nrf7002 with nrf700x coex implementation
  boards/arm/nrf7002dk_nrf5340/Kconfig.defconfig
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_common.dts
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpunet.dts
  boards/shields/nrf7002_ek/nrf7002_ek.overlay
  boards/shields/nrf7002_ek/nrf7002_ek_coex.overlay
  doc/nrf/ug_radio_coex.rst
  dts/bindings/radio_coex/nordic,nrf700x-coex.yaml
  dts/bindings/wifi/nordic,nrf7002.yaml
  subsys/mpsl/cx/CMakeLists.txt
  subsys/mpsl/cx/Kconfig
  subsys/mpsl/cx/nrf700x/mpsl_cx_nrf700x.c
Labels: doc-required, changelog-entry-required

#8789 doc: Gazell ACK Payload Host sample: added message sequence chart
  samples/gazell/gzll_ack_payload_host/README.rst
Labels: doc-required, CI-disable

#8790 applications: nrf_desktop: Add known issue for NCSDK-17088
  doc/nrf/known_issues.rst
Labels: doc-required

#8793 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#8798 samples: crypto: AES GCM sample fix
  samples/crypto/aes_gcm/src/main.c
Labels: Hotfix, changelog-entry-required

#7995 applications: asset_tracker_v2: Handle lwm2m FOTA state changes
  applications/asset_tracker_v2/overlay-lwm2m.conf
  applications/asset_tracker_v2/prj.conf
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/tests/lwm2m_integration/CMakeLists.txt
  applications/asset_tracker_v2/tests/lwm2m_integration/src/lwm2m_integration_test.c
  include/net/lwm2m_client_utils_fota.h
  samples/nrf9160/lwm2m_client/src/main.c
  subsys/net/lib/lwm2m_client_utils/Kconfig
  subsys/net/lib/lwm2m_client_utils/fota/settings.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
Labels: changelog-entry-required

#8747 Bluetooth: Mesh: Prevent trailing zero on UUID gen
  doc/nrf/releases/release-notes-changelog.rst
  subsys/bluetooth/mesh/Kconfig.dk_prov
  subsys/bluetooth/mesh/dk_prov.c
Labels: doc-required

#8720 doc: update on the programming firmware section of Thingy 91
  doc/nrf/ug_thingy91_gsg.rst
Labels: doc-required, changelog-entry-required

#8769 applications: asset_tracker_v2: Implement nRF modem lib fault handler
  applications/asset_tracker_v2/prj.conf
  applications/asset_tracker_v2/src/modules/modem_module.c
Labels: changelog-entry-required

#8792 doc: Doc fixes
  samples/nrf9160/lwm2m_client/provisioning.rst
  samples/nrf9160/lwm2m_client/sample_description.rst
Labels: doc-required, CI-disable, changelog-entry-required

#8617 applications: nrf5340_audio: Include revision number in the shifted hex
  applications/nrf5340_audio/dfu/bin/ble5-ctr-rpmsg_shifted_3303.hex
  applications/nrf5340_audio/dfu/bin/ble5-ctr-rpmsg_shifted_min_3303.hex
  applications/nrf5340_audio/tools/buildprog/buildprog.py
  applications/nrf5340_audio/tools/buildprog/pcft_sign.py
Labels: changelog-entry-required

#8795 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#8305 lib: modem_info: Introduce individual functions to read version info
  include/modem/modem_info.h
  lib/modem_info/modem_info.c
  tests/lib/modem_info/CMakeLists.txt
  tests/lib/modem_info/prj.conf
  tests/lib/modem_info/src/main.c
  tests/lib/modem_info/testcase.yml
Labels: changelog-entry-required

#8796 lib: modem_info: fix return values of encoding functions
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
Labels: bugfix

#8655 modules: memfault: make link clickable
  modules/memfault-firmware-sdk/memfault_integration.c
Labels: changelog-entry-required

#8808 Add VS_ZEPHYR_READ_CHIP_TEMP to make temperature sensor work
  subsys/bluetooth/controller/hci_internal.c
Labels: CI-trusted-author, external, changelog-entry-required

#8801 bluetooth: controller: Allow providing handlers for HCI commands
  subsys/bluetooth/controller/hci_internal.c
  subsys/bluetooth/controller/hci_internal.h
Labels: changelog-entry-required

#8802 manifest: update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib

#8728 drivers: wifi: Dynamic QSPI clock switching
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpuapp_common.dts
  drivers/wifi/nrf700x/zephyr/src/qspi/src/qspi_if.c
Labels: changelog-entry-required

#8809 manifest: update sdk-zephyr revision to bring in updates for Kconfig functions
  west.yml
Labels: manifest, manifest-zephyr

#8811 cmake: pass Zephyr Python version to TF-M build system
  modules/tfm/zephyr/CMakeLists.txt
Labels: changelog-entry-required, bugfix

#8810 doc: update known issues related to modemlib
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#8815 bluetooth: fast_pair: Shorten RPA timeout in configuration
  doc/nrf/libraries/bluetooth_services/services/fast_pair.rst
  samples/bluetooth/peripheral_fast_pair/prj.conf
  samples/bluetooth/peripheral_fast_pair/src/bt_adv_helper.c
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
Labels: doc-required

#8824 applications: nrf_desktop: Simplify BLE scanning configuration
  applications/nrf_desktop/configuration/common/settings_loader_def.h
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/prj.conf
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/prj_release.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/prj.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/prj_release.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/prj.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/prj_release.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/prj.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/prj_release.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_dongle.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_3bleconn.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_4llpmconn.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_release.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_release_4llpmconn.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/prj_release.conf
  applications/nrf_desktop/doc/ble_scan.rst
  applications/nrf_desktop/src/modules/CMakeLists.txt
  applications/nrf_desktop/src/modules/Kconfig.ble
  applications/nrf_desktop/src/modules/ble_scan.c
Labels: doc-required

#8638 mainfest: Add TF-M debug symbols workaround
  west.yml
Labels: manifest, manifest-trusted-firmware-m, changelog-entry-required

#8806 manifest: Fix DTLS 1.2 resumption bug in MbedTLS
  west.yml
Labels: manifest, manifest-mbedtls-nrf, changelog-entry-required

#8398 net: lib: download_client: stop retrying on disconnect
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/download_client/src/download_client.c
Labels: doc-required, CI-trusted-author, external

#8841 samples: bluetooth: Update coex sample overlays
  samples/bluetooth/radio_coex_1wire/boards/nrf52840dk_nrf52840.overlay
  samples/bluetooth/radio_coex_3wire/boards/nrf52840dk_nrf52840.overlay
Labels: changelog-entry-required

#8704 manifest: Add remote for experimental ANT support
  west.yml
Labels: manifest, CI-trusted-author, external, changelog-entry-required, manifest-ant

#8844 version: Update to 2.1.99-dev1
  VERSION
Labels: changelog-entry-required

#8805 applications: asset_tracker_v2: Assert if event pointer is NULL
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/debug_module.c
  applications/asset_tracker_v2/src/modules/gnss_module.c
  applications/asset_tracker_v2/src/modules/led_module.c
  applications/asset_tracker_v2/src/modules/modem_module.c
  applications/asset_tracker_v2/src/modules/modules_common.h
  applications/asset_tracker_v2/src/modules/sensor_module.c
  applications/asset_tracker_v2/src/modules/ui_module.c
  applications/asset_tracker_v2/src/modules/util_module.c
Labels: changelog-entry-required

#8847 doc: update doc after dev tag 2.1.99-dev1
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8734 applications: nrf5340_audio: Bugfix DFU
  applications/nrf5340_audio/CMakeLists.txt
  applications/nrf5340_audio/dfu/conf/overlay-dfu_external_flash.overlay
  applications/nrf5340_audio/src/modules/dfu_entry.c
Labels: changelog-entry-required

#8791 manifest: Update to nrfxlib PR #833
  west.yml
Labels: manifest, manifest-nrfxlib
