Repository nrfconnect/sdk-nrf, pull requests merged in 2022-11, with the labels that each got.

#9106 manifest: Extended advertiser fixes
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#9152 drivers: wifi: Fix powersave configuration for RevB
  drivers/wifi/nrf700x/zephyr/src/zephyr_fmac_main.c
Labels: changelog-entry-required

#8999 codeowners: Update owner for boards and fatal_error
  CODEOWNERS
Labels: changelog-entry-required

#9173 drivers: wifi: Update RPU patch to rev#15
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/rpu_fw_patches.h
Labels: changelog-entry-required

#9186 samples: wifi: sta: Remove unnecessary NULL pointer check
  samples/wifi/sta/src/main.c
Labels: changelog-entry-required

#9179 manifest: revert softdevice_controller and mpsl update
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#9102 manifest: update Matter SDK to facilitate WiFi rev. A builds
  west.yml
Labels: manifest, manifest-matter

#9183 readme: Remove obsolete documentation
  README.rst
Labels: doc-required, changelog-entry-required, backport v2.1-branch

#9080 net: lwm2m_client_utils: Add support for RAI
  doc/nrf/libraries/networking/lwm2m_client_utils.rst
  include/net/lwm2m_client_utils.h
  samples/nrf9160/lwm2m_client/src/main.c
  subsys/net/lib/lwm2m_client_utils/CMakeLists.txt
  subsys/net/lib/lwm2m_client_utils/Kconfig
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_rai.c
Labels: doc-required, changelog-entry-required

#9181 doc: extensions: options for ncs_include
  doc/_extensions/ncs_include/ncs_include.py
Labels: doc-required, changelog-entry-required

#9138 drivers: wifi: Add build time packet RAM length assert
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fmac_bb.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_A/host_rpu_data_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/host_rpu_data_if.h
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/fw_A/rpu_if.h
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/fw_B/rpu_if.h
  drivers/wifi/nrf700x/osal/hw_if/hal/src/hal_api.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_fmac_main.c
Labels: changelog-entry-required

#9167 lib: bin: lwm2m_carrier: Enable RAT switch for in-band FOTA
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
Labels: changelog-entry-required

#9182 bluetooth: Add support for le power control feature commands
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_driver.c
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#9192 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#9109 Samples: Bluetooth: Mesh: light nRF52 DFU support
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/mesh/light/CMakeLists.txt
  samples/bluetooth/mesh/light/README.rst
  samples/bluetooth/mesh/light/include/smp_dfu.h
  samples/bluetooth/mesh/light/overlay-dfu.conf
  samples/bluetooth/mesh/light/src/main.c
  samples/bluetooth/mesh/light/src/smp_dfu.c
Labels: doc-required

#9190 manifest: openthread: update to `d7de666`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#9146 manifest: nrfxlib: Update SDC revision
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#9114 doc: Doc updates for 2.1.2 release
  doc/nrf/conf.py
  doc/nrf/dm_adding_code.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.1.2.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
  west.yml
Labels: doc-required, manifest, CI-disable, manifest-nrfxlib

#9203 emds: Ensure flash is ready before writing emds data
  subsys/emds/emds_flash.c
Labels: changelog-entry-required

#9137 manifest: sdk-zephyr: Pull fix to disable zperf UDP prints
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#9115 doc: Add 2.1.2 to main
  doc/nrf/dm_adding_code.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.1.2.rst
  doc/nrf/shortcuts.txt
  doc/versions.json
Labels: doc-required, CI-disable

#9082 manifest: Enable hal_wurthelektronik project from Zephyr
  scripts/west_commands/ncs_commands.py
  west.yml
Labels: manifest

#9211 actions: manifest: Trigger unconditionally
  .github/workflows/manifest.yml
Labels: changelog-entry-required

#9198 net: lib: lwm2m_client_utils: Fix last packet bug
  subsys/net/lib/lwm2m_client_utils/lwm2m/gnss_assistance_obj.c
Labels: changelog-entry-required

#9217 hotfix: Fix pygit2 version
  scripts/requirements-doc.txt
  scripts/requirements-extra.txt
Labels: CI-disable, Hotfix, changelog-entry-required

#8978 doc: software maturity: add info about deprecation
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/software_maturity.rst
Labels: doc-required, CI-disable

#9199 doc: Update Zephyr version in toolchain installation
  doc/nrf/gs_installing.rst
Labels: doc-required, CI-disable

#9056 docs: Add user guide for Node Remove procedure in Bluetooth mesh
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_bt_mesh.rst
  doc/nrf/ug_bt_mesh_node_removal.rst
Labels: doc-required

#9213 samples: add UART1 board conf for nrf5340 ns
  tests/tfm/tfm_regression_test/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
Labels: changelog-entry-required

#9224 bluetooth: controller: Make randomization configurable.
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#9232 debug: cpu_load: Keep return value consistent
  subsys/debug/cpu_load/cpu_load.c
Labels: changelog-entry-required

#9132 applications: nrf5340_audio: Removed pin fwd in led driver
  applications/nrf5340_audio/src/bluetooth/ble_core.c
  applications/nrf5340_audio/src/modules/led.c
  applications/nrf5340_audio/src/modules/led.h
  boards/arm/nrf5340_audio_dk_nrf5340/board.h
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_common.dts
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_shared.dts
Labels: changelog-entry-required

#8852 scripts: add simple upmerge helper script
  scripts/west-commands.yml
  scripts/west_commands/ncs_commands.py
Labels: CI-disable, changelog-entry-required

#9228 doc: asset_tracker_v2: Add a note about FOTA when enabling PGPS
  applications/asset_tracker_v2/doc/app_behavior.rst
Labels: doc-required

#9210 tfm: cmake: Only define NRF_NS_SECONDARY when it exists
  modules/tfm/zephyr/CMakeLists.txt
Labels: changelog-entry-required, bugfix

#9201 Revert moving MPSL kconfig to sdk nrf
  subsys/mpsl/Kconfig
Labels: changelog-entry-required

#9229 workflow: New workflow to cancel previously running long workflows
  .github/workflows/cancel-previous.yml
Labels: CI-disable

#9185 lib: modem_key_mgmt: update CME error translation
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/modem_key_mgmt.h
  lib/modem_key_mgmt/modem_key_mgmt.c
Labels: doc-required

#9226 samples: nrf5340: multiprotocol_rpmsg: decrease BT_MAX_CONN
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf5340/multiprotocol_rpmsg/prj.conf
Labels: doc-required

#9236 doc: application: serial_lte_modem: Max GNSS fix interval
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
Labels: doc-required, changelog-entry-required

#9239 doc: update nRF Cloud links with a trailing slash
  doc/nrf/includes/nrf_cloud_rest_sample_requirements.txt
  doc/nrf/libraries/networking/multicell_location.rst
  doc/nrf/links.txt
  doc/nrf/ug_nrf_cloud.rst
Labels: doc-required, CI-disable, changelog-entry-required

#9021 doc: fw_info: Update docs to match implementation
  doc/nrf/libraries/others/fw_info.rst
  subsys/fw_info/Kconfig.template.fw_info_ext_api
Labels: doc-required, changelog-entry-required

#9243 doc improvement: fixed dependencies in the Bluetooth DTM sample
  samples/bluetooth/direct_test_mode/README.rst
Labels: doc-required, CI-disable

#8948 doc: Improve documentation for bl_storage and NSIB
  doc/nrf/libraries/bootloader/bl_storage.rst
  include/bl_storage.h
  samples/bootloader/README.rst
  subsys/bootloader/Kconfig
  subsys/bootloader/bl_storage/Kconfig
Labels: doc-required, changelog-entry-required

#9205 Samples: Bluetooth: Mesh: Upd adv param smp dfu
  samples/bluetooth/mesh/light/src/smp_dfu.c
Labels: changelog-entry-required

#9271 samples: bh1749: Fix sample when trigger is disabled
  samples/sensor/bh1749/src/main.c
Labels: changelog-entry-required

#9007 subsystem: net/lib: add wifi_credentials library
  CODEOWNERS
  include/net/wifi_credentials.h
  subsys/net/lib/CMakeLists.txt
  subsys/net/lib/Kconfig
  subsys/net/lib/wifi_credentials/CMakeLists.txt
  subsys/net/lib/wifi_credentials/Kconfig
  subsys/net/lib/wifi_credentials/wifi_credentials.c
  subsys/net/lib/wifi_credentials/wifi_credentials_backend_psa.c
  subsys/net/lib/wifi_credentials/wifi_credentials_backend_settings.c
  subsys/net/lib/wifi_credentials/wifi_credentials_internal.h
  tests/subsys/net/lib/wifi_credentials/CMakeLists.txt
  tests/subsys/net/lib/wifi_credentials/prj.conf
  tests/subsys/net/lib/wifi_credentials/src/main.c
  tests/subsys/net/lib/wifi_credentials/testcase.yaml
  tests/subsys/net/lib/wifi_credentials_backend_psa/CMakeLists.txt
  tests/subsys/net/lib/wifi_credentials_backend_psa/prj.conf
  tests/subsys/net/lib/wifi_credentials_backend_psa/src/main.c
  tests/subsys/net/lib/wifi_credentials_backend_psa/testcase.yaml
  tests/subsys/net/lib/wifi_credentials_backend_settings/CMakeLists.txt
  tests/subsys/net/lib/wifi_credentials_backend_settings/prj.conf
  tests/subsys/net/lib/wifi_credentials_backend_settings/src/main.c
  tests/subsys/net/lib/wifi_credentials_backend_settings/testcase.yaml
Labels: changelog-entry-required

#9255 samples: matter: Fixed enabling DFU over SMP without Matter OTA
  applications/matter_weather_station/CMakeLists.txt
  samples/matter/common/src/dfu_over_smp.cpp
  samples/matter/common/src/ota_util.cpp
  samples/matter/common/src/ota_util.h
  samples/matter/light_bulb/CMakeLists.txt
  samples/matter/light_switch/CMakeLists.txt
  samples/matter/lock/CMakeLists.txt
  samples/matter/window_covering/CMakeLists.txt
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#9276 samples: nrf9160: lwm2m_client: Add proper settings to NB-IoT
  samples/nrf9160/lwm2m_client/overlay-nbiot.conf
  samples/nrf9160/lwm2m_client/overlay-queue.conf
  samples/nrf9160/lwm2m_client/src/main.c
Labels: changelog-entry-required

#9279 drivers: wifi: Update RPU patch to rev#24
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/rpu_fw_patches.h
Labels: changelog-entry-required

#9259 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#8951 treewide: nrf_cloud: Update GPS to GNSS
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/libraries/networking/nrf_cloud.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  samples/nrf9160/lte_ble_gateway/src/alarm.c
  samples/nrf9160/modem_shell/src/cloud/cloud_mqtt_shell.c
  samples/nrf9160/modem_shell/src/cloud/cloud_rest_shell.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
  samples/nrf9160/nrf_cloud_rest_cell_location/src/main.c
  subsys/net/lib/nrf_cloud/include/nrf_cloud_codec.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
Labels: doc-required

#9019 doc: Bluetooth services docs restructuring
  doc/nrf/libraries/bluetooth_services/scan.rst
  doc/nrf/libraries/bluetooth_services/services/ancs_client.rst
  doc/nrf/libraries/bluetooth_services/services/hogp.rst
  doc/nrf/libraries/bluetooth_services/services/hrs_client.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/scan.h
Labels: doc-required

#9155 Bluetooth: Mesh: Update Enocean proxy model
  include/bluetooth/mesh/gen_onoff.h
  include/bluetooth/mesh/vnd/silvair_enocean_srv.h
  subsys/bluetooth/mesh/gen_onoff_cli.c
  subsys/bluetooth/mesh/vnd/Kconfig
  subsys/bluetooth/mesh/vnd/silvair_enocean_srv.c
  tests/subsys/bluetooth/mesh/silvair_enocean_model/CMakeLists.txt
  tests/subsys/bluetooth/mesh/silvair_enocean_model/src/main.c
Labels: changelog-entry-required

#9230 doc: matter: rename network overview page
  doc/nrf/images/matter_network_topologies.png
  doc/nrf/images/matter_network_topologies.svg
  doc/nrf/images/matter_network_topologies.vsdx
  doc/nrf/ug_matter_overview_network_topologies.rst
Labels: doc-required, CI-disable, changelog-entry-required

#9120 net:lib: azure_iot_hub: Fix doc reference to secondary sec tag
  doc/nrf/libraries/networking/azure_iot_hub.rst
Labels: doc-required

#9265 tests: net: lib: azure_iot_hub: Fix uninitialized variable use
  tests/subsys/net/lib/azure_iot_hub/iot_hub/src/azure_iot_hub_test.c
Labels: bugfix

#9188 samples: peripheral_uart: Allow build with security disabled
  doc/nrf/known_issues.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_uart/sample.yaml
  samples/bluetooth/peripheral_uart/src/main.c
Labels: doc-required

#9250 ci: Initial auto-upmerge github action
  .github/workflows/create-upmerge-PRs.yml
  scripts/west_commands/ncs_commands.py
Labels: CI-disable, changelog-entry-required

#9057 doc: nrf: nRF21540 built-in power model doc
  doc/nrf/images/nrf21540_builtin_model_10db_freq_input_gain.png
  doc/nrf/images/nrf21540_builtin_model_10db_freq_temp_gain.png
  doc/nrf/images/nrf21540_builtin_model_10db_freq_volt_gain.png
  doc/nrf/images/nrf21540_builtin_model_20db_freq_input_gain.png
  doc/nrf/images/nrf21540_builtin_model_20db_freq_temp_gain.png
  doc/nrf/images/nrf21540_builtin_model_20db_freq_volt_gain.png
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_radio_fem.rst
Labels: doc-required

#9282 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-zephyr, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#9280 Doc: Improve Mesh sensor documentation
  doc/nrf/libraries/bluetooth_services/mesh/sensor.rst
  doc/nrf/libraries/bluetooth_services/mesh/sensor_types.rst
  include/bluetooth/mesh/sensor.h
Labels: doc-required, changelog-entry-required

#9235 net: lib: nrf_cloud_location: replace cell pos with location
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
  applications/asset_tracker_v2/src/modules/Kconfig.cloud_module
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/gnss/Kconfig
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/libraries/networking/nrf_cloud_cell_pos.rst
  doc/nrf/libraries/networking/nrf_cloud_location.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  include/net/nrf_cloud_cell_pos.h
  include/net/nrf_cloud_location.h
  include/net/nrf_cloud_rest.h
  include/net/wifi_location_common.h
  lib/multicell_location/services/nrf_cloud_integration.c
  samples/nrf9160/lte_ble_gateway/src/main.c
  samples/nrf9160/modem_shell/Kconfig
  samples/nrf9160/modem_shell/src/cloud/cloud_mqtt_shell.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/prj.conf
  samples/nrf9160/nrf_cloud_rest_cell_location/src/main.c
  subsys/net/lib/CMakeLists.txt
  subsys/net/lib/nrf_cloud/CMakeLists.txt
  subsys/net/lib/nrf_cloud/Kconfig
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_location
  subsys/net/lib/nrf_cloud/include/nrf_cloud_codec.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_fsm.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_cell_pos.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fsm.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_location.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: doc-required

#9296 doc improvement: Using nRF Cloud UG: adding link to a script and related doc
  doc/nrf/links.txt
  doc/nrf/ug_nrf_cloud.rst
Labels: doc-required, CI-disable

#9297 manifest: update MCUboot revision
  west.yml
Labels: manifest, manifest-mcuboot

#9273 ci: add CI-run-twister label
  .github/test-spec.yml
Labels: CI-disable, changelog-entry-required

#9338 applications: nrf5340_audio: Fix bidirection stream compile issue
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
Labels: changelog-entry-required

#9322 manifest: openthread: update to `2caab0c`
  west.yml
Labels: manifest, manifest-zephyr, manifest-openthread, changelog-entry-required

#9337 ci: docbuild: drop libclang dependencies
  .github/workflows/docbuild.yml
Labels: CI-disable, changelog-entry-required

#9342 ci: CI-Requested label
  .github/workflows/check-ci-requested.yml
  .github/workflows/remove-ci-requested.yml
Labels: CI-disable, changelog-entry-required

#8387 doc: multi_image: add note on adding image from out of tree
  doc/nrf/ug_multi_image.rst
Labels: doc-required

#9304 dfu: dfu_target: Reset a properly downloaded image on dfu_target_reset()
  doc/nrf/libraries/dfu/dfu_target.rst
  include/dfu/dfu_target.h
  include/dfu/dfu_target_full_modem.h
  include/dfu/dfu_target_mcuboot.h
  include/dfu/dfu_target_modem_delta.h
  include/dfu/dfu_target_stream.h
  subsys/dfu/dfu_target/src/dfu_target.c
  subsys/dfu/dfu_target/src/dfu_target_full_modem.c
  subsys/dfu/dfu_target/src/dfu_target_mcuboot.c
  subsys/dfu/dfu_target/src/dfu_target_modem_delta.c
  subsys/dfu/dfu_target/src/dfu_target_stream.c
  tests/subsys/dfu/dfu_target/mcuboot/src/main.c
Labels: doc-required

#9277 dfu_target: Define TYPE_ANY_MODEM and ANY_APPLICATION types for DFU
  doc/nrf/releases/release-notes-changelog.rst
  include/dfu/dfu_target.h
  subsys/dfu/dfu_target/src/dfu_target.c
  subsys/net/lib/fota_download/src/fota_download.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
  tests/subsys/net/lib/fota_download/src/test_fota_download.c
Labels: doc-required

#9345 openthread: add experimental TCP support
  doc/_scripts/software_maturity/software_maturity_features.yaml
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_supported_features.rst
  samples/openthread/cli/README.rst
  samples/openthread/cli/overlay-tcp.conf
  samples/openthread/cli/sample.yaml
  subsys/net/openthread/Kconfig.defconfig
Labels: doc-required

#9333 changelog: Add changelog entry for DFU reset changes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#9344 samples: matter: Added extracing config file name from CONF_FILE
  samples/matter/light_bulb/CMakeLists.txt
  samples/matter/light_switch/CMakeLists.txt
  samples/matter/lock/CMakeLists.txt
  samples/matter/template/CMakeLists.txt
  samples/matter/window_covering/CMakeLists.txt
Labels: changelog-entry-required

#9358 ci: fix ci-requested logic
  .github/workflows/check-ci-requested.yml
Labels: CI-disable, changelog-entry-required

#9147 applications: nrf5340_audio: Implement minimum MCS functionality
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/ble_audio_services.c
  applications/nrf5340_audio/src/bluetooth/ble_audio_services.h
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/software_maturity.rst
Labels: doc-required

#9368 Revert "applications: nrf5340_audio: Implement minimum MCS functional…
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/ble_audio_services.c
  applications/nrf5340_audio/src/bluetooth/ble_audio_services.h
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/software_maturity.rst
Labels: doc-required

#9363 doc: links.txt housekeeping
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#9323 manifest: Update ble-controller/MPSL revision
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#9346 net: lib: nrf_cloud: cleanup header
  include/net/nrf_cloud.h
  include/net/nrf_cloud_agps.h
  include/net/nrf_cloud_location.h
  include/net/nrf_cloud_pgps.h
  include/net/nrf_cloud_rest.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_codec.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_fota.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_fsm.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_mem.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_transport.h
Labels: changelog-entry-required

#9343 manifest: pull Matter bugfix for Wi-Fi channel and RSSI
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#9356 doc: nrf5340audio: add step about button 4 for dfu
  applications/nrf5340_audio/README.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#9361 doc: cmse: update tfm.txt with link
  doc/nrf/includes/tfm.txt
Labels: doc-required, CI-disable

#9350 codeowners: update owners for openthread
  CODEOWNERS
Labels: CI-disable

#9348 lib: location: wifi: nRF Cloud Wi-Fi over MQTT
  doc/nrf/libraries/modem/location.rst
  doc/nrf/releases/release-notes-changelog.rst
  lib/location/Kconfig
  lib/location/method_wifi.c
  lib/location/wifi/CMakeLists.txt
  lib/location/wifi/wifi_here_rest.c
  lib/location/wifi/wifi_here_rest.h
  lib/location/wifi/wifi_nrf_cloud.c
  lib/location/wifi/wifi_nrf_cloud.h
  lib/location/wifi/wifi_nrf_cloud_rest.c
  lib/location/wifi/wifi_service.c
  lib/location/wifi/wifi_service.h
  samples/nrf9160/location/README.rst
Labels: doc-required

#9353 doc: known_issues: Add missing versions tag to partition manager issue
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#9373 samples: lwm2m_client: link into Zephyr LwM2M...
  samples/nrf9160/lwm2m_client/sample_description.rst
Labels: doc-required, changelog-entry-required

#9372 doc: relax pyyaml requirements
  scripts/requirements-doc.txt
Labels: CI-disable, changelog-entry-required

#9335 samples: peripheral: 802154_phy_test: fix compilation error
  samples/peripheral/802154_phy_test/src/ctrl/ptt_zb_perf_cmd_mode_uart.c
Labels: changelog-entry-required

#9291 bluetooth: extended adv reports with legacy content discardable
  subsys/bluetooth/controller/hci_driver.c
Labels: changelog-entry-required

#9378 doc: update Matter known issues for 2.1.1 and 2.1.2 releases
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#9311 CODEOWNERS: Update owners of the peripheral/radio_test sample.
  CODEOWNERS
Labels: changelog-entry-required

#8908 applications: asset_tracker_v2: Rework passive mode
  applications/asset_tracker_v2/boards/thingy91_nrf9160_ns.conf
  applications/asset_tracker_v2/boards/thingy91_nrf9160_ns.overlay
  applications/asset_tracker_v2/doc/app_behavior.rst
  applications/asset_tracker_v2/doc/data_module.rst
  applications/asset_tracker_v2/doc/ui_module.rst
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#9329 Wifi util shell
  drivers/wifi/nrf700x/CMakeLists.txt
  drivers/wifi/nrf700x/Kconfig.nrf700x
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fmac_api.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_A/host_rpu_sys_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_A/host_rpu_umac_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/host_rpu_umac_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/fmac_api.c
  drivers/wifi/nrf700x/zephyr/inc/zephyr_fmac_main.h
  drivers/wifi/nrf700x/zephyr/src/zephyr_wifi_util.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_wifi_util.h
Labels: changelog-entry-required, manifest-sdk-hostap

#9283 tree: prefix cmock generated wrap functions with __wrap_cmock
  applications/asset_tracker_v2/tests/debug_module/src/debug_module_test.c
  applications/asset_tracker_v2/tests/location_module/src/location_module_test.c
  applications/asset_tracker_v2/tests/lwm2m_codec/src/lwm2m_codec_test.c
  applications/asset_tracker_v2/tests/lwm2m_integration/src/lwm2m_integration_test.c
  applications/asset_tracker_v2/tests/nrf_cloud_codec_mocked_cjson/src/nrf_cloud_codec_mocked_test.c
  applications/asset_tracker_v2/tests/ui_module/src/ui_module_test.c
  doc/nrf/ug_unity_testing.rst
  scripts/unity/func_name_list.py
  scripts/unity/header_prepare.py
  tests/lib/location/src/location_test.c
  tests/lib/modem_jwt/src/jwt_test.c
  tests/lib/nrf_modem_lib/nrf91_sockets/src/nrf91_sockets_test.c
  tests/lib/nrf_modem_lib/nrf_modem_lib_trace/src/main.c
  tests/lib/nrf_modem_lib/trace_backends/rtt/src/main.c
  tests/lib/nrf_modem_lib/trace_backends/uart/src/main.c
  tests/lib/sms/src/sms_test.c
  tests/subsys/net/lib/azure_iot_hub/dps/src/azure_iot_hub_dps_test.c
  tests/subsys/net/lib/azure_iot_hub/iot_hub/src/azure_iot_hub_test.c
  tests/subsys/net/lib/azure_iot_hub/mqtt/src/azure_iot_hub_mqtt_test.c
  tests/unity/CMakeLists.txt
  tests/unity/example_test/src/example_test.c
  tests/unity/wrap_test/src/wrap_test.c
Labels: doc-required, changelog-entry-required

#9290 samples: zigbee: fix array-bounds warning
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
Labels: bugfix

#9374 doc: vsc: rework links after doc reorg
  doc/nrf/gs_installing.rst
  doc/nrf/gs_modifying.rst
  doc/nrf/gs_programming.rst
  doc/nrf/gs_testing.rst
  doc/nrf/gs_updating.rst
  doc/nrf/includes/build_and_run.txt
  doc/nrf/includes/build_and_run_ns.txt
  doc/nrf/includes/vsc_build_and_run.txt
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/migration/migration_guide_1.x_to_2.x.rst
  doc/nrf/releases/release-notes-2.0.0.rst
  doc/nrf/ug_nrf52_gs.rst
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_thread_certification.rst
Labels: doc-required, CI-disable

#9234 samples: mmss: Add Wi-Fi location tracking support
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/Kconfig
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/nrf9160dk_with_nrf7002ek.overlay
  samples/nrf9160/nrf_cloud_mqtt_multi_service/overlay-nrf7002ek-wifi-scan-only.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.c
Labels: doc-required

#9397 drivers: wifi: Enable low power mode by default
  drivers/wifi/nrf700x/Kconfig.nrf700x
Labels: changelog-entry-required

#9357 manifest: update sdk-nrf-802154 revision
  doc/nrf/releases/release-notes-changelog.rst
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib, manifest-nrf-802154

#9395 net: lib: wifi_credentials: fix build warning
  subsys/net/lib/wifi_credentials/wifi_credentials.c
Labels: changelog-entry-required

#9402 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#9223 Add wifi statistics
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_A/host_rpu_sys_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_A/rpu_fw_patches.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/host_rpu_sys_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/rpu_fw_patches.h
  drivers/wifi/nrf700x/zephyr/inc/zephyr_net_if.h
  drivers/wifi/nrf700x/zephyr/src/zephyr_fmac_main.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_net_if.c
Labels: changelog-entry-required

#9379 doc: lwm2m location assistance library API usage
  doc/nrf/libraries/networking/lwm2m_location_assistance.rst
Labels: doc-required, changelog-entry-required

#9385 manifest: Update Zephyr
  west.yml
Labels: manifest, manifest-zephyr

#8881 kconfig: manifest: remove downstream patch for offset
  Kconfig.nrf
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#9403 manifest: Update ble-controller/MPSL revision
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#9416 applications: nrf5340_audio: Implement minimum MCS functionality
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/ble_audio_services.c
  applications/nrf5340_audio/src/bluetooth/ble_audio_services.h
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/software_maturity.rst
Labels: doc-required

#9382 manifest: update Memfault firmware SDK
  west.yml
Labels: manifest, manifest-memfault-firmware-sdk

#9415 applications: nrf_desktop: Update BLE scan module documentation
  applications/nrf_desktop/doc/ble_scan.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#9325 lib: location: Improve LTE-GNSS interworking and GNSS priority mode
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/location.h
  lib/location/location.c
  lib/location/method_gnss.c
  samples/nrf9160/modem_shell/src/location/location_shell.c
Labels: doc-required

#9268 applications: nrf5340_audio: Add CSIS into headsets
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/software_maturity.rst
Labels: doc-required

#9422 applications: asset_tracker_v2: Add docs entry for nRF cloud codec test
  applications/asset_tracker_v2/doc/unit_test.rst
Labels: doc-required, changelog-entry-required

#9206 manifest: Update TF-M
  modules/tfm/tfm/boards/partition/region_defs.h
  samples/tfm/tfm_hello_world/child_image/mcuboot.conf
  west.yml
Labels: manifest, manifest-trusted-firmware-m, changelog-entry-required

#9340 tests: tfm: Added cc3xx and oberon crypto backends to test variants
  tests/tfm/tfm_regression_test/testcase.yaml
Labels: changelog-entry-required

#9376 samples: bluetooth: mesh: light: Fix SMP service advertising
  samples/bluetooth/mesh/light/include/smp_dfu.h
  samples/bluetooth/mesh/light/overlay-dfu.conf
  samples/bluetooth/mesh/light/src/main.c
  samples/bluetooth/mesh/light/src/smp_dfu.c
Labels: changelog-entry-required

#9441 applications: nrf_desktop: Fast Pair doc fix
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/fast_pair_app.rst
Labels: doc-required, changelog-entry-required

#9444 applications: nrf5340_audio: Update LC3 config path and BIS compile warning
  applications/nrf5340_audio/src/audio/Kconfig
  applications/nrf5340_audio/src/bluetooth/CMakeLists.txt
Labels: changelog-entry-required

#9426 applications: nrf_desktop: Update USB state documentation
  applications/nrf_desktop/doc/usb_state.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#9401 samples: peripheral_fast_pair: Update documentation
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_fast_pair/README.rst
Labels: doc-required

#9386 samples: doc: tfm_secure_peripheral: IRQ output from SPE
  samples/tfm/tfm_secure_peripheral/README.rst
Labels: doc-required, changelog-entry-required

#9347 esb: subsys: Support direct dynamic interrupts
  doc/nrf/releases/release-notes-changelog.rst
  subsys/esb/Kconfig
  subsys/esb/esb.c
Labels: doc-required

#9248 CODEOWNERS: Update mcuboot codeowners
  CODEOWNERS
Labels: changelog-entry-required

#9161 manifest: Update zephyr to include mcumgr fixes
  west.yml
Labels: manifest, manifest-zephyr, manifest-nrfxlib, changelog-entry-required

#9447 applications: asset_tracker_v2: Disable builds for carrier lib + thingy
  applications/asset_tracker_v2/sample.yaml
Labels: changelog-entry-required

#9434 applications: nrf5340_audio: Controller update
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3307.hex
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3310.hex
  applications/nrf5340_audio/bin/manifest.yaml
  applications/nrf5340_audio/dfu/bin/ble5-ctr-rpmsg_shifted_3307.hex
  applications/nrf5340_audio/dfu/bin/ble5-ctr-rpmsg_shifted_3310.hex
  applications/nrf5340_audio/dfu/bin/ble5-ctr-rpmsg_shifted_min_3307.hex
  applications/nrf5340_audio/dfu/bin/ble5-ctr-rpmsg_shifted_min_3310.hex
  applications/nrf5340_audio/dfu/bin/manifest.yaml
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8699 modules: mcuboot: Allow multi-image to be used without BOOT_UPGRADE_ONLY
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf5340.rst
  modules/mcuboot/Kconfig
  modules/mcuboot/boot/zephyr/Kconfig
Labels: doc-required

#9421 manifest: Updated Matter module revision to pull factory data fix
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#9428 applications: nrf5340_audio: Support more than one BIS on headsets
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/src/audio/Kconfig
  applications/nrf5340_audio/src/audio/Kconfig.defaults
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/bluetooth/ble_audio_services.c
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  applications/nrf5340_audio/src/main.c
  applications/nrf5340_audio/src/modules/button_assignments.h
  applications/nrf5340_audio/src/modules/button_handler.c
  applications/nrf5340_audio/src/modules/dfu_entry.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#9033 security: Basic PSA certification level 2 support
  doc/nrf/libraries/bootloader/bl_storage.rst
  doc/nrf/nrf.doxyfile.in
  doc/nrf/releases/release-notes-changelog.rst
  include/bl_storage.h
  modules/tfm/tfm/boards/CMakeLists.txt
  modules/tfm/tfm/boards/common/attest_hal.c
  modules/tfm/tfm/boards/common/config.cmake
  modules/tfm/tfm/boards/common/nrf_provisioning.c
  modules/tfm/tfm/boards/common/nrf_provisioning.h
  modules/tfm/tfm/boards/common/tfm_hal_platform.c
  modules/tfm/zephyr/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
  samples/bootloader/pm.yml
  samples/nrf5340/netboot/Kconfig
  samples/nrf5340/netboot/pm.yml
  samples/nrf5340/netboot/src/main.c
  samples/tfm/provisioning_image/CMakeLists.txt
  samples/tfm/provisioning_image/Kconfig
  samples/tfm/provisioning_image/README.rst
  samples/tfm/provisioning_image/cpunet_image/CMakeLists.txt
  samples/tfm/provisioning_image/cpunet_image/prj.conf
  samples/tfm/provisioning_image/cpunet_image/src/main.c
  samples/tfm/provisioning_image/cpunet_module/CMakeLists.txt
  samples/tfm/provisioning_image/prj.conf
  samples/tfm/provisioning_image/sample.yaml
  samples/tfm/provisioning_image/src/config_implementation_id.h
  samples/tfm/provisioning_image/src/main.c
  samples/tfm/provisioning_image/zephyr/module.yml
  samples/tfm/tfm_hello_world/README.rst
  samples/tfm/tfm_hello_world/src/main.c
  scripts/bootloader/provision.py
  subsys/bootloader/CMakeLists.txt
  subsys/bootloader/Kconfig
  subsys/bootloader/bl_crypto/Kconfig
  subsys/bootloader/bl_crypto/bl_crypto.c
  subsys/bootloader/bl_storage/bl_storage.c
  subsys/bootloader/bl_validation/Kconfig
  subsys/bootloader/bl_validation/bl_validation.c
  subsys/partition_manager/CMakeLists.txt
  subsys/partition_manager/pm.yml.secure_boot_storage
  tests/subsys/bootloader/bl_storage/src/main.c
  tests/subsys/bootloader/bl_validation/prj.conf
  tests/subsys/bootloader/bl_validation_neg/prj.conf
  tests/subsys/bootloader/bl_validation_neg/src/main.c
Labels: doc-required

#9442 doc: Fix doc for TF-M PSA and regression tests
  doc/nrf/releases/release-notes-changelog.rst
  tests/tfm/tfm_psa_test/README.rst
  tests/tfm/tfm_regression_test/README.rst
Labels: doc-required

#9364 samples: nrf9160: Add modem traces to flash sample
  CODEOWNERS
  doc/nrf/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/Kconfig.modemlib
  lib/nrf_modem_lib/nrf_modem_lib_trace.c
  samples/nrf9160/modem_trace_flash/CMakeLists.txt
  samples/nrf9160/modem_trace_flash/Kconfig
  samples/nrf9160/modem_trace_flash/Kconfig.trace_flash
  samples/nrf9160/modem_trace_flash/Kconfig.trace_storage
  samples/nrf9160/modem_trace_flash/README.rst
  samples/nrf9160/modem_trace_flash/boards/nrf9160dk_nrf9160_ns.conf
  samples/nrf9160/modem_trace_flash/boards/nrf9160dk_nrf9160_ns.overlay
  samples/nrf9160/modem_trace_flash/prj.conf
  samples/nrf9160/modem_trace_flash/sample.yaml
  samples/nrf9160/modem_trace_flash/src/main.c
  samples/nrf9160/modem_trace_flash/src/trace_flash_backend.c
  samples/nrf9160/modem_trace_flash/src/trace_storage.c
  samples/nrf9160/modem_trace_flash/src/trace_storage.h
  subsys/partition_manager/CMakeLists.txt
  subsys/partition_manager/pm.yml.modem_trace
Labels: doc-required

#9432 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#9424 Bluetooth: Mesh: Fixed extended advertiser for nRF5340
  doc/nrf/shortcuts.txt
  samples/bluetooth/mesh/light/README.rst
  samples/bluetooth/mesh/light/child_image/hci_rpmsg.conf
  samples/bluetooth/mesh/light_ctrl/README.rst
  samples/bluetooth/mesh/light_ctrl/child_image/hci_rpmsg.conf
  samples/bluetooth/mesh/light_switch/README.rst
  samples/bluetooth/mesh/light_switch/child_image/hci_rpmsg.conf
  samples/bluetooth/mesh/sensor_server/README.rst
  samples/bluetooth/mesh/sensor_server/child_image/hci_rpmsg.conf
  samples/bluetooth/mesh/silvair_enocean/README.rst
  samples/bluetooth/mesh/silvair_enocean/child_image/hci_rpmsg.conf
Labels: bug, doc-required

#9418 doc: Drop read only functionality for bl_storage library from app
  doc/nrf/libraries/bootloader/bl_storage.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#9430 bluetooth: fast_pair: Add Personalized Name documentation
  doc/nrf/libraries/bluetooth_services/services/fast_pair.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_fast_pair/README.rst
Labels: doc-required

#9437 applications: nrf_desktop: Document new configuration options
  applications/nrf_desktop/README.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#9299 esb: ESB refactoring
  include/esb.h
  subsys/esb/Kconfig
  subsys/esb/esb.c
Labels: changelog-entry-required

#9454 Samples: wifi: Fix for Scan sample
  samples/wifi/scan/prj.conf
Labels: changelog-entry-required

#9452 applications: nrf_desktop: Minor fix in Fast Pair doc
  applications/nrf_desktop/README.rst
Labels: doc-required, CI-disable

#8912 doc: add info on fota in bt mesh to nRF52/53 ug
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/nrf/ug_bt_mesh.rst
  doc/nrf/ug_bt_mesh_fota.rst
  doc/nrf/ug_nrf52_developing.rst
  doc/nrf/ug_nrf5340.rst
  samples/bluetooth/mesh/light/README.rst
  samples/bluetooth/mesh/light/src/smp_dfu.c
Labels: doc-required

#9298 doc: Doc fixes
  applications/machine_learning/README.rst
  cmake/multi_image.cmake
  doc/nrf/app_boards.rst
  doc/nrf/app_build_system.rst
  doc/nrf/glossary.rst
  doc/nrf/gs_installing.rst
  doc/nrf/includes/sample_dtm_radio_test_skyworks.txt
  doc/nrf/known_issues.rst
  doc/nrf/libraries/networking/lwm2m_client_utils.rst
  doc/nrf/libraries/networking/nrf_cloud.rst
  doc/nrf/libraries/others/sfloat.rst
  doc/nrf/ug_matter_overview_network_topologies.rst
  doc/nrf/ug_matter_overview_security.rst
  doc/nrf/ug_radio_coex.rst
  doc/nrf/ug_radio_fem.rst
  doc/nrf/ug_thread_certification.rst
  include/bluetooth/scan.h
  include/bluetooth/services/cgms.h
  include/modem/modem_info.h
  include/net/lwm2m_client_utils.h
  include/net/nrf_cloud_pgps.h
  samples/bluetooth/direct_test_mode/README.rst
  samples/bluetooth/mesh/light_switch/README.rst
  samples/bluetooth/peripheral_mds/README.rst
  samples/bluetooth/throughput/README.rst
  samples/bootloader/README.rst
  samples/crypto/psa_tls/README.rst
  samples/matter/light_bulb/README.rst
  samples/peripheral/radio_test/README.rst
  samples/tfm/tfm_secure_peripheral/README.rst
  samples/wifi/radio_test/radio_test_subcommands.rst
  samples/wifi/radio_test/sample_description.rst
  samples/wifi/shell/README.rst
  samples/zigbee/ncp/README.rst
  scripts/partition_manager/partition_manager.rst
Labels: doc-required, changelog-entry-required

#9204 samples: tfm_cert: Add reference TF-M sample for PSA Certified Level 2
  doc/nrf/releases/release-notes-changelog.rst
  samples/tfm/tfm_cert/CMakeLists.txt
  samples/tfm/tfm_cert/README.rst
  samples/tfm/tfm_cert/boards/nrf9160dk_nrf9160_ns.conf
  samples/tfm/tfm_cert/boards/nrf9160dk_nrf9160_ns.overlay
  samples/tfm/tfm_cert/child_image/mcuboot/prj.conf
  samples/tfm/tfm_cert/prj.conf
  samples/tfm/tfm_cert/sample.yaml
  samples/tfm/tfm_cert/src/main.c
Labels: doc-required

#9443 matter: pull fixes for heap usage
  west.yml
Labels: bug, manifest, manifest-matter

#9419 bluetooth: controller support for sending PASTs
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_driver.c
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#9129 cmake: multi_image: match ^CLI_CONFIG in addition to ^CONFIG_
  cmake/multi_image.cmake
Labels: changelog-entry-required, bugfix

#9365 Bluetooth: Mesh: Use deferred log for Friendship
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/prj.conf
  samples/bluetooth/mesh/chat/prj.conf
  samples/bluetooth/mesh/light/prj.conf
  samples/bluetooth/mesh/light_ctrl/prj.conf
  samples/bluetooth/mesh/light_switch/prj.conf
  samples/bluetooth/mesh/sensor_client/prj.conf
  samples/bluetooth/mesh/sensor_server/prj.conf
  samples/bluetooth/mesh/silvair_enocean/prj.conf
Labels: changelog-entry-required

#9046 manifest: Update sdk-ant revision
  scripts/quarantine.yaml
  west.yml
Labels: manifest, CI-trusted-author, external, changelog-entry-required, manifest-ant
