Repository nrfconnect/sdk-nrf, pull requests merged in 2022-10, with the labels that each got.

#8782 doc: Memory footprint optimization for mesh
  doc/nrf/app_memory.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8803 Doc: Overview of nrf5340_audio features
  applications/nrf5340_audio/README.rst
  doc/nrf/software_maturity.rst
Labels: doc-required, changelog-entry-required

#8868 samples: matter: fix starting the BLE advertisement from UI (lock app)
  samples/matter/lock/src/app_task.cpp
Labels: changelog-entry-required

#8886 samples: nrf_cloud_rest_cell_pos: Rename to cell_location
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_rest_cell_location/CMakeLists.txt
  samples/nrf9160/nrf_cloud_rest_cell_location/Kconfig
  samples/nrf9160/nrf_cloud_rest_cell_location/README.rst
  samples/nrf9160/nrf_cloud_rest_cell_location/include/buttons_def.h
  samples/nrf9160/nrf_cloud_rest_cell_location/prj.conf
  samples/nrf9160/nrf_cloud_rest_cell_location/sample.yaml
  samples/nrf9160/nrf_cloud_rest_cell_location/src/main.c
Labels: doc-required

#8835 bluetooth: adv_prov: Change bond count to pairing mode
  applications/machine_learning/src/util/bt_le_adv_prov_uuid128.c
  applications/nrf_desktop/src/util/bt_le_adv_prov_uuid16.c
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/adv_prov.h
  subsys/bluetooth/adv_prov/providers/Kconfig.flags
  subsys/bluetooth/adv_prov/providers/Kconfig.gap_appearance
  subsys/bluetooth/adv_prov/providers/Kconfig.swift_pair
  subsys/bluetooth/adv_prov/providers/flags.c
  subsys/bluetooth/adv_prov/providers/gap_appearance.c
  subsys/bluetooth/adv_prov/providers/swift_pair.c
  subsys/caf/modules/ble_adv.c
Labels: doc-required

#8783 samples: bluetooth: mesh: sensor sample features
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/mesh/sensor_client/README.rst
  samples/bluetooth/mesh/sensor_client/src/model_handler.c
  samples/bluetooth/mesh/sensor_server/README.rst
  samples/bluetooth/mesh/sensor_server/src/model_handler.c
Labels: doc-required, CI-trusted-author, external

#8895 samples: nrf9160: lwm2m_client: Fix wrong level resource data type
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_buzzer.c
Labels: changelog-entry-required

#8889 bluetooth: fast_pair: Disable automatic security re-establishment
  doc/nrf/libraries/bluetooth_services/services/fast_pair.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
Labels: doc-required

#8899 samples: nrf9160: modem_shell: Fix POLLHUP info during recv()
  samples/nrf9160/modem_shell/src/sock/sock.c
Labels: changelog-entry-required

#8902 doc: sml: remove amazon frustration free setup row
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required, changelog-entry-required

#8890 applications: nrf5340_audio: Update controller version to 3307
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3303.hex
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3307.hex
  applications/nrf5340_audio/bin/manifest.yaml
  applications/nrf5340_audio/dfu/bin/ble5-ctr-rpmsg_shifted_3303.hex
  applications/nrf5340_audio/dfu/bin/ble5-ctr-rpmsg_shifted_3307.hex
  applications/nrf5340_audio/dfu/bin/ble5-ctr-rpmsg_shifted_min_3303.hex
  applications/nrf5340_audio/dfu/bin/ble5-ctr-rpmsg_shifted_min_3307.hex
  applications/nrf5340_audio/dfu/bin/manifest.yaml
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8614 applications: nrf5340_audio: Include mandatory codec support
  applications/nrf5340_audio/LICENSE
  applications/nrf5340_audio/src/audio/Kconfig
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/audio_datapath.h
  applications/nrf5340_audio/src/audio/audio_sync_timer.c
  applications/nrf5340_audio/src/audio/audio_sync_timer.h
  applications/nrf5340_audio/src/audio/sw_codec_select.c
  applications/nrf5340_audio/src/bluetooth/Kconfig
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/drivers/cs47l63_reg_conf.h
  applications/nrf5340_audio/src/modules/audio_i2s.c
  applications/nrf5340_audio/src/modules/audio_i2s.h
  doc/nrf/releases/release-notes-changelog.rst
  scripts/ci/license_allow_list.yaml
Labels: doc-required, manifest-sdk-lc3

#8817 doc: Restructure About the NCS page
  doc/nrf/introduction.rst
Labels: doc-required, changelog-entry-required

#8858 tfm: Add support for configurable baud rate
  modules/tfm/tfm/boards/board/device_cfg.h
  west.yml
Labels: manifest, manifest-trusted-firmware-m, changelog-entry-required

#8891 CODEOWNERS: modem info test
  CODEOWNERS
Labels: changelog-entry-required

#8894 CODEOWNERS: sensor manager test
  CODEOWNERS
Labels: changelog-entry-required

#8863 samples: nrf9160: MQTT Simple: Add shell command
  samples/nrf9160/mqtt_simple/Kconfig
  samples/nrf9160/mqtt_simple/README.rst
  samples/nrf9160/mqtt_simple/overlay-tls.conf
  samples/nrf9160/mqtt_simple/prj.conf
  samples/nrf9160/mqtt_simple/src/main.c
Labels: doc-required, changelog-entry-required

#8903 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#6593 lib: nrf_modem: Add more strict AF filtering when choosing nRF91 sockets
  lib/nrf_modem_lib/nrf91_sockets.c
Labels: changelog-entry-required

#8842 manifest: update sdk-zephyr
  Kconfig.nrf
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#6912 tests: lib: nrf_modem_lib: test socket offloading
  CODEOWNERS
  doc/nrf/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/nrf91_sockets.c
  tests/lib/nrf_modem_lib/nrf91_sockets/CMakeLists.txt
  tests/lib/nrf_modem_lib/nrf91_sockets/prj.conf
  tests/lib/nrf_modem_lib/nrf91_sockets/src/nrf91_sockets_test.c
  tests/lib/nrf_modem_lib/nrf91_sockets/testcase.yaml
Labels: doc-required, manifest-zephyr, manifest-nrfxlib

#8818 applications: asset_tracker_v2: Update event handling
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
  applications/asset_tracker_v2/tests/lwm2m_integration/src/lwm2m_integration_test.c
Labels: changelog-entry-required

#8922 applications: nrf5340_audio: Add return in FIFO RX block drop function
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/audio_system.c
  applications/nrf5340_audio/src/audio/audio_system.h
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/modules/audio_usb.c
  applications/nrf5340_audio/src/utils/data_fifo.c
  applications/nrf5340_audio/src/utils/data_fifo.h
  tests/nrf5340_audio/data_fifo/main.c
Labels: changelog-entry-required

#8887 doc: nrf5340 audio: fix BT module figure
  doc/nrf/images/octave_application_structure.svg
  doc/nrf/images/octave_application_structure.vsdx
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#8918 [ant]: Update sdk-ant revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-ant

#8878 samples: wifi: Scan sample documentation
  samples/wifi/scan/README.rst
Labels: doc-required

#8910 manifest: sdk-hostap: Fix mutex unlock
  west.yml
Labels: manifest, changelog-entry-required, manifest-sdk-hostap

#8927 manifest: openthread: Regular OpenThread update.
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#8931 applications: nrf5340_audio: Minor documentation fixes
  applications/nrf5340_audio/README.rst
Labels: doc-required, changelog-entry-required

#8376 bluetooth: rpc: serialize bt_hci_cmd_send_sync
  subsys/bluetooth/rpc/client/bt_rpc_internal_client.c
  subsys/bluetooth/rpc/common/bt_rpc_common.h
  subsys/bluetooth/rpc/host/bt_rpc_internal_host.c
Labels: changelog-entry-required

#8916 event_manager_proxy: Add delay after ipc_send error
  subsys/event_manager_proxy/event_manager_proxy.c
Labels: changelog-entry-required

#8925 net: lib: nrf_cloud: properly handle sequential connect calls
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
Labels: changelog-entry-required

#8946 doc: small table fix
  doc/nrf/ug_nrf52.rst
Labels: doc-required

#8933 doc: add known issues related to machine learning
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#8938 doc: openthread: remove `overlay-cert.conf`
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_certification.rst
  doc/nrf/ug_thread_ot_memory.rst
  samples/openthread/cli/harness/nRF_Connect_SDK.jpg
  samples/openthread/cli/harness/overlay-cert.conf
Labels: doc-required

#8900 samples: lwm2m_client: Trigger LwM2M RD client update after TAU pre-w…
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_lte_notification.c
Labels: changelog-entry-required

#8857 manifest: sdk-zephyr: Fix nRF Wi-Fi management events
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#8721 scripts: sbom: Version 3.18 of SPDX License List
  doc/nrf/releases/release-notes-changelog.rst
  scripts/west_commands/sbom/data/spdx-licenses.yaml
Labels: doc-required

#7889 Improve throughput sample user interface
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/throughput/README.rst
  samples/bluetooth/throughput/src/cmds.c
  samples/bluetooth/throughput/src/img.file
  samples/bluetooth/throughput/src/main.c
  samples/bluetooth/throughput/src/main.h
Labels: doc-required

#8876 samples: wifi: Add STA sample
  doc/nrf/releases/release-notes-changelog.rst
  samples/wifi/sta/CMakeLists.txt
  samples/wifi/sta/Kconfig
  samples/wifi/sta/README.rst
  samples/wifi/sta/prj.conf
  samples/wifi/sta/sample.yaml
  samples/wifi/sta/src/main.c
Labels: doc-required

#8832 bluetooth: mesh: Fix in Time srv API
  include/bluetooth/mesh/time_srv.h
  subsys/bluetooth/mesh/time_srv.c
Labels: external, changelog-entry-required

#8963 net: lib: nrf_cloud: improve function comments and nrf_cloud_uninit
  include/net/nrf_cloud.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
Labels: changelog-entry-required

#8831 doc: README bootloader update
  doc/mcuboot/links.txt
  doc/mcuboot/readme-ncs.rst
  doc/nrf/app_build_system.rst
  doc/nrf/ug_fw_update.rst
  doc/nrf/ug_multi_image.rst
  samples/bootloader/README.rst
Labels: doc-required, changelog-entry-required

#8859 drivers: wifi: Allow only single scan at a time
  drivers/wifi/nrf700x/zephyr/src/zephyr_disp_scan.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_wpa_supp_if.c
Labels: changelog-entry-required

#8834 net: lib: lwm2m_client_utils: Fix state changes when URI written
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
Labels: changelog-entry-required

#8967 samples: nrf9160: modem_shell: fix jam caused by toggling UART on/off
  samples/nrf9160/modem_shell/src/main.c
Labels: changelog-entry-required

#8970 samples: wifi: Station sample documentation
  samples/wifi/sta/README.rst
Labels: doc-required

#8962 manifest: sdk-hostap: Pull status locking fixes
  west.yml
Labels: manifest, changelog-entry-required, manifest-sdk-hostap

#8932 doc: update getting started debug tool
  doc/nrf/gs_testing.rst
  doc/nrf/links.txt
Labels: doc-required

#8952 Ficr prog sample
  doc/nrf/releases/release-notes-changelog.rst
  drivers/wifi/nrf700x/CMakeLists.txt
  drivers/wifi/nrf700x/zephyr/src/qspi/inc/ficr_prog.h
  drivers/wifi/nrf700x/zephyr/src/qspi/src/ficr_prog.c
  samples/wifi/radio_test/CMakeLists.txt
  samples/wifi/radio_test/README.rst
  samples/wifi/radio_test/ficr.rst
  samples/wifi/radio_test/prj.conf
  samples/wifi/radio_test/radio_test.rst
  samples/wifi/radio_test/src/nrf_wifi_radio_ficr_shell.c
Labels: doc-required

#8974 doc fix: Incorrect reference to cmd.exe in Linux and MacOS
  doc/nrf/gs_installing.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#8968 doc: matter: add device type page
  doc/nrf/ug_matter_intro_overview.rst
  doc/nrf/ug_matter_overview_architecture.rst
  doc/nrf/ug_matter_overview_device_types.rst
Labels: doc-required, CI-disable

#8971 manifest: update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib

#8929 doc: maturity: Explicitly document when security fixes are applied
  doc/nrf/software_maturity.rst
Labels: doc-required, changelog-entry-required

#8964 net: lib: nrf_cloud: remove the parameter of nrf_cloud_connect function
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  samples/nrf9160/lte_ble_gateway/src/main.c
  samples/nrf9160/modem_shell/src/cloud/cloud_mqtt_shell.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
Labels: doc-required

#8965 doc: doc updates for 2.1.99-dev2
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/versions.json
Labels: doc-required, CI-disable

#8986 version: Update to 2.1.99-dev2
  VERSION
Labels: changelog-entry-required

#8987 doc: update docs after dev tag 2.1.99-dev2
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#8904 manifest: update Matter SDK to pull WiFi net_mgmt API integration
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#8966 doc: FOTA over BLE doc update
  doc/nrf/shortcuts.txt
  doc/nrf/ug_nrf52.rst
  doc/nrf/ug_nrf91_features.rst
Labels: doc-required, changelog-entry-required

#8989 version: update version post v2.1.99-dev2
  VERSION
Labels: changelog-entry-required

#8913 net: lib: azure_iot_hub: Fix issues suggested by static analysis
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_dps.c
Labels: changelog-entry-required

#8957 Partition Manager: Error when 'align' and 'align_next' are badly placed
  scripts/partition_manager.py
Labels: changelog-entry-required

#8915 applications: nrf5340_audio: Enable bidirectional CIS
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/src/audio/Kconfig
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/software_maturity.rst
Labels: doc-required

#8943 net: lib: lwm2m_client_utils: Add support for X509 certificates
  doc/nrf/releases/release-notes-changelog.rst
  include/net/lwm2m_client_utils.h
  samples/nrf9160/lwm2m_client/src/main.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
Labels: doc-required

#8992 doc: Submodule term fix in docs and glossary
  doc/nrf/glossary.rst
  doc/nrf/introduction.rst
  doc/nrf/ug_matter_gs_adding_clusters.rst
  doc/nrf/ug_matter_gs_tools.rst
Labels: doc-required

#8984 matter: pull change to control QSPI NOR power state on nRF52
  west.yml
Labels: manifest, manifest-matter

#8937 application: nrf5340_audio: Refine DFU document
  applications/nrf5340_audio/CMakeLists.txt
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/dfu/conf/overlay-mcuboot.conf
  applications/nrf5340_audio/dfu/conf/overlay-mcuboot_external_flash.conf
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/tools/buildprog/ble5-ctr-rpmsg_sign.py
  applications/nrf5340_audio/tools/buildprog/buildprog.py
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8983 manifest: openthread: update to `16c927e`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#8821 drivers: wifi: Fix QSPI clock frequency configuration
  drivers/wifi/nrf700x/zephyr/src/qspi/inc/qspi_if.h
  drivers/wifi/nrf700x/zephyr/src/qspi/inc/rpu_hw_if.h
  drivers/wifi/nrf700x/zephyr/src/qspi/src/device.c
  drivers/wifi/nrf700x/zephyr/src/qspi/src/qspi_if.c
  drivers/wifi/nrf700x/zephyr/src/qspi/src/rpu_hw_if.c
  drivers/wifi/nrf700x/zephyr/src/qspi/src/spi_if.c
Labels: changelog-entry-required

#8996 boards: add network interface for nRF boards
  boards/arm/nrf52820dongle_nrf52820/nrf52820dongle_nrf52820.yaml
  boards/arm/nrf52833dongle_nrf52833/nrf52833dongle_nrf52833.yaml
  boards/arm/nrf52840gmouse_nrf52840/nrf52840gmouse_nrf52840.yaml
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp.yaml
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_ns.yaml
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp.yaml
  boards/arm/nrf7002dk_nrf5340/nrf7002dk_nrf5340_cpuapp_ns.yaml
  boards/arm/thingy91_nrf52840/thingy91_nrf52840.yaml
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_ns.yaml
Labels: changelog-entry-required

#8991 doc: matter: add Data and Interaction Models pages
  doc/nrf/ug_matter_intro_overview.rst
  doc/nrf/ug_matter_overview_architecture.rst
  doc/nrf/ug_matter_overview_data_model.rst
  doc/nrf/ug_matter_overview_int_model.rst
Labels: doc-required, CI-disable

#8917 applications: nrf5340_audio: Using ADV-EXT instead of legacy ADV
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
Labels: changelog-entry-required

#9015 samples: lwm2m_client: Fix domain command from coiote script
  samples/nrf9160/lwm2m_client/scripts/coiote.py
Labels: changelog-entry-required

#9005 samples: nrf9160: lwm2m_client: disable GNSS scheduled downloads
  samples/nrf9160/lwm2m_client/src/sensors/gnss_module.c
Labels: changelog-entry-required

#9012 doc: language review on the MPSL library control library
  doc/nrf/libraries/mpsl/mpsl_lib.rst
Labels: doc-required, CI-disable

#9006 samples: nrf9160: modem_shell: Remove gnss command from thingy build
  samples/nrf9160/modem_shell/boards/thingy91_nrf9160_ns.conf
Labels: changelog-entry-required

#9027 ci: quarantine: quarantine update
  scripts/quarantine.yaml
Labels: changelog-entry-required

#8998 applications: nrf5340_audio: Remove max14690 driver
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/src/drivers/CMakeLists.txt
  applications/nrf5340_audio/src/drivers/max14690.c
  applications/nrf5340_audio/src/drivers/max14690.h
  applications/nrf5340_audio/src/main.c
  applications/nrf5340_audio/src/modules/CMakeLists.txt
  applications/nrf5340_audio/src/modules/Kconfig
  applications/nrf5340_audio/src/modules/pmic.c
  applications/nrf5340_audio/src/modules/pmic.h
  boards/arm/nrf5340_audio_dk_nrf5340/board.h
  doc/nrf/releases/release-notes-changelog.rst
  tests/nrf5340_audio/max14690/CMakeLists.txt
  tests/nrf5340_audio/max14690/main.c
  tests/nrf5340_audio/max14690/mock/zephyr/drivers/i2c.h
  tests/nrf5340_audio/max14690/prj.conf
  tests/nrf5340_audio/max14690/testcase.yaml
Labels: doc-required

#9031 doc: using better link in the Multicell location library
  doc/nrf/libraries/networking/multicell_location.rst
Labels: doc-required, CI-disable

#9026 applications: nrf5340_audio: Add support for 1.1.0 DK
  boards/arm/nrf5340_audio_dk_nrf5340/board.h
Labels: changelog-entry-required

#9035 doc: matter: update architecture figure
  doc/nrf/images/matter_architecture.svg
  doc/nrf/images/matter_architecture.vsdx
  doc/nrf/ug_matter_overview_architecture.rst
Labels: doc-required, CI-disable

#8997 samples: 802154_phy_test: use other shell backends then UART
  samples/peripheral/802154_phy_test/src/comm_proc.c
Labels: changelog-entry-required

#9024 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#9038 doc: nRF Cloud P-GPS lib: formatting fixes
  doc/nrf/libraries/networking/nrf_cloud_pgps.rst
Labels: doc-required, CI-disable

#8840 net: lib: fota_download: Return proper error if FOTA init fails
  doc/nrf/releases/release-notes-changelog.rst
  include/net/fota_download.h
  subsys/net/lib/fota_download/src/fota_download.c
Labels: doc-required

#9051 doc: Updated Matter memory requirements
  doc/nrf/ug_matter_hw_requirements.rst
Labels: doc-required

#9042 doc: nRF Cloud REST lib: formatting fixes
  doc/nrf/libraries/networking/nrf_cloud_rest.rst
Labels: doc-required, CI-disable

#8969 doc: update documentation for NCS 2.1.1
  applications/matter_weather_station/README.rst
  doc/nrf/conf.py
  doc/nrf/dm_adding_code.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.1.1.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required, CI-disable

#9016 manifest: update softdevice controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#9062 samples: lwm2m_client: Fix Suspend issue without Bootstrap
  samples/nrf9160/lwm2m_client/src/main.c
Labels: changelog-entry-required

#9004 tfm: Implement attestation API
  modules/tfm/tfm/boards/CMakeLists.txt
  modules/tfm/tfm/boards/common/attest_hal.c
  modules/tfm/tfm/boards/common/config.cmake
Labels: changelog-entry-required

#8338 doc: Move Getting started with nRF52 Series to NCS from infocenter
  doc/nrf/images/nrf52_connect_client_ios.png
  doc/nrf/images/nrf52_connect_log.png
  doc/nrf/images/nrf52_connect_log_ios.png
  doc/nrf/images/nrf52_connect_write_ios.png
  doc/nrf/images/nrf52_enable_cccds.png
  doc/nrf/images/nrf52_termite_ports.png
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf52.rst
  doc/nrf/ug_nrf52_developing.rst
  doc/nrf/ug_nrf52_features.rst
  doc/nrf/ug_nrf52_gs.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required, CI-disable

#9061 applications: nrf5340_audio: Audio system shell commands
  applications/nrf5340_audio/src/audio/audio_system.c
  applications/nrf5340_audio/src/audio/streamctrl.c
Labels: changelog-entry-required

#9063 manifest: openthread: update to `488ee63`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#9041 doc: Restructure Radio test sample
  samples/wifi/radio_test/README.rst
  samples/wifi/radio_test/ficr.rst
  samples/wifi/radio_test/radio_test_subcommands.rst
  samples/wifi/radio_test/sample_description.rst
Labels: doc-required, changelog-entry-required

#9070 manifest: update Matter SDK to pull WiFi fail-safe fixes
  west.yml
Labels: manifest, manifest-matter

#9071 doc: nRF9160 Location sample: formatting fixes
  samples/nrf9160/location/README.rst
Labels: doc-required, CI-disable

#9077 doc: nRF9160 Modem shell sample: formatting fixes
  samples/nrf9160/modem_shell/README.rst
Labels: doc-required, CI-disable

#9003 applications: nrf5340_audio: Walkie-talkie demo
  applications/nrf5340_audio/Kconfig
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/src/audio/Kconfig
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/ble_audio_services.c
  applications/nrf5340_audio/src/modules/hw_codec.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#9032 serial_lte_modem: Apply workaround for partition manager alignment issue
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_pgps
Labels: changelog-entry-required

#9034 doc: matter: add multi-admin page
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_matter_intro_overview.rst
  doc/nrf/ug_matter_overview_multi_fabrics.rst
  doc/nrf/ug_matter_overview_network_topologies.rst
Labels: doc-required, CI-disable

#8942 doc: Getting secure TF-M output on nRF5340 DK's
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_tfm.rst
Labels: doc-required

#9008 bluetooth: fast_pair: Add TX power calibration documentation
  doc/nrf/links.txt
  doc/nrf/ug_bt_fast_pair.rst
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib

#8882 kconfig: don't set CONFIG_PARTITION_MANAGER_ENABLED
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/prj.conf
  samples/bluetooth/mesh/chat/prj.conf
  samples/bluetooth/mesh/light/prj.conf
  samples/bluetooth/mesh/light_ctrl/prj.conf
  samples/bluetooth/mesh/light_switch/prj.conf
  samples/bluetooth/mesh/sensor_client/prj.conf
  samples/bluetooth/mesh/sensor_server/prj.conf
  samples/bluetooth/mesh/silvair_enocean/prj.conf
  tests/subsys/emds/emds_api/prj.conf
  tests/subsys/emds/emds_flash/prj.conf
Labels: changelog-entry-required

#9037 manifest: sdk-hostap: Pull Wi-Fi thread combo fixes
  west.yml
Labels: manifest, changelog-entry-required, manifest-sdk-hostap

#9067 drivers: wifi: Update patch for RevB
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/rpu_fw_patches.h
Labels: changelog-entry-required

#9092 Remove edge-impulse samples from quarantine
  scripts/quarantine.yaml
Labels: changelog-entry-required

#9093 app_event_manager_profiler_tracer: Exclude building for native_posix
  samples/app_event_manager_profiler_tracer/sample.yaml
Labels: changelog-entry-required

#9020 manifest: nrf_modem v2.2.0
  doc/nrf/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/Kconfig.modemlib
  lib/nrf_modem_lib/nrf_modem_lib.c
  lib/nrf_modem_lib/nrf_modem_lib_trace.c
  lib/nrf_modem_lib/nrf_modem_os.c
  tests/lib/nrf_modem_lib/nrf_modem_lib_trace/src/main.c
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib

#9113 doc: ESB TX/RX sample: remove FEM support
  doc/nrf/releases/release-notes-changelog.rst
  samples/esb/README.rst
Labels: doc-required, CI-disable

#9118 manifest: openthread: update to `2592e34`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#9119 doc: Fixed generating software maturity table for Matter
  doc/_scripts/software_maturity/software_maturity_features.yaml
  subsys/matter/Kconfig
Labels: doc-required, changelog-entry-required

#9068 doc fix: doxygen configuration to show all API definitions
  doc/nrf/nrf.doxyfile.in
Labels: doc-required, CI-disable

#9101 [tools]: Update required version of zephyr-sdk
  scripts/tools-versions-darwin.txt
  scripts/tools-versions-linux.txt
  scripts/tools-versions-minimum.txt
  scripts/tools-versions-win10.txt
Labels: changelog-entry-required

#9087 manifest: Update find my manifest revision.
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test

#9099 manifest: Update TF-M
  west.yml
Labels: manifest, manifest-trusted-firmware-m, changelog-entry-required

#9053 manifest: Update sdk-zephyr revision with IP QoS updates
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#9121 doc: app_memory: Add BT_MESH_RELAY_BUF_COUNT
  doc/nrf/app_memory.rst
Labels: doc-required

#8935 samples: bluetooth: peripheral_mds: Add new testing scenario
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_mds/README.rst
Labels: doc-required

#9047 net: lib: nrf_cloud: update FOTA documentation
  doc/nrf/libraries/networking/nrf_cloud.rst
  doc/nrf/links.txt
  subsys/net/lib/nrf_cloud/include/nrf_cloud_fota.h
Labels: doc-required, changelog-entry-required

#9123 manifest: zephyr: Pull fixes to tfm-regression-test sample.yaml file
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#9131 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#9105 doc: known_issues: Add NCSDK-17706
  doc/nrf/known_issues.rst
Labels: doc-required

#9104 partition_manager: settings: fix unaligned partition without tfm
  doc/nrf/releases/release-notes-changelog.rst
  subsys/partition_manager/Kconfig
  subsys/partition_manager/pm.yml.settings
Labels: doc-required

#6667 doc: Added links to RST files in bluetooth_mesh_2 header files
  include/bluetooth/mesh/light_ctrl.h
  include/bluetooth/mesh/light_ctrl_cli.h
  include/bluetooth/mesh/light_ctrl_reg.h
  include/bluetooth/mesh/light_ctrl_reg_spec.h
  include/bluetooth/mesh/light_ctrl_srv.h
  include/bluetooth/mesh/light_hsl.h
  include/bluetooth/mesh/light_hsl_cli.h
  include/bluetooth/mesh/light_hsl_srv.h
  include/bluetooth/mesh/light_hue_srv.h
  include/bluetooth/mesh/light_sat_srv.h
  include/bluetooth/mesh/light_xyl.h
  include/bluetooth/mesh/light_xyl_cli.h
  include/bluetooth/mesh/light_xyl_srv.h
  include/bluetooth/mesh/lightness.h
  include/bluetooth/mesh/lightness_cli.h
  include/bluetooth/mesh/lightness_srv.h
  include/bluetooth/mesh/model_types.h
  include/bluetooth/mesh/models.h
  include/bluetooth/mesh/properties.h
  include/bluetooth/mesh/scene.h
  include/bluetooth/mesh/scene_cli.h
  include/bluetooth/mesh/scene_srv.h
  include/bluetooth/mesh/scheduler.h
  include/bluetooth/mesh/scheduler_cli.h
  include/bluetooth/mesh/scheduler_srv.h
  include/bluetooth/mesh/sensor.h
  include/bluetooth/mesh/sensor_cli.h
  include/bluetooth/mesh/sensor_srv.h
  include/bluetooth/mesh/sensor_types.h
  include/bluetooth/mesh/time.h
  include/bluetooth/mesh/time_cli.h
  include/bluetooth/mesh/time_srv.h
  include/bluetooth/mesh/vnd/silvair_enocean_srv.h
Labels: doc-required

#6657 doc: Added links to RST files in bluetooth_mesh_one header files
  include/bluetooth/mesh/dk_prov.h
  include/bluetooth/mesh/gen_battery.h
  include/bluetooth/mesh/gen_battery_cli.h
  include/bluetooth/mesh/gen_battery_srv.h
  include/bluetooth/mesh/gen_dtt.h
  include/bluetooth/mesh/gen_dtt_cli.h
  include/bluetooth/mesh/gen_dtt_srv.h
  include/bluetooth/mesh/gen_loc.h
  include/bluetooth/mesh/gen_loc_cli.h
  include/bluetooth/mesh/gen_loc_srv.h
  include/bluetooth/mesh/gen_lvl.h
  include/bluetooth/mesh/gen_lvl_cli.h
  include/bluetooth/mesh/gen_lvl_srv.h
  include/bluetooth/mesh/gen_onoff.h
  include/bluetooth/mesh/gen_onoff_cli.h
  include/bluetooth/mesh/gen_onoff_srv.h
  include/bluetooth/mesh/gen_plvl.h
  include/bluetooth/mesh/gen_plvl_cli.h
  include/bluetooth/mesh/gen_plvl_srv.h
  include/bluetooth/mesh/gen_ponoff.h
  include/bluetooth/mesh/gen_ponoff_cli.h
  include/bluetooth/mesh/gen_ponoff_srv.h
  include/bluetooth/mesh/gen_prop.h
  include/bluetooth/mesh/gen_prop_cli.h
  include/bluetooth/mesh/gen_prop_srv.h
  include/bluetooth/mesh/light_ctl.h
  include/bluetooth/mesh/light_ctl_cli.h
  include/bluetooth/mesh/light_ctl_srv.h
  include/bluetooth/mesh/light_temp_srv.h
Labels: doc-required

#9083 manifest: sdk-hostap: Pull events fix
  west.yml
Labels: manifest, changelog-entry-required, manifest-sdk-hostap

#9122 drivers: wifi: SHEL-948: Fix radio test valid primary channel list
  samples/wifi/radio_test/src/nrf_wifi_radio_test_shell.c
Labels: changelog-entry-required

#8954 doc: matter: add standalone commissioning page
  doc/nrf/images/matter_network_commissioning.svg
  doc/nrf/images/matter_network_commissioning.vsdx
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_matter_intro_overview.rst
  doc/nrf/ug_matter_overview_commissioning.rst
  doc/nrf/ug_matter_overview_network_topologies.rst
Labels: CI-disable

#9145 manifest: Pull tfm repository for library model fix
  west.yml
Labels: manifest, manifest-trusted-firmware-m, changelog-entry-required

#9029 wifi: MBO Pre-certification bugfixes
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fmac_structs.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/event.c
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/fmac_api.c
  drivers/wifi/nrf700x/zephyr/inc/zephyr_wpa_supp_if.h
  drivers/wifi/nrf700x/zephyr/src/zephyr_fmac_main.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_wpa_supp_if.c
Labels: changelog-entry-required, manifest-sdk-hostap

#9157 bluetooth: controller: production support for Connection CTE Response
  subsys/bluetooth/controller/Kconfig
Labels: changelog-entry-required

#9141 drivers: wifi: Fix for default Wi-Fi switch to sheliak side antenna
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/rpu_fw_patches.h
Labels: external, changelog-entry-required

#9072 bluetooth: extended adv reports with legacy content discardable
  subsys/bluetooth/controller/hci_driver.c
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#9094 applications: nrf5340_audio: Corrected Coverity issues
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/modules/hw_codec.c
  applications/nrf5340_audio/src/modules/hw_codec.h
Labels: changelog-entry-required
