Repository nrfconnect/sdk-nrf, pull requests merged in 2022-05, with the labels that each got.

#7471 doc: Fixed wrong Matter upstream commit SHA in the release note
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#7428 samples: nrf5340: netboot: Add missing steps to testing section
  samples/nrf5340/netboot/README.rst
Labels: doc-required

#7485 applications: nrf5340_audio: Update PCFT controller to 3251
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3247.hex
  applications/nrf5340_audio/bin/ble5-ctr-rpmsg_3251.hex
Labels: changelog-entry-required

#7486 manifest: update HomeKit revision
  west.yml
Labels: manifest, manifest-homekit

#7489 scripts: quarantine: skip lib.modem_trace
  scripts/quarantine.yaml
Labels: changelog-entry-required

#7325 lib: nrf_modem: don't enforce socket priority over native TLS
  lib/nrf_modem_lib/nrf91_sockets.c
Labels: CI-trusted-author, external, changelog-entry-required

#7464 lib: sms: fix time zone handling for received SMSs
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/sms.h
  lib/sms/sms_deliver.c
  samples/nrf9160/modem_shell/src/sms/sms.c
  tests/lib/sms/src/sms_test.c
Labels: doc-required

#7481 doc: known-issues: add known issue for clock_gettime() API
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#7496 manifest: Add reference link in nrfxlib
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#7467 net: lib: lwm2m_client_utils: Fix storing of lifetime values
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
Labels: changelog-entry-required

#7509 manifest: nrfxlib softdevice figure update
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#7505 samples: nrf9160: gnss: add reference position support
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/gnss/Kconfig
  samples/nrf9160/gnss/src/main.c
Labels: doc-required

#7507 samples: nrf9160: lwm2m_client: Make the ./device.py executable
  samples/nrf9160/lwm2m_client/scripts/atclient.py
  samples/nrf9160/lwm2m_client/scripts/device.py
Labels: changelog-entry-required

#7504 lib: lte_lc: Fix compile error when building with C++ compiler
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/lte_lc.h
Labels: doc-required

#7498 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#7524 applications: nrf5340_audio: Update codeowners
  CODEOWNERS
Labels: changelog-entry-required

#7502 applications: nrf5340_audio: Set random static address
  applications/nrf5340_audio/src/bluetooth/ble_core.c
  applications/nrf5340_audio/src/bluetooth/ble_hci_vsc.h
Labels: changelog-entry-required

#7492 applications: nrf5340_audio: Change OpCode for LED_PIN_MAP
  applications/nrf5340_audio/src/bluetooth/ble_core.c
  applications/nrf5340_audio/src/bluetooth/ble_hci_vsc.h
Labels: changelog-entry-required

#7448 samples: modem_shell: Disable modem traces before disabling UART1
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/src/uart/uart.c
  samples/nrf9160/modem_shell/src/uart/uart_shell.c
Labels: doc-required

#7487 doc: Thread: explain variants in memory requirements tables
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_ot_memory.rst
Labels: doc-required

#7480 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#7517 doc: openthread: update "Configuring a radio co-processor" section
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_tools.rst
Labels: doc-required

#7392 applications: update LOG2_MODE into LOG_MODE
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj_nus.conf
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy52_nrf52832/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_rtt.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  samples/nrf9160/azure_iot_hub/prj.conf
Labels: changelog-entry-required

#7536 doc: matter|thread|zigbee: fota dfu info update
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf52.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required, CI-disable

#7508 FOTA sample documentation in nRF52 Series user guide
  doc/nrf/ug_nrf52.rst
Labels: doc-required, changelog-entry-required

#7396 tests: added tests for download client
  tests/subsys/net/lib/download_client/CMakeLists.txt
  tests/subsys/net/lib/download_client/prj.conf
  tests/subsys/net/lib/download_client/src/main.c
  tests/subsys/net/lib/download_client/src/mock/dl_coap.c
  tests/subsys/net/lib/download_client/src/mock/dl_coap.h
  tests/subsys/net/lib/download_client/src/mock/dl_http.c
  tests/subsys/net/lib/download_client/src/mock/dl_http.h
  tests/subsys/net/lib/download_client/src/mock/socket.c
  tests/subsys/net/lib/download_client/src/mock/socket.h
  tests/subsys/net/lib/download_client/testcase.yaml
Labels: CI-trusted-author, external, changelog-entry-required

#7551 samples: openthread: increase ble advertising interval
  doc/nrf/releases/release-notes-changelog.rst
  samples/openthread/cli/src/ble.c
Labels: doc-required

#7447 application: serial_lte_modem: GNSS service update
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: changelog-entry-required

#7535 doc: pulling doxygen version automatically from config file
  .github/workflows/docbuild.yml
  scripts/tools-versions-linux.txt
Labels: CI-disable, changelog-entry-required

#7539 application: serial_lte_modem: Socket service receive URC
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  applications/serial_lte_modem/src/slm_at_socket.c
Labels: doc-required

#7540 manifest: update Zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, manifest-homekit, changelog-entry-required

#7565 tests: nrf5340_audio: max14690: fix i2c header mock location
  tests/nrf5340_audio/max14690/mock/zephyr/drivers/i2c.h
Labels: changelog-entry-required

#7544 scripts: add quarantine_windows.yaml file
  scripts/quarantine_windows.yaml
Labels: changelog-entry-required

#7543 lib: zigbee zcl scenes: Allow storing empty scenes [KRKNWK-14022]
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_scenes/zigbee_zcl_scenes.c
Labels: doc-required

#7530 zigbee: Remove HA logic implementation from Light Bulb sample [KRKNWK-14021]
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_bulb/src/main.c
Labels: doc-required

#7558 doc: zigbee: update ncp host and zboss versions
  doc/nrf/links.txt
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable

#7528 samples: matter: implemented window covering application
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/common/src/pwm_device.cpp
  samples/matter/common/src/pwm_device.h
  samples/matter/lock/README.rst
  samples/matter/window_covering/CMakeLists.txt
  samples/matter/window_covering/Kconfig
  samples/matter/window_covering/README.rst
  samples/matter/window_covering/boards/nrf21540dk_nrf52840.overlay
  samples/matter/window_covering/boards/nrf52840dk_nrf52840.overlay
  samples/matter/window_covering/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/window_covering/child_image/mcuboot/prj.conf
  samples/matter/window_covering/child_image/mcuboot/prj_release.conf
  samples/matter/window_covering/child_image/multiprotocol_rpmsg/prj.conf
  samples/matter/window_covering/child_image/multiprotocol_rpmsg/prj_no_dfu.conf
  samples/matter/window_covering/child_image/multiprotocol_rpmsg/prj_release.conf
  samples/matter/window_covering/configuration/nrf52840dk_nrf52840/pm_static_dfu.yml
  samples/matter/window_covering/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/window_covering/overlay-low_power.conf
  samples/matter/window_covering/prj.conf
  samples/matter/window_covering/prj_no_dfu.conf
  samples/matter/window_covering/prj_release.conf
  samples/matter/window_covering/sample.yaml
  samples/matter/window_covering/src/app_config.h
  samples/matter/window_covering/src/app_event.h
  samples/matter/window_covering/src/app_task.cpp
  samples/matter/window_covering/src/app_task.h
  samples/matter/window_covering/src/chip_project_config.h
  samples/matter/window_covering/src/main.cpp
  samples/matter/window_covering/src/window-app.matter
  samples/matter/window_covering/src/window-app.zap
  samples/matter/window_covering/src/window_covering.cpp
  samples/matter/window_covering/src/window_covering.h
  samples/matter/window_covering/src/zap-generated/CHIPClientCallbacks.h
  samples/matter/window_covering/src/zap-generated/CHIPClusters.h
  samples/matter/window_covering/src/zap-generated/Clusters.matter
  samples/matter/window_covering/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/window_covering/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/window_covering/src/zap-generated/access.h
  samples/matter/window_covering/src/zap-generated/af-gen-event.h
  samples/matter/window_covering/src/zap-generated/callback-stub.cpp
  samples/matter/window_covering/src/zap-generated/endpoint_config.h
  samples/matter/window_covering/src/zap-generated/gen_config.h
  samples/matter/window_covering/src/zap-generated/gen_tokens.h
  samples/matter/window_covering/src/zcl_callbacks.cpp
Labels: doc-required

#7556 manifest: update Zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#7538 application: serial_lte_modem: Handle FOTA image under WWW root
  applications/serial_lte_modem/doc/DFU_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_fota.c
Labels: doc-required, changelog-entry-required

#7475 samples: alexa_gadgets: Remove alexa gadgets sample
  doc/nrf/libraries/bluetooth_services/services/gadgets.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-1.4.0.rst
  doc/nrf/releases/release-notes-1.5.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/services/gadgets.h
  include/bluetooth/services/gadgets_profile.h
  samples/bluetooth/alexa_gadget/CMakeLists.txt
  samples/bluetooth/alexa_gadget/README.rst
  samples/bluetooth/alexa_gadget/boards/nrf52dk_nrf52810.conf
  samples/bluetooth/alexa_gadget/prj.conf
  samples/bluetooth/alexa_gadget/sample.yaml
  samples/bluetooth/alexa_gadget/src/main.c
  subsys/bluetooth/services/CMakeLists.txt
  subsys/bluetooth/services/Kconfig
  subsys/bluetooth/services/alexa_gadgets/CMakeLists.txt
  subsys/bluetooth/services/alexa_gadgets/Kconfig.gadgets
  subsys/bluetooth/services/alexa_gadgets/gadgets.c
  subsys/bluetooth/services/alexa_gadgets/gadgets_profile.c
  subsys/bluetooth/services/alexa_gadgets/proto/custom_event.options
  subsys/bluetooth/services/alexa_gadgets/proto/custom_event.proto
  west.yml
Labels: doc-required, manifest, manifest-Alexa-Gadgets-Embedded-Sample-Code

#7494 doc: Unit test documentation for nRF9160 Asset Tracker v2
  applications/asset_tracker_v2/README.rst
  applications/asset_tracker_v2/doc/unit_test.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#7587 samples: Change bulb PWM signal frequency
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/light_bulb/src/main.c
  subsys/zigbee/osif/zb_nrf_led_button.c
Labels: doc-required

#7567 dfu_target: Initialize target on new image nr
  subsys/dfu/dfu_target/src/dfu_target.c
Labels: changelog-entry-required

#7526 application: serial_lte_modem: Doc update
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  applications/serial_lte_modem/prj.conf
Labels: doc-required, changelog-entry-required

#7452 doc: gs: add sections to updating tools
  doc/nrf/gs_installing.rst
  doc/nrf/gs_modifying.rst
  doc/nrf/gs_updating.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#7590 zigbee: Configure frequency of FOTA image queries
  doc/nrf/libraries/zigbee/zigbee_fota.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_fota/Kconfig
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
Labels: doc-required

#7519 doc: small legal doc fix
  applications/nrf5340_audio/README.rst
Labels: doc-required, changelog-entry-required

#7582 doc: release: Update SHA in documentation
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#7606 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#7407 samples: bluetooth: nrf_dm: documentation improvement
  samples/bluetooth/nrf_dm/README.rst
Labels: doc-required, changelog-entry-required

#7513 CAF: sensor_manager: sensor manager sample disable uart
  samples/caf_sensor_manager/boards/nrf5340dk_nrf5340_cpuapp_nrf5340_singlecore.conf
  samples/caf_sensor_manager/prj.conf
  samples/caf_sensor_manager/remote/prj.conf
  samples/caf_sensor_manager/sample.yaml
Labels: ignore-thst

#7603 samples: openthread: remove data lenght check for ble data
  doc/nrf/releases/release-notes-changelog.rst
  samples/openthread/coap_client/README.rst
  samples/openthread/coap_client/src/coap_client.c
Labels: doc-required

#7559 doc: Add documentation about Pin control
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_app_dev.rst
  doc/nrf/ug_pinctrl.rst
Labels: doc-required

#7605 zigbee: Handle error while entering identify mode
  applications/zigbee_weather_station/src/main.c
  samples/zigbee/light_bulb/src/main.c
  samples/zigbee/light_switch/src/main.c
  samples/zigbee/network_coordinator/src/main.c
  samples/zigbee/shell/src/main.c
  samples/zigbee/template/src/main.c
Labels: changelog-entry-required

#7411 bluetooth: rpc: Update term used for BLE RPC calls
  subsys/bluetooth/rpc/client/bt_rpc_gap_client.c
  subsys/bluetooth/rpc/common/bt_rpc_common.h
  subsys/bluetooth/rpc/host/bt_rpc_gap_host.c
Labels: changelog-entry-required

#7364 manifest: Update NFC library revision
  west.yml
Labels: manifest, manifest-nrfxlib

#7598 manifest: Zephyr update with OpenThread changes
  west.yml
Labels: manifest, manifest-zephyr

#7623 cmake: Propagate the NCS Zephyr SDK install dir
  share/ncs-package/cmake/NcsConfig.cmake
Labels: changelog-entry-required

#7529 samples: nrf9160: modem_shell: Use PDN ID in getaddrinfo
  samples/nrf9160/modem_shell/src/sock/sock.c
Labels: bug, changelog-entry-required

#7588 lib: zigbee shell: Fix incorrect index in zcl generic shell cmd [KRKNWK-14019]
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_shell/src/zigbee_shell_cmd_generic_cmd.c
Labels: doc-required

#7621 application: serial_lte_modem: BUG-FIX peripheral error
  applications/serial_lte_modem/src/main.c
Labels: changelog-entry-required

#7616 application: serial_lte_modem: Fix HIGH static code analysis case
  applications/serial_lte_modem/src/slm_at_socket.c
Labels: changelog-entry-required

#7600 samples: Change samples to sample
  samples/event_manager_proxy/sample.yaml
  samples/nrf9160/nrf_cloud_mqtt_multi_service/sample.yaml
  samples/openthread/cli/sample.yaml
Labels: changelog-entry-required

#7493 dfu: multi image package library
  CODEOWNERS
  cmake/dfu_multi_image.cmake
  doc/nrf/libraries/dfu/dfu_multi_image.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/dfu/dfu_multi_image.h
  modules/mcuboot/CMakeLists.txt
  modules/mcuboot/Kconfig
  scripts/bootloader/dfu_multi_image_tool.py
  subsys/dfu/CMakeLists.txt
  subsys/dfu/Kconfig
  subsys/dfu/dfu_multi_image/CMakeLists.txt
  subsys/dfu/dfu_multi_image/Kconfig
  subsys/dfu/dfu_multi_image/src/dfu_multi_image.c
  tests/subsys/dfu/dfu_multi_image/CMakeLists.txt
  tests/subsys/dfu/dfu_multi_image/prj.conf
  tests/subsys/dfu/dfu_multi_image/src/main.c
  tests/subsys/dfu/dfu_multi_image/testcase.yaml
Labels: doc-required

#7613 net: lib: fota_download: Allow retry on socket timeout
  subsys/net/lib/fota_download/src/fota_download.c
Labels: CI-trusted-author, external, changelog-entry-required

#7635 samples: matter: Fixed commissioning error
  samples/matter/window_covering/src/app_task.cpp
Labels: changelog-entry-required

#7639 samples: lwm2m: v1.1 w/a TLV enabled bootstrap
  samples/nrf9160/lwm2m_client/overlay-avsystem-bootstrap.conf
  samples/nrf9160/lwm2m_client/overlay-leshan-bootstrap.conf
Labels: changelog-entry-required

#7578 manifest: Update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-homekit, changelog-entry-required

#7552 modules: memfault: option for custom Memfault Device Info
  modules/memfault-firmware-sdk/Kconfig
  modules/memfault-firmware-sdk/memfault_integration.c
Labels: CI-trusted-author, external, changelog-entry-required

#7629 bluetooth: controller: Use Core v5.3 naming convention
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#7656 samples: nrf9160: modem_shell: link: fixing re-entering of normal mode from pwroff
  samples/nrf9160/modem_shell/src/link/link.c
Labels: changelog-entry-required

#7580 lib: edge_impulse: Add profiling information
  doc/nrf/libraries/others/ei_wrapper.rst
  doc/nrf/releases/release-notes-changelog.rst
  lib/edge_impulse/Kconfig
  lib/edge_impulse/ei_wrapper.cpp
Labels: doc-required, milestone 2.0.0

#7506 net: lib: lwm2m_client_utils: adds modem mode...
  doc/nrf/releases/release-notes-changelog.rst
  include/net/lwm2m_client_utils.h
  samples/nrf9160/lwm2m_client/src/main.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
Labels: doc-required

#7648 Fix nrf_profiler python script
  doc/nrf/releases/release-notes-changelog.rst
  scripts/nrf_profiler/plot_nordic.py
  scripts/nrf_profiler/requirements.txt
Labels: doc-required

#7632 doc: event_manager_proxy: Document the library limitations
  doc/nrf/libraries/others/event_manager_proxy.rst
Labels: doc-required, changelog-entry-required

#7658 doc: zigbee: add fota section for 5340
  doc/nrf/libraries/zigbee/index.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf52.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required, CI-disable

#7663 applications: asset_tracker_v2: Add missing argument
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
Labels: bug

#7557 applications: nrf5340_audio: Add option to skip PLC
  applications/nrf5340_audio/src/audio/Kconfig
  applications/nrf5340_audio/src/audio/sw_codec_select.c
Labels: changelog-entry-required

#7627 doc: Thingy:91 replace Segger instructions with VS Code
  doc/nrf/ug_thingy91.rst
Labels: doc-required, changelog-entry-required

#7622 manifest: update HomeKit revision
  west.yml
Labels: manifest, manifest-homekit

#7512 applications: asset_tracker_v2: Add documentation for LwM2M integration
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/asset_tracker_v2/doc/cloud_module.rst
  applications/asset_tracker_v2/doc/cloud_wrapper.rst
  applications/asset_tracker_v2/src/cloud/cloud_wrapper.h
  doc/nrf/images/asset_tracker_v2_cloud_module_hierarchy.svg
  doc/nrf/images/asset_tracker_v2_cloud_module_hierarchy.vsdx
  doc/nrf/images/coiote_device_mgmt_server_ui.png
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#7579 doc: minor doc fixes in changelog and templates
  doc/nrf/includes/build_and_run_nrf9160.txt
  doc/nrf/libraries/dfu/dfu_multi_image.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/templates/sample_README.rst
Labels: doc-required, CI-disable

#7518 samples: bluetooth: nrf_dm: update figure in the documentation.
  samples/bluetooth/nrf_dm/README.rst
  samples/bluetooth/nrf_dm/images/sync.svg
Labels: doc-required, changelog-entry-required

#6993 applications: asset_tracker_v2: Grant/deny send based on energy estimate
  applications/asset_tracker_v2/doc/data_module.rst
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  applications/asset_tracker_v2/src/modules/data_module.c
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#7474 samples: nrf9160: add ciphersuites sample
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/ciphersuites/CMakeLists.txt
  samples/nrf9160/ciphersuites/Kconfig
  samples/nrf9160/ciphersuites/README.rst
  samples/nrf9160/ciphersuites/boards/nrf9160dk_nrf9160_ns.overlay
  samples/nrf9160/ciphersuites/cert/DigiCertGlobalRootCA.pem
  samples/nrf9160/ciphersuites/child_image/mcuboot.conf
  samples/nrf9160/ciphersuites/prj.conf
  samples/nrf9160/ciphersuites/sample.yaml
  samples/nrf9160/ciphersuites/src/main.c
Labels: doc-required

#7615 application: serial_lte_modem: Support READ command for GNSS service
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: doc-required, changelog-entry-required

#7666 zigbee: Fix order of functions
  subsys/zigbee/osif/zb_nrf_platform.c
Labels: changelog-entry-required

#7634 known_issue: Add NCSDK-13858
  doc/nrf/known_issues.rst
Labels: doc-required

#7570 doc: Add VSC instructions to nRF53 user guide
  doc/nrf/images/ug_thingy53_vscode_appwindow.png
  doc/nrf/images/ug_thingy53_vscode_genconfig1.png
  doc/nrf/images/ug_thingy53_vscode_genconfig2.png
  doc/nrf/images/ug_thingy53_vscode_welcome.png
  doc/nrf/includes/vsc_build_and_run_nrf53.txt
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_thingy53.rst
Labels: doc-required, changelog-entry-required

#7662 tests: add platform_allow to tests without it
  samples/caf_sensor_manager/sample.yaml
  tests/subsys/event_manager_proxy/testcase.yaml
Labels: ignore-thst

#7554 openthread: samples: Adding overlays for CI and multiprotocol.
  samples/openthread/cli/README.rst
  samples/openthread/cli/overlay-ci.conf
  samples/openthread/cli/overlay-multiprotocol.conf
  samples/openthread/cli/sample.yaml
Labels: doc-required, changelog-entry-required

#7675 manifest: Update Zephyr revision
  west.yml
Labels: manifest, manifest-zephyr

#7678 application: serial_lte_modem: BUG-FIX null terminator
  applications/serial_lte_modem/src/slm_at_host.c
Labels: changelog-entry-required

#7636 doc: Improve nRF Cloud device security docs
  doc/nrf/ext_comps.rst
  doc/nrf/glossary.rst
  doc/nrf/index.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf_cloud.rst
Labels: doc-required

#7683 applications: Fixed FEM issue for Thingy53 Matter weather station.
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg_release.conf
Labels: bug

#7684 openthread: Fix setting the correct TF-M build profile
  subsys/net/openthread/Kconfig
Labels: changelog-entry-required

#7690 samples: matter: Fixed an issue with pwm overflow
  samples/matter/common/src/pwm_device.cpp
  samples/matter/light_bulb/src/lighting_manager.cpp
Labels: bug

#7698 Ncs 2.0 rebase
  west.yml
Labels: manifest, manifest-zephyr, manifest-mcuboot, manifest-trusted-firmware-m, changelog-entry-required

#7674 doc: Change warnings to notes
  applications/asset_tracker_v2/src/watchdog/watchdog_app.h
  include/bl_crypto.h
  include/bluetooth/mesh/scheduler_srv.h
  include/bluetooth/services/hids.h
  include/caf/events/power_event.h
  include/caf/events/sensor_event.h
  include/date_time.h
  include/mpsl/mpsl_work.h
  include/net/aws_iot.h
  include/net/azure_iot_hub.h
  include/net/nrf_cloud.h
  include/net/nrf_cloud_pgps.h
  include/nrf_profiler.h
  subsys/emds/emds_flash.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_fota.h
  tests/crypto/src/common_test.h
Labels: changelog-entry-required

#7677 Fix https_client build with TF-M and Mbed TLS
  samples/nrf9160/https_client/overlay-tfm_mbedtls.conf
Labels: manifest-zephyr, manifest-nrfxlib, changelog-entry-required

#7645 doc: Introduce Fast Pair documentation
  doc/nrf/ext_comps.rst
  doc/nrf/images/bt_fast_pair_discoverable_notification.png
  doc/nrf/images/bt_fast_pair_not_discoverable_notification.png
  doc/nrf/libraries/bluetooth_services/services/fast_pair.rst
  doc/nrf/links.txt
  doc/nrf/scripts.rst
  doc/nrf/ug_bt_fast_pair.rst
  include/bluetooth/services/fast_pair.h
  samples/bluetooth/peripheral_fast_pair/README.rst
  scripts/nrf_provision/fast_pair/README.rst
Labels: doc-required

#7680 zigbee: Fix setting intervals between image query
  doc/nrf/libraries/zigbee/zigbee_fota.rst
  doc/nrf/releases/release-notes-changelog.rst
  subsys/zigbee/lib/zigbee_fota/Kconfig
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
Labels: doc-required

#7667 samples: nrf9160: https_client: Update config file for native TLS
  samples/nrf9160/https_client/overlay-tfm_mbedtls.conf
Labels: bug, changelog-entry-required

#7531 doc: removed ses references
  doc/nrf/gs_assistant.rst
  doc/nrf/gs_updating.rst
  doc/nrf/images/gs-assistant_tm_dropdown.png
  doc/nrf/releases/release-notes-1.8.0.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required, changelog-entry-required

#6823 doc: Align platforms in rst and yaml
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/sample.yaml
  samples/bluetooth/mesh/light/sample.yaml
  samples/bluetooth/mesh/light_ctrl/sample.yaml
  samples/bluetooth/mesh/light_switch/sample.yaml
  samples/bluetooth/mesh/silvair_enocean/sample.yaml
Labels: changelog-entry-required

#7709 manifest: Fix nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib

#7703 tfm: Allow log output to be enabled in minimal configuration
  modules/tfm/zephyr/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
Labels: changelog-entry-required

#7704 Bluetooth: tests: Add platform_allow to fast_pair testcase
  tests/subsys/bluetooth/fast_pair/crypto/testcase.yaml
Labels: changelog-entry-required

#7686 applications: asset_tracker_v2: Change to deferred logging
  applications/asset_tracker_v2/overlay-debug.conf
  applications/asset_tracker_v2/prj.conf
Labels: bug

#7617 application: serial_lte_modem: Support AGPS filter by elevation
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: changelog-entry-required

#7715 bluetooth: controller: Increase range of periodic sync buffer size
  subsys/bluetooth/controller/Kconfig
Labels: changelog-entry-required

#7707 boards: nrf5340dk_audio_dk_nrf5340_ns: Enable PINCTRL by default
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_ns_defconfig
Labels: bug

#7705 tfm: Add API documentation for platform secure services
  include/tfm/tfm_ioctl_api.h
Labels: changelog-entry-required

#7700 lib: pdn: fix legacy PCO mode
  lib/pdn/pdn.c
Labels: changelog-entry-required

#7695 doc: add software maturity table
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/software_maturity.rst
Labels: doc-required

#7688 crypto: Disable TF-M minimal configuration for crypto samples
  samples/crypto/aes_cbc/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/aes_cbc/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/aes_ccm/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/aes_ccm/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/aes_ctr/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/aes_ctr/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/aes_gcm/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/aes_gcm/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/chachapoly/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/chachapoly/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/ecdh/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/ecdh/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/ecdsa/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/ecdsa/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/hkdf/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/hkdf/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/hmac/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/hmac/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/persistent_key_usage/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/persistent_key_usage/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/rng/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/rng/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/rsa/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/rsa/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/sha256/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/sha256/boards/nrf9160dk_nrf9160_ns.conf
Labels: changelog-entry-required

#7722 zigbee: Allow for using USB logs in NCP
  doc/nrf/releases/release-notes-changelog.rst
  samples/zigbee/ncp/src/main.c
  subsys/zigbee/osif/zb_nrf_serial_logger.c
Labels: doc-required

#7720 tfm: Kconfig: Increase crypto heap when using RSA on cc3xx
  modules/trusted-firmware-m/Kconfig
Labels: changelog-entry-required

#7711 cmake: add toolchain version verification
  share/ncs-package/cmake/NcsConfig.cmake
Labels: changelog-entry-required

#7732 applications: asset_tracker_v2: Fix issues suggested by static analysis
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec.c
  applications/asset_tracker_v2/src/modules/sensor_module.c
Labels: bug

#7719 manifest: Update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#7729 samples: nrf9160: modem_shell: check if UART1 is configured
  samples/nrf9160/modem_shell/src/uart/uart.c
Labels: bug

#7739 zigbee: Fix incorrect FOTA upgrade schedule calls
  subsys/zigbee/lib/zigbee_fota/src/zigbee_fota.c
Labels: changelog-entry-required

#7572 doc: Remove GNU Arm Embedded Toolchain from NCS documentation
  doc/nrf/glossary.rst
  doc/nrf/gs_installing.rst
  doc/nrf/gs_modifying.rst
  doc/nrf/gs_recommended_versions.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-1.0.0.rst
  doc/nrf/releases/release-notes-1.1.0.rst
  doc/nrf/releases/release-notes-1.2.0.rst
  doc/nrf/releases/release-notes-1.2.1.rst
  doc/nrf/releases/release-notes-1.8.0.rst
  doc/nrf/shortcuts.txt
Labels: doc-required, changelog-entry-required

#7333 doc/nrf/libraries/dfu: update dfu_target description
  doc/nrf/libraries/dfu/dfu_target.rst
Labels: doc-required, changelog-entry-required

#7733 dfu: dfu_target: Fix settings handler
  doc/nrf/releases/release-notes-changelog.rst
  subsys/dfu/dfu_target/src/dfu_target_stream.c
Labels: bug, doc-required

#7692 doc: xip: add section to nRF5340DK UG
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf5340.rst
Labels: doc-required, CI-disable

#7717 doc improvement: zigbee: update VSC screenshots in ZQSG
  doc/nrf/images/zigbee_qsg_vsc_create_application_section.png
  doc/nrf/images/zigbee_qsg_vsc_flash.png
  doc/nrf/images/zigbee_qsg_vsc_generate_config_section.png
  doc/nrf/images/zigbee_qsg_vsc_generating_config_prompt_full.png
  doc/nrf/images/zigbee_qsg_vsc_welcome_section.png
  doc/nrf/ug_zigbee_qsg.rst
Labels: doc-required, CI-disable

#7110 doc: move Thingy:53 getting started guide
  doc/nrf/glossary.rst
  doc/nrf/images/programmer_select_device1.png
  doc/nrf/images/programmer_thingy53_mcuboot_dfu.png
  doc/nrf/images/thingy53_antenna_connections.svg
  doc/nrf/images/thingy53_antenna_connections.vsdx
  doc/nrf/images/thingy53_application_info.png
  doc/nrf/images/thingy53_nrf5340_dk.svg
  doc/nrf/images/thingy53_progress_wheel.png
  doc/nrf/images/thingy53_sample_list.png
  doc/nrf/images/thingy53_sw1_sw2.svg
  doc/nrf/images/thingy53_sw1_usb.svg
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/nrf/ug_nrf53.rst
  doc/nrf/ug_thingy53.rst
  doc/nrf/ug_thingy53_gs.rst
Labels: doc-required

#7743 samples: nrf9160: modem_shell: use SPM instead of TF-M
  samples/nrf9160/modem_shell/prj.conf
Labels: bug

#7746 Revert "samples: Disable TF-M when NRF_CLOUD_PGPS is enabled"
  applications/asset_tracker_v2/overlay-pgps.conf
  applications/serial_lte_modem/prj.conf
  samples/nrf9160/gnss/overlay-pgps.conf
  samples/nrf9160/location/overlay-pgps.conf
  samples/nrf9160/modem_shell/overlay-pgps.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/prj.conf
Labels: changelog-entry-required

#7750 doc: Update Zigbee memory requirements tables [KRKNWK-13410]
  doc/nrf/ug_zigbee_memory.rst
Labels: doc-required, changelog-entry-required

#7735 manifest: Update revision of nrfxlib repository
  doc/nrf/releases/release-notes-changelog.rst
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib

#7699 doc: nRF Cloud user guide improvements
  doc/nrf/ug_nrf_cloud.rst
Labels: doc-required, changelog-entry-required

#7757 samples: matter: Fixed starting BLE advertising for SMP
  samples/matter/common/src/dfu_over_smp.cpp
Labels: bug

#7665 applications: nrf_desktop: Document nRF21540EK support
  applications/nrf_desktop/README.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, milestone 2.0.0

#7737 bluetooth: rpc: Fixes after moving to zcbor
  doc/nrf/libraries/bluetooth_services/rpc.rst
  subsys/bluetooth/rpc/client/bt_rpc_conn_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gatt_client.c
  subsys/bluetooth/rpc/common/bt_rpc_common.c
  subsys/bluetooth/rpc/host/bt_rpc_gap_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gatt_host.c
  subsys/bluetooth/rpc/host/bt_rpc_internal_host.c
Labels: bug

#7760 applications: asset_tracker_v2: Fix BSEC ABI settings
  applications/asset_tracker_v2/src/ext_sensors/CMakeLists.txt
  applications/asset_tracker_v2/src/ext_sensors/ext_sensors_bsec.c
Labels: bug

#7755 boards: arm: thingy91: Fix ADP5360 configuration when TF-M is used
  boards/arm/thingy91_nrf9160/CMakeLists.txt
  boards/arm/thingy91_nrf9160/Kconfig
  boards/arm/thingy91_nrf9160/adp5360_init.c
Labels: bug, changelog-entry-required

#7731 west.yml: Update Zephyr revision to fix SMP issue
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#7744 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#7751 doc: vsc: rework adding application instructions
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_zigbee_qsg.rst
Labels: doc-required, CI-disable

#7756 samples: matter: fix DFU over SMP on nRF53
  samples/matter/common/src/dfu_over_smp.cpp
  samples/matter/common/src/dfu_over_smp.h
Labels: bug

#7696 applications: nrf_desktop: Reduce connection interval in suspend mode
  applications/nrf_desktop/src/modules/Kconfig.ble
  applications/nrf_desktop/src/modules/ble_conn_params.c
  applications/nrf_desktop/src/modules/ble_scan.c
Labels: changelog-entry-required

#7742 nrf_security: Add integration regression builds
  samples/bluetooth/peripheral_hids_mouse/sample.yaml
  samples/crypto/sha256/sample.yaml
  samples/matter/light_switch/sample.yaml
  samples/openthread/cli/sample.yaml
Labels: changelog-entry-required

#7560 lib: bin: lwm2m_carrier: update to version 0.30.0
  applications/asset_tracker_v2/CMakeLists.txt
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/asset_tracker_v2/overlay-carrier.conf
  applications/asset_tracker_v2/src/carrier_certs/CMakeLists.txt
  applications/asset_tracker_v2/src/carrier_certs/carrier_certs.c
  applications/asset_tracker_v2/src/carrier_certs/carrier_certs.h
  applications/asset_tracker_v2/src/carrier_certs/certs/DSTRootCA-X3.pem
  applications/asset_tracker_v2/src/carrier_certs/certs/DigiCertGlobalRootCA.pem
  applications/asset_tracker_v2/src/carrier_certs/certs/DigiCertGlobalRootG2.pem
  applications/asset_tracker_v2/src/events/modem_module_event.c
  applications/asset_tracker_v2/src/events/modem_module_event.h
  applications/asset_tracker_v2/src/modules/modem_module.c
  doc/nrf/libraries/bin/lwm2m_carrier/CHANGELOG.rst
  doc/nrf/libraries/bin/lwm2m_carrier/app_integration.rst
  doc/nrf/libraries/bin/lwm2m_carrier/certification.rst
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_bootstrap.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_bootstrap.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_fail_cert.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_fail_cert.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_success.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_success.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_init.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_init.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_os_abstraction.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_os_abstraction.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_overview.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_overview.vsdx
  doc/nrf/libraries/bin/lwm2m_carrier/index.rst
  doc/nrf/libraries/bin/lwm2m_carrier/msc.rst
  doc/nrf/libraries/bin/lwm2m_carrier/requirements.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  lib/bin/lwm2m_carrier/CMakeLists.txt
  lib/bin/lwm2m_carrier/Kconfig
  lib/bin/lwm2m_carrier/include/lwm2m_carrier.h
  lib/bin/lwm2m_carrier/include/lwm2m_os.h
  lib/bin/lwm2m_carrier/lib/cortex-m33/hard-float/liblwm2m_carrier.a
  lib/bin/lwm2m_carrier/os/lwm2m_carrier.c
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  lib/bin/lwm2m_carrier/pm.yml.lwm2m_carrier
  samples/nrf9160/lwm2m_carrier/README.rst
  samples/nrf9160/lwm2m_carrier/prj.conf
  samples/nrf9160/lwm2m_carrier/src/carrier_certs.c
  samples/nrf9160/lwm2m_carrier/src/carrier_certs.h
  samples/nrf9160/lwm2m_carrier/src/main.c
  samples/nrf9160/modem_shell/overlay-lwm2m_carrier.conf
  samples/nrf9160/modem_shell/src/link/link.c
  samples/nrf9160/modem_shell/src/main.c
  samples/nrf9160/modem_shell/src/shell.c
  samples/nrf9160/mqtt_simple/src/main.c
Labels: doc-required

#7749 doc: peripheral_uart: add info about async_adapter
  samples/bluetooth/peripheral_uart/README.rst
Labels: doc-required, CI-disable

#7718 hw_unique_key: Fix memset call for zeroing key bytes
  doc/nrf/releases/release-notes-changelog.rst
  lib/hw_unique_key/hw_unique_key.c
Labels: doc-required, CI-disable

#7736 doc: Doc updates for the new layout
  doc/nrf/doc_structure.rst
  doc/nrf/images/doc_structure_search.PNG
  doc/nrf/images/doc_structure_search_results.PNG
Labels: doc-required, CI-disable

#7774 lib: nrf_modem_os: Use IRQ_PRIO_LOWEST instead of hard-coded 6
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: bug
