Repository nrfconnect/sdk-nrf, pull requests merged in 2022-12, with the labels that each got.

#9527 manifest: Update Zephyr for cherry-pick MCC fix
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required, bugfix

#9528 doc: provide THCI file for Thread 1.3 Certification testing
  .checkpatch.conf
  doc/nrf/ug_thread_certification.rst
  samples/openthread/cli/harness-thci-1-3/nRF_Connect_SDK_1_3.py
Labels: doc-required, bugfix

#9514 drivers: wifi: Remove limit on IE length
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/host_rpu_umac_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/rpu_fw_patches.h
  drivers/wifi/nrf700x/zephyr/src/zephyr_wpa_supp_if.c
Labels: changelog-entry-required, bugfix

#9531 nrf_profiler: Add known issue for NCSDK-18398
  doc/nrf/known_issues.rst
Labels: doc-required

#9536 manifest: Doc fixes in nrfxlib
  west.yml
Labels: manifest, manifest-nrfxlib

#9547 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#9512 matter: rebase sdk-connectedhomeip
  west.yml
Labels: manifest, manifest-matter

#9550 doc: fix nRF5340 DK being called nRF5340 SiP
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable

#9552 applications: nrf5340_audio: Move MCS discover to proper position
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
Labels: bugfix

#9544 bluetooth: Update vs connection update cmd return event
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#9545 samples: matter: apply fix for increased flash wear
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/light_bulb/src/app_task.cpp
  west.yml
Labels: bug, doc-required, manifest, manifest-matter

#9555 manifest: Update Zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, bugfix

#9539 doc: Add known issues related to nrfcloud
  doc/nrf/known_issues.rst
Labels: doc-required, CI-disable, changelog-entry-required

#9446 bluetooth: fix possible out of bound access and stack write
  doc/nrf/releases/release-notes-changelog.rst
  subsys/bluetooth/services/hids.c
Labels: doc-required

#9559 manifest: pull matter fix for FailSafe revert configuration
  west.yml
Labels: bug, manifest, manifest-matter, changelog-entry-required

#9558 manifest: Update mpsl and softdevice controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#9566 pcd: Fix issue with serial recovery on nRF5340
  subsys/pcd/src/pcd.c
Labels: changelog-entry-required, bugfix

#9553 manifest: Update mcuboot version
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#9571 applications: nrf_desktop: Align TX power for Fast Pair
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_fast_pair.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_release_fast_pair.conf
Labels: doc-required, changelog-entry-required

#9572 samples: matter: Fixed a bug with PWM polarity
  samples/matter/light_bulb/boards/nrf7002dk_nrf5340_cpuapp.overlay
Labels: bugfix

#9568 cmake: variant build now re-uses original configuration
  cmake/boilerplate.cmake
  cmake/modules/kconfig.cmake
  cmake/multi_image.cmake
  samples/Kconfig
Labels: bugfix

#9423 doc: Add information on Partition Manager and external devices
  doc/nrf/ug_bootloader_external_flash.rst
  scripts/partition_manager/partition_manager.rst
Labels: doc-required, CI-disable, changelog-entry-required

#9580 quarantine_windows: update quarantine
  scripts/quarantine_windows.yaml
Labels: changelog-entry-required

#9574 tests: unity: introduce mock_prefix in the unity configuration file
  tests/unity/unity_cfg.yaml.template
Labels: bugfix

#9570 manifest: update Find My revision
  west.yml
Labels: manifest, CI-disable, manifest-find-my, changelog-entry-required

#9577 manifest: Update Zephyr version
  west.yml
Labels: manifest, manifest-zephyr, manifest-matter, changelog-entry-required

#9581 doc: update Matter known issues for 2.2.0
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#9588 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#9591 doc: matter: update memory requirements for 2.2.0
  doc/nrf/ug_matter_hw_requirements.rst
Labels: CI-disable

#9597 manifest: update homekit revision
  west.yml
Labels: manifest, CI-disable, manifest-homekit

#9605 samples: wifi : Add missing python package
  scripts/requirements-fixed.txt
Labels: changelog-entry-required

#9538 Bluetooth: Mesh: Update DM server docs
  doc/nrf/libraries/bluetooth_services/mesh/vnd/dm_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/vnd/images/bt_mesh_dm_models.svg
  doc/nrf/libraries/bluetooth_services/mesh/vnd/images/bt_mesh_dm_models.vsdx
Labels: doc-required, changelog-entry-required

#9609 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, bugfix

#9519 doc: Add release notes for 2.2.0
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/libraries/networking/lwm2m_client_utils.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.2.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  samples/matter/light_bulb/README.rst
  samples/matter/light_switch/README.rst
  samples/matter/lock/README.rst
  samples/matter/template/README.rst
Labels: doc-required

#9414 doc: update known issues for 2.2.0 release
  doc/nrf/known_issues.rst
Labels: doc-required, CI-disable, changelog-entry-required

#9489 doc: update doc versions for 2.2.0 release
  doc/nrf/conf.py
  doc/nrf/dm_adding_code.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib, changelog-entry-required

#9405 manifest: Update zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#9620 ci: use forked branches of CI/Verification repositories
  Jenkinsfile
  test-manifests/99-default-test-nrf.yml
Labels: CI-disable, changelog-entry-required

#9596 manifest: Update SDC and MPSL
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#9610 2.2.0 post release doc update
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrfxlib/conf.py
  doc/versions.json
  samples/bluetooth/peripheral_cgms/README.rst
Labels: doc-required

#9607 bluetooth: support for HCI_LE_Periodic_Advertising_Set_Info_Transfer
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#9592 dm: Fix the use of the logging module by DM RPC Client
  subsys/dm/rpc/client/dm_rpc_client.c
Labels: changelog-entry-required

#9000 drivers: wifi: Read request IEs in assoc response event
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/host_rpu_umac_if.h
  drivers/wifi/nrf700x/zephyr/src/zephyr_wpa_supp_if.c
  west.yml
Labels: manifest, changelog-entry-required, manifest-sdk-hostap

#9518 net: lib: aws_iot: Added support for run-time endpoint host name config
  doc/nrf/libraries/networking/aws_iot.rst
  include/net/aws_iot.h
  subsys/net/lib/aws_iot/Kconfig
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: doc-required, CI-trusted-author, external, changelog-entry-required, CI-Requested

#9493 applications: asset_tracker_v2: Correct log level
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/asset_tracker_v2/src/modules/modem_module.c
Labels: changelog-entry-required

#9598 net: lib: download_client: Fix inconsistent use of types
  subsys/net/lib/download_client/src/download_client.c
Labels: changelog-entry-required, bugfix

#9477 application: tf-m asset_tracker_v2 disable logging in low power profile
  applications/asset_tracker_v2/overlay-low-power.conf
Labels: changelog-entry-required

#9476 drivers: wifi : Adds support for handling WIPHY capabilities, RX MLME frames
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fmac_api.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fmac_structs.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_A/host_rpu_umac_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/host_rpu_umac_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/event.c
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/fmac_api.c
  drivers/wifi/nrf700x/zephyr/inc/zephyr_wpa_supp_if.h
  drivers/wifi/nrf700x/zephyr/src/zephyr_fmac_main.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_wpa_supp_if.c
  west.yml
Labels: manifest, changelog-entry-required, manifest-sdk-hostap

#9589 application: nrf_desktop: Fix compilation error nrf_profiler
  applications/nrf_desktop/src/modules/nrf_profiler_sync.c
Labels: bugfix

#9616 net: fota_download: Save 6K flash by not using fd for state checking
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/fota_download/src/fota_download.c
  tests/subsys/net/lib/fota_download/src/test_fota_download.c
Labels: doc-required

#9633 manifest: Update zephyr to enable TF-M by default for Actinius NS boards
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#9644 script: edit target branch for auto-upmerge workflow
  .github/workflows/create-upmerge-PRs.yml
Labels: CI-disable, changelog-entry-required

#9645 tfm: move the tfm_read_ranges header file out of public include folder
  modules/tfm/tfm/boards/CMakeLists.txt
  modules/tfm/tfm/boards/services/include/tfm_read_ranges.h
  modules/tfm/tfm/boards/src/tfm_platform_system.c
Labels: changelog-entry-required

#9625 manifest: pull Matter Wi-Fi network diagnostics implementation
  doc/nrf/releases/release-notes-changelog.rst
  west.yml
Labels: doc-required, manifest, manifest-matter

#9585 net: lib: nrf_cloud: handle MQTT disconn during FOTA
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota.c
Labels: doc-required

#9165 manifest: sdk-hostap: Pull SAE H2E Fix
  west.yml
Labels: manifest, manifest-mbedtls-nrf, changelog-entry-required, manifest-sdk-hostap

#9649 bluetooth: hci: Added Kconfig for extra sdc memory
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_driver.c
Labels: changelog-entry-required

#9653 doc: Add changelog entry for fixing bt_rpc_gatt_host and mds.
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#9554 samples: Fix memory leaks and out-of-bounds accesses in samples.
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_hids_keyboard/src/main.c
  samples/bluetooth/peripheral_uart/src/main.c
Labels: doc-required

#9562 drivers: wifi: Fix QSPI clock frequency for wakeup
  drivers/wifi/nrf700x/zephyr/src/qspi/src/qspi_if.c
Labels: changelog-entry-required

#9615 samples: lwm2m_client: Disable eDRX if disabled in kconfig
  samples/nrf9160/lwm2m_client/src/main.c
Labels: changelog-entry-required

#9647 applications: nrf_desktop: Add known issue for NCSDK-18552
  doc/nrf/known_issues.rst
Labels: doc-required

#9148 scripts: sbom: Report source and version information
  doc/nrf/releases/release-notes-changelog.rst
  scripts/west_commands/sbom/args.py
  scripts/west_commands/sbom/common.py
  scripts/west_commands/sbom/data_structure.py
  scripts/west_commands/sbom/file_input.py
  scripts/west_commands/sbom/git_info_detector.py
  scripts/west_commands/sbom/input_build.py
  scripts/west_commands/sbom/input_post_process.py
  scripts/west_commands/sbom/main.py
  scripts/west_commands/sbom/output_pre_process.py
  scripts/west_commands/sbom/output_template.py
  scripts/west_commands/sbom/templates/raport.spdx.jinja
  scripts/west_commands/sbom/templates/report.html.jinja
Labels: doc-required

#9630 provision.py: Support args.public_key_files with trailing comma
  scripts/bootloader/provision.py
Labels: changelog-entry-required

#9642 CODEOWNERS: Set Aurora as owners of scripts/bootloaders
  CODEOWNERS
Labels: changelog-entry-required

#9654 applications: nrf5340_audio: Set name to static in bis_headset
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
Labels: changelog-entry-required

#9629 tests: boot_chains: Add test for different boot chains
  tests/subsys/bootloader/boot_chains/CMakeLists.txt
  tests/subsys/bootloader/boot_chains/README.txt
  tests/subsys/bootloader/boot_chains/src/main.c
  tests/subsys/bootloader/boot_chains/testcase.yaml
Labels: changelog-entry-required

#9634 manifest: Update MCUBoot with minor bugfix
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#9660 caf: ble_adv: Add known issue for NCSDK-18587
  doc/nrf/known_issues.rst
Labels: doc-required

#9675 applications: nrf5340_audio: Enable sensor
  applications/nrf5340_audio/Kconfig.defaults
Labels: changelog-entry-required

#9674 modules: Mcuboot allow imgtool extra params
  modules/mcuboot/CMakeLists.txt
Labels: changelog-entry-required

#9406 samples: mmss: Add remote AT cmd execution
  samples/nrf9160/nrf_cloud_mqtt_multi_service/Kconfig
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/application.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_codec.h
Labels: doc-required, changelog-entry-required

#9673 provision.py: Fix provision size check
  scripts/bootloader/provision.py
Labels: changelog-entry-required

#9668 manifest: MCUBoot: Skip updating sec counters
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#9641 manifest: Update Matter SDK with fix for json schema
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#9698 tests: mcuboot: Fix license
  tests/modules/mcuboot/direct_xip/child_image/mcuboot.conf
Labels: changelog-entry-required

#9287 manifest: Bring nrfxlib with Kconfig fixes
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#9680 drivers: wifi: Update RPU patch to rev#39
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/rpu_fw_patches.h
Labels: changelog-entry-required

#9540 net: lib: nrf_cloud: Use separate buffer for caching predictions from external flash
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud_pgps.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_pgps_utils.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps_utils.c
Labels: doc-required

#9700 tests: net: lib: azure_iot_hub: Fix segmentation fault in test
  tests/subsys/net/lib/azure_iot_hub/mqtt/src/azure_iot_hub_mqtt_test.c
Labels: changelog-entry-required

#9692 cmake: nsib: Refactor to avoid unnecessary indirection
  subsys/bootloader/cmake/debug_keys.cmake
  subsys/bootloader/cmake/provision_hex.cmake
  subsys/bootloader/cmake/sign.cmake
Labels: changelog-entry-required

#9659 doc: aws_iot: Update documentation to include topic handling
  doc/nrf/libraries/networking/aws_iot.rst
Labels: doc-required, CI-disable, changelog-entry-required

#9352 test-spec: Don't trigger DFU tests on changes to network tests
  .github/test-spec.yml
Labels: changelog-entry-required

#9362 ci: docbuild: Build docs only if requires
  .github/workflows/docbuild.yml
Labels: changelog-entry-required

#9686 samples: wifi: FICR bug fix
  samples/wifi/radio_test/src/nrf_wifi_radio_ficr_shell.c
Labels: changelog-entry-required

#9665 samples: matter: lock: add QSPI parititions for wifi/thread variants
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/lock/CMakeLists.txt
  samples/matter/lock/Kconfig
  samples/matter/lock/README.rst
  samples/matter/lock/child_image/hci_rpmsg/prj_thread_wifi_switched.conf
  samples/matter/lock/child_image/mcuboot/boards/nrf5340dk_nrf5340_cpuapp_thread_wifi_switched.overlay
  samples/matter/lock/child_image/mcuboot/prj_thread_wifi_switched.conf
  samples/matter/lock/child_image/multiprotocol_rpmsg/prj_thread_wifi_switched.conf
  samples/matter/lock/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_thread_wifi_switched.yml
  samples/matter/lock/prj_thread_wifi_switched.conf
Labels: doc-required

#9648 manifest: pull Matter fix for Wi-Fi disconnected status after scan
  west.yml
Labels: manifest, manifest-matter

#9667 shields: overlay : fix coex pins swap
  boards/shields/nrf7002_ek/nrf7002_ek_coex.overlay
Labels: changelog-entry-required

#9713 matter: pull fix for ram and rom report
  west.yml
Labels: manifest, manifest-matter

#9707 samples: matter: Added mode for switching Thread and Wi-Fi
  samples/matter/lock/CMakeLists.txt
  samples/matter/lock/README.rst
  samples/matter/lock/src/app_config.h
  samples/matter/lock/src/app_task.cpp
  samples/matter/lock/src/app_task.h
  samples/matter/lock/src/software_images_swapper.cpp
  samples/matter/lock/src/software_images_swapper.h
Labels: doc-required, changelog-entry-required

#9715 net: lwm2m_client_utils: cellconn: Remove unused include
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_cellconn_obj.c
Labels: changelog-entry-required

#9413 doc improvement: update Doxygen guidelines
  doc/nrf/doc_styleguide.rst
Labels: doc-required, CI-disable, changelog-entry-required

#9576 manifest: nrfxlib with PSA driver wrapper fixes
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#9704 manifest: Remove zephyr fork of mbedtls from allowlist
  west.yml
Labels: DNM, manifest, CI-all-test, changelog-entry-required

#9724 drivers: wifi: Update RPU patches.
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_A/rpu_fw_patches.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/rpu_fw_patches.h
Labels: changelog-entry-required

#9341 applications: nrf5340_audio: Moved contin_array
  .github/test-spec.yml
  CODEOWNERS
  applications/nrf5340_audio/Kconfig.defaults
  applications/nrf5340_audio/src/utils/CMakeLists.txt
  applications/nrf5340_audio/src/utils/Kconfig
  applications/nrf5340_audio/src/utils/contin_array.h
  doc/nrf/libraries/others/contin_array.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/contin_array.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/contin_array/CMakeLists.txt
  lib/contin_array/Kconfig
  lib/contin_array/contin_array.c
  tests/lib/contin_array/CMakeLists.txt
  tests/lib/contin_array/Kconfig
  tests/lib/contin_array/prj.conf
  tests/lib/contin_array/src/main.c
  tests/lib/contin_array/testcase.yaml
  tests/nrf5340_audio/contin_array/CMakeLists.txt
Labels: doc-required

#9671 applications: asset_tracker_v2: enable native_posix build
  applications/asset_tracker_v2/CMakeLists.txt
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/asset_tracker_v2/prj_native_posix.conf
  applications/asset_tracker_v2/sample.yaml
  applications/asset_tracker_v2/src/events/debug_module_event.c
  applications/asset_tracker_v2/src/events/debug_module_event.h
  applications/asset_tracker_v2/src/modules/cloud_module.c
  applications/asset_tracker_v2/src/modules/debug_module.c
  applications/asset_tracker_v2/tests/debug_module/src/debug_module_test.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fsm.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_location.c
Labels: doc-required, changelog-entry-required

#9618 applications: asset_tracker_v2: Remove fresh flag for dynamic modem data
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_common.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
  applications/asset_tracker_v2/src/events/modem_module_event.h
  applications/asset_tracker_v2/src/modules/Kconfig.modem_module
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/modem_module.c
  applications/asset_tracker_v2/tests/json_common/src/main.c
  applications/asset_tracker_v2/tests/lwm2m_codec_helpers/src/lwm2m_codec_helpers_test.c
  applications/asset_tracker_v2/tests/nrf_cloud_codec/src/nrf_cloud_codec_test.c
Labels: changelog-entry-required

#9722 bl_validation: Improve docs
  include/bl_validation.h
  subsys/bootloader/bl_validation/bl_validation.c
Labels: changelog-entry-required

#9706 aws_iot: Update documentation according to AWS certification feedback
  doc/nrf/images/aws_mqtt_test_client.PNG
  doc/nrf/libraries/networking/aws_fota.rst
  doc/nrf/libraries/networking/aws_iot.rst
  doc/nrf/links.txt
  samples/nrf9160/aws_iot/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#9734 samples: lwm2m_client: Enable Buzzer version 1.1
  samples/nrf9160/lwm2m_client/boards/thingy91_nrf9160_ns.conf
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_buzzer.c
Labels: changelog-entry-required

#9400 manifest: TF-M with bugfix in output length
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-trusted-firmware-m, changelog-entry-required

#9726 samples: radio_test: Fix sample building with Skyworks FEM
  doc/nrf/known_issues.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/direct_test_mode/src/fem/fem.c
  samples/bluetooth/direct_test_mode/src/fem/fem.h
  samples/peripheral/radio_test/CMakeLists.txt
  samples/peripheral/radio_test/src/radio_cmd.c
Labels: doc-required

#9608 lib: pcm_mix: Moved PCM mix from application
  .github/test-spec.yml
  CODEOWNERS
  applications/nrf5340_audio/Kconfig.defaults
  applications/nrf5340_audio/src/utils/CMakeLists.txt
  applications/nrf5340_audio/src/utils/Kconfig
  applications/nrf5340_audio/src/utils/pcm_mix.h
  doc/nrf/libraries/others/pcm_mix.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/pcm_mix.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/pcm_mix/CMakeLists.txt
  lib/pcm_mix/Kconfig
  lib/pcm_mix/pcm_mix.c
  tests/lib/pcm_mix/CMakeLists.txt
  tests/lib/pcm_mix/Kconfig
  tests/lib/pcm_mix/prj.conf
  tests/lib/pcm_mix/src/main.c
  tests/lib/pcm_mix/testcase.yaml
  tests/nrf5340_audio/pcm_mix/CMakeLists.txt
  tests/nrf5340_audio/pcm_stream_channel_modifier/Kconfig
Labels: doc-required

#9728 manifest: pull Matter fix for the Wi-Fi connection callback
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#9741 applications: asset_tracker_v2: Remove filtered A-GPS Kconfig options
  applications/asset_tracker_v2/src/cloud/cloud_codec/cloud_codec.h
  applications/asset_tracker_v2/src/modules/Kconfig.location_module
  applications/asset_tracker_v2/src/modules/data_module.c
Labels: changelog-entry-required

#9702 net: lwm2m_client_utils: cellconn: Use AS RAI
  include/net/lwm2m_client_utils.h
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_cellconn_obj.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_rai.c
  tests/subsys/net/lib/lwm2m_client_utils/CMakeLists.txt
  tests/subsys/net/lib/lwm2m_client_utils/src/cellconn.c
  tests/subsys/net/lib/lwm2m_client_utils/src/stubs.c
  tests/subsys/net/lib/lwm2m_client_utils/src/stubs.h
Labels: changelog-entry-required

#9740 doc: Documentation about Wi-Fi based LwM2M location assistance
  doc/nrf/libraries/networking/lwm2m_location_assistance.rst
Labels: doc-required

#9749 manifest: Update zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#9753 doc: getting started: Instruct user to cd into ncs
  doc/nrf/gs_installing.rst
Labels: doc-required, changelog-entry-required

#9738 samples: matter: lock: simplify flashing to external flash
  samples/matter/lock/CMakeLists.txt
  samples/matter/lock/Kconfig
  samples/matter/lock/README.rst
  samples/matter/lock/src/app_task.cpp
  samples/matter/lock/src/flash-external.py
  samples/matter/lock/src/software_images_swapper.cpp
  samples/matter/lock/src/software_images_swapper.h
Labels: doc-required

#9737 manifest: pull Matter fix for WPA3 Wi-Fi connection
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  samples/matter/light_bulb/README.rst
  samples/matter/light_switch/README.rst
  samples/matter/lock/README.rst
  samples/matter/lock/sample.yaml
  samples/matter/template/README.rst
Labels: doc-required, manifest-matter

#9756 net: lib: lwm2m_client_utils: Unit test for Wi-Fi AP scan
  tests/subsys/net/lib/lwm2m_client_utils/CMakeLists.txt
  tests/subsys/net/lib/lwm2m_client_utils/prj.conf
  tests/subsys/net/lib/lwm2m_client_utils/src/dummy_wlan.c
  tests/subsys/net/lib/lwm2m_client_utils/src/stubs.c
  tests/subsys/net/lib/lwm2m_client_utils/src/stubs.h
  tests/subsys/net/lib/lwm2m_client_utils/src/wifi_ap_scanner.c
Labels: changelog-entry-required

#9624 application: serial_lte_modem: Add TFTP client
  applications/serial_lte_modem/doc/FTP_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/src/ftp_c/CMakeLists.txt
  applications/serial_lte_modem/src/ftp_c/Kconfig
  applications/serial_lte_modem/src/ftp_c/slm_at_tftp.c
  applications/serial_lte_modem/src/slm_at_commands.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#9662 Doc: Update outdated LwM2M docs
  doc/nrf/libraries/networking/lwm2m_client_utils.rst
Labels: doc-required, changelog-entry-required

#9710 nRF Desktop codeowners alignment
  CODEOWNERS
Labels: changelog-entry-required

#9755 doc: migration guide update
  doc/nrf/migration/migration_guide_1.x_to_2.x.rst
Labels: doc-required, changelog-entry-required

#9757 doc: nrf: Document releases, versions and revisions
  doc/nrf/dm_code_base.rst
  doc/nrf/glossary.rst
  doc/nrf/introduction.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable, changelog-entry-required

#9767 bluetooth: adv_prov: fast_pair: Disable battery data by default
  doc/nrf/releases/release-notes-changelog.rst
  subsys/bluetooth/adv_prov/providers/Kconfig.fast_pair
Labels: doc-required

#9770 doc: dev model: Add a reference to ncs-example-application
  doc/nrf/dm_adding_code.rst
  doc/nrf/introduction.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable, changelog-entry-required

#9744 doc: gs: add tabs to modifying app page
  doc/nrf/gs_modifying.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#9751 doc: nrf5340audio: add mentions of USB known issue
  applications/nrf5340_audio/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#9764 doc: Rename lwm2m_shell to lwm2m_carrier_shell
  doc/nrf/libraries/bin/lwm2m_carrier/CHANGELOG.rst
  doc/nrf/libraries/bin/lwm2m_carrier/app_integration.rst
  samples/nrf9160/lwm2m_carrier/sample_description.rst
Labels: doc-required, changelog-entry-required
