Repository nrfconnect/sdk-nrf, pull requests merged in 2022-07, with the labels that each got.

#8076 tfm: Fix Kconfig Pin Description
  modules/tfm/zephyr/Kconfig
Labels: CI-trusted-author, external, changelog-entry-required

#7960 thingy53: samples and applications: Adding SMP reassembly to Thingy:53 samples
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_rtt.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/sensor_server/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/sensor_server/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp_ns.conf
Labels: external, changelog-entry-required

#7990 ci: Disable mergify on draft PRs
  .github/mergify.yml
Labels: changelog-entry-required

#8037 applications: nrf_desktop: Update event propagation arrays
  applications/nrf_desktop/doc/event_propagation.rst
  applications/nrf_desktop/doc/event_rel_modules.rst
Labels: doc-required

#8064 emds: get rid of heap usage
  doc/nrf/releases/release-notes-changelog.rst
  include/emds/emds.h
  subsys/emds/emds.c
  tests/subsys/emds/emds_api/prj.conf
  tests/subsys/emds/emds_api/src/main.c
Labels: doc-required

#8106 doc: nrf: bluetooth_services: mesh: use DEVICE_DT_GET_ONE
  doc/nrf/libraries/bluetooth_services/mesh/sensor.rst
Labels: doc-required, changelog-entry-required

#8107 lib: location: use Devicetree to specify chosen Wi-Fi device
  doc/nrf/libraries/modem/location.rst
  lib/location/Kconfig
  lib/location/method_wifi.c
  samples/nrf9160/location/esp_8266_nrf9160ns.overlay
  samples/nrf9160/modem_shell/esp_8266_nrf9160ns.overlay
Labels: doc-required, changelog-entry-required

#8070 mpsl: fem: allow for seamless addition of new Front End Modules
  subsys/mpsl/fem/CMakeLists.txt
  subsys/mpsl/fem/Kconfig
  subsys/mpsl/fem/common/include/mpsl_fem_utils.h
  subsys/mpsl/fem/common/mpsl_fem_utils.c
  subsys/mpsl/fem/mpsl_fem_host.c
  subsys/mpsl/fem/nrf21540_gpio/mpsl_fem_nrf21540_gpio.c
  subsys/mpsl/fem/simple_gpio/mpsl_fem_simple_gpio.c
Labels: changelog-entry-required

#8094 manifest: Update nrfxlib
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#8082 Bluetooth: Mesh: Model shell arg alignment
  subsys/bluetooth/mesh/shell/shell_bat_cli.c
  subsys/bluetooth/mesh/shell/shell_ctl_cli.c
  subsys/bluetooth/mesh/shell/shell_ctrl_cli.c
  subsys/bluetooth/mesh/shell/shell_dtt_cli.c
  subsys/bluetooth/mesh/shell/shell_hsl_cli.c
  subsys/bluetooth/mesh/shell/shell_lightness_cli.c
  subsys/bluetooth/mesh/shell/shell_loc_cli.c
  subsys/bluetooth/mesh/shell/shell_lvl_cli.c
  subsys/bluetooth/mesh/shell/shell_onoff_cli.c
  subsys/bluetooth/mesh/shell/shell_plvl_cli.c
  subsys/bluetooth/mesh/shell/shell_ponoff_cli.c
  subsys/bluetooth/mesh/shell/shell_prop_cli.c
  subsys/bluetooth/mesh/shell/shell_scene_cli.c
  subsys/bluetooth/mesh/shell/shell_scheduler_cli.c
  subsys/bluetooth/mesh/shell/shell_sensor_cli.c
  subsys/bluetooth/mesh/shell/shell_time_cli.c
  subsys/bluetooth/mesh/shell/shell_utils.c
  subsys/bluetooth/mesh/shell/shell_utils.h
  subsys/bluetooth/mesh/shell/shell_xyl_cli.c
Labels: changelog-entry-required

#8058 applications: asset_tracker_v2: Tweak transmission buffers
  applications/asset_tracker_v2/overlay-lwm2m.conf
Labels: changelog-entry-required

#7983 Zcbor 0.5.1
  doc/nrf/releases/release-notes-changelog.rst
  scripts/requirements-build.txt
  scripts/requirements-extra.txt
  scripts/requirements-fixed.txt
  subsys/dfu/fmfu_fdev/include/modem_update_decode.h
  subsys/dfu/fmfu_fdev/include/modem_update_types.h
  subsys/dfu/fmfu_fdev/src/modem_update_decode.c
  tests/modules/lib/zcbor/cddl/test.cddl
  tests/modules/lib/zcbor/decode/src/main.c
  tests/modules/lib/zcbor/encode/src/main.c
  west.yml
Labels: doc-required, manifest, CI-all-test, manifest-zcbor

#8078 applications: nrf5340_audio: Fix typo
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpunet_defconfig
Labels: changelog-entry-required

#8074 samples: nrf9160: lte_ble_gateway: add description of LED behaviour
  samples/nrf9160/lte_ble_gateway/README.rst
Labels: doc-required, changelog-entry-required

#8088 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#8127 applications: matter_weather_station: use DEVICE_DT_GET_ONE
  applications/matter_weather_station/src/app_task.cpp
Labels: changelog-entry-required

#8116 application: serial_lte_modem: Signify location info
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8130 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#8109 doc: Update figures for CAF libraries
  doc/nrf/libraries/caf/images/caf_ble_state_transitions.svg
  doc/nrf/libraries/caf/images/caf_ble_state_transitions.vsdx
  doc/nrf/libraries/caf/images/caf_buttons_states.svg
  doc/nrf/libraries/caf/images/caf_buttons_states.vsdx
  doc/nrf/libraries/caf/images/caf_power_manager_states.svg
  doc/nrf/libraries/caf/images/caf_power_manager_states.vsdx
  doc/nrf/libraries/caf/images/caf_sensor_states.svg
  doc/nrf/libraries/caf/images/caf_sensor_states.vsdx
Labels: doc-required, changelog-entry-required

#8075 Fix capitalisation
  doc/nrf/gs_programming.rst
Labels: doc-required, CI-trusted-author, external

#8112 applications: nrf5340_audio: use gpio-dt-spec
  applications/nrf5340_audio/src/modules/led.c
Labels: changelog-entry-required

#8143 doc: known_issues: Add NCSDK-16060
  doc/nrf/known_issues.rst
Labels: doc-required

#8073 mpsl: fem: Add support for nRF21540 GPIO + SPI (Experimental)
  doc/nrf/ug_radio_fem.rst
  subsys/mpsl/fem/CMakeLists.txt
  subsys/mpsl/fem/Kconfig
  subsys/mpsl/fem/common/include/mpsl_fem_utils.h
  subsys/mpsl/fem/common/mpsl_fem_utils.c
  subsys/mpsl/fem/nrf21540_gpio_spi/mpsl_fem_nrf21540_gpio_spi.c
Labels: doc-required, changelog-entry-required

#8135 applications: nrf_desktop: motion_sensor: use DEVICE_DT_GET_ONE
  applications/nrf_desktop/configuration/common/motion_sensor.h
  applications/nrf_desktop/src/hw_interface/motion_sensor.c
Labels: changelog-entry-required

#8029 doc: add doc building process page
  doc/nrf/doc_build_process.rst
  doc/nrf/documentation.rst
  doc/nrf/links.txt
Labels: doc-required, changelog-entry-required

#7920 Bluetooth: Mesh: Added emds support to mesh models
  doc/nrf/libraries/bluetooth_services/mesh/gen_plvl_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_hue_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_sat_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_temp_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_xyl_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/lightness_srv.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/mesh/gen_plvl_srv.h
  include/bluetooth/mesh/light_hue_srv.h
  include/bluetooth/mesh/light_sat_srv.h
  include/bluetooth/mesh/light_temp_srv.h
  include/bluetooth/mesh/light_xyl_srv.h
  include/bluetooth/mesh/lightness_srv.h
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/light_hsl_srv.c
  subsys/bluetooth/mesh/light_hue_srv.c
  subsys/bluetooth/mesh/light_sat_srv.c
  subsys/bluetooth/mesh/light_temp_srv.c
  subsys/bluetooth/mesh/light_xyl_srv.c
  subsys/bluetooth/mesh/lightness_internal.h
  subsys/bluetooth/mesh/lightness_srv.c
  subsys/bluetooth/mesh/model_utils.h
  tests/subsys/bluetooth/mesh/models/src/main.c
  tests/subsys/bluetooth/mesh/models/testcase.yaml
Labels: doc-required

#8134 applications: nrf_desktop: use DEVICE_DT_GET for qdec
  applications/nrf_desktop/src/hw_interface/wheel.c
Labels: changelog-entry-required

#8150 application: serial_lte_modem: BUG-FIX GNSS sleep/wakeup event
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8159 Revert "ci: Delay jenkins pull request webhook"
  .github/workflows/jenkins-trigger.yml
Labels: CI-disable, changelog-entry-required

#8152 manifest: openthread update with MTD DUA fix
  doc/nrf/releases/release-notes-changelog.rst
  west.yml
Labels: doc-required, manifest, manifest-openthread

#8153 application: serial_lte_modem: Support GNSS data delete
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  applications/serial_lte_modem/src/slm_at_commands.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8115 applications: machine_learning: Cleanup event API references
  applications/machine_learning/README.rst
  applications/machine_learning/src/events/ei_data_forwarder_event.h
  applications/machine_learning/src/events/ml_app_mode_event.h
  applications/machine_learning/src/events/ml_result_event.h
  applications/machine_learning/src/events/sensor_sim_event.h
Labels: doc-required

#8149 caf: Add polichrom led glitches to know issue for NCS 2.0
  doc/nrf/known_issues.rst
  doc/nrf/libraries/caf/leds.rst
Labels: doc-required

#8139 samples: peripheral_fast_pair: Limit discoverable adv session
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_fast_pair/README.rst
  samples/bluetooth/peripheral_fast_pair/prj.conf
  samples/bluetooth/peripheral_fast_pair/src/main.c
Labels: doc-required

#8155 manifest: update nrfxlib revision
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_ot_memory.rst
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib

#8170 doc: SLM small doc fix
  applications/serial_lte_modem/doc/DFU_AT_commands.rst
  applications/serial_lte_modem/doc/FOTA_AT_commands.rst
  applications/serial_lte_modem/doc/GPIO_AT_commands.rst
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/doc/MQTT_AT_commands.rst
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
Labels: doc-required, changelog-entry-required

#8166 doc: update docs and versions for NCS 2.0.1
  doc/nrf/conf.py
  doc/nrf/dm_adding_code.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.0.1.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required, CI-disable

#8173 applications: asset_tracker_v2: Wait before reconnecting to cloud
  applications/asset_tracker_v2/src/modules/cloud_module.c
Labels: changelog-entry-required

#8145 applications: asset_tracker_v2: LwM2M codec cleanup
  applications/asset_tracker_v2/overlay-lwm2m.conf
  applications/asset_tracker_v2/src/cloud/cloud_codec/Kconfig
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec.c
Labels: changelog-entry-required

#8183 doc: add link to updating repo to rel notes
  doc/nrf/gs_updating.rst
  doc/nrf/releases/release-notes-2.0.1.rst
Labels: doc-required, CI-disable

#7921 applications: Asset_Tracker_v2: Use PDN events instead of CEREG notifs
  applications/asset_tracker_v2/prj.conf
  applications/asset_tracker_v2/src/modules/Kconfig.modem_module
  applications/asset_tracker_v2/src/modules/modem_module.c
Labels: changelog-entry-required

#8178 doc: update documentation for NCS 1.9.2
  doc/nrf/dm_adding_code.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-1.9.2.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required, CI-disable

#8186 doc: add versions and fix conf.py
  doc/nrf/conf.py
  doc/versions.json
Labels: doc-required, CI-disable

#8142 doc: software_maturity: add entries for HomeKit
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required

#8189 doc: update docs to fix deployment
  doc/nrf/releases/release-notes-1.9.2.rst
Labels: doc-required, CI-disable

#8156 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#8181 manifest: openthread upmerge up to commit `2ce3d3b`
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_prebuilt_libs.rst
  doc/nrf/ug_thread_supported_features.rst
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: doc-required, manifest, manifest-zephyr, manifest-nrfxlib, manifest-matter

#7961 applications: asset_tracker_v2: Use low power modes for ADXL362.
  applications/asset_tracker_v2/boards/thingy91_nrf9160_ns.overlay
Labels: manifest-zephyr, changelog-entry-required

#8191 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, changelog-entry-required

#7981 doc: Improve the structure in Thingy GSG
  doc/nrf/glossary.rst
  doc/nrf/images/nrfcloud_activating_sim.png
  doc/nrf/images/programmer_add_file.png
  doc/nrf/images/programmer_add_file1.png
  doc/nrf/images/programmer_enable_mcuboot.png
  doc/nrf/images/programmer_ext_debug_hex_write.png
  doc/nrf/images/programmer_ext_debug_update_modem.png
  doc/nrf/images/programmer_hex_write.png
  doc/nrf/images/programmer_modemdfu.png
  doc/nrf/images/programmer_select_device.png
  doc/nrf/images/programmer_select_device1.png
  doc/nrf/images/programmer_usb_update_modem.png
  doc/nrf/images/thingy91_mcuboot_dfu.png
  doc/nrf/images/thingy91_mcuboot_dfu1.png
  doc/nrf/images/thingy91_modemdfu_mcuboot.png
  doc/nrf/images/thingy91_sim_iccid_puk.svg
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf9160_gs.rst
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_thingy91_gsg.rst
Labels: doc-required

#8195 Peripheral latency disable
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#8190 matter: optimize QSPI NOR flash usage during DFU over SMP
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/common/src/dfu_over_smp.cpp
  samples/matter/common/src/dfu_over_smp.h
Labels: doc-required

#8204 doc: fixes to tool name formatting and spelling
  doc/nrf/ug_fw_update.rst
  doc/nrf/ug_multi_image.rst
  doc/nrf/ug_thingy91.rst
  doc/nrf/ug_zigbee_configuring_zboss_traces.rst
Labels: doc-required, CI-disable

#8175 [backport-v2.0] manifest: Update Zephyr revision
  west.yml
Labels: bug, manifest, manifest-zephyr

#8206 doc: move nRF70 user guide to proper location
  doc/nrf/index.rst
  doc/nrf/ug_nrf7002.rst
Labels: doc-required, CI-disable

#8211 applications: connectivity_bridge: uart rx timeout and assert fix
  applications/connectivity_bridge/src/disk/config.c
  applications/connectivity_bridge/src/modules/uart_handler.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#7930 doc: known_issues: Add new issues in bluetooth samples.
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#8205 manifest: update nrfxlib version
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#8014 applications: asset_tracker_v2: Use GNSS PVT format for nRF Cloud builds
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/json_protocol_names_nrf_cloud.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/nrf_cloud/nrf_cloud_codec.c
  applications/asset_tracker_v2/src/modules/Kconfig.gnss_module
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#8198 manifest: openthread upmerge up to commit `2ce3d3b`
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_configuring.rst
  doc/nrf/ug_thread_supported_features.rst
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: doc-required, manifest, manifest-zephyr, manifest-nrfxlib, manifest-homekit, manifest-matter, manifest-openthread

#8226 doc: nrf5340audio: update legal section
  applications/nrf5340_audio/README.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#8237 doc: remove markdown pinned version
  scripts/requirements-doc.txt
Labels: changelog-entry-required

#8123 samples: Bluetooth: df: Forward GPIO pins from app to network core
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/direction_finding_central/README.rst
  samples/bluetooth/direction_finding_central/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/direction_finding_central/child_image/hci_rpmsg/boards/nrf5340dk_nrf5340_cpunet.overlay
  samples/bluetooth/direction_finding_connectionless_rx/README.rst
  samples/bluetooth/direction_finding_connectionless_rx/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/direction_finding_connectionless_rx/child_image/hci_rpmsg/boards/nrf5340dk_nrf5340_cpunet.overlay
  samples/bluetooth/direction_finding_connectionless_tx/README.rst
  samples/bluetooth/direction_finding_connectionless_tx/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/direction_finding_connectionless_tx/child_image/hci_rpmsg/boards/nrf5340dk_nrf5340_cpunet.overlay
  samples/bluetooth/direction_finding_peripheral/README.rst
  samples/bluetooth/direction_finding_peripheral/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/direction_finding_peripheral/child_image/hci_rpmsg/boards/nrf5340dk_nrf5340_cpunet.overlay
Labels: doc-required

#8230 manifest: update nrfxlib version
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#8218 wifi: Fix secure associations
  west.yml
Labels: manifest, changelog-entry-required, manifest-sdk-hostap

#8242 matter: fix weather station after OpenThread update
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg_release.conf
Labels: changelog-entry-required

#8227 manifest: openthread: update openthread generated libs 2ce3d3b
  doc/nrf/ug_thread_ot_memory.rst
  samples/openthread/cli/overlay-debug.conf
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib, manifest-openthread

#8252 application: serial_lte_modem: Add GNSS and A-GPS debug
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: changelog-entry-required

#8248 applications: serial_lte_modem: at_host: use DEVICE_DT_GET
  applications/serial_lte_modem/src/slm_at_host.c
Labels: changelog-entry-required

#8243 doc: nrf5340audio: add limitation and known issue
  applications/nrf5340_audio/README.rst
  doc/nrf/known_issues.rst
Labels: doc-required, CI-disable, changelog-entry-required

#8249 gazell: remove unused definition
  subsys/gazell/gzp.c
Labels: changelog-entry-required

#8244 doc: document transition to default Thread 1.3
  doc/nrf/links.txt
  doc/nrf/ug_thread_configuring.rst
  doc/nrf/ug_thread_supported_features.rst
Labels: doc-required, CI-disable

#8256 doc: openthread: update SHA of recommended OT Border Router
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_thread_tools.rst
Labels: doc-required, CI-disable

#7830 manifest: Update cmock to point to version with alignment fix
  west.yml
Labels: manifest, manifest-unity, manifest-cmock, changelog-entry-required

#8255 doc: tfm: upgrade configuration for 1.6.0
  doc/tfm/conf.py
Labels: doc-required, changelog-entry-required

#8235 doc: update documentation for NCS 2.0.2
  doc/nrf/conf.py
  doc/nrf/dm_adding_code.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.0.2.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required, CI-disable

#8240 doc: add NCS 2.0.2 doc updates to main
  doc/nrf/dm_adding_code.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.0.2.rst
  doc/nrf/shortcuts.txt
  doc/versions.json
Labels: doc-required, CI-disable

#8271 drivers: net: eth_rtt: allocate device from Devicetree
  doc/nrf/drivers/eth_rtt.rst
  drivers/net/Kconfig
  drivers/net/eth_rtt.c
  dts/bindings/net/segger,eth-rtt.yaml
  samples/crypto/psa_tls/app.overlay
Labels: doc-required

#8278 manifest: Update memfault to 0.31.5
  west.yml
Labels: manifest, manifest-memfault-firmware-sdk, changelog-entry-required

#8276 manifest: update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#8272 manifest: Update Zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#8270 bluetooth: controller: Use new central and peripheral specific featur…
  subsys/bluetooth/controller/hci_driver.c
Labels: changelog-entry-required

#8176 manifest: Update Zephyr revision
  west.yml
Labels: bug, manifest, manifest-zephyr
