Repository nrfconnect/sdk-nrf, pull requests merged in 2022-02, with the labels that each got.

#6514 nfc: Add handling of tagheaders with TF-M enabled
  subsys/nfc/lib/platform.c
Labels: CI-nfc-test, CI-matter-test, CI-find-my-test

#6678 manifest: Update nrfxlib revision
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#6685 applications: asset_tracker_v2: Add docs for application and data module
  applications/asset_tracker_v2/README.rst
  applications/asset_tracker_v2/doc/app_module.rst
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/asset_tracker_v2/doc/data_module.rst
  applications/asset_tracker_v2/src/events/data_module_event.h
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#6664 doc: Update zigbee tools and ZBOSS libraries versions in the doc
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
Labels: doc-required

#6704 samples: tfm_hello_world: Fix regex failure when skipping MCU selection
  samples/tfm/tfm_hello_world/sample.yaml
  samples/tfm/tfm_hello_world/src/main.c
Labels: CI-tfm-test

#6691 lib: nrf_modem: Revert modem trace change from #6471
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  lib/lte_link_control/lte_lc.c
Labels: doc-required, CI-iot-samples-test, CI-iot-libraries-test

#6346 applications: machine_learning: Add information about power management
  applications/machine_learning/README.rst
Labels: doc-required

#6716 applications: machine_learning: Fix logging issue
  applications/machine_learning/src/events/ml_app_mode_event.c
Labels: bug

#6708 doc improvement: Minor fixes of documents
  doc/nrf/images/nrf_desktop_arch.svg
  doc/nrf/images/nrf_desktop_arch.vsdx
  doc/nrf/libraries/others/event_manager.rst
Labels: doc-required, changelog-entry-required

#6651 Bluetooth: Changes that were not included in upmerge
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_driver.c
Labels: CI-ble-test, CI-zigbee-test, manifest-zephyr, CI-homekit-test, CI-find-my-test, changelog-entry-required

#6713 applications: nrf_desktop: Add documentation of hid_state_pm
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/event_propagation.rst
  applications/nrf_desktop/doc/event_rel_modules.rst
  applications/nrf_desktop/doc/hid_state_pm.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-desktop-test

#6557 net: lib: lwm2m_client_utils: offer cb to get fw update state changes
  include/net/lwm2m_client_utils.h
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
Labels: CI-trusted-author, external, CI-boot-dfu-test

#6624 lib: fota_download, dfu_target: Support (only) explicit dual-binary FOTA paths
  doc/nrf/releases/release-notes-changelog.rst
  include/dfu/dfu_target_mcuboot.h
  include/net/fota_download.h
  subsys/dfu/dfu_target/src/dfu_target_mcuboot.c
  tests/subsys/dfu/dfu_target_mcuboot/src/main.c
  tests/subsys/net/lib/fota_download/src/main.c
Labels: doc-required, CI-boot-dfu-test

#6612 Update VSC links with new url
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#6674 west.yml: update memfault-firmware-sdk
  west.yml
Labels: manifest, manifest-memfault-firmware-sdk

#6724 TF-M: Fix PSA Architecture Tests - Compilation Errors
  modules/tfm/tfm/boards/partition/region_defs.h
Labels: CI-tfm-test, CI-matter-test

#6728 doc: container page fix for mesh chat
  samples/bluetooth/mesh/chat/README.rst
  samples/bluetooth/mesh/chat/sample_description.rst
Labels: doc-required, changelog-entry-required

#6671 lib: lte_lc: Increase XMONITOR response buffer
  lib/lte_link_control/lte_lc.c
Labels: CI-lwm2m-test, CI-iot-samples-test, CI-iot-libraries-test

#6688 doc improvement: style fixes in Crypto samples
  samples/crypto/aes_cbc/README.rst
  samples/crypto/aes_ccm/README.rst
  samples/crypto/aes_ctr/README.rst
  samples/crypto/aes_gcm/README.rst
  samples/crypto/chachapoly/README.rst
  samples/crypto/ecdh/README.rst
  samples/crypto/ecdsa/README.rst
  samples/crypto/hkdf/README.rst
  samples/crypto/hmac/README.rst
  samples/crypto/persistent_key_usage/README.rst
  samples/crypto/psa_tls/README.rst
  samples/crypto/rng/README.rst
  samples/crypto/rsa/README.rst
  samples/crypto/sha256/README.rst
  tests/crypto/README.rst
Labels: doc-required, CI-disable

#6705 doc improvement: style fixes in Matter samples
  samples/matter/light_bulb/README.rst
  samples/matter/light_switch/README.rst
  samples/matter/lock/README.rst
  samples/matter/template/README.rst
Labels: doc-required, CI-disable

#6720 doc improvement: style fixes in nRF5340 samples
  samples/nrf5340/empty_app_core/README.rst
  samples/nrf5340/multiprotocol_rpmsg/README.rst
  samples/nrf5340/netboot/README.rst
  samples/nrf_rpc/entropy_nrf53/README.rst
Labels: doc-required, CI-disable

#6736 applications: asset_tracker_v2: Increase IMEI buffer size
  applications/asset_tracker_v2/src/cloud/azure_iot_hub_integration.c
Labels: bug

#6731 doc improvement: style fixes in Thread samples
  samples/openthread/cli/README.rst
  samples/openthread/coap_client/README.rst
  samples/openthread/coap_server/README.rst
  samples/openthread/coprocessor/README.rst
Labels: doc-required, CI-disable

#6729 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#6684 matter: weather_station: reduce Thread SED flakiness
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  samples/matter/common/src/dfu_over_smp.cpp
  samples/matter/lock/overlay-low_power.conf
  west.yml
Labels: manifest, manifest-matter, CI-matter-test

#6712 doc improvement: style fixes in NFC samples
  samples/nfc/record_launch_app/README.rst
  samples/nfc/record_text/README.rst
  samples/nfc/system_off/README.rst
  samples/nfc/tag_reader/README.rst
  samples/nfc/tnep_poller/README.rst
  samples/nfc/tnep_tag/README.rst
  samples/nfc/writable_ndef_msg/README.rst
Labels: doc-required, CI-disable

#6670 lib: nrf_cloud: Handle disconnection request from nRF Cloud
  doc/nrf/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/include/nrf_cloud_codec.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fsm.c
Labels: doc-required, CI-thingy91-test, CI-matter-test

#6748 doc: Extended Matter configuring protocol section
  doc/nrf/ug_matter_configuring_protocol.rst
Labels: doc-required, changelog-entry-required

#6742 lib: nrf_modem: Remove auto stopping of traces from modem_trace module
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  include/modem/nrf_modem_lib_trace.h
  lib/nrf_modem_lib/nrf_modem_lib_trace.c
  tests/lib/modem_trace/modem_trace_rtt/src/modem_trace_test.c
  tests/lib/modem_trace/modem_trace_uart/src/modem_trace_test.c
Labels: doc-required, CI-lwm2m-test, CI-iot-samples-test

#6677 doc improvement: style fixes in Bluetooth samples
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/README.rst
  samples/bluetooth/mesh/silvair_enocean/README.rst
  samples/bluetooth/peripheral_hr_coded/README.rst
  samples/bluetooth/peripheral_nfc_pairing/README.rst
  samples/bluetooth/peripheral_uart/README.rst
  samples/bluetooth/radio_coex_1wire/README.rst
  samples/bluetooth/radio_coex_3wire/README.rst
  samples/bluetooth/rpc_host/README.rst
  samples/bluetooth/throughput/README.rst
Labels: doc-required, CI-disable

#6743 manifest: Update Zephyr revision
  west.yml
Labels: manifest, CI-disable, manifest-zephyr, CI-all-test, changelog-entry-required

#6721 manifest: Updating nrfxlib
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test, changelog-entry-required

#6753 doc improvement: style fixes for Immutable Bootloader sample
  samples/bootloader/README.rst
Labels: doc-required, CI-disable

#6722 manifest: nrf_802154_irq API change to allow ZLI
  west.yml
Labels: manifest, manifest-zephyr, manifest-nrfxlib, CI-all-test

#6438 Bluetooth: Mesh: Extract regulator from light ctrl srv
  doc/nrf/libraries/bluetooth_services/mesh/light_ctrl.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_ctrl_reg.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_ctrl_reg_spec.rst
  doc/nrf/nrf.doxyfile.in
  include/bluetooth/mesh/light_ctrl.h
  include/bluetooth/mesh/light_ctrl_reg.h
  include/bluetooth/mesh/light_ctrl_reg_spec.h
  include/bluetooth/mesh/light_ctrl_srv.h
  subsys/bluetooth/mesh/CMakeLists.txt
  subsys/bluetooth/mesh/Kconfig.models
  subsys/bluetooth/mesh/light_ctrl_reg.c
  subsys/bluetooth/mesh/light_ctrl_reg_spec.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  tests/subsys/bluetooth/mesh/light_ctrl/CMakeLists.txt
  tests/subsys/bluetooth/mesh/light_ctrl/src/main.c
Labels: doc-required, CI-mesh-test, changelog-entry-required

#6577 lib: lte_lc: Return 0 if library is already initialized
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/lte_lc.h
  lib/lte_link_control/lte_lc.c
  samples/nrf9160/modem_shell/src/link/link.c
Labels: doc-required, CI-boot-dfu-test, CI-lwm2m-test, CI-iot-samples-test, CI-iot-libraries-test

#6756 modules: nrfxlib: nrf_802154: ECB use ZLI irq prio
  modules/nrfxlib/nrf_802154/CMakeLists.txt
  west.yml
Labels: manifest, CI-zigbee-test, CI-thread-test, manifest-nrfxlib, CI-all-test, CI-tfm-test, CI-homekit-test, CI-rs-test, CI-matter-test

#6745 doc: nrf: add section comparing MQTT and REST
  doc/nrf/ug_nrf_cloud.rst
Labels: doc-required

#6757 doc: openthread: update OT-BR and wpantund verified commits
  doc/nrf/ug_thread_tools.rst
Labels: doc-required

#6623 net: lib: nrf_cloud: add location and device message send to rest lib
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud_rest.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_codec.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: doc-required, CI-thingy91-test

#6255 ci: docpublish: do not build cache if external
  .github/workflows/docbuild.yml
Labels: Stale, changelog-entry-required

#6759 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test, Hotfix

#6761 openthread: revert workaround for SRP encryption problem.
  subsys/net/openthread/Kconfig.defconfig
Labels: CI-thread-test, CI-matter-test

#6766 CODEOWNERS: Add codeowners for lte_link_control
  CODEOWNERS
Labels: changelog-entry-required

#6706 mpsl: cx: support for nRF5340
  subsys/mpsl/cx/Kconfig
  subsys/mpsl/cx/generic_3pin/mpsl_cx_generic_3pin.c
  subsys/mpsl/cx/thread/mpsl_cx_thread.c
Labels: CI-ble-test, CI-zigbee-test, CI-thread-test, CI-homekit-test, CI-rs-test, CI-matter-test

#6723 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test

#6762 mpsl: mpsl_fem_host: Fix forwarding pins to net core
  subsys/mpsl/fem/mpsl_fem_host.c
Labels: CI-ble-test, CI-zigbee-test, CI-thread-test, CI-homekit-test, CI-rs-test, CI-matter-test

#6751 lib: nrf_modem: nrf91_sockets: Free file descriptor on accept error
  doc/nrf/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/nrf91_sockets.c
Labels: bug, doc-required, CI-lwm2m-test, CI-iot-samples-test

#6765 lib: lte_lc: Address increased stack usage in PSM parsing
  lib/lte_link_control/lte_lc.c
Labels: bug, CI-boot-dfu-test, CI-lwm2m-test, CI-iot-samples-test, CI-iot-libraries-test

#6771 asset_tracker_v2: Kconfig: make A-GPS depend on GNSS
  applications/asset_tracker_v2/src/modules/Kconfig.cloud_module
  applications/asset_tracker_v2/src/modules/Kconfig.gnss_module
Labels: bug, CI-apps-test

#6676 manifest: nrf_modem: version 1.5.0
  doc/nrf/releases/release-notes-1.7.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/nrf_modem_os.c
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib, CI-all-test, CI-lwm2m-test, CI-iot-samples-test

#6769 samples: Adjust workqueue stack size for peripheral_uart
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_uart/prj_minimal.conf
Labels: doc-required, CI-ble-test

#6774 doc improvement: style fixes in Hardware unique key sample
  samples/keys/hw_unique_key/README.rst
Labels: doc-required, CI-disable

#6730 manifest: update zephyr to include Bluetooth SMP conn param negotiation
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_rtt.conf
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/sensor_server/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/sensor_server/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_lbs/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp_ns.conf
  west.yml
Labels: manifest, CI-ble-test, manifest-zephyr, CI-all-test, changelog-entry-required

#6741 applications: nrf_desktop: Add information about fwupd and LVFS
  applications/nrf_desktop/README.rst
  doc/nrf/links.txt
Labels: doc-required, CI-desktop-test

#6625 Bluetooth: Mesh: Enocean btn state machine update
  samples/bluetooth/mesh/silvair_enocean/prj.conf
  subsys/bluetooth/mesh/vnd/silvair_enocean_srv.c
  tests/subsys/bluetooth/mesh/silvair_enocean_model/src/main.c
Labels: bug, CI-mesh-test, changelog-entry-required

#6782 manifest: NCS v1.9.0-rc1
  west.yml
Labels: manifest, CI-boot-dfu-test, manifest-zephyr, manifest-nrfxlib, manifest-mcuboot, CI-all-test, manifest-trusted-firmware-m, CI-tfm-test, manifest-homekit, manifest-nrf-802154, CI-homekit-test, manifest-find-my, manifest-matter, CI-matter-test, CI-find-my-test, changelog-entry-required

#6752 doc improvement: style fixes in nRF9160 samples part-1
  samples/nrf9160/at_client/README.rst
  samples/nrf9160/aws_fota/README.rst
  samples/nrf9160/aws_iot/README.rst
  samples/nrf9160/azure_iot_hub/README.rst
  samples/nrf9160/cloud_client/README.rst
  samples/nrf9160/coap_client/README.rst
  samples/nrf9160/fmfu_smp_svr/README.rst
  samples/nrf9160/gnss/README.rst
  samples/nrf9160/https_client/README.rst
Labels: doc-required, CI-disable

#6768 doc improvement: style fixes in nRF9160 samples part-2
  samples/nrf9160/http_update/application_update/README.rst
  samples/nrf9160/http_update/full_modem_update/README.rst
  samples/nrf9160/http_update/modem_delta_update/README.rst
  samples/nrf9160/lte_ble_gateway/README.rst
  samples/nrf9160/lwm2m_client/README.rst
  samples/nrf9160/memfault/README.rst
  samples/nrf9160/modem_shell/README.rst
  samples/nrf9160/secure_services/README.rst
  samples/nrf9160/sms/README.rst
  samples/nrf9160/udp/README.rst
Labels: doc-required, CI-disable

#6783 scripts: add tag_west_repos.sh
  scripts/tag_west_repos.sh
Labels: changelog-entry-required

#6777 openthread: update sdk-zepyr with CSL fix for multicore devices
  west.yml
Labels: bug, manifest, manifest-zephyr, CI-all-test

#6785 application: serial_lte_modem: Full path for S0/S1 images
  applications/serial_lte_modem/src/slm_at_fota.c
Labels: changelog-entry-required

#6778 lib: lte_lc: Add checks to connect_lte() to avoid hanging
  include/modem/lte_lc.h
  lib/lte_link_control/lte_lc.c
Labels: bug, CI-boot-dfu-test, CI-lwm2m-test, CI-iot-samples-test, CI-iot-libraries-test

#6773 Bluetooth: Mesh: Make regulator to not interfere with controller's FSM
  subsys/bluetooth/mesh/light_ctrl_srv.c
  tests/subsys/bluetooth/mesh/light_ctrl/src/main.c
Labels: bug, CI-mesh-test, changelog-entry-required

#6308 Fix ncsdk 12745
  boards/arm/thingy91_nrf9160/pre_dt_board.cmake
Labels: manifest-zephyr

#6797 doc improvement: style fixes in Other samples
  samples/peripheral/lpuart/README.rst
  samples/peripheral/radio_test/README.rst
  samples/sensor/bh1749/README.rst
  samples/tfm/tfm_hello_world/README.rst
Labels: doc-required, CI-disable

#6764 doc improvement: Style fixes in SPM sample
  samples/spm/README.rst
Labels: doc-required, CI-disable

#6786 doc: Add known issue with radio notifications
  doc/nrf/known_issues.rst
Labels: doc-required

#6770 doc improvement: style fixes in PPI trace sample
  samples/debug/ppi_trace/README.rst
Labels: doc-required, CI-disable

#6789 doc improvement: style fixes in Random HUK sample
  samples/keys/random_hw_unique_key/README.rst
Labels: doc-required, CI-disable

#6791 doc improvement: Style fixes in MPSL timeslot sample
  samples/mpsl/timeslot/README.rst
Labels: doc-required, CI-disable

#6793 doc improvement: style fixes to IEE 820.15.4 PHY test tool sample
  samples/peripheral/802154_phy_test/README.rst
Labels: doc-required, CI-disable

#6763 manifest: Update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test, changelog-entry-required

#6787 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: bug, manifest, manifest-nrfxlib, CI-all-test, manifest-nrf-802154, changelog-entry-required

#6807 tests: Crypto: Skip GCM for non-Oberon non-CC312
  tests/crypto/src/main.c
Labels: CI-crypto-test, changelog-entry-required

#6792 Bluetooth: Mesh: Remove doc ref to Zephyr.
  doc/nrf/ug_bt_mesh_configuring.rst
Labels: doc-required, CI-disable

#6802 mpsl: increase mpsl_cx initialization priority
  subsys/mpsl/cx/Kconfig
  subsys/mpsl/cx/generic_3pin/mpsl_cx_generic_3pin.c
Labels: bug, CI-ble-test, CI-zigbee-test, CI-thread-test, CI-homekit-test, CI-rs-test, CI-matter-test, changelog-entry-required

#6824 net: lib: lwm2m_client_utils: Verify maximum instance count on create
  subsys/net/lib/lwm2m_client_utils/lwm2m/ecid_signal_meas_info.c
Labels: bug

#6820 samples: matter: change maximum light brightness level
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_bulb/src/light_bulb.matter
  samples/matter/light_bulb/src/light_bulb.zap
  samples/matter/light_bulb/src/lighting_manager.cpp
  samples/matter/light_bulb/src/lighting_manager.h
  samples/matter/light_bulb/src/zap-generated/endpoint_config.h
  samples/matter/lock/src/app_task.cpp
Labels: bug, CI-matter-test

#6822 doc improvement: Add using Programmer to nRF9160 DK section
  doc/nrf/ug_nrf9160.rst
Labels: doc-required, CI-disable

#6821 manifest: Update HomeKit manifest: Fix bug: NCSDK-13771
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#6826 samples: nrf9160: lwm2m_client: Verify array index before use
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_accelerometer.c
Labels: bug

#6827 Bluetooth: Mesh: fix typo in apparent energy sensor
  include/bluetooth/mesh/sensor_types.h
Labels: bug, CI-mesh-test

#6839 applications: asset_tracker_v2: BOOT FOTA service depends on config
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#6659 lib: bin: lwm2m_carrier: update to version 0.22.0
  applications/asset_tracker_v2/src/modules/modem_module.c
  doc/nrf/libraries/bin/lwm2m_carrier/CHANGELOG.rst
  doc/nrf/libraries/bin/lwm2m_carrier/app_integration.rst
  doc/nrf/libraries/bin/lwm2m_carrier/requirements.rst
  lib/bin/lwm2m_carrier/Kconfig
  lib/bin/lwm2m_carrier/include/lwm2m_carrier.h
  lib/bin/lwm2m_carrier/include/lwm2m_os.h
  lib/bin/lwm2m_carrier/lib/cortex-m33/hard-float/liblwm2m_carrier.a
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  samples/nrf9160/lwm2m_carrier/prj.conf
  samples/nrf9160/lwm2m_carrier/src/main.c
  samples/nrf9160/modem_shell/src/shell.c
Labels: doc-required, CI-lwm2m-test, CI-iot-samples-test

#6810 manifest: update sdk-zephyr for Twister short-path
  west.yml
Labels: manifest, manifest-zephyr, CI-all-test, changelog-entry-required

#6848 doc: about: Rework the intro paragraph
  doc/nrf/introduction.rst
Labels: doc-required, CI-disable, changelog-entry-required

#6854 tests: cddl-gen: Initialize struct
  tests/modules/lib/cddl-gen/decode/src/main.c
Labels: CI-disable

#6849 applications: asset_tracker_v2: Fix issues suggested by static analysis
  applications/asset_tracker_v2/tests/debug_module/src/debug_module_test.c
  applications/asset_tracker_v2/tests/gnss_module/src/gnss_module_test.c
  applications/asset_tracker_v2/tests/ui_module/src/ui_module_test.c
Labels: bug

#6818 Doc: Update BT Mesh docs after extracting regulator
  doc/nrf/libraries/bluetooth_services/mesh/light_ctrl_reg.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_ctrl_reg_spec.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_ctrl_srv.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/mesh/light_ctrl_reg.h
  include/bluetooth/mesh/light_ctrl_reg_spec.h
  include/bluetooth/mesh/light_ctrl_srv.h
  subsys/bluetooth/mesh/Kconfig.models
Labels: doc-required, CI-mesh-test

#6851 manifest: Update SoftDevice Controller revision
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test, changelog-entry-required

#6843 manifest: openthread update with link metrics fix
  west.yml
Labels: bug, manifest, CI-thread-test, manifest-openthread, changelog-entry-required

#6859 manifest: update sdk-zephyr
  west.yml
Labels: manifest, manifest-zephyr, CI-all-test, changelog-entry-required

#6803 manifest: Update to nrfxlib PR #652
  west.yml
Labels: manifest, CI-disable, manifest-nrfxlib, CI-all-test, changelog-entry-required

#6864 Bluetooth: Controller: Disallow per adv sync cmds after legacy cmds
  subsys/bluetooth/controller/hci_internal.c
Labels: CI-ble-test, CI-zigbee-test, CI-homekit-test, CI-find-my-test, changelog-entry-required

#6865 samples: nrf9160: modem_shell: fix compilation warning
  samples/nrf9160/modem_shell/src/gnss/gnss.c
Labels: CI-iot-samples-test

#6806 cmake: multi_image: Fix building on windows
  cmake/multi_image.cmake
Labels: CI-desktop-test, CI-crypto-test, CI-boot-dfu-test, CI-tfm-test, changelog-entry-required

#6863 applications: asset_tracker_v2: Remove nRF cloud disclaimer from docs
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
Labels: doc-required, CI-disable

#6874 caf: power_manager: Fix reboot instead of power down
  subsys/caf/modules/power_manager.c
Labels: CI-desktop-test

#6879 west.yml: Update Zephyr ref for Bluetooth Host fixes
  west.yml
Labels: manifest, manifest-zephyr, CI-all-test, changelog-entry-required

#6884 manifest: NCS v1.9.0-rc2
  west.yml
Labels: manifest, CI-crypto-test, CI-boot-dfu-test, manifest-zephyr, manifest-nrfxlib, manifest-mcuboot, manifest-mbedtls-nrf, CI-all-test, manifest-trusted-firmware-m, CI-tfm-test, manifest-homekit, manifest-nrf-802154, CI-homekit-test, manifest-find-my, manifest-tfm-mcuboot, manifest-matter, CI-matter-test, CI-find-my-test, changelog-entry-required

#6746 manifest: rebase OSS trees
  west.yml
Labels: manifest, CI-boot-dfu-test, manifest-zephyr, manifest-mcuboot, CI-all-test, manifest-trusted-firmware-m, CI-tfm-test, manifest-matter, CI-matter-test, changelog-entry-required

#6887 doc: requirements: disallow breathe 4.33.0
  scripts/requirements-doc.txt
Labels: CI-disable, Hotfix, changelog-entry-required

#6857 doc: nrf_desktop: minor fwupd doc fixes
  applications/nrf_desktop/README.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable, CI-desktop-test, changelog-entry-required

#6895 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test, changelog-entry-required

#6908 doc: requirements: stick to breathe < 4.33
  scripts/requirements-doc.txt
Labels: CI-disable, Hotfix, changelog-entry-required

#6891 manifest: nrfxlib with crypto doc fixes
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#6904 lib: location: cellular_method: multicell fixed
  lib/location/method_cellular.c
Labels: CI-disable, changelog-entry-required

#6812 doc: Add release notes for NCS 1.9
  doc/nrf/gs_programming.rst
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-1.9.0.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: DNM, doc-required

#6914 manifest: update HomeKit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test

#6918 application: serial_lte_modem: BUG-FIX post FOTA handling
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/FOTA_AT_commands.rst
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/src/main.c
  applications/serial_lte_modem/src/slm_at_fota.c
  applications/serial_lte_modem/src/slm_settings.c
Labels: doc-required, changelog-entry-required

#6611 doc: Update known issues for 1.9 release
  doc/nrf/known_issues.rst
Labels: doc-required, CI-disable, changelog-entry-required

#6919 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit, CI-homekit-test, Hotfix

#6927 manifest: NCS v1.9.0
  west.yml
Labels: manifest, CI-crypto-test, CI-boot-dfu-test, manifest-zephyr, manifest-nrfxlib, manifest-mcuboot, manifest-mbedtls-nrf, CI-all-test, manifest-trusted-firmware-m, CI-tfm-test, manifest-homekit, manifest-nrf-802154, CI-homekit-test, manifest-find-my, manifest-tfm-mcuboot, manifest-matter, CI-matter-test, CI-find-my-test, changelog-entry-required

#6905 doc: post 1.9.0 doc update
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

#6910 tfm: Remove BL2 code as it is not supported
  modules/tfm/tfm/boards/CMakeLists.txt
  modules/tfm/tfm/boards/common/boot_hal.c
Labels: CI-tfm-test, CI-matter-test

#6911 tests: crypto: Remove reference to removed CONFIG_NRF_CC310_PLATFORM
  tests/crypto/src/common_test.h
Labels: DNM, CI-crypto-test, manifest-nrfxlib, changelog-entry-required

#6889 crypto: Add tags to samples, tests
  samples/crypto/aes_cbc/sample.yaml
  samples/crypto/aes_ccm/sample.yaml
  samples/crypto/aes_ctr/sample.yaml
  samples/crypto/aes_gcm/sample.yaml
  samples/crypto/chachapoly/sample.yaml
  samples/crypto/ecdh/sample.yaml
  samples/crypto/ecdsa/sample.yaml
  samples/crypto/hkdf/sample.yaml
  samples/crypto/hmac/sample.yaml
  samples/crypto/persistent_key_usage/sample.yaml
  samples/crypto/rng/sample.yaml
  samples/crypto/rsa/sample.yaml
  samples/crypto/sha256/sample.yaml
  tests/crypto/testcase.yaml
Labels: CI-crypto-test

#6926 doc: Add a known issue for radio_test and DTM (nRF5340 with nRF21540 EK build).
  doc/nrf/known_issues.rst
Labels: doc-required

#6852 doc: matter: remove devzone tutorial link
  doc/nrf/links.txt
  doc/nrf/ug_matter.rst
Labels: doc-required, CI-disable

#6888 applications: nrf_desktop: Fix deprecated Kconfig
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_mcuboot_smp.conf
Labels: CI-desktop-test

#6595 bluetooth: rpc: Modification of bt_conn_auth_cb_register function
  subsys/bluetooth/rpc/client/bt_rpc_conn_client.c
  subsys/bluetooth/rpc/common/bt_rpc_common.h
  subsys/bluetooth/rpc/host/bt_rpc_conn_host.c
Labels: CI-ble-test, CI-zigbee-test, CI-homekit-test, CI-find-my-test

#6924 manifest: Zephyr update for lwm2m fix
  west.yml
Labels: manifest, manifest-zephyr, CI-all-test

#6738 Bluetooth: Mesh: Shell support for generic models
  subsys/bluetooth/mesh/CMakeLists.txt
  subsys/bluetooth/mesh/Kconfig
  subsys/bluetooth/mesh/shell/CMakeLists.txt
  subsys/bluetooth/mesh/shell/Kconfig
  subsys/bluetooth/mesh/shell/shell_bat_cli.c
  subsys/bluetooth/mesh/shell/shell_dtt_cli.c
  subsys/bluetooth/mesh/shell/shell_loc_cli.c
  subsys/bluetooth/mesh/shell/shell_lvl_cli.c
  subsys/bluetooth/mesh/shell/shell_onoff_cli.c
  subsys/bluetooth/mesh/shell/shell_plvl_cli.c
  subsys/bluetooth/mesh/shell/shell_ponoff_cli.c
  subsys/bluetooth/mesh/shell/shell_prop_cli.c
  subsys/bluetooth/mesh/shell/shell_utils.c
  subsys/bluetooth/mesh/shell/shell_utils.h
Labels: CI-mesh-test, changelog-entry-required

#6563 bluetooth: fix gatt_dm discovery of empty services
  doc/nrf/releases/release-notes-changelog.rst
  subsys/bluetooth/gatt_dm.c
  tests/subsys/bluetooth/gatt_dm/mock/gatt_discover_mock.c
  tests/subsys/bluetooth/gatt_dm/src/main.c
Labels: doc-required, CI-desktop-test, CI-ble-test, CI-zigbee-test, CI-homekit-test, CI-find-my-test

#6933 doc: Add known issue for Zephyr Write Tx Power for the SDC
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#6732 manifest: update nrfxlib for nrf_security
  west.yml
Labels: manifest, manifest-nrfxlib, CI-all-test

#6893 doc: tf-m: update thread with support information
  doc/nrf/includes/tfm.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf5340.rst
  doc/nrf/ug_tfm.rst
  doc/nrf/ug_thread_configuring.rst
  samples/keys/hw_unique_key/README.rst
  samples/openthread/cli/README.rst
  samples/openthread/coap_client/README.rst
  samples/openthread/coap_server/README.rst
Labels: doc-required, CI-disable, CI-thread-test

#6837 Bluetooth: Mesh: Shell support for light models
  subsys/bluetooth/mesh/shell/CMakeLists.txt
  subsys/bluetooth/mesh/shell/Kconfig
  subsys/bluetooth/mesh/shell/shell_ctl_cli.c
  subsys/bluetooth/mesh/shell/shell_ctrl_cli.c
  subsys/bluetooth/mesh/shell/shell_hsl_cli.c
  subsys/bluetooth/mesh/shell/shell_lightness_cli.c
  subsys/bluetooth/mesh/shell/shell_xyl_cli.c
Labels: CI-mesh-test, changelog-entry-required

#6945 ci: use forked branches of CI/Verification repositories on v1.9-branch
  Jenkinsfile
  test-manifests/99-default-test-nrf.yml
Labels: changelog-entry-required

#6883 doc: Replace backslash with a slash for file references.
  doc/nrf/gs_installing.rst
  doc/nrf/libraries/bin/lwm2m_carrier/app_integration.rst
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  doc/nrf/ug_thingy53.rst
Labels: doc-required

#6942 manifest: Update ble-controller/MPSL revision
  west.yml
Labels: manifest, CI-ble-test, CI-thread-test, manifest-nrfxlib, CI-mesh-test, changelog-entry-required

#6957 Bluetooth: Mesh: Scene cli status msg bugs
  subsys/bluetooth/mesh/scene_cli.c
Labels: CI-mesh-test, changelog-entry-required

#6950 Bluetooth: Mesh: Shell prop cli input idx bug
  subsys/bluetooth/mesh/shell/shell_prop_cli.c
Labels: CI-mesh-test, changelog-entry-required

#6886 net: lib: nrf_cloud: Autogenerate unprovided JWTs
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud_rest.h
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_rest
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: doc-required, CI-thingy91-test, CI-boot-dfu-test, CI-matter-test

#6902 doc: move UART recommendations to better location
  doc/nrf/ug_thread_architectures.rst
  doc/nrf/ug_thread_configuring.rst
Labels: doc-required, CI-disable

#6881 mpsl: cx: fix race condition in gpiote_irq_handler
  subsys/mpsl/cx/generic_3pin/mpsl_cx_generic_3pin.c
  subsys/mpsl/cx/thread/mpsl_cx_thread.c
Labels: CI-ble-test, CI-zigbee-test, CI-thread-test, CI-homekit-test, CI-rs-test, CI-matter-test, changelog-entry-required

#6920 bluetooth: Fix scan API/implementation mismatch
  include/bluetooth/scan.h
  subsys/bluetooth/scan.c
Labels: CI-desktop-test, CI-ble-test, CI-zigbee-test, CI-homekit-test, CI-find-my-test, changelog-entry-required

#6733 mpsl: mpsl_fem: Update configuring TX gain
  subsys/mpsl/fem/Kconfig
  subsys/mpsl/fem/mpsl_fem.c
Labels: CI-ble-test, CI-zigbee-test, CI-thread-test, CI-homekit-test, CI-rs-test, CI-matter-test

#6943 applications: nrf_desktop: Document selective report subscription
  applications/nrf_desktop/doc/usb_state.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-desktop-test

#6960 samples: matter: Optimizing bootloader image size
  samples/matter/light_bulb/child_image/mcuboot_multi_image_matter_dfu.conf
  samples/matter/light_bulb/child_image/mcuboot_multi_image_smp_dfu.conf
  samples/matter/light_bulb/child_image/mcuboot_single_image_matter_dfu.conf
  samples/matter/light_bulb/child_image/mcuboot_single_image_smp_dfu.conf
  samples/matter/light_bulb/configuration/nrf52840dk_nrf52840/pm_static.yml
  samples/matter/light_bulb/configuration/nrf5340dk_nrf5340_cpuapp/pm_static.yml
  samples/matter/lock/child_image/mcuboot_multi_image_matter_dfu.conf
  samples/matter/lock/child_image/mcuboot_multi_image_smp_dfu.conf
  samples/matter/lock/child_image/mcuboot_single_image_matter_dfu.conf
  samples/matter/lock/child_image/mcuboot_single_image_smp_dfu.conf
  samples/matter/lock/configuration/nrf52840dk_nrf52840/pm_static.yml
  samples/matter/lock/configuration/nrf5340dk_nrf5340_cpuapp/pm_static.yml
Labels: CI-matter-test

#6528 Doc: glossary updates, January 22
  doc/nrf/glossary.rst
Labels: doc-required, changelog-entry-required

#6956 Bluetooth: Mesh: Shell ctrl cli input struct bug
  subsys/bluetooth/mesh/shell/shell_ctrl_cli.c
Labels: CI-mesh-test, changelog-entry-required

#6954 doc: known_issues: Add NCSDK-13923
  doc/nrf/known_issues.rst
Labels: doc-required

#6946 zigbee: Always use timeout cb for shell cmds: zcl cmd and zcl raw
  subsys/zigbee/cli/zigbee_cli_cmd_generic_cmd.c
Labels: CI-zigbee-test

#6963 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my, CI-find-my-test

#6953 Bluetooth: Mesh: add Time model error handling in Scheduler server
  subsys/bluetooth/mesh/scheduler_srv.c
Labels: CI-mesh-test

#6909 doc: Remove Getting Started Assistant documentation
  doc/nrf/gs_assistant.rst
  doc/nrf/images/gs-assistant_UI.gif
  doc/nrf/images/gs-assistant_installation.PNG
  doc/nrf/images/gs-assistant_log.PNG
  doc/nrf/images/gs-assistant_variables.PNG
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
Labels: doc-required

#6971 doc: fix broken links in Asset Tracker v2 documentation
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  doc/nrf/links.txt
  doc/nrf/ug_nrf91_features.rst
Labels: doc-required, CI-disable

#6693 modules/mcuboot/CMakeLists: use imgtool getpub for validating the key
  modules/mcuboot/CMakeLists.txt
Labels: bug, CI-boot-dfu-test, CI-homekit-test, CI-matter-test, CI-find-my-test, changelog-entry-required
