Repository nrfconnect/sdk-nrf, pull requests merged in 2023-07, with the labels that each got.

#11663 doc: Updated KRKNWK-16728 known issue content
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#11646 net: lib: nrf_cloud: Fix nrf_cloud_obj_reset
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec_internal.c
Labels: changelog-entry-required

#11632 treewide: Remove unnecessary modem dependencies related to MMSS
  lib/location/Kconfig
  lib/location/cloud_service/cloud_service.c
  lib/location/location_utils.c
  lib/location/location_utils.h
  lib/location/method_cloud_location.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/CMakeLists.txt
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/application.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/at_commands.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/at_commands.h
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/location_tracking.h
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_location
  tests/lib/location/CMakeLists.txt
  tests/lib/location/Kconfig
  tests/lib/location/location_lib_autoconf_ext.h
Labels: changelog-entry-required

#11641 drivers: wifi: Update RPU patch to rev#164
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#11674 doc: add methods to nRF_Connect_SDK_1_3 THCI
  samples/openthread/cli/harness-thci-1-3/nRF_Connect_SDK_1_3.py
Labels: changelog-entry-required

#11670 manifest: openthread: bump version of nrfxlib and openthread
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-openthread, changelog-entry-required

#11537 doc: add methods to nRF_Connect_SDK_1_3 THCI
  samples/openthread/cli/harness-thci-1-3/nRF_Connect_SDK_1_3.py
Labels: changelog-entry-required

#11573 application: serial_lte_modem: new nRF Cloud service
  applications/serial_lte_modem/CMakeLists.txt
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/AT_commands_intro.rst
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/doc/NRFCLOUD_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/overlay-carrier.conf
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/gnss/Kconfig
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  applications/serial_lte_modem/src/nrfcloud/CMakeLists.txt
  applications/serial_lte_modem/src/nrfcloud/slm_at_nrfcloud.c
  applications/serial_lte_modem/src/nrfcloud/slm_at_nrfcloud.h
  applications/serial_lte_modem/src/slm_at_commands.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, changelog-entry-required

#11671 kconfig: openthread: Increase mbedtls heap size.
  subsys/net/openthread/Kconfig.defconfig
Labels: changelog-entry-required

#11628 Bluetooth: Mesh: Def sysworkq stack size samples
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/prj.conf
  samples/bluetooth/mesh/chat/prj.conf
  samples/bluetooth/mesh/dfu/distributor/prj.conf
  samples/bluetooth/mesh/dfu/target/prj.conf
  samples/bluetooth/mesh/light/prj.conf
  samples/bluetooth/mesh/light_ctrl/prj.conf
  samples/bluetooth/mesh/light_dimmer/prj.conf
  samples/bluetooth/mesh/light_switch/prj.conf
  samples/bluetooth/mesh/sensor_client/prj.conf
  samples/bluetooth/mesh/sensor_server/prj.conf
  samples/bluetooth/mesh/silvair_enocean/prj.conf
Labels: changelog-entry-required

#11636 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#11600 doc: Add missing documentation entries
  doc/nrf/libraries/nrf_security/doc/driver_config.rst
Labels: doc-required, changelog-entry-required

#11416 SLM UART refactoring
  applications/serial_lte_modem/CMakeLists.txt
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/boards/nrf9160dk_nrf9160_ns.overlay
  applications/serial_lte_modem/boards/nrf9161dk_nrf9161_ns.overlay
  applications/serial_lte_modem/boards/thingy91_nrf9160_ns.overlay
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/doc/slm_data_mode.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/ftp_c/slm_at_ftp.c
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/lwm2m_carrier/slm_at_carrier.c
  applications/serial_lte_modem/src/main.c
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  applications/serial_lte_modem/src/nrfcloud/slm_at_nrfcloud.c
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_host.h
  applications/serial_lte_modem/src/slm_at_socket.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  applications/serial_lte_modem/src/slm_uart_handler.c
  applications/serial_lte_modem/src/slm_uart_handler.h
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, changelog-entry-required

#11553 doc: Bluetooth: Mesh: add subclause about mesh and ble coex
  doc/nrf/protocols/bt_mesh/concepts.rst
Labels: doc-required, ble mesh

#11682 tests: nrf_profiler: Migrate to new ztest API
  scripts/quarantine.yaml
  tests/subsys/nrf_profiler/README.txt
  tests/subsys/nrf_profiler/prj.conf
  tests/subsys/nrf_profiler/src/main.c
Labels: 10-min-review

#11673 nrf_security: openthread config for mbedtls debug
  samples/openthread/cli/overlay-logging.conf
  samples/openthread/coap_client/overlay-logging.conf
  samples/openthread/coap_server/overlay-logging.conf
  samples/openthread/coprocessor/overlay-logging.conf
  subsys/net/openthread/Kconfig
Labels: changelog-entry-required

#11690 tools: Use docker image with new bashrc loader
  scripts/ncs-docker-version.txt
Labels: changelog-entry-required

#11695 Driver ids
  subsys/nrf_security/src/psa_crypto_driver_wrappers.c
Labels: changelog-entry-required

#11684 manifest: Update MPSL and SDC
  west.yml
Labels: manifest, manifest-nrfxlib

#11630 samples: Bluetooth: df: Add postfix in sample.yaml to remove duplicates
  samples/bluetooth/direction_finding_central/sample.yaml
  samples/bluetooth/direction_finding_connectionless_rx/sample.yaml
  samples/bluetooth/direction_finding_connectionless_tx/sample.yaml
  samples/bluetooth/direction_finding_peripheral/sample.yaml
Labels: changelog-entry-required

#11572 bluetooth: hids: Increase max HID report map size from 255 to 512 bytes
  include/bluetooth/services/hids.h
  subsys/bluetooth/services/hids.c
Labels: CI-trusted-author, external, changelog-entry-required, CI-ble-test

#11701 samples: crypto: Add required algorithm to prj.conf
  samples/crypto/ecjpake/prj.conf
Labels: changelog-entry-required

#11626 lib: at_host: Use zephyr LOG for outgoing modem responses
  lib/at_host/at_host.c
Labels: changelog-entry-required

#11692 nrf_security: Fix psa_driver_wrapper_get_builtin_key
  subsys/nrf_security/src/psa_crypto_driver_wrappers.c
Labels: changelog-entry-required

#11694 manifest: openthread: fix openthread lib compilation.
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#11668 drivers: wifi: FMAC API documentation update
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/default/fmac_api.h
Labels: changelog-entry-required

#11677 manifest: Update TF-M with max hash size fix
  west.yml
Labels: manifest, manifest-trusted-firmware-m, changelog-entry-required

#11730 quarantine_windows_mac: quarantine tests failing after upmerge
  scripts/quarantine_windows_mac.yaml
Labels: changelog-entry-required

#11699 manifest: update zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#11728 manifest: Update Matter revision to pull zap generate script fix
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#11724 drivers: wifi: Fix the debug level for unhandled events
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/event.c
Labels: changelog-entry-required

#11424 lib: nrf_modem_lib: lte_connectivity: Add CEREG listening
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/lte_connectivity/lte_connectivity.c
  tests/lib/nrf_modem_lib/lte_connectivity/prj.conf
  tests/lib/nrf_modem_lib/lte_connectivity/src/lte_connectivity_test.c
Labels: doc-required, changelog-entry-required

#11721 manifest: update zephyr with nrf5340 net core crash fix
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#11566 drivers: wifi: Store RPU firmware in external flash on nRF5340 and nRF52840
  drivers/wifi/nrf700x/CMakeLists.txt
  drivers/wifi/nrf700x/Kconfig.nrf700x
  drivers/wifi/nrf700x/rpu_fw_patches.ld
  drivers/wifi/nrf700x/zephyr/inc/zephyr_fmac_main.h
  drivers/wifi/nrf700x/zephyr/src/zephyr_fmac_main.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_fw_load.c
Labels: changelog-entry-required

#11698 test_spec: Move integration test coverage from PR to nightly
  .github/test-spec.yml
Labels: changelog-entry-required

#11712 doc: lwm2m_location_assistance result callback
  doc/nrf/libraries/networking/lwm2m_location_assistance.rst
Labels: doc-required

#11736 quarantine_windows_mac: Quarantine all asset tracker tests
  scripts/quarantine_windows_mac.yaml
Labels: changelog-entry-required

#11743 nrf_security: Re-run TF-M when zephyr configuration have changed
  subsys/nrf_security/tfm/CMakeLists.txt
Labels: changelog-entry-required

#11680 applications: asset_tracker_v2: Add case for missing event
  applications/asset_tracker_v2/src/cloud/lwm2m_integration/lwm2m_integration.c
Labels: changelog-entry-required

#11619 doc: thread: SSED and device type updates
  doc/nrf/protocols/thread/device_types.rst
  doc/nrf/protocols/thread/sed_ssed.rst
  samples/matter/window_covering/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#11716 samples: bluetooth: nrf_dm: Align configurations for nrf5340
  samples/bluetooth/nrf_dm/child_image/hci_rpmsg/boards/nrf5340dk_nrf5340_cpunet.overlay
Labels: changelog-entry-required

#11751 drivers: wifi: Update RPU patch to rev#168
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/host_rpu_sys_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/host_rpu_umac_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#11755 manifest: Update zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#11657 doc: update doc for 2.4.1
  doc/nrf/conf.py
  doc/nrf/developing/adding_code.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.4.1.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required, changelog-entry-required

#11486 samples: net: MQTT: Use Zephyr NET and Connection mgmr for nRF91 boards
  doc/nrf/images/architecture.svg
  doc/nrf/images/mqtt_architecture.svg
  doc/nrf/includes/cert-flashing.txt
  samples/net/aws_iot/src/main.c
  samples/net/mqtt/README.rst
  samples/net/mqtt/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/net/mqtt/boards/nrf9160dk_nrf9160_ns.conf
  samples/net/mqtt/boards/thingy91_nrf9160_ns.conf
  samples/net/mqtt/doc/architecture.rst
  samples/net/mqtt/doc/description.rst
  samples/net/mqtt/doc/provisioning.rst
  samples/net/mqtt/overlay-tls-nrf7.conf
  samples/net/mqtt/overlay-tls-nrf91.conf
  samples/net/mqtt/prj.conf
  samples/net/mqtt/sample.yaml
  samples/net/mqtt/src/modules/network/CMakeLists.txt
  samples/net/mqtt/src/modules/network/network.c
  samples/net/mqtt/src/modules/network/network_emulation.c
  samples/net/mqtt/src/modules/network/network_wifi.c
  samples/net/mqtt/src/modules/transport/CMakeLists.txt
  samples/net/mqtt/src/modules/transport/Kconfig.transport
Labels: doc-required, changelog-entry-required

#11693 doc: update files for NCS 2.4.1
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.4.1.rst
  doc/versions.json
Labels: doc-required, changelog-entry-required

#11687 applications: nrf5340_audio: Update controller to 3357
  doc/nrf/libraries/bin/bt_ll_acs_nrf53/CHANGELOG.rst
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_3349.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_3357.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_shifted_3349.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_shifted_3357.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_shifted_min_3349.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_shifted_min_3357.hex
  lib/bin/bt_ll_acs_nrf53/bin/manifest.yaml
Labels: doc-required, changelog-entry-required

#11672 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#11735 manifest: openthread: regular openthread upmerge `37fb770`
  west.yml
Labels: manifest, manifest-zephyr, manifest-openthread, changelog-entry-required

#11765 drivers: wifi: FMAC structs documentation update
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/default/fmac_structs.h
Labels: changelog-entry-required

#11655 doc: nrf5340_audio: -m internal debug to release
  applications/nrf5340_audio/README.rst
Labels: doc-required, CI-disable

#11753 manifest: pull Matter fix for IPv4 builds
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#11717 manifest: Update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#11749 manifest: sdk-hostap: Pull fix for WPS
  west.yml
Labels: manifest, changelog-entry-required, manifest-hostap

#11581 doc: changelog: add Bluetooth `hci_err.h` note
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, changelog-entry-required

#11770 applications: connectivity_bridge: Redirect logs to RTT
  applications/connectivity_bridge/app.overlay
Labels: changelog-entry-required

#11574 manifest: bootloader: mcuboot: Fix wrong use of if defined
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#11768 drivers: wifi: Update RPU patch to rev#169
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#11666 west.yml: Update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#11742 manifest: Pull hostap to always request RNG
  west.yml
Labels: manifest, changelog-entry-required, manifest-hostap

#11783 west.yml: Update Zephyr revision
  west.yml
Labels: manifest, manifest-zephyr

#11634 drivers: wifi: QSPI HFCLK192M tuning
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  drivers/wifi/nrf700x/zephyr/src/qspi/src/qspi_if.c
Labels: doc-required

#11570 doc: matter: clarify SDO for inheritance cert
  doc/nrf/protocols/matter/end_product/certification.rst
Labels: doc-required, CI-disable, changelog-entry-required

#11786 boards: shields: Fix conflcits with nRF9161
  boards/shields/nrf7002ek/boards/nrf9161dk_nrf9161.overlay
  boards/shields/nrf7002ek/boards/nrf9161dk_nrf9161_ns.overlay
Labels: changelog-entry-required

#11678 ci: docpublish: update zoomin upload URL
  .github/workflows/docpublish.yml
Labels: changelog-entry-required

#11795 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#11791 manifest: openthread: update to \`5beae14\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#11778 Bluetooth: Mesh: config options to use tfm and oberon
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/mesh/light/sample.yaml
  samples/bluetooth/mesh/light_ctrl/sample.yaml
  samples/bluetooth/mesh/light_dimmer/sample.yaml
  samples/bluetooth/mesh/light_switch/sample.yaml
  samples/bluetooth/mesh/sensor_server/sample.yaml
  subsys/bluetooth/mesh/Kconfig
Labels: doc-required, ble mesh

#11779 manifest: Update Find My revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#11808 tfm: Fix TF-M with Initial Attestation compilation error
  modules/tfm/tfm/boards/CMakeLists.txt
Labels: changelog-entry-required

#11744 scripts: requirements-build.txt: Update zcbor version
  scripts/requirements-build.txt
Labels: changelog-entry-required

#11792 drivers: wifi: fmac structure code cleanup
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/default/fmac_structs.h
Labels: changelog-entry-required

#11807 doc: update HomeKit known issues
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required

#11797 Phy test tool sample update
  samples/peripheral/802154_phy_test/sample.yaml
Labels: changelog-entry-required

#11810 manifest: openthread: Fix from lib openthread compilation.
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#11822 drivers: wifi: radio-test fmac_api.h doxygen cleanup
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/radio_test/fmac_api.h
Labels: changelog-entry-required

#11824 applications: Fixed rdid generation for Matter weather station
  applications/matter_weather_station/src/app_task.cpp
  applications/matter_weather_station/src/app_task.h
Labels: changelog-entry-required

#11759 caf: buttons: Add selective wakeup functionality
  doc/nrf/libraries/caf/buttons.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/caf/gpio_pins.h
  subsys/caf/modules/buttons.c
Labels: doc-required

#11827 manifest: pull Matter WiFi recovery fix
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#11826 Bluetooth: add le power control HCI vs cmd APR handling
  subsys/bluetooth/controller/hci_internal.c
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#11817 manifest: sdk-zephyr: Pull TWT crash fix
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#11820 manifest: sdk-hostap: Pull fix for shell hang
  west.yml
Labels: manifest, changelog-entry-required, manifest-hostap

#11835 drivers: wifi: Fix QSPI encryption regression
  drivers/wifi/nrf700x/zephyr/src/qspi/src/qspi_if.c
Labels: changelog-entry-required

#11723 startup_file_improvements: manifest: update trusted-firmware-m
  west.yml
Labels: manifest, manifest-trusted-firmware-m, changelog-entry-required

#11833 drivers: wifi: Update RPU patch to rev# b9a09de9b61
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#11836 applications: serial_lte_modem: add DTLS CID support
  applications/serial_lte_modem/doc/AT_commands_intro.rst
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/doc/TCPUDP_AT_commands.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/ftp_c/slm_at_tftp.c
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_socket.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  applications/serial_lte_modem/src/slm_defines.h
  applications/serial_lte_modem/src/slm_util.c
  applications/serial_lte_modem/src/slm_util.h
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib

#11798 doc: nrf5340_audio: split docs into multiple pages
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/doc/adapting_application.rst
  applications/nrf5340_audio/doc/feature_support.rst
  applications/nrf5340_audio/doc/firmware_architecture.rst
  applications/nrf5340_audio/doc/index.rst
  doc/nrf/applications.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.1.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, CI-disable

#11718 CODEOWNERS: Add Tomi Fontanilles
  CODEOWNERS
Labels: changelog-entry-required

#11854 applications: nrf5340_audio: Update controller to version 3393
  applications/nrf5340_audio/doc/feature_support.rst
  doc/nrf/libraries/bin/bt_ll_acs_nrf53/CHANGELOG.rst
  doc/nrf/libraries/bin/bt_ll_acs_nrf53/index.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_3357.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_3393.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_shifted_3357.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_shifted_3393.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_shifted_min_3357.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_shifted_min_3393.hex
  lib/bin/bt_ll_acs_nrf53/bin/manifest.yaml
Labels: doc-required

#11799 doc: Bluetooth: Mesh: Update ACL configuration documentation
  doc/nrf/protocols/bt_mesh/configuring.rst
Labels: doc-required, changelog-entry-required

#11775 tools: Add whitelist file for pip-audit
  scripts/pip-audit-whitelist.yml
  scripts/requirements-fixed.txt
Labels: CI-all-test, changelog-entry-required

#11850 subsys: samples: Align timers configuration to new NRFX
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/direct_test_mode/src/dtm.c
  samples/peripheral/radio_test/src/radio_test.c
  subsys/debug/cpu_load/cpu_load.c
  tests/subsys/debug/cpu_load/src/test_cpu_load.c
Labels: doc-required

#11819 west.yml: Update Zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#11856 manifest: update nrfxlib for nrf_modem socket CID doc changes
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#11818 doc: TF-M known issue with nrfjprog --reset
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#11861 manifest: Add hooks to net_filter.
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#11756 doc: multi_image: mention child_image folder
  doc/nrf/config_and_build/bootloaders_and_dfu/bootloader_config.rst
  doc/nrf/config_and_build/modifying.rst
  doc/nrf/config_and_build/multi_image.rst
Labels: doc-required, CI-disable

#11849 samples: matter: Redundant FFS configurations
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  samples/matter/lock/sample.yaml
  scripts/quarantine_integration.yaml
Labels: changelog-entry-required

#11871 doc: cloud_coap: fix broken links
  doc/nrf/links.txt
Labels: doc-required

#10686 Added warning if missing pm_static.yml when using single bootloader
  cmake/partition_manager.cmake
Labels: changelog-entry-required

#11876 drivers: wifi: Disable TCP/IP checksum offload with IP fragmentation
  drivers/wifi/nrf700x/Kconfig.nrf700x
Labels: changelog-entry-required

#11870 manifest: update zephyr for mesh fixes and imrovements
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#11617 various: Enclose string if checks in quotes
  applications/matter_weather_station/CMakeLists.txt
  cmake/extensions.cmake
  samples/bluetooth/direct_test_mode/CMakeLists.txt
  samples/matter/light_bulb/CMakeLists.txt
  samples/matter/light_switch/CMakeLists.txt
  samples/matter/lock/CMakeLists.txt
  samples/matter/template/CMakeLists.txt
  samples/matter/window_covering/CMakeLists.txt
  samples/peripheral/radio_test/CMakeLists.txt
  samples/zigbee/ncp/CMakeLists.txt
  samples/zigbee/shell/CMakeLists.txt
  share/ncs-package/cmake/NcsConfig.cmake
  subsys/bootloader/cmake/sign.cmake
  subsys/dfu/fmfu_fdev/cddl/CMakeLists.txt
  subsys/nrf_security/tfm/CMakeLists.txt
  tests/lib/hw_unique_key_tfm/CMakeLists.txt
  tests/subsys/zigbee/osif/crypto/CMakeLists.txt
  tests/unity/CMakeLists.txt
Labels: changelog-entry-required

#11620 manifest: Remove tinycbor
  west.yml
Labels: manifest, changelog-entry-required

#11853 applications: nrf_desktop: Change ts resolution to us in motion sim
  applications/nrf_desktop/src/hw_interface/Kconfig.motion
  applications/nrf_desktop/src/hw_interface/motion_simulated.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#11885 manifest: update to latest sdk-zepher
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#11884 doc: known_issues: Add NCSDK-22810
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required

#11840 samples: mqtt: Rename nRF7 to nRF70
  samples/net/mqtt/doc/description.rst
  samples/net/mqtt/overlay-tls-nrf70.conf
  samples/net/mqtt/sample.yaml
Labels: doc-required, changelog-entry-required

#11832 manifest: Add Sidewalk to west manifest
  west.yml
Labels: manifest, changelog-entry-required, manifest-sidewalk

#11895 samples: matter: fix for qr-code
  samples/matter/thermostat/README.rst
Labels: doc-required

#11890 doc: update Thread known issues
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required

#11891 drivers: wifi: Update RPU patch to rev# c51fa64863d
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/host_rpu_common_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#11882 doc: Add known issues for crypto configurations
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#11879 samples: bluetooth: Set report ID in HIDs keyboard to 0.
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_hids_keyboard/src/main.c
Labels: doc-required

#11540 doc: Secure boot doc update
  doc/nrf/config_and_build/bootloaders_and_dfu/bootloader.rst
Labels: doc-required

#11894 tools: update pip packages with vuln
  scripts/requirements-fixed.txt
Labels: CI-all-test, changelog-entry-required

#11907 samples: wifi: FICR changes to read FT_PROGVERSION, PRODTEST_TRIM data.
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/fw/rpu_if.h
  samples/wifi/radio_test/src/nrf_wifi_radio_ficr_shell.c
Labels: changelog-entry-required

#11898 manifest: sdk-zephyr: Pull DHCP unicast offer feature
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#11828 Improve portability of TF-M CMake platform code - manifest update
  west.yml
Labels: manifest, manifest-trusted-firmware-m, changelog-entry-required

#11893 lib: sms: Reinitialize SMS registration after offline mode
  lib/sms/sms.c
  samples/cellular/modem_shell/src/link/link.c
  tests/lib/sms/prj.conf
  tests/lib/sms/src/sms_test.c
Labels: changelog-entry-required
