Repository nrfconnect/sdk-nrf, pull requests merged in 2023-04, with the labels that each got.

#10683 doc: versions: drop COMPONENTS_BY_VERSION
  doc/versions.json
Labels: doc-required, changelog-entry-required

#10741 manifest: update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib

#10755 samples: radio_test: Add workaround for errata 117
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  samples/peripheral/radio_test/src/radio_test.c
Labels: doc-required

#10772 compliance: add image dirs to checker exclude
  .checkpatch.conf
Labels: CI-disable

#10676 doc: matter: persistent subscriptions and Matter docset version
  doc/matter/conf.py
  doc/nrf/protocols/matter/getting_started/advanced_kconfigs.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#10732 drivers: wifi: Fix IP event handling
  drivers/wifi/nrf700x/zephyr/src/zephyr_net_if.c
Labels: changelog-entry-required

#10774 samples: radio_test: Add worakround for erratas 255, 256, 257
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/direct_test_mode/src/fem/fem.c
  samples/bluetooth/direct_test_mode/src/fem/fem.h
  samples/peripheral/radio_test/src/radio_test.c
Labels: doc-required

#10771 manifest: Update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#10786 samples: wifi: sr_coex: Change Wi-Fi peer IP address
  samples/wifi/sr_coex/Kconfig
Labels: changelog-entry-required

#10488 samples/ipc/ipc_service: fix configuration of the LOG
  samples/ipc/ipc_service/prj.conf
  samples/ipc/ipc_service/prj_icmsg.conf
  samples/ipc/ipc_service/remote/prj.conf
  samples/ipc/ipc_service/remote/prj_icmsg.conf
Labels: bug, changelog-entry-required

#10793 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#10727 doc: update Zigbee weather station description
  applications/zigbee_weather_station/README.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#10777 samples: wifi: provisioning: Fix for BLE disconnection
  samples/wifi/provisioning/prj.conf
Labels: changelog-entry-required

#10799 Bluetooth: controller: Allow CONFIG_BT_MAX_CONN=1
  subsys/bluetooth/Kconfig
  subsys/bluetooth/controller/CMakeLists.txt
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_driver.c
Labels: changelog-entry-required, CI-ble-test

#10660 samples: mqtt: Add an option to prefix pub/sub topics with Client ID.
  samples/net/mqtt/doc/description.rst
  samples/net/mqtt/src/modules/transport/transport.c
Labels: doc-required, changelog-entry-required

#10780 wifi: Fix nrf700x docs
  doc/nrf/working_with_nrf/nrf70/developing/constrained.rst
Labels: doc-required, changelog-entry-required

#10569 driver: wifi: Utility command to get rpu power save state
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fmac_api.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/fmac_api.c
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/fw/rpu_if.h
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/hal_api.h
  drivers/wifi/nrf700x/osal/hw_if/hal/src/hal_api.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_wifi_util.c
Labels: changelog-entry-required

#10791 drivers: wifi: TX coalesce logic tuning
  drivers/wifi/nrf700x/Kconfig.nrf700x
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/tx.c
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/hal_api.h
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/hal_structs.h
  drivers/wifi/nrf700x/osal/hw_if/hal/src/hal_api.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_fmac_main.c
Labels: changelog-entry-required

#10804 applications: asset_tracker_v2: Use correct device ID length
  applications/asset_tracker_v2/src/cloud/azure_iot_hub_integration.c
Labels: changelog-entry-required

#10802 doc: nRF Cloud Alerts lib: formatting fix
  doc/nrf/libraries/networking/nrf_cloud_alerts.rst
Labels: doc-required, CI-disable

#10767 Bluetooth: Mesh: Update light_ctrl sample
  samples/bluetooth/mesh/light_ctrl/prj.conf
  samples/bluetooth/mesh/light_ctrl/src/model_handler.c
Labels: changelog-entry-required

#10675 lib: pdn: Set ePCO mode
  doc/nrf/releases/release-notes-changelog.rst
  lib/pdn/pdn.c
Labels: doc-required, CI-trusted-author, external

#10760 samples: peripheral_hids_mouse: Fix Cmake warning with NRF_RPC
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_hids_mouse/README.rst
  samples/bluetooth/peripheral_hids_mouse/overlay-nrf_rpc.conf
  samples/bluetooth/peripheral_hids_mouse/prj.conf
  samples/bluetooth/peripheral_hids_mouse/sample.yaml
Labels: doc-required

#10728 applications: asset_tracker_v2: Use `ExpectAnyArgs...` cmock flavor
  applications/asset_tracker_v2/tests/lwm2m_codec_helpers/src/lwm2m_codec_helpers_test.c
Labels: changelog-entry-required

#10556 tools: Update zephyr-sdk version to 0.16.0
  scripts/tools-versions-darwin.txt
  scripts/tools-versions-linux.txt
  scripts/tools-versions-win10.txt
Labels: changelog-entry-required

#10807 doc: AWS IoT lib: formatting fix
  doc/nrf/libraries/networking/aws_iot.rst
Labels: doc-required, CI-disable

#10815 workflows: Update manifest action revision
  .github/workflows/manifest.yml
Labels: changelog-entry-required

#10797 samples: event manager proxy rework followup
  samples/event_manager_proxy/prj.conf
  samples/event_manager_proxy/prj_icmsg.conf
Labels: changelog-entry-required

#10820 workflow: backport: Update nodes' requirements
  .github/workflows/backport.yml
Labels: changelog-entry-required

#10680 manifest: Update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#10751 mcuboot: don't enable USE_ALL_AVAILABLE_RAM for thingy91
  modules/mcuboot/Kconfig
  samples/nrf9160/nrf_cloud_mqtt_multi_service/child_image/mcuboot.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/child_image/mcuboot/boards/nrf9160dk_nrf9160.conf
Labels: changelog-entry-required

#10806 manifest: Add optional project and group with dragoon source
  west.yml
Labels: manifest, changelog-entry-required, manifest-dragoon

#10818 doc: Azure IoT Hub lib: reducing the number of notes
  doc/nrf/libraries/networking/azure_iot_hub.rst
Labels: doc-required, CI-disable

#10692 manifest: nrfxlib with import key from PSA core
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-trusted-firmware-m, changelog-entry-required

#10831 scripts: Make ncs-upmerger signoff on reverts
  scripts/west_commands/ncs_commands.py
Labels: changelog-entry-required

#10756 doc: Updated ZAP tool instalation guide.
  doc/nrf/protocols/matter/getting_started/tools.rst
  west.yml
Labels: doc-required, manifest, manifest-matter, changelog-entry-required

#10783 samples: matter: Switched from using 16k settings to 32k.
  doc/nrf/protocols/matter/end_product/bootloader.rst
  doc/nrf/protocols/matter/getting_started/hw_requirements.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/light_bulb/configuration/nrf52840dk_nrf52840/pm_static_dfu.yml
  samples/matter/light_bulb/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/light_bulb/configuration/nrf7002dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/light_switch/configuration/nrf52840dk_nrf52840/pm_static_dfu.yml
  samples/matter/light_switch/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/light_switch/configuration/nrf7002dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/lock/configuration/nrf52840dk_nrf52840/pm_static_dfu.yml
  samples/matter/lock/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/lock/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_thread_wifi_switched.yml
  samples/matter/lock/configuration/nrf7002dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/template/configuration/nrf52840dk_nrf52840/pm_static_dfu.yml
  samples/matter/template/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/template/configuration/nrf7002dk_nrf5340_cpuapp/pm_static_dfu.yml
  samples/matter/window_covering/configuration/nrf52840dk_nrf52840/pm_static_dfu.yml
  samples/matter/window_covering/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
Labels: doc-required, manifest-matter

#10652 doc: ncs: add definition of NCS toolchain
  doc/nrf/getting_started/installing.rst
  doc/nrf/getting_started/recommended_versions.rst
  doc/nrf/glossary.rst
Labels: doc-required, CI-disable

#10841 doc: App dev – Bootloaders and DFU: Fixes to Kconfig options
  doc/nrf/app_dev/bootloaders_and_dfu/fw_update.rst
  samples/bootloader/README.rst
Labels: doc-required, CI-disable

#10844 doc: Logging in NCS: fixing Kconfig options
  doc/nrf/app_dev/logging/index.rst
Labels: doc-required, CI-disable

#10856 applications: nrf5340_audio: fix bad frame not triggering PLC
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
Labels: changelog-entry-required

#10837 tests: fast_pair: storage: factory_reset: Exclude native_posix
  tests/subsys/bluetooth/fast_pair/storage/factory_reset/testcase.yaml
Labels: 10-min-review

#10770 doc: changelog fixes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#10834 Bluetooth: Mesh: Fix in scheduler message validity test
  tests/subsys/bluetooth/mesh/scheduler_model/message_validity/src/main.c
Labels: ble mesh

#10860 ci: docpublish: add missing docs/ prefix
  .github/workflows/docpublish.yml
Labels: CI-disable, Hotfix, changelog-entry-required

#10861 ci: doc: add missing monitor file
  .github/workflows/docbuild.yml
  .github/workflows/docpublish.yml
Labels: CI-disable, Hotfix

#10871 scripts: Fix missing bsim update in auto-upmerge workflow
  .github/workflows/create-upmerge-PRs.yml
Labels: changelog-entry-required

#10798 manifest: Update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#10855 doc: Fixed Matter documentation related to settings size change.
  doc/nrf/protocols/matter/end_product/bootloader.rst
  doc/nrf/protocols/matter/getting_started/hw_requirements.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#10685 samples: aws_iot: Option to use UUID as device id
  samples/nrf9160/aws_iot/Kconfig
  samples/nrf9160/aws_iot/README.rst
  samples/nrf9160/aws_iot/src/main.c
Labels: doc-required

#10879 doc: FOTA images small fix
  doc/nrf/app_dev/build_and_config_system/index.rst
Labels: doc-required

#10850 samples: Don't specify CONFIG_BUILD_WITH_TFM=y
  samples/crypto/aes_cbc/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/aes_cbc/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/aes_ccm/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/aes_ccm/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/aes_ctr/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/aes_ctr/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/aes_gcm/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/aes_gcm/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/chachapoly/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/chachapoly/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/ecdh/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/ecdh/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/ecdsa/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/ecdsa/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/hkdf/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/hkdf/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/hmac/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/hmac/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/persistent_key_usage/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/persistent_key_usage/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/psa_tls/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/psa_tls/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/rng/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/rng/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/rsa/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/rsa/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/sha256/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/sha256/boards/nrf9160dk_nrf9160_ns.conf
  samples/keys/hw_unique_key/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/keys/hw_unique_key/boards/nrf9160dk_nrf9160_ns.conf
  samples/nrf9160/download/overlay-tfm.conf
  samples/nrf9160/https_client/overlay-tfm_mbedtls.conf
  samples/openthread/cli/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/openthread/coap_client/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/openthread/coap_server/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/tfm/tfm_hello_world/prj.conf
  samples/tfm/tfm_psa_template/prj.conf
  samples/tfm/tfm_secure_peripheral/prj.conf
  tests/lib/hw_unique_key_tfm/prj.conf
  tests/tfm/secure_services/prj.conf
  tests/tfm/tfm_psa_test/prj.conf
  tests/tfm/tfm_regression_test/prj.conf
Labels: changelog-entry-required

#10787 samples: nrf9160: modem_shell: Reduce heap config for Wi-Fi
  samples/nrf9160/location/overlay-nrf7002ek-wifi-scan-only.conf
  samples/nrf9160/modem_shell/overlay-nrf7002ek-wifi-scan-only.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/overlay-nrf7002ek-wifi-scan-only.conf
Labels: changelog-entry-required

#10646 lib: dk_buttons_and_leds: fix for nRF9160DK IO expander
  doc/nrf/releases/release-notes-changelog.rst
  lib/dk_buttons_and_leds/dk_buttons_and_leds.c
Labels: doc-required

#10087 lib: pdn: Handle CGEV ME DETACH and NW DETACH
  applications/asset_tracker_v2/src/modules/modem_module.c
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/pdn.h
  lib/pdn/pdn.c
  samples/nrf9160/modem_shell/src/link/link_shell_pdn.c
  samples/nrf9160/pdn/README.rst
  samples/nrf9160/pdn/src/main.c
Labels: doc-required

#10318 samples: nrf9160: modem_shell: Add GNSS data to carrier library
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/src/gnss/gnss.c
Labels: doc-required

#10853 applications: nrf5340_audio: Fix channel allocation setting
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
Labels: changelog-entry-required

#10857 applications: nrf5340_audio: discover finsihed check added
  applications/nrf5340_audio/src/bluetooth/ble_audio_services.c
Labels: changelog-entry-required

#10880 quarantine_windows: Add EBC tests
  scripts/quarantine_windows_mac.yaml
Labels: changelog-entry-required

#10736 manifest: updated Matter SDK revision to pull recent changes
  doc/nrf/releases/release-notes-changelog.rst
  west.yml
Labels: doc-required, manifest, manifest-matter

#10875 manifest: Pull nrf_security fixes
  modules/trusted-firmware-m/Kconfig.psa.defconfig
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#10558 samples: lwm2m_client: Drop few unused headers
  samples/nrf9160/lwm2m_client/src/events/location_event_handler.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_accelerometer.c
  samples/nrf9160/lwm2m_client/src/lwm2m/lwm2m_light_sensor.c
  samples/nrf9160/lwm2m_client/src/main.c
Labels: changelog-entry-required

#10671 lib: nrf_modem: split normal and bootloader initialization functions.
  applications/asset_tracker_v2/src/cloud/nrf_cloud_integration.c
  applications/serial_lte_modem/src/main.c
  doc/nrf/releases/release-notes-changelog.rst
  include/mgmt/fmfu_mgmt.h
  include/modem/nrf_modem_lib.h
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  lib/nrf_modem_lib/fault.c
  lib/nrf_modem_lib/nrf_modem_lib.c
  samples/nrf9160/fmfu_smp_svr/src/main.c
  samples/nrf9160/http_update/application_update/src/main.c
  samples/nrf9160/http_update/full_modem_update/src/main.c
  samples/nrf9160/http_update/modem_delta_update/src/main.c
  samples/nrf9160/lwm2m_client/src/main.c
  samples/nrf9160/modem_callbacks/src/main.c
  samples/nrf9160/modem_shell/src/main.c
  samples/nrf9160/modem_trace_flash/src/main.c
  samples/nrf9160/nrf_cloud_mqtt_multi_service/src/connection.c
  samples/nrf9160/nrf_cloud_rest_device_message/src/main.c
  samples/nrf9160/nrf_cloud_rest_fota/src/main.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota_common.c
  tests/lib/at_custom_cmd/src/main.c
  tests/lib/gcf_sms/src/main.c
  tests/subsys/net/lib/lwm2m_fota_utils/src/stubs.c
  tests/subsys/net/lib/lwm2m_fota_utils/src/stubs.h
Labels: doc-required

#10795 subsys: aws_iot: Kconfig variable for poll thread stack size
  subsys/net/lib/aws_iot/Kconfig
  subsys/net/lib/aws_iot/src/aws_iot.c
Labels: external, changelog-entry-required, CI-Requested

#10781 doc: nrf: Add nRF700X driver entry
  doc/nrf/drivers/nrf700x.rst
  doc/nrf/images/nrf700x_wifi_driver.svg
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#10868 drivers: wifi: Update RPU patch to rev#121
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#10889 manifest: Update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#10903 lib: nrf_modem: remove enum nrf_modem_mode
  include/modem/nrf_modem_lib.h
Labels: changelog-entry-required

#10896 doc: update SDC known issues
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#10878 samples: matter: Added custom handling of subscription requests
  doc/nrf/known_issues.rst
  doc/nrf/protocols/matter/getting_started/low_power_configuration.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/common/src/icd_util.cpp
  samples/matter/common/src/icd_util.h
  samples/matter/light_switch/CMakeLists.txt
  samples/matter/light_switch/Kconfig
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/light_switch/src/app_task.h
  samples/matter/lock/CMakeLists.txt
  samples/matter/lock/Kconfig
  samples/matter/lock/src/app_task.cpp
  samples/matter/lock/src/app_task.h
  samples/matter/window_covering/CMakeLists.txt
  samples/matter/window_covering/Kconfig
  samples/matter/window_covering/src/app_task.cpp
  samples/matter/window_covering/src/app_task.h
  west.yml
Labels: doc-required, manifest, manifest-matter

#10907 manifest: sdk-hostap: Pull SAE H2E fix
  west.yml
Labels: manifest, changelog-entry-required, manifest-hostap

#10789 drivers: wifi: Display firmware version
  drivers/wifi/nrf700x/zephyr/src/zephyr_wifi_util.c
Labels: changelog-entry-required

#10920 doc: sml: skip config files without CONFIG_SOC
  doc/_scripts/software_maturity/software_maturity_scanner.py
Labels: doc-required, changelog-entry-required

#10912 doc: update SDC known issues
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#10785 application: serial_lte_modem: FIX UART RX disable timing issue.
  applications/serial_lte_modem/src/slm_at_host.c
Labels: bugfix

#10904 drivers: wifi: Check for band support
  drivers/wifi/nrf700x/zephyr/src/zephyr_wpa_supp_if.c
Labels: changelog-entry-required

#9732 samples: bluetooth: peripheral_uart: Change from ms to us
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_uart/Kconfig
Labels: doc-required

#10908 drivers: wifi: Maximum TX packets aggregattion 12
  drivers/wifi/nrf700x/Kconfig.nrf700x
Labels: changelog-entry-required

#10923 samples: matter: Fixed build failure for DFU over BT SMP.
  samples/matter/common/src/ota_util.cpp
  samples/matter/common/src/ota_util.h
  samples/matter/lock/Kconfig
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#10922 drivers: wifi: Update RPU patch to rev#126
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/host_rpu_umac_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#10909 doc: AES GCM issue with CryptoCell
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#10823 lib: lte_lc: Add parsing +CEDRXP: 0
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/lte_lc.h
  lib/lte_link_control/lte_lc_helpers.c
  tests/lib/lte_lc/src/main.c
Labels: doc-required

#10812 application: serial_lte_modem: Re-enable TFTP client
  applications/serial_lte_modem/doc/FTP_AT_commands.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/ftp_c/slm_at_ftp.c
  applications/serial_lte_modem/src/ftp_c/slm_at_ftp.h
  applications/serial_lte_modem/src/ftp_c/slm_at_tftp.c
  applications/serial_lte_modem/src/slm_defines.h
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#10928 manifest: sdk-hostap: Pull fix for SAE PMKSA caching
  west.yml
Labels: manifest, changelog-entry-required, manifest-hostap

#10941 manifest: Bumped Matter revision to pull stack overflow fix
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#10913 tests: tfm_secure_services: switch TFM secure services test to new ztest API
  tests/tfm/secure_services/prj.conf
  tests/tfm/secure_services/src/main.c
Labels: changelog-entry-required

#10934 drivers: wifi: Allow ltf and gi to set dynamically
  drivers/wifi/nrf700x/zephyr/src/zephyr_wifi_util.c
Labels: changelog-entry-required

#10885 samples: radio_test, dtm: Clean up erratas
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/direct_test_mode/src/dtm.c
  samples/peripheral/radio_test/src/radio_test.c
Labels: doc-required

#10898 doc: BT direction finding samples: cleanup and reuse
  samples/bluetooth/direction_finding_central/README.rst
  samples/bluetooth/direction_finding_connectionless_rx/README.rst
  samples/bluetooth/direction_finding_connectionless_tx/README.rst
  samples/bluetooth/direction_finding_peripheral/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#10925 doc: Bluetooth peripheral samples: cleaning up
  samples/bluetooth/nrf_dm/README.rst
  samples/bluetooth/peripheral_ams_client/README.rst
  samples/bluetooth/peripheral_ancs_client/README.rst
  samples/bluetooth/peripheral_bms/README.rst
  samples/bluetooth/peripheral_cgms/README.rst
  samples/bluetooth/peripheral_cts_client/README.rst
  samples/bluetooth/peripheral_fast_pair/README.rst
  samples/bluetooth/peripheral_gatt_dm/README.rst
  samples/bluetooth/peripheral_hids_keyboard/README.rst
  samples/bluetooth/peripheral_hids_mouse/README.rst
  samples/bluetooth/peripheral_hr_coded/README.rst
  samples/bluetooth/peripheral_lbs/README.rst
  samples/bluetooth/peripheral_mds/README.rst
  samples/bluetooth/peripheral_nfc_pairing/README.rst
  samples/bluetooth/peripheral_power_profiling/README.rst
  samples/bluetooth/peripheral_rscs/README.rst
  samples/bluetooth/peripheral_status/README.rst
  samples/bluetooth/peripheral_uart/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#10960 boards: Remove obsolete nrf-family parameter
  boards/arm/thingy91_nrf52840/board.cmake
  boards/arm/thingy91_nrf9160/board.cmake
Labels: changelog-entry-required

#10910 mcuboot: cmake: Add DFU zip variant for MCUboot Direct-XIP multi-image
  doc/nrf/app_dev/build_and_config_system/index.rst
  doc/nrf/releases/release-notes-changelog.rst
  modules/mcuboot/CMakeLists.txt
Labels: doc-required

#10953 drivers: wifi: Update RPU patch to rev#129
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#10957 application: serial_lte_modem: FIX UART RX disable timing issue
  applications/serial_lte_modem/src/slm_at_host.c
Labels: changelog-entry-required

#10954 doc: BT library docs clean up
  doc/nrf/libraries/bluetooth_services/conn_ctx.rst
  doc/nrf/libraries/bluetooth_services/enocean.rst
  doc/nrf/libraries/bluetooth_services/gatt_dm.rst
  doc/nrf/libraries/bluetooth_services/gatt_pool.rst
  doc/nrf/libraries/bluetooth_services/rpc.rst
  doc/nrf/libraries/bluetooth_services/scan.rst
Labels: doc-required, CI-disable, changelog-entry-required

#10946 doc: Cleaning up the rest of the Bluetooth samples
  samples/bluetooth/enocean/README.rst
  samples/bluetooth/hci_lpuart/README.rst
  samples/bluetooth/llpm/README.rst
  samples/bluetooth/multiple_adv_sets/README.rst
  samples/bluetooth/nrf_dm/README.rst
  samples/bluetooth/radio_coex_1wire/README.rst
  samples/bluetooth/rpc_host/README.rst
  samples/bluetooth/shell_bt_nus/README.rst
  samples/bluetooth/throughput/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#10948 doc: update Matter known issues
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#10937 doc: BT Central samples: cleaning up
  samples/bluetooth/central_and_peripheral_hr/README.rst
  samples/bluetooth/central_bas/README.rst
  samples/bluetooth/central_hids/README.rst
  samples/bluetooth/central_hr_coded/README.rst
  samples/bluetooth/central_nfc_pairing/README.rst
  samples/bluetooth/central_smp_client/README.rst
  samples/bluetooth/central_uart/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#10955 manifest: Updated Matter revision to decrease memory usage
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#10968 samples: matter: Aligned RESET_ON_FATAL_ERROR for app and net cores.
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg/prj_factory_data.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg/prj_release.conf
  samples/matter/light_bulb/child_image/hci_rpmsg/prj.conf
  samples/matter/light_bulb/child_image/hci_rpmsg/prj_no_dfu.conf
  samples/matter/light_bulb/child_image/hci_rpmsg/prj_release.conf
  samples/matter/light_bulb/child_image/multiprotocol_rpmsg/prj.conf
  samples/matter/light_bulb/child_image/multiprotocol_rpmsg/prj_no_dfu.conf
  samples/matter/light_bulb/child_image/multiprotocol_rpmsg/prj_release.conf
  samples/matter/light_switch/child_image/hci_rpmsg/prj.conf
  samples/matter/light_switch/child_image/hci_rpmsg/prj_no_dfu.conf
  samples/matter/light_switch/child_image/hci_rpmsg/prj_release.conf
  samples/matter/light_switch/child_image/multiprotocol_rpmsg/prj.conf
  samples/matter/light_switch/child_image/multiprotocol_rpmsg/prj_no_dfu.conf
  samples/matter/light_switch/child_image/multiprotocol_rpmsg/prj_release.conf
  samples/matter/lock/child_image/hci_rpmsg/prj.conf
  samples/matter/lock/child_image/hci_rpmsg/prj_no_dfu.conf
  samples/matter/lock/child_image/hci_rpmsg/prj_release.conf
  samples/matter/lock/child_image/hci_rpmsg/prj_thread_wifi_switched.conf
  samples/matter/lock/child_image/multiprotocol_rpmsg/prj.conf
  samples/matter/lock/child_image/multiprotocol_rpmsg/prj_no_dfu.conf
  samples/matter/lock/child_image/multiprotocol_rpmsg/prj_release.conf
  samples/matter/lock/child_image/multiprotocol_rpmsg/prj_thread_wifi_switched.conf
  samples/matter/template/child_image/hci_rpmsg/prj.conf
  samples/matter/template/child_image/hci_rpmsg/prj_no_dfu.conf
  samples/matter/template/child_image/hci_rpmsg/prj_release.conf
  samples/matter/template/child_image/multiprotocol_rpmsg/prj.conf
  samples/matter/template/child_image/multiprotocol_rpmsg/prj_no_dfu.conf
  samples/matter/template/child_image/multiprotocol_rpmsg/prj_release.conf
  samples/matter/window_covering/child_image/multiprotocol_rpmsg/prj.conf
  samples/matter/window_covering/child_image/multiprotocol_rpmsg/prj_no_dfu.conf
  samples/matter/window_covering/child_image/multiprotocol_rpmsg/prj_release.conf
Labels: changelog-entry-required

#10892 Bluetooth: Mesh: Add sensor server to light_ctrl sample
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/mesh/light_ctrl/README.rst
  samples/bluetooth/mesh/light_ctrl/prj.conf
  samples/bluetooth/mesh/light_ctrl/src/model_handler.c
Labels: doc-required

#10750 Onboarding codes added to factory data builds, weather station factory data sample aligned
  applications/matter_weather_station/CMakeLists.txt
  applications/matter_weather_station/README.rst
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/overlay-factory_data.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_factory_data.conf
  applications/matter_weather_station/sample.yaml
  samples/matter/lock/sample.yaml
  scripts/requirements-fixed.txt
Labels: doc-required, changelog-entry-required

#10916 mcuboot: cmake: Fix signing in case of Direct-XIP image mismatch check
  doc/nrf/releases/release-notes-changelog.rst
  modules/mcuboot/CMakeLists.txt
Labels: doc-required

#10918 samples: matter: Fix NUS switching.
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/common/src/bt_nus_service.cpp
  samples/matter/common/src/bt_nus_service.h
  samples/matter/lock/README.rst
  samples/matter/lock/src/app_task.cpp
Labels: doc-required, manifest-matter

#10969 manifest: Pulled Wi-Fi reconnection fix for Matter over Wi-Fi
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#10978 drivers: wifi: Update RPU patch to rev#130
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#10742 samples/applications/tests: Replace prj_board conf files
  applications/asset_tracker_v2/boards/native_posix.conf
  applications/asset_tracker_v2/boards/qemu_x86.conf
  applications/asset_tracker_v2/tests/json_common/boards/native_posix.conf
  applications/asset_tracker_v2/tests/location_module/boards/native_posix.conf
  applications/asset_tracker_v2/tests/location_module/prj.conf
  applications/asset_tracker_v2/tests/location_module/prj_native_posix.conf
  samples/bluetooth/central_hr_coded/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/bluetooth/central_hr_coded/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_hr_coded/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_hr_coded/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_mds/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_power_profiling/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_power_profiling/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/bluetooth/throughput/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/bluetooth/throughput/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/nrf9160/aws_iot/boards/qemu_x86.conf
  samples/nrf9160/azure_iot_hub/boards/qemu_x86.conf
  samples/nrf9160/coap_client/boards/qemu_x86.conf
  samples/nrf9160/udp/boards/qemu_x86.conf
  samples/peripheral/radio_test/boards/nrf5340dk_nrf5340_cpunet.conf
  samples/zigbee/light_bulb/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/light_bulb/prj_nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/network_coordinator/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/zigbee/network_coordinator/prj_nrf5340dk_nrf5340_cpuapp.conf
  tests/lib/at_cmd_parser/at_cmd_parser/boards/native_posix.conf
  tests/lib/at_cmd_parser/at_params/boards/native_posix.conf
  tests/lib/at_cmd_parser/at_utils/boards/native_posix.conf
  tests/lib/lte_lc/boards/native_posix.conf
  tests/lib/lte_lc/prj_native_posix.conf
  tests/subsys/net/lib/aws_fota/aws_fota_json/boards/native_posix.conf
  tests/subsys/net/lib/nrf_cloud/cloud/boards/qemu_cortex_m3.conf
Labels: changelog-entry-required

#10842 applications: nrf5340_audio: presentation/drift comp changes
  applications/nrf5340_audio/src/audio/audio_datapath.c
Labels: changelog-entry-required
