Repository nrfconnect/sdk-nrf, pull requests merged in 2023-12, with the labels that each got.

#13256 doc: migration_guides: create index for guides
  doc/nrf/releases_and_maturity.rst
  doc/nrf/releases_and_maturity/migration_guides.rst
Labels: doc-required, CI-disable, changelog-entry-required

#13282 applications: Matter Bridge: extend CLI with data provider setters
  applications/matter_bridge/Kconfig
  applications/matter_bridge/README.rst
  applications/matter_bridge/src/ble_providers/ble_environmental_data_provider.cpp
  applications/matter_bridge/src/bridge_shell.cpp
  applications/matter_bridge/src/simulated_providers/simulated_humidity_sensor_data_provider.h
  applications/matter_bridge/src/simulated_providers/simulated_onoff_light_data_provider.cpp
  applications/matter_bridge/src/simulated_providers/simulated_onoff_light_data_provider.h
  applications/matter_bridge/src/simulated_providers/simulated_temperature_sensor_data_provider.h
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/common/src/bridge/bridge_manager.cpp
  samples/matter/common/src/bridge/bridge_manager.h
  samples/matter/common/src/bridge/matter_bridged_device.cpp
Labels: doc-required

#13298 wifi: l2ac: Fix connection persistence
  subsys/net/l2_wifi_if_conn/l2_wifi_conn.c
Labels: changelog-entry-required

#13301 applications: nrf_desktop: Align USB HID protocol code handling
  applications/nrf_desktop/doc/usb_state.rst
  applications/nrf_desktop/src/modules/Kconfig.usb_state
  applications/nrf_desktop/src/modules/usb_state.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#13303 applications: Added handling button subscriptions in Matter bridge
  applications/matter_bridge/src/ble_providers/ble_onoff_light_data_provider.cpp
  applications/matter_bridge/src/ble_providers/ble_onoff_light_data_provider.h
Labels: changelog-entry-required

#13283 Applications: nrf5340_audio: Manifest update for sdk-mcu-drivers
  west.yml
Labels: manifest, changelog-entry-required, manifest-cirrus

#13319 bluetooth: scan: Fix scan filter for appearance
  subsys/bluetooth/scan.c
Labels: changelog-entry-required

#12966 Centralize FOTA support from nRF Cloud samples
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  include/net/nrf_cloud_log.h
  samples/cellular/nrf_cloud_multi_service/Kconfig
  samples/cellular/nrf_cloud_multi_service/overlay_coap.conf
  samples/cellular/nrf_cloud_multi_service/src/fota_support.c
  samples/cellular/nrf_cloud_multi_service/src/fota_support_coap.c
  samples/cellular/nrf_cloud_rest_fota/Kconfig
  samples/cellular/nrf_cloud_rest_fota/prj.conf
  samples/cellular/nrf_cloud_rest_fota/src/main.c
  subsys/net/lib/nrf_cloud/CMakeLists.txt
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_fota
  subsys/net/lib/nrf_cloud/coap/src/nrf_cloud_coap.c
  subsys/net/lib/nrf_cloud/include/nrf_cloud_fota.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota_common.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota_poll.c
Labels: doc-required

#13309 doc: Asset Tracker v2: adding modules wrapper page
  applications/asset_tracker_v2/README.rst
  applications/asset_tracker_v2/doc/firmware_architecture.rst
  applications/asset_tracker_v2/doc/modules.rst
Labels: doc-required, CI-disable

#13324 samples: psa_tls: Fix resource leak error
  samples/crypto/psa_tls/src/psa_dtls_functions_client.c
Labels: changelog-entry-required

#13325 doc: fix minor error in Thingy:91 documentation
  doc/nrf/device_guides/working_with_nrf/nrf91/nrf9160_gs.rst
  doc/nrf/device_guides/working_with_nrf/nrf91/thingy91.rst
  doc/nrf/device_guides/working_with_nrf/nrf91/thingy91_gsg.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#13316 lib: location: Wait RRC idle before GCI search
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/location/scan_cellular.c
Labels: doc-required

#13257 nrf_security: Fix CMAC_ALT requiring CBC cipher mode
  subsys/nrf_security/configs/legacy_crypto_config.h.template
  subsys/nrf_security/configs/psa_crypto_config.h.template
Labels: changelog-entry-required

#13272 applications: serial_lte_modem: fix AT#XGPS documentation example
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
Labels: doc-required, changelog-entry-required, doc only

#13314 modules/nrfxlib 802154_platform_sl_lptimer: Support also nrf5340bsim
  modules/nrfxlib/nrf_802154/sl/platform/nrf_802154_platform_sl_lptimer_zephyr.c
Labels: changelog-entry-required

#13332 manifest: sdk-zephyr: Fix Print of SSID in WIFI status
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#13318 applications: Matter Bridge: added support for Generic Switch
  applications/matter_bridge/CMakeLists.txt
  applications/matter_bridge/Kconfig
  applications/matter_bridge/README.rst
  applications/matter_bridge/src/ble_providers/ble_bridged_device_factory.cpp
  applications/matter_bridge/src/ble_providers/ble_bridged_device_factory.h
  applications/matter_bridge/src/ble_providers/ble_lbs_data_provider.cpp
  applications/matter_bridge/src/ble_providers/ble_lbs_data_provider.h
  applications/matter_bridge/src/bridge_shell.cpp
  applications/matter_bridge/src/bridged_device_types/generic_switch.cpp
  applications/matter_bridge/src/bridged_device_types/generic_switch.h
  applications/matter_bridge/src/simulated_providers/simulated_bridged_device_factory.cpp
  applications/matter_bridge/src/simulated_providers/simulated_bridged_device_factory.h
  applications/matter_bridge/src/simulated_providers/simulated_generic_switch_data_provider.cpp
  applications/matter_bridge/src/simulated_providers/simulated_generic_switch_data_provider.h
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/common/src/bridge/matter_bridged_device.h
Labels: doc-required

#13340 applications: Fixed DFU over SMP for Matter bridge
  applications/matter_bridge/src/chip_project_config.h
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#13141 matter: samples: thermostat: doc: Fixed thermostat documentation
  samples/matter/thermostat/README.rst
Labels: doc-required, changelog-entry-required

#13337 doc: wifi: update Power save modes user guide
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/powersave.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#13350 manifest: update sidewalk revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-sidewalk

#13333 applications: nrf5340_audio: Update controller version
  applications/nrf5340_audio/src/audio/audio_datapath.c
  doc/nrf/libraries/bin/bt_ll_acs_nrf53/CHANGELOG.rst
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_3393.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_3424.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_shifted_3393.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_shifted_3424.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_shifted_min_3393.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_shifted_min_3424.hex
  lib/bin/bt_ll_acs_nrf53/bin/manifest.yaml
Labels: doc-required, changelog-entry-required, backport v2.5-branch

#13346 drivers: wifi: Update RPU patch to rev#a0e92fe7ef9
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#13359 samples: wifi: shutdown: Fix typo in Kconfig
  samples/wifi/shutdown/README.rst
Labels: doc-required, changelog-entry-required

#13352 doc: known_issues: Add known issue peripherals are secure on nrf91
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#13243 doc: config_and_build: gather concepts on one page
  doc/nrf/config_and_build/config_and_build_system.rst
  doc/nrf/config_and_build/modifying.rst
  doc/nrf/config_and_build/multi_image.rst
  doc/nrf/device_guides/working_with_nrf/nrf53/nrf5340.rst
  doc/nrf/device_guides/working_with_nrf/nrf91/nrf9160.rst
  doc/nrf/documentation/glossary.rst
  doc/nrf/installation/recommended_versions.rst
  doc/nrf/protocols/matter/getting_started/transmission_power.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#13052 doc: Update to state nRF91 Series DK instead of nRF9160
  doc/nrf/device_guides/wifi_coex.rst
  doc/nrf/device_guides/working_with_nrf/nrf52/developing.rst
  doc/nrf/device_guides/working_with_nrf/nrf70/gs.rst
  doc/nrf/drivers/entropy_cc3xx.rst
  doc/nrf/external_comp/avsystem.rst
  doc/nrf/external_comp/images/avsystem_integration.svg
  doc/nrf/external_comp/images/avsystem_integration_agnss_location.svg
  doc/nrf/external_comp/images/avsystem_integration_cell_location.svg
  doc/nrf/external_comp/memfault.rst
  doc/nrf/libraries/bin/lwm2m_carrier/CHANGELOG.rst
  doc/nrf/libraries/bin/lwm2m_carrier/app_integration.rst
  doc/nrf/libraries/modem/location.rst
  doc/nrf/libraries/modem/modem_antenna.rst
  doc/nrf/libraries/modem/modem_attest_token.rst
  doc/nrf/libraries/modem/modem_key_mgmt.rst
  doc/nrf/libraries/modem/modem_slm.rst
  doc/nrf/libraries/modem/nrf_modem_lib/nrf_modem_lib_pm_integration.rst
  doc/nrf/libraries/modem/nrf_modem_lib/nrf_modem_lib_socket_offloading.rst
  doc/nrf/libraries/modem/nrf_modem_lib/nrf_modem_lib_trace.rst
  doc/nrf/libraries/modem/pdn.rst
  doc/nrf/libraries/modem/zzhc.rst
  doc/nrf/libraries/networking/aws_fota.rst
  doc/nrf/libraries/networking/aws_iot.rst
  doc/nrf/libraries/networking/lwm2m_client_utils.rst
  doc/nrf/libraries/networking/nrf_cloud.rst
  doc/nrf/libraries/networking/nrf_cloud_agnss.rst
  doc/nrf/libraries/networking/nrf_cloud_pgps.rst
  doc/nrf/libraries/nrf_security/doc/drivers.rst
  doc/nrf/libraries/others/date_time.rst
  doc/nrf/libraries/others/hw_unique_key.rst
  doc/nrf/libraries/others/qos.rst
  doc/nrf/protocols/wifi/mem_requirements.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/security/tfm.rst
  doc/nrf/templates/Integration_template_README.rst
  doc/nrf/templates/application_README.rst
  doc/nrf/test_and_optimize/optimizing/power.rst
  doc/nrf/test_and_optimize/optimizing/power_general.rst
  doc/nrf/test_and_optimize/optimizing/power_nrf91.rst
  samples/cellular/at_client/README.rst
  samples/cellular/location/README.rst
  samples/cellular/modem_shell/README.rst
  samples/sensor/bh1749/README.rst
  samples/wifi/shell/README.rst
Labels: doc-required, CI-disable

#13343 manifest: sdk-hostap: Pull WPA supplicant internal event fixes
  west.yml
Labels: manifest, changelog-entry-required, manifest-hostap

#13349 samples: Add option to disable DF in DTM
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/direct_test_mode/README.rst
  samples/bluetooth/direct_test_mode/no-dfe.overlay
Labels: doc-required, 10-min-review

#13271 doc: PCD library: link fix
  doc/nrf/libraries/dfu/pcd.rst
Labels: doc-required, CI-disable

#12948 doc: Change securely generating credentials link
  doc/nrf/external_comp/nrf_cloud.rst
  doc/nrf/includes/nrf_cloud_rest_sample_requirements.txt
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#13304 manifest: update twister to pass pytest parameters
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#13364 scripts: memory-threshold-list: Add codeowners to the monitored test configurations
  scripts/memory-threshold-list.yaml
Labels: changelog-entry-required

#13372 nrf_security: Change select of entropy generator to depends instead
  subsys/nrf_security/Kconfig
  subsys/nrf_security/src/zephyr/CMakeLists.txt
Labels: changelog-entry-required

#13173 Bluetooth: Mesh: Add LE Pairing Responder model and enable SMP authentication in Distributor sample
  doc/nrf/libraries/bluetooth_services/mesh/models.rst
  doc/nrf/libraries/bluetooth_services/mesh/vnd/le_pair_resp.rst
  doc/nrf/protocols/bt/bt_mesh/reserved_ids.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/bluetooth/mesh/vnd/le_pair_resp.h
  samples/bluetooth/mesh/common/smp_bt.c
  samples/bluetooth/mesh/common/smp_bt_auth.c
  samples/bluetooth/mesh/common/smp_bt_auth.h
  samples/bluetooth/mesh/dfu/distributor/CMakeLists.txt
  samples/bluetooth/mesh/dfu/distributor/README.rst
  samples/bluetooth/mesh/dfu/distributor/overlay-smp-bt-auth.conf
  samples/bluetooth/mesh/dfu/distributor/sample.yaml
  samples/bluetooth/mesh/dfu/distributor/src/main.c
  subsys/bluetooth/mesh/vnd/CMakeLists.txt
  subsys/bluetooth/mesh/vnd/Kconfig
  subsys/bluetooth/mesh/vnd/le_pair_resp.c
Labels: doc-required, ble mesh

#13321 doc: debugging: Document how to use Monitor-mode debugging
  doc/nrf/links.txt
  doc/nrf/test_and_optimize/testing.rst
Labels: doc-required

#13388 drivers: wifi: Update RPU patch to rev#4b31b70f5ea
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#13381 samples: bluetooth: central_hids: Update documentation
  samples/bluetooth/central_hids/README.rst
Labels: doc-required, changelog-entry-required

#13376 manifest: Update sdk-zephyr revision with QSPI workaround fix
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#13326 manifest: zephyr: nRF 802.15.4 customizable asserts
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#13375 Fix MAC address parsing
  modules/hostap/src/supp_events.c
Labels: changelog-entry-required

#13377 manifest: Pull Matter fix for unwanted WiFi connection request
  west.yml
Labels: bug, manifest, manifest-matter, changelog-entry-required

#13396 doc: nrf70: Improve dynamic power save
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/powersave.rst
Labels: doc-required, changelog-entry-required

#13391 samples: openthread: Add tcat support.
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/openthread/cli/CMakeLists.txt
  samples/openthread/cli/Kconfig
  samples/openthread/cli/README.rst
  samples/openthread/cli/sample.yaml
  samples/openthread/cli/snippets/multiprotocol/multiprotocol.conf
  samples/openthread/cli/snippets/tcat/snippet.yml
  samples/openthread/cli/snippets/tcat/tcat.conf
  samples/openthread/cli/src/main.c
  west.yml
Labels: doc-required, manifest, manifest-zephyr, manifest-openthread

#13385 net: lib: nrf_cloud: Update CoAP to support QZSS
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/coap/src/nrf_cloud_coap.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agnss.c
Labels: doc-required

#13395 manifest: update sidewalk revision in west.yml
  west.yml
Labels: manifest, changelog-entry-required, manifest-sidewalk

#13393 wifi: Improve events handling
  modules/hostap/src/supp_events.c
Labels: changelog-entry-required

#13170 doc: dfu: separate dfu from bootloader pages
  doc/_utils/redirects.py
  doc/nrf/config_and_build.rst
  doc/nrf/config_and_build/bootloaders/bootloader.rst
  doc/nrf/config_and_build/bootloaders/bootloader_adding.rst
  doc/nrf/config_and_build/bootloaders/bootloader_config.rst
  doc/nrf/config_and_build/bootloaders/bootloader_downgrade_protection.rst
  doc/nrf/config_and_build/bootloaders/bootloader_external_flash.rst
  doc/nrf/config_and_build/bootloaders/bootloader_signature_keys.rst
  doc/nrf/config_and_build/bootloaders/bootloader_testing.rst
  doc/nrf/config_and_build/bootloaders/images/bootloader_memory_layout.svg
  doc/nrf/config_and_build/bootloaders/images/bootloader_memory_layout_onestage.png
  doc/nrf/config_and_build/bootloaders/images/bootloader_memory_layout_onestage.svg
  doc/nrf/config_and_build/bootloaders/index.rst
  doc/nrf/config_and_build/dfu/dfu_image_versions.rst
  doc/nrf/config_and_build/dfu/index.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bootloader/README.rst
Labels: doc-required, CI-disable

#13405 tfm: pm: Reduce the default amount of RAM given to TF-M on 53
  modules/trusted-firmware-m/Kconfig.tfm.pm
Labels: changelog-entry-required

#13398 samples: bluetooth: Fix central_uart and peripheral_uart samples
  samples/bluetooth/central_uart/prj.conf
  samples/bluetooth/central_uart/src/main.c
  samples/bluetooth/peripheral_uart/prj_minimal.conf
  samples/bluetooth/peripheral_uart/src/main.c
Labels: changelog-entry-required

#13402 applications: serial_lte_modem: doc: fix bulleted list
  applications/serial_lte_modem/doc/CARRIER_AT_commands.rst
Labels: doc-required

#13410 applications: Changed bridged device endpoints version from 1 to 2
  applications/matter_bridge/src/bridged_device_types/generic_switch.cpp
  applications/matter_bridge/src/bridged_device_types/humidity_sensor.cpp
  applications/matter_bridge/src/bridged_device_types/onoff_light.cpp
  applications/matter_bridge/src/bridged_device_types/temperature_sensor.cpp
Labels: changelog-entry-required

#13399 applications: Fixed setting parent ep id for the Matter bridge
  samples/matter/common/src/bridge/Kconfig
  samples/matter/common/src/bridge/bridge_manager.cpp
  samples/matter/common/src/bridge/bridge_manager.h
Labels: changelog-entry-required, bugfix

#13387 manifest: sdk-nrfxlib: pull in Null point dereference fix
  west.yml
Labels: manifest, manifest-nrfxlib

#13368 doc: wifi: add link to Wi-Fi DevAcademy course
  doc/nrf/device_guides/working_with_nrf/nrf70/gs.rst
  doc/nrf/links.txt
  doc/nrf/protocols/wifi/index.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#13413 codeowners: add doc codeowners for top level
  CODEOWNERS
Labels: CI-disable

#13406 lib: at_monitor: assert when out of memory for notifications
  lib/at_monitor/at_monitor.c
Labels: changelog-entry-required

#13285 samples: Add sample for PSA PBKDF2
  samples/crypto/pbkdf2/CMakeLists.txt
  samples/crypto/pbkdf2/README.rst
  samples/crypto/pbkdf2/boards/nrf52840dk_nrf52840.conf
  samples/crypto/pbkdf2/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/crypto/pbkdf2/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/crypto/pbkdf2/boards/nrf9160dk_nrf9160.conf
  samples/crypto/pbkdf2/boards/nrf9160dk_nrf9160_ns.conf
  samples/crypto/pbkdf2/boards/nrf9160dk_nrf9160_ns.overlay
  samples/crypto/pbkdf2/prj.conf
  samples/crypto/pbkdf2/sample.yaml
  samples/crypto/pbkdf2/src/main.c
Labels: doc-required, changelog-entry-required

#13380 applications: Added OnOff Light Switch device to Matter bridge
  applications/matter_bridge/CMakeLists.txt
  applications/matter_bridge/Kconfig
  applications/matter_bridge/README.rst
  applications/matter_bridge/src/ble_providers/ble_bridged_device_factory.cpp
  applications/matter_bridge/src/ble_providers/ble_bridged_device_factory.h
  applications/matter_bridge/src/ble_providers/ble_environmental_data_provider.h
  applications/matter_bridge/src/ble_providers/ble_lbs_data_provider.cpp
  applications/matter_bridge/src/ble_providers/ble_lbs_data_provider.h
  applications/matter_bridge/src/bridge.matter
  applications/matter_bridge/src/bridge.zap
  applications/matter_bridge/src/bridge_shell.cpp
  applications/matter_bridge/src/bridged_device_types/generic_switch.cpp
  applications/matter_bridge/src/bridged_device_types/humidity_sensor.cpp
  applications/matter_bridge/src/bridged_device_types/onoff_light.cpp
  applications/matter_bridge/src/bridged_device_types/onoff_light_switch.cpp
  applications/matter_bridge/src/bridged_device_types/onoff_light_switch.h
  applications/matter_bridge/src/bridged_device_types/temperature_sensor.cpp
  applications/matter_bridge/src/simulated_providers/simulated_bridged_device_factory.cpp
  applications/matter_bridge/src/simulated_providers/simulated_bridged_device_factory.h
  applications/matter_bridge/src/simulated_providers/simulated_generic_switch_data_provider.h
  applications/matter_bridge/src/simulated_providers/simulated_humidity_sensor_data_provider.h
  applications/matter_bridge/src/simulated_providers/simulated_onoff_light_data_provider.h
  applications/matter_bridge/src/simulated_providers/simulated_onoff_light_switch_data_provider.cpp
  applications/matter_bridge/src/simulated_providers/simulated_onoff_light_switch_data_provider.h
  applications/matter_bridge/src/simulated_providers/simulated_temperature_sensor_data_provider.h
  applications/matter_bridge/src/zap-generated/CHIPClusters.h
  applications/matter_bridge/src/zap-generated/PluginApplicationCallbacks.h
  applications/matter_bridge/src/zap-generated/access.h
  applications/matter_bridge/src/zap-generated/callback-stub.cpp
  applications/matter_bridge/src/zap-generated/endpoint_config.h
  applications/matter_bridge/src/zap-generated/gen_config.h
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/common/src/bridge/binding_handler.cpp
  samples/matter/common/src/bridge/binding_handler.h
  samples/matter/common/src/bridge/ble_bridged_device.h
  samples/matter/common/src/bridge/bridge_manager.cpp
  samples/matter/common/src/bridge/bridge_manager.h
  samples/matter/common/src/bridge/bridged_device_data_provider.h
  samples/matter/common/src/bridge/matter_bridged_device.h
  west.yml
Labels: doc-required, manifest, manifest-matter

#13431 manifest: openthread: update to \`266a97b\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#13429 CODEOWNERS: remove gopiotr
  CODEOWNERS
Labels: changelog-entry-required

#13407 boards: arm: thingy91: Do not enable uart1 by default
  applications/connectivity_bridge/app.overlay
  boards/arm/thingy91_nrf52840/thingy91_nrf52840.dts
  boards/arm/thingy91_nrf9160/thingy91_nrf9160_common.dts
Labels: changelog-entry-required

#13432 drivers: wifi: Update RPU patch to rev#4b31b70f5ea
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/lmac_if_common.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#13327 manifest: update sdk-zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#13265 manifest: Update zephyr revision
  west.yml
Labels: manifest, manifest-zephyr

#13440 applications: serial_lte_modem: Fix bind with IPv6
  applications/serial_lte_modem/src/slm_at_socket.c
Labels: changelog-entry-required

#13444 codeowners: add new codeowners entry for openthread.
  CODEOWNERS
Labels: changelog-entry-required

#13418 manifest: Pull fix for association request capture failure
  west.yml
Labels: manifest, changelog-entry-required, manifest-wfa-qt-control-app

#13409 applications: serial_lte_modem: allow to skip cert verify
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/doc/TCPUDP_AT_commands.rst
  applications/serial_lte_modem/src/http_c/slm_at_httpc.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#13426 lib: pdn: improve pdn_dynamic_params_get()
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/pdn/pdn.c
Labels: doc-required

#13442 doc: openthread: Update Thread tools documentation.
  doc/nrf/protocols/thread/tools.rst
Labels: doc-required, changelog-entry-required

#13420 lib: nrf_fuel_gauge: Update nRF Fuel Gauge
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/pmic/native/npm1300_fuel_gauge/prj.conf
  samples/pmic/native/npm1300_fuel_gauge/src/fuel_gauge.c
  tests/lib/nrf_fuel_gauge/src/nrf_fuel_gauge_test.c
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib

#13392 manifest: zephyr: Update sdk-zephyr with modified filter for spi_flash
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#10514 doc: update references to add_partition_manager_config
  scripts/partition_manager/partition_manager.rst
Labels: doc-required, external

#13424 samples: remove workqueue from coap
  samples/openthread/coap_client/src/coap_client_utils.c
  samples/openthread/coap_server/src/coap_server.c
Labels: changelog-entry-required

#13448 kconfig: openthread: Temporarily disable HUK usage
  subsys/net/openthread/Kconfig
Labels: changelog-entry-required

#13456 applications: nrf5340_audio: Disable RTC pretick workaround for B0N
  applications/nrf5340_audio/CMakeLists.txt
Labels: changelog-entry-required, bugfix, backport v2.5-branch

#13419 doc: nRF Cloud multi-service sample: link fixes
  doc/nrf/links.txt
  samples/cellular/nrf_cloud_multi_service/README.rst
Labels: doc-required, CI-disable

#13341 doc: update doc for 2.5.1
  doc/nrf/conf.py
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/developing/adding_code.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.5.1.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required, CI-disable

#13443 dfu: dfu_target: auto enable fmfu parition
  doc/nrf/libraries/dfu/dfu_target.rst
  doc/nrf/libraries/networking/nrf_cloud_pgps.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/http_update/modem_full_update/boards/nrf9161dk_nrf9161_ns.overlay
  samples/cellular/http_update/modem_full_update/boards/nrf9161dk_nrf9161_ns_0_7_0.overlay
  samples/cellular/lwm2m_client/boards/nrf9161dk_nrf9161_ns.overlay
  samples/cellular/lwm2m_client/boards/nrf9161dk_nrf9161_ns_0_7_0.overlay
  samples/cellular/nrf_cloud_multi_service/overlay_full_modem_fota.conf
  samples/cellular/nrf_cloud_rest_fota/overlay_full_modem_fota.conf
  subsys/dfu/dfu_target/Kconfig
Labels: doc-required, CI-disable

#13461 NSIB nrf_cc310_bl enabled only in bootloaders
  drivers/entropy/Kconfig
  drivers/hw_cc310/Kconfig
  subsys/bootloader/bl_crypto/CMakeLists.txt
  subsys/bootloader/bl_crypto/Kconfig
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#13457 doc: update files to main for NCS 2.5.1
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/developing/adding_code.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.5.1.rst
  doc/nrf/shortcuts.txt
  doc/versions.json
Labels: doc-required, CI-disable, changelog-entry-required

#13445 samples: cellular: Remove nrf7002ek positioning overlay
  applications/asset_tracker_v2/doc/location_module.rst
  applications/asset_tracker_v2/nrf91xxdk_with_nrf7002ek.overlay
  applications/asset_tracker_v2/sample.yaml
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/location/README.rst
  samples/cellular/location/nrf91xxdk_with_nrf7002ek.overlay
  samples/cellular/location/sample.yaml
  samples/cellular/modem_shell/README.rst
  samples/cellular/modem_shell/nrf91xxdk_with_nrf7002ek.overlay
  samples/cellular/modem_shell/sample.yaml
  samples/cellular/nrf_cloud_multi_service/README.rst
  samples/cellular/nrf_cloud_multi_service/nrf91xxdk_with_nrf7002ek.overlay
  samples/cellular/nrf_cloud_multi_service/sample.yaml
Labels: doc-required

#13382 manifest: Update Find My revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#13390 samples: matter: common: Added binding handler
  samples/matter/common/src/binding_handler.cpp
  samples/matter/common/src/binding_handler.h
  samples/matter/light_switch/CMakeLists.txt
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/light_switch/src/binding_handler.cpp
  samples/matter/light_switch/src/binding_handler.h
  samples/matter/light_switch/src/light_switch.cpp
  samples/matter/light_switch/src/light_switch.h
  samples/matter/light_switch/src/shell_commands.cpp
  samples/matter/thermostat/CMakeLists.txt
  samples/matter/thermostat/src/binding_handler.cpp
  samples/matter/thermostat/src/binding_handler.h
  samples/matter/thermostat/src/temperature_measurement/real_temp.cpp
  samples/matter/thermostat/src/temperature_measurement/sensor.h
Labels: changelog-entry-required

#13403 wifi: Fix raw tx mode dependency
  drivers/wifi/nrf700x/Kconfig
Labels: changelog-entry-required

#13138 Samples: net: Remove outdated overlay files
  samples/net/download/boards/nrf9160dk_nrf9160_ns.overlay
  samples/net/download/boards/nrf9161dk_nrf9161_ns.overlay
  samples/net/https_client/boards/nrf9160dk_nrf9160_ns.overlay
  samples/net/https_client/boards/nrf9161dk_nrf9161_ns.overlay
Labels: CI-trusted-author

#13450 manifest: sdk-hostap: Pull fix for shell freeze
  west.yml
Labels: manifest, changelog-entry-required, manifest-hostap

#13470 kconfig: openthread: add missing `PSA_WANT_ALG_SHA_224` config
  subsys/net/openthread/Kconfig
Labels: changelog-entry-required

#13454 CODEOWNERS: remove joerchan
  CODEOWNERS
Labels: CI-disable

#13259 doc: move dev_model and add contribution guide
  doc/nrf/create_application.rst
  doc/nrf/dev_model_and_contributions.rst
  doc/nrf/dev_model_and_contributions/adding_code.rst
  doc/nrf/dev_model_and_contributions/code_base.rst
  doc/nrf/dev_model_and_contributions/contributions.rst
  doc/nrf/dev_model_and_contributions/images/ncs-west-repos.svg
  doc/nrf/dev_model_and_contributions/licenses.rst
  doc/nrf/dev_model_and_contributions/managing_code.rst
  doc/nrf/dev_model_and_contributions/ncs_distro.rst
  doc/nrf/index.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#13338 lib: location: Skip GNSS if not in RRC idle
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/location/method_gnss.c
Labels: doc-required

#13471 applications: asset_tracker_v2: Fix requested data in sample request
  applications/asset_tracker_v2/doc/data_module.rst
  applications/asset_tracker_v2/src/main.c
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  applications/asset_tracker_v2/src/modules/data_module.c
  applications/asset_tracker_v2/src/modules/location_module.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#13464 samples: matter: update manifest and disable Read Client
  applications/matter_bridge/Kconfig
  applications/matter_bridge/prj_release.conf
  doc/nrf/protocols/matter/getting_started/advanced_kconfigs.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/light_switch/Kconfig
  samples/matter/thermostat/Kconfig
  west.yml
Labels: doc-required, manifest, manifest-matter

#13477 samples: matter: Repair the common LED handling module
  samples/matter/common/src/board.cpp
  samples/matter/common/src/board.h
Labels: changelog-entry-required

#13486 doc: rename nRF Device provisioning library
  doc/nrf/libraries/networking/nrf_provisioning.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#13453 applications: serial_lte_modem: second half implementation of PPP
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/AT_commands_intro.rst
  applications/serial_lte_modem/doc/PPP_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_ppp.c
  applications/serial_lte_modem/src/slm_ppp.h
Labels: doc-required

#13488 manifest: openthread: update to \`1e82c4e\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#13416 manifest: matter: Initial version of PSA Crypto in Matter
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  west.yml
Labels: doc-required, manifest, manifest-matter

#13492 doc: document known issue
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#13494 doc: Remove link
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, CI-disable, changelog-entry-required

#13354 doc: Improve "Features of the nRF91 Series" documentation
  doc/nrf/device_guides/working_with_nrf/nrf91/nrf91_features.rst
Labels: doc-required

#13493 modules: hostap: Fix RSSI check for STA mode
  modules/hostap/src/supp_api.c
Labels: changelog-entry-required

#13497 samples: wifi: Remove wpa_cli configuration
  samples/wifi/shell/prj.conf
Labels: changelog-entry-required

#13427 tests: samples: Add platform_allow section to configs without it
  samples/app_event_manager/sample.yaml
  samples/app_event_manager_profiler_tracer/sample.yaml
  samples/edge_impulse/data_forwarder/sample.yaml
  samples/edge_impulse/wrapper/sample.yaml
  samples/nrf_profiler/sample.yaml
  samples/peripheral/lpuart/sample.yaml
  tests/drivers/nrfx_integration_test/testcase.yaml
  tests/lib/edge_impulse/testcase.yaml
  tests/subsys/app_event_manager/testcase.yaml
  tests/subsys/bluetooth/fast_pair/storage/account_key_storage/testcase.yaml
  tests/subsys/bluetooth/fast_pair/storage/factory_reset/testcase.yaml
  tests/subsys/nrf_profiler/testcase.yaml
  tests/unity/example_test/testcase.yaml
  tests/unity/wrap_test/testcase.yaml
Labels: changelog-entry-required

#13480 manifest: sdk-nrfxlib: Pull fix to remove unnecessary file
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#13499 samples: matter: Repair bindings via uart in Light Switch Sample
  samples/matter/common/src/binding_handler.cpp
  samples/matter/light_switch/src/light_switch.h
  samples/matter/light_switch/src/shell_commands.cpp
Labels: changelog-entry-required

#13483 doc: known_issues: Add known issue to SoftDevice Controller section
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#13239 manifest: WPA supplicant advanced features disabled in Matter
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  west.yml
Labels: doc-required, manifest, CI-trusted-author, manifest-matter

#13510 manifest: openthread: update to \`6751122\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#13496 kconfig: openthread: enable `MBEDTLS_SSL_MAX_FRAGMENT_LENGTH`
  subsys/net/openthread/Kconfig.defconfig
Labels: changelog-entry-required

#13452 applications: Added guide about extending Matter bridge app
  applications/matter_bridge/README.rst
  applications/matter_bridge/doc/adding_ble_bridged_device_service.rst
  applications/matter_bridge/doc/adding_bridged_matter_device.rst
  applications/matter_bridge/doc/adding_bridged_protocol.rst
  applications/matter_bridge/doc/extending_bridge.rst
  applications/matter_bridge/doc/matter_bridge_description.rst
  applications/matter_bridge/src/ble_providers/ble_bridged_device_factory.cpp
  applications/matter_bridge/src/ble_providers/ble_bridged_device_factory.h
  applications/matter_bridge/src/ble_providers/ble_environmental_data_provider.h
  applications/matter_bridge/src/bridge_shell.cpp
  applications/matter_bridge/src/bridged_device_types/generic_switch.cpp
  applications/matter_bridge/src/bridged_device_types/generic_switch.h
  applications/matter_bridge/src/bridged_device_types/humidity_sensor.cpp
  applications/matter_bridge/src/bridged_device_types/humidity_sensor.h
  applications/matter_bridge/src/bridged_device_types/onoff_light.cpp
  applications/matter_bridge/src/bridged_device_types/onoff_light.h
  applications/matter_bridge/src/bridged_device_types/temperature_sensor.cpp
  applications/matter_bridge/src/bridged_device_types/temperature_sensor.h
  applications/matter_bridge/src/simulated_providers/simulated_bridged_device_factory.cpp
  applications/matter_bridge/src/simulated_providers/simulated_bridged_device_factory.h
  doc/nrf/protocols/matter/overview/bridge.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/common/src/bridge/ble_connectivity_manager.cpp
  samples/matter/common/src/bridge/bridge_manager.cpp
  samples/matter/common/src/bridge/bridge_manager.h
  samples/matter/common/src/bridge/matter_bridged_device.h
  samples/matter/common/src/bridge/util/bridge_util.h
Labels: doc-required
