Repository nrfconnect/sdk-nrf, pull requests merged in 2023-10, with the labels that each got.

#12496 doc: wifi: minor fixes in wifi docs
  doc/nrf/device_guides/working_with_nrf/nrf70/features.rst
  samples/wifi/provisioning/README.rst
  samples/wifi/radio_test/ficr.rst
  samples/wifi/radio_test/radio_test_subcommands.rst
  samples/wifi/radio_test/sample_description.rst
  samples/wifi/scan/README.rst
  samples/wifi/shell/README.rst
  samples/wifi/shutdown/README.rst
  samples/wifi/sr_coex/README.rst
  samples/wifi/sta/README.rst
  samples/wifi/twt/README.rst
Labels: doc-required, changelog-entry-required

#12505 github: Disable additional check for Kconfig with no modules
  .github/workflows/compliance.yml
Labels: changelog-entry-required

#12478 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#12495 manifest: openthread: update to \`c6eaeda\`
  west.yml
Labels: manifest, manifest-zephyr, manifest-openthread, changelog-entry-required

#12479 CODEOWNERS: Remove Veli-Tapani Peltoketo
  CODEOWNERS
Labels: changelog-entry-required

#12501 manifest: sdk-zephyr: Pull changes for Wi-Fi mode
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#12320 bluetooth: fast_pair: fp_storage: Change overwriting Account Key scheme
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/bluetooth/services/fast_pair/fp_storage/fp_storage_ak.c
  subsys/bluetooth/services/fast_pair/fp_storage/include/fp_storage_ak.h
  subsys/bluetooth/services/fast_pair/fp_storage/include_priv/fp_storage_ak_priv.h
  tests/subsys/bluetooth/fast_pair/storage/account_key_storage/src/test_corrupted_data.c
Labels: doc-required

#12499 tfm: Add UART pins Thingy91
  modules/trusted-firmware-m/Kconfig
Labels: changelog-entry-required

#12462 doc: power_optimization: expand docs
  doc/nrf/protocols/bt/bt_mesh/configuring.rst
  doc/nrf/protocols/matter/getting_started/low_power_configuration.rst
  doc/nrf/protocols/thread/sed_ssed.rst
  doc/nrf/test_and_optimize/optimizing/power_general.rst
Labels: doc-required, CI-disable, changelog-entry-required

#12459 doc: Update documentation for GNSS assistance
  doc/nrf/device_guides/working_with_nrf/nrf91/nrf91_features.rst
  doc/nrf/links.txt
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib

#12514 drivers: wifi: Update RPU patch to rev#d374baff8f3
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/host_rpu_sys_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#12359 applications: serial_lte_modem: support A-GPS and P-GPS combined
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/doc/NRFCLOUD_AT_commands.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/gnss/Kconfig
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  applications/serial_lte_modem/src/nrfcloud/slm_at_nrfcloud.c
  applications/serial_lte_modem/src/slm_at_commands.c
  doc/nrf/libraries/networking/nrf_cloud_pgps.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#12461 manifest: Update Find My revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#12509 manifest: pull Matter fix for IPv6 prefixes count
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#12528 manifest: Update sdk-zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#12436 doc: Update the nRF5340 documentation
  doc/nrf/device_guides/working_with_nrf/nrf53/nrf5340.rst
Labels: doc-required, changelog-entry-required

#12426 lib: lte_link_control: Improve Kconfig option naming
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/lte_link_control/Kconfig
  lib/lte_link_control/lte_lc.c
  samples/cellular/modem_shell/prj.conf
  samples/cellular/modem_shell/src/link/link_settings.c
  samples/cellular/modem_shell/src/link/link_shell.c
Labels: doc-required

#12371 Bluetooth: Mesh: MCUmgr UART transport support and UUID logging
  samples/bluetooth/mesh/dfu/distributor/prj.conf
  samples/bluetooth/mesh/dfu/target/prj.conf
Labels: changelog-entry-required

#12531 manifest: openthread: update to \`4e52d85\`
  west.yml
Labels: manifest, manifest-openthread

#12519 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#12525 samples: matter: remove diagnostic clusters from template ZAP
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/template/src/template.matter
  samples/matter/template/src/template.zap
  samples/matter/template/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/template/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/template/src/zap-generated/callback-stub.cpp
  samples/matter/template/src/zap-generated/endpoint_config.h
  samples/matter/template/src/zap-generated/gen_config.h
Labels: doc-required

#12443 applications: Added overlays allowing to support more BT conns.
  applications/matter_bridge/README.rst
  applications/matter_bridge/overlay-bt_max_connections_app.conf
  applications/matter_bridge/overlay-bt_max_connections_net.conf
Labels: doc-required, changelog-entry-required

#12381 doc: add Zoomin info banner to doc
  doc/_utils/utils.py
  doc/kconfig/conf.py
  doc/matter/conf.py
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrfx/conf.py
  doc/nrfxlib/conf.py
  doc/tfm/conf.py
  doc/zephyr/conf.py
Labels: doc-required, changelog-entry-required

#12507 doc: nrf5340_audio: note about +20 dBm limitation
  applications/nrf5340_audio/README.rst
  doc/nrf/libraries/bin/bt_ll_acs_nrf53/index.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#12530 applications: Matter Bridge: make adding new devices more flexible
  samples/matter/common/src/bridge/bridge_manager.cpp
  samples/matter/common/src/bridge/util/bridge_util.h
Labels: changelog-entry-required

#12486 manifest: Update sdk-zephyr for twister-pytest changes
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#12540 doc: Fix upload path for Zoomin
  .github/workflows/docpublish.yml
Labels: changelog-entry-required

#12511 bluetooth: samples: mesh: remove uri info prints in dfu sample
  samples/bluetooth/mesh/dfu/distributor/src/dfu_dist.c
Labels: changelog-entry-required

#12539 drivers: wifi: Update RPU patch to rev#34e0484af5e
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/lmac_if_common.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#12429 matter: enable NVS lookup cache settings optimization
  west.yml
Labels: manifest, manifest-zephyr, manifest-matter

#12545 manifest: Update sdk-zephyr sha
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#12552 ppi_trace: add ppi_trace_dppi_ch_trace function
  include/debug/ppi_trace.h
  subsys/debug/ppi_trace/ppi_trace.c
Labels: changelog-entry-required

#12510 manifest: sdk-zephyr: mesh v1b1 PTS tester support and fixes
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#12489 doc: Rename nRF91 AT Commands Reference Guide
  applications/serial_lte_modem/README.rst
  applications/serial_lte_modem/doc/AT_commands_intro.rst
  applications/serial_lte_modem/doc/slm_description.rst
  doc/nrf/device_guides/working_with_nrf/nrf91/nrf91_features.rst
  doc/nrf/device_guides/working_with_nrf/nrf91/thingy91.rst
  doc/nrf/libraries/modem/lte_lc.rst
  doc/nrf/libraries/modem/modem_battery.rst
  doc/nrf/libraries/modem/modem_key_mgmt.rst
  doc/nrf/libraries/modem/pdn.rst
  doc/nrf/libraries/networking/nrf_provisioning.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/at_client/README.rst
  samples/cellular/lwm2m_client/provisioning.rst
  samples/cellular/modem_shell/README.rst
  samples/cellular/nrf_cloud_multi_service/README.rst
  samples/cellular/pdn/README.rst
  samples/cellular/slm_shell/README.rst
  samples/cellular/udp/README.rst
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib

#12485 manifest: Update sdk-zephyr to bring in the MCUboot info
  west.yml
Labels: manifest, manifest-zephyr, manifest-mcuboot, changelog-entry-required

#12444 samples: wifi: qt: Add SLIP configuration
  samples/wifi/wfa_qt_app/README.rst
  samples/wifi/wfa_qt_app/nrf7002_uart_pipe.overlay
  samples/wifi/wfa_qt_app/overlay-slip.conf
  samples/wifi/wfa_qt_app/src/qt_app_main.c
Labels: doc-required, changelog-entry-required

#12492 samples: cellular: nrf_cloud_multi_service: Add minimal CoAP and MQTT overlays
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_multi_service/CMakeLists.txt
  samples/cellular/nrf_cloud_multi_service/Kconfig
  samples/cellular/nrf_cloud_multi_service/README.rst
  samples/cellular/nrf_cloud_multi_service/overlay_coap.conf
  samples/cellular/nrf_cloud_multi_service/overlay_min_coap.conf
  samples/cellular/nrf_cloud_multi_service/overlay_min_mqtt.conf
  samples/cellular/nrf_cloud_multi_service/overlay_nrf7002ek_wifi_no_lte.conf
  samples/cellular/nrf_cloud_multi_service/prj.conf
  samples/cellular/nrf_cloud_multi_service/src/application.c
  samples/cellular/nrf_cloud_multi_service/src/at_commands.c
  samples/cellular/nrf_cloud_multi_service/src/cloud_connection.c
  samples/cellular/nrf_cloud_multi_service/src/main.c
Labels: doc-required

#12483 lib: location: Add sequence diagrams
  doc/nrf/libraries/modem/location.rst
  include/modem/location.h
Labels: doc-required, changelog-entry-required

#12542 manifest: update sidewalk revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-sidewalk

#12569 manifest: Update sdk-nrf-802154 revision
  west.yml
Labels: manifest, manifest-nrf-802154, changelog-entry-required

#12556 manifest: update zephyr with nrf53 pretick power usage fix
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#11979 subsys: Add network core monitor
  CODEOWNERS
  doc/nrf/libraries/others/images/ncm_register.svg
  doc/nrf/libraries/others/network_core_monitor.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/net_core_monitor.h
  subsys/CMakeLists.txt
  subsys/Kconfig
  subsys/net_core_monitor/CMakeLists.txt
  subsys/net_core_monitor/Kconfig
  subsys/net_core_monitor/app_core.c
  subsys/net_core_monitor/common.h
  subsys/net_core_monitor/net_core.c
Labels: doc-required

#12211 doc: Remove use of SoC when referencing SiPs
  doc/nrf/security/ap_protect.rst
Labels: doc-required

#12469 manifest: sdk-wi-fiquicktrack-controlappc: Pull fix for sta disconnect
  west.yml
Labels: manifest, changelog-entry-required, manifest-wfa-qt-control-app

#12570 application: serial_lte_modem: remove #XSLMUART AT command
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_settings.c
  applications/serial_lte_modem/src/slm_settings.h
  applications/serial_lte_modem/src/slm_uart_handler.c
  applications/serial_lte_modem/src/slm_uart_handler.h
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#12541 drivers: wifi: Provide option to disable beamforming
  drivers/wifi/nrf700x/Kconfig
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/default/fmac_api.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fmac_cmd.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/radio_test/fmac_api.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/cmd.c
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/default/fmac_api.c
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/radio_test/fmac_api.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_fmac_main.c
Labels: changelog-entry-required

#12219 doc: introduction: distinguishing NCS features
  doc/nrf/introduction.rst
Labels: doc-required, CI-disable, changelog-entry-required

#12574 manifest: Update sdk-nrfxlib
  west.yml
Labels: manifest, manifest-nrfxlib

#12577 bluetooth: controller: kconfig: Decrease PA event length with ISO
  subsys/bluetooth/controller/Kconfig
Labels: changelog-entry-required

#12581 drivers: wifi: Fix throughput degradation in BLE
  drivers/wifi/nrf700x/CMakeLists.txt
Labels: changelog-entry-required

#12553 net: lib: rest_client: update rest_client_close_connection() log msgs
  subsys/net/lib/rest_client/src/rest_client.c
Labels: changelog-entry-required

#12566 net: lib: nrf_cloud: Update A-GPS cddl
  subsys/net/lib/nrf_cloud/coap/cddl/nrf_cloud_coap_agps.cddl
  subsys/net/lib/nrf_cloud/coap/include/agps_encode_types.h
  subsys/net/lib/nrf_cloud/coap/src/agps_encode.c
Labels: changelog-entry-required

#12589 samples: wifi: sr_coex: Fix BLE throughput degradation
  samples/wifi/sr_coex/prj.conf
Labels: changelog-entry-required

#12527 applications: serial_lte_modem: Fix socket options.
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_socket.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#12413 doc: bluetooth: mesh: Split out mesh samples
  doc/nrf/device_guides/working_with_nrf/nrf52/features.rst
  doc/nrf/device_guides/working_with_nrf/nrf53/nrf5340.rst
  doc/nrf/libraries/bluetooth_services/mesh.rst
  doc/nrf/libraries/bluetooth_services/mesh/dk_prov.rst
  doc/nrf/protocols/bt/ble/index.rst
  doc/nrf/protocols/bt/bt_mesh/index.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/samples.rst
  doc/nrf/samples/bl.rst
  doc/nrf/samples/mesh.rst
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/README.rst
  samples/bluetooth/mesh/chat/README.rst
  samples/bluetooth/mesh/dfu/distributor/README.rst
  samples/bluetooth/mesh/dfu/target/README.rst
  samples/bluetooth/mesh/light/README.rst
  samples/bluetooth/mesh/light_ctrl/README.rst
  samples/bluetooth/mesh/light_dimmer/README.rst
  samples/bluetooth/mesh/light_switch/README.rst
  samples/bluetooth/mesh/sensor_client/README.rst
  samples/bluetooth/mesh/sensor_server/README.rst
  samples/bluetooth/mesh/silvair_enocean/README.rst
Labels: doc-required, ble mesh

#12402 applications: nrf5340_audio: Add user-specific BT name
  applications/nrf5340_audio/tools/buildprog/buildprog.py
Labels: CI-trusted-author, external, changelog-entry-required

#12591 manifest: update softdevice controller and mpsl
  west.yml
Labels: manifest, changelog-entry-required, manifest-dragoon

#12587 GH Workflows: Refactor label workflows
  .github/workflows/check-ci-requested.yml
  .github/workflows/reapply-ci-trusted-author.yml
Labels: changelog-entry-required

#12468 application: serial_lte_modem: BUG-FIX GNSS scheduled download
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: doc-required

#12592 wifi: Fix crypto sel
  modules/hostap/CMakeLists.txt
  modules/hostap/Kconfig
Labels: changelog-entry-required

#12600 doc: Fix missing API definitions in documentation
  doc/nrf/nrf.doxyfile.in
Labels: doc-required

#12465 manifest: update zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#12290 Oct 2655 bt stream module
  applications/nrf5340_audio/Kconfig.defaults
  applications/nrf5340_audio/doc/firmware_architecture.rst
  applications/nrf5340_audio/include/nrf5340_audio_common.h
  applications/nrf5340_audio/src/audio/CMakeLists.txt
  applications/nrf5340_audio/src/audio/Kconfig
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/audio_datapath.h
  applications/nrf5340_audio/src/audio/audio_system.c
  applications/nrf5340_audio/src/audio/audio_system.h
  applications/nrf5340_audio/src/audio/le_audio_rx.c
  applications/nrf5340_audio/src/audio/le_audio_rx.h
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/audio/streamctrl.h
  applications/nrf5340_audio/src/audio/streamctrl_broadcast_sink.c
  applications/nrf5340_audio/src/audio/streamctrl_broadcast_source.c
  applications/nrf5340_audio/src/audio/streamctrl_unicast_client.c
  applications/nrf5340_audio/src/audio/streamctrl_unicast_server.c
  applications/nrf5340_audio/src/bluetooth/CMakeLists.txt
  applications/nrf5340_audio/src/bluetooth/Kconfig
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/bt_content_control/bt_content_ctrl.c
  applications/nrf5340_audio/src/bluetooth/bt_content_control/bt_content_ctrl.h
  applications/nrf5340_audio/src/bluetooth/bt_management/Kconfig
  applications/nrf5340_audio/src/bluetooth/bt_management/advertising/Kconfig
  applications/nrf5340_audio/src/bluetooth/bt_management/advertising/bt_mgmt_adv.c
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.c
  applications/nrf5340_audio/src/bluetooth/bt_management/controller_config/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/bt_management/scanning/bt_mgmt_scan_for_conn.c
  applications/nrf5340_audio/src/bluetooth/bt_renderer/bt_rend.c
  applications/nrf5340_audio/src/bluetooth/bt_renderer/bt_rend.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/CMakeLists.txt
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/Kconfig
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_sink.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_sink.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_source.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_source.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/Kconfig
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_client.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_client.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_server.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_server.h
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/drivers/Kconfig
  applications/nrf5340_audio/src/main.c
  applications/nrf5340_audio/src/modules/button_handler.c
  doc/nrf/images/octave_application_structure.svg
  doc/nrf/images/octave_application_structure_gateway.svg
  doc/nrf/images/octave_application_structure_sync_module.svg
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required

#12513 manifest: pull recent vital Matter SDK patches
  applications/matter_bridge/src/bridged_device_types/onoff_light.cpp
  samples/matter/common/src/bridge/bridged_device_data_provider.h
  samples/matter/common/src/bridge/matter_bridged_device.h
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#12578 net_core_monitor: Make it easy to use
  doc/nrf/libraries/others/network_core_monitor.rst
  include/net_core_monitor.h
  subsys/net_core_monitor/Kconfig
  subsys/net_core_monitor/app_core.c
  subsys/net_core_monitor/common.h
  subsys/net_core_monitor/net_core.c
Labels: doc-required, changelog-entry-required

#12585 samples: cellular: modem_shell: Remove iperf3/curl from nrf7002ek conf
  samples/cellular/modem_shell/overlay-nrf7002ek-wifi-scan-only.conf
Labels: changelog-entry-required

#12601 samples: cellular: modem_shell: Fix DTLS
  samples/cellular/modem_shell/src/sock/sock.c
Labels: changelog-entry-required

#12311 lib: pdn: add APN rate control events
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/modem/pdn.h
  lib/pdn/pdn.c
Labels: doc-required

#12593 codeowners: Add entry for hostap module
  CODEOWNERS
Labels: changelog-entry-required

#12466 Applications: nrf5340_audio: Address print alterations
  applications/nrf5340_audio/src/bluetooth/bt_management/advertising/bt_mgmt_adv.c
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.c
  applications/nrf5340_audio/src/bluetooth/bt_management/scanning/bt_mgmt_scan.c
Labels: changelog-entry-required

#12590 applications: serial_lte_modem: SLM server fixes.
  applications/serial_lte_modem/doc/TCPUDP_AT_commands.rst
  applications/serial_lte_modem/doc/slm_testing.rst
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#12535 doc: software_maturity: add Amazon Sidewalk
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required, changelog-entry-required

#12617 doc: Bluetooth: Remove version name when mentioning the SoftDevice
  doc/nrf/protocols/bt/ble/index.rst
Labels: doc-required

#12624 CODEOWNERS: add SLM maintainers to ftp_client lib, slm_shell sample
  CODEOWNERS
Labels: changelog-entry-required

#12558 doc: matter: Add documentation for last fabric removal
  doc/nrf/protocols/matter/end_product/index.rst
  doc/nrf/protocols/matter/end_product/last_fabric_removal_delegate.rst
  doc/nrf/protocols/matter/getting_started/advanced_kconfigs.rst
Labels: doc-required

#12599 doc: wifi: update memory footprint table
  doc/nrf/protocols/wifi/mem_requirements.rst
Labels: doc-required

#12546 doc: nrf: Added page about Matter ecosystems certification
  doc/_utils/redirects.py
  doc/nrf/links.txt
  doc/nrf/protocols/matter/end_product/ecosystems_certification.rst
  doc/nrf/protocols/matter/end_product/index.rst
  doc/nrf/protocols/matter/getting_started/advanced_kconfigs.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#12576 doc: matter: Added page describing Matter bridge architecture
  applications/matter_bridge/README.rst
  doc/nrf/protocols/matter/overview/bridge.rst
  doc/nrf/protocols/matter/overview/images/matter_bridge_architecture.svg
  doc/nrf/protocols/matter/overview/images/matter_bridge_topology.svg
  doc/nrf/protocols/matter/overview/index.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#12620 net: lwm2m_client_utils: Advanced FOTA push fix
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_adv_firmware.c
  tests/subsys/net/lib/lwm2m_fota_utils/src/firmware.c
Labels: doc-required, bugfix

#12638 compliance: extend image exclusions in the checker
  .checkpatch.conf
Labels: CI-disable

#12629 manifest: openthread: update to \`57ef721\`
  west.yml
Labels: manifest, manifest-openthread

#12618 manifest: Update sdk-mcuboot revision
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#12614 manifest: update zephyr with nrf53 pretick power usage fix 2
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#12613 Revert "samples: peripheral_fast_pair: Disable CCC Lazy Loading to allow for rebond"
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_fast_pair/prj.conf
Labels: doc-required

#12625 drivers: wifi: Update RPU patch to rev#a81691731dc
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#12640 Applications: nrf5340_audio: Post upmerge cleanup
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/bt_management/scanning/bt_mgmt_scan_for_broadcast.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_source.c
Labels: changelog-entry-required

#12615 manifest: nrfxlib: update to latest
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#11773 samples: net: Add UDP sample
  CODEOWNERS
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/net/udp/CMakeLists.txt
  samples/net/udp/Kconfig
  samples/net/udp/README.rst
  samples/net/udp/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/net/udp/boards/nrf9160dk_nrf9160_ns.conf
  samples/net/udp/boards/nrf9160dk_nrf9160_ns.overlay
  samples/net/udp/boards/nrf9161dk_nrf9161_ns.conf
  samples/net/udp/boards/nrf9161dk_nrf9161_ns.overlay
  samples/net/udp/boards/qemu_x86.conf
  samples/net/udp/boards/thingy91_nrf9160_ns.conf
  samples/net/udp/boards/thingy91_nrf9160_ns.overlay
  samples/net/udp/prj.conf
  samples/net/udp/sample.yaml
  samples/net/udp/src/main.c
Labels: doc-required

#12639 manifest: Update mcuboot
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#12644 doc: fast_pair: Align the doc due to Google Nearby Console redesign
  applications/nrf_desktop/README.rst
  samples/bluetooth/peripheral_fast_pair/README.rst
Labels: doc-required, doc only

#12516 lib: bin: lwm2m_carrier: update to v3.3.0
  applications/asset_tracker_v2/src/events/modem_module_event.c
  applications/asset_tracker_v2/src/events/modem_module_event.h
  applications/asset_tracker_v2/src/modules/modem_module.c
  applications/serial_lte_modem/doc/CARRIER_AT_commands.rst
  applications/serial_lte_modem/src/lwm2m_carrier/Kconfig
  applications/serial_lte_modem/src/lwm2m_carrier/slm_at_carrier.c
  doc/nrf/libraries/bin/lwm2m_carrier/CHANGELOG.rst
  doc/nrf/libraries/bin/lwm2m_carrier/app_integration.rst
  doc/nrf/libraries/bin/lwm2m_carrier/certification.rst
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_success.svg
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/bin/lwm2m_carrier/Kconfig
  lib/bin/lwm2m_carrier/include/lwm2m_carrier.h
  lib/bin/lwm2m_carrier/include/lwm2m_os.h
  lib/bin/lwm2m_carrier/lib/cortex-m33/hard-float/liblwm2m_carrier.a
  lib/bin/lwm2m_carrier/os/lwm2m_carrier.c
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  lib/bin/lwm2m_carrier/os/lwm2m_shell.c
Labels: doc-required

#12654 samples: openthread: restore the default value of OpenThread message buffers
  subsys/net/openthread/Kconfig.defconfig
Labels: changelog-entry-required

#12642 doc: matter: Update Matter certification page
  doc/nrf/links.txt
  doc/nrf/protocols/matter/end_product/certification.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, doc only

#12634 manifest: pull disabling of the nRF70 verbosity in Matter
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#12572 tests: bluetooth: tester: Add MESH_START command from upstream tester
  tests/bluetooth/tester/src/bttester.h
  tests/bluetooth/tester/src/mesh.c
Labels: changelog-entry-required

#12565 doc:matter: correction in the documentation
  doc/nrf/protocols/matter/getting_started/adding_clusters.rst
Labels: doc-required, changelog-entry-required, doc only

#12649 manifest: Update sdk-nrfxlib with GNSS API documentation update
  west.yml
Labels: manifest, manifest-nrfxlib, doc only

#12441 application: serial_lte_modem: improve MQTT for long KeepAlive
  applications/serial_lte_modem/doc/MQTT_AT_commands.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
Labels: doc-required

#12627 doc: add Sidewalk software maturity table
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, changelog-entry-required

#11036 samples: cellular: http_update: modem DFU samples refactoring
  doc/nrf/device_guides/working_with_nrf/nrf91/nrf91_features.rst
  doc/nrf/releases_and_maturity/releases/release-notes-1.5.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-1.7.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.4.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/http_update/application_update/CMakeLists.txt
  samples/cellular/http_update/application_update/README.rst
  samples/cellular/http_update/application_update/cert/AmazonRootCA1
  samples/cellular/http_update/application_update/sample.yaml
  samples/cellular/http_update/application_update/src/main.c
  samples/cellular/http_update/common/include/update.h
  samples/cellular/http_update/common/src/update.c
  samples/cellular/http_update/full_modem_update/boards/nrf9160dk_nrf9160_ns.conf
  samples/cellular/http_update/full_modem_update/src/main.c
  samples/cellular/http_update/modem_delta_update/CMakeLists.txt
  samples/cellular/http_update/modem_delta_update/README.rst
  samples/cellular/http_update/modem_delta_update/boards/nrf9160dk_nrf9160_ns.conf
  samples/cellular/http_update/modem_delta_update/boards/nrf9161dk_nrf9161_ns.conf
  samples/cellular/http_update/modem_delta_update/cert/AmazonRootCA1
  samples/cellular/http_update/modem_delta_update/prj.conf
  samples/cellular/http_update/modem_delta_update/sample.yaml
  samples/cellular/http_update/modem_delta_update/src/main.c
  samples/cellular/http_update/modem_full_update/CMakeLists.txt
  samples/cellular/http_update/modem_full_update/Kconfig
  samples/cellular/http_update/modem_full_update/README.rst
  samples/cellular/http_update/modem_full_update/boards/nrf9160dk_nrf9160_ns.conf
  samples/cellular/http_update/modem_full_update/boards/nrf9160dk_nrf9160_ns.overlay
  samples/cellular/http_update/modem_full_update/boards/nrf9161dk_nrf9161_ns.conf
  samples/cellular/http_update/modem_full_update/boards/nrf9161dk_nrf9161_ns.overlay
  samples/cellular/http_update/modem_full_update/boards/nrf9161dk_nrf9161_ns_0_7_0.overlay
  samples/cellular/http_update/modem_full_update/cert/AmazonRootCA1
  samples/cellular/http_update/modem_full_update/prj.conf
  samples/cellular/http_update/modem_full_update/sample.yaml
  samples/cellular/http_update/modem_full_update/src/main.c
  subsys/dfu/dfu_target/src/dfu_target_full_modem.c
Labels: doc-required

#12608 bluetooth: fast_pair: Rename Fast Pair sample
  CODEOWNERS
  doc/nrf/external_comp/bt_fast_pair.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.0.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.1.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.2.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.4.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/samples/bl.rst
  samples/bluetooth/fast_pair/input_device/CMakeLists.txt
  samples/bluetooth/fast_pair/input_device/Kconfig.sysbuild
  samples/bluetooth/fast_pair/input_device/README.rst
  samples/bluetooth/fast_pair/input_device/child_image/hci_rpmsg.conf
  samples/bluetooth/fast_pair/input_device/include/battery_module.h
  samples/bluetooth/fast_pair/input_device/include/bt_adv_helper.h
  samples/bluetooth/fast_pair/input_device/include/hids_helper.h
  samples/bluetooth/fast_pair/input_device/prj.conf
  samples/bluetooth/fast_pair/input_device/sample.yaml
  samples/bluetooth/fast_pair/input_device/src/battery_module.c
  samples/bluetooth/fast_pair/input_device/src/bt_adv_helper.c
  samples/bluetooth/fast_pair/input_device/src/bt_le_adv_prov_uuid16.c
  samples/bluetooth/fast_pair/input_device/src/hids_helper.c
  samples/bluetooth/fast_pair/input_device/src/main.c
Labels: doc-required

#12650 manifest: zephyr: Pull mesh fixes for OOB upload
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#12643 scripts: sbom: Update SPDX License List
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  scripts/west_commands/sbom/data/spdx-licenses.yaml
Labels: doc-required, bugfix

#12028 sample: Add HCI interface to DTM
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/CMakeLists.txt
  samples/Kconfig
  samples/bluetooth/direct_test_mode/CMakeLists.txt
  samples/bluetooth/direct_test_mode/Kconfig
  samples/bluetooth/direct_test_mode/README.rst
  samples/bluetooth/direct_test_mode/boards/nrf5340dk_nrf5340_cpunet.overlay
  samples/bluetooth/direct_test_mode/conf/remote_shell_nrf53.overlay
  samples/bluetooth/direct_test_mode/overlay-hci-nrf53.conf
  samples/bluetooth/direct_test_mode/overlay-hci.conf
  samples/bluetooth/direct_test_mode/remote_hci/CMakeLists.txt
  samples/bluetooth/direct_test_mode/remote_hci/Kconfig
  samples/bluetooth/direct_test_mode/remote_hci/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/direct_test_mode/remote_hci/prj.conf
  samples/bluetooth/direct_test_mode/remote_hci/src/main.c
  samples/bluetooth/direct_test_mode/rpc/dtm_serialization.h
  samples/bluetooth/direct_test_mode/src/dtm.c
  samples/bluetooth/direct_test_mode/src/dtm.h
  samples/bluetooth/direct_test_mode/src/main.c
  samples/bluetooth/direct_test_mode/src/transport/dtm_hci.c
  samples/bluetooth/direct_test_mode/src/transport/dtm_transport.h
  samples/bluetooth/direct_test_mode/src/transport/dtm_uart_twowire.c
  samples/bluetooth/direct_test_mode/src/transport/dtm_uart_twowire.h
  samples/bluetooth/direct_test_mode/src/transport/dtm_uart_wait.c
  samples/bluetooth/direct_test_mode/src/transport/dtm_uart_wait.h
  samples/bluetooth/direct_test_mode/src/transport/hci_uart.c
  samples/bluetooth/direct_test_mode/src/transport/hci_uart.h
  samples/bluetooth/direct_test_mode/src/transport/hci_uart_remote.c
Labels: doc-required

#11501 samples: Merge Azure IoT Hub and Azure FOTA samples
  CODEOWNERS
  doc/nrf/device_guides/working_with_nrf/nrf91/nrf91_features.rst
  doc/nrf/libraries/networking/azure_fota.rst
  doc/nrf/libraries/networking/azure_iot_hub.rst
  doc/nrf/releases_and_maturity/releases/release-notes-1.4.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.3.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/azure_fota/CMakeLists.txt
  samples/cellular/azure_fota/Kconfig
  samples/cellular/azure_fota/README.rst
  samples/cellular/azure_fota/prj.conf
  samples/cellular/azure_fota/sample.yaml
  samples/net/azure_iot_hub/README.rst
  samples/net/azure_iot_hub/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/net/azure_iot_hub/boards/nrf7002dk_nrf5340_cpuapp.overlay
  samples/net/azure_iot_hub/boards/nrf9160dk_nrf9160_ns.conf
  samples/net/azure_iot_hub/boards/nrf9161dk_nrf9161_ns.conf
  samples/net/azure_iot_hub/child_image/mcuboot/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/net/azure_iot_hub/child_image/mcuboot/boards/nrf7002dk_nrf5340_cpuapp.overlay
  samples/net/azure_iot_hub/prj.conf
  samples/net/azure_iot_hub/src/main.c
Labels: doc-required

#12656 doc: nrf: Fix line endings in .svg files
  doc/nrf/device_guides/working_with_nrf/nrf53/images/thingy53_nrf5340_dk.svg
  doc/nrf/device_guides/working_with_nrf/nrf53/images/thingy53_sw1_sw2.svg
  doc/nrf/device_guides/working_with_nrf/nrf53/images/thingy53_sw1_usb.svg
  doc/nrf/device_guides/working_with_nrf/nrf91/images/programmer_thingy91_connect_dk_swd_vddio.svg
  doc/nrf/device_guides/working_with_nrf/nrf91/images/thingy91_insert_sim.svg
  doc/nrf/device_guides/working_with_nrf/nrf91/images/thingy91_pin_imei.svg
  doc/nrf/device_guides/working_with_nrf/nrf91/images/thingy91_pwr_switch.svg
  doc/nrf/device_guides/working_with_nrf/nrf91/images/thingy91_sw1_sw3.svg
  doc/nrf/device_guides/working_with_nrf/nrf91/images/thingy91_sw1_sw4.svg
  doc/nrf/images/DevAcademy_primary.svg
  doc/nrf/images/asset_tracker_v2_cloud_module_hierarchy.svg
  doc/nrf/images/asset_tracker_v2_module_hierarchy.svg
  doc/nrf/images/lwm2m_client_state_diagram.svg
  doc/nrf/images/nrf7002_nrf5340_current_measurements.svg
  doc/nrf/images/nrf_desktop_400391_jlink_debug.svg
  doc/nrf/images/nrf_desktop_400398_debug.svg
  doc/nrf/images/nrf_desktop_400398_long_debug.svg
  doc/nrf/images/nrf_desktop_desktop_mouse_bottom.svg
  doc/nrf/images/nrf_desktop_desktop_mouse_side_debug.svg
  doc/nrf/images/nrf_desktop_desktop_mouse_side_no_captions.svg
  doc/nrf/images/nrf_desktop_desktop_mouse_side_scroll.svg
  doc/nrf/images/nrf_desktop_dongle_front_led1.svg
  doc/nrf/images/nrf_desktop_dongle_front_led2_sw1.svg
  doc/nrf/images/nrf_desktop_dongle_no_captions.svg
  doc/nrf/images/nrf_desktop_dongle_usb.svg
  doc/nrf/images/nrf_desktop_gaming_mouse_bottom.svg
  doc/nrf/images/nrf_desktop_gaming_mouse_debug_board_slot.svg
  doc/nrf/images/nrf_desktop_gaming_mouse_led1_peer_control_button.svg
  doc/nrf/images/nrf_desktop_gaming_mouse_led2.svg
  doc/nrf/images/nrf_desktop_gaming_mouse_top_no_captions.svg
  doc/nrf/images/nrf_desktop_gaming_mouse_usb_slot.svg
  doc/nrf/images/nrf_desktop_keyboard_back_debug.svg
  doc/nrf/images/nrf_desktop_keyboard_back_power.svg
  doc/nrf/images/nrf_desktop_keyboard_top.svg
  doc/nrf/images/nrf_desktop_keyboard_top_no_captions.svg
  doc/nrf/images/nrf_desktop_nrf52840_dk_no_captions.svg
  doc/nrf/images/nrf_desktop_peripheral_host.svg
  doc/nrf/images/nrf_desktop_peripheral_host_dongle.svg
  doc/nrf/images/sequence_diagram.svg
  doc/nrf/images/transport_module_states.svg
  doc/nrf/images/wifi_coex.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_bootstrap.svg
  doc/nrf/protocols/matter/getting_started/testing/images/matter_otbr_controller_same_device.svg
  doc/nrf/protocols/matter/getting_started/testing/images/matter_otbr_controller_separate_mobile.svg
  doc/nrf/protocols/matter/getting_started/testing/images/matter_otbr_controller_separate_pc.svg
Labels: doc-required, changelog-entry-required

#12651 Bluetooth: Mesh: Fix sensor value check and occupancy delay
  subsys/bluetooth/mesh/light_ctrl_srv.c
  tests/bluetooth/tester/prj.conf
Labels: changelog-entry-required, bugfix, ble mesh

#11521 doc improvement: matter: update docset info for zoomin
  doc/matter/conf.py
Labels: doc-required, CI-disable, doc only

#12690 samples: peripheral: lpuart: Decrease current draw on nRF21540 DK 2.0.0
  samples/peripheral/lpuart/boards/nrf21540dk_nrf52840.overlay
Labels: changelog-entry-required

#12680 samples: azure_iot_hub: Fix compile error
  samples/net/azure_iot_hub/src/main.c
Labels: bugfix

#12673 Bluetooth: Mesh: Fix broken LCTL tests
  tests/bluetooth/tester/src/model_handler.c
Labels: changelog-entry-required, bugfix

#12611 lib: fatal_error: Fix Kconfig option default
  lib/fatal_error/Kconfig
Labels: changelog-entry-required, bugfix

#12671 doc: Add migration guide for LwM2M related changes
  doc/nrf/releases_and_maturity/migration/migration_guide_2.5.rst
Labels: doc-required, doc only

#12679 doc: nrf: Added information about nRF7002 Amazon FFS certification
  doc/nrf/protocols/matter/end_product/ecosystems_certification.rst
Labels: doc-required, bugfix, doc only

#12685 doc improvement: Add migration guide entry for A-GNSS changes
  doc/nrf/releases_and_maturity/migration/migration_guide_2.5.rst
Labels: doc-required, doc only

#12686 doc improvement: Fix changelog
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, doc only

#12630 manifest: Updated Matter revision to pull BLE interop fix
  west.yml
Labels: manifest, manifest-matter, bugfix

#12692 samples: cellular: http_update: Fix Carrier Library integration
  samples/cellular/http_update/application_update/src/main.c
Labels: bugfix

#12696 drivers: wifi: Remove dead code
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/tx.c
Labels: changelog-entry-required

#12670 applications: serial_lte_modem: fix FTP data reception
  applications/serial_lte_modem/doc/FTP_AT_commands.rst
  applications/serial_lte_modem/src/ftp_c/slm_at_ftp.c
  subsys/net/lib/ftp_client/src/ftp_client.c
Labels: doc-required, bugfix

#12691 Applications: nrf5340_audio: Error print correction
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.c
Labels: bugfix

#12683 doc improvement: update board name for nRF9161
  doc/nrf/config_and_build/board_support.rst
Labels: doc-required, CI-disable, doc only

#12668 Bluetooth: mesh: Add model correspond relation
  include/bluetooth/mesh/gen_loc_srv.h
  include/bluetooth/mesh/light_temp_srv.h
  subsys/bluetooth/mesh/gen_loc_srv.c
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/gen_ponoff_srv.c
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/light_hsl_srv.c
  subsys/bluetooth/mesh/light_hue_srv.c
  subsys/bluetooth/mesh/light_sat_srv.c
  subsys/bluetooth/mesh/light_temp_srv.c
  subsys/bluetooth/mesh/light_xyl_srv.c
  subsys/bluetooth/mesh/lightness_srv.c
  subsys/bluetooth/mesh/scene_srv.c
  subsys/bluetooth/mesh/scheduler_srv.c
  subsys/bluetooth/mesh/sensor_srv.c
  subsys/bluetooth/mesh/time_srv.c
Labels: changelog-entry-required, bugfix, ble mesh

#11588 net: azure_iot_hub: Return error if setting backend is not ready
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub_dps.c
  tests/subsys/net/lib/azure_iot_hub/dps/CMakeLists.txt
  tests/subsys/net/lib/azure_iot_hub/dps/prj.conf
  tests/subsys/net/lib/azure_iot_hub/dps/src/azure_iot_hub_dps_test.c
  tests/subsys/net/lib/azure_iot_hub/dps/testcase.yaml
Labels: changelog-entry-required, bugfix

#12703 CODEOWNERS: remove duplicate entry
  CODEOWNERS
Labels: changelog-entry-required

#12702 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#12701 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#12687 samples: openthread: Update THCI files for Thread 1.3
  samples/openthread/cli/harness-thci-1-3/nRF_Connect_SDK_1_3.py
Labels: bugfix

#12626 ci: Update pip requirements-fixed compilation
  .github/workflows/compliance.yml
  .github/workflows/pip-requirements.yml
  scripts/compile-requirements.sh
Labels: CI-disable, changelog-entry-required

#12667 Applications: nrf5340_audio: DFU doc added
  applications/nrf5340_audio/README.rst
Labels: doc-required, doc only

#12677 net: lib: nrf_cloud: Remove benign shadow error
  subsys/net/lib/nrf_cloud/coap/src/nrf_cloud_coap.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fsm.c
Labels: changelog-entry-required

#12710 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#12714 migration_guide: add entries for SLM
  doc/nrf/releases_and_maturity/migration/migration_guide_2.5.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, doc only

#12719 manifest: Update nrxlib and dragoon to latest
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#12711 applications: nrf5340_audio: Set available contexts
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_server.c
Labels: bugfix

#12718 applications: nrf5340_audio: Use PD from BASE
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_sink.c
Labels: bugfix

#12720 Applications: nrf5340_audio: Removed duplicate config
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_server.c
Labels: changelog-entry-required, bugfix

#12682 doc: update Thingy:91 GS to use Cellular Monitor
  doc/nrf/device_guides/working_with_nrf/nrf91/images/cellularmonitor_enablemcuboot.png
  doc/nrf/device_guides/working_with_nrf/nrf91/images/cellularmonitor_programdevice_thingy91.png
  doc/nrf/device_guides/working_with_nrf/nrf91/images/cellularmonitor_selectdevice_thingy91.png
  doc/nrf/device_guides/working_with_nrf/nrf91/nrf9160.rst
  doc/nrf/device_guides/working_with_nrf/nrf91/nrf9160_gs.rst
  doc/nrf/device_guides/working_with_nrf/nrf91/thingy91.rst
  doc/nrf/device_guides/working_with_nrf/nrf91/thingy91_gsg.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.1.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable, doc only

#12717 applications: nrf5340_audio: compaitability issue fix for Android14
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/Kconfig.defaults
Labels: bugfix

#12708 applications: asset_tracker_v2: Remove typecast and use int16 function
  applications/asset_tracker_v2/src/cloud/cloud_codec/lwm2m/lwm2m_codec_helpers.c
  applications/asset_tracker_v2/tests/lwm2m_codec_helpers/src/lwm2m_codec_helpers_test.c
Labels: changelog-entry-required, bugfix

#12730 doc: nrf: Fixed information in the Matter adding clusters guide
  doc/nrf/protocols/matter/getting_started/adding_clusters.rst
Labels: doc-required, bugfix

#12031 partition_manager.py: Fix a bug where 'align' spec was deleted.
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  scripts/partition_manager.py
Labels: doc-required, bugfix

#12704 applications: nrf5340_audio: Fix coverity issues
  applications/nrf5340_audio/src/audio/sw_codec_select.c
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_client.c
  applications/nrf5340_audio/src/modules/audio_usb.c
Labels: bugfix

#12716 tools: update NcsToolchainConfigVersion
  scripts/pip-audit-whitelist.yml
  scripts/tools-versions-darwin.yml
  scripts/tools-versions-linux.yml
  scripts/tools-versions-win10.yml
Labels: doc only

#12712 manifest: sdk-wi-fiquicktrack-controlappc: Pull fix to disconnect STA
  west.yml
Labels: manifest, changelog-entry-required, bugfix, manifest-wfa-qt-control-app

#12724 samples: net: https_client: disable auto connect for nRF9161DK
  samples/net/https_client/boards/nrf9161dk_nrf9161_ns.conf
Labels: bugfix

#12721 manifest: mbedtls misc changes
  west.yml
Labels: manifest, changelog-entry-required, bugfix, manifest-mbedtls

#12735 scripts: hid_configurator: Document fwupd dependency
  scripts/hid_configurator/README.rst
Labels: doc-required, doc only

#12722 net: lib: nrf_cloud: fix encoding of "doReply" flag
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
Labels: doc-required, bugfix

#12641 doc: update on cellular UDP sample
  samples/cellular/udp/README.rst
Labels: doc-required, CI-disable, changelog-entry-required, doc only
