Repository nrfconnect/sdk-nrf, pull requests merged in 2023-01, with the labels that each got.

#9777 drivers: wifi: nrf700x: Fix QSPI define
  drivers/wifi/nrf700x/zephyr/src/qspi/inc/qspi_if.h
Labels: changelog-entry-required

#9775 net: lib: lwm2m_client_utils: Remove location assist events
  doc/nrf/libraries/networking/lwm2m_location_assistance.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/lwm2m_client/overlay-assist-agps.conf
  samples/nrf9160/lwm2m_client/overlay-assist-cell.conf
  samples/nrf9160/lwm2m_client/overlay-assist-pgps.conf
  samples/nrf9160/lwm2m_client/overlay-assist-wifi.conf
  samples/nrf9160/lwm2m_client/sample_description.rst
  samples/nrf9160/lwm2m_client/src/events/CMakeLists.txt
  samples/nrf9160/lwm2m_client/src/events/include/location_events.h
  samples/nrf9160/lwm2m_client/src/events/location_event_handler.c
  samples/nrf9160/lwm2m_client/src/events/location_events.c
  samples/nrf9160/lwm2m_client/src/main.c
  samples/nrf9160/lwm2m_client/src/sensors/gnss_module.c
  samples/nrf9160/modem_shell/overlay-lwm2m.conf
  subsys/net/lib/lwm2m_client_utils/CMakeLists.txt
  subsys/net/lib/lwm2m_client_utils/Kconfig
Labels: doc-required

#9746 boards: nrf5340_audio_dk: Add version 1.2.0
  boards/arm/nrf5340_audio_dk_nrf5340/board.h
Labels: changelog-entry-required

#9774 samples: nrf9160: modem_shell: Change timeout arguments to seconds
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/modem_shell/overlay-debug.conf
  samples/nrf9160/modem_shell/src/location/location_shell.c
Labels: doc-required

#9575 doc: minor fixes in Library template
  doc/nrf/templates/library_template_README.rst
Labels: doc-required

#9688 lib: location: refactor GNSS assistance data need handling
  applications/asset_tracker_v2/src/modules/data_module.c
  doc/nrf/releases/release-notes-changelog.rst
  lib/location/method_gnss.c
Labels: doc-required

#9222 doc: Add template for ecosystem integration guide
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/templates/Ecosystem_integration_template_README.rst
  doc/nrf/ug_bt_fast_pair.rst
Labels: doc-required

#9771 drivers: wifi: nrf700x: Fix Wi-Fi management dependency
  drivers/wifi/nrf700x/Kconfig.nrf700x
Labels: changelog-entry-required

#9735 applications: nrf5340_audio: Add support for nRF21540
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/src/bluetooth/Kconfig
  applications/nrf5340_audio/src/bluetooth/ble_core.c
  applications/nrf5340_audio/src/bluetooth/ble_hci_vsc.c
  applications/nrf5340_audio/src/bluetooth/ble_hci_vsc.h
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  applications/nrf5340_audio/tools/buildprog/buildprog.py
  boards/arm/nrf5340_audio_dk_nrf5340/nrf5340_audio_dk_nrf5340_cpuapp_common.dts
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#9731 applications: nrf5340_audio: Receive from one of several broadcasters
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/src/audio/Kconfig
  applications/nrf5340_audio/src/audio/Kconfig.defaults
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/bluetooth/Kconfig
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#9773 doc: dev model: Document NCS redistribution
  doc/nrf/dm_ncs_distro.rst
  doc/nrf/links.txt
  doc/nrf/ug_dev_model.rst
Labels: doc-required, CI-disable, changelog-entry-required

#9788 doc: known issues version tag container
  doc/_static/css/nrf.css
  doc/nrf/includes/filter.js
Labels: doc-required, changelog-entry-required

#9511 doc: Doc updates for 2.1.3 release
  doc/nrf/conf.py
  doc/nrf/dm_adding_code.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.1.3.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required, CI-disable

#9784 drivers: wifi: Update RPU patch for RevB to #48
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/host_rpu_sys_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/host_rpu_umac_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/rpu_fw_patches.h
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/fw_B/rpu_if.h
Labels: changelog-entry-required

#9786 samples: nrf9160: modem_shell: use LwM2M UDP queue mode
  samples/nrf9160/modem_shell/overlay-lwm2m.conf
Labels: changelog-entry-required

#9388 doc: lib: nrf_modem: updates
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib

#9794 doc: Add 2.1.3 to main
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.1.3.rst
  doc/versions.json
Labels: doc-required, CI-disable, changelog-entry-required

#9795 manifest: updated Matter module to pull heap related bug fix
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#9791 PHY: wifi:Disable TX power calibration.
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/fw_A/phy_rf_params.h
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/fw_B/phy_rf_params.h
Labels: changelog-entry-required

#9799 Memory optimizations for scan sample
  samples/wifi/scan/prj.conf
Labels: changelog-entry-required

#9807 drivers: wifi: Update RPU patch to rev#68
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_A/rpu_fw_patches.h
Labels: changelog-entry-required

#9803 manifest: remove tfm-mcuboot from imported projects
  doc/nrf/introduction.rst
  scripts/tag_west_repos.sh
  west.yml
Labels: doc-required, manifest, CI-all-test, manifest-tfm-mcuboot, changelog-entry-required

#9789 applications: nrf_desktop: Add log when motion sensor option is set
  applications/nrf_desktop/src/hw_interface/motion_sensor.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#9640 samples: nrf9160: http_update: Add support for Carrier Library
  applications/asset_tracker_v2/doc/lwm2m_carrier_library.rst
  doc/nrf/includes/lwm2m_carrier_library.txt
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/http_update/application_update/README.rst
  samples/nrf9160/http_update/application_update/overlay-carrier.conf
  samples/nrf9160/http_update/application_update/sample.yaml
  samples/nrf9160/http_update/application_update/src/main.c
  samples/nrf9160/http_update/common/src/update.c
Labels: doc-required

#9759 dm: Improve the text help of the Kconfig options
  subsys/dm/Kconfig
  subsys/dm/rpc/Kconfig
Labels: changelog-entry-required

#9797 ci: Fix documentation build on RST files
  .github/workflows/docbuild.yml
Labels: changelog-entry-required

#9651 application: serial_lte_modem: Doc update for data mode
  applications/serial_lte_modem/doc/slm_data_mode.rst
Labels: doc-required, changelog-entry-required

#9787 doc fix: fix missing definitions from header file
  doc/nrf/nrf.doxyfile.in
Labels: doc-required, CI-disable

#9781 lib: location: Combine external service configs
  applications/asset_tracker_v2/overlay-nrf7002ek-wifi-scan-only.conf
  applications/asset_tracker_v2/src/modules/Kconfig.location_module
  applications/asset_tracker_v2/src/modules/location_module.c
  applications/asset_tracker_v2/tests/location_module/CMakeLists.txt
  doc/nrf/libraries/modem/location.rst
  doc/nrf/releases/release-notes-2.0.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/modem/location.h
  lib/location/Kconfig
  lib/location/cellular/cellular_service.c
  lib/location/location.c
  lib/location/location_core.c
  lib/location/location_core.h
  lib/location/method_cellular.c
  lib/location/method_gnss.c
  lib/location/method_wifi.c
  lib/location/wifi/wifi_service.c
  samples/nrf9160/modem_shell/overlay-lwm2m.conf
  samples/nrf9160/modem_shell/overlay-lwm2m_pgps.conf
  samples/nrf9160/modem_shell/src/location/location_shell.c
Labels: doc-required

#8950 manifest: fix comment typo
  west.yml
Labels: manifest, CI-disable, changelog-entry-required

#9826 drivers: wifi: Increase HW warm boot time
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/lmac_if_common.h
Labels: changelog-entry-required

#9687 application: serial_lte_modem: Add power-off command
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/src/main.c
  applications/serial_lte_modem/src/slm_at_commands.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#9824 doc: matter: certification templates section
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_matter_device_certification.rst
Labels: doc-required, CI-disable

#9840 applications: nrf5340_audio: Fix bidirectional not work after disconnection
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
Labels: changelog-entry-required

#9825 treewide: Prevent python argparse from abbreviating arguments
  applications/nrf5340_audio/tools/buildprog/ble5-ctr-rpmsg_sign.py
  applications/nrf5340_audio/tools/buildprog/buildprog.py
  applications/nrf5340_audio/tools/buildprog/fw_info_data.py
  doc/_scripts/cache_create.py
  doc/_scripts/cache_upload.py
  doc/_scripts/fix_markdown.py
  doc/_scripts/merge_search_indexes.py
  doc/_scripts/software_maturity/software_maturity_scanner.py
  samples/matter/lock/src/flash-external.py
  samples/nrf9160/fmfu_smp_svr/update_modem.py
  samples/nrf9160/lwm2m_client/scripts/coiote.py
  samples/nrf9160/lwm2m_client/scripts/device.py
  samples/nrf9160/lwm2m_client/scripts/provision.py
  scripts/bootloader/asn1parse.py
  scripts/bootloader/dfu_multi_image_tool.py
  scripts/bootloader/do_sign.py
  scripts/bootloader/generate_zip.py
  scripts/bootloader/hash.py
  scripts/bootloader/keygen.py
  scripts/bootloader/provision.py
  scripts/bootloader/validation_data.py
  scripts/bootloader/zb_add_ota_header.py
  scripts/ci/check_license.py
  scripts/get_pulls_in_range.py
  scripts/hid_configurator/configurator_cli.py
  scripts/memfault/mds_ble_gateway.py
  scripts/nrf_profiler/calc_stats.py
  scripts/nrf_profiler/data_collector.py
  scripts/nrf_profiler/merge_data.py
  scripts/nrf_profiler/plot_from_files.py
  scripts/nrf_profiler/real_time_plot.py
  scripts/nrf_provision/fast_pair/fp_provision_cli.py
  scripts/partition_manager.py
  scripts/partition_manager_output.py
  scripts/partition_manager_report.py
  scripts/shell/bt_nus_shell.py
  scripts/unity/func_name_list.py
  scripts/unity/header_prepare.py
  scripts/west_commands/sbom/args.py
Labels: CI-disable, changelog-entry-required

#9818 manifest: Pulled bug fixes and optimizations for Matter
  samples/matter/light_bulb/prj.conf
  samples/matter/light_bulb/prj_no_dfu.conf
  samples/matter/light_bulb/prj_release.conf
  samples/matter/light_switch/Kconfig
  samples/matter/light_switch/prj.conf
  samples/matter/light_switch/prj_no_dfu.conf
  samples/matter/light_switch/prj_release.conf
  samples/matter/lock/Kconfig
  samples/matter/lock/prj.conf
  samples/matter/lock/prj_no_dfu.conf
  samples/matter/lock/prj_release.conf
  samples/matter/lock/prj_thread_wifi_switched.conf
  samples/matter/template/prj.conf
  samples/matter/template/prj_no_dfu.conf
  samples/matter/template/prj_release.conf
  samples/matter/window_covering/prj.conf
  samples/matter/window_covering/prj_no_dfu.conf
  samples/matter/window_covering/prj_release.conf
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#9827 drivers: wifi: Update RPU patch for RevB to #50
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/rpu_fw_patches.h
Labels: external, changelog-entry-required

#9842 samples: identity_key_usage: Mark the sample as build_only
  samples/keys/identity_key_usage/sample.yaml
Labels: changelog-entry-required

#9809 doc: Minor updates to the introduction page
  doc/nrf/introduction.rst
Labels: doc-required, CI-disable, changelog-entry-required

#9848 doc: Multicell location library: rewording deprecation
  doc/nrf/libraries/networking/multicell_location.rst
  doc/nrf/software_maturity.rst
  include/net/multicell_location.h
Labels: doc-required, changelog-entry-required

#9823 tests: zigbee: Use standarized pins with gpio_loopback
  tests/subsys/zigbee/osif/serial/serial_async_api/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/zigbee/osif/serial/serial_async_api/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/subsys/zigbee/osif/serial/serial_async_api/testcase.yaml
  tests/subsys/zigbee/osif/serial/serial_basic_api/boards/nrf52840dk_nrf52840.overlay
  tests/subsys/zigbee/osif/serial/serial_basic_api/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/subsys/zigbee/osif/serial/serial_basic_api/testcase.yaml
Labels: changelog-entry-required

#9817 doc: Remove old NFC library entries from changelog
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#9828 doc: matter: change link to Matter spec
  doc/nrf/links.txt
  doc/nrf/ug_matter_device_attestation.rst
  doc/nrf/ug_matter_device_certification.rst
  doc/nrf/ug_matter_device_dcl.rst
  doc/nrf/ug_matter_device_prerequisites.rst
  doc/nrf/ug_matter_intro_overview.rst
  doc/nrf/ug_matter_overview_data_model.rst
  doc/nrf/ug_matter_overview_dfu.rst
  doc/nrf/ug_matter_overview_network_topologies.rst
  doc/nrf/ug_zigbee_commissioning.rst
  doc/nrf/ug_zigbee_qsg.rst
  doc/nrf/ug_zigbee_supported_features.rst
Labels: doc-required, CI-disable

#9582 Bluetooth: Mesh: Remove model_send and model_ackd_send
  subsys/bluetooth/mesh/gen_battery_cli.c
  subsys/bluetooth/mesh/gen_battery_srv.c
  subsys/bluetooth/mesh/gen_dtt_cli.c
  subsys/bluetooth/mesh/gen_dtt_srv.c
  subsys/bluetooth/mesh/gen_loc_cli.c
  subsys/bluetooth/mesh/gen_loc_srv.c
  subsys/bluetooth/mesh/gen_lvl_cli.c
  subsys/bluetooth/mesh/gen_lvl_srv.c
  subsys/bluetooth/mesh/gen_onoff_cli.c
  subsys/bluetooth/mesh/gen_onoff_srv.c
  subsys/bluetooth/mesh/gen_plvl_cli.c
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/gen_ponoff_cli.c
  subsys/bluetooth/mesh/gen_ponoff_srv.c
  subsys/bluetooth/mesh/gen_prop_cli.c
  subsys/bluetooth/mesh/gen_prop_srv.c
  subsys/bluetooth/mesh/light_ctl_cli.c
  subsys/bluetooth/mesh/light_ctl_srv.c
  subsys/bluetooth/mesh/light_ctrl_cli.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/light_hsl_cli.c
  subsys/bluetooth/mesh/light_hsl_srv.c
  subsys/bluetooth/mesh/light_hue_srv.c
  subsys/bluetooth/mesh/light_sat_srv.c
  subsys/bluetooth/mesh/light_temp_srv.c
  subsys/bluetooth/mesh/light_xyl_cli.c
  subsys/bluetooth/mesh/light_xyl_srv.c
  subsys/bluetooth/mesh/lightness_cli.c
  subsys/bluetooth/mesh/lightness_srv.c
  subsys/bluetooth/mesh/model_utils.c
  subsys/bluetooth/mesh/model_utils.h
  subsys/bluetooth/mesh/scene_cli.c
  subsys/bluetooth/mesh/scene_srv.c
  subsys/bluetooth/mesh/scheduler_cli.c
  subsys/bluetooth/mesh/scheduler_srv.c
  subsys/bluetooth/mesh/sensor_cli.c
  subsys/bluetooth/mesh/sensor_srv.c
  subsys/bluetooth/mesh/time_cli.c
  subsys/bluetooth/mesh/time_srv.c
  subsys/bluetooth/mesh/vnd/dm_cli.c
  subsys/bluetooth/mesh/vnd/silvair_enocean_srv.c
  tests/subsys/bluetooth/mesh/light_ctrl/src/main.c
  tests/subsys/bluetooth/mesh/scheduler_model/src/main.c
  tests/subsys/bluetooth/mesh/silvair_enocean_model/CMakeLists.txt
  tests/subsys/bluetooth/mesh/silvair_enocean_model/src/main.c
Labels: changelog-entry-required

#9801 bluetooth: update nrfxlib manifest revision
  west.yml
Labels: manifest, manifest-nrfxlib

#9772 manifest: Update Matter sdk revision that includes a factory data fix
  doc/nrf/known_issues.rst
  west.yml
Labels: doc-required, manifest, manifest-matter, changelog-entry-required

#9639 Bluetooth: Mesh: Fix TID issues in DM models
  subsys/bluetooth/mesh/vnd/dm_cli.c
  subsys/bluetooth/mesh/vnd/dm_srv.c
Labels: changelog-entry-required

#9855 drivers: wifi: Update RPU patch to rev#55
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/rpu_fw_patches.h
Labels: changelog-entry-required

#9638 application: serial_lte_modem: Support nRF Cloud appId
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#9815 samples: bluetooth: mesh: explicitly enable lpn
  samples/bluetooth/mesh/light_switch/src/main.c
Labels: changelog-entry-required, ble mesh

#9811 applications: nrf5340_audio: Sink and source endpoint check
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
Labels: changelog-entry-required

#9802 doc: nrf5340_audio: Small fix in the nRF21540 part
  applications/nrf5340_audio/README.rst
Labels: doc-required, changelog-entry-required

#9800 drivers: wifi: Add configurability for performance options
  drivers/wifi/nrf700x/Kconfig.nrf700x
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_A/host_rpu_data_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_A/host_rpu_sys_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/host_rpu_data_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/host_rpu_sys_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/fmac_api.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_fmac_main.c
Labels: changelog-entry-required

#9810 doc: known issues version tag line break
  doc/_static/css/nrf.css
Labels: doc-required, changelog-entry-required

#9805 manifest: doc: nrf_modem: updated documentation
  doc/nrf/releases/release-notes-1.5.0.rst
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib

#9829 applications: nrf5340_audio: Add PBA
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/src/bluetooth/Kconfig
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#9850 doc: update copyright year
  doc/kconfig/conf.py
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrfxlib/conf.py
Labels: doc-required, changelog-entry-required

#9863 manifest: Fixed Matter repo checkout for Windows
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#9798 drivers: wifi: Framework to use OTP programmed values
  drivers/wifi/nrf700x/CMakeLists.txt
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fmac_api.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fmac_structs.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/cmd.c
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/event.c
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/fmac_api.c
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/fw_A/phy_rf_params.h
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/fw_A/rpu_if.h
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/fw_B/phy_rf_params.h
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/fw_B/rpu_if.h
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/hal_api.h
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/hal_structs.h
  drivers/wifi/nrf700x/osal/hw_if/hal/src/hal_api.c
  drivers/wifi/nrf700x/osal/utils/inc/util.h
  drivers/wifi/nrf700x/osal/utils/src/util.c
  drivers/wifi/nrf700x/zephyr/inc/zephyr_fmac_main.h
  drivers/wifi/nrf700x/zephyr/inc/zephyr_net_if.h
  drivers/wifi/nrf700x/zephyr/inc/zephyr_util.h
  drivers/wifi/nrf700x/zephyr/src/qspi/inc/ficr_prog.h
  drivers/wifi/nrf700x/zephyr/src/qspi/src/ficr_prog.c
  drivers/wifi/nrf700x/zephyr/src/util.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_disp_scan.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_fmac_main.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_net_if.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_wifi_util.c
  samples/wifi/radio_test/ficr.rst
  samples/wifi/radio_test/src/nrf_wifi_radio_ficr_shell.c
  samples/wifi/radio_test/src/nrf_wifi_radio_test_shell.c
Labels: doc-required, changelog-entry-required

#9739 application: nrf5340_audio: dfu generating empty net core
  applications/nrf5340_audio/CMakeLists.txt
  applications/nrf5340_audio/Kconfig.defaults
  applications/nrf5340_audio/dfu/conf/Kconfig.dfu
  applications/nrf5340_audio/dfu/conf/aci/CMakeLists.txt
  applications/nrf5340_audio/dfu/conf/overlay-empty_net_core.conf
  applications/nrf5340_audio/dfu/conf/zephyr/module.yml
  applications/nrf5340_audio/dfu/empty_net/CMakeLists.txt
  applications/nrf5340_audio/dfu/empty_net/src/main.c
  applications/nrf5340_audio/sample.yaml
  applications/nrf5340_audio/tools/buildprog/ble5-ctr-rpmsg_sign.py
Labels: changelog-entry-required

#9857 doc: matter: add QR codes to samples
  applications/matter_weather_station/README.rst
  doc/nrf/images/matter_qr_code_door_lock.png
  doc/nrf/images/matter_qr_code_light_bulb.png
  doc/nrf/images/matter_qr_code_light_switch.png
  doc/nrf/images/matter_qr_code_template_sample.png
  doc/nrf/images/matter_qr_code_weather_station_default.png
  doc/nrf/images/matter_qr_code_weather_station_factory_data.png
  doc/nrf/images/matter_qr_code_window_covering.png
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_matter_overview_commissioning.rst
  samples/matter/light_bulb/README.rst
  samples/matter/light_switch/README.rst
  samples/matter/lock/README.rst
  samples/matter/template/README.rst
  samples/matter/window_covering/README.rst
Labels: doc-required, CI-disable

#9864 applications: nrf_desktop: Add CONFIG_CAF_BLE_COMMON_EVENTS dependency
  applications/nrf_desktop/doc/led_state.rst
  applications/nrf_desktop/src/modules/dfu.c
  applications/nrf_desktop/src/modules/hid_state.c
  applications/nrf_desktop/src/modules/led_state.c
Labels: doc-required

#9743 Bluetooth: Mesh: Don't reset NULL buffer in DM srv
  include/bluetooth/mesh/vnd/dm_srv.h
  subsys/bluetooth/mesh/vnd/dm_srv.c
Labels: changelog-entry-required

#9762 doc: A figure update on the Thingy91 user guide
  applications/asset_tracker_v2/doc/app_behavior.rst
  doc/nrf/images/programmer_add_file2.png
  doc/nrf/images/programmer_hex_write1.png
  doc/nrf/images/programmer_select_device2.png
  doc/nrf/ug_thingy91_gsg.rst
Labels: doc-required

#9869 doc: nrf5340audio: add info about vol button
  applications/nrf5340_audio/README.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#9844 drivers: wifi: Store the negotiated TWT flow id at host level.
  drivers/wifi/nrf700x/zephyr/inc/zephyr_fmac_main.h
  drivers/wifi/nrf700x/zephyr/src/zephyr_twt.c
Labels: changelog-entry-required

#9853 applications: nrf5340_audio: Cap connections to BT_MAX_PAIRED
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
Labels: changelog-entry-required

#9849 doc: fix spm note in known issues
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#9846 Cmd ps mode
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_A/host_rpu_umac_if.h
  drivers/wifi/nrf700x/zephyr/inc/zephyr_ps.h
  drivers/wifi/nrf700x/zephyr/src/zephyr_fmac_main.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_ps.c
Labels: changelog-entry-required

#9895 doc: Add features of nRF70 Series documentation
  doc/nrf/images/nrf70_ug_overview.svg
  doc/nrf/images/nrf70_ug_overview.vsdx
  doc/nrf/ug_nrf70.rst
  doc/nrf/ug_nrf70_features.rst
Labels: doc-required, changelog-entry-required

#9862 Twt dialog tkn
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_A/host_rpu_umac_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/host_rpu_umac_if.h
  drivers/wifi/nrf700x/zephyr/src/zephyr_twt.c
Labels: changelog-entry-required

#9879 drives: wifi: TWT block/unblock support
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fmac_structs.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fmac_tx.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_A/host_rpu_umac_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/event.c
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/tx.c
  drivers/wifi/nrf700x/zephyr/inc/zephyr_twt.h
  drivers/wifi/nrf700x/zephyr/src/zephyr_fmac_main.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_twt.c
Labels: changelog-entry-required

#9913 manifest: openthread: update to \`23b5b28\`
  west.yml
Labels: manifest, manifest-openthread

#9683 manifest: Pull TF-M fix for crypto stack size not defined
  west.yml
Labels: manifest, manifest-trusted-firmware-m, changelog-entry-required

#9837 manifest: rename mbedtls to match zephyr manifest name
  doc/nrf/introduction.rst
  scripts/tag_west_repos.sh
  west.yml
Labels: doc-required, manifest, manifest-mbedtls-nrf, changelog-entry-required, manifest-mbedtls

#9912 drivers: wifi: Update RPU patch to rev#65
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/host_rpu_sys_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/host_rpu_umac_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/lmac_if_common.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/rpu_fw_patches.h
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/fw_B/phy_rf_params.h
Labels: changelog-entry-required

#9906 twister: quarantine: Update quarantine description
  scripts/quarantine.yaml
Labels: changelog-entry-required

#9870 doc: nrf5340audio: remove HW info from app doc
  applications/nrf5340_audio/README.rst
  doc/nrf/images/nRF5340_audio_dk_back.svg
  doc/nrf/images/nRF5340_audio_dk_back_case.svg
  doc/nrf/images/nRF5340_audio_dk_battery_warning.png
  doc/nrf/images/nRF5340_audio_dk_front.svg
  doc/nrf/images/nRF5340_audio_dk_front_case.svg
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
Labels: CI-disable

#9867 Bluetooth: Mesh: Correct opcodes for sensor cli setting get and set
  subsys/bluetooth/mesh/sensor_cli.c
Labels: changelog-entry-required, ble mesh

#9814 applications: nrf_desktop: simplify logging configuration
  applications/nrf_desktop/Kconfig
  applications/nrf_desktop/Kconfig.debug
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/prj.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/prj.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_dongle.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_fast_pair.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_keyboard.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_mcuboot_qspi.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_wwcb.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_3bleconn.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_4llpmconn.conf
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_fast_pair.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/prj_shell.conf
  applications/nrf_desktop/configuration/nrf52dmouse_nrf52832/prj.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_shell.conf
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#9909 doc: Add known issue about compilation error in SPM build
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#9892 Sample: Bluetooth: Mesh: Remove Thingy53 GATT cfg
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_ctrl/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/mesh/light_switch/boards/thingy53_nrf5340_cpuapp_ns.conf
Labels: changelog-entry-required

#9779 Port QSPI power mangement fixes from flash driver
  drivers/wifi/nrf700x/zephyr/src/qspi/src/qspi_if.c
Labels: changelog-entry-required

#9685 manifest: Pull mcuboot to remove mention of SPM
  west.yml
Labels: manifest, manifest-mcuboot, manifest-tfm-mcuboot, changelog-entry-required

#9910 doc: software_maturity: Add Wi-Fi features
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required, changelog-entry-required

#9894 doc: Protocols: added Wi-Fi documentation
  doc/nrf/images/wifi_protocol_stack.svg
  doc/nrf/images/wifi_protocol_stack.vsdx
  doc/nrf/links.txt
  doc/nrf/protocols.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_wifi.rst
Labels: doc-required, CI-disable

#9790 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#9903 doc: nrf: nrf7002: Add working with constrained host
  doc/nrf/ug_nrf7002_constrained.rst
  doc/nrf/ug_nrf70_developing.rst
Labels: doc-required, changelog-entry-required

#9852 Sta sample improvements
  samples/wifi/sta/README.rst
  samples/wifi/sta/prj.conf
  samples/wifi/sta/src/main.c
Labels: doc-required, changelog-entry-required, manifest-sdk-hostap

#9933 doc: Wi-Fi protocol: fixing link to infocenter
  doc/nrf/ug_wifi.rst
Labels: doc-required, CI-disable

#9904 doc: nrf: mention MMSS sample as alternative to ATv2
  doc/nrf/ug_nrf9160_gs.rst
  doc/nrf/ug_thingy91_gsg.rst
Labels: doc-required, changelog-entry-required

#9758 caf: Sizes of enums inside events
  doc/nrf/releases/release-notes-changelog.rst
  include/caf/events/ble_common_event.h
  include/caf/events/click_event.h
  include/caf/events/module_state_event.h
  include/caf/events/net_state_event.h
  include/caf/events/power_manager_event.h
  include/caf/events/sensor_event.h
  subsys/app_event_manager/app_event_manager_priv.h
Labels: doc-required

#9921 applications: machine_learning: Remove ml_result_signin_event
  applications/machine_learning/README.rst
  applications/machine_learning/src/events/Kconfig
  applications/machine_learning/src/events/ml_result_event.c
  applications/machine_learning/src/events/ml_result_event.h
  applications/machine_learning/src/modules/led_state.c
  applications/machine_learning/src/modules/ml_runner.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#9940 checkpatch: conf: align with upstream
  .checkpatch.conf
Labels: CI-disable, changelog-entry-required

#9917 quarantine_windows: update quarantine
  scripts/quarantine_windows.yaml
Labels: changelog-entry-required

#9886 applications: nrf_desktop: Avoid using Zephyr Bluetooth role Kconfigs
  applications/nrf_desktop/configuration/common/dev_descr.h
  applications/nrf_desktop/configuration/common/led_state.h
  applications/nrf_desktop/doc/ble_conn_params.rst
  applications/nrf_desktop/doc/ble_passkey.rst
  applications/nrf_desktop/doc/hid_forward.rst
  applications/nrf_desktop/doc/hids.rst
  applications/nrf_desktop/src/modules/CMakeLists.txt
  applications/nrf_desktop/src/modules/Kconfig.ble
  applications/nrf_desktop/src/modules/Kconfig.ble_passkey
  applications/nrf_desktop/src/modules/Kconfig.ble_scan
  applications/nrf_desktop/src/modules/Kconfig.config_channel
  applications/nrf_desktop/src/modules/Kconfig.hid_forward
  applications/nrf_desktop/src/modules/Kconfig.hid_state
  applications/nrf_desktop/src/modules/Kconfig.qos
  applications/nrf_desktop/src/modules/ble_bond.c
  applications/nrf_desktop/src/modules/ble_qos.c
Labels: doc-required

#9922 caf: ble_adv: Allow build with PM events disabled
  subsys/caf/modules/ble_adv.c
Labels: changelog-entry-required

#9938 drivers: wifi: drivers: wifi: Update RPU patch to rev#69
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/rpu_fw_patches.h
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/fw_B/phy_rf_params.h
Labels: changelog-entry-required

#9919 Wifi sw maturity table
  doc/nrf/software_maturity.rst
Labels: doc-required, CI-disable, changelog-entry-required

#9831 CODEOWNERS: extend codeowners for lwM2M tests
  CODEOWNERS
Labels: changelog-entry-required

#9942 manifest: sdk-hostap: Pull duplicate (dis)connection events fix
  west.yml
Labels: manifest, changelog-entry-required, manifest-sdk-hostap

#9945 CODEOWNERS: wifi: Assign ownership of firmware headers and patches
  CODEOWNERS
Labels: changelog-entry-required

#9885 samples: openthread: add low power mode to CLI
  doc/nrf/releases/release-notes-changelog.rst
  samples/openthread/cli/CMakeLists.txt
  samples/openthread/cli/Kconfig
  samples/openthread/cli/README.rst
  samples/openthread/cli/low_power.overlay
  samples/openthread/cli/overlay-low_power.conf
  samples/openthread/cli/sample.yaml
  samples/openthread/cli/src/low_power.c
  samples/openthread/cli/src/low_power.h
  samples/openthread/cli/src/main.c
Labels: doc-required

#9928 matter: upmerge sdk-connectedhomeip to 1.0.0.2
  applications/matter_weather_station/CMakeLists.txt
  applications/matter_weather_station/src/weather-station.matter
  applications/matter_weather_station/src/weather-station.zap
  applications/matter_weather_station/src/zap-generated/PluginApplicationCallbacks.h
  applications/matter_weather_station/src/zap-generated/access.h
  applications/matter_weather_station/src/zap-generated/callback-stub.cpp
  applications/matter_weather_station/src/zap-generated/endpoint_config.h
  applications/matter_weather_station/src/zap-generated/gen_config.h
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/common/src/thread_util.h
  samples/matter/light_bulb/CMakeLists.txt
  samples/matter/light_bulb/src/light_bulb.matter
  samples/matter/light_bulb/src/light_bulb.zap
  samples/matter/light_bulb/src/zap-generated/CHIPClusters.h
  samples/matter/light_bulb/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/light_bulb/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/light_bulb/src/zap-generated/access.h
  samples/matter/light_bulb/src/zap-generated/callback-stub.cpp
  samples/matter/light_bulb/src/zap-generated/endpoint_config.h
  samples/matter/light_bulb/src/zap-generated/gen_config.h
  samples/matter/light_switch/CMakeLists.txt
  samples/matter/light_switch/src/light_switch.matter
  samples/matter/light_switch/src/light_switch.zap
  samples/matter/light_switch/src/zap-generated/CHIPClusters.h
  samples/matter/light_switch/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/light_switch/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/light_switch/src/zap-generated/access.h
  samples/matter/light_switch/src/zap-generated/callback-stub.cpp
  samples/matter/light_switch/src/zap-generated/endpoint_config.h
  samples/matter/light_switch/src/zap-generated/gen_config.h
  samples/matter/lock/CMakeLists.txt
  samples/matter/lock/src/lock.matter
  samples/matter/lock/src/lock.zap
  samples/matter/lock/src/zap-generated/CHIPClusters.h
  samples/matter/lock/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/lock/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/lock/src/zap-generated/access.h
  samples/matter/lock/src/zap-generated/callback-stub.cpp
  samples/matter/lock/src/zap-generated/endpoint_config.h
  samples/matter/lock/src/zap-generated/gen_config.h
  samples/matter/template/CMakeLists.txt
  samples/matter/template/src/template.matter
  samples/matter/template/src/template.zap
  samples/matter/template/src/zap-generated/CHIPClusters.h
  samples/matter/template/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/template/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/template/src/zap-generated/access.h
  samples/matter/template/src/zap-generated/callback-stub.cpp
  samples/matter/template/src/zap-generated/endpoint_config.h
  samples/matter/template/src/zap-generated/gen_config.h
  samples/matter/window_covering/CMakeLists.txt
  samples/matter/window_covering/src/window-app.matter
  samples/matter/window_covering/src/window-app.zap
  samples/matter/window_covering/src/zap-generated/PluginApplicationCallbacks.h
  samples/matter/window_covering/src/zap-generated/access.h
  samples/matter/window_covering/src/zap-generated/callback-stub.cpp
  samples/matter/window_covering/src/zap-generated/endpoint_config.h
  samples/matter/window_covering/src/zap-generated/gen_config.h
  west.yml
Labels: doc-required, manifest, manifest-matter

#9918 doc: release-notes: Document changes to manifest entries
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#9957 net: lwm2m_client_utils: Fix Resource lenght corrupt
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
Labels: changelog-entry-required

#9959 application: serial_lte_modem: Shorten UART recovery delay
  applications/serial_lte_modem/boards/nrf9160dk_nrf9160_ns.overlay
  applications/serial_lte_modem/src/slm_at_host.c
Labels: changelog-entry-required

#9914 applications: nrf5340_audio: refactor tone
  CODEOWNERS
  applications/nrf5340_audio/Kconfig.defaults
  applications/nrf5340_audio/src/utils/CMakeLists.txt
  applications/nrf5340_audio/src/utils/tone.h
  doc/nrf/libraries/others/tone.rst
  include/tone.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/tone/CMakeLists.txt
  lib/tone/Kconfig
  lib/tone/tone.c
  tests/lib/tone/CMakeLists.txt
  tests/lib/tone/prj.conf
  tests/lib/tone/src/main.c
  tests/lib/tone/testcase.yaml
  tests/nrf5340_audio/tone/CMakeLists.txt
Labels: doc-required, changelog-entry-required

#9898 application: nrf5340_audio: dfu use cmake style path
  applications/nrf5340_audio/CMakeLists.txt
Labels: changelog-entry-required

#9960 application: serial_lte_modem: nRF52 DFU update
  applications/serial_lte_modem/doc/DFU_AT_commands.rst
  applications/serial_lte_modem/src/dfu/dfu_target_nrf52.c
  applications/serial_lte_modem/src/dfu/slm_at_dfu.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#9816 Revert "doc: Added links to RST files in bluetooth_mesh_one header files"
  include/bluetooth/mesh/dk_prov.h
  include/bluetooth/mesh/gen_battery.h
  include/bluetooth/mesh/gen_battery_cli.h
  include/bluetooth/mesh/gen_battery_srv.h
  include/bluetooth/mesh/gen_dtt.h
  include/bluetooth/mesh/gen_dtt_cli.h
  include/bluetooth/mesh/gen_dtt_srv.h
  include/bluetooth/mesh/gen_loc.h
  include/bluetooth/mesh/gen_loc_cli.h
  include/bluetooth/mesh/gen_loc_srv.h
  include/bluetooth/mesh/gen_lvl.h
  include/bluetooth/mesh/gen_lvl_cli.h
  include/bluetooth/mesh/gen_lvl_srv.h
  include/bluetooth/mesh/gen_onoff.h
  include/bluetooth/mesh/gen_onoff_cli.h
  include/bluetooth/mesh/gen_onoff_srv.h
  include/bluetooth/mesh/gen_plvl.h
  include/bluetooth/mesh/gen_plvl_cli.h
  include/bluetooth/mesh/gen_plvl_srv.h
  include/bluetooth/mesh/gen_ponoff.h
  include/bluetooth/mesh/gen_ponoff_cli.h
  include/bluetooth/mesh/gen_ponoff_srv.h
  include/bluetooth/mesh/gen_prop.h
  include/bluetooth/mesh/gen_prop_cli.h
  include/bluetooth/mesh/gen_prop_srv.h
  include/bluetooth/mesh/light_ctl.h
  include/bluetooth/mesh/light_ctl_cli.h
  include/bluetooth/mesh/light_ctl_srv.h
  include/bluetooth/mesh/light_temp_srv.h
Labels: ble mesh

#9947 Revert "doc: Added links to RST files in bluetooth_mesh_2 header files"
  include/bluetooth/mesh/light_ctrl.h
  include/bluetooth/mesh/light_ctrl_cli.h
  include/bluetooth/mesh/light_ctrl_reg.h
  include/bluetooth/mesh/light_ctrl_reg_spec.h
  include/bluetooth/mesh/light_ctrl_srv.h
  include/bluetooth/mesh/light_hsl.h
  include/bluetooth/mesh/light_hsl_cli.h
  include/bluetooth/mesh/light_hsl_srv.h
  include/bluetooth/mesh/light_hue_srv.h
  include/bluetooth/mesh/light_sat_srv.h
  include/bluetooth/mesh/light_xyl.h
  include/bluetooth/mesh/light_xyl_cli.h
  include/bluetooth/mesh/light_xyl_srv.h
  include/bluetooth/mesh/lightness.h
  include/bluetooth/mesh/lightness_cli.h
  include/bluetooth/mesh/lightness_srv.h
  include/bluetooth/mesh/model_types.h
  include/bluetooth/mesh/models.h
  include/bluetooth/mesh/properties.h
  include/bluetooth/mesh/scene.h
  include/bluetooth/mesh/scene_cli.h
  include/bluetooth/mesh/scene_srv.h
  include/bluetooth/mesh/scheduler.h
  include/bluetooth/mesh/scheduler_cli.h
  include/bluetooth/mesh/scheduler_srv.h
  include/bluetooth/mesh/sensor.h
  include/bluetooth/mesh/sensor_cli.h
  include/bluetooth/mesh/sensor_srv.h
  include/bluetooth/mesh/sensor_types.h
  include/bluetooth/mesh/time.h
  include/bluetooth/mesh/time_cli.h
  include/bluetooth/mesh/time_srv.h
  include/bluetooth/mesh/vnd/silvair_enocean_srv.h
Labels: ble mesh

#9845 samples: tfm: provisioning_image Fix typo in yaml
  samples/tfm/provisioning_image/sample.yaml
Labels: manifest-nrfxlib, changelog-entry-required

#9878 samples: matter: Configurations selection to build in integration tests
  applications/matter_weather_station/sample.yaml
  samples/matter/light_bulb/sample.yaml
  samples/matter/light_switch/sample.yaml
  samples/matter/lock/sample.yaml
  samples/matter/template/sample.yaml
  samples/matter/window_covering/sample.yaml
  scripts/quarantine.yaml
Labels: changelog-entry-required

#9890 matter: multi variant application OTA DFU
  samples/matter/common/src/ota_multi_image_downloader.cpp
  samples/matter/common/src/ota_multi_image_downloader.h
  samples/matter/common/src/ota_multi_image_processor_impl.cpp
  samples/matter/common/src/ota_multi_image_processor_impl.h
  samples/matter/common/src/ota_util.cpp
  samples/matter/lock/CMakeLists.txt
  samples/matter/lock/README.rst
  samples/matter/lock/prj_thread_wifi_switched.conf
  samples/matter/lock/src/combine_ota_images.py
Labels: doc-required

#9943 manifest: adapt samples to new ot cb register api
  samples/openthread/cli/src/low_power.c
  samples/openthread/coap_client/src/coap_client.c
  samples/openthread/coap_client/src/coap_client_utils.c
  samples/openthread/coap_server/src/coap_server.c
  subsys/caf/modules/net_state_ot.c
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#9891 drivers: sensor_stub: Clean up
  drivers/sensor/sensor_stub/sensor_stub.c
Labels: changelog-entry-required

#9970 drivers: wifi: Update RPU patch to rev#70
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/rpu_fw_patches.h
Labels: changelog-entry-required

#9975 Revert "kconfig: optional sourcing of BOARD_DIR in nrf"
  Kconfig.nrf
Labels: changelog-entry-required

#9973 samples: wifi: Fix resetting of TX tone flag
  samples/wifi/radio_test/src/nrf_wifi_radio_test_shell.c
Labels: changelog-entry-required

#9936 manifest: update Zephyr to pull LwM2M fixes
  west.yml
Labels: manifest, manifest-zephyr

#9972 manifest: Update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#9976 manifest: openthread: update to \`a1953a7\`
  west.yml
Labels: manifest, manifest-openthread

#9979 kconfig: optional sourcing of BOARD_DIR in nrf
  Kconfig.nrf
Labels: changelog-entry-required

#9981 mpsl: cx: add API to enable and disable nRF700x coexistence
  include/mpsl/mpsl_cx_nrf700x.h
  subsys/mpsl/cx/CMakeLists.txt
  subsys/mpsl/cx/Kconfig
  subsys/mpsl/cx/nrf700x/mpsl_cx_nrf700x.c
  subsys/mpsl/cx/nrf700x/mpsl_cx_nrf700x_rpc.c
Labels: changelog-entry-required

#9965 applications: nrf_desktop: Document common HID device identifiers
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/usb_state.rst
Labels: doc-required

#9950 doc: fix terms in docs
  applications/machine_learning/README.rst
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  doc/nrf/doc_templates.rst
  doc/nrf/known_issues.rst
  doc/nrf/libraries/others/ei_wrapper.rst
  doc/nrf/links.txt
  doc/nrf/releases/release-notes-1.5.2.rst
  doc/nrf/releases/release-notes-1.7.0.rst
  doc/nrf/releases/release-notes-1.9.0.rst
  doc/nrf/releases/release-notes-2.0.0.rst
  doc/nrf/ug_multi_image.rst
  doc/nrf/ug_tfm.rst
  samples/nrf9160/ciphersuites/README.rst
Labels: doc-required, changelog-entry-required

#9993 quarantine_windows: revert nrf5340_audio quarantine
  scripts/quarantine_windows.yaml
Labels: changelog-entry-required

#9958 lib: at_cmd_parser: Customer command prefix in URC
  lib/at_cmd_parser/at_utils.h
  tests/lib/at_cmd_parser/at_utils/src/main.c
Labels: changelog-entry-required

#9935 applications: nrf5340_audio: Fix bidirectional headset QoS set failed
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
Labels: changelog-entry-required

#9951 applications: nrf5340_audio: Update zephyr for fixing connection issue
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#9987 manifest: pull Matter patch which increases the net_mgmt stack size
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#9996 application: nrf5339_audio: Disable default build empty net core
  applications/nrf5340_audio/Kconfig.defaults
  applications/nrf5340_audio/dfu/conf/Kconfig.dfu
  applications/nrf5340_audio/sample.yaml
Labels: changelog-entry-required

#9991 ci: change target branch for auto-upmerge action
  .github/workflows/create-upmerge-PRs.yml
Labels: CI-disable, changelog-entry-required

#9983 samples: matter: lock: enhance script for flashing QSPI
  samples/matter/lock/README.rst
  samples/matter/lock/src/flash-external.py
Labels: doc-required

#9880 applications: nrf5340_audio: Not hardcode headset frequency PAC
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/src/bluetooth/Kconfig
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
Labels: doc-required, changelog-entry-required

#9961 doc: matter: add information about DFU over BLE
  doc/nrf/ug_matter_overview_dfu.rst
Labels: doc-required, CI-disable, changelog-entry-required

#9666 Bluetooth: Mesh: Reduce number of maximum scenes
  subsys/bluetooth/mesh/Kconfig.models
Labels: changelog-entry-required, ble mesh

#9997 matter: increase MRP intervals for Thread
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/light_bulb/src/chip_project_config.h
  west.yml
Labels: doc-required, manifest, manifest-matter

#10005 samples: matter: refine lock multi-variant swap buffering
  samples/matter/lock/src/software_images_swapper.cpp
  samples/matter/lock/src/software_images_swapper.h
Labels: changelog-entry-required

#9978 samples: matter: Added Wi-Fi low power support
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/ug_nrf70_developing_powersave.rst
  samples/matter/light_bulb/sample.yaml
  samples/matter/light_switch/Kconfig
  samples/matter/light_switch/README.rst
  samples/matter/light_switch/sample.yaml
  samples/matter/lock/Kconfig
  samples/matter/lock/README.rst
  samples/matter/lock/sample.yaml
  samples/matter/template/sample.yaml
Labels: doc-required, manifest-matter

#10021 event_manager_proxy: Fix placing sections before _end symbol
  subsys/event_manager_proxy/CMakeLists.txt
Labels: changelog-entry-required

#9971 manifest: update nrfxlib
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#10007 bluetooth: controller: Allow enabling the SCA update procedure
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_driver.c
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#10032 drivers: wifi: Update RPU patch to rev#73
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw_B/rpu_fw_patches.h
Labels: changelog-entry-required

#10034 version: Set version to 2.2.99-dev1
  VERSION
Labels: changelog-entry-required

#10035 version: Set version back to 2.2.99
  VERSION
Labels: CI-disable, changelog-entry-required

#10036 doc: Update doc versions after devtag 2.2.99dev1
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#10044 doc: fix in versions.json file
  doc/versions.json
Labels: doc-required, changelog-entry-required

#9980 applications: nrf5340_audio: Refactor pscm
  CODEOWNERS
  applications/nrf5340_audio/Kconfig.defaults
  applications/nrf5340_audio/src/utils/CMakeLists.txt
  applications/nrf5340_audio/src/utils/Kconfig
  applications/nrf5340_audio/src/utils/channel_assignment.h
  applications/nrf5340_audio/src/utils/pcm_stream_channel_modifier.h
  doc/nrf/libraries/others/pcm_stream_channel_modifier.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/audio_defines.h
  include/pcm_stream_channel_modifier.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/pcm_stream_channel_modifier/CMakeLists.txt
  lib/pcm_stream_channel_modifier/Kconfig
  lib/pcm_stream_channel_modifier/pcm_stream_channel_modifier.c
  tests/lib/pcm_stream_channel_modifier/CMakeLists.txt
  tests/lib/pcm_stream_channel_modifier/prj.conf
  tests/lib/pcm_stream_channel_modifier/src/main.c
  tests/lib/pcm_stream_channel_modifier/testcase.yaml
  tests/nrf5340_audio/pcm_stream_channel_modifier/CMakeLists.txt
  tests/nrf5340_audio/pcm_stream_channel_modifier/Kconfig
Labels: doc-required
