Repository nrfconnect/sdk-nrf, pull requests merged in 2023-03, with the labels that each got.

#10470 tools: use docker image with nrfutil tm 0.11.0
  scripts/ncs-docker-version.txt
Labels: changelog-entry-required

#10387 doc: release notes for nRF Connect SDK 2.3.0
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-1.9.0.rst
  doc/nrf/releases/release-notes-1.9.1.rst
  doc/nrf/releases/release-notes-1.9.2.rst
  doc/nrf/releases/release-notes-2.3.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  samples/bluetooth/nrf_dm/README.rst
Labels: doc-required, CI-disable

#10467 doc: update doc version for NCS 2.3.0
  doc/nrf/conf.py
  doc/nrf/developing/adding_code.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib, changelog-entry-required

#10481 manifest: NCS 2.3.0
  west.yml
Labels: manifest, manifest-zephyr, manifest-nrfxlib, manifest-mcuboot, manifest-trusted-firmware-m, manifest-homekit, manifest-nrf-802154, manifest-find-my, manifest-matter, changelog-entry-required, manifest-mbedtls

#10480 doc: 2.3.0 post-release doc update
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

#10483 version: Update VERSION to 2.3.99
  VERSION
Labels: changelog-entry-required

#10281 doc: nrf: add more detail to nrf cloud integration guide
  doc/nrf/external_comp/nrf_cloud.rst
Labels: doc-required, changelog-entry-required

#10301 mcuboot: Support non-volatile counters
  doc/nrf/app_dev/bootloaders_and_dfu/fw_update.rst
  doc/nrf/app_dev/bootloaders_and_dfu/index.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/bl_storage.h
  modules/mcuboot/CMakeLists.txt
  modules/mcuboot/Kconfig
  modules/mcuboot/hw_counters.conf
  samples/bootloader/README.rst
  scripts/bootloader/provision.py
  subsys/CMakeLists.txt
  subsys/bootloader/Kconfig
  subsys/bootloader/bl_storage/CMakeLists.txt
  subsys/bootloader/bl_storage/bl_storage.c
  subsys/bootloader/bl_storage/nrf_nv_counters.c
  subsys/bootloader/cmake/provision_hex.cmake
  subsys/bootloader/image/CMakeLists.txt
  tests/subsys/bootloader/boot_chains/testcase.yaml
Labels: doc-required

#10298 SHEL-1249: samples: wifi: scan: Fix Kconfig options
  samples/wifi/scan/prj.conf
Labels: changelog-entry-required

#10490 drivers: wifi: Fix for occasional RPU lockup
  drivers/wifi/nrf700x/zephyr/src/zephyr_coex.c
Labels: changelog-entry-required

#10492 driver: wifi: Initialize VBAT threshold vth_very_low
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/cmd.c
Labels: changelog-entry-required

#10493 applications: Refactored matter weather station configuration
  applications/matter_weather_station/CMakeLists.txt
  applications/matter_weather_station/Kconfig
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg/prj_factory_data.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg/prj_release.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg_factory_data.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/multiprotocol_rpmsg_release.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_factory_data.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
Labels: changelog-entry-required

#10485 samples: Bluetooth: Mesh: avoid ll fragmentation for l2cap for mesh
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/prj.conf
  samples/bluetooth/mesh/chat/prj.conf
  samples/bluetooth/mesh/light/overlay-dfu.conf
  samples/bluetooth/mesh/light/prj.conf
  samples/bluetooth/mesh/light_ctrl/prj.conf
  samples/bluetooth/mesh/light_switch/prj.conf
  samples/bluetooth/mesh/sensor_client/prj.conf
  samples/bluetooth/mesh/sensor_server/prj.conf
  samples/bluetooth/mesh/silvair_enocean/prj.conf
Labels: changelog-entry-required

#10462 applications: nrf_desktop: Handle update images with unaligned size
  applications/nrf_desktop/src/modules/Kconfig.config_channel
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#10466 manifest: Update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#10164 samples: bluetooth: Remove 3w Bluetoth coex example
  doc/nrf/external_comp/bt_coex.rst
  doc/nrf/releases/release-notes-changelog.rst
  dts/bindings/radio_coex/sdc-radio-coex-three-wire.yaml
  samples/bluetooth/radio_coex_3wire/CMakeLists.txt
  samples/bluetooth/radio_coex_3wire/README.rst
  samples/bluetooth/radio_coex_3wire/boards/nrf52840dk_nrf52840.overlay
  samples/bluetooth/radio_coex_3wire/prj.conf
  samples/bluetooth/radio_coex_3wire/sample.yaml
  samples/bluetooth/radio_coex_3wire/src/main.c
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_internal.c
  subsys/mpsl/cx/CMakeLists.txt
  subsys/mpsl/cx/Kconfig
  subsys/mpsl/cx/bluetooth/mpsl_cx_3w_bluetooth.c
Labels: doc-required

#10310 lib: lte_link_control: add support for limited service sleep type
  doc/nrf/app_dev/optimizing/power.rst
  include/modem/lte_lc.h
  lib/lte_link_control/lte_lc.c
  samples/nrf9160/modem_shell/src/link/link_shell_print.c
Labels: doc-required

#10500 ci: Freeze action-oss-history revision
  .github/workflows/oss-history.yml
Labels: changelog-entry-required

#10517 github: workflows: OSS History check
  .github/workflows/oss-history.yml
Labels: changelog-entry-required

#10516 doc: nrf: add native_posix entry for sample board rows extension
  doc/nrf/includes/sample_board_rows.txt
Labels: doc-required, changelog-entry-required

#10033 Add bsim build support
  subsys/bluetooth/controller/Kconfig
Labels: manifest-nrfxlib, changelog-entry-required

#10518 workflows: trigger docbuild on sample.yaml changes
  .github/workflows/docbuild.yml
Labels: changelog-entry-required

#10506 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#10503 manifest: openthread: update to \`0a79c30\`
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#10472 samples: lwm2m_client: FOTA python script's
  doc/nrf/links.txt
  samples/nrf9160/lwm2m_client/README.rst
  samples/nrf9160/lwm2m_client/fota.rst
  samples/nrf9160/lwm2m_client/scripts/coiote.py
  samples/nrf9160/lwm2m_client/scripts/fota.py
Labels: doc-required

#10508 bluetooth: fast_pair: add support for info callbacks
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/services/fast_pair.h
  samples/bluetooth/peripheral_fast_pair/src/main.c
  subsys/bluetooth/services/fast_pair/fp_gatt_service.c
Labels: doc-required

#10491 drivers: wifi: Update RPU patch to rev#94
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#9748 doc: vsc: modify option name
  doc/nrf/getting_started/installing.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/migration/migration_guide_1.x_to_2.x.rst
  doc/nrf/releases/release-notes-2.0.0.rst
  doc/nrf/shortcuts.txt
  samples/nrf9160/lwm2m_client/sample_description.rst
Labels: doc-required, CI-disable, changelog-entry-required

#10531 quarantine_windows: update for asset_tracker_v2 samples
  scripts/quarantine_windows.yaml
Labels: changelog-entry-required

#10494 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154

#10534 quarantine_windows: restore json_common tests
  scripts/quarantine_windows.yaml
Labels: changelog-entry-required

#10398 application: serial_lte_modem: Disable MCUBOOT RTT logging
  applications/serial_lte_modem/child_image/mcuboot.conf
  applications/serial_lte_modem/src/slm_at_host.c
Labels: bugfix

#10515 net: rest_client: Add timeout check after DNS query
  subsys/net/lib/rest_client/src/rest_client.c
Labels: changelog-entry-required

#10474 mpsl: Updating mpsl
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#10379 lib: bin: lwm2m_carrier: PDN deactivate workaround
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
Labels: changelog-entry-required

#10512 sample: slm_shell: Support nRF7002 DK
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/slm_shell/README.rst
  samples/nrf9160/slm_shell/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/nrf9160/slm_shell/boards/nrf7002dk_nrf5340_cpuapp.overlay
  samples/nrf9160/slm_shell/sample.yaml
Labels: doc-required

#10505 lib: location: improve GNSS obstructed visibility check
  lib/location/method_gnss.c
Labels: changelog-entry-required

#10532 manifest: sdk-hostapd: Fix base64 redefinition error
  west.yml
Labels: manifest, changelog-entry-required, manifest-hostap

#10554 doc: zigbee: update zboss versions
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable

#10548 doc: zigbee: update zboss versions
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable

#10560 drivers: wifi: Update RPU patch to rev#95
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#10523 samples: matter: Introduce to Matter NUS service
  doc/nrf/libraries/bluetooth_services/services/nus.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/common/src/bt_nus_service.cpp
  samples/matter/common/src/bt_nus_service.h
  samples/matter/lock/CMakeLists.txt
  samples/matter/lock/README.rst
  samples/matter/lock/prj_release.conf
  samples/matter/lock/sample.yaml
  samples/matter/lock/src/app_event.h
  samples/matter/lock/src/app_task.cpp
  samples/matter/lock/src/app_task.h
  west.yml
Labels: doc-required, manifest, manifest-matter

#10567 doc: sml: added options to customize table
  doc/_extensions/software_maturity_table.py
Labels: doc-required, changelog-entry-required

#10566 doc: vsc: fix links and mention memory report
  doc/nrf/app_dev/optimizing/memory.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#10577 samples: nrf9160: modem_shell: Fix nRF7002 EK build command in readme
  samples/nrf9160/modem_shell/README.rst
Labels: doc-required

#10541 doc: update VSC-related step in the LwM2M client sample
  doc/nrf/working_with_nrf/nrf52/developing.rst
  doc/nrf/working_with_nrf/nrf91/nrf9160.rst
  doc/nrf/working_with_nrf/nrf91/thingy91.rst
  samples/nrf9160/lwm2m_client/sample_description.rst
Labels: doc-required, changelog-entry-required

#10507 Bluetooth: Mesh: Fixed build error with overlay-dfu.conf
  samples/bluetooth/mesh/light/src/smp_dfu.c
Labels: bug

#10511 samples: nrf9160: mmss: Increase MCUBoot secondary partition size
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/child_image/mcuboot/boards/nrf9160dk_nrf9160.conf
Labels: doc-required

#10509 doc: wi-fi: Add links to documentation
  doc/nrf/links.txt
  doc/nrf/working_with_nrf/nrf70/features.rst
Labels: doc-required

#10572 tfm: Revert abort crypto operation on failure
  west.yml
Labels: manifest, manifest-trusted-firmware-m, changelog-entry-required

#10588 samples: Bluetooth: Mesh: add configs with overlay in twister ci
  samples/bluetooth/mesh/light/sample.yaml
  samples/bluetooth/mesh/light_switch/sample.yaml
Labels: changelog-entry-required

#10539 doc: Bluetooth: Mesh: Extended additional configuration options
  doc/nrf/protocols/bt_mesh/configuring.rst
Labels: doc-required

#10596 Bluetooth: Mesh: Scheduler cli callback bug fix
  subsys/bluetooth/mesh/scheduler_cli.c
Labels: changelog-entry-required, ble mesh

#10579 doc: matter: add webinar embeds
  doc/nrf/links.txt
  doc/nrf/protocols/matter/end_product/index.rst
  doc/nrf/protocols/matter/getting_started/index.rst
  doc/nrf/protocols/matter/index.rst
  doc/nrf/protocols/matter/overview/index.rst
Labels: doc-required, CI-disable

#10587 applications: nrf5340_audio: Bugfix 32 bit configuration
  applications/nrf5340_audio/src/audio/audio_datapath.c
Labels: changelog-entry-required

#10504 ci: use forked branches of CI/Verification repositories
  Jenkinsfile
  test-manifests/99-default-test-nrf.yml
Labels: changelog-entry-required

#10533 doc: sml: Add SR co-existence entry
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required, changelog-entry-required

#10600 application: serial_lte_modem: BUG-FIX for large MQTT PUB msg
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#10489 application: serial_lte_modem: Add #XWIFIPOS command
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/gnss/Kconfig
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  applications/serial_lte_modem/src/slm_at_commands.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#10594 manifest: openthread: update to \`2d0d9be\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#10606 samples: wifi: radio_test: Fix typo
  samples/wifi/radio_test/sample_description.rst
Labels: doc-required, changelog-entry-required

#10561 manifest: pull Matter fprotect fix
  applications/matter_weather_station/Kconfig
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/pm_static_factory_data.yml
  doc/nrf/protocols/matter/end_product/bootloader.rst
  west.yml
Labels: doc-required, manifest, manifest-matter, changelog-entry-required

#10608 known_issues: Add NCSDK-20366
  doc/nrf/known_issues.rst
Labels: doc-required

#10544 doc: Update doc versions, add release notes for 2.1.4
  doc/nrf/conf.py
  doc/nrf/dm_adding_code.rst
  doc/nrf/known_issues.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.1.4.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

#10570 applications: nrf5340_audio: Remove loop dependency in dfu-entry
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/main.c
  applications/nrf5340_audio/src/modules/dfu_entry.c
  applications/nrf5340_audio/src/modules/dfu_entry.h
Labels: changelog-entry-required

#10613 manifest: NCS 2.1.4
  west.yml
Labels: manifest, manifest-zephyr, manifest-nrfxlib, manifest-homekit, manifest-nrf-802154, manifest-find-my, manifest-matter, changelog-entry-required

#10618 doc: update Matter known issues for 2.3.0 (fprotect issue)
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#10612 samples: wifi: radio_test: Increase shell ring buffer
  samples/wifi/radio_test/prj.conf
Labels: changelog-entry-required

#10582 SHEL-1408: STA sample crash
  samples/wifi/sta/prj.conf
Labels: changelog-entry-required

#10513 mpsl: cx: allow to use nRF700x with nRF53 without nRF RPC
  subsys/mpsl/cx/CMakeLists.txt
  subsys/mpsl/cx/Kconfig
Labels: changelog-entry-required

#10552 manifest: update zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#10627 workflows: Allow trusted authors to publish docs
  .github/workflows/docbuild.yml
Labels: changelog-entry-required

#10581 doc: matter: add feature support matrix
  doc/nrf/links.txt
  doc/nrf/protocols/matter/index.rst
  doc/nrf/protocols/matter/overview/dev_model.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/software_maturity.rst
Labels: doc-required, CI-disable

#10571 lib: location: code cleanup, removed unused variable etc.
  lib/location/method_gnss.c
Labels: changelog-entry-required

#10586 KRKNWK:16512-sample.yaml adjusted to build all samples needed for nightly tests
  samples/matter/lock/sample.yaml
  scripts/quarantine.yaml
  scripts/requirements-fixed.txt
Labels: CI-trusted-author, external, changelog-entry-required

#10626 drivers: wifi: Update RF parameters
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/fw/phy_rf_params.h
Labels: changelog-entry-required

#10453 net: lib: nrf_cloud: include service info in device status encoding
  doc/nrf/releases/release-notes-changelog.rst
  include/net/nrf_cloud_rest.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fsm.c
Labels: doc-required

#10605 doc: nrf: Improve A-GPS and P-GPS documentation
  doc/nrf/libraries/networking/images/gnss_fix_ppk_agps.png
  doc/nrf/libraries/networking/images/gnss_fix_ppk_cold_start.png
  doc/nrf/libraries/networking/nrf_cloud_agps.rst
  doc/nrf/libraries/networking/nrf_cloud_pgps.rst
  doc/nrf/links.txt
  doc/nrf/working_with_nrf/nrf91/nrf91_features.rst
Labels: doc-required

#8949 cmake: pass WEST_PYTHON to child image builds
  cmake/multi_image.cmake
Labels: external, changelog-entry-required

#10648 doc: sml: uppercase column titles
  doc/_extensions/software_maturity_table.py
Labels: doc-required, changelog-entry-required

#10649 samples: matter: Update for switchable device system tests
  samples/matter/lock/sample.yaml
Labels: changelog-entry-required

#10553 applications: asset_tracker_v2: wifi location on AWS/Azure
  applications/asset_tracker_v2/src/cloud/aws_iot_integration.c
  applications/asset_tracker_v2/src/cloud/azure_iot_hub_integration.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/aws_iot/aws_iot_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/aws_iot/json_protocol_names_aws_iot.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/azure_iot_hub/azure_iot_hub_codec.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/azure_iot_hub/json_protocol_names_azure_iot_hub.h
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_common.c
  applications/asset_tracker_v2/src/cloud/cloud_codec/json_common.h
  applications/asset_tracker_v2/tests/json_common/CMakeLists.txt
  applications/asset_tracker_v2/tests/json_common/src/json_validate.h
  applications/asset_tracker_v2/tests/json_common/src/main.c
Labels: changelog-entry-required

#10662 samples: matter: Remove MRP definition from sample config
  samples/matter/light_switch/src/chip_project_config.h
  samples/matter/lock/src/chip_project_config.h
Labels: changelog-entry-required

#10644 bluetooth: update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib

#10639 samples: bluetooth: peripheral_hids_mouse: Include SMP when security is enabled
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_hids_mouse/Kconfig
  samples/bluetooth/peripheral_hids_mouse/prj.conf
  samples/bluetooth/peripheral_hids_mouse/src/main.c
Labels: doc-required

#10645 samples: wifi: Fix for occasional net_pkt alloc failure
  samples/wifi/sr_coex/prj.conf
Labels: changelog-entry-required

#10238 applications: nrf5340_audio: Move controller
  applications/nrf5340_audio/CMakeLists.txt
  applications/nrf5340_audio/Kconfig.defaults
  applications/nrf5340_audio/README.rst
  applications/nrf5340_audio/dfu/bin/manifest.yaml
  applications/nrf5340_audio/src/bluetooth/CMakeLists.txt
  applications/nrf5340_audio/tools/buildprog/buildprog.py
  doc/nrf/libraries/bin/bt_ll_acs_nrf53/API_documentation.rst
  doc/nrf/libraries/bin/bt_ll_acs_nrf53/CHANGELOG.rst
  doc/nrf/libraries/bin/bt_ll_acs_nrf53/index.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  lib/bin/CMakeLists.txt
  lib/bin/Kconfig
  lib/bin/bt_ll_acs_nrf53/CMakeLists.txt
  lib/bin/bt_ll_acs_nrf53/Kconfig
  lib/bin/bt_ll_acs_nrf53/bin/LICENSE
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_3330.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_shifted_3330.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_shifted_min_3330.hex
  lib/bin/bt_ll_acs_nrf53/bin/manifest.yaml
  lib/bin/bt_ll_acs_nrf53/include/ble_hci_vsc.h
  lib/bin/bt_ll_acs_nrf53/src/ble_hci_vsc.c
Labels: doc-required

#10667 manifest: openthread: update to \`a4f1c7a\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#10525 samples: Fix warning for minimal pinout FEM in DTM and radio_test
  doc/nrf/known_issues.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/direct_test_mode/src/fem/generic_fem.c
Labels: doc-required

#10568 applications: nrf5340_audio: Bugfix packet size check
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
Labels: changelog-entry-required

#10674 doc: add signed_by_b0_*_image.bin to output files
  doc/nrf/app_dev/build_and_config_system/index.rst
Labels: doc-required, CI-disable, changelog-entry-required

#10053 labeler: Adding nrf5340_audio libs
  .github/test-spec.yml
Labels: changelog-entry-required

#10625 applications: nrf5340_audio: Improve ble_audio_services
  applications/nrf5340_audio/src/bluetooth/ble_audio_services.c
Labels: changelog-entry-required

#10663 doc: nrf5340_audio: 7-hour charging error line
  applications/nrf5340_audio/README.rst
  doc/nrf/known_issues.rst
Labels: doc-required, CI-disable

#10678 applications: nrf5340_audio: Make adv interval configurable
  applications/nrf5340_audio/src/bluetooth/Kconfig
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#10687 net: wifi_mgmt_ext: Fix open security
  subsys/net/lib/wifi_mgmt_ext/wifi_mgmt_ext.c
Labels: changelog-entry-required

#10699 drivers: wifi: Implement cookie response callback
  drivers/wifi/nrf700x/zephyr/inc/zephyr_fmac_main.h
  drivers/wifi/nrf700x/zephyr/src/zephyr_fmac_main.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_wpa_supp_if.c
Labels: changelog-entry-required

#9952 drivers: bh1749: change ownership of bh1749
  CODEOWNERS
Labels: changelog-entry-required

#10684 samples: wifi: radio_test: Set default max TX power
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/fw/phy_rf_params.h
  samples/wifi/radio_test/src/nrf_wifi_radio_test_shell.c
Labels: changelog-entry-required

#10668 Fix driver build
  drivers/wifi/nrf700x/CMakeLists.txt
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/fmac_api.c
Labels: manifest-zephyr, changelog-entry-required

#10707 lib: edge_impulse: Fix issue with double recompilation
  lib/edge_impulse/CMakeLists.txt
Labels: changelog-entry-required

#10679 lib: location: mention visibility detection in the list of features
  doc/nrf/libraries/modem/location.rst
Labels: doc-required, changelog-entry-required

#10697 modem_lib: add RAM trace backend
  lib/nrf_modem_lib/trace_backends/CMakeLists.txt
  lib/nrf_modem_lib/trace_backends/Kconfig
  lib/nrf_modem_lib/trace_backends/ram/CMakeLists.txt
  lib/nrf_modem_lib/trace_backends/ram/Kconfig
  lib/nrf_modem_lib/trace_backends/ram/ram.c
  samples/nrf9160/modem_shell/overlay-modem-trace-ram.conf
  samples/nrf9160/modem_shell/sample.yaml
Labels: changelog-entry-required

#10585 manifest: TF-M: ITS add encryption
  west.yml
Labels: manifest, manifest-trusted-firmware-m

#10622 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#10658 tests: lib: hw_unique_key_tfm: Fix test
  tests/lib/hw_unique_key_tfm/create_test_vector.py
  tests/lib/hw_unique_key_tfm/prj.conf
  tests/lib/hw_unique_key_tfm/src/main.c
  tests/lib/hw_unique_key_tfm/write_kmu.py
Labels: changelog-entry-required

#10694 doc: matter: clarify Total RAM
  doc/nrf/protocols/matter/getting_started/hw_requirements.rst
Labels: doc-required, CI-disable

#10724 doc: update HomeKit known issues
  doc/nrf/known_issues.rst
Labels: doc-required

#10720 samples: matter: NUS fixed passkey added
  samples/matter/lock/sample.yaml
Labels: changelog-entry-required

#10737 manifest: openthread: update to \`2c8a0af\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#10743 doc: matter: edit ZAP tool installation steps
  doc/nrf/protocols/matter/getting_started/adding_clusters.rst
  doc/nrf/protocols/matter/getting_started/tools.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#10754 doc improvement: samples
  samples/crypto/psa_tls/README.rst
  samples/nfc/record_launch_app/README.rst
Labels: doc-required

#10752 doc: Wi-Fi protocol ug: updating image
  doc/nrf/protocols/wifi/images/wifi_protocol_stack.svg
Labels: doc-required, CI-disable
