Repository nrfconnect/sdk-nrf, pull requests merged in 2023-08, with the labels that each got.

#11915 applications: nrf_desktop: Add missing title to event propagation page
  applications/nrf_desktop/doc/event_propagation.rst
Labels: doc-required

#11916 tests: bluetooth: Converted test to build_only
  tests/bluetooth/iso/testcase.yaml
Labels: changelog-entry-required

#11346 doc: getting_started: fix outdated west init --mr information
  doc/nrf/installation/installing.rst
  doc/nrf/installation/updating.rst
Labels: doc-required, changelog-entry-required

#11920 manifest: update Matter SDK revision to pull CSL fix.
  west.yml
Labels: manifest, manifest-matter

#11772 drivers: wifi: Update Wi-Fi driver version
  drivers/wifi/nrf700x/zephyr/inc/zephyr_fmac_main.h
Labels: changelog-entry-required

#11932 manifest: Update dragoon to latest
  west.yml
Labels: manifest, changelog-entry-required, manifest-dragoon

#11931 samples: net: Add 9161 board files
  samples/net/aws_iot/boards/nrf9161dk_nrf9161_ns.conf
  samples/net/aws_iot/sample.yaml
  samples/net/mqtt/boards/nrf9161dk_nrf9161_ns.conf
  samples/net/mqtt/sample.yaml
Labels: changelog-entry-required

#11940 manifest: openthread: update to \`992be27\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#11928 doc: protocols: Add memory requirements to Wi-Fi
  doc/nrf/protocols/wifi/index.rst
  doc/nrf/protocols/wifi/mem_requirements.rst
  doc/nrf/protocols/wifi/wifi.rst
Labels: doc-required, changelog-entry-required

#11948 samples: wifi: scan: Add nRF9160 to twister
  samples/wifi/scan/sample.yaml
Labels: changelog-entry-required

#11939 wifi: WFA QT upmerge
  west.yml
Labels: manifest, changelog-entry-required, manifest-wfa-qt-control-app

#11943 Bluetooth: Update sdk-nrfxlib revision:
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#11950 applications: nrf_desktop: Avoid BLE scan stop on HID output report
  applications/nrf_desktop/src/modules/ble_scan.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#11947 CI: Update FEM scope in test-spec.yaml
  .github/test-spec.yml
Labels: changelog-entry-required

#11942 samples: aws_iot_hub: Fix kconfig for using HW ID
  samples/net/aws_iot/Kconfig
Labels: changelog-entry-required

#11935 samples: 802154_sniffer: Add 802154_sniffer sample
  CODEOWNERS
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/peripheral/802154_sniffer/CMakeLists.txt
  samples/peripheral/802154_sniffer/README.rst
  samples/peripheral/802154_sniffer/boards/nrf52840dk_nrf52840.overlay
  samples/peripheral/802154_sniffer/boards/nrf52840dongle_nrf52840.overlay
  samples/peripheral/802154_sniffer/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/peripheral/802154_sniffer/prj.conf
  samples/peripheral/802154_sniffer/sample.yaml
  samples/peripheral/802154_sniffer/src/main.c
Labels: doc-required

#11957 samples: bluetooth: throughput: Fix missing coded PHY configuration
  samples/bluetooth/throughput/README.rst
  samples/bluetooth/throughput/prj.conf
Labels: doc-required, changelog-entry-required

#11955 doc: known_issues: Add NCSDK-22953
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, 10-min-review

#11865 nfc: Fix NFC IRQ context switching
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/nfc/lib/platform_internal_thread.c
Labels: doc-required

#11904 subsys: fota_download: correcting URI check
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/fota_download/Kconfig
  subsys/net/lib/fota_download/src/fota_download.c
  tests/subsys/net/lib/fota_download/prj.conf
Labels: doc-required

#11963 Bluetooth: Mesh: remove division by zero in ctl
  subsys/bluetooth/mesh/light_ctl_internal.h
Labels: ble mesh

#11960 doc: security: Don't document how to flash a TF-M
  doc/nrf/security/tfm.rst
Labels: doc-required, changelog-entry-required

#11962 Bluetooth: Mesh: apply scheduler publication errata
  include/bluetooth/mesh/scheduler_srv.h
  subsys/bluetooth/mesh/scheduler_srv.c
Labels: ble mesh

#11975 doc: update target folder for doc uploads
  .github/workflows/docpublish.yml
Labels: changelog-entry-required

#11966 tools: update pip packages with vuln
  scripts/requirements-fixed.txt
Labels: CI-all-test, changelog-entry-required

#11972 applications: nrf_desktop: Add general HID report rate measurement guide
  applications/nrf_desktop/README.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#11938 net: lib: aws_fota: Add single url option to job parser
  doc/nrf/libraries/networking/aws_fota.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/aws_fota/Kconfig
  subsys/net/lib/aws_fota/include/aws_fota_json.h
  subsys/net/lib/aws_fota/src/aws_fota.c
  subsys/net/lib/aws_fota/src/aws_fota_json.c
  tests/subsys/net/lib/aws_fota/aws_fota_json/CMakeLists.txt
  tests/subsys/net/lib/aws_fota/aws_fota_json/src/main.c
Labels: doc-required

#11970 ci: docbuild: use actions/cache v3
  .github/workflows/docbuild.yml
Labels: changelog-entry-required

#11978 applications: nrf_desktop: Update info about supported DK configs
  applications/nrf_desktop/README.rst
Labels: doc-required, changelog-entry-required

#11794 doc: Modem Shell sample: point to Cellular Monitor
  samples/cellular/modem_shell/README.rst
Labels: doc-required, CI-disable

#11924 samples: cellular: modem_shell: sock: Add packet number prefix
  samples/cellular/modem_shell/src/sock/sock.c
  samples/cellular/modem_shell/src/sock/sock.h
  samples/cellular/modem_shell/src/sock/sock_shell.c
Labels: changelog-entry-required

#11638 scripts: sbom: Update SPDX License List
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  scripts/west_commands/sbom/data/spdx-licenses.yaml
Labels: doc-required

#11987 drivers: wifi: Update RPU patch to rev# a3794198724
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/host_rpu_data_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/host_rpu_sys_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/host_rpu_umac_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#11586 doc: Thread documentation improvements
  doc/nrf/links.txt
  doc/nrf/protocols/thread/certification.rst
  doc/nrf/protocols/thread/configuring.rst
  doc/nrf/protocols/thread/device_types.rst
  doc/nrf/protocols/thread/overview/architectures.rst
  doc/nrf/protocols/thread/overview/commissioning.rst
  doc/nrf/protocols/thread/overview/communication.rst
  doc/nrf/protocols/thread/overview/index.rst
  doc/nrf/protocols/thread/overview/ot_integration.rst
  doc/nrf/protocols/thread/overview/ot_memory.rst
  doc/nrf/protocols/thread/overview/supported_features.rst
  doc/nrf/protocols/thread/prebuilt_libs.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#11949 doc: nrf: drivers: Add documentation for Wi-Fi driver kconfig options
  doc/nrf/drivers.rst
  doc/nrf/drivers/wifi/nrf700x/nrf700x.rst
  doc/nrf/drivers/wifi/nrf700x/subpages/low_api_common.rst
  doc/nrf/drivers/wifi/nrf700x/subpages/low_api_radio_test.rst
  doc/nrf/drivers/wifi/nrf700x/subpages/low_api_wifi.rst
  drivers/wifi/Kconfig
  drivers/wifi/nrf700x/Kconfig
Labels: doc-required, changelog-entry-required

#11789 samples: Extract DTM api in sample
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/direct_test_mode/CMakeLists.txt
  samples/bluetooth/direct_test_mode/Kconfig
  samples/bluetooth/direct_test_mode/README.rst
  samples/bluetooth/direct_test_mode/src/dtm.c
  samples/bluetooth/direct_test_mode/src/dtm.h
  samples/bluetooth/direct_test_mode/src/main.c
  samples/bluetooth/direct_test_mode/src/transport/dtm_uart_twowire.c
  samples/bluetooth/direct_test_mode/src/transport/dtm_uart_twowire.h
Labels: doc-required

#11973 applications: asset_tracker_v2: remove board target for mocked test
  applications/asset_tracker_v2/tests/nrf_cloud_codec_mocked_cjson/testcase.yaml
Labels: changelog-entry-required

#12000 manifest: openthread: update to \`70adcab\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#11988 net: lib: nrf_cloud: filter local APs from Wi-Fi location req
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/net/nrf_cloud_codec.h
  include/net/nrf_cloud_rest.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_codec_internal.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec_internal.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
Labels: doc-required

#12001 wifi: Add support for SLIP with nRF7002
  samples/wifi/shell/nrf7002_uart_pipe.overlay
  samples/wifi/shell/overlay-slip.conf
  samples/wifi/shell/src/main.c
Labels: changelog-entry-required

#11953 Tx support outside twt sp
  drivers/wifi/nrf700x/Kconfig
  drivers/wifi/nrf700x/osal/fw_if/umac_if/src/cmd.c
Labels: changelog-entry-required

#11993 drivers: wifi: Update RPU patch to rev# 2606dd89f06
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#12002 manifest: Update Matter SDK to pull fix for Cmake script
  west.yml
Labels: manifest, manifest-matter

#11986 lte_connectivity: fix LTE_CONNECTIVITY build with CONFIG_POSIX_API=y
  lib/nrf_modem_lib/lte_connectivity/lte_ip_addr_helper.c
Labels: external, changelog-entry-required, CI-Requested

#11965 samples: matter: modify default configuration of Matter samples
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, manifest-matter

#11999 net: lib: nrf_cloud: Set job type to invalid after job info is freed.
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/net/nrf_cloud_coap.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec_internal.c
Labels: doc-required

#11914 net: lib: nrf_cloud: add missing AIR_QUAL handler to shadow encoder
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec_internal.c
Labels: doc-required

#11977 applications: Added Bluetooth LE support to Matter Bridge
  applications/matter_bridge/CMakeLists.txt
  applications/matter_bridge/Kconfig
  applications/matter_bridge/README.rst
  applications/matter_bridge/child_image/hci_rpmsg/prj.conf
  applications/matter_bridge/child_image/hci_rpmsg/prj_release.conf
  applications/matter_bridge/src/app_task.cpp
  applications/matter_bridge/src/bridge_shell.cpp
  applications/matter_bridge/src/bridged_device_factory.h
  applications/matter_bridge/src/bridged_device_types/ble_onoff_light_data_provider.cpp
  applications/matter_bridge/src/bridged_device_types/ble_onoff_light_data_provider.h
  applications/matter_bridge/src/bridged_device_types/simulated_humidity_sensor_data_provider.cpp
  applications/matter_bridge/src/bridged_device_types/simulated_humidity_sensor_data_provider.h
  applications/matter_bridge/src/bridged_device_types/simulated_onoff_light_data_provider.cpp
  applications/matter_bridge/src/bridged_device_types/simulated_onoff_light_data_provider.h
  applications/matter_bridge/src/bridged_device_types/simulated_temperature_sensor_data_provider.cpp
  applications/matter_bridge/src/bridged_device_types/simulated_temperature_sensor_data_provider.h
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/common/src/bridge/ble_bridged_device.h
  samples/matter/common/src/bridge/ble_connectivity_manager.cpp
  samples/matter/common/src/bridge/ble_connectivity_manager.h
  samples/matter/common/src/bridge/bridge_manager.cpp
  samples/matter/common/src/bridge/bridge_manager.h
Labels: doc-required

#11982 Bluetooth: Mesh: support unknown range in ctl
  include/bluetooth/mesh/light_ctl.h
  subsys/bluetooth/mesh/light_ctl_internal.h
  subsys/bluetooth/mesh/light_temp_srv.c
Labels: ble mesh

#11996 doc: protcols: Update Wi-Fi samples memory footprints
  doc/nrf/protocols/wifi/mem_requirements.rst
Labels: doc-required, changelog-entry-required

#12005 Bluetooth: Mesh: alternate location publishing
  include/bluetooth/mesh/gen_loc_srv.h
  subsys/bluetooth/mesh/gen_loc_srv.c
Labels: ble mesh

#11750 Llpm sample connect directly to 1ms
  samples/bluetooth/llpm/README.rst
  samples/bluetooth/llpm/src/main.c
  subsys/bluetooth/controller/Kconfig
Labels: doc-required, manifest-zephyr, changelog-entry-required

#11998 samples: wifi: FICR changes to read INFO data.
  drivers/wifi/nrf700x/osal/hw_if/hal/inc/fw/rpu_if.h
  samples/wifi/radio_test/src/nrf_wifi_radio_ficr_shell.c
Labels: changelog-entry-required

#12019 application: nrf5340_audio: Fix num_conn not initialized
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.c
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
Labels: changelog-entry-required

#12024 applications: nrf5340_audio: Expand SD card module
  applications/nrf5340_audio/src/modules/sd_card.c
  applications/nrf5340_audio/src/modules/sd_card.h
Labels: CI-trusted-author, external, changelog-entry-required, CI-Requested

#10840 application: serial_lte_modem: Allow auto-connect for NIDD
  applications/serial_lte_modem/doc/CARRIER_AT_commands.rst
  applications/serial_lte_modem/src/lwm2m_carrier/slm_at_carrier.c
  applications/serial_lte_modem/src/main.c
  applications/serial_lte_modem/src/slm_settings.c
  applications/serial_lte_modem/src/slm_settings.h
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#11964 applications: nrf_desktop: Fix returning error in MCUmgr callbacks
  applications/nrf_desktop/src/modules/dfu_mcumgr.c
Labels: 10-min-review

#12027 Bluetooth: Fix LLPM k-config dependency issue
  subsys/bluetooth/controller/Kconfig
Labels: changelog-entry-required

#12014 Manifest: Update sdk-zephyr rev with a bugfix
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#12015 doc: update zoomin upload path
  .github/workflows/docpublish.yml
Labels: changelog-entry-required

#12030 samples: cellular: gnss: add support for nRF91x1 factory almanac
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/gnss/src/assistance_minimal.c
  samples/cellular/gnss/src/factory_almanac.h
  samples/cellular/gnss/src/factory_almanac_v2.h
  samples/cellular/gnss/src/factory_almanac_v3.h
Labels: doc-required

#12035 doc: fix numbered steps
  doc/nrf/device_guides/working_with_nrf/nrf91/nrf9160.rst
  doc/nrf/device_guides/working_with_nrf/nrf91/thingy91.rst
  doc/nrf/device_guides/working_with_nrf/nrf91/thingy91_gsg.rst
  doc/nrf/external_comp/nrf_cloud.rst
Labels: doc-required, CI-disable

#11848 partition_manager: Move misplaced size statement in pm.yml.settings
  subsys/partition_manager/pm.yml.settings
Labels: changelog-entry-required

#12013 wifi: Fix BUS selection based on board
  boards/arm/nrf7002dk_nrf5340/Kconfig.defconfig
  boards/arm/nrf7002dk_nrf7001_nrf5340/Kconfig.defconfig
  boards/shields/nrf7002eb/Kconfig.shield
  boards/shields/nrf7002ek/Kconfig.shield
  boards/shields/nrf7002ek_nrf7000/Kconfig.shield
  boards/shields/nrf7002ek_nrf7001/Kconfig.shield
  drivers/wifi/nrf700x/Kconfig
Labels: changelog-entry-required

#12044 CODEOWNERS: Replace torsteingrindvik
  CODEOWNERS
Labels: changelog-entry-required

#11954 samples: matter: define sample persistence subscription configuration
  samples/matter/light_bulb/sample.yaml
  samples/matter/light_switch/sample.yaml
  scripts/quarantine_integration.yaml
Labels: changelog-entry-required

#12037 manifest: LwM2M bootstrap fixes
  west.yml
Labels: manifest, manifest-zephyr

#12022 net: lwm2m_client_utils: Fix race condition on Firmware object
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_adv_firmware.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
Labels: changelog-entry-required

#12043 samples: Fix incorrect names in yaml
  applications/asset_tracker_v2/sample.yaml
  samples/debug/ppi_trace/sample.yaml
Labels: changelog-entry-required

#11969 cmake: partition_manager: Replace import_kconfig
  cmake/extensions.cmake
  cmake/partition_manager.cmake
  cmake/sysbuild/partition_manager.cmake
Labels: changelog-entry-required

#12056 manifest: openthread: update to \`f14d726\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#12055 net: lwm2m_client_utils: Purge DTLS sessions
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
  tests/subsys/net/lib/lwm2m_client_utils/src/stubs.c
  tests/subsys/net/lib/lwm2m_client_utils/src/stubs.h
Labels: changelog-entry-required

#12051 samples: cellular: https_client: update tfm-mbedtls overlay
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/https_client/overlay-tfm_mbedtls.conf
  samples/cellular/https_client/sample.yaml
Labels: doc-required

#11995 net: lib: aws_fota: Improve error handling for FOTA jobs
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/aws_fota/include/aws_fota_json.h
  subsys/net/lib/aws_fota/src/aws_fota.c
  subsys/net/lib/aws_fota/src/aws_fota_json.c
  tests/subsys/net/lib/aws_fota/aws_fota_json/src/main.c
Labels: doc-required

#12050 caf: ble_adv: Improve module_state_event broadcast
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/caf/modules/ble_adv.c
Labels: doc-required

#11838 manifest: update homekit revision
  doc/nrf/releases_and_maturity/known_issues.rst
  west.yml
Labels: doc-required, manifest, manifest-homekit, changelog-entry-required

#12063 samples: matter: added lock 21540ek on 52840 sample
  samples/matter/lock/sample.yaml
Labels: changelog-entry-required

#12020 manifest: sdk-hostap: Pull missing commits
  west.yml
Labels: manifest, changelog-entry-required, manifest-hostap

#12046 matter: add shell commands for resource usage
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  west.yml
Labels: doc-required, manifest, manifest-matter

#12049 manifest: zephyr: update zephyr wth 802154 multiple cca support
  west.yml
Labels: manifest, manifest-zephyr

#12061 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154

#12047 tools: Update ccache version to 4.8.1
  scripts/tools-versions-linux.yml
Labels: changelog-entry-required

#11992 dfu: dfu_target: New DFU target SMP
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/dfu/dfu_target.h
  include/dfu/dfu_target_smp.h
  subsys/dfu/dfu_target/CMakeLists.txt
  subsys/dfu/dfu_target/Kconfig
  subsys/dfu/dfu_target/src/dfu_target.c
  subsys/dfu/dfu_target/src/dfu_target_smp.c
Labels: doc-required

#11927 caf: modules: added a custom command to the shell
  doc/nrf/libraries/caf/caf_shell.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/caf/modules/CMakeLists.txt
  subsys/caf/modules/Kconfig
  subsys/caf/modules/Kconfig.caf_shell
  subsys/caf/modules/caf_shell.c
Labels: doc-required

#12065 samples: matter: Re-enable release configurations
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  samples/matter/light_bulb/sample.yaml
  samples/matter/light_switch/prj.conf
  samples/matter/light_switch/prj_release.conf
  samples/matter/light_switch/sample.yaml
  samples/matter/lock/prj.conf
  samples/matter/lock/prj_release.conf
  samples/matter/template/sample.yaml
  samples/matter/thermostat/sample.yaml
  samples/matter/window_covering/prj.conf
  samples/matter/window_covering/prj_release.conf
  samples/matter/window_covering/sample.yaml
  scripts/quarantine_integration.yaml
Labels: changelog-entry-required

#12032 samples: matter: Implemented bridge persistent storage module.
  applications/matter_bridge/CMakeLists.txt
  applications/matter_bridge/src/bridged_device_types/humidity_sensor.h
  applications/matter_bridge/src/bridged_device_types/onoff_light.h
  applications/matter_bridge/src/bridged_device_types/temperature_sensor.h
  samples/matter/common/src/bridge/bridge_storage_manager.cpp
  samples/matter/common/src/bridge/bridge_storage_manager.h
  samples/matter/common/src/bridge/bridged_device.h
  samples/matter/common/src/persistent_storage_util.cpp
  samples/matter/common/src/persistent_storage_util.h
Labels: changelog-entry-required

#12081 doc: Cellular: Azure FOTA sample formatting fix
  samples/cellular/azure_fota/README.rst
Labels: doc-required, CI-disable

#12054 doc: Bluetooth: Mesh: Move SW maturity up to protocol
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required

#12041 Applications: nrf5340_audio: Resolved Coverity issues
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/audio_system.c
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/audio/sw_codec_select.c
  applications/nrf5340_audio/src/bluetooth/bt_management/advertising/bt_mgmt_adv.c
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.c
  applications/nrf5340_audio/src/bluetooth/bt_management/dfu/bt_mgmt_dfu.c
  applications/nrf5340_audio/src/bluetooth/bt_renderer/volume/bt_rend_vol.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
  applications/nrf5340_audio/src/modules/audio_usb.c
  applications/nrf5340_audio/src/modules/led.c
  applications/nrf5340_audio/src/utils/board_version.c
Labels: changelog-entry-required

#12060 applications: nrf5340_audio: Added capabilities doc for the controller
  doc/nrf/libraries/bin/bt_ll_acs_nrf53/index.rst
  doc/nrf/links.txt
Labels: doc-required, changelog-entry-required

#12036 Applications: nrf5340_audio: Added audio ablk
  include/audio_defines.h
Labels: changelog-entry-required

#12085 boards: shields: nrf7002ek: Fix SPI CS GPIOs overwrite
  boards/shields/nrf7002ek/nrf7002ek.overlay
  boards/shields/nrf7002ek_nrf7000/nrf7002ek_nrf7000.overlay
  boards/shields/nrf7002ek_nrf7001/nrf7002ek_nrf7001.overlay
Labels: changelog-entry-required

#12087 doc: Cellular: Cloud multi-service formatting fixes
  samples/cellular/nrf_cloud_multi_service/README.rst
Labels: doc-required, CI-disable

#12077 Bluetooth: Controller: add add_hci_le_transmitter_test_v4
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#12089 doc: Cellular: LwM2M carrier sample fixes
  doc/nrf/includes/lwm2m_common_server_setup.txt
  samples/cellular/lwm2m_carrier/sample_description.rst
Labels: doc-required, CI-disable

#12079 manifest: update sdk-zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#12075 nrf_security: update description of MBEDTLS_SSL_EXTENDED_MASTER_SECRET
  subsys/nrf_security/Kconfig.tls
Labels: external, CI-Requested

#12021 doc:wifi: Add a section about nRF7002 EK
  doc/nrf/device_guides/working_with_nrf/nrf70/gs.rst
  doc/nrf/device_guides/working_with_nrf/nrf70/images/nRF7002ek.png
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#12097 doc: TF-M: PSA template sample formatting fix
  samples/tfm/tfm_psa_template/README.rst
Labels: doc-required, CI-disable

#12082 manifest: sdk-zephyr: Update nrf hw model revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#12009 ci: Fix gitlint warns
  scripts/ci/codeowners.py
Labels: changelog-entry-required

#12105 doc: add mention of nRF Cloud Multi-service sample to CoAP library
  doc/nrf/libraries/networking/nrf_cloud_coap.rst
Labels: doc-required, CI-disable

#12098 doc: Wi-Fi: Scan sample formatting fix
  samples/wifi/scan/README.rst
Labels: doc-required, CI-disable

#12066 samples: matter: Added BT recovery mechanism to Matter Bridge.
  applications/matter_bridge/CMakeLists.txt
  applications/matter_bridge/src/bridged_device_types/ble_onoff_light_data_provider.cpp
  applications/matter_bridge/src/bridged_device_types/onoff_light.cpp
  samples/matter/common/src/bridge/Kconfig
  samples/matter/common/src/bridge/ble_bridged_device.h
  samples/matter/common/src/bridge/ble_connectivity_manager.cpp
  samples/matter/common/src/bridge/ble_connectivity_manager.h
  samples/matter/common/src/bridge/bridged_device.cpp
  samples/matter/common/src/bridge/bridged_device.h
  samples/matter/common/src/bridge/bridged_device_data_provider.cpp
  samples/matter/common/src/bridge/bridged_device_data_provider.h
Labels: changelog-entry-required

#12040 Bluetooth: Mesh: Develop/fixing light lc sm conditions
  include/bluetooth/mesh/light_ctrl_srv.h
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: changelog-entry-required, ble mesh

#12115 applications: serial_lte_modem: Fix #XHTTPCRSP's documentation
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
Labels: doc-required

#12117 nrf_security: Use int return type for nrf_cc3xx return values
  subsys/nrf_security/src/psa_crypto_driver_wrappers.c
Labels: changelog-entry-required

#12118 samples: matter: light_bulb eagle ek sample added
  samples/matter/light_bulb/sample.yaml
  samples/matter/lock/sample.yaml
Labels: changelog-entry-required

#12086 applications: serial_lte_modem: Remove modem delta firmware update workaround
  applications/serial_lte_modem/src/slm_at_fota.c
Labels: changelog-entry-required

#12026 Update nrf_cloud_rest_device_message sample to use CAF instead of DK library
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_rest_device_message/CMakeLists.txt
  samples/cellular/nrf_cloud_rest_device_message/boards/nrf9160dk_nrf9160_ns.overlay
  samples/cellular/nrf_cloud_rest_device_message/include/buttons_def.h
  samples/cellular/nrf_cloud_rest_device_message/include/leds_def.h
  samples/cellular/nrf_cloud_rest_device_message/prj.conf
  samples/cellular/nrf_cloud_rest_device_message/src/main.c
Labels: doc-required

#12068 applications: serial_lte_modem: Use cached A-GPS data
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
Labels: changelog-entry-required

#12126 manifest: openthread: update to \`c10f650\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#12109 manifest: Update sdk-zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#11514 script: keygen.py: Change from `ecdsa` to `cryptography`
  scripts/bootloader/keygen.py
  scripts/requirements-build.txt
Labels: changelog-entry-required

#12071 net: lib: aws_fota: Determine protocol from job document
  doc/nrf/libraries/networking/aws_fota.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/aws_fota/include/aws_fota_json.h
  subsys/net/lib/aws_fota/src/aws_fota.c
  subsys/net/lib/aws_fota/src/aws_fota_json.c
  tests/subsys/net/lib/aws_fota/aws_fota_json/src/main.c
Labels: doc-required

#12090 manifest: wfa-qt-control-app: Pull cmake warning fix
  west.yml
Labels: manifest, changelog-entry-required, manifest-wfa-qt-control-app

#12018 pm: Fix shared SRAM calculation
  subsys/partition_manager/CMakeLists.txt
  subsys/partition_manager/Kconfig
Labels: changelog-entry-required

#12110 manifest: update sdk-connectedhomeip to enable minimal shell
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#12084 lib: sms: Support for characters in hex format
  doc/nrf/libraries/modem/sms.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/modem/sms.h
  lib/sms/sms.c
  lib/sms/sms_submit.c
  lib/sms/sms_submit.h
  samples/cellular/modem_shell/src/sms/sms.c
  samples/cellular/modem_shell/src/sms/sms.h
  samples/cellular/modem_shell/src/sms/sms_shell.c
  tests/lib/sms/src/sms_test.c
Labels: doc-required

#12121 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#12127 nrf: fixed typos in various files
  applications/serial_lte_modem/src/slm_uart_handler.c
  modules/trusted-firmware-m/Kconfig
  samples/cellular/nrf_cloud_multi_service/README.rst
Labels: doc-required, changelog-entry-required

#11980 samples: matter: Enable build with the factory data support.
  applications/matter_bridge/prj.conf
  applications/matter_bridge/prj_release.conf
  applications/matter_weather_station/sample.yaml
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/light_bulb/README.rst
  samples/matter/light_bulb/prj.conf
  samples/matter/light_bulb/prj_release.conf
  samples/matter/light_switch/README.rst
  samples/matter/light_switch/prj.conf
  samples/matter/light_switch/prj_release.conf
  samples/matter/lock/README.rst
  samples/matter/lock/prj.conf
  samples/matter/lock/prj_release.conf
  samples/matter/lock/prj_thread_wifi_switched.conf
  samples/matter/lock/sample.yaml
  samples/matter/template/README.rst
  samples/matter/template/prj.conf
  samples/matter/template/prj_release.conf
  samples/matter/thermostat/README.rst
  samples/matter/thermostat/prj.conf
  samples/matter/thermostat/prj_release.conf
  samples/matter/window_covering/README.rst
  samples/matter/window_covering/prj.conf
  samples/matter/window_covering/prj_release.conf
  scripts/quarantine_integration.yaml
Labels: doc-required

#12131 Bluetooth: Mesh: fix psa pub key usage
  subsys/bluetooth/mesh/Kconfig
Labels: ble mesh

#11868 [v2.4-branch] manifest: nrf_modem v2.4.1
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#12064 Fix for the nRF RPC entropy sample
  samples/nrf_rpc/entropy_nrf53/cpuapp/src/entropy_ser.c
  samples/nrf_rpc/entropy_nrf53/cpuapp/src/main.c
  samples/nrf_rpc/entropy_nrf53/cpunet/src/entropy_ser.c
Labels: manifest-nrfxlib

#12132 doc: fixing shortcuts in bootloader docs
  doc/nrf/config_and_build/bootloaders_and_dfu/bootloader.rst
  doc/nrf/config_and_build/bootloaders_and_dfu/bootloader_adding.rst
Labels: doc-required, CI-disable

#12074 applications: Matter Bridge: added BLE environmental sensor support
  applications/matter_bridge/CMakeLists.txt
  applications/matter_bridge/Kconfig
  applications/matter_bridge/README.rst
  applications/matter_bridge/src/app_task.cpp
  applications/matter_bridge/src/bridge_shell.cpp
  applications/matter_bridge/src/bridged_device_factory.h
  applications/matter_bridge/src/bridged_device_types/ble_environmental_data_provider.cpp
  applications/matter_bridge/src/bridged_device_types/ble_environmental_data_provider.h
  applications/matter_bridge/src/bridged_device_types/humidity_sensor.cpp
  applications/matter_bridge/src/bridged_device_types/humidity_sensor.h
  applications/matter_bridge/src/bridged_device_types/onoff_light.cpp
  applications/matter_bridge/src/bridged_device_types/onoff_light.h
  applications/matter_bridge/src/bridged_device_types/simulated_humidity_sensor_data_provider.cpp
  applications/matter_bridge/src/bridged_device_types/simulated_temperature_sensor_data_provider.cpp
  applications/matter_bridge/src/bridged_device_types/temperature_sensor.cpp
  applications/matter_bridge/src/bridged_device_types/temperature_sensor.h
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/common/src/bridge/bridge_manager.cpp
  samples/matter/common/src/bridge/bridge_manager.h
  samples/matter/common/src/bridge/bridge_storage_manager.cpp
  samples/matter/common/src/bridge/bridge_storage_manager.h
  samples/matter/common/src/bridge/matter_bridged_device.cpp
  samples/matter/common/src/bridge/matter_bridged_device.h
  samples/matter/common/src/bridge/util/bridge_util.h
Labels: doc-required

#12134 application: matter: Repair Matter Weather Station release build
  applications/matter_weather_station/sample.yaml
Labels: changelog-entry-required

#12142 tools: toolchain_checksum to be identical on unix and windows
  scripts/print_toolchain_checksum.sh
Labels: changelog-entry-required

#12138 Update sidewalk manifest
  west.yml
Labels: manifest, changelog-entry-required, manifest-sidewalk

#11878 test_spec: Add Sidewalk
  .github/test-spec.yml
Labels: changelog-entry-required

#11845 doc: introduction: rework section
  doc/nrf/config_and_build.rst
  doc/nrf/documentation/glossary.rst
  doc/nrf/drivers.rst
  doc/nrf/images/ncs_repo_structure_simplified.svg
  doc/nrf/installation.rst
  doc/nrf/installation/installing.rst
  doc/nrf/installation/recommended_versions.rst
  doc/nrf/introduction.rst
  doc/nrf/libraries/index.rst
  doc/nrf/releases_and_maturity.rst
  doc/nrf/releases_and_maturity/dev_model.rst
  doc/nrf/releases_and_maturity/developing/code_base.rst
  doc/nrf/releases_and_maturity/developing/licenses.rst
  doc/nrf/releases_and_maturity/repository_revisions.rst
  doc/nrf/scripts.rst
  doc/nrf/security.rst
Labels: doc-required, CI-disable

#12145 samples: azure_iot_hub: Fix hw id
  samples/net/azure_iot_hub/src/main.c
Labels: changelog-entry-required

#12151 tests: tfm_regression_test: Add missing TFM provision dependency
  tests/tfm/tfm_regression_test/prj.conf
Labels: changelog-entry-required

#12095 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#12160 nfc: Fix nfc context switching buffer read
  subsys/nfc/lib/platform_internal_thread.c
Labels: changelog-entry-required

#12165 samples: crypto: psa_tls Revert "Convert Kconfig options"
  samples/crypto/psa_tls/overlays/cc3xx-oberon-psa.conf
Labels: changelog-entry-required

#12141 net: lib: nrf_cloud: add kconfig opts for Wi-Fi location req encoding
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/Kconfig
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec_internal.c
Labels: doc-required

#12149 samples: matter: Moved confirmation of the OTA image to the Init.
  applications/matter_bridge/src/app_task.cpp
  applications/matter_weather_station/src/app_task.cpp
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/common/src/ota_util.cpp
  samples/matter/common/src/ota_util.h
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/lock/src/app_task.cpp
  samples/matter/template/src/app_task.cpp
  samples/matter/thermostat/src/app_task.cpp
  samples/matter/window_covering/src/app_task.cpp
  west.yml
Labels: doc-required, manifest, manifest-matter

#12102 doc: update doc for 2.4.2
  doc/nrf/conf.py
  doc/nrf/developing/adding_code.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.4.2.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required, changelog-entry-required

#12174 doc: Updated a Matter known issue with the proper commit SHA
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required

#12168 applications: nrf_desktop: Align application name in sample.yaml
  applications/nrf_desktop/sample.yaml
Labels: 10-min-review

#12172 version: Update VERSION to 2.4.99-dev1
  VERSION
Labels: changelog-entry-required

#12181 doc: Revert doc versions after 2.4.99-dev1
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/releases_and_maturity.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#12157 drivers: wifi: Update RPU patch to rev#f52d2710c13
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#12143 samples: nrf_cloud_multi_service: Wi-Fi scan config
  samples/cellular/nrf_cloud_multi_service/overlay_nrf7002ek_wifi_no_lte.conf
Labels: changelog-entry-required

#11994 tools: adding pip requirements check workflow
  .github/workflows/pip-requirements.yml
  scripts/fix-requirements.sh
  scripts/requirements-build.txt
  scripts/requirements-ci.txt
  scripts/requirements-extra.txt
  scripts/requirements-fixed.txt
  scripts/requirements.txt
  tests/modules/lib/zcbor/decode/CMakeLists.txt
  tests/modules/lib/zcbor/encode/CMakeLists.txt
Labels: CI-all-test, changelog-entry-required

#12192 Revert "tools: adding pip requirements check workflow"
  .github/workflows/pip-requirements.yml
  scripts/fix-requirements.sh
  scripts/requirements-build.txt
  scripts/requirements-ci.txt
  scripts/requirements-extra.txt
  scripts/requirements-fixed.txt
  scripts/requirements.txt
  tests/modules/lib/zcbor/decode/CMakeLists.txt
  tests/modules/lib/zcbor/encode/CMakeLists.txt
Labels: changelog-entry-required

#12099 doc: nrf9160: Update board revisions to current logic
  doc/nrf/device_guides/working_with_nrf/nrf91/nrf9160.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#12188 manifest: openthread: update to \`4ae6914\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required
