Repository nrfconnect/sdk-nrf, pull requests merged in 2023-06, with the labels that each got.

#11385 manifest: NCS 2.4.0
  west.yml
Labels: manifest, manifest-zephyr, manifest-nrfxlib, manifest-mcuboot, manifest-trusted-firmware-m, manifest-homekit, manifest-nrf-802154, manifest-find-my, manifest-matter, changelog-entry-required, manifest-mbedtls

#11381 doc: 2.4.0 post-release doc update
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/known_issues.rst
  doc/nrf/protocols/matter/index.rst
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

#11391 applications: machine_learning: Switch to file hosted by Nordic
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj_nus.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj_release.conf
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_rtt.conf
  doc/nrf/releases/release-notes-changelog.rst
  samples/edge_impulse/wrapper/prj.conf
Labels: doc-required

#11396 tools: Remove legacy tools files
  .github/workflows/docbuild.yml
  scripts/tools-versions-darwin.txt
  scripts/tools-versions-linux.txt
  scripts/tools-versions-win10.txt
Labels: changelog-entry-required

#11394 doc: Replace testing instructions with the Infocenter link
  doc/nrf/links.txt
  samples/wifi/sta/README.rst
Labels: doc-required, changelog-entry-required

#11355 applications: nrf5340_audio: Fixes 'no headset in stream state' bug
  applications/nrf5340_audio/src/audio/streamctrl.c
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
Labels: bugfix

#11364 doc: sml: Fix SoC discovery
  doc/_scripts/software_maturity/software_maturity_scanner.py
Labels: doc-required, changelog-entry-required, bugfix

#11369 drivers: wifi: Fix shell dependency
  drivers/wifi/nrf700x/Kconfig.nrf700x
Labels: changelog-entry-required

#11333 sample: Bluetooth: Mesh: mesh coex minor improvements
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/src/lb_service_handler.c
Labels: changelog-entry-required

#10952 doc: Add Wireless coexistence page under Protocols
  doc/nrf/protocols.rst
  doc/nrf/protocols/coexistence/index.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, changelog-entry-required

#11351 samples: direct_test_mode: Add support for the nRF52840 DK
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/direct_test_mode/sample.yaml
Labels: doc-required

#11395 manifest: Update to Zephyr with latest HW models
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#11387 manifest: nrfxlib update
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#11404 samples: nrf9160: modem_shell: Twister config for integration job
  samples/nrf9160/modem_shell/sample.yaml
Labels: changelog-entry-required

#11428 doc: small fixes to Thingy:53 documentation
  doc/nrf/working_with_nrf/nrf53/thingy53.rst
  doc/nrf/working_with_nrf/nrf53/thingy53_gs.rst
Labels: doc-required, CI-disable

#11419 caf: ble_adv: Adapt CAF_BLE_ADV_FILTER_ACCEPT_LIST for multi-core
  doc/nrf/releases/release-notes-changelog.rst
  subsys/caf/modules/Kconfig.ble_adv
Labels: doc-required

#11429 applications: nrf5340_audio: Move MCS discover for headset
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_headset.c
Labels: bugfix

#11374 Bluetooth: mesh: add Kconfigs for NLC profiles
  doc/nrf/protocols/bt_mesh/nlc.rst
  samples/bluetooth/mesh/light_ctrl/prj.conf
  samples/bluetooth/mesh/light_dimmer/prj.conf
  samples/bluetooth/mesh/sensor_server/prj.conf
  subsys/bluetooth/mesh/Kconfig
Labels: ble mesh

#11427 lib: multicell_location: Remove this library
  .github/test-spec.yml
  CODEOWNERS
  doc/nrf/libraries/networking/multicell_location.rst
  doc/nrf/releases/release-notes-1.8.0.rst
  doc/nrf/releases/release-notes-2.0.0.rst
  doc/nrf/releases/release-notes-2.1.0.rst
  doc/nrf/releases/release-notes-2.2.0.rst
  doc/nrf/releases/release-notes-2.3.0.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/net/multicell_location.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/multicell_location/CMakeLists.txt
  lib/multicell_location/Kconfig
  lib/multicell_location/multicell_location.c
  lib/multicell_location/services/CMakeLists.txt
  lib/multicell_location/services/here_integration.c
  lib/multicell_location/services/here_integration.h
  lib/multicell_location/services/location_service.c
  lib/multicell_location/services/location_service.h
  lib/multicell_location/services/nrf_cloud_integration.c
  lib/multicell_location/services/nrf_cloud_integration.h
Labels: doc-required

#11357 lib: identity_key: Do panic instead of assert
  lib/identity_key/identity_key.c
Labels: changelog-entry-required

#11436 doc: openthread: fix power consumption table parameters
  doc/nrf/protocols/thread/overview/power_consumption.rst
Labels: doc-required, CI-disable

#11401 docs: Improve nrfcloud logging docs
  doc/nrf/external_comp/nrf_cloud.rst
  doc/nrf/libraries/networking/nrf_cloud_log.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/README.rst
  samples/nrf9160/nrf_cloud_mqtt_multi_service/overlay_nrfcloud_logging.conf
  samples/nrf9160/nrf_cloud_mqtt_multi_service/prj.conf
  samples/nrf9160/nrf_cloud_rest_device_message/overlay_nrfcloud_logging.conf
Labels: doc-required

#11245 boards: nrf5340: use nrf_reset_network_force_off
  boards/arm/nrf7002dk_nrf5340/nrf5340_cpunet_reset.c
  boards/arm/nrf7002dk_nrf7001_nrf5340/nrf5340_cpunet_reset.c
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required, bugfix

#11418 applications: nrf5340_audio: Store prev vol on vol adjust
  applications/nrf5340_audio/src/modules/hw_codec.c
Labels: bugfix

#11371 applications: nrf_desktop: Allow build with PM events disabled
  applications/nrf_desktop/doc/ble_latency.rst
  applications/nrf_desktop/doc/board.rst
  applications/nrf_desktop/doc/motion.rst
  applications/nrf_desktop/src/hw_interface/Kconfig
  applications/nrf_desktop/src/hw_interface/Kconfig.board
  applications/nrf_desktop/src/hw_interface/Kconfig.motion
  applications/nrf_desktop/src/hw_interface/board.c
  applications/nrf_desktop/src/hw_interface/motion_sensor.c
  applications/nrf_desktop/src/hw_interface/motion_simulated.c
  applications/nrf_desktop/src/modules/Kconfig.ble_latency
  applications/nrf_desktop/src/modules/ble_latency.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#11360 tools: Use docker image with new coverity client
  scripts/ncs-docker-version.txt
Labels: changelog-entry-required

#11398 samples: peripheral_mds: Add note about experimental web client
  samples/bluetooth/peripheral_mds/README.rst
Labels: doc-required, changelog-entry-required

#11442 manifest: openthread: update to \`7e8f77b\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#11412 samples: nrf9160: http_update: update certificate for HTTPS
  doc/nrf/releases/release-notes-changelog.rst
  samples/nrf9160/http_update/common/cert/AmazonRootCA1
  samples/nrf9160/http_update/common/cert/BaltimoreCyberTrustRoot
  samples/nrf9160/http_update/common/src/update.c
Labels: doc-required

#11367 manifest: Update zephyr with fromtree CoAP client
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#11299 OCT-2505 ztest migration
  CODEOWNERS
  tests/lib/contin_array/prj.conf
  tests/lib/contin_array/src/main.c
  tests/lib/data_fifo/prj.conf
  tests/lib/data_fifo/src/main.c
  tests/lib/pcm_mix/prj.conf
  tests/lib/pcm_mix/src/main.c
  tests/lib/pcm_stream_channel_modifier/prj.conf
  tests/lib/pcm_stream_channel_modifier/src/main.c
  tests/lib/tone/prj.conf
  tests/lib/tone/src/main.c
  tests/nrf5340_audio/macros/main.c
  tests/nrf5340_audio/macros/prj.conf
  tests/nrf5340_audio/sw_codec_lc3/main.c
  tests/nrf5340_audio/sw_codec_lc3/prj.conf
Labels: changelog-entry-required

#11450 samples: nrf9160: modem_shell: Fix sample.yaml extra_configs syntax
  samples/nrf9160/modem_shell/sample.yaml
Labels: changelog-entry-required

#11446 codeowners: Update the nrf_802154-related codeowners
  CODEOWNERS
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#11448 tests: edge_impulse new api
  tests/lib/edge_impulse/prj.conf
  tests/lib/edge_impulse/src/main.cpp
Labels: changelog-entry-required

#11443 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#11119 applications: Added Wi-Fi support for Matter weather station
  applications/matter_weather_station/CMakeLists.txt
  applications/matter_weather_station/Kconfig
  applications/matter_weather_station/README.rst
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/hci_rpmsg/prj.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/child_image/hci_rpmsg/prj_release.conf
  applications/matter_weather_station/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  applications/matter_weather_station/sample.yaml
  applications/matter_weather_station/src/app_task.cpp
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/working_with_nrf/nrf53/thingy53.rst
  west.yml
Labels: doc-required, manifest, manifest-matter

#11447 tests: app_event_manager new api
  tests/subsys/app_event_manager/prj.conf
  tests/subsys/app_event_manager/src/main.c
Labels: changelog-entry-required

#11390 lib: edge_impulse: Update to new Kconfig options
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj_nus.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj_release.conf
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_rtt.conf
  doc/nrf/external_comp/edge_impulse.rst
  lib/edge_impulse/Kconfig
  samples/edge_impulse/wrapper/prj.conf
  tests/lib/edge_impulse/prj.conf
Labels: doc-required, changelog-entry-required

#11454 lib: edge_impulse: Add backup download source
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj_nus.conf
  applications/machine_learning/configuration/nrf52840dk_nrf52840/prj_release.conf
  applications/machine_learning/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp/prj_rtt.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_release.conf
  applications/machine_learning/configuration/thingy53_nrf5340_cpuapp_ns/prj_rtt.conf
  lib/edge_impulse/Kconfig
  samples/edge_impulse/wrapper/prj.conf
Labels: changelog-entry-required

#11295 applications: nrf5340_audio: BIS pointer changes
  applications/nrf5340_audio/src/bluetooth/le_audio.h
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_gateway.c
  applications/nrf5340_audio/src/bluetooth/le_audio_bis_headset.c
Labels: changelog-entry-required, bugfix

#11207 samples: matter: remove nrf7001ek and nrf7000ek platform
  samples/matter/light_bulb/sample.yaml
  samples/matter/lock/sample.yaml
Labels: changelog-entry-required

#11452 samples: wifi: sr_coex: update valid build options
  samples/wifi/sr_coex/sample.yaml
Labels: changelog-entry-required

#11451 Bluetooth: Mesh: Make Sensor Observer fit nrf52832
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/mesh/sensor_client/prj.conf
  scripts/quarantine.yaml
  scripts/quarantine_windows_mac.yaml
Labels: doc-required

#11460 samples: matter: disable Wi-Fi LMP in the case of OTA
  samples/matter/common/src/ota_multi_image_processor_impl.cpp
Labels: changelog-entry-required

#11453 doc improvement: Bluetooth libraries: fixing path to header file
  doc/nrf/libraries/bluetooth_services/services/bas_client.rst
  doc/nrf/libraries/bluetooth_services/services/hids.rst
  doc/nrf/libraries/bluetooth_services/services/lbs.rst
  doc/nrf/libraries/bluetooth_services/services/mds.rst
  doc/nrf/libraries/bluetooth_services/services/nsms.rst
  doc/nrf/libraries/bluetooth_services/services/nus_client.rst
  doc/nrf/libraries/bluetooth_services/services/throughput.rst
Labels: doc-required, CI-disable

#11455 doc improvement: fixing path to header file in a few lib docs
  doc/nrf/libraries/dfu/fmfu_mgmt.rst
  doc/nrf/libraries/networking/ftp_client.rst
  doc/nrf/libraries/nfc/ndef/launchapp.rst
  doc/nrf/libraries/others/qos.rst
Labels: doc-required, CI-disable, changelog-entry-required

#11349 asset_tracker_v2: Enable link time optimization
  applications/asset_tracker_v2/CMakeLists.txt
  applications/asset_tracker_v2/Kconfig
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#11467 drivers: wifi: Update RPU patch to rev#154
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#11466 doc: Function rename on the HID forward module
  applications/nrf_desktop/doc/hid_forward.rst
Labels: doc-required, CI-disable

#11474 samples: matter: disable Wi-Fi LMP in the case of OTA (2.4.1 release)
  samples/matter/common/src/ota_multi_image_processor_impl.cpp
Labels: changelog-entry-required, bugfix

#11470 manifest: Update hostap to remove mbedtls entropy usage
  west.yml
Labels: manifest, changelog-entry-required, manifest-hostap

#11476 samples: nrf9160: udp: Add note about PSM Active Time in doc
  samples/nrf9160/udp/README.rst
Labels: doc-required

#11459 Bluetooth: Better docs for link configuration for SDC at BT_MAX_CONN
  subsys/bluetooth/Kconfig
Labels: changelog-entry-required

#11478 applications: asset_tracker_v2: update default active wait time
  applications/asset_tracker_v2/doc/app_behavior.rst
  applications/asset_tracker_v2/src/modules/Kconfig.data_module
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#11456 doc: regroup power optimization pages
  doc/nrf/app_dev/optimizing/power.rst
  doc/nrf/app_dev/optimizing/power_general.rst
  doc/nrf/app_dev/optimizing/power_nrf9160.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable, changelog-entry-required

#11483 serial_lte_modem: Remove unnecessary header include
  applications/serial_lte_modem/src/ftp_c/slm_at_tftp.c
Labels: changelog-entry-required

#11464 manifest: openthread: update to \`edc1a3f\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#11489 applications: serial_lte_modem: use DOWNLOAD_CLIENT_MAX_FILENAME_SIZE
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/slm_at_fota.c
Labels: changelog-entry-required

#11499 applications: asset_tracker_v2: debug_module_test: Fix stack overflow
  applications/asset_tracker_v2/tests/debug_module/CMakeLists.txt
  applications/asset_tracker_v2/tests/debug_module/prj.conf
Labels: changelog-entry-required

#10718 application: serial_lte_modem: add GNSS back to Carrier
  applications/serial_lte_modem/overlay-carrier.conf
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  applications/serial_lte_modem/src/slm_at_commands.c
Labels: Stale, changelog-entry-required

#11340 applications: asset_tracker_v2: fix movement timeout handling
  applications/asset_tracker_v2/src/main.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#11379 modem: pdn: Allow PDP_TYPE-only config
  doc/nrf/releases/release-notes-changelog.rst
  lib/pdn/pdn.c
Labels: doc-required

#11480 manifest: nrfxlib update
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#11485 doc: move limitation to known issue
  doc/nrf/known_issues.rst
Labels: doc-required, changelog-entry-required

#11406 samples: nrf9160: modem_shell: Remove warning if AT%REL14FEAT fails
  samples/nrf9160/modem_shell/src/link/link.c
Labels: changelog-entry-required

#10965 Fix an issue when ESB_NEVER_DISABLE_TX is enabled.
  subsys/esb/esb.c
Labels: CI-trusted-author, external, changelog-entry-required

#10796 CODEOWNERS: Add entry for `aws_*` network libraries
  CODEOWNERS
Labels: changelog-entry-required

#11509 applications: asset_tracker_v2: make json_common test portable
  applications/asset_tracker_v2/tests/json_common/CMakeLists.txt
Labels: changelog-entry-required

#11477 manifest: sdk-hostap: Pull support for event notification
  west.yml
Labels: manifest, changelog-entry-required, manifest-hostap

#11414 doc : Add link to Zephyr release notes
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#11490 samples: nrf9160: modem_shell: Fix RSRP conversion
  samples/nrf9160/modem_shell/src/link/link.c
Labels: changelog-entry-required

#11527 tools: Update toolchain script
  scripts/print_toolchain_checksum.sh
Labels: changelog-entry-required

#11512 doc: matter: remove outdated sentence about Wi-Fi support
  doc/nrf/protocols/matter/index.rst
Labels: doc-required, changelog-entry-required

#11524 manifest: sdk-hostap: Pull in flash optimization option
  west.yml
Labels: manifest, changelog-entry-required, manifest-hostap

#11492 tests: app_event_manager new api with shuffling
  tests/subsys/app_event_manager/prj.conf
  tests/subsys/app_event_manager/src/modules/test_data.c
  tests/subsys/app_event_manager/src/modules/test_multicontext_handler.c
  tests/subsys/app_event_manager/src/modules/test_subs.c
Labels: changelog-entry-required

#11522 EMDS: Fixed Coveriy issues
  tests/subsys/emds/emds_api/src/main.c
  tests/subsys/emds/emds_flash/src/main.c
Labels: changelog-entry-required

#11494 manifest: Update zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#11495 manifest: Update zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#11536 manifest: openthread: update to \`d629ddc\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#11461 doc: matter: add memory optimization page
  doc/nrf/app_dev/optimizing/memory.rst
  doc/nrf/links.txt
  doc/nrf/protocols/matter/getting_started/index.rst
  doc/nrf/protocols/matter/getting_started/memory_optimization.rst
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#11533 manifest: Update bsim to v2.1.1
  west.yml
Labels: manifest, changelog-entry-required, manifest-bsim

#11503 Bluetooth: Mesh: Fix typo in onoff set shell cmd
  subsys/bluetooth/mesh/shell/shell_onoff_cli.c
Labels: changelog-entry-required

#11413 Remove mbedtls_hkdf usage
  subsys/nrf_security/cmake/psa_crypto_config.cmake
  subsys/nrf_security/configs/psa_crypto_config.h.template
  subsys/nrf_security/src/legacy/CMakeLists.txt
  subsys/nrf_security/tfm/CMakeLists.txt
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-trusted-firmware-m, changelog-entry-required

#11511 Bluetooth: Mesh: Fixed Coverity issues
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/src/lb_service_handler.c
  subsys/bluetooth/mesh/sensor.c
  subsys/bluetooth/mesh/sensor_cli.c
  subsys/bluetooth/mesh/sensor_srv.c
  subsys/bluetooth/mesh/shell/shell_utils.c
Labels: ble mesh

#11529 samples: bootloader: Add missing conf file for nrf5340_audio_dk
  samples/bootloader/boards/nrf5340_audio_dk_nrf5340_cpuapp.conf
Labels: changelog-entry-required

#10775 manifest: update sdk-nrfxlib
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#11504 applications: serial_lte_modem: Remove DFU AT commands.
  applications/serial_lte_modem/CMakeLists.txt
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/AT_commands_intro.rst
  applications/serial_lte_modem/doc/DFU_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/dfu/CMakeLists.txt
  applications/serial_lte_modem/src/dfu/Kconfig
  applications/serial_lte_modem/src/dfu/dfu_host.c
  applications/serial_lte_modem/src/dfu/dfu_host.h
  applications/serial_lte_modem/src/dfu/dfu_host_legacy.c
  applications/serial_lte_modem/src/dfu/dfu_target_nrf52.c
  applications/serial_lte_modem/src/dfu/dfu_target_nrf52.h
  applications/serial_lte_modem/src/dfu/slip.c
  applications/serial_lte_modem/src/dfu/slip.h
  applications/serial_lte_modem/src/dfu/slm_at_dfu.c
  applications/serial_lte_modem/src/dfu/slm_at_dfu.h
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_host.c
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#11517 Bluetooth: Mesh: Remove storage timers from models
  doc/nrf/libraries/bluetooth_services/mesh/gen_plvl_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_ponoff_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_prop_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_ctrl_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_hue_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_sat_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_temp_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_xyl_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/lightness_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/sensor_srv.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/mesh/gen_plvl_srv.h
  include/bluetooth/mesh/gen_ponoff_srv.h
  include/bluetooth/mesh/gen_prop_srv.h
  include/bluetooth/mesh/light_ctrl_srv.h
  include/bluetooth/mesh/light_hue_srv.h
  include/bluetooth/mesh/light_sat_srv.h
  include/bluetooth/mesh/light_temp_srv.h
  include/bluetooth/mesh/light_xyl_srv.h
  include/bluetooth/mesh/lightness_srv.h
  include/bluetooth/mesh/sensor_srv.h
  include/bluetooth/mesh/vnd/dm_srv.h
  subsys/bluetooth/mesh/Kconfig.models
  subsys/bluetooth/mesh/gen_plvl_srv.c
  subsys/bluetooth/mesh/gen_ponoff_srv.c
  subsys/bluetooth/mesh/gen_prop_srv.c
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/light_hue_srv.c
  subsys/bluetooth/mesh/light_sat_srv.c
  subsys/bluetooth/mesh/light_temp_srv.c
  subsys/bluetooth/mesh/light_xyl_srv.c
  subsys/bluetooth/mesh/lightness_srv.c
  subsys/bluetooth/mesh/sensor_srv.c
  subsys/bluetooth/mesh/vnd/dm_srv.c
Labels: doc-required, ble mesh

#11551 nrf_security: User supplied PRNG
  subsys/nrf_security/Kconfig.psa
  subsys/nrf_security/cmake/psa_crypto_config.cmake
  subsys/nrf_security/configs/psa_crypto_config.h.template
  subsys/nrf_security/src/psa_crypto_driver_wrappers.c
Labels: changelog-entry-required

#11469 treewide: rename nrf7002ek_nrf7002 to nrf7002ek
  applications/asset_tracker_v2/doc/location_module.rst
  applications/asset_tracker_v2/nrf91xxdk_with_nrf7002ek.overlay
  doc/nrf/protocols/matter/getting_started/hw_requirements.rst
  doc/nrf/protocols/matter/overview/integration.rst
  samples/nrf9160/location/README.rst
  samples/nrf9160/location/nrf9160dk_with_nrf7002ek.overlay
  samples/nrf9160/lwm2m_client/boards/nrf9160dk_with_nrf7002ek.overlay
  samples/nrf9160/modem_shell/nrf9160dk_with_nrf7002ek.overlay
  samples/nrf9160/nrf_cloud_mqtt_multi_service/nrf9160dk_with_nrf7002ek.overlay
  samples/wifi/shell/boards/nrf52840dk_nrf52840.overlay
  samples/wifi/shell/boards/nrf9160dk_nrf9160_ns.overlay
Labels: doc-required, changelog-entry-required

#11542 manifest: pull hostap fix for unused symbol
  west.yml
Labels: manifest, changelog-entry-required, manifest-hostap

#11561 Bluetooth: Mesh: Fixed wrong coverity update.
  subsys/bluetooth/mesh/sensor_srv.c
Labels: ble mesh

#11526 applications: serial_lte_modem: Remove bootloader fota update
  applications/serial_lte_modem/doc/FOTA_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/overlay-secure_bootloader.conf
  applications/serial_lte_modem/src/main.c
  applications/serial_lte_modem/src/slm_at_fota.c
  applications/serial_lte_modem/src/slm_at_fota.h
  doc/nrf/releases/release-notes-changelog.rst
Labels: doc-required

#11539 manifest: pull Matter Wi-Fi logs optimization
  west.yml
Labels: manifest, manifest-matter

#11525 ci: test-spec: Update IoT test filters
  .github/test-spec.yml
Labels: changelog-entry-required, CI-iot-samples-test

#11577 doc: extensions: Shields in requirements table
  doc/_extensions/table_from_rows.py
Labels: doc-required, changelog-entry-required

#11562 scripts: Update requirements-fixed.txt
  scripts/requirements-fixed.txt
Labels: CI-trusted-author, changelog-entry-required

#11575 nrf_security: Remove duplication of CMAC configuration
  subsys/nrf_security/cmake/psa_crypto_config.cmake
  subsys/nrf_security/configs/psa_crypto_config.h.template
  subsys/nrf_security/include/psa/psa_crypto_config_oberon.h
Labels: changelog-entry-required

#10434 net: l2_wifi: Add connect call with stored credentials.
  doc/nrf/releases/release-notes-changelog.rst
  drivers/wifi/nrf700x/Kconfig.nrf700x
  drivers/wifi/nrf700x/zephyr/src/zephyr_fmac_main.c
  drivers/wifi/nrf700x/zephyr/src/zephyr_net_if.c
  include/net/l2_wifi_connect.h
  subsys/net/CMakeLists.txt
  subsys/net/Kconfig
  subsys/net/l2_wifi_if_conn/CMakeLists.txt
  subsys/net/l2_wifi_if_conn/Kconfig
  subsys/net/l2_wifi_if_conn/l2_wifi_conn.c
Labels: doc-required, manifest-zephyr

#11444 doc: matter: edit links with correct SHA
  doc/nrf/links.txt
Labels: doc-required

#11410 doc: Thread: created types page, moved sed vs ssed
  doc/nrf/links.txt
  doc/nrf/protocols/thread/device_types.rst
  doc/nrf/protocols/thread/index.rst
  doc/nrf/protocols/thread/overview/commissioning.rst
  doc/nrf/protocols/thread/overview/supported_features.rst
  doc/nrf/protocols/thread/sed_ssed.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/matter/window_covering/README.rst
Labels: doc-required, CI-disable

#11568 CODEOWNERS: Update crypto sources to current organization
  CODEOWNERS
Labels: changelog-entry-required

#11552 doc: nrf5340audio: fix path in docs
  applications/nrf5340_audio/README.rst
Labels: doc-required, CI-disable

#11558 doc: matter: Add a known issue about the nRF53 network crash
  doc/nrf/known_issues.rst
Labels: doc-required

#11457 lib: modem_key_mgmt: update modem_key_mgmt.c
  doc/nrf/releases/release-notes-changelog.rst
  lib/modem_key_mgmt/modem_key_mgmt.c
Labels: doc-required

#11543 tests: edge_impulse new api with shuffling
  tests/lib/edge_impulse/prj.conf
  tests/lib/edge_impulse/src/edge_impulse_zip/edge-impulse-sdk/ei_run_classifier_mock.cpp
  tests/lib/edge_impulse/src/edge_impulse_zip/ei_run_classifier_mock.h
  tests/lib/edge_impulse/src/main.cpp
Labels: changelog-entry-required

#11591 Bluetooth: remove direct include of `hci_err.h`
  subsys/bluetooth/controller/ecdh.c
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#11487 lib: nrf_modem: NRF_MODEM_LIB_ON_INIT only allow pre-link operations
  doc/nrf/libraries/modem/nrf_modem_lib.rst
  include/modem/nrf_modem_lib.h
Labels: doc-required, changelog-entry-required

#11595 samples: nrf9160: gnss: forgot to add 'CONFIG_'
  samples/nrf9160/gnss/src/main.c
Labels: external, changelog-entry-required, CI-Requested

#11550 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#11599 manifest: openthread: update to \`dad7754\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#11598 manifest: update homekit revision
  west.yml
Labels: manifest, manifest-homekit

#11590 lib: nrf_modem: allow modem shutdown in flight mode
  doc/nrf/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/nrf_modem_lib.c
Labels: doc-required

#11571 manifest: Update nrfxlib with possibility to split mpsl and fem
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#11584 doc: Fixes for FEM documentation
  doc/nrf/app_dev/working_with_fem/index.rst
Labels: doc-required, changelog-entry-required

#11587 Bluetooth: Mesh: Fix bug DTT spanning multiple elements
  doc/nrf/libraries/bluetooth_services/mesh/gen_dtt.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_dtt_srv.rst
  doc/nrf/releases/release-notes-changelog.rst
  include/bluetooth/mesh/gen_dtt_srv.h
  subsys/bluetooth/mesh/gen_dtt_srv.c
  subsys/bluetooth/mesh/scene_srv.c
Labels: doc-required, ble mesh

#11601 nrf_security: Remove help text about only Oberon PSA core support
  subsys/nrf_security/src/drivers/nrf_cc3xx_platform/Kconfig
  subsys/nrf_security/src/drivers/nrf_oberon/Kconfig
  subsys/nrf_security/src/drivers/zephyr/Kconfig
Labels: changelog-entry-required

#11592 drivers: wifi: Update RPU patch to rev#159
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/host_rpu_sys_if.h
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#11597 manifest: Update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#11613 Bluetooth: Mesh: Don't use Generic DTT server in Light LC server
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: changelog-entry-required, ble mesh

#11616 doc: nrf5340_audio: fix underscores in parameter
  applications/nrf5340_audio/README.rst
Labels: CI-disable

#11618 tests: edge_impulse increase timeout
  tests/lib/edge_impulse/testcase.yaml
Labels: changelog-entry-required

#11614 manifest: update softdevice controller and mpsl
  west.yml
Labels: manifest, manifest-dragoon

#11518 applications: nrf5340_audio: Fix for receiving capabilities
  applications/nrf5340_audio/src/bluetooth/le_audio_cis_gateway.c
Labels: bugfix

#11311 doc: Added working with PMICs section
  doc/nrf/index.rst
  doc/nrf/links.txt
  doc/nrf/pmic.rst
  doc/nrf/releases/release-notes-changelog.rst
  doc/nrf/working_with_pmic/npm1300/features.rst
  doc/nrf/working_with_pmic/npm1300/gs.rst
Labels: doc-required

#11565 doc: emds: document formula for time estimation
  doc/nrf/libraries/others/emds.rst
  doc/nrf/releases/release-notes-changelog.rst
  samples/bluetooth/mesh/light_ctrl/README.rst
  subsys/emds/emds_flash.c
Labels: doc-required

#11615 doc: Clarify legacy and PSA crypto config
  doc/nrf/libraries/nrf_security/doc/configuration.rst
Labels: doc-required

#11605 manifest: sdk-zephyr: Pull fix for PS timeout data type
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#11607 doc: manifest PR for nrfxlibPR1031
  doc/nrf/security/ap_protect.rst
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib, changelog-entry-required

#11649 manifest: openthread: update to \`11a38a6\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#11623 doc improvement: resize Wi-Fi images
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/images/power_profiler2_pc_nrf7002_dk.png
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/images/power_profiler2_pc_nrf7002_dk.svg
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/powersave.rst
  doc/nrf/device_guides/working_with_nrf/nrf70/images/nRF70dk.png
Labels: doc-required, changelog-entry-required

#11653 applications: asset_tracker_v2: Enable `FW_INFO` in MCUboot image
  applications/asset_tracker_v2/child_image/mcuboot.conf
Labels: changelog-entry-required

#11656 net: lib: nrf_cloud: allow a-gps codec functions for p-gps builds
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/include/nrf_cloud_codec_internal.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec_internal.c
Labels: doc-required, changelog-entry-required

#11627 samples: bluetooth: peripheral_uart: Increase the main stack size
  samples/bluetooth/peripheral_uart/prj_minimal.conf
Labels: changelog-entry-required

#11660 doc: fixing link to known issues
  doc/_utils/redirects.py
  doc/nrf/links.txt
Labels: doc-required, CI-disable, changelog-entry-required

#11661 tests: fast_pair: crypto: Migrate to new ztest API
  tests/subsys/bluetooth/fast_pair/crypto/prj.conf
  tests/subsys/bluetooth/fast_pair/crypto/prj_mbedtls.conf
  tests/subsys/bluetooth/fast_pair/crypto/prj_tinycrypt.conf
  tests/subsys/bluetooth/fast_pair/crypto/src/main.c
Labels: 10-min-review

#11651 Find My: fixes for the next v2.4 minor releases
  west.yml
Labels: manifest, manifest-zephyr, manifest-find-my

#11611 doc: ap-protect: update to user guide and glossary
  doc/nrf/documentation/glossary.rst
  doc/nrf/security/ap_protect.rst
Labels: doc-required, CI-disable, changelog-entry-required
