Repository nrfconnect/sdk-nrf, pull requests merged in 2023-11, with the labels that each got.

#12926 nrf_security: Fix broken montgomery and twisted edwards key management
  subsys/nrf_security/cmake/psa_crypto_config.cmake
  subsys/nrf_security/configs/psa_crypto_config.h.template
  subsys/nrf_security/src/drivers/nrf_oberon/Kconfig
Labels: changelog-entry-required

#12305 sample: cellular: coap_client: Use network manager
  .github/test-spec.yml
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/coap_client/sample.yaml
  samples/cellular/coap_client/src/main.c
  samples/net/coap_client/CMakeLists.txt
  samples/net/coap_client/Kconfig
  samples/net/coap_client/README.rst
  samples/net/coap_client/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/net/coap_client/boards/nrf9160dk_nrf9160_ns.conf
  samples/net/coap_client/boards/nrf9161dk_nrf9161_ns.conf
  samples/net/coap_client/boards/qemu_x86.conf
  samples/net/coap_client/boards/thingy91_nrf9160_ns.conf
  samples/net/coap_client/prj.conf
  samples/net/coap_client/sample.yaml
  samples/net/coap_client/src/main.c
Labels: doc-required

#12911 Applications: nrf5340_audio: Increased stack size
  applications/nrf5340_audio/src/audio/Kconfig
Labels: changelog-entry-required

#12646 doc: working_with_pmic: Added developing with npm1300
  doc/nrf/device_guides/pmic.rst
  doc/nrf/device_guides/working_with_pmic/npm1300/developing.rst
  doc/nrf/device_guides/working_with_pmic/npm1300/features.rst
Labels: doc-required, changelog-entry-required

#12916 doc: wifi: minor fixes to resource constrained host ug
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/constrained.rst
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/soc_combo.csv
Labels: doc-required, changelog-entry-required

#10863 manifest: Remove cryptocell usable configs and use HAS_HW instead
  drivers/entropy/Kconfig
  subsys/nrf_security/Kconfig.legacy
  subsys/nrf_security/src/drivers/Kconfig
  subsys/nrf_security/src/legacy/CMakeLists.txt
  west.yml
Labels: manifest, manifest-zephyr, manifest-nrfxlib, changelog-entry-required

#12896 samples: cellular: modem_shell: Subcommands into Zephyr macros
  samples/cellular/modem_shell/src/at/at_shell.c
  samples/cellular/modem_shell/src/link/link_shell.c
  samples/cellular/modem_shell/src/location/location_shell.c
  samples/cellular/modem_shell/src/ping/icmp_ping_shell.c
  samples/cellular/modem_shell/src/ppp/ppp_shell.c
  samples/cellular/modem_shell/src/rest/rest_shell.c
  samples/cellular/modem_shell/src/sms/sms_shell.c
  samples/cellular/modem_shell/src/sock/sock_shell.c
  samples/cellular/modem_shell/src/startup_cmd/startup_cmd_shell.c
Labels: changelog-entry-required

#12941 test-spec: Trigger Sidewalk on nrf_security changes
  .github/test-spec.yml
Labels: changelog-entry-required

#12924 Bluetooth: Controller: Remove setting unused CONFIG_BT_CTLR_RX_BUFFERS
  applications/connectivity_bridge/prj.conf
  doc/nrf/test_and_optimize/optimizing/memory.rst
  samples/bluetooth/peripheral_lbs/prj_minimal.conf
  samples/bluetooth/peripheral_uart/prj_minimal.conf
  samples/bluetooth/throughput/prj.conf
Labels: doc-required

#12800 doc: samples: Zephyr examples testing note
  doc/nrf/samples.rst
Labels: CI-disable

#12897 tools: Update packages with vulnerabilities
  scripts/pip-audit-whitelist.yml
  scripts/requirements-ci.txt
  scripts/requirements-fixed.txt
Labels: changelog-entry-required

#12833 manifest: update nrfxlib
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#12813 applications: asset_tracker_v2: Cancelling previous location request
  applications/asset_tracker_v2/src/modules/location_module.c
Labels: changelog-entry-required

#12952 ci: pip requirements workflow
  .github/workflows/pip-requirements.yml
Labels: CI-disable, changelog-entry-required

#12942 doc: added HomeKit deprecation notes
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#12901 samples: cellular: mss: Wait for connection before printing connected.
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_multi_service/src/cloud_connection.c
Labels: doc-required

#12945 bluetooth: controller: add vs command set_power_control_request_params
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#12927 lib: lte_link_control: Allow more missing params for CEREG
  include/modem/lte_lc.h
  include/modem/lte_lc_trace.h
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc_helpers.c
  tests/lib/lte_lc_api/src/lte_lc_api_test.c
Labels: changelog-entry-required

#12803 applications: nrf5340_audio: Check if local json file exists.
  applications/nrf5340_audio/tools/buildprog/buildprog.py
Labels: changelog-entry-required

#12957 manifest: openthread: update to \`5058500\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#12707 tfm: Kconfig: Enable TF-M logging by default also with minimal conf
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  modules/trusted-firmware-m/Kconfig
Labels: doc-required

#12923 subsys: audio_module: Create unit tests for the audio framework
  CODEOWNERS
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/sw_codec_select.c
  applications/nrf5340_audio/src/audio/sw_codec_select.h
  doc/nrf/libraries/others/audio_module.rst
  doc/nrf/libraries/others/images/audio_module_example.svg
  doc/nrf/libraries/others/images/audio_module_functions.svg
  doc/nrf/libraries/others/images/audio_module_states.svg
  doc/nrf/libraries/others/images/audio_module_stream.svg
  include/audio_module/audio_module.h
  subsys/CMakeLists.txt
  subsys/Kconfig
  subsys/audio_module/CMakeLists.txt
  subsys/audio_module/Kconfig
  subsys/audio_module/audio_module.c
  tests/subsys/audio_module/CMakeLists.txt
  tests/subsys/audio_module/prj.conf
  tests/subsys/audio_module/src/audio_module_test_common.c
  tests/subsys/audio_module/src/audio_module_test_common.h
  tests/subsys/audio_module/src/bad_param_test.c
  tests/subsys/audio_module/src/fakes.c
  tests/subsys/audio_module/src/fakes.h
  tests/subsys/audio_module/src/functional_test.c
  tests/subsys/audio_module/src/main.c
  tests/subsys/audio_module/testcase.yaml
Labels: doc-required, changelog-entry-required

#12935 doc: wifi: update TWT
  samples/wifi/twt/README.rst
Labels: doc-required, changelog-entry-required

#12970 manifest: sdk-nrfxlib: Pull nRF70 patch update rev#1c05858e8b7
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#12982 drivers: wifi: Fix QSPI crash
  drivers/wifi/nrf700x/src/qspi/inc/qspi_if.h
  drivers/wifi/nrf700x/src/qspi/src/device.c
  drivers/wifi/nrf700x/src/qspi/src/rpu_hw_if.c
Labels: changelog-entry-required

#12974 manifest: Update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#12985 doc: openthread: remove KRKNWK-14756 from known issues
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required

#12969 doc: update adding device to nRF Cloud
  doc/nrf/device_guides/working_with_nrf/nrf91/images/nrfcloud_activating_sim.png
  doc/nrf/device_guides/working_with_nrf/nrf91/images/nrfcloud_add_lte_device.png
  doc/nrf/device_guides/working_with_nrf/nrf91/images/nrfcloud_add_lte_device1.png
  doc/nrf/device_guides/working_with_nrf/nrf91/images/nrfcloud_addnew.png
  doc/nrf/device_guides/working_with_nrf/nrf91/images/nrfcloud_devices.png
  doc/nrf/device_guides/working_with_nrf/nrf91/images/nrfcloud_plus_sign_callout.png
  doc/nrf/device_guides/working_with_nrf/nrf91/nrf9160_gs.rst
  doc/nrf/device_guides/working_with_nrf/nrf91/thingy91_gsg.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable, doc only

#12973 Bluetooth: Controller: New config for central event spacing
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_driver.c
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#12986 doc: wifi: update pin out table in nRF7002 EB section
  doc/nrf/device_guides/working_with_nrf/nrf70/gs.rst
Labels: doc-required, changelog-entry-required

#12678 application: serial_lte_modem: Add #XMQTTCFG command
  applications/serial_lte_modem/doc/MQTT_AT_commands.rst
  applications/serial_lte_modem/src/mqtt_c/slm_at_mqtt.c
  applications/serial_lte_modem/src/slm_at_commands.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#12984 manifest: Update sdk-zephyr with bt_hci_get_ver_str()
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#12988 shell: Align log message queue size for backends
  subsys/shell/Kconfig
Labels: changelog-entry-required

#12997 doc: extensions: page_filter: append tag container to parent
  doc/_extensions/static/page_filter.mjs
Labels: doc-required, CI-trusted-author, changelog-entry-required

#12987 manifest: update twister to improve pytest reporting
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#13005 manifest: matter: Pull fix for 5GHz Wi-Fi
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#12889 applications: serial_lte_modem: ignore obsolete settings
  applications/serial_lte_modem/src/slm_settings.c
Labels: bugfix

#11758 lib: modem_antenna: add support for MIPI RFFE configuration
  lib/modem_antenna/Kconfig
  lib/modem_antenna/modem_antenna.c
Labels: Stale, changelog-entry-required

#12265 samples: bluetooth: encrypt throughput sample
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/throughput/src/main.c
Labels: doc-required

#12870 doc: Add known issue if NCSDK-24305
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, doc only

#12533 drivers: mpsl: permit non-sync flash operations from fault exceptions
  drivers/mpsl/flash_sync/flash_sync_mpsl.c
Labels: changelog-entry-required

#12993 manifest: sdk-nrfxlib: Pull fix for Wi-Fi docs
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#13010 samples: bluetooth: central_uart: Fix memory leak
  samples/bluetooth/central_uart/src/main.c
Labels: changelog-entry-required, 10-min-review

#12538 samples: matter: bridge sample with smp added
  applications/matter_bridge/sample.yaml
  applications/matter_weather_station/sample.yaml
  scripts/quarantine_integration.yaml
Labels: changelog-entry-required

#13019 manifest: sdk-nrfxlib: Pull nRF70 patch update rev#4922583d657
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#12949 ci: Fix west update pip requirements workflow
  .github/workflows/pip-requirements.yml
  scripts/compile-requirements.sh
Labels: CI-disable, changelog-entry-required

#13016 drivers: mpsl: Fix for simulation
  drivers/mpsl/flash_sync/flash_sync_mpsl.c
Labels: changelog-entry-required

#12437 doc: installation: review section
  doc/_utils/redirects.py
  doc/nrf/config_and_build/programming.rst
  doc/nrf/documentation/build.rst
  doc/nrf/installation.rst
  doc/nrf/installation/assistant.rst
  doc/nrf/installation/install_ncs.rst
  doc/nrf/installation/installing.rst
  doc/nrf/installation/recommended_versions.rst
  doc/nrf/installation/updating.rst
  doc/nrf/links.txt
  doc/nrf/protocols/matter/getting_started/tools.rst
  doc/nrf/protocols/zigbee/qsg.rst
  doc/nrf/releases_and_maturity/developing/adding_code.rst
  doc/nrf/releases_and_maturity/developing/code_base.rst
  doc/nrf/releases_and_maturity/developing/managing_code.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/nrf/templates/cheat_sheet.rst
Labels: doc-required, CI-disable, doc only

#12891 sample: aws_iot: Dummy credential format
  samples/net/aws_iot/certs/ca-cert.pem
  samples/net/aws_iot/certs/client-cert.pem
  samples/net/aws_iot/certs/private-key.pem
Labels: changelog-entry-required

#13021 samples: wifi: scan: Display security settings properly
  samples/wifi/scan/src/main.c
Labels: changelog-entry-required

#13023 samples: wifi: sta: Log Wi-Fi status after connection
  samples/wifi/sta/src/main.c
Labels: changelog-entry-required

#13009 samples: crypto: psa_tls: Add DTLS support
  samples/crypto/psa_tls/CMakeLists.txt
  samples/crypto/psa_tls/overlays/dtls.conf
  samples/crypto/psa_tls/sample.yaml
  samples/crypto/psa_tls/src/psa_dtls_functions_client.c
  samples/crypto/psa_tls/src/psa_dtls_functions_server.c
  samples/crypto/psa_tls/src/psa_tls_common.c
Labels: changelog-entry-required

#12631 ci: Update requirements-fixed.txt format
  scripts/requirements-fixed.txt
Labels: CI-disable, changelog-entry-required

#13001 samples: cellular: mss Fix NRF_MODEM_LIB configuration
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_multi_service/prj.conf
  samples/cellular/nrf_cloud_multi_service/src/cloud_connection.c
Labels: doc-required

#13029 applications: serial_lte_modem: fix compilation when !CONFIG_SLM_FTPC && CONFIG_SLM_TFTPC
  applications/serial_lte_modem/CMakeLists.txt
Labels: changelog-entry-required

#13032 Update hci vs commands
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#12874 net: fota_download: Only retry on ECONNRESET
  include/net/download_client.h
  subsys/net/lib/download_client/src/download_client.c
  subsys/net/lib/fota_download/src/fota_download.c
  tests/subsys/net/lib/download_client/src/main.c
Labels: changelog-entry-required

#13011 samples: net: Add explicit calls to `conn_mgr_all_if_connect()`
  samples/net/aws_iot/src/main.c
  samples/net/azure_iot_hub/src/main.c
  samples/net/coap_client/src/main.c
  samples/net/mqtt/src/modules/network/network.c
  samples/net/udp/src/main.c
Labels: changelog-entry-required

#13041 doc: doc upload path fix
  .github/workflows/docpublish.yml
Labels: changelog-entry-required

#13028 Added trusted-firmware-m module as trigger to test spec
  .github/test-spec.yml
Labels: CI-disable, changelog-entry-required

#12983 lib: lte_link_control: Support for PSM config in seconds
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/modem/lte_lc.h
  lib/lte_link_control/Kconfig
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc_helpers.c
  lib/lte_link_control/lte_lc_helpers.h
  samples/cellular/modem_shell/src/link/link_shell.c
  tests/lib/lte_lc/src/main.c
  tests/lib/lte_lc_api/src/lte_lc_api_test.c
Labels: doc-required

#12961 bluetooth: Add VS cmd for the connection event trigger feature
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#13027 manifest: nrfxlib: Update to latest nrfxlib and dragoon
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#12871 Throughput sample
  CODEOWNERS
  doc/nrf/images/wifi_throughput_test_setup.png
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/wifi/throughput/CMakeLists.txt
  samples/wifi/throughput/README.rst
  samples/wifi/throughput/overlay-high-performance.conf
  samples/wifi/throughput/overlay-iot-devices.conf
  samples/wifi/throughput/overlay-memory-optimized.conf
  samples/wifi/throughput/overlay-rx-prio.conf
  samples/wifi/throughput/overlay-tx-prio.conf
  samples/wifi/throughput/overlay-zperf.conf
  samples/wifi/throughput/prj.conf
  samples/wifi/throughput/sample.yaml
  samples/wifi/throughput/src/main.c
Labels: doc-required

#13014 manifest: sdk-hostap: Pull fixes for socket response handling
  west.yml
Labels: manifest, changelog-entry-required, manifest-hostap

#13035 ci: Add a new Wi-Fi QA required label
  .github/labeler.yml
Labels: changelog-entry-required

#13038 doc: matter: Extended low power configuration with ICD information
  doc/nrf/protocols/matter/getting_started/low_power_configuration.rst
  doc/nrf/protocols/matter/index.rst
  doc/nrf/protocols/matter/overview/data_model.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  west.yml
Labels: doc-required, manifest, manifest-matter

#13054 doc: Doc publish fix for Zoomin
  .github/workflows/docpublish.yml
Labels: changelog-entry-required

#13058 nrf_security: Align AEAD setup of operation
  subsys/nrf_security/src/psa_crypto_driver_wrappers.c
Labels: changelog-entry-required

#12980 bluetooth: controller: hci_driver: update iso rx pdu pool macro
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_driver.c
Labels: manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#13065 net: lwm2m_client_utils: LwM2M utils settings fix
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_security.c
Labels: changelog-entry-required

#13050 twister: quarantine: Add quarantine for tests from sdk-zephyr
  scripts/quarantine_zephyr.yaml
Labels: CI-disable

#13033 applications: nrf5340_audio: Add timeout when creating PA sync
  applications/nrf5340_audio/include/nrf5340_audio_common.h
  applications/nrf5340_audio/src/audio/Kconfig
  applications/nrf5340_audio/src/audio/streamctrl_broadcast_sink.c
  applications/nrf5340_audio/src/bluetooth/bt_management/scanning/bt_mgmt_scan_for_broadcast.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_sink.c
Labels: changelog-entry-required

#13031 net: lwm2m_client_utils: Location assintance retry update
  doc/nrf/libraries/networking/lwm2m_location_assistance.rst
  include/net/lwm2m_client_utils_location.h
  samples/cellular/lwm2m_client/src/main.c
  subsys/net/lib/lwm2m_client_utils/CMakeLists.txt
  subsys/net/lib/lwm2m_client_utils/location/location_assistance.c
  subsys/net/lib/lwm2m_client_utils/location/location_retry_timer.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/gnss_assistance_obj.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/ground_fix_obj.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/include/gnss_assistance_obj.h
  subsys/net/lib/lwm2m_client_utils/lwm2m/include/location_assistance.h
  tests/subsys/net/lib/lwm2m_client_utils/src/location_assistance.c
Labels: doc-required, changelog-entry-required

#13062 nrf_security: Remove not useful PSA definitions
  subsys/nrf_security/Kconfig.psa
  subsys/nrf_security/cmake/psa_crypto_config.cmake
  subsys/nrf_security/configs/psa_crypto_config.h.template
  subsys/nrf_security/src/psa_crypto_driver_wrappers.c
Labels: changelog-entry-required

#13064 samples: bluetooth: Do not bond samples
  samples/bluetooth/llpm/prj.conf
  samples/bluetooth/throughput/prj.conf
  samples/bluetooth/throughput/src/main.c
Labels: changelog-entry-required

#12900 doc: nrf91: add quick start to nrf91 GSG
  doc/nrf/device_guides/working_with_nrf/nrf91/nrf9160.rst
  doc/nrf/device_guides/working_with_nrf/nrf91/nrf9160_gs.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#13026 manifest: sdk-zephyr: ble mesh adv and tfm psa usage improvements
  west.yml
Labels: manifest, manifest-zephyr, ble mesh

#12893 quarantine_windows_max: Remove quarantine for resolved issues
  scripts/quarantine_windows_mac.yaml
Labels: changelog-entry-required

#13039 applications: nrf_desktop: Remove dfu_slot_id function from dfu module
  applications/nrf_desktop/src/modules/dfu.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#13068 samples: cellular: udp: remove qemu_x86 support
  samples/cellular/udp/README.rst
  samples/cellular/udp/boards/qemu_x86.conf
  samples/cellular/udp/src/main.c
Labels: doc-required, changelog-entry-required

#13069 manifest: Update nrfxlib
  west.yml
Labels: manifest, manifest-nrfxlib

#13047 doc: getting started: Update system-wide instructions
  doc/nrf/installation/install_ncs.rst
  doc/nrf/links.txt
  doc/nrf/protocols/matter/getting_started/tools.rst
  doc/nrf/releases_and_maturity/developing/adding_code.rst
Labels: doc-required, manifest-zephyr, changelog-entry-required

#13067 samples: bluetooth: nrf_dm: Align configuration
  samples/bluetooth/nrf_dm/child_image/hci_rpmsg.conf
  samples/bluetooth/nrf_dm/prj.conf
  samples/bluetooth/nrf_dm/sysbuild/hci_rpmsg/prj.conf
Labels: changelog-entry-required, 10-min-review

#12996 Applications: nrf5340_audio: Experimental addition of SDC in buildprog
  applications/nrf5340_audio/tools/buildprog/buildprog.py
  applications/nrf5340_audio/tools/buildprog/nrf5340_audio_dk_devices.py
  applications/nrf5340_audio/tools/buildprog/program.py
Labels: CI-disable, changelog-entry-required

#12793 Wifi credentials
  doc/nrf/includes/wifi_credentials_shell.txt
  doc/nrf/includes/wifi_credentials_static.txt
  samples/debug/memfault/README.rst
  samples/debug/memfault/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/net/aws_iot/README.rst
  samples/net/aws_iot/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/net/azure_iot_hub/README.rst
  samples/net/azure_iot_hub/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/net/coap_client/README.rst
  samples/net/coap_client/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/net/download/README.rst
  samples/net/download/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/net/https_client/README.rst
  samples/net/https_client/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/net/mqtt/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/net/mqtt/doc/description.rst
  samples/net/udp/README.rst
  samples/net/udp/boards/nrf7002dk_nrf5340_cpuapp.conf
  subsys/net/lib/wifi_credentials/Kconfig
Labels: doc-required, changelog-entry-required

#11910 applications: nrf5340_audio: SD card playback PR
  applications/nrf5340_audio/Kconfig.defaults
  applications/nrf5340_audio/prj.conf
  applications/nrf5340_audio/sample.yaml
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/audio_system.c
  applications/nrf5340_audio/src/audio/audio_system.h
  applications/nrf5340_audio/src/audio/sw_codec_select.c
  applications/nrf5340_audio/src/audio/sw_codec_select.h
  applications/nrf5340_audio/src/main.c
  applications/nrf5340_audio/src/modules/CMakeLists.txt
  applications/nrf5340_audio/src/modules/Kconfig
  applications/nrf5340_audio/src/modules/sd_card.c
  applications/nrf5340_audio/src/modules/sd_card_playback.c
  applications/nrf5340_audio/src/modules/sd_card_playback.h
  tests/nrf5340_audio/sw_codec_lc3/main.c
Labels: CI-trusted-author, external, changelog-entry-required

#13072 docs: update KRKNWK-17718 workaround's known issue in Matter
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#13077 samples: Bluetooth: Mesh: no more tinycrypt in tfm psa based mesh
  samples/bluetooth/mesh/light/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_ctrl/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_dimmer/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh/light_switch/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
Labels: ble mesh

#12849 application: serial_lte_modem: Automatic LTE connection
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/doc/Generic_AT_commands.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/overlay-carrier.conf
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/lwm2m_carrier/slm_at_carrier.c
  applications/serial_lte_modem/src/lwm2m_carrier/slm_at_carrier.h
  applications/serial_lte_modem/src/main.c
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_auto_connect.h
  applications/serial_lte_modem/src/slm_settings.c
  applications/serial_lte_modem/src/twi/slm_at_twi.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#12932 doc: Update Memfault guide to match the integration template
  doc/nrf/external_comp/memfault.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  samples/debug/memfault/README.rst
Labels: doc-required, CI-disable

#13063 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#13092 CODEOWNERS: Change for /samples/cellular/modem_trace_flash
  CODEOWNERS
Labels: CI-disable

#12648 manifest: update nrf_modem build system files
  lib/nrf_modem_lib/Kconfig
  west.yml
Labels: manifest, manifest-nrfxlib

#13084 applications: Added support for groups in the Matter bridge
  applications/matter_bridge/src/bridged_device_types/onoff_light.cpp
  applications/matter_bridge/src/bridged_device_types/onoff_light.h
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  west.yml
Labels: doc-required, manifest, manifest-matter

#13089 samples: matter: Fixed crash after exceeding providers number
  samples/matter/common/src/bridge/bridge_manager.cpp
  samples/matter/common/src/bridge/bridge_manager.h
Labels: changelog-entry-required

#13079 doc: Document missing PSA want configurations
  doc/nrf/libraries/nrf_security/doc/driver_config.rst
Labels: doc-required, changelog-entry-required

#13085 net: samples: Removing setting of `CONFIG_POSIX_MAX_FDS`, use default
  samples/net/aws_iot/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/net/aws_iot/prj.conf
  samples/net/azure_iot_hub/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/net/mqtt/boards/nrf7002dk_nrf5340_cpuapp.conf
Labels: changelog-entry-required

#13073 applications: asset_tracker_v2: Use path relative to Zephyr SDK
  applications/asset_tracker_v2/src/cloud/Kconfig.lwm2m_integration
Labels: changelog-entry-required

#13082 applications: nrf_desktop: Use SMP callbacks in dfu_mcumgr module
  applications/nrf_desktop/doc/dfu_mcumgr.rst
  applications/nrf_desktop/src/modules/Kconfig.dfu_mcumgr
  applications/nrf_desktop/src/modules/dfu_mcumgr.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#13105 doc: fix Kconfig option link in DFU target library doc
  doc/nrf/libraries/dfu/dfu_target.rst
Labels: doc-required, CI-disable

#13101 samples: matter: Fixed data model configs to match 1.2 spec
  applications/matter_bridge/src/bridge.matter
  applications/matter_bridge/src/bridge.zap
  applications/matter_bridge/src/zap-generated/endpoint_config.h
  applications/matter_weather_station/src/weather-station.matter
  applications/matter_weather_station/src/weather-station.zap
  applications/matter_weather_station/src/zap-generated/endpoint_config.h
  doc/nrf/protocols/matter/end_product/certification.rst
  samples/matter/light_bulb/src/light_bulb.matter
  samples/matter/light_bulb/src/light_bulb.zap
  samples/matter/light_bulb/src/zap-generated/endpoint_config.h
  samples/matter/light_switch/src/light_switch.matter
  samples/matter/light_switch/src/light_switch.zap
  samples/matter/light_switch/src/zap-generated/CHIPClusters.h
  samples/matter/light_switch/src/zap-generated/callback-stub.cpp
  samples/matter/light_switch/src/zap-generated/endpoint_config.h
  samples/matter/light_switch/src/zap-generated/gen_config.h
  samples/matter/lock/src/lock.matter
  samples/matter/lock/src/lock.zap
  samples/matter/lock/src/zap-generated/endpoint_config.h
  samples/matter/template/src/template.matter
  samples/matter/template/src/template.zap
  samples/matter/template/src/zap-generated/endpoint_config.h
  samples/matter/thermostat/src/thermostat.matter
  samples/matter/thermostat/src/thermostat.zap
  samples/matter/thermostat/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/thermostat/src/zap-generated/access.h
  samples/matter/thermostat/src/zap-generated/endpoint_config.h
  samples/matter/thermostat/src/zap-generated/gen_config.h
  samples/matter/window_covering/src/window-app.matter
  samples/matter/window_covering/src/window-app.zap
  samples/matter/window_covering/src/zap-generated/endpoint_config.h
Labels: doc-required, changelog-entry-required

#13055 CODEOWNERS: Replace individuals from CIA team with the ncs-cia team
  CODEOWNERS
Labels: CI-disable, changelog-entry-required

#13103 net: lib: rest_client: Minor doc fixes
  doc/nrf/libraries/networking/rest_client.rst
  include/net/rest_client.h
Labels: doc-required

#13102 doc: formatting fixes in the nRF Cloud library doc
  doc/nrf/libraries/networking/nrf_cloud.rst
Labels: doc-required, CI-disable

#13121 lib: modem_slm: GPIO to configurable
  doc/nrf/libraries/modem/modem_slm.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/modem_slm/modem_slm.c
  samples/cellular/slm_shell/boards/nrf52840dk_nrf52840.overlay
  samples/cellular/slm_shell/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/cellular/slm_shell/boards/nrf7002dk_nrf5340_cpuapp.overlay
Labels: doc-required

#13122 doc: formatting fixes to Modem library docs
  doc/nrf/libraries/modem/lte_lc.rst
  doc/nrf/libraries/modem/modem_antenna.rst
  doc/nrf/libraries/modem/nrf_modem_lib/nrf_modem_lib_pm_integration.rst
  doc/nrf/libraries/modem/nrf_modem_lib/nrf_modem_lib_trace.rst
Labels: doc-required, CI-disable

#13128 scripts: hid_configurator: Separate functions for dfu_application.zip
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  scripts/hid_configurator/modules/dfu.py
Labels: doc-required

#13133 caf: power_manager: Postpone system off state enter
  subsys/caf/modules/power_manager.c
Labels: changelog-entry-required

#13127 samples: matter: Align matter samples data model
  applications/matter_bridge/src/bridge.matter
  applications/matter_bridge/src/bridge.zap
  applications/matter_bridge/src/zap-generated/CHIPClusters.h
  applications/matter_bridge/src/zap-generated/IMClusterCommandHandler.cpp
  applications/matter_bridge/src/zap-generated/endpoint_config.h
  applications/matter_weather_station/src/weather-station.matter
  applications/matter_weather_station/src/weather-station.zap
  applications/matter_weather_station/src/zap-generated/endpoint_config.h
  samples/matter/light_bulb/src/light_bulb.matter
  samples/matter/light_bulb/src/light_bulb.zap
  samples/matter/light_bulb/src/zap-generated/endpoint_config.h
  samples/matter/light_switch/src/light_switch.matter
  samples/matter/light_switch/src/light_switch.zap
  samples/matter/light_switch/src/zap-generated/CHIPClientCallbacks.h
  samples/matter/light_switch/src/zap-generated/CHIPClusters.h
  samples/matter/light_switch/src/zap-generated/callback-stub.cpp
  samples/matter/light_switch/src/zap-generated/endpoint_config.h
  samples/matter/light_switch/src/zap-generated/gen_config.h
  samples/matter/lock/src/lock.matter
  samples/matter/lock/src/lock.zap
  samples/matter/lock/src/zap-generated/endpoint_config.h
  samples/matter/template/src/template.matter
  samples/matter/template/src/template.zap
  samples/matter/template/src/zap-generated/endpoint_config.h
  samples/matter/thermostat/src/thermostat.matter
  samples/matter/thermostat/src/thermostat.zap
  samples/matter/thermostat/src/zap-generated/CHIPClusters.h
  samples/matter/thermostat/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/thermostat/src/zap-generated/access.h
  samples/matter/thermostat/src/zap-generated/endpoint_config.h
  samples/matter/thermostat/src/zap-generated/gen_config.h
  samples/matter/window_covering/src/window-app.matter
  samples/matter/window_covering/src/window-app.zap
  samples/matter/window_covering/src/zap-generated/endpoint_config.h
Labels: changelog-entry-required

#13130 samples: matter: Enable mandatory thermostat attributes in zap
  samples/matter/thermostat/src/thermostat.matter
  samples/matter/thermostat/src/thermostat.zap
  samples/matter/thermostat/src/zap-generated/CHIPClusters.h
  samples/matter/thermostat/src/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/thermostat/src/zap-generated/endpoint_config.h
Labels: changelog-entry-required

#13142 samples: openthread: fix nrf Dongle USB name
  samples/openthread/coprocessor/boards/nrf52840dongle_nrf52840.conf
Labels: changelog-entry-required

#13107 wifi: Fix L2AC non-initial associations
  subsys/net/lib/wifi_mgmt_ext/wifi_mgmt_ext.c
Labels: changelog-entry-required, bugfix

#13109 doc: Kconfig option fixes in Memfault library doc
  doc/nrf/libraries/debug/memfault_ncs.rst
Labels: doc-required, CI-disable

#13091 doc: fixing API docs of the Azure IoT Hub library
  doc/nrf/libraries/networking/azure_iot_hub.rst
Labels: doc-required, CI-disable

#13090 doc: Rearranged items on the ncs intro page
  doc/_utils/redirects.py
  doc/nrf/index.rst
  doc/nrf/introduction.rst
Labels: doc-required

#13150 doc: doc and version updates for 2.5.99-dev1
  VERSION
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/releases_and_maturity.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/versions.json
Labels: doc-required

#13166 version: update VERSION back to 2.5.99
  VERSION
Labels: changelog-entry-required

#13167 doc: revert doc versions after 2.5.99-dev1
  doc/nrf/conf.py
  doc/nrf/index.rst
  doc/nrf/releases_and_maturity.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#13152 manifest: Update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#12421 bluetooth: Fix assert when handling illegal response data cmd
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#13154 doc: build files: move the list to new page
  applications/nrf_desktop/README.rst
  doc/nrf/config_and_build.rst
  doc/nrf/config_and_build/bootloaders_and_dfu/bootloader_adding.rst
  doc/nrf/config_and_build/config_and_build_system.rst
  doc/nrf/config_and_build/multi_image.rst
  doc/nrf/config_and_build/output_build_files.rst
  doc/nrf/device_guides/working_with_nrf/nrf52/developing.rst
  doc/nrf/documentation/glossary.rst
  doc/nrf/libraries/caf/ble_smp.rst
  doc/nrf/libraries/networking/nrf_cloud.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#13110 manifest: Pull sdk-zephyr TCP queueing fixes
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#13134 Bluetooth: Mesh: Update DM vendor model ID and opcodes
  doc/nrf/protocols/bt/bt_mesh/reserved_ids.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/bluetooth/mesh/vnd/dm_common.h
Labels: doc-required

#13175 sysbuild: Prevent running PM on some boards
  sysbuild/CMakeLists.txt
  sysbuild/Kconfig.sysbuild
Labels: changelog-entry-required

#13140 lib: location: Use NCELLMEAS=3,X
  doc/nrf/libraries/modem/location.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/modem/location.h
  lib/location/scan_cellular.c
  tests/lib/location/prj.conf
  tests/lib/location/src/location_test.c
Labels: doc-required

#13132 doc: nrf_security: Fix driver naming in configs
  doc/nrf/libraries/nrf_security/doc/driver_config.rst
Labels: doc-required, changelog-entry-required

#13125 doc: fixing API links in NCF TNEP library docs
  doc/nrf/libraries/nfc/tnep/ch.rst
  doc/nrf/libraries/nfc/tnep/poller.rst
  doc/nrf/libraries/nfc/tnep/tag.rst
Labels: doc-required, CI-disable

#13174 tools: Update ncs-build docker image
  scripts/ncs-docker-version.txt
Labels: changelog-entry-required

#13169 manifest: Pulled fix for Matter over Wi-Fi
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#12940 drivers: wifi: Provide option to select frequency
  drivers/wifi/nrf700x/Kconfig
  drivers/wifi/nrf700x/src/fmac_main.c
Labels: changelog-entry-required, wifi-qa-required

#13118 samples: lwm2m_carrier: Fix use of implicitly defined function
  samples/cellular/lwm2m_carrier/src/main.c
Labels: changelog-entry-required

#12922 manifest: Update nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#13149 manifest: Update Sidewalk revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-sidewalk

#13018 manifest: openthread: update to \`a05954b\`
  west.yml
Labels: manifest, manifest-zephyr, manifest-openthread, changelog-entry-required

#13164 bluetooth: add VS command
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#13183 applications: serial_lte_modem: fix AT#XGPS documentation example
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
Labels: doc-required, doc only

#13190 manifest: update Find My revision
  west.yml
Labels: manifest, manifest-find-my

#13188 samples: wifi: provisioning: Fix network config timeout
  samples/wifi/provisioning/prj.conf
Labels: changelog-entry-required, backport v2.5-branch

#12447 Bluetooth: define BT_COMPANY_ID_NORDIC
  include/bluetooth/mesh/vnd/dm_common.h
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/prj.conf
  samples/bluetooth/mesh/chat/include/chat_cli.h
  samples/bluetooth/mesh/chat/prj.conf
  samples/bluetooth/mesh/dfu/distributor/prj.conf
  samples/bluetooth/mesh/dfu/target/prj.conf
  samples/bluetooth/mesh/light/prj.conf
  samples/bluetooth/mesh/light_ctrl/prj.conf
  samples/bluetooth/mesh/light_dimmer/prj.conf
  samples/bluetooth/mesh/light_switch/prj.conf
  samples/bluetooth/mesh/sensor_client/prj.conf
  samples/bluetooth/mesh/sensor_server/prj.conf
  samples/bluetooth/nrf_dm/src/main.c
  samples/cellular/modem_shell/overlay-bt.conf
  subsys/bluetooth/Kconfig
Labels: changelog-entry-required, CI-ble-test

#13108 applications: serial_lte_modem: Fix indications in #XSLEEP=2
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_uart_handler.c
  applications/serial_lte_modem/src/slm_uart_handler.h
Labels: changelog-entry-required

#13137 samples: Aligned the radio_test TX power with FEM
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/peripheral/radio_test/src/radio_cmd.c
  samples/peripheral/radio_test/src/radio_test.c
Labels: doc-required, 10-min-review

#13199 applications: Fixed setting parent ep id for the Matter bridge
  samples/matter/common/src/bridge/Kconfig
  samples/matter/common/src/bridge/bridge_manager.cpp
  samples/matter/common/src/bridge/bridge_manager.h
Labels: changelog-entry-required

#13181 manifest: Pulled fix for Matter over Wi-Fi
  west.yml
Labels: manifest, manifest-matter

#13202 tfm: Fix wrong sysbuild hex file when MCUboot is disabled
  modules/tfm/zephyr/CMakeLists.txt
Labels: Hotfix

#13192 samples: mesh: distributor: Add note about securing LE connection
  doc/nrf/links.txt
  samples/bluetooth/mesh/dfu/distributor/README.rst
Labels: doc-required, changelog-entry-required, doc only

#13208 nrf_security: Add wanted AES key type to oberon ctr drbg
  subsys/nrf_security/src/drivers/nrf_oberon/Kconfig
Labels: changelog-entry-required

#13182 applications: serial_lte_modem: add optional path to #XCARRIEREVT
  applications/serial_lte_modem/doc/CARRIER_AT_commands.rst
  applications/serial_lte_modem/src/lwm2m_carrier/slm_at_carrier.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#13211 manifest: openthread: update to \`dc6bf36\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#13214 applications: nrf5340_audio: Define channel_mode for decoder on bidir gw
  applications/nrf5340_audio/src/audio/audio_system.c
  applications/nrf5340_audio/src/audio/sw_codec_select.c
Labels: changelog-entry-required
