Repository nrfconnect/sdk-nrf, pull requests merged in 2024-03, with the labels that each got.

#14280 applications: nrf5340_audio: Update error check for scanning
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.c
  applications/nrf5340_audio/src/bluetooth/bt_management/scanning/bt_mgmt_scan_for_conn.c
Labels: bugfix

#14275 applications: nrf5340_audio: Update controller to version 18929
  doc/nrf/libraries/bin/bt_ll_acs_nrf53/CHANGELOG.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_17933.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_18929.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_shifted_17933.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_shifted_18929.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_shifted_min_17933.hex
  lib/bin/bt_ll_acs_nrf53/bin/ble5-ctr-rpmsg_shifted_min_18929.hex
  lib/bin/bt_ll_acs_nrf53/bin/manifest.yaml
Labels: bugfix

#14174 manifest: update sdk-zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required, Platform: nRF54L

#14246 partition_manager: NRF54L support for MCUboot added
  cmake/partition_manager.cmake
  modules/mcuboot/boot/zephyr/Kconfig
Labels: changelog-entry-required, Platform: nRF54L

#14299 lib: bin: lwm2m_carrier: fix conditional compilation
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
Labels: bugfix

#14300 doc: fix code snippet indentations in the Matter API documentation
  doc/nrf/protocols/matter/getting_started/matter_api.rst
Labels: doc-required, bugfix

#14309 samples: net: Increase DNS timeout for Wi-Fi builds
  samples/debug/memfault/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/net/aws_iot/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  samples/net/azure_iot_hub/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  samples/net/coap_client/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  samples/net/download/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  samples/net/https_client/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  samples/net/mqtt/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  samples/net/udp/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
Labels: changelog-entry-required, bugfix

#14307 doc: Fix Matter bridge application overview
  applications/matter_bridge/README.rst
Labels: doc-required, changelog-entry-required, bugfix

#14287 doc improvement: cleanup mesh changelog
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#14310 samples: lwm2m-client: Fix minor typo
  samples/cellular/lwm2m_client/overlay-aggressive-psm.conf
  samples/cellular/lwm2m_client/src/main.c
Labels: bugfix

#14251 doc: Matter: Update links to point to the new docs site
  doc/nrf/links.txt
  doc/nrf/protocols/matter/end_product/attestation.rst
  doc/nrf/protocols/matter/end_product/certification.rst
Labels: doc-required, CI-disable, doc only

#14277 applications: Matter Bridge is no more experimental
  applications/matter_bridge/Kconfig
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, bugfix

#14316 samples: lwm2m_client: Workaround WiFi ground fix problem
  samples/cellular/lwm2m_client/overlay-assist-wifi.conf
Labels: bugfix

#14320 lib: bin: lwm2m_carrier: Fix lwm2m_carrier_thread size
  lib/bin/lwm2m_carrier/Kconfig
Labels: bugfix

#14324 sample: wifi_provisioning: fix stack overflow bug
  samples/wifi/provisioning/prj.conf
Labels: bugfix

#14328 doc: Remove 54L support from changelog
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, Platform: nRF54L

#14329 applications: serial_lte_modem: set range for data buffer length
  applications/serial_lte_modem/src/lwm2m_carrier/Kconfig
Labels: bugfix

#14305 doc: Trusted Storage maturity
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required, changelog-entry-required

#14336 lib: bin: lwm2m_carrier: Prevent illegal Carrier library configuration
  lib/bin/lwm2m_carrier/os/lwm2m_carrier.c
Labels: bugfix

#14249 doc: nrfx: fix missing refhal and undocumented parameters
  doc/nrfx/nrfx.doxyfile.in
Labels: doc-required, changelog-entry-required, bugfix

#14319 applications: serial_lte_modem: improve CMUX documentation
  applications/serial_lte_modem/doc/CMUX_AT_commands.rst
Labels: doc-required, CI-disable, doc only

#14331 doc improvement: aws_fota: Extend troubleshooting section
  doc/nrf/libraries/networking/aws_fota.rst
Labels: doc-required, CI-disable, changelog-entry-required

#14273 doc improvement: move wifi fw page
  doc/nrf/config_and_build/dfu/index.rst
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/index.rst
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/nrf70_fw_patch_update.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, doc only

#14340 applications: asset_tracker_v2: Remove testcase
  applications/asset_tracker_v2/tests/ui_module/testcase.yaml
Labels: bugfix

#14359 doc: bluetooth: mesh: Clarify that DFU shell using app requires Android
  doc/nrf/protocols/bt/bt_mesh/dfu_over_bt_mesh.rst
Labels: doc-required, changelog-entry-required, doc only

#14297 doc improvement: update to Azure IoT hub cert_tool.py script
  doc/nrf/libraries/networking/azure_iot_hub.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#14345 applications: serial_lte_modem: Fix connectivity bridge doc
  applications/serial_lte_modem/doc/slm_description.rst
Labels: doc-required, changelog-entry-required

#14361 doc: openthread: update SHA of recommended OT Border Router
  doc/nrf/protocols/thread/tools.rst
Labels: doc-required, changelog-entry-required

#14344 Bluetooth: Mesh: Add note about LBS service adv
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/README.rst
Labels: doc-required, changelog-entry-required, doc only

#14349 applications: nrf5340_audio: Only build empty_net_core if LL_ACS_nRF53
  applications/nrf5340_audio/CMakeLists.txt
Labels: bugfix

#14335 drivers: wifi: Fix setting monitor mode when station is connected
  drivers/wifi/nrf700x/src/wifi_mgmt.c
Labels: changelog-entry-required, bugfix

#14338 doc: software_maturity: Added trusted storage table
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, changelog-entry-required, doc only

#14327 manifest: sdk-nrfxlib: Pull fix for SHEL-2551
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, bugfix

#14365 lib: modem_antenna: Add support for nRF9151 DK
  lib/modem_antenna/Kconfig
Labels: bugfix

#14295 matter: fix usage of Link Time Optimization in Matter applications
  doc/nrf/protocols/matter/getting_started/memory_optimization.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/light_bulb/overlay-aws-iot-integration.conf
  samples/matter/light_bulb/src/aws_iot_integration/CMakeLists.txt
  samples/matter/lock/CMakeLists.txt
  samples/matter/lock/prj_thread_wifi_switched.conf
  west.yml
Labels: doc-required, manifest, manifest-matter, bugfix

#14355 samples: lwm2m_client: Increase AT monitor heap
  samples/cellular/lwm2m_client/overlay-assist-cell.conf
  samples/cellular/lwm2m_client/prj.conf
Labels: changelog-entry-required, bugfix

#14322 doc improvement: fix broken links, minor fixes, and toc update
  applications/nrf_desktop/application_kconfig.rst
  applications/nrf_desktop/configuration_options.rst
  applications/nrf_desktop/description.rst
  applications/nrf_desktop/integration.rst
  applications/nrf_desktop/modules.rst
  applications/serial_lte_modem/doc/HTTPC_AT_commands.rst
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/doc/TCPUDP_AT_commands.rst
  doc/matter/conf.py
  doc/matter/index.rst
  doc/nrf/applications.rst
  doc/nrf/config_and_build/bootloaders/bootloader_external_flash.rst
  doc/nrf/libraries/modem/modem_antenna.rst
  doc/nrf/libraries/networking/aws_fota.rst
  doc/nrf/links.txt
  doc/nrf/protocols/thread/sed_ssed.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/samples/nfc.rst
  doc/nrf/shortcuts.txt
  samples/cellular/modem_shell/README.rst
  samples/cellular/nrf_cloud_multi_service/README.rst
  samples/cellular/nrf_provisioning/README.rst
  samples/edge_impulse/data_forwarder/README.rst
  samples/edge_impulse/wrapper/README.rst
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib, changelog-entry-required

#14374 applications: nrf5340_audio: Include hci_ipc conf file for release builds
  applications/nrf5340_audio/child_image/hci_ipc_release.conf
Labels: bugfix

#14352 manifest: sdk-hostap: Pull fix for false disconnection failure
  west.yml
Labels: manifest, changelog-entry-required, bugfix, manifest-hostap

#14376 Bluetooth: Mesh: Clarify buttons description in sensor client sample
  samples/bluetooth/mesh/sensor_client/README.rst
Labels: doc-required, doc only

#14375 subsy/bootloader/bl_boot: uninitialized UARTE pins
  subsys/bootloader/bl_boot/bl_boot.c
Labels: bugfix

#14366 doc improvement: Update memory footprint values
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/fw_patches_ext_flash.rst
  doc/nrf/protocols/wifi/sap_mode/mem_requirements_sap.rst
  doc/nrf/protocols/wifi/scan_mode/mem_requirements_scan.rst
  doc/nrf/protocols/wifi/station_mode/mem_requirements_sta.rst
  samples/wifi/throughput/README.rst
Labels: doc-required

#14371 doc improvement: Update tag files for nRF9151
  doc/tags.yml
Labels: doc-required

#14379 doc: nrf_security: Add RSA key size support table
  doc/nrf/libraries/security/nrf_security/doc/driver_config.rst
Labels: doc-required, changelog-entry-required, doc only

#14385 samples: wifi: monitor: Update Wireshark Lua dissector
  samples/wifi/monitor/README.rst
Labels: doc-required, changelog-entry-required, bugfix

#14383 modules: hostap: Fix log level for an expected print
  modules/hostap/src/supp_main.c
Labels: changelog-entry-required, bugfix

#14400 Bluetooth: Mesh: Fix amb_light_level_ref initialization
  samples/bluetooth/mesh/sensor_server/src/model_handler.c
Labels: bugfix

#14342 doc: lwm2m_carrier: doc improvements
  doc/nrf/libraries/bin/lwm2m_carrier/API_documentation.rst
  doc/nrf/libraries/bin/lwm2m_carrier/CHANGELOG.rst
  doc/nrf/libraries/bin/lwm2m_carrier/app_integration.rst
  doc/nrf/libraries/bin/lwm2m_carrier/requirements.rst
  lib/bin/lwm2m_carrier/include/lwm2m_os.h
Labels: doc-required, changelog-entry-required, bugfix

#14346 samples: event_manager_proxy: Add nrf54h20pdk configuration
  samples/event_manager_proxy/Kconfig
  samples/event_manager_proxy/Kconfig.sysbuild
  samples/event_manager_proxy/boards/nrf54h20pdk_nrf54h20_cpuapp_icmsg.overlay
  samples/event_manager_proxy/remote/boards/nrf54h20pdk_nrf54h20_cpuppr_icmsg.conf
  samples/event_manager_proxy/remote/boards/nrf54h20pdk_nrf54h20_cpuppr_icmsg.overlay
  samples/event_manager_proxy/sample.yaml
Labels: Platform: nRF54H

#14354 samples: cellular: nrf_cloud_multi_service: Move ZCBOR_CANONICAL
  samples/cellular/nrf_cloud_multi_service/overlay-coap_nrf_provisioning.conf
  samples/cellular/nrf_cloud_multi_service/overlay_coap.conf
Labels: bugfix

#14369 doc improvement: updates to LwM2M Server, client and non-IP terms
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  applications/asset_tracker_v2/doc/cloud_module.rst
  applications/asset_tracker_v2/doc/cloud_wrapper.rst
  doc/nrf/external_comp/avsystem.rst
  doc/nrf/includes/lwm2m_common_server_setup.txt
  doc/nrf/libraries/bin/lwm2m_carrier/CHANGELOG.rst
  doc/nrf/libraries/bin/lwm2m_carrier/app_integration.rst
  doc/nrf/libraries/bin/lwm2m_carrier/msc.rst
  doc/nrf/libraries/networking/lwm2m_client_utils.rst
  doc/nrf/libraries/networking/lwm2m_location_assistance.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.5.rst
  doc/nrf/releases_and_maturity/releases/release-notes-1.7.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.0.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.1.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.2.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.5.0.rst
  include/net/lwm2m_client_utils_location.h
  lib/bin/lwm2m_carrier/include/lwm2m_carrier.h
  lib/bin/lwm2m_carrier/include/lwm2m_settings.h
  samples/cellular/lwm2m_carrier/sample_description.rst
  samples/cellular/lwm2m_client/README.rst
  samples/cellular/lwm2m_client/provisioning.rst
  samples/cellular/lwm2m_client/sample_description.rst
  samples/cellular/modem_shell/README.rst
  samples/cellular/nidd/README.rst
Labels: doc-required, CI-disable

#14388 Bluetooth: Mesh: Fix bus fault in shell_sensor_cli.c
  subsys/bluetooth/mesh/shell/shell_sensor_cli.c
Labels: bugfix

#14390 doc improvement: Bluetooth mesh to Mesh fix
  doc/nrf/libraries/bluetooth_services/mesh.rst
  doc/nrf/libraries/bluetooth_services/mesh/dk_prov.rst
  doc/nrf/libraries/bluetooth_services/mesh/gen_prop_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_ctl_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_ctrl_reg_spec.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_ctrl_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_hsl.rst
  doc/nrf/libraries/bluetooth_services/mesh/model_types.rst
  doc/nrf/libraries/bluetooth_services/mesh/sensor.rst
  doc/nrf/libraries/bluetooth_services/mesh/time_tai.rst
  doc/nrf/libraries/bluetooth_services/mesh/vnd/dm.rst
  doc/nrf/libraries/bluetooth_services/mesh/vnd/dm_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/vnd/dm_srv.rst
  doc/nrf/protocols/bt/bt_mesh/architecture.rst
  doc/nrf/protocols/bt/bt_mesh/concepts.rst
  doc/nrf/protocols/bt/bt_mesh/configuring.rst
  doc/nrf/protocols/bt/bt_mesh/fota.rst
  doc/nrf/protocols/bt/bt_mesh/index.rst
  doc/nrf/protocols/bt/bt_mesh/model_config_app.rst
  doc/nrf/protocols/bt/bt_mesh/node_removal.rst
  doc/nrf/protocols/bt/bt_mesh/supported_features.rst
  doc/nrf/protocols/bt/bt_mesh/vendor_model/dev_overview.rst
  doc/nrf/protocols/bt/bt_mesh/vendor_model/index.rst
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/README.rst
  samples/bluetooth/mesh/chat/README.rst
  samples/bluetooth/mesh/chat/sample_description.rst
  samples/bluetooth/mesh/dfu/distributor/README.rst
  samples/bluetooth/mesh/dfu/target/README.rst
  samples/bluetooth/mesh/light/README.rst
  samples/bluetooth/mesh/light_ctrl/README.rst
  samples/bluetooth/mesh/light_dimmer/README.rst
  samples/bluetooth/mesh/light_switch/README.rst
  samples/bluetooth/mesh/sensor_client/README.rst
  samples/bluetooth/mesh/sensor_server/README.rst
  samples/bluetooth/mesh/silvair_enocean/README.rst
Labels: doc-required, ble mesh

#14389 drivers: wifi: Fix SR switch configuration
  drivers/wifi/nrf700x/Kconfig
Labels: changelog-entry-required, bugfix

#14393 doc improvement: update redirects.py file
  doc/_utils/redirects.py
Labels: doc-required

#14399 Bluetooth: Mesh: Fix missing settings from DFU samples
  samples/bluetooth/mesh/dfu/distributor/prj.conf
  samples/bluetooth/mesh/dfu/target/prj.conf
Labels: changelog-entry-required, bugfix

#14404 doc: zboss: update version numbers
  doc/nrf/links.txt
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable, doc only

#14377 doc: Check and update Zoomin tags for 2.6
  doc/tags.yml
Labels: doc-required, changelog-entry-required

#14368 partition_manager: Fix nRF54L support
  cmake/partition_manager.cmake
  modules/mcuboot/boot/zephyr/Kconfig
Labels: bug, bugfix, Platform: nRF54L

#14362 manifest: Fix the build warning in matter door-lock-server
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required, bugfix

#14378 ci: hotfix for ncs-toolchain docker image
  .github/workflows/docker.yml
  scripts/docker/Dockerfile
  scripts/docker/entrypoint.sh
Labels: CI-disable, changelog-entry-required

#14334 Integration quarantine part1
  scripts/quarantine_integration.yaml
  scripts/quarantine_zephyr_integration.yaml
Labels: changelog-entry-required

#14401 samples: matter: Fix Kconfig paths
  applications/matter_bridge/Kconfig
  applications/matter_weather_station/Kconfig
  samples/matter/light_bulb/Kconfig
  samples/matter/light_switch/Kconfig
  samples/matter/lock/Kconfig
  samples/matter/template/Kconfig
  samples/matter/thermostat/Kconfig
  samples/matter/window_covering/Kconfig
Labels: changelog-entry-required, bugfix

#14407 matter: fix crash on packet buffer allocation failure
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required, bugfix

#14384 samples: caf_sensor_manager: Add nrf54h20 configuration
  samples/caf_sensor_manager/Kconfig.sysbuild
  samples/caf_sensor_manager/boards/nrf54h20pdk_nrf54h20_cpuapp_multicore.conf
  samples/caf_sensor_manager/boards/nrf54h20pdk_nrf54h20_cpuapp_multicore.overlay
  samples/caf_sensor_manager/boards/nrf54h20pdk_nrf54h20_cpuapp_singlecore.conf
  samples/caf_sensor_manager/boards/nrf54h20pdk_nrf54h20_cpuapp_singlecore.overlay
  samples/caf_sensor_manager/remote/boards/nrf54h20pdk_nrf54h20_cpuppr.conf
  samples/caf_sensor_manager/remote/boards/nrf54h20pdk_nrf54h20_cpuppr.overlay
  samples/caf_sensor_manager/sample.yaml
  samples/caf_sensor_manager/sysbuild.cmake
  samples/caf_sensor_manager/sysbuild/nrf54h20pdk_nrf54h20_cpuppr.conf
Labels: Platform: nRF54H

#14421 doc: images: Update screenshot with latest Lua plugin
  doc/nrf/images/wireshark_decode_as_nordic_80211.png
Labels: doc-required, changelog-entry-required, bugfix

#14391 doc: extend Matter security section
  doc/nrf/libraries/security/trusted_storage.rst
  doc/nrf/protocols/matter/end_product/security.rst
  doc/nrf/security/security.rst
Labels: doc-required, changelog-entry-required

#14426 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, bugfix

#14427 manifest: Update Sidewalk revision
  west.yml
Labels: manifest, changelog-entry-required, bugfix, manifest-sidewalk

#14332 doc: software_maturity: update Amazon Sidewalk
  doc/_scripts/software_maturity/software_maturity_features.yaml
Labels: doc-required, changelog-entry-required

#14288 applications: serial_lte_modem: document the Zephyr modem compatibility
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/README.rst
  applications/serial_lte_modem/doc/AT_commands.rst
  applications/serial_lte_modem/doc/CMUX_AT_commands.rst
  applications/serial_lte_modem/doc/PPP_AT_commands.rst
  applications/serial_lte_modem/doc/nRF91_as_Zephyr_modem.rst
  applications/serial_lte_modem/doc/slm_description.rst
  doc/nrf/releases_and_maturity/releases/release-notes-1.9.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/slm_shell/README.rst
Labels: doc only

#14428 doc improvement: update memory values
  doc/nrf/protocols/wifi/sap_mode/mem_requirements_sap.rst
  doc/nrf/protocols/wifi/station_mode/mem_requirements_sta.rst
Labels: doc-required

#14410 doc: wifi: Update radio test documents to reflect new commands
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/wifi/radio_test/radio_test_subcommands.rst
  samples/wifi/radio_test/sample_description.rst
Labels: doc-required

#14398 doc improvement: Corrections for Azure IoT Hub setup
  applications/asset_tracker_v2/doc/asset_tracker_v2_description.rst
  doc/nrf/libraries/networking/azure_iot_hub.rst
Labels: doc-required, CI-disable, changelog-entry-required, doc only

#14380 doc: matter: Fixes for the Matter documentation
  applications/matter_bridge/doc/matter_bridge_description.rst
  doc/nrf/protocols/matter/end_product/configuring_cd.rst
  doc/nrf/protocols/matter/getting_started/advanced_kconfigs.rst
  doc/nrf/protocols/matter/getting_started/hw_requirements.rst
  doc/nrf/protocols/matter/getting_started/matter_api.rst
  doc/nrf/protocols/matter/index.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/light_bulb/README.rst
  samples/matter/light_switch/README.rst
  samples/matter/lock/README.rst
  samples/matter/window_covering/README.rst
Labels: doc-required

#14433 applications: nrf5340_audio: Only enable empty_core for ACS_NRF53
  applications/nrf5340_audio/dfu/conf/Kconfig.dfu
  applications/nrf5340_audio/sample.yaml
Labels: bugfix

#14425 samples: wifi: scan: Rectify the Kconfig options for dwell_time
  doc/nrf/protocols/wifi/scan_mode/scan_operation.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.6.rst
  samples/wifi/scan/src/main.c
Labels: doc-required, changelog-entry-required, bugfix

#14337 [fix_tfm_rebuild] manifest: tfm
  west.yml
Labels: manifest, manifest-trusted-firmware-m, changelog-entry-required, bugfix

#14441 applications: connectivity_bridge: Enable UART runtime config
  applications/connectivity_bridge/prj.conf
Labels: bugfix

#14286 samples: bluetooth: fast_pair: input_device: Add init nRF54L support
  samples/bluetooth/fast_pair/input_device/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/bluetooth/fast_pair/input_device/sample.yaml
Labels: Platform: nRF54L

#14296 manifest: Update sdk-ant revision
  west.yml
Labels: manifest, CI-trusted-author, external, changelog-entry-required, manifest-ant

#14347 samples: ipc: ipc_service: Fix cpunet logging for nrf5340
  samples/ipc/ipc_service/sample.yaml
Labels: changelog-entry-required, bugfix

#14450 doc improvement: update UDP sample footprint
  doc/nrf/protocols/wifi/station_mode/mem_requirements_sta.rst
Labels: doc-required

#14422 net: lib: nrf_cloud: fix build issue with FOTA poll support
  doc/nrf/libraries/networking/nrf_cloud.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  include/net/nrf_cloud_fota_poll.h
  samples/cellular/nrf_cloud_multi_service/src/cloud_connection.c
  samples/cellular/nrf_cloud_multi_service/src/fota_support_coap.c
  samples/cellular/nrf_cloud_multi_service/src/fota_support_coap.h
  samples/cellular/nrf_cloud_rest_fota/prj.conf
  samples/cellular/nrf_cloud_rest_fota/src/main.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota_poll.c
Labels: bugfix

#14442 quarantine: windows: Update quarantine for Windows CI
  scripts/quarantine_windows_mac.yaml
Labels: CI-disable

#14438 manifest: update sdk-nrfxlib with nrf_modem doc fixes
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#14417 samples: bluetooth: peripheral_uart: Fix timing in uart_async_adapter
  samples/bluetooth/peripheral_uart/src/uart_async_adapter.c
Labels: changelog-entry-required, bugfix

#14435 Applications: nrf5340_audio: Updated migration doc
  doc/nrf/releases_and_maturity/migration/migration_guide_2.6.rst
Labels: doc-required, changelog-entry-required, doc only

#14451 manifest: Update sdk-connectedhomip revision
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required, bugfix

#14432 doc: cc3xx: Add limitation of rng driver
  doc/nrf/libraries/security/nrf_security/doc/driver_config.rst
Labels: doc-required, changelog-entry-required

#14382 manifest: Update zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required, Platform: nRF54H

#14372 manifest: point to OSS rebase PRs
  west.yml
Labels: manifest, manifest-zephyr, manifest-mcuboot, manifest-trusted-firmware-m, changelog-entry-required, manifest-mbedtls

#14461 modules: hostap: Resolve build warning with strncpy
  modules/hostap/src/supp_events.c
Labels: bugfix

#14458 applications: nrf5340_audio: Change uuid_buf to static
  applications/nrf5340_audio/unicast_server/main.c
Labels: bugfix

#14452 Bluetooth: Mesh: Fix parsing Kconfig with multiple equals signs
  scripts/bluetooth/mesh/mesh_dfu_metadata.py
Labels: bugfix

#14447 applications: matter: Fix Data Model for Bridge
  applications/matter_bridge/src/bridge.matter
  applications/matter_bridge/src/bridge.zap
  applications/matter_bridge/src/bridged_device_types/humidity_sensor.cpp
  applications/matter_bridge/src/bridged_device_types/humidity_sensor.h
  applications/matter_bridge/src/bridged_device_types/onoff_light.cpp
  applications/matter_bridge/src/bridged_device_types/onoff_light.h
  applications/matter_bridge/src/bridged_device_types/onoff_light_switch.cpp
  applications/matter_bridge/src/bridged_device_types/onoff_light_switch.h
  applications/matter_bridge/src/chip_project_config.h
  applications/matter_bridge/src/zap-generated/CHIPClusters.h
  applications/matter_bridge/src/zap-generated/IMClusterCommandHandler.cpp
  applications/matter_bridge/src/zap-generated/endpoint_config.h
  applications/matter_bridge/src/zap-generated/gen_config.h
  samples/matter/common/src/bridge/matter_bridged_device.h
Labels: bugfix

#14412 samples: caf: Add nrf54h20pdk configuration
  samples/caf/boards/nrf54h20pdk_nrf54h20_cpuapp.conf
  samples/caf/boards/nrf54h20pdk_nrf54h20_cpuapp.overlay
  samples/caf/configuration/nrf54h20pdk_nrf54h20_cpuapp/buttons_def.h
  samples/caf/configuration/nrf54h20pdk_nrf54h20_cpuapp/led_state_def.h
Labels: changelog-entry-required, Platform: nRF54H

#14448 manifest: Update Sidewalk revision
  west.yml
Labels: manifest, changelog-entry-required, bugfix, manifest-sidewalk

#14420 doc: Update doc versions for 2.6 release
  applications/nrf_desktop/integration.rst
  doc/matter/conf.py
  doc/mcuboot/conf.py
  doc/nrf/conf.py
  doc/nrf/dev_model_and_contributions/adding_code.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/tfm/conf.py
  doc/versions.json
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib, changelog-entry-required

#14495 scripts: Update minimum required toolchain for the v2.6.0 release
  scripts/ncs-toolchain-version-minimum.txt
Labels: CI-disable, changelog-entry-required

#14500 doc: 2.6.0 post-release doc update
  doc/nrf/conf.py
  doc/nrf/protocols/matter/index.rst
  doc/nrf/releases_and_maturity.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_1.x_to_2.x.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.5.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.6.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.7.rst
  doc/nrf/releases_and_maturity/migration_guides.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

#14360 ci: docbuild: change archive naming scheme
  .github/workflows/docbuild.yml
Labels: changelog-entry-required

#14424 manifest: openthread: update to \`39fcc5e\`
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#14496 manifest: sdk-zephyr: EAD support in BT shell
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#14363 applications: nrf_desktop: Add support for nRF54L PDK (documentation)
  applications/nrf_desktop/board_configuration.rst
  applications/nrf_desktop/description.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, Platform: nRF54L

#14493 applications: Matter Bridge: add support for missing OnOff attributes
  applications/matter_bridge/src/ble_providers/ble_lbs_data_provider.cpp
  applications/matter_bridge/src/bridged_device_types/humidity_sensor.h
  applications/matter_bridge/src/bridged_device_types/onoff_light.cpp
  applications/matter_bridge/src/bridged_device_types/onoff_light.h
  applications/matter_bridge/src/bridged_device_types/onoff_light_switch.h
  applications/matter_bridge/src/bridged_device_types/temperature_sensor.h
  applications/matter_bridge/src/simulated_providers/simulated_generic_switch_data_provider.cpp
  applications/matter_bridge/src/simulated_providers/simulated_onoff_light_data_provider.cpp
  applications/matter_bridge/src/simulated_providers/simulated_onoff_light_switch_data_provider.cpp
  samples/matter/common/src/bridge/bridge_manager.cpp
  samples/matter/common/src/bridge/bridged_device_data_provider.h
Labels: changelog-entry-required

#14457 wifi: Fix SyntaxError on Windows
  drivers/wifi/nrf700x/CMakeLists.txt
  scripts/quarantine_windows_mac.yaml
Labels: changelog-entry-required

#14512 applications: nrf5340_audio: Only enable encoder and decoder when used
  applications/nrf5340_audio/src/audio/audio_system.c
Labels: changelog-entry-required

#14483 applications: nrf_desktop: Add DT alias to configure QDEC in wheel
  applications/nrf_desktop/doc/wheel.rst
  applications/nrf_desktop/src/hw_interface/wheel.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#14513 scripts: add integration quarantine part 2
  scripts/quarantine_integration.yaml
Labels: changelog-entry-required

#14514 manifest: Update nrfxlib with mpsl and sdc
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-dragoon

#14159 applications: doc: Update the ipc_radio documentation
  applications/ipc_radio/README.rst
  doc/nrf/links.txt
Labels: doc-required, doc only

#14508 doc: dfu update image ver instruction
  doc/nrf/config_and_build/dfu/dfu_image_versions.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#14482 applications: nrf5340_audio: We should improve how the SIRK is set
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/Kconfig
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_server.c
Labels: changelog-entry-required

#14532 doc: missing affected version for known issues
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#14531 doc: wifi: Add note for pin conflict in nRF7002 EK ug
  doc/nrf/device_guides/working_with_nrf/nrf70/nrf7002ek_gs.rst
Labels: doc-required, changelog-entry-required

#14538 doc: Update date-time known issue with nRF52840 platform
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, CI-disable

#14533 manifest: Update nrfxlib with mpsl and sdc
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-dragoon

#14521 doc: wifi: Adding link to precompiled scan sample
  doc/nrf/device_guides/working_with_nrf/nrf70/gs.rst
  doc/nrf/links.txt
Labels: doc-required, changelog-entry-required

#14527 samples: wifi: monitor: increase memory pool size
  samples/wifi/monitor/prj.conf
Labels: changelog-entry-required

#14562 Samples: Bluetooth: Mesh: Fix dfu target version comparison
  samples/bluetooth/mesh/dfu/common/src/dfu_target.c
Labels: bugfix

#14525 samples: Bluetooth: Mesh: add nrf54l support for Chat sample
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/mesh/chat/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/bluetooth/mesh/chat/sample.yaml
Labels: doc-required

#14537 bluetooth: controller: update hci_driver to use new scanner memory macro
  subsys/bluetooth/controller/hci_driver.c
Labels: changelog-entry-required

#14549 applications: asset_tracker_v2: fix aws shadow topic
  applications/asset_tracker_v2/src/cloud/aws_iot_integration.c
Labels: bugfix

#14570 samples: matter: SMP DFU added to thread wi-fi switched lock sample
  samples/matter/lock/sample.yaml
Labels: changelog-entry-required

#14477 boards: thingy91x_nrf5340: Update reset of nRF5340 CPU net
  boards/arm/thingy91x_nrf5340/nrf5340_cpunet_reset.c
Labels: bugfix

#14567 manifest: Add connection event for wrong key
  west.yml
Labels: manifest, changelog-entry-required, manifest-hostap

#14575 manifest: Update nrfxlib revision with new SDC revision
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#14565 applications: matter: Avoid provider duplicates on the recovery list
  applications/matter_bridge/doc/matter_bridge_description.rst
  applications/matter_bridge/overlay-bt_max_connections_app.conf
  applications/matter_bridge/src/bridge_shell.cpp
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/common/src/bridge/Kconfig
  samples/matter/common/src/bridge/ble_connectivity_manager.cpp
  samples/matter/common/src/bridge/ble_connectivity_manager.h
Labels: doc-required

#14490 subsys: uart_async_adapter: Provide UART Async Adapter
  CODEOWNERS
  doc/nrf/libraries/others/uart_async_adapter.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/uart_async_adapter.h
  samples/bluetooth/peripheral_uart/CMakeLists.txt
  samples/bluetooth/peripheral_uart/Kconfig
  samples/bluetooth/peripheral_uart/README.rst
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp.conf
  samples/bluetooth/peripheral_uart/boards/thingy53_nrf5340_cpuapp_ns.conf
  samples/bluetooth/peripheral_uart/prj_cdc.conf
  samples/bluetooth/peripheral_uart/src/main.c
  subsys/CMakeLists.txt
  subsys/Kconfig
  subsys/uart_async_adapter/CMakeLists.txt
  subsys/uart_async_adapter/Kconfig
  subsys/uart_async_adapter/uart_async_adapter.c
Labels: doc-required

#14416 samples: bluetooth: ISO time synchronization
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/iso_time_sync/CMakeLists.txt
  samples/bluetooth/iso_time_sync/Kconfig
  samples/bluetooth/iso_time_sync/README.rst
  samples/bluetooth/iso_time_sync/boards/nrf52833dk_nrf52833.conf
  samples/bluetooth/iso_time_sync/boards/nrf52840dk_nrf52840.conf
  samples/bluetooth/iso_time_sync/boards/nrf5340_audio_dk_nrf5340_cpuapp.conf
  samples/bluetooth/iso_time_sync/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/bluetooth/iso_time_sync/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/bluetooth/iso_time_sync/child_image/hci_ipc.conf
  samples/bluetooth/iso_time_sync/include/iso_time_sync.h
  samples/bluetooth/iso_time_sync/prj.conf
  samples/bluetooth/iso_time_sync/sample.yaml
  samples/bluetooth/iso_time_sync/src/bis_receiver.c
  samples/bluetooth/iso_time_sync/src/bis_transmitter.c
  samples/bluetooth/iso_time_sync/src/cis_central.c
  samples/bluetooth/iso_time_sync/src/cis_peripheral.c
  samples/bluetooth/iso_time_sync/src/controller_time_nrf52.c
  samples/bluetooth/iso_time_sync/src/controller_time_nrf53_app.c
  samples/bluetooth/iso_time_sync/src/controller_time_nrf54l.c
  samples/bluetooth/iso_time_sync/src/iso_rx.c
  samples/bluetooth/iso_time_sync/src/iso_tx.c
  samples/bluetooth/iso_time_sync/src/main.c
  samples/bluetooth/iso_time_sync/src/timed_led_toggle.c
Labels: doc-required

#14574 doc: test_and_optimize: misc edits
  applications/machine_learning/README.rst
  applications/serial_lte_modem/doc/images/teraterm.svg
  applications/serial_lte_modem/doc/images/termite.svg
  applications/serial_lte_modem/doc/slm_description.rst
  doc/nrf/device_guides/working_with_nrf/nrf52/gs.rst
  doc/nrf/device_guides/working_with_nrf/nrf53/nrf5340_gs.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_gs.rst
  doc/nrf/device_guides/working_with_nrf/nrf54l/ug_nrf54l15_gs.rst
  doc/nrf/glossary.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/test_and_optimize/debugging.rst
  samples/bluetooth/connection_event_trigger/README.rst
  samples/bluetooth/llpm/README.rst
  samples/cellular/lte_ble_gateway/README.rst
  samples/cellular/lwm2m_carrier/sample_description.rst
  samples/cellular/modem_shell/README.rst
  samples/net/download/README.rst
  samples/net/https_client/README.rst
  tests/crypto/README.rst
Labels: doc-required, CI-disable

#14524 samples: pmic: Added links to hardware documentation
  samples/pmic/native/npm1300_fuel_gauge/README.rst
  samples/pmic/native/npm1300_one_button/README.rst
Labels: doc-required

#14268 net: lib: nrf_cloud: add support for anchor name list
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/net/nrf_cloud_location.h
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_location
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec_internal.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fsm.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_location.c
Labels: doc-required

#14593 manifest: openthread: update to \`51ab865\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#14566 manifest: pull Matter Wi-Fi minor refinements
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#14595 doc: Add known issue for CIS Peripheral upon central reset
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#14546 app_event_manager: Improve OOM error handling
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/app_event_manager/Kconfig
  subsys/app_event_manager/app_event_manager.c
Labels: doc-required

#14302 samples: crypto: Add Spake2+
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/crypto/spake2p/CMakeLists.txt
  samples/crypto/spake2p/README.rst
  samples/crypto/spake2p/prj.conf
  samples/crypto/spake2p/sample.yaml
  samples/crypto/spake2p/src/main.c
Labels: doc-required

#14578 modules: hostap: Fix band selection
  modules/hostap/src/supp_api.c
Labels: changelog-entry-required, backport v2.5-branch

#14523 manifest: Matter directed scaning with single scan
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#14614 mpsl: Use `NRFX_CONFIG_MASK_DT`
  subsys/mpsl/init/mpsl_init.c
Labels: changelog-entry-required

#14556 net: lib: nrf_cloud_coap: Extend proprietary PSM support
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_coap
Labels: doc-required

#14621 doc: links: update nRF Tools links + cleanup
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#14596 applications: machine_learning: Allow running ML model with no anomaly
  applications/machine_learning/src/modules/ml_runner.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#14622 manifest: Update sdk-zephyr with 54l15 smp_svr sample
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#14548 drivers/mpsl/flash_synch: MPSL choice for nRF54L15
  drivers/mpsl/flash_sync/Kconfig
Labels: manifest-zephyr, changelog-entry-required

#14526 net: lib: nrf_cloud: CoAP invalid delta rejection
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/net/nrf_cloud_coap.h
  subsys/net/lib/nrf_cloud/coap/src/nrf_cloud_coap.c
  subsys/net/lib/nrf_cloud/coap/src/nrf_cloud_coap_transport.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec_internal.c
Labels: doc-required

#14620 scripts: add integration quarantine part 3
  scripts/quarantine_integration.yaml
Labels: changelog-entry-required

#14625 lib: location: Make wifi_scan_ready semaphore to static
  lib/location/method_cloud_location.c
Labels: changelog-entry-required
