Repository nrfconnect/sdk-nrf, pull requests merged in 2024-02, with the labels that each got.

#13745 doc: nrf5340audio: fixes from testing
  applications/nrf5340_audio/broadcast_sink/README.rst
  applications/nrf5340_audio/broadcast_source/README.rst
  applications/nrf5340_audio/doc/building.rst
  applications/nrf5340_audio/doc/configuration.rst
  applications/nrf5340_audio/doc/user_interface.rst
  applications/nrf5340_audio/unicast_client/README.rst
  applications/nrf5340_audio/unicast_server/README.rst
  doc/nrf/config_and_build/multi_image.rst
  doc/nrf/libraries/bin/bt_ll_acs_nrf53/index.rst
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, CI-disable

#13820 manifest: openthread: update to \`75abc7c\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#13794 manifest: sdk-nrfxlib: Pull Osal header cleanup
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#13692 manifest: matter: Lock thread stack before factory reset
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#13800 doc: update files to main for NCS 2.4.3 and 2.5.2
  doc/nrf/dev_model_and_contributions/adding_code.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.4.3.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.5.2.rst
  doc/nrf/shortcuts.txt
  doc/versions.json
Labels: doc-required, CI-disable, changelog-entry-required

#13824 Applications: nrf5340_audio: Reduced prints
  applications/nrf5340_audio/src/audio/le_audio_rx.c
  applications/nrf5340_audio/src/modules/audio_usb.c
Labels: changelog-entry-required

#13805 samples: cellular: modem_shell: connect UDP sockets
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/modem_shell/src/sock/sock.c
Labels: doc-required, changelog-entry-required

#13743 doc: add Gazell and NFC sections in the power optimization guide.
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/test_and_optimize/optimizing/power_general.rst
Labels: doc-required, CI-disable

#13795 wifi: SAP disable dhcp client
  samples/wifi/shell/overlay-sap.conf
Labels: changelog-entry-required

#13836 applications: Fixed onoff light switch in Matter bridge
  applications/matter_bridge/sample.yaml
  applications/matter_bridge/src/ble_providers/ble_lbs_data_provider.cpp
  applications/matter_bridge/src/bridge_shell.cpp
  applications/matter_bridge/src/bridged_device_types/onoff_light_switch.cpp
  applications/matter_bridge/src/bridged_device_types/onoff_light_switch.h
  applications/matter_bridge/src/simulated_providers/simulated_onoff_light_switch_data_provider.cpp
Labels: changelog-entry-required

#13831 doc: wifi: remove "experimental" comment from Radio sample
  samples/wifi/radio_test/radio_test_subcommands.rst
Labels: doc-required

#13653 drivers: sensor: bme68x_iaq: Add additional bsec channels and q-ULP mode
  drivers/sensor/bme68x_iaq/CMakeLists.txt
  drivers/sensor/bme68x_iaq/Kconfig
  drivers/sensor/bme68x_iaq/bme68x_iaq.c
  drivers/sensor/bme68x_iaq/bme68x_iaq.h
  include/drivers/bme68x_iaq.h
  samples/sensor/bme68x_iaq/src/main.c
Labels: external, CI-Requested

#13751 [manifest] update mcuboot
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#13827 doc: wifi: Rework Wi-Fi Features page
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/images/nrf70_ug_overview.svg
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/index.rst
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/stack_partitioning.rst
  doc/nrf/device_guides/working_with_nrf/nrf70/features.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, changelog-entry-required

#13848 applications: nrf5340_audio: Remove pause feature for bidir CIS
  applications/nrf5340_audio/unicast_client/main.c
  applications/nrf5340_audio/unicast_server/main.c
Labels: changelog-entry-required

#13849 Quarantine update
  scripts/quarantine_zephyr.yaml
Labels: changelog-entry-required

#13645 applications: nrf5340_audio: Issues after upmerge
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_sink.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_source.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/le_audio.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/le_audio.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_server.c
Labels: changelog-entry-required

#13720 manifest: sdk-nrfxlib: Replace RF parameter string with a structure definition
  drivers/wifi/nrf700x/src/fmac_main.c
  samples/wifi/radio_test/src/nrf_wifi_radio_test_shell.c
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-cjson, changelog-entry-required

#13822 doc: Matter: update version table
  doc/nrf/protocols/matter/index.rst
Labels: doc-required, CI-disable

#13804 Bluetooth: Controller: add vs tx timestamp support
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#13852 manifest: nrfxlib and dragoon: Update to latest
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#13875 mpsl: fem: kconfig: No soc-specific config entries to select PPI/DPPI
  subsys/mpsl/fem/Kconfig
Labels: changelog-entry-required

#13817 applications: Matter Bridge: fixed handling of the provider object
  applications/matter_bridge/src/ble_providers/ble_bridged_device_factory.cpp
  samples/matter/common/src/bridge/ble_bridged_device.h
  samples/matter/common/src/bridge/ble_connectivity_manager.cpp
  samples/matter/common/src/bridge/ble_connectivity_manager.h
  samples/matter/common/src/bridge/bridge_manager.cpp
  samples/matter/common/src/bridge/bridge_manager.h
Labels: changelog-entry-required

#13874 bluetooth: controller: hci_driver: Use new ISO buffer config
  subsys/bluetooth/controller/hci_driver.c
Labels: changelog-entry-required

#12819 modules: memfault: Enable user-provided heartbeat collect
  include/memfault_ncs.h
  modules/memfault-firmware-sdk/Kconfig
  modules/memfault-firmware-sdk/memfault_ncs_metrics.c
Labels: CI-trusted-author, external, changelog-entry-required

#13839 doc: update board name for nRF9131
  doc/nrf/config_and_build/board_support/board_names.rst
  doc/nrf/includes/sample_board_rows.txt
Labels: doc-required, CI-disable

#13869 doc: distro: Point to example-application
  doc/nrf/dev_model_and_contributions/ncs_distro.rst
Labels: doc-required, changelog-entry-required

#13684 lib: nrf_modem: os: Wake threads waiting for all context
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/nrf_modem_os.c
Labels: doc-required

#13772 samples: cellular: modem_shell: Add sock getaddrinfo
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/modem_shell/src/sock/sock.c
  samples/cellular/modem_shell/src/sock/sock.h
  samples/cellular/modem_shell/src/sock/sock_shell.c
Labels: doc-required

#13878 doc: Matter: remove mention of macOS from one device Thread Border
  doc/nrf/protocols/matter/getting_started/testing/thread_one_otbr.rst
Labels: doc-required, CI-disable

#13853 samples: cellular: at_client: fix kconfig
  samples/cellular/at_client/prj.conf
Labels: changelog-entry-required

#13864 doc: install_ncs: align with Dev Academy
  doc/nrf/installation/install_ncs.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#13890 applications: Matter Bridge: allow parallel scan and advertising
  applications/matter_bridge/Kconfig
Labels: changelog-entry-required

#13884 manifest: update mpsl and sdc in nrfxlib
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#13895 net: lib: nrf_cloud: Update CoAP to support QZSS
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/coap/src/nrf_cloud_coap.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agnss.c
Labels: doc-required

#13892 doc: wifi: minor doc fixes
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/constrained.rst
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/fw_patches_ext_flash.rst
  doc/nrf/device_guides/working_with_nrf/nrf70/features.rst
  doc/nrf/device_guides/working_with_nrf/nrf70/nrf7002eb_gs.rst
  doc/nrf/device_guides/working_with_nrf/nrf70/nrf7002ek_gs.rst
  doc/nrf/protocols/wifi/raw_tx_operation.rst
  doc/nrf/protocols/wifi/regulatory_support.rst
  doc/nrf/protocols/wifi/sap.rst
  doc/nrf/protocols/wifi/wifi.rst
Labels: doc-required, changelog-entry-required

#13744 doc: Add links of the nRF9161 Hardware and PS guides in the NCS docs
  applications/serial_lte_modem/doc/slm_description.rst
  doc/nrf/device_guides/working_with_nrf/nrf91/nrf91_features.rst
  doc/nrf/device_guides/working_with_nrf/nrf91/thingy91.rst
  doc/nrf/includes/nrf_cloud_rest_sample_requirements.txt
  doc/nrf/includes/sample_board_rows.txt
  doc/nrf/libraries/modem/modem_battery.rst
  doc/nrf/libraries/modem/modem_key_mgmt.rst
  doc/nrf/libraries/modem/pdn.rst
  doc/nrf/links.txt
  doc/nrf/security/ap_protect.rst
  samples/cellular/lwm2m_client/provisioning.rst
  samples/cellular/pdn/README.rst
  samples/cellular/udp/README.rst
  west.yml
Labels: doc-required, manifest, CI-disable, manifest-nrfxlib, changelog-entry-required

#13900 bluetooth: controller: hci_driver: Fix ISO API use
  subsys/bluetooth/controller/hci_driver.c
Labels: changelog-entry-required

#13912 manifest: openthread: update to \`905a22e\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#13759 doc: Doc fixes
  samples/net/http_server/README.rst
Labels: doc-required, CI-disable

#13889 drivers: wifi: Add VIF locking to public APIs
  drivers/wifi/nrf700x/src/net_if.c
  drivers/wifi/nrf700x/src/wifi_mgmt.c
  drivers/wifi/nrf700x/src/wifi_mgmt_scan.c
  drivers/wifi/nrf700x/src/wpa_supp_if.c
Labels: changelog-entry-required

#13908 manifest: update MPSL and SDC
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#13914 applications: serial_lte_modem: Replace poll in send/recv
  applications/serial_lte_modem/src/slm_at_socket.c
  applications/serial_lte_modem/src/slm_at_socket.h
Labels: changelog-entry-required

#13920 applications: serial_lte_modem: Add 9151 overlay files
  applications/serial_lte_modem/boards/nrf9151dk_nrf9151_ns.conf
  applications/serial_lte_modem/boards/nrf9151dk_nrf9151_ns.overlay
Labels: changelog-entry-required

#13821 doc: nrf: Adding documentation support for Monitor mode operation
  doc/_scripts/software_maturity/software_maturity_features.yaml
  doc/nrf/protocols/wifi/images/nrf7000_packet_sniffer_operation.png
  doc/nrf/protocols/wifi/index.rst
  doc/nrf/protocols/wifi/sniffer_rx_operation.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#13855 nrf: doc: Update TX injection documentation
  doc/_scripts/software_maturity/software_maturity_features.yaml
  doc/nrf/protocols/wifi/raw_tx_operation.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, changelog-entry-required

#13926 Bluetooth: set configuration for HCI ISO data timestamps
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_driver.c
Labels: changelog-entry-required

#13939 samples: matter: Fix memory leak in Window Covering
  samples/matter/window_covering/src/window_covering.cpp
Labels: changelog-entry-required

#13910 doc: FEM user guide: clarify the purpose of the simple 2-pin mode.
  doc/nrf/device_guides/working_with_fem.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#13924 manifest: sdk-hostap: Pull OOM fixes in WPA cli
  west.yml
Labels: manifest, changelog-entry-required, manifest-hostap

#13841 samples: cellular: MSS: Secure credentials storage for Wi-Fi
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_multi_service/README.rst
  samples/cellular/nrf_cloud_multi_service/overlay_nrf7002ek_wifi_no_lte.conf
  samples/cellular/nrf_cloud_multi_service/sample.yaml
Labels: doc-required

#13899 Bluetooth: Mesh: Fix threshold value overflow
  subsys/bluetooth/mesh/sensor.c
Labels: changelog-entry-required, ble mesh

#13913 manifest: update Zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#13949 mpsl: align to changed nrfx_gpiote driver API
  subsys/mpsl/fem/simple_gpio/mpsl_fem_simple_gpio.c
Labels: changelog-entry-required

#13947 quarantine: Add native_sim to quarantine for Windows
  scripts/quarantine_windows_mac.yaml
Labels: changelog-entry-required

#13942 doc: nrf70: Remove documentation for unsupported feature
  doc/nrf/device_guides/working_with_nrf/nrf70/gs.rst
Labels: doc-required, changelog-entry-required

#13911 doc: aws_iot: Fix create-certificate-from-csr command
  doc/nrf/libraries/networking/aws_iot.rst
Labels: doc-required, changelog-entry-required, doc only

#13950 manifest: Update nrfxlib with mpsl and sdc
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#13967 samples: cellular: modem_shell: add sock secure example to README
  samples/cellular/modem_shell/README.rst
Labels: doc-required

#13921 manifest: Update Zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#13959 manifest: update nrfxlib revision with test spec update
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#13976 sample: wifi: Fix softap sample name
  samples/wifi/softap/sample.yaml
Labels: changelog-entry-required

#13891 Bluetooth: Mesh: Make prop_format_get public
  include/bluetooth/mesh/light_ctrl.h
  subsys/bluetooth/mesh/light_ctrl_cli.c
  subsys/bluetooth/mesh/light_ctrl_internal.h
  subsys/bluetooth/mesh/light_ctrl_srv.c
  tests/bluetooth/tester/src/mmdl.c
  tests/subsys/bluetooth/mesh/light_ctrl/src/main.c
Labels: ble mesh

#13927 doc: nrf5340audio: minor additions and fixes
  applications/nrf5340_audio/doc/firmware_architecture.rst
  applications/nrf5340_audio/doc/requirements.rst
  applications/nrf5340_audio/index.rst
  doc/nrf/libraries/bin/bt_ll_acs_nrf53/index.rst
Labels: doc-required, CI-disable

#13957 samples: Bluetooth: Mesh: enable settings caches in mesh samples
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/prj.conf
  samples/bluetooth/mesh/chat/prj.conf
  samples/bluetooth/mesh/dfu/distributor/prj.conf
  samples/bluetooth/mesh/dfu/target/prj.conf
  samples/bluetooth/mesh/light/prj.conf
  samples/bluetooth/mesh/light_dimmer/prj.conf
  samples/bluetooth/mesh/light_switch/prj.conf
  samples/bluetooth/mesh/silvair_enocean/prj.conf
Labels: ble mesh

#13952 scripts: upgrade cmake version to 3.21.0
  scripts/tools-versions-darwin.yml
  scripts/tools-versions-linux.yml
  scripts/tools-versions-win10.yml
Labels: changelog-entry-required

#13965 samples: openthread: enable rebooting to bootloader for nRF52 Dongle
  samples/openthread/cli/README.rst
  samples/openthread/cli/boards/nrf52840dongle_nrf52840.conf
  samples/openthread/cli/boards/nrf52840dongle_nrf52840.overlay
  samples/openthread/coprocessor/README.rst
  samples/openthread/coprocessor/boards/nrf52840dongle_nrf52840.conf
  samples/openthread/coprocessor/boards/nrf52840dongle_nrf52840.overlay
Labels: doc-required, changelog-entry-required

#13978 MPSL: Fix CONFIG_MPSL_PIN_DEBUG option
  subsys/mpsl/pin_debug/mpsl_pin_debug_radio_core.c
Labels: changelog-entry-required

#13933 manifest: update zephyr to fix UBSAN warnings
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required, CI-ble-test

#13985 samples: cellular: battery: fix typo in README
  samples/cellular/battery/README.rst
Labels: doc-required, 10-min-review

#13982 manifest: sdk-nrfxlib: Pull nRF70 patch update rev#70c67b7418a
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#13981 applications: Fixed hypothetical memory leakage in Matter bridge
  applications/matter_bridge/src/ble_providers/ble_bridged_device_factory.cpp
Labels: changelog-entry-required

#13991 bluetooth: fast_pair: Expose Model ID before Fast Pair is ready
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_registration_data.c
  subsys/bluetooth/services/fast_pair/include/common/fp_registration_data.h
Labels: changelog-entry-required

#13962 treewide: add nrf9151dk support where nrf9151dk is supported
  applications/asset_tracker_v2/pm_static_nrf9151dk_nrf9151_ns.yml
  applications/asset_tracker_v2/sample.yaml
  applications/asset_tracker_v2/sysbuild/mcuboot/boards/nrf9151dk_nrf9151.conf
  applications/asset_tracker_v2/sysbuild/mcuboot/boards/nrf9151dk_nrf9151.overlay
  applications/serial_lte_modem/sample.yaml
  boards/shields/nrf7002ek/boards/nrf9151dk_nrf9151.overlay
  boards/shields/nrf7002ek/boards/nrf9151dk_nrf9151_ns.overlay
  boards/shields/nrf7002ek_nrf7000/boards/nrf9151dk_nrf9151.overlay
  boards/shields/nrf7002ek_nrf7000/boards/nrf9151dk_nrf9151_ns.overlay
  boards/shields/nrf7002ek_nrf7001/boards/nrf9151dk_nrf9151.overlay
  boards/shields/nrf7002ek_nrf7001/boards/nrf9151dk_nrf9151_ns.overlay
  samples/cellular/at_client/sample.yaml
  samples/cellular/at_monitor/sample.yaml
  samples/cellular/battery/sample.yaml
  samples/cellular/ciphersuites/sample.yaml
  samples/cellular/fmfu_smp_svr/sample.yaml
  samples/cellular/gnss/sample.yaml
  samples/cellular/http_update/application_update/sample.yaml
  samples/cellular/http_update/modem_delta_update/sample.yaml
  samples/cellular/http_update/modem_full_update/sample.yaml
  samples/cellular/location/sample.yaml
  samples/cellular/lwm2m_carrier/sample.yaml
  samples/cellular/lwm2m_client/sample.yaml
  samples/cellular/modem_callbacks/sample.yaml
  samples/cellular/modem_shell/sample.yaml
  samples/cellular/modem_trace_backend/sample.yaml
  samples/cellular/modem_trace_flash/sample.yaml
  samples/cellular/nidd/sample.yaml
  samples/cellular/nrf_cloud_multi_service/child_image/mcuboot/boards/nrf9151dk_nrf9151.conf
  samples/cellular/nrf_cloud_multi_service/child_image/mcuboot/boards/nrf9151dk_nrf9151.overlay
  samples/cellular/nrf_cloud_multi_service/sample.yaml
  samples/cellular/nrf_cloud_multi_service/sysbuild/mcuboot/boards/nrf9151dk_nrf9151.conf
  samples/cellular/nrf_cloud_multi_service/sysbuild/mcuboot/boards/nrf9151dk_nrf9151.overlay
  samples/cellular/nrf_cloud_rest_cell_location/sample.yaml
  samples/cellular/nrf_cloud_rest_device_message/sample.yaml
  samples/cellular/nrf_cloud_rest_fota/sample.yaml
  samples/cellular/nrf_provisioning/sample.yaml
  samples/cellular/pdn/sample.yaml
  samples/cellular/sms/sample.yaml
  samples/cellular/udp/sample.yaml
  samples/net/https_client/sample.yaml
  samples/wifi/scan/sample.yaml
  samples/wifi/shell/sample.yaml
  samples/wifi/shutdown/sample.yaml
Labels: changelog-entry-required

#13837 samples: Correct building central_uart with nRF RPC stack.
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/central_uart/child_image/rpc_host.conf
  samples/bluetooth/central_uart/sample.yaml
Labels: doc-required, 10-min-review

#13961 manifest: Fetch upstream LwM2M changes
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#13941 manifest: sdk-zephyr: update hal_nordic to restore APPROTECT on nRF91
  scripts/quarantine_zephyr.yaml
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#13994 samples: matter: Matter simulated bridge with SMP DFU sample
  applications/matter_bridge/sample.yaml
Labels: changelog-entry-required

#13968 doc: wifi: move "Power profiling" section from Powersave ug
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/images/power_profiler2_pc_nrf7002_dk.png
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/images/power_profiler_dtim_output.png
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/images/power_profiler_dtim_wakeup.png
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/images/power_profiler_twt.png
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/index.rst
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/power_profiling.rst
  doc/nrf/protocols/wifi/powersave.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#13974 manifest: Update Zephyr version
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#14008 manifest: update sidewalk revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-sidewalk

#13988 doc: Minor doc fixes
  doc/nrf/libraries/networking/azure_iot_hub.rst
  doc/nrf/shortcuts.txt
  samples/cellular/ciphersuites/README.rst
  samples/cellular/lwm2m_carrier/provisioning.rst
  samples/net/download/README.rst
  samples/net/https_client/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#14009 samples: matter: Removed _NUS suffix from BT device name
  samples/matter/common/src/bt_nus/bt_nus_service.cpp
Labels: changelog-entry-required

#13862 doc: suit improvements
  doc/nrf/device_guides/working_with_nrf/nrf54h/images/nrf54h20_suit_dfu_overview.png
  doc/nrf/device_guides/working_with_nrf/nrf54h/images/nrf54h20_suit_generator_workflow.png
  doc/nrf/device_guides/working_with_nrf/nrf54h/images/nrf54h20_suit_manifest_topology.png
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_compare_other_dfu.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_customize_dfu.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_customize_qsg.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_dfu.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_intro.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_manifest_overview.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_why.rst
Labels: doc-required

#14019 doc: Known issues version fix
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, CI-disable

#14003 manifest: Update nrfxlib with MPSL and SDC
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-dragoon

#14007 net: lwm2m_client_utils: Set RAI_ONGOIN if we receive cmd
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_rai.c
Labels: changelog-entry-required

#13971 Bluetooth: Mesh: fix LC lux unit
  include/bluetooth/mesh/light_ctrl.h
Labels: changelog-entry-required, ble mesh

#13838 subsystem: net/lib/wifi_credentials: Switch to PSA ITS
  doc/nrf/libraries/networking/wifi_credentials.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.6.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/wifi_credentials/Kconfig
  subsys/net/lib/wifi_credentials/wifi_credentials_backend_psa.c
  tests/subsys/net/lib/wifi_credentials_backend_psa/CMakeLists.txt
  tests/subsys/net/lib/wifi_credentials_backend_psa/src/main.c
  tests/subsys/net/lib/wifi_credentials_backend_psa/src/normalized_crypto.h
Labels: doc-required, changelog-entry-required

#13873 Applications: nrf5340_audio: Refactored use of timestamps
  applications/nrf5340_audio/include/nrf5340_audio_common.h
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/bt_le_audio_tx/bt_le_audio_tx.c
Labels: changelog-entry-required

#14002 doc: wifi: rework constrained host ug
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/constrained.rst
  doc/nrf/protocols/wifi/index.rst
  doc/nrf/protocols/wifi/stack_configuration.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#14004 manifest: Update to latest sdk-zephyr version
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#14014 applications: nrf5340_audio: PCFT build number of more than 4 digits
  applications/nrf5340_audio/tools/buildprog/ble5-ctr-rpmsg_sign.py
  applications/nrf5340_audio/tools/buildprog/buildprog.py
Labels: changelog-entry-required

#14023 doc: reqs: update OS support table
  doc/nrf/installation/recommended_versions.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#14010 manifest: Pull Zephyr DHCPv4 server improvements
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#13907 doc: add config option to bootloader extflash
  doc/nrf/config_and_build/bootloaders/bootloader_external_flash.rst
Labels: doc-required

#14015 manifest: openthread: update to \`49c59ec\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#14012 treewide: add configurations for Thingy:91 X
  applications/serial_lte_modem/boards/thingy91x_nrf9151_ns.conf
  applications/serial_lte_modem/boards/thingy91x_nrf9151_ns.overlay
  applications/serial_lte_modem/sample.yaml
  samples/cellular/lwm2m_client/boards/thingy91x_nrf9151_ns.conf
  samples/cellular/lwm2m_client/boards/thingy91x_nrf9151_ns.overlay
  samples/cellular/lwm2m_client/sample.yaml
  samples/cellular/lwm2m_client/src/lwm2m/lwm2m_light_control.c
  samples/cellular/lwm2m_client/src/ui/include/ui_led.h
  samples/cellular/nidd/sample.yaml
  samples/cellular/nrf_cloud_multi_service/boards/thingy91x_nrf9151_ns.conf
  samples/cellular/nrf_cloud_multi_service/boards/thingy91x_nrf9151_ns.overlay
  samples/cellular/nrf_cloud_multi_service/sample.yaml
  samples/cellular/udp/sample.yaml
  samples/debug/memfault/boards/thingy91x_nrf9151_ns.conf
  samples/debug/memfault/sample.yaml
  samples/edge_impulse/data_forwarder/sample.yaml
  samples/edge_impulse/wrapper/sample.yaml
  samples/net/aws_iot/boards/thingy91x_nrf9151_ns.conf
  samples/net/aws_iot/boards/thingy91x_nrf9151_ns.overlay
  samples/net/aws_iot/sample.yaml
  samples/net/mqtt/boards/thingy91x_nrf9151_ns.conf
  samples/net/mqtt/boards/thingy91x_nrf9151_ns.overlay
  samples/wifi/radio_test/sample.yaml
  samples/wifi/scan/sample.yaml
  samples/wifi/shell/sample.yaml
Labels: changelog-entry-required

#13925 manifest: sdk-hostap: Pull fix for non-zephyr code
  west.yml
Labels: manifest, changelog-entry-required, manifest-hostap

#13969 doc: cleanup bluetooth trademark for known issues
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#14039 ci: update labeler to sync labels
  .github/workflows/labeler.yml
Labels: CI-disable, changelog-entry-required

#14022 applications: nrf5340_audio: Extended codec cfg max metadata size
  applications/nrf5340_audio/broadcast_sink/Kconfig.defaults
Labels: changelog-entry-required

#14031 Applications: nrf5340_audio: Neg timestamp fix
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/bt_le_audio_tx/bt_le_audio_tx.c
Labels: changelog-entry-required

#14036 modules: hostap: Fix key management for SAP
  modules/hostap/src/supp_api.c
Labels: changelog-entry-required

#13945 samples: net: download: Add default config to CI
  samples/net/download/sample.yaml
Labels: changelog-entry-required

#14045 Bluetooth: Controller: Require TEMP for temperature HCI command
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#14058 manifest: sdk-zephyr: Fix quarantine and test plan interaction
  west.yml
Labels: manifest, CI-disable, manifest-zephyr

#13840 lib: date_time: Add local time API function
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/date_time.h
  lib/date_time/date_time.c
  lib/date_time/date_time_core.c
  lib/date_time/date_time_core.h
  lib/date_time/date_time_modem.c
  lib/date_time/date_time_modem.h
Labels: doc-required, external, CI-Requested

#14067 drivers: wifi: Update RPU patch to rev#273a8653987
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required, bugfix

#14011 modules: mcuboot: Fix looking for boot signature key file
  modules/mcuboot/CMakeLists.txt
Labels: 10-min-review

#14065 modules: hostap: SAP mode needs more heap
  modules/hostap/Kconfig
Labels: changelog-entry-required

#13958 Bluetooth: Mesh: Add metadata extraction for DFU
  cmake/mesh_dfu_metadata.cmake
  scripts/bluetooth/mesh/mesh_dfu_metadata.py
  subsys/bluetooth/mesh/CMakeLists.txt
  subsys/bluetooth/mesh/Kconfig
Labels: changelog-entry-required, ble mesh

#14063 samples: bluetooth: Change the appearance in periph. UART to 0.
  samples/bluetooth/central_uart/child_image/rpc_host.conf
  samples/bluetooth/peripheral_uart/prj.conf
  samples/bluetooth/rpc_host/prj.conf
Labels: changelog-entry-required

#14038 doc: nrf: Update Monitor mode documentation
  doc/nrf/protocols/wifi/sniffer_rx_operation.rst
Labels: doc-required, changelog-entry-required

#13621 ext: fix oberon driver uninitialized variable
  ext/oberon/psa/drivers/oberon_ec_keys.c
Labels: changelog-entry-required

#13995 Bluetooth: Mesh: restore ttl in Time model after unsolicited statuses
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/bluetooth/mesh/time_srv.h
  subsys/bluetooth/mesh/time_srv.c
  tests/subsys/bluetooth/mesh/time_model/src/main.c
Labels: doc-required, changelog-entry-required, ble mesh

#14006 manifest: sdk-zephyr: Update I2S driver to generate master clock
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#14085 doc: Matter: Add v1.2.0 to Matter versions table
  doc/nrf/protocols/matter/overview/dev_model.rst
Labels: doc-required, CI-disable, doc only

#14056 applications: nrf5340_audio: Add PBP configs to broadcasters
  applications/nrf5340_audio/broadcast_sink/Kconfig.defaults
  applications/nrf5340_audio/broadcast_sink/main.c
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/bt_management/advertising/Kconfig
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.c
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.h
  applications/nrf5340_audio/src/bluetooth/bt_management/scanning/bt_mgmt_scan.c
  applications/nrf5340_audio/src/bluetooth/bt_management/scanning/bt_mgmt_scan_for_broadcast.c
  applications/nrf5340_audio/src/bluetooth/bt_management/scanning/bt_mgmt_scan_for_broadcast_internal.h
  applications/nrf5340_audio/src/bluetooth/bt_management/scanning/bt_mgmt_scan_for_conn.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/Kconfig
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_source.c
  applications/nrf5340_audio/unicast_client/main.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#14030 bluetooth: controller: Kconfig: remove BT_LL_SOFTDEVICE_EXPERIMENTAL_ISO
  subsys/bluetooth/controller/Kconfig
Labels: changelog-entry-required

#13783 doc: added qspi xip doc
  doc/nrf/device_guides/nrf53.rst
  doc/nrf/device_guides/working_with_nrf/nrf53/images/nrf5340_static_partition_manager_slots.png
  doc/nrf/device_guides/working_with_nrf/nrf53/qspi_xip_guide.rst
Labels: doc-required, changelog-entry-required

#14084 manifest: Update sdk-nrf-802154 and nrfxlib revisions
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#13996 applications: serial_lte_modem: socket option definitions
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_socket.c
  applications/serial_lte_modem/src/slm_at_socket.h
  applications/serial_lte_modem/src/slm_sockopt.h
Labels: doc-required

#14046 doc: working_with: move supported boards tables
  doc/nrf/device_guides/nrf52.rst
  doc/nrf/device_guides/nrf53.rst
  doc/nrf/device_guides/nrf70.rst
  doc/nrf/device_guides/nrf91.rst
  doc/nrf/device_guides/working_with_nrf/nrf52/features.rst
  doc/nrf/device_guides/working_with_nrf/nrf53/nrf5340.rst
  doc/nrf/device_guides/working_with_nrf/nrf70/features.rst
  doc/nrf/device_guides/working_with_nrf/nrf91/nrf9160.rst
  doc/nrf/device_guides/working_with_nrf/nrf91/nrf91_features.rst
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable

#14018 drivers: serial: lpuart: Fix build failure in certain configuration
  drivers/serial/uart_nrf_sw_lpuart.c
Labels: changelog-entry-required

#14088 doc: nrf_security: Add disclaimer about thread safety
  doc/nrf/libraries/nrf_security/doc/configuration.rst
Labels: doc-required, changelog-entry-required

#14050 tfm: Delete deprecated symbol PSA_INITIAL_ATTEST_TOKEN_MAX_SIZE
  modules/trusted-firmware-m/tfm_boards/partition/region_defs.h
Labels: manifest-zephyr, manifest-nrfxlib, manifest-mcuboot, manifest-trusted-firmware-m, manifest-matter, changelog-entry-required, manifest-mbedtls, manifest-psa-arch-tests

#14034 modules: trusted-firmware-m: HMAC DRBG for minimal
  modules/trusted-firmware-m/Kconfig
  subsys/nrf_security/cmake/legacy_crypto_config.cmake
Labels: changelog-entry-required

#14104 doc: qspi doc small fix
  doc/nrf/device_guides/working_with_nrf/nrf53/images/nrf5340_static_partition_manager_slots.png
  doc/nrf/device_guides/working_with_nrf/nrf53/images/nrf5340_static_partition_manager_slots.svg
  doc/nrf/device_guides/working_with_nrf/nrf53/qspi_xip_guide.rst
Labels: doc-required

#13937 doc: updated 54h documentation
  doc/nrf/device_guides/working_with_nrf/nrf54h/images/nRF7002ek.png
  doc/nrf/device_guides/working_with_nrf/nrf54h/nrf54h20_glossary.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_app_samples.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_architecture.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_architecture_intro.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_gs.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_matter_thread.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_nrf7002ek.rst
  doc/nrf/glossary.rst
  doc/nrf/includes/sample_board_rows.txt
  doc/nrf/links.txt
Labels: doc-required, changelog-entry-required

#14027 doc: update known issues with Matter's redundant Thread traffic
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, manifest-matter, changelog-entry-required

#14102 manifest: sdk-nrfxlib: Pull nRF70 patch update rev#cce490be224
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#14059 samples: matter: allow matter samples to retry BT advertising
  samples/matter/common/src/board/board.cpp
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#14103 samples: matter: Made IsGroup binding parameter optional
  applications/matter_bridge/src/simulated_providers/simulated_onoff_light_switch_data_provider.cpp
  samples/matter/common/src/binding/binding_handler.cpp
  samples/matter/common/src/binding/binding_handler.h
  samples/matter/common/src/bridge/bridged_device_data_provider.h
  samples/matter/light_switch/src/light_switch.cpp
  samples/matter/light_switch/src/shell_commands.cpp
  samples/matter/thermostat/src/temperature_measurement/sensor.cpp
Labels: changelog-entry-required

#14077 doc: wifi: improve structure of protocols/wi-fi page
  doc/_utils/redirects.py
  doc/nrf/protocols/wifi/advanced_modes/images/nrf7000_packet_injection_tx_flow.png
  doc/nrf/protocols/wifi/advanced_modes/images/nrf7000_packet_promiscuous_operation.png
  doc/nrf/protocols/wifi/advanced_modes/images/nrf7000_packet_sniffer_operation.png
  doc/nrf/protocols/wifi/advanced_modes/index.rst
  doc/nrf/protocols/wifi/advanced_modes/promiscuous_operation.rst
  doc/nrf/protocols/wifi/advanced_modes/raw_tx_operation.rst
  doc/nrf/protocols/wifi/advanced_modes/sniffer_rx_operation.rst
  doc/nrf/protocols/wifi/debugging.rst
  doc/nrf/protocols/wifi/index.rst
  doc/nrf/protocols/wifi/scan_mode/images/nrf7000_scan_operation_energy_consumption.svg
  doc/nrf/protocols/wifi/scan_mode/images/nrf7000_scan_operation_scan_time.svg
  doc/nrf/protocols/wifi/scan_mode/index.rst
  doc/nrf/protocols/wifi/scan_mode/mem_requirements_scan.rst
  doc/nrf/protocols/wifi/scan_mode/scan_operation.rst
  doc/nrf/protocols/wifi/stack_configuration.rst
  doc/nrf/protocols/wifi/station_mode/images/nRF70_ug_change_wakeup_mode_from_dtim_to_li.png
  doc/nrf/protocols/wifi/station_mode/images/nRF70_ug_change_wakeup_mode_from_li_to_dtim.png
  doc/nrf/protocols/wifi/station_mode/images/nRF70_ug_group_frames.svg
  doc/nrf/protocols/wifi/station_mode/images/nRF70_ug_legacy_power_save.svg
  doc/nrf/protocols/wifi/station_mode/images/nRF70_ug_twt.svg
  doc/nrf/protocols/wifi/station_mode/images/nRF70_ug_twt_wake_interval.svg
  doc/nrf/protocols/wifi/station_mode/images/nRF70_ug_wmm_power_save.svg
  doc/nrf/protocols/wifi/station_mode/index.rst
  doc/nrf/protocols/wifi/station_mode/mem_requirements_sta.rst
  doc/nrf/protocols/wifi/station_mode/powersave.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/test_and_optimize/optimizing/memory.rst
Labels: doc-required

#14114 applications: nrf5340_audio: Print loccal address from internal struct
  applications/nrf5340_audio/prj.conf
  applications/nrf5340_audio/src/bluetooth/bt_management/CMakeLists.txt
  applications/nrf5340_audio/src/bluetooth/bt_management/scanning/bt_mgmt_scan.c
Labels: bugfix

#14109 doc: qspi changelog entry
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#14107 manifest: pull nRF54H20 extended DT from Zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required, CI-Requested

#14081 samples: cellular: nRF Cloud auto-onboarding
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_multi_service/README.rst
  samples/cellular/nrf_cloud_multi_service/overlay-coap_nrf_provisioning.conf
  samples/cellular/nrf_cloud_multi_service/overlay-http_nrf_provisioning.conf
  samples/cellular/nrf_cloud_multi_service/src/cloud_connection.c
  samples/cellular/nrf_cloud_rest_device_message/README.rst
  samples/cellular/nrf_cloud_rest_device_message/overlay-nrf_provisioning.conf
  subsys/net/lib/nrf_cloud/coap/src/nrfc_dtls.c
Labels: doc-required

#14121 manifest: openthread: update to \`3aa3cbc\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#13857 samples: cellular: modem_shell: Make sec_tag unsigned
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/modem_shell/src/sock/sock.c
  samples/cellular/modem_shell/src/sock/sock.h
  samples/cellular/modem_shell/src/sock/sock_shell.c
Labels: doc-required

#13812 samples: net: Reduce TFM RAM and Flash usage and support ns build
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/debug/memfault/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/net/aws_iot/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  samples/net/aws_iot/boards/nrf7002dk_nrf5340_cpuapp_ns.overlay
  samples/net/aws_iot/sample.yaml
  samples/net/azure_iot_hub/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  samples/net/azure_iot_hub/boards/nrf7002dk_nrf5340_cpuapp_ns.overlay
  samples/net/azure_iot_hub/sample.yaml
  samples/net/coap_client/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  samples/net/download/Kconfig
  samples/net/download/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  samples/net/download/prj.conf
  samples/net/download/sample.yaml
  samples/net/download/src/main.c
  samples/net/http_server/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  samples/net/https_client/Kconfig
  samples/net/https_client/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  samples/net/https_client/sample.yaml
  samples/net/https_client/src/main.c
  samples/net/mqtt/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  samples/net/mqtt/overlay-tls-nrf70.conf
  samples/net/mqtt/sample.yaml
  samples/net/udp/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  samples/wifi/shell/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  subsys/net/lib/mqtt_helper/Kconfig
  subsys/net/lib/mqtt_helper/mqtt_helper.c
Labels: doc-required

#14116 Bluetooth: Mesh: Add new Sensor API support to Light Ctrl shell
  subsys/bluetooth/mesh/shell/shell_ctrl_cli.c
Labels: ble mesh

#13997 lib: sample_rate_converter: Small filters for conversion
  include/sample_rate_converter.h
  lib/sample_rate_converter/Kconfig
  lib/sample_rate_converter/sample_rate_converter.c
  lib/sample_rate_converter/sample_rate_converter_filter.c
  lib/sample_rate_converter/sample_rate_converter_filter.h
  tests/lib/sample_rate_converter/prj.conf
  tests/lib/sample_rate_converter/src/main.c
Labels: changelog-entry-required

#14093 samples: openthread: align sample.yaml configs to CI tests
  samples/openthread/cli/sample.yaml
  samples/openthread/cli/snippets/ci/ci.conf
  samples/openthread/coap_client/sample.yaml
  samples/openthread/coap_server/sample.yaml
  samples/openthread/coprocessor/sample.yaml
Labels: changelog-entry-required

#14131 doc: image font fix in ESB protocol docs
  doc/nrf/protocols/esb/images/esb_fig2_ptx_trans_ok.svg
  doc/nrf/protocols/esb/images/esb_fig3_prx_ptx_trans_fail.svg
Labels: doc-required, CI-disable

#14080 wifi: Fix stats crash deinit
  drivers/wifi/nrf700x/src/net_if.c
Labels: changelog-entry-required

#14106 Applications: nrf5340_audio: Ctlr poll in separate work q
  applications/nrf5340_audio/src/bluetooth/bt_management/Kconfig
  applications/nrf5340_audio/src/bluetooth/bt_management/controller_config/bt_mgmt_ctlr_cfg.c
Labels: changelog-entry-required

#13936 samples: net: azure_iot_hub: Reword log messages for device twin
  samples/net/azure_iot_hub/src/main.c
Labels: changelog-entry-required

#13972 doc: Update Fast Pair guide to match the integration template
  doc/nrf/external_comp/bt_fast_pair.rst
  doc/nrf/libraries/bluetooth_services/services/fast_pair.rst
  doc/nrf/templates/Integration_template_README.rst
Labels: doc-required, CI-disable
