Repository nrfconnect/sdk-nrf, pull requests merged in 2024-07, with the labels that each got.

#16275 CODEOWNERS: Add Protocols Serialization team to the related application directory
  CODEOWNERS
Labels: changelog-entry-required

#16263 doc: migration: sysbuild: Add clarifications
  doc/nrf/config_and_build/config_and_build_system.rst
  doc/nrf/config_and_build/configuring_app/advanced_building.rst
  doc/nrf/config_and_build/configuring_app/cmake/index.rst
  doc/nrf/config_and_build/configuring_app/index.rst
  doc/nrf/create_application.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/migration/migration_sysbuild.rst
  doc/nrf/shortcuts.txt
Labels: doc-required

#16282 doc: nrf: releases: migration: sysbuild: Remove fixed issue
  doc/nrf/releases_and_maturity/migration/migration_sysbuild.rst
Labels: doc-required, changelog-entry-required, doc only

#16271 samples: wifi: Coexistence samples readme update
  doc/nrf/images/wifi_thread_coex.svg
  samples/wifi/ble_coex/README.rst
  samples/wifi/thread_coex/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#16293 manifest: Update SHA to include fix in sdk-soc-hwmv1
  west.yml
Labels: manifest, changelog-entry-required, manifest-soc-hwmv1

#16290 [NCSDK-28174] docker: Install JLink in sdk-nrf-toolchain image
  scripts/docker/Dockerfile
  scripts/docker/README.md
  scripts/docker/entrypoint.sh
  scripts/docker/interactive-setup.sh
  scripts/docker/jlink/install.sh
  scripts/docker/jlink/license.txt
  scripts/docker/non-interactive-setup.sh
Labels: CI-disable, changelog-entry-required

#16277 NCS 2.7.0 rebase
  west.yml
Labels: manifest, manifest-zephyr, manifest-mcuboot, changelog-entry-required

#16297 manifest: Update sdk-zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#16306 doc: migration: hwmv2: inform about board conversion script limitations
  doc/nrf/releases_and_maturity/migration/migration_hwmv2.rst
Labels: doc-required, changelog-entry-required

#15816 doc: update known issues for NCS v2.7.0
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, CI-disable, changelog-entry-required

#16307 doc: improve board migration hwmv1 to hwmv2 description
  doc/nrf/releases_and_maturity/migration/migration_hwmv2.rst
Labels: doc-required

#15961 doc: Release notes for 2.7.0
  applications/serial_lte_modem/doc/GNSS_AT_commands.rst
  doc/matter/conf.py
  doc/nrf/conf.py
  doc/nrf/dev_model_and_contributions/adding_code.rst
  doc/nrf/index.rst
  doc/nrf/libraries/networking/wifi_ready.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_1.x_to_2.x.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.4.99-cs3_to_2.6.99-cs2.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.5.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.6.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.7.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7.rst
  doc/nrf/releases_and_maturity/migration/migration_hwmv2.rst
  doc/nrf/releases_and_maturity/migration/migration_sysbuild.rst
  doc/nrf/releases_and_maturity/migration_guides.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.7.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
  subsys/net/lib/wifi_ready/Kconfig
Labels: doc-required

#16318 doc: Fix software maturity tables
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, changelog-entry-required

#16317 doc: post-release doc update for 2.7.0
  doc/nrf/conf.py
  doc/nrf/releases_and_maturity/migration/migration_guide_1.x_to_2.x.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.4.99-cs3_to_2.6.99-cs2.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.5.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.6.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.7.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.8.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7.rst
  doc/nrf/releases_and_maturity/migration/migration_hwmv2.rst
  doc/nrf/releases_and_maturity/migration/migration_sysbuild.rst
  doc/nrf/releases_and_maturity/migration_guides.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

#16321 ci: use forked branches of CI/Verification repositories
  Jenkinsfile
  test-manifests/99-default-test-nrf.yml
Labels: changelog-entry-required

#16338 doc: bring back known issues to latest
  doc/nrf/releases_and_maturity.rst
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#16354 tests: benchmarks: multicore: idle: add harness explicit
  tests/benchmarks/multicore/idle/testcase.yaml
Labels: changelog-entry-required

#15645 manifest: update `sdk-zephyr` with OpenThread fix
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#16316 doc: Matter: clarify Bluetooth certification documentation
  doc/nrf/protocols/bt/bt_qualification/index.rst
  doc/nrf/protocols/matter/end_product/certification.rst
Labels: doc-required, CI-disable

#16315 doc: Add known issue about VS Set Connection Event Trigger command
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#16357 samples: central_and_peripheral_hr: Fix coverity
  samples/bluetooth/central_and_peripheral_hr/src/main.c
Labels: changelog-entry-required, bugfix, 10-min-review

#16186 samples: coremark: use default logging mode
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/benchmarks/coremark/README.rst
  samples/benchmarks/coremark/prj.conf
  samples/benchmarks/coremark/src/main.c
Labels: doc-required

#16202 samples: wifi: Fix deprecated configuration variables
  samples/wifi/ble_coex/CMakeLists.txt
  samples/wifi/shell/sample.yaml
  samples/wifi/thread_coex/CMakeLists.txt
  samples/wifi/throughput/sample.yaml
  samples/wifi/wfa_qt_app/README.rst
Labels: doc-required, changelog-entry-required

#16328 doc: known_issues: Make DRGN-16013 apply to v2.6 and v2.7
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#16323 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#16191 applications: Added debug logs to the Matter weather station
  applications/matter_weather_station/src/app_task.cpp
  applications/matter_weather_station/src/main.cpp
Labels: changelog-entry-required

#16349 samples: bluetooth: peripheral_uart: Fix RPC build docs
  samples/bluetooth/peripheral_uart/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#16289 samples: matter: Increased stacks and settings sizes for nRF54L15
  samples/matter/light_bulb/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/matter/light_bulb/pm_static_nrf54l15pdk_nrf54l15_cpuapp.yml
  samples/matter/light_switch/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/matter/light_switch/pm_static_nrf54l15pdk_nrf54l15_cpuapp.yml
  samples/matter/lock/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/matter/lock/pm_static_nrf54l15pdk_nrf54l15_cpuapp.yml
  samples/matter/template/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/matter/template/pm_static_nrf54l15pdk_nrf54l15_cpuapp.yml
  samples/matter/template/pm_static_nrf54l15pdk_nrf54l15_cpuapp_internal.yml
  samples/matter/thermostat/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/matter/thermostat/pm_static_nrf54l15pdk_nrf54l15_cpuapp.yml
  samples/matter/window_covering/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/matter/window_covering/pm_static_nrf54l15pdk_nrf54l15_cpuapp.yml
Labels: changelog-entry-required

#16211 Bluetooth: Tester: enable comp page one and increase extension list
  tests/bluetooth/tester/prj.conf
Labels: changelog-entry-required

#16368 Bluetooth: Remove VS HCI wrappers for coex
  include/bluetooth/hci_vs_sdc.h
  subsys/bluetooth/hci_vs_sdc.c
Labels: changelog-entry-required

#16134 manifest: sdk-nrfxlib: Pull nRF70 patch update rev#32c836f2a83
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib

#16276 samples: matter: optimize the factory reset time
  samples/matter/common/src/app/fabric_table_delegate.h
  samples/matter/common/src/app/group_data_provider.h
  samples/matter/common/src/app/matter_init.cpp
  samples/matter/common/src/board/board.cpp
  samples/matter/common/src/event_triggers/default_event_triggers.cpp
  samples/matter/common/src/migration/migration_manager.cpp
Labels: changelog-entry-required

#16280 samples: ipc: ipc_service: align test config when rad/net is sending
  samples/ipc/ipc_service/sample.yaml
Labels: changelog-entry-required

#16165 samples: wifi: add wifi tag for samples
  samples/wifi/ble_coex/sample.yaml
  samples/wifi/monitor/sample.yaml
  samples/wifi/promiscuous/sample.yaml
  samples/wifi/provisioning/ble/sample.yaml
  samples/wifi/provisioning/softap/sample.yaml
  samples/wifi/radio_test/sample.yaml
  samples/wifi/raw_tx_packet/sample.yaml
  samples/wifi/scan/sample.yaml
  samples/wifi/shell/sample.yaml
  samples/wifi/shutdown/sample.yaml
  samples/wifi/softap/sample.yaml
  samples/wifi/sta/sample.yaml
  samples/wifi/thread_coex/sample.yaml
  samples/wifi/throughput/sample.yaml
  samples/wifi/twt/sample.yaml
  samples/wifi/wfa_qt_app/sample.yaml
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#16137 tests: bluetooth: extend bluetooth tag for tests
  samples/bluetooth/peripheral_hids_mouse/sample.yaml
  scripts/ci/tags.yaml
  tests/bluetooth/iso/testcase.yaml
  tests/subsys/bluetooth/gatt_dm/testcase.yaml
Labels: changelog-entry-required

#15934 mpsl: Clean up ppi reservations
  subsys/mpsl/init/mpsl_init.c
Labels: changelog-entry-required

#16250 samples: wifi: sta: Reduce kernel heap
  samples/wifi/sta/prj.conf
Labels: changelog-entry-required

#16273 modules: hostap: Fix H2E default value
  modules/hostap/src/supp_main.c
Labels: changelog-entry-required

#16242 net: lib: nrf_cloud_coap: Allow null net_info
  subsys/net/lib/nrf_cloud/coap/src/coap_codec.c
Labels: bugfix

#16268 net: lib: nrf_cloud_logging: Build assert dict log
  subsys/net/lib/nrf_cloud/src/nrf_cloud_log_backend.c
Labels: changelog-entry-required

#16344 net: lib: nrf_cloud: allow runtime client id for coap
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_client_id
  subsys/net/lib/nrf_cloud/coap/src/nrf_cloud_coap.c
  subsys/net/lib/nrf_cloud/coap/src/nrf_cloud_coap_transport.c
  subsys/net/lib/nrf_cloud/include/nrf_cloud_client_id.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_client_id.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_jwt.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: doc-required

#16146 manifest: Updated Matter revision to pull new Kconfigs
  doc/nrf/protocols/matter/getting_started/advanced_kconfigs.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  west.yml
Labels: doc-required, manifest, manifest-matter

#16369 tests: benchmarks: multicore: idle: Implement E2E RAM retention test
  tests/benchmarks/multicore/idle/boards/nrf54h20dk_nrf54h20_cpuapp_ram_high_usage.overlay
  tests/benchmarks/multicore/idle/boards/nrf54h20dk_nrf54h20_cpuapp_ram_low_usage.overlay
  tests/benchmarks/multicore/idle/testcase.yaml
Labels: changelog-entry-required

#16171 samples: matter: add matter tag for samples
  applications/matter_bridge/sample.yaml
  applications/matter_weather_station/sample.yaml
  samples/matter/light_bulb/sample.yaml
  samples/matter/light_switch/sample.yaml
  samples/matter/lock/sample.yaml
  samples/matter/template/sample.yaml
  samples/matter/thermostat/sample.yaml
  samples/matter/window_covering/sample.yaml
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#16252 drivers: wifi: Update RPU patch to rev#589de9f58be
  drivers/wifi/nrf700x/osal/fw_if/umac_if/inc/fw/rpu_fw_patches.h
Labels: changelog-entry-required

#16253 samples: suit: add extmem plus BT variant to sample.yaml
  samples/suit/smp_transfer/sample.yaml
Labels: changelog-entry-required

#16295 IAK fixups
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/common.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/common.h
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/key_management.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/sign.c
  subsys/nrf_security/src/drivers/cracen/silexpk/target/baremetal_ba414e_with_ik/pk_baremetal.c
  subsys/nrf_security/src/drivers/cracen/silexpk/target/hw/ik/ikhardware.c
Labels: changelog-entry-required

#16381 scripts: ci: tags: include paths for tests and samples
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#16159 samples: crypto: add crypto tag for samples
  samples/crypto/aes_cbc/sample.yaml
  samples/crypto/aes_ccm/sample.yaml
  samples/crypto/aes_ctr/sample.yaml
  samples/crypto/aes_gcm/sample.yaml
  samples/crypto/chachapoly/sample.yaml
  samples/crypto/ecdh/sample.yaml
  samples/crypto/ecdsa/sample.yaml
  samples/crypto/ecjpake/sample.yaml
  samples/crypto/eddsa/sample.yaml
  samples/crypto/hkdf/sample.yaml
  samples/crypto/hmac/sample.yaml
  samples/crypto/pbkdf2/sample.yaml
  samples/crypto/persistent_key_usage/sample.yaml
  samples/crypto/psa_tls/sample.yaml
  samples/crypto/rng/sample.yaml
  samples/crypto/rsa/sample.yaml
  samples/crypto/sha256/sample.yaml
  samples/crypto/spake2p/sample.yaml
  scripts/ci/tags.yaml
  tests/crypto/testcase.yaml
Labels: changelog-entry-required

#16178 cracen: Stack size reduction
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/blkcipher.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/common.h
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/ctr_drbg.c
  subsys/nrf_security/src/drivers/cracen/sxsymcrypt/include/sxsymcrypt/aes.h
  subsys/nrf_security/src/drivers/cracen/sxsymcrypt/include/sxsymcrypt/blkcipher.h
  subsys/nrf_security/src/drivers/cracen/sxsymcrypt/src/blkcipher.c
  subsys/nrf_security/src/drivers/cracen/sxsymcrypt/src/hw.h
  subsys/nrf_security/src/drivers/cracen/sxsymcrypt/src/platform/baremetal/cmdma_hw.c
Labels: changelog-entry-required

#16383 manifest: Update suit-generator revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-suit-generator

#16299 manifest: sdk-hostap: Pull CSRNG fix
  west.yml
Labels: manifest, changelog-entry-required, manifest-hostap

#16156 boards: shield: Add defconfigs for nRF54 shields.
  boards/shields/nrf700x_nrf54h20dk/Kconfig.defconfig
  boards/shields/nrf700x_nrf54l15pdk/Kconfig.defconfig
Labels: changelog-entry-required

#16209 nrf: rpc: move serializer and callback proxy to nrf rpc
  doc/nrf/libraries/bluetooth_services/rpc.rst
  include/nrf_rpc/nrf_rpc_cbkproxy.h
  include/nrf_rpc/nrf_rpc_serialize.h
  subsys/bluetooth/rpc/Kconfig
  subsys/bluetooth/rpc/client/bt_rpc_conn_client.c
  subsys/bluetooth/rpc/client/bt_rpc_crypto_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gap_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gatt_client.c
  subsys/bluetooth/rpc/client/bt_rpc_internal_client.c
  subsys/bluetooth/rpc/common/CMakeLists.txt
  subsys/bluetooth/rpc/common/bt_rpc_common.c
  subsys/bluetooth/rpc/common/bt_rpc_common.h
  subsys/bluetooth/rpc/host/bt_rpc_conn_host.c
  subsys/bluetooth/rpc/host/bt_rpc_crypto_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gap_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gatt_host.c
  subsys/bluetooth/rpc/host/bt_rpc_internal_host.c
  subsys/nrf_rpc/CMakeLists.txt
  subsys/nrf_rpc/Kconfig
  subsys/nrf_rpc/nrf_rpc_cbkproxy.c
  subsys/nrf_rpc/nrf_rpc_serialize.c
Labels: doc-required, changelog-entry-required

#16351 Application: nrf5340_audio: Allow opening multiple files on SD card
  applications/nrf5340_audio/src/modules/sd_card.c
Labels: changelog-entry-required

#16374 net: lib: nrf_cloud: allow sec tag to be set at runtime
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  subsys/net/lib/nrf_cloud/CMakeLists.txt
  subsys/net/lib/nrf_cloud/Kconfig
  subsys/net/lib/nrf_cloud/src/nrf_cloud_credentials.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota_poll.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_jwt.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_sec_tag.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: doc-required

#16167 samples: zigbee: add zigbee tag for samples
  samples/zigbee/light_bulb/sample.yaml
  samples/zigbee/light_switch/sample.yaml
  samples/zigbee/ncp/sample.yaml
  samples/zigbee/network_coordinator/sample.yaml
  samples/zigbee/shell/sample.yaml
  samples/zigbee/template/sample.yaml
  scripts/ci/tags.yaml
  tests/subsys/zigbee/osif/crypto/testcase.yaml
  tests/subsys/zigbee/osif/nvram/testcase.yaml
  tests/subsys/zigbee/osif/serial/serial_async_api/testcase.yaml
  tests/subsys/zigbee/osif/serial/serial_basic_api/testcase.yaml
  tests/subsys/zigbee/osif/serial/serial_via_logger/testcase.yaml
  tests/subsys/zigbee/osif/timer_counter/testcase.yaml
  tests/subsys/zigbee/osif/timer_ktimer/testcase.yaml
  tests/subsys/zigbee/zboss_api/alarm_api/testcase.yaml
  tests/subsys/zigbee/zboss_api/callback_api/testcase.yaml
Labels: changelog-entry-required

#16388 NRFX-6039: Run accel_polling sample on nrf54h20 PPR core
  boards/shields/pca63566/boards/nrf54h20dk_nrf54h20_common.dtsi
  boards/shields/pca63566/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  boards/shields/pca63566/boards/nrf54h20dk_nrf54h20_cpuppr.overlay
  boards/shields/pca63566/boards/nrf54h20dk_nrf54h20_vpr_launcher.overlay
Labels: changelog-entry-required

#16170 samples: openthread: add openthread tag for samples
  samples/openthread/cli/sample.yaml
  samples/openthread/coap_client/sample.yaml
  samples/openthread/coap_server/sample.yaml
  samples/openthread/coprocessor/sample.yaml
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#16324 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#16068 manifest: Update suit-processor revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-suit-processor

#16174 samples: tfm: add tfm tag for samples
  samples/tfm/provisioning_image/sample.yaml
  samples/tfm/provisioning_image_net_core/sample.yaml
  samples/tfm/tfm_hello_world/sample.yaml
  samples/tfm/tfm_psa_template/sample.yaml
  scripts/ci/tags.yaml
  tests/tfm/tfm_psa_test/testcase.yaml
  tests/tfm/tfm_regression_test/testcase.yaml
Labels: changelog-entry-required

#16127 applications: nrf5340_audio: minimal scan delegator implementation
  applications/nrf5340_audio/broadcast_sink/Kconfig.defaults
  applications/nrf5340_audio/broadcast_sink/main.c
  applications/nrf5340_audio/include/zbus_common.h
  applications/nrf5340_audio/src/audio/Kconfig
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.h
  applications/nrf5340_audio/src/bluetooth/bt_management/scanning/bt_mgmt_scan_for_broadcast.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/Kconfig
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_sink.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_sink.h
Labels: changelog-entry-required

#16169 tests: subsys: suit: add suit tag for samples
  scripts/ci/tags.yaml
  tests/subsys/suit/cache_fetch/testcase.yaml
  tests/subsys/suit/copy/testcase.yaml
  tests/subsys/suit/envelope_decoder/testcase.yaml
  tests/subsys/suit/execution_mode/testcase.yaml
  tests/subsys/suit/fetch/testcase.yaml
  tests/subsys/suit/fetch_integrated_payload_flash/testcase.yaml
  tests/subsys/suit/fetch_source_mgr/testcase.yaml
  tests/subsys/suit/flash_sink/testcase.yaml
  tests/subsys/suit/integrated_fetch/testcase.yaml
  tests/subsys/suit/invoke/testcase.yaml
  tests/subsys/suit/mci/testcase.yaml
  tests/subsys/suit/memptr_sink/testcase.yaml
  tests/subsys/suit/ram_sink/testcase.yaml
  tests/subsys/suit/sink_selector/testcase.yaml
  tests/subsys/suit/storage/testcase.yaml
  tests/subsys/suit/storage_nrf54h20/testcase.yaml
  tests/subsys/suit/suit_memptr_storage/testcase.yaml
  tests/subsys/suit/write/testcase.yaml
Labels: changelog-entry-required

#16352 adv_prov: fast_pair: Fix uninitialized structure
  subsys/bluetooth/adv_prov/providers/fast_pair.c
Labels: bugfix, 10-min-review

#16279 services: hids: Fix possible out-of-bound access
  subsys/bluetooth/services/hids.c
Labels: 10-min-review

#16396 lib: nrf_modem: net_if: Include SIM help message
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/lte_net_if/lte_net_if.c
Labels: doc-required

#16395 samples: mss: Update to picolib
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_multi_service/overlay_nrf7002ek_wifi_coap_no_lte.conf
  samples/cellular/nrf_cloud_multi_service/overlay_nrf7002ek_wifi_no_lte.conf
  subsys/net/lib/nrf_cloud/Kconfig
Labels: doc-required

#16411 samples: nfc: add nfc tag for samples
  samples/nfc/record_launch_app/sample.yaml
  samples/nfc/record_text/sample.yaml
  samples/nfc/shell/sample.yaml
  samples/nfc/system_off/sample.yaml
  samples/nfc/tag_reader/sample.yaml
  samples/nfc/tnep_poller/sample.yaml
  samples/nfc/tnep_tag/sample.yaml
  samples/nfc/writable_ndef_msg/sample.yaml
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#16416 applications: zigbee_weather_station: add zigbee tag
  applications/zigbee_weather_station/sample.yaml
Labels: changelog-entry-required

#16399 manifest: sdk-nrfxlib: Pull nRF70 patch update rev#612647283a5
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#16403 applications: Matter Weather Station: fix ipc_radio configuration
  applications/matter_weather_station/Kconfig.sysbuild
  applications/matter_weather_station/sysbuild/ipc_radio/Kconfig
  applications/matter_weather_station/sysbuild/ipc_radio/prj.conf
  samples/matter/light_bulb/Kconfig.sysbuild
  samples/matter/light_switch/Kconfig.sysbuild
  samples/matter/lock/Kconfig.sysbuild
  samples/matter/template/Kconfig.sysbuild
  samples/matter/thermostat/Kconfig.sysbuild
  samples/matter/window_covering/Kconfig.sysbuild
Labels: changelog-entry-required

#16405 suit: Handle duplicate MPIs as icorrect MPI value
  subsys/suit/orchestrator/src/suit_orchestrator_sdfw.c
  subsys/suit/storage/include/suit_storage.h
  tests/subsys/suit/orchestrator/orchestrator_sdfw_nrf54h20/src/test_init.c
Labels: changelog-entry-required

#16412 suit: Pass encryption info to the platform
  subsys/suit/platform/app/src/suit_plat_copy.c
  subsys/suit/platform/app/src/suit_plat_swap.c
  subsys/suit/platform/app/src/suit_plat_write.c
  subsys/suit/platform/sdfw/src/suit_plat_copy.c
  subsys/suit/platform/sdfw/src/suit_plat_swap.c
  subsys/suit/platform/sdfw/src/suit_plat_write.c
  subsys/suit/platform/src/suit_plat_fetch.c
  tests/subsys/suit/cache_pool_digest/src/main.c
  tests/subsys/suit/copy/src/main.c
  tests/subsys/suit/fetch/src/main.c
  tests/subsys/suit/unit/mocks/include/mock_suit_platform.h
  tests/subsys/suit/write/src/main.c
  west.yml
Labels: manifest, changelog-entry-required, manifest-suit-processor

#16345 samples: cellular: nrf_cloud_rest_device_message: update logging
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_rest_device_message/overlay_nrfcloud_logging.conf
Labels: doc-required

#16376 samples: cellular: mss: Add test counter multiplier
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_multi_service/Kconfig
  samples/cellular/nrf_cloud_multi_service/src/application.c
Labels: doc-required

#16138 samples: net: add net tag for samples
  samples/net/aws_iot/sample.yaml
  samples/net/azure_iot_hub/sample.yaml
  samples/net/coap_client/sample.yaml
  samples/net/download/sample.yaml
  samples/net/http_server/sample.yaml
  samples/net/https_client/sample.yaml
  samples/net/mqtt/sample.yaml
  samples/net/udp/sample.yaml
  scripts/ci/tags.yaml
  tests/subsys/net/lib/aws_fota/aws_fota_json/testcase.yaml
  tests/subsys/net/lib/aws_iot/testcase.yaml
  tests/subsys/net/lib/azure_iot_hub/dps/testcase.yaml
  tests/subsys/net/lib/azure_iot_hub/iot_hub/testcase.yaml
  tests/subsys/net/lib/download_client/testcase.yaml
  tests/subsys/net/lib/fota_download/testcase.yaml
  tests/subsys/net/lib/lwm2m_client_utils/testcase.yaml
  tests/subsys/net/lib/lwm2m_fota_utils/testcase.yaml
  tests/subsys/net/lib/mcumgr_smp_client/testcase.yaml
  tests/subsys/net/lib/mqtt_helper/testcase.yaml
  tests/subsys/net/lib/nrf_cloud/fota_common/testcase.yaml
  tests/subsys/net/lib/nrf_provisioning/testcase.yaml
  tests/subsys/net/lib/wifi_credentials/testcase.yaml
  tests/subsys/net/lib/wifi_credentials_backend_psa/testcase.yaml
  tests/subsys/net/lib/wifi_credentials_backend_settings/testcase.yaml
Labels: changelog-entry-required

#16430 scripts: ci: tags: add tags for sidewalk
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#16287 bluetooth: fast_pair: separate subsequent pairing feature into Kconfig
  doc/nrf/external_comp/bt_fast_pair.rst
  doc/nrf/libraries/bluetooth_services/services/fast_pair.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/bluetooth/adv_prov/fast_pair.h
  include/bluetooth/services/fast_pair/fast_pair.h
  samples/bluetooth/fast_pair/locator_tag/src/fp_adv.c
  subsys/bluetooth/adv_prov/providers/Kconfig.fast_pair
  subsys/bluetooth/adv_prov/providers/fast_pair.c
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_advertising.c
  subsys/bluetooth/services/fast_pair/fp_gatt_service.c
  subsys/bluetooth/services/fast_pair/fp_keys.c
Labels: doc-required

#16391 tests: net: openthread: rpc: initial server unit tests
  subsys/net/openthread/rpc/Kconfig
  subsys/net/openthread/rpc/client/CMakeLists.txt
  subsys/net/openthread/rpc/server/CMakeLists.txt
  tests/include/mock_nrf_rpc_transport.h
  tests/mocks/nrf_rpc/mock_nrf_rpc_transport.c
  tests/subsys/net/openthread/rpc/server/CMakeLists.txt
  tests/subsys/net/openthread/rpc/server/prj.conf
  tests/subsys/net/openthread/rpc/server/src/main.c
  tests/subsys/net/openthread/rpc/server/src/net_l2_openthread.c
  tests/subsys/net/openthread/rpc/server/src/nrf_rpc_single_thread.c
  tests/subsys/net/openthread/rpc/server/testcase.yaml
Labels: changelog-entry-required

#16377 manifest: Pull in sdk-zephyr with updated i2c test
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#15901 samples: cellular: gnss: Build integration CI images with twister
  applications/asset_tracker_v2/sample.yaml
  samples/cellular/gnss/sample.yaml
  samples/cellular/location/sample.yaml
  samples/cellular/modem_shell/sample.yaml
Labels: changelog-entry-required

#16436 manifest: sdk-sidewalk: Update revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-sidewalk

#16358 samples: matter: lock sample on nRF54l15 added
  samples/matter/lock/sample.yaml
  scripts/quarantine_integration.yaml
Labels: changelog-entry-required

#16356 nrf_security: Support legacy and PSA APIs in 54L15
  subsys/nrf_security/Kconfig
  subsys/nrf_security/src/drivers/CMakeLists.txt
Labels: changelog-entry-required

#16326 net: openthread: rpc: diagnostic functions implementation.
  subsys/net/openthread/rpc/client/CMakeLists.txt
  subsys/net/openthread/rpc/client/ot_rpc_diag_client.c
  subsys/net/openthread/rpc/client/ot_rpc_if_client.c
  subsys/net/openthread/rpc/common/ot_rpc_ids.h
  subsys/net/openthread/rpc/server/CMakeLists.txt
  subsys/net/openthread/rpc/server/ot_rpc_ctrl_server.c
  subsys/net/openthread/rpc/server/ot_rpc_diag_server.c
Labels: changelog-entry-required

#16365 samples: matter: Used DFUsync module in the DFU over SMP
  samples/matter/common/src/dfu/smp/dfu_over_smp.cpp
  samples/matter/common/src/dfu/smp/dfu_over_smp.h
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#16423 nrf_rpc: made private bt serialization and proxy cb API the public NRF RPC API
  doc/nrf/libraries/bluetooth_services/rpc.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/nrf_rpc/nrf_rpc_cbkproxy.h
  include/nrf_rpc/nrf_rpc_serialize.h
  subsys/bluetooth/rpc/Kconfig
  subsys/bluetooth/rpc/client/bt_rpc_conn_client.c
  subsys/bluetooth/rpc/client/bt_rpc_crypto_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gap_client.c
  subsys/bluetooth/rpc/client/bt_rpc_gatt_client.c
  subsys/bluetooth/rpc/client/bt_rpc_internal_client.c
  subsys/bluetooth/rpc/common/CMakeLists.txt
  subsys/bluetooth/rpc/common/bt_rpc_common.c
  subsys/bluetooth/rpc/common/bt_rpc_common.h
  subsys/bluetooth/rpc/host/bt_rpc_conn_host.c
  subsys/bluetooth/rpc/host/bt_rpc_crypto_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gap_host.c
  subsys/bluetooth/rpc/host/bt_rpc_gatt_host.c
  subsys/bluetooth/rpc/host/bt_rpc_internal_host.c
  subsys/nrf_rpc/CMakeLists.txt
  subsys/nrf_rpc/Kconfig
  subsys/nrf_rpc/nrf_rpc_cbkproxy.c
  subsys/nrf_rpc/nrf_rpc_serialize.c
Labels: doc-required

#16379 mpsl: Use soc compatible definition to include bsim
  subsys/mpsl/cx/Kconfig
  subsys/mpsl/cx/bluetooth/mpsl_cx_1w_bluetooth.c
Labels: changelog-entry-required

#15341 samples: npm1300_fuel_gauge: Fix CC bitmask
  samples/pmic/native/npm1300_fuel_gauge/src/fuel_gauge.c
Labels: changelog-entry-required, bugfix

#15994 doc: lwm2m_client: Fix the Leshan FOTA process
  samples/cellular/lwm2m_client/sample_description.rst
Labels: doc only

#16309 subsys: suit: Always validate signatures for secdom
  subsys/suit/mci/src/suit_mci_nrf54h20.c
Labels: changelog-entry-required

#16434 manifest: sdk-connectedhomeip: Update revision
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#16140 samples: tests: cellular: add cellular tag for samples and tests
  samples/cellular/at_client/sample.yaml
  samples/cellular/at_monitor/sample.yaml
  samples/cellular/battery/sample.yaml
  samples/cellular/ciphersuites/sample.yaml
  samples/cellular/fmfu_smp_svr/sample.yaml
  samples/cellular/gnss/sample.yaml
  samples/cellular/http_update/application_update/sample.yaml
  samples/cellular/http_update/modem_delta_update/sample.yaml
  samples/cellular/http_update/modem_full_update/sample.yaml
  samples/cellular/location/sample.yaml
  samples/cellular/lte_ble_gateway/sample.yaml
  samples/cellular/lwm2m_carrier/sample.yaml
  samples/cellular/lwm2m_client/sample.yaml
  samples/cellular/modem_callbacks/sample.yaml
  samples/cellular/modem_shell/sample.yaml
  samples/cellular/modem_trace_backend/sample.yaml
  samples/cellular/modem_trace_flash/sample.yaml
  samples/cellular/nidd/sample.yaml
  samples/cellular/nrf_cloud_multi_service/sample.yaml
  samples/cellular/nrf_cloud_rest_cell_location/sample.yaml
  samples/cellular/nrf_cloud_rest_device_message/sample.yaml
  samples/cellular/nrf_cloud_rest_fota/sample.yaml
  samples/cellular/nrf_provisioning/sample.yaml
  samples/cellular/pdn/sample.yaml
  samples/cellular/slm_shell/sample.yaml
  samples/cellular/smp_svr/sample.yaml
  samples/cellular/sms/sample.yaml
  samples/cellular/udp/sample.yaml
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#16459 scripts: ci: tags: add suit samples path
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#16458 manifest: update Sidewalk revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-sidewalk

#16429 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#16329 doc: nrf91: snippet page edits
  doc/nrf/device_guides/nrf91/nrf91_programming.rst
  doc/nrf/device_guides/nrf91/nrf91_snippet.rst
Labels: doc-required, CI-disable, doc only

#16453 manifest: drag in bt host changes in zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#16464 tests: drivers: i2c: Run i2c_bme688 test on nrf54h PPR and nrf54l FLPR
  scripts/twister/alt/zephyr/tests/drivers/i2c/i2c_bme688/testcase.yaml
Labels: changelog-entry-required

#16322 doc: update links to nPM PowerUP and RSSI Viewer
  doc/nrf/links.txt
  doc/nrf/test_and_optimize/debugging.rst
  samples/peripheral/radio_test/README.rst
Labels: doc-required, CI-disable, doc only

#16439 doc: nrf: releases: migration: sysbuild: Remove MCUboot comment
  doc/nrf/releases_and_maturity/migration/migration_sysbuild.rst
Labels: doc-required, doc only

#16460 samples: peripheral: add tags for 802154 and radio samples
  samples/peripheral/802154_phy_test/sample.yaml
  samples/peripheral/802154_sniffer/sample.yaml
  samples/peripheral/radio_test/sample.yaml
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#16473 applications: nrf_desktop: Use smaller write buffer size for RRAM
  applications/nrf_desktop/configuration/nrf54l15pdk_nrf54l15_cpuapp/prj.conf
  applications/nrf_desktop/configuration/nrf54l15pdk_nrf54l15_cpuapp/prj_fast_pair.conf
  applications/nrf_desktop/configuration/nrf54l15pdk_nrf54l15_cpuapp/prj_keyboard.conf
  applications/nrf_desktop/configuration/nrf54l15pdk_nrf54l15_cpuapp/prj_release.conf
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#16456 applications: protocols_serialization: Add nRF54l15 support.
  applications/protocols_serialization/client/boards/nrf52840dk_nrf52840.overlay
  applications/protocols_serialization/client/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  applications/protocols_serialization/client/sample.yaml
  applications/protocols_serialization/resources/nrf54l_connections.png
  applications/protocols_serialization/server/boards/nrf52840dk_nrf52840.overlay
  applications/protocols_serialization/server/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  applications/protocols_serialization/server/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  applications/protocols_serialization/server/sample.yaml
  applications/protocols_serialization/user_guide.md
  subsys/bluetooth/rpc/common/bt_rpc_common.c
  subsys/net/openthread/rpc/common/ot_rpc_group.c
Labels: manifest-zephyr, changelog-entry-required

#16454 applications: protocols_serialization: fix "ot state" command
  applications/protocols_serialization/client/src/ot_shell.c
Labels: changelog-entry-required

#16361 samples: wifi: thread_coex: Handle OT role becoming router
  samples/wifi/thread_coex/src/ot_utils.c
Labels: changelog-entry-required

#16292 samples: wifi: thread_coex: Update to build with default cfg
  samples/wifi/thread_coex/overlay-ot.conf
  samples/wifi/thread_coex/overlay-wifi-udp-client-thread-udp-client.conf
  samples/wifi/thread_coex/overlay-wifi-udp-client-thread-udp-server.conf
  samples/wifi/thread_coex/prj.conf
  samples/wifi/thread_coex/sample.yaml
Labels: changelog-entry-required

#16462 samples: keys: add tags for samples/keys
  samples/keys/hw_unique_key/sample.yaml
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#16478 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#15198 wifi: Add kconfig option to disable wmm mode
  drivers/wifi/nrf700x/Kconfig
  drivers/wifi/nrf700x/src/fmac_main.c
Labels: changelog-entry-required

#16465 samples: esb: add tags for samples/esb
  samples/esb/esb_prx/sample.yaml
  samples/esb/esb_ptx/sample.yaml
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#16424 applications: asset_tracker_v2: add tag for asset_tracker
  applications/asset_tracker_v2/sample.yaml
  applications/asset_tracker_v2/tests/debug_module/testcase.yaml
  applications/asset_tracker_v2/tests/json_common/testcase.yaml
  applications/asset_tracker_v2/tests/location_module/testcase.yaml
  applications/asset_tracker_v2/tests/lwm2m_codec_helpers/testcase.yaml
  applications/asset_tracker_v2/tests/lwm2m_integration/testcase.yaml
  applications/asset_tracker_v2/tests/nrf_cloud_codec/testcase.yaml
  applications/asset_tracker_v2/tests/nrf_cloud_codec_mocked_cjson/testcase.yaml
  applications/asset_tracker_v2/tests/ui_module/testcase.yaml
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#16469 tests: subsys: bluetooth: fast_pair: add fast_pair tag
  scripts/ci/tags.yaml
  tests/subsys/bluetooth/fast_pair/crypto/testcase.yaml
  tests/subsys/bluetooth/fast_pair/storage/account_key_storage/testcase.yaml
  tests/subsys/bluetooth/fast_pair/storage/factory_reset/testcase.yaml
Labels: changelog-entry-required

#16466 samples: edge_impulse: add tags for samples/edge_impulse
  samples/edge_impulse/data_forwarder/sample.yaml
  samples/edge_impulse/wrapper/sample.yaml
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#16481 samples: 802154_sniffer: reduce chances of missed frames
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/peripheral/802154_sniffer/prj.conf
Labels: doc-required

#16418 Applications:added nrf54h to matter-bridge
  applications/matter_bridge/Kconfig.sysbuild
  applications/matter_bridge/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  applications/matter_bridge/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  applications/matter_bridge/doc/matter_bridge_description.rst
  applications/matter_bridge/sample.yaml
  applications/matter_bridge/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.conf
  applications/matter_bridge/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.overlay
  applications/matter_bridge/sysbuild/ipc_radio/overlay-bt_max_connections_net.conf
  applications/matter_bridge/sysbuild/ipc_radio/prj.conf
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-trusted-author, external

#16489 sysbuild: Fix broken partition manager handling of static PM files
  cmake/sysbuild/partition_manager.cmake
Labels: changelog-entry-required

#16479 tests: subsys: bootloader: add bootloader tag
  scripts/ci/tags.yaml
  tests/subsys/bootloader/bl_crypto/testcase.yaml
  tests/subsys/bootloader/bl_storage/testcase.yaml
  tests/subsys/bootloader/bl_validation/testcase.yaml
  tests/subsys/bootloader/bl_validation_ff_key/testcase.yaml
  tests/subsys/bootloader/bl_validation_neg/testcase.yaml
  tests/subsys/bootloader/bl_validation_unittest/testcase.yaml
  tests/subsys/bootloader/boot_chains/testcase.yaml
Labels: changelog-entry-required

#16370 sdc: handle opcode for VS Set Event Start Task
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#16467 samples: app_event_manager: add tags for samples/app_event_manager
  samples/app_event_manager/sample.yaml
  scripts/ci/tags.yaml
  tests/subsys/app_event_manager/testcase.yaml
Labels: changelog-entry-required

#16474 samples: bluetooth: Link to nRF Desktop from samples using BLE HID
  samples/bluetooth/central_hids/README.rst
  samples/bluetooth/fast_pair/input_device/README.rst
  samples/bluetooth/fast_pair/locator_tag/README.rst
  samples/bluetooth/peripheral_hids_keyboard/README.rst
  samples/bluetooth/peripheral_hids_mouse/README.rst
Labels: doc-required

#16493 doc: nrfxlib: Fix doxygen warnings for SDC api
  doc/nrfxlib/nrfxlib.doxyfile.in
Labels: doc-required, changelog-entry-required

#16499 applications: ipc_radio: add tags for app ipc_radio
  applications/ipc_radio/sample.yaml
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#16372 tests: external_flash: sysbuild: Enable empty netcore
  tests/modules/mcuboot/external_flash/Kconfig.sysbuild
Labels: changelog-entry-required

#16509 tests: modules: mcuboot: add tags for mcuboot tests
  scripts/ci/tags.yaml
  tests/modules/mcuboot/direct_xip/testcase.yaml
  tests/modules/mcuboot/external_flash/testcase.yaml
Labels: changelog-entry-required

#16511 tests: subsys: dfu: add tags for dfu tests
  scripts/ci/tags.yaml
  tests/subsys/dfu/dfu_multi_image/testcase.yaml
  tests/subsys/dfu/dfu_target/mcuboot_bootloader/testcase.yaml
  tests/subsys/dfu/dfu_target/smp/testcase.yaml
  tests/subsys/dfu/dfu_target_stream/testcase.yaml
Labels: changelog-entry-required

#16507 tests: drivers: nrfx_integration_test: add tags for nrfx integration …
  scripts/ci/tags.yaml
  tests/drivers/nrfx_integration_test/testcase.yaml
Labels: changelog-entry-required

#16516 CODEOWNERS: Remove mswarowsky
  CODEOWNERS
Labels: changelog-entry-required

#16500 applications: machine_learning: add tags for app machine_learning
  applications/machine_learning/sample.yaml
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#16488 applications: nrf_desktop: use nrf_deskop specific tag
  applications/nrf_desktop/sample.yaml
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#16501 bluetooth: controller: hci_internal: use new PLM kconfig
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#16482 boards: shields: Fix missing configuration overlay
  boards/shields/nrf700x_nrf54l15pdk/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
Labels: changelog-entry-required

#16520 nrf_rpc: Fix too large a bit shift value
  subsys/nrf_rpc/nrf_rpc_os.c
Labels: changelog-entry-required, 10-min-review

#16485 Bluetooth: Mesh: add metadata to lighting models
  include/bluetooth/mesh/light_hsl_srv.h
  include/bluetooth/mesh/light_temp_srv.h
  include/bluetooth/mesh/lightness_srv.h
Labels: ble mesh

#16506 doc: known_issues: Add NCS 2.7 sysbuild known issues
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required, doc only

#16419 samples: matter: Added support for Matter OTA with SUIT
  samples/matter/common/src/dfu/ota/ota_util.cpp
  samples/matter/lock/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/matter/lock/sample.yaml
  samples/matter/template/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/matter/template/sample.yaml
  sysbuild/CMakeLists.txt
  sysbuild/Kconfig.matter
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#16518 manifest: sdk-zephyr: Board/SoC extensions: additional changes
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#16332 samples: wifi: radio_test: Add BLE combo
  samples/wifi/radio_test/sample.yaml
Labels: changelog-entry-required

#16525 bluetooth: controller: kconfig: remove old sdc plm kconfig
  subsys/bluetooth/controller/Kconfig
Labels: changelog-entry-required

#16486 applications: protocols_serialization: set BT_CTLR to n on client
  applications/protocols_serialization/client/Kconfig
Labels: manifest-zephyr

#16508 doc: Add Peripheral Sensor node Shield doc
  boards/shields/pca63565/doc/index.rst
  doc/nrf/device_guides/nrf54l.rst
  doc/nrf/device_guides/working_with_nrf/nrf54l/peripheral_sensor_node_shield.rst
  doc/nrf/images/peripheral_sensor_node_assy.png
  doc/nrf/images/peripheral_sensor_node_shield.png
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable, doc only

#16534 nfc:tnep: Fix dereferencing null pointer records
  subsys/nfc/tnep/tag.c
Labels: 10-min-review

#16542 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#16540 scripts: ci: tags: add common build system code for dep
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#16514 aplications: protocols_serializations: Add config for nrf54l.
  applications/protocols_serialization/sample.yaml
  applications/protocols_serialization/snippets/log_rpc/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  applications/protocols_serialization/snippets/log_rpc/snippet.yml
  samples/nrf_rpc/ps_client/sample.yaml
  subsys/logging/log_rpc_group.h
  subsys/mpsl/cx/software/mpsl_cx_software_rpc.c
Labels: changelog-entry-required

#16543 doc: Matter certification: add a link to the Test Event Triggers page
  doc/nrf/protocols/matter/end_product/certification.rst
Labels: doc-required, changelog-entry-required

#16510 samples: matter: Add test specific commands
  samples/matter/common/cmake/source_common.cmake
  samples/matter/common/src/Kconfig
  samples/matter/common/src/app/matter_init.cpp
  samples/matter/common/src/test/test_shell.cpp
  samples/matter/common/src/test/test_shell.h
  samples/matter/template/sample.yaml
  scripts/quarantine_integration.yaml
Labels: changelog-entry-required

#16563 manifest: update sdk-zephyr revision.
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#16565 manifest: sdk-zephyr: [nrf fromlist] tests: drivers: adc: add adc_error_cases tests.
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required
