Repository nrfconnect/sdk-nrf, pull requests merged in 2024-10, with the labels that each got.

#17119 crypto service: change cddl to enable memory checking on server side
  subsys/sdfw_services/services/psa_crypto/psa_crypto_service.cddl
  subsys/sdfw_services/services/psa_crypto/zcbor_generated/psa_crypto_service_decode.c
  subsys/sdfw_services/services/psa_crypto/zcbor_generated/psa_crypto_service_encode.c
Labels: changelog-entry-required

#17462 manifest: sdk-zephyr: include: net: add delayed addr refresh socket option
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#17395 tests: benchmarks: Verify power management for UARTE (using s2ram)
  tests/benchmarks/multicore/idle_uarte/CMakeLists.txt
  tests/benchmarks/multicore/idle_uarte/Kconfig.sysbuild
  tests/benchmarks/multicore/idle_uarte/boards/nrf54h20dk_nrf54h20_common.dtsi
  tests/benchmarks/multicore/idle_uarte/boards/nrf54h20dk_nrf54h20_cpuapp_s2ram.overlay
  tests/benchmarks/multicore/idle_uarte/prj.conf
  tests/benchmarks/multicore/idle_uarte/remote/CMakeLists.txt
  tests/benchmarks/multicore/idle_uarte/remote/boards/nrf54h20dk_nrf54h20_cpurad.overlay
  tests/benchmarks/multicore/idle_uarte/remote/prj.conf
  tests/benchmarks/multicore/idle_uarte/remote/src/main.c
  tests/benchmarks/multicore/idle_uarte/src/main.c
  tests/benchmarks/multicore/idle_uarte/sysbuild.cmake
  tests/benchmarks/multicore/idle_uarte/sysbuild/nrf54h20dk_nrf54h20_cpurad.conf
  tests/benchmarks/multicore/idle_uarte/testcase.yaml
Labels: changelog-entry-required

#17526 tests: drivers: Verify power management for SPIM (using s2ram)
  tests/benchmarks/multicore/idle_spim/CMakeLists.txt
  tests/benchmarks/multicore/idle_spim/Kconfig.sysbuild
  tests/benchmarks/multicore/idle_spim/boards/nrf54h20dk_nrf54h20_cpuapp_s2ram.overlay
  tests/benchmarks/multicore/idle_spim/prj.conf
  tests/benchmarks/multicore/idle_spim/remote/CMakeLists.txt
  tests/benchmarks/multicore/idle_spim/remote/prj.conf
  tests/benchmarks/multicore/idle_spim/remote/src/main.c
  tests/benchmarks/multicore/idle_spim/src/main.c
  tests/benchmarks/multicore/idle_spim/sysbuild.cmake
  tests/benchmarks/multicore/idle_spim/sysbuild/nrf54h20dk_nrf54h20_cpurad.conf
  tests/benchmarks/multicore/idle_spim/testcase.yaml
Labels: changelog-entry-required

#17556 kconfig: openthread: enable dynamic store of frame ahead counter
  subsys/net/openthread/Kconfig.defconfig
Labels: manifest-zephyr, changelog-entry-required

#17563 NRFX-6372: Automate testing for systemoff sample - wakeup from pin
  tests/benchmarks/current_consumption/system_off/CMakeLists.txt
  tests/benchmarks/current_consumption/system_off/boards/nrf54l15dk_nrf54l15_cpuapp_gpio_wakeup.overlay
  tests/benchmarks/current_consumption/system_off/prj.conf
  tests/benchmarks/current_consumption/system_off/testcase.yaml
Labels: changelog-entry-required

#17575 manifest: Fix MCUboot TinyCrypt broken ED25519
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#17565 net: lib: nrf_cloud: add log source
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/src/nrf_cloud_log.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_log_backend.c
Labels: doc-required

#17358 tests: benchmarks: Verify power management for TWIM (using s2ram)
  tests/benchmarks/multicore/idle_twim/CMakeLists.txt
  tests/benchmarks/multicore/idle_twim/Kconfig.sysbuild
  tests/benchmarks/multicore/idle_twim/boards/nrf54h20dk_nrf54h20_cpuapp_s2ram.overlay
  tests/benchmarks/multicore/idle_twim/prj.conf
  tests/benchmarks/multicore/idle_twim/remote/CMakeLists.txt
  tests/benchmarks/multicore/idle_twim/remote/prj.conf
  tests/benchmarks/multicore/idle_twim/remote/src/main.c
  tests/benchmarks/multicore/idle_twim/src/main.c
  tests/benchmarks/multicore/idle_twim/sysbuild.cmake
  tests/benchmarks/multicore/idle_twim/sysbuild/nrf54h20dk_nrf54h20_cpurad.conf
  tests/benchmarks/multicore/idle_twim/testcase.yaml
Labels: changelog-entry-required

#17441 Bluetooth: hci_driver: Mark Anchor point update report as discardable
  subsys/bluetooth/controller/hci_driver.c
Labels: changelog-entry-required

#17572 nrf_rpc: Fix memory access to freed memory.
  subsys/net/openthread/rpc/client/ot_rpc_message.c
Labels: changelog-entry-required

#17593 doc: nrfxlib: fix/improve Doxygen
  doc/nrfxlib/nrfxlib.doxyfile.in
  west.yml
Labels: doc-required, manifest, CI-disable, manifest-nrfxlib, changelog-entry-required

#17534 doc: small cleanup for nrf54l15 docs
  doc/nrf/app_dev/device_guides/nrf54l/features.rst
  doc/nrf/app_dev/device_guides/nrf54l/index.rst
  doc/nrf/app_dev/device_guides/nrf54l/testing_dfu.rst
Labels: doc-required, CI-disable

#17577 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#17596 esb, nfc: fix Doxygen issues
  include/esb.h
  include/nfc/ndef/ch_msg.h
  include/nfc/ndef/le_oob_rec.h
  include/nfc/ndef/msg.h
  include/nfc/ndef/text_rec.h
  include/nfc/ndef/uri_msg.h
Labels: CI-disable, changelog-entry-required

#17609 manifest: openthread: tag OpenThread
  west.yml
Labels: manifest, manifest-openthread

#17594 doc: audio: various fixes
  applications/nrf5340_audio/doc/configuration.rst
  applications/nrf5340_audio/doc/firmware_architecture.rst
  doc/nrf/protocols/bt/bt_solutions.rst
  samples/bluetooth/broadcast_config_tool/README.rst
Labels: doc-required, CI-disable, doc only

#17369 manifest: Add PreEdDSA ed25519 image signature verification
  west.yml
Labels: manifest, manifest-zephyr, manifest-mcuboot, changelog-entry-required

#17590 manifest: sdk-nrfxlib: nrf_rpc: remove sending from rx thread
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#17623 labeler: Remove some files from "changelog-entry-required"
  .github/labeler.yml
Labels: changelog-entry-required

#17621 CODEOWNERS: Make ncs-dragoon only codeowner for host_extensions
  CODEOWNERS
Labels: changelog-entry-required

#17624 tests: benchmarks: current_consumption: system_off: fix path for pyte…
  tests/benchmarks/current_consumption/system_off/testcase.yaml
Labels: changelog-entry-required

#17542 manifest: doc-internal: Update revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-doc-internal

#17615 manifest: Update MCUboot with fixups for ED25519
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#17625 ci: tags: extend deps for ci_tests_benchmarks
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#17628 Bluetooth: radio_notification_callback: Remove experimental label
  subsys/bluetooth/host_extensions/Kconfig
Labels: CI-disable

#17490 net: lib: nrf_cloud: Log connection info from lib
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  samples/cellular/nrf_cloud_multi_service/src/cloud_connection.c
  samples/cellular/nrf_cloud_rest_cell_location/src/main.c
  samples/cellular/nrf_cloud_rest_device_message/src/main.c
  samples/cellular/nrf_cloud_rest_fota/src/main.c
  subsys/net/lib/nrf_cloud/Kconfig
  subsys/net/lib/nrf_cloud/coap/src/nrf_cloud_coap_transport.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fsm.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_info.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_rest.c
  tests/subsys/net/lib/nrf_cloud/cloud/CMakeLists.txt
  tests/subsys/net/lib/nrf_cloud/cloud/src/fakes.h
Labels: doc-required

#17275 CI: Optimize packaging in workflow
  .github/workflows/src-mirror.yml
Labels: changelog-entry-required

#17631 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#17543 Bluetooth: Controller: Update Zephyr PM policy function call parameter.
  subsys/mpsl/pm/mpsl_pm_utils.c
  tests/subsys/mpsl/pm/pm_test.c
Labels: changelog-entry-required

#17617 bluetooth: fast_pair: Remove the factory reset prepare user action
  doc/nrf/external_comp/bt_fast_pair.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/bluetooth/services/fast_pair/fp_storage/Kconfig.fp_storage
  subsys/bluetooth/services/fast_pair/fp_storage/fp_storage_ak.c
  subsys/bluetooth/services/fast_pair/fp_storage/fp_storage_ak_minimal.c
  subsys/bluetooth/services/fast_pair/fp_storage/fp_storage_clock.c
  subsys/bluetooth/services/fast_pair/fp_storage/fp_storage_eik.c
  subsys/bluetooth/services/fast_pair/fp_storage/fp_storage_manager.c
  subsys/bluetooth/services/fast_pair/fp_storage/fp_storage_pn.c
  subsys/bluetooth/services/fast_pair/fp_storage/fp_storage_user_reset_action.c
  subsys/bluetooth/services/fast_pair/fp_storage/include_priv/fp_storage_manager.h
  tests/subsys/bluetooth/fast_pair/storage/factory_reset/src/main.c
Labels: doc-required

#17592 suit: Fix no stream source flash in push to cache configuration
  subsys/suit/Kconfig
Labels: changelog-entry-required

#17533 manifest: sdk-zephyr: [nrf noup] test-spec: update CI-rs-test and Ci-fem-test
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#17664 manifest: sdk-nrf-802154: Update revision of nrf-802154
  west.yml
Labels: manifest, manifest-nrf-802154

#17645 samples: broadcast_config_tool: Clear pba_data on stop
  samples/bluetooth/broadcast_config_tool/src/main.c
Labels: changelog-entry-required

#17647 samples: broadcast_config_tool: Only start pending broadcasters
  samples/bluetooth/broadcast_config_tool/src/main.c
Labels: changelog-entry-required

#17670 ci: stale: allow DNM
  .github/workflows/stale.yml
Labels: CI-disable, changelog-entry-required

#17238 subsys: openthread: Enable HUK for nRF54L15
  doc/nrf/protocols/matter/end_product/security.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/nrf_rpc/protocols_serialization/server/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  samples/nrf_rpc/protocols_serialization/server/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/openthread/cli/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  subsys/net/openthread/Kconfig
Labels: doc-required

#17537 bluetooth: mesh: remove deprecated legacy sensor API
  doc/nrf/libraries/bluetooth_services/mesh/light_ctrl_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/light_ctrl_srv.rst
  doc/nrf/libraries/bluetooth_services/mesh/sensor.rst
  doc/nrf/libraries/bluetooth_services/mesh/sensor_cli.rst
  doc/nrf/libraries/bluetooth_services/mesh/sensor_srv.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/bluetooth/mesh/light_ctrl.h
  include/bluetooth/mesh/light_ctrl_cli.h
  include/bluetooth/mesh/light_ctrl_srv.h
  include/bluetooth/mesh/sensor.h
  include/bluetooth/mesh/sensor_cli.h
  include/bluetooth/mesh/sensor_srv.h
  samples/bluetooth/mesh/light_ctrl/prj.conf
  samples/bluetooth/mesh/sensor_client/prj.conf
  samples/bluetooth/mesh/sensor_server/prj.conf
  subsys/bluetooth/mesh/Kconfig.sensor
  subsys/bluetooth/mesh/light_ctrl_cli.c
  subsys/bluetooth/mesh/light_ctrl_internal.h
  subsys/bluetooth/mesh/light_ctrl_srv.c
  subsys/bluetooth/mesh/sensor.c
  subsys/bluetooth/mesh/sensor.h
  subsys/bluetooth/mesh/sensor_cli.c
  subsys/bluetooth/mesh/sensor_srv.c
  subsys/bluetooth/mesh/sensor_types.c
  subsys/bluetooth/mesh/shell/shell_ctrl_cli.c
  subsys/bluetooth/mesh/shell/shell_sensor_cli.c
  subsys/bluetooth/mesh/shell/shell_utils.c
  subsys/bluetooth/mesh/shell/shell_utils.h
  tests/bluetooth/tester/prj.conf
  tests/bluetooth/tester/src/mmdl.c
  tests/bluetooth/tester/src/model_handler.c
  tests/subsys/bluetooth/mesh/light_ctrl/CMakeLists.txt
  tests/subsys/bluetooth/mesh/light_ctrl/src/main.c
  tests/subsys/bluetooth/mesh/models/prj.conf
  tests/subsys/bluetooth/mesh/sensor_subsys/CMakeLists.txt
  tests/subsys/bluetooth/mesh/sensor_subsys/prj.conf
  tests/subsys/bluetooth/mesh/sensor_subsys/src/main.c
  tests/subsys/bluetooth/mesh/sensor_subsys_new/CMakeLists.txt
  tests/subsys/bluetooth/mesh/sensor_subsys_new/prj.conf
  tests/subsys/bluetooth/mesh/sensor_subsys_new/sensor_types.ld
  tests/subsys/bluetooth/mesh/sensor_subsys_new/src/main.c
  tests/subsys/bluetooth/mesh/sensor_subsys_new/testcase.yaml
Labels: doc-required, ble mesh

#17558 manifest: Update sdk-find-my revision
  west.yml
Labels: manifest, manifest-find-my

#17668 manifest: Update sdk-nrfxlib revision (auto-manifest PR)
  west.yml
Labels: manifest, CI-disable, manifest-nrfxlib, changelog-entry-required

#17674 ci: docbuild: run Sphinx in quiet mode
  .github/workflows/docbuild.yml
Labels: CI-disable, changelog-entry-required

#17672 doc: upgrade to Doxygen 1.12
  doc/_doxygen/doxygen-awesome-fragment-copy-button.js
  doc/_doxygen/header.html
  doc/nrf/dev_model_and_contributions/documentation/build.rst
  doc/nrf/nrf.doxyfile.in
  doc/nrfx/nrfx.doxyfile.in
  doc/nrfxlib/nrfxlib.doxyfile.in
  doc/zephyr/zephyr.doxyfile.in
  scripts/tools-versions-darwin.yml
  scripts/tools-versions-linux.yml
  scripts/tools-versions-win10.yml
Labels: doc-required, changelog-entry-required

#17690 doc: add clustering tags for Zoomin
  doc/_zoomin/nrf.apis.tags.yml
  doc/_zoomin/nrfx.apis.tags.yml
  doc/_zoomin/nrfxlib.apis.tags.yml
  doc/_zoomin/zephyr.apis.tags.yml
Labels: doc-required, changelog-entry-required

#17681 tfm: Fix nrf54L15 linking with nrf_security targets
  modules/trusted-firmware-m/tfm_boards/CMakeLists.txt
Labels: changelog-entry-required

#17691 kconfig: openthread: fix nrf54L DK CSL parameters
  subsys/net/openthread/Kconfig.defconfig
Labels: changelog-entry-required

#17661 doc: bootloader small fix
  doc/nrf/app_dev/bootloaders_dfu/mcuboot_nsib/bootloader_mcuboot_nsib.rst
  doc/nrf/app_dev/bootloaders_dfu/mcuboot_nsib/bootloader_partitioning.rst
  doc/nrf/app_dev/bootloaders_dfu/mcuboot_nsib/bootloader_quick_start.rst
Labels: doc-required, CI-disable

#17677 doc: peripheral UART device name fix
  samples/bluetooth/peripheral_uart/README.rst
Labels: doc-required, CI-disable

#17693 cracen: Remove unused variable
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/platform_keys/platform_keys.c
Labels: changelog-entry-required

#17525 samples: matter: Enable DFU over BLE SMP for nRF54H20
  config/suit/templates/nrf54h20/matter/v1/app_envelope.yaml.jinja2
  config/suit/templates/nrf54h20/matter/v1/rad_envelope.yaml.jinja2
  config/suit/templates/nrf54h20/matter/v1/root_with_binary_nordic_top.yaml.jinja2
  samples/matter/common/dts/nrf54h20/nrf54h20_cpuapp_memory_map.dtsi
  samples/matter/common/dts/nrf54h20/nrf54h20_cpuapp_peripherals.dtsi
  samples/matter/common/dts/nrf54h20/nrf54h20_flash_companion.dtsi
  samples/matter/lock/Kconfig.sysbuild
  samples/matter/lock/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/matter/lock/sysbuild/flash_companion.overlay
  samples/matter/lock/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/matter/template/Kconfig.sysbuild
  samples/matter/template/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/matter/template/sysbuild/flash_companion.overlay
  samples/matter/template/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.conf
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#15670 net: lib: nrf_cloud: add support for mqtt shadow transform requests
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/net/nrf_cloud.h
  include/net/nrf_cloud_codec.h
  include/net/nrf_cloud_defs.h
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_mqtt
  subsys/net/lib/nrf_cloud/include/nrf_cloud_codec_internal.h
  subsys/net/lib/nrf_cloud/include/nrf_cloud_transport.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_codec_internal.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fsm.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: doc-required

#17546 samples: bluetooth: llpm: add nRF54H20 support
  samples/bluetooth/llpm/README.rst
  samples/bluetooth/llpm/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/llpm/prj.conf
  samples/bluetooth/llpm/sample.yaml
  samples/bluetooth/llpm/src/main.c
  samples/bluetooth/llpm/sysbuild/ipc_radio/prj.conf
Labels: doc-required, changelog-entry-required

#17655 lib: sms: Possibility to disable status reports
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/sms/Kconfig
  lib/sms/sms.c
  lib/sms/sms_submit.c
  samples/cellular/sms/sample.yaml
  tests/lib/sms/src/sms_test.c
  tests/lib/sms/testcase.yaml
Labels: doc-required

#17704 samples: ipc: ipc_service: show full board and target name
  samples/ipc/ipc_service/src/main.c
Labels: changelog-entry-required

#17663 manifest: Update pointer babblesim to v2.3
  west.yml
Labels: manifest, changelog-entry-required, manifest-bsim

#17703 openthread: align libraries for thread 1.4 and nrf54l15
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#17713 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#17726 scripts: quarantine_zephyr: Add quarantine for scenarios on nrf54l15{p}dk
  scripts/quarantine_zephyr.yaml
Labels: changelog-entry-required, 10-min-review

#17417 doc: SUIT documentation on updating Nordic Bundles
  doc/nrf/app_dev/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_customize_qsg.rst
  doc/nrf/app_dev/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_dfu.rst
  doc/nrf/app_dev/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_soc_binaries.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#17554 tests: benchmarks: power_consumption: Add tests for peripherals.
  scripts/ci/tags.yaml
  tests/benchmarks/power_consumption/adc/CMakeLists.txt
  tests/benchmarks/power_consumption/adc/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/benchmarks/power_consumption/adc/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  tests/benchmarks/power_consumption/adc/prj.conf
  tests/benchmarks/power_consumption/adc/src/driver_test.c
  tests/benchmarks/power_consumption/adc/testcase.yaml
  tests/benchmarks/power_consumption/adc_async/CMakeLists.txt
  tests/benchmarks/power_consumption/adc_async/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/benchmarks/power_consumption/adc_async/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  tests/benchmarks/power_consumption/adc_async/prj.conf
  tests/benchmarks/power_consumption/adc_async/src/driver_test.c
  tests/benchmarks/power_consumption/adc_async/testcase.yaml
  tests/benchmarks/power_consumption/common/main.c
  tests/benchmarks/power_consumption/flash/CMakeLists.txt
  tests/benchmarks/power_consumption/flash/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/benchmarks/power_consumption/flash/prj.conf
  tests/benchmarks/power_consumption/flash/src/driver_test.c
  tests/benchmarks/power_consumption/flash/testcase.yaml
  tests/benchmarks/power_consumption/gpio/CMakeLists.txt
  tests/benchmarks/power_consumption/gpio/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/benchmarks/power_consumption/gpio/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  tests/benchmarks/power_consumption/gpio/prj.conf
  tests/benchmarks/power_consumption/gpio/src/driver_test.c
  tests/benchmarks/power_consumption/gpio/testcase.yaml
  tests/benchmarks/power_consumption/i2c/CMakeLists.txt
  tests/benchmarks/power_consumption/i2c/prj.conf
  tests/benchmarks/power_consumption/i2c/src/driver_test.c
  tests/benchmarks/power_consumption/i2c/testcase.yaml
  tests/benchmarks/power_consumption/spi/CMakeLists.txt
  tests/benchmarks/power_consumption/spi/prj.conf
  tests/benchmarks/power_consumption/spi/src/driver_test.c
  tests/benchmarks/power_consumption/spi/testcase.yaml
  tests/benchmarks/power_consumption/timer_waiting/CMakeLists.txt
  tests/benchmarks/power_consumption/timer_waiting/boards/nrf54h20dk_nrf54h20_cpuapp_16M.overlay
  tests/benchmarks/power_consumption/timer_waiting/boards/nrf54h20dk_nrf54h20_cpuapp_320M.overlay
  tests/benchmarks/power_consumption/timer_waiting/boards/nrf54l15dk_nrf54l15_cpuapp_128M.overlay
  tests/benchmarks/power_consumption/timer_waiting/boards/nrf54l15dk_nrf54l15_cpuapp_16M.overlay
  tests/benchmarks/power_consumption/timer_waiting/boards/nrf54l15dk_nrf54l15_cpuapp_32M.overlay
  tests/benchmarks/power_consumption/timer_waiting/prj.conf
  tests/benchmarks/power_consumption/timer_waiting/src/driver_test.c
  tests/benchmarks/power_consumption/timer_waiting/testcase.yaml
  tests/benchmarks/power_consumption/uart_async/CMakeLists.txt
  tests/benchmarks/power_consumption/uart_async/prj.conf
  tests/benchmarks/power_consumption/uart_async/src/driver_test.c
  tests/benchmarks/power_consumption/uart_async/testcase.yaml
  tests/benchmarks/power_consumption/uart_polling/CMakeLists.txt
  tests/benchmarks/power_consumption/uart_polling/prj.conf
  tests/benchmarks/power_consumption/uart_polling/src/driver_test.c
  tests/benchmarks/power_consumption/uart_polling/testcase.yaml
Labels: changelog-entry-required

#17627 samples: dect: dect_phy: dect_shell: new sample shell application for dect_phy
  doc/nrf/protocols/dect/index.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/dect/dect_phy/dect_shell/CMakeLists.txt
  samples/dect/dect_phy/dect_shell/Kconfig
  samples/dect/dect_phy/dect_shell/README.rst
  samples/dect/dect_phy/dect_shell/boards/thingy91x_nrf9151_ns.conf
  samples/dect/dect_phy/dect_shell/prj.conf
  samples/dect/dect_phy/dect_shell/sample.yaml
  samples/dect/dect_phy/dect_shell/src/dect/CMakeLists.txt
  samples/dect/dect_phy/dect_shell/src/dect/common/CMakeLists.txt
  samples/dect/dect_phy/dect_shell/src/dect/common/dect_app_time.c
  samples/dect/dect_phy/dect_shell/src/dect/common/dect_app_time.h
  samples/dect/dect_phy/dect_shell/src/dect/common/dect_common.h
  samples/dect/dect_phy/dect_shell/src/dect/common/dect_common_pdu.c
  samples/dect/dect_phy/dect_shell/src/dect/common/dect_common_pdu.h
  samples/dect/dect_phy/dect_shell/src/dect/common/dect_common_settings.c
  samples/dect/dect_phy/dect_shell/src/dect/common/dect_common_settings.h
  samples/dect/dect_phy/dect_shell/src/dect/common/dect_common_utils.c
  samples/dect/dect_phy/dect_shell/src/dect/common/dect_common_utils.h
  samples/dect/dect_phy/dect_shell/src/dect/common/dect_phy_api_scheduler.c
  samples/dect/dect_phy/dect_shell/src/dect/common/dect_phy_api_scheduler.h
  samples/dect/dect_phy/dect_shell/src/dect/common/dect_phy_api_scheduler_integration.h
  samples/dect/dect_phy/dect_shell/src/dect/common/dect_phy_common.h
  samples/dect/dect_phy/dect_shell/src/dect/common/dect_phy_common_rx.c
  samples/dect/dect_phy/dect_shell/src/dect/common/dect_phy_common_rx.h
  samples/dect/dect_phy/dect_shell/src/dect/dect_phy_ctrl.c
  samples/dect/dect_phy/dect_shell/src/dect/dect_phy_ctrl.h
  samples/dect/dect_phy/dect_shell/src/dect/dect_phy_ctrl_scheduler_integration.c
  samples/dect/dect_phy/dect_shell/src/dect/dect_phy_rx.c
  samples/dect/dect_phy/dect_shell/src/dect/dect_phy_rx.h
  samples/dect/dect_phy/dect_shell/src/dect/dect_phy_scan.c
  samples/dect/dect_phy/dect_shell/src/dect/dect_phy_scan.h
  samples/dect/dect_phy/dect_shell/src/dect/dect_phy_shell.c
  samples/dect/dect_phy/dect_shell/src/dect/dect_phy_shell.h
  samples/dect/dect_phy/dect_shell/src/dect/perf/CMakeLists.txt
  samples/dect/dect_phy/dect_shell/src/dect/perf/dect_phy_perf.c
  samples/dect/dect_phy/dect_shell/src/dect/perf/dect_phy_perf.h
  samples/dect/dect_phy/dect_shell/src/dect/perf/dect_phy_perf_pdu.c
  samples/dect/dect_phy/dect_shell/src/dect/perf/dect_phy_perf_pdu.h
  samples/dect/dect_phy/dect_shell/src/dect/ping/CMakeLists.txt
  samples/dect/dect_phy/dect_shell/src/dect/ping/dect_phy_ping.c
  samples/dect/dect_phy/dect_shell/src/dect/ping/dect_phy_ping.h
  samples/dect/dect_phy/dect_shell/src/dect/ping/dect_phy_ping_pdu.c
  samples/dect/dect_phy/dect_shell/src/dect/ping/dect_phy_ping_pdu.h
  samples/dect/dect_phy/dect_shell/src/dect/rf_tool/CMakeLists.txt
  samples/dect/dect_phy/dect_shell/src/dect/rf_tool/dect_phy_rf_tool.c
  samples/dect/dect_phy/dect_shell/src/dect/rf_tool/dect_phy_rf_tool.h
  samples/dect/dect_phy/dect_shell/src/desh_defines.h
  samples/dect/dect_phy/dect_shell/src/main.c
  samples/dect/dect_phy/dect_shell/src/print/CMakeLists.txt
  samples/dect/dect_phy/dect_shell/src/print/print_shell.c
  samples/dect/dect_phy/dect_shell/src/shell.c
  samples/dect/dect_phy/dect_shell/src/utils/CMakeLists.txt
  samples/dect/dect_phy/dect_shell/src/utils/desh_print.c
  samples/dect/dect_phy/dect_shell/src/utils/desh_print.h
Labels: doc-required

#17354 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#17629 doc: security: rework section structure
  doc/_utils/redirects.py
  doc/_zoomin/ncs.tags.yml
  doc/nrf/app_dev/board_support/processing_environments.rst
  doc/nrf/libraries/security/nrf_security/index.rst
  doc/nrf/protocols/matter/end_product/security.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/security.rst
  doc/nrf/security/security.rst
  doc/nrf/security/trusted_storage.rst
Labels: doc-required, CI-disable, doc only

#17659 samples: net: http_server: No fatal error for setup_server
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/net/http_server/src/main.c
Labels: doc-required

#17636 doc: nrf: lib: modem_key_mgmt: Correct signature for _read()
  doc/nrf/libraries/modem/modem_key_mgmt.rst
Labels: doc-required

#17649 samples: cellular: smp_svr: add sysbuild files
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/smp_svr/sysbuild.conf
  samples/cellular/smp_svr/sysbuild/mcuboot/prj.conf
Labels: doc-required

#17695 lib: sms: ACK before APP callback
  lib/sms/sms.c
Labels: changelog-entry-required

#17684 doc: known issues: add Bluetooth LE entry
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#17557 doc: Update devictree link in include file
  doc/nrf/includes/sample_fem_support.txt
Labels: doc-required, doc only

#17733 CI:Change compression method in workflow
  .github/workflows/src-mirror.yml
Labels: changelog-entry-required

#17742 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#17766 samples: nrf_compress: mcuboot_update: Fix renamed Kconfig
  samples/nrf_compress/mcuboot_update/prj.conf
Labels: Hotfix

#17630 actions: Re-enable pip requirements pipeline
  .github/workflows/validate-pip-requirements-fixed-file.yml
Labels: changelog-entry-required

#17646 Samples: Bluetooth: ISO time sync fixes
  samples/bluetooth/iso_time_sync/README.rst
  samples/bluetooth/iso_time_sync/src/iso_rx.c
  samples/bluetooth/iso_time_sync/src/iso_tx.c
  samples/bluetooth/iso_time_sync/src/timed_led_toggle.c
Labels: doc-required, changelog-entry-required

#17576 lib: lte_link_control: deprecate factory reset
  doc/nrf/releases_and_maturity/migration/migration_guide_2.8.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/modem/lte_lc.h
  samples/cellular/modem_shell/src/link/link.h
  samples/cellular/modem_shell/src/link/link_settings.c
  samples/cellular/modem_shell/src/link/link_settings.h
  samples/cellular/modem_shell/src/link/link_shell.c
Labels: doc-required

#17767 boards: shields: coverage_support: coverage for nrf5340
  boards/shields/coverage_support/boards/nrf5340dk_nrf5340_cpuapp.conf
  boards/shields/coverage_support/boards/nrf5340dk_nrf5340_cpuapp.overlay
Labels: changelog-entry-required

#17762 samples: bluetooth: mesh: align usage of BT_LE_ADV_CONN with NCS
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/src/lb_service_handler.c
Labels: doc-required

#17532 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#17769 applications: ipc_radio: Limit configuration to release type
  applications/ipc_radio/overlay-bt_hci_ipc.conf
Labels: 10-min-review

#17687 samples: radio_test: Align Radio configuration for 802.15.4 mode
  samples/peripheral/radio_test/src/radio_test.c
Labels: changelog-entry-required

#17579 lib: lte_link_control: deprecate reduced mobility
  doc/nrf/releases_and_maturity/migration/migration_guide_2.8.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/modem/lte_lc.h
  samples/cellular/modem_shell/src/link/link.h
  samples/cellular/modem_shell/src/link/link_shell.c
Labels: doc-required

#17301 mgmt: Use bootloader info hooks in SUIT
  samples/suit/smp_transfer/prj.conf
  subsys/mgmt/suitfu/CMakeLists.txt
  subsys/mgmt/suitfu/Kconfig
  subsys/mgmt/suitfu/src/suitfu_mgmt.c
  subsys/mgmt/suitfu/src/suitfu_mgmt_priv.h
  subsys/mgmt/suitfu/src/suitfu_mgmt_suit_os.c
Labels: changelog-entry-required, manifest-suit-generator

#17781 manifest: sdk-nrfxlib: cmake: openthread: add tcplp library
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, bugfix

#17650 samples: mss: Thingy91x fixes
  samples/cellular/nrf_cloud_multi_service/Kconfig.sysbuild
  samples/cellular/nrf_cloud_multi_service/README.rst
  samples/cellular/nrf_cloud_multi_service/boards/thingy91x_nrf9151_ns.overlay
  samples/cellular/nrf_cloud_multi_service/sample.yaml
Labels: doc-required, changelog-entry-required

#17789 applications: nrf_desktop: Remove outdated Kconfig help
  applications/nrf_desktop/src/modules/Kconfig.config_channel
Labels: 10-min-review

#17665 subsys: net: lib: cloud: nrf_cloud: shutdown modem before reinit
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/src/nrf_cloud_fota_common.c
Labels: doc-required

#17736 manifest: sdk-connectedhomeip: Update revision
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#17778 tools: remove aarch64-zephyr-elf and x86_64-zephyr-elf
  scripts/tools-versions-darwin.yml
  scripts/tools-versions-linux.yml
  scripts/tools-versions-win10.yml
Labels: changelog-entry-required

#17811 manifest: sdk-nrfxlib: Revert nrf modem add nrf92 support
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#17810 tests: benchmarks: timer_waiting: modify test scenario
  tests/benchmarks/power_consumption/timer_waiting/src/driver_test.c
Labels: changelog-entry-required

#17745 Samples: Bluetooth: conn time sync fix
  samples/bluetooth/conn_time_sync/README.rst
  samples/bluetooth/conn_time_sync/src/timed_led_toggle.c
Labels: doc-required, changelog-entry-required

#17799 net: lib: mqtt_helper: Depend on TLS_CREDENTIALS for prvisioning
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/mqtt_helper/Kconfig
Labels: doc-required

#17600 Memfault LTE metrics improvements
  modules/memfault-firmware-sdk/config/memfault_metrics_heartbeat_extra.def
  modules/memfault-firmware-sdk/memfault_lte_metrics.c
Labels: changelog-entry-required

#17776 tests: benchmarks: multicore: Fixes to power-state tests
  tests/benchmarks/multicore/idle/CMakeLists.txt
  tests/benchmarks/multicore/idle_gpio/CMakeLists.txt
  tests/benchmarks/multicore/idle_outside_of_main/CMakeLists.txt
  tests/benchmarks/multicore/idle_spim/CMakeLists.txt
  tests/benchmarks/multicore/idle_spim/testcase.yaml
  tests/benchmarks/multicore/idle_twim/CMakeLists.txt
  tests/benchmarks/multicore/idle_twim/testcase.yaml
  tests/benchmarks/multicore/idle_uarte/CMakeLists.txt
  tests/benchmarks/multicore/idle_uarte/testcase.yaml
  tests/benchmarks/multicore/idle_with_pwm/src/main.c
Labels: changelog-entry-required

#17519 doc: suit: Push scenario and DFU caches documentation
  doc/nrf/app_dev/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_dfu.rst
  doc/nrf/app_dev/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_external_memory.rst
  doc/nrf/app_dev/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_push.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/suit/smp_transfer/README.rst
Labels: doc-required, doc only

#17834 boards: shields: coverage_support: force hw-flow-control at coverage
  boards/shields/coverage_support/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  boards/shields/coverage_support/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
Labels: changelog-entry-required

#17697 nrf_security: cracen PSA: Protected scheme check for AES key
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/kmu.c
Labels: changelog-entry-required

#17796 samples: zigbee: Fix nRF53 DFU by applying correct sysbuild config
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/zigbee/light_switch/Kconfig.sysbuild
  samples/zigbee/light_switch/sysbuild_fota.conf
Labels: doc-required

#17784 tf-m: crypto keys: Update default TFM_NS_PARTITION_ID
  modules/trusted-firmware-m/tfm_boards/common/crypto_keys.c
Labels: changelog-entry-required

#17589 lib: lte_lc: deprecate LTE_LC_ON_CFUN
  doc/nrf/libraries/modem/lte_lc.rst
  doc/nrf/libraries/modem/nrf_modem_lib/nrf_modem_lib_wrapper.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.8.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/modem/lte_lc.h
  include/modem/nrf_modem_lib.h
  lib/date_time/date_time_modem.c
  lib/sms/sms.c
  samples/cellular/modem_callbacks/README.rst
  samples/cellular/modem_trace_backend/src/main.c
  samples/cellular/modem_trace_flash/src/main.c
  tests/lib/sms/src/sms_test.c
Labels: doc-required

#17818 kconfig: openthread: move 1.4 mandatory feature sets to nrfxlib
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: manifest, manifest-nrfxlib

#17833 samples: bluetooth: llpm: Disable BT debug logging
  samples/bluetooth/llpm/prj.conf
Labels: changelog-entry-required

#17735 applications: sdp: gpio: cleanup backends
  applications/sdp/gpio/CMakeLists.txt
  applications/sdp/gpio/include/main.h
  applications/sdp/gpio/src/backend/backend.h
  applications/sdp/gpio/src/backend/backend_icmsg.c
  applications/sdp/gpio/src/backend/backend_mbox.c
  applications/sdp/gpio/src/main.c
Labels: changelog-entry-required

#17682 lib: nrf_modem: add semaphore to flash trace backend
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/trace_backends/flash/flash.c
Labels: doc-required

#17808 applications: sdp: gpio: do not print NCS boot banner
  applications/sdp/gpio/boards/nrf54l15dk_nrf54l15_cpuflpr.conf
Labels: changelog-entry-required

#17803 bluetooth: samples: iso_time_sync: Fix BIS bitfield
  samples/bluetooth/iso_time_sync/src/bis_receiver.c
Labels: changelog-entry-required

#17732 doc: Adjust the nrf54l developing section
  doc/_utils/redirects.py
  doc/nrf/app_dev/device_guides/nrf54l/index.rst
  doc/nrf/app_dev/device_guides/nrf54l/peripheral_sensor_node_shield.rst
  doc/nrf/images/peripheral_sensor_node_assy.png
  doc/nrf/images/peripheral_sensor_node_shield.png
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#17813 doc: known issues: Add KRKNWK-19263 related to Zigbee FOTA bug on nRF53
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required

#17632 manifest: sdk-connectedhomeip: Update revision
  doc/nrf/protocols/matter/end_product/security.rst
  samples/matter/template/sample.yaml
  subsys/net/openthread/Kconfig
  west.yml
Labels: doc-required, manifest, manifest-matter, changelog-entry-required

#17633 manifest: sdk-connectedhomeip: Fix reliability issues with multicasts
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, manifest-matter, changelog-entry-required, bugfix

#17634 net: lib: nrf_cloud: enable coap downloads by default
  doc/nrf/releases_and_maturity/migration/migration_guide_2.8.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_multi_service/overlay_coap.conf
  samples/cellular/nrf_cloud_multi_service/sample.yaml
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_coap
  subsys/net/lib/nrf_cloud/src/nrf_cloud_pgps_utils.c
Labels: doc-required

#17855 net: lib: nrf_cloud_coap: use nrf_cloud_sec_tag_get for dtls
  subsys/net/lib/nrf_cloud/coap/src/nrfc_dtls.c
Labels: changelog-entry-required

#17846 suit: Return volatile key IDs from MCI
  subsys/suit/mci/include/suit_mci.h
  subsys/suit/platform/sdfw/src/suit_plat_authenticate.c
  tests/subsys/suit/common/mci_test/mci_test.c
  tests/subsys/suit/unit/mocks/include/mock_suit_mci.h
Labels: changelog-entry-required

#17618 doc: suit: Extended recovery documentation
  doc/nrf/app_dev/device_guides/working_with_nrf/nrf54h/images/nrf54h20_suit_recovery_boot_path.png
  doc/nrf/app_dev/device_guides/working_with_nrf/nrf54h/images/nrf54h20_suit_recovery_manifest_topology.png
  doc/nrf/app_dev/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_dfu.rst
  doc/nrf/app_dev/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_recovery.rst
  samples/suit/recovery/README.rst
Labels: doc-required, changelog-entry-required

#17748 doc: install: update TM note plus minor fixes
  doc/nrf/app_dev/create_application.rst
  doc/nrf/app_dev/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_gs.rst
  doc/nrf/installation/install_ncs.rst
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable, doc only

#17730 applications: nrf5340_audio: Fix HFClock calculation
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/modules/audio_i2s.c
  applications/nrf5340_audio/src/modules/audio_i2s.h
Labels: changelog-entry-required

#17860 doc: nrf: move LLC migrations from mandatory to recommended
  doc/nrf/releases_and_maturity/migration/migration_guide_2.8.rst
Labels: doc-required

#17825 modules: memfault: Implement location metrics
  applications/asset_tracker_v2/configuration/memfault/memfault_metrics_heartbeat_config.def
  applications/asset_tracker_v2/doc/debug_module.rst
  applications/asset_tracker_v2/overlay-memfault.conf
  applications/asset_tracker_v2/src/modules/debug_module.c
  applications/asset_tracker_v2/tests/debug_module/src/debug_module_test.c
  doc/nrf/libraries/debug/memfault_ncs.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  modules/memfault-firmware-sdk/CMakeLists.txt
  modules/memfault-firmware-sdk/Kconfig
  modules/memfault-firmware-sdk/config/memfault_metrics_heartbeat_extra.def
  modules/memfault-firmware-sdk/include/memfault_location_metrics.h
  modules/memfault-firmware-sdk/memfault_location_metrics.c
  modules/memfault-firmware-sdk/memfault_ncs_metrics.c
Labels: doc-required

#17775 manifest: Update sdk-mcuboot
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#17824 dm: Fix timeslot distance check
  subsys/dm/timeslot_queue.c
Labels: changelog-entry-required

#16855 lib: uicc_lwm2m: Add UICC LwM2M library
  .checkpatch.conf
  CODEOWNERS
  doc/nrf/libraries/modem/uicc_lwm2m.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/modem/uicc_lwm2m.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/uicc_lwm2m/CMakeLists.txt
  lib/uicc_lwm2m/Kconfig
  lib/uicc_lwm2m/asn1_decode.c
  lib/uicc_lwm2m/asn1_decode.h
  lib/uicc_lwm2m/pkcs15_decode.c
  lib/uicc_lwm2m/pkcs15_decode.h
  lib/uicc_lwm2m/uicc_lwm2m.c
  samples/cellular/uicc_lwm2m/CMakeLists.txt
  samples/cellular/uicc_lwm2m/README.rst
  samples/cellular/uicc_lwm2m/prj.conf
  samples/cellular/uicc_lwm2m/sample.yaml
  samples/cellular/uicc_lwm2m/src/main.c
  scripts/ci/tags.yaml
  tests/lib/uicc_lwm2m/CMakeLists.txt
  tests/lib/uicc_lwm2m/prj.conf
  tests/lib/uicc_lwm2m/src/main.c
  tests/lib/uicc_lwm2m/testcase.yaml
Labels: doc-required

#17604 tests: benchmarks: multicore: idle_uarte: Few fixes
  tests/benchmarks/multicore/idle_uarte/prj.conf
  tests/benchmarks/multicore/idle_uarte/src/main.c
  tests/benchmarks/multicore/idle_uarte/testcase.yaml
Labels: changelog-entry-required

#17569 doc: Miscellaneous doc updates
  doc/nrf/app_dev/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_custom_pcb.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/abi_compatibility.rst
  doc/nrf/releases_and_maturity/migration/2.4.99-cs3_to_2.6.99-cs2/migration_guide_2.4.99-cs3_to_2.6.99-cs2_environment.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7_99-cs1.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7_99-cs2.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/migration_guide_2.4.99-cs3_to_2.7_application.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/migration_guide_2.6.99-cs2_to_2.7_application.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/migration_guide_2.6.99-cs2_to_2_7_environment.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/transition_guide_2.4.99-cs3_to_2.7_environment.rst
Labels: doc-required, changelog-entry-required

#17879 modules: memfault: Fix location metric for Wi-Fi
  modules/memfault-firmware-sdk/memfault_location_metrics.c
Labels: bugfix

#17849 applications: nrf_desktop: Imply partial flash erase for USB next
  applications/nrf_desktop/src/modules/Kconfig.usb_state
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#17883 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#17699 ci: add ncs west command testing
  .github/workflows/west-commands.yml
Labels: CI-disable, changelog-entry-required

#17721 manifest: sdk-zephyr: Update to nrfx 3.7.0 and add support for nRF54H20 EngB
  samples/bluetooth/direct_test_mode/src/dtm.c
  west.yml
Labels: manifest, manifest-zephyr, manifest-matter, changelog-entry-required, manifest-sidewalk

#17886 doc: wifi: update wake interval image
  doc/nrf/protocols/wifi/station_mode/images/nRF70_ug_twt_wake_interval.svg
Labels: doc-required, changelog-entry-required

#17871 mgmt: suitfu: Make main image inactive in recovery
  subsys/mgmt/suitfu/src/suitfu_mgmt_img.c
Labels: bug, changelog-entry-required

#17802 manifest: Update suit-processor revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-suit-processor

#17734 esb: samples: Add HMPAN-102 workaround to ESB and samples
  samples/bluetooth/direct_test_mode/src/dtm.c
  samples/peripheral/radio_test/src/main.c
  subsys/esb/esb.c
Labels: 10-min-review

#17880 samples: pmic: npm1300: Add pin assignment note
  samples/pmic/native/npm1300_fuel_gauge/README.rst
  samples/pmic/native/npm1300_one_button/README.rst
Labels: doc-required, changelog-entry-required

#17900 suit: Cleanup on DFU partitions
  subsys/suit/envelope_info/include/suit_envelope_info.h
  subsys/suit/envelope_info/src/suit_envelope_info.c
  subsys/suit/orchestrator_app/Kconfig
  subsys/suit/orchestrator_app/src/suit_orchestrator_app.c
Labels: changelog-entry-required

#17905 manifest: Update Sidewalk
  west.yml
Labels: manifest, changelog-entry-required, bugfix, manifest-sidewalk

#17793 lib: edge_impulse: fix api key header
  lib/edge_impulse/CMakeLists.txt
Labels: external, CI-Requested

#17902 tests: suit: Fix missing configuration on native_posix
  tests/subsys/suit/envelope_decoder/prj.conf
Labels: changelog-entry-required

#17896 doc: Add known issue for DRGN-23231 (deadlock on link loss)
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#17560 doc: gsg_guides: remove nRF52 Series and nRF5340 DK guides
  doc/_utils/redirects.py
  doc/_zoomin/ncs.tags.yml
  doc/nrf/app_dev/device_guides/nrf52/features.rst
  doc/nrf/app_dev/device_guides/nrf53/features_nrf53.rst
  doc/nrf/app_dev/device_guides/nrf70/index.rst
  doc/nrf/app_dev/device_guides/nrf91/index.rst
  doc/nrf/app_dev/device_guides/pmic/npm1300.rst
  doc/nrf/gsg_guides.rst
  doc/nrf/gsg_guides/gsg_other.rst
  doc/nrf/gsg_guides/images/nrf52_connect_client_ios.png
  doc/nrf/gsg_guides/images/nrf52_connect_log.png
  doc/nrf/gsg_guides/images/nrf52_connect_log_ios.png
  doc/nrf/gsg_guides/images/nrf52_connect_write_ios.png
  doc/nrf/gsg_guides/images/nrf52_enable_cccds.png
  doc/nrf/gsg_guides/nrf52_gs.rst
  doc/nrf/gsg_guides/nrf5340_gs.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable, doc only

#17916 mgmt: suitfu: Automatically enable SUITFU bootloader information hook
  subsys/mgmt/suitfu/Kconfig
Labels: 10-min-review

#17870 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#17854 kconfig: openthread: Switch nRF54H20 to PSA
  subsys/net/openthread/Kconfig.defconfig
  subsys/sdfw_services/transport/Kconfig
Labels: changelog-entry-required

#17828 suit: Add support for new suit-install key
  config/suit/templates/nrf54h20/default/v1/app_envelope.yaml.jinja2
  config/suit/templates/nrf54h20/default/v1/app_recovery_envelope.yaml.jinja2
  config/suit/templates/nrf54h20/default/v1/rad_envelope.yaml.jinja2
  config/suit/templates/nrf54h20/default/v1/rad_recovery_envelope.yaml.jinja2
  config/suit/templates/nrf54h20/default/v1/root_with_binary_nordic_top.yaml.jinja2
  config/suit/templates/nrf54h20/matter/v1/app_envelope.yaml.jinja2
  config/suit/templates/nrf54h20/matter/v1/rad_envelope.yaml.jinja2
  config/suit/templates/nrf54h20/matter/v1/root_with_binary_nordic_top.yaml.jinja2
  samples/suit/smp_transfer/suit/nrf54h20/app_envelope_extflash.yaml.jinja2
  samples/suit/smp_transfer/suit/nrf54h20/rad_envelope_extflash.yaml.jinja2
  samples/suit/smp_transfer/suit/nrf54h20/root_with_binary_nordic_top_extflash.yaml.jinja2
  west.yml
Labels: manifest, changelog-entry-required, manifest-suit-generator, manifest-suit-processor

#17807 tests: subsys: event_manager_proxy: Increase read pbuf size
  tests/subsys/event_manager_proxy/prj_icmsg.conf
  tests/subsys/event_manager_proxy/remote/prj_icmsg.conf
Labels: changelog-entry-required, 10-min-review

#17917 net: lib: nrf_cloud: add proper coap fota dependency guard
  subsys/net/lib/nrf_cloud/src/nrf_cloud_download.c
Labels: changelog-entry-required

#17173 tests: drivers: gpio: Add loopback test for eGPIO SDP
  .github/test-spec.yml
  CODEOWNERS
  scripts/ci/tags.yaml
  tests/drivers/gpio/egpio_basic_api/CMakeLists.txt
  tests/drivers/gpio/egpio_basic_api/README.txt
  tests/drivers/gpio/egpio_basic_api/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  tests/drivers/gpio/egpio_basic_api/dts/bindings/test-egpio.yaml
  tests/drivers/gpio/egpio_basic_api/prj.conf
  tests/drivers/gpio/egpio_basic_api/src/test_egpio.h
  tests/drivers/gpio/egpio_basic_api/src/test_egpio_port.c
  tests/drivers/gpio/egpio_basic_api/sysbuild.conf
  tests/drivers/gpio/egpio_basic_api/testcase.yaml
Labels: manifest-zephyr

#17669 drivers: gpio: eGpio naming cleanup
  drivers/gpio/Kconfig
  drivers/gpio/gpio_nrfe.c
  dts/bindings/gpio/nordic,nrfe-gpio.yaml
  snippets/emulated-gpio/icmsg/emulated-gpio.overlay
  snippets/emulated-gpio/mbox/emulated-gpio.overlay
Labels: changelog-entry-required

#17823 samples: bluetooth: peripheral_mds: Set device ID at build time
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_mds/README.rst
  samples/bluetooth/peripheral_mds/prj.conf
Labels: doc-required

#17411 doc: 54H nrfutil reset kinds documentation
  doc/nrf/app_dev/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_architecture.rst
  doc/nrf/app_dev/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_architecture_reset.rst
  doc/nrf/links.txt
Labels: doc-required, changelog-entry-required

#17305 tfm: Improve use-case for missing provisioning
  doc/nrf/libraries/security/identity_key.rst
  doc/nrf/links.txt
  doc/nrf/security/tfm.rst
  modules/trusted-firmware-m/Kconfig
  modules/trusted-firmware-m/tfm_boards/common/tfm_hal_platform.c
  samples/tfm/provisioning_image/README.rst
Labels: doc-required, changelog-entry-required
