Repository nrfconnect/sdk-nrf, pull requests merged in 2024-06, with the labels that each got.

#15505 drivers: wifi: add random MAC
  drivers/wifi/nrf700x/Kconfig
  drivers/wifi/nrf700x/inc/net_if.h
  drivers/wifi/nrf700x/src/net_if.c
Labels: changelog-entry-required

#15560 bords: shields: pca63566: Fix overlay for nrf54h20
  boards/shields/pca63566/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
Labels: changelog-entry-required

#15606 manifest: update sdk-zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#15292 Wi-Fi and Thread coexistence sample
  doc/nrf/images/wifi_thread_coex.svg
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/wifi/thread_coex/CMakeLists.txt
  samples/wifi/thread_coex/Kconfig
  samples/wifi/thread_coex/README.rst
  samples/wifi/thread_coex/child_image/802154_rpmsg.conf
  samples/wifi/thread_coex/dts.overlay
  samples/wifi/thread_coex/overlay-logging.conf
  samples/wifi/thread_coex/overlay-ot.conf
  samples/wifi/thread_coex/overlay-wifi-udp-client-thread-udp-client.conf
  samples/wifi/thread_coex/overlay-wifi-udp-client-thread-udp-server.conf
  samples/wifi/thread_coex/prj.conf
  samples/wifi/thread_coex/sample.yaml
  samples/wifi/thread_coex/src/main.c
  samples/wifi/thread_coex/src/main.h
  samples/wifi/thread_coex/src/ot_coex_functions.c
  samples/wifi/thread_coex/src/ot_coex_functions.h
  samples/wifi/thread_coex/src/ot_utils.c
  samples/wifi/thread_coex/src/ot_utils.h
  samples/wifi/thread_coex/src/zperf_utils.c
  samples/wifi/thread_coex/src/zperf_utils.h
  samples/wifi/thread_coex/sysbuild.conf
Labels: doc-required

#15640 kconfig: openthread: Change konfigs for nrf54.
  subsys/net/openthread/Kconfig.defconfig
Labels: changelog-entry-required

#15612 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#15647 samples: openthread: Add configuration for ipc_radio
  samples/openthread/cli/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/openthread/cli/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.overlay
Labels: changelog-entry-required

#15650 Bluetooth: Mesh: Coverity warning fixed
  subsys/bluetooth/mesh/scheduler_srv.c
Labels: changelog-entry-required, ble mesh

#15578 applications: connectivity_bridge: Enable BLE on thingy91x
  applications/connectivity_bridge/boards/thingy91x_nrf5340_cpuapp.overlay
  applications/connectivity_bridge/sample.yaml
  applications/connectivity_bridge/src/modules/ble_handler.c
  boards/nordic/thingy91x/thingy91x_nrf5340_cpuapp_common.dts
  doc/nrf/includes/sample_board_rows.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#15582 samples: bluetooth: fast_pair: align sample name with new doc location
  doc/nrf/samples.rst
  doc/nrf/samples/fast_pair.rst
  samples/bluetooth/fast_pair/input_device/README.rst
  samples/bluetooth/fast_pair/locator_tag/README.rst
Labels: doc-required, changelog-entry-required, doc only

#15566 cracen: Fix for EC J-PAKE to PMS KDF
  subsys/nrf_security/src/drivers/cracen/cracenpsa/include/cracen_psa_primitives.h
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/key_derivation.c
Labels: changelog-entry-required

#15654 samples: wifi: throughput: Fix boot error messages
  samples/wifi/throughput/prj.conf
Labels: changelog-entry-required

#15655 suit: Allow to update SDFW on empty devices
  subsys/suit/execution_mode/include/suit_execution_mode.h
  subsys/suit/execution_mode/src/suit_execution_mode.c
  subsys/suit/mci/src/suit_mci_nrf54h20.c
  subsys/suit/orchestrator/src/suit_orchestrator_sdfw.c
  tests/subsys/suit/execution_mode/src/main.c
Labels: changelog-entry-required

#15579 suit: build recovery image from main application
  cmake/sysbuild/suit.cmake
  samples/suit/recovery/Kconfig
  samples/suit/recovery/app_recovery_envelope.yaml.jinja2
  samples/suit/smp_transfer/sample.yaml
  subsys/suit/provisioning/soc/Kconfig.nrf54h20
  sysbuild/CMakeLists.txt
  sysbuild/Kconfig.suit
Labels: changelog-entry-required

#15663 snippets: nrf70-debug: Fix shell stack size
  snippets/nrf70-debug/overlay-debug.conf
Labels: changelog-entry-required

#15641 manifest:update sdk-zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#15394 Iris 7975
  doc/nrf/external_comp/nrf_cloud.rst
  doc/nrf/libraries/networking/nrf_cloud.rst
  doc/nrf/libraries/networking/nrf_cloud_agnss.rst
  doc/nrf/libraries/networking/nrf_cloud_alert.rst
  doc/nrf/libraries/networking/nrf_cloud_coap.rst
  doc/nrf/libraries/networking/nrf_cloud_log.rst
  doc/nrf/libraries/networking/nrf_cloud_pgps.rst
  doc/nrf/libraries/networking/nrf_cloud_rest.rst
  include/net/nrf_cloud_alert.h
  samples/cellular/nrf_cloud_multi_service/README.rst
Labels: doc-required, changelog-entry-required

#15521 lib: location: Send GNSS coordinates to nRF Cloud
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/location/Kconfig
  lib/location/method_gnss.c
  samples/cellular/modem_shell/sample.yaml
Labels: doc-required

#15575 samples: matter: Pulled update removing defaults for child images
  applications/matter_bridge/CMakeLists.txt
  applications/matter_bridge/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.conf
  applications/matter_bridge/sysbuild/mcuboot/boards/nrf7002dk_nrf5340_cpuapp.conf
  applications/matter_weather_station/CMakeLists.txt
  doc/nrf/links.txt
  doc/nrf/protocols/matter/end_product/bootloader.rst
  doc/nrf/protocols/matter/getting_started/kconfig.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.7.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/light_bulb/CMakeLists.txt
  samples/matter/light_bulb/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/matter/light_bulb/sysbuild/mcuboot/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/matter/light_switch/CMakeLists.txt
  samples/matter/light_switch/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/matter/light_switch/sysbuild/mcuboot/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/matter/lock/CMakeLists.txt
  samples/matter/lock/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/matter/lock/sysbuild/mcuboot/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/matter/template/CMakeLists.txt
  samples/matter/template/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/matter/template/sysbuild/mcuboot/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/matter/thermostat/CMakeLists.txt
  samples/matter/thermostat/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/matter/thermostat/sysbuild/mcuboot/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/matter/window_covering/CMakeLists.txt
  samples/matter/window_covering/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/matter/window_covering/sysbuild/mcuboot/boards/nrf7002dk_nrf5340_cpuapp.conf
  west.yml
Labels: doc-required, manifest, manifest-matter

#15166 doc: add info about samples common
  doc/nrf/config_and_build/configuring_app/advanced_building.rst
  doc/nrf/device_guides/working_with_nrf/nrf52/developing.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/samples.rst
  doc/nrf/shortcuts.txt
Labels: doc-required

#15627 applications: nrf5340_audio: Reuse PA sync timeout set from Zephyr
  applications/nrf5340_audio/src/bluetooth/bt_management/scanning/bt_mgmt_scan_for_broadcast.c
Labels: changelog-entry-required

#15677 samples: matter: fix CredentialsManager credentials clearing
  samples/matter/lock/src/access/access_manager_credentials.cpp
Labels: changelog-entry-required

#15633 sample: wifi_privisioning: add missing sysbuild file
  samples/wifi/provisioning/ble/Kconfig.sysbuild
Labels: changelog-entry-required

#15681 applications: nrf5340_audio: Remove double adv start
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.c
Labels: bugfix

#15576 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#15619 doc: matter: Added documentation to Matter west commands
  doc/nrf/protocols/matter/getting_started/adding_clusters.rst
  doc/nrf/protocols/matter/getting_started/hw_requirements.rst
  doc/nrf/protocols/matter/getting_started/tools.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#15697 CODEOWNERS: Remove Sebastian Bøe
  CODEOWNERS
Labels: changelog-entry-required

#15160 modules: memfault: Avoid resetting connectivity stats when sampling
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  modules/memfault-firmware-sdk/memfault_lte_metrics.c
Labels: doc-required

#15621 manifest: sdk-nrfxlib: nrf_wifi: Update RPU patch to rev#f844693a934
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#15526 lib: nrf_modem: let application set modem fault thread stack size
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/Kconfig.modemlib
  lib/nrf_modem_lib/fault.c
Labels: doc-required

#15636 Revert "lib: at_host: use CRLF termination as default"
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/at_host/Kconfig
Labels: doc-required

#15648 manifest: Update sdk-zephyr
  applications/nrf_desktop/src/modules/usb_state.c
  west.yml
Labels: manifest, manifest-zephyr

#15541 boards: Add Wi-Fi boards backward compatibility
  boards/deprecated.cmake
Labels: changelog-entry-required

#15608 doc: wifi: Update memory footprint tables for 2.7 release
  doc/nrf/protocols/wifi/advanced_modes/index.rst
  doc/nrf/protocols/wifi/advanced_modes/mem_requirements_raw.rst
  doc/nrf/protocols/wifi/index.rst
  doc/nrf/protocols/wifi/provisioning/index.rst
  doc/nrf/protocols/wifi/provisioning/mem_requirements_ble.rst
  doc/nrf/protocols/wifi/provisioning/mem_requirements_softap.rst
  doc/nrf/protocols/wifi/sap_mode/mem_requirements_sap.rst
  doc/nrf/protocols/wifi/scan_mode/mem_requirements_scan.rst
  doc/nrf/protocols/wifi/station_mode/mem_requirements_sta.rst
Labels: doc-required

#15571 doc: working_with_nrf: squash structure for nRF70
  doc/_utils/redirects.py
  doc/nrf/device_guides.rst
  doc/nrf/device_guides/nrf70/constrained.rst
  doc/nrf/device_guides/nrf70/features.rst
  doc/nrf/device_guides/nrf70/fw_patches_ext_flash.rst
  doc/nrf/device_guides/nrf70/images/nRF7002eb.png
  doc/nrf/device_guides/nrf70/images/nRF7002eb_Castellated_edge.png
  doc/nrf/device_guides/nrf70/images/nRF7002ek.png
  doc/nrf/device_guides/nrf70/images/nrf70_ug_overview.svg
  doc/nrf/device_guides/nrf70/images/power_profiler2_pc_nrf7002_dk.png
  doc/nrf/device_guides/nrf70/images/power_profiler_dtim_output.png
  doc/nrf/device_guides/nrf70/images/power_profiler_dtim_wakeup.png
  doc/nrf/device_guides/nrf70/images/power_profiler_twt.png
  doc/nrf/device_guides/nrf70/index.rst
  doc/nrf/device_guides/nrf70/nrf7002eb_dev_guide.rst
  doc/nrf/device_guides/nrf70/nrf7002ek_dev_guide.rst
  doc/nrf/device_guides/nrf70/nrf70_fw_patch_update.rst
  doc/nrf/device_guides/nrf70/power_profiling.rst
  doc/nrf/device_guides/nrf70/soc_combo.csv
  doc/nrf/device_guides/nrf70/stack_combo.csv
  doc/nrf/device_guides/nrf70/stack_partitioning.rst
  doc/nrf/device_guides/working_with_nrf/nrf70/developing/index.rst
  doc/nrf/device_guides/working_with_nrf/nrf70/nrf7002eb_gs.rst
  doc/nrf/device_guides/working_with_nrf/nrf70/nrf7002ek_gs.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable, doc only

#15458 manifest: sdk-nrfxlib: Pull nRF70 v2.6 patch update rev#ff06137d3d7
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, wifi-qa-required

#15567 samples: matter: Added diagnostic end user logs support
  doc/nrf/protocols/matter/end_product/test_event_triggers.rst
  doc/nrf/protocols/matter/getting_started/advanced_kconfigs.rst
  samples/matter/common/cmake/source_common.cmake
  samples/matter/common/snippets/diagnostic-logs/boards/nrf52840dk_nrf52840.overlay
  samples/matter/common/snippets/diagnostic-logs/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/common/snippets/diagnostic-logs/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  samples/matter/common/snippets/diagnostic-logs/boards/nrf7002dk_nrf5340_cpuapp.overlay
  samples/matter/common/snippets/diagnostic-logs/diagnostic_logs.conf
  samples/matter/common/src/app/matter_init.cpp
  samples/matter/common/src/diagnostic/Kconfig
  samples/matter/common/src/diagnostic/diagnostic_logs_crash.cpp
  samples/matter/common/src/diagnostic/diagnostic_logs_crash.h
  samples/matter/common/src/diagnostic/diagnostic_logs_end_user.cpp
  samples/matter/common/src/diagnostic/diagnostic_logs_end_user.h
  samples/matter/common/src/diagnostic/diagnostic_logs_provider.cpp
  samples/matter/common/src/diagnostic/diagnostic_logs_provider.h
  samples/matter/common/src/event_triggers/default_event_triggers.cpp
  samples/matter/common/src/event_triggers/default_event_triggers.h
Labels: doc-required, changelog-entry-required

#15459 sysbuild: Fix issue with re-generating provision data
  cmake/sysbuild/provision_hex.cmake
  cmake/sysbuild/sign.cmake
Labels: changelog-entry-required

#15683 sysbuild: Fix external flash override file path
  sysbuild/CMakeLists.txt
Labels: changelog-entry-required

#15688 FMDN upstream part 8: Fast Pair Integration guide update with the FMDN content
  doc/nrf/external_comp/bt_fast_pair.rst
Labels: doc-required, doc only

#15713 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-dragoon

#15287 doc: add suit SMP readme
  doc/nrf/config_and_build/configuring_app/output_build_files.rst
  doc/nrf/images/suit_smp_firmware_upload_complete.png
  doc/nrf/images/suit_smp_firmware_uploading.png
  doc/nrf/images/suit_smp_images_v2.png
  doc/nrf/images/suit_smp_select_advanced.png
  doc/nrf/images/suit_smp_select_firmware_select_file.png
  doc/nrf/images/suit_smp_select_image_read.png
  doc/nrf/images/suit_smp_select_suit_smp_sample.png
  samples/suit/smp_transfer/README.rst
Labels: doc-required, changelog-entry-required

#15696 samples: matter: light bulb psub merged with mem profiling
  samples/matter/light_bulb/sample.yaml
  scripts/quarantine_integration.yaml
Labels: changelog-entry-required

#15509 subsys: bootloader: Fix multi-image dfu for Network core
  subsys/bootloader/cmake/packaging.cmake
Labels: changelog-entry-required

#15730 samples: Bluetooth: Increase rx stack size for 54L
  samples/bluetooth/iso_combined_bis_and_cis/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
Labels: changelog-entry-required

#15380 samples: bluetooth: fix HID Mouse security configuration
  samples/bluetooth/peripheral_hids_mouse/Kconfig
  samples/bluetooth/peripheral_hids_mouse/prj.conf
Labels: changelog-entry-required

#15714 samples: wifi: shell: Fix Flash overflow for OTBR
  samples/wifi/shell/overlay-openthread.conf
Labels: changelog-entry-required

#15539 doc: Support for PBKDF2 algorithms with TF-M
  doc/nrf/libraries/security/nrf_security/doc/driver_config.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#15548 doc: Remove infocenter mentions
  applications/nrf5340_audio/doc/requirements.rst
  doc/nrf/libraries/others/emds.rst
  doc/nrf/protocols/bt/bt_qualification/index.rst
  doc/nrf/protocols/thread/certification.rst
  doc/nrf/test_and_optimize/optimizing/power_general.rst
Labels: doc-required, changelog-entry-required

#15537 lib: nrf_modem: net_if: Kconfig changes and IPv4 only support
  doc/nrf/libraries/modem/nrf_modem_lib/index.rst
  doc/nrf/libraries/modem/nrf_modem_lib/nrf_modem_lib_fault.rst
  doc/nrf/libraries/modem/nrf_modem_lib/nrf_modem_lib_lte_net_if.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/Kconfig.modemlib
  lib/nrf_modem_lib/fault.c
  lib/nrf_modem_lib/lte_net_if/Kconfig
  lib/nrf_modem_lib/lte_net_if/lte_ip_addr_helper.c
  lib/nrf_modem_lib/lte_net_if/lte_net_if.c
Labels: doc-required

#15228 doc: known_issues: Add known issues for Matter stack
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#15551 doc: mention modem library in the link ctrl docs
  doc/nrf/libraries/modem/lte_lc.rst
Labels: doc-required, CI-disable

#15471 samples: event_manager_proxy: Adapt to nRF54h20 and sysbuild
  samples/event_manager_proxy/CMakeLists.txt
  samples/event_manager_proxy/Kconfig
  samples/event_manager_proxy/README.rst
  samples/event_manager_proxy/aci/CMakeLists.txt
  samples/event_manager_proxy/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/event_manager_proxy/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/event_manager_proxy/prj.conf
  samples/event_manager_proxy/prj_icmsg.conf
  samples/event_manager_proxy/remote/boards/nrf5340dk_nrf5340_cpunet.conf
  samples/event_manager_proxy/remote/boards/nrf54h20dk_nrf54h20_cpuppr.conf
  samples/event_manager_proxy/remote/boards/nrf54h20dk_nrf54h20_cpuppr.overlay
  samples/event_manager_proxy/remote/prj.conf
  samples/event_manager_proxy/remote/prj_icmsg.conf
  samples/event_manager_proxy/sample.yaml
  samples/event_manager_proxy/sysbuild.cmake
  samples/event_manager_proxy/zephyr/module.yml
Labels: doc-required

#15658 samples: wifi: thread_coex: Fix crash
  samples/wifi/thread_coex/README.rst
  samples/wifi/thread_coex/child_image/802154_rpmsg.conf
  samples/wifi/thread_coex/prj.conf
  samples/wifi/thread_coex/sysbuild/ipc_radio/prj.conf
Labels: doc-required, changelog-entry-required

#15729 FMDN upstream part 9 (final): new FMDN content for the Fast Pair service documentation
  doc/nrf/libraries/bluetooth_services/services/fast_pair.rst
Labels: doc-required

#15723 samples: cellular: modem_shell: sock: Fix 'packet' socket connect
  samples/cellular/modem_shell/src/sock/sock.c
Labels: changelog-entry-required

#15722 sysbuild: Remove empty net core default selection
  sysbuild/Kconfig.netcore
Labels: changelog-entry-required

#15665 applications: nrf_desktop: Add USBHS init thread + nrf54H USBHS support
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/app.overlay
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/prj.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/prj_release.conf
  applications/nrf_desktop/src/modules/Kconfig.usb_state
  applications/nrf_desktop/src/modules/usb_state.c
Labels: changelog-entry-required

#15704 samples: matter: Added nRF54H20 support
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/lock/Kconfig.sysbuild
  samples/matter/lock/README.rst
  samples/matter/lock/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/matter/lock/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/matter/lock/sample.yaml
  samples/matter/lock/suit_templates/app_envelope.yaml.jinja2
  samples/matter/lock/suit_templates/rad_envelope.yaml.jinja2
  samples/matter/lock/suit_templates/root_with_binary_nordic_top.yaml.jinja2
  samples/matter/lock/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/matter/lock/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.overlay
  samples/matter/template/Kconfig.sysbuild
  samples/matter/template/README.rst
  samples/matter/template/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/matter/template/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/matter/template/sample.yaml
  samples/matter/template/suit_templates/app_envelope.yaml.jinja2
  samples/matter/template/suit_templates/rad_envelope.yaml.jinja2
  samples/matter/template/suit_templates/root_with_binary_nordic_top.yaml.jinja2
  samples/matter/template/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/matter/template/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.overlay
  west.yml
Labels: doc-required, manifest, manifest-matter

#15751 doc: external comp: fast_pair: fix syntax for unavailable API elements
  doc/nrf/external_comp/bt_fast_pair.rst
Labels: doc-required, doc only

#15716 applications: Matter Bridge: avoid runtime crash caused by bad alloc
  samples/matter/common/src/bridge/bridge_manager.cpp
Labels: bugfix

#15644 samples: Add sysbuild support to radio_test
  samples/peripheral/radio_test/CMakeLists.txt
  samples/peripheral/radio_test/README.rst
  samples/peripheral/radio_test/prj_usb.conf
  samples/peripheral/radio_test/sample.yaml
  samples/peripheral/radio_test/sysbuild.cmake
  samples/peripheral/radio_test/sysbuild.conf
  samples/peripheral/radio_test/sysbuild/remote_shell/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/peripheral/radio_test/sysbuild/remote_shell/boards/nrf5340dk_nrf5340_cpuapp_usb.overlay
  samples/peripheral/radio_test/sysbuild/remote_shell/boards/usb.dts
  samples/peripheral/radio_test/sysbuild/remote_shell/nrf21540ek.overlay
  samples/peripheral/radio_test/sysbuild/remote_shell/pin_fwd.dts
  samples/peripheral/radio_test/sysbuild/remote_shell/prj.conf
  samples/peripheral/radio_test/sysbuild/remote_shell/prj_usb.conf
Labels: doc-required, bugfix

#15664 lib: lte_lc: Fix compiler warning
  lib/lte_link_control/lte_lc.c
Labels: bugfix

#15651 doc: suit updates
  doc/nrf/device_guides/nrf54h.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/images/nrf54h20_suit_default_manifest_topology.png
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_compare_other_dfu.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_components.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_customize_dfu.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_customize_qsg.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_dfu.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_external_memory.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_fetch.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_hierarchical_manifests.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_intro.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_manifest_overview.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_why.rst
  samples/suit/flash_companion/README.rst
  samples/suit/recovery/README.rst
Labels: doc-required

#15761 doc: nrf70: 54H: Fix typo
  doc/nrf/device_guides/nrf70/nrf7002eb_54h20dk_gs.rst
Labels: doc-required, changelog-entry-required

#15718 Set filter settings for packet len
  drivers/wifi/nrf700x/src/wifi_mgmt.c
Labels: manifest-nrfxlib, changelog-entry-required

#15594 samples: wifi: provisioning: softap: Add missing reboot
  samples/wifi/provisioning/softap/prj.conf
Labels: bug

#15542 applications: serial_lte_modem: Add GNSS data to carrier library
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#15684 manifest: sdk-zephyr: Pull fix for filter settings
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#15768 samples: cellular: nrf_cloud_multi_service: Thingy:91x support
  samples/cellular/nrf_cloud_multi_service/Kconfig
Labels: bug, changelog-entry-required

#15764 Revert "scripts: Qurantine nRF54H Wi-Fi test"
  scripts/quarantine.yaml
Labels: changelog-entry-required

#15747 samples: wifi: Fix TCP Zperf
  samples/wifi/shell/overlay-zperf.conf
  samples/wifi/throughput/overlay-high-performance.conf
  samples/wifi/throughput/overlay-iot-devices.conf
  samples/wifi/throughput/overlay-memory-optimized.conf
  samples/wifi/throughput/overlay-rx-prio.conf
  samples/wifi/throughput/overlay-tx-prio.conf
Labels: changelog-entry-required, bugfix

#15744 applications: asset_tracker_v2: Add missing boards in sysbuild kconfig
  applications/asset_tracker_v2/Kconfig.sysbuild
Labels: bugfix

#15709 manifest: sdk-nrfxlib: nrf_wifi: Update RPU patch to rev#5e345990e0e
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#15711 doc: wifi: add random mac address changelog entry
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#15569 lib: bin: lwm2m_carrier: update to v3.5.0
  applications/asset_tracker_v2/src/modules/modem_module.c
  applications/serial_lte_modem/src/lwm2m_carrier/Kconfig
  applications/serial_lte_modem/src/lwm2m_carrier/slm_at_carrier.c
  applications/serial_lte_modem/src/lwm2m_carrier/slm_at_carrier.h
  applications/serial_lte_modem/src/lwm2m_carrier/slm_at_carrier_cfg.c
  applications/serial_lte_modem/src/lwm2m_carrier/slm_at_carrier_cfg.h
  applications/serial_lte_modem/src/main.c
  applications/serial_lte_modem/src/slm_at_commands.c
  applications/serial_lte_modem/src/slm_at_fota.c
  doc/nrf/libraries/bin/lwm2m_carrier/CHANGELOG.rst
  doc/nrf/libraries/bin/lwm2m_carrier/app_integration.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.7.rst
  lib/bin/lwm2m_carrier/Kconfig
  lib/bin/lwm2m_carrier/include/lwm2m_carrier.h
  lib/bin/lwm2m_carrier/include/lwm2m_os.h
  lib/bin/lwm2m_carrier/include/lwm2m_settings.h
  lib/bin/lwm2m_carrier/lib/cortex-m33/hard-float/liblwm2m_carrier.a
  lib/bin/lwm2m_carrier/os/lwm2m_carrier.c
  lib/bin/lwm2m_carrier/os/lwm2m_os.c
  lib/bin/lwm2m_carrier/os/lwm2m_settings.c
  lib/bin/lwm2m_carrier/os/lwm2m_shell.c
  samples/cellular/http_update/application_update/src/main.c
  samples/cellular/lwm2m_carrier/src/main.c
  samples/cellular/modem_shell/src/shell.c
Labels: doc-required, changelog-entry-required

#15598 doc: working_with_nrf: restructuring of nRF52 Series
  applications/nrf_desktop/bootloader_dfu.rst
  doc/_utils/redirects.py
  doc/nrf/device_guides.rst
  doc/nrf/device_guides/nrf52/building.rst
  doc/nrf/device_guides/nrf52/features.rst
  doc/nrf/device_guides/nrf52/fota_update.rst
  doc/nrf/device_guides/nrf52/index.rst
  doc/nrf/device_guides/nrf52/testing.rst
  doc/nrf/device_guides/nrf91/nrf91_building.rst
  doc/nrf/device_guides/working_with_nrf/nrf53/nrf5340.rst
  doc/nrf/device_guides/working_with_nrf/nrf53/thingy53.rst
  doc/nrf/libraries/caf/ble_smp.rst
Labels: doc-required, CI-disable, doc only

#15469 applications: nrf5340_audio: Rewrite adv population for broadcast_source
  applications/nrf5340_audio/broadcast_source/Kconfig.defaults
  applications/nrf5340_audio/broadcast_source/main.c
  applications/nrf5340_audio/src/bluetooth/bt_management/advertising/Kconfig
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.c
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/Kconfig
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_source.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_source.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_server.c
  applications/nrf5340_audio/unicast_server/main.c
Labels: changelog-entry-required

#15772 manifest: Update Sidewalk revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-sidewalk

#15642 doc: add Thread related known issue
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, CI-disable, changelog-entry-required

#15737 samples: suit: recovery: minor bug fixes
  samples/suit/recovery/README.rst
  samples/suit/smp_transfer/sample.yaml
Labels: doc-required, changelog-entry-required, bugfix

#15728 suit: generate DFU ZIP artifact
  cmake/sysbuild/suit.cmake
  cmake/sysbuild/suit_utilities.cmake
Labels: changelog-entry-required

#15669 net: lib: nrf_cloud: Add option to specify content format
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/net/nrf_cloud_coap.h
  samples/cellular/nrf_cloud_multi_service/src/shadow_support_coap.c
  subsys/net/lib/nrf_cloud/coap/src/nrf_cloud_coap.c
Labels: doc-required

#14348 doc: nrf53: replace nrfjprog with nrfutil
  doc/nrf/device_guides/working_with_nrf/nrf53/nrf5340.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#15790 kconfig: ssf: select zcbor canonical
  subsys/sdfw_services/Kconfig
Labels: changelog-entry-required

#15368 nrf_security: add MBEDTLS_AES_ONLY_128_BIT_KEY_LENGTH option
  subsys/nrf_security/Kconfig.legacy
  subsys/nrf_security/cmake/legacy_crypto_config.cmake
  subsys/nrf_security/configs/legacy_crypto_config.h.template
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#15801 bluetooth: controller: Move LE Path Loss Monitoring to separate KConfig
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#15789 scripts: hid_configurator: Support manifest.json with format-version=2
  scripts/hid_configurator/modules/dfu.py
Labels: bugfix

#15792 doc-improvement: applications: nrf_desktop: Update event propagation arrays
  applications/nrf_desktop/doc/event_propagation.rst
  applications/nrf_desktop/doc/event_rel_modules.rst
Labels: doc-required

#15814 applications: serial_lte_modem: Fix PGNSS with IPv4
  applications/serial_lte_modem/overlay-ppp.conf
  applications/serial_lte_modem/prj.conf
Labels: bugfix

#15800 Applications: nrf5340_audio: Print num conns
  applications/nrf5340_audio/unicast_client/main.c
  applications/nrf5340_audio/unicast_server/main.c
Labels: bugfix

#15794 snippets: bt-rpc: Align overlay with new Zephyr
  snippets/nordic-bt-rpc/boards/nrf54h20dk_nrf54h20-mem-map-move.dtsi
Labels: changelog-entry-required, bugfix

#15786 samples: wifi: Fix TCP RX data receive failure
  samples/wifi/shell/overlay-zperf.conf
  samples/wifi/throughput/overlay-high-performance.conf
  samples/wifi/throughput/overlay-iot-devices.conf
  samples/wifi/throughput/overlay-memory-optimized.conf
  samples/wifi/throughput/overlay-rx-prio.conf
  samples/wifi/throughput/overlay-tx-prio.conf
Labels: changelog-entry-required, bugfix

#15771 samples: cellular: modem_shell: Show errno on setsockopt error
  samples/cellular/modem_shell/src/utils/net_utils.c
Labels: bugfix

#15762 boards: thingy91x: resolve build warnings
  boards/nordic/thingy91x/CMakeLists.txt
Labels: bugfix

#15778 samples: matter: fix the pm static for nRF54L15 in window covering
  samples/matter/window_covering/pm_static_nrf54l15pdk_nrf54l15_cpuapp.yml
  scripts/quarantine.yaml
  scripts/quarantine_windows_mac.yaml
Labels: changelog-entry-required, bugfix

#15732 doc: nrf54l15 structure reorg
  doc/nrf/device_guides/nrf54l.rst
  doc/nrf/device_guides/working_with_nrf/nrf54l/features.rst
  doc/nrf/device_guides/working_with_nrf/nrf54l/nrf54l15_gs.rst
  doc/nrf/device_guides/working_with_nrf/nrf54l/testing_dfu.rst
Labels: doc-required

#15708 doc: working_with_nrf: restructuring of nRF53 Series
  doc/_utils/redirects.py
  doc/nrf/device_guides.rst
  doc/nrf/device_guides/nrf52/fota_update.rst
  doc/nrf/device_guides/nrf53.rst
  doc/nrf/device_guides/nrf53/building_nrf53.rst
  doc/nrf/device_guides/nrf53/features_nrf53.rst
  doc/nrf/device_guides/nrf53/fota_update_nrf5340.rst
  doc/nrf/device_guides/nrf53/images/ieee802154_nrf53_multiprot_design.svg
  doc/nrf/device_guides/nrf53/images/ieee802154_nrf53_singleprot_design.svg
  doc/nrf/device_guides/nrf53/images/nrf5340_static_partition_manager_slots.svg
  doc/nrf/device_guides/nrf53/images/thingy53_antenna_connections.svg
  doc/nrf/device_guides/nrf53/index.rst
  doc/nrf/device_guides/nrf53/logging_nrf5340.rst
  doc/nrf/device_guides/nrf53/multi_image_nrf5340.rst
  doc/nrf/device_guides/nrf53/qspi_xip_guide_nrf5340.rst
  doc/nrf/device_guides/nrf53/serial_recovery.rst
  doc/nrf/device_guides/nrf53/simultaneous_multi_image_dfu_nrf5340.rst
  doc/nrf/device_guides/nrf53/thingy53_application_guide.rst
  doc/nrf/device_guides/working_with_nrf/nrf53/features_nrf53.rst
  doc/nrf/device_guides/working_with_nrf/nrf53/nrf5340.rst
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable, doc only

#15826 applications: samples: add handling for LWM2M_CARRIER_ERROR_CONNECT
  applications/asset_tracker_v2/src/modules/modem_module.c
  samples/cellular/http_update/application_update/src/main.c
  samples/cellular/lwm2m_carrier/src/main.c
  samples/cellular/modem_shell/src/shell.c
Labels: bugfix

#15822 manifest: sdk-sidewalk: Update revision
  west.yml
Labels: manifest, changelog-entry-required, bugfix, manifest-sidewalk

#15818 doc: update SUIT sample documentation
  samples/suit/smp_transfer/README.rst
Labels: doc-required

#15813 applications: nrf5340_audio: Fix CIS bidir mic return issue
  applications/nrf5340_audio/src/audio/audio_datapath.c
Labels: changelog-entry-required, bugfix

#15752 manifest: Update suit-generator revision
  west.yml
Labels: manifest, changelog-entry-required, bugfix, manifest-suit-generator

#15731 tests: suit: Use sysbuild
  tests/subsys/suit/cache_pool_digest/testcase.yaml
  tests/subsys/suit/cache_sink/testcase.yaml
  tests/subsys/suit/flash_sink/testcase.yaml
Labels: changelog-entry-required, bugfix

#15710 manifest: update zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required, bugfix

#15742 doc/nrf/bootloaders: clarify MCUboot as second-stage boot setup
  doc/nrf/config_and_build/bootloaders/index.rst
Labels: doc-required, changelog-entry-required, doc only

#15803 applications: nrf5340_audio: Correct PBA data in adv
  applications/nrf5340_audio/src/bluetooth/bt_management/advertising/bt_mgmt_adv.c
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.c
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_source.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_source.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_server.c
Labels: changelog-entry-required, bugfix

#15831 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#15825 net: lwm2m_client_utils: Fix Push FOTA
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
Labels: bugfix

#15827 samples: bluetooth: peripheral_cgms: Update sysworkq stack size
  samples/bluetooth/peripheral_cgms/prj.conf
Labels: bugfix, 10-min-review

#15799 doc: nrf: update nrf91 snippets documentation after sysbuild
  doc/nrf/config_and_build/config_and_build_system.rst
  doc/nrf/config_and_build/configuring_app/cmake/index.rst
  doc/nrf/device_guides/nrf70/fw_patches_ext_flash.rst
  doc/nrf/device_guides/nrf91/nrf91_snippet.rst
  doc/nrf/protocols/wifi/debugging.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/modem_shell/README.rst
  samples/net/http_server/README.rst
Labels: doc-required

#15781 lib: lte_link_control: Fix null pointer access
  lib/lte_link_control/lte_lc_helpers.c
  tests/lib/lte_lc/src/main.c
Labels: bugfix

#15810 manifest: sdk-hostap: Pull fix for crypto memleak
  west.yml
Labels: manifest, changelog-entry-required, bugfix, manifest-hostap

#15832 manifest: Update zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, bugfix

#15844 applications: machine_learning: Update memory layout
  applications/machine_learning/configuration/nrf54h20dk_nrf54h20_cpuapp/app.overlay
Labels: changelog-entry-required, bugfix, 10-min-review

#15841 samples: central_and_peripheral_hr: Fix advertising
  samples/bluetooth/central_and_peripheral_hr/prj.conf
  samples/bluetooth/central_and_peripheral_hr/sysbuild/ipc_radio.conf
Labels: bugfix, 10-min-review

#15840 applications: serial_lte_modem: fix the format of Carrier app data
  applications/serial_lte_modem/src/lwm2m_carrier/slm_at_carrier.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#15833 applications: serial_lte_modem: Fix AT#XCMNG=1
  applications/serial_lte_modem/src/nativetls/slm_native_tls.c
Labels: bugfix

#15784 Samples: Bluetooth: Mesh: fix common mesh adv data
  samples/bluetooth/mesh/common/smp_bt.c
Labels: changelog-entry-required, bugfix

#15782 Bluetooth: enocean: Add unit test
  CODEOWNERS
  subsys/bluetooth/enocean.c
  tests/subsys/bluetooth/enocean/CMakeLists.txt
  tests/subsys/bluetooth/enocean/prj.conf
  tests/subsys/bluetooth/enocean/src/main.c
  tests/subsys/bluetooth/enocean/testcase.yaml
Labels: bugfix

#15661 doc: working_with_nrf: restructuring of FEM
  doc/_utils/redirects.py
  doc/nrf/device_guides.rst
  doc/nrf/device_guides/fem/21540ek_dev_guide.rst
  doc/nrf/device_guides/fem/fem_incomplete_connections.rst
  doc/nrf/device_guides/fem/fem_mpsl_fem_only.rst
  doc/nrf/device_guides/fem/fem_nRF21540_optional_properties.rst
  doc/nrf/device_guides/fem/fem_nrf21540_gpio.rst
  doc/nrf/device_guides/fem/fem_nrf21540_gpio_spi.rst
  doc/nrf/device_guides/fem/fem_power_models.rst
  doc/nrf/device_guides/fem/fem_simple_gpio.rst
  doc/nrf/device_guides/fem/fem_software_support.rst
  doc/nrf/device_guides/fem/images/coex_generic_3pin_pta.svg
  doc/nrf/device_guides/fem/images/nrf21540_builtin_model_10db_freq_input_gain.png
  doc/nrf/device_guides/fem/images/nrf21540_builtin_model_10db_freq_temp_gain.png
  doc/nrf/device_guides/fem/images/nrf21540_builtin_model_10db_freq_volt_gain.png
  doc/nrf/device_guides/fem/images/nrf21540_builtin_model_20db_freq_input_gain.png
  doc/nrf/device_guides/fem/images/nrf21540_builtin_model_20db_freq_temp_gain.png
  doc/nrf/device_guides/fem/images/nrf21540_builtin_model_20db_freq_volt_gain.png
  doc/nrf/device_guides/fem/images/nrf21540ek.png
  doc/nrf/device_guides/fem/index.rst
  doc/nrf/device_guides/working_with_fem.rst
  doc/nrf/glossary.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable, doc only

#15756 doc: New button and LED numbering adjustments
  samples/benchmarks/coremark/README.rst
  samples/bluetooth/central_and_peripheral_hr/README.rst
  samples/bluetooth/central_bas/README.rst
  samples/bluetooth/central_hids/README.rst
  samples/bluetooth/fast_pair/input_device/README.rst
  samples/bluetooth/fast_pair/locator_tag/README.rst
  samples/bluetooth/iso_time_sync/README.rst
  samples/bluetooth/mesh/light_ctrl/README.rst
  samples/bluetooth/mesh/light_dimmer/README.rst
  samples/bluetooth/mesh/light_switch/README.rst
  samples/bluetooth/mesh/sensor_client/README.rst
  samples/bluetooth/mesh/sensor_server/README.rst
  samples/bluetooth/mesh/silvair_enocean/README.rst
  samples/bluetooth/multiple_adv_sets/README.rst
  samples/bluetooth/peripheral_ams_client/README.rst
  samples/bluetooth/peripheral_ancs_client/README.rst
  samples/bluetooth/peripheral_bms/README.rst
  samples/bluetooth/peripheral_cts_client/README.rst
  samples/bluetooth/peripheral_gatt_dm/README.rst
  samples/bluetooth/peripheral_hids_keyboard/README.rst
  samples/bluetooth/peripheral_hids_mouse/README.rst
  samples/bluetooth/peripheral_hr_coded/README.rst
  samples/bluetooth/peripheral_lbs/README.rst
  samples/bluetooth/peripheral_nfc_pairing/README.rst
  samples/bluetooth/peripheral_rscs/README.rst
  samples/bluetooth/peripheral_status/README.rst
  samples/bluetooth/peripheral_uart/README.rst
  samples/bluetooth/throughput/README.rst
  samples/esb/esb_prx/README.rst
  samples/esb/esb_ptx/README.rst
  samples/nfc/record_launch_app/README.rst
  samples/nfc/record_text/README.rst
  samples/nfc/shell/README.rst
  samples/nfc/system_off/README.rst
  samples/nfc/tnep_tag/README.rst
  samples/nfc/writable_ndef_msg/README.rst
  samples/peripheral/802154_phy_test/README.rst
  samples/suit/smp_transfer/README.rst
Labels: doc-required, changelog-entry-required

#15849 drivers: wifi: SAP is now production quality
  drivers/wifi/nrf700x/Kconfig
Labels: changelog-entry-required

#15834 manifest: sdk-nrfxlib: Update FW binaries and Ceiling parameters for CSP
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, bugfix

#15855 applications: nrf5340_audio: Speed up discovery process
  applications/nrf5340_audio/src/bluetooth/bt_management/scanning/Kconfig
  applications/nrf5340_audio/unicast_client/main.c
Labels: changelog-entry-required, bugfix

#15858 applications: nrf_desktop: Add missing dependency to USB remote wakeup
  applications/nrf_desktop/src/modules/Kconfig.usb_state
Labels: bugfix, 10-min-review

#15865 samples: suit: smp_transfer: do not generate MPI for hci_ipc image
  samples/suit/smp_transfer/sysbuild/hci_ipc.conf
Labels: changelog-entry-required, bugfix

#15767 docs: samples: mss: Update docs to match sysbuild overlays
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_multi_service/README.rst
Labels: doc-required

#15856 samples: wifi: ble_coex: Fix crash in coex enable case
  samples/wifi/ble_coex/prj.conf
  samples/wifi/ble_coex/sysbuild/ipc_radio/prj.conf
Labels: changelog-entry-required, bugfix

#15872 net: lib: nrf_cloud_coap: Simplify headers
  include/net/nrf_cloud_coap.h
  subsys/net/lib/nrf_cloud/coap/include/nrf_cloud_coap_transport.h
Labels: changelog-entry-required

#15878 applications: fix connectivity_bridge sysbuild configuration
  applications/connectivity_bridge/Kconfig.sysbuild
Labels: changelog-entry-required, bugfix, 10-min-review

#15823 manifest: sdk-zephyr: update sdk-zephyr revision for mesh fixes
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required, bugfix

#12092 samples: bluetooth: Fixing print on connection
  samples/bluetooth/llpm/README.rst
  samples/bluetooth/llpm/src/main.c
Labels: doc-required, bugfix

#15853 samples: suit: use binary filename when fetching
  samples/suit/smp_transfer/templates/extflash/app_envelope.yaml.jinja2
  samples/suit/smp_transfer/templates/extflash/rad_envelope.yaml.jinja2
  west.yml
Labels: manifest, bugfix, manifest-suit-generator

#15788 doc: Matter: new button and LED numbering
  applications/matter_bridge/doc/matter_bridge_description.rst
  doc/nrf/includes/matter_sample_button.txt
  doc/nrf/includes/matter_sample_state_led.txt
  doc/nrf/includes/matter_segger_usb.txt
  doc/nrf/protocols/matter/getting_started/adding_clusters.rst
  samples/matter/light_bulb/README.rst
  samples/matter/light_switch/README.rst
  samples/matter/lock/README.rst
  samples/matter/template/README.rst
  samples/matter/thermostat/README.rst
  samples/matter/window_covering/README.rst
Labels: doc-required, CI-disable, doc only

#15807 doc/nrf/../nrf5340_qspi_xip: note on childimage reqirement
  doc/nrf/device_guides/nrf53/qspi_xip_guide_nrf5340.rst
  samples/nrf5340/extxip_smp_svr/README.rst
Labels: doc-required, changelog-entry-required, doc only

#15817 applications: Fixed writing the bridged device node label
  applications/matter_bridge/src/ble_providers/ble_environmental_data_provider.cpp
  applications/matter_bridge/src/ble_providers/ble_lbs_data_provider.cpp
  applications/matter_bridge/src/bridged_device_types/generic_switch.h
  applications/matter_bridge/src/bridged_device_types/humidity_sensor.h
  applications/matter_bridge/src/bridged_device_types/onoff_light.cpp
  applications/matter_bridge/src/bridged_device_types/onoff_light.h
  applications/matter_bridge/src/bridged_device_types/onoff_light_switch.h
  applications/matter_bridge/src/bridged_device_types/temperature_sensor.h
  applications/matter_bridge/src/simulated_providers/simulated_generic_switch_data_provider.cpp
  applications/matter_bridge/src/simulated_providers/simulated_humidity_sensor_data_provider.cpp
  applications/matter_bridge/src/simulated_providers/simulated_onoff_light_data_provider.cpp
  applications/matter_bridge/src/simulated_providers/simulated_onoff_light_switch_data_provider.cpp
  applications/matter_bridge/src/simulated_providers/simulated_temperature_sensor_data_provider.cpp
  samples/matter/common/src/bridge/bridge_manager.cpp
  samples/matter/common/src/bridge/matter_bridged_device.cpp
  samples/matter/common/src/bridge/matter_bridged_device.h
Labels: changelog-entry-required, bugfix

#15868 modules: hostap: Fix SHA1 selection
  modules/hostap/Kconfig
Labels: changelog-entry-required, bugfix

#15861 shields: nrf54h20dk_nrf700x: Fix DFU partition offsets
  boards/shields/nrf700x_nrf54h20dk/nrf700x_nrf54h20dk.overlay
Labels: changelog-entry-required, bugfix

#15686 samples: matter: Align changes in all samples to sysbuild
  CODEOWNERS
  applications/matter_bridge/CMakeLists.txt
  applications/matter_bridge/Kconfig.sysbuild
  applications/matter_bridge/doc/matter_bridge_description.rst
  applications/matter_bridge/pm_static_nrf5340dk_nrf5340_cpuapp_release.yml
  applications/matter_bridge/pm_static_nrf7002dk_nrf5340_cpuapp_release.yml
  applications/matter_bridge/sysbuild/ipc_radio/overlay-bt_max_connections_net.conf
  applications/matter_weather_station/CMakeLists.txt
  applications/matter_weather_station/Kconfig
  applications/matter_weather_station/Kconfig.sysbuild
  applications/matter_weather_station/README.rst
  applications/matter_weather_station/sample.yaml
  doc/nrf/protocols/matter/end_product/bootloader.rst
  doc/nrf/protocols/matter/end_product/test_event_triggers.rst
  doc/nrf/protocols/matter/getting_started/advanced_kconfigs.rst
  doc/nrf/protocols/matter/overview/dfu.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.7.rst
  samples/matter/light_bulb/CMakeLists.txt
  samples/matter/light_bulb/Kconfig.sysbuild
  samples/matter/light_bulb/pm_static_nrf52840dk_nrf52840_release.yml
  samples/matter/light_bulb/pm_static_nrf5340dk_nrf5340_cpuapp_release.yml
  samples/matter/light_bulb/pm_static_nrf7002dk_nrf5340_cpuapp_release.yml
  samples/matter/light_switch/CMakeLists.txt
  samples/matter/light_switch/Kconfig.sysbuild
  samples/matter/light_switch/pm_static_nrf52840dk_nrf52840_release.yml
  samples/matter/light_switch/pm_static_nrf5340dk_nrf5340_cpuapp_release.yml
  samples/matter/light_switch/pm_static_nrf7002dk_nrf5340_cpuapp_release.yml
  samples/matter/lock/CMakeLists.txt
  samples/matter/lock/Kconfig.sysbuild
  samples/matter/lock/README.rst
  samples/matter/lock/pm_static_nrf52840dk_nrf52840_release.yml
  samples/matter/lock/pm_static_nrf5340dk_nrf5340_cpuapp_release.yml
  samples/matter/lock/pm_static_nrf7002dk_nrf5340_cpuapp_nrf7001_release.yml
  samples/matter/lock/pm_static_nrf7002dk_nrf5340_cpuapp_release.yml
  samples/matter/template/CMakeLists.txt
  samples/matter/template/Kconfig.sysbuild
  samples/matter/template/pm_static_nrf52840dk_nrf52840_release.yml
  samples/matter/template/pm_static_nrf5340dk_nrf5340_cpuapp_release.yml
  samples/matter/template/pm_static_nrf7002dk_nrf5340_cpuapp_release.yml
  samples/matter/thermostat/CMakeLists.txt
  samples/matter/thermostat/Kconfig.sysbuild
  samples/matter/thermostat/pm_static_nrf52840dk_nrf52840_release.yml
  samples/matter/thermostat/pm_static_nrf5340dk_nrf5340_cpuapp_release.yml
  samples/matter/thermostat/pm_static_nrf7002dk_nrf5340_cpuapp_release.yml
  samples/matter/window_covering/CMakeLists.txt
  samples/matter/window_covering/Kconfig.sysbuild
  samples/matter/window_covering/pm_static_nrf52840dk_nrf52840_release.yml
  samples/matter/window_covering/pm_static_nrf5340dk_nrf5340_cpuapp_release.yml
  snippets/matter-diagnostic-logs/boards/nrf52840dk_nrf52840.overlay
  snippets/matter-diagnostic-logs/boards/nrf5340dk_nrf5340_cpuapp.overlay
  snippets/matter-diagnostic-logs/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  snippets/matter-diagnostic-logs/boards/nrf7002dk_nrf5340_cpuapp.overlay
  snippets/matter-diagnostic-logs/diagnostic_logs.conf
  snippets/matter-diagnostic-logs/snippet.yml
  sysbuild/Kconfig.matter
  west.yml
Labels: doc-required, manifest, manifest-matter, bugfix

#15877 samples: cellular: gnss: Update GNSS factory almanacs
  samples/cellular/gnss/src/factory_almanac_v2.h
  samples/cellular/gnss/src/factory_almanac_v3.h
Labels: changelog-entry-required

#15880 drivers: wifi: nrf700x: Updates to Kconfig file
  drivers/wifi/nrf700x/Kconfig
Labels: changelog-entry-required, bugfix

#15838 suit: generate manifests directly from source
  cmake/sysbuild/suit.cmake
  samples/matter/lock/Kconfig.sysbuild
  samples/matter/lock/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/matter/lock/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/matter/template/Kconfig.sysbuild
  samples/matter/template/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/matter/template/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/suit/smp_transfer/sysbuild/smp_transfer_extflash.conf
  samples/suit/smp_transfer/sysbuild_extflash.conf
  sysbuild/Kconfig.suit
Labels: bugfix

#15881 manifest: add soc-hwmv1 module
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required, manifest-soc-hwmv1

#15815 doc improvement: moved testing section from nrf52
  doc/nrf/device_guides/nrf52/index.rst
  doc/nrf/device_guides/nrf52/testing.rst
  samples/bluetooth/peripheral_uart/README.rst
Labels: doc-required, CI-disable, doc only

#15854 doc-improvement: applications: nrf_desktop: Document USB next support
  applications/nrf_desktop/doc/usb_state.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#15899 samples: app_event_manager: Add support for nRF54h20
  samples/app_event_manager/sample.yaml
Labels: 10-min-review

#15900 sysbuild: Fix nRF70 firmware patch multi-image package
  subsys/bootloader/cmake/packaging.cmake
Labels: bugfix

#15882 doc: small software maturity update
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required

#15893 manifest: sdk-nrfxlib: nrf_wifi: Update RPU patch to rev#47df855c1b0
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, bugfix
