Repository nrfconnect/sdk-nrf, pull requests merged in 2024-08, with the labels that each got.

#16669 manifest: sdk-wi-fiquicktrack-controlappc: Pull fix for malloc check
  west.yml
Labels: manifest, changelog-entry-required, manifest-wfa-qt-control-app

#16668 docker: Bump ncs-build revision
  scripts/ncs-docker-version.txt
Labels: changelog-entry-required

#16696 manifest: openthread: update to \`a759a4a\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#16681 samples: nrf_rpc: ps_client: update snippet
  samples/nrf_rpc/ps_client/snippets/log_rpc/log_rpc.conf
Labels: changelog-entry-required

#16659 partition_manager: TrustZone HW model 1 workaround
  subsys/partition_manager/Kconfig
Labels: changelog-entry-required

#16650 Bluetooth: Mesh: Samples: remove CONFIG_BT_CTLR_DUP_FILTER_LEN=0
  samples/bluetooth/mesh/light/sysbuild/ipc_radio/prj.conf
  samples/bluetooth/mesh/light_ctrl/sysbuild/ipc_radio/prj.conf
  samples/bluetooth/mesh/light_dimmer/sysbuild/ipc_radio/prj.conf
  samples/bluetooth/mesh/light_switch/sysbuild/ipc_radio/prj.conf
  samples/bluetooth/mesh/sensor_server/sysbuild/ipc_radio/prj.conf
  samples/bluetooth/mesh/silvair_enocean/sysbuild/ipc_radio/prj.conf
Labels: changelog-entry-required

#16557 bluetooth: fast_pair: fmdn: improve fmdn adv set lifetime management
  include/bluetooth/services/fast_pair/fmdn.h
  subsys/bluetooth/services/fast_pair/fmdn/state.c
Labels: changelog-entry-required

#16281 Codeowners: Migrate to ncs-audio
  CODEOWNERS
Labels: changelog-entry-required

#15951 Applications: nrf5340_audio: Sysbuild update for test
  tests/bluetooth/iso/Kconfig
  tests/bluetooth/iso/Kconfig.sysbuild
  tests/bluetooth/iso/README.txt
  tests/bluetooth/iso/modules/central.c
  tests/bluetooth/iso/modules/iso_broadcast_sink.c
  tests/bluetooth/iso/modules/iso_broadcast_src.c
  tests/bluetooth/iso/modules/peripheral.c
  tests/bluetooth/iso/prj.conf
  tests/bluetooth/iso/sysbuild/ipc_radio/prj.conf
Labels: changelog-entry-required

#16701 doc: samples: zigbee: extend light switch sample tx power info
  samples/zigbee/light_switch/README.rst
Labels: doc-required, CI-disable, doc only

#16698 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#16687 manifest: sdk-zephyr: [nrf fromlist] testsuite: coverage: allow disabled multithreading
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#16667 doc: building: add table for build params
  doc/nrf/config_and_build/configuring_app/building.rst
  samples/bluetooth/peripheral_hids_mouse/README.rst
Labels: doc-required, CI-disable, doc only

#16426 doc: Bootloader and DFU rework
  doc/nrf/config_and_build.rst
  doc/nrf/config_and_build/bootloaders/bootloader_testing.rst
  doc/nrf/config_and_build/bootloaders/index.rst
  doc/nrf/config_and_build/bootloaders_dfu/images/bootloader_memory_layout.svg
  doc/nrf/config_and_build/bootloaders_dfu/images/bootloader_memory_layout_onestage.png
  doc/nrf/config_and_build/bootloaders_dfu/images/bootloader_memory_layout_onestage.svg
  doc/nrf/config_and_build/bootloaders_dfu/images/bootloader_suit_mcuboot_comparison.png
  doc/nrf/config_and_build/bootloaders_dfu/index.rst
  doc/nrf/config_and_build/bootloaders_dfu/mcuboot_nsib/bootloader.rst
  doc/nrf/config_and_build/bootloaders_dfu/mcuboot_nsib/bootloader_adding.rst
  doc/nrf/config_and_build/bootloaders_dfu/mcuboot_nsib/bootloader_adding_sysbuild.rst
  doc/nrf/config_and_build/bootloaders_dfu/mcuboot_nsib/bootloader_config.rst
  doc/nrf/config_and_build/bootloaders_dfu/mcuboot_nsib/bootloader_dfu_image_versions.rst
  doc/nrf/config_and_build/bootloaders_dfu/mcuboot_nsib/bootloader_downgrade_protection.rst
  doc/nrf/config_and_build/bootloaders_dfu/mcuboot_nsib/bootloader_mcuboot_nsib.rst
  doc/nrf/config_and_build/bootloaders_dfu/mcuboot_nsib/bootloader_partitioning.rst
  doc/nrf/config_and_build/bootloaders_dfu/mcuboot_nsib/bootloader_quick_start.rst
  doc/nrf/config_and_build/bootloaders_dfu/mcuboot_nsib/bootloader_signature_keys.rst
  doc/nrf/config_and_build/dfu/index.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_dfu.rst
  doc/nrf/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_suit_intro.rst
  doc/nrf/installation/recommended_versions.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bootloader/README.rst
Labels: doc-required

#16546 samples: npm1300_one_button: Fix irq allocation for nRF52840 DK.
  samples/pmic/native/npm1300_one_button/README.rst
  samples/pmic/native/npm1300_one_button/nrf52840dk_nrf52840.overlay
Labels: doc-required, changelog-entry-required

#16686 fast_pair: Drop MbedTLS cryptographic backend support
  doc/nrf/libraries/bluetooth_services/services/fast_pair.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  scripts/quarantine_integration.yaml
  subsys/bluetooth/services/fast_pair/fp_crypto/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/fp_crypto/Kconfig.fp_crypto
  subsys/bluetooth/services/fast_pair/fp_crypto/fp_crypto_mbedtls.c
  tests/subsys/bluetooth/fast_pair/crypto/prj_mbedtls.conf
  tests/subsys/bluetooth/fast_pair/crypto/testcase.yaml
Labels: doc-required

#16699 manifest: sdk-zephyr: Bluetooth: Small set of cherry-picks
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#16685 samples: matter: Fixed NVS sectors count in samples configurations
  applications/matter_weather_station/prj.conf
  applications/matter_weather_station/prj_release.conf
  doc/nrf/protocols/matter/end_product/bootloader.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  samples/matter/light_bulb/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/matter/light_switch/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/matter/lock/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/matter/template/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/matter/thermostat/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/matter/window_covering/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  west.yml
Labels: doc-required, manifest, manifest-matter, changelog-entry-required

#16710 samples: matter: Added snippet for schedules to Matter Lock sample
  doc/nrf/includes/matter_snippets_note.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/light_switch/README.rst
  samples/matter/lock/README.rst
  samples/matter/lock/snippets/schedules/lock.zap
  samples/matter/lock/snippets/schedules/schedules.conf
  samples/matter/lock/snippets/schedules/snippet.yml
  samples/matter/lock/snippets/schedules/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/lock/snippets/schedules/zap-generated/PluginApplicationCallbacks.h
  samples/matter/lock/snippets/schedules/zap-generated/access.h
  samples/matter/lock/snippets/schedules/zap-generated/callback-stub.cpp
  samples/matter/lock/snippets/schedules/zap-generated/endpoint_config.h
  samples/matter/lock/snippets/schedules/zap-generated/gen_config.h
Labels: doc-required

#16724 applications: nrf_desktop: Fix USB next release config in sample.yaml
  applications/nrf_desktop/sample.yaml
Labels: 10-min-review

#16726 doc: update Serial LTE modem testing description
  applications/serial_lte_modem/doc/slm_testing.rst
Labels: doc-required, CI-disable, doc only

#16725 scripts: hid_configurator: Add nRF54H20 DK to NrfHidManager's list
  scripts/hid_configurator/NrfHidManager.py
Labels: 10-min-review

#16723 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#16720 manifest: sdk-zephyr: [nrf fromtree] Bluetooth: DIS: integrate app version into FW revision…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#16492 applications: nrf_desktop: Add DVFS module
  applications/nrf_desktop/src/modules/CMakeLists.txt
  applications/nrf_desktop/src/modules/Kconfig
  applications/nrf_desktop/src/modules/Kconfig.dvfs
  applications/nrf_desktop/src/modules/ble_latency.c
  applications/nrf_desktop/src/modules/dvfs.c
Labels: changelog-entry-required

#16700 doc: redirects: review and update redirects
  doc/_utils/redirects.py
Labels: doc-required, CI-disable, doc only

#16719 doc: kconfig: fix west config ref description
  doc/nrf/config_and_build/configuring_app/kconfig/index.rst
Labels: doc-required, CI-disable, doc only

#16732 manifest: sdk-zephyr: Bsim: Update to latest revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#16355 applications: nrf5340_audio: Module to read LC3 files from SD card
  applications/nrf5340_audio/src/modules/CMakeLists.txt
  applications/nrf5340_audio/src/modules/Kconfig
  applications/nrf5340_audio/src/modules/lc3_file.c
  applications/nrf5340_audio/src/modules/lc3_file.h
  tests/nrf5340_audio/fakes/sd_card/lc3_file_data.c
  tests/nrf5340_audio/fakes/sd_card/lc3_file_data.h
  tests/nrf5340_audio/fakes/sd_card/sd_card_fake.c
  tests/nrf5340_audio/fakes/sd_card/sd_card_fake.h
  tests/nrf5340_audio/lc3_file/CMakeLists.txt
  tests/nrf5340_audio/lc3_file/prj.conf
  tests/nrf5340_audio/lc3_file/src/main.c
  tests/nrf5340_audio/lc3_file/testcase.yaml
Labels: changelog-entry-required

#16740 manifest: sdk-zephyr: bluetooth: Cherry-pick LE Connection Subrating
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#16737 manifest: update doc-internal revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-doc-internal

#16539 lib: modem: lte_net_if: Fix handling of missing IPv4
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/lte_net_if/lte_net_if.c
Labels: doc-required

#16707 manifest: sdk-nrfxlib: mpsl: Choose nonsecure libraries if building for nonsecure variant
  west.yml
Labels: manifest, manifest-nrfxlib

#16266 doc: libraries: modem: correct source file paths for various libraries
  doc/nrf/libraries/modem/at_cmd_custom.rst
  doc/nrf/libraries/modem/at_cmd_parser.rst
  doc/nrf/libraries/modem/at_params.rst
  doc/nrf/libraries/modem/gcf_sms_lib.rst
  doc/nrf/libraries/modem/location.rst
  doc/nrf/libraries/modem/modem_attest_token.rst
  doc/nrf/libraries/modem/modem_jwt.rst
  doc/nrf/libraries/modem/modem_slm.rst
Labels: doc-required, changelog-entry-required

#16646 drivers: wifi: Add tx packets drop count calculation
  drivers/wifi/nrf700x/src/net_if.c
Labels: changelog-entry-required

#16739 manifest: sdk-zephyr: wdt without irq
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#16714 wifi: Fix QSPI clock divider usage
  drivers/wifi/nrf700x/src/qspi/src/qspi_if.c
Labels: changelog-entry-required

#16749 samples: nrf_rpc: Move Protocol serialization app.
  .github/test-spec.yml
  CODEOWNERS
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/nrf_rpc/protocols_serialization/client/CMakeLists.txt
  samples/nrf_rpc/protocols_serialization/client/Kconfig
  samples/nrf_rpc/protocols_serialization/client/boards/nrf52840dk_nrf52840.overlay
  samples/nrf_rpc/protocols_serialization/client/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  samples/nrf_rpc/protocols_serialization/client/prj.conf
  samples/nrf_rpc/protocols_serialization/client/sample.yaml
  samples/nrf_rpc/protocols_serialization/client/snippets/ble/ble.conf
  samples/nrf_rpc/protocols_serialization/client/snippets/ble/snippet.yml
  samples/nrf_rpc/protocols_serialization/client/snippets/coex/coex.conf
  samples/nrf_rpc/protocols_serialization/client/snippets/coex/coex.overlay
  samples/nrf_rpc/protocols_serialization/client/snippets/coex/snippet.yml
  samples/nrf_rpc/protocols_serialization/client/snippets/debug/debug.conf
  samples/nrf_rpc/protocols_serialization/client/snippets/debug/snippet.yml
  samples/nrf_rpc/protocols_serialization/client/snippets/log_rpc/log_rpc.conf
  samples/nrf_rpc/protocols_serialization/client/snippets/log_rpc/snippet.yml
  samples/nrf_rpc/protocols_serialization/client/snippets/openthread/openthread.conf
  samples/nrf_rpc/protocols_serialization/client/snippets/openthread/snippet.yml
  samples/nrf_rpc/protocols_serialization/client/src/coex_shell.c
  samples/nrf_rpc/protocols_serialization/client/src/log_rpc_shell.c
  samples/nrf_rpc/protocols_serialization/client/src/main.c
  samples/nrf_rpc/protocols_serialization/client/src/ot_shell.c
  samples/nrf_rpc/protocols_serialization/client/sysbuild.conf
  samples/nrf_rpc/protocols_serialization/server/CMakeLists.txt
  samples/nrf_rpc/protocols_serialization/server/Kconfig
  samples/nrf_rpc/protocols_serialization/server/boards/nrf52840dk_nrf52840.overlay
  samples/nrf_rpc/protocols_serialization/server/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/nrf_rpc/protocols_serialization/server/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  samples/nrf_rpc/protocols_serialization/server/prj.conf
  samples/nrf_rpc/protocols_serialization/server/sample.yaml
  samples/nrf_rpc/protocols_serialization/server/snippets/ble/ble.conf
  samples/nrf_rpc/protocols_serialization/server/snippets/ble/snippet.yml
  samples/nrf_rpc/protocols_serialization/server/snippets/coex/coex.conf
  samples/nrf_rpc/protocols_serialization/server/snippets/coex/coex.overlay
  samples/nrf_rpc/protocols_serialization/server/snippets/coex/snippet.yml
  samples/nrf_rpc/protocols_serialization/server/snippets/debug/debug.conf
  samples/nrf_rpc/protocols_serialization/server/snippets/debug/snippet.yml
  samples/nrf_rpc/protocols_serialization/server/snippets/log_rpc/boards/nrf52840dk_nrf52840.overlay
  samples/nrf_rpc/protocols_serialization/server/snippets/log_rpc/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  samples/nrf_rpc/protocols_serialization/server/snippets/log_rpc/log_rpc.conf
  samples/nrf_rpc/protocols_serialization/server/snippets/log_rpc/snippet.yml
  samples/nrf_rpc/protocols_serialization/server/snippets/openthread/openthread.conf
  samples/nrf_rpc/protocols_serialization/server/snippets/openthread/snippet.yml
  samples/nrf_rpc/protocols_serialization/server/src/main.c
  samples/nrf_rpc/protocols_serialization/server/sysbuild.conf
Labels: doc-required

#16745 doc: Add changelog entry for BT APIs converting err to string
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#16741 doc: cmake: change ref link to build system
  applications/serial_lte_modem/doc/slm_description.rst
  doc/nrf/protocols/wifi/stack_configuration.rst
  doc/nrf/releases_and_maturity/migration/migration_sysbuild.rst
  samples/bluetooth/direction_finding_central/README.rst
  samples/bluetooth/direction_finding_connectionless_tx/README.rst
  samples/bluetooth/mesh/light/README.rst
  samples/bluetooth/mesh/light_ctrl/README.rst
  samples/bluetooth/mesh/light_switch/README.rst
  samples/bluetooth/peripheral_uart/README.rst
  samples/cellular/lwm2m_carrier/sample_description.rst
  samples/zigbee/light_switch/README.rst
  samples/zigbee/ncp/README.rst
  scripts/partition_manager/partition_manager.rst
Labels: doc-required, CI-disable, changelog-entry-required, doc only

#16754 bluetooth: controller: free DPPI channel 13
  subsys/bluetooth/controller/bt_ctlr_used_resources.h
Labels: changelog-entry-required

#16757 Bluetooth: Samples: Temporary fix for iso_time_sync sample
  samples/bluetooth/iso_time_sync/prj.conf
Labels: changelog-entry-required

#16763 test-spec: update CI-boot-test
  .github/test-spec.yml
Labels: changelog-entry-required

#16761 manifest: sdk-zephyr: [nrf-noup] test-spec: update CI-boot-test
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#16582 snippets: Add snippets for nrf70 debug
  CODEOWNERS
  doc/nrf/protocols/wifi/debugging.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.8.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/wifi/shell/sample.yaml
  snippets/nrf70-debug/snippet.yml
  snippets/nrf70-driver-debug/overlay-nrf70-driver-debug.conf
  snippets/nrf70-driver-debug/snippet.yml
  snippets/nrf70-driver-verbose-debug/overlay-nrf70-driver-verbose-debug.conf
  snippets/nrf70-driver-verbose-debug/snippet.yml
  snippets/wpa-supplicant-debug/overlay-wpa-supplicant-debug.conf
  snippets/wpa-supplicant-debug/snippet.yml
Labels: doc-required

#16774 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#16716 mpsl: cx: Add a generic coex variant using a single GPIO
  doc/nrf/app_dev/device_guides/wifi_coex.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  dts/bindings/radio_coex/generic-radio-coex-one-wire.yaml
  dts/bindings/radio_coex/sdc-radio-coex-one-wire.yaml
  subsys/mpsl/cx/1wire/mpsl_cx_1wire.c
  subsys/mpsl/cx/CMakeLists.txt
  subsys/mpsl/cx/Kconfig
Labels: doc-required

#16353 samples: nrf_rpc: entropy_nrf53: Convert build to sysbuild
  samples/nrf_rpc/entropy_nrf53/CMakeLists.txt
  samples/nrf_rpc/entropy_nrf53/README.rst
  samples/nrf_rpc/entropy_nrf53/cpunet/sample.yaml
  samples/nrf_rpc/entropy_nrf53/prj.conf
  samples/nrf_rpc/entropy_nrf53/remote/CMakeLists.txt
  samples/nrf_rpc/entropy_nrf53/remote/prj.conf
  samples/nrf_rpc/entropy_nrf53/remote/src/entropy_ser.c
  samples/nrf_rpc/entropy_nrf53/remote/src/main.c
  samples/nrf_rpc/entropy_nrf53/sample.yaml
  samples/nrf_rpc/entropy_nrf53/src/entropy_ser.c
  samples/nrf_rpc/entropy_nrf53/src/entropy_ser.h
  samples/nrf_rpc/entropy_nrf53/src/main.c
  samples/nrf_rpc/entropy_nrf53/sysbuild.cmake
Labels: doc-required, changelog-entry-required

#16759 cracen: Cache maintenance fix for PRNG
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/ctr_drbg.c
  subsys/nrf_security/src/drivers/cracen/sxsymcrypt/src/blkcipher.c
Labels: changelog-entry-required

#16805 lib: wifi_credentials: Add passphrase length check
  subsys/net/lib/wifi_credentials/wifi_credentials_shell.c
Labels: changelog-entry-required

#16769 west: Update sdk-zephyr to fix CI tests of nRF Desktop
  west.yml
Labels: manifest, manifest-zephyr

#16461 doc: Added documentation page on Bluetooth solutions
  doc/nrf/links.txt
  doc/nrf/protocols/bt/bt_solutions.rst
  doc/nrf/protocols/bt/bt_stack_arch.rst
  doc/nrf/protocols/bt/images/bluetooth_arch.svg
  doc/nrf/protocols/bt/index.rst
Labels: doc-required, changelog-entry-required

#16409 editorconfig: Add editorconfig file
  .editorconfig
Labels: CI-disable, changelog-entry-required

#16798 manifest: sdk-nrfxlib: openthread: add soft float fallback for lib path calculation
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#16799 manifest: nrfxlib: pull soft float fallback for OT lib path
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#16809 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#16801 manifest: Update find-my revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#16814 Bluetooth: Mesh: fix model id in time shell client
  subsys/bluetooth/mesh/shell/shell_time_cli.c
Labels: ble mesh

#16811 1wire generic coex production support
  doc/nrf/app_dev/device_guides/wifi_coex.rst
  doc/nrf/protocols/coexistence/index.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/radio_coex_1wire/README.rst
  samples/bluetooth/radio_coex_1wire/prj.conf
  subsys/mpsl/cx/1wire/mpsl_cx_1wire.c
  subsys/mpsl/cx/CMakeLists.txt
  subsys/mpsl/cx/Kconfig
  subsys/mpsl/cx/bluetooth/mpsl_cx_1w_bluetooth.c
Labels: doc-required

#16822 doc: changelog: update section naming
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable, doc only

#16095 tfm: Use APPROTECT and SECUREAPPROTECT
  modules/trusted-firmware-m/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
  modules/trusted-firmware-m/tfm_boards/CMakeLists.txt
  modules/trusted-firmware-m/tfm_boards/common/config.cmake
  modules/trusted-firmware-m/tfm_boards/common/nrf_provisioning.c
  samples/tfm/tfm_psa_template/prj.conf
  tests/tfm/tfm_psa_test/README.rst
  tests/tfm/tfm_psa_test/testcase.yaml
  tests/tfm/tfm_regression_test/prj.conf
  west.yml
Labels: doc-required, manifest, manifest-zephyr, manifest-trusted-firmware-m, changelog-entry-required

#16815 samples: suit: Remove unnecessary ICRs
  samples/suit/flash_companion/prj.conf
  samples/suit/recovery/prj.conf
  samples/suit/recovery/sysbuild/hci_ipc.conf
Labels: changelog-entry-required

#16731 mpsl: Stop calibration work on mpsl uninit
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/mpsl/init/mpsl_init.c
Labels: doc-required

#16615 samples: npm1300_fuel_gauge: README: Added app note link.
  doc/nrf/links.txt
  samples/pmic/native/npm1300_fuel_gauge/README.rst
Labels: doc-required, changelog-entry-required

#16445 mqtt_helper: Prevent mqtt_helper_thread hang on mqtt_live fail
  subsys/net/lib/mqtt_helper/mqtt_helper.c
  tests/subsys/net/lib/mqtt_helper/src/mqtt_helper_test.c
Labels: external, CI-Requested

#16820 esb: Correct timer compare value configuration
  subsys/esb/esb.c
Labels: changelog-entry-required, 10-min-review

#16551 cracen: Platform keys support
  subsys/nrf_security/Kconfig
  subsys/nrf_security/src/drivers/cracen/cracenpsa/cracenpsa.cmake
  subsys/nrf_security/src/drivers/cracen/cracenpsa/include/cracen_psa_key_ids.h
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/common.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/kmu.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/platform_keys/platform_keys.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/platform_keys/platform_keys.ld
  subsys/nrf_security/src/drivers/cracen/psa_driver.Kconfig
Labels: changelog-entry-required

#16284 lib: nrf_modem_lib: lte_net_if: Enable modem events
  lib/nrf_modem_lib/lte_net_if/lte_net_if.c
  tests/lib/nrf_modem_lib/lte_net_if/src/main.c
Labels: changelog-entry-required

#16810 manifest: sdk-nrfxlib: nrf_802154: nRF54L15 use non-secure SL library for builds with
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#16831 manifest: sdk-zephyr: [nrf fromlist] kconfig: openthread: Add 1.4 version
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#16841 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#16802 applications: serial_lte_modem: add CONFIG_SLM_PPP_FALLBACK_MTU
  applications/serial_lte_modem/Kconfig
  applications/serial_lte_modem/src/slm_ppp.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#16771 partition_manager: HW model 1 fix for non TF-M socs
  subsys/partition_manager/Kconfig
Labels: changelog-entry-required

#16850 bluetooth: controller: free DPPI 12 on 54L & 54H
  subsys/bluetooth/controller/bt_ctlr_used_resources.h
Labels: changelog-entry-required

#16622 manifest: Bring updated TF-M
  west.yml
Labels: manifest, manifest-trusted-firmware-m, changelog-entry-required

#16836 cracen: KMU support for rpolicy=REVOKED
  subsys/nrf_security/src/drivers/cracen/common/include/cracen/lib_kmu.h
  subsys/nrf_security/src/drivers/cracen/cracenpsa/include/cracen_psa_key_ids.h
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/kmu.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/lib_kmu.c
Labels: changelog-entry-required

#16671 Cracen: Fix import/export/generate key implementations
  subsys/nrf_security/src/drivers/cracen/common/include/cracen/mem_helpers.h
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/key_management.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/mem_helpers.c
Labels: changelog-entry-required

#16852 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#16269 nrf_security: cracen: Fix hmac block buffering calculation
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/mac.c
Labels: changelog-entry-required

#16833 manifest: update Zephyr to remove deprecated Kconfig
  subsys/bluetooth/services/fast_pair/fp_crypto/Kconfig.fp_crypto
  subsys/nrf_security/cmake/psa_crypto_want_config.cmake
  subsys/nrf_security/configs/psa_crypto_want_config.h.template
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#15101 samples: crypto: Enable crypto service for target nrf54h20
  samples/crypto/aes_cbc/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/aes_cbc/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/crypto/aes_cbc/sample.yaml
  samples/crypto/aes_ccm/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/aes_ccm/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/crypto/aes_ccm/sample.yaml
  samples/crypto/aes_ctr/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/aes_ctr/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/crypto/aes_ctr/sample.yaml
  samples/crypto/aes_gcm/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/aes_gcm/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/crypto/aes_gcm/sample.yaml
  samples/crypto/chachapoly/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/chachapoly/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/crypto/chachapoly/sample.yaml
  samples/crypto/ecdh/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/ecdh/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/crypto/ecdh/sample.yaml
  samples/crypto/ecdsa/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/ecdsa/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/crypto/ecdsa/sample.yaml
  samples/crypto/ecjpake/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/ecjpake/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/crypto/ecjpake/sample.yaml
  samples/crypto/eddsa/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/eddsa/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/crypto/eddsa/sample.yaml
  samples/crypto/hkdf/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/hkdf/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/crypto/hkdf/sample.yaml
  samples/crypto/hmac/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/hmac/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/crypto/hmac/sample.yaml
  samples/crypto/pbkdf2/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/pbkdf2/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/crypto/pbkdf2/sample.yaml
  samples/crypto/rng/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/rng/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/crypto/rng/sample.yaml
  samples/crypto/sha256/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/sha256/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/crypto/sha256/sample.yaml
  samples/crypto/spake2p/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/spake2p/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/crypto/spake2p/sample.yaml
Labels: changelog-entry-required

#16666 suit: Log class IDs for manifests
  subsys/suit/metadata/include/suit_metadata.h
  subsys/suit/metadata/src/suit_metadata.c
  subsys/suit/orchestrator/src/suit_orchestrator_sdfw.c
  subsys/suit/storage/src/suit_storage_mpi.c
  subsys/suit/storage/src/suit_storage_nrf54h20.c
  subsys/suit/storage/src/suit_storage_test.c
Labels: changelog-entry-required

#16853 subsys: download_client: Fix bug in header parser
  subsys/net/lib/download_client/src/http.c
Labels: changelog-entry-required

#16794 ci: Fix west update pip requirements workflow
  .github/workflows/pip-requirements.yml
  scripts/compile-requirements.sh
Labels: CI-disable, changelog-entry-required

#16762 nrf_security: cracen: Remove redundant aes_countermeasures field.
  subsys/nrf_security/src/drivers/cracen/sxsymcrypt/include/sxsymcrypt/internal.h
  subsys/nrf_security/src/drivers/cracen/sxsymcrypt/src/aead.c
  subsys/nrf_security/src/drivers/cracen/sxsymcrypt/src/blkcipher.c
  subsys/nrf_security/src/drivers/cracen/sxsymcrypt/src/chachapoly.c
Labels: changelog-entry-required

#16838 suit: platform: DFU Cache refactoring
  samples/suit/smp_transfer/prj.conf
  samples/suit/smp_transfer/src/main.c
  samples/suit/smp_transfer/sysbuild/smp_transfer_extflash.conf
  subsys/suit/cache/CMakeLists.txt
  subsys/suit/cache/Kconfig
  subsys/suit/cache/include/suit_dfu_cache_rw.h
  subsys/suit/cache/src/suit_dfu_cache.c
  subsys/suit/cache/src/suit_dfu_cache_helpers.c
  subsys/suit/cache/src/suit_dfu_cache_rw.c
  subsys/suit/envelope_info/CMakeLists.txt
  subsys/suit/envelope_info/include/suit_envelope_info.h
  subsys/suit/envelope_info/src/suit_envelope_info.c
  subsys/suit/memory_layout/include/suit_memory_layout.h
  subsys/suit/orchestrator_app/CMakeLists.txt
  subsys/suit/orchestrator_app/src/suit_orchestrator_app.c
  subsys/suit/stream/stream_sinks/src/suit_dfu_cache_sink.c
  subsys/suit/stream/stream_sinks/src/suit_digest_sink.c
  subsys/suit/stream/stream_sinks/src/suit_ram_sink.c
  subsys/suit/stream/stream_sources/src/suit_flash_streamer.c
  tests/subsys/suit/cache_pool_digest/CMakeLists.txt
  tests/subsys/suit/cache_pool_digest/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  tests/subsys/suit/cache_pool_digest/prj.conf
  tests/subsys/suit/cache_pool_digest/src/main.c
  tests/subsys/suit/cache_sink/CMakeLists.txt
  tests/subsys/suit/cache_sink/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  tests/subsys/suit/cache_sink/prj.conf
  tests/subsys/suit/cache_sink/src/main.c
  tests/subsys/suit/orchestrator/orchestrator_app/CMakeLists.txt
  tests/subsys/suit/orchestrator/orchestrator_app/src/main_full_processing.c
  tests/subsys/suit/ram_sink/src/main.c
  tests/subsys/suit/sink_selector/prj.conf
Labels: changelog-entry-required

#16834 doc: redirects: regroup and add comments
  doc/_utils/redirects.py
Labels: doc-required, CI-disable, doc only

#16804 cracen: Remove dependency on MbedTLS ASN.1
  subsys/nrf_security/configs/nrf-config.h.template
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/common.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/common.h
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/key_management.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/sign.c
Labels: changelog-entry-required

#16873 crypto service: Remove unsupported functions
  include/sdfw/sdfw_services/crypto_service.h
  subsys/nrf_security/src/ssf_secdom/ssf_crypto.c
  subsys/sdfw_services/services/psa_crypto/psa_crypto_service.c
  subsys/sdfw_services/services/psa_crypto/psa_crypto_service.cddl
  subsys/sdfw_services/services/psa_crypto/zcbor_generated/psa_crypto_service_decode.c
  subsys/sdfw_services/services/psa_crypto/zcbor_generated/psa_crypto_service_decode.h
  subsys/sdfw_services/services/psa_crypto/zcbor_generated/psa_crypto_service_encode.c
  subsys/sdfw_services/services/psa_crypto/zcbor_generated/psa_crypto_service_encode.h
  subsys/sdfw_services/services/psa_crypto/zcbor_generated/psa_crypto_service_types.h
Labels: changelog-entry-required

#16880 crypto service: Increase SSF buffer size to 128 bytes
  subsys/sdfw_services/services/psa_crypto/Kconfig
Labels: changelog-entry-required

#16871 manifest: Update suit-generator revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-suit-generator

#16896 nrf_security: Enable OWNER ID for SSF server build
  subsys/nrf_security/CMakeLists.txt
Labels: changelog-entry-required

#16854 manifest: Oberon core update
  west.yml
Labels: manifest, changelog-entry-required, manifest-oberon-psa-crypto

#16863 samples: bluetooth: Add LE Connection Subrating sample
  samples/bluetooth/subrating/CMakeLists.txt
  samples/bluetooth/subrating/Kconfig.sysbuild
  samples/bluetooth/subrating/README.rst
  samples/bluetooth/subrating/prj.conf
  samples/bluetooth/subrating/sample.yaml
  samples/bluetooth/subrating/src/main.c
Labels: doc-required, changelog-entry-required

#16851 cracen: Fix for SICR platform keys
  subsys/nrf_security/cmake/psa_crypto_config.cmake
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/platform_keys/platform_keys.c
  subsys/nrf_security/src/psa_crypto_driver_wrappers.c
Labels: changelog-entry-required

#16885 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  doc/nrf/releases_and_maturity/releases/release-notes-1.8.0.rst
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#16898 samples: wifi: provisioning: softap: increase stack size
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/wifi/provisioning/softap/prj.conf
Labels: doc-required

#16862 modules: memfault-firmware-sdk: Don't get modem params in offline mode
  modules/memfault-firmware-sdk/memfault_lte_metrics.c
Labels: changelog-entry-required

#16869 applications: nrf5340_audio: fix ISO allocated issue
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_source.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/bt_le_audio_tx/bt_le_audio_tx.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/bt_le_audio_tx/bt_le_audio_tx.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_client.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_server.c
Labels: changelog-entry-required

#16728 applications: nrf_desktop: add version file
  applications/nrf_desktop/VERSION
  applications/nrf_desktop/bootloader_dfu.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#16906 samples: crypto: extend ci tag for new configurations
  samples/crypto/aes_cbc/sample.yaml
  samples/crypto/aes_ccm/sample.yaml
  samples/crypto/aes_ctr/sample.yaml
  samples/crypto/aes_gcm/sample.yaml
  samples/crypto/chachapoly/sample.yaml
  samples/crypto/ecdh/sample.yaml
  samples/crypto/ecdsa/sample.yaml
  samples/crypto/ecjpake/sample.yaml
  samples/crypto/eddsa/sample.yaml
  samples/crypto/hkdf/sample.yaml
  samples/crypto/hmac/sample.yaml
  samples/crypto/pbkdf2/sample.yaml
  samples/crypto/rng/sample.yaml
  samples/crypto/sha256/sample.yaml
  samples/crypto/spake2p/sample.yaml
Labels: changelog-entry-required

#16913 bluetooth: controller: Select SDC multirole variant if subrating
  subsys/bluetooth/controller/Kconfig
Labels: changelog-entry-required

#16824 boards: thingy91x: revert to nrfjprog
  boards/nordic/thingy91x/board.cmake
Labels: changelog-entry-required

#16920 bluetooth: fast_pair: Fix PSA crypto backend dependencies
  subsys/bluetooth/services/fast_pair/fp_crypto/Kconfig.fp_crypto
Labels: 10-min-review

#16930 protocol_serialization: nrf_rpc: Remove not needed stack value in ble snippet.
  samples/nrf_rpc/protocols_serialization/server/snippets/ble/ble.conf
Labels: changelog-entry-required

#16928 samples: debug: memfault: fix stack overflow on 7002dk
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/debug/memfault/boards/nrf7002dk_nrf5340_cpuapp.conf
Labels: doc-required

#16857 samples: 802154_phy_test: add nRF54H20 CPURAD configuration
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/peripheral/802154_phy_test/boards/nrf21540dk_nrf52840.conf
  samples/peripheral/802154_phy_test/boards/nrf52833dk_nrf52833.conf
  samples/peripheral/802154_phy_test/boards/nrf52840dk_nrf52840.conf
  samples/peripheral/802154_phy_test/boards/nrf5340dk_nrf5340_cpunet.conf
  samples/peripheral/802154_phy_test/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/peripheral/802154_phy_test/boards/nrf54h20dk_nrf54h20_cpurad.overlay
  samples/peripheral/802154_phy_test/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/peripheral/802154_phy_test/prj.conf
  samples/peripheral/802154_phy_test/sample.yaml
  samples/peripheral/802154_phy_test/src/periph_proc.c
Labels: doc-required

#16895 doc: Minor updates to Bluetooth samples
  doc/nrf/shortcuts.txt
  samples/bluetooth/central_hids/README.rst
  samples/bluetooth/peripheral_hids_keyboard/README.rst
  samples/bluetooth/peripheral_hids_mouse/README.rst
  samples/bluetooth/peripheral_lbs/README.rst
  samples/bluetooth/peripheral_status/README.rst
  samples/bluetooth/peripheral_uart/README.rst
Labels: doc-required, CI-disable

#16770 applications: nrf5340_audio: Library to stream LC3 files from SD card
  applications/nrf5340_audio/src/modules/CMakeLists.txt
  applications/nrf5340_audio/src/modules/Kconfig
  applications/nrf5340_audio/src/modules/lc3_streamer.c
  applications/nrf5340_audio/src/modules/lc3_streamer.h
  tests/nrf5340_audio/fakes/k_work/k_work_fake.c
  tests/nrf5340_audio/fakes/k_work/k_work_fake.h
  tests/nrf5340_audio/fakes/lc3_file/lc3_file_fake.c
  tests/nrf5340_audio/fakes/lc3_file/lc3_file_fake.h
  tests/nrf5340_audio/fakes/lc3_file/lc3_file_fake_data.c
  tests/nrf5340_audio/fakes/lc3_file/lc3_file_fake_data.h
  tests/nrf5340_audio/lc3_streamer/CMakeLists.txt
  tests/nrf5340_audio/lc3_streamer/prj.conf
  tests/nrf5340_audio/lc3_streamer/src/main.c
  tests/nrf5340_audio/lc3_streamer/testcase.yaml
Labels: changelog-entry-required

#16941 applications: peripheral_sensor_node: add expected console regex
  applications/peripheral_sensor_node/sample.yaml
Labels: changelog-entry-required

#16933 doc: app_dev: bootloaders: sysbuild: Fix variable usage
  doc/nrf/app_dev/bootloaders_dfu/mcuboot_nsib/bootloader_adding_sysbuild.rst
Labels: doc-required, changelog-entry-required, doc only

#16901 applications: audio: Added pre-defined use cases
  applications/audio/broadcast_config_tool/include/broadcast_config_tool.h
  applications/audio/broadcast_config_tool/prj.conf
  applications/audio/broadcast_config_tool/src/main.c
  applications/nrf5340_audio/broadcast_source/main.c
  applications/nrf5340_audio/src/bluetooth/Kconfig.defaults
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_source.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_source.h
Labels: changelog-entry-required

#16866 nrf_security: Don't configure RRAMC for TFM builds
  subsys/nrf_security/src/drivers/cracen/Kconfig
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/lib_kmu.c
Labels: changelog-entry-required

#16935 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#16929 doc: Make all SML tables manual
  doc/nrf/software_maturity.rst
Labels: doc-required, CI-disable, changelog-entry-required

#16937 doc: Add known issue for SDC null pointer dereference
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required

#16949 Revert "lib: lte_link_control: Rewrite XMONITOR to use nrf_modem_at_scanf"
  lib/lte_link_control/lte_lc.c
  tests/lib/location/src/location_test.c
  tests/lib/lte_lc_api/src/lte_lc_api_test.c
Labels: changelog-entry-required

#16904 net: lib: nrf_cloud: send obj data for all topics
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/src/nrf_cloud.c
  tests/subsys/net/lib/nrf_cloud/cloud/src/main.c
Labels: doc-required

#16946 Applications: nrf5340_audio: Minor Coverity fix
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_client.c
Labels: changelog-entry-required

#16927 manifest: trustedfirmware: Allow reading UICR registers
  west.yml
Labels: manifest, manifest-trusted-firmware-m

#16965 Doc: Bluetooth Radio Notification Callback cleanup
  doc/_utils/redirects.py
  doc/nrf/libraries/bluetooth_services/images/ConnEvtCb.svg
  doc/nrf/libraries/bluetooth_services/images/ConnEvtCbPeripheralLatency.svg
  doc/nrf/libraries/bluetooth_services/radio_notification_conn_cb.rst
  doc/nrf/protocols/bt/index.rst
Labels: doc-required

#16832 nrf_modem_lib: trace_backends: rtt: early alloc buf
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/trace_backends/rtt/rtt.c
  tests/lib/nrf_modem_lib/trace_backends/rtt/src/main.c
Labels: doc-required, external, CI-Requested

#16940 doc: Update docs for 2.4.4 release
  doc/nrf/conf.py
  doc/nrf/developing/adding_code.rst
  doc/nrf/links.txt
  doc/nrf/release_notes.rst
  doc/nrf/releases/release-notes-2.4.4.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required, changelog-entry-required

#16867 doc: Update the bt_rpc doc with sysbuild
  doc/nrf/libraries/bluetooth_services/rpc.rst
Labels: doc-required, doc only

#16942 bluetooth: fast_pair: fp_gatt_service: Allow compiler to opt-out not used code
  subsys/bluetooth/services/fast_pair/fp_gatt_service.c
Labels: changelog-entry-required

#16002 nrf_security: cracen: Add helper functions for common bit manipulation
  subsys/nrf_security/src/drivers/cracen/common/include/cracen/ec_helpers.h
  subsys/nrf_security/src/drivers/cracen/cracenpsa/cracenpsa.cmake
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/ec_helpers.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/key_derivation.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/key_management.c
  subsys/nrf_security/src/drivers/cracen/sicrypto/src/ed25519.c
  subsys/nrf_security/src/drivers/cracen/sicrypto/src/ed448.c
Labels: changelog-entry-required

#16891 doc: nrf_cloud: Device ID and provisioning info
  doc/nrf/external_comp/nrf_cloud.rst
  doc/nrf/libraries/networking/nrf_cloud.rst
Labels: doc-required, changelog-entry-required

#16864 net: lib: nrf_cloud_coap: update coap get and fetch handing
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/net/nrf_cloud_coap.h
  subsys/net/lib/nrf_cloud/coap/src/coap_codec.c
  subsys/net/lib/nrf_cloud/coap/src/nrf_cloud_coap.c
  subsys/net/lib/nrf_cloud/coap/src/nrf_cloud_coap_transport.c
Labels: doc-required

#16938 applications: nrf_desktop: Document USB SOF
  applications/nrf_desktop/description.rst
  applications/nrf_desktop/doc/usb_state.rst
  applications/nrf_desktop/src/modules/Kconfig.usb_state
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#16976 tests: suit: Remove test case name duplicates
  tests/subsys/suit/orchestrator/orchestrator_sdfw/src/test_boot_mode.c
  tests/subsys/suit/orchestrator/orchestrator_sdfw/src/test_recovery_boot_mode.c
  tests/subsys/suit/orchestrator/orchestrator_sdfw/src/test_recovery_update_mode.c
  tests/subsys/suit/orchestrator/orchestrator_sdfw/src/test_update_mode.c
  tests/subsys/suit/orchestrator/orchestrator_sdfw_nrf54h20/testcase.yaml
Labels: changelog-entry-required

#16981 applications: nrf5340_audio: lc3_streamer: Use correct filename buf
  applications/nrf5340_audio/src/modules/lc3_streamer.c
  tests/nrf5340_audio/lc3_streamer/src/main.c
Labels: changelog-entry-required

#15145 scripts: tools-versions-*.yml: update zephyr-sdk==0.16.8
  scripts/tools-versions-darwin.yml
  scripts/tools-versions-linux.yml
  scripts/tools-versions-win10.yml
Labels: changelog-entry-required

#16964 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154

#16960 doc: Add release 2.4.4 to main
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.4.4.rst
  doc/versions.json
Labels: doc-required, changelog-entry-required

#16979 doc: Move Bluetooth Controller docs to Stack architecture docs
  doc/nrf/protocols/bt/ble/index.rst
  doc/nrf/protocols/bt/bt_stack_arch.rst
  doc/nrf/protocols/bt/index.rst
Labels: doc-required, changelog-entry-required

#16972 manifest: sdk-zephyr: Need exactly nrf-regtool v5.5.1 for SSF IPC
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#16943 manifest: update doc-internal revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-doc-internal

#16978 nrf_security: Add haltium key id definitions
  subsys/nrf_security/include/psa/nrf_platform_key_ids.h
Labels: changelog-entry-required

#16988 tests: suit: Defect fix in cache_sink tests
  tests/subsys/suit/cache_sink/src/main.c
Labels: changelog-entry-required

#16959 samples: cellular: nrf_cloud_multi_service: renamed Wi-Fi overlays
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_multi_service/README.rst
  samples/cellular/nrf_cloud_multi_service/overlay_nrf700x_wifi_coap_no_lte.conf
  samples/cellular/nrf_cloud_multi_service/overlay_nrf700x_wifi_mqtt_no_lte.conf
  samples/cellular/nrf_cloud_multi_service/sample.yaml
Labels: doc-required

#16982 samples: matter: Multiple door lock's schedules refinements
  samples/matter/common/src/persistent_storage/Kconfig
  samples/matter/lock/Kconfig
  samples/matter/lock/src/access/access_data_types.cpp
  samples/matter/lock/src/access/access_data_types.h
  samples/matter/lock/src/access/access_manager_schedules.cpp
Labels: changelog-entry-required

#16748 manifest: pull Matter patch with additional WiFi log
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#17027 Samples: Bluetooth: fix iso_time_sync sample
  samples/bluetooth/iso_time_sync/sysbuild/hci_ipc/prj.conf
Labels: changelog-entry-required

#17051 manifest: sdk-zephyr: Revert nRF2 clock control
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#16868 doc: bluetooth: Earlier reference to QDID in Bluetooth qualification
  doc/nrf/links.txt
  doc/nrf/protocols/bt/bt_qualification/index.rst
Labels: doc-required, CI-disable, doc only

#16970 nfc:ndef: Fix memory allocation check to prevent NULL dereference
  subsys/nfc/ndef/ch_rec_parser.c
Labels: changelog-entry-required, 10-min-review

#17012 manifest: Update Sidewalk
  west.yml
Labels: manifest, changelog-entry-required, manifest-sidewalk

#17034 samples: suit: Enable LTO in flash companion
  samples/suit/flash_companion/prj.conf
  samples/suit/smp_transfer/sysbuild/nrf54h20dk_nrf54h20_memory_map.dtsi
Labels: changelog-entry-required

#17039 applications: nrf_desktop: Disable USB remote wakeup on nRF54H20
  applications/nrf_desktop/src/modules/Kconfig.usb_state
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#17011 boards: thingy91x: Add minimal BMM350 init
  boards/nordic/thingy91x/CMakeLists.txt
  boards/nordic/thingy91x/bmm350_init_minimal.c
Labels: changelog-entry-required
