Repository nrfconnect/sdk-nrf, pull requests merged in 2024-12, with the labels that each got.

#19141 suit: Manifest allowing to check recovery button from companion
  config/suit/templates/nrf54h20/default/v1/app_recovery_local_envelope.yaml.jinja2
  config/suit/templates/nrf54h20/default/v1/root_with_binary_nordic_top.yaml.jinja2
  samples/suit/smp_transfer/sysbuild/recovery.overlay
  subsys/suit/recovery_button/Kconfig
  subsys/suit/recovery_button/src/suit_recovery_button.c
  west.yml
Labels: manifest, changelog-entry-required, manifest-suit-generator

#18944 manifest: Update suit-processor
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required, manifest-suit-processor

#19026 manifest: sdk-zephyr: [nrf fromtree] twister: Allow sharing hardware platform between variants
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#19150 doc: NCSDK-30597: update software maturity tables with nRF54L05 and nRF54L10
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, CI-disable, changelog-entry-required

#19135 doc: nRF5340 audio fixes
  applications/nrf5340_audio/doc/building.rst
  applications/nrf5340_audio/doc/fota.rst
  applications/nrf5340_audio/doc/requirements.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable, doc only

#19180 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#19009 doc: nrf: drivers: Add TX power calculation
  CODEOWNERS
  doc/nrf/drivers/wifi/nrf70_native.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#19181 samples: net: azure_iot_hub: Fix bug in response to direct method
  samples/net/azure_iot_hub/src/main.c
Labels: bugfix

#19165 snippets: nrf70-wifi: Increase 54H Wi-Fi RAM
  snippets/nrf70-wifi/nrf54h20_cpuapp.overlay
Labels: changelog-entry-required

#19151 samples: matter: Added DSLS support to the smoke co alarm
  doc/nrf/protocols/matter/end_product/test_event_triggers.rst
  doc/nrf/protocols/matter/getting_started/low_power_configuration.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/light_switch/snippets/lit_icd/lit_icd.conf
  samples/matter/smoke_co_alarm/Kconfig
  samples/matter/smoke_co_alarm/README.rst
  samples/matter/smoke_co_alarm/src/default_zap/smoke_co_alarm.zap
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/endpoint_config.h
  samples/matter/smoke_co_alarm/src/zcl_callbacks.cpp
  west.yml
Labels: doc-required, manifest, manifest-matter

#19197 manifest: Update Sidewalk revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-sidewalk

#19184 doc: quick start: add Thingy:91 X
  doc/nrf/app_dev/device_guides/nrf54l/index.rst
  doc/nrf/app_dev/device_guides/nrf91/index.rst
  doc/nrf/gsg_guides.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable, doc only

#19186 samples: peripheral_power_profiling: Add support for nRF54H20 target
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_power_profiling/README.rst
  samples/bluetooth/peripheral_power_profiling/src/main.c
Labels: doc-required

#19183 tests: subsys: bluetooth: fast_pair: Add nRF54H20 support
  tests/subsys/bluetooth/fast_pair/crypto/testcase.yaml
  tests/subsys/bluetooth/fast_pair/storage/account_key_storage/testcase.yaml
  tests/subsys/bluetooth/fast_pair/storage/factory_reset/testcase.yaml
Labels: changelog-entry-required

#19192 Samples: Bluetooth: Add support for 54h to sample
  samples/bluetooth/conn_time_sync/CMakeLists.txt
  samples/bluetooth/conn_time_sync/Kconfig.sysbuild
  samples/bluetooth/conn_time_sync/README.rst
  samples/bluetooth/conn_time_sync/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/conn_time_sync/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/bluetooth/conn_time_sync/sample.yaml
  samples/bluetooth/conn_time_sync/src/controller_time_nrf54.c
Labels: doc-required, changelog-entry-required

#19166 twister: Update quarantine with overflowing builds
  scripts/quarantine.yaml
Labels: changelog-entry-required

#19195 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#19103 samples: matter: Extend Matter Watchdog by new configs
  doc/nrf/protocols/matter/end_product/watchdog.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.9.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/common/src/watchdog/Kconfig
  samples/matter/common/src/watchdog/watchdog.cpp
  samples/matter/common/src/watchdog/watchdog.h
Labels: doc-required

#19170 samples: matter: Enable ZMS in nRF54H20
  applications/matter_bridge/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/lock/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/matter/template/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  west.yml
Labels: doc-required, manifest, manifest-matter

#19089 samples: nfc: system_off: Optimize power consumption
  samples/nfc/system_off/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  samples/nfc/system_off/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  samples/nfc/system_off/prj.conf
  samples/nfc/system_off/src/main.c
Labels: changelog-entry-required

#19168 samples: Add support for nRF54L05/L10 build targets in some samples
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/direct_test_mode/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  samples/bluetooth/direct_test_mode/boards/nrf54l15dk_nrf54l05_cpuapp.overlay
  samples/bluetooth/direct_test_mode/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  samples/bluetooth/direct_test_mode/boards/nrf54l15dk_nrf54l10_cpuapp.overlay
  samples/bluetooth/direct_test_mode/sample.yaml
  samples/bluetooth/peripheral_lbs/sample.yaml
  samples/bluetooth/peripheral_power_profiling/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  samples/bluetooth/peripheral_power_profiling/boards/nrf54l15dk_nrf54l05_cpuapp.overlay
  samples/bluetooth/peripheral_power_profiling/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  samples/bluetooth/peripheral_power_profiling/boards/nrf54l15dk_nrf54l10_cpuapp.overlay
  samples/bluetooth/peripheral_power_profiling/sample.yaml
  samples/bluetooth/peripheral_uart/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  samples/bluetooth/peripheral_uart/boards/nrf54l15dk_nrf54l05_cpuapp.overlay
  samples/bluetooth/peripheral_uart/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  samples/bluetooth/peripheral_uart/boards/nrf54l15dk_nrf54l10_cpuapp.overlay
  samples/bluetooth/peripheral_uart/sample.yaml
  samples/peripheral/radio_test/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  samples/peripheral/radio_test/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  samples/peripheral/radio_test/sample.yaml
Labels: doc-required

#18973 samples/applications: Optimize memory for nRF91+nRF70 positioning
  applications/asset_tracker_v2/boards/thingy91x_nrf9151_ns.conf
  applications/asset_tracker_v2/overlay-nrf7002ek-wifi-scan-only.conf
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/location/boards/thingy91x_nrf9151_ns.conf
  samples/cellular/location/overlay-nrf700x-wifi-scan-only.conf
  samples/cellular/modem_shell/overlay-nrf700x-wifi-scan-only.conf
  samples/cellular/nrf_cloud_multi_service/boards/thingy91x_nrf9151_ns.conf
  samples/cellular/nrf_cloud_multi_service/overlay-nrf7002ek-wifi-scan-only.conf
Labels: doc-required

#19208 samples: bluetooth: Enable ZMS for nRF54H20 platform
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/central_and_peripheral_hr/Kconfig
  samples/bluetooth/central_bas/Kconfig
  samples/bluetooth/central_nfc_pairing/Kconfig
  samples/bluetooth/central_uart/Kconfig
  samples/bluetooth/peripheral_bms/Kconfig
  samples/bluetooth/peripheral_cgms/Kconfig
  samples/bluetooth/peripheral_cts_client/Kconfig
  samples/bluetooth/peripheral_lbs/Kconfig
  samples/bluetooth/peripheral_mds/Kconfig
  samples/bluetooth/peripheral_nfc_pairing/Kconfig
  samples/bluetooth/peripheral_power_profiling/Kconfig
  samples/bluetooth/peripheral_rscs/Kconfig
  samples/bluetooth/peripheral_status/Kconfig
  samples/bluetooth/peripheral_uart/Kconfig
  samples/bluetooth/rpc_host/Kconfig
Labels: doc-required

#19216 quarantine: fix platform name
  scripts/quarantine.yaml
Labels: changelog-entry-required

#19043 manifest: Update MCUboot with RAM cleanup option
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#18322 applications: nrf_desktop: enable fprotect in mcuboot configurations
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/images/mcuboot/prj_release.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/images/mcuboot/prj_release.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/images/mcuboot/prj.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/images/mcuboot/prj_release.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/images/mcuboot/prj.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/images/mcuboot/prj_release.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/images/mcuboot/prj_fast_pair.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/images/mcuboot/prj_mcuboot_qspi.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/images/mcuboot/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/images/mcuboot/prj_fast_pair.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/images/mcuboot/prj_mcuboot_smp.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/images/mcuboot/prj_release_fast_pair.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/images/mcuboot/prj_release_fast_pair.conf
  applications/nrf_desktop/configuration/nrf54l15dk_nrf54l15_cpuapp/images/mcuboot/prj.conf
  applications/nrf_desktop/configuration/nrf54l15dk_nrf54l15_cpuapp/images/mcuboot/prj_fast_pair.conf
  applications/nrf_desktop/configuration/nrf54l15dk_nrf54l15_cpuapp/images/mcuboot/prj_keyboard.conf
  applications/nrf_desktop/configuration/nrf54l15dk_nrf54l15_cpuapp/images/mcuboot/prj_release.conf
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#19214 manifest: sdk-zephyr: bintools improvement / gapfill
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#19201 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#19220 manifest: sdk-zephyr: I2C RTIO support
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#19154 doc: lwm2m_carrier: Improve os_storage glue documentation.
  lib/bin/lwm2m_carrier/include/lwm2m_os.h
Labels: changelog-entry-required

#19131 doc: wifi: Update TX power calculation
  samples/wifi/radio_test/sample_description.rst
Labels: doc-required, changelog-entry-required

#19066 manifest: sdk-nrfxlib: nrf_modem: update library
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#19219 doc: wifi: Update regulatory rules
  doc/nrf/protocols/wifi/regulatory_support.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#19011 nrf_rpc: Add command to obtain version of remote.
  CODEOWNERS
  doc/nrf/libraries/nrf_rpc/nrf_rpc_dev_info.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/nrf_rpc/nrf_rpc_dev_info.h
  samples/nrf_rpc/protocols_serialization/client/CMakeLists.txt
  samples/nrf_rpc/protocols_serialization/client/prj.conf
  samples/nrf_rpc/protocols_serialization/client/src/dev_info_shell.c
  samples/nrf_rpc/protocols_serialization/server/prj.conf
  subsys/nrf_rpc/CMakeLists.txt
  subsys/nrf_rpc/Kconfig
  subsys/nrf_rpc/dev_info/CMakeLists.txt
  subsys/nrf_rpc/dev_info/Kconfig
  subsys/nrf_rpc/dev_info/client/CMakeLists.txt
  subsys/nrf_rpc/dev_info/client/dev_info_client.c
  subsys/nrf_rpc/dev_info/common/CMakeLists.txt
  subsys/nrf_rpc/dev_info/common/dev_info_rpc.c
  subsys/nrf_rpc/dev_info/common/dev_info_rpc_ids.h
  subsys/nrf_rpc/dev_info/server/CMakeLists.txt
  subsys/nrf_rpc/dev_info/server/dev_info_server.c
  subsys/nrf_rpc/include/nrf_rpc_os.h
  tests/subsys/nrf_rpc/dev_info/client/CMakeLists.txt
  tests/subsys/nrf_rpc/dev_info/client/prj.conf
  tests/subsys/nrf_rpc/dev_info/client/src/dev_info_suite.c
  tests/subsys/nrf_rpc/dev_info/client/testcase.yaml
  tests/subsys/nrf_rpc/dev_info/common/nrf_rpc_single_thread.c
  tests/subsys/nrf_rpc/dev_info/common/test_rpc_env.h
  tests/subsys/nrf_rpc/dev_info/server/CMakeLists.txt
  tests/subsys/nrf_rpc/dev_info/server/prj.conf
  tests/subsys/nrf_rpc/dev_info/server/src/dev_info_suite.c
  tests/subsys/nrf_rpc/dev_info/server/testcase.yaml
Labels: doc-required

#19215 applications: machine_learning: Enable ZMS for nRF54H20 platform
  applications/machine_learning/configuration/nrf54h20dk_nrf54h20_cpuapp/prj.conf
  applications/machine_learning/configuration/nrf54h20dk_nrf54h20_cpuapp/prj_singlecore.conf
  applications/machine_learning/src/modules/Kconfig.ei_result_nsms
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#19177 Concurrent scan init sample
  CODEOWNERS
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/scanning_while_connecting/CMakeLists.txt
  samples/bluetooth/scanning_while_connecting/Kconfig.sysbuild
  samples/bluetooth/scanning_while_connecting/README.rst
  samples/bluetooth/scanning_while_connecting/prj.conf
  samples/bluetooth/scanning_while_connecting/sample.yaml
  samples/bluetooth/scanning_while_connecting/src/main.c
  samples/bluetooth/scanning_while_connecting/sysbuild/ipc_radio/prj.conf
Labels: doc-required

#19242 scripts: west_commands: create_board: fix openocd for nrf52
  scripts/west_commands/create_board/templates/nrf52/board.cmake.jinja2
Labels: bug, changelog-entry-required

#19196 manifest: sdk-zephyr: Add RPU recovery info
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#19234 mpsl: Enable dppichannel in dppic130 and dppic132
  subsys/mpsl/init/mpsl_init.c
Labels: changelog-entry-required

#19162 snippets: Remove the L05 and L10 emulation snippets
  doc/nrf/app_dev/device_guides/nrf54l/index.rst
  doc/nrf/app_dev/device_guides/nrf54l/snippets.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.8.0.rst
  snippets/emulated-nrf54l05/README.rst
  snippets/emulated-nrf54l05/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  snippets/emulated-nrf54l05/snippet.yml
  snippets/emulated-nrf54l10/README.rst
  snippets/emulated-nrf54l10/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  snippets/emulated-nrf54l10/snippet.yml
Labels: doc-required, changelog-entry-required

#19210 Samples: Bluetooth: ISO time sync sample on 54h
  samples/bluetooth/conn_time_sync/README.rst
  samples/bluetooth/iso_time_sync/CMakeLists.txt
  samples/bluetooth/iso_time_sync/Kconfig.sysbuild
  samples/bluetooth/iso_time_sync/README.rst
  samples/bluetooth/iso_time_sync/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/iso_time_sync/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/bluetooth/iso_time_sync/sample.yaml
  samples/bluetooth/iso_time_sync/src/controller_time_nrf54.c
Labels: doc-required, changelog-entry-required

#19077 applications: sdp: mspi: Initial implementation
  applications/sdp/mspi/CMakeLists.txt
  applications/sdp/mspi/boards/nrf54l15dk_nrf54l15_cpuflpr.conf
  applications/sdp/mspi/boards/nrf54l15dk_nrf54l15_cpuflpr.overlay
  applications/sdp/mspi/prj.conf
  applications/sdp/mspi/sample.yaml
  applications/sdp/mspi/src/hrt/hrt.c
  applications/sdp/mspi/src/hrt/hrt.h
  applications/sdp/mspi/src/hrt/hrt.s
  applications/sdp/mspi/src/main.c
  applications/sdp/mspi/sysbuild.conf
  cmake/sdp.cmake
Labels: changelog-entry-required

#19243 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#19046 doc: Matter: Add shared configurations page
  applications/matter_bridge/doc/matter_bridge_description.rst
  doc/nrf/protocols/matter/end_product/test_event_triggers.rst
  doc/nrf/protocols/matter/end_product/watchdog.rst
  doc/nrf/protocols/matter/getting_started/advanced_kconfigs.rst
  doc/nrf/protocols/matter/getting_started/low_power_configuration.rst
  doc/nrf/protocols/matter/getting_started/memory_optimization.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.6.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.9.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.6.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/samples/matter.rst
  samples/matter/common/config.rst
  samples/matter/lock/README.rst
Labels: doc-required, doc only

#19149 samples: Fix Wi-Fi and BLE combo radio test for 54H
  samples/peripheral/radio_test/boards/nrf54h20dk_nrf54h20_cpurad_wifi_combo.overlay
  samples/wifi/radio_test/sample.yaml
Labels: changelog-entry-required

#19160 samples: wifi: Add support for nRF54 series to Wi-Fi samples
  samples/wifi/monitor/sample.yaml
  samples/wifi/offloaded_raw_tx/sample.yaml
  samples/wifi/promiscuous/sample.yaml
  samples/wifi/raw_tx_packet/sample.yaml
  samples/wifi/shutdown/sample.yaml
  samples/wifi/shutdown/sysbuild.conf
  samples/wifi/softap/sample.yaml
  samples/wifi/throughput/sample.yaml
  samples/wifi/twt/sample.yaml
  samples/wifi/wfa_qt_app/nrf54h20_uart_pipe.overlay
  samples/wifi/wfa_qt_app/sample.yaml
Labels: changelog-entry-required

#19227 samples: Bluetooth: update peripheral_with_multiple_identities
  samples/bluetooth/peripheral_with_multiple_identities/prj.conf
  samples/bluetooth/peripheral_with_multiple_identities/src/main.c
Labels: changelog-entry-required

#19194 sdfw_services: Support for SUIT manifest-controlled variables
  subsys/sdfw_services/services/suit_service/CMakeLists.txt
  subsys/sdfw_services/services/suit_service/suit_mfst_var.c
  subsys/sdfw_services/services/suit_service/suit_service.cddl
  subsys/sdfw_services/services/suit_service/zcbor_generated/suit_service_decode.c
  subsys/sdfw_services/services/suit_service/zcbor_generated/suit_service_decode.h
  subsys/sdfw_services/services/suit_service/zcbor_generated/suit_service_encode.c
  subsys/sdfw_services/services/suit_service/zcbor_generated/suit_service_encode.h
  subsys/sdfw_services/services/suit_service/zcbor_generated/suit_service_types.h
Labels: changelog-entry-required

#19248 manifest: Update sdk-sidewalk revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-sidewalk

#19251 samples: matter: Enabled reporting on entering ICD active state
  samples/matter/light_switch/snippets/lit_icd/lit_icd.conf
  samples/matter/smoke_co_alarm/Kconfig
  samples/matter/smoke_co_alarm/README.rst
Labels: doc-required, changelog-entry-required

#19252 samples: bluetooth: Update distance estimation for mode 3 and multi a…
  samples/bluetooth/channel_sounding_ras_initiator/src/distance_estimation.c
Labels: changelog-entry-required

#19265 cmake: remove duplication of TOOLCHAIN_LD_FLAGS flags
  subsys/nrf_security/cmake/extensions.cmake
Labels: backport v2.8-branch

#19238 scripts: hid_configurator: Support pure ED25519 signature
  scripts/hid_configurator/README.rst
  scripts/hid_configurator/modules/dfu.py
Labels: doc-required, changelog-entry-required

#19260 trusted_storage: improve Kconfig description
  subsys/trusted_storage/Kconfig
Labels: 10-min-review

#19271 [Backport v2.8-branch] cmake: remove duplication of TOOLCHAIN_LD_FLAGS flags
  subsys/nrf_security/cmake/extensions.cmake
Labels: changelog-entry-required, Backport

#19264 doc: edit nrfjprog/CLT deprecation note
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable, doc only

#19270 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: DNM, manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#19276 samples: Bluetooth: update scanning_while_connecting
  samples/bluetooth/scanning_while_connecting/src/main.c
Labels: changelog-entry-required, bugfix

#17680 lib: modem_key_mgmt: Handle generic CME errors
  include/modem/modem_key_mgmt.h
  lib/modem_key_mgmt/modem_key_mgmt.c
Labels: changelog-entry-required, bugfix

#19284 manifest: Pull rebased OSS repositories
  west.yml
Labels: DNM, manifest, manifest-zephyr, manifest-mcuboot, changelog-entry-required

#19282 manifest: sdk-connectedhomeip: Update revision
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required, bugfix

#19273 applications: nrf5340_audio: Add BASS service data
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_sink.c
Labels: changelog-entry-required, bugfix

#19298 ci: Use CI_LIB and test-nrf from v2.9-branch
  Jenkinsfile
  test-manifests/99-default-test-nrf.yml
Labels: changelog-entry-required

#19241 doc: changelog for 2.9.99
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable, doc only

#19300 version: Update to 2.9.99
  VERSION
Labels: changelog-entry-required

#19274 suit: manifest-controlled variables
  subsys/suit/Kconfig
  subsys/suit/platform/include/suit_platform_internal.h
  subsys/suit/platform/sdfw/CMakeLists.txt
  subsys/suit/platform/sdfw/src/suit_plat_component_compatibility.c
  subsys/suit/utils/src/suit_plat_decode_util.c
Labels: changelog-entry-required

#19263 samples: bluetooth: fast_pair: Align Tx power for nRF54H20DK
  samples/bluetooth/fast_pair/input_device/prj.conf
Labels: changelog-entry-required

#19224 applications: ipc_radio: Enable ZMS for nRF54H20 platform
  applications/ipc_radio/Kconfig
  applications/ipc_radio/overlay-bt_rpc.conf
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#19155 doc: mcuboot signing app with flpr payload
  doc/nrf/app_dev/device_guides/nrf54l/index.rst
  doc/nrf/app_dev/device_guides/nrf54l/nrf54l_signing_with_payload.rst
  doc/nrf/app_dev/device_guides/nrf54l/vpr_flpr.rst
Labels: doc-required, CI-disable, doc only

#19069 samples: bluetooth: direct_test_mode: Move nRF52840 Kconfig to SoC
  samples/bluetooth/direct_test_mode/boards/nrf52840dk_nrf52840.conf
  samples/bluetooth/direct_test_mode/socs/nrf52840.conf
Labels: changelog-entry-required

#19258 suit: Move recovery button to app tools
  config/suit/templates/nrf54h20/default/v1/app_recovery_local_envelope.yaml.jinja2
  config/suit/templates/nrf54h20/default/v1/root_with_binary_nordic_top.yaml.jinja2
  subsys/suit/CMakeLists.txt
  subsys/suit/Kconfig
  subsys/suit/app_tools/CMakeLists.txt
  subsys/suit/app_tools/Kconfig
  subsys/suit/app_tools/recovery_button/CMakeLists.txt
  subsys/suit/app_tools/recovery_button/Kconfig
  subsys/suit/app_tools/recovery_button/src/suit_recovery_button.c
Labels: changelog-entry-required

#19235 Quarantine: Remove hostap tests
  scripts/quarantine.yaml
Labels: changelog-entry-required, bugfix, backport v2.9-branch

#19311 sdk-nrf-toolchain: Bump nrfutil-device version
  scripts/docker/Dockerfile
Labels: CI-disable, changelog-entry-required, backport v2.9-branch

#19226 bluetooth: add Kconfig options to enable optional CS capabilities
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_driver.c
Labels: backport v2.9-branch

#19308 doc: nrf70: Fix PSA config option
  doc/nrf/app_dev/device_guides/nrf70/wifi_advanced_security_modes.rst
Labels: doc-required, changelog-entry-required, 10-min-review, backport v2.9-branch

#19202 doc: Move Thingy:91 and Thingy:91 x under application development
  doc/_utils/redirects.py
  doc/_zoomin/ncs.tags.yml
  doc/nrf/app_dev.rst
  doc/nrf/app_dev/board_support/board_names.rst
  doc/nrf/app_dev/device_guides/nrf91/images/thingy91_pin_imei.svg
  doc/nrf/app_dev/device_guides/nrf91/index.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_dk_updating_fw_programmer.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_features.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_programming.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_updating_fw_programmer.rst
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_add_file.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_add_file1.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_add_file2.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_com_ports.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_enable_mcuboot.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_ext_debug_hex_write.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_ext_debug_update_modem.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_hex_write.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_hex_write1.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_modemdfu.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_select_device.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_select_device1.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_select_device2.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_thingy91_connect_dk_swd_vddio.svg
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_usb_update_modem.png
  doc/nrf/app_dev/device_guides/thingy91/images/thingy91_mcuboot_dfu.png
  doc/nrf/app_dev/device_guides/thingy91/images/thingy91_mcuboot_dfu1.png
  doc/nrf/app_dev/device_guides/thingy91/images/thingy91_modemdfu_mcuboot.png
  doc/nrf/app_dev/device_guides/thingy91/images/thingy91_sw1_sw3.svg
  doc/nrf/app_dev/device_guides/thingy91/images/thingy91_sw1_sw4.svg
  doc/nrf/app_dev/device_guides/thingy91/index.rst
  doc/nrf/app_dev/device_guides/thingy91/thingy91_building_programming.rst
  doc/nrf/app_dev/device_guides/thingy91/thingy91_connecting.rst
  doc/nrf/app_dev/device_guides/thingy91/thingy91_features.rst
  doc/nrf/app_dev/device_guides/thingy91/thingy91_updating_fw_programmer.rst
  doc/nrf/app_dev/device_guides/thingy91x/index.rst
  doc/nrf/app_dev/device_guides/thingy91x/thingy91x_building_programming.rst
  doc/nrf/app_dev/device_guides/thingy91x/thingy91x_features.rst
  doc/nrf/app_dev/device_guides/thingy91x/thingy91x_updating_fw_programmer.rst
  doc/nrf/includes/Thingy91_91x_features.txt
  doc/nrf/includes/sample_board_rows.txt
  doc/nrf/protocols/lte/index.rst
  doc/nrf/samples/sensor.rst
Labels: doc-required, CI-disable, doc only, backport v2.9-branch

#19272 manifest: sdk-zephyr/sdk-nrfxlib: wifi: Pull latest fixes
  west.yml
Labels: manifest, manifest-zephyr, manifest-nrfxlib, changelog-entry-required

#19304 [Backport v2.9-branch] doc: mcuboot signing app with flpr payload
  doc/nrf/app_dev/device_guides/nrf54l/index.rst
  doc/nrf/app_dev/device_guides/nrf54l/nrf54l_signing_with_payload.rst
  doc/nrf/app_dev/device_guides/nrf54l/vpr_flpr.rst
Labels: doc-required, changelog-entry-required, Backport

#19307 [Backport v2.9-branch] Quarantine: Remove hostap tests
  scripts/quarantine.yaml
Labels: changelog-entry-required, Backport

#19313 [Backport v2.9-branch] sdk-nrf-toolchain: Bump nrfutil-device version
  scripts/docker/Dockerfile
Labels: changelog-entry-required, Backport

#19317 [Backport v2.9-branch] doc: Move Thingy:91 and Thingy:91 x under application development
  doc/_utils/redirects.py
  doc/_zoomin/ncs.tags.yml
  doc/nrf/app_dev.rst
  doc/nrf/app_dev/board_support/board_names.rst
  doc/nrf/app_dev/device_guides/nrf91/images/thingy91_pin_imei.svg
  doc/nrf/app_dev/device_guides/nrf91/index.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_dk_updating_fw_programmer.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_features.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_programming.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_updating_fw_programmer.rst
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_add_file.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_add_file1.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_add_file2.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_com_ports.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_enable_mcuboot.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_ext_debug_hex_write.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_ext_debug_update_modem.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_hex_write.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_hex_write1.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_modemdfu.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_select_device.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_select_device1.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_select_device2.png
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_thingy91_connect_dk_swd_vddio.svg
  doc/nrf/app_dev/device_guides/thingy91/images/programmer_usb_update_modem.png
  doc/nrf/app_dev/device_guides/thingy91/images/thingy91_mcuboot_dfu.png
  doc/nrf/app_dev/device_guides/thingy91/images/thingy91_mcuboot_dfu1.png
  doc/nrf/app_dev/device_guides/thingy91/images/thingy91_modemdfu_mcuboot.png
  doc/nrf/app_dev/device_guides/thingy91/images/thingy91_sw1_sw3.svg
  doc/nrf/app_dev/device_guides/thingy91/images/thingy91_sw1_sw4.svg
  doc/nrf/app_dev/device_guides/thingy91/index.rst
  doc/nrf/app_dev/device_guides/thingy91/thingy91_building_programming.rst
  doc/nrf/app_dev/device_guides/thingy91/thingy91_connecting.rst
  doc/nrf/app_dev/device_guides/thingy91/thingy91_features.rst
  doc/nrf/app_dev/device_guides/thingy91/thingy91_updating_fw_programmer.rst
  doc/nrf/app_dev/device_guides/thingy91x/index.rst
  doc/nrf/app_dev/device_guides/thingy91x/thingy91x_building_programming.rst
  doc/nrf/app_dev/device_guides/thingy91x/thingy91x_features.rst
  doc/nrf/app_dev/device_guides/thingy91x/thingy91x_updating_fw_programmer.rst
  doc/nrf/includes/Thingy91_91x_features.txt
  doc/nrf/includes/sample_board_rows.txt
  doc/nrf/protocols/lte/index.rst
  doc/nrf/samples/sensor.rst
Labels: doc-required, changelog-entry-required, Backport

#19296 doc: Minor fixes to the 2.8 release notes
  doc/nrf/releases_and_maturity/releases/release-notes-2.8.0.rst
Labels: doc-required, CI-disable, doc only, backport v2.9-branch

#19319 [Backport v2.9-branch] doc: Minor fixes to the 2.8 release notes
  doc/nrf/releases_and_maturity/releases/release-notes-2.8.0.rst
Labels: doc-required, changelog-entry-required, Backport

#19280 doc: Edits to the code owner file for the doc ownership
  CODEOWNERS
Labels: doc only

#19315 [Backport v2.9-branch] bluetooth: add Kconfig options to enable optional CS capabilities
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_driver.c
Labels: changelog-entry-required, Backport

#19303 tests: drivers: lpuart: allow testing on nRF54L05 and nRF54L10
  samples/peripheral/lpuart/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  samples/peripheral/lpuart/boards/nrf54l15dk_nrf54l05_cpuapp.overlay
  samples/peripheral/lpuart/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  samples/peripheral/lpuart/boards/nrf54l15dk_nrf54l10_cpuapp.overlay
  samples/peripheral/lpuart/sample.yaml
  tests/drivers/lpuart/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  tests/drivers/lpuart/boards/nrf54l15dk_nrf54l05_cpuapp.overlay
  tests/drivers/lpuart/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  tests/drivers/lpuart/boards/nrf54l15dk_nrf54l10_cpuapp.overlay
  tests/drivers/lpuart/testcase.yaml
Labels: changelog-entry-required

#19318 manifest: sdk-zephyr/sdk-nrfxlib: wifi: Pull latest fixes
  west.yml
Labels: manifest, manifest-zephyr, manifest-nrfxlib, changelog-entry-required

#19326 [Backport v2.9-branch] doc: Add instructions for how to install "nrfcredstore"
  doc/nrf/libraries/networking/azure_iot_hub.rst
Labels: doc-required, changelog-entry-required, Backport

#18903 manifest: sdk-zephyr: [nrf fromtree] soc: nordic: common: Add MRAM latency manager
  samples/suit/flash_companion/prj.conf
  subsys/bluetooth/controller/Kconfig
  tests/benchmarks/current_consumption/nfc_idle/testcase.yaml
  tests/benchmarks/multicore/idle/testcase.yaml
  tests/benchmarks/multicore/idle_adc/prj.conf
  tests/benchmarks/multicore/idle_adc/remote/prj.conf
  tests/benchmarks/multicore/idle_clock_control/prj.conf
  tests/benchmarks/multicore/idle_clock_control/remote/prj.conf
  tests/benchmarks/multicore/idle_comp/prj.conf
  tests/benchmarks/multicore/idle_comp/remote/prj.conf
  tests/benchmarks/multicore/idle_gpio/prj_s2ram.conf
  tests/benchmarks/multicore/idle_gpio/remote/prj_s2ram.conf
  tests/benchmarks/multicore/idle_hpu_temp_meas/prj.conf
  tests/benchmarks/multicore/idle_outside_of_main/prj.conf
  tests/benchmarks/multicore/idle_outside_of_main/remote/prj.conf
  tests/benchmarks/multicore/idle_ppr/prj_s2ram.conf
  tests/benchmarks/multicore/idle_ppr/remote/prj_s2ram.conf
  tests/benchmarks/multicore/idle_pwm_led/prj_s2ram.conf
  tests/benchmarks/multicore/idle_pwm_led/remote/prj_s2ram.conf
  tests/benchmarks/multicore/idle_pwm_loopback/prj_s2ram.conf
  tests/benchmarks/multicore/idle_pwm_loopback/remote/prj_s2ram.conf
  tests/benchmarks/multicore/idle_spim/prj.conf
  tests/benchmarks/multicore/idle_spim/remote/prj.conf
  tests/benchmarks/multicore/idle_spim_loopback/prj_s2ram.conf
  tests/benchmarks/multicore/idle_stm/prj_s2ram.conf
  tests/benchmarks/multicore/idle_stm/remote/prj_s2ram.conf
  tests/benchmarks/multicore/idle_twim/prj.conf
  tests/benchmarks/multicore/idle_twim/remote/prj.conf
  tests/benchmarks/multicore/idle_uarte/prj.conf
  tests/benchmarks/multicore/idle_usb/prj.conf
  tests/benchmarks/multicore/idle_wdt/prj_s2ram.conf
  tests/benchmarks/multicore/idle_wdt/remote/prj_s2ram.conf
  tests/benchmarks/power_consumption/adc/prj.conf
  tests/benchmarks/power_consumption/adc_async/prj.conf
  tests/benchmarks/power_consumption/common/remote_sleep_forever/prj.conf
  tests/benchmarks/power_consumption/flash/prj.conf
  tests/benchmarks/power_consumption/gpio/prj.conf
  tests/benchmarks/power_consumption/i2c/prj.conf
  tests/benchmarks/power_consumption/lpcomp/prj.conf
  tests/benchmarks/power_consumption/qdec/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  tests/benchmarks/power_consumption/spi/prj.conf
  tests/benchmarks/power_consumption/temperature_sensor/prj.conf
  tests/benchmarks/power_consumption/timer_waiting/prj.conf
  tests/benchmarks/power_consumption/uart_async/prj.conf
  tests/benchmarks/power_consumption/uart_interrupt/prj.conf
  tests/benchmarks/power_consumption/uart_polling/prj.conf
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#19322 samples: bluetooth: nrf_auraconfig: Fix data in all BISes
  samples/bluetooth/nrf_auraconfig/src/nrf_auraconfig.c
Labels: bugfix, backport v2.9-branch

#19331 samples: cellular: gnss: Update GNSS factory almanacs
  samples/cellular/gnss/src/factory_almanac_v2.h
  samples/cellular/gnss/src/factory_almanac_v3.h
Labels: backport v2.9-branch

#19291 cracen: imported FWENC key used for AES-GCM
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/platform_keys/platform_keys.c
Labels: changelog-entry-required

#19175 [NCSDK-29365] actions: Force rebuilding toolchain bundles
  .github/workflows/enforce-toolchain-synchronization.yml
Labels: changelog-entry-required

#19174 samples: bluetooth: fast_pair: input_device: Improve nRF54H20 memory map
  samples/bluetooth/fast_pair/input_device/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
Labels: changelog-entry-required

#19314 Bluetooth: Tester: remove unnecessary lightness server from composition
  tests/bluetooth/tester/src/model_handler.c
Labels: backport v2.9-branch

#19222 debug: ppi_trace: use nrfx_gppi to support nRF54L series devices
  include/debug/ppi_trace.h
  subsys/debug/ppi_trace/Kconfig
  subsys/debug/ppi_trace/ppi_trace.c
Labels: changelog-entry-required

#19349 quarantine: new failures on native_sim
  scripts/quarantine_no_optimization.yaml
  scripts/quarantine_zephyr.yaml
Labels: changelog-entry-required, backport v2.9-branch

#19340 suit: manifest-controlled variables
  tests/subsys/suit/manifest_variables/boards/native_sim.conf
  tests/subsys/suit/manifest_variables/boards/native_sim.overlay
  tests/subsys/suit/manifest_variables/testcase.yaml
Labels: changelog-entry-required

#18931 nrf54l: Removing hardcoded clock frequency
  modules/trusted-firmware-m/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
  modules/trusted-firmware-m/tfm_boards/CMakeLists.txt
  modules/trusted-firmware-m/tfm_boards/nrf54l15_cpuapp/ns/cpuarch_ns.cmake
  modules/trusted-firmware-m/tfm_boards/ns/CMakeLists.txt
  tests/tfm/tfm_psa_test/CMakeLists.txt
  tests/tfm/tfm_regression_test/CMakeLists.txt
Labels: changelog-entry-required

#19334 [Backport v2.9-branch] samples: cellular: gnss: Update GNSS factory almanacs
  samples/cellular/gnss/src/factory_almanac_v2.h
  samples/cellular/gnss/src/factory_almanac_v3.h
Labels: Backport

#19332 [Backport v2.9-branch] samples: bluetooth: nrf_auraconfig: Fix data in all BISes
  samples/bluetooth/nrf_auraconfig/src/nrf_auraconfig.c
Labels: changelog-entry-required, Backport

#19354 [Backport v2.9-branch] quarantine: new failures on native_sim
  scripts/quarantine_no_optimization.yaml
  scripts/quarantine_zephyr.yaml
Labels: changelog-entry-required, Backport

#19350 [Backport v2.9-branch] Bluetooth: Tester: remove unnecessary lightness server from composition
  tests/bluetooth/tester/src/model_handler.c
Labels: changelog-entry-required, Backport

#19171 fast_pair: Remove MRAM1x dependency for targets without Partition Manager
  cmake/sysbuild/fast_pair_hex.cmake
  subsys/bluetooth/services/fast_pair/fp_registration_data.c
Labels: changelog-entry-required

#19337 doc improvement: Add Thingy:91 X hardware guide and product page references
  applications/asset_tracker_v2/doc/sensor_module.rst
  doc/nrf/app_dev/device_guides/thingy91x/index.rst
  doc/nrf/gsg_guides.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable, backport v2.9-branch

#19342 doc: extensions: Add support for space delimited shields
  doc/_extensions/table_from_rows.py
Labels: doc-required, changelog-entry-required

#19368 quarantine: update wifi
  scripts/quarantine_zephyr.yaml
Labels: changelog-entry-required, backport v2.9-branch

#19369 [Backport v2.9-branch] quarantine: update wifi
  scripts/quarantine_zephyr.yaml
Labels: changelog-entry-required, Backport

#19353 [Backport v2.9-branch] manifest: Update sdk-connectedhomeip revision
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required, bugfix

#19076 doc: wayland: update for the extension release
  doc/nrf/app_dev/create_application.rst
  doc/nrf/installation/install_ncs.rst
  doc/nrf/test_and_optimize/debugging.rst
Labels: doc-required, CI-disable, doc only, backport v2.9-branch

#19375 samples: matter: smoke_co_alarm: Fix cluster revision
  samples/matter/smoke_co_alarm/src/default_zap/smoke_co_alarm.zap
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/endpoint_config.h
Labels: bugfix, backport v2.9-branch

#19376 quarantine: fix RPC server tests without optimizations
  scripts/quarantine_no_optimization.yaml
  tests/subsys/net/openthread/rpc/server/src/coap_suite.c
  tests/subsys/net/openthread/rpc/server/src/dataset_suite.c
  tests/subsys/nfc/rpc/server/src/t2t_suite.c
  tests/subsys/nfc/rpc/server/src/t4t_suite.c
Labels: changelog-entry-required

#19385 doc: fast_pair: Update software maturity tables for NCS 2.9.0
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, changelog-entry-required, doc only, backport v2.9-branch

#19323 doc improvement: wifi: Update memory footprint tables for 2.9
  doc/nrf/protocols/wifi/advanced_modes/mem_requirements_raw.rst
  doc/nrf/protocols/wifi/provisioning/mem_requirements_ble.rst
  doc/nrf/protocols/wifi/provisioning/mem_requirements_softap.rst
  doc/nrf/protocols/wifi/sap_mode/mem_requirements_sap.rst
  doc/nrf/protocols/wifi/scan_mode/mem_requirements_scan.rst
  doc/nrf/protocols/wifi/station_mode/mem_requirements_sta.rst
Labels: doc-required, CI-disable, changelog-entry-required, backport v2.9-branch

#19377 applications: nrf_desktop: Fix legacy multi-image ref in documentation
  applications/nrf_desktop/memory_layout.rst
Labels: doc-required, CI-disable, backport v2.9-branch

#19328 scripts: west_commands: ncs-provision locked key
  scripts/west_commands/ncs-provision.py
Labels: changelog-entry-required, bugfix, backport v2.9-branch

#19329 manifest: sdk-connectedhomeip: Update revision
  west.yml
Labels: bug, manifest, manifest-matter, changelog-entry-required

#19393 [Backport v2.9-branch] samples: matter: smoke_co_alarm: Fix cluster revision
  samples/matter/smoke_co_alarm/src/default_zap/smoke_co_alarm.zap
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/endpoint_config.h
Labels: changelog-entry-required, bugfix, Backport

#19382 nrf_security: Fix decrypt keys location check for nRF54H20
  subsys/nrf_security/src/psa_crypto_driver_wrappers.c
Labels: changelog-entry-required

#19387 doc: change description of using user's own manifests
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_suit_customize_dfu.rst
Labels: doc-required, changelog-entry-required

#19401 bluetooth: mesh: samples: Add changlog for mesh sample target support
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#19398 samples: Bluetooth: Mesh: increase HCI cmd buffers
  samples/bluetooth/mesh/ble_peripheral_lbs_coex/prj.conf
  samples/bluetooth/mesh/light/overlay-dfu.conf
Labels: changelog-entry-required, bugfix, backport v2.9-branch

#19418 doc: openthread: update OpenThread memory requirements
  doc/nrf/protocols/thread/overview/memory_tables/nrf52840.txt
  doc/nrf/protocols/thread/overview/memory_tables/nrf54l15.txt
Labels: doc-required, doc only, backport v2.9-branch

#18923 manifest: sdk-zephyr: [nrf fromtree] logging: frontends: stmesp: alternate message output o…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#19397 [Backport v2.9-branch] samples: matter: Fix some kconfig warninigs
  applications/matter_bridge/sysbuild/ipc_radio/prj.conf
  applications/matter_weather_station/prj.conf
  applications/matter_weather_station/prj_release.conf
  applications/matter_weather_station/sysbuild/ipc_radio/prj.conf
  samples/matter/light_bulb/sysbuild/ipc_radio/boards/nrf5340dk_nrf5340_cpunet.conf
  samples/matter/light_bulb/sysbuild/ipc_radio/boards/nrf7002dk_nrf5340_cpunet.conf
  samples/matter/light_switch/sysbuild/ipc_radio/boards/nrf5340dk_nrf5340_cpunet.conf
  samples/matter/light_switch/sysbuild/ipc_radio/boards/nrf7002dk_nrf5340_cpunet.conf
  samples/matter/lock/sysbuild/ipc_radio/boards/nrf5340dk_nrf5340_cpunet.conf
  samples/matter/lock/sysbuild/ipc_radio/boards/nrf5340dk_nrf5340_cpunet_thread_wifi_switched.conf
  samples/matter/lock/sysbuild/ipc_radio/boards/nrf7002dk_nrf5340_cpunet.conf
  samples/matter/lock/sysbuild/ipc_radio/boards/nrf7002dk_nrf5340_cpunet_nrf7001.conf
  samples/matter/smoke_co_alarm/sysbuild/ipc_radio/boards/nrf5340dk_nrf5340_cpunet.conf
  samples/matter/template/sysbuild/ipc_radio/boards/nrf5340dk_nrf5340_cpunet.conf
  samples/matter/template/sysbuild/ipc_radio/boards/nrf7002dk_nrf5340_cpunet.conf
  samples/matter/thermostat/sysbuild/ipc_radio/boards/nrf5340dk_nrf5340_cpunet.conf
  samples/matter/thermostat/sysbuild/ipc_radio/boards/nrf7002dk_nrf5340_cpunet.conf
  samples/matter/window_covering/sysbuild/ipc_radio/boards/nrf5340dk_nrf5340_cpunet.conf
  samples/matter/window_covering/sysbuild/ipc_radio/boards/nrf7002dk_nrf5340_cpunet.conf
Labels: bugfix, Backport

#19405 [Backport v2.9-branch] applications: nrf_desktop: Fix legacy multi-image ref in documentation
  applications/nrf_desktop/memory_layout.rst
Labels: doc-required, changelog-entry-required, Backport

#19409 net: lib: mqtt_helper: Fix mqtt_helper_connect() documentation
  include/net/mqtt_helper.h
Labels: doc only, backport v2.9-branch

#19392 lib: modem_key_mgmt: Add CME error code 527 - Invalid content
  lib/modem_key_mgmt/modem_key_mgmt.c
Labels: bug, changelog-entry-required, backport v2.9-branch

#19425 [Backport v2.9-branch] manifest: Update soc hwmv1 repo
  west.yml
Labels: manifest, changelog-entry-required, manifest-soc-hwmv1, Backport

#19390 doc: Move Thingy:53 under application development
  doc/_utils/redirects.py
  doc/_zoomin/ncs.tags.yml
  doc/nrf/app_dev.rst
  doc/nrf/app_dev/device_guides/nrf53/building_nrf53.rst
  doc/nrf/app_dev/device_guides/nrf53/features_nrf53.rst
  doc/nrf/app_dev/device_guides/nrf53/index.rst
  doc/nrf/app_dev/device_guides/thingy53/building_thingy53.rst
  doc/nrf/app_dev/device_guides/thingy53/images/thingy53_antenna_connections.svg
  doc/nrf/app_dev/device_guides/thingy53/index.rst
  doc/nrf/app_dev/device_guides/thingy53/thingy53_application_guide.rst
Labels: doc-required, CI-disable, backport v2.9-branch

#19437 [Backport v2.9-branch] lib: azure_iot_hub: Fix invalid message ID
  subsys/net/lib/azure_iot_hub/src/azure_iot_hub.c
  tests/subsys/net/lib/azure_iot_hub/iot_hub/src/azure_iot_hub_test.c
Labels: changelog-entry-required, Backport

#19421 ncs-provision lock-last policy
  scripts/west_commands/ncs-provision.py
Labels: changelog-entry-required, bugfix, 10-min-review, backport v2.9-branch

#19373 doc: Update software maturity tables with nRF54L05 and nRF54L10
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, CI-disable, changelog-entry-required, backport v2.9-branch

#19363 manifest: sdk-zephyr: [nrf noup] drivers: flash: Allow reading secure mem by nrf_rram.
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required, bugfix, backport v2.9-branch

#19429 suit: utils: Get rid of MRAM write mode setting
  subsys/suit/utils/src/suit_plat_mem_util.c
Labels: changelog-entry-required

#19338 doc: L05 and L10 target small adjustments
  doc/_utils/redirects.py
  doc/nrf/app_dev/device_guides/nrf54l/building_nrf54l.rst
  doc/nrf/app_dev/device_guides/nrf54l/features.rst
  doc/nrf/app_dev/device_guides/nrf54l/fota_update.rst
  doc/nrf/app_dev/device_guides/nrf54l/index.rst
  doc/nrf/app_dev/device_guides/nrf54l/kmu_provision.rst
  doc/nrf/app_dev/device_guides/nrf54l/testing_dfu.rst
  doc/nrf/app_dev/device_guides/nrf54l/vpr_flpr.rst
Labels: doc-required, CI-disable, doc only, backport v2.9-branch

#19439 doc: extensions: page_filter: fix script import snippet
  doc/_extensions/page_filter.py
Labels: bug, doc-required, changelog-entry-required

#19364 [Backport v2.9-branch] doc improvement: Add Thingy:91 X hardware guide and product page references
  applications/asset_tracker_v2/doc/sensor_module.rst
  doc/nrf/app_dev/device_guides/thingy91x/index.rst
  doc/nrf/gsg_guides.rst
  doc/nrf/links.txt
Labels: doc-required, changelog-entry-required, Backport

#19391 [Backport v2.9-branch] doc: wayland: update for the extension release
  doc/nrf/app_dev/create_application.rst
  doc/nrf/installation/install_ncs.rst
  doc/nrf/test_and_optimize/debugging.rst
Labels: doc-required, changelog-entry-required, Backport

#19432 [Backport v2.9-branch] doc: openthread: update OpenThread memory requirements
  doc/nrf/protocols/thread/overview/memory_tables/nrf52840.txt
  doc/nrf/protocols/thread/overview/memory_tables/nrf54l15.txt
Labels: doc-required, Backport

#19411 [Backport v2.9-branch] doc: changelog for 2.9.99
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, Backport

#19443 [Backport v2.9-branch] net: lib: mqtt_helper: Fix mqtt_helper_connect() documentation
  include/net/mqtt_helper.h
Labels: changelog-entry-required, Backport

#19444 [Backport v2.9-branch] lib: modem_key_mgmt: Add CME error code 527 - Invalid content
  lib/modem_key_mgmt/modem_key_mgmt.c
Labels: changelog-entry-required, Backport

#19448 sysbuild: nrf700x: Fix the FW blobs path
  cmake/sysbuild/nrf700x.cmake
Labels: changelog-entry-required, bugfix, backport v2.9-branch

#19419 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#19269 doc: fast_pair: Describe nRF54H20 support
  doc/nrf/external_comp/bt_fast_pair.rst
  doc/nrf/libraries/bluetooth/services/fast_pair.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  scripts/nrf_provision/fast_pair/README.rst
Labels: doc-required

#19217 doc: SUIT recovery button documentation
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_suit_recovery.rst
Labels: doc-required, changelog-entry-required

#19440 applications: nrf_desktop: Add CMake warning for MCUboot using KMU
  applications/nrf_desktop/sysbuild/CMakeLists.txt
Labels: backport v2.9-branch

#19396 doc: Bluetooth software maturity level update
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, CI-disable, changelog-entry-required, backport v2.9-branch

#18528 doc: devicetree: edits to driving gpio guide
  doc/nrf/app_dev/config_and_build/hardware/add_new_driver.rst
  doc/nrf/app_dev/config_and_build/hardware/index.rst
  doc/nrf/app_dev/config_and_build/hardware/use_gpio_pin_directly.rst
  doc/nrf/links.txt
  dts/bindings/gpio/nordic,gpio-pins.yaml
Labels: doc-required, CI-disable, doc only, backport v2.9-branch
