Repository nrfconnect/sdk-nrf, pull requests merged in 2024-09, with the labels that each got.

#17096 lib: location: Fix GNSS obstructed visibility detection
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/location/method_gnss.c
Labels: doc-required

#17073 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#17064 samples: matter: enable dual-bank dfu config for template on nRF54L15
  samples/matter/template/boards/nrf54l15pdk_nrf54l15_cpuapp_internal.conf
  samples/matter/template/boards/nrf54l15pdk_nrf54l15_cpuapp_internal.overlay
  samples/matter/template/pm_static_nrf54l15pdk_nrf54l15_cpuapp_internal.yml
  samples/matter/template/sample.yaml
Labels: changelog-entry-required

#17101 manifest: sdk-zephyr: nRF54l15DK board support
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#17091 nrf_rpc: Add OT udp api to nRF RPC.
  samples/nrf_rpc/protocols_serialization/client/src/ot_shell.c
  subsys/net/openthread/rpc/client/CMakeLists.txt
  subsys/net/openthread/rpc/client/ot_rpc_message_client.c
  subsys/net/openthread/rpc/client/ot_rpc_udp_client.c
  subsys/net/openthread/rpc/common/ot_rpc_common.c
  subsys/net/openthread/rpc/common/ot_rpc_common.h
  subsys/net/openthread/rpc/common/ot_rpc_ids.h
  subsys/net/openthread/rpc/common/ot_rpc_types.h
  subsys/net/openthread/rpc/server/CMakeLists.txt
  subsys/net/openthread/rpc/server/ot_rpc_message_server.c
  subsys/net/openthread/rpc/server/ot_rpc_message_server.h
  subsys/net/openthread/rpc/server/ot_rpc_udp_server.c
Labels: changelog-entry-required

#17114 manifest: openthread: update to \`d60aaab\`
  west.yml
Labels: manifest, manifest-openthread

#16980 doc: create_application: updates for repo app
  doc/nrf/app_dev/create_application.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable, doc only

#17028 Add SPI/TWI stability test
  CODEOWNERS
  scripts/ci/tags.yaml
  tests/benchmarks/i2c_endless/CMakeLists.txt
  tests/benchmarks/i2c_endless/Kconfig
  tests/benchmarks/i2c_endless/README.txt
  tests/benchmarks/i2c_endless/boards/nrf52840dk_nrf52840.conf
  tests/benchmarks/i2c_endless/boards/nrf52840dk_nrf52840.overlay
  tests/benchmarks/i2c_endless/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/benchmarks/i2c_endless/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/benchmarks/i2c_endless/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  tests/benchmarks/i2c_endless/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/benchmarks/i2c_endless/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  tests/benchmarks/i2c_endless/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  tests/benchmarks/i2c_endless/prj.conf
  tests/benchmarks/i2c_endless/src/main.c
  tests/benchmarks/i2c_endless/testcase.yaml
  tests/benchmarks/spi_endless/CMakeLists.txt
  tests/benchmarks/spi_endless/Kconfig
  tests/benchmarks/spi_endless/README.txt
  tests/benchmarks/spi_endless/boards/1mhz.overlay
  tests/benchmarks/spi_endless/boards/250khz.overlay
  tests/benchmarks/spi_endless/boards/2mhz.overlay
  tests/benchmarks/spi_endless/boards/4mhz.overlay
  tests/benchmarks/spi_endless/boards/500khz.overlay
  tests/benchmarks/spi_endless/boards/8mhz.overlay
  tests/benchmarks/spi_endless/boards/nrf52840dk_nrf52840.overlay
  tests/benchmarks/spi_endless/boards/nrf54h20dk_nrf54h20_common.dtsi
  tests/benchmarks/spi_endless/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/benchmarks/spi_endless/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  tests/benchmarks/spi_endless/prj.conf
  tests/benchmarks/spi_endless/src/main.c
  tests/benchmarks/spi_endless/testcase.yaml
Labels: changelog-entry-required

#17120 doc: 2_7_99-cs1 migration guide update
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7_99-cs1.rst
Labels: doc-required, CI-disable, changelog-entry-required

#16712 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#17008 manifest: sdk-zephyr: [nrf fromtree] twister: scripts: Split lines before processing
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#17040 samples: bluetooth: Move device name from ADV data to SCAN RSP data
  samples/bluetooth/multiple_adv_sets/prj.conf
  samples/bluetooth/multiple_adv_sets/src/main.c
  samples/bluetooth/peripheral_cgms/src/main.c
  samples/bluetooth/peripheral_power_profiling/src/main.c
Labels: changelog-entry-required

#16899 applications: nrf_desktop: Add DVFS module kconfig template
  applications/nrf_desktop/src/modules/Kconfig.dvfs
  applications/nrf_desktop/src/modules/Kconfig.dvfs_state_template
  applications/nrf_desktop/src/modules/dvfs.c
Labels: changelog-entry-required

#17099 samples: matter: Added smoke CO alarm sample
  doc/nrf/images/matter_qr_code_smoke_co_alarm.png
  doc/nrf/protocols/matter/end_product/test_event_triggers.rst
  doc/nrf/protocols/matter/getting_started/low_power_configuration.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/samples/matter.rst
  samples/matter/smoke_co_alarm/CMakeLists.txt
  samples/matter/smoke_co_alarm/Kconfig
  samples/matter/smoke_co_alarm/Kconfig.sysbuild
  samples/matter/smoke_co_alarm/README.rst
  samples/matter/smoke_co_alarm/VERSION
  samples/matter/smoke_co_alarm/boards/nrf52840dk_nrf52840.overlay
  samples/matter/smoke_co_alarm/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/smoke_co_alarm/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/matter/smoke_co_alarm/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  samples/matter/smoke_co_alarm/pm_static_nrf52840dk_nrf52840.yml
  samples/matter/smoke_co_alarm/pm_static_nrf5340dk_nrf5340_cpuapp.yml
  samples/matter/smoke_co_alarm/pm_static_nrf54l15pdk_nrf54l15_cpuapp.yml
  samples/matter/smoke_co_alarm/prj.conf
  samples/matter/smoke_co_alarm/prj_release.conf
  samples/matter/smoke_co_alarm/sample.yaml
  samples/matter/smoke_co_alarm/src/app_task.cpp
  samples/matter/smoke_co_alarm/src/app_task.h
  samples/matter/smoke_co_alarm/src/chip_project_config.h
  samples/matter/smoke_co_alarm/src/default_zap/smoke_co_alarm.zap
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/CHIPClientCallbacks.h
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/CHIPClusters.h
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/PluginApplicationCallbacks.h
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/access.h
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/callback-stub.cpp
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/endpoint_config.h
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/gen_config.h
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/gen_tokens.h
  samples/matter/smoke_co_alarm/src/main.cpp
  samples/matter/smoke_co_alarm/src/zcl_callbacks.cpp
  samples/matter/smoke_co_alarm/sysbuild.conf
  samples/matter/smoke_co_alarm/sysbuild/ipc_radio/boards/nrf5340dk_nrf5340_cpunet.conf
  samples/matter/smoke_co_alarm/sysbuild/ipc_radio/prj.conf
  samples/matter/smoke_co_alarm/sysbuild/ipc_radio/prj_release.conf
  samples/matter/smoke_co_alarm/sysbuild/mcuboot/app.overlay
  samples/matter/smoke_co_alarm/sysbuild/mcuboot/boards/nrf52840dk_nrf52840.conf
  samples/matter/smoke_co_alarm/sysbuild/mcuboot/boards/nrf52840dk_nrf52840.overlay
  samples/matter/smoke_co_alarm/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/matter/smoke_co_alarm/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/smoke_co_alarm/sysbuild/mcuboot/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/matter/smoke_co_alarm/sysbuild/mcuboot/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  samples/matter/smoke_co_alarm/sysbuild/mcuboot/prj.conf
  west.yml
Labels: doc-required, manifest, manifest-matter

#17121 drivers: mpsl: flash: Add uspport for nRF54L15DK to the driver
  drivers/mpsl/flash_sync/flash_sync_mpsl.c
Labels: CI-all-test, changelog-entry-required, CI-run-twister

#16997 cracen: Update platform key access checks for LCS
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/platform_keys/platform_keys.c
Labels: changelog-entry-required

#16879 manifest: sdk-zephyr: Remove child/parent configuration
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#16902 samples: radio_test: Add packet reception limit for start_rx command
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/peripheral/radio_test/Kconfig
  samples/peripheral/radio_test/README.rst
  samples/peripheral/radio_test/prj.conf
  samples/peripheral/radio_test/src/radio_cmd.c
  samples/peripheral/radio_test/src/radio_test.c
  samples/peripheral/radio_test/src/radio_test.h
Labels: doc-required

#17107 manifest: sdk-zephyr: hal_nordic: Add missing EGU instances
  subsys/nfc/lib/Kconfig
Labels: manifest-zephyr, changelog-entry-required

#17146 version: revert back to 2.7.99 after releasing CS1
  VERSION
Labels: changelog-entry-required

#17001 applications: nrf5340_audio: create CIG after read PACS
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_client.c
Labels: changelog-entry-required

#17102 doc: release_notes: nrf_desktop: describe HW ID changes for nRF54H20 DK
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, doc only

#17130 net: openthread: rpc: CoAP APIs serialization (part 1)
  subsys/net/openthread/rpc/client/CMakeLists.txt
  subsys/net/openthread/rpc/client/ot_rpc_coap_client.c
  subsys/net/openthread/rpc/common/ot_rpc_coap.h
  subsys/net/openthread/rpc/common/ot_rpc_common.c
  subsys/net/openthread/rpc/common/ot_rpc_common.h
  subsys/net/openthread/rpc/common/ot_rpc_ids.h
  subsys/net/openthread/rpc/server/CMakeLists.txt
  subsys/net/openthread/rpc/server/ot_rpc_coap_server.c
  subsys/net/openthread/rpc/server/ot_rpc_message_server.h
  tests/mocks/nrf_rpc/mock_nrf_rpc_transport.c
  tests/subsys/net/openthread/rpc/client/src/coap_suite.c
  tests/subsys/net/openthread/rpc/common/test_rpc_env.h
  tests/subsys/net/openthread/rpc/server/CMakeLists.txt
  tests/subsys/net/openthread/rpc/server/src/coap_suite.c
Labels: changelog-entry-required

#17133 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154

#16744 manifest: Bring TF-M with UART fixes
  west.yml
Labels: manifest, manifest-trusted-firmware-m, changelog-entry-required

#16819 dts: Bluetooth: Add new DTS binding for the SoftDevice Controller
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/app.overlay
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/app.overlay
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/app.overlay
  dts/bindings/bluetooth/nordic,bt-hci-sdc.yaml
  samples/bluetooth/direction_finding_central/sysbuild.cmake
  samples/bluetooth/direction_finding_connectionless_rx/sysbuild.cmake
  samples/bluetooth/direction_finding_connectionless_tx/sysbuild.cmake
  samples/bluetooth/direction_finding_peripheral/sysbuild.cmake
  samples/debug/ppi_trace/sysbuild.cmake
  subsys/bluetooth/controller/ecdh.c
  subsys/bluetooth/controller/hci_driver.c
  tests/drivers/nrfx_integration_test/testcase.yaml
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#17145 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#17037 samples: matter: update matter samples naming
  applications/matter_bridge/prj.conf
  applications/matter_bridge/prj_release.conf
  applications/matter_weather_station/prj.conf
  applications/matter_weather_station/prj_release.conf
  samples/matter/light_bulb/prj.conf
  samples/matter/light_bulb/prj_release.conf
  samples/matter/light_switch/prj.conf
  samples/matter/light_switch/prj_release.conf
  samples/matter/lock/prj.conf
  samples/matter/lock/prj_release.conf
  samples/matter/lock/prj_thread_wifi_switched.conf
  samples/matter/lock/sample.yaml
  samples/matter/template/prj.conf
  samples/matter/template/prj_release.conf
  samples/matter/template/sample.yaml
  samples/matter/thermostat/prj.conf
  samples/matter/thermostat/prj_release.conf
  samples/matter/window_covering/prj.conf
  samples/matter/window_covering/prj_release.conf
  scripts/quarantine_integration.yaml
Labels: changelog-entry-required

#17063 Bluetooth Fast Pair: Battery Notification extension Kconfig
  doc/nrf/external_comp/bt_fast_pair.rst
  doc/nrf/libraries/bluetooth_services/services/fast_pair.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/bluetooth/adv_prov/fast_pair.h
  include/bluetooth/services/fast_pair/fast_pair.h
  samples/bluetooth/fast_pair/input_device/prj.conf
  subsys/bluetooth/adv_prov/providers/Kconfig.fast_pair
  subsys/bluetooth/adv_prov/providers/fast_pair.c
  subsys/bluetooth/services/fast_pair/Kconfig.fast_pair
  subsys/bluetooth/services/fast_pair/fp_advertising.c
  subsys/bluetooth/services/fast_pair/use_case/Kconfig
Labels: doc-required

#16983 samples: matter: Multiple door lock's schedules refinements
  samples/matter/common/src/persistent_storage/Kconfig
  samples/matter/lock/Kconfig
  samples/matter/lock/src/access/access_data_types.cpp
  samples/matter/lock/src/access/access_data_types.h
  samples/matter/lock/src/access/access_manager_schedules.cpp
  samples/matter/lock/src/chip_project_config.h
Labels: changelog-entry-required

#17082 applications: nrf5340_audio: LE Audio Sent ZBUS event
  applications/nrf5340_audio/include/zbus_common.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_source.c
Labels: changelog-entry-required

#16217 doc: Update nRF9151 DK information and link
  applications/serial_lte_modem/doc/slm_description.rst
  doc/nrf/app_dev/device_guides/nrf70/index.rst
  doc/nrf/app_dev/device_guides/nrf70/nrf7002ek_dev_guide.rst
  doc/nrf/app_dev/device_guides/nrf91/images/cellularmonitor_navigationcertificatemanager_nrf9151.png
  doc/nrf/app_dev/device_guides/nrf91/images/cellularmonitor_open_serial_terminal_nrf9151.png
  doc/nrf/app_dev/device_guides/nrf91/images/cellularmonitor_selectdevice_nrf9151.png
  doc/nrf/app_dev/device_guides/nrf91/images/programmer_hex_write_nrf9151.png
  doc/nrf/app_dev/device_guides/nrf91/images/programmer_select_device_nrf9151.png
  doc/nrf/app_dev/device_guides/nrf91/images/programmerapp_modemdfu_nrf9151.png
  doc/nrf/app_dev/device_guides/nrf91/index.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_board_controllers.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_building.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_cloud_certificate.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_dk_updating_fw_programmer.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_features.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_testing_at_client.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_updating_fw_programmer.rst
  doc/nrf/includes/nrf_cloud_rest_sample_requirements.txt
  doc/nrf/libraries/modem/nrf_modem_lib/nrf_modem_lib_trace.rst
  doc/nrf/libraries/networking/nrf_cloud_coap.rst
  doc/nrf/links.txt
  doc/nrf/protocols/lte/index.rst
  doc/nrf/security/ap_protect.rst
  doc/nrf/test_and_optimize/optimizing/power_general.rst
  samples/cellular/lwm2m_client/fota.rst
  samples/cellular/nrf_cloud_multi_service/README.rst
  samples/cellular/udp/README.rst
Labels: doc-required, CI-disable

#17162 doc: updated 54H cs1 migration guide and gs.
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7_99-cs1.rst
Labels: doc-required, changelog-entry-required

#17174 samples: conn_time_sync: Fix typo in diagram
  doc/nrf/images/conn_time_sync_diagram.svg
Labels: doc-required, changelog-entry-required

#17124 samples: wifi: radio_test: Correct command output and order
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/wifi/radio_test/sample_description.rst
  samples/wifi/radio_test/src/nrf_wifi_radio_test_shell.c
Labels: doc-required

#17188 manifest: openthread: update to \`db63932\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#17184 Revert "dts: Bluetooth: Add new DTS binding for the SoftDevice Contro…
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/app.overlay
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/app.overlay
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/app.overlay
  dts/bindings/bluetooth/nordic,bt-hci-sdc.yaml
  samples/bluetooth/direction_finding_central/sysbuild.cmake
  samples/bluetooth/direction_finding_connectionless_rx/sysbuild.cmake
  samples/bluetooth/direction_finding_connectionless_tx/sysbuild.cmake
  samples/bluetooth/direction_finding_peripheral/sysbuild.cmake
  samples/debug/ppi_trace/sysbuild.cmake
  subsys/bluetooth/controller/ecdh.c
  subsys/bluetooth/controller/hci_driver.c
  tests/drivers/nrfx_integration_test/testcase.yaml
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#17163 susbsys: bluetooth: controller: Use new sync transfer mem define
  subsys/bluetooth/controller/hci_driver.c
Labels: changelog-entry-required

#17175 nrf_rpc: Implement OT ned data APIs.
  samples/nrf_rpc/protocols_serialization/client/src/ot_shell.c
  subsys/net/openthread/rpc/client/ot_rpc_ctrl_client.c
  subsys/net/openthread/rpc/common/ot_rpc_common.c
  subsys/net/openthread/rpc/common/ot_rpc_common.h
  subsys/net/openthread/rpc/common/ot_rpc_ids.h
  subsys/net/openthread/rpc/server/ot_rpc_ctrl_server.c
  tests/subsys/net/openthread/rpc/server/src/ctrl_suite.c
Labels: changelog-entry-required

#17192 manifest: sdk-nrfxlib: cmake: nrfxlib_calculate_lib_path common lib for nRF54L15 and nRF54L15_ENGA
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#17132 v2.6: drivers: wifi: Fix shell hang
  drivers/wifi/nrf700x/src/shim.c
Labels: changelog-entry-required

#16995 Oct 3112 broadcast configuration tool missing documentation
  CODEOWNERS
  doc/nrf/links.txt
  samples/bluetooth/broadcast_config_tool/CMakeLists.txt
  samples/bluetooth/broadcast_config_tool/Kconfig
  samples/bluetooth/broadcast_config_tool/Kconfig.sysbuild
  samples/bluetooth/broadcast_config_tool/README.rst
  samples/bluetooth/broadcast_config_tool/include/broadcast_config_tool.h
  samples/bluetooth/broadcast_config_tool/prj.conf
  samples/bluetooth/broadcast_config_tool/src/main.c
  samples/bluetooth/broadcast_config_tool/sysbuild/ipc_radio/prj.conf
Labels: doc-required, changelog-entry-required

#17205 doc: nrf: add entries for nRF54L15DK
  doc/nrf/includes/sample_board_rows.txt
Labels: doc-required, CI-disable, changelog-entry-required

#17186 net: openthread: rpc: otCoAP API serialization p.2
  samples/nrf_rpc/protocols_serialization/client/src/ot_shell.c
  subsys/net/openthread/rpc/Kconfig
  subsys/net/openthread/rpc/client/ot_rpc_coap_client.c
  subsys/net/openthread/rpc/common/ot_rpc_common.c
  subsys/net/openthread/rpc/common/ot_rpc_common.h
  subsys/net/openthread/rpc/common/ot_rpc_ids.h
  subsys/net/openthread/rpc/common/ot_rpc_types.h
  subsys/net/openthread/rpc/server/ot_rpc_coap_server.c
  tests/subsys/net/openthread/rpc/client/src/coap_suite.c
  tests/subsys/net/openthread/rpc/common/test_rpc_env.h
  tests/subsys/net/openthread/rpc/server/src/coap_suite.c
Labels: changelog-entry-required

#17182 lib: sms: Use AT+CMMS with concatenated SMS
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/sms/sms_submit.c
  tests/lib/sms/src/sms_test.c
Labels: doc-required

#17190 manifest: sdk-zephyr: [nrf fromtree] tests: drivers: Allow configurable i2c speed for bme68…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#17128 BLE connection params setting by bridge
  applications/matter_bridge/doc/matter_bridge_description.rst
  samples/matter/common/src/bridge/Kconfig
  samples/matter/common/src/bridge/ble_connectivity_manager.cpp
  samples/matter/common/src/bridge/ble_connectivity_manager.h
Labels: doc-required, changelog-entry-required

#17208 manifest: sdk-zephyr: [nrf fromlist] boards: nordic: nrf54l15dk: enable HWFC
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#17215 esb: Add support for nRF54L15DK
  samples/esb/esb_prx/sample.yaml
  samples/esb/esb_prx/src/main.c
  samples/esb/esb_ptx/src/main.c
Labels: changelog-entry-required

#17178 manifest: sdk-zephyr: [nrf fromtree] tests: drivers: Extend coverage for NRF GRTC timer
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#17196 doc: tab fix for mesh light switch sample
  samples/bluetooth/mesh/light_switch/README.rst
Labels: doc-required, changelog-entry-required

#17185 doc: Add nRF9151 comp matrix ref links
  doc/nrf/app_dev/device_guides/nrf91/nrf91_features.rst
  doc/nrf/app_dev/device_guides/nrf91/thingy91_updating_fw_programmer.rst
  doc/nrf/libraries/bin/lwm2m_carrier/CHANGELOG.rst
  doc/nrf/libraries/bin/lwm2m_carrier/certification.rst
  doc/nrf/libraries/bin/lwm2m_carrier/index.rst
  doc/nrf/libraries/networking/nrf_cloud_coap.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#17166 manifest: sdk-zephyr: Downmerge nrf54l15bsim upd
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#17066 samples: cellular: nrf_cloud_multi_service: Thingy91:X Wi-Fi
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_multi_service/Kconfig.sysbuild
  samples/cellular/nrf_cloud_multi_service/README.rst
  samples/cellular/nrf_cloud_multi_service/boards/thingy91x_nrf9151_ns.conf
  samples/cellular/nrf_cloud_multi_service/boards/thingy91x_nrf9151_ns.overlay
Labels: doc-required

#16994 partition_manager: Move ns storage partitions for nRF54L15
  subsys/partition_manager/pm.yml.nvs
  subsys/partition_manager/pm.yml.settings
Labels: changelog-entry-required

#17219 manifest: Update suit-generator revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-suit-generator

#17094 net: openthread: Introduce OpenThread build report for NCS
  doc/nrf/protocols/thread/certification.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/CMakeLists.txt
  subsys/net/openthread/Kconfig
  subsys/net/openthread/report/CMakeLists.txt
  subsys/net/openthread/report/Kconfig
  subsys/net/openthread/report/report_generation_utils.cmake
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib

#16975 scripts: tag_west_repos: make tags optional
  scripts/tag_west_repos.sh
Labels: changelog-entry-required

#17165 BLE and Thread coex
  applications/matter_bridge/doc/matter_bridge_description.rst
  doc/nrf/protocols/multiprotocol/index.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#17247 ci: doc: align Zoomin zip names with bundle names
  .github/workflows/docbuild.yml
  .github/workflows/docpublish.yml
Labels: Hotfix, changelog-entry-required

#17241 tests: drivers: Run i2c bme688 test with all supported i2c speeds
  scripts/twister/alt/zephyr/tests/drivers/i2c/i2c_bme688/testcase.yaml
Labels: changelog-entry-required

#17220 samples: radio_test: Align shortcuts for the nRF54 series
  samples/peripheral/radio_test/src/radio_test.c
Labels: changelog-entry-required

#17236 samples: radio_notification_callback: Fix building empty app core
  samples/bluetooth/radio_notification_cb/Kconfig.sysbuild
Labels: changelog-entry-required

#17197 manifest: sdk-zephyr: logging: Add support for standalone using STMESP frontend on nrf54h20
  scripts/requirements-build.txt
  scripts/requirements-fixed.txt
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#17257 samples: matter: Enabled ICD management cluster for smoke co alarm
  samples/matter/smoke_co_alarm/src/default_zap/smoke_co_alarm.zap
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/PluginApplicationCallbacks.h
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/access.h
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/callback-stub.cpp
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/endpoint_config.h
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/gen_config.h
Labels: changelog-entry-required

#17252 doc: Bluetooth: Fix typo in the header
  doc/nrf/protocols/bt/bt_stack_arch.rst
Labels: doc-required, 10-min-review

#17209 nrf_rpc: enable zcbor stop_on_error flag for decoding
  subsys/net/openthread/rpc/common/ot_rpc_common.c
  subsys/nrf_rpc/nrf_rpc_serialize.c
  tests/subsys/net/openthread/rpc/server/prj.conf
  tests/subsys/net/openthread/rpc/server/src/cmsng_suite.c
  tests/subsys/nfc/rpc/server/prj.conf
  tests/subsys/nfc/rpc/server/src/t2t_suite.c
  tests/subsys/nfc/rpc/server/src/t4t_suite.c
  west.yml
Labels: manifest, manifest-nrfxlib

#17194 manifest: sdk-connectedhomeip: Update revision
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#17267 scripts: quarantine_zephyr: add sample.drivers.spi.flash
  scripts/quarantine_zephyr.yaml
Labels: changelog-entry-required

#17198 dts: Bluetooth: Add new DTS binding for the SoftDevice Controller (2)
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/app.overlay
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/app.overlay
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/app.overlay
  dts/bindings/bluetooth/nordic,bt-hci-sdc.yaml
  samples/bluetooth/direction_finding_central/sysbuild.cmake
  samples/bluetooth/direction_finding_connectionless_rx/sysbuild.cmake
  samples/bluetooth/direction_finding_connectionless_tx/sysbuild.cmake
  samples/bluetooth/direction_finding_peripheral/sysbuild.cmake
  samples/debug/ppi_trace/sysbuild.cmake
  subsys/bluetooth/controller/ecdh.c
  subsys/bluetooth/controller/hci_driver.c
  tests/drivers/nrfx_integration_test/testcase.yaml
  west.yml
Labels: manifest, manifest-zephyr, CI-all-test, changelog-entry-required

#17279 tests: drivers: Remove unsupported i2c speed for bme688 with nrf54l15dk
  scripts/twister/alt/zephyr/tests/drivers/i2c/i2c_bme688/testcase.yaml
Labels: changelog-entry-required

#17288 manifest: zephyr: Update PR ref with SHA
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#17265 manifest: sdk-zephyr: [nrf fromtree] tests: bsim: run_parallel: Avoid escape sequences in xml
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#17234 boards: shields: pca63565: Update sensor board overlay
  boards/shields/pca63565/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  boards/shields/pca63565/boards/nrf54l15dk_nrf54l15_cpuflpr.overlay
  boards/shields/pca63565/boards/nrf54l15dk_nrf54l15_vpr_launcher.overlay
  boards/shields/pca63565/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  boards/shields/pca63565/boards/nrf54l15pdk_nrf54l15_cpuflpr.overlay
  boards/shields/pca63565/boards/nrf54l15pdk_nrf54l15_vpr_launcher.overlay
Labels: changelog-entry-required

#17289 manifest: openthread: update to \`2aeb8b8\`
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#17270 samples: 802154_phy_test: Remove nrf54l15pdk support
  samples/peripheral/802154_phy_test/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/peripheral/802154_phy_test/sample.yaml
Labels: changelog-entry-required

#17071 samples: common: mcumgr_bt_ota_dfu Remove setting QSPI driver
  samples/common/mcumgr_bt_ota_dfu/Kconfig
Labels: CI-all-test, changelog-entry-required

#17117 mpsl: Add CONFIG_MPSL_HFCLK_LATENCY
  subsys/mpsl/init/Kconfig
  subsys/mpsl/init/mpsl_init.c
Labels: changelog-entry-required

#17286 samples: Fix warnings in smp_transfer sample
  samples/suit/smp_transfer/prj.conf
  samples/suit/smp_transfer/sysbuild/smp_transfer.conf
  samples/suit/smp_transfer/sysbuild/smp_transfer_bt.conf
Labels: changelog-entry-required

#17293 manifest: sdk-zephyr: [nrf fromtree] samples: drivers: Enable SPI MEMORY driver samples for…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#16796 doc: 54H custom pcb guide update
  doc/nrf/app_dev/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_custom_pcb.rst
  doc/nrf/links.txt
Labels: doc-required, changelog-entry-required

#17303 openthread: samples: Enable nrf54L15 tcat support.
  samples/openthread/cli/snippets/tcat/tcat.conf
  subsys/net/openthread/Kconfig.defconfig
Labels: changelog-entry-required

#17170 tests: benchmarks: multicore: idle: Add GPIO wake-up manner
  tests/benchmarks/multicore/idle/README.rst
  tests/benchmarks/multicore/idle_gpio/CMakeLists.txt
  tests/benchmarks/multicore/idle_gpio/Kconfig.sysbuild
  tests/benchmarks/multicore/idle_gpio/README.rst
  tests/benchmarks/multicore/idle_gpio/boards/nrf54h20dk_nrf54h20_cpuapp_s2ram.overlay
  tests/benchmarks/multicore/idle_gpio/prj.conf
  tests/benchmarks/multicore/idle_gpio/prj_s2ram.conf
  tests/benchmarks/multicore/idle_gpio/remote/CMakeLists.txt
  tests/benchmarks/multicore/idle_gpio/remote/boards/nrf54h20dk_nrf54h20_cpurad_s2ram.overlay
  tests/benchmarks/multicore/idle_gpio/remote/prj.conf
  tests/benchmarks/multicore/idle_gpio/remote/prj_s2ram.conf
  tests/benchmarks/multicore/idle_gpio/src/main.c
  tests/benchmarks/multicore/idle_gpio/sysbuild.cmake
  tests/benchmarks/multicore/idle_gpio/sysbuild/nrf54h20dk_nrf54h20_cpurad.conf
  tests/benchmarks/multicore/idle_gpio/testcase.yaml
Labels: doc-required, changelog-entry-required

#17274 samples: wifi: Increase stack size in sample
  samples/wifi/ble_coex/prj.conf
  samples/wifi/promiscuous/prj.conf
  samples/wifi/raw_tx_packet/prj.conf
  samples/wifi/shell/overlay-zperf.conf
  samples/wifi/shell/prj.conf
  samples/wifi/softap/prj.conf
  samples/wifi/sta/prj.conf
  samples/wifi/thread_coex/prj.conf
  samples/wifi/throughput/prj.conf
  samples/wifi/twt/prj.conf
  samples/wifi/wfa_qt_app/prj.conf
Labels: changelog-entry-required

#17260 boards: nrf54h20dk: Fix settings partition
  boards/shields/nrf700x_nrf54h20dk/nrf700x_nrf54h20dk.overlay
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#17262 samples: matter: set External Flash to sleep at init
  samples/matter/common/src/app/matter_init.cpp
  samples/matter/common/src/dfu/ota/ota_util.cpp
  samples/matter/common/src/dfu/ota/ota_util.h
  samples/matter/common/src/dfu/smp/dfu_over_smp.cpp
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#17306 applications: nrf5340_audio: Toggle stream sent event with kconfig
  applications/nrf5340_audio/broadcast_sink/main.c
  applications/nrf5340_audio/broadcast_source/main.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/Kconfig
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_source.c
  applications/nrf5340_audio/unicast_client/main.c
  applications/nrf5340_audio/unicast_server/main.c
  samples/bluetooth/broadcast_config_tool/prj.conf
Labels: changelog-entry-required

#16849 doc: Add SUIT DFU API group
  doc/nrf/libraries/dfu/suit_dfu.rst
  doc/nrf/links.txt
  include/dfu/suit_dfu.h
  include/dfu/suit_dfu_fetch_source.h
  include/sdfw/sdfw_services/suit_service.h
Labels: doc-required, changelog-entry-required

#16827 doc: nrf: lib: modem_key_mgmt: Add code examples
  doc/nrf/libraries/modem/modem_key_mgmt.rst
Labels: doc-required, changelog-entry-required

#17311 manifest: update Sidewalk revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-sidewalk

#17314 manifest: connectedhomeip: Update revision
  samples/matter/light_switch/snippets/lit_icd/lit_icd.conf
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#17224 samples: bluetooth: peripehral_uart: All to run complete sample on nRF54H20 radio core
  samples/bluetooth/peripheral_uart/README.rst
  samples/bluetooth/peripheral_uart/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/bluetooth/peripheral_uart/boards/nrf54h20dk_nrf54h20_cpurad.overlay
Labels: doc-required, changelog-entry-required

#17304 manifest: sdk-zephyr: [nrf fromtree] tests: drivers: Verify NRF GPIO driver with GPIO_NRFX_…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#17325 doc: openthread: reword build report documentation
  doc/nrf/protocols/thread/certification.rst
Labels: doc-required

#16859 doc: programming: expand --recover info
  applications/nrf5340_audio/doc/building.rst
  doc/nrf/app_dev/device_guides/nrf53/building_nrf53.rst
  doc/nrf/app_dev/programming.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable, doc only

#17318 samples: suit: Fixed dts overlays - incorrect UICR generation
  samples/suit/smp_transfer/sysbuild/hci_ipc.overlay
  samples/suit/smp_transfer/sysbuild/nrf54h20dk_nrf54h20_memory_map.dtsi
  samples/suit/smp_transfer/sysbuild/recovery_hci_ipc.overlay
Labels: changelog-entry-required

#17221 doc: update docs for 2.6.2
  doc/nrf/conf.py
  doc/nrf/dev_model_and_contributions/adding_code.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.6.2.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required

#17338 boards: thingy91x: replace bmm150 with bmm350
  boards/nordic/thingy91x/thingy91x_common.dtsi
Labels: changelog-entry-required

#17339 boards: thingy91x: use nrfutil runner
  boards/nordic/thingy91x/board.cmake
Labels: changelog-entry-required

#17116 manifest: sdk-connectedhomeip: Update revision
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#17329 manifest: Update suit-generator revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-suit-generator

#17346 manifest: NCS 2.6.2
  west.yml
Labels: manifest, manifest-zephyr, manifest-nrfxlib, manifest-mcuboot, manifest-trusted-firmware-m, manifest-nrf-802154, manifest-find-my, manifest-matter, changelog-entry-required, manifest-mbedtls, manifest-sidewalk

#17299 doc: Add 2.6.2 release to main
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.7.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.6.2.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.7.0.rst
  doc/versions.json
Labels: doc-required, changelog-entry-required

#17342 doc: Matter Bridge documentation enhancement
  applications/matter_bridge/doc/matter_bridge_description.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#17312 samples: cellular: modem_shell: Add commands for modem init and shutdown
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/modem_shell/src/link/link_shell.c
Labels: doc-required

#17287 mgmt: Extension of SUIT-Firmware-Update service
  subsys/mgmt/suitfu/Kconfig
  subsys/mgmt/suitfu/src/suitfu_mgmt_img.c
Labels: changelog-entry-required

#17349 doc: added known issue entry for QSPI fault during DFU SMP
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#17151 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#16996 doc: update tag file with respect to structure changes
  doc/_zoomin/ncs.tags.yml
Labels: doc-required, changelog-entry-required

#17104 net: nrf_cloud: DNS Improvements
  applications/serial_lte_modem/prj.conf
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/modem_shell/overlay-non-offloading.conf
  samples/cellular/modem_shell/overlay-nrf700x-wifi-scan-only.conf
  samples/cellular/modem_shell/overlay-ppp.conf
  samples/cellular/modem_shell/prj.conf
  subsys/net/lib/nrf_cloud/CMakeLists.txt
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_coap
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_mqtt
  subsys/net/lib/nrf_cloud/coap/src/nrf_cloud_coap_transport.c
  subsys/net/lib/nrf_cloud/include/nrf_cloud_dns.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_dns.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_transport.c
Labels: doc-required

#17345 manifest: Updated Matter repository to pull commissioning fix
  doc/nrf/releases_and_maturity/known_issues.rst
  west.yml
Labels: doc-required, manifest, manifest-matter, changelog-entry-required

#17328 manifest: sdk-connectedhomeip: Update revision
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#17183 samples: wifi: thread_coex: Readme update
  samples/wifi/thread_coex/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#17360 samples: Add UART overlay in extflash builds
  samples/suit/smp_transfer/sample.yaml
Labels: changelog-entry-required

#17258 samples: radio_test: Fix shortcut configuration for nRF52 and nRF53
  samples/peripheral/radio_test/src/radio_test.c
Labels: changelog-entry-required

#17255 boards: thingy91x: fix external_flash static partition
  boards/nordic/thingy91x/thingy91x_nrf9151_pm_static.yml
Labels: changelog-entry-required

#17373 manifest: update zephyr with latest DVFS oppoint data
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#17372 manifest: sdk-zephyr: manifest: update hal_nordic revision with DVFS oppoint update
  subsys/dfu/fmfu_fdev/Kconfig
Labels: manifest, manifest-zephyr, changelog-entry-required

#17375 tests: lib: date_time: Convert tests to use Unity
  tests/lib/date_time/CMakeLists.txt
  tests/lib/date_time/Kconfig
  tests/lib/date_time/prj.conf
  tests/lib/date_time/src/main.c
  tests/lib/date_time/testcase.yaml
Labels: changelog-entry-required

#17327 CODEOWNERS: Overhaul in order to enable required reviews
  CODEOWNERS
Labels: changelog-entry-required

#17283 samples: bluetooth: fix peripheral hr coded
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/peripheral_hr_coded/src/main.c
Labels: doc-required

#17397 tools: Python 3.12 - Mac & Windows
  scripts/requirements-ci.txt
  scripts/requirements-fixed.txt
  scripts/tools-versions-darwin.yml
  scripts/tools-versions-linux.yml
  scripts/tools-versions-win10.yml
Labels: changelog-entry-required

#17340 applications: nrf5340_audio: Fix incorrect string copy in LC3 streamer
  applications/nrf5340_audio/src/modules/lc3_streamer.c
  tests/nrf5340_audio/lc3_streamer/src/main.c
Labels: changelog-entry-required

#17337 tests: benchmarks: multicore: idle_gpio: add wakeups from uart rx pin
  CODEOWNERS
  tests/benchmarks/multicore/idle_gpio/boards/nrf54h20dk_nrf54h20_cpuapp_s2ram.overlay
  tests/benchmarks/multicore/idle_gpio/boards/wakeup_from_uart_pins.overlay
  tests/benchmarks/multicore/idle_gpio/remote/boards/nrf54h20dk_nrf54h20_cpurad_s2ram.overlay
  tests/benchmarks/multicore/idle_gpio/remote/boards/wakeup_from_uart_pins.overlay
  tests/benchmarks/multicore/idle_gpio/src/main.c
  tests/benchmarks/multicore/idle_gpio/testcase.yaml
Labels: changelog-entry-required

#17282 doc: quick start for nrf54l15
  CODEOWNERS
  doc/_utils/redirects.py
  doc/_zoomin/ncs.tags.yml
  doc/nrf/app_dev.rst
  doc/nrf/app_dev/device_guides/nrf54l/features.rst
  doc/nrf/app_dev/device_guides/nrf54l/index.rst
  doc/nrf/app_dev/device_guides/nrf54l/peripheral_sensor_node_shield.rst
  doc/nrf/app_dev/device_guides/nrf54l/testing_dfu.rst
  doc/nrf/app_dev/device_guides/working_with_nrf/nrf54l/nrf54l15_gs.rst
  doc/nrf/gsg_guides.rst
  doc/nrf/gsg_guides/gsg_other.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#17343 samples: bluetooth: peripheral_uart: Add nrf54h20 cpurad to sample.yaml
  samples/bluetooth/peripheral_uart/sample.yaml
Labels: changelog-entry-required

#17361 manifest: sdk-zephyr: [nrf fromlist] logging: STM fixes
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#17387 lib: at_shell: Add optional multiline support
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/at_shell/Kconfig
  lib/at_shell/at_shell.c
  subsys/net/lib/nrf_cloud/Kconfig
Labels: doc-required

#17405 suit: Modified recovery to use sysbuild
  cmake/sysbuild/suit.cmake
  config/suit/templates/nrf54h20/default/v1/app_recovery_envelope.yaml.jinja2
  config/suit/templates/nrf54h20/default/v1/rad_recovery_envelope.yaml.jinja2
  samples/suit/recovery/Kconfig
  samples/suit/recovery/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/suit/recovery/prj.conf
  samples/suit/recovery/sysbuild.cmake
  samples/suit/recovery/sysbuild.conf
  samples/suit/recovery/sysbuild/hci_ipc.conf
  samples/suit/smp_transfer/sysbuild/hci_ipc.conf
  sysbuild/Kconfig.suit
  sysbuild/suit.cmake
Labels: changelog-entry-required

#17414 manifest: sdk-nrfxlib: openthread: calculate lib with
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#17187 applications: nrf5340_audio: Audio Module Template
  CODEOWNERS
  include/audio/audio_module_template.h
  scripts/ci/tags.yaml
  subsys/CMakeLists.txt
  subsys/Kconfig
  subsys/audio/audio_module_template/CMakeLists.txt
  subsys/audio/audio_module_template/Kconfig
  subsys/audio/audio_module_template/audio_module_template.c
  tests/subsys/audio/audio_module_template/CMakeLists.txt
  tests/subsys/audio/audio_module_template/prj.conf
  tests/subsys/audio/audio_module_template/src/main.c
  tests/subsys/audio/audio_module_template/src/template_test.c
  tests/subsys/audio/audio_module_template/testcase.yaml
  tests/subsys/audio_module/src/audio_module_test_common.c
Labels: changelog-entry-required

#17432 docker: Update nrfutil device and JLink
  scripts/docker/Dockerfile
Labels: changelog-entry-required

#17396 doc improvement: Updates to lwm2m carrier lib msc
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_deferred.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_deferred_bs.svg
  doc/nrf/libraries/bin/lwm2m_carrier/images/lwm2m_carrier_msc_fota_fail_crc.svg
  doc/nrf/libraries/bin/lwm2m_carrier/msc.rst
Labels: doc-required, CI-disable, changelog-entry-required

#17336 doc: Added ABI compatibility doc page
  doc/nrf/releases_and_maturity.rst
  doc/nrf/releases_and_maturity/abi_compatibility.rst
Labels: doc-required, changelog-entry-required

#17433 manifest: sdk-nrfxlib: openthread: fix nrf5340 lib path
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#17135 samples: broadcast_config_tool: Stream LC3 files
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_source.c
  applications/nrf5340_audio/src/modules/Kconfig
  applications/nrf5340_audio/src/modules/lc3_file.c
  applications/nrf5340_audio/src/modules/lc3_streamer.c
  applications/nrf5340_audio/src/modules/sd_card_playback.c
  samples/bluetooth/broadcast_config_tool/CMakeLists.txt
  samples/bluetooth/broadcast_config_tool/README.rst
  samples/bluetooth/broadcast_config_tool/prj.conf
  samples/bluetooth/broadcast_config_tool/src/main.c
  tests/nrf5340_audio/lc3_streamer/CMakeLists.txt
Labels: doc-required, changelog-entry-required

#17425 suit: Do not write padding data
  subsys/suit/cache/src/suit_dfu_cache_rw.c
Labels: changelog-entry-required

#17447 applications: nrf_desktop: Fix USB next HID configuration
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/app_mcuboot_qspi.overlay
Labels: 10-min-review

#17292 lib: nrf_fuel_gauge: Update nrf fuel gauge
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/pmic/native/npm1300_fuel_gauge/README.rst
  samples/pmic/native/npm1300_fuel_gauge/nrf52840dk_nrf52840.overlay
  samples/pmic/native/npm1300_fuel_gauge/nrf52dk_nrf52832.overlay
  samples/pmic/native/npm1300_fuel_gauge/nrf5340dk_nrf5340_cpuapp.overlay
  samples/pmic/native/npm1300_fuel_gauge/nrf54l15dk_nrf54l15_cpuapp.overlay
  samples/pmic/native/npm1300_fuel_gauge/nrf9160dk_nrf9160.overlay
  samples/pmic/native/npm1300_fuel_gauge/prj.conf
  samples/pmic/native/npm1300_fuel_gauge/src/fuel_gauge.c
  samples/pmic/native/npm1300_fuel_gauge/src/fuel_gauge.h
  samples/pmic/native/npm1300_fuel_gauge/src/main.c
  tests/lib/nrf_fuel_gauge/src/nrf_fuel_gauge_test.c
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib

#17415 samples: broadcast_config_tool: Add sample.yaml
  samples/bluetooth/broadcast_config_tool/sample.yaml
Labels: changelog-entry-required

#17389 doc: nrf: app_dev: bootloaders_dfu: Fix QSPI nRF91 mention
  doc/nrf/app_dev/bootloaders_dfu/qspi_xip_split_image.rst
Labels: doc-required, doc only

#17454 CODEOWNERS tweaks
  CODEOWNERS
Labels: changelog-entry-required

#15624 lib: pdn: destroy context on CFUN 0
  applications/asset_tracker_v2/src/modules/modem_module.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/modem/pdn.h
  lib/nrf_modem_lib/lte_net_if/lte_net_if.c
  lib/pdn/pdn.c
  samples/cellular/modem_shell/src/link/link_shell_pdn.c
  samples/cellular/pdn/src/main.c
  tests/lib/pdn/CMakeLists.txt
  tests/lib/pdn/src/main.c
Labels: doc-required

#17374 doc: add mcumgr docs
  doc/nrf/app_dev/bootloaders_dfu/dfu_tools_mcumgr_cli.rst
  doc/nrf/app_dev/bootloaders_dfu/index.rst
  doc/nrf/app_dev/device_guides/nrf53/serial_recovery.rst
  doc/nrf/links.txt
  doc/nrf/protocols/bt/bt_mesh/dfu_over_bt_mesh.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/mesh/dfu/distributor/README.rst
Labels: doc-required, CI-disable

#17195 doc: Make all the tables in SML page manual
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, changelog-entry-required

#17348 doc: installation: J-Link explicit mention
  doc/nrf/app_dev/device_guides/working_with_nrf/nrf54h/ug_nrf54h20_gs.rst
  doc/nrf/installation/install_ncs.rst
  doc/nrf/installation/recommended_versions.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/migration/2.4.99-cs3_to_2.6.99-cs2/migration_guide_2.4.99-cs3_to_2.6.99-cs2_environment.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/migration_guide_2.6.99-cs2_to_2_7_environment.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/transition_guide_2.4.99-cs3_to_2.7_environment.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable, doc only

#17390 cmake: sysbuild: signing: Fix DirectXIP signing with confirmation
  cmake/sysbuild/image_signing.cmake
Labels: changelog-entry-required

#17418 bluetooth: controller: print an error message if the event is too big
  subsys/bluetooth/controller/hci_driver.c
Labels: changelog-entry-required

#17382 lib: lte_link_control: Add RAI notification support
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/modem/lte_lc.h
  lib/lte_link_control/lte_lc.c
  lib/lte_link_control/lte_lc_helpers.c
  lib/lte_link_control/lte_lc_helpers.h
  lib/lte_link_control/lte_lc_modem_hooks.c
  samples/cellular/modem_shell/src/link/link.c
  samples/cellular/udp/src/main.c
  tests/lib/lte_lc/CMakeLists.txt
  tests/lib/lte_lc/prj.conf
  tests/lib/lte_lc_api/src/lte_lc_api_test.c
Labels: doc-required

#17470 manifest: sdk-zephyr: [nrf noup] test-spec: update CI-test-low-level
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required
