Repository nrfconnect/sdk-nrf, pull requests merged in 2025-10, with the labels that each got.

#24699 samples: matter: Align mfg sample to Matter Cluster tool.
  doc/nrf/protocols/matter/getting_started/custom_clusters.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  samples/matter/manufacturer_specific/src/default_zap/NordicDevKitCluster.xml
  samples/matter/manufacturer_specific/src/default_zap/manufacturer_specific.matter
  samples/matter/manufacturer_specific/src/default_zap/manufacturer_specific.zap
  samples/matter/manufacturer_specific/src/default_zap/zap-generated/endpoint_config.h
  samples/matter/manufacturer_specific/src/default_zap/zcl.json
  west.yml
Labels: doc-required, manifest, manifest-matter, changelog-entry-required, CI-limit-jobs

#24640 applications: nrf_desktop: adapt dfu_mcumgr to the nRF54H20 DFU solution
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/prj.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/prj_release.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpurad/images/ipc_radio/prj.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpurad/images/ipc_radio/prj_release.conf
  applications/nrf_desktop/src/modules/Kconfig.dfu_mcumgr
  applications/nrf_desktop/src/modules/dfu_mcumgr.c
Labels: changelog-entry-required

#24600 samples: nrf_rpc: fix config name
  samples/nrf_rpc/protocols_serialization/client/src/bt_test_shell.c
Labels: changelog-entry-required

#24774 quarantine: Add quarantine for machine learning
  scripts/quarantine.yaml
  scripts/quarantine_zephyr.yaml
Labels: changelog-entry-required

#24651 doc: jlink: update to 8.66
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable, doc only

#24736 manifest: sdk-zephyr: [nrf fromlist] manifest: Update hal_nordic to pull latest mdk 8.72.4
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#24827 samples: dfu_multi_image: Add success log for write operations
  samples/dfu/dfu_multi_image/src/dfu_multi_image_shell.c
Labels: changelog-entry-required

#24831 samples: dfu_target: Add success log for write operations
  samples/dfu/dfu_target/src/dfu_target_shell.c
Labels: changelog-entry-required

#24829 tests: drivers: pwm: Add nRF7120 to platform allow list
  tests/drivers/pwm/pwm_instances/testcase.yaml
  tests/zephyr/drivers/pwm/pwm_gpio_loopback/boards/nrf7120pdk_nrf7120_cpuapp.conf
  tests/zephyr/drivers/pwm/pwm_gpio_loopback/boards/nrf7120pdk_nrf7120_cpuapp.overlay
  tests/zephyr/drivers/pwm/pwm_gpio_loopback/testcase.yaml
Labels: CI-all-test, changelog-entry-required

#24704 mcuboot: Use secondary_app_partition
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/app_common.dtsi
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpurad/images/ipc_radio/app.overlay
  subsys/mcuboot/mcuboot_secondary_app.overlay
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#24830 manifest: sdk-zephyr: [nrf noup] tests: arm_irq_vector_table: remove SSF_CLIENT_SYS_INIT
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#24823 applications: nrf_desktop: nrf54h20dk: add uicr image configuration
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/images/uicr/app.overlay
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/images/uicr/app_dongle.overlay
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/images/uicr/app_release.overlay
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/images/uicr/app_release_dongle.overlay
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/images/uicr/prj.conf
  applications/nrf_desktop/sysbuild/CMakeLists.txt
Labels: changelog-entry-required

#24765 include: net: Include missing brackets
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/net/nrf_cloud_fota_poll.h
  include/net/nrf_cloud_pgps.h
Labels: doc-required

#24739 lib: lte_link_control: Rework modem events
  doc/nrf/releases_and_maturity/migration/migration_guide_3.2.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/modem/lte_lc.h
  lib/lte_link_control/modules/mdmev.c
  lib/nrf_modem_lib/lte_net_if/lte_net_if.c
  modules/memfault-firmware-sdk/memfault_lte_metrics.c
  samples/cellular/modem_shell/src/link/link_shell_print.c
  samples/cellular/modem_shell/src/link/link_shell_print.h
  samples/cellular/nidd/src/main.c
  tests/lib/lte_lc_api/src/lte_lc_api_test.c
Labels: doc-required

#24806 west_commands: fix ironside update script
  scripts/west_commands/ncs_ironside_se_update.py
Labels: changelog-entry-required

#24838 net: lib: nrf_cloud: Add missing CONFIG_ prefix
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/src/nrf_cloud_log_backend.c
Labels: doc-required

#24840 samples: matter: remove POWEROFF for nRF54l15
  samples/matter/light_switch/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  samples/matter/lock/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  samples/matter/smoke_co_alarm/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  samples/matter/smoke_co_alarm/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  samples/matter/temperature_sensor/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  samples/matter/window_covering/boards/nrf54l15dk_nrf54l15_cpuapp.conf
Labels: changelog-entry-required

#24858 tests: drivers: timer: Update GRTC LFRC based timer test
  tests/drivers/timer/grtc_timer_lfrc/boards/nrf54h20dk_nrf54h20_cpurad.overlay
  tests/drivers/timer/grtc_timer_lfrc/prj.conf
  tests/drivers/timer/grtc_timer_lfrc/src/main.c
  tests/drivers/timer/grtc_timer_lfrc/testcase.yaml
Labels: changelog-entry-required

#24836 doc: add section on ironside reset handling
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_ironside.rst
Labels: doc-required, changelog-entry-required

#24868 manifest: sdk-zephyr: [nrf fromtree] scripts: compliance: Add basic cmake style checks
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#24784 manifest: oberon: fix nonexistent volatile/builtin key handling
  west.yml
Labels: manifest, changelog-entry-required, manifest-oberon-psa-crypto

#24847 mpsl: Use direct GPIO register access in coex
  subsys/mpsl/cx/nrf700x/mpsl_cx_nrf700x.c
Labels: changelog-entry-required

#24799 tests: drivers: grtc: Add clock control
  tests/drivers/grtc/grtc_clk_output/prj.conf
  tests/drivers/grtc/grtc_clk_output/src/main.c
Labels: changelog-entry-required

#24834 manifest: sdk-zephyr: [nrf fromlist] scripts: dts: fix CMake DT API helper for compatible p…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#24867 lib: location: Use k_sem_give() when cancelling Wi-Fi location
  lib/location/scan_wifi.c
Labels: bug

#24804 manifest: sdk-zephyr: [nrf fromlist] drivers: timer: nrf_grtc: Move GRTC initialization to …
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22616 iar: cmake: linker generator fixes
  applications/nrf_desktop/CMakeLists.txt
  subsys/app_event_manager/CMakeLists.txt
  subsys/app_event_manager_profiler_tracer/CMakeLists.txt
  subsys/bluetooth/adv_prov/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/fp_storage/CMakeLists.txt
  subsys/caf/events/CMakeLists.txt
  subsys/emds/CMakeLists.txt
  subsys/nrf_compress/CMakeLists.txt
Labels: Stale, external, changelog-entry-required, CI-Requested

#24886 bootloader: Add UARTE30 peripheral cleanup
  subsys/bootloader/bl_boot/bl_boot.c
Labels: changelog-entry-required

#24826 samples: matter: fix data model
  samples/matter/contact_sensor/src/default_zap/contact_sensor.matter
  samples/matter/contact_sensor/src/default_zap/contact_sensor.zap
  samples/matter/contact_sensor/src/default_zap/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/contact_sensor/src/default_zap/zap-generated/PluginApplicationCallbacks.h
  samples/matter/contact_sensor/src/default_zap/zap-generated/access.h
  samples/matter/contact_sensor/src/default_zap/zap-generated/callback-stub.cpp
  samples/matter/contact_sensor/src/default_zap/zap-generated/endpoint_config.h
  samples/matter/contact_sensor/src/default_zap/zap-generated/gen_config.h
  samples/matter/temperature_sensor/src/default_zap/temperature_sensor.matter
  samples/matter/temperature_sensor/src/default_zap/temperature_sensor.zap
  samples/matter/temperature_sensor/src/default_zap/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/temperature_sensor/src/default_zap/zap-generated/PluginApplicationCallbacks.h
  samples/matter/temperature_sensor/src/default_zap/zap-generated/access.h
  samples/matter/temperature_sensor/src/default_zap/zap-generated/callback-stub.cpp
  samples/matter/temperature_sensor/src/default_zap/zap-generated/endpoint_config.h
  samples/matter/temperature_sensor/src/default_zap/zap-generated/gen_config.h
Labels: changelog-entry-required, CI-limit-jobs

#24876 nrf_security: remove `CONFIG_PSA_ITS_ENCRYPTED`
  doc/nrf/security/psa_certified_api_overview.rst
  modules/trusted-firmware-m/Kconfig
  subsys/nrf_security/Kconfig.psa
  subsys/nrf_security/cmake/config_to_tf-m.cmake
Labels: doc-required

#24884 Bluetooth: Mesh: Remove nRF52832 from sensor_client
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/mesh/sensor_client/sample.yaml
  scripts/quarantine.yaml
Labels: doc-required

#24883 applications: serial_lte_modem: Add removal note
  applications/serial_lte_modem/README.rst
  doc/nrf/links.txt
Labels: doc-required, changelog-entry-required

#24812 doc: Add a known issue entry for Matter nRF54lm20 bug
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#24459 samples: cellular: nrf_cloud_multi_service: Fix Kconfig indentations
  samples/cellular/nrf_cloud_multi_service/Kconfig
Labels: changelog-entry-required

#24879 manifest: sdk-zephyr: [nrf fromtree] Cherry pick blob flash decoupling
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#24880 Bluetooth: Mesh: Add external flash support to DFU samples on nRF54L
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/mesh/dfu/distributor/README.rst
  samples/bluetooth/mesh/dfu/distributor/app_ext_flash.overlay
  samples/bluetooth/mesh/dfu/distributor/boards/nrf54l15dk_nrf54l15_cpuapp_ext_flash.conf
  samples/bluetooth/mesh/dfu/distributor/sysbuild/mcuboot.conf
  samples/bluetooth/mesh/dfu/distributor/sysbuild/mcuboot/app.overlay
  samples/bluetooth/mesh/dfu/distributor/sysbuild/mcuboot/app_ext_flash.overlay
  samples/bluetooth/mesh/dfu/distributor/sysbuild/mcuboot/boards/nrf52840dk_nrf52840_ext_flash.conf
  samples/bluetooth/mesh/dfu/distributor/sysbuild/mcuboot/boards/nrf54l15dk_nrf54l15_cpuapp_ext_flash.conf
  samples/bluetooth/mesh/dfu/distributor/sysbuild/mcuboot/boards/nrf54l15dk_nrf54l15_cpuapp_ext_flash.overlay
  samples/bluetooth/mesh/dfu/distributor/sysbuild/mcuboot/prj.conf
  samples/bluetooth/mesh/dfu/distributor/sysbuild/mcuboot/socs/nrf54l10_cpuapp.conf
  samples/bluetooth/mesh/dfu/distributor/sysbuild/mcuboot/socs/nrf54l15_cpuapp.conf
  samples/bluetooth/mesh/dfu/target/README.rst
  samples/bluetooth/mesh/dfu/target/app_ext_flash.overlay
  samples/bluetooth/mesh/dfu/target/boards/nrf54l15dk_nrf54l15_cpuapp_ext_flash.conf
  samples/bluetooth/mesh/dfu/target/sysbuild/mcuboot/app.overlay
  samples/bluetooth/mesh/dfu/target/sysbuild/mcuboot/app_ext_flash.overlay
  samples/bluetooth/mesh/dfu/target/sysbuild/mcuboot/boards/nrf52840dk_nrf52840_ext_flash.conf
  samples/bluetooth/mesh/dfu/target/sysbuild/mcuboot/boards/nrf52840dongle_nrf52840.conf
  samples/bluetooth/mesh/dfu/target/sysbuild/mcuboot/boards/nrf54l15dk_nrf54l15_cpuapp_ext_flash.conf
  samples/bluetooth/mesh/dfu/target/sysbuild/mcuboot/boards/nrf54l15dk_nrf54l15_cpuapp_ext_flash.overlay
  samples/bluetooth/mesh/dfu/target/sysbuild/mcuboot/prj.conf
  samples/bluetooth/mesh/dfu/target/sysbuild/mcuboot/socs/nrf54l10_cpuapp.conf
  samples/bluetooth/mesh/dfu/target/sysbuild/mcuboot/socs/nrf54l15_cpuapp.conf
Labels: doc-required

#24902 nrf_security: CRACEN: Use HAS_HW_NRF_XXX naming convention
  include/hw_unique_key.h
  include/tfm/tfm_builtin_key_ids.h
  modules/trusted-firmware-m/Kconfig
  modules/trusted-firmware-m/tfm_boards/common/attest_hal.c
  samples/keys/hw_unique_key/src/derive_key_tfm.c
  subsys/nrf_security/Kconfig
  subsys/nrf_security/src/drivers/Kconfig
  subsys/nrf_security/src/drivers/cracen/Kconfig
Labels: changelog-entry-required

#24903 samples: matter: Define device product name for each sample
  applications/matter_bridge/prj.conf
  applications/matter_bridge/prj_release.conf
  applications/matter_weather_station/prj.conf
  applications/matter_weather_station/prj_release.conf
  samples/matter/contact_sensor/prj.conf
  samples/matter/contact_sensor/prj_release.conf
  samples/matter/light_bulb/prj.conf
  samples/matter/light_bulb/prj_release.conf
  samples/matter/light_switch/prj.conf
  samples/matter/light_switch/prj_release.conf
  samples/matter/lock/prj.conf
  samples/matter/lock/prj_release.conf
  samples/matter/lock/prj_thread_wifi_switched.conf
  samples/matter/manufacturer_specific/prj.conf
  samples/matter/smoke_co_alarm/prj.conf
  samples/matter/smoke_co_alarm/prj_release.conf
  samples/matter/temperature_sensor/prj.conf
  samples/matter/temperature_sensor/prj_release.conf
  samples/matter/template/prj.conf
  samples/matter/template/prj_release.conf
  samples/matter/thermostat/prj.conf
  samples/matter/thermostat/prj_release.conf
  samples/matter/window_covering/prj.conf
  samples/matter/window_covering/prj_release.conf
Labels: changelog-entry-required

#24734 doc: security: components version matrix
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/security.rst
  doc/nrf/security/tfm/tfm_supported_services.rst
Labels: doc-required, CI-disable, doc only

#24897 memfault: Update to 1.30.1
  west.yml
Labels: manifest, manifest-memfault-firmware-sdk, changelog-entry-required

#24912 manifest: sdk-mcu-drivers update for Kconfig compliance
  west.yml
Labels: manifest, changelog-entry-required, manifest-cirrus

#24871 manifest: sdk-zephyr: [nrf fromlist] tests: drivers: uart: uart_async_api: Enable test on n…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#23888 doc: security: rename trusted_storage
  doc/_utils/redirects.py
  doc/nrf/libraries/security/trusted_storage.rst
  doc/nrf/protocols/bt/bt_mesh/configuring.rst
  doc/nrf/protocols/matter/end_product/security.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.7.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-3.0.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/security.rst
  doc/nrf/security/crypto/crypto_architecture.rst
  doc/nrf/security/psa_certified_api_overview.rst
  doc/nrf/security/secure_storage.rst
  doc/nrf/security/tfm/tfm_services.rst
  doc/nrf/security/trusted_storage.rst
Labels: doc-required, CI-disable, doc only

#24908 applications: nrf_desktop: nrf54h20dk: use MCUboot custom code for PM
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/images/mcuboot/prj.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/images/mcuboot/prj_dongle.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/images/mcuboot/prj_release.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/images/mcuboot/prj_release_dongle.conf
Labels: changelog-entry-required
