Repository nrfconnect/sdk-nrf, pull requests merged in 2025-02, with the labels that each got.

#20149 tests: benchmarks: Switch PM benchmarks to I/O gated meas (part 2)
  tests/benchmarks/multicore/idle_clock_control/coverage.conf
  tests/benchmarks/multicore/idle_comp/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/benchmarks/multicore/idle_comp/remote/CMakeLists.txt
  tests/benchmarks/multicore/idle_comp/remote/prj.conf
  tests/benchmarks/multicore/idle_comp/remote/src/main.c
  tests/benchmarks/multicore/idle_comp/src/main.c
  tests/benchmarks/multicore/idle_comp/sysbuild.cmake
  tests/benchmarks/multicore/idle_comp/testcase.yaml
  tests/benchmarks/multicore/idle_ppr/src/main.c
  tests/benchmarks/multicore/idle_twim/coverage.conf
  tests/benchmarks/multicore/idle_uarte/src/main.c
  tests/benchmarks/multicore/idle_usb/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/benchmarks/multicore/idle_usb/src/main.c
Labels: changelog-entry-required

#16889 manifest: west.yml updated to reflect zephyr module name change
  west.yml
Labels: manifest, external, changelog-entry-required, CI-Requested

#20152 [Backport v2.9-nRF54H20-branch] samples: benchmarks: coremark: align nRF54H20 DTS with STM snippet
  samples/benchmarks/coremark/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/benchmarks/coremark/boards/nrf54h20dk_nrf54h20_cpurad.overlay
Labels: Backport

#20101 snippets: nrf70-wifi: Remove heap size override
  snippets/nrf70-wifi/nrf54h20_cpuapp.conf
Labels: changelog-entry-required

#20098 esb: Fix radio mode switching in fast_switching mode
  subsys/esb/esb.c
  subsys/esb/esb_dppi.c
  subsys/esb/esb_ppi.c
  subsys/esb/esb_ppi_api.h
Labels: changelog-entry-required

#20158 [Backport v2.9-nRF54H20-branch] esb: Fix radio mode switching in fast_switching mode
  subsys/esb/esb.c
  subsys/esb/esb_dppi.c
  subsys/esb/esb_ppi.c
  subsys/esb/esb_ppi_api.h
Labels: changelog-entry-required, Backport

#20165 tests: lib: edge_impulse: Use float type for constants
  tests/lib/edge_impulse/src/edge_impulse_zip/ei_test_params.h
Labels: 10-min-review

#20148 mpsl: fem: nrf2220 no more experimental
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/mpsl/fem/Kconfig
Labels: doc-required

#20145 samples: matter: enable LTO by default for release and nRF70
  applications/matter_bridge/prj_release.conf
  applications/matter_bridge/sample.yaml
  applications/matter_weather_station/prj_release.conf
  applications/matter_weather_station/sample.yaml
  doc/nrf/protocols/matter/getting_started/memory_optimization.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/light_bulb/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/matter/light_bulb/prj_release.conf
  samples/matter/light_bulb/sample.yaml
  samples/matter/light_switch/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/matter/light_switch/prj_release.conf
  samples/matter/light_switch/sample.yaml
  samples/matter/lock/prj_release.conf
  samples/matter/lock/prj_thread_wifi_switched.conf
  samples/matter/lock/sample.yaml
  samples/matter/smoke_co_alarm/prj_release.conf
  samples/matter/smoke_co_alarm/sample.yaml
  samples/matter/template/boards/nrf54l15dk_nrf54l15_cpuapp_internal.conf
  samples/matter/template/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/matter/template/prj_release.conf
  samples/matter/template/sample.yaml
  samples/matter/thermostat/prj_release.conf
  samples/matter/thermostat/sample.yaml
  samples/matter/window_covering/prj_release.conf
  samples/matter/window_covering/sample.yaml
  scripts/quarantine.yaml
  scripts/quarantine_integration.yaml
Labels: doc-required

#20139 manifest: sdk-connectedhomeip: Update revision
  doc/nrf/protocols/matter/getting_started/transmission_power.rst
  west.yml
Labels: doc-required, manifest, manifest-matter, changelog-entry-required

#20171 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154

#20107 nrf_security: Remove redefined Kconfigs
  subsys/nrf_security/Kconfig
  subsys/nrf_security/src/drivers/Kconfig
  subsys/nrf_security/src/drivers/cracen/psa_driver.Kconfig
Labels: changelog-entry-required

#20181 samples: cellular: mss: Fix for wrong header name
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_multi_service/src/provisioning_support.h
Labels: doc-required

#20166 bluetooth: host_extension: RTCx time diff may be negative if start or…
  subsys/bluetooth/host_extensions/radio_notification_conn_cb.c
Labels: changelog-entry-required

#20190 doc: Fix to max TX power in Matter GS
  doc/nrf/protocols/matter/getting_started/transmission_power.rst
Labels: doc-required, CI-disable, changelog-entry-required

#20156 manifest: sdk-zephyr: [nrf fromlist] drivers: udc_dwc2: Workaround hibernation exit glitch
  west.yml
Labels: manifest, manifest-zephyr

#20193 manifest: sdk-connectedhomeip: Update revision
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#18496 suit: nRF9280 SUIT support
  cmake/sysbuild/suit.cmake
  cmake/sysbuild/suit_provisioning.cmake
  cmake/sysbuild/suit_provisioning_nrf9280.cmake
  config/suit/templates/nrf9280/default/v1/app_envelope.yaml.jinja2
  config/suit/templates/nrf9280/default/v1/app_recovery_envelope_app_local.yaml.jinja2
  config/suit/templates/nrf9280/default/v1/app_recovery_envelope_direct.yaml.jinja2
  config/suit/templates/nrf9280/default/v1/app_recovery_local_envelope.yaml.jinja2
  config/suit/templates/nrf9280/default/v1/rad_envelope.yaml.jinja2
  config/suit/templates/nrf9280/default/v1/rad_recovery_envelope.yaml.jinja2
  config/suit/templates/nrf9280/default/v1/root_with_binary_nordic_top.yaml.jinja2
  subsys/nrf_security/src/drivers/cracen/Kconfig
  subsys/suit/mci/Kconfig
  subsys/suit/mci/src/suit_mci_nrf9280.c
  subsys/suit/memory_layout/Kconfig
  subsys/suit/metadata/include/suit_metadata.h
  subsys/suit/platform/Kconfig
  subsys/suit/platform/sdfw/src/suit_plat_check_image_match_sdfw_specific.c
  subsys/suit/storage/Kconfig
  subsys/suit/storage/src/suit_storage_nrf9280.c
  subsys/suit/stream/Kconfig
  subsys/suit/validator/Kconfig
  subsys/suit/validator/src/suit_validator_nrf9280.c
  sysbuild/Kconfig.suit_provisioning
  sysbuild/suit_provisioning/Kconfig.nrf9280
  sysbuild/suit_provisioning/nrf9280.cmake
Labels: changelog-entry-required

#20168 samples: cellular: modem_shell: increased sleep time for 1st info read
  samples/cellular/modem_shell/src/link/link.c
Labels: external

#20174 doc: Matter weather station app restructure
  applications/matter_weather_station/README.rst
Labels: doc-required, CI-disable

#20194 manifest: pull DWC2 hibernation exit fixes from sdk-zephyr
  west.yml
Labels: manifest, manifest-zephyr, Backport

#20200 doc: known issues: Add note about potential deadlock wo C2H acl data fc
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#20173 chore: change from strtok to strtok_r
  applications/nrf5340_audio/src/modules/sd_card.c
  lib/date_time/date_time_core.c
  lib/gcf_sms/gcf_sms.c
  lib/modem_key_mgmt/modem_key_mgmt.c
  modules/wfa-qt/src/indigo_api_callback_dut.c
  modules/wfa-qt/src/utils.c
  samples/cellular/modem_shell/src/at/at_cmd_mode.c
  samples/cellular/modem_shell/src/link/link_api.c
  samples/peripheral/802154_phy_test/src/ctrl/ptt_uart_proc.c
  samples/peripheral/802154_phy_test/src/ctrl/ptt_zb_perf_cmd_mode_uart.c
  subsys/net/lib/download_client/src/coap.c
  subsys/net/lib/downloader/src/transports/coap.c
  subsys/net/lib/nrf_provisioning/src/nrf_provisioning_coap.c
  subsys/net/lib/nrf_provisioning/src/nrf_provisioning_http.c
  tests/subsys/net/lib/nrf_provisioning/src/main.c
Labels: external, changelog-entry-required, CI-Requested

#18434 manifest: add libmodem
  west.yml
Labels: manifest, manifest-libmodem

#19562 doc: tfm: Add documentation regarding configurable build
  doc/nrf/app_dev/device_guides/nrf53/logging_nrf5340.rst
  doc/nrf/images/nrf-secure-rom-granularity.svg
  doc/nrf/images/secure-flash-regions.svg
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/migration/migration_guide_1.x_to_2.x.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_spm_to_tf-m.rst
  doc/nrf/security/tfm.rst
Labels: doc-required, CI-disable, changelog-entry-required

#20113 doc: security: move processing_environments.rst
  doc/_utils/redirects.py
  doc/_zoomin/ncs.tags.yml
  doc/nrf/app_dev.rst
  doc/nrf/app_dev/board_names.rst
  doc/nrf/app_dev/board_support/index.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/security.rst
  doc/nrf/security/images/spe_nspe.svg
  doc/nrf/security/processing_environments.rst
Labels: doc-required, CI-disable, doc only

#20213 tests: benchmarks: multicore: idle_gpio: Fix uart wakeup
  tests/benchmarks/multicore/idle_gpio/boards/wakeup_from_uart_pins.overlay
  tests/benchmarks/multicore/idle_gpio/remote/boards/wakeup_from_uart_pins.overlay
  tests/benchmarks/multicore/idle_gpio/src/main.c
Labels: changelog-entry-required

#19672 tools: Use Ubuntu 24 for building samples
  scripts/ncs-docker-version.txt
Labels: CI-all-test, changelog-entry-required

#20199 nrf_security: Fix KMU singlepart cipher issues
  subsys/nrf_security/src/psa_crypto_driver_wrappers.c
Labels: changelog-entry-required

#20104 Applications: Audio: Added delay to fix initial sync
  applications/nrf5340_audio/src/modules/audio_i2s.c
  applications/nrf5340_audio/src/modules/audio_sync_timer.c
  applications/nrf5340_audio/src/modules/audio_sync_timer.h
Labels: changelog-entry-required, bugfix

#19951 mgmt: fmfu: Hide MGMT_FMFU logging options when not enabled
  subsys/mgmt/fmfu/Kconfig
Labels: changelog-entry-required

#20228 doc: create_application: fix step mismatch
  doc/nrf/app_dev/create_application.rst
Labels: doc-required, CI-disable, doc only

#20135 lib: pdn: decrease stack and heap for pdn_dynamic_info_get()
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/modem/pdn.h
  lib/pdn/Kconfig
  lib/pdn/pdn.c
  samples/cellular/pdn/README.rst
  samples/cellular/pdn/src/main.c
  tests/lib/pdn/src/main.c
Labels: doc-required

#20222 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#19913 doc: ap-protect: edit nrfjprog to nrfutil
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/security/ap_protect.rst
Labels: doc-required, CI-disable, doc only

#20234 suit: Fix include in nRF9280 MCI
  subsys/suit/mci/src/suit_mci_nrf9280.c
Labels: changelog-entry-required

#20246 tests: lib: nrf_modem_lib: lte_net_if: Fix compiler warning
  scripts/ci/tags.yaml
  tests/lib/nrf_modem_lib/lte_net_if/src/main.c
Labels: changelog-entry-required

#20248 manfiest: Remove HWMv1 SoC repository
  west.yml
Labels: manifest, changelog-entry-required, manifest-soc-hwmv1

#20201 doc: changelog: Add TLS credential backend and modem_key_mgmt changes
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-trusted-author, external, CI-Requested

#20243 doc: fix broken link to application note nAN34
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#20021 samples: bluetooth: central_uart: Add auto-connect to bonded device
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/central_uart/prj.conf
  samples/bluetooth/central_uart/src/main.c
Labels: doc-required

#20262 tests: benchmarks: multicore: idle_uarte: extend timeout for uart TX
  tests/benchmarks/multicore/idle_uarte/src/main.c
Labels: changelog-entry-required

#20266 manifest: sdk-zephyr: [nrf fromtree] tests: susbys: Implement performance test for the NRFS
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20244 doc: tfm: Limit figure width relative to font size
  doc/nrf/security/tfm.rst
Labels: doc-required, CI-disable

#20241 net: fota_download: Add more error codes to callback
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/net/fota_download.h
  subsys/net/lib/fota_download/src/fota_download.c
  subsys/net/lib/fota_download/src/util/fota_download_util.c
  subsys/net/lib/lwm2m_client_utils/lwm2m/lwm2m_firmware.c
  tests/subsys/net/lib/fota_download/src/test_fota_download.c
Labels: doc-required

#20270 doc: tfm: Update figure
  doc/nrf/images/nrf-secure-rom-granularity.svg
Labels: doc-required, CI-disable, changelog-entry-required

#20259 manifest: sdk-zephyr: [nrf fromtree] drivers: udc_dwc2: Rework control endpoint feeding
  west.yml
Labels: manifest, manifest-zephyr

#20017 applications: sdp: fix surplus clock edge
  applications/sdp/mspi/src/hrt/hrt-nrf54l15.s
  applications/sdp/mspi/src/hrt/hrt.c
  applications/sdp/mspi/src/hrt/hrt.h
  applications/sdp/mspi/src/main.c
Labels: changelog-entry-required

#19591 manifest: sdk-zephyr: [nrf fromtree] drivers/flash/Kconfig.nrf_rram: bufferd write by default
  west.yml
Labels: Stale, manifest, manifest-zephyr, changelog-entry-required

#20269 applications: nrf_desktop: Add `dongle_small` config for nRF52833 DK
  applications/nrf_desktop/board_configuration.rst
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/app_dongle_small.overlay
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/images/mcuboot/prj_dongle_small.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/pm_static_dongle_small.yml
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/prj_dongle_small.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/sysbuild_dongle_small.conf
  applications/nrf_desktop/sample.yaml
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  scripts/quarantine_integration.yaml
Labels: doc-required

#20235 applications: matter_bridge: fix sample name config
  applications/matter_bridge/sample.yaml
  scripts/quarantine.yaml
Labels: changelog-entry-required

#20272 manifest: pull DWC2 control transfer fixes from sdk-zephyr
  west.yml
Labels: manifest, manifest-zephyr, Backport

#20268 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#19788 scripts: Replace ecdsa library with cryptography
  scripts/bootloader/do_sign.py
  scripts/bootloader/keygen.py
  scripts/bootloader/provision.py
  scripts/bootloader/tests/conftest.py
  scripts/bootloader/tests/do_sign_test.py
  scripts/bootloader/tests/keygen_test.py
  scripts/bootloader/tests/utils.py
  scripts/bootloader/tests/validation_data_test.py
  scripts/bootloader/validation_data.py
  scripts/requirements-test.txt
Labels: changelog-entry-required

#19921 manifest: Update nrfxlib revision with updated MPSL
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#20290 manifest: openthread: update revision
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#20288 suit: Allow to postpone DFU initialization
  subsys/suit/cache/include/suit_dfu_cache_rw.h
  subsys/suit/cache/src/suit_dfu_cache_rw.c
  subsys/suit/orchestrator_app/src/suit_orchestrator_app.c
  tests/subsys/suit/cache_pool_digest/src/main.c
  tests/subsys/suit/cache_sink/src/main.c
Labels: changelog-entry-required, bugfix

#20289 bluetooth: samples: Reduce RAS sample memory usage
  samples/bluetooth/channel_sounding_ras_initiator/prj.conf
  samples/bluetooth/channel_sounding_ras_reflector/prj.conf
Labels: changelog-entry-required

#20203 manifest: sdk-zephyr: tests: boards: nordic: add nrf comp tests.
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20301 doc: nrf: libraries: nrf_compression minor fix
  doc/nrf/libraries/others/nrf_compression.rst
Labels: doc-required, changelog-entry-required

#20040 modules: memfault: Add automatic sending of coredumps over LTE
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/overlay-memfault.conf
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/sample.yaml
  applications/serial_lte_modem/src/lwm2m_carrier/slm_at_carrier.c
  applications/serial_lte_modem/src/slm_at_commands.c
  doc/nrf/libraries/debug/memfault_ncs.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  modules/memfault-firmware-sdk/CMakeLists.txt
  modules/memfault-firmware-sdk/Kconfig
  modules/memfault-firmware-sdk/memfault_lte_coredump.c
  samples/debug/memfault/boards/nrf9151dk_nrf9151_ns.conf
  samples/debug/memfault/boards/nrf9160dk_nrf9160_ns.conf
  samples/debug/memfault/boards/nrf9161dk_nrf9161_ns.conf
  samples/debug/memfault/boards/thingy91_nrf9160_ns.conf
  samples/debug/memfault/boards/thingy91x_nrf9151_ns.conf
  samples/debug/memfault/prj.conf
  samples/debug/memfault/src/main.c
Labels: doc-required

#20251 manifest: Update sdk-zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20296 samples: openthread: cleanup RCP snippets
  samples/openthread/coprocessor/snippets/debug/debug.conf
  samples/openthread/coprocessor/snippets/logging/logging.conf
Labels: changelog-entry-required

#19916 doc: update docs for 2.6.3
  doc/nrf/conf.py
  doc/nrf/dev_model_and_contributions/adding_code.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.6.3.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required, changelog-entry-required

#20306 suit: Fix nRF9280 app SUIT support
  cmake/sysbuild/suit_provisioning.cmake
  config/suit/templates/nrf9280/default/v1/app_envelope.yaml.jinja2
  config/suit/templates/nrf9280/default/v1/app_recovery_local_envelope.yaml.jinja2
  config/suit/templates/nrf9280/default/v1/rad_envelope.yaml.jinja2
  config/suit/templates/nrf9280/default/v1/root_with_binary_nordic_top.yaml.jinja2
Labels: changelog-entry-required

#20134 net: lib: nrf_cloud: Increase `SENSOR_SEND_CBOR_MAX_SIZE`
  subsys/net/lib/nrf_cloud/coap/include/coap_codec.h
Labels: changelog-entry-required

#20074 net: lib: nrf_cloud: Clean up KConfigs so they don't clutter unrelated samples
  applications/asset_tracker_v2/prj.conf
  applications/serial_lte_modem/prj.conf
  doc/nrf/libraries/modem/location.rst
  doc/nrf/libraries/networking/lwm2m_location_assistance.rst
  doc/nrf/libraries/networking/nrf_cloud.rst
  doc/nrf/libraries/networking/nrf_cloud_agnss.rst
  doc/nrf/libraries/networking/nrf_cloud_alert.rst
  doc/nrf/libraries/networking/nrf_cloud_coap.rst
  doc/nrf/libraries/networking/nrf_cloud_location.rst
  doc/nrf/libraries/networking/nrf_cloud_log.rst
  doc/nrf/libraries/networking/nrf_cloud_pgps.rst
  doc/nrf/libraries/networking/nrf_cloud_rest.rst
  doc/nrf/libraries/networking/nrf_provisioning.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_3.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/gnss/prj.conf
  samples/cellular/location/prj.conf
  samples/cellular/lte_ble_gateway/prj.conf
  samples/cellular/modem_shell/prj.conf
  samples/cellular/nrf_cloud_multi_service/prj.conf
  samples/cellular/nrf_cloud_rest_cell_location/prj.conf
  samples/cellular/nrf_cloud_rest_device_message/prj.conf
  samples/cellular/nrf_cloud_rest_fota/prj.conf
  subsys/net/lib/nrf_cloud/Kconfig
  tests/subsys/net/lib/nrf_cloud/client_id/prj.conf
  tests/subsys/net/lib/nrf_cloud/cloud/CMakeLists.txt
  tests/subsys/net/lib/nrf_cloud/fota_common/prj.conf
Labels: doc-required

#20118 nrf_security: drivers: cracen: Fix ed25519ph bug for 54H
  subsys/nrf_security/src/drivers/cracen/sicrypto/src/ed25519ph.c
Labels: changelog-entry-required

#20304 applications: nrf_desktop: Fix MCUboot serial recovery DFU image path
  applications/nrf_desktop/bootloader_dfu.rst
Labels: doc-required

#20279 samples: cellular: nrf_cloud_multi_service: Wi-Fi improvements
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_multi_service/overlay_nrf700x_wifi_coap_no_lte.conf
  samples/cellular/nrf_cloud_multi_service/overlay_nrf700x_wifi_mqtt_no_lte.conf
Labels: doc-required

#20192 manifest: sdk-connectedhomeip: Update revision
  applications/matter_bridge/src/app_task.cpp
  applications/matter_weather_station/src/app_task.cpp
  samples/matter/common/src/app/matter_event_handler.cpp
  samples/matter/common/src/app/matter_init.cpp
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_switch/src/app_task.cpp
  samples/matter/lock/src/app_task.cpp
  samples/matter/smoke_co_alarm/src/app_task.cpp
  samples/matter/template/src/app_task.cpp
  samples/matter/thermostat/src/app_task.cpp
  samples/matter/window_covering/src/app_task.cpp
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#20293 doc: Add 2.6.3 release to main
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.6.3.rst
  doc/versions.json
Labels: doc-required, changelog-entry-required

#20264 nrf_compress: lzma: Fix cleanup
  subsys/nrf_compress/src/lzma.c
Labels: changelog-entry-required, backport v2.8-branch, backport v2.9-branch

#20331 quarantine_zephyr: Add quarantine for libraries.encoding.jwt.rsa.*
  scripts/quarantine_zephyr.yaml
Labels: changelog-entry-required

#20333 samples: openthread: fix THCI
  samples/openthread/cli/harness-thci/nRF_Connect_SDK_13_14.py
Labels: changelog-entry-required

#20318 sysbuild: Specify BOARD if the main image sets it
  cmake/sysbuild/modules/ncs_sysbuild_extensions.cmake
Labels: changelog-entry-required

#20351 quarantine: Add quarantine for SUIT ble samples
  scripts/quarantine.yaml
Labels: changelog-entry-required

#20300 applications: sdp: mspi: use enum instead of pointer to function in HRT
  applications/sdp/mspi/src/hrt/hrt-nrf54l15.s
  applications/sdp/mspi/src/hrt/hrt.c
  applications/sdp/mspi/src/hrt/hrt.h
  applications/sdp/mspi/src/main.c
Labels: changelog-entry-required

#20362 scripts: quarantine: add sample.bluetooth.peripheral_uart
  scripts/quarantine.yaml
Labels: changelog-entry-required

#20321 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#20341 doc: Updated to the v2-9-0-nRF54H20-rc1 tag for a Known issue
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, CI-disable

#20374 samples: mpsl: timeslot: MPSL_TIMER0 has been defined within mpsl
  samples/mpsl/timeslot/src/main.c
Labels: changelog-entry-required

#20377 scripts: ci: tags: Add nrxlib/mpsl/ to ci_samples_mpsl
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#20337 manifest: sdk-zephyr: [nrf noup] lib: net_buf: buf: Revert alloc DBG to WRN change
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20282 doc: Add known issue for TX processor block
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required

#20365 manifest: sdk-zephyr: [nrf fromtree] bluetooth: host: Allow for ECDH operations through sys…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20283 driver: creating a cs multiantenna callback
  subsys/bluetooth/controller/CMakeLists.txt
  subsys/bluetooth/controller/cs_antenna_switch.c
  subsys/bluetooth/controller/cs_antenna_switch.h
  subsys/bluetooth/controller/hci_driver.c
Labels: changelog-entry-required

#20292 manifest: update sdk-zephyr, enable WDT test on nRF5340dk
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20370 Bluetooth: Controller: Use SOC_COMPATIBLE for setting SDC lib variant
  subsys/bluetooth/controller/Kconfig
Labels: changelog-entry-required, 10-min-review

#20353 doc: nrf: ug_nrf54h20_custom_pcb: update BICR details
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_custom_pcb.rst
Labels: doc-required, changelog-entry-required

#20375 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-dragoon

#20367 manifest: update zephyr to bring Bluetooth DIS Kconfig changes
  applications/nrf_desktop/Kconfig.ble
  samples/bluetooth/central_nfc_pairing/prj.conf
  samples/bluetooth/fast_pair/input_device/prj.conf
  samples/bluetooth/multiple_adv_sets/prj.conf
  samples/bluetooth/peripheral_hids_keyboard/prj.conf
  samples/bluetooth/peripheral_hids_mouse/prj.conf
  samples/bluetooth/peripheral_hids_mouse/prj_bt_rpc.conf
  samples/bluetooth/peripheral_nfc_pairing/prj.conf
  west.yml
Labels: manifest, manifest-zephyr

#19875 manifest: sdk-zephyr: [nrf fromlist] tests: kernel: gen_isr_table: Fix test for nRF VPR tar…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20311 suit: Allow for selecting 16 active components
  west.yml
Labels: manifest, changelog-entry-required, manifest-suit-processor

#20310 suit: Alow for SUIT cache in Nordic manifests
  subsys/suit/platform/sdfw/src/suit_plat_component_compatibility.c
Labels: changelog-entry-required

#20323 Bluetooth: Mesh: enable HUK init in driver
  subsys/bluetooth/mesh/Kconfig
  tests/bluetooth/tester/prj.conf
  tests/bluetooth/tester/sysbuild.conf
Labels: ble mesh

#20399 applications: asset_tracker_v2: Remove Thingy91 support
  applications/asset_tracker_v2/sample.yaml
Labels: changelog-entry-required

#20373 net: lib: hostap_crypto: Enable PSA support for RNG
  subsys/net/lib/hostap_crypto/Kconfig
Labels: changelog-entry-required

#20146 doc: Updated changelog for 2.9.0-nRF54H20-1
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#20332 manifest: update sdk-zephyr, Enable PWM Twister tests
  tests/drivers/pwm/gpio_loopback/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  tests/drivers/pwm/gpio_loopback/boards/nrf54l20pdk_nrf54l20_cpuapp.overlay
  tests/drivers/pwm/gpio_loopback/prj.conf
  tests/drivers/pwm/gpio_loopback/testcase.yaml
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20390 manifest: sdk-zephyr: [nrf fromtree] tests: drivers: extend support for nRF54L20 and nRF54L09 PDKs
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20414 manifest: sdk-nrfxlib: nrf_modem: doc: softsim_interface: fix typo
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#20395 manifest: sdk-zephyr: [nrf fromtree] cmake: reports: Add support for JSON prefix
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20413 samples: bluetooth: hids: Increase main stack size
  samples/bluetooth/central_hids/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  samples/bluetooth/central_hids/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  samples/bluetooth/central_hids/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  samples/bluetooth/central_hids/prj.conf
  samples/bluetooth/peripheral_hids_keyboard/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  samples/bluetooth/peripheral_hids_keyboard/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  samples/bluetooth/peripheral_hids_keyboard/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  samples/bluetooth/peripheral_hids_keyboard/prj.conf
  samples/bluetooth/peripheral_hids_mouse/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  samples/bluetooth/peripheral_hids_mouse/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  samples/bluetooth/peripheral_hids_mouse/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  samples/bluetooth/peripheral_hids_mouse/prj.conf
Labels: changelog-entry-required

#20405 samples: bluetooth: fast_pair: Increase necessary stack sizes
  samples/bluetooth/fast_pair/input_device/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  samples/bluetooth/fast_pair/locator_tag/configuration/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  samples/bluetooth/fast_pair/locator_tag/configuration/prj.conf
  samples/bluetooth/fast_pair/locator_tag/configuration/prj_release.conf
Labels: changelog-entry-required

#20404 manifest: sdk-zephyr: [nrf fromtree] tests: pwm: pwm_gpio_loopback: add nrf platforms
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20338 ci: crypto python package update
  scripts/requirements-build.txt
  scripts/requirements-fixed.txt
Labels: changelog-entry-required

#20381 suit: Fix recovery build
  samples/suit/recovery/README.rst
  samples/suit/recovery/sysbuild/hci_ipc.conf
  scripts/quarantine.yaml
Labels: doc-required, changelog-entry-required

#20316 manifest: unused remote cleanup
  west.yml
Labels: manifest

#20032 logging: rpc: fix overwriting of buffer's header
  subsys/logging/log_backend_rpc_history_ram.c
Labels: changelog-entry-required

#20255 Bluetooth: Mesh: Add FWID to DFU metadata json
  doc/nrf/protocols/bt/bt_mesh/dfu_over_bt_mesh.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/mesh/dfu/common/script/ble_mesh_dfu_fwid.py
  samples/bluetooth/mesh/dfu/common/src/dfu_target.c
  samples/bluetooth/mesh/dfu/distributor/sysbuild.cmake
  samples/bluetooth/mesh/dfu/distributor/sysbuild.conf
  samples/bluetooth/mesh/dfu/target/sysbuild.cmake
  samples/bluetooth/mesh/dfu/target/sysbuild.conf
  scripts/bluetooth/mesh/mesh_dfu_metadata.py
  sysbuild/Kconfig.zip
  tests/subsys/bluetooth/mesh/metadata_extraction/sysbuild.cmake
  tests/subsys/bluetooth/mesh/metadata_extraction/sysbuild_fwid_custom.conf
  tests/subsys/bluetooth/mesh/metadata_extraction/testcase.yaml
  tests/subsys/bluetooth/mesh/metadata_extraction/verify_metadata.py
Labels: doc-required

#20396 doc: release-notes-changelog: Update Zephyr and MCUboot SHAs
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#20239 samples: ipc: ipc_service: Add ICBMsg configuration
  samples/ipc/ipc_service/boards/nrf5340dk_nrf5340_cpuapp_icbmsg.conf
  samples/ipc/ipc_service/boards/nrf5340dk_nrf5340_cpuapp_icbmsg.overlay
  samples/ipc/ipc_service/remote/boards/nrf5340dk_nrf5340_cpunet_icbmsg.conf
  samples/ipc/ipc_service/remote/boards/nrf5340dk_nrf5340_cpunet_icbmsg.overlay
  samples/ipc/ipc_service/sample.yaml
Labels: changelog-entry-required

#20411 samples: net: Add missing wifi shell configurations
  samples/net/aws_iot/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  samples/net/download/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  samples/net/https_client/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  samples/net/mqtt/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
  samples/net/udp/boards/nrf7002dk_nrf5340_cpuapp_ns.conf
Labels: changelog-entry-required

#19745 doc: Update known issues for 2.9.0-nRF54H20
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, CI-disable, backport v2.9-nRF54H20-branch

#20422 Bluetooth: Mesh: make bsim mesh with mbedtls workable
  subsys/bluetooth/mesh/Kconfig
Labels: ble mesh

#20327 ncs-build: Workaround for broken curl
  scripts/ncs-docker-version.txt
Labels: CI-all-test, changelog-entry-required

#19869 Bluetooth: Controller: Ensure controller can handle flow control buffers
  CODEOWNERS
  boards/nordic/thingy91/thingy91_nrf52840_defconfig
  doc/nrf/releases_and_maturity/known_issues.rst
  scripts/ci/tags.yaml
  subsys/bluetooth/controller/CMakeLists.txt
  subsys/bluetooth/controller/hci_internal.c
  subsys/bluetooth/controller/hci_internal_wrappers.c
  subsys/bluetooth/controller/hci_internal_wrappers.h
  tests/subsys/bluetooth/controller/CMakeLists.txt
  tests/subsys/bluetooth/controller/prj.conf
  tests/subsys/bluetooth/controller/src/hci_cmd_cb_host_buffer_size_test.c
  tests/subsys/bluetooth/controller/testcase.yaml
Labels: doc-required

#20378 applications: nrf5340_audio: Move scan delegator configs
  applications/nrf5340_audio/broadcast_sink/overlay-broadcast_sink.conf
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/Kconfig
Labels: changelog-entry-required

#20451 logging: rpc: add missing union cast
  subsys/logging/log_backend_rpc_history_ram.c
Labels: changelog-entry-required

#20452 [Backport] Update known issues for 2.9.0-nRF54H20
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, CI-disable

#20416 samples: esb: Fix corrupted transmitted data in 4Mbit radio mode
  samples/esb/esb_prx/src/main.c
  samples/esb/esb_ptx/src/main.c
Labels: backport v2.9-nRF54H20-branch

#20358 suit: Allow RAM sink to write to radio memory
  subsys/suit/memory_layout/src/suit_memory_layout.c
Labels: changelog-entry-required

#20343 tests: benchmarks: current_consumption: systemoff
  tests/benchmarks/current_consumption/system_off/boards/nrf54l15dk_nrf54l15_cpuapp_lpcomp_wakeup.overlay
  tests/benchmarks/current_consumption/system_off/testcase.yaml
Labels: changelog-entry-required

#20460 scripts: quarantine: fix sample.nrf7002.ble-wifi-provision
  scripts/quarantine.yaml
Labels: changelog-entry-required

#20455 [Backport v2.9-nRF54H20-branch] doc: add release docs for bundle v0.9.0
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/abi_compatibility.rst
Labels: doc-required, changelog-entry-required, Backport

#20382 lib: at_host: Write AT response to correct UART device
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/at_host/at_host.c
Labels: doc-required

#20466 version: Update VERSION file for 2.9.0-nRF54H20-1-rc2
  VERSION
Labels: changelog-entry-required

#20339 kconfig.nrf: Add BT_GATT_CACHING to NRF_SECURITY_ENABLER
  Kconfig.nrf
Labels: changelog-entry-required

#20430 applications: ipc_radio: Fix release_rx_buffer spurious error
  applications/ipc_radio/src/bt_hci_ipc.c
Labels: 10-min-review

#20102 manifest: Update sdk-nrfxlib revision v2.9-branch
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#20440 manifest: sdk-zephyr: drivers: serial: nrfx_uarte: Add support for >1M baudrates for uart120 (nrf54h) and uart00(nrf54l)
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20476 quaratine_zephyr: Fix the mesh zephyr sample entry
  scripts/quarantine_zephyr.yaml
Labels: changelog-entry-required

#20349 Samples: Bluetooth: Fix peripheral with multiple identities sample
  samples/bluetooth/peripheral_with_multiple_identities/Kconfig.sysbuild
Labels: changelog-entry-required

#20443 doc improvement: minor fixes in the Wi-Fi coex page
  doc/nrf/app_dev/device_guides/wifi_coex.rst
Labels: doc-required, CI-disable, changelog-entry-required

#20400 manifest: sdk-nrfxlib: bluetooth: defitinion update for nrf54h
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#20371 doc: Updated table for Matter samples
  doc/nrf/samples/matter.rst
Labels: doc-required

#20453 applications: nrf_desktop: Increase CAF settings loader stack size
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_release_fast_pair.conf
Labels: 10-min-review

#20449 Bluetooth: Mesh: Store comp data hash as Number in JSON file
  doc/nrf/protocols/bt/bt_mesh/dfu_over_bt_mesh.rst
  scripts/bluetooth/mesh/mesh_dfu_metadata.py
  tests/subsys/bluetooth/mesh/metadata_extraction/verify_metadata.py
Labels: doc-required, changelog-entry-required

#20473 manifest: sdk-nrfxlib: cmake: add nrfxlib_calculate_lib_path case for nrf54l09
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#20429 docs: Update nrfcloud multi service sample readme
  samples/cellular/nrf_cloud_multi_service/README.rst
Labels: doc-required

#20412 manifest: sdk-zephyr: [nrf fromtree] Bluetooth: Host: Add support for advertising coding selection
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20494 snippets: sdp: mspi: fix cpuapp_sram memory size and range
  snippets/sdp/mspi/soc/nrf54l15_cpuapp.overlay
Labels: changelog-entry-required

#20458 manifest: sdk-nrfxlib: nrf_fuel_gauge: Update nrf_fuel_gauge to v1.0.0
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/pmic/native/npm1300_fuel_gauge/prj.conf
  samples/pmic/native/npm1300_fuel_gauge/src/fuel_gauge.c
  tests/lib/nrf_fuel_gauge/src/nrf_fuel_gauge_test.c
  tests/lib/nrf_fuel_gauge/testcase.yaml
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib

#20397 manifest: sdk-zephyr: add 54l15 fast uart test
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20490 applications: nrf_desktop: Fix Kconfig warning for SW Split LL
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/prj.conf
  applications/nrf_desktop/configuration/nrf52810dmouse_nrf52810/prj_release.conf
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/prj.conf
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/prj_release.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/prj.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/prj_release.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/prj_dongle_small.conf
Labels: 10-min-review

#20162 net: lib: downloader: Leave room for header when using TLS with nRF91
  doc/nrf/libraries/networking/downloader.rst
  include/net/downloader.h
  subsys/net/lib/downloader/src/transports/http.c
Labels: doc-required, changelog-entry-required

#20457 [Backport v2.9-nRF54H20-branch] samples: esb: Fix corrupted transmitted data in 4Mbit radio mode
  samples/esb/esb_prx/src/main.c
  samples/esb/esb_ptx/src/main.c
Labels: changelog-entry-required, Backport

#20496 doc: Minor fixes to the LTE guide
  doc/nrf/links.txt
  doc/nrf/protocols/lte/index.rst
Labels: doc-required, CI-disable

#19812 nrf_security: drivers: cracen: adding support for ed25519 without sicrypto
  subsys/nrf_security/src/drivers/cracen/cracenpsa/cracenpsa.cmake
  subsys/nrf_security/src/drivers/cracen/cracenpsa/include/cracen_psa.h
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/ed25519.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/key_management.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/sign.c
Labels: changelog-entry-required
