Repository nrfconnect/sdk-nrf, pull requests merged in 2025-01, with the labels that each got.

#19694 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#19656 doc: Correct code block on Updating the Thingy:91 X firmware
  doc/nrf/app_dev/device_guides/thingy91x/thingy91x_updating_fw_programmer.rst
Labels: doc-required, CI-disable, changelog-entry-required, backport v2.9-nRF54H20-branch

#19631 doc: Fix wrong API links in some libraries
  doc/nrf/libraries/others/contin_array.rst
  doc/nrf/libraries/others/data_fifo.rst
  doc/nrf/libraries/others/pcm_stream_channel_modifier.rst
  doc/nrf/libraries/others/tone.rst
Labels: doc-required, changelog-entry-required, backport v2.9-nRF54H20-branch

#19675 samples: matter: Disabled RAM power down for nRF5340 DK
  doc/nrf/releases_and_maturity/known_issues.rst
  samples/matter/light_switch/boards/nrf5340dk_nrf5340_cpuapp_release.conf
  samples/matter/lock/boards/nrf5340dk_nrf5340_cpuapp_release.conf
  samples/matter/smoke_co_alarm/boards/nrf5340dk_nrf5340_cpuapp_release.conf
  samples/matter/window_covering/boards/nrf5340dk_nrf5340_cpuapp_release.conf
Labels: doc-required

#19682 samples: matter: Enable Factory Data for nRF54H20 by default.
  applications/matter_bridge/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/matter/lock/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/matter/template/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  west.yml
Labels: manifest, manifest-matter

#19644 doc: fixes to migration guide and user guide for nrf54h20
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_gs.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.9.0-nrf54h20-rc1.rst
Labels: doc-required, changelog-entry-required, backport v2.9-nRF54H20-branch

#19722 nrf_security: Reset the PRNG reseed counter in Cracen PSA
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/ctr_drbg.c
Labels: changelog-entry-required

#19721 tests: benchmarks: Verify fast SPI with different GD frequencies
  tests/benchmarks/multicore/idle_spim_loopback/Kconfig
  tests/benchmarks/multicore/idle_spim_loopback/src/main.c
  tests/benchmarks/multicore/idle_spim_loopback/testcase.yaml
Labels: changelog-entry-required

#19729 doc: Doc fixes for the FEM docs
  doc/nrf/app_dev/device_guides/fem/fem_nrf21540_gpio.rst
  doc/nrf/app_dev/device_guides/fem/fem_nrf21540_gpio_spi.rst
Labels: doc-required, changelog-entry-required, backport v2.9-nRF54H20-branch

#19463 scripts: west_commands: create-board: remove CONSTLAT from nRF54L15
  scripts/west_commands/create_board/templates/nrf54l/board_defconfig.jinja2
Labels: changelog-entry-required

#19739 doc: known issues: Fix an ESB 2.9.0 issue
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required, backport v2.9-nRF54H20-branch

#19275 emds: Revise rram related timing in emds
  doc/nrf/libraries/others/emds.rst
  subsys/emds/Kconfig
  tests/subsys/emds/emds_api/prj.conf
  tests/subsys/emds/emds_flash/src/main.c
Labels: doc-required

#19677 [Backport v2.9-nRF54H20-branch] ci: fix docbuild for ubuntu 24.04
  .github/workflows/docbuild.yml
Labels: changelog-entry-required, Backport

#19751 doc: fix to missing the for nRFVSC
  doc/nrf/app_dev/config_and_build/kconfig/index.rst
  doc/nrf/app_dev/device_guides/thingy91/thingy91_building_programming.rst
  doc/nrf/installation/recommended_versions.rst
  doc/nrf/installation/updating.rst
  samples/cellular/lwm2m_client/sample_description.rst
Labels: doc-required, CI-disable, doc only

#19759 manifest: pull twister YAML changes for find-my
  west.yml
Labels: manifest, manifest-find-my

#19688 doc: zigbee: add known issue NCSIDB-1411
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#19761 doc: fix path to DECT shell sample
  samples/dect/dect_phy/dect_shell/README.rst
Labels: doc-required, CI-disable

#19664 doc: fix the known issues filter script
  doc/_extensions/static/page_filter.mjs
Labels: doc-required, changelog-entry-required, backport v2.9-branch, backport v2.9-nRF54H20-branch

#19740 tests: drivers: audio: pdm_loopback: add support for nRF54l20
  tests/drivers/audio/pdm_loopback/boards/nrf54l20pdk_nrf54l20_cpuapp.overlay
  tests/drivers/audio/pdm_loopback/testcase.yaml
Labels: changelog-entry-required

#19476 doc: nrf_security: Adding HKDF-extract and HKDF-Expand to supported
  doc/nrf/libraries/security/nrf_security/doc/driver_config.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#19762 Applications: Audio: Removed child images from buildprog
  applications/nrf5340_audio/tools/buildprog/buildprog.py
  applications/nrf5340_audio/tools/buildprog/nrf5340_audio_dk_devices.py
Labels: changelog-entry-required

#19767 docs: nrf_security: drivers: Added ed25519ph to supported
  doc/nrf/libraries/security/nrf_security/doc/driver_config.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#19099 doc: 54h documentation improvements
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_configuration.rst
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_debugging.rst
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_logging.rst
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_suit_soc_binaries.rst
Labels: doc-required, changelog-entry-required, backport v2.9-nRF54H20-branch

#19730 tests: benchmarks: Increase coverage for Clock Control
  tests/benchmarks/multicore/idle_clock_control/Kconfig.sysbuild
  tests/benchmarks/multicore/idle_clock_control/src/main.c
  tests/benchmarks/multicore/idle_clock_control/sysbuild/nrf54h20dk_nrf54h20_cpurad.conf
  tests/benchmarks/multicore/idle_clock_control/testcase.yaml
Labels: changelog-entry-required

#19755 bluetooth: services: ras: rreq: Add feature read functionality
  include/bluetooth/services/ras.h
  subsys/bluetooth/services/ras/rreq/ras_rreq.c
Labels: changelog-entry-required

#19752 Bluetooth: mesh: Fix scene recall for Light Ctrl server
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/bluetooth/mesh/light_ctrl_srv.c
Labels: ble mesh

#19785 actions: Use ubuntu-24.04 instead of ubuntu-latest
  .github/workflows/compliance.yml
  .github/workflows/contribs.yml
  .github/workflows/create-upmerge-PRs.yml
  .github/workflows/dnm.yml
  .github/workflows/docbuild.yml
  .github/workflows/docker.yml
  .github/workflows/docpublish.yml
  .github/workflows/docremove.yml
  .github/workflows/enforce-toolchain-synchronization.yml
  .github/workflows/labeler.yml
  .github/workflows/license-reusable.yml
  .github/workflows/manifest.yml
  .github/workflows/oss-history.yml
  .github/workflows/reapply-ci-trusted-author.yml
  .github/workflows/remove-ci-requested.yml
  .github/workflows/scripts-test.yml
  .github/workflows/src-mirror.yml
  .github/workflows/stale.yml
  .github/workflows/west-commands.yml
Labels: changelog-entry-required

#19763 manifest: sdk-nrfxlib: nrf_modem: doc: Change GNSS interface name
  west.yml
Labels: manifest, manifest-nrfxlib

#19770 [Backport v2.9-nRF54H20-branch] tests: benchmarks: Test fast UART with different GD frequencies
  tests/benchmarks/multicore/idle_uarte/Kconfig
  tests/benchmarks/multicore/idle_uarte/Kconfig.sysbuild
  tests/benchmarks/multicore/idle_uarte/src/main.c
  tests/benchmarks/multicore/idle_uarte/sysbuild/nrf54h20dk_nrf54h20_cpurad.conf
  tests/benchmarks/multicore/idle_uarte/testcase.yaml
Labels: changelog-entry-required, Backport

#19570 manifest: sdk-zephyr: [nrf fromtree] dts: nordic: Add SUIT storage partition for nRF9280 SiP
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#19734 samples: cellular: nrf_cloud_multi_service: Fix at cmd handling
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_multi_service/src/application.c
Labels: doc-required

#19608 doc: nrf: app_dev: nrf54h20: Global reset
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_architecture_pm.rst
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_architecture_reset.rst
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_debugging.rst
Labels: doc-required, changelog-entry-required, backport v2.9-nRF54H20-branch

#19778 doc: wifi: Fix shell sample
  samples/wifi/shell/README.rst
Labels: doc-required, backport v2.9-nRF54H20-branch

#19766 [Backport v2.9-nRF54H20-branch] doc: fix the known issues filter script
  doc/_extensions/static/page_filter.mjs
Labels: doc-required, changelog-entry-required, Backport

#19686 doc: SUIT recovery and customize DFU update
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_suit_customize_dfu.rst
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_suit_recovery.rst
  samples/suit/recovery/README.rst
Labels: doc-required, changelog-entry-required, backport v2.9-nRF54H20-branch

#19659 manifest: update sdk-zephyr
  tests/drivers/gpio/gpio_more_loops/boards/nrf54l20pdk_nrf54l20_cpuapp.overlay
  tests/drivers/gpio/gpio_more_loops/testcase.yaml
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#19792 [Backport v2.9-nRF54H20-branch] tests: benchmarks: multicore: Test fast PWM with different GD freq.
  tests/benchmarks/multicore/idle_pwm_loopback/Kconfig
  tests/benchmarks/multicore/idle_pwm_loopback/src/main.c
  tests/benchmarks/multicore/idle_pwm_loopback/testcase.yaml
Labels: changelog-entry-required, Backport

#19692 subsys: bluetooth: User data in HID service callback
  include/bluetooth/services/hids.h
  subsys/bluetooth/services/hids.c
Labels: changelog-entry-required

#19803 nrf_security: drivers: cracen: fix build errors with ns
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/sign.c
Labels: bugfix

#19782 lib: modem_key_mgmt: fix duplicate deletion of last cred type
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/modem_key_mgmt/modem_key_mgmt.c
Labels: doc-required

#19611 samples: cellular: lte_ble_gateway: Update to use new HCI driver
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/lte_ble_gateway/boards/nrf9160dk_nrf9160_ns.overlay
  samples/cellular/lte_ble_gateway/prj.conf
Labels: doc-required

#19527 manifest: sdk-zephyr: remove custom jlink reset scheme for nrf54h20/nrf9280
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required, backport v2.9-nRF54H20-branch

#19783 samples: Remove nRF54L15PDK overlays from samples.
  samples/bluetooth/central_uart/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/bluetooth/central_uart/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  samples/bluetooth/direct_test_mode/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/bluetooth/direct_test_mode/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  samples/bluetooth/peripheral_uart/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/bluetooth/peripheral_uart/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
  samples/peripheral/radio_test/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
Labels: 10-min-review

#19420 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#19813 sts: benchmarks: multicore: idle_outside_of_main: add cooperative thread
  tests/benchmarks/multicore/idle_outside_of_main/testcase.yaml
Labels: changelog-entry-required

#19687 applications: nrf_desktop: hwid fix c++ compatibility
  applications/nrf_desktop/src/util/config_channel_transport.h
  applications/nrf_desktop/src/util/dfu_lock.h
  applications/nrf_desktop/src/util/hwid.h
Labels: changelog-entry-required

#19701 applications: slm: try to continue even no DNS record was sent
  applications/serial_lte_modem/src/slm_ppp.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/modem/pdn.h
  lib/pdn/pdn.c
  samples/cellular/modem_shell/src/link/link_api.c
Labels: doc-required, external, CI-Requested

#19074 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#19262 Add missing includes to click_detector.h
  include/caf/click_detector.h
Labels: external, CI-Requested

#19817 samples: wifi: radio_test: Improve tone trasmit command description
  samples/wifi/radio_test/radio_test_subcommands.rst
  samples/wifi/radio_test/src/nrf_wifi_radio_test_shell.c
Labels: doc-required, changelog-entry-required

#19821 tests: benchmarks: Extend testing for clock control
  tests/benchmarks/multicore/idle_clock_control/Kconfig.sysbuild
  tests/benchmarks/multicore/idle_clock_control/coverage.conf
  tests/benchmarks/multicore/idle_clock_control/src/main.c
  tests/benchmarks/multicore/idle_clock_control/testcase.yaml
Labels: changelog-entry-required

#19776 suit: Remove legacy implementation
  subsys/mgmt/suitfu/src/suitfu_mgmt_suit.c
  subsys/suit/memory_layout/src/suit_memory_layout.c
  subsys/suit/storage/Kconfig
  subsys/suit/storage/include/suit_storage_internal.h
  subsys/suit/storage/src/suit_storage_update.c
  subsys/suit/utils/src/suit_plat_mem_util.c
Labels: changelog-entry-required, backport v2.9-nRF54H20-branch

#19824 suit: increase synchronous invoke timeout
  config/suit/templates/nrf54h20/default/v1/app_recovery_local_envelope.yaml.jinja2
Labels: bug, changelog-entry-required

#19827 nrf_security: Fix data cache buffer size in Cracen
  subsys/nrf_security/src/drivers/cracen/sxsymcrypt/src/blkcipher.c
Labels: changelog-entry-required

#19836 scripts: alt: accel_polling: do not use logging with coverage
  scripts/twister/alt/zephyr/samples/sensor/accel_polling/sample.yaml
Labels: changelog-entry-required

#19833 manifest: update suit-generator sha
  west.yml
Labels: manifest, changelog-entry-required, bugfix, manifest-suit-generator

#19815 [Backport v2.9-nRF54H20-branch] manifest: update sdk-zephyr revision with custom jlink script removal
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required, Backport

#19816 samples: matter: Fix nRF54L15 internal build docs.
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/template/README.rst
  samples/matter/template/prj_release.conf
Labels: doc-required

#19696 samples: matter: disable mpsl before preforming factory reset
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  west.yml
Labels: doc-required, manifest, manifest-matter

#19415 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#19842 actions: Limit Toolchain Sync execution
  .github/workflows/enforce-toolchain-synchronization.yml
Labels: changelog-entry-required, backport v2.9-nRF54H20-branch

#19845 [Backport v2.9-nRF54H20-branch] actions: Limit Toolchain Sync execution
  .github/workflows/enforce-toolchain-synchronization.yml
Labels: changelog-entry-required, Backport

#18298 manifest: sdk-zephyr: [nrf fromlist] tests: drivers: uart: async_api: Add nrf54h20 cpuppr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#19838 [Backport v2.9-nRF54H20-branch] suit: increase synchronous invoke timeout
  config/suit/templates/nrf54h20/default/v1/app_recovery_local_envelope.yaml.jinja2
Labels: changelog-entry-required, Backport

#19835 [Backport v2.9-nRF54H20-branch] suit: Remove legacy implementation
  subsys/mgmt/suitfu/src/suitfu_mgmt_suit.c
  subsys/suit/memory_layout/src/suit_memory_layout.c
  subsys/suit/storage/Kconfig
  subsys/suit/storage/include/suit_storage_internal.h
  subsys/suit/storage/src/suit_storage_update.c
  subsys/suit/utils/src/suit_plat_mem_util.c
Labels: changelog-entry-required, Backport

#19819 tests: psa_crypto: Clean up configs
  tests/psa_crypto/prj.conf
  tests/psa_crypto/tests/test_ikg_identity_key_sign_verify.c
  tests/psa_crypto/tests/test_kmu_write.c
Labels: changelog-entry-required

#19728 quarantine: update
  scripts/quarantine.yaml
Labels: changelog-entry-required

#19791 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#19846 samples: openthread: fix THCI for Thread 1.3/1.4
  samples/openthread/cli/harness-thci/nRF_Connect_SDK_13_14.py
Labels: changelog-entry-required

#19780 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#19841 tests: benchmarks: Check if unexpected resets happens at H20
  tests/benchmarks/multicore/idle/testcase.yaml
Labels: changelog-entry-required

#19805 Bluetooth: Mesh: fix uptime to tai conversion inaccuracy
  subsys/bluetooth/mesh/time_srv.c
Labels: ble mesh

#19772 tests: Add decrypt filter unit tests.
  subsys/suit/stream/stream_filters/include/suit_decrypt_filter.h
  subsys/suit/stream/stream_filters/src/suit_decrypt_filter.c
  tests/subsys/suit/unit/mocks/include/mock_suit_crypto.h
  tests/subsys/suit/unit/mocks/include/mock_suit_mci.h
  tests/subsys/suit/unit/suit_decrypt_filter/CMakeLists.txt
  tests/subsys/suit/unit/suit_decrypt_filter/Kconfig
  tests/subsys/suit/unit/suit_decrypt_filter/prj.conf
  tests/subsys/suit/unit/suit_decrypt_filter/src/main.c
  tests/subsys/suit/unit/suit_decrypt_filter/testcase.yaml
Labels: changelog-entry-required

#19832 openthread: remove 1.3 prebuilt libraries
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#19849 samples: matter: align extra args in sample yamls
  applications/matter_bridge/sample.yaml
  samples/matter/light_bulb/sample.yaml
  samples/matter/light_switch/sample.yaml
  samples/matter/lock/sample.yaml
  samples/matter/smoke_co_alarm/sample.yaml
  samples/matter/template/sample.yaml
Labels: changelog-entry-required

#19749 [Backport v2.9-nRF54H20-branch] doc: post-release doc changes 2.9.0
  doc/nrf/protocols/matter/index.rst
  doc/nrf/releases_and_maturity.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_1.x_to_2.x.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.4.99-cs3_to_2.6.99-cs2.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.5.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.6.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.7.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.8.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.9.0-nrf54h20-rc1.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.9.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_3.0.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7_99-cs1.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7_99-cs2.rst
  doc/nrf/releases_and_maturity/migration/migration_hwmv2.rst
  doc/nrf/releases_and_maturity/migration/migration_sysbuild.rst
  doc/nrf/releases_and_maturity/migration_guides.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/versions.json
Labels: doc-required, Backport

#19795 doc: Update build file name on Thingy:91 and 91 X docs
  doc/nrf/app_dev/device_guides/thingy91/thingy91_building_programming.rst
  doc/nrf/app_dev/device_guides/thingy91x/thingy91x_building_programming.rst
Labels: doc-required, CI-disable

#19809 doc: nrf util: usb driver prerequisite for win
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_gs.rst
  doc/nrf/installation/install_ncs.rst
  doc/nrf/installation/recommended_versions.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable, doc only

#19670 manifest: update oberon psa crypto revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-oberon-psa-crypto

#19583 manifest: sdk-zephyr: [nrf fromlist] include: drivers: nrf_clock_control: make nrf_clock inclusion stricter
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#19768 lib: lte_link_control: Misc doc updates
  doc/nrf/libraries/modem/lte_lc.rst
  include/modem/lte_lc.h
Labels: doc-required

#19847 manifest: Update sdk-zephyr revision (auto-manifest PR)
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#19775 doc: Refer test commands section of BLE Core Spec in DTM sample
  samples/bluetooth/direct_test_mode/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#19867 suit: Fix Nordic top candidate verification seq
  config/suit/templates/nrf54h20/default/v1/root_with_binary_nordic_top.yaml.jinja2
Labels: changelog-entry-required, bugfix, backport v2.9-nRF54H20-branch

#18953 bluetooth: hci_driver: Fix deadlock in MPSL workq
  subsys/bluetooth/controller/hci_driver.c
Labels: CI-all-test, changelog-entry-required

#19872 [Backport v2.9-nRF54H20-branch] suit: Fix Nordic top candidate verification seq
  config/suit/templates/nrf54h20/default/v1/root_with_binary_nordic_top.yaml.jinja2
Labels: changelog-entry-required, bugfix, Backport

#19828 doc: thingy53: remove GSG guide
  doc/_utils/redirects.py
  doc/_zoomin/ncs.tags.yml
  doc/nrf/app_dev/device_guides/thingy53/building_thingy53.rst
  doc/nrf/app_dev/device_guides/thingy53/images/thingy53_application_info.png
  doc/nrf/app_dev/device_guides/thingy53/images/thingy53_nrf5340_dk.webp
  doc/nrf/app_dev/device_guides/thingy53/images/thingy53_progress_wheel.png
  doc/nrf/app_dev/device_guides/thingy53/images/thingy53_sample_list.png
  doc/nrf/app_dev/device_guides/thingy53/index.rst
  doc/nrf/app_dev/device_guides/thingy53/thingy53_application_guide.rst
  doc/nrf/app_dev/device_guides/thingy53/thingy53_precompiled.rst
  doc/nrf/gsg_guides.rst
  doc/nrf/gsg_guides/images/programmer_thingy53_mcuboot_dfu.png
  doc/nrf/gsg_guides/images/thingy53_sw1_sw2.webp
  doc/nrf/gsg_guides/images/thingy53_sw1_usb.webp
  doc/nrf/gsg_guides/thingy53_gs.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable, doc only

#19681 suit: Build system changes needed for encryption
  cmake/sysbuild/suit.cmake
  cmake/sysbuild/suit_utilities.cmake
  config/suit/templates/nrf54h20/default/v1/app_envelope.yaml.jinja2
  config/suit/templates/nrf54h20/default/v1/rad_envelope.yaml.jinja2
  samples/suit/smp_transfer/suit/nrf54h20/app_envelope_extflash.yaml.jinja2
  samples/suit/smp_transfer/suit/nrf54h20/rad_envelope_extflash.yaml.jinja2
  sysbuild/Kconfig.suit
  west.yml
Labels: manifest, changelog-entry-required, manifest-suit-generator

#19826 samples: matter: Disable GPIO forwarder in mcuboot
  applications/matter_bridge/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/light_bulb/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/light_switch/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/lock/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/smoke_co_alarm/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/template/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/thermostat/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/window_covering/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.overlay
Labels: changelog-entry-required

#19691 applications: nrf_desktop: generic max report size handling
  applications/nrf_desktop/configuration/common/hid_report_desc.h
Labels: changelog-entry-required

#19806 [Backport v2.9-nRF54H20-branch] manifest: update sdk-nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#19789 bluetooth: controller: remove vs supported commands implementation
  include/bluetooth/hci_vs_sdc.h
  subsys/bluetooth/controller/hci_internal.c
  subsys/bluetooth/hci_vs_sdc.c
Labels: changelog-entry-required

#19757 Bluetooth: Mesh: fix defaults for generic location srv
  include/bluetooth/mesh/gen_loc.h
  subsys/bluetooth/mesh/gen_loc_internal.h
  subsys/bluetooth/mesh/gen_loc_srv.c
  subsys/bluetooth/mesh/shell/shell_loc_cli.c
Labels: ble mesh

#19684 doc: Added GDFS to 54H clock Arch doc
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_architecture_clockman.rst
Labels: doc-required, changelog-entry-required, backport v2.9-nRF54H20-branch

#19888 actions: Bump limit of listed PRs
  .github/workflows/enforce-toolchain-synchronization.yml
Labels: changelog-entry-required

#19801 manifest: sdk-zephyr: [nrf fromlist] drivers: pwm: fixes for fast PWM120
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#19878 samples: Add radio trims and PAN for nRF54H20 in DTM, RT and ESB
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/direct_test_mode/src/dtm.c
  samples/peripheral/radio_test/src/main.c
  subsys/esb/esb.c
Labels: doc-required

#18201 doc: updated IKG docs for nrf54l15
  doc/nrf/app_dev/device_guides/nrf54l/cryptography.rst
Labels: doc-required, changelog-entry-required

#19858 samples: bluetooth: Bugfix in DTM
  samples/bluetooth/direct_test_mode/src/dtm.c
Labels: external, CI-Requested

#19840 lib: pdn: Update library API and documentation
  doc/nrf/libraries/modem/pdn.rst
  include/modem/pdn.h
  lib/pdn/Kconfig
  lib/pdn/esm.c
Labels: doc-required

#19893 manifest: [nrf fromlist] drivers: pwm: fixes for fast PWM120
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#19894 samples: nrfcloud_multi_service: Increase heap t91x
  samples/cellular/nrf_cloud_multi_service/boards/thingy91x_nrf9151_ns.conf
Labels: changelog-entry-required

#19898 tests: nrf_auraconfig: Rename usecase_defines.sh
  tests/bluetooth/bsim/nrf_auraconfig/tests/_usecase_defines.sh
  tests/bluetooth/bsim/nrf_auraconfig/tests/usecase_0_test.sh
  tests/bluetooth/bsim/nrf_auraconfig/tests/usecase_1_test.sh
  tests/bluetooth/bsim/nrf_auraconfig/tests/usecase_2_test_BIG0.sh
  tests/bluetooth/bsim/nrf_auraconfig/tests/usecase_2_test_BIG1.sh
  tests/bluetooth/bsim/nrf_auraconfig/tests/usecase_3_test.sh
  tests/bluetooth/bsim/nrf_auraconfig/tests/usecase_4_test.sh
  tests/bluetooth/bsim/nrf_auraconfig/tests/usecase_5_test.sh
Labels: changelog-entry-required

#19905 manifest: sdk-zephyr: [nrf fromlist] tests: kernel: Fix for nRF54H20
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#19760 suit: in-place updateable components
  subsys/sdfw_services/services/suit_service/CMakeLists.txt
  subsys/sdfw_services/services/suit_service/suit_ipuc.c
  subsys/sdfw_services/services/suit_service/suit_service.cddl
  subsys/sdfw_services/services/suit_service/zcbor_generated/suit_service_decode.c
  subsys/sdfw_services/services/suit_service/zcbor_generated/suit_service_decode.h
  subsys/sdfw_services/services/suit_service/zcbor_generated/suit_service_encode.c
  subsys/sdfw_services/services/suit_service/zcbor_generated/suit_service_encode.h
  subsys/sdfw_services/services/suit_service/zcbor_generated/suit_service_types.h
  subsys/suit/CMakeLists.txt
  subsys/suit/Kconfig
  subsys/suit/ipuc/CMakeLists.txt
  subsys/suit/ipuc/Kconfig
  subsys/suit/ipuc/include/suit_ipuc.h
  subsys/suit/ipuc/include/suit_ipuc_sdfw.h
  subsys/suit/ipuc/src/suit_ipuc_sdfw.c
  subsys/suit/platform/CMakeLists.txt
  subsys/suit/platform/include/suit_plat_ipuc.h
  subsys/suit/platform/sdfw/CMakeLists.txt
  subsys/suit/platform/sdfw/Kconfig
  subsys/suit/platform/sdfw/src/suit_plat_copy_sdfw_specific.c
  subsys/suit/platform/sdfw/src/suit_plat_ipuc.c
  subsys/suit/platform/sdfw/src/suit_plat_write_sdfw_specific.c
  subsys/suit/platform/src/suit_plat_components.c
  subsys/suit/platform/src/suit_plat_fetch.c
  tests/subsys/suit/copy/CMakeLists.txt
  tests/subsys/suit/copy/prj.conf
  tests/subsys/suit/copy/src/main.c
  tests/subsys/suit/fetch/CMakeLists.txt
  tests/subsys/suit/fetch/src/main.c
  tests/subsys/suit/ipuc/CMakeLists.txt
  tests/subsys/suit/ipuc/prj.conf
  tests/subsys/suit/ipuc/src/main.c
  tests/subsys/suit/unit/mocks/CMakeLists.txt
  tests/subsys/suit/unit/mocks/include/mock_suit_ipuc_sdfw.h
  tests/subsys/suit/unit/mocks/include/mock_suit_plat_ipuc.h
  tests/subsys/suit/unit/mocks/include/mocks.h
  tests/subsys/suit/unit/suit_plat_override_image_size/CMakeLists.txt
  tests/subsys/suit/unit/suit_plat_override_image_size/src/main.c
  tests/subsys/suit/write/CMakeLists.txt
  tests/subsys/suit/write/src/main.c
Labels: changelog-entry-required

#19907 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154

#19911 applications: asset_tracker_v2: Use UUID as device ID for thingy91x
  applications/asset_tracker_v2/boards/thingy91x_nrf9151_ns.conf
Labels: changelog-entry-required

#19484 samples: net: download: Fix compilation with secure socket disabled
  samples/net/download/CMakeLists.txt
Labels: external, CI-Requested

#19910 doc: release notes: Add note about fixed flash driver and ble coop
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#19823 subsys: net: lib: downloader: make sure at least one transport enabled
  subsys/net/lib/downloader/dl_transports.ld
Labels: changelog-entry-required

#19891 openthread: fix diags modules
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: manifest, manifest-zephyr, manifest-openthread, changelog-entry-required

#19906 tests: benchmarks: Implement EXMIF transfer with s2ram test
  tests/benchmarks/multicore/idle_exmif/CMakeLists.txt
  tests/benchmarks/multicore/idle_exmif/Kconfig.sysbuild
  tests/benchmarks/multicore/idle_exmif/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/benchmarks/multicore/idle_exmif/prj.conf
  tests/benchmarks/multicore/idle_exmif/src/main.c
  tests/benchmarks/multicore/idle_exmif/sysbuild.cmake
  tests/benchmarks/multicore/idle_exmif/testcase.yaml
Labels: changelog-entry-required

#19167 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#19917 doc: nrf54h20: fix trace version and rephrase text
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_gs.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable, bugfix, doc only, backport v2.9-nRF54H20-branch

#19882 doc: Added known issues related to Matter
  doc/nrf/releases_and_maturity/known_issues.rst
  samples/matter/smoke_co_alarm/README.rst
Labels: doc-required, changelog-entry-required

#19880 doc: add-ons: add information about the index
  doc/nrf/app_dev/create_application.rst
  doc/nrf/glossary.rst
  doc/nrf/integrations.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable, doc only

#19930 scripts: quarantine: add sample.find_my.switchable_networks
  scripts/quarantine.yaml
Labels: changelog-entry-required

#19919 applications: nrf_desktop: Add PM for nrf54h20
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/prj.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/prj_release.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpurad/images/ipc_radio/prj.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpurad/images/ipc_radio/prj_release.conf
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#19939 tests: benchmarks: kernel_freq_change: adjust timeout
  tests/benchmarks/kernel_freq_change/prj.conf
  tests/benchmarks/kernel_freq_change/testcase.yaml
Labels: changelog-entry-required

#19779 [Backport v2.9-nRF54H20-branch] doc: 54h documentation improvements
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_configuration.rst
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_debugging.rst
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_logging.rst
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_suit_soc_binaries.rst
Labels: doc-required, changelog-entry-required, Backport

#19794 [Backport v2.9-nRF54H20-branch] doc: nrf: app_dev: nrf54h20: Global reset
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_architecture_pm.rst
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_architecture_reset.rst
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_debugging.rst
Labels: doc-required, changelog-entry-required, Backport

#19886 [Backport v2.9-nRF54H20-branch] doc: Added GDFS to 54H clock Arch doc
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_architecture_clockman.rst
Labels: doc-required, changelog-entry-required, Backport

#19923 [Backport v2.9-nRF54H20-branch] tests: benchmarks: multicore: Fix core synchronization in idle_pwm_lo…
  tests/benchmarks/multicore/idle_pwm_loopback/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/benchmarks/multicore/idle_pwm_loopback/src/main.c
  tests/benchmarks/multicore/idle_pwm_loopback/testcase.yaml
Labels: changelog-entry-required, Backport

#19693 subsys: bluetooth: pass information on report id in callbacks
  include/bluetooth/services/hids.h
  subsys/bluetooth/services/hids.c
Labels: changelog-entry-required

#19885 doc: j-link: update version to 8.10f
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable, doc only

#19863 bluetooth: Add required heap to the gatt_dm
  subsys/bluetooth/Kconfig.discovery
  subsys/bluetooth/services/ras/rreq/Kconfig.ras_rreq
Labels: 10-min-review

#19942 doc: create_application: fix freestanding app desc
  doc/nrf/app_dev/create_application.rst
Labels: doc-required, CI-disable, doc only

#19922 samples: psa_tls: Add TLS 1.3 tests for cracen
  samples/crypto/psa_tls/sample.yaml
Labels: changelog-entry-required

#19945 sdk-nrf-toolchain: Bump JLink version to v8.10f
  scripts/docker/Dockerfile
Labels: changelog-entry-required

#19731 nrf_security: Refactor get_opaque_size function
  subsys/nrf_security/src/drivers/cracen/cracenpsa/include/cracen_psa.h
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/common.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/key_management.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/kmu.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/platform_keys/platform_keys.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/platform_keys/platform_keys.h
  subsys/nrf_security/src/psa_crypto_driver_wrappers.c
Labels: changelog-entry-required

#19956 samples: psa_tls: Fix folder naming for tls tests
  samples/crypto/psa_tls/sample.yaml
Labels: changelog-entry-required

#19636 cmake: Prevent regenerating dfu multi image on every build
  cmake/dfu_multi_image.cmake
  subsys/bootloader/cmake/packaging.cmake
Labels: changelog-entry-required

#19876 manifest: update sdk-zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#19935 manifest: sdk-connectedhomeip: Update revision
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#19964 tests: benchmarks: kernel_freq_change: extend timeout
  tests/benchmarks/kernel_freq_change/testcase.yaml
Labels: changelog-entry-required

#19947 doc: fix to known issues py script
  doc/_extensions/page_filter.py
Labels: doc-required, changelog-entry-required

#19924 doc: hardware: Move LED example to a separate page
  doc/nrf/app_dev/config_and_build/hardware/add_new_driver.rst
  doc/nrf/app_dev/config_and_build/hardware/add_new_led_example.rst
  doc/nrf/app_dev/config_and_build/hardware/index.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable, doc only

#19968 doc: ap_protect: add link to nRF54L15 datasheet
  doc/nrf/links.txt
  doc/nrf/security/ap_protect.rst
Labels: doc-required, CI-disable, doc only

#19967 samples: https_client: New CA certificate
  samples/net/https_client/CMakeLists.txt
  samples/net/https_client/cert/DigiCertGlobalG2.pem
  samples/net/https_client/cert/DigiCertGlobalG3.pem
  samples/net/https_client/src/main.c
Labels: changelog-entry-required

#19961 doc: Add known issues related to Matter
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#19950 bluetooth: controller: Add dependencies to Kconfig symbols
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci_driver.c
Labels: changelog-entry-required

#19965 manifest: sdk-zephyr: [nrf fromtree] drivers: watchdog: nrfx: add synchronization after stop
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#19933 manifest: doc-internal: Update revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-doc-internal

#19972 [Backport v2.8-branch] ci: fix docbuild for ubuntu 24.04
  .github/workflows/docbuild.yml
Labels: changelog-entry-required, Backport

#19954 doc: Matter protocol: add Group Communication
  doc/nrf/links.txt
  doc/nrf/protocols/matter/overview/group_communication.rst
  doc/nrf/protocols/matter/overview/index.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable

#19977 scripts: quarantine: add drivers.sdp_asm.basic
  scripts/quarantine.yaml
Labels: changelog-entry-required

#19946 manifest: sdk-zephyr: [nrf fromlist] arch: riscv: option to init custom hw stacked esf memb…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#19980 manifest: update zephyr revision, fix VPR esr init
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#19976 samples: Bluetooth: update scanning_while_connecting sample
  samples/bluetooth/scanning_while_connecting/README.rst
  samples/bluetooth/scanning_while_connecting/src/main.c
Labels: doc-required, changelog-entry-required

#19971 [Backport v2.9-branch] ci: fix docbuild for ubuntu 24.04
  .github/workflows/docbuild.yml
Labels: changelog-entry-required, Backport
