Repository nrfconnect/sdk-nrf, pull requests merged in 2025-07, with the labels that each got.

#23051 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154

#22941 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#22564 lib: st25r3911b: Correct irq_clear to prevent spurious IRQs
  lib/st25r3911b/st25r3911b_interrupt.c
Labels: external, CI-Requested

#23067 tests: drivers: i2s: i2s_mclk: relax expectation at coverage
  tests/drivers/i2s/i2s_mclk/src/test_i2s_mclk.c
Labels: changelog-entry-required

#23070 tests: zephyr: drivers: clock_control: longer startup time
  tests/zephyr/drivers/clock_control/clock_control_api/boards/nrf54lm20pdk_nrf54lm20a_cpuapp_0_0_0.conf
  tests/zephyr/drivers/clock_control/clock_control_api/boards/nrf54lv10dk_nrf54lv10a_cpuapp_0_0_0.conf
Labels: changelog-entry-required

#22879 Applications: nrf5340_audio: Oct 3381 stop using audio ch l and r as indexes
  applications/nrf5340_audio/broadcast_sink/main.c
  applications/nrf5340_audio/broadcast_sink/overlay-broadcast_sink.conf
  applications/nrf5340_audio/broadcast_source/main.c
  applications/nrf5340_audio/broadcast_source/overlay-broadcast_source.conf
  applications/nrf5340_audio/src/audio/Kconfig
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/audio_system.c
  applications/nrf5340_audio/src/audio/le_audio_rx.c
  applications/nrf5340_audio/src/audio/sw_codec_select.c
  applications/nrf5340_audio/src/audio/sw_codec_select.h
  applications/nrf5340_audio/src/bluetooth/Kconfig
  applications/nrf5340_audio/src/bluetooth/bt_management/dfu/bt_mgmt_dfu.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_sink.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_server.c
  applications/nrf5340_audio/src/utils/CMakeLists.txt
  applications/nrf5340_audio/src/utils/Kconfig
  applications/nrf5340_audio/src/utils/channel_assignment.c
  applications/nrf5340_audio/src/utils/channel_assignment.h
  applications/nrf5340_audio/src/utils/device_location.c
  applications/nrf5340_audio/src/utils/device_location.h
  applications/nrf5340_audio/src/utils/fw_info_app.c.in
  applications/nrf5340_audio/src/utils/peripherals.c
  applications/nrf5340_audio/src/utils/uicr.c
  applications/nrf5340_audio/src/utils/uicr.h
  applications/nrf5340_audio/tools/buildprog/buildprog.py
  applications/nrf5340_audio/tools/buildprog/nrf5340_audio_dk_devices.json
  applications/nrf5340_audio/tools/buildprog/nrf5340_audio_dk_devices.py
  applications/nrf5340_audio/tools/buildprog/program.py
  applications/nrf5340_audio/unicast_client/main.c
  applications/nrf5340_audio/unicast_client/overlay-unicast_client.conf
  applications/nrf5340_audio/unicast_server/main.c
  doc/nrf/releases_and_maturity/migration/migration_guide_3.1.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/audio_defines.h
Labels: doc-required

#22948 doc: Update and list asset tracker template techdoc link
  doc/nrf/applications.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#23066 manifest: sdk-zephyr: [nrf fromtree] tests: spi: loopback: use CONFIG_ZTEST_STACK_SIZE for …
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#23082 tests: drivers: i2s: i2s_mclk: scale expectation at coverage
  tests/drivers/i2s/i2s_mclk/src/test_i2s_mclk.c
Labels: changelog-entry-required

#23069 doc: fast_pair: fmdn: add a note about the extension rename
  doc/nrf/external_comp/bt_fast_pair.rst
  doc/nrf/external_comp/dult.rst
  doc/nrf/includes/fast_pair_fmdn_rename.txt
  doc/nrf/libraries/bluetooth/services/fast_pair.rst
  samples/bluetooth/fast_pair/locator_tag/README.rst
Labels: doc-required

#23086 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#23071 applications: nrf_desktop: doc: usb_state: generalize dwc2 udc support
  applications/nrf_desktop/doc/usb_state.rst
Labels: doc-required, changelog-entry-required, doc only

#23088 sysbuild: Remove IRON variant
  cmake/sysbuild/sign_nrf54h20.cmake
  sysbuild/CMakeLists.txt
  sysbuild/Kconfig.mcuboot
  sysbuild/Kconfig.netcore
  sysbuild/netcore.cmake
Labels: changelog-entry-required

#23099 tests: benchmarks: add missing conf to start radio at h20
  tests/benchmarks/current_consumption/twim_suspend/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  tests/benchmarks/multicore/idle_clock_control/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  tests/benchmarks/multicore/idle_spim/boards/nrf54h20dk_nrf54h20_cpuapp.conf
Labels: changelog-entry-required

#23093 doc: zigbee: add github links
  doc/nrf/links.txt
  doc/nrf/protocols/zigbee/index.rst
  doc/nrf/samples/zigbee.rst
Labels: doc-required

#23058 manifest: Update sdk-mcuboot
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#23076 manifest: Update sdk-mcuboot revision
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#23118 samples: crypto: Remove coverage for 54h20 that is not supported yet
  samples/crypto/aes_cbc/sample.yaml
  samples/crypto/aes_ccm/sample.yaml
  samples/crypto/aes_ctr/sample.yaml
  samples/crypto/chachapoly/sample.yaml
  samples/crypto/ecjpake/sample.yaml
  samples/crypto/hkdf/sample.yaml
  samples/crypto/hmac/sample.yaml
  samples/crypto/pbkdf2/sample.yaml
  samples/crypto/spake2p/sample.yaml
Labels: changelog-entry-required

#23130 sysbuild: Update UICR.PERIPHCONF generation
  CMakeLists.txt
  cmake/sysbuild/periphconf_migrate.cmake
Labels: changelog-entry-required

#23110 sysbuild: Use ed25519 signature on nRF54H20
  sysbuild/Kconfig.mcuboot
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#23087 west: ncs-ironside-se-update: Improve error reporting
  scripts/west_commands/ncs_ironside_se_update.py
Labels: changelog-entry-required

#23152 scripts: ci: tags: extend deps for ci_samples_esb
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#23155 applications: connectivity_bridge: Rename define
  applications/connectivity_bridge/src/disk/config.c
Labels: changelog-entry-required

#23020 doc: make serial port mentions OS neutral
  applications/connectivity_bridge/README.rst
  applications/connectivity_bridge/boards/thingy91_nrf52840_readme.txt
  applications/connectivity_bridge/boards/thingy91x_nrf5340_cpuapp_readme.txt
  applications/nrf_desktop/doc/ble_qos.rst
  applications/serial_lte_modem/doc/PPP_linux.rst
  applications/serial_lte_modem/doc/slm_description.rst
  doc/nrf/app_dev/device_guides/nrf53/logging_nrf5340.rst
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_logging.rst
  doc/nrf/app_dev/device_guides/thingy91/thingy91_connecting.rst
  doc/nrf/libraries/shell/shell_bt_nus.rst
  doc/nrf/protocols/thread/certification.rst
  doc/nrf/protocols/wifi/regulatory_certification/test_setup.rst
  doc/nrf/security/tfm/tfm_logging.rst
  doc/nrf/shortcuts.txt
  doc/nrf/test_and_optimize.rst
  samples/bluetooth/direct_test_mode/README.rst
  samples/bluetooth/enocean/README.rst
  samples/bluetooth/mesh/chat/sample_description.rst
  samples/bluetooth/mesh/sensor_client/README.rst
  samples/bluetooth/peripheral_uart/README.rst
  samples/bluetooth/rpc_host/README.rst
  samples/cellular/fmfu_smp_svr/README.rst
  samples/nrf5340/remote_shell/README.rst
  samples/nrf_rpc/entropy_nrf53/README.rst
  samples/peripheral/802154_phy_test/README.rst
  samples/peripheral/802154_sniffer/README.rst
  samples/peripheral/radio_test/README.rst
  tests/nrf5340_audio/sw_codec_lc3/readme.txt
Labels: doc-required, CI-disable, changelog-entry-required, doc only

#23162 tests: benchmarks: multicore: Fix use of undefined Kconfigs
  tests/benchmarks/multicore/idle_flpr/remote/CMakeLists.txt
  tests/benchmarks/multicore/idle_grtc/CMakeLists.txt
  tests/benchmarks/multicore/idle_ppr/remote/CMakeLists.txt
  tests/benchmarks/multicore/idle_stm/remote/CMakeLists.txt
Labels: changelog-entry-required

#23172 manifest: sdk-zephyr: [nrf fromlist] bluetooth: mesh: remove persisted psa key if mesh does…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#23157 tests: idle_spim_loopback: Use high-drive for fast SPIM on P2
  tests/benchmarks/multicore/idle_spim_loopback/boards/nrf54h20dk_nrf54h20_cpuapp_fast_slow_pins.overlay
Labels: changelog-entry-required

#23158 net: Align Kconfig names in doc and code
  include/net/azure_iot_hub_dps.h
  samples/net/coap_client/README.rst
Labels: doc-required, changelog-entry-required

#23211 samples: Bluetooth: Rename sample direction finding
  samples/bluetooth/direction_finding_connectionless_tx/sample.yaml
Labels: changelog-entry-required, 10-min-review

#23194 applications: hpf: move common Kconfig to gpio and mspi Kconfigs
  applications/hpf/Kconfig
  applications/hpf/gpio/Kconfig
  applications/hpf/mspi/Kconfig
Labels: changelog-entry-required

#23192 doc/nrf/known_issues: NCSIDB-1431
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required, doc only

#23212 samples: zephyr: smp_svr_mini_boot: Fix static PM file
  samples/zephyr/smp_svr_mini_boot/pm_static.yml
Labels: changelog-entry-required

#23219 doc: Fix doc failure of Wi-Fi cred library
  doc/nrf/includes/wifi_credentials_shell.txt
  doc/nrf/libraries/bluetooth/services/wifi_prov.rst
  doc/nrf/libraries/networking/wifi_mgmt_ext.rst
  doc/nrf/releases_and_maturity/migration/2.4.99-cs3_to_2.6.99-cs2/migration_guide_2.4.99-cs3_to_2.6.99-cs2_application.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.6.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.8.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/migration_guide_2.4.99-cs3_to_2.7_application.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.3.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.6.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.7.0.rst
  samples/cellular/nrf_cloud_multi_service/README.rst
  samples/net/azure_iot_hub/README.rst
  samples/wifi/provisioning/ble/README.rst
  samples/wifi/shell/README.rst
  samples/wifi/sta/README.rst
Labels: doc-required, changelog-entry-required

#22786 tests: benchmarks: i2s_freq
  scripts/ci/tags.yaml
  tests/benchmarks/i2s_freq/CMakeLists.txt
  tests/benchmarks/i2s_freq/Kconfig
  tests/benchmarks/i2s_freq/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/benchmarks/i2s_freq/boards/nrf5340dk_nrf5340_cpuapp_aclk.overlay
  tests/benchmarks/i2s_freq/prj.conf
  tests/benchmarks/i2s_freq/src/main.c
  tests/benchmarks/i2s_freq/testcase.yaml
Labels: changelog-entry-required

#23195 applications: nrf_desktop: Fix typo in doc
  applications/nrf_desktop/doc/power_manager.rst
Labels: doc-required, 10-min-review, doc only

#23190 esb: Fix FEM enabling mechanism
  subsys/esb/esb.c
Labels: 10-min-review

#23248 samples: bluetooth: Add configuration for nRF54lv10dk
  samples/bluetooth/event_trigger/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
Labels: changelog-entry-required

#23243 bluetooth: hci: Replace bt_hci_cmd_create() with bt_hci_cmd_alloc()
  subsys/bluetooth/adv_prov/providers/tx_power.c
  subsys/bluetooth/hci_vs_sdc.c
  subsys/bluetooth/host_extensions/host_extensions.c
  subsys/bluetooth/rpc/host/bt_rpc_internal_host.c
  subsys/bluetooth/services/fast_pair/fmdn/state.c
Labels: changelog-entry-required

#23163 applications: serial_lte_modem: Use downstream UART backend
  applications/serial_lte_modem/overlay-cmux.conf
  applications/serial_lte_modem/overlay-ppp-cmux-linux.conf
  applications/serial_lte_modem/overlay-ppp.conf
  applications/serial_lte_modem/src/slm_cmux.c
  applications/serial_lte_modem/src/slm_ppp.c
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#23053 nrf_security: Fix 54lm20 alignment issue in Cracen
  subsys/nrf_security/src/drivers/cracen/silexpk/src/montgomery.c
Labels: changelog-entry-required

#23246 manifest: sdk-zephyr: Cherry pick host privacy fix
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#23272 applications: nrf_desktop: Use warning log on HID report sent error
  applications/nrf_desktop/src/modules/hid_provider_consumer_ctrl.c
  applications/nrf_desktop/src/modules/hid_provider_keyboard.c
  applications/nrf_desktop/src/modules/hid_provider_mouse.c
  applications/nrf_desktop/src/modules/hid_provider_system_ctrl.c
Labels: 10-min-review

#23278 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#23271 doc: crypto: updates to supported features page, part 3/3
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/security/crypto/crypto_supported_features.rst
Labels: doc-required, CI-disable, doc only

#23213 cmake: sysbuild: partition_manager: Handle region kconfig disabled
  cmake/sysbuild/partition_manager.cmake
Labels: external, changelog-entry-required, CI-Requested

#23257 mpsl: Use nrf2 cloc ctrl resolve API to get LFCLK accuracy
  subsys/mpsl/clock_ctrl/mpsl_clock_ctrl.c
Labels: changelog-entry-required

#23229 manifest: zephyr: cherry pick removal of nordic,cryptocell compat
  west.yml
Labels: manifest, manifest-zephyr

#23265 applications: nrf_desktop: add support for the nRF54LM20 DK
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/app.overlay
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/app_common.dtsi
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/app_llvm.overlay
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/app_release.overlay
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/buttons_def.h
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/click_detector_def.h
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/hid_keyboard_leds_def.h
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/hid_keymap_def.h
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/images/mcuboot/app.overlay
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/images/mcuboot/mcuboot_private.pem
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/images/mcuboot/prj.conf
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/images/mcuboot/prj_llvm.conf
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/images/mcuboot/prj_release.conf
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/led_state_def.h
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/pm_static.yml
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/pm_static_llvm.yml
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/pm_static_release.yml
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/port_state_def.h
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/prj.conf
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/prj_llvm.conf
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/prj_release.conf
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/sysbuild.conf
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/sysbuild_llvm.conf
  applications/nrf_desktop/configuration/nrf54lm20dk_nrf54lm20a_cpuapp/sysbuild_release.conf
  applications/nrf_desktop/sample.yaml
Labels: changelog-entry-required

#23284 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#23297 dts: common: nordic: Add reg parameter for global_peripherals node
  dts/common/nordic/nrf54lm20a.dtsi
  dts/common/nordic/nrf54lv10a.dtsi
  dts/common/nordic/nrf7120_enga.dtsi
Labels: changelog-entry-required

#23240 move mramc dtsi to secure dtsi
  dts/common/nordic/nrf7120_enga.dtsi
  dts/common/nordic/nrf7120_enga_secure_peripherals.dtsi
Labels: changelog-entry-required

#23298 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#23251 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#23302 dfu_target: Do not erase last page in dfu_target_mcuboot_done
  subsys/dfu/dfu_target/src/dfu_target_mcuboot.c
Labels: changelog-entry-required

#23252 tests: nrf_compress: Add nrf54h20 test support
  tests/subsys/nrf_compress/decompression/arm_thumb/testcase.yaml
  tests/subsys/nrf_compress/decompression/lzma/testcase.yaml
  tests/subsys/nrf_compress/decompression/mcuboot_update/Kconfig
  tests/subsys/nrf_compress/decompression/mcuboot_update/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/subsys/nrf_compress/decompression/mcuboot_update/modified_signing.cmake
  tests/subsys/nrf_compress/decompression/mcuboot_update/src/main.c
  tests/subsys/nrf_compress/decompression/mcuboot_update/sysbuild/mcuboot/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  tests/subsys/nrf_compress/decompression/mcuboot_update/sysbuild/mcuboot/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/subsys/nrf_compress/decompression/mcuboot_update/testcase.yaml
Labels: changelog-entry-required

#23129 doc: openthread: Describe nRF radio implementation
  doc/nrf/protocols/thread/configuring.rst
  doc/nrf/protocols/thread/overview/architectures.rst
  doc/nrf/protocols/thread/overview/images/thread_platform_design_multi_direct.svg
  doc/nrf/protocols/thread/overview/images/thread_platform_design_nRF53_direct.svg
  doc/nrf/protocols/thread/overview/images/thread_platform_design_nRF53_multi_direct.svg
  doc/nrf/protocols/thread/overview/images/thread_platform_design_ncp_direct.svg
  doc/nrf/protocols/thread/overview/images/thread_platform_design_rcp_direct.svg
  doc/nrf/protocols/thread/overview/images/thread_platform_design_soc_direct.svg
  doc/nrf/releases_and_maturity/migration/migration_guide_3.1.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/openthread/cli/README.rst
  samples/openthread/coap_server/README.rst
  samples/openthread/coprocessor/README.rst
Labels: doc-required

#23303 doc: wifi: fix path to header files
  doc/nrf/protocols/wifi/advanced_modes/raw_tx_operation.rst
Labels: doc-required, changelog-entry-required

#23294 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#23316 samples: matter: Fixed deferred attribute persister
  doc/nrf/releases_and_maturity/migration/migration_guide_3.1.rst
  samples/matter/common/src/app/matter_init.cpp
  samples/matter/common/src/app/matter_init.h
  samples/matter/light_bulb/src/app_task.cpp
  samples/matter/light_bulb/src/zcl_callbacks.cpp
Labels: doc-required, changelog-entry-required

#23331 docker: Use nrfutil device from toolchain bundle
  scripts/docker/Dockerfile
Labels: changelog-entry-required

#22683 doc: add pages about data and key storage
  doc/nrf/app_dev.rst
  doc/nrf/app_dev/data_storage.rst
  doc/nrf/app_dev/device_guides/nrf54l/cryptography.rst
  doc/nrf/app_dev/device_guides/nrf54l/zms.rst
  doc/nrf/images/data_storage_file_system.svg
  doc/nrf/images/data_storage_nvmc.svg
  doc/nrf/images/data_storage_nvs.svg
  doc/nrf/images/data_storage_psa_no_tfm.svg
  doc/nrf/images/data_storage_psa_tfm.svg
  doc/nrf/images/data_storage_rramc.svg
  doc/nrf/images/data_storage_settings.svg
  doc/nrf/images/data_storage_zms.svg
  doc/nrf/libraries/security/bootloader/fprotect.rst
  doc/nrf/libraries/security/hw_unique_key.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/migration/migration_guide_2.8.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.8.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.9.0-nRF54H20-1.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/security.rst
  doc/nrf/security/crypto/driver_config.rst
  doc/nrf/security/key_storage.rst
  doc/nrf/security/psa_certified_api_overview.rst
Labels: doc-required, CI-disable, doc only

#23097 manifest: update mcuboot
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#23264 tests: benchmarks: Run sample on nrf54lm20dk
  tests/benchmarks/current_consumption/gpio_idle/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  tests/benchmarks/current_consumption/gpio_idle/testcase.yaml
  tests/benchmarks/current_consumption/grtc_idle/testcase.yaml
  tests/benchmarks/current_consumption/multicore_system_off/Kconfig.sysbuild
  tests/benchmarks/current_consumption/multicore_system_off/testcase.yaml
  tests/benchmarks/current_consumption/nfc_idle/testcase.yaml
  tests/benchmarks/current_consumption/system_off/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  tests/benchmarks/current_consumption/system_off/boards/nrf54lm20dk_nrf54lm20a_cpuapp_gpio_wakeup.overlay
  tests/benchmarks/current_consumption/system_off/testcase.yaml
  tests/benchmarks/current_consumption/uart_console/testcase.yaml
  tests/benchmarks/current_consumption/uart_idle/testcase.yaml
  tests/benchmarks/current_consumption/uarte_suspend/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  tests/benchmarks/current_consumption/uarte_suspend/testcase.yaml
  tests/benchmarks/early_logging/testcase.yaml
  tests/benchmarks/power_consumption/adc/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  tests/benchmarks/power_consumption/adc/testcase.yaml
  tests/benchmarks/power_consumption/adc_async/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  tests/benchmarks/power_consumption/adc_async/testcase.yaml
  tests/benchmarks/power_consumption/flash/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  tests/benchmarks/power_consumption/flash/testcase.yaml
  tests/benchmarks/power_consumption/gpio/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  tests/benchmarks/power_consumption/gpio/testcase.yaml
  tests/benchmarks/power_consumption/lpcomp/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  tests/benchmarks/power_consumption/lpcomp/testcase.yaml
  tests/benchmarks/power_consumption/qdec/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  tests/benchmarks/power_consumption/qdec/testcase.yaml
  tests/benchmarks/power_consumption/timer_waiting/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  tests/benchmarks/power_consumption/timer_waiting/testcase.yaml
  tests/benchmarks/power_consumption/uart_async/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  tests/benchmarks/power_consumption/uart_async/testcase.yaml
  tests/benchmarks/power_consumption/uart_interrupt/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  tests/benchmarks/power_consumption/uart_interrupt/testcase.yaml
  tests/benchmarks/power_consumption/uart_polling/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  tests/benchmarks/power_consumption/uart_polling/testcase.yaml
Labels: changelog-entry-required

#23330 scripts: update memory-threshold-list.yaml with sample.smp_svr_mini_boot
  scripts/memory-threshold-list.yaml
Labels: changelog-entry-required

#23377 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#23371 manifest: sdk-zephyr: IEEE 802.15.4 cherrypicks
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#23386 doc: Fixed matter watchdog documentation
  doc/nrf/protocols/matter/end_product/watchdog.rst
Labels: doc-required

#22056 doc: nRF541l15: Add information on ECIES-X25519 support
  doc/nrf/app_dev/device_guides/nrf54l/dfu_config.rst
  doc/nrf/app_dev/device_guides/nrf54l/ecies_x25519.rst
  doc/nrf/app_dev/device_guides/nrf54l/index.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#23382 samples: pmic: add nRF54LM20A support in nPM1300 samples
  samples/pmic/native/npm1300_fuel_gauge/README.rst
  samples/pmic/native/npm1300_fuel_gauge/boards/extensions/nrf54lm20dk/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  samples/pmic/native/npm1300_fuel_gauge/boards/nrf52840dk_nrf52840.overlay
  samples/pmic/native/npm1300_fuel_gauge/boards/nrf52dk_nrf52832.overlay
  samples/pmic/native/npm1300_fuel_gauge/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/pmic/native/npm1300_fuel_gauge/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/pmic/native/npm1300_fuel_gauge/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  samples/pmic/native/npm1300_fuel_gauge/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  samples/pmic/native/npm1300_fuel_gauge/boards/nrf9160dk_nrf9160.overlay
  samples/pmic/native/npm1300_fuel_gauge/sample.yaml
  samples/pmic/native/npm1300_one_button/README.rst
  samples/pmic/native/npm1300_one_button/boards/extensions/nrf54lm20dk/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  samples/pmic/native/npm1300_one_button/boards/nrf52840dk_nrf52840.overlay
  samples/pmic/native/npm1300_one_button/boards/nrf52dk_nrf52832.overlay
  samples/pmic/native/npm1300_one_button/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/pmic/native/npm1300_one_button/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/pmic/native/npm1300_one_button/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  samples/pmic/native/npm1300_one_button/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  samples/pmic/native/npm1300_one_button/boards/nrf9160dk_nrf9160.overlay
  samples/pmic/native/npm1300_one_button/sample.yaml
Labels: doc-required, changelog-entry-required

#23362 Fix hostap crypto configs
  subsys/net/lib/hostap_crypto/CMakeLists.txt
Labels: changelog-entry-required

#23369 samples: matter: enabled measuring factory reset time
  samples/matter/light_bulb/sample.yaml
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#23405 manifest: sdk-zephyr: [nrf fromtree] tests: kernel: timer: timer_behavior: Fix max_stddev c…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#23209 doc: fast_pair: add documentation for the Fast Pair advertising manager
  CODEOWNERS
  doc/nrf/external_comp/bt_fast_pair.rst
  doc/nrf/external_comp/bt_fast_pair/adv_manager.rst
  doc/nrf/libraries/bluetooth/services/fast_pair.rst
  doc/nrf/libraries/bluetooth/services/fast_pair/adv_manager.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, doc only

#23379 manifest: mbedtls: update to 3.6.4
  west.yml
Labels: manifest, manifest-mbedtls

#23407 doc: Fixed memory map for nRF54L10 in Matter
  doc/nrf/protocols/matter/getting_started/hw_requirements.rst
Labels: doc-required

#23398 samples: matter: Update certification configuration and add device certificates
  samples/matter/common/src/certification/certs/CD.der
  samples/matter/common/src/certification/certs/dac_cert.der
  samples/matter/common/src/certification/certs/dac_cert.pem
  samples/matter/common/src/certification/certs/dac_key.der
  samples/matter/common/src/certification/certs/dac_key.pem
  samples/matter/common/src/certification/certs/paa_cert.der
  samples/matter/common/src/certification/certs/paa_cert.pem
  samples/matter/common/src/certification/certs/paa_key.pem
  samples/matter/common/src/certification/certs/pai_cert.der
  samples/matter/common/src/certification/certs/pai_cert.pem
  samples/matter/common/src/certification/certs/pai_key.der
  samples/matter/common/src/certification/certs/pai_key.pem
  samples/matter/common/src/certification/chip_project_config.h
  samples/matter/common/src/certification/thread_platform/device_data_model.txt
  samples/matter/common/src/certification/thread_platform/overlay-thread_platform.conf
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#23408 samples: bootloader: readme: Remove undefined Kconfigs
  samples/bootloader/README.rst
Labels: doc-required, changelog-entry-required

#23385 kconfig: Change default main stack size for softdevice
  Kconfig.nrf
Labels: changelog-entry-required

#22784 doc: requirements: adding natsort
  doc/requirements.txt
Labels: doc-required, Stale, changelog-entry-required

#22976 scripts: west: create_board: Fix issues in some board templates
  scripts/west_commands/create_board/config.yml
  scripts/west_commands/create_board/templates/nrf53/Kconfig.defconfig.jinja2
  scripts/west_commands/create_board/templates/nrf54l/board.dts.jinja2
  scripts/west_commands/create_board/templates/nrf91/Kconfig.defconfig.jinja2
Labels: changelog-entry-required

#23397 manifest: sdk-zephyr: Nrfx 7936 nrfx 7936 enable samples and tests on nrf54lm20a pt3
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#23156 manifest: sdk-zephyr: [fromtree] bluetooth: fix bug when destroying tx buffers on disconnected
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#23435 manifest: sdk-zephyr: samples: net: lwm2m_client: Fix nrf91x overlay
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#23277 sysbuild: Allow selecting SHA512 for HMAC/HKDF in MCUboot
  sysbuild/CMakeLists.txt
  sysbuild/Kconfig.mcuboot
Labels: changelog-entry-required

#23446 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#23456 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#23459 samples: coremark: Change _common .overlay to _common.dtsi
  samples/benchmarks/coremark/app.overlay
  samples/benchmarks/coremark/boards/app_aliases_common.dtsi
  samples/benchmarks/coremark/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/benchmarks/coremark/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/benchmarks/coremark/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  samples/benchmarks/coremark/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  samples/benchmarks/coremark/boards/nrf54lm20pdk_nrf54lm20a_cpuapp.overlay
Labels: changelog-entry-required

#23399 nrf_rpc: add crash generation functions fix
  snippets/ci-shell/ci-shell.conf
  subsys/nrf_rpc/rpc_utils/server/crash_gen.c
Labels: changelog-entry-required

#23438 Fast Pair Locator Tag sample: documentation update after integration of the FP Advertising Manager module
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/fast_pair/locator_tag/README.rst
Labels: doc-required

#23441 mpsl: continue calibrating LFRC after mpsl_lib_uninit()
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/mpsl/init/mpsl_init.c
Labels: doc-required

#23460 samples: wifi: provisioning: softap: Add nrf7002ek support
  samples/wifi/provisioning/softap/sample.yaml
Labels: changelog-entry-required

#23268 doc: wifi: Corrections to command example
  doc/nrf/protocols/wifi/regulatory_certification/adaptivity_test_procedure.rst
  doc/nrf/protocols/wifi/regulatory_certification/using_wifi_station_sample.rst
Labels: doc-required, changelog-entry-required

#23440 applications: machine_learning: Correct nRF54H20 overlay
  applications/machine_learning/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.overlay
Labels: 10-min-review

#23324 applications: serial_lte_modem: Serve DNS from PDN to PPP
  applications/serial_lte_modem/src/slm_ppp.c
Labels: changelog-entry-required

#23104 manifest: sdk-nrfxlib: nrf_modem: update library
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#23418 modules: hal_nordic: nrfx: Add support for custom NRFX_DIR for Sysbuild
  modules/hal_nordic/CMakeLists.txt
Labels: changelog-entry-required

#23485 net: nrf_cloud_coap: kconfig for max_retries
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_coap
  subsys/net/lib/nrf_cloud/coap/src/nrf_cloud_coap_transport.c
Labels: doc-required

#23293 doc: crypto: supported features per device
  doc/nrf/releases_and_maturity/software_maturity.rst
  doc/nrf/security/crypto/crypto_supported_features.rst
Labels: doc-required, CI-disable, doc only

#23500 manifest: sdk-zephyr: [nrf fromtree] tests: drivers: flash: Add MSPI flash test in single I…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#23499 manifest: sdk-zephyr: [nrf fromlist] tests: drivers: gpio_basic_api: Add nrf_sense_edge tes…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#23513 tests: drivers: gpio: hpf_gpio_basic_api: increase timeout
  tests/drivers/gpio/hpf_gpio_basic_api/testcase.yaml
Labels: changelog-entry-required

#23473 manifest: sdk-zephyr: [nrf fromlist] dts: vendor: nordic: nrf54l10: Fix wrong size of NVM
  west.yml
Labels: manifest, manifest-zephyr, manifest-mcuboot, changelog-entry-required

#23461 nrf_security: Add WPA3-SAE configs to PSA
  subsys/nrf_security/cmake/psa_crypto_want_config.cmake
  subsys/nrf_security/configs/psa_crypto_want_config.h.template
Labels: changelog-entry-required

#23529 scripts: ci: tags: extend bluetooth deps for hal_nordic
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#23505 manifest: sdk-zephyr: [nrf fromtree] boards: shields: add npm1304_ek shield
  doc/nrf/releases_and_maturity/releases/release-notes-2.4.0.rst
  west.yml
Labels: doc-required, manifest, manifest-zephyr, changelog-entry-required

#23530 scripts: ci: tags: add missing ending / at folders
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#23448 doc: Added migration guide for nRF54H20 BICR config
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/migration/migration_bicr_nRF54H20.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#23533 tests: drivers: mspi_with_spis: Fix ranges property in sqspi overlay
  doc/nrf/drivers/mspi_sqspi.rst
  tests/drivers/mspi/mspi_with_spis/boards/nrf54h20dk_nrf54h20_cpuapp_sqspi.overlay
Labels: bug, doc-required

#23483 esb: Improve radio disable handling
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/esb/esb.c
Labels: doc-required

#23510 applications: machine_learning: Add power optimized configuration
  applications/machine_learning/sample.yaml
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, 10-min-review

#23515 samples: matter: Fix identify on EP1 in Matter Bridge App
  applications/matter_bridge/src/app_task.cpp
  applications/matter_bridge/src/app_task.h
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#23526 soc: nrf7120: add cache config
  soc/nordic/nrf71/Kconfig.defconfig
Labels: changelog-entry-required

#23525 improve robustness of 'west ncs-ironside-se-update'
  scripts/west_commands/ncs_ironside_se_update.py
Labels: changelog-entry-required

#23524 tests: bootloader: bootconf lock
  tests/subsys/bootloader/b0_lock/prj.conf
  tests/subsys/bootloader/b0_lock/src/main.c
  tests/subsys/bootloader/b0_lock/sysbuild.conf
  tests/subsys/bootloader/b0_lock/testcase.yaml
Labels: changelog-entry-required

#23520 manifest: sdk-zephyr: USB cherry picks for NCS 3.1.0
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#23570 samples: wifi: ble_coex: Fix crash when Zperf is started
  samples/wifi/ble_coex/src/main.c
Labels: changelog-entry-required

#23561 doc: matter: Fix Matter Light Switch groupcast guide
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/light_switch/README.rst
Labels: doc-required

#23559 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#23548 Applications: nrf5340_audio: defines cleanup
  applications/nrf5340_audio/src/audio/sw_codec_select.c
  applications/nrf5340_audio/src/bluetooth/bt_management/dfu/bt_mgmt_dfu.c
  applications/nrf5340_audio/src/modules/audio_i2s.c
  tests/subsys/audio/audio_module_template/src/template_test.c
Labels: changelog-entry-required

#23467 samples: Fixed 54L10 configuration for Matter and Thread
  doc/nrf/protocols/matter/getting_started/hw_requirements.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/manufacturer_specific/boards/nrf54l15dk_nrf54l10_cpuapp.overlay
  samples/matter/manufacturer_specific/pm_static_nrf54l15dk_nrf54l10_cpuapp.yml
  samples/matter/manufacturer_specific/sysbuild/mcuboot/boards/nrf54l15dk_nrf54l10_cpuapp.overlay
  samples/matter/smoke_co_alarm/boards/nrf54l15dk_nrf54l10_cpuapp.overlay
  samples/matter/smoke_co_alarm/pm_static_nrf54l15dk_nrf54l10_cpuapp.yml
  samples/matter/smoke_co_alarm/sysbuild/mcuboot/boards/nrf54l15dk_nrf54l10_cpuapp.overlay
  samples/matter/template/boards/nrf54l15dk_nrf54l10_cpuapp.overlay
  samples/matter/template/pm_static_nrf54l15dk_nrf54l10_cpuapp.yml
  samples/matter/template/sysbuild/mcuboot/boards/nrf54l15dk_nrf54l10_cpuapp.overlay
  samples/openthread/cli/boards/nrf54l15dk_nrf54l10_cpuapp.overlay
  samples/openthread/coprocessor/boards/nrf54l15dk_nrf54l10_cpuapp.overlay
Labels: doc-required

#23578 subsys: nrf_security: fix 'psa_status' may be used uninitialized
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/key_management.c
Labels: changelog-entry-required

#23579 samples: bluetooth: Switch samples to nrf54lm20dk
  samples/bluetooth/llpm/sample.yaml
  samples/bluetooth/peripheral_with_multiple_identities/sample.yaml
  samples/bluetooth/radio_notification_cb/sample.yaml
  samples/bluetooth/scanning_while_connecting/sample.yaml
  samples/bluetooth/subrating/sample.yaml
Labels: changelog-entry-required

#23568 ci/docbuild: fix zoomin patching for links to standalone Doxygen docsets
  .github/workflows/docbuild.yml
Labels: changelog-entry-required

#23547 sysbuild: Locate imgtool
  sysbuild/CMakeLists.txt
Labels: changelog-entry-required

#23601 samples: wifi: ble_coex: Fix possible crash if Zperf fails
  samples/wifi/ble_coex/src/main.c
Labels: changelog-entry-required

#23556 doc: Describe CAF module suspend/resume request events support
  applications/nrf_desktop/board_configuration.rst
  applications/nrf_desktop/doc/ble_adv_ctrl.rst
  applications/nrf_desktop/doc/event_propagation.rst
  applications/nrf_desktop/doc/usb_state_pm.rst
  applications/nrf_desktop/modules.rst
  applications/nrf_desktop/src/modules/Kconfig.ble_adv_ctrl
  doc/nrf/libraries/caf/ble_adv.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/caf/events/module_suspend_event.h
Labels: doc-required, doc only

#23145 samples: nrf_rpc: entropy_nrf53: Use NCS network core Kconfigs
  samples/nrf_rpc/entropy_nrf53/Kconfig.sysbuild
  samples/nrf_rpc/entropy_nrf53/sysbuild.cmake
Labels: changelog-entry-required

#23569 doc: nrf: KMU provisioning while west flashing
  doc/nrf/app_dev/device_guides/nrf54l/kmu_provision.rst
Labels: doc-required, changelog-entry-required, doc only

#23433 bootloader: mcuboot: Added BOOT_SIGNATURE_USING_ITS configuration
  sysbuild/CMakeLists.txt
  sysbuild/Kconfig.mcuboot
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required
