Repository nrfconnect/sdk-nrf, pull requests merged in 2025-04, with the labels that each got.

#21244 applications: nrf_desktop: Remove legacy nRF52 naming scheme
  applications/nrf_desktop/CMakeLists.txt
  applications/nrf_desktop/Kconfig
  applications/nrf_desktop/Kconfig.hid
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/ble_scan_def.h
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/images/mcuboot/prj_release.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/ble_scan_def.h
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/images/mcuboot/prj_release.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/ble_scan_def.h
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/images/mcuboot/prj.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/images/mcuboot/prj_dongle_small.conf
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/images/mcuboot/prj_release.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/ble_scan_def.h
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/images/mcuboot/prj.conf
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/images/mcuboot/prj_release.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/ble_scan_def.h
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/ble_scan_def.h
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/ble_scan_def.h
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/prj.conf
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpuapp/prj_release.conf
  scripts/hid_configurator/99-hid.rules
  scripts/hid_configurator/README.rst
  scripts/hid_configurator/configurator_cli.py
Labels: doc-required, changelog-entry-required

#20002 samples: cellular: modem_shell: sock: 'option' set/get commands
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/modem_shell/src/sock/sock.c
  samples/cellular/modem_shell/src/sock/sock.h
  samples/cellular/modem_shell/src/sock/sock_shell.c
Labels: doc-required

#21196 dm: rpc: Enable CONFIG_SOC_NRF53_CPUNET for NRF5340
  subsys/dm/rpc/Kconfig
Labels: changelog-entry-required

#21255 scripts: ci: tags: extend matter dep for mcuboot
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#21197 manifest: sdk-zephyr: Bluetooth: Mesh: Cherry pick BLE Mesh 27.03.2025
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#21152 scripts: requirements: bump nrf-regtool to 9.0.0
  scripts/requirements-build.txt
  scripts/requirements-fixed.txt
Labels: changelog-entry-required

#21214 manifest: sdk-nrfxlib: nrf_modem: update library
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-libmodem

#21227 manifest: sdk-connectedhomeip: Update revision
  applications/matter_bridge/snippets/onoff_plug/zap-generated/IMClusterCommandHandler.cpp
  applications/matter_bridge/snippets/onoff_plug/zap-generated/endpoint_config.h
  applications/matter_bridge/src/default_zap/zap-generated/IMClusterCommandHandler.cpp
  applications/matter_bridge/src/default_zap/zap-generated/endpoint_config.h
  applications/matter_weather_station/src/default_zap/zap-generated/IMClusterCommandHandler.cpp
  applications/matter_weather_station/src/default_zap/zap-generated/endpoint_config.h
  samples/matter/light_bulb/src/default_zap/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/light_bulb/src/default_zap/zap-generated/endpoint_config.h
  samples/matter/light_switch/snippets/lit_icd/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/light_switch/snippets/lit_icd/zap-generated/endpoint_config.h
  samples/matter/light_switch/src/default_zap/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/light_switch/src/default_zap/zap-generated/endpoint_config.h
  samples/matter/lock/snippets/schedules/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/lock/snippets/schedules/zap-generated/endpoint_config.h
  samples/matter/lock/src/default_zap/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/lock/src/default_zap/zap-generated/endpoint_config.h
  samples/matter/manufacturer_specific/src/default_zap/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/smoke_co_alarm/src/default_zap/zap-generated/endpoint_config.h
  samples/matter/template/src/default_zap/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/template/src/default_zap/zap-generated/endpoint_config.h
  samples/matter/thermostat/src/default_zap/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/thermostat/src/default_zap/zap-generated/endpoint_config.h
  samples/matter/window_covering/src/default_zap/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/window_covering/src/default_zap/zap-generated/endpoint_config.h
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#21162 manifest: update Mbed TLS to 3.6.3
  west.yml
Labels: manifest, manifest-mbedtls

#21234 applications: serial_lte_modem: Add more configurations to sample.yaml
  applications/serial_lte_modem/sample.yaml
Labels: changelog-entry-required

#21254 samples: wifi: sta: Fix Wi-Fi ready disabled build
  samples/wifi/sta/src/main.c
Labels: changelog-entry-required

#21216 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#21279 manifest: nrfxlib: openthread: Unify lib path for nRF54Lx
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#21268 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#21273 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#21284 manifest: sdk-zephyr: boards: nordic: nrf7002dk: Add SPI nrfutil config
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#21230 samples: wifi: sta: Update nrf7002 current consumption
  samples/wifi/sta/README.rst
Labels: doc-required, changelog-entry-required

#21034 doc: tcm: remove toolchain manager app
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_gs.rst
  doc/nrf/app_dev/device_guides/thingy53/building_thingy53.rst
  doc/nrf/dev_model_and_contributions/adding_code.rst
  doc/nrf/images/gs-assistant_tm.png
  doc/nrf/images/gs-assistant_tm_dropdown.png
  doc/nrf/installation/install_ncs.rst
  doc/nrf/installation/recommended_versions.rst
  doc/nrf/installation/updating.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_3.0.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/migration_guide_2.6.99-cs2_to_2_7_environment.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/transition_guide_2.4.99-cs3_to_2.7_environment.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable, doc only

#21231 boards: shields: Deprecate nRF7002eb interposer shield
  boards/shields/nrf7002eb_interposer_p1/Kconfig.shield
Labels: changelog-entry-required

#21276 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#21290 applications: nrf5340_audio: Scan delegator may fail
  applications/nrf5340_audio/broadcast_sink/overlay-broadcast_sink.conf
Labels: changelog-entry-required

#21293 applications: connectivity_bridge: Improve documentation
  applications/connectivity_bridge/README.rst
  applications/connectivity_bridge/README_TEMPLATE.txt
  applications/connectivity_bridge/boards/thingy91_nrf52840_readme.txt
  applications/connectivity_bridge/boards/thingy91x_nrf5340_cpuapp_readme.txt
  applications/connectivity_bridge/src/disk/config.c
Labels: doc-required

#21256 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#21257 samples: bluetooth: peripheral_uart: replace printk with logging API
  samples/bluetooth/peripheral_uart/src/main.c
Labels: changelog-entry-required

#21252 modules: memfault: Add support for uploading modem traces to Memfault
  doc/nrf/libraries/debug/memfault_ncs.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/nrf_modem_lib/shell/trace.c
  modules/memfault-firmware-sdk/CMakeLists.txt
  modules/memfault-firmware-sdk/Kconfig
  modules/memfault-firmware-sdk/include/memfault_lte_coredump_modem_trace.h
  modules/memfault-firmware-sdk/memfault_lte_coredump.c
  modules/memfault-firmware-sdk/memfault_lte_coredump_modem_trace.c
  samples/debug/memfault/README.rst
  samples/debug/memfault/boards/nrf9151dk_nrf9151_ns.conf
  samples/debug/memfault/boards/nrf9151dk_nrf9151_ns.overlay
  samples/debug/memfault/overlay-modem-trace-to-memfault.conf
  samples/debug/memfault/sample.yaml
Labels: doc-required

#21248 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#21307 ci: add west update to compliance
  .github/workflows/compliance.yml
Labels: CI-disable, changelog-entry-required

#21271 snippets: sdp: mspi: remove definition of reset-gpio
  snippets/sdp/mspi/board/nrf54l15dk_nrf54l15_cpuapp.overlay
Labels: changelog-entry-required

#21333 applications: nrf_desktop: Use const pointer in ble_scan_def headers
  applications/nrf_desktop/configuration/nrf52820dongle_nrf52820/ble_scan_def.h
  applications/nrf_desktop/configuration/nrf52833dk_nrf52820/ble_scan_def.h
  applications/nrf_desktop/configuration/nrf52833dk_nrf52833/ble_scan_def.h
  applications/nrf_desktop/configuration/nrf52833dongle_nrf52833/ble_scan_def.h
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/ble_scan_def.h
  applications/nrf_desktop/configuration/nrf52840dongle_nrf52840/ble_scan_def.h
Labels: 10-min-review

#21223 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#21314 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#21329 quarantine: Add test overflowing ram on flpr
  scripts/quarantine_zephyr.yaml
Labels: changelog-entry-required

#21335 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: DNM, manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#21326 applications: nrf_desktop: Add dongle configurations for nRF54H20 DK
  applications/nrf_desktop/board_configuration.rst
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/app_dongle.overlay
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/app_release_dongle.overlay
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/ble_discovery_def.h
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/ble_scan_def.h
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/prj_dongle.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/prj_release_dongle.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/sysbuild_dongle.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/sysbuild_release_dongle.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpurad/images/ipc_radio/prj_dongle.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpurad/images/ipc_radio/prj_release_dongle.conf
  applications/nrf_desktop/sample.yaml
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#21340 manifest: sdk-zephyr: Revert "[nrf fromlist] soc: nordic: nrf54h: Change PM_DEVICE_RUNTIME …
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#21301 manifest: Updated OpenThread version to new tag
  west.yml
Labels: manifest, manifest-openthread, changelog-entry-required

#21318 modules: openthread: Fix ECDSA issue in OpenThread.
  modules/openthread/platform/crypto_psa.c
  subsys/net/openthread/Kconfig
Labels: bugfix

#21232 lib: modem_slm: Rename "wakeup" config and API to "power pin"
  doc/nrf/libraries/modem/modem_slm.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_3.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/modem/modem_slm.h
  lib/modem_slm/Kconfig
  lib/modem_slm/modem_slm.c
  samples/cellular/slm_shell/boards/nrf52840dk_nrf52840.conf
  samples/cellular/slm_shell/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/cellular/slm_shell/boards/nrf7002dk_nrf5340_cpuapp.conf
  samples/cellular/slm_shell/src/main.c
Labels: doc-required

#21204 net: openthread: rpc: add meshdiag APIs
  doc/nrf/libraries/networking/ot_rpc.rst
  samples/nrf_rpc/protocols_serialization/client/src/ot_shell.c
  samples/nrf_rpc/protocols_serialization/server/snippets/openthread/openthread.conf
  subsys/net/openthread/rpc/client/CMakeLists.txt
  subsys/net/openthread/rpc/client/ot_rpc_meshdiag.c
  subsys/net/openthread/rpc/common/ot_rpc_ids.h
  subsys/net/openthread/rpc/server/CMakeLists.txt
  subsys/net/openthread/rpc/server/ot_rpc_coap.c
  subsys/net/openthread/rpc/server/ot_rpc_meshdiag.c
  subsys/net/openthread/rpc/server/ot_rpc_message.c
  subsys/net/openthread/rpc/server/ot_rpc_message.h
  subsys/net/openthread/rpc/server/ot_rpc_netdiag.c
  subsys/net/openthread/rpc/server/ot_rpc_resource.h
  subsys/net/openthread/rpc/server/ot_rpc_udp.c
  tests/subsys/net/openthread/rpc/client/src/meshdiag_suite.c
  tests/subsys/net/openthread/rpc/common/test_rpc_env.h
  tests/subsys/net/openthread/rpc/server/Kconfig
  tests/subsys/net/openthread/rpc/server/src/coap_suite.c
  tests/subsys/net/openthread/rpc/server/src/meshdiag_suite.c
  tests/subsys/net/openthread/rpc/server/src/message_suite.c
  tests/subsys/net/openthread/rpc/server/src/netdata_suite.c
  tests/subsys/net/openthread/rpc/server/src/netdiag_suite.c
Labels: doc-required, changelog-entry-required

#21243 doc: suit: Added documentation for signing envelopes
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_suit_dfu.rst
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_suit_signing.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#21320 doc: Adding links to Developing with PMICs table
  doc/nrf/app_dev/device_guides/pmic/index.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable, changelog-entry-required

#21228 wifi: enterprise: Pull support for runtime certificates
  doc/nrf/app_dev/device_guides/nrf70/wifi_advanced_security_modes.rst
Labels: doc-required, changelog-entry-required

#20528 Store Wi-Fi firmware patch in external flash on nRF7002 DK
  doc/nrf/app_dev/device_guides/nrf70/nrf70_fw_patch_update.rst
  samples/wifi/shell/sample.yaml
  snippets/nrf70-fw-patch-ext-flash/boards/nrf7002dk_nrf5340_cpuapp.conf
  snippets/nrf70-fw-patch-ext-flash/overlay-sb-fw-patch-ext-flash.conf
  snippets/nrf70-fw-patch-ext-flash/snippet.yml
  subsys/net/lib/nrf70_fw_ext/Kconfig
  subsys/net/lib/nrf70_fw_ext/rpu_fw_patches.ld
  sysbuild/Kconfig.wifi
Labels: doc-required, changelog-entry-required

#21345 Revert "manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller"
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#20950 nrf_security: cracen: Fix psa_export_key when exporting from kmu
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/key_management.c
Labels: changelog-entry-required

#21336 scripts: reglock round down
  scripts/reglock.py
Labels: changelog-entry-required

#21337 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#21313 doc: Added information about Matter WP and OOP for Matter
  doc/nrf/links.txt
  doc/nrf/protocols/matter/getting_started/low_power_configuration.rst
  doc/nrf/protocols/matter/getting_started/tools.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#21300 doc: add tabs extension nrfxlib
  doc/nrfxlib/conf.py
Labels: doc-required

#21179 tests: zephyr: drivers: i2c: i2c_target_api: Enable original test on …
  tests/zephyr/drivers/i2c/i2c_target_api/boards/nrf54l20pdk_nrf54l20_cpuapp.conf
  tests/zephyr/drivers/i2c/i2c_target_api/boards/nrf54l20pdk_nrf54l20_cpuapp.overlay
  tests/zephyr/drivers/i2c/i2c_target_api/testcase.yaml
Labels: changelog-entry-required

#21350 lib: location: Fix combining of cell and Wi-Fi methods
  lib/location/location_core.c
Labels: bugfix

#21306 cmake: change SDP ASM developer mode to not replace ASM files
  cmake/sdp.cmake
  cmake/sdp_asm_check.cmake
Labels: changelog-entry-required

#21321 Flash unaligned address test fix
  applications/sdp/mspi/src/hrt/hrt-nrf54l15.s
  applications/sdp/mspi/src/hrt/hrt.c
Labels: changelog-entry-required

#21322 esb: Implement workaround for HMPAN-216
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/esb/esb_prx/boards/nrf54h20dk_nrf54h20_cpurad.overlay
  samples/esb/esb_ptx/boards/nrf54h20dk_nrf54h20_cpurad.overlay
  subsys/esb/esb.c
Labels: doc-required

#21222 wifi: Add doc for enterprise mode
  doc/nrf/app_dev/device_guides/nrf70/wifi_advanced_security_modes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#21361 Revert "ci: add west update to compliance"
  .github/workflows/compliance.yml
Labels: changelog-entry-required

#21319 Bluetooth: Mesh: Increase MBEDTLS_HEAP_SIZE for NLC samples
  subsys/bluetooth/mesh/Kconfig
Labels: ble mesh

#21358 doc: add zigbee and sidewalk links
  doc/nrf/includes/zigbee_deprecation.txt
  doc/nrf/links.txt
  doc/nrf/protocols/amazon_sidewalk/index.rst
  doc/nrf/samples/amazon_sidewalk.rst
  doc/nrf/samples/zigbee.rst
Labels: doc-required

#21348 manifest: Update sdk-nrfxlib revision
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#21199 bootloader: bl_crypto: kmu revocation
  subsys/bootloader/bl_crypto/Kconfig
  subsys/bootloader/bl_crypto/bl_crypto_ed25519.c
Labels: changelog-entry-required

#21328 scripts: requirements: bump nrf-regtool to 9.0.1
  scripts/requirements-build.txt
  scripts/requirements-fixed.txt
Labels: changelog-entry-required

#21304 manifest: mcuboot key revocation
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#21368 quarantine: add openthread samples
  scripts/quarantine_zephyr.yaml
Labels: changelog-entry-required

#21366 cmake: LLVM now defaults to compiler_rt lib and LLD as linker
  Kconfig.nrf
  cmake/toolchain/llvm/Kconfig.defconfig
Labels: changelog-entry-required

#21365 manifest: update OpenThread libraries to commit "0e26667"
  doc/nrf/protocols/thread/overview/memory_tables/nrf52840.txt
  doc/nrf/protocols/thread/overview/memory_tables/nrf5340.txt
  doc/nrf/protocols/thread/overview/memory_tables/nrf54l15.txt
  subsys/net/openthread/Kconfig.defconfig
  west.yml
Labels: doc-required, manifest, manifest-nrfxlib, changelog-entry-required

#21237 lib: bin: lwm2m_carrier: Improve shell response for app data commands
  lib/bin/lwm2m_carrier/os/lwm2m_shell.c
Labels: changelog-entry-required

#21235 lib: bin: lwm2m_carrier: Add validation to error code commands
  lib/bin/lwm2m_carrier/os/lwm2m_shell.c
Labels: changelog-entry-required

#21367 drivers: mpsl: Disable flash sync via RPC for radiocore-only variants
  applications/ipc_radio/Kconfig
  drivers/mpsl/flash_sync/Kconfig
  samples/suit/ab/sysbuild/hci_ipc.conf
  samples/suit/smp_transfer/sysbuild/hci_ipc.conf
Labels: changelog-entry-required

#14394 manifest: update sdk-mcuboot: brings improved UARTE clean-up
  west.yml
Labels: bug, manifest, manifest-mcuboot, changelog-entry-required

#21372 samples: bluetooth: Don't disable data cache when enabling PSA RNG
  samples/bluetooth/conn_time_sync/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/conn_time_sync/sysbuild/hci_ipc/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/bluetooth/event_trigger/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/bluetooth/iso_combined_bis_and_cis/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/iso_combined_bis_and_cis/sysbuild/hci_ipc/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/bluetooth/iso_time_sync/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/iso_time_sync/sysbuild/hci_ipc/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/bluetooth/radio_coex_1wire/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/bluetooth/radio_notification_cb/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/bluetooth/scanning_while_connecting/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/scanning_while_connecting/sysbuild/hci_ipc/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/bluetooth/subrating/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/subrating/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/mpsl/timeslot/boards/nrf54h20dk_nrf54h20_cpurad.conf
Labels: changelog-entry-required

#21399 Revert "manifest: update sdk-mcuboot: brings improved UARTE clean-up"
  west.yml
Labels: manifest, changelog-entry-required

#21360 suit: FIX: Add cache mgmt in ram_sink
  subsys/suit/stream/stream_sinks/src/suit_ram_sink.c
Labels: changelog-entry-required, bugfix

#21377 doc: utils: TF-M main page should be wrapper
  doc/_utils/utils.py
Labels: doc-required, changelog-entry-required

#21344 doc: Clean changelog on 3.0.0 RC1
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, backport v3.0-branch

#21433 ci: Use CI_LIB and test-nrf from v3.0-branch
  Jenkinsfile
  test-manifests/99-default-test-nrf.yml
Labels: CI-disable, changelog-entry-required

#21375 sdfw_services: psa_crypto: Fix cddl
  subsys/sdfw_services/services/psa_crypto/psa_crypto_service.cddl
Labels: changelog-entry-required, bugfix

#21397 doc: separate ug_tfm into separate pages
  doc/_utils/redirects.py
  doc/nrf/security/tfm/index.rst
  doc/nrf/security/tfm/tfm.rst
  doc/nrf/security/tfm/tfm_building.rst
  doc/nrf/security/tfm/tfm_logging.rst
  doc/nrf/security/tfm/tfm_provisioning.rst
  doc/nrf/security/tfm/tfm_services.rst
Labels: doc-required, CI-disable, doc only

#21410 samples: bluetooth: Enable PSA RNG on 54H in the LLPM sample
  samples/bluetooth/llpm/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/llpm/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/bluetooth/llpm/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/bluetooth/llpm/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.overlay
Labels: bug, changelog-entry-required

#21389 doc: Remove [EXPERIMENTAL] tag from Channel Sounding Kconfigs
  doc/nrf/releases_and_maturity/software_maturity.rst
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/services/ras/Kconfig.ras
  subsys/bluetooth/services/ras/rreq/Kconfig.ras_rreq
  subsys/bluetooth/services/ras/rrsp/Kconfig.ras_rrsp
Labels: doc-required, changelog-entry-required

#21431 [Backport v3.0-branch] doc: Clean changelog on 3.0.0 RC1
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, Backport

#21400 samples: zephyr: boards: nordic: system_off: enable for 54lm20 and 54…
  samples/zephyr/boards/nordic/system_off/boards/nrf54lm20apdk_nrf54lm20a_cpuapp.overlay
  samples/zephyr/boards/nordic/system_off/boards/nrf54lv10apdk_nrf54lv10a_cpuapp.overlay
  samples/zephyr/boards/nordic/system_off/sample.yaml
Labels: changelog-entry-required

#21309 applications: serial_lte_modem: Documentation corrections
  applications/serial_lte_modem/doc/slm_data_mode.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/doc/slm_testing.rst
Labels: doc-required, doc only

#21170 boards: Add nrf7120pdk/nrf7120cpuapp/emu
  boards/nordic/nrf7120pdk/CMakeLists.txt
  boards/nordic/nrf7120pdk/Kconfig
  boards/nordic/nrf7120pdk/Kconfig.nrf7120pdk
  boards/nordic/nrf7120pdk/board.c
  boards/nordic/nrf7120pdk/board.yml
  boards/nordic/nrf7120pdk/nrf7120pdk_nrf7120-emu-pinctrl.dtsi
  boards/nordic/nrf7120pdk/nrf7120pdk_nrf7120_cpuapp_emu.dts
  boards/nordic/nrf7120pdk/nrf7120pdk_nrf7120_cpuapp_emu.yaml
  boards/nordic/nrf7120pdk/nrf7120pdk_nrf7120_cpuapp_emu_defconfig
Labels: changelog-entry-required

#21381 tests: drivers: flash: common: use code from sdk-zephyr
  tests/zephyr/drivers/flash/common/CMakeLists.txt
  tests/zephyr/drivers/flash/common/src/main.c
Labels: changelog-entry-required, backport v3.0-branch

#21384 caf: buttons: Fix incorrect GPIO API usage
  subsys/caf/modules/buttons.c
Labels: changelog-entry-required, bugfix, backport v3.0-branch

#21402 samples: net: mqtt: Enable Wi-Fi cred for 54L too
  samples/net/mqtt/boards/nrf54l15dk_nrf54l15_cpuapp.conf
Labels: changelog-entry-required, backport v3.0-branch

#21415 suit: Remove custom zcbor decoders
  subsys/suit/cache/CMakeLists.txt
  subsys/suit/cache/src/suit_dfu_cache_helpers.c
  subsys/suit/cache/src/zcbor_noncanonical_decode.c
  subsys/suit/cache/src/zcbor_noncanonical_decode.h
Labels: changelog-entry-required, bugfix, backport v3.0-branch

#21439 [Backport v3.0-branch] Update ext flash via SPI docs
  doc/nrf/app_dev/device_guides/nrf70/fw_patches_ext_flash.rst
Labels: doc-required, changelog-entry-required, Backport

#21355 doc: thread: update nrfjprog commands
  doc/nrf/includes/ieee802154_eui64_conf.txt
  doc/nrf/protocols/thread/configuring.rst
Labels: doc-required, backport v3.0-branch

#21425 samples: cellular: location/modem_shell: Increase HEAP for Wi-Fi
  samples/cellular/location/boards/thingy91x_nrf9151_ns.conf
  samples/cellular/location/overlay-nrf700x-wifi-scan-only.conf
  samples/cellular/modem_shell/overlay-nrf700x-wifi-scan-only.conf
Labels: backport v3.0-branch

#21387 mpsl: init: Correct MPSL_LOW_PRIO_IRQN for 54h20
  subsys/mpsl/init/Kconfig
Labels: bug, changelog-entry-required, backport v3.0-branch

#21392 samples: Add nrf7002EB II support
  samples/net/aws_iot/sample.yaml
  samples/net/coap_client/sample.yaml
  samples/net/download/sample.yaml
  samples/net/https_client/sample.yaml
  samples/net/mqtt/sample.yaml
  samples/net/udp/sample.yaml
  samples/wifi/offloaded_raw_tx/sample.yaml
  samples/wifi/provisioning/ble/sample.yaml
  samples/wifi/radio_test/multi_domain/sample.yaml
  samples/wifi/radio_test/single_domain/sample.yaml
  samples/wifi/raw_tx_packet/sample.yaml
  samples/wifi/scan/sample.yaml
  samples/wifi/shell/sample.yaml
  samples/wifi/shutdown/sample.yaml
  samples/wifi/softap/sample.yaml
  samples/wifi/sta/sample.yaml
  samples/wifi/twt/sample.yaml
Labels: changelog-entry-required, backport v3.0-branch

#21414 applications: sdp: mspi: Mode 3 assert fix
  applications/sdp/mspi/src/main.c
Labels: changelog-entry-required, backport v3.0-branch

#21454 [Backport v3.0-branch] doc: thread: update nrfjprog commands
  doc/nrf/includes/ieee802154_eui64_conf.txt
  doc/nrf/protocols/thread/configuring.rst
Labels: doc-required, Backport

#21437 [Backport v3.0-branch] tests: drivers: flash: common: use code from sdk-zephyr
  tests/zephyr/drivers/flash/common/CMakeLists.txt
  tests/zephyr/drivers/flash/common/src/main.c
Labels: changelog-entry-required, Backport

#21444 [Backport v3.0-branch] applications: serial_lte_modem: Documentation corrections
  applications/serial_lte_modem/doc/slm_data_mode.rst
  applications/serial_lte_modem/doc/slm_description.rst
  applications/serial_lte_modem/doc/slm_testing.rst
Labels: doc-required, changelog-entry-required, Backport

#21364 mpsl: Add build asserts for nrfx drivers for some reserved peripherals
  subsys/mpsl/init/mpsl_init.c
Labels: changelog-entry-required

#21465 net: downloader: Don't expect DTLS even if sec_tag provided
  subsys/net/lib/downloader/src/transports/coap.c
Labels: backport v3.0-branch

#21421 applications: nrf5340_audio: Use static address when privacy=n
  applications/nrf5340_audio/src/bluetooth/bt_management/advertising/bt_mgmt_adv.c
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.c
Labels: changelog-entry-required, bugfix, backport v3.0-branch

#21416 doc: Add nPM2100 to PMIC software maturity doc
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, changelog-entry-required, backport v3.0-branch

#21451 wifi: Upmerge 2 (fixes only) (nrf_wifi)
  west.yml
Labels: manifest, manifest-zephyr, manifest-nrfxlib, changelog-entry-required

#21473 [Backport v3.0-branch] doc: wifi: Improve debugging
  doc/nrf/protocols/wifi/debugging.rst
Labels: doc-required, changelog-entry-required, Backport

#21469 tests: drivers: uart: enable testing for LM20 and LV10
  samples/peripheral/lpuart/boards/nrf54lm20apdk_nrf54lm20a_cpuapp.conf
  samples/peripheral/lpuart/boards/nrf54lm20apdk_nrf54lm20a_cpuapp.overlay
  samples/peripheral/lpuart/boards/nrf54lv10apdk_nrf54lv10a_cpuapp.conf
  samples/peripheral/lpuart/boards/nrf54lv10apdk_nrf54lv10a_cpuapp.overlay
  samples/peripheral/lpuart/sample.yaml
  tests/drivers/lpuart/boards/nrf54lm20apdk_nrf54lm20a_cpuapp.conf
  tests/drivers/lpuart/boards/nrf54lm20apdk_nrf54lm20a_cpuapp.overlay
  tests/drivers/lpuart/boards/nrf54lv10apdk_nrf54lv10a_cpuapp.conf
  tests/drivers/lpuart/boards/nrf54lv10apdk_nrf54lv10a_cpuapp.overlay
  tests/drivers/lpuart/testcase.yaml
  tests/drivers/uart/uart_baudrate_test/boards/nrf54lm20apdk_nrf54lm20a_cpuapp_uart00.overlay
  tests/drivers/uart/uart_baudrate_test/boards/nrf54lm20apdk_nrf54lm20a_cpuapp_uart21.overlay
  tests/drivers/uart/uart_baudrate_test/boards/nrf54lm20apdk_nrf54lm20a_cpuapp_uart22.overlay
  tests/drivers/uart/uart_baudrate_test/boards/nrf54lv10apdk_nrf54lv10a_cpuapp_uart21.overlay
  tests/drivers/uart/uart_baudrate_test/testcase.yaml
  tests/zephyr/drivers/uart/uart_elementary/boards/nrf54lm20apdk_nrf54lm20a_cpuapp.overlay
  tests/zephyr/drivers/uart/uart_elementary/boards/nrf54lm20apdk_nrf54lm20a_dual_uart.overlay
  tests/zephyr/drivers/uart/uart_elementary/boards/nrf54lv10apdk_nrf54lv10a_cpuapp.overlay
  tests/zephyr/drivers/uart/uart_elementary/boards/nrf54lv10apdk_nrf54lv10a_dual_uart.overlay
  tests/zephyr/drivers/uart/uart_elementary/testcase.yaml
  tests/zephyr/drivers/uart/uart_mix_fifo_poll/boards/nrf54lm20apdk_nrf54lm20a_cpuapp.overlay
  tests/zephyr/drivers/uart/uart_mix_fifo_poll/boards/nrf54lv10apdk_nrf54lv10a_cpuapp.overlay
  tests/zephyr/drivers/uart/uart_mix_fifo_poll/testcase.yaml
  tests/zephyr/drivers/uart/uart_pm/boards/nrf54lm20apdk_nrf54lm20a_cpuapp.overlay
  tests/zephyr/drivers/uart/uart_pm/boards/nrf54lv10apdk_nrf54lv10a_cpuapp.overlay
  tests/zephyr/drivers/uart/uart_pm/testcase.yaml
Labels: changelog-entry-required

#21487 doc: samples: fast_pair: locator_tag: Update the DFU signature type
  samples/bluetooth/fast_pair/locator_tag/README.rst
Labels: doc-required, changelog-entry-required, doc only, backport v3.0-branch

#21048 Allow using hashing only for nrf54l devices, instead of ed25519 signature
  sysbuild/CMakeLists.txt
Labels: changelog-entry-required, bugfix, backport v3.0-branch

#21492 [Backport v3.0-branch] doc: samples: fast_pair: locator_tag: Update the DFU signature type
  samples/bluetooth/fast_pair/locator_tag/README.rst
Labels: doc-required, changelog-entry-required, Backport

#21441 [Backport v3.0-branch] doc: Remove [EXPERIMENTAL] tag from Channel Sounding Kconfigs
  doc/nrf/releases_and_maturity/software_maturity.rst
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/services/ras/Kconfig.ras
  subsys/bluetooth/services/ras/rreq/Kconfig.ras_rreq
  subsys/bluetooth/services/ras/rrsp/Kconfig.ras_rrsp
Labels: doc-required, changelog-entry-required, Backport

#21423 applications: machine_learning: configuration: Update EI URI
  applications/machine_learning/configuration/nrf54h20dk_nrf54h20_cpuapp/prj.conf
  applications/machine_learning/configuration/nrf54h20dk_nrf54h20_cpuapp/prj_singlecore.conf
Labels: changelog-entry-required, backport v3.0-branch

#21466 applications: nrf_desktop: Disable UDC DWC2 DMA on nRF54H20 DK
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/prj.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/prj_dongle.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/prj_release.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/prj_release_dongle.conf
Labels: 10-min-review, backport v3.0-branch

#21475 modules: openthread: Fix migration from MbedTLS to PSA
  modules/openthread/platform/crypto_psa.c
Labels: bugfix, backport v3.0-branch

#21315 manifest: Update suit-generator revision
  west.yml
Labels: manifest, changelog-entry-required, bugfix, manifest-suit-generator, backport v3.0-branch

#21401 mgmt: suit: Fix starting new candidate upload before ending previous
  subsys/mgmt/suitfu/src/suitfu_mgmt.c
  subsys/mgmt/suitfu/src/suitfu_mgmt_priv.h
  subsys/mgmt/suitfu/src/suitfu_mgmt_suit_cand_env_upload.c
  subsys/mgmt/suitfu/src/suitfu_mgmt_suit_image_fetch.c
Labels: changelog-entry-required, bugfix, backport v3.0-branch

#21467 [Backport v3.0-branch] applications: sdp: mspi: Mode 3 assert fix
  applications/sdp/mspi/src/main.c
Labels: changelog-entry-required, Backport

#21303 nrf_security: drivers: cracen: Implement ECDSA in cracenpsa
  subsys/nrf_security/src/core/lite/psa_core_lite.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/cracenpsa.cmake
  subsys/nrf_security/src/drivers/cracen/cracenpsa/include/cracen_psa.h
  subsys/nrf_security/src/drivers/cracen/cracenpsa/include/cracen_psa_ecdsa.h
  subsys/nrf_security/src/drivers/cracen/cracenpsa/include/cracen_psa_eddsa.h
  subsys/nrf_security/src/drivers/cracen/cracenpsa/include/cracen_psa_primitives.h
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/common.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/common.h
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/ecc.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/ecc.h
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/ecdsa.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/ed25519.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/hmac.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/hmac.h
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/key_management.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/rndinrange.c
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/sign.c
  subsys/nrf_security/src/drivers/cracen/sicrypto/src/hmac.c
  subsys/nrf_security/src/drivers/cracen/sicrypto/src/iksig.c
  subsys/nrf_security/src/drivers/cracen/sxsymcrypt/sxsymcrypt.cmake
Labels: backport v3.0-branch

#21477 [Backport v3.0-branch] manifest: update sdk-zephyr to have fix for nRF54L Errata 30
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#21509 samples: wifi: radio_test: Fix RX capture crash
  samples/wifi/radio_test/multi_domain/src/nrf_wifi_radio_test_shell.c
Labels: changelog-entry-required, backport v3.0-branch

#21470 manifest: pull in nRF54H20 USB hibernation fix
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#21521 doc: openthread: update power consumption measurements
  doc/nrf/protocols/thread/overview/power_consumption.rst
Labels: doc-required, changelog-entry-required, backport v3.0-branch

#21422 doc: Added documentation about DFU compression for Matter template
  doc/nrf/protocols/matter/end_product/bootloader.rst
  doc/nrf/protocols/matter/getting_started/hw_requirements.rst
  samples/matter/template/README.rst
  samples/matter/template/sample.yaml
Labels: doc-required, changelog-entry-required, backport v3.0-branch

#21484 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#21500 [Backport v3.0-branch] applications: nrf_desktop: Disable UDC DWC2 DMA on nRF54H20 DK
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/prj.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/prj_dongle.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/prj_release.conf
  applications/nrf_desktop/configuration/nrf54h20dk_nrf54h20_cpuapp/prj_release_dongle.conf
Labels: changelog-entry-required, Backport

#21436 [Backport v3.0-branch] nfc: lib: platform: Update T4T buffer size
  subsys/nfc/lib/platform.c
Labels: changelog-entry-required, Backport

#21485 wifi: SML update mainly for 54H and 54L
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, changelog-entry-required, backport v3.0-branch

#21408 tests: Align with reverted memory ranges
  tests/benchmarks/multicore/idle/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/benchmarks/multicore/idle/boards/nrf54h20dk_nrf54h20_cpuapp_ram_high_usage.overlay
  tests/benchmarks/multicore/idle/boards/nrf54h20dk_nrf54h20_cpuapp_ram_low_usage.overlay
  tests/benchmarks/multicore/idle/remote/boards/nrf54h20dk_nrf54h20_cpurad.overlay
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required, bugfix, backport v3.0-branch

#21529 tests: benchmarks: current_consumption: uarte_suspend: active busy
  tests/benchmarks/current_consumption/uarte_suspend/src/main.c
Labels: changelog-entry-required, backport v3.0-branch

#21285 applications: nrf5340_audio: Updated QDID info
  applications/nrf5340_audio/doc/feature_support.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable, changelog-entry-required, doc only, backport v3.0-branch

#21554 [Backport v3.0-branch] tests: benchmarks: current_consumption: uarte_suspend: active busy
  tests/benchmarks/current_consumption/uarte_suspend/src/main.c
Labels: changelog-entry-required, Backport

#21534 [Backport v3.0-branch] applications: nrf5340_audio: Removed comment
  applications/nrf5340_audio/src/audio/Kconfig
Labels: Backport

#21495 drivers: mpsl: flash_sync: Fix missing if
  drivers/mpsl/flash_sync/CMakeLists.txt
Labels: changelog-entry-required, backport v3.0-branch

#20974 cmake: extension: Remove BUILD from ncs_file() function
  cmake/extensions.cmake
  cmake/partition_manager.cmake
  cmake/sysbuild/partition_manager.cmake
Labels: changelog-entry-required

#21502 [Backport v3.0-branch] modules: openthread: Fix migration from MbedTLS to PSA
  modules/openthread/platform/crypto_psa.c
Labels: Backport

#21548 doc: nrf70: Fix the link to Zephyr Wi-Fi management docs
  doc/nrf/app_dev/device_guides/nrf70/wifi_advanced_security_modes.rst
Labels: doc-required, changelog-entry-required, backport v3.0-branch

#21456 doc: nrf: Fix board names for hwmv2
  doc/mcuboot/readme-ncs.rst
  doc/nrf/app_dev/bootloaders_dfu/mcuboot_nsib/bootloader_partitioning.rst
  doc/nrf/app_dev/bootloaders_dfu/mcuboot_nsib/bootloader_signature_keys.rst
  doc/nrf/app_dev/device_guides/nrf53/serial_recovery.rst
  doc/nrf/app_dev/device_guides/nrf53/simultaneous_multi_image_dfu_nrf5340.rst
  doc/nrf/app_dev/device_guides/nrf54h/index.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_board_controllers.rst
  doc/nrf/app_dev/device_guides/pmic/npm1300.rst
  doc/nrf/protocols/matter/getting_started/memory_optimization.rst
  doc/nrf/protocols/matter/getting_started/transmission_power.rst
  doc/nrf/protocols/thread/overview/ot_memory.rst
  samples/bluetooth/fast_pair/locator_tag/README.rst
  samples/bluetooth/nrf_dm/README.rst
  samples/bootloader/README.rst
  samples/mpsl/timeslot/README.rst
  samples/nrf5340/netboot/README.rst
  samples/wifi/shutdown/README.rst
Labels: doc-required, changelog-entry-required, backport v3.0-branch

#21445 [Backport v3.0-branch] suit: Remove custom zcbor decoders
  subsys/suit/cache/CMakeLists.txt
  subsys/suit/cache/src/suit_dfu_cache_helpers.c
  subsys/suit/cache/src/zcbor_noncanonical_decode.c
  subsys/suit/cache/src/zcbor_noncanonical_decode.h
Labels: changelog-entry-required, Backport

#21518 [Backport v3.0-branch] samples: wifi: radio_test: Fix RX capture crash
  samples/wifi/radio_test/multi_domain/src/nrf_wifi_radio_test_shell.c
Labels: changelog-entry-required, Backport

#21555 samples: matter: Fixed persisting attributes in MS sample
  samples/matter/manufacturer_specific/README.rst
  samples/matter/manufacturer_specific/src/default_zap/manufacturer_specific.zap
  samples/matter/manufacturer_specific/src/default_zap/zap-generated/app-common/zap-generated/attributes/Accessors.cpp
  samples/matter/manufacturer_specific/src/default_zap/zap-generated/app-common/zap-generated/attributes/Accessors.h
  samples/matter/manufacturer_specific/src/default_zap/zap-generated/app-common/zap-generated/callback.h
  samples/matter/manufacturer_specific/src/default_zap/zap-generated/app-common/zap-generated/cluster-objects.cpp
  samples/matter/manufacturer_specific/src/default_zap/zap-generated/app-common/zap-generated/cluster-objects.h
  samples/matter/manufacturer_specific/src/default_zap/zap-generated/app-common/zap-generated/ids/Attributes.h
  samples/matter/manufacturer_specific/src/default_zap/zap-generated/app-common/zap-generated/ids/Commands.h
  samples/matter/manufacturer_specific/src/default_zap/zap-generated/endpoint_config.h
Labels: doc-required, changelog-entry-required, bugfix, backport v3.0-branch

#21338 doc: Doc check for 3.0.0
  applications/nrf5340_audio/doc/building.rst
  applications/nrf5340_audio/doc/feature_support.rst
  applications/nrf_desktop/bootloader_dfu.rst
  applications/sdp/gpio/README.rst
  doc/_zoomin/ncs.tags.yml
  doc/kconfig/conf.py
  doc/matter/conf.py
  doc/mcuboot/conf.py
  doc/nrf/app_dev/config_and_build/sysbuild/sysbuild_forced_options.rst
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_suit_recovery.rst
  doc/nrf/conf.py
  doc/nrf/dev_model_and_contributions/code_base.rst
  doc/nrf/external_comp/coremark.rst
  doc/nrf/libraries/modem/location.rst
  doc/nrf/libraries/networking/nrf_cloud_agnss.rst
  doc/nrf/libraries/networking/nrf_cloud_pgps.rst
  doc/nrf/links.txt
  doc/nrf/protocols/amazon_sidewalk/index.rst
  doc/nrf/protocols/bt/index.rst
  doc/nrf/protocols/matter/getting_started/advanced_kconfigs.rst
  doc/nrf/protocols/matter/getting_started/custom_clusters.rst
  doc/nrf/protocols/matter/getting_started/ecosystem_compatibility_testing.rst
  doc/nrf/protocols/matter/getting_started/matter_api.rst
  doc/nrf/protocols/matter/getting_started/memory_optimization.rst
  doc/nrf/protocols/matter/overview/dev_model.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.5.rst
  doc/nrf/releases_and_maturity/migration/migration_sysbuild.rst
  doc/nrf/releases_and_maturity/releases/release-notes-1.6.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-1.7.0.rst
  doc/nrf/security/tfm/tfm_building.rst
  doc/nrfxlib/conf.py
  doc/tfm/conf.py
  doc/zephyr/conf.py
  samples/bluetooth/fast_pair/locator_tag/README.rst
  samples/cellular/gnss/README.rst
  samples/dect/dect_phy/dect_shell/README.rst
  samples/matter/smoke_co_alarm/README.rst
Labels: doc-required, changelog-entry-required, backport v3.0-branch

#21481 [Backport v3.0-branch] doc: Add nPM2100 to PMIC software maturity doc
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, changelog-entry-required, Backport

#21526 [Backport v3.0-branch] doc: openthread: update power consumption measurements
  doc/nrf/protocols/thread/overview/power_consumption.rst
Labels: doc-required, changelog-entry-required, Backport

#21486 doc: updated nRF54H20 configuration docs
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_configuration.rst
Labels: doc-required, changelog-entry-required

#21517 applications: nrf5340_audio: Added back adv start on DFU
  applications/nrf5340_audio/src/bluetooth/bt_management/dfu/bt_mgmt_dfu.c
Labels: changelog-entry-required, bugfix, backport v3.0-branch

#21563 bluetooth: services: Add helper ft for getting the ranging counter
  include/bluetooth/services/ras.h
  samples/bluetooth/channel_sounding_ras_initiator/src/main.c
Labels: changelog-entry-required, bugfix, backport v3.0-branch

#21480 [Backport v3.0-branch] applications: nrf5340_audio: Use static address when privacy=n
  applications/nrf5340_audio/src/bluetooth/bt_management/advertising/bt_mgmt_adv.c
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.c
Labels: Backport

#21542 doc: Bluetooth maturity on nRF54H20
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, changelog-entry-required, backport v3.0-branch

#21546 [Backport v3.0-branch] wifi: SML update mainly for 54H and 54L
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, changelog-entry-required, Backport

#21503 [Backport v3.0-branch] manifest: Bring TF-M with less cmake output
  west.yml
Labels: manifest, manifest-trusted-firmware-m, changelog-entry-required

#21417 doc: matter: Add documentation for Matter Custom Cluster Editor.
  doc/nrf/includes/matter_manufacturer_cluster_editor_note.txt
  doc/nrf/protocols/matter/getting_started/custom_clusters.rst
  doc/nrf/protocols/matter/getting_started/images/matter_creating_custom_cluster_arguments_page.png
  doc/nrf/protocols/matter/getting_started/images/matter_creating_custom_cluster_assigned_clusters_page.png
  doc/nrf/protocols/matter/getting_started/images/matter_creating_custom_cluster_attributes.png
  doc/nrf/protocols/matter/getting_started/images/matter_creating_custom_cluster_attributes_page.png
  doc/nrf/protocols/matter/getting_started/images/matter_creating_custom_cluster_cluster_page.png
  doc/nrf/protocols/matter/getting_started/images/matter_creating_custom_cluster_commands.png
  doc/nrf/protocols/matter/getting_started/images/matter_creating_custom_cluster_commands_page.png
  doc/nrf/protocols/matter/getting_started/images/matter_creating_custom_cluster_device_type_cluster_assignment_page.png
  doc/nrf/protocols/matter/getting_started/images/matter_creating_custom_cluster_device_type_page.png
  doc/nrf/protocols/matter/getting_started/images/matter_creating_custom_cluster_enums_page.png
  doc/nrf/protocols/matter/getting_started/images/matter_creating_custom_cluster_event_page.png
  doc/nrf/protocols/matter/getting_started/images/matter_creating_custom_cluster_events.png
  doc/nrf/protocols/matter/getting_started/images/matter_creating_custom_cluster_fields_page.png
  doc/nrf/protocols/matter/getting_started/images/matter_creating_custom_cluster_items_enum_page.png
  doc/nrf/protocols/matter/getting_started/images/matter_creating_custom_cluster_items_page.png
  doc/nrf/protocols/matter/getting_started/images/matter_creating_custom_cluster_structure_items_page.png
  doc/nrf/protocols/matter/getting_started/images/matter_creating_custom_cluster_structures_page.png
  doc/nrf/protocols/matter/getting_started/tools.rst
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_cluster_page.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_command_dialog.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_details_button.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_device_type_add_cluster.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_device_type_add_cluster_dialog.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_device_type_add_feature.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_domain.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_edit_box.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_edit_box_access.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_edit_box_access_number.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_edit_box_details_boolean.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_edit_box_details_clusters.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_edit_box_details_list.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_edit_box_details_list_dialog.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_edit_box_details_text_field.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_edit_box_error.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_load_multiple_clusters.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_main_panel.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_name.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_remove_row.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_save_extension_no_difference.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_side_panel.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_start_edit.png
  doc/nrf/protocols/matter/overview/images/matter_cluster_tool/matter_cluster_tool_tooltip.png
  doc/nrf/protocols/matter/overview/index.rst
  doc/nrf/protocols/matter/overview/manufacturer_cluster_editor_tool.rst
Labels: doc-required, backport v3.0-branch

#21574 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required, backport v3.0-branch

#21543 samples: wifi: provisioning: Fix MbedTLS heap size
  samples/wifi/provisioning/ble/prj.conf
Labels: changelog-entry-required, backport v3.0-branch

#21564 [Backport v3.0-branch] doc: nrf70: Fix the link to Zephyr Wi-Fi management docs
  doc/nrf/app_dev/device_guides/nrf70/wifi_advanced_security_modes.rst
Labels: doc-required, changelog-entry-required, Backport
