Repository nrfconnect/sdk-nrf, pull requests merged in 2025-03, with the labels that each got.

#20666 Bluetooth: Mesh: Fixed reported coverity issues
  samples/bluetooth/mesh/dfu/distributor/src/main.c
  samples/bluetooth/mesh/light_ctrl/src/lc_pwm_led.c
  samples/bluetooth/mesh/light_ctrl/src/model_handler.c
  samples/bluetooth/mesh/sensor_server/src/model_handler.c
  samples/bluetooth/mesh/silvair_enocean/src/model_handler.c
  subsys/bluetooth/enocean.c
  subsys/bluetooth/mesh/gen_prop_srv.c
  subsys/bluetooth/mesh/model_utils.c
  subsys/bluetooth/mesh/scheduler_srv.c
  subsys/bluetooth/mesh/sensor_cli.c
  subsys/bluetooth/mesh/sensor_srv.c
  subsys/bluetooth/mesh/shell/shell_bat_cli.c
  subsys/bluetooth/mesh/shell/shell_ctl_cli.c
  subsys/bluetooth/mesh/shell/shell_ctrl_cli.c
  subsys/bluetooth/mesh/shell/shell_dm_cli.c
  subsys/bluetooth/mesh/shell/shell_dtt_cli.c
  subsys/bluetooth/mesh/shell/shell_hsl_cli.c
  subsys/bluetooth/mesh/shell/shell_lightness_cli.c
  subsys/bluetooth/mesh/shell/shell_loc_cli.c
  subsys/bluetooth/mesh/shell/shell_lvl_cli.c
  subsys/bluetooth/mesh/shell/shell_onoff_cli.c
  subsys/bluetooth/mesh/shell/shell_plvl_cli.c
  subsys/bluetooth/mesh/shell/shell_ponoff_cli.c
  subsys/bluetooth/mesh/shell/shell_prop_cli.c
  subsys/bluetooth/mesh/shell/shell_scene_cli.c
  subsys/bluetooth/mesh/shell/shell_scheduler_cli.c
  subsys/bluetooth/mesh/shell/shell_sensor_cli.c
  subsys/bluetooth/mesh/shell/shell_time_cli.c
  subsys/bluetooth/mesh/shell/shell_utils.c
  subsys/bluetooth/mesh/shell/shell_xyl_cli.c
  subsys/bluetooth/mesh/vnd/le_pair_resp.c
  tests/bluetooth/tester/src/mmdl.c
  tests/bluetooth/tester/src/model_handler.c
  tests/subsys/bluetooth/mesh/metadata_extraction/src/main.c
  tests/subsys/bluetooth/mesh/models/src/main.c
Labels: changelog-entry-required, ble mesh

#20663 applications: nrf_desktop: Drop MPSL flash sync timeout workaround
  applications/nrf_desktop/Kconfig.ble
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#20634 doc: zigbee: add known issue KRKNWK-19894
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#20687 tests: drivers: spi: Extend testing on nrf54l09pdk
  tests/drivers/spi/spi_controller_peripheral/boards/nrf54l09pdk_nrf54l09_cpuapp.overlay
  tests/drivers/spi/spi_controller_peripheral/testcase.yaml
  tests/drivers/spi/spi_error_cases/boards/nrf54l09pdk_nrf54l09_cpuapp.overlay
  tests/drivers/spi/spi_error_cases/testcase.yaml
Labels: changelog-entry-required

#20678 suit: Logs correction
  subsys/mgmt/suitfu/src/suitfu_mgmt.c
  subsys/sdfw_services/services/suit_service/suit_ipuc.c
  subsys/suit/orchestrator_app/src/suit_orchestrator_app.c
Labels: changelog-entry-required

#20688 suit: Fix suit storage envelope
  subsys/suit/storage/src/suit_storage_envelope.c
Labels: changelog-entry-required

#20676 suit: Fix IPUC cache issues
  drivers/flash/flash_ipuc/flash_ipuc.c
  subsys/suit/stream/stream_sinks/src/suit_dfu_cache_sink.c
Labels: changelog-entry-required

#20695 tests: benchmarks: multicore: idle_uarte: fix coverage after rework
  tests/benchmarks/multicore/idle_uarte/testcase.yaml
Labels: changelog-entry-required

#20103 samples: matter: Set custom keystore manager during the init.
  doc/nrf/protocols/matter/end_product/security.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/matter/common/src/app/matter_init.cpp
  samples/matter/common/src/app/matter_init.h
Labels: doc-required

#20562 bluetooth: controller: Use GPIO driver for CS antenna switching
  dts/bindings/bluetooth/nordic,bt-cs-antenna-switch.yaml
  samples/bluetooth/channel_sounding_ras_initiator/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  samples/bluetooth/channel_sounding_ras_reflector/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  subsys/bluetooth/controller/CMakeLists.txt
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/cs_antenna_switch.c
  subsys/bluetooth/controller/cs_antenna_switch.h
  subsys/bluetooth/controller/hci_driver.c
Labels: changelog-entry-required

#20592 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#20394 manifest: sdk-zephyr: Remove leftover socket options
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20706 Samples: Bluetooth: Remove RSSI distance check
  samples/bluetooth/scanning_while_connecting/src/main.c
Labels: changelog-entry-required

#20701 manifest: sdk-connectedhomeip: Update revision
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#20689 scripts: requirements: reintroduce pycryptodome
  scripts/requirements-build.txt
  scripts/requirements-fixed.txt
Labels: changelog-entry-required

#20675 doc: post 2.9.0-nRF54H20-1-rc3 release edits
  doc/nrf/protocols/matter/index.rst
  doc/nrf/releases_and_maturity.rst
  doc/nrf/releases_and_maturity/migration/2.4.99-cs3_to_2.6.99-cs2/migration_guide_2.4.99-cs3_to_2.6.99-cs2_application.rst
  doc/nrf/releases_and_maturity/migration/2.4.99-cs3_to_2.6.99-cs2/migration_guide_2.4.99-cs3_to_2.6.99-cs2_environment.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_1.x_to_2.x.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.4.99-cs3_to_2.6.99-cs2.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.5.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.6.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.7.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.8.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.9.0-nRF54H20-1-rc3.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.9.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_3.0.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7_99-cs1.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7_99-cs2.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_spm_to_tf-m.rst
  doc/nrf/releases_and_maturity/migration/migration_hwmv2.rst
  doc/nrf/releases_and_maturity/migration/migration_sysbuild.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/migration_guide_2.4.99-cs3_to_2.7_application.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/migration_guide_2.6.99-cs2_to_2.7_application.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/migration_guide_2.6.99-cs2_to_2_7_environment.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/transition_guide_2.4.99-cs3_to_2.7_environment.rst
  doc/nrf/releases_and_maturity/migration_guides.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#20698 manifest: Update suit-generator revision
  west.yml
Labels: manifest, changelog-entry-required, manifest-suit-generator

#20707 bluetooth: controller: Fix compilation error in cs_antenna_switch.c
  subsys/bluetooth/controller/cs_antenna_switch.c
Labels: changelog-entry-required

#19926 samples: psa_tls: Fix typo in chip name
  samples/crypto/psa_tls/boards/nrf54l15dk_nrf54l15_cpuapp_ns.conf
Labels: external, CI-Requested

#20705 doc: gsg: remove nRF9160 and Thingy:91 GSG pages
  CODEOWNERS
  doc/_utils/redirects.py
  doc/_zoomin/ncs.tags.yml
  doc/nrf/app_dev/device_guides/nrf91/images/nrfcloud_activating_sim.png
  doc/nrf/app_dev/device_guides/nrf91/images/nrfcloud_add_devices.png
  doc/nrf/app_dev/device_guides/nrf91/images/nrfcloud_add_lte_device.png
  doc/nrf/app_dev/device_guides/nrf91/images/nrfcloud_addsim.png
  doc/nrf/app_dev/device_guides/nrf91/images/nrfcloud_devices.png
  doc/nrf/app_dev/device_guides/nrf91/images/nrfcloud_selectdevicetype.png
  doc/nrf/app_dev/device_guides/nrf91/images/nrfcloud_simcards.png
  doc/nrf/app_dev/device_guides/nrf91/index.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_cloud_certificate.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_cloud_connecting.rst
  doc/nrf/app_dev/device_guides/thingy53/index.rst
  doc/nrf/app_dev/device_guides/thingy91/images/cellularmonitor_enablemcuboot.png
  doc/nrf/app_dev/device_guides/thingy91/images/cellularmonitor_iccid.png
  doc/nrf/app_dev/device_guides/thingy91/images/cellularmonitor_programdevice_thingy91.png
  doc/nrf/app_dev/device_guides/thingy91/images/cellularmonitor_selectassettracker.png
  doc/nrf/app_dev/device_guides/thingy91/images/cellularmonitor_selectdevice_thingy91.png
  doc/nrf/app_dev/device_guides/thingy91/images/nrfcloud_add_devices.png
  doc/nrf/app_dev/device_guides/thingy91/images/nrfcloud_add_lte_device.png
  doc/nrf/app_dev/device_guides/thingy91/images/nrfcloud_devices.png
  doc/nrf/app_dev/device_guides/thingy91/images/nrfcloud_selectdevicetype.png
  doc/nrf/app_dev/device_guides/thingy91/index.rst
  doc/nrf/app_dev/device_guides/thingy91/thingy91_cloud_connecting.rst
  doc/nrf/app_dev/device_guides/thingy91/thingy91_updating_fw_celmon.rst
  doc/nrf/app_dev/device_guides/thingy91/thingy91_updating_fw_programmer.rst
  doc/nrf/gsg_guides.rst
  doc/nrf/gsg_guides/images/programmer_select_device1.png
  doc/nrf/gsg_guides/images/thingy91_insert_sim.webp
  doc/nrf/gsg_guides/images/thingy91_pwr_switch.svg
  doc/nrf/gsg_guides/thingy91_gsg.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-2.5.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.6.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable, doc only

#20699 manifest: Update zephyr with clock control XOSTART workaround
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20718 doc: Add known issue for KRKNWK-20035
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, changelog-entry-required

#20703 manifest: sdk-connectedhomeip: Update revision
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#20651 samples: modem_shell: bt: use 0.14.0 nrf9160dk pin mapping
  samples/cellular/modem_shell/bt.overlay
Labels: CI-trusted-author, external, changelog-entry-required

#20686 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#20719 suit: Workaround for IPUC caches search before initialization
  subsys/suit/cache/src/suit_dfu_cache_helpers.c
Labels: changelog-entry-required

#20708 bluetooth: samples: Add nrf54l15dk/nrf54l05 to RAS requestor sample
  samples/bluetooth/channel_sounding_ras_initiator/sample.yaml
Labels: changelog-entry-required

#20714 manifest: update to include fll16m backport
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20724 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#20709 doc: update docs for 2.9.1
  doc/nrf/dev_model_and_contributions/adding_code.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.9.1.rst
  doc/nrf/shortcuts.txt
  doc/versions.json
Labels: doc-required

#20360 applications: sdp: mspi: add QUAD mode to RX
  applications/sdp/mspi/src/hrt/hrt-nrf54l15.s
  applications/sdp/mspi/src/hrt/hrt.c
  applications/sdp/mspi/src/main.c
Labels: changelog-entry-required

#20624 manifest: sdk-zephyr: [nrf fromlist] soc: nordic: nrf54l: Fix num of irq for nRF54L09
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20656 scripts: Force to use little-endian byte order
  scripts/bootloader/provision.py
  scripts/bootloader/validation_data.py
Labels: changelog-entry-required

#20692 scripts: ncs-provision: Allow to upload keys to KMU from public key file
  scripts/west_commands/ncs_provision.py
Labels: changelog-entry-required

#20728 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#20693 samples: npm2100_fuel_gauge: Fuel gauge sample added
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/pmic/native/npm2100_fuel_gauge/CMakeLists.txt
  samples/pmic/native/npm2100_fuel_gauge/Kconfig
  samples/pmic/native/npm2100_fuel_gauge/README.rst
  samples/pmic/native/npm2100_fuel_gauge/npm2100ek_pmic.dtsi
  samples/pmic/native/npm2100_fuel_gauge/nrf52840dk_nrf52840.overlay
  samples/pmic/native/npm2100_fuel_gauge/nrf5340dk_nrf5340_cpuapp.overlay
  samples/pmic/native/npm2100_fuel_gauge/nrf54l15dk_nrf54l15_cpuapp.overlay
  samples/pmic/native/npm2100_fuel_gauge/prj.conf
  samples/pmic/native/npm2100_fuel_gauge/sample.yaml
  samples/pmic/native/npm2100_fuel_gauge/src/CMakeLists.txt
  samples/pmic/native/npm2100_fuel_gauge/src/fuel_gauge.c
  samples/pmic/native/npm2100_fuel_gauge/src/fuel_gauge.h
  samples/pmic/native/npm2100_fuel_gauge/src/main.c
Labels: doc-required

#20278 manifest: sdk-zephyr: [nrf fromlist] drivers: flash: mspi_nor: support MODE_SINGLE and MODE_QUAD_1_4_4
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20755 doc: Replace error links with text in the AVSystem guide
  doc/nrf/external_comp/avsystem.rst
  doc/nrf/links.txt
Labels: doc-required, CI-disable

#20271 Optimise rx count and ram usage
  samples/wifi/softap/prj.conf
  samples/wifi/twt/prj.conf
Labels: changelog-entry-required

#20758 doc: Update highlights for the 2.9.1 release notes
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-2.9.1.rst
Labels: doc-required, CI-disable

#20730 doc: Add 2.9.1 release to main
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.9.1.rst
  doc/versions.json
Labels: doc-required, changelog-entry-required

#20348 partition_manager: kconfig: Fix typo
  subsys/partition_manager/Kconfig
Labels: changelog-entry-required

#20523 manifest: sdk-zephyr: [nrf fromlist] Add support for nRF54L20 FLPR core
  Kconfig.nrf
  subsys/partition_manager/CMakeLists.txt
  subsys/partition_manager/Kconfig
Labels: changelog-entry-required

#20753 Bluetooth: Samples: Add Advertising Coding Selection to Coded HR samples
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/central_hr_coded/README.rst
  samples/bluetooth/central_hr_coded/prj.conf
  samples/bluetooth/central_hr_coded/src/main.c
  samples/bluetooth/central_hr_coded/sysbuild/ipc_radio/prj.conf
  samples/bluetooth/peripheral_hr_coded/README.rst
  samples/bluetooth/peripheral_hr_coded/prj.conf
  samples/bluetooth/peripheral_hr_coded/src/main.c
  samples/bluetooth/peripheral_hr_coded/sysbuild/ipc_radio/prj.conf
Labels: doc-required

#20743 .github: Add information about quarantine process to PR
  .github/workflows/review-quarantine-pr.yml
Labels: changelog-entry-required

#20582 suit: Decompression stream filter
  subsys/nrf_compress/src/lzma.c
  subsys/suit/platform/CMakeLists.txt
  subsys/suit/platform/sdfw/CMakeLists.txt
  subsys/suit/stream/Kconfig
  subsys/suit/stream/stream_filters/CMakeLists.txt
  subsys/suit/stream/stream_filters/include/suit_decompress_filter.h
  subsys/suit/stream/stream_filters/src/suit_decompress_filter.c
  subsys/suit/stream/stream_sinks/include/suit_flash_sink.h
  subsys/suit/stream/stream_sinks/include/suit_ram_sink.h
  subsys/suit/stream/stream_sinks/src/suit_flash_sink.c
  subsys/suit/stream/stream_sinks/src/suit_ram_sink.c
  tests/subsys/suit/decompress_filter/CMakeLists.txt
  tests/subsys/suit/decompress_filter/boards/native_sim.conf
  tests/subsys/suit/decompress_filter/boards/native_sim.overlay
  tests/subsys/suit/decompress_filter/boards/native_sim_64.conf
  tests/subsys/suit/decompress_filter/boards/native_sim_64.overlay
  tests/subsys/suit/decompress_filter/prj.conf
  tests/subsys/suit/decompress_filter/src/main.c
  tests/subsys/suit/decompress_filter/testcase.yaml
  west.yml
Labels: manifest, changelog-entry-required, manifest-suit-processor

#20657 doc: improved note in nRF Cloud multi-service sample
  samples/cellular/nrf_cloud_multi_service/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#20772 bluetooth: controller: Fix CONFIG_MPSL_PIN_DEBUG on nRF54L
  subsys/mpsl/pin_debug/CMakeLists.txt
  subsys/mpsl/pin_debug/Kconfig
Labels: changelog-entry-required

#20647 doc: Matter samples reorganization
  doc/nrf/includes/advanced_conf_matter.txt
  samples/matter/light_bulb/README.rst
  samples/matter/light_switch/README.rst
  samples/matter/lock/README.rst
  samples/matter/smoke_co_alarm/README.rst
  samples/matter/template/README.rst
  samples/matter/thermostat/README.rst
  samples/matter/window_covering/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#20785 tests: benchmarks: multicore: idle_outside_of_main: add cooperative t…
  tests/benchmarks/multicore/idle_outside_of_main/testcase.yaml
Labels: changelog-entry-required

#20771 manifest: sdk-zephyr: [nrf fromlist] soc: nordic: enable west commands for nRF54L20 Enga cpuflpr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20750 bluetooth: controller: fix single-pin multiplexed antenna switch
  subsys/bluetooth/controller/cs_antenna_switch.c
Labels: changelog-entry-required

#20784 net: openthread: rpc: add pending dataset APIs
  doc/nrf/libraries/networking/ot_rpc.rst
  subsys/net/openthread/rpc/client/ot_rpc_dataset.c
  subsys/net/openthread/rpc/common/ot_rpc_ids.h
  subsys/net/openthread/rpc/server/ot_rpc_dataset.c
  tests/subsys/net/openthread/rpc/client/src/dataset_suite.c
  tests/subsys/net/openthread/rpc/client/src/thread_suite.c
  tests/subsys/net/openthread/rpc/server/src/dataset_suite.c
  tests/subsys/net/openthread/rpc/server/src/thread_suite.c
Labels: doc-required

#20783 applications: nrf_desktop: Use bsearch from C library
  applications/nrf_desktop/src/modules/fn_keys.c
  applications/nrf_desktop/src/modules/hid_state.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#20795 drivers: sdp: mspi: incorrect parameters protection
  applications/sdp/mspi/src/main.c
  drivers/mspi/mspi_nrfe.c
Labels: changelog-entry-required

#20789 applications: nrf_desktop: Fix enabling LTO
  applications/nrf_desktop/Kconfig.defaults
Labels: 10-min-review

#20503 applications: sdp: mspi: remove toggling of pins after TX
  applications/sdp/mspi/src/hrt/hrt-nrf54l15.s
  applications/sdp/mspi/src/hrt/hrt.c
Labels: changelog-entry-required

#20796 applications: nrf_desktop: Use Picolibc in IPC radio image
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpunet/images/ipc_radio/prj.conf
  applications/nrf_desktop/configuration/nrf5340dk_nrf5340_cpunet/images/ipc_radio/prj_release.conf
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#20797 applications: nrf_desktop: Use Picolibc
  applications/nrf_desktop/Kconfig.defaults
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#19616 manifest: update sdk-zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20792 manifest: sdk-zephyr: [nrf fromlist] Bluetooth: Host: Fix Advertising Coding Selection as p…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20815 samples: zephyr: subsys: settings: Disable sample on nrf54L20pdk
  samples/zephyr/subsys/settings/boards/nrf54l20pdk_nrf54l20_cpuapp.conf
  samples/zephyr/subsys/settings/testcase.yaml
Labels: changelog-entry-required

#20186 doc: samples: mention ipc_radio prj.conf in readme
  applications/matter_bridge/doc/matter_bridge_description.rst
  applications/matter_weather_station/README.rst
  doc/nrf/includes/ipc_radio_conf.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/central_hr_coded/README.rst
  samples/bluetooth/central_uart/README.rst
  samples/bluetooth/direction_finding_central/README.rst
  samples/bluetooth/direction_finding_connectionless_rx/README.rst
  samples/bluetooth/direction_finding_connectionless_tx/README.rst
  samples/bluetooth/direction_finding_peripheral/README.rst
  samples/bluetooth/fast_pair/input_device/README.rst
  samples/bluetooth/fast_pair/locator_tag/README.rst
  samples/bluetooth/llpm/README.rst
  samples/bluetooth/mesh/light/README.rst
  samples/bluetooth/mesh/light_ctrl/README.rst
  samples/bluetooth/mesh/light_dimmer/README.rst
  samples/bluetooth/mesh/light_switch/README.rst
  samples/bluetooth/mesh/sensor_server/README.rst
  samples/bluetooth/mesh/silvair_enocean/README.rst
  samples/bluetooth/multiple_adv_sets/README.rst
  samples/bluetooth/nrf_auraconfig/README.rst
  samples/bluetooth/nrf_dm/README.rst
  samples/bluetooth/peripheral_hids_keyboard/README.rst
  samples/bluetooth/peripheral_hids_mouse/README.rst
  samples/bluetooth/peripheral_hr_coded/README.rst
  samples/bluetooth/peripheral_mds/README.rst
  samples/bluetooth/peripheral_power_profiling/README.rst
  samples/bluetooth/peripheral_status/README.rst
  samples/bluetooth/peripheral_uart/README.rst
  samples/bluetooth/peripheral_with_multiple_identities/README.rst
  samples/bluetooth/subrating/README.rst
  samples/bluetooth/throughput/README.rst
  samples/caf_sensor_manager/README.rst
  samples/event_manager_proxy/README.rst
  samples/matter/light_bulb/README.rst
  samples/matter/light_switch/README.rst
  samples/matter/lock/README.rst
  samples/matter/smoke_co_alarm/README.rst
  samples/matter/template/README.rst
  samples/matter/thermostat/README.rst
  samples/matter/window_covering/README.rst
  samples/nrf_rpc/entropy_nrf53/README.rst
  samples/openthread/cli/README.rst
  samples/openthread/coap_client/README.rst
  samples/wifi/ble_coex/README.rst
  samples/wifi/provisioning/ble/README.rst
  samples/wifi/thread_coex/README.rst
  samples/zigbee/light_switch/README.rst
Labels: doc-required, CI-disable, doc only

#20668 doc: Add nRF54L information to ap-protect.
  doc/nrf/links.txt
  doc/nrf/security/ap_protect.rst
Labels: doc-required, changelog-entry-required

#20791 modules: openthread: simplify kconfig for OT
  modules/openthread/Kconfig.features
  modules/openthread/Kconfig.thread
  subsys/net/openthread/Kconfig.defconfig
Labels: changelog-entry-required

#20820 manifest: sdk-zephyr: manifest: Update nRF hw models to latest
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20747 scripts: ncs-provision: handle metadata for KMU
  scripts/requirements-test.txt
  scripts/tests/conftest.py
  scripts/tests/west_commands/ncs_provision_test.py
  scripts/west_commands/ncs_provision.py
Labels: changelog-entry-required

#20818 doc: tfm: mention minimal build features
  doc/nrf/security/tfm/tfm.rst
Labels: doc-required, CI-disable, doc only

#20825 bluetooth: services: prefer ind over notif in RAS when relevant
  subsys/bluetooth/services/ras/rrsp/ras_rrsp.c
Labels: changelog-entry-required

#20777 samples: caf_sensor_manager: Add power optimized config
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/caf_sensor_manager/sample.yaml
  samples/caf_sensor_manager/sysbuild/empty_net_core/boards/nrf54h20dk_nrf54h20_cpurad.overlay
  samples/caf_sensor_manager/sysbuild/empty_net_core/prj.conf
Labels: doc-required

#20844 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#20832 manifest: sdk-zephyr: drivers: flash, mspi: pull changes from upstream
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20630 sysbuild: fast_pair: Separate provisioning data generation
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/sysbuild_fast_pair.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/sysbuild_fast_pair.conf
  applications/nrf_desktop/configuration/nrf52840gmouse_nrf52840/sysbuild_release_fast_pair.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/sysbuild_release_fast_pair.conf
  applications/nrf_desktop/configuration/nrf54l15dk_nrf54l05_cpuapp/sysbuild_release_fast_pair.conf
  applications/nrf_desktop/configuration/nrf54l15dk_nrf54l10_cpuapp/sysbuild_fast_pair.conf
  applications/nrf_desktop/configuration/nrf54l15dk_nrf54l15_cpuapp/sysbuild_fast_pair.conf
  applications/nrf_desktop/sample.yaml
  cmake/sysbuild/fast_pair/hex.cmake
  cmake/sysbuild/fast_pair/pm_partition_validation.cmake
  samples/bluetooth/fast_pair/input_device/CMakeLists.txt
  samples/bluetooth/fast_pair/input_device/Kconfig.sysbuild
  samples/bluetooth/fast_pair/input_device/sysbuild.cmake
  samples/bluetooth/fast_pair/input_device/sysbuild.conf
  samples/bluetooth/fast_pair/locator_tag/CMakeLists.txt
  samples/bluetooth/fast_pair/locator_tag/Kconfig.sysbuild
  samples/bluetooth/fast_pair/locator_tag/sysbuild.cmake
  subsys/bluetooth/services/fast_pair/CMakeLists.txt
  subsys/bluetooth/services/fast_pair/fp_registration_data.c
  sysbuild/CMakeLists.txt
  sysbuild/Kconfig.bt_fast_pair
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#20521 manifest: sdk-zephyr: Nrfx 6996 add zephyr target for n rf54 l09 flpr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20849 manifest: sdk-zephyr: Cherry pick pts related fixes
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20823 bootloader: bl_boot: Fix faulty boot logic
  subsys/bootloader/bl_boot/bl_boot.c
Labels: changelog-entry-required

#20617 nrf_compress: lzma: Fix last part variable check
  subsys/nrf_compress/src/lzma.c
Labels: changelog-entry-required, backport v2.8-branch, backport v2.9-branch

#20848 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  applications/nrf5340_audio/sample.yaml
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-dragoon

#20744 samples: pmic: npm2100_one_button
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/pmic/native/npm2100_one_button/CMakeLists.txt
  samples/pmic/native/npm2100_one_button/README.rst
  samples/pmic/native/npm2100_one_button/boards/npm2100_pmic.dtsi
  samples/pmic/native/npm2100_one_button/boards/nrf52840dk_nrf52840.overlay
  samples/pmic/native/npm2100_one_button/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/pmic/native/npm2100_one_button/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  samples/pmic/native/npm2100_one_button/prj.conf
  samples/pmic/native/npm2100_one_button/sample.yaml
  samples/pmic/native/npm2100_one_button/src/main.c
Labels: doc-required

#20762 bluetooth: controller: Reset ECDH command on deinitialization
  subsys/bluetooth/controller/ecdh.c
Labels: external, CI-Requested

#20748 manifest: Use tag and not hash for Oberon PSA core
  west.yml
Labels: manifest, manifest-oberon-psa-crypto

#20864 samples: bluetooth: Fix resume advertising
  samples/bluetooth/central_and_peripheral_hr/src/main.c
  samples/bluetooth/peripheral_bms/src/main.c
  samples/bluetooth/peripheral_cgms/src/main.c
  samples/bluetooth/peripheral_cts_client/src/main.c
  samples/bluetooth/peripheral_gatt_dm/src/main.c
  samples/bluetooth/peripheral_lbs/src/main.c
  samples/bluetooth/peripheral_mds/src/main.c
  samples/bluetooth/peripheral_rscs/src/main.c
  samples/bluetooth/peripheral_status/src/main.c
  samples/bluetooth/peripheral_uart/src/main.c
  samples/bluetooth/shell_bt_nus/src/main.c
Labels: changelog-entry-required

#20505 manifest: sdk-zephyr: [nrf fromtree] nPM1300 LDO bug workaround
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20890 ci: Use Ubuntu 24.04 in GH actions
  .github/workflows/validate-pip-requirements-fixed-file.yml
Labels: changelog-entry-required

#20889 tests: zephyr: boards: nrf: qdec: add support for l20
  scripts/ci/tags.yaml
  tests/zephyr/boards/nrf/qdec/CMakeLists.txt
  tests/zephyr/boards/nrf/qdec/README.txt
  tests/zephyr/boards/nrf/qdec/boards/nrf54l20pdk_nrf54l20_cpuapp.overlay
  tests/zephyr/boards/nrf/qdec/prj.conf
  tests/zephyr/boards/nrf/qdec/testcase.yaml
Labels: changelog-entry-required

#20897 doc: jlink: update to 8.18
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable, doc only

#20752 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#20898 doc: Correct changelog entry for nrfDesktop
  doc/nrf/releases_and_maturity/releases/release-notes-3.0.0-preview1.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#20882 manifest: Update sdk-zephyr backport scb retention in s2ram
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20912 samples: pmic: native: npm2100_one_button: force build only
  samples/pmic/native/npm2100_one_button/sample.yaml
Labels: changelog-entry-required

#20207 lib: gcf_sms: pass NULL to strtok_r to continue parsing same string
  lib/gcf_sms/gcf_sms.c
Labels: changelog-entry-required

#20886 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#20764 manifest: sdk-zephyr: [nrf fromlist] Integrate nrfx 3.11.0
  west.yml
Labels: manifest, manifest-zephyr, CI-all-test, changelog-entry-required

#20831 doc: update docs for 2.6.4
  doc/nrf/conf.py
  doc/nrf/dev_model_and_contributions/adding_code.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.6.4.rst
  doc/nrf/shortcuts.txt
  doc/nrfxlib/conf.py
  doc/versions.json
Labels: doc-required, changelog-entry-required

#20891 manifest: sdk-zephyr: [nrf fromtree] tests: kernel: timer: timer_behavior: Reduce tick freq…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20915 bluetooth: services: Fix RAS ring buffer alloc overflow issue
  subsys/bluetooth/services/ras/rrsp/ras_rd_buffer.c
Labels: changelog-entry-required

#20916 manifest: sdk-zephyr: [nrf fromtree] drivers: audio: dmic_nrfx: improvements to driver
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20893 doc: Fix sample listing
  doc/nrf/samples.rst
Labels: doc-required, changelog-entry-required

#20861 manifest: sdk-zephyr: bluetooth: Host: Rename CS tone antenna configurations
  samples/bluetooth/channel_sounding_ras_initiator/src/main.c
Labels: changelog-entry-required

#20911 doc: Add 2.6.4 release to main
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.6.4.rst
  doc/versions.json
Labels: doc-required, changelog-entry-required

#20819 manifest: sdk-zephyr: Bump nrfregtool v8.1.3 ncs
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20444 manifest: sdk-zephyr: [nrf fromlist] boards: nordic: nrf54l20pdk: Add SPI to the supported …
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20937 [Backport v2.9-nRF54H20-branch] ci: docpreview: fix body-includes parameter
  .github/workflows/docpreview.yml
Labels: Hotfix, changelog-entry-required, Backport

#20938 [Backport v2.9-nRF54H20-branch] ci: doc: post preview comment after build finishes
  .github/workflows/docbuild.yml
  .github/workflows/docpreview.yml
  .github/workflows/docpublish.yml
Labels: Hotfix, Backport

#20941 samples: bluetooth: fast_pair: input_device: fix the model ID default
  samples/bluetooth/fast_pair/input_device/Kconfig.sysbuild
Labels: changelog-entry-required

#20855 Bluetooth: Mesh: add tc to psa key converter
  subsys/bluetooth/mesh/CMakeLists.txt
  subsys/bluetooth/mesh/Kconfig
  subsys/bluetooth/mesh/key_importer.c
Labels: ble mesh

#19205 manifest: Enable DMIC test on nrf54l15
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20903 samples: bluetooth: add error message on overstay
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/dm/dm.c
Labels: doc-required

#20944 doc: tfm: update images
  doc/nrf/security/tfm/images/sbs_comparison.png
  doc/nrf/security/tfm/images/sbs_separation.png
  doc/nrf/security/tfm/images/tfm_architecture_overview.png
Labels: doc-required, CI-disable, doc only

#20946 doc: kmu_provision: update nrfjprog to nrfutil
  doc/nrf/app_dev/device_guides/nrf54l/kmu_provision.rst
Labels: doc-required, CI-disable, doc only

#20942 samples: cellular: lte_ble_gateway: Add IPv4 support to LTE BLE gateway
  samples/cellular/lte_ble_gateway/prj.conf
Labels: changelog-entry-required

#20836 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#20929 net: nrf_provisioning: Add block2 option to a CoAP request
  subsys/net/lib/nrf_provisioning/src/nrf_provisioning_coap.c
Labels: changelog-entry-required

#20838 doc: Release Notes for nRF Connect SDK v2.9.0-nRF54H20-1
  VERSION
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_gs.rst
  doc/nrf/dev_model_and_contributions/adding_code.rst
  doc/nrf/links.txt
  doc/nrf/protocols/matter/index.rst
  doc/nrf/releases_and_maturity.rst
  doc/nrf/releases_and_maturity/abi_compatibility.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/migration/2.4.99-cs3_to_2.6.99-cs2/migration_guide_2.4.99-cs3_to_2.6.99-cs2_application.rst
  doc/nrf/releases_and_maturity/migration/2.4.99-cs3_to_2.6.99-cs2/migration_guide_2.4.99-cs3_to_2.6.99-cs2_environment.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_1.x_to_2.x.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.4.99-cs3_to_2.6.99-cs2.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.5.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.6.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.7.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.8.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.9.0-nRF54H20-1.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.9.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_3.0.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7_99-cs1.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7_99-cs2.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_spm_to_tf-m.rst
  doc/nrf/releases_and_maturity/migration/migration_hwmv2.rst
  doc/nrf/releases_and_maturity/migration/migration_sysbuild.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/migration_guide_2.4.99-cs3_to_2.7_application.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/migration_guide_2.6.99-cs2_to_2.7_application.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/migration_guide_2.6.99-cs2_to_2_7_environment.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/transition_guide_2.4.99-cs3_to_2.7_environment.rst
  doc/nrf/releases_and_maturity/migration_guides.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.9.0-nRF54H20-1.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/versions.json
Labels: doc-required

#20948 doc: matter: fix clusterExtension tab name
  doc/nrf/protocols/matter/getting_started/custom_clusters.rst
Labels: doc-required, changelog-entry-required

#20835 Bluetooth: Samples: Fix indent in Peripheral HR Coded sample
  samples/bluetooth/peripheral_hr_coded/src/main.c
Labels: changelog-entry-required

#20863 doc: tfm: add overview of PSA Certified API
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/security/tfm/images/psa_certified_api_general.png
  doc/nrf/security/tfm/images/psa_certified_api_lib_selection.svg
  doc/nrf/security/tfm/index.rst
  doc/nrf/security/tfm/psa_certified_api_overview.rst
  doc/nrf/security/tfm/tfm_architecture.rst
Labels: doc-required, CI-disable, doc only

#20965 tests: zephyr: drivers: spi: stop testing L20
  tests/zephyr/drivers/spi/dt_spec/testcase.yaml
  tests/zephyr/drivers/spi/spi_controller_peripheral/boards/nrf54l20pdk_nrf54l20_cpuapp.overlay
  tests/zephyr/drivers/spi/spi_controller_peripheral/testcase.yaml
  tests/zephyr/drivers/spi/spi_loopback/boards/nrf54l20pdk_nrf54l20_cpuapp.overlay
  tests/zephyr/drivers/spi/spi_loopback/testcase.yaml
Labels: changelog-entry-required

#20930 manifest: sdk-zephyr: [nrf fromtree] drivers: timer: nrf_rtc_timer: do not start LFCLK unle…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20952 manifest: sdk-connectedhomeip: Update revision
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#19561 lib: app_jwt: add an application core jwt generator and add a sample for usage
  CODEOWNERS
  doc/nrf/libraries/others/app_jwt.rst
  include/app_jwt.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/app_jwt/CMakeLists.txt
  lib/app_jwt/Kconfig
  lib/app_jwt/app_jwt.c
  samples/app_jwt/CMakeLists.txt
  samples/app_jwt/Kconfig
  samples/app_jwt/README.rst
  samples/app_jwt/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/app_jwt/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/app_jwt/prj.conf
  samples/app_jwt/sample.yaml
  samples/app_jwt/src/main.c
  samples/app_jwt/uart_logging.conf
Labels: doc-required

#20973 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#20955 doc: west: runner allows nrfutil
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_gs.rst
  doc/nrf/app_dev/programming.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/migration/migration_guide_3.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable, doc only

#20947 doc: audio: nrfjprog to nrfutil update
  applications/nrf5340_audio/doc/building.rst
Labels: doc-required, CI-disable, doc only

#20980 manifest: Update sdk-zephyr with latest cherry-picks
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20976 samples: matter: lock: Use correct settings backend
  samples/matter/lock/src/access/access_storage.cpp
Labels: changelog-entry-required, backport v2.9-branch

#20854 samples: wifi: Fix proto type used for RAW sockets
  samples/wifi/raw_tx_packet/src/main.c
  samples/wifi/shell/src/wifi_raw_tx_pkt_shell.c
Labels: changelog-entry-required

#20990 samples: bluetooth: fast_pair: Update version in config files
  samples/bluetooth/fast_pair/locator_tag/configuration/prj.conf
  samples/bluetooth/fast_pair/locator_tag/configuration/prj_release.conf
Labels: changelog-entry-required

#20983 Bluetooth: controller: Don't select ECDH support
  subsys/bluetooth/controller/Kconfig
Labels: changelog-entry-required

#19994 manifest: Update bsim to version v2.5
  west.yml
Labels: manifest, changelog-entry-required, manifest-bsim

#20998 scripts: quarantine: add bluetooth.direction_finding_central_nrf.aod
  scripts/quarantine.yaml
Labels: changelog-entry-required

#20987 doc: nrf5340: update nrfjprog to nrfutil
  doc/nrf/app_dev/device_guides/nrf53/building_nrf53.rst
Labels: doc-required, CI-disable, doc only

#20989 net: openthread: rpc: Add vendor data APIs serialization
  doc/nrf/libraries/networking/ot_rpc.rst
  samples/nrf_rpc/protocols_serialization/client/src/ot_shell.c
  subsys/net/openthread/rpc/client/CMakeLists.txt
  subsys/net/openthread/rpc/client/ot_rpc_client_common.c
  subsys/net/openthread/rpc/client/ot_rpc_client_common.h
  subsys/net/openthread/rpc/client/ot_rpc_netdiag.c
  subsys/net/openthread/rpc/common/ot_rpc_ids.h
  subsys/net/openthread/rpc/server/CMakeLists.txt
  subsys/net/openthread/rpc/server/ot_rpc_netdiag.c
  tests/subsys/net/openthread/rpc/client/src/netdiag_suite.c
  tests/subsys/net/openthread/rpc/common/test_rpc_env.h
  tests/subsys/net/openthread/rpc/server/src/netdiag_suite.c
Labels: doc-required, changelog-entry-required

#20995 manifest: sdk-zephyr: [nrf fromtree] scripts: runners: nrf: Fix flashing of FLPR/PPR on nRF…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20910 net: lib: hostap_crypto: Fix legacy crypto
  subsys/net/lib/hostap_crypto/Kconfig
Labels: changelog-entry-required

#20951 manifest: sdk-connectedhomeip: Update revision
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#20999 doc: Backported docedits for NCS v2.9.0-nrf54h20-1
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_gs.rst
  doc/nrf/dev_model_and_contributions/adding_code.rst
  doc/nrf/links.txt
  doc/nrf/protocols/matter/index.rst
  doc/nrf/releases_and_maturity/abi_compatibility.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.9.0-nRF54H20-1.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.9.0-nRF54H20-1.rst
  doc/nrf/releases_and_maturity/releases/release-notes-3.0.0-preview1.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/versions.json
Labels: doc-required

#21006 doc: install: simplify prerequisites section
  doc/nrf/app_dev/programming.rst
  doc/nrf/includes/install_sdk_common_prerequisites.txt
  doc/nrf/installation/install_ncs.rst
  doc/nrf/installation/recommended_versions.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable, doc only

#20997 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#21022 scripts: quarantine: add suit-platform.integration.fetch
  scripts/quarantine.yaml
Labels: changelog-entry-required

#20978 doc: install: sdk-manager commands
  doc/nrf/installation/install_ncs.rst
  doc/nrf/installation/recommended_versions.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable, doc only

#21009 doc: zigbee doc removal cleanup
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-1.3.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-1.6.0.rst
Labels: doc-required

#20175 manifest: update sdk-zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#21029 doc: fem: nrf2220ek doc improvement
  doc/nrf/app_dev/device_guides/fem/2220ek_dev_guide.rst
Labels: doc-required, CI-disable

#21025 samples: matter: Set user data before starting timer
  samples/matter/common/src/event_triggers/default_event_triggers.cpp
Labels: changelog-entry-required

#20770 manifest: sdk-zephyr: [nrf fromlist] drivers: adc: nrfx_saadc: Add support for AIN8-AIN13 o…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20928 doc: Bluetooth: Mesh: documentation for security toolbox and key importer
  doc/nrf/protocols/bt/bt_mesh/configuring.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_3.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#20153 doc: fix output build file names
  doc/nrf/app_dev/config_and_build/output_build_files.rst
Labels: doc-required, changelog-entry-required

#20892 doc: mpsl: List changes related to nRF54h20 SoC
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#20888 manifest: sdk-zephyr: Nrfs audiopll service from up
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required
