Repository nrfconnect/sdk-nrf, pull requests merged in 2025-06, with the labels that each got.

#22173 [Backport v3.0-branch] net: nrf_provisioning: Fix memory leak
  subsys/net/lib/nrf_provisioning/src/nrf_provisioning_coap.c
  tests/subsys/net/lib/nrf_provisioning/src/coap.c
Labels: changelog-entry-required

#22548 manifest: sdk-zephyr: [nrf fromlist] tests: drivers: i2s: i2s_speed: Confirm CLK value
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22554 samples: bluetooth: Fix errata 117 check
  samples/bluetooth/direct_test_mode/src/dtm.c
Labels: changelog-entry-required

#22587 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#22593 boards: nordic: nrf54lm20pdk: state uart20 and uart30 pins
  boards/nordic/nrf54lm20pdk/nrf54lm20pdk_nrf54lm20a_cpuapp_0_2_0.overlay
  boards/nordic/nrf54lm20pdk/nrf54lm20pdk_nrf54lm20a_cpuapp_0_2_0_csp.overlay
Labels: changelog-entry-required

#22610 scripts: quarantine: add i2s tests for audiopll at h20
  scripts/quarantine.yaml
Labels: changelog-entry-required

#22348 doc: fixes to Zephyr board names after the upmerge changes
  applications/nrf_desktop/board_configuration.rst
  applications/serial_lte_modem/doc/nRF91_as_Zephyr_modem.rst
  doc/nrf/app_dev/board_names.rst
  doc/nrf/app_dev/device_guides/nrf52/index.rst
  doc/nrf/app_dev/device_guides/nrf54l/index.rst
  doc/nrf/includes/sample_board_rows.txt
  doc/nrf/libraries/gazell/gzp.rst
  doc/nrf/protocols/matter/getting_started/hw_requirements.rst
  doc/nrf/protocols/thread/overview/ot_memory.rst
  doc/nrf/protocols/wifi/advanced_modes/mem_requirements_raw.rst
  doc/nrf/protocols/wifi/sap_mode/mem_requirements_sap.rst
  doc/nrf/protocols/wifi/scan_mode/mem_requirements_scan.rst
  doc/nrf/protocols/wifi/station_mode/mem_requirements_sta.rst
Labels: doc-required, CI-disable

#22586 manifest: sdk-zephyr: [nrf fromlist] test: drivers: clock_control_api: Fix conf file application
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22633 manifest: sdk-zephyr: [nrf fromlist] scripts: kconfig: Add dt_nodelabel_int_prop function
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22630 manifest: Update sdk-mcuboot
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#22621 applications: serial_lte_modem: sock to pointer
  applications/serial_lte_modem/src/slm_at_socket.c
Labels: changelog-entry-required

#22626 tests: drivers: i2s: i2s_mclk: Extend test with ACLK configuration
  scripts/ci/tags.yaml
  tests/drivers/i2s/i2s_mclk/boards/tdm_mck_audiopll.overlay
  tests/drivers/i2s/i2s_mclk/boards/tdm_sck_audiopll.overlay
  tests/drivers/i2s/i2s_mclk/testcase.yaml
Labels: changelog-entry-required

#22654 tests: zephyr: drivers: adc: adc_accuracy_test: fix reference-mv
  tests/zephyr/drivers/adc/adc_accuracy_test/boards/nrf54l09pdk_nrf54l09_cpuapp.overlay
  tests/zephyr/drivers/adc/adc_accuracy_test/boards/nrf54lm20pdk_nrf54lm20a_cpuapp.overlay
  tests/zephyr/drivers/adc/adc_accuracy_test/boards/nrf54lm20pdk_nrf54lm20a_cpuapp_0_0_0.overlay
  tests/zephyr/drivers/adc/adc_accuracy_test/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
Labels: changelog-entry-required

#22664 bluetooth: services: Use BT_GATT_CCC_WITH_WRITE_CB in RRSP
  subsys/bluetooth/services/ras/rrsp/ras_rrsp.c
Labels: changelog-entry-required

#22667 scripts: ncs-docker-version: update ncs docker
  scripts/ncs-docker-version.txt
Labels: changelog-entry-required

#22629 manifest: sdk-zephyr: [nrf noup] zms: add lookup cache hash function for legacy ZMS
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22615 net: nrf_provisioning: Add new query parameter
  subsys/net/lib/nrf_provisioning/Kconfig.nrf_provisioning_cbor
  subsys/net/lib/nrf_provisioning/src/nrf_provisioning_coap.c
  subsys/net/lib/nrf_provisioning/src/nrf_provisioning_http.c
  tests/subsys/net/lib/nrf_provisioning/src/coap.c
  tests/subsys/net/lib/nrf_provisioning/src/main.c
Labels: changelog-entry-required

#22687 applications: nrf_desktop: use common callbacks in hids
  applications/nrf_desktop/src/modules/hids.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#22688 ci: Add ARM LLVM compiler to ncs-build
  scripts/ncs-docker-version.txt
Labels: changelog-entry-required

#22559 doc: security: add crypto overview page
  doc/_utils/redirects.py
  doc/nrf/libraries/security/nrf_security/index.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/samples/crypto.rst
  doc/nrf/security.rst
  doc/nrf/security/crypto/crypto_architecture.rst
  doc/nrf/security/crypto/drivers.rst
  doc/nrf/security/crypto/index.rst
  doc/nrf/security/images/psa_certified_api_lib_selection.svg
  doc/nrf/security/images/psa_crypto_api_arch.svg
  doc/nrf/security/images/psa_crypto_api_oberon.svg
  doc/nrf/security/images/psa_crypto_api_overview.svg
  doc/nrf/security/images/psa_crypto_api_tfm.svg
  doc/nrf/security/images/tfm_psa_crypto_api_nspe_spe.svg
  doc/nrf/security/psa_certified_api_overview.rst
  doc/nrf/security/tfm/index.rst
  doc/nrf/security/tfm/tfm_architecture.rst
  doc/nrf/security/tfm/tfm_services.rst
Labels: doc-required, CI-disable, doc only

#22701 applications: nrf_desktop: Use generic cbs for HID notification events and HID feature/output reports
  applications/nrf_desktop/src/modules/hids.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#22703 subsys/bootloader: removed hidden CONFIG_SB_NRF54L15_STYLE_IMPL
  subsys/bootloader/Kconfig
Labels: changelog-entry-required, 10-min-review

#22578 doc: wifi: Improve radio test combo build instruction
  doc/nrf/includes/wifi_radio_test_subcommands.txt
  doc/nrf/protocols/wifi/regulatory_certification/wifi_radio_test_sample/wifi_build_instructions.rst
  samples/wifi/radio_test/multi_domain/sample.yaml
Labels: doc-required, changelog-entry-required

#22713 applications: nrf_desktop: Use separate files for utils Kconfig
  applications/nrf_desktop/src/util/Kconfig
  applications/nrf_desktop/src/util/Kconfig.adv_prov
  applications/nrf_desktop/src/util/Kconfig.dfu_lock
  applications/nrf_desktop/src/util/Kconfig.hid_reportq
  applications/nrf_desktop/src/util/Kconfig.hwid
Labels: 10-min-review

#22709 application: serial_lte_modem: TCP receive and disconnect
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
Labels: changelog-entry-required

#22725 tests: zephyr: drivers: uart: enable for LV10 DK
  samples/peripheral/lpuart/boards/nrf54l09pdk_nrf54l09_cpuapp.conf
  samples/peripheral/lpuart/boards/nrf54l09pdk_nrf54l09_cpuapp.overlay
  samples/peripheral/lpuart/sample.yaml
  tests/drivers/lpuart/boards/nrf54l09pdk_nrf54l09_cpuapp.conf
  tests/drivers/lpuart/boards/nrf54l09pdk_nrf54l09_cpuapp.overlay
  tests/drivers/lpuart/testcase.yaml
  tests/drivers/uart/uart_baudrate_test/boards/nrf54l09pdk_nrf54l09_cpuapp_uart21.overlay
  tests/drivers/uart/uart_baudrate_test/testcase.yaml
  tests/drivers/uart/uart_latency/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
  tests/drivers/uart/uart_latency/testcase.yaml
  tests/zephyr/drivers/uart/uart_async_api/testcase.yaml
  tests/zephyr/drivers/uart/uart_elementary/boards/nrf54l09pdk_nrf54l09_cpuapp.overlay
  tests/zephyr/drivers/uart/uart_elementary/boards/nrf54l09pdk_nrf54l09_cpuflpr.overlay
  tests/zephyr/drivers/uart/uart_elementary/boards/nrf54lv10dk_nrf54lv10a_0_0_0_dual_uart.overlay
  tests/zephyr/drivers/uart/uart_elementary/testcase.yaml
  tests/zephyr/drivers/uart/uart_errors/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
  tests/zephyr/drivers/uart/uart_errors/testcase.yaml
  tests/zephyr/drivers/uart/uart_mix_fifo_poll/testcase.yaml
  tests/zephyr/drivers/uart/uart_pm/boards/nrf54l09pdk_nrf54l09_cpuapp.overlay
  tests/zephyr/drivers/uart/uart_pm/testcase.yaml
Labels: changelog-entry-required

#22711 snippets: Increase stack sizes while enabling debug configuration
  snippets/nrf70-driver-debug/overlay-nrf70-driver-debug.conf
  snippets/nrf70-driver-verbose-debug/overlay-nrf70-driver-verbose-debug.conf
Labels: changelog-entry-required

#22707 manifest: sdk-zephyr: [nrf fromlist] manifest: update hal_nordic revision to integrate nrfx 3.12.1
  west.yml
Labels: manifest, manifest-zephyr, CI-all-test, changelog-entry-required

#22737 manifest: sdk-zephyr: [nrf fromlist] tests: boards: nrf: i2c_slave: allow more instances
  samples/zephyr/drivers/i2c/rtio_loopback/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
  samples/zephyr/drivers/i2c/rtio_loopback/sample.yaml
  tests/zephyr/boards/nrf/i2c/i2c_slave/boards/nrf54lv10dk_nrf54lv10a_cpuapp.conf
  tests/zephyr/boards/nrf/i2c/i2c_slave/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
  tests/zephyr/boards/nrf/i2c/i2c_slave/testcase.yaml
  tests/zephyr/drivers/i2c/i2c_target_api/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
  tests/zephyr/drivers/i2c/i2c_target_api/testcase.yaml
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22745 applications: nrf_desktop: Align config channel CMakeLists entry
  applications/nrf_desktop/src/util/CMakeLists.txt
Labels: 10-min-review

#22751 tests: zephyr: boards: nrf: hwinfo: enable for LV10 DK
  tests/zephyr/boards/nrf/hwinfo/reset_cause/boards/nrf54l09pdk_nrf54l09_cpuapp.overlay
  tests/zephyr/boards/nrf/hwinfo/reset_cause/testcase.yaml
Labels: changelog-entry-required

#22740 bluetooth: improving linking for channel sounding
  subsys/bluetooth/controller/hci_driver.c
Labels: changelog-entry-required

#22752 doc: software_maturity: update PSA crypto tables
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, CI-disable, 10-min-review, doc only

#22778 tests: zephyr: drivers: spi: enable for LV10 DK
  samples/zephyr/drivers/spi_bitbang/sample.yaml
  tests/zephyr/drivers/spi/dt_spec/testcase.yaml
  tests/zephyr/drivers/spi/spi_controller_peripheral/boards/nrf54l09pdk_nrf54l09_cpuapp.overlay
  tests/zephyr/drivers/spi/spi_controller_peripheral/testcase.yaml
  tests/zephyr/drivers/spi/spi_error_cases/boards/nrf54l09pdk_nrf54l09_cpuapp.overlay
  tests/zephyr/drivers/spi/spi_error_cases/testcase.yaml
  tests/zephyr/drivers/spi/spi_loopback/boards/nrf54l09pdk_nrf54l09_cpuapp.overlay
  tests/zephyr/drivers/spi/spi_loopback/testcase.yaml
Labels: changelog-entry-required

#22781 tests: drivers: i2s: Add test that validates all I2S/TDM instances
  tests/drivers/i2s/i2s_instances/CMakeLists.txt
  tests/drivers/i2s/i2s_instances/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/drivers/i2s/i2s_instances/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  tests/drivers/i2s/i2s_instances/boards/nrf54lm20pdk_nrf54lm20a_cpuapp.overlay
  tests/drivers/i2s/i2s_instances/boards/nrf54lm20pdk_nrf54lm20a_cpuapp_0_0_0.overlay
  tests/drivers/i2s/i2s_instances/boards/nrf54lm20pdk_nrf54lm20a_cpuapp_0_2_0_csp.overlay
  tests/drivers/i2s/i2s_instances/prj.conf
  tests/drivers/i2s/i2s_instances/src/i2s_instances.c
  tests/drivers/i2s/i2s_instances/testcase.yaml
Labels: changelog-entry-required

#22777 samples: drivers: jesd216: Run sQSPI sample with 16 and 32MHz clock
  samples/zephyr/drivers/jesd216/boards/sqspi_16MHz.overlay
  samples/zephyr/drivers/jesd216/boards/sqspi_32MHz.overlay
  samples/zephyr/drivers/jesd216/sample.yaml
Labels: changelog-entry-required

#22656 samples: cellular: nrf_cloud_rest_device_message: Add conn_mgr
  doc/nrf/releases_and_maturity/releases/release-notes-2.6.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_rest_device_message/Kconfig
  samples/cellular/nrf_cloud_rest_device_message/README.rst
  samples/cellular/nrf_cloud_rest_device_message/overlay-nrf_provisioning.conf
  samples/cellular/nrf_cloud_rest_device_message/overlay_nrfcloud_logging.conf
  samples/cellular/nrf_cloud_rest_device_message/prj.conf
  samples/cellular/nrf_cloud_rest_device_message/src/main.c
Labels: doc-required

#22787 doc: Ensure that the sphinx version used is lower than 8.2.0
  doc/requirements.txt
Labels: doc-required, changelog-entry-required

#22458 sysbuild: Change non-optimal b0 MCUboot crypto message
  sysbuild/CMakeLists.txt
Labels: changelog-entry-required

#22454 sysbuild: Fix including correct files for b0 with MCUboot
  cmake/sysbuild/b0_mcuboot_signing.cmake
  cmake/sysbuild/sign.cmake
Labels: changelog-entry-required

#22689 Bluetooth: Mesh: Fix chat sample walkthrough doc
  doc/nrf/protocols/bt/bt_mesh/vendor_model/chat_sample_walk_through.rst
Labels: doc-required, changelog-entry-required

#22671 applications_serial_lte_modem: Add AT#XAPOLL
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/prj.conf
  applications/serial_lte_modem/src/slm_at_host.c
  applications/serial_lte_modem/src/slm_at_host.h
  applications/serial_lte_modem/src/slm_at_socket.c
  applications/serial_lte_modem/src/slm_at_socket.h
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#22791 bluetooth: controller: add missing feature bit for power class 1
  subsys/bluetooth/controller/hci_internal.c
Labels: changelog-entry-required

#22742 doc: 3.1.0-preview2 doc updates
  doc/nrf/dev_model_and_contributions/adding_code.rst
  doc/nrf/index.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_1.x_to_2.x.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.4.99-cs3_to_2.6.99-cs2.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.5.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.6.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.7.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.8.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.9.0-nRF54H20-1.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.9.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_3.0.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_3.1.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7_99-cs1.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7_99-cs2.rst
  doc/nrf/releases_and_maturity/migration/migration_hwmv2.rst
  doc/nrf/releases_and_maturity/migration/migration_sysbuild.rst
  doc/nrf/releases_and_maturity/migration_guides.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/versions.json
Labels: doc-required

#22797 manifest: sdk-zephyr: [nrf fromlist] drivers: Extend analog pins mapping for nRF54L.
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22800 doc: requirements: Refine Sphinx version required
  doc/requirements.txt
Labels: doc-required, changelog-entry-required

#22750 samples: nrf_rpc: update documentation
  samples/nrf_rpc/protocols_serialization/client/README.rst
  samples/nrf_rpc/protocols_serialization/server/README.rst
Labels: doc-required, changelog-entry-required

#22758 nrf_security: cracen: add singlepart support for cbc pkcs7
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/cipher.c
Labels: changelog-entry-required

#22785 boards: wifi: Add Wi-Fi support to nrf54lm20 PDK
  boards/nordic/nrf54lm20pdk/nrf54lm20pdk_nrf54lm20a_cpuapp.dts
  boards/shields/nrf7002eb2/boards/nrf54lm20pdk_nrf54lm20a_cpuapp.overlay
Labels: changelog-entry-required

#22804 samples: peripherals: 802154_phy_test: Add support for nRF54LM20
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/peripheral/802154_phy_test/boards/nrf54lm20pdk_nrf54lm20a_cpuapp.conf
  samples/peripheral/802154_phy_test/sample.yaml
Labels: doc-required

#22822 tests: zephyr: drivers: gpio: gpio_basic_api: enable for LV10 DK
  tests/drivers/gpio/gpio_more_loops/boards/nrf54l09pdk_nrf54l09_common.dtsi
  tests/drivers/gpio/gpio_more_loops/boards/nrf54l09pdk_nrf54l09_cpuapp.overlay
  tests/drivers/gpio/gpio_more_loops/boards/nrf54l09pdk_nrf54l09_cpuflpr.overlay
  tests/drivers/gpio/gpio_more_loops/testcase.yaml
  tests/zephyr/drivers/gpio/gpio_basic_api/boards/nrf54l09pdk_nrf54l09_cpuapp.overlay
  tests/zephyr/drivers/gpio/gpio_basic_api/boards/nrf54l09pdk_nrf54l09_cpuflpr.overlay
  tests/zephyr/drivers/gpio/gpio_basic_api/boards/nrf54lv10dk_nrf54lv10a_cpuapp.conf
  tests/zephyr/drivers/gpio/gpio_basic_api/boards/nrf54lv10dk_nrf54lv10a_cpuapp_0_0_0.conf
  tests/zephyr/drivers/gpio/gpio_basic_api/boards/nrf54lv10dk_nrf54lv10a_cpuflpr.conf
  tests/zephyr/drivers/gpio/gpio_basic_api/boards/nrf54lv10dk_nrf54lv10a_cpuflpr_0_0_0.conf
  tests/zephyr/drivers/gpio/gpio_basic_api/testcase.yaml
Labels: changelog-entry-required

#22816 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#22811 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#22832 samples: zephyr: smp_svr_mini_boot: add ci tag
  samples/zephyr/smp_svr_mini_boot/sample.yaml
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#22101 samples: cellular: modem_shell: Add ATE0/ATE1
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/modem_shell/README.rst
  samples/cellular/modem_shell/src/at/at_cmd_mode.c
  samples/cellular/modem_shell/src/at/at_cmd_mode_custom.c
  samples/cellular/modem_shell/src/at/at_cmd_mode_sett.c
  samples/cellular/modem_shell/src/at/at_cmd_mode_sett.h
  samples/cellular/modem_shell/src/at/at_shell.c
Labels: doc-required

#22793 applications: serial_lte_modem: Increase CMUX notification buffer
  applications/serial_lte_modem/Kconfig
Labels: changelog-entry-required

#22658 doc: DFU support and recommendations nRF54L
  doc/nrf/app_dev/device_guides/nrf54l/dfu_config.rst
  doc/nrf/app_dev/device_guides/nrf54l/index.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, changelog-entry-required

#22529 samples: wifi: provisioning: ble: Fix stack overflow
  samples/wifi/provisioning/ble/prj.conf
Labels: changelog-entry-required

#22818 samples: peripheral_power_profiling: Add support for nRF54LV10DK
  samples/bluetooth/peripheral_power_profiling/Kconfig
  samples/bluetooth/peripheral_power_profiling/boards/nrf54lv10dk_nrf54lv10a_cpuapp.conf
  samples/bluetooth/peripheral_power_profiling/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
  samples/bluetooth/peripheral_power_profiling/sample.yaml
  samples/bluetooth/peripheral_power_profiling/src/main.c
Labels: changelog-entry-required

#22766 boards: nordic: nrf54lv10dk: rom_offset defconfig
  boards/nordic/nrf54lv10dk/Kconfig.defconfig
Labels: changelog-entry-required

#22844 boards: nordic: nrf54lv10dk: Enable DCDC converter
  boards/nordic/nrf54lv10dk/nrf54lv10a_cpuapp_common.dtsi
Labels: changelog-entry-required

#22856 tests: zephyr: drivers: comp: fix unstable ExtRef
  tests/zephyr/boards/nrf/comp/boards/nrf54lv10dk_nrf54lv10a_cpuapp.conf
  tests/zephyr/boards/nrf/comp/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
Labels: changelog-entry-required

#22814 manifest: sdk-zephyr: [nrf fromlist] drivers: adc: adc_nrfx_saadc: Extend internal reference values
  samples/zephyr/drivers/adc/adc_dt/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
  samples/zephyr/drivers/adc/adc_dt/sample.yaml
  samples/zephyr/drivers/adc/adc_sequence/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
  samples/zephyr/drivers/adc/adc_sequence/sample.yaml
  tests/zephyr/drivers/adc/adc_accuracy_test/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
  tests/zephyr/drivers/adc/adc_accuracy_test/testcase.yaml
  tests/zephyr/drivers/adc/adc_api/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
  tests/zephyr/drivers/adc/adc_api/testcase.yaml
  tests/zephyr/drivers/adc/adc_error_cases/testcase.yaml
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22857 tests: drivers: uart: Add test that validates all UART instances
  tests/drivers/uart/uart_instances/CMakeLists.txt
  tests/drivers/uart/uart_instances/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  tests/drivers/uart/uart_instances/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/drivers/uart/uart_instances/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  tests/drivers/uart/uart_instances/boards/nrf54lm20pdk_nrf54lm20a_cpuapp.overlay
  tests/drivers/uart/uart_instances/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
  tests/drivers/uart/uart_instances/prj.conf
  tests/drivers/uart/uart_instances/src/uart_instances.c
  tests/drivers/uart/uart_instances/testcase.yaml
Labels: changelog-entry-required

#22861 tests: zephyr: drivers: spi: spi_loopback: relax timing req for spi a…
  tests/zephyr/drivers/spi/spi_loopback/boards/nrf54lm20pdk_nrf54lm20a_cpuapp.conf
Labels: changelog-entry-required

#22864 samples: zephyr: boards: nordic: system_off: align memory regions
  samples/zephyr/boards/nordic/system_off/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
Labels: changelog-entry-required

#22698 applications: serial_lte_modem: Add MSG_WAITACK support
  applications/serial_lte_modem/doc/SOCKET_AT_commands.rst
  applications/serial_lte_modem/doc/TCPUDP_AT_commands.rst
  applications/serial_lte_modem/src/slm_at_socket.c
  applications/serial_lte_modem/src/slm_at_tcp_proxy.c
  applications/serial_lte_modem/src/slm_at_udp_proxy.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#22401 boards: nrf54h20_iron: Allow radio updates
  modules/mcuboot/boot/zephyr/Kconfig
  sysbuild/Kconfig.mcuboot
  sysbuild/Kconfig.netcore
  sysbuild/netcore.cmake
Labels: changelog-entry-required

#22817 manifest: sdk-zephyr: [nrf fromlist] manifest: update hal_nordic for errata 55 on nRF54LV10A Eng A
  west.yml
Labels: manifest, manifest-zephyr, CI-all-test, changelog-entry-required

#22728 sysbuild: remove compressed images support dependency on PM
  sysbuild/CMakeLists.txt
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#22877 cracen: Reorder includes to fix include order issue
  subsys/nrf_security/src/drivers/cracen/common/include/cracen/membarriers.h
  subsys/nrf_security/src/drivers/cracen/silexpk/target/baremetal_ba414e_with_ik/pk_baremetal.c
  subsys/nrf_security/src/drivers/cracen/silexpk/target/hw/ba414/pkhardware_ba414e.c
  subsys/nrf_security/src/drivers/cracen/sxsymcrypt/src/platform/baremetal/cmdma_hw.c
Labels: changelog-entry-required

#22718 lib: modem_slm: Remove EXPERIMENTAL status
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/modem_slm/Kconfig
Labels: doc-required

#22761 doc: crypto: add support reference page
  doc/nrf/libraries/security/nrf_security/doc/driver_config.rst
  doc/nrf/releases_and_maturity/software_maturity.rst
  doc/nrf/security/crypto/crypto_supported_features.rst
  doc/nrf/security/crypto/index.rst
Labels: doc-required, CI-disable, doc only

#22840 samples: cellular: nrf_cloud_rest: thingy91x support
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_rest_cell_location/boards/thingy91x_nrf9151_ns.conf
  samples/cellular/nrf_cloud_rest_cell_location/sample.yaml
  samples/cellular/nrf_cloud_rest_device_message/boards/thingy91x_nrf9151_ns.conf
  samples/cellular/nrf_cloud_rest_device_message/boards/thingy91x_nrf9151_ns.overlay
  samples/cellular/nrf_cloud_rest_device_message/include/buttons_def.h
  samples/cellular/nrf_cloud_rest_device_message/sample.yaml
  samples/cellular/nrf_cloud_rest_fota/boards/thingy91x_nrf9151_ns.conf
  samples/cellular/nrf_cloud_rest_fota/boards/thingy91x_nrf9151_ns.overlay
  samples/cellular/nrf_cloud_rest_fota/sample.yaml
  samples/cellular/nrf_cloud_rest_fota/sysbuild/mcuboot/boards/thingy91x_nrf9151.conf
  samples/cellular/nrf_cloud_rest_fota/sysbuild/mcuboot/boards/thingy91x_nrf9151.overlay
Labels: doc-required

#22334 net: lib: downloader: avoid continous loop on error event
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/downloader/CMakeLists.txt
  subsys/net/lib/downloader/src/dl_sanity.c
  subsys/net/lib/downloader/src/dl_shell.c
  tests/subsys/net/lib/downloader/CMakeLists.txt
Labels: doc-required

#22801 Wzn 4384 add mramc nrf7120 for shim
  cmake/sysbuild/partition_manager.cmake
  dts/common/nordic/nrf7120_enga.dtsi
Labels: changelog-entry-required

#22874 tests: zephyr: drivers: i2s: i2s_additional: Run test on 54LM20
  tests/zephyr/drivers/i2s/i2s_additional/CMakeLists.txt
  tests/zephyr/drivers/i2s/i2s_additional/Kconfig
  tests/zephyr/drivers/i2s/i2s_additional/README.txt
  tests/zephyr/drivers/i2s/i2s_additional/boards/nrf54lm20pdk_nrf54lm20a_cpuapp.overlay
  tests/zephyr/drivers/i2s/i2s_additional/boards/nrf54lm20pdk_nrf54lm20a_cpuapp_0_0_0.overlay
  tests/zephyr/drivers/i2s/i2s_additional/boards/nrf54lm20pdk_nrf54lm20a_cpuapp_0_2_0_csp.overlay
  tests/zephyr/drivers/i2s/i2s_additional/prj.conf
  tests/zephyr/drivers/i2s/i2s_additional/testcase.yaml
Labels: changelog-entry-required

#22919 samples: cellular: nrf_cloud_rest_cell_location: Remove JITP
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_cloud_rest_cell_location/Kconfig
  samples/cellular/nrf_cloud_rest_cell_location/README.rst
  samples/cellular/nrf_cloud_rest_cell_location/boards/thingy91x_nrf9151_ns.conf
  samples/cellular/nrf_cloud_rest_cell_location/prj.conf
  samples/cellular/nrf_cloud_rest_cell_location/src/main.c
Labels: doc-required

#22880 lib: modem_info: Add functions to retrieve RSRQ
  doc/nrf/libraries/modem/modem_info.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/modem/modem_info.h
  lib/modem_info/modem_info.c
Labels: doc-required, external, CI-Requested

#22905 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#22867 boards: nordic: nrf54lv10dk: single place for uart pin defs
  boards/nordic/nrf54lv10dk/nrf54lv10dk_nrf54lv10a-pinctrl.dtsi
  boards/nordic/nrf54lv10dk/nrf54lv10dk_nrf54lv10a_cpuapp_0_2_0.overlay
  boards/nordic/nrf54lv10dk/nrf54lv10dk_nrf54lv10a_cpuflpr_0_2_0.overlay
Labels: changelog-entry-required

#22910 manifest: sdk-zephyr: [nrf fromtree] net: sockets_offload: Fix build error with NO_OPTIMIZA…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22835 doc: nrf_provisioning: update docs
  doc/nrf/libraries/networking/nrf_provisioning.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#22866 manifest: sdk-zephyr: [nrf fromtree] drivers: serial: nrfx_uarte: Add workaround for FRAMET…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22944 tests: zephyr: drivers: uart: uart_elementary: fix for lv10 0.0.0
  tests/zephyr/drivers/uart/uart_elementary/boards/nrf54lv10dk_nrf54lv10a_0_0_0_dual_uart.overlay
Labels: changelog-entry-required

#22764 applications: nrf5340_audio: Enable stereo broadcast_sink
  applications/nrf5340_audio/broadcast_sink/README.rst
  applications/nrf5340_audio/broadcast_sink/main.c
  applications/nrf5340_audio/broadcast_sink/overlay-broadcast_sink.conf
  applications/nrf5340_audio/doc/user_interface.rst
  applications/nrf5340_audio/src/audio/Kconfig
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/audio_datapath.h
  applications/nrf5340_audio/src/audio/audio_system.c
  applications/nrf5340_audio/src/audio/le_audio_rx.c
  applications/nrf5340_audio/src/bluetooth/Kconfig
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_sink.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_sink.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/le_audio.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/le_audio.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_client.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_server.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/audio_defines.h
  tests/subsys/audio/audio_module_template/src/template_test.c
Labels: doc-required, CI-disable

#22916 test: bootloader: FW optimizations
  tests/subsys/bootloader/boot_chains/CMakeLists.txt
  tests/subsys/bootloader/boot_chains/src/main.c
  tests/subsys/bootloader/boot_chains/testcase.yaml
Labels: changelog-entry-required

#22947 cmake: sysbuild: fix the string expansion for MCUboot signature key file
  cmake/sysbuild/generate_default_keyfile.cmake
Labels: changelog-entry-required

#22958 caf: leds: improve logic for calculating color count from DTS
  subsys/caf/modules/leds.c
Labels: changelog-entry-required

#22960 tests: drivers: timer: Fix GRTC with LFRC test
  tests/drivers/timer/grtc_timer_lfrc/src/main.c
Labels: changelog-entry-required

#22969 tools: Add nrfutil with subcommands to tools files
  scripts/ncs-docker-version.txt
  scripts/tools-versions-darwin.yml
  scripts/tools-versions-linux.yml
  scripts/tools-versions-win10.yml
Labels: changelog-entry-required

#22927 manifest: sdk-zephyr: Allow to boot radio slot1
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22496 Partition Manager: support for FIXED_PARTITION macros and update of sdk-zephyr with fixed flash-map tests
  include/flash_map_pm.h
  subsys/partition_manager/flash_map_partition_manager.c
Labels: changelog-entry-required

#22983 Revert "tools: Add nrfutil with subcommands to tools files"
  scripts/ncs-docker-version.txt
  scripts/tools-versions-darwin.yml
  scripts/tools-versions-linux.yml
  scripts/tools-versions-win10.yml
Labels: changelog-entry-required

#22971 bluetooth: Make it possible to use radio notification cb with bt_disable
  include/bluetooth/radio_notification_cb.h
  subsys/bluetooth/host_extensions/radio_notification_conn_cb.c
Labels: changelog-entry-required

#22979 samples: peripheral: lpuart: align to uart console change at LV10
  samples/peripheral/lpuart/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
Labels: changelog-entry-required

#22946 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#22988 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#22998 samples: bluetooth: Align hci buffer configuration
  samples/bluetooth/iso_combined_bis_and_cis/prj.conf
Labels: changelog-entry-required

#23003 quarantine_zephyr: Add quarantine for libraries.libc.* at NCS
  scripts/quarantine_zephyr.yaml
Labels: changelog-entry-required

#23014 manifest: sdk-zephyr: [nrf fromtree] tests: drivers: i2s: Run I2S tests on nRF54H20
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22964 crypto: PSA core lite: Adding incremental hash
  subsys/nrf_security/src/core/lite/psa_core_lite.c
  tests/subsys/nrf_security/psa_core_lite/src/main.c
Labels: changelog-entry-required

#22994 tests: benchmarks: Add early logging test
  scripts/ci/tags.yaml
  tests/benchmarks/early_logging/CMakeLists.txt
  tests/benchmarks/early_logging/prj.conf
  tests/benchmarks/early_logging/src/main.c
  tests/benchmarks/early_logging/testcase.yaml
Labels: changelog-entry-required

#23030 scripts: Added trigger for openthread samples
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#22957 samples: Adjust MLTPAN-20 in selected samples
  samples/bluetooth/direct_test_mode/src/dtm.c
  samples/esb/esb_prx/src/main.c
  samples/esb/esb_ptx/src/main.c
  samples/peripheral/radio_test/src/main.c
Labels: 10-min-review

#22954 manifest: sdk-zephyr: [nrf fromtree] A few QSPI and MSPI related changes
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required
