Repository nrfconnect/sdk-nrf, pull requests merged in 2025-05, with the labels that each got.

#22118 lib: at_parser: parse DECT NR+ mfw names
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  lib/at_parser/at_match.re
  lib/at_parser/generated/at_match.c
  tests/lib/at_parser/src/main.c
Labels: doc-required

#21833 nrf_security: Have psa_crypto_init.c be configurable
  subsys/nrf_security/Kconfig.psa
  subsys/nrf_security/src/zephyr/CMakeLists.txt
Labels: changelog-entry-required

#22126 samples: bluetooth: iso_time_sync: Fix iso_tx.c when asserts enabled
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/iso_time_sync/prj.conf
  samples/bluetooth/iso_time_sync/src/iso_tx.c
Labels: doc-required

#22014 applications: serial_lte_modem: Add PPP PDN selection
  applications/serial_lte_modem/doc/PPP_AT_commands.rst
  applications/serial_lte_modem/src/slm_ppp.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#22088 samples: nrf_rpc: add samples for ci
  samples/nrf_rpc/protocols_serialization/client/sample.yaml
  samples/nrf_rpc/protocols_serialization/client/snippets/openthread/openthread.conf
  samples/nrf_rpc/protocols_serialization/server/sample.yaml
  snippets/ci-shell/ci-shell.conf
Labels: changelog-entry-required

#21940 manifest: sdk-zephyr: [nrf fromtree] include: drivers: clock_control: Remove strict inclusion for nrf_clock.h
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#21710 cmake: sysbuild: hpf: Add apply snippet Kconfig
  cmake/sysbuild/hpf.cmake
  sysbuild/Kconfig.hpf
Labels: changelog-entry-required

#22111 samples: cellular: deprecate lte_ble_gateway sample
  CODEOWNERS
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/lte_ble_gateway/README.rst
  samples/cellular/modem_shell/README.rst
Labels: doc-required

#22135 manifest: Update sdk-zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22145 scripts: quarantine_integration: Add Find My Switchable Network entries
  scripts/quarantine_integration.yaml
Labels: changelog-entry-required

#22133 manifest: update sdk-zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22082 samples: wifi: ble_coex: Fix BLE disconnection reason code
  samples/wifi/ble_coex/src/bt_throughput_test.c
Labels: changelog-entry-required

#22144 doc: install: --ncs-version for toolchain env
  doc/nrf/installation/install_ncs.rst
Labels: doc-required, CI-disable, doc only

#22152 Track Find My samples in the memory report
  scripts/memory-threshold-list.yaml
Labels: changelog-entry-required

#22158 tests: subsys: debug: cpu_load: Change duplicated test name
  tests/subsys/debug/cpu_load/testcase.yaml
Labels: changelog-entry-required

#22123 doc: Updated docs for NCS v3.0.1 release
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-3.0.1.rst
  doc/versions.json
Labels: doc-required, changelog-entry-required

#22117 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#22141 doc: small Sidewalk page fix
  doc/nrf/links.txt
  doc/nrf/protocols/amazon_sidewalk/index.rst
Labels: doc-required

#22160 applications: serial_lte_modem: Use persist option on Linux PPP
  applications/serial_lte_modem/scripts/slm_start_ppp.sh
Labels: changelog-entry-required

#22153 nfc: add support for non-secure build targets for nRF54L15
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/nfc/record_text/sample.yaml
  subsys/nfc/lib/platform.c
Labels: doc-required

#22147 cracen: platform_keys: Remove incorrect comment about AES keys
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/platform_keys/platform_keys.c
Labels: changelog-entry-required

#22166 samples: cellular: slm_shell: Switch RTS and CTS pins in doc
  applications/serial_lte_modem/doc/slm_description.rst
  samples/cellular/slm_shell/README.rst
Labels: doc-required

#22177 doc: Known issues - Update platforms for CIA-351
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required, CI-disable, changelog-entry-required

#22179 scripts: memory-threshold: find_my: switchable networks: fix dfu pattern
  scripts/memory-threshold-list.yaml
Labels: changelog-entry-required

#22023 bootloader: Enforce LTO for NSIB on nRF54l series
  samples/bootloader/socs/nrf54l15_cpuapp.conf
Labels: changelog-entry-required

#22139 drivers: serial: nrf_sw_lpuart: Fix missing UART_RX_BUF_RELEASED event
  drivers/serial/uart_nrf_sw_lpuart.c
Labels: changelog-entry-required

#22029 doc: nrf: drivers: Add documentation for sQSPI MSPI shim driver
  CODEOWNERS
  doc/nrf/drivers/mspi_sqspi.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#22164 nrf_security: Fix HMAC update for Cracen PSA driver
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/cracen_mac_hmac.c
Labels: changelog-entry-required

#22174 [Backport v2.9-branch] net: nrf_provisioning: Fix memory leak
  subsys/net/lib/nrf_provisioning/src/nrf_provisioning_coap.c
  tests/subsys/net/lib/nrf_provisioning/src/coap.c
Labels: changelog-entry-required

#22190 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-dragoon

#22065 scripts: add support for IRONside SE update service
  CODEOWNERS
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  scripts/west-commands.yml
  scripts/west_commands/ncs_ironside_se_update.py
Labels: doc-required

#22188 doc: fixes to Bluetooth Mesh sensors
  doc/nrf/libraries/bluetooth/mesh/sensor.rst
Labels: doc-required, CI-disable, changelog-entry-required

#22116 dts: common: nordic: Remove max-frequency from timers on nrf7120
  dts/common/nordic/nrf7120_enga.dtsi
Labels: changelog-entry-required

#21852 samples: bluetooth: direct_test_mode: Add support for nRF54LM20PDK
  doc/nrf/includes/sample_board_rows.txt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/direct_test_mode/boards/nrf54lm20pdk_nrf54lm20a_cpuapp.conf
  samples/bluetooth/direct_test_mode/boards/nrf54lm20pdk_nrf54lm20a_cpuapp.overlay
  samples/bluetooth/direct_test_mode/sample.yaml
Labels: doc-required

#22193 manifest: Update sdk-mcuboot revision
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#22203 manifest: sdk-nrfxlib: nrf_rpc: Declare packet_validate as unused
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#22119 tests: drivers: lpuart: Verify RX BUF release after UART disable
  tests/drivers/lpuart/src/main.c
Labels: changelog-entry-required

#22202 doc: Update changelog for v2.9.0-branch
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#22191 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#22198 soc: nrf54l: Add the linker script for the KMU push area
  soc/nordic/nrf54l/CMakeLists.txt
Labels: changelog-entry-required

#22149 boards: nordic: Set default version of nRF54LM20PDK board to newest one
  boards/nordic/nrf54lm20pdk/board.yml
  boards/nordic/nrf54lm20pdk/revision.cmake
Labels: changelog-entry-required

#22218 ci: fix docbuild requirements.txt
  doc/requirements.txt
Labels: doc-required, CI-disable, changelog-entry-required, backport v2.9-branch

#22220 ci: fix docbuild requirements.txt
  doc/requirements.txt
Labels: doc-required, CI-disable, changelog-entry-required

#22156 samples: nsib: Add 54l to the sample.yaml
  samples/bootloader/sample.yaml
Labels: changelog-entry-required

#22219 manifest: sdk-nrfxlib: Update revision of nrf_802154
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-nrf-802154, changelog-entry-required

#22206 scripts: hid_configurator: Update udev rules
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  scripts/hid_configurator/60-hid.rules
  scripts/hid_configurator/99-hid.rules
  scripts/hid_configurator/README.rst
Labels: doc-required

#22195 zigbee: subsys: Fix compilation when FACTORY_RESET is disabled
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/zigbee/zigbee_app_utils.h
  subsys/zigbee/lib/zigbee_app_utils/zigbee_app_utils.c
Labels: doc-required

#22211 applications: zigbee_weather_station: Fix negative values logging
  applications/zigbee_weather_station/src/sensor.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#22210 [Backport v2.9-branch] Update nrfxlib and dragoon revision
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#22237 tests: benchmarks: Add PM test for console UART
  tests/benchmarks/current_consumption/uart_console/CMakeLists.txt
  tests/benchmarks/current_consumption/uart_console/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/benchmarks/current_consumption/uart_console/prj.conf
  tests/benchmarks/current_consumption/uart_console/src/main.c
  tests/benchmarks/current_consumption/uart_console/sysbuild.cmake
  tests/benchmarks/current_consumption/uart_console/testcase.yaml
Labels: changelog-entry-required

#22154 manifest: update sdk-zephyr to have MDK 8.68.2
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22204 samples: cellular: nrf_cloud_multi_service: Remove compilation warnings
  samples/cellular/nrf_cloud_multi_service/Kconfig
  samples/cellular/nrf_cloud_multi_service/prj.conf
  subsys/net/lib/nrf_cloud/Kconfig.nrf_cloud_coap
  subsys/net/lib/nrf_provisioning/Kconfig
  subsys/net/lib/nrf_provisioning/Kconfig.nrf_provisioning_cbor
  subsys/net/lib/nrf_provisioning/Kconfig.nrf_provisioning_coap
  subsys/net/lib/nrf_provisioning/Kconfig.nrf_provisioning_codec
  subsys/net/lib/nrf_provisioning/Kconfig.nrf_provisioning_http
Labels: changelog-entry-required

#22240 samples: zephyr: subsys: usb: enable mass and cdc_acm for LM20
  samples/zephyr/subsys/usb/cdc_acm/CMakeLists.txt
  samples/zephyr/subsys/usb/cdc_acm/Kconfig
  samples/zephyr/subsys/usb/cdc_acm/README.txt
  samples/zephyr/subsys/usb/cdc_acm/app.overlay
  samples/zephyr/subsys/usb/cdc_acm/prj.conf
  samples/zephyr/subsys/usb/cdc_acm/sample.yaml
  samples/zephyr/subsys/usb/cdc_acm/usbd_next_prj.conf
  samples/zephyr/subsys/usb/mass/CMakeLists.txt
  samples/zephyr/subsys/usb/mass/Kconfig
  samples/zephyr/subsys/usb/mass/README.txt
  samples/zephyr/subsys/usb/mass/prj.conf
  samples/zephyr/subsys/usb/mass/ramdisk.overlay
  samples/zephyr/subsys/usb/mass/sample.yaml
  samples/zephyr/subsys/usb/mass/usbd_next_prj.conf
Labels: changelog-entry-required

#22159 manifest: update sdk-zephyr
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#20991 samples,tests: drop references to 'rts-pin' and 'cts-pin'
  samples/cellular/modem_shell/bt.overlay
  tests/drivers/lpuart/boards/nrf9160dk_nrf9160.overlay
  tests/drivers/lpuart/boards/nrf9160dk_nrf9160_loopback.overlay
Labels: external, CI-Requested

#22257 samples: peripheral: lpuart: Fix sample on nrf54lm20 PDK
  samples/peripheral/lpuart/boards/nrf54lm20pdk_nrf54lm20a_cpuapp.conf
Labels: changelog-entry-required

#22259 tests: zephyr: drivers: uart: Fix overlay for PCA10184
  tests/zephyr/drivers/uart/uart_mix_fifo_poll/boards/nrf54lm20pdk_nrf54lm20a_cpuapp_0_2_0_csp.overlay
Labels: changelog-entry-required

#22226 applications: connectivity_bridge: Restore UART HW_ASYNC settings
  applications/connectivity_bridge/prj.conf
Labels: changelog-entry-required

#22239 scripts: hid_configurator: Discover HID devices independently
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  scripts/hid_configurator/NrfHidDevice.py
Labels: doc-required

#22269 tests: zephyr: drivers: flash: common: run for LM20 DK
  tests/zephyr/drivers/flash/common/testcase.yaml
Labels: changelog-entry-required

#22241 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#22270 esb: ESB API documentation - make all enum values visible
  include/esb.h
Labels: changelog-entry-required

#22281 fix: prohibited term in create board schema
  scripts/west_commands/create_board/schema.json
Labels: changelog-entry-required

#21075 dfu: Add custom device update
  doc/nrf/libraries/dfu/dfu_target.rst
  include/dfu/dfu_target.h
  include/dfu/dfu_target_custom.h
  subsys/dfu/dfu_target/Kconfig
  subsys/dfu/dfu_target/src/dfu_target.c
Labels: doc-required, external, changelog-entry-required, CI-Requested

#22282 zigbee: fix application versioning in Zigbee project
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  scripts/bootloader/zb_add_ota_header.py
Labels: doc-required

#22258 samples: wifi: thread_coex: Replace incorrect reference to Bluetooth
  samples/wifi/thread_coex/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#22254 manifest: sdk-zephyr: [nrf noup] scripts: ci: check_compliance: Add NCS sysbuild Kconfigs
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22232 boards: nordic Add support for nrf7120pdk_nrf7120_cpuapp to run twister tests
  boards/nordic/nrf7120pdk/Kconfig
  boards/nordic/nrf7120pdk/nrf7120pdk_nrf7120-pinctrl.dtsi
  boards/nordic/nrf7120pdk/nrf7120pdk_nrf7120_cpuapp.dts
Labels: changelog-entry-required

#22290 tests: drivers: gpio: gpio_more_loops: Fix loopback on PCA10184
  tests/drivers/gpio/gpio_more_loops/boards/nrf54lm20pdk_nrf54lm20a_common_0_2_0_csp.dtsi
Labels: changelog-entry-required

#22296 manifest: sdk-zephyr: [nrf noup] ci: exclude mesh from find-my and nfc
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22303 applications: nrf_desktop: Fix app-specific Kconfig ref in doc
  applications/nrf_desktop/description.rst
Labels: doc-required, 10-min-review, doc only

#22221 manifest: Update manifest to point to pull/2586/head
  west.yml
Labels: manifest, manifest-zephyr

#22231 manifest: sdk-zephyr: [nrf fromlist] drivers: Add analog pins for nRF54L20
  tests/zephyr/boards/nrf/comp/Kconfig
  tests/zephyr/boards/nrf/comp/boards/nrf54lm20pdk_nrf54lm20a_cpuapp.conf
  tests/zephyr/boards/nrf/comp/boards/nrf54lm20pdk_nrf54lm20a_cpuapp_0_2_0_csp.conf
  tests/zephyr/boards/nrf/comp/boards/nrf54lm20pdk_nrf54lm20a_cpuapp_0_2_0_csp.overlay
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22248 manifest: sdk-nrfxlib: nrf_rpc: remove decoding_done_required
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required

#22062 doc: nrf: nrf.doxyfile.in: allow doxygen to run in parallel
  doc/nrf/nrf.doxyfile.in
Labels: doc-required, changelog-entry-required, manifest-doc-internal

#22332 manifest: sdk-zephyr: Fix incremental builds
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22295 samples: nfc: Add experimental llvm support in selected samples
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/nfc/shell/sample.yaml
  samples/nfc/writable_ndef_msg/sample.yaml
Labels: doc-required, 10-min-review

#22297 doc: fix CONFIG_MPSL_FEM_NRF21540_RUNTIME_PA_GAIN_CONTROL
  subsys/mpsl/fem/Kconfig
Labels: CI-disable

#22285 net: lib: nrf70_fw_ext: Fix XIP anomaly 159
  subsys/net/lib/nrf70_fw_ext/ext_fw_load.c
Labels: changelog-entry-required, backport v3.0-branch

#22288 applications: nrf_desktop: Fix SUIT envelope signing doc
  applications/nrf_desktop/bootloader_dfu.rst
Labels: doc-required, 10-min-review, doc only

#22304 applications: nrf_desktop: Describle BLE peer control on DK
  applications/nrf_desktop/description.rst
Labels: doc-required, doc only

#22343 docker: Use external toolchain bundle index
  scripts/ncs-docker-version.txt
Labels: changelog-entry-required

#22337 applications: nrf_desktop: Update Fast Pair provisioning doc
  applications/nrf_desktop/description.rst
Labels: doc-required, 10-min-review, doc only

#22338 samples: zephyr: subsys: usb: hid-mouse: make default configuration
  samples/zephyr/subsys/usb/hid-mouse/app.overlay
  samples/zephyr/subsys/usb/hid-mouse/prj.conf
  samples/zephyr/subsys/usb/hid-mouse/sample.yaml
  samples/zephyr/subsys/usb/hid-mouse/usbd_next_prj.conf
Labels: changelog-entry-required

#22299 samples: wifi: Remove unnecessary configs
  samples/wifi/monitor/overlay-netusb.conf
  samples/wifi/promiscuous/overlay-netusb.conf
  samples/wifi/shell/overlay-netusb.conf
Labels: changelog-entry-required

#22342 quarantine_zephyr: Add quarantine for libraries.encoding.json
  scripts/quarantine_zephyr.yaml
Labels: changelog-entry-required

#22298 doc: tf-m: add mention of /ns being recommended
  doc/nrf/app_dev/board_names.rst
  doc/nrf/app_dev/device_guides/nrf53/features_nrf53.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_features.rst
  doc/nrf/app_dev/device_guides/thingy91x/thingy91x_building_programming.rst
  doc/nrf/gsg_guides/nrf7002_gs.rst
  doc/nrf/includes/application_build_and_run_ns.txt
  doc/nrf/includes/build_and_run_ns.txt
  doc/nrf/includes/tfm.txt
  doc/nrf/libraries/security/trusted_storage.rst
  doc/nrf/protocols/lte/overview.rst
  doc/nrf/protocols/matter/end_product/security.rst
  doc/nrf/protocols/thread/overview/security.rst
  doc/nrf/samples.rst
  doc/nrf/samples/tfm.rst
  doc/nrf/security/tfm/index.rst
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable, doc only

#22349 scripts: quarantine: add sample.qspi.ext_flash_xip
  scripts/quarantine.yaml
Labels: changelog-entry-required

#22355 tests: zephyr: drivers: spi: change pins for nRF54LM20 0.2.0
  tests/zephyr/drivers/spi/spi_controller_peripheral/boards/nrf54lm20pdk_nrf54lm20a_cpuapp.overlay
Labels: changelog-entry-required

#22312 application: serial_lte_modem: HWFC for PPP
  applications/serial_lte_modem/overlay-ppp.conf
Labels: changelog-entry-required

#22275 doc: Mention add-ons on the application page
  doc/nrf/applications.rst
Labels: doc-required, CI-disable

#22113 nrf_security: cracen: Fix hanging samples and tests with CRACEN lite
  subsys/nrf_security/src/drivers/cracen/cracenpsa/src/ikg_signature.c
  subsys/nrf_security/src/drivers/cracen/silexpk/target/baremetal_ba414e_with_ik/pk_baremetal.c
Labels: changelog-entry-required

#22357 manifest: sdk-zephyr: [nrf fromlist] drivers: clock_control_nrf2_common: Add resetting of the on-off services
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22336 doc: 3.1.0-preview1 doc updates
  doc/nrf/dev_model_and_contributions/adding_code.rst
  doc/nrf/index.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_1.x_to_2.x.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.4.99-cs3_to_2.6.99-cs2.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.5.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.6.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.7.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.8.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.9.0-nRF54H20-1.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.9.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_3.0.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_3.1.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7_99-cs1.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_nRF54H20_cs_to_2_7_99-cs2.rst
  doc/nrf/releases_and_maturity/migration/migration_hwmv2.rst
  doc/nrf/releases_and_maturity/migration/migration_sysbuild.rst
  doc/nrf/releases_and_maturity/migration_guides.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
  doc/versions.json
Labels: doc-required

#20483 applications: nrf5340_audio: LED module for kits with other LED setup
  applications/nrf5340_audio/boards/nrf5340_audio_dk_nrf5340_cpuapp.overlay
  applications/nrf5340_audio/boards/nrf5340_audio_dk_nrf5340_cpuapp_fota.overlay
  applications/nrf5340_audio/boards/nrf5340dk_nrf5340_cpuapp.overlay
  applications/nrf5340_audio/broadcast_sink/main.c
  applications/nrf5340_audio/broadcast_source/main.c
  applications/nrf5340_audio/doc/building.rst
  applications/nrf5340_audio/doc/requirements.rst
  applications/nrf5340_audio/doc/user_interface.rst
  applications/nrf5340_audio/sample.yaml
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/audio_system.c
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_server.c
  applications/nrf5340_audio/src/modules/button_assignments.h
  applications/nrf5340_audio/src/modules/button_handler.c
  applications/nrf5340_audio/src/modules/button_handler.h
  applications/nrf5340_audio/src/modules/led.c
  applications/nrf5340_audio/src/modules/led.h
  applications/nrf5340_audio/src/modules/led_assignments.h
  applications/nrf5340_audio/src/modules/nrf5340_audio_dk.h
  applications/nrf5340_audio/src/utils/CMakeLists.txt
  applications/nrf5340_audio/src/utils/Kconfig
  applications/nrf5340_audio/src/utils/error_handler.c
  applications/nrf5340_audio/src/utils/nrf5340_audio_dk.h
  applications/nrf5340_audio/src/utils/nrf5340_audio_dk_version.c
  applications/nrf5340_audio/src/utils/nrf5340_audio_dk_version.h
  applications/nrf5340_audio/src/utils/peripherals.c
  applications/nrf5340_audio/src/utils/peripherals.h
  applications/nrf5340_audio/unicast_client/main.c
  applications/nrf5340_audio/unicast_server/main.c
  samples/bluetooth/nrf_auraconfig/CMakeLists.txt
  samples/bluetooth/nrf_auraconfig/sample.yaml
  samples/bluetooth/nrf_auraconfig/src/nrf_auraconfig.c
  tests/bluetooth/bsim/nrf_auraconfig/CMakeLists.txt
  tests/bluetooth/bsim/nrf_auraconfig/src/led_mock.c
Labels: changelog-entry-required

#22309 net: lib: nrf_cloud: coap: Convert ZCBOR errors to errno.h errors
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  subsys/net/lib/nrf_cloud/coap/src/coap_codec.c
Labels: doc-required

#22121 samples: lwm2m_carrier: decrease http fragment size
  applications/serial_lte_modem/overlay-carrier.conf
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/http_update/application_update/overlay-carrier.conf
  samples/cellular/lwm2m_carrier/prj.conf
  samples/cellular/modem_shell/overlay-carrier.conf
Labels: doc-required

#22365 manifest: update zephyr to include link line duplication fix
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22308 applications: serial_lte_modem: Queue PPP actions
  applications/serial_lte_modem/src/gnss/slm_at_gnss.c
  applications/serial_lte_modem/src/slm_cmux.c
  applications/serial_lte_modem/src/slm_cmux.h
  applications/serial_lte_modem/src/slm_ppp.c
Labels: changelog-entry-required

#22286 boards: thingy91x: exp. port hog to regulator
  boards/nordic/thingy91x/thingy91x_nrf9151_common.dts
Labels: changelog-entry-required

#22364 bluetooth: mesh: add more mbedtls heap for dfu distributor
  subsys/bluetooth/mesh/Kconfig
Labels: ble mesh

#22392 applications: serial_lte_modem: Fix PPP recv buf align
  applications/serial_lte_modem/overlay-ppp-cmux-linux.conf
  applications/serial_lte_modem/src/slm_cmux.c
  applications/serial_lte_modem/src/slm_ppp.c
Labels: changelog-entry-required

#22317 manifest: sdk-zephyr: Bluetooth: Host: Revert sending Host Number Of Completed Packets as early as possible
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22368 lib: modem_slm: Shell command for enable/disable indicate callback
  lib/modem_slm/modem_slm.c
Labels: changelog-entry-required

#22217 samples: crypto: Add the iron variant to more crypto samples
  samples/crypto/aes_gcm/sample.yaml
  samples/crypto/ecdh/sample.yaml
  samples/crypto/ecdsa/sample.yaml
  samples/crypto/rng/sample.yaml
Labels: changelog-entry-required

#22406 manifest: sdk-zephyr: [nrf fromtree] samples: drivers: flash: Add nrf54h support in nrf_soc…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22398 samples: bluetooth: peripheral_uart: Align prj_minimal.conf
  samples/bluetooth/peripheral_uart/prj_minimal.conf
Labels: changelog-entry-required, 10-min-review

#22293 sysbuild: BOOTCONF_LOCK_WRITES fix
  sysbuild/CMakeLists.txt
Labels: changelog-entry-required

#22321 Fast Pair Locator Tag: improve Android notification test procedure
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/fast_pair/locator_tag/README.rst
  samples/bluetooth/fast_pair/locator_tag/src/main.c
Labels: doc-required

#22412 tests: benchmarks: multicore: idle_spim_loopback
  tests/benchmarks/multicore/idle_spim_loopback/src/main.c
Labels: changelog-entry-required

#22099 nrf_compress: fix processing of the 'last part'
  include/nrf_compress/implementation.h
  subsys/nrf_compress/src/arm_thumb.c
  subsys/nrf_compress/src/lzma.c
  subsys/suit/stream/stream_filters/src/suit_decompress_filter.c
  tests/subsys/nrf_compress/decompression/arm_thumb/src/main.c
  tests/subsys/nrf_compress/decompression/lzma/CMakeLists.txt
  tests/subsys/nrf_compress/decompression/lzma/src/main.c
  west.yml
Labels: manifest, manifest-nrfxlib, manifest-mcuboot, changelog-entry-required

#22315 samples: wifi: provisioning: softap: fix wpa supp stack
  samples/wifi/provisioning/softap/prj.conf
Labels: changelog-entry-required

#22413 samples: matter: do not override PM_MCUBOOT_PAD sysbuild config
  samples/matter/light_bulb/Kconfig.sysbuild
  samples/matter/light_switch/Kconfig.sysbuild
  samples/matter/lock/Kconfig.sysbuild
  samples/matter/manufacturer_specific/Kconfig.sysbuild
  samples/matter/template/Kconfig.sysbuild
  samples/matter/thermostat/Kconfig.sysbuild
  samples/matter/window_covering/Kconfig.sysbuild
Labels: changelog-entry-required

#22351 samples: radio_test: Modify radio transmission termination handling
  samples/peripheral/radio_test/src/radio_cmd.c
  samples/peripheral/radio_test/src/radio_test.c
  samples/peripheral/radio_test/src/radio_test.h
Labels: changelog-entry-required

#22420 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my, changelog-entry-required

#22415 tests: drivers: gpio: gpio_nfct: Fix nrf54h20dk overlay
  tests/drivers/gpio/gpio_nfct/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/drivers/gpio/gpio_nfct/boards/nrf54h20dk_nrf54h20_cpurad.overlay
Labels: changelog-entry-required

#22311 manifest: sdk-zephyr: Nrfx 7613 test fast instance at low freq
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22264 modules: mcuboot: Remove deprecated security warning from Kconfig
  modules/mcuboot/Kconfig
  sysbuild/Kconfig.mcuboot
Labels: changelog-entry-required

#21677 [Backport v3.0-branch] lib: Implied NRF_FORCE_RAM_ON_REBOOT by RAM_POWER_DOWN_LIBRARY
  lib/ram_pwrdn/Kconfig
  samples/matter/light_switch/boards/nrf5340dk_nrf5340_cpuapp_release.conf
  samples/matter/light_switch/boards/nrf7002dk_nrf5340_cpuapp_release.conf
  samples/matter/lock/boards/nrf5340dk_nrf5340_cpuapp_release.conf
  samples/matter/lock/boards/nrf7002dk_nrf5340_cpuapp_release.conf
  samples/matter/lock/prj_thread_wifi_switched.conf
  samples/matter/smoke_co_alarm/boards/nrf5340dk_nrf5340_cpuapp_release.conf
  samples/matter/window_covering/boards/nrf5340dk_nrf5340_cpuapp_release.conf
Labels: changelog-entry-required, Backport

#22356 net: lib: mqtt_client: Don't initialize MQTT client struct on connect
  subsys/net/lib/mqtt_helper/mqtt_helper.c
  tests/subsys/net/lib/mqtt_helper/src/mqtt_helper_test.c
Labels: changelog-entry-required

#22423 esb: align 4 mbit radio data rate setting for nRF54H20 and nRF54L
  include/esb.h
  subsys/esb/esb.c
Labels: changelog-entry-required

#22426 manifest: sdk-zephyr: [nrf fromtree] bluetooth: mesh: fix buffer leakage if mesh was suspended
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22345 docker: Push images with toolchain bundle id tag
  .github/workflows/docker.yml
Labels: changelog-entry-required

#22441 doc: remove LM20 from release notes
  doc/nrf/releases_and_maturity/releases/release-notes-3.1.0-preview1.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#22361 applications: nrf_desktop: Enable LTO in MCUboot
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/images/mcuboot/prj_mcuboot_qspi.conf
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/images/mcuboot/prj_mcuboot_smp.conf
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#22435 manifest: sdk-zephyr: Pull fix for raw modes boot failure
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22375 applications: nrf5340_audio: Convert from newlib to picolib
  applications/nrf5340_audio/Kconfig.defaults
  applications/nrf5340_audio/prj.conf
  applications/nrf5340_audio/prj_fota.conf
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#20759 lib: st25r3911b: Correct regulator control register defines
  lib/st25r3911b/st25r3911b_reg.h
Labels: CI-trusted-author, external, changelog-entry-required

#22436 manifest: sdk-zephyr: Pull fix for raw modes boot failure
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22100 applications: nrf5340_audio: Use new audio struct
  applications/nrf5340_audio/broadcast_sink/main.c
  applications/nrf5340_audio/broadcast_source/main.c
  applications/nrf5340_audio/src/audio/audio_datapath.c
  applications/nrf5340_audio/src/audio/audio_datapath.h
  applications/nrf5340_audio/src/audio/audio_system.c
  applications/nrf5340_audio/src/audio/audio_system.h
  applications/nrf5340_audio/src/audio/le_audio_rx.c
  applications/nrf5340_audio/src/audio/le_audio_rx.h
  applications/nrf5340_audio/src/audio/streamctrl.h
  applications/nrf5340_audio/src/audio/sw_codec_select.c
  applications/nrf5340_audio/src/audio/sw_codec_select.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_sink.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_source.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/broadcast/broadcast_source.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/bt_le_audio_tx/bt_le_audio_tx.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/bt_le_audio_tx/bt_le_audio_tx.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/le_audio.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/le_audio.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_client.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_client.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_server.c
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_server.h
  applications/nrf5340_audio/src/modules/audio_usb.c
  applications/nrf5340_audio/unicast_client/main.c
  applications/nrf5340_audio/unicast_server/main.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  include/audio_defines.h
  lib/data_fifo/data_fifo.c
  samples/bluetooth/nrf_auraconfig/src/nrf_auraconfig.c
Labels: doc-required

#22453 application: serial_lte_modem: Fix UDP send in data mode
  applications/serial_lte_modem/src/slm_at_host.c
Labels: changelog-entry-required

#22448 doc: style fixes, stop using “we”
  applications/nrf_desktop/doc/dvfs.rst
  doc/nrf/app_dev/bootloaders_dfu/mcuboot_nsib/bootloader_quick_start.rst
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_custom_pcb.rst
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_suit_customize_qsg.rst
  doc/nrf/app_dev/device_guides/nrf70/wifi_advanced_security_modes.rst
  doc/nrf/libraries/bin/lwm2m_carrier/CHANGELOG.rst
  doc/nrf/libraries/security/trusted_storage.rst
  doc/nrf/protocols/bt/bt_mesh/overview/security.rst
  doc/nrf/protocols/matter/end_product/index.rst
  doc/nrf/protocols/matter/getting_started/adding_clusters.rst
  doc/nrf/protocols/matter/getting_started/index.rst
  doc/nrf/protocols/matter/getting_started/testing/thread_one_otbr.rst
  doc/nrf/protocols/matter/getting_started/testing/thread_separate_otbr_linux_macos.rst
  doc/nrf/protocols/matter/getting_started/testing/wifi_pc.rst
  doc/nrf/protocols/matter/overview/network_topologies.rst
  doc/nrf/protocols/wifi/stack_configuration.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/security/tfm/tfm_building.rst
  doc/nrf/templates/cheat_sheet.rst
  samples/cellular/nrf_cloud_multi_service/README.rst
  samples/cellular/udp/README.rst
  samples/event_manager_proxy/README.rst
Labels: doc-required, CI-disable, changelog-entry-required

#22384 manifest: sdk-zephyr: [nrf fromlist] modules: hal_nordic: nrf_802154: use timer to emit hfc…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22438 samples: peripheral: radio_test: Add experimental LLVM support
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/peripheral/radio_test/sample.yaml
Labels: doc-required

#22460 samples: peripheral_power_profiling: Add support for nRF54LM20PDK
  samples/bluetooth/peripheral_power_profiling/sample.yaml
Labels: changelog-entry-required

#22419 net: openthread: rpc: support setting IEEE EUI64
  include/net/ot_rpc.h
  samples/nrf_rpc/protocols_serialization/client/src/ot_shell.c
  samples/nrf_rpc/protocols_serialization/server/snippets/openthread/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  samples/nrf_rpc/protocols_serialization/server/snippets/openthread/snippet.yml
  subsys/net/openthread/rpc/client/ot_rpc_link.c
  subsys/net/openthread/rpc/common/ot_rpc_ids.h
  subsys/net/openthread/rpc/server/ot_rpc_link.c
Labels: changelog-entry-required

#22397 doc: update docs for 3.0.2
  doc/nrf/dev_model_and_contributions/adding_code.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-3.0.2.rst
  doc/nrf/shortcuts.txt
  doc/versions.json
Labels: doc-required, changelog-entry-required

#22474 scripts: quarantine: add nrf5340_audio tests
  scripts/quarantine.yaml
Labels: changelog-entry-required

#22414 manifest: sdk-zephyr: [nrf fromlist] tests: drivers: spi: spi_loopback: Test fast spi on sl…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22400 samples: openthread: enable zperf server config in ci snippet
  samples/openthread/cli/snippets/ci/ci.conf
Labels: changelog-entry-required

#22475 scripts: ci: tags: extend audio tests deps
  scripts/ci/tags.yaml
Labels: changelog-entry-required

#22477 manifest: sdk-find-my: Update revision
  west.yml
Labels: manifest, manifest-find-my

#22405 tests: benchmarks: Add nrf54h fast PWM test with slow domian pins
  tests/benchmarks/multicore/idle_pwm_loopback/boards/nrf54h20dk_nrf54h20_cpuapp_fast_slow_pins.overlay
  tests/benchmarks/multicore/idle_pwm_loopback/prj_s2ram.conf
  tests/benchmarks/multicore/idle_pwm_loopback/remote/boards/disable_uart135.overlay
  tests/benchmarks/multicore/idle_pwm_loopback/testcase.yaml
Labels: changelog-entry-required

#22466 boards: Update lfxo node on nRF54LV10-DK and nRF54LM20-PDK
  boards/nordic/nrf54lm20pdk/nrf54lm20a_cpuapp_common.dtsi
  boards/nordic/nrf54lv10dk/nrf54lv10a_cpuapp_common.dtsi
Labels: changelog-entry-required

#22471 doc: Add 3.0.2 release to main
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-3.0.2.rst
  doc/versions.json
Labels: doc-required, changelog-entry-required

#22367 tests: benchmarks: Test fast SPI with slow domain pins
  tests/benchmarks/multicore/idle_spim_loopback/boards/nrf54h20dk_nrf54h20_cpuapp_fast_slow_pins.overlay
  tests/benchmarks/multicore/idle_spim_loopback/prj_s2ram.conf
  tests/benchmarks/multicore/idle_spim_loopback/src/main.c
  tests/benchmarks/multicore/idle_spim_loopback/testcase.yaml
Labels: changelog-entry-required

#22472 samples: cellular: nrf_provisioning: Refactor to use conn_mgr
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/cellular/nrf_provisioning/README.rst
  samples/cellular/nrf_provisioning/overlay-at_shell.conf
  samples/cellular/nrf_provisioning/overlay-coap.conf
  samples/cellular/nrf_provisioning/overlay-large_cert.conf
  samples/cellular/nrf_provisioning/prj.conf
  samples/cellular/nrf_provisioning/src/main.c
Labels: doc-required

#22385 manifest: sdk-connectedhomeip: Update revision
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#22445 manifest: sdk-zephyr: [nrf fromlist] soc: nordic: dmm: Add lock around sys_heap operations
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#22505 tests: benchmarks: multicore: idle_spim_loopback
  tests/benchmarks/multicore/idle_spim_loopback/src/main.c
Labels: changelog-entry-required
