Repository nrfconnect/sdk-nrf, pull requests merged in 2025-09, with the labels that each got.

#24225 sysbuild: packaging: Fix selection of application image path
  subsys/bootloader/cmake/packaging.cmake
Labels: changelog-entry-required

#24113 doc: jlink: update to 8.60
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/shortcuts.txt
Labels: doc-required, CI-disable, doc only, backport v3.1-branch

#24223 samples: net: MQTT: Documentation update
  samples/net/mqtt/doc/architecture.rst
Labels: doc-required, CI-disable, changelog-entry-required

#24158 manifest: sdk-zephyr: [nrf fromlist] manifest: Update nrf_wifi revision to fix raw tx
  west.yml
Labels: manifest, manifest-zephyr, manifest-nrfxlib, changelog-entry-required

#24265 tests: subsys: usb: negotiated_speed: add ramdisk configuration for LM20
  tests/subsys/usb/negotiated_speed/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
Labels: changelog-entry-required

#22884 doc: audio: add API documentation page & update API header docs
  applications/nrf5340_audio/doc/audio_api.rst
  applications/nrf5340_audio/index.rst
  applications/nrf5340_audio/src/audio/audio_datapath.h
  applications/nrf5340_audio/src/audio/audio_system.h
  applications/nrf5340_audio/src/audio/le_audio_rx.h
  applications/nrf5340_audio/src/audio/streamctrl.h
  applications/nrf5340_audio/src/audio/sw_codec_select.h
  applications/nrf5340_audio/src/bluetooth/bt_management/bt_mgmt.h
  applications/nrf5340_audio/src/bluetooth/bt_rendering_and_capture/bt_rendering_and_capture.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/le_audio.h
  applications/nrf5340_audio/src/bluetooth/bt_stream/unicast/unicast_client.h
  applications/nrf5340_audio/src/modules/audio_i2s.h
  applications/nrf5340_audio/src/modules/audio_sync_timer.h
  applications/nrf5340_audio/src/modules/audio_usb.h
  applications/nrf5340_audio/src/modules/button_handler.h
  applications/nrf5340_audio/src/modules/lc3_file.h
  applications/nrf5340_audio/src/modules/lc3_streamer.h
  applications/nrf5340_audio/src/modules/led.h
  applications/nrf5340_audio/src/modules/sd_card.h
  applications/nrf5340_audio/src/modules/sd_card_playback.h
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#24276 samples: nrf_rpc: ps_client: fix stack overflow on LLVM
  samples/nrf_rpc/protocols_serialization/client/prj.conf
Labels: changelog-entry-required

#24152 crypto: 54h: Delete SSF_PSA
  doc/nrf/libraries/others/app_jwt.rst
  doc/nrf/links.txt
  samples/app_jwt/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/app_jwt/prj.conf
  samples/bluetooth/channel_sounding_ras_initiator/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/channel_sounding_ras_reflector/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/conn_time_sync/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/conn_time_sync/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/bluetooth/event_trigger/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/bluetooth/iso_combined_bis_and_cis/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/iso_combined_bis_and_cis/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/bluetooth/iso_time_sync/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/iso_time_sync/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/bluetooth/llpm/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/llpm/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/bluetooth/radio_coex_1wire/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/bluetooth/radio_notification_cb/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/bluetooth/scanning_while_connecting/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/scanning_while_connecting/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/bluetooth/subrating/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/subrating/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/crypto/aes_cbc/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/aes_ccm/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/aes_ctr/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/aes_gcm/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/aes_gcm/boards/nrf54h20dk_nrf54h20_cpuapp_iron.conf
  samples/crypto/chachapoly/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/ecdh/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/ecdh/boards/nrf54h20dk_nrf54h20_cpuapp_iron.conf
  samples/crypto/ecdsa/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/ecdsa/boards/nrf54h20dk_nrf54h20_cpuapp_iron.conf
  samples/crypto/ecjpake/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/eddsa/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/hkdf/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/hmac/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/pbkdf2/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/psa_tls/README.rst
  samples/crypto/psa_tls/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/psa_tls/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/crypto/rng/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/sha256/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/crypto/spake2p/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/mpsl/timeslot/boards/nrf54h20dk_nrf54h20_cpurad.conf
  subsys/sdfw_services/services/CMakeLists.txt
  subsys/sdfw_services/services/Kconfig
  subsys/sdfw_services/services/psa_crypto/Kconfig
Labels: doc-required, changelog-entry-required

#24222 samples: esb_monitor: Implemented shell commands
  samples/esb/esb_monitor/CMakeLists.txt
  samples/esb/esb_monitor/Kconfig
  samples/esb/esb_monitor/README.rst
  samples/esb/esb_monitor/src/sniffer.c
  samples/esb/esb_monitor/src/sniffer.h
  samples/esb/esb_monitor/src/sniffer_shell.c
Labels: doc-required, changelog-entry-required

#24256 doc: release_notes: add note about nRF54LM20 FLPR
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, doc only

#24282 tests: benchmarks: power consumption: conf pm dev
  tests/benchmarks/power_consumption/common/remote_sleep_forever/prj.conf
Labels: changelog-entry-required

#24139 doc: Update the sysbuild options syntax to link to the Kconfig ref
  applications/hpf/gpio/README.rst
  applications/hpf/mspi/README.rst
  applications/nrf_desktop/bluetooth.rst
  doc/nrf/app_dev/config_and_build/output_build_files.rst
  doc/nrf/app_dev/device_guides/coprocessors/assembly_management.rst
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_flpr.rst
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_ppr.rst
  doc/nrf/app_dev/device_guides/nrf91/nrf91_features.rst
  doc/nrf/external_comp/bt_fast_pair/core.rst
  doc/nrf/libraries/bin/lwm2m_carrier/app_integration.rst
  doc/nrf/libraries/bluetooth/rpc.rst
  doc/nrf/protocols/bt/bt_mesh/dfu_over_bt_mesh.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.7.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_2.8.rst
  doc/nrf/releases_and_maturity/migration/migration_guide_3.0.rst
  doc/nrf/releases_and_maturity/migration/migration_sysbuild.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/migration_guide_2.4.99-cs3_to_2.7_application.rst
  doc/nrf/releases_and_maturity/migration/nRF54H20_migration_2.7/migration_guide_2.6.99-cs2_to_2.7_application.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.8.0-preview1.rst
  doc/nrf/releases_and_maturity/releases/release-notes-2.8.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-3.0.0-preview2.rst
  doc/nrf/releases_and_maturity/releases/release-notes-3.0.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-3.1.0.rst
  samples/bluetooth/fast_pair/input_device/README.rst
  samples/bluetooth/fast_pair/locator_tag/README.rst
  samples/nrf5340/netboot/README.rst
  samples/zephyr/smp_svr_mini_boot/README.rst
Labels: doc-required, CI-disable

#24267 doc: Minor fix in samples which don't support thingy53
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#24251 doc: misc nRF54L updates
  doc/_utils/redirects.py
  doc/nrf/app_dev/board_names.rst
  doc/nrf/app_dev/device_guides/nrf54l/dfu_config.rst
  doc/nrf/app_dev/device_guides/nrf54l/features.rst
  doc/nrf/app_dev/device_guides/nrf54l/fota_update.rst
  doc/nrf/app_dev/device_guides/nrf54l/index.rst
  doc/nrf/app_dev/device_guides/nrf54l/kmu_basics.rst
  doc/nrf/app_dev/device_guides/nrf54l/kmu_provision.rst
  doc/nrf/app_dev/device_guides/nrf54l/vpr_flpr.rst
  doc/nrf/includes/sample_board_rows.txt
Labels: doc-required, backport v3.1-branch

#24303 doc: software_maturity: update Zigbee and Sidewalk tables
  doc/nrf/includes/zigbee_deprecation.txt
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, changelog-entry-required, backport v3.1-branch

#24292 manifest: sdk-zephyr: [nrf noup] doc: extensions: kconfig: Add SoC/board sysbuild Kconfigs
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required, 10-min-review

#24305 tests: drivers: gpio: Add test for GPIOTE port events
  tests/drivers/gpio/gpio_event/CMakeLists.txt
  tests/drivers/gpio/gpio_event/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  tests/drivers/gpio/gpio_event/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  tests/drivers/gpio/gpio_event/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
  tests/drivers/gpio/gpio_event/prj.conf
  tests/drivers/gpio/gpio_event/src/main.c
  tests/drivers/gpio/gpio_event/testcase.yaml
Labels: changelog-entry-required

#24313 samples: bluetooth: peripheral_hids_mouse: remove outdated test config
  samples/bluetooth/peripheral_hids_mouse/sample.yaml
Labels: changelog-entry-required

#24260 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#24302 doc: known_issues: Add NCSDK-34743
  doc/nrf/releases_and_maturity/known_issues.rst
Labels: doc-required

#24322 ci: Remove not needed future package
  scripts/requirements-fixed.txt
Labels: changelog-entry-required

#24348 bluetooth: controller: Use new sdc_support_le_privacy
  subsys/bluetooth/controller/hci_driver.c
Labels: changelog-entry-required

#24269 doc: Moved Matter factory data page content
  doc/nrf/links.txt
  doc/nrf/protocols/matter/end_product/factory_provisioning.rst
Labels: doc-required, changelog-entry-required

#24334 doc: SML updates for NFC
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, CI-disable, doc only

#24358 boards: shields: coverage_support: add flow-control for uart at nrf52840
  boards/shields/coverage_support/boards/nrf52840dk_nrf52840.overlay
Labels: changelog-entry-required

#24253 samples: Add missing empty line in sample's readme
  samples/dfu/dfu_target/README.rst
Labels: doc-required, changelog-entry-required

#24367 tests: subsys: Extend IPC latency test
  tests/subsys/ipc/ipc_latency/src/main.c
  tests/subsys/ipc/ipc_latency/testcase.yaml
Labels: changelog-entry-required

#24376 samples: benchmarks: coremark: enable for LV10
  samples/benchmarks/coremark/boards/nrf54lv10dk_nrf54lv10a_cpuapp.conf
  samples/benchmarks/coremark/sample.yaml
  scripts/quarantine_integration.yaml
Labels: changelog-entry-required

#24381 samples: app_event_manager_profiler_tracer: Stats calculating demo
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/app_event_manager_profiler_tracer/README.rst
  scripts/nrf_profiler/stats_nordic_presets/app_event_manager_profiler_tracer.json
Labels: doc-required

#24389 doc: migration: Add Bluetooth LE legacy pairing entry for NCS 3.0
  doc/nrf/releases_and_maturity/migration/migration_guide_3.0.rst
Labels: doc-required

#24366 ci: Use NordicBuilder's token to open and label PRs
  .github/workflows/backport.yml
  .github/workflows/labeler.yml
  .github/workflows/manifest.yml
Labels: changelog-entry-required

#24396 tests: nrf54lv10: added to kmu and boot_chains
  tests/subsys/bootloader/boot_chains/testcase.yaml
  tests/subsys/kmu/hello_for_kmu/testcase.yaml
Labels: changelog-entry-required

#24270 cmake: Generate confirmed images in Direct XIP
  cmake/sysbuild/image_signing.cmake
  cmake/sysbuild/image_signing_split.cmake
  cmake/sysbuild/partition_manager.cmake
Labels: changelog-entry-required

#24241 samples: nrf_compress: mcuboot_update: nrf54lv10
  samples/nrf_compress/mcuboot_update/sample.yaml
Labels: changelog-entry-required

#24405 samples: nrf_compress: mcuboot_update: add basic console check
  samples/nrf_compress/mcuboot_update/sample.yaml
Labels: changelog-entry-required

#24329 doc: bootloaders_dfu: Redirect to minimal config sample
  doc/nrf/app_dev/bootloaders_dfu/mcuboot_nsib/bootloader_adding_sysbuild.rst
Labels: doc-required, changelog-entry-required

#24409 doc: Fix note about Direct XIP
  doc/nrf/app_dev/device_guides/nrf52/fota_update.rst
  doc/nrf/app_dev/device_guides/nrf54l/fota_update.rst
Labels: doc-required, changelog-entry-required

#24403 samples: cellular: nrf_cloud_multi_service: Fix typo
  samples/cellular/nrf_cloud_multi_service/README.rst
Labels: doc-required, changelog-entry-required

#24386 samples: cellular: nrf_cloud_coap_fota: kconfig fixes
  samples/cellular/nrf_cloud_coap_fota/README.rst
  samples/cellular/nrf_cloud_coap_fota/full_modem_fota.conf
  samples/cellular/nrf_cloud_coap_fota/overlay_fota_test.conf
  samples/cellular/nrf_cloud_coap_fota/sample.yaml
  samples/cellular/nrf_cloud_coap_fota/smp_fota.conf
Labels: doc-required

#24407 tools: Update nrfutil device version to 2.13.2
  scripts/tools-versions-darwin.yml
  scripts/tools-versions-linux.yml
  scripts/tools-versions-win10.yml
Labels: changelog-entry-required, backport v3.1-branch

#24333 samples: openthread: Removed unused file for nrf54h20.
  samples/openthread/cli/sysbuild/ipc_radio/boards/nrf54h20dk_nrf54h20_cpurad.conf
Labels: changelog-entry-required

#24404 samples: esb: restore default logging for h20 radio core
  samples/esb/esb_monitor/boards/nrf54h20dk_nrf54h20_cpurad.overlay
  samples/esb/esb_prx/boards/nrf54h20dk_nrf54h20_cpurad.overlay
  samples/esb/esb_ptx/boards/nrf54h20dk_nrf54h20_cpurad.overlay
Labels: changelog-entry-required

#24420 nrf_security: Supress debug output
  subsys/nrf_security/cmake/extensions.cmake
  subsys/nrf_security/cmake/generate_configs.cmake
Labels: changelog-entry-required

#24416 [Backport v3.1-branch] tools: Update nrfutil device version to 2.13.2
  scripts/tools-versions-darwin.yml
  scripts/tools-versions-linux.yml
  scripts/tools-versions-win10.yml
Labels: changelog-entry-required, Backport

#24435 applications: nrf_desktop: Update source file for USB event in docs
  applications/nrf_desktop/api.rst
Labels: doc-required, 10-min-review, doc only

#24417 doc: install: updates for bundled SDK/toolchain installation
  doc/nrf/app_dev/bootloaders_dfu/mcuboot_nsib/bootloader_partitioning.rst
  doc/nrf/app_dev/create_application.rst
  doc/nrf/app_dev/device_guides/nrf53/building_nrf53.rst
  doc/nrf/app_dev/device_guides/thingy53/building_thingy53.rst
  doc/nrf/app_dev/device_guides/thingy91/thingy91_building_programming.rst
  doc/nrf/includes/matter_sample_wifi_flash.txt
  doc/nrf/includes/vsc_build_and_run_series.txt
  doc/nrf/installation/install_ncs.rst
  doc/nrf/installation/updating.rst
  doc/nrf/links.txt
  doc/nrf/releases_and_maturity/migration/migration_guide_3.2.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, CI-disable, doc only

#24402 memfault: fix kconfig style issues
  modules/memfault-firmware-sdk/Kconfig
  modules/memfault-firmware-sdk/config/memfault_platform_config_extra.h
Labels: changelog-entry-required

#23980 samples: BT DTM: Replace timer wait with k_sleep in 2-wire UART
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/direct_test_mode/CMakeLists.txt
  samples/bluetooth/direct_test_mode/boards/nrf54h20dk_nrf54h20_cpurad.conf
  samples/bluetooth/direct_test_mode/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  samples/bluetooth/direct_test_mode/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  samples/bluetooth/direct_test_mode/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  samples/bluetooth/direct_test_mode/boards/nrf54lm20dk_nrf54lm20a_cpuapp.conf
  samples/bluetooth/direct_test_mode/boards/nrf54lv10dk_nrf54lv10a_cpuapp.conf
  samples/bluetooth/direct_test_mode/prj.conf
  samples/bluetooth/direct_test_mode/prj_hci.conf
  samples/bluetooth/direct_test_mode/prj_usb.conf
  samples/bluetooth/direct_test_mode/src/transport/dtm_uart_twowire.c
  samples/bluetooth/direct_test_mode/src/transport/dtm_uart_wait.c
  samples/bluetooth/direct_test_mode/src/transport/dtm_uart_wait.h
Labels: doc-required

#24397 cmake: partition_manager: LM20 and LV10 secure_storage support
  cmake/sysbuild/partition_manager.cmake
  subsys/partition_manager/pm.yml.secure_boot_storage
Labels: changelog-entry-required

#24356 lib: nrf_modem_lib: Add IronSide SE support for nRF92
  lib/nrf_modem_lib/nrf_modem_os_rpc.c
Labels: changelog-entry-required

#24432 doc: Remove SUIT graphs and images
  CODEOWNERS
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_invocation_topology.svg
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_recovery_invocation_topology.svg
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_suit_default_manifest_topology.png
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_suit_dfu_overview.png
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_suit_envelope_structure.png
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_suit_example_update_package.png
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_suit_example_update_process.png
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_suit_example_update_workflow.png
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_suit_generator_workflow.png
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_suit_invocation_workflow.png
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_suit_manifest_topology.png
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_suit_manifests.svg
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_suit_manifests_minimal.svg
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_suit_recovery_boot_path.png
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_suit_recovery_manifest_topology.png
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_suit_sdfw_sdrfw_update_flow.svg
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_suit_update_workflow.png
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_update_topology_for_non_recovery_elements.svg
  doc/nrf/app_dev/device_guides/nrf54h/images/nrf54h20_update_topology_for_recovery_elements.svg
  doc/nrf/app_dev/device_guides/nrf54h/images/suit_acme_manifests.svg
  doc/nrf/app_dev/device_guides/nrf54h/images/suit_ipuc/ipuc_fetch_cache_preinit.png
  doc/nrf/app_dev/device_guides/nrf54h/images/suit_ipuc/ipuc_fetch_cache_preinit.txt
  doc/nrf/app_dev/device_guides/nrf54h/images/suit_ipuc/ipuc_fetch_mem.png
  doc/nrf/app_dev/device_guides/nrf54h/images/suit_ipuc/ipuc_fetch_mem.txt
  doc/nrf/app_dev/device_guides/nrf54h/images/suit_ipuc/ipuc_push_raw_cache.png
  doc/nrf/app_dev/device_guides/nrf54h/images/suit_ipuc/ipuc_push_raw_cache.txt
  doc/nrf/app_dev/device_guides/nrf54h/images/suit_ipuc/ipuc_push_raw_img.png
  doc/nrf/app_dev/device_guides/nrf54h/images/suit_ipuc/ipuc_push_raw_img.txt
  doc/nrf/app_dev/device_guides/nrf54h/images/suit_manifest_properties.svg
  doc/nrf/drivers/images/flash_ipuc/flash_cache_ipuc_check.png
  doc/nrf/drivers/images/flash_ipuc/flash_cache_ipuc_check.txt
  doc/nrf/drivers/images/flash_ipuc/flash_cache_ipuc_create.png
  doc/nrf/drivers/images/flash_ipuc/flash_cache_ipuc_create.txt
  doc/nrf/drivers/images/flash_ipuc/flash_component_ipuc_check.png
  doc/nrf/drivers/images/flash_ipuc/flash_component_ipuc_check.txt
  doc/nrf/drivers/images/flash_ipuc/flash_component_ipuc_create.png
  doc/nrf/drivers/images/flash_ipuc/flash_component_ipuc_create.txt
  doc/nrf/drivers/images/flash_ipuc/flash_image_ipuc_create.png
  doc/nrf/drivers/images/flash_ipuc/flash_image_ipuc_create.txt
  doc/nrf/drivers/images/flash_ipuc/flash_ipuc_erase.png
  doc/nrf/drivers/images/flash_ipuc/flash_ipuc_erase.txt
  doc/nrf/drivers/images/flash_ipuc/flash_ipuc_read.png
  doc/nrf/drivers/images/flash_ipuc/flash_ipuc_read.txt
  doc/nrf/drivers/images/flash_ipuc/flash_ipuc_write.png
  doc/nrf/drivers/images/flash_ipuc/flash_ipuc_write.txt
  doc/nrf/drivers/images/flash_ipuc/suit_check_installed_component_digest.png
  doc/nrf/drivers/images/flash_ipuc/suit_check_installed_component_digest.txt
  doc/nrf/drivers/images/flash_ipuc/suit_get_ipuc_count.png
  doc/nrf/drivers/images/flash_ipuc/suit_get_ipuc_count.txt
  doc/nrf/drivers/images/flash_ipuc/suit_get_ipuc_info.png
  doc/nrf/drivers/images/flash_ipuc/suit_get_ipuc_info.txt
  doc/nrf/drivers/images/flash_ipuc/suit_setup_write_ipuc.png
  doc/nrf/drivers/images/flash_ipuc/suit_setup_write_ipuc.txt
  doc/nrf/drivers/images/flash_ipuc/suit_write_ipuc.png
  doc/nrf/drivers/images/flash_ipuc/suit_write_ipuc.txt
Labels: doc-required

#24228 manifest: sdk-connectedhomeip: Update revision
  west.yml
Labels: manifest, manifest-matter, changelog-entry-required

#24233 Added Matter contact sensor sample
  doc/nrf/images/matter_qr_code_contact_sensor.png
  doc/nrf/protocols/matter/getting_started/low_power_configuration.rst
  doc/nrf/protocols/matter/getting_started/transmission_power.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  doc/nrf/samples/matter.rst
  samples/matter/common/src/zap_samples.yml
  samples/matter/contact_sensor/CMakeLists.txt
  samples/matter/contact_sensor/Kconfig
  samples/matter/contact_sensor/Kconfig.sysbuild
  samples/matter/contact_sensor/README.rst
  samples/matter/contact_sensor/VERSION
  samples/matter/contact_sensor/boards/nrf52840dk_nrf52840.overlay
  samples/matter/contact_sensor/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/contact_sensor/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  samples/matter/contact_sensor/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  samples/matter/contact_sensor/boards/nrf54lm20dk_nrf54lm20a_cpuapp_internal.conf
  samples/matter/contact_sensor/boards/nrf54lm20dk_nrf54lm20a_cpuapp_internal.overlay
  samples/matter/contact_sensor/pm_static_nrf52840dk_nrf52840.yml
  samples/matter/contact_sensor/pm_static_nrf5340dk_nrf5340_cpuapp.yml
  samples/matter/contact_sensor/pm_static_nrf54l15dk_nrf54l15_cpuapp.yml
  samples/matter/contact_sensor/pm_static_nrf54lm20dk_nrf54lm20a_cpuapp.yml
  samples/matter/contact_sensor/pm_static_nrf54lm20dk_nrf54lm20a_cpuapp_internal.yml
  samples/matter/contact_sensor/prj.conf
  samples/matter/contact_sensor/prj_release.conf
  samples/matter/contact_sensor/sample.yaml
  samples/matter/contact_sensor/src/app_task.cpp
  samples/matter/contact_sensor/src/app_task.h
  samples/matter/contact_sensor/src/chip_project_config.h
  samples/matter/contact_sensor/src/default_zap/contact_sensor.matter
  samples/matter/contact_sensor/src/default_zap/contact_sensor.zap
  samples/matter/contact_sensor/src/default_zap/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/contact_sensor/src/default_zap/zap-generated/PluginApplicationCallbacks.h
  samples/matter/contact_sensor/src/default_zap/zap-generated/access.h
  samples/matter/contact_sensor/src/default_zap/zap-generated/callback-stub.cpp
  samples/matter/contact_sensor/src/default_zap/zap-generated/endpoint_config.h
  samples/matter/contact_sensor/src/default_zap/zap-generated/gen_config.h
  samples/matter/contact_sensor/src/main.cpp
  samples/matter/contact_sensor/sysbuild.conf
  samples/matter/contact_sensor/sysbuild/ipc_radio/boards/nrf5340dk_nrf5340_cpunet.conf
  samples/matter/contact_sensor/sysbuild/ipc_radio/prj.conf
  samples/matter/contact_sensor/sysbuild/ipc_radio/prj_release.conf
  samples/matter/contact_sensor/sysbuild/mcuboot/app.overlay
  samples/matter/contact_sensor/sysbuild/mcuboot/boards/nrf52840dk_nrf52840.conf
  samples/matter/contact_sensor/sysbuild/mcuboot/boards/nrf52840dk_nrf52840.overlay
  samples/matter/contact_sensor/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/matter/contact_sensor/sysbuild/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/matter/contact_sensor/sysbuild/mcuboot/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  samples/matter/contact_sensor/sysbuild/mcuboot/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  samples/matter/contact_sensor/sysbuild/mcuboot/boards/nrf54lm20dk_nrf54lm20a_cpuapp.conf
  samples/matter/contact_sensor/sysbuild/mcuboot/boards/nrf54lm20dk_nrf54lm20a_cpuapp.overlay
  samples/matter/contact_sensor/sysbuild/mcuboot/boards/nrf54lm20dk_nrf54lm20a_cpuapp_internal.conf
  samples/matter/contact_sensor/sysbuild/mcuboot/boards/nrf54lm20dk_nrf54lm20a_cpuapp_internal.overlay
  samples/matter/contact_sensor/sysbuild/mcuboot/prj.conf
  samples/matter/contact_sensor/sysbuild_internal.conf
  scripts/quarantine_integration.yaml
Labels: doc-required

#24514 [Backport v3.1-branch] doc: nRF54LM20 KMU support note edit
  doc/nrf/app_dev/device_guides/nrf54l/fota_update.rst
  doc/nrf/app_dev/device_guides/nrf54l/kmu_basics.rst
  doc/nrf/app_dev/device_guides/nrf54l/kmu_provision.rst
Labels: doc-required, changelog-entry-required, Backport

#24545 tests: subsys: swo: set rtt clock speed directly
  tests/subsys/swo/prj.conf
Labels: changelog-entry-required

#24453 doc: wifi: Add nRF7002-EB II documentation
  doc/nrf/app_dev/device_guides/nrf70/images/nRF7002eb2.png
  doc/nrf/app_dev/device_guides/nrf70/nrf7002eb2_dev_guide.rst
Labels: doc-required

#24529 samples: DTM: nRF54H20 transport over USB CDC ACM
  samples/bluetooth/direct_test_mode/Kconfig
  samples/bluetooth/direct_test_mode/README.rst
  samples/bluetooth/direct_test_mode/boards/nrf54h20dk_nrf54h20_cpurad_usb_54h20.overlay
  samples/bluetooth/direct_test_mode/prj_usb_5340.conf
  samples/bluetooth/direct_test_mode/prj_usb_54h20.conf
  samples/bluetooth/direct_test_mode/sample.yaml
  samples/bluetooth/direct_test_mode/src/transport/dtm_uart_twowire.c
  samples/bluetooth/direct_test_mode/sysbuild/remote_shell/boards/nrf5340dk_nrf5340_cpuapp_usb_5340.overlay
  samples/bluetooth/direct_test_mode/sysbuild/remote_shell/prj_usb_5340.conf
Labels: doc-required, changelog-entry-required

#24515 bluetooth: make CONFIG_BT_RX_STACK_SIZE adjustment common for 54LX SoCs
  samples/bluetooth/channel_sounding_ras_initiator/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/channel_sounding_ras_reflector/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/conn_time_sync/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/conn_time_sync/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  samples/bluetooth/conn_time_sync/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  samples/bluetooth/conn_time_sync/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  samples/bluetooth/conn_time_sync/boards/nrf54lm20dk_nrf54lm20a_cpuapp.conf
  samples/bluetooth/iso_combined_bis_and_cis/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  samples/bluetooth/iso_combined_bis_and_cis/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  samples/bluetooth/iso_combined_bis_and_cis/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  samples/bluetooth/iso_combined_bis_and_cis/boards/nrf54lm20dk_nrf54lm20a_cpuapp.conf
  samples/bluetooth/iso_time_sync/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/bluetooth/iso_time_sync/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  samples/bluetooth/iso_time_sync/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  samples/bluetooth/iso_time_sync/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  samples/bluetooth/iso_time_sync/boards/nrf54lm20dk_nrf54lm20a_cpuapp.conf
  subsys/bluetooth/controller/Kconfig
Labels: changelog-entry-required

#24560 samples: nrf_compress: mcuboot_update: Update nRF54L15 PM file
  samples/nrf_compress/mcuboot_update/pm_static_nrf54l15dk_nrf54l15_cpuapp.yml
  samples/nrf_compress/mcuboot_update/sample.yaml
Labels: changelog-entry-required

#24499 memfault: upgrade to 1.29.0
  modules/memfault-firmware-sdk/Kconfig
  west.yml
Labels: manifest, manifest-memfault-firmware-sdk, changelog-entry-required

#24536 doc: Remove FEM nRF2220 related public documentation
  doc/_zoomin/ncs.tags.yml
  doc/nrf/app_dev/board_names.rst
  doc/nrf/app_dev/device_guides/fem/2220ek_dev_guide.rst
  doc/nrf/app_dev/device_guides/fem/fem_nrf2220.rst
  doc/nrf/app_dev/device_guides/fem/fem_software_support.rst
  doc/nrf/app_dev/device_guides/fem/index.rst
  doc/nrf/includes/sample_dtm_radio_test_fem.txt
  doc/nrf/releases_and_maturity/releases/release-notes-3.0.0-preview1.rst
  doc/nrf/releases_and_maturity/releases/release-notes-3.0.0-preview2.rst
  doc/nrf/releases_and_maturity/releases/release-notes-3.0.0.rst
  doc/nrf/releases_and_maturity/releases/release-notes-3.1.0-preview1.rst
  doc/nrf/releases_and_maturity/releases/release-notes-3.1.0-preview2.rst
  doc/nrf/releases_and_maturity/releases/release-notes-3.1.0-preview3.rst
  doc/nrf/releases_and_maturity/releases/release-notes-3.1.0.rst
  doc/nrf/releases_and_maturity/software_maturity.rst
Labels: doc-required, CI-disable, changelog-entry-required

#24518 manifest: sdk-zephyr: [nrf fromlist] manifest: update hal_nordic revision to integrate MDK 8.72.3
  samples/zephyr/drivers/adc/adc_dt/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
  samples/zephyr/drivers/adc/adc_sequence/boards/nrf54lv10dk_nrf54lv10a_cpuapp.overlay
  west.yml
Labels: manifest, manifest-zephyr, CI-all-test, changelog-entry-required

#24546 doc: fast_pair: Fix documentation rendering
  doc/nrf/libraries/bluetooth/services/fast_pair/core.rst
Labels: doc-required, 10-min-review, doc only

#24564 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#24579 samples: subsys: mgmt: mcumgr: smp_svr: align expected logs
  samples/zephyr/subsys/mgmt/mcumgr/smp_svr/sample.yaml
Labels: changelog-entry-required

#24581 tests: benchmarks: PM - several fixes for the legacy platforms
  tests/benchmarks/power_consumption/gpio/boards/nrf52840dk_nrf52840.overlay
  tests/benchmarks/power_consumption/gpio/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/benchmarks/power_consumption/qdec/boards/nrf52840dk_nrf52840.overlay
  tests/benchmarks/power_consumption/qdec/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/benchmarks/power_consumption/qdec/boards/nrf54h20dk_nrf54h20_cpuapp.conf
Labels: changelog-entry-required

#24580 tests: zephyr: drivers: flash: common: require external_flash fixture
  tests/zephyr/drivers/flash/common/testcase.yaml
Labels: changelog-entry-required

#24473 applications: nrf_desktop: Update HID state documentation
  applications/nrf_desktop/application_kconfig.rst
  applications/nrf_desktop/doc/hid_state.rst
Labels: doc-required

#24597 scripts: quarantine_zephyr: Quarantine samples
  scripts/quarantine_zephyr.yaml
Labels: changelog-entry-required

#24598 tests: benchmarks: multicore: Fix idle_usb test
  tests/benchmarks/multicore/idle_usb/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/benchmarks/multicore/idle_usb/prj.conf
  tests/benchmarks/multicore/idle_usb/src/main.c
Labels: changelog-entry-required

#24591 samples: smp_svr: pure_dts: enable logs from MCUboot
  samples/zephyr/subsys/mgmt/mcumgr/smp_svr/sample.yaml
Labels: changelog-entry-required

#24589 doc: add release highlights
  doc/nrf/releases_and_maturity/releases/release-notes-3.1.1.rst
Labels: doc-required, changelog-entry-required

#24443 samples: dfu: Add A/B sample
  CODEOWNERS
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/dfu/ab/CMakeLists.txt
  samples/dfu/ab/Kconfig
  samples/dfu/ab/README.rst
  samples/dfu/ab/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/dfu/ab/prj.conf
  samples/dfu/ab/sample.yaml
  samples/dfu/ab/src/ab_utils.c
  samples/dfu/ab/src/ab_utils.h
  samples/dfu/ab/src/main.c
  samples/dfu/ab/sysbuild.conf
  samples/dfu/ab/sysbuild/mcuboot/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  samples/dfu/ab/sysbuild/mcuboot/prj.conf
  samples/dfu/ab/sysbuild/nrf54h20dk_nrf54h20_memory_map.dtsi
Labels: doc-required

#24573 doc: Add 3.1.1 release to main
  doc/nrf/links.txt
  doc/nrf/protocols/matter/index.rst
  doc/nrf/releases_and_maturity/known_issues.rst
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-3.1.1.rst
  doc/versions.json
Labels: doc-required, changelog-entry-required

#24607 samples: app_jwt: Remove SUIT flags
  samples/app_jwt/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/app_jwt/prj.conf
  samples/app_jwt/sample.yaml
Labels: changelog-entry-required

#24610 version: Update VERSION file for 3.2.0-preview1
  VERSION
Labels: changelog-entry-required

#24554 cmake: Fix VID and CID values in Direct XIP on 54
  cmake/sysbuild/sign_nrf54h20.cmake
Labels: changelog-entry-required

#24612 doc: Remove mention of devtag from releases and maturity
  doc/nrf/releases_and_maturity.rst
Labels: doc-required, CI-disable

#24618 samples: dfu: ab sample nrf54L15 support
  samples/dfu/ab/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  samples/dfu/ab/sample.yaml
  samples/dfu/ab/sysbuild/mcuboot/boards/nrf54l15dk_nrf54l15_cpuapp.conf
  samples/dfu/ab/sysbuild/mcuboot/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  samples/dfu/ab/sysbuild/nrf54l15dk_nrf54l15_cpuapp_common.dtsi
Labels: changelog-entry-required

#24634 scripts: quarantine and quarantine_zephyr
  scripts/quarantine.yaml
  scripts/quarantine_zephyr.yaml
Labels: changelog-entry-required

#24625 doc: 3.2.0-preview1 post release
  doc/nrf/releases_and_maturity/release_notes.rst
  doc/nrf/releases_and_maturity/releases/release-notes-3.2.0-preview1.rst
  doc/versions.json
Labels: doc-required, changelog-entry-required

#24617 samples: bluetooth: mesh: add poll toggle to sensor cli
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/bluetooth/mesh/sensor_client/README.rst
  samples/bluetooth/mesh/sensor_client/src/model_handler.c
Labels: doc-required

#24649 doc: lib: fmfu_mgmt_stat.h doxygengroup link
  doc/nrf/libraries/dfu/fmfu_mgmt.rst
Labels: doc-required

#24647 samples: tests: Unify name of tests/samples
  samples/app_jwt/sample.yaml
  tests/drivers/i2c/i2c_latency/testcase.yaml
  tests/drivers/uart/uart_latency/testcase.yaml
Labels: changelog-entry-required

#24674 boards: shields: coverage_support: enable rng for L15
  boards/shields/coverage_support/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
Labels: changelog-entry-required

#24671 bluetooth: fast_pair: Add a release note for removing TinyCrypt
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, 10-min-review

#24670 manifest: sdk-zephyr: net: Cherry-pick TCP and mDNS regressions bugfixes
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#24629 doc: ironside: improve booting chapter
  doc/nrf/app_dev/device_guides/nrf54h/ug_nrf54h20_ironside.rst
Labels: doc-required, changelog-entry-required

#24681 st25r3911b: Fixed wrong spinlock ussage
  lib/st25r3911b/st25r3911b_interrupt.c
Labels: changelog-entry-required

#24638 samples: wifi: Remove support for nrf54h20 DK with nrf7002eb2
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
  samples/wifi/provisioning/ble/sample.yaml
  samples/wifi/provisioning/internal/sample.yaml
  samples/wifi/radio_test/multi_domain/sample.yaml
  samples/wifi/scan/sample.yaml
  samples/wifi/shell/sample.yaml
  samples/wifi/sta/sample.yaml
  scripts/quarantine.yaml
Labels: doc-required

#24665 tests: drivers: grtc: add test for clear grtc after system and pin reset
  tests/drivers/grtc/grtc_reset/CMakeLists.txt
  tests/drivers/grtc/grtc_reset/prj.conf
  tests/drivers/grtc/grtc_reset/pytest/tests.py
  tests/drivers/grtc/grtc_reset/src/main.c
  tests/drivers/grtc/grtc_reset/testcase.yaml
Labels: changelog-entry-required

#24642 applications: nrf_desktop: Do not use deprecated Kconfig options
  applications/nrf_desktop/configuration/nrf52840dk_nrf52840/prj_keyboard.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_release.conf
  applications/nrf_desktop/configuration/nrf52kbd_nrf52832/prj_release_fast_pair.conf
  applications/nrf_desktop/configuration/nrf54l15dk_nrf54l05_cpuapp/prj_release_keyboard.conf
  applications/nrf_desktop/configuration/nrf54l15dk_nrf54l10_cpuapp/prj_keyboard.conf
  applications/nrf_desktop/configuration/nrf54l15dk_nrf54l15_cpuapp/prj_keyboard.conf
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required, 10-min-review

#24594 manifest: sdk-mcuboot: [nrf noup] boot/zephyr: update nrf54l15dk ext flash configs
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#24692 tests: drivers: grtc: grtc_reset: fix yaml syntax
  tests/drivers/grtc/grtc_reset/testcase.yaml
Labels: changelog-entry-required

#24677 doc: updated redirects.py
  doc/_utils/redirects.py
Labels: doc-required, changelog-entry-required

#24689 manifest: sdk-zephyr: [nrf fromtree] boards: nordic: nrf54lm20dk: Add aliases for MCUboot b…
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#24693 tests: subsys: swo: show more logs from jlink tool
  tests/subsys/swo/pytest/test_swo.py
Labels: changelog-entry-required

#24695 docker: Use absolute path for bash in CMD
  scripts/docker/Dockerfile
Labels: external, changelog-entry-required, CI-Requested

#24696 doc: install: restore walkthrough links
  doc/nrf/app_dev/create_application.rst
  doc/nrf/installation/install_ncs.rst
Labels: doc-required, CI-disable, doc only

#24683 applications: nrf_desktop: Add release notes for Zephyr upmerge fixes
  applications/nrf_desktop/doc/usb_state.rst
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#24660 net: downloader: coap: Request data fragment on retransmission flag
  subsys/net/lib/downloader/src/transports/coap.c
Labels: changelog-entry-required

#24659 applications: nrf_desktop: Allow for delayed HID provider registration
  applications/nrf_desktop/src/modules/hid_provider_consumer_ctrl.c
  applications/nrf_desktop/src/modules/hid_provider_keyboard.c
  applications/nrf_desktop/src/modules/hid_provider_mouse.c
  applications/nrf_desktop/src/modules/hid_provider_system_ctrl.c
  applications/nrf_desktop/src/modules/hid_state.c
  doc/nrf/releases_and_maturity/releases/release-notes-changelog.rst
Labels: doc-required

#24715 applications: nrf_desktop: Align HID providers' documentation
  applications/nrf_desktop/doc/hid_provider_consumer_ctrl.rst
  applications/nrf_desktop/doc/hid_provider_keyboard.rst
  applications/nrf_desktop/doc/hid_provider_system_ctrl.rst
Labels: doc-required, 10-min-review, doc only

#24667 mpsl: Make CONFIG_MPSL_HFCLK_LATENCY on 54H unavailable
  subsys/mpsl/init/Kconfig
Labels: changelog-entry-required

#24684 samples: dfu: dfu_multi_image: Fix GPD issues after upmerge
  samples/dfu/dfu_multi_image/sysbuild/mcuboot/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  samples/dfu/dfu_multi_image/sysbuild/mcuboot/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  scripts/quarantine.yaml
Labels: changelog-entry-required

#24738 manifest: sdk-nrfxlib: Update MPSL and SoftDevice Controller
  west.yml
Labels: manifest, manifest-nrfxlib, changelog-entry-required, manifest-dragoon

#24737 manifest: sdk-mcuboot: [nrf fromtree] zephyr: nRF54L05 and L10 configuration with LTO enabled
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required

#24746 mpsl: Remove call to unecessary call to mpsl_pan_rfu
  subsys/mpsl/init/mpsl_init.c
Labels: changelog-entry-required

#24722 boards: nordic: nrf54lv10dk: Use pull-up for TX, RTS in sleep state
  boards/nordic/nrf54lv10dk/nrf54lv10dk_nrf54lv10a-pinctrl.dtsi
Labels: changelog-entry-required

#24101 manifest: Update sdk-zephyr revision
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required

#24728 samples: matter: fix data model to be compliance
  samples/matter/contact_sensor/src/default_zap/contact_sensor.matter
  samples/matter/contact_sensor/src/default_zap/contact_sensor.zap
  samples/matter/contact_sensor/src/default_zap/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/contact_sensor/src/default_zap/zap-generated/PluginApplicationCallbacks.h
  samples/matter/contact_sensor/src/default_zap/zap-generated/access.h
  samples/matter/contact_sensor/src/default_zap/zap-generated/callback-stub.cpp
  samples/matter/contact_sensor/src/default_zap/zap-generated/endpoint_config.h
  samples/matter/contact_sensor/src/default_zap/zap-generated/gen_config.h
  samples/matter/temperature_sensor/src/default_zap/temperature_sensor.matter
  samples/matter/temperature_sensor/src/default_zap/temperature_sensor.zap
  samples/matter/temperature_sensor/src/default_zap/zap-generated/IMClusterCommandHandler.cpp
  samples/matter/temperature_sensor/src/default_zap/zap-generated/PluginApplicationCallbacks.h
  samples/matter/temperature_sensor/src/default_zap/zap-generated/access.h
  samples/matter/temperature_sensor/src/default_zap/zap-generated/callback-stub.cpp
  samples/matter/temperature_sensor/src/default_zap/zap-generated/endpoint_config.h
  samples/matter/temperature_sensor/src/default_zap/zap-generated/gen_config.h
Labels: CI-limit-jobs

#24773 Revert "boards: nordic: nrf54lv10dk: Use pull-up for TX, RTS in sleep…
  boards/nordic/nrf54lv10dk/nrf54lv10dk_nrf54lv10a-pinctrl.dtsi
Labels: changelog-entry-required

#24769 Align to GPPI rework
  west.yml
Labels: manifest, manifest-zephyr, changelog-entry-required, manifest-nrfx

#24741 manifest: sdk-mcuboot: [nrf noup] nrf_cleanup: remove GRTC cleanup
  west.yml
Labels: manifest, manifest-mcuboot, changelog-entry-required
