Repository nrfconnect/sdk-nrf, changes with the owners that CODEOWNERS names for each.
All owners: @carlescufi, @ru-fu, @tejlmand, @joakimtoe, @jtguggedal, @rlubos, @pdunaj, @ioannisg, @anangl, @SebastianBoe, @nordic-krch, @pizi-nordic, @joerchan, @grochu, @jarz-nordic, @pkchan, @lemrey, @wlgrd, @hakonfam, @mbolivar, @sigvartmh, @Raane, @rakons

drivers: lte_lc: use registration interfaces from at_notif.
  drivers/lte_link_control/Kconfig
  drivers/lte_link_control/lte_lc.c
Owners: @anangl

lib: at_host: use registration interface from at_notif.
  lib/at_host/Kconfig
  lib/at_host/at_host.c
Owners: @rlubos

lib: modem_info: use registration interface from at_notif.
  lib/modem_info/modem_info.c
Owners: @rlubos

lib: register at_notif to Kconfig and cmake.
  lib/CMakeLists.txt
  lib/Kconfig
Owners: @SebastianBoe

samples: nrf9160: aws_fota: Add warning with regards to provisioning
  samples/nrf9160/aws_fota/CMakeLists.txt
  samples/nrf9160/aws_fota/Kconfig
  samples/nrf9160/aws_fota/README.rst
  samples/nrf9160/aws_fota/src/main.c
Owners: @rlubos, @lemrey

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# Order is important; the last matching pattern takes the most
# precedence.

# Root folder
/CODEOWNERS                               @carlescufi
/LICENSE                                  @carlescufi
/README.rst                               @ru-fu @carlescufi
/Jenkinsfile                              @carlescufi
/west.yml                                 @carlescufi @tejlmand

# Applications
/applications/asset_tracker/              @joakimtoe @jtguggedal @rlubos
/applications/nrf_desktop/                @pdunaj
# Boards
/boards/                                  @ioannisg @anangl
# All cmake related files
/cmake/                                   @SebastianBoe
/CMakeLists.txt                           @SebastianBoe
# All Kconfig related files
/**/Kconfig*                              @SebastianBoe
# All doc related files
/doc/                                     @ru-fu
/doc/CMakeLists.txt                       @carlescufi
/doc/scripts/                             @carlescufi
/doc/**/conf.py                           @carlescufi
# All subfolders
/drivers/                                 @anangl
/dts/                                     @anangl
/ext/                                     @carlescufi
/include/debug/ppi_trace.h                @nordic-krch
/include/                                 @anangl @rlubos @pizi-nordic
/include/bluetooth/                       @joerchan
/include/drivers/                         @anangl
/include/net/                             @rlubos
/include/nfc/                             @anangl @grochu
/include/shell/                           @nordic-krch @jarz-nordic
/lib/at_cmd_parser/                       @rlubos
/lib/at_host/                             @rlubos
/lib/at_notif/                            @pkchan
/lib/bsdlib/                              @rlubos
/lib/modem_info/                          @rlubos
/lib/pdn_management/                      @rlubos
/lib/lwm2m_carrier/                       @rlubos @lemrey
/samples/sensor/bh1749/                   @wlgrd
/samples/bluetooth/                       @joerchan @lemrey @carlescufi
/samples/bootloader/                      @hakonfam @ioannisg
subsys/debug/CMakeLists.txt               @nordic-krch
/samples/debug/ppi_trace/                 @nordic-krch
/samples/esb/                             @lemrey
/samples/nfc/                             @grochu
/samples/nrf9160/                         @rlubos @lemrey
/samples/nrf9160/spm/                     @lemrey @hakonfam @ioannisg
/samples/profiler/                        @pdunaj @pizi-nordic
/samples/usb/usb_uart_bridge/             @joakimtoe @jtguggedal
/samples/CMakeLists.txt                   @SebastianBoe
/scripts/                                 @mbolivar @tejlmand
/scripts/hid_configurator/                @pdunaj
/subsys/bluetooth/                        @joerchan @carlescufi
/subsys/bootloader/                       @hakonfam @ioannisg
/subsys/dfu/                              @hakonfam @sigvartmh
/subsys/enhanced_shockburst/              @Raane @lemrey
/subsys/event_manager/                    @pdunaj
/subsys/fw_metadata/                      @hakonfam
/subsys/net/                              @rlubos
/subsys/nfc/                              @grochu @anangl
/subsys/partition_manager/                @hakonfam
/subsys/profiler/                         @pdunaj
/subsys/debug/ppi_trace/                  @nordic-krch
/subsys/shell/                            @nordic-krch @jarz-nordic
/subsys/spm/                              @ioannisg
/subsys/nonsecure/                        @ioannisg
/tests/                                   @rakons
/zephyr/                                  @carlescufi
