Repository nrfconnect/sdk-nrf, changes with the owners that CODEOWNERS names for each.
All owners: @carlescufi, @ru-fu, @thst-nordic, @tejlmand, @joakimtoe, @jtguggedal, @rlubos, @pdunaj, @ioannisg, @anangl, @SebastianBoe, @rugeGerritsen, @pizi-nordic, @joerchan, @b-gent, @trond-snekvik, @nordic-krch, @grochu, @lemrey, @pkchan, @hakonfam, @metc, @evenl, @wlgrd, @kapi-no, @mbolivar, @sigvartmh, @Raane, @rakons

applications: nrf_desktop: Add missing error check in leds
  applications/nrf_desktop/src/hw_interface/leds.c
Owners: @pdunaj

applications: nrf_desktop: Add missing error check in leds
  applications/nrf_desktop/src/hw_interface/leds.c
Owners: @pdunaj

tests: unity: Disable broken unity test for unity example_test
  tests/unity/example_test/sample.yaml
  tests/unity/example_test/testcase.yaml
Owners: @rakons

tests: dfu_target: Fix broken `dfu_target` tests
  tests/subsys/dfu/dfu_target/mcuboot/src/main.c
  tests/subsys/dfu/dfu_target/mcuboot/testcase.yaml
  tests/subsys/dfu/dfu_target_mcuboot/CMakeLists.txt
  tests/subsys/dfu/dfu_target_mcuboot/src/main.c
Owners: @rakons

dfu: dfu_target: Fix issue with not being able to only have modem DFU
  subsys/dfu/src/dfu_target.c
Owners: @hakonfam, @sigvartmh

applications: nrf_desktop: Add Device description documentation
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/dev_descr.rst
Owners: @ru-fu

samples: nrf9160: serial_lte_modem ICMP bug fixing
  samples/nrf9160/serial_lte_modem/src/slm_at_icmp.c
Owners: @rlubos, @lemrey

lib: bsdlib: Add uptime functions
  lib/bsdlib/bsd_os.c
Owners: @rlubos

partition_manager: add support for configuring external flash
  cmake/partition_manager.cmake
  subsys/Kconfig
  subsys/partition_manager/Kconfig
Owners: @SebastianBoe, @hakonfam

samples: hids_mouse: Move adv start to work queue
  samples/bluetooth/peripheral_hids_mouse/src/main.c
Owners: @joerchan, @lemrey, @carlescufi

bluetooth: scan: Fix adv type and add adv data to callback
  include/bluetooth/scan.h
  subsys/bluetooth/scan.c
Owners: @joerchan, @carlescufi

samples: central_hids: Add support for directed advertising
  samples/bluetooth/central_hids/prj.conf
  samples/bluetooth/central_hids/src/main.c
Owners: @joerchan, @lemrey, @carlescufi

applications: nrf_desktop: Disable constlat on pca20037
  applications/nrf_desktop/configuration/nrf52_pca20037/app_ZDebug.conf
  applications/nrf_desktop/configuration/nrf52_pca20037/app_ZDebugMCUBoot.conf
  applications/nrf_desktop/configuration/nrf52_pca20037/app_ZDebugWithShell.conf
  applications/nrf_desktop/configuration/nrf52_pca20037/app_ZRelease.conf
  applications/nrf_desktop/configuration/nrf52_pca20037/app_ZReleaseMCUBoot.conf
Owners: @pdunaj

Bluetooth: gatt_dm: Fix discovery for services with no characteristics
  subsys/bluetooth/gatt_dm.c
Owners: @joerchan, @carlescufi

applications: nrf_desktop: Disable constlat on pca20037
  applications/nrf_desktop/configuration/nrf52_pca20037/app_ZDebug.conf
  applications/nrf_desktop/configuration/nrf52_pca20037/app_ZDebugMCUBoot.conf
  applications/nrf_desktop/configuration/nrf52_pca20037/app_ZDebugWithShell.conf
  applications/nrf_desktop/configuration/nrf52_pca20037/app_ZRelease.conf
  applications/nrf_desktop/configuration/nrf52_pca20037/app_ZReleaseMCUBoot.conf
Owners: @pdunaj

applications: nrf_desktop: Add Device description documentation
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/dev_descr.rst
Owners: @ru-fu

applications: nrf_desktop: Add partition configuration doc
  applications/nrf_desktop/README.rst
Owners: @ru-fu

bluetooth: controller: Allow using nRF BLE Controller with BT_CONN=n
  subsys/bluetooth/controller/hci_driver.c
Owners: @joerchan, @rugeGerritsen

doc: document partition_manager regions
  scripts/partition_manager/partition_manager.rst
Owners: @ru-fu

samples: nrf9160: serial_lte_modem ICMP bug fixing
  samples/nrf9160/serial_lte_modem/src/slm_at_icmp.c
Owners: @rlubos, @lemrey

applications: nrf_desktop: Fix control reports
  applications/nrf_desktop/src/modules/hid_state.c
Owners: @pdunaj

applications: nrf_desktop: Add BAS documentation
  applications/nrf_desktop/doc/bas.rst
Owners: @ru-fu

applications: nrf_desktop: Add partition configuration doc
  applications/nrf_desktop/README.rst
Owners: @ru-fu

applications: nrf_desktop: Fix control reports
  applications/nrf_desktop/src/modules/hid_state.c
Owners: @pdunaj

doc: update NCS style guide
  doc/nrf/doc_styleguide.rst
Owners: @ru-fu

samples: nrf9160: aws_fota: Align device shadow structures with nrfcloud
  samples/nrf9160/aws_fota/src/main.c
Owners: @rlubos, @lemrey

spm: Use hal/nrf_spu.h to configure NSC regions.
  subsys/spm/spm.c
Owners: @ioannisg

spm: Fix FLASH and RAM configuration for nRF53
  subsys/spm/secure_services.ld
  subsys/spm/spm.c
  subsys/spm/spm_internal.h
  west.yml
Owners: @ioannisg, @carlescufi, @tejlmand

spm: Compactify FLASH and RAM region printing
  subsys/spm/spm.c
Owners: @ioannisg

spm: Fix FLASH and RAM configuration for nRF53
  subsys/spm/secure_services.ld
  subsys/spm/spm.c
  subsys/spm/spm_internal.h
  west.yml
Owners: @ioannisg, @carlescufi, @tejlmand

spm: Use hal/nrf_spu.h to configure NSC regions.
  subsys/spm/spm.c
Owners: @ioannisg

spm: Compactify FLASH and RAM region printing
  subsys/spm/spm.c
Owners: @ioannisg

applications: nrf_desktop: Get report state and data helpers
  applications/nrf_desktop/src/modules/hid_state.c
Owners: @pdunaj

applications: nrf_desktop: Generic axes data handling
  applications/nrf_desktop/configuration/common/hid_report_mouse.h
  applications/nrf_desktop/src/modules/hid_state.c
Owners: @pdunaj

applications: nrf_desktop: Add passkey documentation
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/buttons_sim.rst
  applications/nrf_desktop/doc/passkey.rst
Owners: @ru-fu

debug: cpu_load: Add cpu_load module
  include/debug/cpu_load.h
  include/debug/cpu_load.rst
  subsys/debug/CMakeLists.txt
  subsys/debug/cpu_load/CMakeLists.txt
  subsys/debug/cpu_load/Kconfig
  subsys/debug/cpu_load/cpu_load.c
Owners: @anangl, @rlubos, @pizi-nordic, @ru-fu, @nordic-krch

tests: subsys: debug: cpu_load: Add test suite
  tests/subsys/debug/cpu_load/CMakeLists.txt
  tests/subsys/debug/cpu_load/prj.conf
  tests/subsys/debug/cpu_load/src/test_cpu_load.c
  tests/subsys/debug/cpu_load/testcase.yaml
Owners: @rakons

Bluetooth: gatt_dm: Fix discovery for services with no characteristics
  subsys/bluetooth/gatt_dm.c
Owners: @joerchan, @carlescufi

applications: nrf_desktop: Add passkey documentation
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/buttons_sim.rst
  applications/nrf_desktop/doc/passkey.rst
Owners: @ru-fu

partition_manager: enable OTP configuration through partition manager
  cmake/partition_manager.cmake
  samples/bootloader/pm.yml
  subsys/bootloader/Kconfig
  subsys/bootloader/image/CMakeLists.txt
Owners: @SebastianBoe, @hakonfam, @ioannisg

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# https://help.github.com/en/articles/about-code-owners#codeowners-syntax
# Order is important; the last matching pattern takes the most
# precedence.

# Root folder
/CODEOWNERS                               @carlescufi
/LICENSE                                  @carlescufi
/README.rst                               @ru-fu @carlescufi
/Jenkinsfile                              @thst-nordic
/west.yml                                 @carlescufi @tejlmand

# Github Actions
/.github/                                 @thst-nordic

# Applications
/applications/asset_tracker/              @joakimtoe @jtguggedal @rlubos
/applications/nrf_desktop/                @pdunaj
# Boards
/boards/                                  @ioannisg @anangl
# All cmake related files
/cmake/                                   @SebastianBoe
/CMakeLists.txt                           @SebastianBoe
# All Kconfig related files
Kconfig*                                  @SebastianBoe
# All doc related files
/doc/                                     @ru-fu
/doc/CMakeLists.txt                       @carlescufi
/doc/scripts/                             @carlescufi
/doc/**/conf.py                           @carlescufi
# All subfolders
/drivers/                                 @anangl
/drivers/bt_ll_nrfxlib/                   @anangl @rugeGerritsen
/dts/                                     @anangl
/ext/                                     @carlescufi
/include/                                 @anangl @rlubos @pizi-nordic
/include/bluetooth/                       @joerchan
/include/bluetooth/**/*.rst               @b-gent
/include/bluetooth/mesh/**/*.rst          @ru-fu
/include/bluetooth/mesh/                  @trond-snekvik @joerchan
/include/debug/**/*.rst                   @b-gent
/include/debug/ppi_trace.h                @nordic-krch @anangl
/include/drivers/                         @anangl
/include/net/                             @rlubos
/include/nfc/                             @anangl @grochu
/include/nfc/**/*.rst                     @b-gent
/include/shell/                           @nordic-krch
/include/shell/**/*.rst                   @b-gent
/include/event_manager.rst                @b-gent
/include/profiler.rst                     @b-gent
/lib/bin/                                 @rlubos @lemrey
/lib/adp536x/                             @jtguggedal
/lib/at_cmd_parser/                       @rlubos
/lib/at_cmd/                              @rlubos
/lib/at_host/                             @rlubos
/lib/at_notif/                            @pkchan
/lib/bsdlib/                              @rlubos
/lib/fprotect/                            @hakonfam
/lib/flash_patch/                         @hakonfam
/lib/lte_link_control/                    @jtguggedal
/lib/modem_info/                          @rlubos
/lib/modem_key_mgmt/                      @rlubos
/lib/pdn_management/                      @rlubos
/lib/multithreading_lock/                 @joerchan @rugeGerritsen
/lib/fatal_error/                         @ioannisg
/lib/sms/                                 @metc
/lib/st25r3911b/                          @grochu
/lib/supl/                                @rlubos @evenl
/samples/sensor/bh1749/                   @wlgrd
/samples/bluetooth/                       @joerchan @lemrey @carlescufi
/samples/bluetooth/**/*.rst               @b-gent
/samples/bluetooth/mesh/                  @trond-snekvik @joerchan
/samples/bluetooth/mesh/**/*.rst          @ru-fu
/samples/bootloader/                      @hakonfam @ioannisg
/samples/debug/ppi_trace/                 @nordic-krch @anangl
/samples/debug/**/README.rst              @b-gent
/samples/esb/                             @lemrey
/samples/event_manager/README.rst         @b-gent
/samples/mpsl/                            @joerchan @rugeGerritsen
/samples/mpsl/**/*.rst                    @b-gent
/samples/nfc/                             @grochu
/samples/nfc/**/README.rst                @b-gent
/samples/nrf9160/                         @rlubos @lemrey
/samples/nrf9160/spm/                     @lemrey @hakonfam @ioannisg
/samples/profiler/                        @pdunaj @pizi-nordic
/samples/profiler/README.rst              @b-gent
/samples/peripheral/radio_test/           @kapi-no
/samples/peripheral/radio_test/README.rst @b-gent
/samples/usb/usb_uart_bridge/             @joakimtoe @jtguggedal
/samples/CMakeLists.txt                   @SebastianBoe
/scripts/                                 @mbolivar @tejlmand
/scripts/hid_configurator/                @pdunaj
/subsys/bluetooth/                        @joerchan @carlescufi
/subsys/bluetooth/mesh/                   @trond-snekvik @joerchan
/subsys/bluetooth/controller/             @joerchan @rugeGerritsen
/subsys/bootloader/                       @hakonfam @ioannisg
/subsys/debug/                            @nordic-krch @anangl
/subsys/dfu/                              @hakonfam @sigvartmh
/subsys/esb/                              @Raane @lemrey
/subsys/event_manager/                    @pdunaj
/subsys/fw_info/                          @hakonfam
/subsys/mpsl/                             @joerchan @rugeGerritsen
/subsys/net/                              @rlubos
/subsys/nfc/                              @grochu @anangl
/subsys/partition_manager/                @hakonfam
/subsys/profiler/                         @pdunaj
/subsys/shell/                            @nordic-krch
/subsys/spm/                              @ioannisg
/subsys/nonsecure/                        @ioannisg
/tests/                                   @rakons
/zephyr/                                  @carlescufi
# Make sure docs always include tech writers
*.rst                                     @ru-fu
