Repository nrfconnect/sdk-nrf, changes with the owners that CODEOWNERS names for each.
All owners: @carlescufi, @tejlmand, @thst-nordic, @jhn-nordic, @jtguggedal, @rlubos, @simensrostad, @coderbyheart, @nordic-auko, @pdunaj, @junqingzou, @lats1980, @ioannisg, @anangl, @rugeGerritsen, @pizi-nordic, @joerchan, @trond-snekvik, @nordic-krch, @grochu, @lemrey, @pkchan, @hakonfam, @hurricaneFromMoscow, @mariuszpos, @MarekPorwisz, @metc, @evenl, @nvlsianpu, @wlgrd, @Damian-Nordic, @kkasperczyk-no, @doki-nordic, @KAGA164, @lmaciejonczyk, @kapi-no, @oyvindronningstad, @maciekfabia, @hubertmis, @mbolivar, @asle-nordic, @grho, @shanta-14, @sigvartmh, @Raane, @rakons

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# https://help.github.com/en/articles/about-code-owners#codeowners-syntax
# Order is important; the last matching pattern takes the most
# precedence.

# Root folder
/VERSION                                  @carlescufi @tejlmand
/ncs_version.h.in                         @carlescufi @tejlmand
/CODEOWNERS                               @carlescufi
/LICENSE                                  @carlescufi
/README.rst                               @carlescufi
/Jenkinsfile                              @thst-nordic
/west.yml                                 @carlescufi @tejlmand
/west-homekit.yml                         @carlescufi @tejlmand

# Github Actions
/.github/                                 @thst-nordic

# Applications
/applications/asset_tracker/              @jhn-nordic @jtguggedal @rlubos
/applications/asset_tracker_v2/           @simensrostad @jtguggedal @jhn-nordic @coderbyheart
/applications/connectivity_bridge/        @jtguggedal @nordic-auko
/applications/nrf_desktop/                @pdunaj
/applications/serial_lte_modem/           @junqingzou @lats1980 @rlubos
# Boards
/boards/                                  @ioannisg @anangl
# All cmake related files
/cmake/                                   @tejlmand
/CMakeLists.txt                           @tejlmand
# All Kconfig related files
Kconfig*                                  @tejlmand
# All doc related files
/doc/CMakeLists.txt                       @carlescufi
/doc/update_versions.cmake                @carlescufi
/doc/scripts/                             @carlescufi
/doc/static/                              @carlescufi
/doc/themes/                              @carlescufi
/doc/**/conf.py                           @carlescufi
/doc/nrf/                                 @carlescufi
/doc/versions.json                        @carlescufi
/.known-issues/                           @carlescufi
# All subfolders
/drivers/                                 @anangl
/drivers/bt_ll_softdevice/                @anangl @rugeGerritsen
/dts/                                     @anangl
/ext/                                     @carlescufi
/include/                                 @anangl @rlubos @pizi-nordic
/include/net/azure_*                      @jtguggedal @simensrostad @coderbyheart
/include/bluetooth/                       @joerchan
/include/bluetooth/mesh/                  @trond-snekvik @joerchan
/include/debug/ppi_trace.h                @nordic-krch @anangl
/include/drivers/                         @anangl
/include/net/                             @rlubos
/include/nfc/                             @anangl @grochu
/include/shell/                           @nordic-krch
/lib/bin/                                 @rlubos @lemrey
/lib/adp536x/                             @jtguggedal
/lib/at_cmd_parser/                       @rlubos
/lib/at_cmd/                              @rlubos
/lib/at_host/                             @rlubos
/lib/at_notif/                            @pkchan
/lib/agps/                                @jtguggedal @simensrostad
/lib/nrf_modem_lib/                       @rlubos
/lib/edge_impulse/                        @pdunaj
/lib/fprotect/                            @hakonfam
/lib/flash_patch/                         @hakonfam
/lib/lte_link_control/                    @jtguggedal
/lib/modem_info/                          @rlubos
/lib/modem_key_mgmt/                      @rlubos
/lib/pdn_management/                      @rlubos
/lib/multithreading_lock/                 @joerchan @hurricaneFromMoscow
/lib/ram_pwrdn/                           @mariuszpos @MarekPorwisz
/lib/fatal_error/                         @ioannisg
/lib/sms/                                 @metc
/lib/st25r3911b/                          @grochu
/lib/supl/                                @rlubos @evenl
/lib/date_time/                           @simensrostad
/modules/                                 @tejlmand
/modules/mcuboot/                         @nvlsianpu
/samples/sensor/bh1749/                   @wlgrd
/samples/bluetooth/                       @joerchan @lemrey @carlescufi
/samples/bluetooth/mesh/                  @trond-snekvik @joerchan
/samples/bootloader/                      @hakonfam @ioannisg
/samples/connectedhomeip/                 @Damian-Nordic @kkasperczyk-no
/samples/debug/ppi_trace/                 @nordic-krch @anangl
/samples/ei_wrapper/                      @pdunaj
/samples/ei_data_forwarder/               @pdunaj
/samples/esb/                             @lemrey
/samples/mpsl/                            @joerchan @hurricaneFromMoscow
/samples/nfc/                             @grochu
/samples/nrf_rpc/                         @doki-nordic @KAGA164
/samples/nrf5340/empty_app_core/          @doki-nordic
/samples/nrf9160/                         @rlubos @lemrey
/samples/nrf9160/azure_*                  @jtguggedal @simensrostad @coderbyheart
/samples/spm/                             @lemrey @hakonfam @ioannisg
/samples/openthread/                      @MarekPorwisz @lmaciejonczyk
/samples/profiler/                        @pdunaj @pizi-nordic
/samples/peripheral/radio_test/           @kapi-no
/samples/peripheral/lpuart/               @nordic-krch
/samples/tfm/tfm_hello_world/             @oyvindronningstad
/samples/zigbee/                          @maciekfabia @mariuszpos
/samples/CMakeLists.txt                   @tejlmand
/samples/nrf5340/netboot/                 @hakonfam
/samples/nrf5340/multiprotocol_rpmsg/     @hubertmis
/scripts/                                 @mbolivar @tejlmand
/scripts/hid_configurator/                @pdunaj
/scripts/tools-versions-*.txt             @tejlmand @asle-nordic @grho @shanta-14
/share/zephyrbuild-package/               @tejlmand
/share/ncs-package/                       @tejlmand
/subsys/bluetooth/                        @joerchan @carlescufi
/subsys/bluetooth/mesh/                   @trond-snekvik @joerchan
/subsys/bluetooth/controller/             @joerchan @rugeGerritsen
/subsys/bootloader/                       @hakonfam @ioannisg
/subsys/debug/                            @nordic-krch @anangl
/subsys/dfu/                              @hakonfam @sigvartmh
/subsys/esb/                              @Raane @lemrey
/subsys/event_manager/                    @pdunaj
/subsys/fw_info/                          @hakonfam
/subsys/mpsl/                             @joerchan @hurricaneFromMoscow
/subsys/net/                              @rlubos
/subsys/net/lib/azure_*                   @jtguggedal @simensrostad @coderbyheart
/subsys/nfc/                              @grochu @anangl
/subsys/nrf_rpc/                          @doki-nordic @KAGA164
/subsys/partition_manager/                @hakonfam
/subsys/pcd/                              @hakonfam
/subsys/profiler/                         @pdunaj
/subsys/shell/                            @nordic-krch
/subsys/spm/                              @ioannisg
/subsys/nonsecure/                        @ioannisg
/modules/                                 @tejlmand
/modules/tfm/                             @oyvindronningstad @ioannisg @hakonfam
/subsys/zigbee/                           @maciekfabia @mariuszpos
/tests/                                   @rakons
/tests/subsys/zigbee/                     @rakons @maciekfabia @mariuszpos
/tests/subsys/bluetooth/mesh/             @joerchan @trond-snekvik
/zephyr/                                  @carlescufi

doc: docreview for PR 3860
  doc/nrf/releases/release-notes-latest.rst
  doc/nrf/ug_nrf5340.rst
Owners: @carlescufi

samples: bluetooth: direct_test_mode: nRF21540 workaround
  samples/bluetooth/direct_test_mode/dts-nrf21540-fem.overlay
  samples/bluetooth/direct_test_mode/src/dtm.c
  samples/bluetooth/direct_test_mode/src/fem/nrf21540.c
  samples/bluetooth/direct_test_mode/src/fem/nrf21540.h
Owners: @joerchan, @lemrey, @carlescufi

samples: peripheral: radio_test: nRF21540 workaround
  samples/peripheral/radio_test/dts-nrf21540-fem.overlay
  samples/peripheral/radio_test/src/radio_cmd.c
  samples/peripheral/radio_test/src/radio_test.c
  samples/peripheral/radio_test/src/radio_test.h
Owners: @kapi-no

net: lib: azure_fota: Add job ID handling to avoid repeated update
  samples/nrf9160/azure_fota/README.rst
  subsys/net/lib/azure_fota/Kconfig
  subsys/net/lib/azure_fota/azure_fota.c
Owners: @jtguggedal, @simensrostad, @coderbyheart

dfu: add 'fmfu_fdev' for performing full modem firmware update
  include/dfu/fmfu_fdev.h
  include/dfu/fmfu_fdev.rst
  scripts/requirements-build.txt
  subsys/dfu/CMakeLists.txt
  subsys/dfu/Kconfig
  subsys/dfu/fmfu_fdev/CMakeLists.txt
  subsys/dfu/fmfu_fdev/Kconfig
  subsys/dfu/fmfu_fdev/cddl/CMakeLists.txt
  subsys/dfu/fmfu_fdev/cddl/license.cmake
  subsys/dfu/fmfu_fdev/cddl/modem_update.cddl
  subsys/dfu/fmfu_fdev/include/modem_update_decode.h
  subsys/dfu/fmfu_fdev/include/modem_update_types.h
  subsys/dfu/fmfu_fdev/src/fmfu_fdev.c
  subsys/dfu/fmfu_fdev/src/fmfu_fdev.c.orig
  subsys/dfu/fmfu_fdev/src/modem_update_decode.c
Owners: @anangl, @rlubos, @pizi-nordic, @mbolivar, @tejlmand, @hakonfam, @sigvartmh

dfu_target: add 'full_modem_update' dfu target
  doc/nrf/releases/release-notes-latest.rst
  include/dfu/dfu_target.h
  include/dfu/dfu_target.rst
  include/dfu/dfu_target_full_modem.h
  subsys/dfu/dfu_target/CMakeLists.txt
  subsys/dfu/dfu_target/Kconfig
  subsys/dfu/dfu_target/src/dfu_target.c
  subsys/dfu/dfu_target/src/dfu_target_full_modem.c
Owners: @carlescufi, @anangl, @rlubos, @pizi-nordic, @hakonfam, @sigvartmh

samples: add full_modem_update sample
  doc/nrf/releases/release-notes-latest.rst
  doc/nrf/ug_nrf9160.rst
  samples/nrf9160/http_update/full_modem_update/CMakeLists.txt
  samples/nrf9160/http_update/full_modem_update/Kconfig
  samples/nrf9160/http_update/full_modem_update/README.rst
  samples/nrf9160/http_update/full_modem_update/boards/nrf9160dk_nrf9160ns.conf
  samples/nrf9160/http_update/full_modem_update/boards/nrf9160dk_nrf9160ns.overlay
  samples/nrf9160/http_update/full_modem_update/prj.conf
  samples/nrf9160/http_update/full_modem_update/src/main.c
Owners: @carlescufi, @rlubos, @lemrey

doc: logging: add info about default setting
  doc/nrf/ug_logging.rst
Owners: @carlescufi

samples: Update configurations related to nrf9160dk board controller
  samples/bluetooth/hci_lpuart/boards/nrf9160dk_nrf52840.conf
  samples/bluetooth/hci_lpuart/boards/nrf9160dk_nrf52840.overlay
  samples/bluetooth/hci_lpuart/boards/nrf9160dk_nrf52840_0_14_0.overlay
  samples/nrf9160/lte_ble_gateway/boards/nrf9160dk_nrf9160ns.overlay
  samples/nrf9160/lte_ble_gateway/boards/nrf9160dk_nrf9160ns_0_14_0.overlay
Owners: @joerchan, @lemrey, @carlescufi, @rlubos
