Repository nrfconnect/sdk-nrf, changes with the owners that CODEOWNERS names for each.
All owners: @carlescufi, @ru-fu, @thst-nordic, @tejlmand, @joakimtoe, @jtguggedal, @rlubos, @pdunaj, @ioannisg, @anangl, @SebastianBoe, @rugeGerritsen, @pizi-nordic, @joerchan, @b-gent, @trond-snekvik, @nordic-krch, @grochu, @lemrey, @pkchan, @hakonfam, @metc, @evenl, @wlgrd, @kapi-no, @mbolivar, @sigvartmh, @Raane, @rakons

CODEOWNERS:

# CODEOWNERS for autoreview assigning in github

# https://help.github.com/en/articles/about-code-owners#codeowners-syntax
# Order is important; the last matching pattern takes the most
# precedence.

# Root folder
/CODEOWNERS                               @carlescufi
/LICENSE                                  @carlescufi
/README.rst                               @ru-fu @carlescufi
/Jenkinsfile                              @thst-nordic
/west.yml                                 @carlescufi @tejlmand

# Github Actions
/.github/                                 @thst-nordic

# Applications
/applications/asset_tracker/              @joakimtoe @jtguggedal @rlubos
/applications/nrf_desktop/                @pdunaj
# Boards
/boards/                                  @ioannisg @anangl
# All cmake related files
/cmake/                                   @SebastianBoe
/CMakeLists.txt                           @SebastianBoe
# All Kconfig related files
Kconfig*                                  @SebastianBoe
# All doc related files
/doc/                                     @ru-fu
/doc/CMakeLists.txt                       @carlescufi
/doc/scripts/                             @carlescufi
/doc/**/conf.py                           @carlescufi
# All subfolders
/drivers/                                 @anangl
/drivers/bt_ll_nrfxlib/                   @anangl @rugeGerritsen
/dts/                                     @anangl
/ext/                                     @carlescufi
/include/                                 @anangl @rlubos @pizi-nordic
/include/bluetooth/                       @joerchan
/include/bluetooth/**/*.rst               @b-gent
/include/bluetooth/mesh/**/*.rst          @ru-fu
/include/bluetooth/mesh/                  @trond-snekvik @joerchan
/include/debug/**/*.rst                   @b-gent
/include/debug/ppi_trace.h                @nordic-krch @anangl
/include/drivers/                         @anangl
/include/net/                             @rlubos
/include/nfc/                             @anangl @grochu
/include/nfc/**/*.rst                     @b-gent
/include/shell/                           @nordic-krch
/include/shell/**/*.rst                   @b-gent
/include/event_manager.rst                @b-gent
/include/profiler.rst                     @b-gent
/lib/bin/                                 @rlubos @lemrey
/lib/adp536x/                             @jtguggedal
/lib/at_cmd_parser/                       @rlubos
/lib/at_cmd/                              @rlubos
/lib/at_host/                             @rlubos
/lib/at_notif/                            @pkchan
/lib/bsdlib/                              @rlubos
/lib/fprotect/                            @hakonfam
/lib/flash_patch/                         @hakonfam
/lib/lte_link_control/                    @jtguggedal
/lib/modem_info/                          @rlubos
/lib/modem_key_mgmt/                      @rlubos
/lib/pdn_management/                      @rlubos
/lib/multithreading_lock/                 @joerchan @rugeGerritsen
/lib/fatal_error/                         @ioannisg
/lib/sms/                                 @metc
/lib/st25r3911b/                          @grochu
/lib/supl/                                @rlubos @evenl
/samples/sensor/bh1749/                   @wlgrd
/samples/bluetooth/                       @joerchan @lemrey @carlescufi
/samples/bluetooth/**/*.rst               @b-gent
/samples/bluetooth/mesh/                  @trond-snekvik @joerchan
/samples/bluetooth/mesh/**/*.rst          @ru-fu
/samples/bootloader/                      @hakonfam @ioannisg
/samples/debug/ppi_trace/                 @nordic-krch @anangl
/samples/debug/**/README.rst              @b-gent
/samples/esb/                             @lemrey
/samples/event_manager/README.rst         @b-gent
/samples/mpsl/                            @joerchan @rugeGerritsen
/samples/mpsl/**/*.rst                    @b-gent
/samples/nfc/                             @grochu
/samples/nfc/**/README.rst                @b-gent
/samples/nrf9160/                         @rlubos @lemrey
/samples/nrf9160/spm/                     @lemrey @hakonfam @ioannisg
/samples/profiler/                        @pdunaj @pizi-nordic
/samples/profiler/README.rst              @b-gent
/samples/peripheral/radio_test/           @kapi-no
/samples/peripheral/radio_test/README.rst @b-gent
/samples/usb/usb_uart_bridge/             @joakimtoe @jtguggedal
/samples/CMakeLists.txt                   @SebastianBoe
/scripts/                                 @mbolivar @tejlmand
/scripts/hid_configurator/                @pdunaj
/subsys/bluetooth/                        @joerchan @carlescufi
/subsys/bluetooth/mesh/                   @trond-snekvik @joerchan
/subsys/bluetooth/controller/             @joerchan @rugeGerritsen
/subsys/bootloader/                       @hakonfam @ioannisg
/subsys/debug/                            @nordic-krch @anangl
/subsys/dfu/                              @hakonfam @sigvartmh
/subsys/esb/                              @Raane @lemrey
/subsys/event_manager/                    @pdunaj
/subsys/fw_info/                          @hakonfam
/subsys/mpsl/                             @joerchan @rugeGerritsen
/subsys/net/                              @rlubos
/subsys/nfc/                              @grochu @anangl
/subsys/partition_manager/                @hakonfam
/subsys/profiler/                         @pdunaj
/subsys/shell/                            @nordic-krch
/subsys/spm/                              @ioannisg
/subsys/nonsecure/                        @ioannisg
/tests/                                   @rakons
/zephyr/                                  @carlescufi
# Make sure docs always include tech writers
*.rst                                     @ru-fu

partition_manager: generalize regions
  cmake/partition_manager.cmake
  scripts/partition_manager.py
  scripts/partition_manager_output.py
Owners: @SebastianBoe, @mbolivar, @tejlmand

doc: document partition_manager regions
  scripts/partition_manager/partition_manager.rst
Owners: @ru-fu

partition_manager: add support for configuring external flash
  cmake/partition_manager.cmake
  subsys/Kconfig
  subsys/partition_manager/Kconfig
Owners: @SebastianBoe, @hakonfam

tests: subsys: debug: cpu_load: Add test suite
  tests/subsys/debug/cpu_load/CMakeLists.txt
  tests/subsys/debug/cpu_load/prj.conf
  tests/subsys/debug/cpu_load/src/test_cpu_load.c
  tests/subsys/debug/cpu_load/testcase.yaml
Owners: @rakons

debug: cpu_load: Add cpu_load module
  include/debug/cpu_load.h
  include/debug/cpu_load.rst
  subsys/debug/CMakeLists.txt
  subsys/debug/cpu_load/CMakeLists.txt
  subsys/debug/cpu_load/Kconfig
  subsys/debug/cpu_load/cpu_load.c
Owners: @anangl, @rlubos, @pizi-nordic, @ru-fu, @nordic-krch

applications: nrf_desktop: Get report state and data helpers
  applications/nrf_desktop/src/modules/hid_state.c
Owners: @pdunaj

applications: nrf_desktop: Generic axes data handling
  applications/nrf_desktop/configuration/common/hid_report_mouse.h
  applications/nrf_desktop/src/modules/hid_state.c
Owners: @pdunaj

Bluetooth: Mesh: Sensor models
  include/bluetooth/mesh.rst
  include/bluetooth/mesh/models.h
  include/bluetooth/mesh/models.rst
  include/bluetooth/mesh/properties.h
  include/bluetooth/mesh/sensor.h
  include/bluetooth/mesh/sensor.rst
  include/bluetooth/mesh/sensor_cli.h
  include/bluetooth/mesh/sensor_models.rst
  include/bluetooth/mesh/sensor_srv.h
  include/bluetooth/mesh/sensor_types.h
  include/bluetooth/mesh/sensor_types.rst
  subsys/bluetooth/mesh/CMakeLists.txt
  subsys/bluetooth/mesh/Kconfig.models
  subsys/bluetooth/mesh/Kconfig.sensor
  subsys/bluetooth/mesh/sensor.c
  subsys/bluetooth/mesh/sensor.h
  subsys/bluetooth/mesh/sensor_cli.c
  subsys/bluetooth/mesh/sensor_srv.c
  subsys/bluetooth/mesh/sensor_types.c
  subsys/bluetooth/mesh/sensor_types.ld
Owners: @ru-fu, @trond-snekvik, @joerchan

applications: nrf_desktop: Add buttons_sim documentation
  applications/nrf_desktop/doc/buttons_sim.rst
Owners: @ru-fu

applications: nrf_desktop: Add ble_state documentation
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/ble_adv.rst
  applications/nrf_desktop/doc/ble_discovery.rst
  applications/nrf_desktop/doc/ble_latency.rst
  applications/nrf_desktop/doc/ble_scan.rst
  applications/nrf_desktop/doc/ble_state.rst
  applications/nrf_desktop/doc/hid_forward.rst
  applications/nrf_desktop/doc/power_manager.rst
Owners: @ru-fu

applications: nrf_desktop: Add buttons_sim documentation
  applications/nrf_desktop/doc/buttons_sim.rst
Owners: @ru-fu

drivers: nrf9160_gps: Fix notification of stopped search
  drivers/gps/nrf9160_gps/nrf9160_gps.c
Owners: @anangl

applications: asset_tracker: Fix typo in PSM handling
  applications/asset_tracker/src/gps_controller/gps_controller.c
Owners: @joakimtoe, @jtguggedal, @rlubos

applications: nrf_desktop: Add ble_state documentation
  applications/nrf_desktop/README.rst
  applications/nrf_desktop/doc/ble_adv.rst
  applications/nrf_desktop/doc/ble_discovery.rst
  applications/nrf_desktop/doc/ble_latency.rst
  applications/nrf_desktop/doc/ble_scan.rst
  applications/nrf_desktop/doc/ble_state.rst
  applications/nrf_desktop/doc/hid_forward.rst
  applications/nrf_desktop/doc/power_manager.rst
Owners: @ru-fu

doc: update NCS style guide
  doc/nrf/doc_styleguide.rst
Owners: @ru-fu

application: asset_tracker: move JSON handling from main to cloud_codec
  applications/asset_tracker/src/cloud_codec/cloud_codec.c
  applications/asset_tracker/src/cloud_codec/cloud_codec.h
  applications/asset_tracker/src/main.c
Owners: @joakimtoe, @jtguggedal, @rlubos

application: asset_tracker: reorder cloud_codec encoding functions
  applications/asset_tracker/src/cloud_codec/cloud_codec.c
Owners: @joakimtoe, @jtguggedal, @rlubos

lib: bsdlib: bsdlib send() workaround
  lib/bsdlib/Kconfig
  lib/bsdlib/nrf91_sockets.c
Owners: @rlubos

ext: cjson: Be less greedy with heap when reallocating
  ext/cjson/cJSON.c
Owners: @carlescufi

net: lib: nrf_cloud: Add nRF Cloud A-GPS support
  include/net/nrf_cloud_agps.h
  subsys/net/lib/nrf_cloud/CMakeLists.txt
  subsys/net/lib/nrf_cloud/Kconfig
  subsys/net/lib/nrf_cloud/include/nrf_cloud_agps_schema_v1.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps_utils.c
Owners: @rlubos

samples: nrf9160: Add nRF Cloud A-GPS sample
  samples/nrf9160/nrf_cloud_agps/CMakeLists.txt
  samples/nrf9160/nrf_cloud_agps/Kconfig
  samples/nrf9160/nrf_cloud_agps/prj.conf
  samples/nrf9160/nrf_cloud_agps/sample.yaml
  samples/nrf9160/nrf_cloud_agps/src/main.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps.c
Owners: @rlubos, @lemrey

applications: asset_tracker: Add nRF Cloud A-GPS support
  applications/asset_tracker/Kconfig
  applications/asset_tracker/prj.conf
  applications/asset_tracker/src/main.c
Owners: @SebastianBoe, @joakimtoe, @jtguggedal, @rlubos

partition_manager: Add printouts when deleting partitions
  scripts/partition_manager.py
Owners: @mbolivar, @tejlmand

partition_manager: Fix for when provision is in OTP
  scripts/partition_manager.py
  scripts/partition_manager_output.py
Owners: @mbolivar, @tejlmand

applications: asset_tracker: Add nRF Cloud A-GPS support
  applications/asset_tracker/Kconfig
  applications/asset_tracker/prj.conf
  applications/asset_tracker/src/main.c
Owners: @SebastianBoe, @joakimtoe, @jtguggedal, @rlubos

net: lib: nrf_cloud: Add nRF Cloud A-GPS support
  include/net/nrf_cloud_agps.h
  subsys/net/lib/nrf_cloud/CMakeLists.txt
  subsys/net/lib/nrf_cloud/Kconfig
  subsys/net/lib/nrf_cloud/include/nrf_cloud_agps_schema_v1.h
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps_utils.c
Owners: @rlubos

samples: nrf9160: Add nRF Cloud A-GPS sample
  samples/nrf9160/nrf_cloud_agps/CMakeLists.txt
  samples/nrf9160/nrf_cloud_agps/Kconfig
  samples/nrf9160/nrf_cloud_agps/prj.conf
  samples/nrf9160/nrf_cloud_agps/sample.yaml
  samples/nrf9160/nrf_cloud_agps/src/main.c
  subsys/net/lib/nrf_cloud/src/nrf_cloud_agps.c
Owners: @rlubos, @lemrey

samples: nrf9160: gps: Improve gps sample
  samples/nrf9160/gps/src/main.c
  samples/nrf9160/gps/src/supl_support.c
Owners: @rlubos, @lemrey

applications: asset_tracker: Fix typo in PSM handling
  applications/asset_tracker/src/gps_controller/gps_controller.c
Owners: @joakimtoe, @jtguggedal, @rlubos

drivers: nrf9160_gps: Fix notification of stopped search
  drivers/gps/nrf9160_gps/nrf9160_gps.c
Owners: @anangl

application: asset_tracker: reorder cloud_codec encoding functions
  applications/asset_tracker/src/cloud_codec/cloud_codec.c
Owners: @joakimtoe, @jtguggedal, @rlubos

application: asset_tracker: move JSON handling from main to cloud_codec
  applications/asset_tracker/src/cloud_codec/cloud_codec.c
  applications/asset_tracker/src/cloud_codec/cloud_codec.h
  applications/asset_tracker/src/main.c
Owners: @joakimtoe, @jtguggedal, @rlubos

applications: asset_tracker: Enable A-GPS by default on PCA20035
  applications/asset_tracker/prj_nrf9160_pca20035ns.conf
Owners: @joakimtoe, @jtguggedal, @rlubos

partition_manager: Fix for when provision is in OTP
  scripts/partition_manager.py
  scripts/partition_manager_output.py
Owners: @mbolivar, @tejlmand

partition_manager: Add printouts when deleting partitions
  scripts/partition_manager.py
Owners: @mbolivar, @tejlmand

applications: nrf_desktop: Add Bluetooth privacy on dongles
  applications/nrf_desktop/configuration/nrf52833_pca10100/app_ZDebug.conf
  applications/nrf_desktop/configuration/nrf52833_pca10100/app_ZDebugMCUBoot.conf
  applications/nrf_desktop/configuration/nrf52833_pca10100/app_ZDebugWithShell.conf
  applications/nrf_desktop/configuration/nrf52833_pca10100/app_ZRelease.conf
  applications/nrf_desktop/configuration/nrf52833_pca10100/app_ZReleaseMCUBoot.conf
  applications/nrf_desktop/configuration/nrf52833_pca10111/app_ZDebug.conf
  applications/nrf_desktop/configuration/nrf52833_pca10111/app_ZDebugMCUBoot.conf
  applications/nrf_desktop/configuration/nrf52833_pca10111/app_ZDebugWithShell.conf
  applications/nrf_desktop/configuration/nrf52833_pca10111/app_ZRelease.conf
  applications/nrf_desktop/configuration/nrf52833_pca10111/app_ZReleaseMCUBoot.conf
  applications/nrf_desktop/configuration/nrf52840_pca10059/app_ZDebug.conf
  applications/nrf_desktop/configuration/nrf52840_pca10059/app_ZDebugMCUBoot.conf
  applications/nrf_desktop/configuration/nrf52840_pca10059/app_ZDebugWithShell.conf
  applications/nrf_desktop/configuration/nrf52840_pca10059/app_ZRelease.conf
  applications/nrf_desktop/configuration/nrf52840_pca10059/app_ZReleaseMCUBoot.conf
Owners: @pdunaj

applications: asset_tracker: Don't start GPS on motion by default
  applications/asset_tracker/prj_nrf9160_pca20035ns.conf
Owners: @joakimtoe, @jtguggedal, @rlubos
